{
  "swagger": "2.0",
  "info": {
    "description": "API to SuccessFactor",
    "version": "1.0",
    "title": "Ma Carriere laposteT1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EMILIECHIROL/ma-carriere-lapostet1/1.0"
  },
  "host": "api55preview.sapsf.eu",
  "basePath": "/odata/v2",
  "tags": [
    {
      "name": "User"
    },
    {
      "name": "User Permissions"
    },
    {
      "name": "BackgroundEducation"
    },
    {
      "name": "BackgroundInsideWorkExperience"
    },
    {
      "name": "BackgroundOutsideWorkExperience"
    },
    {
      "name": "PerEmergencyContacts"
    },
    {
      "name": "PerPhone"
    },
    {
      "name": "PersonKey"
    },
    {
      "name": "PerPersonal"
    },
    {
      "name": "PerSocialAccount"
    },
    {
      "name": "PerPerson"
    },
    {
      "name": "PerPersonRelationship"
    },
    {
      "name": "PerEmail"
    },
    {
      "name": "HrisEmergencyContactAddressDEFLT"
    },
    {
      "name": "PerNationalId"
    },
    {
      "name": "PerAddressDEFLT"
    },
    {
      "name": "EmpEmployment"
    },
    {
      "name": "EmpEmploymentTermination"
    },
    {
      "name": "EmpBeneficiary"
    },
    {
      "name": "EmpPensionPayout"
    },
    {
      "name": "EmpWorkPermit"
    },
    {
      "name": "EmpJobRelationships"
    },
    {
      "name": "EmpJob"
    },
    {
      "name": "PersonEmpTerminationInfo"
    },
    {
      "name": "Hire Date Change"
    },
    {
      "name": "Dynamic Group Expressions"
    },
    {
      "name": "Dynamic Group"
    },
    {
      "name": "RBP Rules"
    },
    {
      "name": "Dynamic Group Fields"
    },
    {
      "name": "Dynamic Group Field Values"
    },
    {
      "name": "Dynamic Group Filters"
    },
    {
      "name": "RBP Roles"
    },
    {
      "name": "Dynamic Group People Pools"
    },
    {
      "name": "RBP Basic Permissions"
    },
    {
      "name": "Dynamic Group Field Operators"
    },
    {
      "name": "Dynamic Group Definition"
    },
    {
      "name": "CertificationContent"
    },
    {
      "name": "FamilyEntity"
    },
    {
      "name": "CertificationEntity"
    },
    {
      "name": "JobResponsibilityContent"
    },
    {
      "name": "InterviewQuestionContent"
    },
    {
      "name": "JobResponsibilityEntity"
    },
    {
      "name": "RatedSkillMapping"
    },
    {
      "name": "RoleEntity"
    },
    {
      "name": "JobProfileLocalizedData"
    },
    {
      "name": "JobCodeMappingEntity"
    },
    {
      "name": "CompetencyType"
    },
    {
      "name": "EmploymentConditionContent"
    },
    {
      "name": "FamilyCompetencyMappingEntity"
    },
    {
      "name": "PhysicalReqEntity"
    },
    {
      "name": "InterviewQuestionEntity"
    },
    {
      "name": "RoleCompetencyBehaviorMappingEntity"
    },
    {
      "name": "JDTemplateFamilyMapping"
    },
    {
      "name": "BehaviorMappingEntity"
    },
    {
      "name": "SkillEntity"
    },
    {
      "name": "PhysicalReqContent"
    },
    {
      "name": "SkillContent"
    },
    {
      "name": "RoleCompetencyMappingEntity"
    },
    {
      "name": "SelfReportSkillMapping"
    },
    {
      "name": "JobProfile"
    },
    {
      "name": "FamilySkillMappingEntity"
    },
    {
      "name": "RoleSkillMappingEntity"
    },
    {
      "name": "JobDescTemplate"
    },
    {
      "name": "SkillProfile"
    },
    {
      "name": "CompetencyEntity"
    },
    {
      "name": "CompetencyContent"
    },
    {
      "name": "RelevantIndustryEntity"
    },
    {
      "name": "RoleTalentPoolMappingEntity"
    },
    {
      "name": "EmploymentConditionEntity"
    },
    {
      "name": "JobDescSection"
    },
    {
      "name": "RelevantIndustryContent"
    },
    {
      "name": "PositionEntity"
    },
    {
      "name": "PositionCompetencyMappingEntity"
    },
    {
      "name": "PositionSkillMappingEntity"
    },
    {
      "name": "Legacy Picklist Options"
    },
    {
      "name": "MDF PickList Value"
    },
    {
      "name": "MDF PickList"
    },
    {
      "name": "Legacy Picklist Labels"
    },
    {
      "name": "Legacy Picklist"
    },
    {
      "name": "cust_entite_affectation"
    },
    {
      "name": "Job Requisition Locale"
    },
    {
      "name": "Job Requisition Question"
    },
    {
      "name": "Job Requisition Group Operator"
    },
    {
      "name": "Job Requisition Posting"
    },
    {
      "name": "Job Requisition"
    },
    {
      "name": "Job Requisition Screening Question Choice"
    },
    {
      "name": "Job Requisition Operator"
    },
    {
      "name": "Job Requisition Screening Question"
    },
    {
      "name": "Job Requisition GO-Position Object"
    },
    {
      "name": "Candidate Background Inside Work Experience"
    },
    {
      "name": "Candidate Light"
    },
    {
      "name": "Candidate Comments"
    },
    {
      "name": "Candidate Background Education"
    },
    {
      "name": "Candidate"
    },
    {
      "name": "Job Application Snapshot Talent Poolcorp"
    },
    {
      "name": "Job Application Snapshot Education"
    },
    {
      "name": "Job Application Snapshot Talent Pool"
    },
    {
      "name": "Candidate Background Outside Work Experience"
    },
    {
      "name": "Candidate Background Certificates"
    },
    {
      "name": "Candidate Background Languages"
    },
    {
      "name": "Job Application Snapshot Inside Work Experience"
    },
    {
      "name": "Job Application Snapshot Certificates"
    },
    {
      "name": "Job Application Snapshot Outside Work Experience"
    },
    {
      "name": "Job Application Snapshot Languages"
    },
    {
      "name": "Candidate Background Talent Pool"
    },
    {
      "name": "Candidate Profile Extension"
    },
    {
      "name": "Candidate Tags"
    },
    {
      "name": "Candidate Background Talent Poolcorp"
    },
    {
      "name": "JobApplicationAssessmentReport"
    },
    {
      "name": "JobApplicationOnboardingData"
    },
    {
      "name": "JobApplicationStatusLabel"
    },
    {
      "name": "JobApplicationOnboardingStatus"
    },
    {
      "name": "JobApplicationQuestionResponse"
    },
    {
      "name": "JobApplicationStatusAuditTrail"
    },
    {
      "name": "JobApplicationAssessmentOrder"
    },
    {
      "name": "JobApplicationAssessmentReportDetail"
    },
    {
      "name": "JobApplicationBackgroundCheckResult"
    },
    {
      "name": "JobApplicationStatus"
    },
    {
      "name": "JobApplicationBackgroundCheckRequest"
    },
    {
      "name": "JobApplicationComments"
    },
    {
      "name": "JobApplication"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/JobProfileLocalizedData": {
      "get": {
        "tags": [
          "JobProfileLocalizedData"
        ],
        "summary": "Get entities from JobProfileLocalizedData",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "JobProfile_externalCode",
                "JobProfile_externalCode desc",
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "desc_de_DE",
                "desc_de_DE desc",
                "desc_defaultValue",
                "desc_defaultValue desc",
                "desc_en_GB",
                "desc_en_GB desc",
                "desc_en_US",
                "desc_en_US desc",
                "desc_es_ES",
                "desc_es_ES desc",
                "desc_fr_FR",
                "desc_fr_FR desc",
                "desc_ja_JP",
                "desc_ja_JP desc",
                "desc_ko_KR",
                "desc_ko_KR desc",
                "desc_localized",
                "desc_localized desc",
                "desc_nl_NL",
                "desc_nl_NL desc",
                "desc_pt_BR",
                "desc_pt_BR desc",
                "desc_pt_PT",
                "desc_pt_PT desc",
                "desc_ru_RU",
                "desc_ru_RU desc",
                "desc_zh_CN",
                "desc_zh_CN desc",
                "desc_zh_TW",
                "desc_zh_TW desc",
                "effectiveEndDate",
                "effectiveEndDate desc",
                "effectiveStartDate",
                "effectiveStartDate desc",
                "externalCode",
                "externalCode desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "sectionId",
                "sectionId desc",
                "sectionType",
                "sectionType desc",
                "status",
                "status desc",
                "subModule",
                "subModule desc",
                "transactionSequence",
                "transactionSequence desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "JobProfile_externalCode",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "desc_de_DE",
                "desc_defaultValue",
                "desc_en_GB",
                "desc_en_US",
                "desc_es_ES",
                "desc_fr_FR",
                "desc_ja_JP",
                "desc_ko_KR",
                "desc_localized",
                "desc_nl_NL",
                "desc_pt_BR",
                "desc_pt_PT",
                "desc_ru_RU",
                "desc_zh_CN",
                "desc_zh_TW",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "sectionId",
                "sectionType",
                "status",
                "subModule",
                "transactionSequence"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of JobProfileLocalizedData",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.JobProfileLocalizedData"
                      }
                    }
                  }
                }
              },
              "title": "Wrapper"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/JobProfileLocalizedData(JobProfile_externalCode={JobProfile_externalCode},externalCode='{externalCode}')": {
      "get": {
        "tags": [
          "JobProfileLocalizedData"
        ],
        "summary": "Get entity from JobProfileLocalizedData by key",
        "parameters": [
          {
            "name": "JobProfile_externalCode",
            "in": "path",
            "description": "key: JobProfile_externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalCode",
            "in": "path",
            "description": "key: externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "JobProfile_externalCode",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "desc_de_DE",
                "desc_defaultValue",
                "desc_en_GB",
                "desc_en_US",
                "desc_es_ES",
                "desc_fr_FR",
                "desc_ja_JP",
                "desc_ko_KR",
                "desc_localized",
                "desc_nl_NL",
                "desc_pt_BR",
                "desc_pt_PT",
                "desc_ru_RU",
                "desc_zh_CN",
                "desc_zh_TW",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "sectionId",
                "sectionType",
                "status",
                "subModule",
                "transactionSequence"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.JobProfileLocalizedData"
                }
              },
              "title": "JobProfileLocalizedData"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/RoleCompetencyMappingEntity": {
      "get": {
        "tags": [
          "RoleCompetencyMappingEntity"
        ],
        "summary": "Get entities from RoleCompetencyMappingEntity",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "RoleEntity_externalCode",
                "RoleEntity_externalCode desc",
                "competency",
                "competency desc",
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "cust_jobCode",
                "effectiveEndDate",
                "effectiveEndDate desc",
                "effectiveStartDate",
                "effectiveStartDate desc",
                "externalCode",
                "externalCode desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "rating_de_DE",
                "rating_de_DE desc",
                "rating_defaultValue",
                "rating_defaultValue desc",
                "rating_en_GB",
                "rating_en_GB desc",
                "rating_en_US",
                "rating_en_US desc",
                "rating_es_ES",
                "rating_es_ES desc",
                "rating_fr_FR",
                "rating_fr_FR desc",
                "rating_ja_JP",
                "rating_ja_JP desc",
                "rating_ko_KR",
                "rating_ko_KR desc",
                "rating_localized",
                "rating_localized desc",
                "rating_nl_NL",
                "rating_nl_NL desc",
                "rating_pt_BR",
                "rating_pt_BR desc",
                "rating_pt_PT",
                "rating_pt_PT desc",
                "rating_ru_RU",
                "rating_ru_RU desc",
                "rating_zh_CN",
                "rating_zh_CN desc",
                "rating_zh_TW",
                "rating_zh_TW desc",
                "status",
                "status desc",
                "subModule",
                "subModule desc",
                "transactionSequence",
                "transactionSequence desc",
                "weight_de_DE",
                "weight_de_DE desc",
                "weight_defaultValue",
                "weight_defaultValue desc",
                "weight_en_GB",
                "weight_en_GB desc",
                "weight_en_US",
                "weight_en_US desc",
                "weight_es_ES",
                "weight_es_ES desc",
                "weight_fr_FR",
                "weight_fr_FR desc",
                "weight_ja_JP",
                "weight_ja_JP desc",
                "weight_ko_KR",
                "weight_ko_KR desc",
                "weight_localized",
                "weight_localized desc",
                "weight_nl_NL",
                "weight_nl_NL desc",
                "weight_pt_BR",
                "weight_pt_BR desc",
                "weight_pt_PT",
                "weight_pt_PT desc",
                "weight_ru_RU",
                "weight_ru_RU desc",
                "weight_zh_CN",
                "weight_zh_CN desc",
                "weight_zh_TW",
                "weight_zh_TW desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "RoleEntity_externalCode",
                "competency",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "cust_jobCode",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "rating_de_DE",
                "rating_defaultValue",
                "rating_en_GB",
                "rating_en_US",
                "rating_es_ES",
                "rating_fr_FR",
                "rating_ja_JP",
                "rating_ko_KR",
                "rating_localized",
                "rating_nl_NL",
                "rating_pt_BR",
                "rating_pt_PT",
                "rating_ru_RU",
                "rating_zh_CN",
                "rating_zh_TW",
                "status",
                "subModule",
                "transactionSequence",
                "weight_de_DE",
                "weight_defaultValue",
                "weight_en_GB",
                "weight_en_US",
                "weight_es_ES",
                "weight_fr_FR",
                "weight_ja_JP",
                "weight_ko_KR",
                "weight_localized",
                "weight_nl_NL",
                "weight_pt_BR",
                "weight_pt_PT",
                "weight_ru_RU",
                "weight_zh_CN",
                "weight_zh_TW"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "competencyNav"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of RoleCompetencyMappingEntity",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.RoleCompetencyMappingEntity"
                      }
                    }
                  }
                }
              },
              "title": "Wrapper"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/RoleCompetencyMappingEntity(RoleEntity_externalCode={RoleEntity_externalCode},externalCode='{externalCode}')": {
      "get": {
        "tags": [
          "RoleCompetencyMappingEntity"
        ],
        "summary": "Get entity from RoleCompetencyMappingEntity by key",
        "parameters": [
          {
            "name": "RoleEntity_externalCode",
            "in": "path",
            "description": "key: RoleEntity_externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalCode",
            "in": "path",
            "description": "key: externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "RoleEntity_externalCode",
                "competency",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "cust_jobCode",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "rating_de_DE",
                "rating_defaultValue",
                "rating_en_GB",
                "rating_en_US",
                "rating_es_ES",
                "rating_fr_FR",
                "rating_ja_JP",
                "rating_ko_KR",
                "rating_localized",
                "rating_nl_NL",
                "rating_pt_BR",
                "rating_pt_PT",
                "rating_ru_RU",
                "rating_zh_CN",
                "rating_zh_TW",
                "status",
                "subModule",
                "transactionSequence",
                "weight_de_DE",
                "weight_defaultValue",
                "weight_en_GB",
                "weight_en_US",
                "weight_es_ES",
                "weight_fr_FR",
                "weight_ja_JP",
                "weight_ko_KR",
                "weight_localized",
                "weight_nl_NL",
                "weight_pt_BR",
                "weight_pt_PT",
                "weight_ru_RU",
                "weight_zh_CN",
                "weight_zh_TW"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "competencyNav"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.RoleCompetencyMappingEntity"
                }
              },
              "title": "RoleCompetencyMappingEntity"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/JobProfile": {
      "get": {
        "tags": [
          "JobProfile"
        ],
        "summary": "Get entities from JobProfile",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "compData_de_DE",
                "compData_de_DE desc",
                "compData_defaultValue",
                "compData_defaultValue desc",
                "compData_en_GB",
                "compData_en_GB desc",
                "compData_en_US",
                "compData_en_US desc",
                "compData_es_ES",
                "compData_es_ES desc",
                "compData_fr_FR",
                "compData_fr_FR desc",
                "compData_ja_JP",
                "compData_ja_JP desc",
                "compData_ko_KR",
                "compData_ko_KR desc",
                "compData_localized",
                "compData_localized desc",
                "compData_nl_NL",
                "compData_nl_NL desc",
                "compData_pt_BR",
                "compData_pt_BR desc",
                "compData_pt_PT",
                "compData_pt_PT desc",
                "compData_ru_RU",
                "compData_ru_RU desc",
                "compData_zh_CN",
                "compData_zh_CN desc",
                "compData_zh_TW",
                "compData_zh_TW desc",
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "cust_jobCode",
                "draft",
                "draft desc",
                "effectiveEndDate",
                "effectiveEndDate desc",
                "effectiveStartDate",
                "effectiveStartDate desc",
                "externalCode",
                "externalCode desc",
                "footer_de_DE",
                "footer_de_DE desc",
                "footer_defaultValue",
                "footer_defaultValue desc",
                "footer_en_GB",
                "footer_en_GB desc",
                "footer_en_US",
                "footer_en_US desc",
                "footer_es_ES",
                "footer_es_ES desc",
                "footer_fr_FR",
                "footer_fr_FR desc",
                "footer_ja_JP",
                "footer_ja_JP desc",
                "footer_ko_KR",
                "footer_ko_KR desc",
                "footer_localized",
                "footer_localized desc",
                "footer_nl_NL",
                "footer_nl_NL desc",
                "footer_pt_BR",
                "footer_pt_BR desc",
                "footer_pt_PT",
                "footer_pt_PT desc",
                "footer_ru_RU",
                "footer_ru_RU desc",
                "footer_zh_CN",
                "footer_zh_CN desc",
                "footer_zh_TW",
                "footer_zh_TW desc",
                "header_de_DE",
                "header_de_DE desc",
                "header_defaultValue",
                "header_defaultValue desc",
                "header_en_GB",
                "header_en_GB desc",
                "header_en_US",
                "header_en_US desc",
                "header_es_ES",
                "header_es_ES desc",
                "header_fr_FR",
                "header_fr_FR desc",
                "header_ja_JP",
                "header_ja_JP desc",
                "header_ko_KR",
                "header_ko_KR desc",
                "header_localized",
                "header_localized desc",
                "header_nl_NL",
                "header_nl_NL desc",
                "header_pt_BR",
                "header_pt_BR desc",
                "header_pt_PT",
                "header_pt_PT desc",
                "header_ru_RU",
                "header_ru_RU desc",
                "header_zh_CN",
                "header_zh_CN desc",
                "header_zh_TW",
                "header_zh_TW desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "lastModifierName",
                "lastModifierName desc",
                "longDesc_de_DE",
                "longDesc_de_DE desc",
                "longDesc_defaultValue",
                "longDesc_defaultValue desc",
                "longDesc_en_GB",
                "longDesc_en_GB desc",
                "longDesc_en_US",
                "longDesc_en_US desc",
                "longDesc_es_ES",
                "longDesc_es_ES desc",
                "longDesc_fr_FR",
                "longDesc_fr_FR desc",
                "longDesc_ja_JP",
                "longDesc_ja_JP desc",
                "longDesc_ko_KR",
                "longDesc_ko_KR desc",
                "longDesc_localized",
                "longDesc_localized desc",
                "longDesc_nl_NL",
                "longDesc_nl_NL desc",
                "longDesc_pt_BR",
                "longDesc_pt_BR desc",
                "longDesc_pt_PT",
                "longDesc_pt_PT desc",
                "longDesc_ru_RU",
                "longDesc_ru_RU desc",
                "longDesc_zh_CN",
                "longDesc_zh_CN desc",
                "longDesc_zh_TW",
                "longDesc_zh_TW desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "migrated",
                "migrated desc",
                "name_de_DE",
                "name_de_DE desc",
                "name_defaultValue",
                "name_defaultValue desc",
                "name_en_GB",
                "name_en_GB desc",
                "name_en_US",
                "name_en_US desc",
                "name_es_ES",
                "name_es_ES desc",
                "name_fr_FR",
                "name_fr_FR desc",
                "name_ja_JP",
                "name_ja_JP desc",
                "name_ko_KR",
                "name_ko_KR desc",
                "name_localized",
                "name_localized desc",
                "name_nl_NL",
                "name_nl_NL desc",
                "name_pt_BR",
                "name_pt_BR desc",
                "name_pt_PT",
                "name_pt_PT desc",
                "name_ru_RU",
                "name_ru_RU desc",
                "name_zh_CN",
                "name_zh_CN desc",
                "name_zh_TW",
                "name_zh_TW desc",
                "position",
                "position desc",
                "role",
                "role desc",
                "shortDesc_de_DE",
                "shortDesc_de_DE desc",
                "shortDesc_defaultValue",
                "shortDesc_defaultValue desc",
                "shortDesc_en_GB",
                "shortDesc_en_GB desc",
                "shortDesc_en_US",
                "shortDesc_en_US desc",
                "shortDesc_es_ES",
                "shortDesc_es_ES desc",
                "shortDesc_fr_FR",
                "shortDesc_fr_FR desc",
                "shortDesc_ja_JP",
                "shortDesc_ja_JP desc",
                "shortDesc_ko_KR",
                "shortDesc_ko_KR desc",
                "shortDesc_localized",
                "shortDesc_localized desc",
                "shortDesc_nl_NL",
                "shortDesc_nl_NL desc",
                "shortDesc_pt_BR",
                "shortDesc_pt_BR desc",
                "shortDesc_pt_PT",
                "shortDesc_pt_PT desc",
                "shortDesc_ru_RU",
                "shortDesc_ru_RU desc",
                "shortDesc_zh_CN",
                "shortDesc_zh_CN desc",
                "shortDesc_zh_TW",
                "shortDesc_zh_TW desc",
                "status",
                "status desc",
                "subModule",
                "subModule desc",
                "template",
                "template desc",
                "transactionSequence",
                "transactionSequence desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "compData_de_DE",
                "compData_defaultValue",
                "compData_en_GB",
                "compData_en_US",
                "compData_es_ES",
                "compData_fr_FR",
                "compData_ja_JP",
                "compData_ko_KR",
                "compData_localized",
                "compData_nl_NL",
                "compData_pt_BR",
                "compData_pt_PT",
                "compData_ru_RU",
                "compData_zh_CN",
                "compData_zh_TW",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "cust_jobCode",
                "draft",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "footer_de_DE",
                "footer_defaultValue",
                "footer_en_GB",
                "footer_en_US",
                "footer_es_ES",
                "footer_fr_FR",
                "footer_ja_JP",
                "footer_ko_KR",
                "footer_localized",
                "footer_nl_NL",
                "footer_pt_BR",
                "footer_pt_PT",
                "footer_ru_RU",
                "footer_zh_CN",
                "footer_zh_TW",
                "header_de_DE",
                "header_defaultValue",
                "header_en_GB",
                "header_en_US",
                "header_es_ES",
                "header_fr_FR",
                "header_ja_JP",
                "header_ko_KR",
                "header_localized",
                "header_nl_NL",
                "header_pt_BR",
                "header_pt_PT",
                "header_ru_RU",
                "header_zh_CN",
                "header_zh_TW",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "lastModifierName",
                "longDesc_de_DE",
                "longDesc_defaultValue",
                "longDesc_en_GB",
                "longDesc_en_US",
                "longDesc_es_ES",
                "longDesc_fr_FR",
                "longDesc_ja_JP",
                "longDesc_ko_KR",
                "longDesc_localized",
                "longDesc_nl_NL",
                "longDesc_pt_BR",
                "longDesc_pt_PT",
                "longDesc_ru_RU",
                "longDesc_zh_CN",
                "longDesc_zh_TW",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "migrated",
                "name_de_DE",
                "name_defaultValue",
                "name_en_GB",
                "name_en_US",
                "name_es_ES",
                "name_fr_FR",
                "name_ja_JP",
                "name_ko_KR",
                "name_localized",
                "name_nl_NL",
                "name_pt_BR",
                "name_pt_PT",
                "name_ru_RU",
                "name_zh_CN",
                "name_zh_TW",
                "position",
                "role",
                "shortDesc_de_DE",
                "shortDesc_defaultValue",
                "shortDesc_en_GB",
                "shortDesc_en_US",
                "shortDesc_es_ES",
                "shortDesc_fr_FR",
                "shortDesc_ja_JP",
                "shortDesc_ko_KR",
                "shortDesc_localized",
                "shortDesc_nl_NL",
                "shortDesc_pt_BR",
                "shortDesc_pt_PT",
                "shortDesc_ru_RU",
                "shortDesc_zh_CN",
                "shortDesc_zh_TW",
                "status",
                "subModule",
                "template",
                "transactionSequence"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "certificationContents",
                "compDatas",
                "competencyContents",
                "employmentConditionContents",
                "footers",
                "headers",
                "interviewQuestionContents",
                "jobResponsibilityContents",
                "longDesciptions",
                "physicalReqContents",
                "relevantIndustryContents",
                "roleNav",
                "shortDesciptions",
                "skillContents",
                "templateNav"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of JobProfile",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.JobProfile"
                      }
                    }
                  }
                }
              },
              "title": "Wrapper"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/JobProfile('{externalCode}')": {
      "get": {
        "tags": [
          "JobProfile"
        ],
        "summary": "Get entity from JobProfile by key",
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "description": "key: externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "compData_de_DE",
                "compData_defaultValue",
                "compData_en_GB",
                "compData_en_US",
                "compData_es_ES",
                "compData_fr_FR",
                "compData_ja_JP",
                "compData_ko_KR",
                "compData_localized",
                "compData_nl_NL",
                "compData_pt_BR",
                "compData_pt_PT",
                "compData_ru_RU",
                "compData_zh_CN",
                "compData_zh_TW",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "cust_jobCode",
                "draft",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "footer_de_DE",
                "footer_defaultValue",
                "footer_en_GB",
                "footer_en_US",
                "footer_es_ES",
                "footer_fr_FR",
                "footer_ja_JP",
                "footer_ko_KR",
                "footer_localized",
                "footer_nl_NL",
                "footer_pt_BR",
                "footer_pt_PT",
                "footer_ru_RU",
                "footer_zh_CN",
                "footer_zh_TW",
                "header_de_DE",
                "header_defaultValue",
                "header_en_GB",
                "header_en_US",
                "header_es_ES",
                "header_fr_FR",
                "header_ja_JP",
                "header_ko_KR",
                "header_localized",
                "header_nl_NL",
                "header_pt_BR",
                "header_pt_PT",
                "header_ru_RU",
                "header_zh_CN",
                "header_zh_TW",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "lastModifierName",
                "longDesc_de_DE",
                "longDesc_defaultValue",
                "longDesc_en_GB",
                "longDesc_en_US",
                "longDesc_es_ES",
                "longDesc_fr_FR",
                "longDesc_ja_JP",
                "longDesc_ko_KR",
                "longDesc_localized",
                "longDesc_nl_NL",
                "longDesc_pt_BR",
                "longDesc_pt_PT",
                "longDesc_ru_RU",
                "longDesc_zh_CN",
                "longDesc_zh_TW",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "migrated",
                "name_de_DE",
                "name_defaultValue",
                "name_en_GB",
                "name_en_US",
                "name_es_ES",
                "name_fr_FR",
                "name_ja_JP",
                "name_ko_KR",
                "name_localized",
                "name_nl_NL",
                "name_pt_BR",
                "name_pt_PT",
                "name_ru_RU",
                "name_zh_CN",
                "name_zh_TW",
                "position",
                "role",
                "shortDesc_de_DE",
                "shortDesc_defaultValue",
                "shortDesc_en_GB",
                "shortDesc_en_US",
                "shortDesc_es_ES",
                "shortDesc_fr_FR",
                "shortDesc_ja_JP",
                "shortDesc_ko_KR",
                "shortDesc_localized",
                "shortDesc_nl_NL",
                "shortDesc_pt_BR",
                "shortDesc_pt_PT",
                "shortDesc_ru_RU",
                "shortDesc_zh_CN",
                "shortDesc_zh_TW",
                "status",
                "subModule",
                "template",
                "transactionSequence"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "certificationContents",
                "compDatas",
                "competencyContents",
                "employmentConditionContents",
                "footers",
                "headers",
                "interviewQuestionContents",
                "jobResponsibilityContents",
                "longDesciptions",
                "physicalReqContents",
                "relevantIndustryContents",
                "roleNav",
                "shortDesciptions",
                "skillContents",
                "templateNav"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.JobProfile"
                }
              },
              "title": "JobProfile"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/CompetencyEntity": {
      "get": {
        "tags": [
          "CompetencyEntity"
        ],
        "summary": "Get entities from CompetencyEntity",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "category_de_DE",
                "category_de_DE desc",
                "category_defaultValue",
                "category_defaultValue desc",
                "category_en_GB",
                "category_en_GB desc",
                "category_en_US",
                "category_en_US desc",
                "category_es_ES",
                "category_es_ES desc",
                "category_fr_FR",
                "category_fr_FR desc",
                "category_ja_JP",
                "category_ja_JP desc",
                "category_ko_KR",
                "category_ko_KR desc",
                "category_localized",
                "category_localized desc",
                "category_nl_NL",
                "category_nl_NL desc",
                "category_pt_BR",
                "category_pt_BR desc",
                "category_pt_PT",
                "category_pt_PT desc",
                "category_ru_RU",
                "category_ru_RU desc",
                "category_zh_CN",
                "category_zh_CN desc",
                "category_zh_TW",
                "category_zh_TW desc",
                "collection",
                "collection desc",
                "core",
                "core desc",
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "description_de_DE",
                "description_de_DE desc",
                "description_defaultValue",
                "description_defaultValue desc",
                "description_en_GB",
                "description_en_GB desc",
                "description_en_US",
                "description_en_US desc",
                "description_es_ES",
                "description_es_ES desc",
                "description_fr_FR",
                "description_fr_FR desc",
                "description_ja_JP",
                "description_ja_JP desc",
                "description_ko_KR",
                "description_ko_KR desc",
                "description_localized",
                "description_localized desc",
                "description_nl_NL",
                "description_nl_NL desc",
                "description_pt_BR",
                "description_pt_BR desc",
                "description_pt_PT",
                "description_pt_PT desc",
                "description_ru_RU",
                "description_ru_RU desc",
                "description_zh_CN",
                "description_zh_CN desc",
                "description_zh_TW",
                "description_zh_TW desc",
                "effectiveEndDate",
                "effectiveEndDate desc",
                "effectiveStartDate",
                "effectiveStartDate desc",
                "externalCode",
                "externalCode desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "libName_de_DE",
                "libName_de_DE desc",
                "libName_defaultValue",
                "libName_defaultValue desc",
                "libName_en_GB",
                "libName_en_GB desc",
                "libName_en_US",
                "libName_en_US desc",
                "libName_es_ES",
                "libName_es_ES desc",
                "libName_fr_FR",
                "libName_fr_FR desc",
                "libName_ja_JP",
                "libName_ja_JP desc",
                "libName_ko_KR",
                "libName_ko_KR desc",
                "libName_localized",
                "libName_localized desc",
                "libName_nl_NL",
                "libName_nl_NL desc",
                "libName_pt_BR",
                "libName_pt_BR desc",
                "libName_pt_PT",
                "libName_pt_PT desc",
                "libName_ru_RU",
                "libName_ru_RU desc",
                "libName_zh_CN",
                "libName_zh_CN desc",
                "libName_zh_TW",
                "libName_zh_TW desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "name_de_DE",
                "name_de_DE desc",
                "name_defaultValue",
                "name_defaultValue desc",
                "name_en_GB",
                "name_en_GB desc",
                "name_en_US",
                "name_en_US desc",
                "name_es_ES",
                "name_es_ES desc",
                "name_fr_FR",
                "name_fr_FR desc",
                "name_ja_JP",
                "name_ja_JP desc",
                "name_ko_KR",
                "name_ko_KR desc",
                "name_localized",
                "name_localized desc",
                "name_nl_NL",
                "name_nl_NL desc",
                "name_pt_BR",
                "name_pt_BR desc",
                "name_pt_PT",
                "name_pt_PT desc",
                "name_ru_RU",
                "name_ru_RU desc",
                "name_zh_CN",
                "name_zh_CN desc",
                "name_zh_TW",
                "name_zh_TW desc",
                "status",
                "status desc",
                "subModule",
                "subModule desc",
                "transactionSequence",
                "transactionSequence desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "category_de_DE",
                "category_defaultValue",
                "category_en_GB",
                "category_en_US",
                "category_es_ES",
                "category_fr_FR",
                "category_ja_JP",
                "category_ko_KR",
                "category_localized",
                "category_nl_NL",
                "category_pt_BR",
                "category_pt_PT",
                "category_ru_RU",
                "category_zh_CN",
                "category_zh_TW",
                "collection",
                "core",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "description_de_DE",
                "description_defaultValue",
                "description_en_GB",
                "description_en_US",
                "description_es_ES",
                "description_fr_FR",
                "description_ja_JP",
                "description_ko_KR",
                "description_localized",
                "description_nl_NL",
                "description_pt_BR",
                "description_pt_PT",
                "description_ru_RU",
                "description_zh_CN",
                "description_zh_TW",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "libName_de_DE",
                "libName_defaultValue",
                "libName_en_GB",
                "libName_en_US",
                "libName_es_ES",
                "libName_fr_FR",
                "libName_ja_JP",
                "libName_ko_KR",
                "libName_localized",
                "libName_nl_NL",
                "libName_pt_BR",
                "libName_pt_PT",
                "libName_ru_RU",
                "libName_zh_CN",
                "libName_zh_TW",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "name_de_DE",
                "name_defaultValue",
                "name_en_GB",
                "name_en_US",
                "name_es_ES",
                "name_fr_FR",
                "name_ja_JP",
                "name_ko_KR",
                "name_localized",
                "name_nl_NL",
                "name_pt_BR",
                "name_pt_PT",
                "name_ru_RU",
                "name_zh_CN",
                "name_zh_TW",
                "status",
                "subModule",
                "transactionSequence"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "behaviors",
                "competencies",
                "competencyTypes"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of CompetencyEntity",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.CompetencyEntity"
                      }
                    }
                  }
                }
              },
              "title": "Wrapper"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/CompetencyEntity('{externalCode}')": {
      "get": {
        "tags": [
          "CompetencyEntity"
        ],
        "summary": "Get entity from CompetencyEntity by key",
        "parameters": [
          {
            "name": "externalCode",
            "in": "path",
            "description": "key: externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "category_de_DE",
                "category_defaultValue",
                "category_en_GB",
                "category_en_US",
                "category_es_ES",
                "category_fr_FR",
                "category_ja_JP",
                "category_ko_KR",
                "category_localized",
                "category_nl_NL",
                "category_pt_BR",
                "category_pt_PT",
                "category_ru_RU",
                "category_zh_CN",
                "category_zh_TW",
                "collection",
                "core",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "description_de_DE",
                "description_defaultValue",
                "description_en_GB",
                "description_en_US",
                "description_es_ES",
                "description_fr_FR",
                "description_ja_JP",
                "description_ko_KR",
                "description_localized",
                "description_nl_NL",
                "description_pt_BR",
                "description_pt_PT",
                "description_ru_RU",
                "description_zh_CN",
                "description_zh_TW",
                "effectiveEndDate",
                "effectiveStartDate",
                "externalCode",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "libName_de_DE",
                "libName_defaultValue",
                "libName_en_GB",
                "libName_en_US",
                "libName_es_ES",
                "libName_fr_FR",
                "libName_ja_JP",
                "libName_ko_KR",
                "libName_localized",
                "libName_nl_NL",
                "libName_pt_BR",
                "libName_pt_PT",
                "libName_ru_RU",
                "libName_zh_CN",
                "libName_zh_TW",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemVersionId",
                "name_de_DE",
                "name_defaultValue",
                "name_en_GB",
                "name_en_US",
                "name_es_ES",
                "name_fr_FR",
                "name_ja_JP",
                "name_ko_KR",
                "name_localized",
                "name_nl_NL",
                "name_pt_BR",
                "name_pt_PT",
                "name_ru_RU",
                "name_zh_CN",
                "name_zh_TW",
                "status",
                "subModule",
                "transactionSequence"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "behaviors",
                "competencies",
                "competencyTypes"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.CompetencyEntity"
                }
              },
              "title": "CompetencyEntity"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/PicklistOption": {
      "get": {
        "tags": [
          "Picklist Options"
        ],
        "summary": "Get entities from PicklistOption",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "externalCode",
                "externalCode desc",
                "id",
                "id desc",
                "maxValue",
                "maxValue desc",
                "minValue",
                "minValue desc",
                "optionValue",
                "optionValue desc",
                "sortOrder",
                "sortOrder desc",
                "status",
                "status desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "externalCode",
                "id",
                "maxValue",
                "minValue",
                "optionValue",
                "sortOrder",
                "status"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "childPicklistOptions",
                "parentPicklistOption",
                "picklist",
                "picklistLabels"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of PicklistOption",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.PicklistOption"
                      }
                    }
                  }
                }
              },
              "title": "Wrapper"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/PicklistOption({id})": {
      "get": {
        "tags": [
          "Picklist Options"
        ],
        "summary": "Get entity from PicklistOption by key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "externalCode",
                "id",
                "maxValue",
                "minValue",
                "optionValue",
                "sortOrder",
                "status"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "childPicklistOptions",
                "parentPicklistOption",
                "picklist",
                "picklistLabels"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.PicklistOption"
                }
              },
              "title": "PicklistOption"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/PicklistOption({id})/picklistLabels": {
      "get": {
        "tags": [
          "Picklist Options"
        ],
        "summary": "Get entity from PicklistOption by key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "externalCode",
                "id",
                "maxValue",
                "minValue",
                "optionValue",
                "sortOrder",
                "status"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "childPicklistOptions",
                "parentPicklistOption",
                "picklist",
                "picklistLabels"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.PicklistOption"
                }
              },
              "title": "PicklistOption"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/PickListValueV2": {
      "get": {
        "tags": [
          "MDF PickList Values"
        ],
        "summary": "Get entities from PickListValueV2",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PickListV2_effectiveStartDate",
                "PickListV2_effectiveStartDate desc",
                "PickListV2_id",
                "PickListV2_id desc",
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "externalCode",
                "externalCode desc",
                "lValue",
                "lValue desc",
                "label_de_DE",
                "label_de_DE desc",
                "label_defaultValue",
                "label_defaultValue desc",
                "label_en_GB",
                "label_en_GB desc",
                "label_en_US",
                "label_en_US desc",
                "label_es_ES",
                "label_es_ES desc",
                "label_fr_FR",
                "label_fr_FR desc",
                "label_ja_JP",
                "label_ja_JP desc",
                "label_ko_KR",
                "label_ko_KR desc",
                "label_localized",
                "label_localized desc",
                "label_nl_NL",
                "label_nl_NL desc",
                "label_pt_BR",
                "label_pt_BR desc",
                "label_pt_PT",
                "label_pt_PT desc",
                "label_ru_RU",
                "label_ru_RU desc",
                "label_zh_CN",
                "label_zh_CN desc",
                "label_zh_TW",
                "label_zh_TW desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "legacyStatus",
                "legacyStatus desc",
                "maxVal",
                "maxVal desc",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveEndDate desc",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEffectiveStartDate desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemTransactionSequence",
                "mdfSystemTransactionSequence desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "minVal",
                "minVal desc",
                "nonUniqueExternalCode",
                "nonUniqueExternalCode desc",
                "optValue",
                "optValue desc",
                "optionId",
                "optionId desc",
                "parentPickListValue",
                "parentPickListValue desc",
                "rValue",
                "rValue desc",
                "status",
                "status desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PickListV2_effectiveStartDate",
                "PickListV2_id",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "externalCode",
                "lValue",
                "label_de_DE",
                "label_defaultValue",
                "label_en_GB",
                "label_en_US",
                "label_es_ES",
                "label_fr_FR",
                "label_ja_JP",
                "label_ko_KR",
                "label_localized",
                "label_nl_NL",
                "label_pt_BR",
                "label_pt_PT",
                "label_ru_RU",
                "label_zh_CN",
                "label_zh_TW",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "legacyStatus",
                "maxVal",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "minVal",
                "nonUniqueExternalCode",
                "optValue",
                "optionId",
                "parentPickListValue",
                "rValue",
                "status"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "parentPickListValueNav"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "title": "Collection of PickListValueV2",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SFOData.PickListValueV2"
                      }
                    }
                  }
                }
              },
              "title": "Wrapper"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/PickListValueV2(PickListV2_effectiveStartDate={PickListV2_effectiveStartDate},PickListV2_id='{PickListV2_id}',externalCode='{externalCode}')": {
      "get": {
        "tags": [
          "MDF Picklist Values"
        ],
        "summary": "Get entity from PickListValueV2 by key",
        "parameters": [
          {
            "name": "PickListV2_effectiveStartDate",
            "in": "path",
            "description": "key: PickListV2_effectiveStartDate",
            "required": true,
            "type": "string"
          },
          {
            "name": "PickListV2_id",
            "in": "path",
            "description": "key: PickListV2_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalCode",
            "in": "path",
            "description": "key: externalCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PickListV2_effectiveStartDate",
                "PickListV2_id",
                "createdBy",
                "createdDate",
                "createdDateTime",
                "externalCode",
                "lValue",
                "label_de_DE",
                "label_defaultValue",
                "label_en_GB",
                "label_en_US",
                "label_es_ES",
                "label_fr_FR",
                "label_ja_JP",
                "label_ko_KR",
                "label_localized",
                "label_nl_NL",
                "label_pt_BR",
                "label_pt_PT",
                "label_ru_RU",
                "label_zh_CN",
                "label_zh_TW",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "legacyStatus",
                "maxVal",
                "mdfSystemEffectiveEndDate",
                "mdfSystemEffectiveStartDate",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
                "mdfSystemTransactionSequence",
                "mdfSystemVersionId",
                "minVal",
                "nonUniqueExternalCode",
                "optValue",
                "optionId",
                "parentPickListValue",
                "rValue",
                "status"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [OData Expand](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374621)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "parentPickListValueNav"
              ]
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SFOData.PickListValueV2"
                }
              },
              "title": "PickListValueV2"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/odata.error"
            }
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/PickListV2": {
      "get": {
        "tags": [
          "MDF Picklists"
        ],
        "summary": "Get entities from PickListV2",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "Show only the first n items, see [OData Paging - Top](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374630)",
            "required": false,
            "type": "integer",
            "default": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skip the first n items, see [OData Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374631)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Search items by search phrases, see [OData Searching](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374633)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374625)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, see [OData Count](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374632)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values, see [OData Sorting](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374629)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdBy desc",
                "createdDate",
                "createdDate desc",
                "createdDateTime",
                "createdDateTime desc",
                "displayOrder",
                "displayOrder desc",
                "effectiveEndDate",
                "effectiveEndDate desc",
                "effectiveStartDate",
                "effectiveStartDate desc",
                "id",
                "id desc",
                "lastModifiedBy",
                "lastModifiedBy desc",
                "lastModifiedDate",
                "lastModifiedDate desc",
                "lastModifiedDateTime",
                "lastModifiedDateTime desc",
                "lastModifiedDateWithTZ",
                "lastModifiedDateWithTZ desc",
                "legacyPickListId",
                "legacyPickListId desc",
                "mdfSystemEntityId",
                "mdfSystemEntityId desc",
                "mdfSystemObjectType",
                "mdfSystemObjectType desc",
                "mdfSystemRecordId",
                "mdfSystemRecordId desc",
                "mdfSystemRecordStatus",
                "mdfSystemRecordStatus desc",
                "mdfSystemTransactionSequence",
                "mdfSystemTransactionSequence desc",
                "mdfSystemVersionId",
                "mdfSystemVersionId desc",
                "name",
                "name desc",
                "parentPickList",
                "parentPickList desc",
                "picklistCreationSource",
                "picklistCreationSource desc",
                "status",
                "status desc"
              ]
            },
            "uniqueItems": true
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [OData Select](http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html#_Toc445374620)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "createdBy",
                "createdDate",
                "createdDateTime",
                "displayOrder",
                "effectiveEndDate",
                "effectiveStartDate",
                "id",
                "lastModifiedBy",
                "lastModifiedDate",
                "lastModifiedDateTime",
                "lastModifiedDateWithTZ",
                "legacyPickListId",
                "mdfSystemEntityId",
                "mdfSystemObjectType",
                "mdfSystemRecordId",
                "mdfSystemRecordStatus",
[...]
