{
  "openapi": "3.0.3",
  "info": {
    "title": "Sheetson API",
    "version": "2.0.0",
    "description": "Sheetson turns Google Spreadsheets into RESTful APIs. Perform CRUD operations on Google Sheets data using simple HTTP requests.",
    "x-jentic-source-url": "https://docs.sheetson.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.sheetson.com/v2"
    }
  ],
  "paths": {
    "/sheets/{sheetName}": {
      "get": {
        "operationId": "listRows",
        "summary": "List rows from a sheet",
        "description": "Read data of multiple rows in a worksheet. Supports pagination, filtering, sorting, and field selection.",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheetName",
            "in": "path",
            "required": true,
            "description": "Name of the sheet containing data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of rows to return (default 24, max 100)",
            "schema": {
              "type": "integer",
              "default": 24,
              "maximum": 100
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of rows to skip (default 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order for results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Filter criteria for rows",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rowIndex": {
                            "type": "integer"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sheet not found"
          }
        }
      },
      "post": {
        "operationId": "createRow",
        "summary": "Create a new row",
        "description": "Create a new row at the end of a worksheet. Request body keys should match worksheet headers.",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheetName",
            "in": "path",
            "required": true,
            "description": "Name of the sheet",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Object with keys matching worksheet headers and values to add into cells",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Row created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rowIndex": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sheets/{sheetName}/{rowIndex}": {
      "get": {
        "operationId": "readRow",
        "summary": "Read a specific row",
        "description": "Read data of a specific row in a worksheet by its row index.",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheetName",
            "in": "path",
            "required": true,
            "description": "Name of the sheet",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowIndex",
            "in": "path",
            "required": true,
            "description": "Position of the row to retrieve",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rowIndex": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Row not found"
          }
        }
      },
      "patch": {
        "operationId": "updateRow",
        "summary": "Update a row",
        "description": "Update data of a specific row in a worksheet. Request body keys should match worksheet headers.",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheetName",
            "in": "path",
            "required": true,
            "description": "Name of the sheet",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowIndex",
            "in": "path",
            "required": true,
            "description": "Position of the row to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Object with keys matching worksheet headers and values to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated row data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rowIndex": {
                      "type": "integer"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Row not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteRow",
        "summary": "Delete a row",
        "description": "Delete a specific row from a worksheet.",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheetName",
            "in": "path",
            "required": true,
            "description": "Name of the sheet",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowIndex",
            "in": "path",
            "required": true,
            "description": "Position of the row to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row deleted successfully"
          },
          "404": {
            "description": "Row not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token (your Sheetson API key)"
      },
      "spreadsheetId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Spreadsheet-Id",
        "description": "The ID of the Google Spreadsheet to operate on"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "spreadsheetId": []
    }
  ],
  "tags": [
    {
      "name": "Sheets"
    }
  ]
}
