{
  "openapi": "3.0.3",
  "info": {
    "title": "Nano Savings Deposit API",
    "description": "API integration between MFS (bKash) and Bank (Dhaka Bank)",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dhakabank/nano-savings-deposit-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bank.com/v1"
    }
  ],
  "paths": {
    "/maturity-details": {
      "post": {
        "summary": "Get product maturity details",
        "description": "Called by MFS to calculate maturity information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaturityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maturity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaturityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/kyc": {
      "post": {
        "summary": "Send customer KYC",
        "description": "MFS sends customer and nominee information",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYCRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KYCResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account-open-request": {
      "post": {
        "summary": "Account open request",
        "description": "MFS requests account opening with first installment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountOpenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt acknowledgement"
          }
        }
      }
    },
    "/account-confirmation": {
      "post": {
        "summary": "Account confirmation push",
        "description": "Bank pushes successful account opening to MFS",
        "responses": {
          "200": {
            "description": "Success acknowledgement"
          }
        }
      }
    },
    "/installment-plan/{accountNumber}": {
      "get": {
        "summary": "Get installment schedule",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installment schedule"
          }
        }
      }
    },
    "/account-info/{accountNumber}": {
      "get": {
        "summary": "Get account information",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details"
          }
        }
      }
    },
    "/bulk-installments": {
      "get": {
        "summary": "Bank pulls bulk installment data",
        "parameters": [
          {
            "name": "collectionDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk installment records"
          }
        }
      }
    },
    "/installment-push": {
      "post": {
        "summary": "Push installment update",
        "description": "Used when installment cannot be processed in bulk",
        "responses": {
          "200": {
            "description": "Success or error"
          }
        }
      }
    },
    "/cancel-summary/{accountNumber}": {
      "get": {
        "summary": "Get cancellation payout summary",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimated payout summary"
          }
        }
      }
    },
    "/account-delete": {
      "post": {
        "summary": "Account closure request",
        "responses": {
          "200": {
            "description": "Success or error"
          }
        }
      }
    },
    "/disbursement-request": {
      "post": {
        "summary": "Bank sends disbursement request to MFS",
        "responses": {
          "200": {
            "description": "Disbursement request accepted"
          }
        }
      }
    },
    "/disbursement-confirmation": {
      "post": {
        "summary": "MFS confirms wallet credit",
        "responses": {
          "200": {
            "description": "Confirmation received"
          }
        }
      }
    },
    "/refund-request": {
      "post": {
        "summary": "Refund installment amount",
        "responses": {
          "200": {
            "description": "Refund processed"
          }
        }
      }
    },
    "/refund-confirmation": {
      "post": {
        "summary": "MFS confirms refund",
        "responses": {
          "200": {
            "description": "Refund confirmation received"
          }
        }
      }
    },
    "/bulk-maturity": {
      "get": {
        "summary": "Get accounts reaching maturity",
        "parameters": [
          {
            "name": "maturityDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts list"
          }
        }
      }
    },
    "/nominee-update": {
      "post": {
        "summary": "Update nominee information",
        "responses": {
          "200": {
            "description": "Nominee updated"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MaturityRequest": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string"
          },
          "installmentAmount": {
            "type": "number"
          },
          "tenure": {
            "type": "integer"
          },
          "term": {
            "type": "string"
          },
          "cycleStartDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "MaturityResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "interestRate": {
            "type": "number"
          },
          "interestAmount": {
            "type": "number"
          },
          "totalPrincipal": {
            "type": "number"
          },
          "maturityAmount": {
            "type": "number"
          },
          "maturityDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "KYCRequest": {
        "type": "object",
        "properties": {
          "nidNumber": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "profession": {
            "type": "string"
          },
          "fatherName": {
            "type": "string"
          },
          "motherName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "nominee": {
            "type": "object",
            "properties": {
              "nidNumber": {
                "type": "string"
              },
              "dateOfBirth": {
                "type": "string"
              },
              "relation": {
                "type": "string"
              }
            }
          }
        }
      },
      "KYCResponse": {
        "type": "object",
        "properties": {
          "temporaryAccountId": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "maturityDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AccountOpenRequest": {
        "type": "object",
        "properties": {
          "mfsTransactionId": {
            "type": "string"
          },
          "transactionDate": {
            "type": "string",
            "format": "date-time"
          },
          "temporaryAccountId": {
            "type": "string"
          },
          "installmentAmount": {
            "type": "number"
          }
        }
      }
    }
  }
}