{
  "openapi": "3.0.0",
  "info": {
    "title": "M3O Database API",
    "version": "1.0.0",
    "description": "M3O Database service provides a simple key-value database API for storing and retrieving JSON documents. Note: M3O service may no longer be operational.",
    "contact": {
      "url": "https://m3o.com"
    }
  },
  "servers": [
    {
      "url": "https://api.m3o.com/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/db/Create": {
      "post": {
        "summary": "Create records",
        "description": "Create one or more records in the database",
        "operationId": "createRecords",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "table",
                  "record"
                ],
                "properties": {
                  "table": {
                    "type": "string",
                    "description": "The table name to store records in"
                  },
                  "record": {
                    "type": "object",
                    "description": "The record data to create (JSON object)",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created record"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "db"
        ]
      }
    },
    "/db/Read": {
      "post": {
        "summary": "Read records",
        "description": "Read records from the database by ID or query",
        "operationId": "readRecords",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "table"
                ],
                "properties": {
                  "table": {
                    "type": "string",
                    "description": "The table name to read from"
                  },
                  "id": {
                    "type": "string",
                    "description": "Optional record ID to read a specific record"
                  },
                  "query": {
                    "type": "object",
                    "description": "Optional query to filter records",
                    "additionalProperties": true
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Maximum number of records to return",
                    "default": 25
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Number of records to skip",
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Records retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "db"
        ]
      }
    },
    "/db/Update": {
      "post": {
        "summary": "Update records",
        "description": "Update existing records in the database",
        "operationId": "updateRecords",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "table",
                  "id",
                  "record"
                ],
                "properties": {
                  "table": {
                    "type": "string",
                    "description": "The table name"
                  },
                  "id": {
                    "type": "string",
                    "description": "The record ID to update"
                  },
                  "record": {
                    "type": "object",
                    "description": "The updated record data",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        },
        "tags": [
          "db"
        ]
      }
    },
    "/db/Delete": {
      "post": {
        "summary": "Delete records",
        "description": "Delete records from the database",
        "operationId": "deleteRecords",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "table",
                  "id"
                ],
                "properties": {
                  "table": {
                    "type": "string",
                    "description": "The table name"
                  },
                  "id": {
                    "type": "string",
                    "description": "The record ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        },
        "tags": [
          "db"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication. Use format: 'Bearer YOUR_API_KEY'"
      }
    }
  },
  "tags": [
    {
      "name": "db"
    }
  ]
}
