{
  "openapi": "3.0.3",
  "info": {
    "title": "Ensembl REST API",
    "version": "15.0",
    "description": "Access Ensembl genomic data programmatically. Provides endpoints for genes, sequences, variants, comparative genomics, regulation, and more across all Ensembl species.",
    "x-jentic-source-url": "https://rest.ensembl.org/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://rest.ensembl.org"
    }
  ],
  "paths": {
    "/archive/id/{id}": {
      "get": {
        "operationId": "getArchiveById",
        "summary": "Get latest version of an identifier",
        "tags": [
          "Archive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ensembl stable ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get latest version of an identifier"
      }
    },
    "/archive/id": {
      "post": {
        "operationId": "postArchiveIds",
        "summary": "Get latest versions for multiple identifiers",
        "tags": [
          "Archive"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get latest versions for multiple identifiers"
      }
    },
    "/cafe/genetree/id/{id}": {
      "get": {
        "operationId": "getCafeGenetreeById",
        "summary": "Get cafe tree by gene tree ID",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Gene tree stable ID"
          },
          {
            "name": "nh_format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "display_label_composite",
                "simple",
                "species",
                "species_short_name",
                "ncbi_taxon",
                "ncbi_name",
                "njtree",
                "phylip"
              ]
            },
            "description": "NH tree format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cafe tree by gene tree ID"
      }
    },
    "/cafe/genetree/member/symbol/{species}/{symbol}": {
      "get": {
        "operationId": "getCafeGenetreeMemberSymbol",
        "summary": "Get cafe tree by gene symbol",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Species name"
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Gene symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cafe tree by gene symbol"
      }
    },
    "/cafe/genetree/member/id/{species}/{id}": {
      "get": {
        "operationId": "getCafeGenetreeMemberId",
        "summary": "Get cafe tree by member ID",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cafe tree by member ID"
      }
    },
    "/genetree/id/{id}": {
      "get": {
        "operationId": "getGenetreeById",
        "summary": "Get gene tree by stable ID",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Gene tree stable ID"
          },
          {
            "name": "aligned",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Return aligned sequences"
          },
          {
            "name": "sequence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "protein",
                "cdna",
                "none"
              ]
            },
            "description": "Sequence type"
          },
          {
            "name": "nh_format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "NH format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get gene tree by stable ID"
      }
    },
    "/genetree/member/symbol/{species}/{symbol}": {
      "get": {
        "operationId": "getGenetreeMemberSymbol",
        "summary": "Get gene tree containing gene symbol",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get gene tree containing gene symbol"
      }
    },
    "/genetree/member/id/{species}/{id}": {
      "get": {
        "operationId": "getGenetreeMemberId",
        "summary": "Get gene tree by member stable ID",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get gene tree by member stable ID"
      }
    },
    "/alignment/region/{species}/{region}": {
      "get": {
        "operationId": "getAlignment",
        "summary": "Get genomic alignment for region",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Genomic region"
          },
          {
            "name": "species_set",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Species set"
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Alignment method"
          },
          {
            "name": "compact",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Compact alignment"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get genomic alignment for region"
      }
    },
    "/homology/id/{species}/{id}": {
      "get": {
        "operationId": "getHomologyById",
        "summary": "Get homology by gene ID",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "orthologues",
                "paralogues",
                "projections",
                "all"
              ]
            },
            "description": "Homology type"
          },
          {
            "name": "target_species",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Target species"
          },
          {
            "name": "target_taxon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Target taxon"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get homology by gene ID"
      }
    },
    "/homology/symbol/{species}/{symbol}": {
      "get": {
        "operationId": "getHomologyBySymbol",
        "summary": "Get homology by gene symbol",
        "tags": [
          "Comparative Genomics"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get homology by gene symbol"
      }
    },
    "/xrefs/symbol/{species}/{symbol}": {
      "get": {
        "operationId": "getXrefsBySymbol",
        "summary": "Look up Ensembl objects by external symbol",
        "tags": [
          "Cross References"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "db_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict search to db type"
          },
          {
            "name": "external_db",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External database filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up Ensembl objects by external symbol"
      }
    },
    "/xrefs/id/{id}": {
      "get": {
        "operationId": "getXrefsById",
        "summary": "Get external references for Ensembl ID",
        "tags": [
          "Cross References"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "all_levels",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include all levels"
          },
          {
            "name": "db_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Database type"
          },
          {
            "name": "external_db",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "External database filter"
          },
          {
            "name": "species",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Species"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get external references for Ensembl ID"
      }
    },
    "/xrefs/name/{species}/{name}": {
      "get": {
        "operationId": "getXrefsByName",
        "summary": "Look up by external name/accession",
        "tags": [
          "Cross References"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "db_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "external_db",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up by external name/accession"
      }
    },
    "/info/analysis/{species}": {
      "get": {
        "operationId": "getAnalysis",
        "summary": "List analyses for species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List analyses for species"
      }
    },
    "/info/assembly/{species}": {
      "get": {
        "operationId": "getAssemblyInfo",
        "summary": "Get assembly info for species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "bands",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include cytogenetic bands"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get assembly info for species"
      }
    },
    "/info/assembly/{species}/{region_name}": {
      "get": {
        "operationId": "getAssemblyStats",
        "summary": "Get info about toplevel region",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get info about toplevel region"
      }
    },
    "/info/biotypes/{species}": {
      "get": {
        "operationId": "getBiotypes",
        "summary": "List biotypes for species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List biotypes for species"
      }
    },
    "/info/biotypes/groups/{group}/{object_type}": {
      "get": {
        "operationId": "getBiotypeGroups",
        "summary": "List biotypes in group",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "object_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List biotypes in group"
      }
    },
    "/info/biotypes/name/{name}/{object_type}": {
      "get": {
        "operationId": "getBiotypesByName",
        "summary": "List biotypes by name",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "object_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List biotypes by name"
      }
    },
    "/info/compara/methods": {
      "get": {
        "operationId": "getComparaMethods",
        "summary": "List compara methods",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List compara methods"
      }
    },
    "/info/compara/species_sets/{method}": {
      "get": {
        "operationId": "getComparaSpeciesSets",
        "summary": "List species sets for method",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List species sets for method"
      }
    },
    "/info/comparas": {
      "get": {
        "operationId": "getComparas",
        "summary": "List comparative genomics databases",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List comparative genomics databases"
      }
    },
    "/info/data": {
      "get": {
        "operationId": "getDataReleases",
        "summary": "Show data releases on server",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Show data releases on server"
      }
    },
    "/info/eg_version": {
      "get": {
        "operationId": "getEgVersion",
        "summary": "Get Ensembl Genomes version",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Ensembl Genomes version"
      }
    },
    "/info/external_dbs/{species}": {
      "get": {
        "operationId": "getExternalDbs",
        "summary": "List external databases for species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "feature",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by feature type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List external databases for species"
      }
    },
    "/info/divisions": {
      "get": {
        "operationId": "getDivisions",
        "summary": "Get list of Ensembl divisions",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get list of Ensembl divisions"
      }
    },
    "/info/genomes/{genome_name}": {
      "get": {
        "operationId": "getGenomeInfo",
        "summary": "Get info about a genome",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "genome_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Expand details"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get info about a genome"
      }
    },
    "/info/genomes/accession/{accession}": {
      "get": {
        "operationId": "getGenomeByAccession",
        "summary": "Find genomes by INSDC accession",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "accession",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Find genomes by INSDC accession"
      }
    },
    "/info/genomes/assembly/{assembly_id}": {
      "get": {
        "operationId": "getGenomeByAssembly",
        "summary": "Find genome by assembly",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "assembly_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Find genome by assembly"
      }
    },
    "/info/genomes/division/{division_name}": {
      "get": {
        "operationId": "getGenomesByDivision",
        "summary": "List genomes in division",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "division_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List genomes in division"
      }
    },
    "/info/genomes/taxonomy/{taxon_name}": {
      "get": {
        "operationId": "getGenomesByTaxonomy",
        "summary": "List genomes by taxonomy",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "taxon_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List genomes by taxonomy"
      }
    },
    "/info/ping": {
      "get": {
        "operationId": "getPing",
        "summary": "Check if service is alive",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Check if service is alive"
      }
    },
    "/info/rest": {
      "get": {
        "operationId": "getRestVersion",
        "summary": "Get REST API version",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get REST API version"
      }
    },
    "/info/software": {
      "get": {
        "operationId": "getSoftwareVersion",
        "summary": "Get Ensembl API version",
        "tags": [
          "Information"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Ensembl API version"
      }
    },
    "/info/species": {
      "get": {
        "operationId": "getSpecies",
        "summary": "List all available species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by division"
          },
          {
            "name": "hide_strain_info",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Hide strain info"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all available species"
      }
    },
    "/info/variation/{species}": {
      "get": {
        "operationId": "getVariationSources",
        "summary": "List variation sources for species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter sources"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List variation sources for species"
      }
    },
    "/info/variation/consequence_types": {
      "get": {
        "operationId": "getConsequenceTypes",
        "summary": "List variant consequence types",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "rank_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Order by rank"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List variant consequence types"
      }
    },
    "/info/variation/populations/{species}/{population_name}": {
      "get": {
        "operationId": "getPopulationIndividuals",
        "summary": "List individuals in population",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "population_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List individuals in population"
      }
    },
    "/info/variation/populations/{species}": {
      "get": {
        "operationId": "getPopulations",
        "summary": "List populations for species",
        "tags": [
          "Information"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List populations for species"
      }
    },
    "/ld/{species}/{id}/{population_name}": {
      "get": {
        "operationId": "getLdById",
        "summary": "Get LD values for variant",
        "tags": [
          "Linkage Disequilibrium"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Variant ID"
          },
          {
            "name": "population_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "window_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Window size in kb"
          },
          {
            "name": "d_prime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "D' threshold"
          },
          {
            "name": "r2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "r-squared threshold"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get LD values for variant"
      }
    },
    "/ld/{species}/pairwise/{id1}/{id2}": {
      "get": {
        "operationId": "getLdPairwise",
        "summary": "Get LD between two variants",
        "tags": [
          "Linkage Disequilibrium"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "id1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First variant ID"
          },
          {
            "name": "id2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Second variant ID"
          },
          {
            "name": "population_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Population"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get LD between two variants"
      }
    },
    "/ld/{species}/region/{region}/{population_name}": {
      "get": {
        "operationId": "getLdRegion",
        "summary": "Get LD for region",
        "tags": [
          "Linkage Disequilibrium"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "population_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get LD for region"
      }
    },
    "/lookup/id/{id}": {
      "get": {
        "operationId": "lookupById",
        "summary": "Look up species/database for ID",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Expand transcript info"
          },
          {
            "name": "db_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Database type"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "condensed"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "species",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up species/database for ID"
      }
    },
    "/lookup/id": {
      "post": {
        "operationId": "lookupByIds",
        "summary": "Look up multiple IDs",
        "tags": [
          "Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up multiple IDs"
      }
    },
    "/lookup/symbol/{species}/{symbol}": {
      "get": {
        "operationId": "lookupBySymbol",
        "summary": "Look up by gene symbol",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up by gene symbol"
      }
    },
    "/lookup/symbol/{species}": {
      "post": {
        "operationId": "lookupBySymbols",
        "summary": "Look up multiple symbols",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up multiple symbols"
      }
    },
    "/map/cdna/{id}/{region}": {
      "get": {
        "operationId": "mapCdna",
        "summary": "Map cDNA to genomic coords",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Map cDNA to genomic coords"
      }
    },
    "/map/cds/{id}/{region}": {
      "get": {
        "operationId": "mapCds",
        "summary": "Map CDS to genomic coords",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Map CDS to genomic coords"
      }
    },
    "/map/{species}/{asm_one}/{region}/{asm_two}": {
      "get": {
        "operationId": "mapAssembly",
        "summary": "Convert assembly coordinates",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "asm_one",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source assembly"
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "asm_two",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target assembly"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Convert assembly coordinates"
      }
    },
    "/map/translation/{id}/{region}": {
      "get": {
        "operationId": "mapTranslation",
        "summary": "Map protein to genomic coords",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Map protein to genomic coords"
      }
    },
    "/ontology/ancestors/{id}": {
      "get": {
        "operationId": "getOntologyAncestors",
        "summary": "Get term ancestors",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "ontology",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Ontology name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get term ancestors"
      }
    },
    "/ontology/ancestors/chart/{id}": {
      "get": {
        "operationId": "getOntologyAncestorsChart",
        "summary": "Get ancestry chart",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ancestry chart"
      }
    },
    "/ontology/descendants/{id}": {
      "get": {
        "operationId": "getOntologyDescendants",
        "summary": "Get term descendants",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "closest_term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "zero_distance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get term descendants"
      }
    },
    "/ontology/id/{id}": {
      "get": {
        "operationId": "getOntologyById",
        "summary": "Get ontology term by ID",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "relation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "simple",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ontology term by ID"
      }
    },
    "/ontology/name/{name}": {
      "get": {
        "operationId": "getOntologyByName",
        "summary": "Search ontology by name",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "ontology",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "relation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "simple",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search ontology by name"
      }
    },
    "/taxonomy/classification/{id}": {
      "get": {
        "operationId": "getTaxonomyClassification",
        "summary": "Get taxonomic classification",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get taxonomic classification"
      }
    },
    "/taxonomy/id/{id}": {
      "get": {
        "operationId": "getTaxonomyById",
        "summary": "Search taxonomy by ID/name",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "simple",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search taxonomy by ID/name"
      }
    },
    "/taxonomy/name/{name}": {
      "get": {
        "operationId": "getTaxonomyByName",
        "summary": "Search taxonomy by non-scientific name",
        "tags": [
          "Ontologies and Taxonomy"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search taxonomy by non-scientific name"
      }
    },
    "/overlap/id/{id}": {
      "get": {
        "operationId": "getOverlapById",
        "summary": "Get features overlapping ID region",
        "tags": [
          "Overlap"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "feature",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "gene",
                "transcript",
                "cds",
                "exon",
                "repeat",
                "simple",
                "misc",
                "variation",
                "somatic_variation",
                "structural_variation",
                "somatic_structural_variation",
                "constrained",
                "regulatory",
                "motif",
                "chipseq",
                "array_probe"
              ]
            },
            "description": "Feature type"
          },
          {
            "name": "species",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get features overlapping ID region"
      }
    },
    "/overlap/region/{species}/{region}": {
      "get": {
        "operationId": "getOverlapRegion",
        "summary": "Get features overlapping region",
        "tags": [
          "Overlap"
        ],
        "parameters": [
          {
            "name": "species",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "feature",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Feature type"
          },
          {
            "name": "db_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "logic_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "species_set",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get features overlapping region"
      }
    },
    "/overlap/translation/{id}": {
      "get": {
        "operationId": "getOverlapTranslation",
        "summary": "Get features for translation",
        "tags": [
          "Overlap"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
