{
  "openapi": "3.1.0",
  "info": {
    "version": "2.5",
    "title": "OpenWeatherMap API",
    "summary": "Get the current weather",
    "description": " Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.",
    "termsOfService": "https://openweathermap.org/terms",
    "contact": {
      "name": "Support",
      "url": "https://openweathermap.org/api",
      "email": "some_email@gmail.com"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by-sa/4.0/",
      "name": "Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/na-6fe/openweathermap-api/2.5"
  },
  "servers": [
    {
      "url": "https://api.openweathermap.org/data/2.5",
      "description": "prod"
    }
  ],
  "paths": {
    "/weather": {
      "get": {
        "summary": "weather",
        "description": "Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.",
        "operationId": "get-weather",
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "description": "**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have 3 city IDs, it’s treated as 3 API calls.*",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "**Latitude**. *Example: 35*. Latitude coordinate of the location of your interest. Must use with `lat`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "**Language**. *Example: en*. You can use `lang` parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.",
            "schema": {
              "type": "string",
              "enum": [
                "ar",
                "bg",
                "ca",
                "cz",
                "de",
                "el",
                "en",
                "fa",
                "fi",
                "fr",
                "gl",
                "hr",
                "hu",
                "it",
                "ja",
                "kr",
                "la",
                "lt",
                "mk",
                "nl",
                "pl",
                "pt",
                "ro",
                "ru",
                "se",
                "sk",
                "sl",
                "es",
                "tr",
                "ua",
                "vi",
                "zh_cn",
                "zh_tw"
              ],
              "default": "en"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "**Mode**. Example: html. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "html"
              ],
              "format": "string",
              "default": "json"
            }
          },
          {
            "$ref": "#/components/parameters/lon"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coord": {
                      "type": "object",
                      "properties": {
                        "lon": {
                          "type": "number",
                          "description": "City geo location, longitude",
                          "examples": [
                            145.77
                          ]
                        },
                        "lat": {
                          "type": "number",
                          "description": "City geo location, latitude",
                          "examples": [
                            -16.92
                          ]
                        }
                      }
                    },
                    "weather": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "main": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "base": {
                      "type": "string"
                    },
                    "main": {
                      "type": "object",
                      "properties": {
                        "temp": {
                          "type": "number"
                        },
                        "feels_like": {
                          "type": "number"
                        },
                        "temp_min": {
                          "type": "integer"
                        },
                        "temp_max": {
                          "type": "integer"
                        },
                        "pressure": {
                          "type": "integer"
                        },
                        "humidity": {
                          "type": "integer"
                        }
                      }
                    },
                    "visibility": {
                      "type": "integer"
                    },
                    "wind": {
                      "type": "object",
                      "properties": {
                        "speed": {
                          "type": "number"
                        },
                        "deg": {
                          "type": "integer"
                        }
                      }
                    },
                    "clouds": {
                      "type": "object",
                      "properties": {
                        "all": {
                          "type": "integer"
                        }
                      }
                    },
                    "dt": {
                      "type": "integer"
                    },
                    "sys": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "integer"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "country": {
                          "type": "string"
                        },
                        "sunrise": {
                          "type": "integer"
                        },
                        "sunset": {
                          "type": "integer"
                        }
                      }
                    },
                    "timezone": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "cod": {
                      "type": "integer"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "coord": {
                        "lon": -121.95,
                        "lat": 37.35
                      },
                      "weather": [
                        {
                          "id": 803,
                          "main": "Clouds",
                          "description": "broken clouds",
                          "icon": "04n"
                        }
                      ],
                      "base": "stations",
                      "main": {
                        "temp": 45.25,
                        "feels_like": 41.16,
                        "temp_min": 41,
                        "temp_max": 50,
                        "pressure": 1026,
                        "humidity": 75
                      },
                      "visibility": 16093,
                      "wind": {
                        "speed": 2.57,
                        "deg": 36
                      },
                      "clouds": {
                        "all": 75
                      },
                      "dt": 1579415808,
                      "sys": {
                        "type": 1,
                        "id": 5845,
                        "country": "US",
                        "sunrise": 1579360793,
                        "sunset": 1579396557
                      },
                      "timezone": -28800,
                      "id": 0,
                      "name": "Santa Clara",
                      "cod": 200
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "app_id": []
          }
        ],
        "servers": [
          {
            "url": "https://api.openweathermap.org/data/2.5",
            "description": "prod"
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "lon": {
        "name": "lon",
        "in": "query",
        "description": "Description…: **Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat`.",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "app_id": {
        "type": "apiKey",
        "name": "appid",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "app_id": []
    }
  ]
}
