{
  "openapi": "3.0.3",
  "info": {
    "title": "TextIt API",
    "description": "TextIt API v2 for managing messaging workflows including contacts, messages, flows, campaigns, channels, broadcasts, groups, labels, and more. All endpoints require token-based authentication via the Authorization header.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://textit.in/api/v2",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://textit.in/api/v2",
      "description": "TextIt production API v2"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "paths": {
    "/archives.json": {
      "get": {
        "operationId": "listArchives",
        "summary": "List message and run archives",
        "tags": [
          "Archives"
        ],
        "parameters": [
          {
            "name": "archive_type",
            "in": "query",
            "description": "Type of archive",
            "schema": {
              "type": "string",
              "enum": [
                "message",
                "run"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of archives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List message and run archives"
      }
    },
    "/broadcasts.json": {
      "get": {
        "operationId": "listBroadcasts",
        "summary": "List broadcasts",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of broadcasts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List broadcasts"
      },
      "post": {
        "operationId": "createBroadcast",
        "summary": "Send a broadcast message",
        "tags": [
          "Broadcasts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Message text"
                  },
                  "urns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Send a broadcast message"
      }
    },
    "/campaigns.json": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List campaigns"
      },
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "group"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "group": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create a campaign"
      }
    },
    "/campaign_events.json": {
      "get": {
        "operationId": "listCampaignEvents",
        "summary": "List campaign events",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "campaign",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaign events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List campaign events"
      },
      "post": {
        "operationId": "createCampaignEvent",
        "summary": "Create a campaign event",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "campaign",
                  "relative_to",
                  "offset",
                  "unit",
                  "delivery_hour"
                ],
                "properties": {
                  "campaign": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "relative_to": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "unit": {
                    "type": "string",
                    "enum": [
                      "minutes",
                      "hours",
                      "days",
                      "weeks"
                    ]
                  },
                  "delivery_hour": {
                    "type": "integer"
                  },
                  "flow": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign event created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create a campaign event"
      },
      "delete": {
        "operationId": "deleteCampaignEvent",
        "summary": "Delete a campaign event",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign event deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Delete a campaign event"
      }
    },
    "/channels.json": {
      "get": {
        "operationId": "listChannels",
        "summary": "List channels",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List channels"
      }
    },
    "/classifiers.json": {
      "get": {
        "operationId": "listClassifiers",
        "summary": "List classifiers",
        "tags": [
          "Classifiers"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of classifiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List classifiers"
      }
    },
    "/contacts.json": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Returns contacts ordered by last modified date.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "urn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Group name or UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Contact"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateContact",
        "summary": "Create or update a contact",
        "description": "Use query parameters uuid or urn to update an existing contact. Without query params, creates a new contact.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "UUID of contact to update",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "urn",
            "in": "query",
            "description": "URN of contact to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string",
                    "description": "3-letter ISO code"
                  },
                  "urns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 100
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Custom contact fields (max 100)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "urn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Delete a contact"
      }
    },
    "/contact_actions.json": {
      "post": {
        "operationId": "bulkContactActions",
        "summary": "Perform bulk contact operations",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contacts",
                  "action"
                ],
                "properties": {
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "add",
                      "remove",
                      "block",
                      "unblock",
                      "archive",
                      "restore",
                      "delete",
                      "interrupt"
                    ]
                  },
                  "group": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Action performed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Perform bulk contact operations"
      }
    },
    "/fields.json": {
      "get": {
        "operationId": "listFields",
        "summary": "List contact fields",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List contact fields"
      },
      "post": {
        "operationId": "createField",
        "summary": "Create a contact field",
        "tags": [
          "Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "value_type"
                ],
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "value_type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "number",
                      "datetime",
                      "state",
                      "district",
                      "ward"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create a contact field"
      }
    },
    "/flows.json": {
      "get": {
        "operationId": "listFlows",
        "summary": "List flows",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of flows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List flows"
      }
    },
    "/flow_starts.json": {
      "get": {
        "operationId": "listFlowStarts",
        "summary": "List flow starts",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of flow starts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List flow starts"
      },
      "post": {
        "operationId": "startFlow",
        "summary": "Start a flow for contacts",
        "tags": [
          "Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "flow"
                ],
                "properties": {
                  "flow": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "urns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "restart_participants": {
                    "type": "boolean"
                  },
                  "extra": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Flow started"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Start a flow for contacts"
      }
    },
    "/globals.json": {
      "get": {
        "operationId": "listGlobals",
        "summary": "List globals",
        "tags": [
          "Globals"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of globals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List globals"
      }
    },
    "/groups.json": {
      "get": {
        "operationId": "listGroups",
        "summary": "List contact groups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List contact groups"
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create a contact group",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create a contact group"
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete a contact group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Delete a contact group"
      }
    },
    "/labels.json": {
      "get": {
        "operationId": "listLabels",
        "summary": "List message labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List message labels"
      },
      "post": {
        "operationId": "createLabel",
        "summary": "Create a message label",
        "tags": [
          "Labels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Label created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create a message label"
      },
      "delete": {
        "operationId": "deleteLabel",
        "summary": "Delete a message label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Label deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Delete a message label"
      }
    },
    "/media.json": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Upload media",
        "tags": [
          "Media"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media uploaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Upload media"
      }
    },
    "/messages.json": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "broadcast",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contact",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "flows",
                "archived",
                "outbox",
                "incoming",
                "failed",
                "sent"
              ]
            }
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List messages"
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message to a contact",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contact",
                  "text"
                ],
                "properties": {
                  "contact": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Send a message to a contact"
      }
    },
    "/message_actions.json": {
      "post": {
        "operationId": "bulkMessageActions",
        "summary": "Perform bulk message operations",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages",
                  "action"
                ],
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "label",
                      "unlabel",
                      "archive",
                      "restore",
                      "delete"
                    ]
                  },
                  "label": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Action performed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Perform bulk message operations"
      }
    },
    "/runs.json": {
      "get": {
        "operationId": "listRuns",
        "summary": "List flow runs",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "flow",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contact",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of flow runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List flow runs"
      }
    },
    "/resthooks.json": {
      "get": {
        "operationId": "listResthooks",
        "summary": "List resthooks",
        "tags": [
          "Resthooks"
        ],
        "responses": {
          "200": {
            "description": "List of resthooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List resthooks"
      }
    },
    "/resthook_events.json": {
      "get": {
        "operationId": "listResthookEvents",
        "summary": "List resthook events",
        "tags": [
          "Resthooks"
        ],
        "responses": {
          "200": {
            "description": "List of resthook events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List resthook events"
      }
    },
    "/resthook_subscribers.json": {
      "get": {
        "operationId": "listResthookSubscribers",
        "summary": "List resthook subscribers",
        "tags": [
          "Resthooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List resthook subscribers"
      },
      "post": {
        "operationId": "createResthookSubscriber",
        "summary": "Subscribe to a resthook",
        "tags": [
          "Resthooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "resthook",
                  "target_url"
                ],
                "properties": {
                  "resthook": {
                    "type": "string"
                  },
                  "target_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Subscribe to a resthook"
      },
      "delete": {
        "operationId": "deleteResthookSubscriber",
        "summary": "Unsubscribe from a resthook",
        "tags": [
          "Resthooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriber removed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Unsubscribe from a resthook"
      }
    },
    "/tickets.json": {
      "get": {
        "operationId": "listTickets",
        "summary": "List tickets",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contact",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List tickets"
      }
    },
    "/ticket_actions.json": {
      "post": {
        "operationId": "bulkTicketActions",
        "summary": "Perform bulk ticket operations",
        "tags": [
          "Tickets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tickets",
                  "action"
                ],
                "properties": {
                  "tickets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "assign",
                      "add_note",
                      "change_topic",
                      "close",
                      "reopen"
                    ]
                  },
                  "assignee": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  },
                  "topic": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Action performed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Perform bulk ticket operations"
      }
    },
    "/topics.json": {
      "get": {
        "operationId": "listTopics",
        "summary": "List topics",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List topics"
      },
      "post": {
        "operationId": "createTopic",
        "summary": "Create a topic",
        "tags": [
          "Topics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Topic created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Create a topic"
      }
    },
    "/users.json": {
      "get": {
        "operationId": "listUsers",
        "summary": "List workspace user logins",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "List workspace user logins"
      }
    },
    "/workspace.json": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "View workspace details",
        "tags": [
          "Workspace"
        ],
        "responses": {
          "200": {
            "description": "Workspace information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "primary_language": {
                      "type": "string"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "date_style": {
                      "type": "string"
                    },
                    "anon": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "View workspace details"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Token",
        "description": "Use format: Token YOUR_API_TOKEN"
      }
    },
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "blocked",
              "stopped",
              "archived"
            ]
          },
          "language": {
            "type": "string"
          },
          "urns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "flow": {
            "type": "object",
            "nullable": true,
            "properties": {
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "modified_on": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen_on": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Broadcast": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "urns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "text": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid parameters"
      },
      "Forbidden": {
        "description": "Insufficient permissions"
      },
      "NotFound": {
        "description": "Resource not found"
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Check Retry-After header.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds to wait before retrying"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Archives",
      "description": "Message and run archives"
    },
    {
      "name": "Broadcasts",
      "description": "Send broadcast messages"
    },
    {
      "name": "Campaigns",
      "description": "Campaign and event management"
    },
    {
      "name": "Channels",
      "description": "Communication channels"
    },
    {
      "name": "Classifiers",
      "description": "Intent classifiers"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Fields",
      "description": "Custom contact fields"
    },
    {
      "name": "Flows",
      "description": "Flow management and execution"
    },
    {
      "name": "Globals",
      "description": "Global variables"
    },
    {
      "name": "Groups",
      "description": "Contact groups"
    },
    {
      "name": "Labels",
      "description": "Message labels"
    },
    {
      "name": "Media",
      "description": "Media uploads"
    },
    {
      "name": "Messages",
      "description": "Message management"
    },
    {
      "name": "Runs",
      "description": "Flow run history"
    },
    {
      "name": "Resthooks",
      "description": "Webhook subscriptions"
    },
    {
      "name": "Tickets",
      "description": "Support tickets"
    },
    {
      "name": "Topics",
      "description": "Ticket topics"
    },
    {
      "name": "Users",
      "description": "Workspace users"
    },
    {
      "name": "Workspace",
      "description": "Workspace information"
    }
  ]
}
