{
  "openapi": "3.0.3",
  "info": {
    "title": "Browserbase API",
    "description": "Browserbase API for managing cloud browser sessions, contexts, extensions, and projects.",
    "version": "v1",
    "x-jentic-source-url": "https://docs.browserbase.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.browserbase.com",
      "description": "Public endpoint"
    }
  ],
  "security": [
    {
      "BrowserbaseAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Create, list, update, and retrieve browser sessions."
    },
    {
      "name": "Contexts",
      "description": "Create and manage reusable browser contexts (cookies, auth data)."
    },
    {
      "name": "Extensions",
      "description": "Upload and manage browser extensions."
    },
    {
      "name": "Projects",
      "description": "Project usage and management."
    }
  ],
  "paths": {
    "/v1/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Sessions",
        "description": "Returns a list of all browser sessions.",
        "operationId": "listSessions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter sessions by status.",
            "schema": {
              "type": "string",
              "enum": [
                "RUNNING",
                "ERROR",
                "TIMED_OUT",
                "COMPLETED"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Query sessions by user metadata.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create a Session",
        "description": "Creates a new browser session with optional configuration.",
        "operationId": "createSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The session has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get a Session",
        "description": "Retrieves a specific browser session by ID.",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update a Session",
        "description": "Updates a session. Set status to REQUEST_RELEASE to request that the session complete.",
        "operationId": "updateSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contexts": {
      "post": {
        "tags": [
          "Contexts"
        ],
        "summary": "Create a Context",
        "description": "Creates a new context for reusing browser data (cookies, auth) across sessions.",
        "operationId": "createContext",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "The Project ID. Optional - if not provided, the project will be inferred from the API key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The context has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextCreated"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extensions": {
      "post": {
        "tags": [
          "Extensions"
        ],
        "summary": "Upload an Extension",
        "description": "Uploads a browser extension as a ZIP file.",
        "operationId": "uploadExtension",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The extension has been uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/usage": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Project Usage",
        "description": "Retrieves usage data for a specific project.",
        "operationId": "getProjectUsage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectUsage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "projectId": {
            "type": "string",
            "description": "The Project ID linked to the Session."
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "RUNNING",
              "ERROR",
              "TIMED_OUT",
              "COMPLETED"
            ]
          },
          "proxyBytes": {
            "type": "integer",
            "description": "Bytes used via the Proxy."
          },
          "keepAlive": {
            "type": "boolean",
            "description": "Indicates if the Session was created to be kept alive upon disconnections."
          },
          "contextId": {
            "type": "string",
            "description": "Optional. The Context linked to the Session."
          },
          "region": {
            "type": "string",
            "description": "The region where the Session is running.",
            "enum": [
              "us-west-2",
              "us-east-1",
              "eu-central-1",
              "ap-southeast-1"
            ]
          },
          "userMetadata": {
            "type": "object",
            "description": "Arbitrary user metadata attached to the session.",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "projectId",
          "status",
          "proxyBytes",
          "keepAlive",
          "region",
          "startedAt",
          "expiresAt"
        ]
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "The Project ID. Optional - if not provided, the project will be inferred from the API key."
          },
          "extensionId": {
            "type": "string",
            "description": "The uploaded Extension ID to use for the session."
          },
          "browserSettings": {
            "type": "object",
            "description": "Browser configuration settings.",
            "properties": {
              "context": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The Context ID to use."
                  },
                  "persist": {
                    "type": "boolean",
                    "description": "Whether to persist the context after the session ends."
                  }
                }
              },
              "fingerprint": {
                "type": "object",
                "description": "Browser fingerprint configuration.",
                "properties": {
                  "browsers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "operatingSystems": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "viewport": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "keepAlive": {
            "type": "boolean",
            "description": "Keep the session alive upon disconnection."
          },
          "proxies": {
            "type": "boolean",
            "description": "Enable residential proxies."
          },
          "region": {
            "type": "string",
            "description": "The region to run the session in.",
            "enum": [
              "us-west-2",
              "us-east-1",
              "eu-central-1",
              "ap-southeast-1"
            ]
          },
          "timeout": {
            "type": "integer",
            "description": "Session timeout in milliseconds."
          },
          "userMetadata": {
            "type": "object",
            "description": "Arbitrary user metadata to attach to the session.",
            "additionalProperties": true
          }
        }
      },
      "UpdateSessionRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "The Project ID."
          },
          "status": {
            "type": "string",
            "description": "Set to REQUEST_RELEASE to request that the session complete.",
            "enum": [
              "REQUEST_RELEASE"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "ContextCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uploadUrl": {
            "type": "string",
            "description": "An upload URL to upload a custom user-data-directory.",
            "minLength": 1
          },
          "publicKey": {
            "type": "string",
            "description": "The public key to encrypt the user-data-directory."
          },
          "cipherAlgorithm": {
            "type": "string",
            "description": "The cipher algorithm used (AES-256-CBC)."
          },
          "initializationVectorSize": {
            "type": "integer",
            "description": "The initialization vector size used to encrypt the user-data-directory."
          }
        },
        "required": [
          "id",
          "uploadUrl",
          "publicKey",
          "cipherAlgorithm",
          "initializationVectorSize"
        ]
      },
      "Extension": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "fileName": {
            "type": "string",
            "minLength": 1
          },
          "projectId": {
            "type": "string",
            "description": "The Project ID linked to the uploaded Extension."
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "fileName",
          "projectId"
        ]
      },
      "ProjectUsage": {
        "type": "object",
        "properties": {
          "browserMinutes": {
            "type": "integer",
            "minimum": 0
          },
          "proxyBytes": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "browserMinutes",
          "proxyBytes"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          }
        }
      }
    },
    "securitySchemes": {
      "BrowserbaseAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BB-API-Key",
        "description": "Your Browserbase API Key."
      }
    }
  }
}
