{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Blue Yonder Configurable API",
    "description": "Blue Yonder configurable API endpoints",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Point2/blue-yonder-configurable-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://pumalg4.int.pg.com:21700/api/api_reporting/v1/"
    }
  ],
  "paths": {
    "/api110ShortMSOBeforeAllocation": {
      "get": {
        "description": "api110ShortMSOBeforeAllocation\n- **EXEC PERM:** api110ShortMSOBeforeAllocation-EXEC\n- **EDIT PERM:** api110ShortMSOBeforeAllocation-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wkonum",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api120WorkOrderActivity": {
      "get": {
        "description": "API 120 WORK ORDER ACTIVITY\n- **EXEC PERM:** api120WorkOrderActivity-EXEC\n- **EDIT PERM:** api120WorkOrderActivity-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wkonum",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api3365CasesPicked": {
      "get": {
        "description": "API for 336.5 Cases Picked\n- **EXEC PERM:** api3365CasesPicked-EXEC\n- **EDIT PERM:** api3365CasesPicked-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from_dateYYYYMMDDHHMI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to_dateYYYYMMDDHHMI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "view_all",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api336CasesPickedbyHour": {
      "get": {
        "description": "API for 336 Cases Picked by Hour\n- **EXEC PERM:** api336CasesPickedbyHour-EXEC\n- **EDIT PERM:** api336CasesPickedbyHour-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from_dateMMDDHHMI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to_dateMMDDHHMI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api900ShipmentStatusReport": {
      "get": {
        "description": "900 Shipment Status Report\n- **EXEC PERM:** api900ShipmentStatusReport-EXEC\n- **EDIT PERM:** api900ShipmentStatusReport-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exclude_ord_typ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exclude_shipped",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "having_string",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "hours_ahead",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where_string",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api907TaskerSheet": {
      "get": {
        "description": "API of api907TaskerSheet\n- **EXEC PERM:** api907TaskerSheet-EXEC\n- **EDIT PERM:** api907TaskerSheet-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "show_shorts",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api9505ListCarrierMoveShorts": {
      "get": {
        "description": "API for 950.5 List Carrier Move Shorts\n- **EXEC PERM:** api9505ListCarrierMoveShorts-EXEC\n- **EDIT PERM:** api9505ListCarrierMoveShorts-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "live_flg",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "prtnum",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "unres_usable_inv",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api970ListMSOShorts": {
      "get": {
        "description": "API 970 LIST MSO SHORTS\n- **EXEC PERM:** api970ListMSOShorts-EXEC\n- **EDIT PERM:** api970ListMSOShorts-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wkonum",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiA5LabelLoadIDInfo": {
      "get": {
        "description": "Display the data for Load Details.\n- **EXEC PERM:** apiA5LabelLoadIDInfo-EXEC\n- **EDIT PERM:** apiA5LabelLoadIDInfo-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "locale_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lodnum",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiACPULContents": {
      "get": {
        "description": "Displays the UL contents data for a picked SSCC.\n- **EXEC PERM:** apiACPULContents-EXEC\n- **EDIT PERM:** apiACPULContents-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "lodnum",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGHBestDockDoor": {
      "get": {
        "description": "This WS calculates the suggested best dock door location for the requested master receipt and display other relevant information\n- **EXEC PERM:** apiAGHBestDockDoor-EXEC\n- **EDIT PERM:** apiAGHBestDockDoor-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "consider_dock",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "consider_yard",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "door_area_list",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trknum",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trlr_num",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGHMoves": {
      "get": {
        "description": "Triggers PrIME to create a 'Trailer Move' task to move trailer from JACKYARD location to dock door location.\n- **EXEC PERM:** apiAGHMoves-EXEC\n- **EDIT PERM:** apiAGHMoves-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "carcod",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "doorloc",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "effpri",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "jackloc",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trlr_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trlr_num",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGHOutboundTrailers": {
      "get": {
        "description": "Displays status of ship trailers for AGH\n- **EXEC PERM:** apiAGHOutboundTrailers-EXEC\n- **EDIT PERM:** apiAGHOutboundTrailers-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "trlr_num",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGHPrintReports": {
      "get": {
        "description": "Triggers PrIME to generate reports for a specific carrier move.\n- **EXEC PERM:** apiAGHPrintReports-EXEC\n- **EDIT PERM:** apiAGHPrintReports-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "load",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "rpt_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGHReceipts": {
      "get": {
        "description": "Displays master receipts for AGH\n- **EXEC PERM:** apiAGHReceipts-EXEC\n- **EDIT PERM:** apiAGHReceipts-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "waybill",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGHTractor": {
      "get": {
        "description": "Triggers PrIME to assign a trailer to a tractor\n- **EXEC PERM:** apiAGHTractor-EXEC\n- **EDIT PERM:** apiAGHTractor-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "carcod",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "tractor_num",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trlr_broker",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trlr_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "trlr_num",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGVAvailWork": {
      "get": {
        "description": "Displays information for AGV available work \n- **EXEC PERM:** apiAGVAvailWork-EXEC\n- **EDIT PERM:** apiAGVAvailWork-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGVChkStack": {
      "get": {
        "description": "Displays stack data for locations which meet specific inventory requirements for AGV in specific AGV PD areas\n- **EXEC PERM:** apiAGVChkStack-EXEC\n- **EDIT PERM:** apiAGVChkStack-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGVChkStackInfo": {
      "get": {
        "description": "Displays the suggested PD locations for requested LOADNUM and requested OPRCOD which meet specific inventory requirements for AGV in specific AGV PD areas\n- **EXEC PERM:** apiAGVChkStackInfo-EXEC\n- **EDIT PERM:** apiAGVChkStackInfo-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "oprcod",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pallet_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAgvRpm": {
      "get": {
        "description": "Displays information about a define unit load id\n- **EXEC PERM:** apiAgvRpm-EXEC\n- **EDIT PERM:** apiAgvRpm-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "lodnum",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGVSErrors": {
      "get": {
        "description": "API AGVS Errors\n- **EXEC PERM:** apiAGVSErrors-EXEC\n- **EDIT PERM:** apiAGVSErrors-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "daysold",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGVStolocLoadWght": {
      "get": {
        "description": "Displays the information about the loads in the location especially the weight and the group id of the pallets \n- **EXEC PERM:** apiAGVStolocLoadWght-EXEC\n- **EDIT PERM:** apiAGVStolocLoadWght-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "stoloc",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAGVTasksCnt": {
      "get": {
        "description": "Display the total number of pending inventory move tasks from the specific source locations which contains the 'search_string' in stoloc_search_string parameter.\n- **EXEC PERM:** apiAGVTasksCnt-EXEC\n- **EDIT PERM:** apiAGVTasksCnt-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "stoloc_search_string",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAltPrtmstCase": {
      "get": {
        "description": "Display alternate item number under case UOM of default item footprint code for the specific Item number/warehouse ID/item client ID combination.\n- **EXEC PERM:** apiAltPrtmstCase-EXEC\n- **EDIT PERM:** apiAltPrtmstCase-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "prt_client_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "prtnum",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAPALCmvLockedPallet": {
      "get": {
        "description": "validate APAL inventory to be locked or unlocked\n- **EXEC PERM:** apiAPALCmvLockedPallet-EXEC\n- **EDIT PERM:** apiAPALCmvLockedPallet-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASInbound": {
      "get": {
        "description": "API AS Inbound\n- **EXEC PERM:** apiASInbound-EXEC\n- **EDIT PERM:** apiASInbound-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASInventory": {
      "get": {
        "description": "API AS Inventory\n- **EXEC PERM:** apiASInventory-EXEC\n- **EDIT PERM:** apiASInventory-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASInventoryGI": {
      "get": {
        "description": "API AS Inventory GI\n- **EXEC PERM:** apiASInventoryGI-EXEC\n- **EDIT PERM:** apiASInventoryGI-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "last_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ordtyp",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASItemMasterData": {
      "get": {
        "description": "API AS Item Master Data\n- **EXEC PERM:** apiASItemMasterData-EXEC\n- **EDIT PERM:** apiASItemMasterData-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASOutbound": {
      "get": {
        "description": "API AS Outbound\n- **EXEC PERM:** apiASOutbound-EXEC\n- **EDIT PERM:** apiASOutbound-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASOutbound2Part": {
      "get": {
        "description": "API AS Outbound 2 Part\n- **EXEC PERM:** apiASOutbound2Part-EXEC\n- **EDIT PERM:** apiASOutbound2Part-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASProductionLine": {
      "get": {
        "description": "API AS Production Line\n- **EXEC PERM:** apiASProductionLine-EXEC\n- **EDIT PERM:** apiASProductionLine-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASReceiptList": {
      "get": {
        "description": "API AS Receipt List\n- **EXEC PERM:** apiASReceiptList-EXEC\n- **EDIT PERM:** apiASReceiptList-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASReplenishConfig": {
      "get": {
        "description": "API AS Replenish Config\n- **EXEC PERM:** apiASReplenishConfig-EXEC\n- **EDIT PERM:** apiASReplenishConfig-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASShipmentList": {
      "get": {
        "description": "Displays data for all the open shipments in warehouse\n- **EXEC PERM:** apiASShipmentList-EXEC\n- **EDIT PERM:** apiASShipmentList-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "look_ahead",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASWarehouse": {
      "get": {
        "description": "API AS Warehouse\n- **EXEC PERM:** apiASWarehouse-EXEC\n- **EDIT PERM:** apiASWarehouse-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiASWorkOrder": {
      "get": {
        "description": "API AS Work Order\n- **EXEC PERM:** apiASWorkOrder-EXEC\n- **EDIT PERM:** apiASWorkOrder-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiATLInbounds": {
      "get": {
        "description": "API ATL Inbounds\n- **EXEC PERM:** apiATLInbounds-EXEC\n- **EDIT PERM:** apiATLInbounds-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiATLInbStg": {
      "get": {
        "description": "API ATL Inbound Staging\n- **EXEC PERM:** apiATLInbStg-EXEC\n- **EDIT PERM:** apiATLInbStg-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiATLOutbounds": {
      "get": {
        "description": "API ATL Outbounds\n- **EXEC PERM:** apiATLOutbounds-EXEC\n- **EDIT PERM:** apiATLOutbounds-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiATLSRealTimeExtract": {
      "get": {
        "description": "Displays the detailed information of the Carrier Move from PrIME to ATLS WCS\n- **EXEC PERM:** apiATLSRealTimeExtract-EXEC\n- **EDIT PERM:** apiATLSRealTimeExtract-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customer_number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "shipmentStatus",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiATLUnitstoLoad": {
      "get": {
        "description": "API ATL Units to Load\n- **EXEC PERM:** apiATLUnitstoLoad-EXEC\n- **EDIT PERM:** apiATLUnitstoLoad-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAudit": {
      "get": {
        "description": "Displays current storage location, pending move destination location, sum unit quantity and corresponding carrier move ID or work order number for the requested lodnum\n- **EXEC PERM:** apiAudit-EXEC\n- **EDIT PERM:** apiAudit-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "lodnum",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiAutoLTA": {
      "get": {
        "description": "Displays information for Auto LTA\n- **EXEC PERM:** apiAutoLTA-EXEC\n- **EDIT PERM:** apiAutoLTA-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "prtnum",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiBestDoorRec": {
      "get": {
        "description": "Provides the Top 3 ranked suggested best dock doors for master receipt.\n- **EXEC PERM:** apiBestDoorRec-EXEC\n- **EDIT PERM:** apiBestDoorRec-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "trknum",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiBestStagingLane": {
      "get": {
        "description": "API WAREHOUSE SHORT PRODUCT\n- **EXEC PERM:** apiBestStagingLane-EXEC\n- **EDIT PERM:** apiBestStagingLane-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "consider_ltl",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "consider_picked",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCarrierMoveInYard": {
      "get": {
        "description": "Display data of non-dispatched carrier moves which has trailer assigned and moved/checked in to yard/door locations in the warehouse and corresponding order/ship-to customer/trailer/estimated order qty/staged qty /loaded qty infos. \n- **EXEC PERM:** apiCarrierMoveInYard-EXEC\n- **EDIT PERM:** apiCarrierMoveInYard-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCarrierMoveView": {
      "get": {
        "description": "Displays the information about carrier move status and staging lane and its used by the Automated Gatehouse\n- **EXEC PERM:** apiCarrierMoveView-EXEC\n- **EDIT PERM:** apiCarrierMoveView-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "car_move_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCarrierView": {
      "get": {
        "description": "Displays the information in assisting TCS in validating carriers\n- **EXEC PERM:** apiCarrierView-EXEC\n- **EDIT PERM:** apiCarrierView-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "carcod",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCaseInfo": {
      "get": {
        "description": "Displays the default item foot print details for the requested item at specific wh_id/prt_client_id level\n- **EXEC PERM:** apiCaseInfo-EXEC\n- **EDIT PERM:** apiCaseInfo-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "locale_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "prt_client_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "prtnum",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCasePickedCarMove": {
      "get": {
        "description": "Display Data for case-picked load ID per Carrier Move\n- **EXEC PERM:** apiCasePickedCarMove-EXEC\n- **EDIT PERM:** apiCasePickedCarMove-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "dtime",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCasePickedPallets": {
      "get": {
        "description": "Display Data Extract for Case Picked Pallets\n- **EXEC PERM:** apiCasePickedPallets-EXEC\n- **EDIT PERM:** apiCasePickedPallets-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "wh_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/apiCCALPSVOL": {
      "get": {
        "description": "Retrieves pick works info in requested ALPS pick face area. \n- **EXEC PERM:** apiCCALPSVOL-EXEC\n- **EDIT PERM:** apiCCALPSVOL-VIEW\n",
        "parameters": [
          {
            "in": "query",
            "name": "arecod",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wcs_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wh_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGeneral"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default error response for all status codes not defined above",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
[...]
