{
  "openapi": "3.0.3",
  "info": {
    "title": "HUD Fair Market Rent API",
    "version": "1.0.0",
    "description": "U.S. Department of Housing and Urban Development (HUD) Fair Market Rent (FMR) API. Provides access to Fair Market Rent data by state, county, metro area, and ZIP code for various bedroom sizes.",
    "x-jentic-source-url": "https://www.huduser.gov/portal/dataset/fmr-api.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.huduser.gov/hudapi/public/fmr"
    }
  ],
  "paths": {
    "/statedata/{stateCode}": {
      "get": {
        "operationId": "getStateFmr",
        "summary": "Get FMR data by state",
        "description": "Returns Fair Market Rent data for all counties and metro areas within a state.",
        "tags": [
          "Fair Market Rent"
        ],
        "parameters": [
          {
            "name": "stateCode",
            "in": "path",
            "required": true,
            "description": "Two-digit FIPS state code (e.g., 06 for California)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "FMR fiscal year (e.g., 2024)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State FMR data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateFmrResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "State not found"
          }
        },
        "security": [
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/data/{entityId}": {
      "get": {
        "operationId": "getEntityFmr",
        "summary": "Get FMR data by entity ID",
        "description": "Returns Fair Market Rent data for a specific county, metro area, or Small Area FMR ZIP code. Entity IDs follow FIPS conventions.",
        "tags": [
          "Fair Market Rent"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "description": "Entity identifier (county FIPS, CBSA code, or ZIP code prefixed with appropriate type code)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "FMR fiscal year",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity FMR data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityFmrResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Entity not found"
          }
        },
        "security": [
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/listMetroAreas": {
      "get": {
        "operationId": "listMetroAreas",
        "summary": "List metro areas",
        "description": "Returns a list of all metropolitan areas with their CBSA codes.",
        "tags": [
          "Reference"
        ],
        "responses": {
          "200": {
            "description": "List of metro areas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetroArea"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/listCounties/{stateCode}": {
      "get": {
        "operationId": "listCounties",
        "summary": "List counties in a state",
        "description": "Returns a list of all counties within a state.",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "stateCode",
            "in": "path",
            "required": true,
            "description": "Two-digit FIPS state code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of counties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/County"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid state code"
          }
        },
        "security": [
          {
            "tokenAuth": []
          }
        ]
      }
    },
    "/listStates": {
      "get": {
        "operationId": "listStates",
        "summary": "List states",
        "description": "Returns a list of all states with their FIPS codes.",
        "tags": [
          "Reference"
        ],
        "responses": {
          "200": {
            "description": "List of states",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/State"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "StateFmrResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "stateName": {
                "type": "string"
              },
              "stateCode": {
                "type": "string"
              },
              "year": {
                "type": "integer"
              },
              "metroareas": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FmrEntry"
                }
              },
              "counties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FmrEntry"
                }
              }
            }
          }
        }
      },
      "EntityFmrResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "basicdata": {
                "$ref": "#/components/schemas/FmrEntry"
              },
              "smallarea_data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SmallAreaFmr"
                }
              }
            }
          }
        }
      },
      "FmrEntry": {
        "type": "object",
        "properties": {
          "areaname": {
            "type": "string"
          },
          "area_code": {
            "type": "string"
          },
          "Efficiency": {
            "type": "number",
            "description": "FMR for efficiency/studio unit"
          },
          "One-Bedroom": {
            "type": "number",
            "description": "FMR for 1-bedroom unit"
          },
          "Two-Bedroom": {
            "type": "number",
            "description": "FMR for 2-bedroom unit"
          },
          "Three-Bedroom": {
            "type": "number",
            "description": "FMR for 3-bedroom unit"
          },
          "Four-Bedroom": {
            "type": "number",
            "description": "FMR for 4-bedroom unit"
          },
          "year": {
            "type": "integer"
          }
        }
      },
      "SmallAreaFmr": {
        "type": "object",
        "properties": {
          "zip_code": {
            "type": "string"
          },
          "Efficiency": {
            "type": "number"
          },
          "One-Bedroom": {
            "type": "number"
          },
          "Two-Bedroom": {
            "type": "number"
          },
          "Three-Bedroom": {
            "type": "number"
          },
          "Four-Bedroom": {
            "type": "number"
          }
        }
      },
      "MetroArea": {
        "type": "object",
        "properties": {
          "cbsa_code": {
            "type": "string",
            "description": "Core Based Statistical Area code"
          },
          "areaname": {
            "type": "string"
          }
        }
      },
      "County": {
        "type": "object",
        "properties": {
          "fips_code": {
            "type": "string"
          },
          "county_name": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          }
        }
      },
      "State": {
        "type": "object",
        "properties": {
          "state_code": {
            "type": "string"
          },
          "state_name": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer token from HUD user account"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Fair Market Rent"
    },
    {
      "name": "Reference"
    }
  ]
}
