{
  "openapi": "3.0.3",
  "info": {
    "title": "Davin V2 API",
    "version": "1.0.0",
    "description": "Generated from mobile-app API logs (HTTP 200 responses) + /subcontractors. Security omitted.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/NSAXENA_1/davin-v2/1.0.0"
  },
  "servers": [
    {
      "url": "https://davin.davinhealthcare.com/api"
    }
  ],
  "tags": [
    {
      "name": "Navigation"
    },
    {
      "name": "Onboarding"
    },
    {
      "name": "Account"
    },
    {
      "name": "Personal"
    },
    {
      "name": "Education"
    },
    {
      "name": "Work History"
    },
    {
      "name": "References"
    },
    {
      "name": "CPR Certifications"
    },
    {
      "name": "State Licenses"
    },
    {
      "name": "Medical Records"
    },
    {
      "name": "Position Specialty"
    },
    {
      "name": "Files"
    }
  ],
  "paths": {
    "/subcontractors": {
      "get": {
        "tags": [
          "Navigation"
        ],
        "summary": "List subcontractors and navigation",
        "operationId": "listSubcontractors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subcontractor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/missing_credentials": {
      "get": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Get missing credentials and progress bar",
        "operationId": "getMissingCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MissingCredentialsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/account_information": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account information",
        "operationId": "getAccountInformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInformationResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update account information (partial)",
        "operationId": "updateAccountInformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountInformationUpdate"
              },
              "examples": {
                "updateAddress1": {
                  "value": {
                    "Address1": "56 Lincoln Ave"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInformationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/personal": {
      "get": {
        "tags": [
          "Personal"
        ],
        "summary": "Get personal page form definition",
        "operationId": "getPersonalForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Personal"
        ],
        "summary": "Update personal information",
        "operationId": "updatePersonal",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormObject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/position_specialty": {
      "put": {
        "tags": [
          "Position Specialty"
        ],
        "summary": "Update position specialty",
        "operationId": "updatePositionSpecialty",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PositionSpecialtyUpdate"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PositionSpecialtyUpdateItem"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (can return error object even with 200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkOrError"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/education": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "List education records",
        "operationId": "listEducation",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EducationRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Education"
        ],
        "summary": "Create education record",
        "operationId": "createEducation",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EducationRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/education/new": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get education create form definition",
        "operationId": "getEducationCreateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/education/{educationId}": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get education update form definition",
        "operationId": "getEducationUpdateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/EducationId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Education"
        ],
        "summary": "Update education record (partial)",
        "operationId": "updateEducation",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/EducationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EducationRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EducationRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/work_history": {
      "get": {
        "tags": [
          "Work History"
        ],
        "summary": "List work history records",
        "operationId": "listWorkHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkHistoryRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Work History"
        ],
        "summary": "Create work history record",
        "operationId": "createWorkHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkHistoryCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/WorkHistoryRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkHistoryRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/work_history/new": {
      "get": {
        "tags": [
          "Work History"
        ],
        "summary": "Get work history create form definition",
        "operationId": "getWorkHistoryCreateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/work_history/{workHistoryId}": {
      "get": {
        "tags": [
          "Work History"
        ],
        "summary": "Get work history update form definition",
        "operationId": "getWorkHistoryUpdateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/WorkHistoryId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Work History"
        ],
        "summary": "Update work history record (partial)",
        "operationId": "updateWorkHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/WorkHistoryId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkHistoryUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/WorkHistoryRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkHistoryRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/work_history/file": {
      "post": {
        "tags": [
          "Files",
          "Work History"
        ],
        "summary": "Upload work history document",
        "operationId": "uploadWorkHistoryFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  },
                  "data": {
                    "type": "string",
                    "description": "Optional JSON string payload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK (can return error object even with 200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkOrError"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/references": {
      "get": {
        "tags": [
          "References"
        ],
        "summary": "List references",
        "operationId": "listReferences",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferenceRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "References"
        ],
        "summary": "Create reference",
        "operationId": "createReference",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReferenceRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReferenceRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/references/new": {
      "get": {
        "tags": [
          "References"
        ],
        "summary": "Get reference create form definition",
        "operationId": "getReferenceCreateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/references/{referenceId}": {
      "get": {
        "tags": [
          "References"
        ],
        "summary": "Get reference update form definition",
        "operationId": "getReferenceUpdateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/ReferenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/cpr_certifications": {
      "get": {
        "tags": [
          "CPR Certifications"
        ],
        "summary": "List CPR certifications",
        "operationId": "listCprCertifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CprCertificationRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CPR Certifications"
        ],
        "summary": "Create CPR certification",
        "operationId": "createCprCertification",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CprCertificationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CprCertificationRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CprCertificationRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/cpr_certifications/new": {
      "get": {
        "tags": [
          "CPR Certifications"
        ],
        "summary": "Get CPR certification create form definition",
        "operationId": "getCprCertificationCreateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/cpr_certifications/{cprCertificationId}": {
      "get": {
        "tags": [
          "CPR Certifications"
        ],
        "summary": "Get CPR certification update form definition",
        "operationId": "getCprCertificationUpdateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/CprCertificationId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/state_licenses": {
      "get": {
        "tags": [
          "State Licenses"
        ],
        "summary": "List state licenses",
        "operationId": "listStateLicenses",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StateLicenseRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "State Licenses"
        ],
        "summary": "Create state license",
        "operationId": "createStateLicense",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StateLicenseCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StateLicenseRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StateLicenseRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/state_licenses/new": {
      "get": {
        "tags": [
          "State Licenses"
        ],
        "summary": "Get state license create form definition",
        "operationId": "getStateLicenseCreateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/state_licenses/{stateLicenseId}": {
      "get": {
        "tags": [
          "State Licenses"
        ],
        "summary": "Get state license update form definition",
        "operationId": "getStateLicenseUpdateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/StateLicenseId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "State Licenses"
        ],
        "summary": "Update state license (partial)",
        "operationId": "updateStateLicense",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/StateLicenseId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StateLicenseUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StateLicenseRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StateLicenseRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/medical_records": {
      "get": {
        "tags": [
          "Medical Records"
        ],
        "summary": "List medical records",
        "operationId": "listMedicalRecords",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicalRecord"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Medical Records"
        ],
        "summary": "Create medical record",
        "operationId": "createMedicalRecord",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedicalRecordCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created (returned shape varies)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MedicalRecord"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MedicalRecord"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/medical_records/new": {
      "get": {
        "tags": [
          "Medical Records"
        ],
        "summary": "Get medical record create form definition",
        "operationId": "getMedicalRecordCreateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    },
    "/{subcontractorId}/medical_records/{medicalRecordId}": {
      "get": {
        "tags": [
          "Medical Records"
        ],
        "summary": "Get medical record update form definition",
        "operationId": "getMedicalRecordUpdateForm",
        "parameters": [
          {
            "$ref": "#/components/parameters/SubcontractorId"
          },
          {
            "$ref": "#/components/parameters/MedicalRecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormFieldList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "SubcontractorId": {
        "name": "subcontractorId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 11
      },
      "EducationId": {
        "name": "educationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 12227
      },
      "WorkHistoryId": {
        "name": "workHistoryId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 35437
      },
      "ReferenceId": {
        "name": "referenceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 20107
      },
      "CprCertificationId": {
        "name": "cprCertificationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 18156
      },
      "StateLicenseId": {
        "name": "stateLicenseId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 24983
      },
      "MedicalRecordId": {
        "name": "medicalRecordId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 83918
      }
    },
    "schemas": {
      "OkOrError": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FreeFormObject"
          },
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "FreeFormObject": {
        "type": "object",
        "additionalProperties": true
      },
      "NullableString": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "null"
          }
        ]
      },
      "NullableDate": {
        "oneOf": [
          {
            "type": "string",
            "format": "date"
          },
          {
            "type": "null"
          }
        ]
      },
      "NullableUri": {
        "oneOf": [
          {
            "type": "string",
            "format": "uri"
          },
          {
            "type": "null"
          }
        ]
      },
      "Subcontractor": {
        "type": "object",
        "properties": {
          "SubcontractorID": {
            "type": "integer"
          },
          "TenantID": {
            "type": "integer"
          },
          "SubcontractorName": {
            "type": "string"
          },
          "navigation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NavigationLink"
            }
          },
          "OnboardingStageListID": {
            "type": "integer"
          }
        },
        "required": [
          "SubcontractorID",
          "TenantID",
          "SubcontractorName",
          "navigation",
          "OnboardingStageListID"
        ]
      },
      "NavigationLink": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "name"
        ]
      },
      "MissingCredentialsResponse": {
        "type": "object",
        "properties": {
          "missingCredentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MissingCredentialItem"
            }
          },
          "progressBar": {
            "$ref": "#/components/schemas/ProgressBar"
          }
        },
        "required": [
          "missingCredentials",
          "progressBar"
        ]
      },
      "MissingCredentialItem": {
        "type": "object",
        "additionalProperties": true
      },
      "ProgressBar": {
        "type": "object",
        "properties": {
          "required": {
            "type": "integer"
          },
          "completed": {
            "type": "integer"
          },
          "percentage": {
            "type": "string"
          }
        },
        "required": [
          "required",
          "completed",
          "percentage"
        ]
      },
      "AccountInformationResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AccountInformation"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountInformation"
            }
          }
        ]
      },
      "AccountInformation": {
        "type": "object",
        "additionalProperties": true
      },
      "AccountInformationUpdate": {
        "type": "object",
        "additionalProperties": true
      },
      "FormFieldList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/FormField"
        }
      },
      "FormField": {
        "type": "object",
        "additionalProperties": true
      },
      "EducationRecord": {
        "type": "object",
        "additionalProperties": true
      },
      "EducationUpsertRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "WorkHistoryRecord": {
        "type": "object",
        "additionalProperties": true
      },
      "WorkHistoryCreateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "WorkHistoryUpdateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "ReferenceRecord": {
        "type": "object",
        "additionalProperties": true
      },
      "ReferenceCreateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "CprCertificationRecord": {
        "type": "object",
        "additionalProperties": true
      },
      "CprCertificationCreateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "StateLicenseRecord": {
        "type": "object",
        "additionalProperties": true
      },
      "StateLicenseCreateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "StateLicenseUpdateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "MedicalRecord": {
        "type": "object",
        "additionalProperties": true
      },
      "MedicalRecordCreateRequest": {
        "type": "object",
        "additionalProperties": true
      },
      "PositionSpecialtyUpdate": {
        "type": "object",
        "additionalProperties": true
      },
      "PositionSpecialtyUpdateItem": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}