{
  "openapi": "3.0.3",
  "info": {
    "title": "ThingSpeak API",
    "description": "MathWorks ThingSpeak IoT platform REST API for collecting, storing, analyzing, visualizing, and acting on IoT data. Provides channel management, data feed read/write, and field-level data access.",
    "version": "v1",
    "contact": {
      "name": "MathWorks",
      "url": "https://thingspeak.com"
    },
    "x-jentic-source-url": "https://www.mathworks.com/help/thingspeak/rest-api.html",
    "x-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://api.thingspeak.com",
      "description": "ThingSpeak production API server"
    }
  ],
  "paths": {
    "/update.json": {
      "post": {
        "operationId": "updateChannelFeed",
        "summary": "Write data to a channel feed",
        "description": "Update a channel feed with new data for up to 8 fields. Requires the channel Write API Key.",
        "security": [{ "writeApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": { "type": "string", "description": "Write API Key for the channel" },
                  "field1": { "type": "string", "description": "Field 1 data" },
                  "field2": { "type": "string", "description": "Field 2 data" },
                  "field3": { "type": "string", "description": "Field 3 data" },
                  "field4": { "type": "string", "description": "Field 4 data" },
                  "field5": { "type": "string", "description": "Field 5 data" },
                  "field6": { "type": "string", "description": "Field 6 data" },
                  "field7": { "type": "string", "description": "Field 7 data" },
                  "field8": { "type": "string", "description": "Field 8 data" },
                  "latitude": { "type": "number", "description": "Latitude of the data point" },
                  "longitude": { "type": "number", "description": "Longitude of the data point" },
                  "elevation": { "type": "number", "description": "Elevation in meters" },
                  "status": { "type": "string", "description": "Status update message" },
                  "twitter": { "type": "string", "description": "Twitter username for ThingTweet" },
                  "tweet": { "type": "string", "description": "Tweet message for ThingTweet" },
                  "created_at": { "type": "string", "format": "date-time", "description": "Timestamp for the entry (ISO 8601)" }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": { "type": "string" },
                  "field1": { "type": "string" },
                  "field2": { "type": "string" },
                  "field3": { "type": "string" },
                  "field4": { "type": "string" },
                  "field5": { "type": "string" },
                  "field6": { "type": "string" },
                  "field7": { "type": "string" },
                  "field8": { "type": "string" },
                  "latitude": { "type": "number" },
                  "longitude": { "type": "number" },
                  "elevation": { "type": "number" },
                  "status": { "type": "string" },
                  "created_at": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry ID of the new record (0 if failed)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "Entry ID of the created record, or 0 on failure"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/feeds.json": {
      "get": {
        "operationId": "readChannelFeed",
        "summary": "Read channel feed",
        "description": "Retrieve data from all fields in a channel. Public channels do not require an API key; private channels require a Read API Key.",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Channel ID"
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Read API Key (required for private channels)"
          },
          {
            "name": "results",
            "in": "query",
            "schema": { "type": "integer", "default": 100 },
            "description": "Number of entries to retrieve (max 8000)"
          },
          {
            "name": "days",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Number of days of data to retrieve"
          },
          {
            "name": "minutes",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Number of minutes of data to retrieve"
          },
          {
            "name": "start",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Start date (ISO 8601)"
          },
          {
            "name": "end",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "End date (ISO 8601)"
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Timezone identifier (e.g., America/New_York)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Timezone offset in hours"
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "Include status field"
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "Include metadata"
          },
          {
            "name": "location",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "Include location data"
          },
          {
            "name": "round",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Round values to N decimal places"
          },
          {
            "name": "timescale",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Averaging timescale in minutes"
          },
          {
            "name": "sum",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Sum timescale in minutes"
          },
          {
            "name": "average",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Average timescale in minutes"
          },
          {
            "name": "median",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Median timescale in minutes"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel feed data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channel": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer" },
                        "name": { "type": "string" },
                        "description": { "type": "string" },
                        "latitude": { "type": "string" },
                        "longitude": { "type": "string" },
                        "field1": { "type": "string" },
                        "field2": { "type": "string" },
                        "field3": { "type": "string" },
                        "field4": { "type": "string" },
                        "field5": { "type": "string" },
                        "field6": { "type": "string" },
                        "field7": { "type": "string" },
                        "field8": { "type": "string" },
                        "created_at": { "type": "string", "format": "date-time" },
                        "updated_at": { "type": "string", "format": "date-time" },
                        "last_entry_id": { "type": "integer" }
                      }
                    },
                    "feeds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": { "type": "string", "format": "date-time" },
                          "entry_id": { "type": "integer" },
                          "field1": { "type": "string" },
                          "field2": { "type": "string" },
                          "field3": { "type": "string" },
                          "field4": { "type": "string" },
                          "field5": { "type": "string" },
                          "field6": { "type": "string" },
                          "field7": { "type": "string" },
                          "field8": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/feeds/last.json": {
      "get": {
        "operationId": "readLastEntry",
        "summary": "Read last entry in channel feed",
        "description": "Retrieve the most recent entry in a channel feed.",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Read API Key (required for private channels)"
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "location",
            "in": "query",
            "schema": { "type": "boolean" }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "Last feed entry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": { "type": "string", "format": "date-time" },
                    "entry_id": { "type": "integer" },
                    "field1": { "type": "string" },
                    "field2": { "type": "string" },
                    "field3": { "type": "string" },
                    "field4": { "type": "string" },
                    "field5": { "type": "string" },
                    "field6": { "type": "string" },
                    "field7": { "type": "string" },
                    "field8": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/fields/{fieldId}.json": {
      "get": {
        "operationId": "readFieldFeed",
        "summary": "Read a specific field feed",
        "description": "Retrieve data for a single field in a channel.",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "Channel ID"
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 1, "maximum": 8 },
            "description": "Field number (1-8)"
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Read API Key (required for private channels)"
          },
          {
            "name": "results",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Number of entries to retrieve"
          },
          {
            "name": "days",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "start",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "end",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Field feed data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channel": { "type": "object" },
                    "feeds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": { "type": "string", "format": "date-time" },
                          "entry_id": { "type": "integer" },
                          "field1": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/fields/{fieldId}/last.json": {
      "get": {
        "operationId": "readLastFieldEntry",
        "summary": "Read last entry for a field",
        "description": "Retrieve the most recent value of a specific field.",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 1, "maximum": 8 }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Last field entry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": { "type": "string", "format": "date-time" },
                    "entry_id": { "type": "integer" },
                    "field1": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels.json": {
      "get": {
        "operationId": "listUserChannels",
        "summary": "List user channels",
        "description": "List all channels for the authenticated user.",
        "security": [{ "userApiKey": [] }],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "User API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "name": { "type": "string" },
                      "description": { "type": "string" },
                      "latitude": { "type": "string" },
                      "longitude": { "type": "string" },
                      "field1": { "type": "string" },
                      "field2": { "type": "string" },
                      "field3": { "type": "string" },
                      "field4": { "type": "string" },
                      "field5": { "type": "string" },
                      "field6": { "type": "string" },
                      "field7": { "type": "string" },
                      "field8": { "type": "string" },
                      "created_at": { "type": "string", "format": "date-time" },
                      "updated_at": { "type": "string", "format": "date-time" },
                      "last_entry_id": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChannel",
        "summary": "Create a channel",
        "description": "Create a new ThingSpeak channel.",
        "security": [{ "userApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["api_key"],
                "properties": {
                  "api_key": { "type": "string", "description": "User API Key" },
                  "name": { "type": "string", "description": "Channel name" },
                  "description": { "type": "string" },
                  "field1": { "type": "string", "description": "Field 1 label" },
                  "field2": { "type": "string", "description": "Field 2 label" },
                  "field3": { "type": "string", "description": "Field 3 label" },
                  "field4": { "type": "string", "description": "Field 4 label" },
                  "field5": { "type": "string", "description": "Field 5 label" },
                  "field6": { "type": "string", "description": "Field 6 label" },
                  "field7": { "type": "string", "description": "Field 7 label" },
                  "field8": { "type": "string", "description": "Field 8 label" },
                  "latitude": { "type": "number" },
                  "longitude": { "type": "number" },
                  "elevation": { "type": "number" },
                  "public_flag": { "type": "boolean", "description": "Make channel public" },
                  "tags": { "type": "string", "description": "Comma-separated tags" },
                  "url": { "type": "string" },
                  "metadata": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "api_keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_key": { "type": "string" },
                          "write_flag": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}.json": {
      "get": {
        "operationId": "getChannelInfo",
        "summary": "Get channel information",
        "description": "Retrieve information about a specific channel.",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Read API Key (for private channels) or User API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "field1": { "type": "string" },
                    "field2": { "type": "string" },
                    "field3": { "type": "string" },
                    "field4": { "type": "string" },
                    "field5": { "type": "string" },
                    "field6": { "type": "string" },
                    "field7": { "type": "string" },
                    "field8": { "type": "string" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "last_entry_id": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateChannel",
        "summary": "Update a channel",
        "description": "Update an existing channel's settings.",
        "security": [{ "userApiKey": [] }],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["api_key"],
                "properties": {
                  "api_key": { "type": "string", "description": "User API Key" },
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "field1": { "type": "string" },
                  "field2": { "type": "string" },
                  "field3": { "type": "string" },
                  "field4": { "type": "string" },
                  "field5": { "type": "string" },
                  "field6": { "type": "string" },
                  "field7": { "type": "string" },
                  "field8": { "type": "string" },
                  "latitude": { "type": "number" },
                  "longitude": { "type": "number" },
                  "elevation": { "type": "number" },
                  "public_flag": { "type": "boolean" },
                  "tags": { "type": "string" },
                  "url": { "type": "string" },
                  "metadata": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Channel updated" }
        }
      },
      "delete": {
        "operationId": "deleteChannel",
        "summary": "Delete a channel",
        "description": "Delete a channel and all its data.",
        "security": [{ "userApiKey": [] }],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "User API Key"
          }
        ],
        "responses": {
          "200": { "description": "Channel deleted" }
        }
      }
    },
    "/channels/{channelId}/feeds/clear.json": {
      "delete": {
        "operationId": "clearChannelFeed",
        "summary": "Clear a channel feed",
        "description": "Delete all data entries in a channel feed without deleting the channel itself.",
        "security": [{ "userApiKey": [] }],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "User API Key"
          }
        ],
        "responses": {
          "200": { "description": "Channel feed cleared" }
        }
      }
    },
    "/channels/{channelId}/status.json": {
      "get": {
        "operationId": "readChannelStatus",
        "summary": "Read channel status updates",
        "description": "Retrieve status field updates for a channel.",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Read API Key (for private channels)"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel status updates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channel": { "type": "object" },
                    "feeds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": { "type": "string", "format": "date-time" },
                          "entry_id": { "type": "integer" },
                          "status": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "writeApiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Channel Write API Key for sending data to a channel"
      },
      "readApiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Channel Read API Key for reading private channel data"
      },
      "userApiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "User API Key for account-level operations (channel management)"
      }
    }
  }
}