{
  "openapi": "3.0.3",
  "info": {
    "title": "Codemagic REST API",
    "version": "1.0.0",
    "description": "API for managing applications and builds on Codemagic CI/CD platform. Provides endpoints for starting/canceling builds and managing applications added to Codemagic.",
    "x-jentic-source-url": "https://docs.codemagic.io/rest-api/builds/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.codemagic.io",
      "description": "Codemagic API server"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Builds",
      "description": "API for starting and managing app builds"
    },
    {
      "name": "Applications",
      "description": "API for managing apps added to Codemagic"
    }
  ],
  "paths": {
    "/builds": {
      "post": {
        "operationId": "startBuild",
        "summary": "Start a new build",
        "description": "Start a new build for an application. The workflow and branch information is passed with the request. Any configuration related to triggers or branches in Flutter workflow editor or codemagic.yaml is ignored.",
        "tags": [
          "Builds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartBuildRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Build started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartBuildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{buildId}/cancel": {
      "post": {
        "operationId": "cancelBuild",
        "summary": "Cancel a build",
        "description": "Cancel an in-progress build. Returns 208 Already Reported if the build has already finished.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the build to cancel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build cancelled successfully"
          },
          "208": {
            "description": "Build has already finished"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "get": {
        "operationId": "listApplications",
        "summary": "Retrieve all applications",
        "description": "Retrieves a list of all applications added to Codemagic. Note: Using REST API will not fetch information about workflows when configuring with codemagic.yaml.",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "List of applications retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApplicationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addApplication",
        "summary": "Add a new application",
        "description": "Adds a Git repository to the applications list.",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddApplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Retrieve an application",
        "description": "Retrieves application information based on the application ID provided.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/new": {
      "post": {
        "operationId": "addApplicationFromPrivateRepo",
        "summary": "Add a new application from a private repository",
        "description": "Creates an application from a private repository with an SSH key.",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPrivateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-auth-token",
        "description": "Codemagic API token for authentication"
      }
    },
    "schemas": {
      "StartBuildRequest": {
        "type": "object",
        "required": [
          "appId",
          "workflowId"
        ],
        "properties": {
          "appId": {
            "type": "string",
            "description": "The application identifier"
          },
          "workflowId": {
            "type": "string",
            "description": "The workflow identifier as specified in YAML file"
          },
          "branch": {
            "type": "string",
            "description": "The branch name. Either branch or tag is required."
          },
          "tag": {
            "type": "string",
            "description": "The tag name. Either branch or tag is required."
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels to be included for the build in addition to existing labels"
          },
          "environment": {
            "$ref": "#/components/schemas/BuildEnvironment"
          },
          "instanceType": {
            "type": "string",
            "description": "The instance type to use for the build (e.g., mac_mini_m2)"
          }
        }
      },
      "BuildEnvironment": {
        "type": "object",
        "description": "Specify environment variables, variable groups, and software versions to override or define in workflow settings",
        "properties": {
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of environment variables"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Variable group names to include"
          },
          "softwareVersions": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Software version overrides (e.g., xcode, flutter)"
          }
        }
      },
      "StartBuildResponse": {
        "type": "object",
        "properties": {
          "buildId": {
            "type": "string",
            "description": "The unique identifier of the started build"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the application"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application"
          },
          "branches": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of branch names"
          },
          "workflowIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of workflow identifiers"
          },
          "workflows": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Workflow"
            },
            "description": "Map of workflow IDs to workflow details"
          }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the workflow"
          }
        }
      },
      "ListApplicationsResponse": {
        "type": "object",
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          }
        }
      },
      "GetApplicationResponse": {
        "type": "object",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/Application"
          }
        }
      },
      "AddApplicationRequest": {
        "type": "object",
        "required": [
          "repositoryUrl"
        ],
        "properties": {
          "repositoryUrl": {
            "type": "string",
            "description": "SSH or HTTPS URL for cloning the repository"
          },
          "teamId": {
            "type": "string",
            "description": "Team ID, if you wish to add an app directly to one of your teams. You must be an admin in the team specified."
          }
        }
      },
      "AddApplicationResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the new application"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application"
          }
        }
      },
      "AddPrivateApplicationRequest": {
        "type": "object",
        "required": [
          "repositoryUrl",
          "sshKey"
        ],
        "properties": {
          "repositoryUrl": {
            "type": "string",
            "description": "SSH or HTTPS URL for cloning the repository"
          },
          "sshKey": {
            "$ref": "#/components/schemas/SshKey"
          },
          "projectType": {
            "type": "string",
            "description": "Project type (e.g., flutter-app when adding Flutter application)"
          },
          "teamId": {
            "type": "string",
            "description": "Team ID, if you wish to add an app directly to one of your teams. You must be an admin of the team specified."
          }
        }
      },
      "SshKey": {
        "type": "object",
        "required": [
          "data",
          "passphrase"
        ],
        "properties": {
          "data": {
            "type": "string",
            "description": "base64-encoded private key file"
          },
          "passphrase": {
            "type": "string",
            "nullable": true,
            "description": "SSH key passphrase or null if SSH key is without a passphrase"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  }
}
