{
  "openapi": "3.0.3",
  "info": {
    "title": "Smile Identity API",
    "version": "1.0.0",
    "description": "Smile Identity KYC/identity verification API for Africa. Supports biometric, document, and business verification with server-to-server REST endpoints.",
    "x-jentic-source-url": "https://docs.usesmileid.com/",
    "contact": {
      "name": "Smile Identity",
      "url": "https://www.smileidentity.com"
    }
  },
  "servers": [
    {
      "url": "https://testapi.smileidentity.com/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://api.smileidentity.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "partnerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Partner authentication"
    },
    {
      "name": "ID Verification",
      "description": "Identity verification"
    },
    {
      "name": "Biometric",
      "description": "Biometric verification"
    },
    {
      "name": "Document",
      "description": "Document verification"
    },
    {
      "name": "Business",
      "description": "Business verification"
    },
    {
      "name": "Jobs",
      "description": "Job management"
    },
    {
      "name": "Webhooks",
      "description": "Callback management"
    }
  ],
  "paths": {
    "/auth_smile": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "authSmile",
        "summary": "Authenticate partner",
        "description": "Generate a signature for API requests using HMAC.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "partner_id",
                  "timestamp",
                  "signature"
                ],
                "properties": {
                  "partner_id": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "signature": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "upload",
        "summary": "Upload images and create a job",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "partner_id": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "partner_params": {
                    "type": "string"
                  },
                  "images": {
                    "type": "string"
                  },
                  "id_info": {
                    "type": "string"
                  },
                  "callback_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Upload images and create a job"
      }
    },
    "/id_verification": {
      "post": {
        "tags": [
          "ID Verification"
        ],
        "operationId": "idVerification",
        "summary": "Submit ID verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Submit ID verification"
      }
    },
    "/business_verification": {
      "post": {
        "tags": [
          "Business"
        ],
        "operationId": "businessVerification",
        "summary": "Submit business verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "partner_id": {
                    "type": "string"
                  },
                  "partner_params": {
                    "type": "object"
                  },
                  "id_info": {
                    "type": "object"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business verification result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Submit business verification"
      }
    },
    "/totp_consent": {
      "post": {
        "tags": [
          "ID Verification"
        ],
        "operationId": "totpConsent",
        "summary": "Submit TOTP consent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "partner_id": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "totp": {
                    "type": "string"
                  },
                  "session_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Submit TOTP consent"
      }
    },
    "/job_status": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "getJobStatus",
        "summary": "Get job status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "partner_id": {
                    "type": "string"
                  },
                  "job_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "image_links": {
                    "type": "boolean"
                  },
                  "history": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get job status"
      }
    },
    "/services": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "getServices",
        "summary": "Get available services",
        "responses": {
          "200": {
            "description": "Available services"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get available services"
      }
    },
    "/doc_verification": {
      "post": {
        "tags": [
          "Document"
        ],
        "operationId": "docVerification",
        "summary": "Submit document verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Submit document verification"
      }
    },
    "/enhanced_kyc": {
      "post": {
        "tags": [
          "ID Verification"
        ],
        "operationId": "enhancedKyc",
        "summary": "Enhanced KYC verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enhanced KYC result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Enhanced KYC verification"
      }
    },
    "/aml": {
      "post": {
        "tags": [
          "ID Verification"
        ],
        "operationId": "amlCheck",
        "summary": "AML check",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AML result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "AML check"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "partnerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "HMAC-signed partner authentication"
      }
    },
    "schemas": {
      "IdVerificationRequest": {
        "type": "object",
        "required": [
          "partner_id",
          "partner_params",
          "id_info",
          "signature",
          "timestamp"
        ],
        "properties": {
          "partner_id": {
            "type": "string"
          },
          "partner_params": {
            "type": "object",
            "properties": {
              "job_id": {
                "type": "string"
              },
              "user_id": {
                "type": "string"
              },
              "job_type": {
                "type": "integer"
              }
            }
          },
          "id_info": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "id_type": {
                "type": "string"
              },
              "id_number": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "dob": {
                "type": "string"
              }
            }
          },
          "signature": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          }
        }
      },
      "VerificationResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result_code": {
            "type": "string"
          },
          "result_text": {
            "type": "string"
          },
          "Actions": {
            "type": "object"
          },
          "PartnerParams": {
            "type": "object"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "job_success": {
            "type": "boolean"
          },
          "job_complete": {
            "type": "boolean"
          },
          "result": {
            "type": "object"
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}
