{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA FIRMS Fire Data API",
    "version": "1.0.0",
    "description": "NASA Fire Information for Resource Management System (FIRMS) provides near real-time active fire data from MODIS, VIIRS, and LANDSAT satellites. Retrieve fire hotspot data by area (bounding box) or country in CSV format.",
    "x-jentic-source-url": "https://firms.modaps.eosdis.nasa.gov/web-services/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://firms.modaps.eosdis.nasa.gov"
    }
  ],
  "paths": {
    "/api/area/csv/{map_key}/{source}/{area_coordinates}/{day_range}": {
      "get": {
        "operationId": "getFireDataByAreaRecent",
        "summary": "Get recent fire data by area",
        "description": "Get most recent fire data for a bounding box area. Returns data from today to today minus (day_range - 1) days.",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "map_key",
            "in": "path",
            "description": "Your FIRMS MAP_KEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "path",
            "description": "Satellite data source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LANDSAT_NRT",
                "MODIS_NRT",
                "MODIS_SP",
                "VIIRS_NOAA20_NRT",
                "VIIRS_NOAA20_SP",
                "VIIRS_NOAA21_NRT",
                "VIIRS_SNPP_NRT",
                "VIIRS_SNPP_SP"
              ]
            }
          },
          {
            "name": "area_coordinates",
            "in": "path",
            "description": "Bounding box as west,south,east,north or 'world' for global",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "-85,-57,-32,14"
          },
          {
            "name": "day_range",
            "in": "path",
            "description": "Number of days to query (1-5)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data with fire hotspot detections",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid API call"
          },
          "401": {
            "description": "Invalid or missing MAP_KEY"
          }
        }
      }
    },
    "/api/area/csv/{map_key}/{source}/{area_coordinates}/{day_range}/{date}": {
      "get": {
        "operationId": "getFireDataByAreaDate",
        "summary": "Get fire data by area and date",
        "description": "Get fire data for a bounding box area starting from a specific date. Returns data for date to date + (day_range - 1).",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "map_key",
            "in": "path",
            "description": "Your FIRMS MAP_KEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "path",
            "description": "Satellite data source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LANDSAT_NRT",
                "MODIS_NRT",
                "MODIS_SP",
                "VIIRS_NOAA20_NRT",
                "VIIRS_NOAA20_SP",
                "VIIRS_NOAA21_NRT",
                "VIIRS_SNPP_NRT",
                "VIIRS_SNPP_SP"
              ]
            }
          },
          {
            "name": "area_coordinates",
            "in": "path",
            "description": "Bounding box as west,south,east,north or 'world'",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "day_range",
            "in": "path",
            "description": "Number of days (1-5)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data with fire hotspot detections",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid API call"
          },
          "401": {
            "description": "Invalid or missing MAP_KEY"
          }
        }
      }
    },
    "/api/country/csv/{map_key}/{source}/{country_code}/{day_range}": {
      "get": {
        "operationId": "getFireDataByCountryRecent",
        "summary": "Get recent fire data by country",
        "description": "Get most recent fire data for a specific country using ISO 3166-1 alpha-3 country code.",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "map_key",
            "in": "path",
            "description": "Your FIRMS MAP_KEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "path",
            "description": "Satellite data source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LANDSAT_NRT",
                "MODIS_NRT",
                "MODIS_SP",
                "VIIRS_NOAA20_NRT",
                "VIIRS_NOAA20_SP",
                "VIIRS_NOAA21_NRT",
                "VIIRS_SNPP_NRT",
                "VIIRS_SNPP_SP"
              ]
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "description": "ISO 3166-1 alpha-3 country code (e.g. USA, BRA, AUS)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "day_range",
            "in": "path",
            "description": "Number of days (1-5)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data with fire hotspot detections",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid API call"
          },
          "401": {
            "description": "Invalid or missing MAP_KEY"
          }
        }
      }
    },
    "/api/country/csv/{map_key}/{source}/{country_code}/{day_range}/{date}": {
      "get": {
        "operationId": "getFireDataByCountryDate",
        "summary": "Get fire data by country and date",
        "description": "Get fire data for a specific country from a given date.",
        "tags": [
          "Fire Data"
        ],
        "parameters": [
          {
            "name": "map_key",
            "in": "path",
            "description": "Your FIRMS MAP_KEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "path",
            "description": "Satellite data source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LANDSAT_NRT",
                "MODIS_NRT",
                "MODIS_SP",
                "VIIRS_NOAA20_NRT",
                "VIIRS_NOAA20_SP",
                "VIIRS_NOAA21_NRT",
                "VIIRS_SNPP_NRT",
                "VIIRS_SNPP_SP"
              ]
            }
          },
          {
            "name": "country_code",
            "in": "path",
            "description": "ISO 3166-1 alpha-3 country code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "day_range",
            "in": "path",
            "description": "Number of days (1-5)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data with fire hotspot detections",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid API call"
          },
          "401": {
            "description": "Invalid or missing MAP_KEY"
          }
        }
      }
    },
    "/api/data_availability/csv/{map_key}/{source}": {
      "get": {
        "operationId": "checkDataAvailability",
        "summary": "Check data availability",
        "description": "Check available date range for a specific fire data source.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "map_key",
            "in": "path",
            "description": "Your FIRMS MAP_KEY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "path",
            "description": "Satellite data source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LANDSAT_NRT",
                "MODIS_NRT",
                "MODIS_SP",
                "VIIRS_NOAA20_NRT",
                "VIIRS_NOAA20_SP",
                "VIIRS_NOAA21_NRT",
                "VIIRS_SNPP_NRT",
                "VIIRS_SNPP_SP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data availability dates in CSV format",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid API call"
          },
          "401": {
            "description": "Invalid or missing MAP_KEY"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "mapKeyPath": {
        "type": "apiKey",
        "in": "header",
        "name": "map_key",
        "description": "MAP_KEY embedded in the URL path. Request a free key from FIRMS."
      }
    }
  },
  "tags": [
    {
      "name": "Fire Data"
    },
    {
      "name": "Metadata"
    }
  ]
}
