{
  "openapi": "3.0.0",
  "info": {
    "title": "JobTalk Authentication & Purchase Flow APIs",
    "description": "API documentation for user authentication (Sign In / Sign Up) and purchase plan flow in JobTalk.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jobtalk-98d/jobtalk-authentication-purchase-flow-apis/1.0.0"
  },
  "servers": [
    {
      "url": "https://jobtalk.ai/api",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Sign In / Sign Up with Email",
        "description": "This API is used for both **email-based sign in and sign up**. If the user already exists, it logs the user in. If the user does not exist and additional details are provided, it creates a new user account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "test@yopmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Admin@123"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "company": {
                    "type": "string",
                    "example": "Company Name"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1234567890"
                  },
                  "role": {
                    "type": "string",
                    "example": "ADMIN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User authenticated successfully"
          },
          "400": {
            "description": "Validation error or missing fields"
          },
          "401": {
            "description": "Invalid email or password"
          }
        }
      }
    },
    "/auth/google": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Sign In / Sign Up with Google",
        "description": "Initiates Google OAuth authentication. Redirects the user to Google login and creates or logs in the user upon successful authentication.",
        "responses": {
          "302": {
            "description": "Redirects to Google OAuth consent screen"
          }
        }
      }
    },
    "/auth/linkedin": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Sign In / Sign Up with LinkedIn",
        "description": "Initiates LinkedIn OAuth authentication. Redirects the user to LinkedIn login and creates or logs in the user upon successful authentication.",
        "responses": {
          "302": {
            "description": "Redirects to LinkedIn OAuth consent screen"
          }
        }
      }
    },
    "/auth/create-user": {
      "post": {
        "tags": [
          "Purchase Flow"
        ],
        "summary": "Create User Before Purchase",
        "description": "Creates a user account before purchasing a plan. This API is used on the landing page prior to initiating the payment process.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "firstName",
                  "password",
                  "confirmPassword"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "ccc@gmail.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "cc"
                  },
                  "lastName": {
                    "type": "string",
                    "example": ""
                  },
                  "password": {
                    "type": "string",
                    "example": "Asdf@1234"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "Asdf@1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "description": "Validation error or password mismatch"
          }
        }
      }
    },
    "/transaction/create/gateway": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Add Payment Data",
        "description": "Creates a payment transaction using the payment gateway after the user is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "price",
                  "currency",
                  "email",
                  "firstName",
                  "mode"
                ],
                "properties": {
                  "price": {
                    "type": "number",
                    "example": 10
                  },
                  "currency": {
                    "type": "string",
                    "example": "usd"
                  },
                  "email": {
                    "type": "string",
                    "example": "mandani17@yopmail.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "bhavdip"
                  },
                  "lastName": {
                    "type": "string",
                    "example": ""
                  },
                  "mode": {
                    "type": "string",
                    "example": "payment"
                  },
                  "priceId": {
                    "type": "string",
                    "example": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment transaction created successfully"
          },
          "400": {
            "description": "Payment creation failed"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "APIs related to user sign in and sign up"
    },
    {
      "name": "Purchase Flow",
      "description": "APIs used before purchasing a plan"
    },
    {
      "name": "Payments",
      "description": "Payment gateway related APIs"
    }
  ]
}