{
  "openapi": "3.0.3",
  "info": {
    "title": "API Zero Common - Acteco",
    "description": "Esquema combinado de API v1 y v2 para Acteco. Incluye endpoints v2 con resoluci\u00f3n batch, consultas v1, y operaciones de gesti\u00f3n.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/teimassl/api-zero-common-acteco/2.0.0"
  },
  "servers": [
    {
      "url": "https://api.testszero.com/v2",
      "description": "Entorno de pruebas"
    }
  ],
  "paths": {
    "/outgoings/": {
      "post": {
        "summary": "Crea una salida con resoluci\u00f3n autom\u00e1tica de IDs",
        "tags": [
          "Salidas"
        ],
        "parameters": [],
        "responses": {
          "202": {
            "description": "Informaci\u00f3n sobre la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "$ref": "#/components/schemas/AsyncRequestResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "La petici\u00f3n no puede realizarse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "El servicio no est\u00e1 disponible.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "**PETICI\u00d3N AS\u00cdNCRONA**\n\n# Crea una salida en estado 'borrador' con resoluci\u00f3n autom\u00e1tica de IDs\n\nFormato JSON estandarizado completo con resoluci\u00f3n autom\u00e1tica de todos los IDs en una \u00fanica llamada.\n",
        "requestBody": {
          "description": "Datos empleados para la creaci\u00f3n de la salida.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callback": {
                    "$ref": "#/components/schemas/AsyncRequestCallback"
                  },
                  "outgoing": {
                    "type": "object",
                    "description": "Documento completo.",
                    "properties": {
                      "producer": {
                        "type": "object",
                        "description": "Productor (b\u00fasqueda flexible por m\u00faltiples campos).",
                        "properties": {
                          "cif": {
                            "type": "string",
                            "description": "CIF"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "commercial_name": {
                            "type": "string",
                            "description": "Nombre comercial"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "person_name": {
                            "type": "string",
                            "description": "Nombre de persona f\u00edsica (aut\u00f3nomos)"
                          },
                          "person_surname1": {
                            "type": "string",
                            "description": "Primer apellido"
                          },
                          "person_surname2": {
                            "type": "string",
                            "description": "Segundo apellido"
                          },
                          "environmental_code": {
                            "type": "string",
                            "description": "NIMA"
                          },
                          "address": {
                            "type": "string",
                            "description": "Direcci\u00f3n"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "CP"
                          },
                          "locality": {
                            "type": "string",
                            "description": "Localidad"
                          },
                          "level1_political_division_name": {
                            "type": "string",
                            "description": "Comunidad"
                          },
                          "level2_political_division_name": {
                            "type": "string",
                            "description": "Provincia"
                          },
                          "level3_political_division_name": {
                            "type": "string",
                            "description": "Municipio"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitud",
                            "format": "float"
                          },
                          "lng": {
                            "type": "number",
                            "description": "Longitud",
                            "format": "float"
                          },
                          "radius_km": {
                            "type": "number",
                            "description": "Radio km",
                            "format": "float"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Tel\u00e9fono"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email"
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "producer_administrative_unit": {
                        "type": "object",
                        "description": "Unidad administrativa productora (b\u00fasqueda por NIMA, code, GPS, etc.).",
                        "properties": {
                          "nima": {
                            "type": "string",
                            "description": "NIMA (c\u00f3digo ambiental, ej: ES010100000012)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre del centro"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo interno del centro"
                          },
                          "locality": {
                            "type": "string",
                            "description": "Localidad/ciudad (ej: Barcelona)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "C\u00f3digo postal (ej: 28001)"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitud GPS para b\u00fasqueda por proximidad (-90 a 90)",
                            "format": "float"
                          },
                          "lng": {
                            "type": "number",
                            "description": "Longitud GPS para b\u00fasqueda por proximidad (-180 a 180)",
                            "format": "float"
                          },
                          "radius_km": {
                            "type": "number",
                            "description": "Radio de b\u00fasqueda GPS en km (default: 10)",
                            "format": "float"
                          }
                        }
                      },
                      "producer_business_unit": {
                        "type": "object",
                        "description": "Unidad de negocio.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          }
                        }
                      },
                      "internal_operator": {
                        "type": "object",
                        "description": "Operador interno.",
                        "properties": {
                          "cif": {
                            "type": "string",
                            "description": "CIF"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "commercial_name": {
                            "type": "string",
                            "description": "Nombre comercial"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "person_name": {
                            "type": "string",
                            "description": "Nombre de persona f\u00edsica"
                          },
                          "person_surname1": {
                            "type": "string",
                            "description": "Primer apellido"
                          },
                          "person_surname2": {
                            "type": "string",
                            "description": "Segundo apellido"
                          },
                          "environmental_code": {
                            "type": "string",
                            "description": "NIMA"
                          }
                        }
                      },
                      "internal_operator_administrative_unit": {
                        "type": "object",
                        "description": "Unidad administrativa operador interno.",
                        "properties": {
                          "nima": {
                            "type": "string",
                            "description": "NIMA del centro operador"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "locality": {
                            "type": "string",
                            "description": "Localidad"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "C\u00f3digo postal"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitud GPS",
                            "format": "float"
                          },
                          "lng": {
                            "type": "number",
                            "description": "Longitud GPS",
                            "format": "float"
                          },
                          "radius_km": {
                            "type": "number",
                            "description": "Radio de b\u00fasqueda GPS en km",
                            "format": "float"
                          },
                          "environmental_code": {
                            "type": "string",
                            "description": "NIMA"
                          }
                        }
                      },
                      "external_operator": {
                        "type": "object",
                        "description": "Operador externo.",
                        "properties": {
                          "cif": {
                            "type": "string",
                            "description": "CIF"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "commercial_name": {
                            "type": "string",
                            "description": "Nombre comercial"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "person_name": {
                            "type": "string",
                            "description": "Nombre de persona f\u00edsica"
                          },
                          "person_surname1": {
                            "type": "string",
                            "description": "Primer apellido"
                          },
                          "person_surname2": {
                            "type": "string",
                            "description": "Segundo apellido"
                          }
                        }
                      },
                      "addressee": {
                        "type": "object",
                        "description": "Destinatario (b\u00fasqueda flexible por m\u00faltiples campos).",
                        "properties": {
                          "nima": {
                            "type": "string",
                            "description": "NIMA del centro gestor"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "environmental_code": {
                            "type": "string",
                            "description": "NIMA"
                          },
                          "cif": {
                            "type": "string",
                            "description": "CIF"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "address": {
                            "type": "string",
                            "description": "Direcci\u00f3n"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "CP"
                          },
                          "locality": {
                            "type": "string",
                            "description": "Localidad"
                          },
                          "level1_political_division_name": {
                            "type": "string",
                            "description": "Comunidad"
                          },
                          "level2_political_division_name": {
                            "type": "string",
                            "description": "Provincia"
                          },
                          "level3_political_division_name": {
                            "type": "string",
                            "description": "Municipio"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitud",
                            "format": "float"
                          },
                          "lng": {
                            "type": "number",
                            "description": "Longitud",
                            "format": "float"
                          },
                          "radius_km": {
                            "type": "number",
                            "description": "Radio km",
                            "format": "float"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Tel\u00e9fono"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email"
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "transporter": {
                        "type": "object",
                        "description": "Transportista.",
                        "properties": {
                          "cif": {
                            "type": "string",
                            "description": "CIF"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "commercial_name": {
                            "type": "string",
                            "description": "Nombre comercial"
                          },
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "person_name": {
                            "type": "string",
                            "description": "Nombre de persona f\u00edsica"
                          },
                          "person_surname1": {
                            "type": "string",
                            "description": "Primer apellido"
                          },
                          "person_surname2": {
                            "type": "string",
                            "description": "Segundo apellido"
                          }
                        }
                      },
                      "external_vehicle": {
                        "type": "object",
                        "description": "Datos del veh\u00edculo externo.",
                        "properties": {
                          "plate_number": {
                            "type": "string",
                            "description": "Matr\u00edcula del veh\u00edculo (ej: 1234ABC)"
                          },
                          "description": {
                            "type": "string",
                            "description": "Descripci\u00f3n del veh\u00edculo (ej: Cami\u00f3n r\u00edgido)"
                          }
                        }
                      },
                      "outgoing_external_request": {
                        "type": "object",
                        "description": "Solicitud externa.",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "C\u00f3digo"
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado"
                          },
                          "collection_date": {
                            "type": "string",
                            "description": "Fecha recogida"
                          }
                        }
                      },
                      "driver": {
                        "type": "object",
                        "description": "Conductor.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Nombre"
                          },
                          "surname1": {
                            "type": "string",
                            "description": "Apellido 1"
                          },
                          "surname2": {
                            "type": "string",
                            "description": "Apellido 2"
                          },
                          "person_id_number": {
                            "type": "string",
                            "description": "DNI/NIE"
                          }
                        }
                      },
                      "outgoing_date": {
                        "type": "string",
                        "description": "Fecha salida",
                        "format": "date"
                      },
                      "arrival_date": {
                        "type": "string",
                        "description": "Fecha llegada",
                        "format": "date"
                      },
                      "outgoing_time": {
                        "type": "string",
                        "description": "Hora salida"
                      },
                      "observations": {
                        "type": "string",
                        "description": "Observaciones"
                      },
                      "outgoing_lines": {
                        "type": "array",
                        "description": "L\u00edneas",
                        "items": {
                          "type": "object",
                          "properties": {
                            "waste": {
                              "type": "object",
                              "description": "Residuo",
                              "properties": {
                                "ler_code": {
                                  "type": "string",
                                  "description": "LER"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre"
                                },
                                "dangerous_only": {
                                  "type": "boolean",
                                  "description": "Solo peligrosos"
                                },
                                "treatment_code": {
                                  "type": "string",
                                  "description": "Tratamiento"
                                },
                                "quantity": {
                                  "type": "number",
                                  "description": "Cantidad",
                                  "format": "float"
                                },
                                "context_type": {
                                  "type": "string",
                                  "description": "Tipo contexto"
                                },
                                "context_id": {
                                  "type": "integer",
                                  "description": "ID contexto"
                                }
                              },
                              "required": [
                                "ler_code",
                                "name"
                              ]
                            },
                            "package_type": {
                              "type": "object",
                              "description": "Tipo de envase.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "C\u00f3digo del tipo de envase (ej: ENV001)"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre del envase (ej: Bid\u00f3n met\u00e1lico)"
                                },
                                "spain_transport_only": {
                                  "type": "boolean",
                                  "description": "Solo envases v\u00e1lidos para transporte en Espa\u00f1a (default: false)"
                                }
                              }
                            },
                            "producer_authorization": {
                              "type": "object",
                              "description": "Autorizaci\u00f3n del productor.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "C\u00f3digo de la autorizaci\u00f3n"
                                },
                                "authorization_type_code": {
                                  "type": "string",
                                  "description": "Tipo de autorizaci\u00f3n (R, T, etc.)"
                                },
                                "valid_only": {
                                  "type": "boolean",
                                  "description": "Solo autorizaciones vigentes (default: true)"
                                }
                              }
                            },
                            "addressee_authorization": {
                              "type": "object",
                              "description": "Autorizaci\u00f3n del gestor.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "C\u00f3digo de la autorizaci\u00f3n"
                                },
                                "authorization_type_code": {
                                  "type": "string",
                                  "description": "Tipo de autorizaci\u00f3n"
                                },
                                "valid_only": {
                                  "type": "boolean",
                                  "description": "Solo autorizaciones vigentes (default: true)"
                                }
                              }
                            },
                            "internal_operator_authorization": {
                              "type": "object",
                              "description": "Autorizaci\u00f3n del operador interno.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "C\u00f3digo de la autorizaci\u00f3n"
                                },
                                "authorization_type_code": {
                                  "type": "string",
                                  "description": "Tipo de autorizaci\u00f3n"
                                },
                                "valid_only": {
                                  "type": "boolean",
                                  "description": "Solo autorizaciones vigentes (default: true)"
                                }
                              }
                            },
                            "external_operator_authorization": {
                              "type": "object",
                              "description": "Autorizaci\u00f3n del operador externo.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "C\u00f3digo de la autorizaci\u00f3n"
                                },
                                "authorization_type_code": {
                                  "type": "string",
                                  "description": "Tipo de autorizaci\u00f3n"
                                },
                                "valid_only": {
                                  "type": "boolean",
                                  "description": "Solo autorizaciones vigentes (default: true)"
                                }
                              }
                            },
                            "transporter_authorization": {
                              "type": "object",
                              "description": "Autorizaci\u00f3n del transportista.",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "C\u00f3digo de la autorizaci\u00f3n"
                                },
                                "authorization_type_code": {
                                  "type": "string",
                                  "description": "Tipo de autorizaci\u00f3n"
                                },
                                "valid_only": {
                                  "type": "boolean",
                                  "description": "Solo autorizaciones vigentes (default: true)"
                                }
                              }
                            },
                            "waste_treatment_code": {
                              "type": "string",
                              "description": "C\u00f3digo tratamiento"
                            },
                            "final_waste_treatment_code": {
                              "type": "string",
                              "description": "Tratamiento final"
                            },
                            "producer_quantity_in_kg": {
                              "type": "number",
                              "description": "Cantidad productor",
                              "format": "float"
                            },
                            "manager_quantity_in_kg": {
                              "type": "number",
                              "description": "Cantidad gestor",
                              "format": "float"
                            },
                            "package_quantity": {
                              "type": "integer",
                              "description": "Cantidad envases"
                            },
                            "line_type": {
                              "type": "string",
                              "description": "Tipo"
                            },
                            "producer_authorization_code": {
                              "type": "string",
                              "description": "C\u00f3digo autorizaci\u00f3n productor"
                            },
                            "producer_authorization_type": {
                              "type": "string",
                              "description": "Tipo autorizaci\u00f3n productor"
                            },
                            "addressee_authorization_code": {
                              "type": "string",
                              "description": "C\u00f3digo autorizaci\u00f3n destinatario"
                            },
                            "addressee_authorization_type": {
                              "type": "string",
                              "description": "Tipo autorizaci\u00f3n destinatario"
                            },
                            "transporter_authorization_code": {
                              "type": "string",
                              "description": "C\u00f3digo autorizaci\u00f3n transportista"
                            },
                            "transporter_authorization_type": {
                              "type": "string",
                              "description": "Tipo autorizaci\u00f3n transportista"
                            },
                            "internal_operator_authorization_code": {
                              "type": "string",
                              "description": "C\u00f3digo autorizaci\u00f3n operador interno"
                            },
                            "internal_operator_authorization_type": {
                              "type": "string",
                              "description": "Tipo autorizaci\u00f3n operador interno"
                            },
                            "external_operator_authorization_code": {
                              "type": "string",
                              "description": "C\u00f3digo autorizaci\u00f3n operador externo"
                            },
                            "external_operator_authorization_type": {
                              "type": "string",
                              "description": "Tipo autorizaci\u00f3n operador externo"
                            },
                            "spain_notification_document_attached_code": {
                              "type": "string",
                              "description": "C\u00f3digo DI"
                            },
                            "spain_identification_document_attached_code": {
                              "type": "string",
                              "description": "C\u00f3digo NT"
                            },
                            "spain_treatment_contract_code": {
                              "type": "string",
                              "description": "C\u00f3digo contrato"
                            },
                            "authorization_valid_only": {
                              "type": "boolean",
                              "description": "Solo vigentes"
                            },
                            "package_type_id": {
                              "type": "integer",
                              "description": "ID envase"
                            },
                            "use_external_environmental_documents": {
                              "type": "boolean",
                              "description": "Usar docs externos"
                            },
                            "fill_with_last_compatible_documents": {
                              "type": "boolean",
                              "description": "Rellenar con \u00faltimos compatibles"
                            }
                          },
                          "required": [
                            "line_type"
                          ]
                        }
                      },
                      "vehicle": {
                        "type": "object",
                        "description": "Veh\u00edculo.",
                        "properties": {
                          "plate_number": {
                            "type": "string",
                            "description": "Matr\u00edcula"
                          },
                          "description": {
                            "type": "string",
                            "description": "Descripci\u00f3n"
                          }
                        }
                      },
                      "trailer": {
                        "type": "object",
                        "description": "Remolque.",
                        "properties": {
                          "plate_number": {
                            "type": "string",
                            "description": "Matr\u00edcula"
                          },
                          "description": {
                            "type": "string",
                            "description": "Descripci\u00f3n"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "onRequestProcessed": {
            "{$request.body.callback.url}": {
              "post": {
                "summary": "Resultado creaci\u00f3n salida.",
                "parameters": [],
                "responses": {
                  "200": {
                    "description": "Creaci\u00f3n OK"
                  }
                },
                "requestBody": {
                  "description": "Informaci\u00f3n salida creada.",
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "request_result": {
                            "$ref": "#/components/schemas/AsyncRequestResult"
                          },
                          "result_data": {
                            "type": "object",
                            "description": "Datos operaci\u00f3n",
                            "properties": {
                              "errors": {
                                "type": "object",
                                "description": "Errores"
                              },
                              "outgoing": {
                                "type": "object",
                                "description": "Salida creada",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "ID"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "C\u00f3digo"
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "Estado"
                                  },
                                  "sent_to_gov_state": {
                                    "type": "string",
                                    "description": "Estado env\u00edo gobierno"
                                  },
                                  "outgoing_date": {
                                    "type": "string",
                                    "description": "Fecha salida",
                                    "format": "date"
                                  }
                                }
                              },
                              "resolution_metadata": {
                                "type": "object",
                                "description": "Metadata resoluci\u00f3n",
                                "properties": {
                                  "producer": {
                                    "type": "object",
                                    "description": "Metadata productor",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Matched by"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "From cache"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Name"
                                      }
                                    }
                                  },
                                  "producer_administrative_unit": {
                                    "type": "object",
                                    "description": "Metadata de la unidad administrativa productora resuelta.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'gps_proximity', 'nima', 'code', 'locality', 'postal_code', 'name'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre del centro encontrado"
                                      },
                                      "distance_km": {
                                        "type": "number",
                                        "description": "Distancia en km (solo para GPS proximity)",
                                        "format": "float"
                                      }
                                    }
                                  },
                                  "producer_business_unit": {
                                    "type": "object",
                                    "description": "Metadata de la unidad de negocio productora resuelta.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'code', 'name'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre de la unidad de negocio encontrada"
                                      }
                                    }
                                  },
                                  "internal_operator": {
                                    "type": "object",
                                    "description": "Metadata del operador interno resuelto.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'cif', 'code', 'commercial_name', 'person_name', 'name'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre del operador encontrado"
                                      }
                                    }
                                  },
                                  "internal_operator_administrative_unit": {
                                    "type": "object",
                                    "description": "Metadata de la unidad administrativa del operador interno resuelta.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'gps_proximity', 'nima', 'code', 'locality', 'postal_code', 'name'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre del centro encontrado"
                                      },
                                      "distance_km": {
                                        "type": "number",
                                        "description": "Distancia en km (solo para GPS proximity)",
                                        "format": "float"
                                      }
                                    }
                                  },
                                  "external_operator": {
                                    "type": "object",
                                    "description": "Metadata del operador externo resuelto.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'cif', 'code', 'commercial_name', 'person_name', 'name'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre del operador encontrado"
                                      }
                                    }
                                  },
                                  "addressee": {
                                    "type": "object",
                                    "description": "Metadata destinatario",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Matched by"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "From cache"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Name"
                                      }
                                    }
                                  },
                                  "transporter": {
                                    "type": "object",
                                    "description": "Metadata transportista",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Matched by"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "From cache"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Name"
                                      }
                                    }
                                  },
                                  "external_vehicle": {
                                    "type": "object",
                                    "description": "Metadata del veh\u00edculo externo resuelto.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'plate_number', 'description'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Matr\u00edcula o descripci\u00f3n del veh\u00edculo"
                                      }
                                    }
                                  },
                                  "outgoing_external_request": {
                                    "type": "object",
                                    "description": "Metadata de la solicitud externa resuelta.",
                                    "properties": {
                                      "matched_by": {
                                        "type": "string",
                                        "description": "Campo usado: 'code'"
                                      },
                                      "match_score": {
                                        "type": "number",
                                        "description": "Score del match",
                                        "format": "float"
                                      },
                                      "from_cache": {
                                        "type": "boolean",
                                        "description": "Si vino del cach\u00e9"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "C\u00f3digo de la solicitud"
                                      }
                                    }
                                  },
                                  "outgoing_lines": {
                                    "type": "array",
                                    "description": "Array con metadata de cada l\u00ednea resuelta.",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "waste": {
                                          "type": "object",
                                          "description": "Metadata del residuo resuelto.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'ler_code', 'name'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "Nombre del residuo"
                                            }
                                          }
                                        },
                                        "package_type": {
                                          "type": "object",
                                          "description": "Metadata del tipo de envase resuelto.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'code', 'name'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "Nombre del envase"
                                            }
                                          }
                                        },
                                        "producer_authorization": {
                                          "type": "object",
                                          "description": "Metadata de la autorizaci\u00f3n del productor resuelta.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'code'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "C\u00f3digo de la autorizaci\u00f3n"
                                            }
                                          }
                                        },
                                        "addressee_authorization": {
                                          "type": "object",
                                          "description": "Metadata de la autorizaci\u00f3n del gestor resuelta.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'code'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "C\u00f3digo de la autorizaci\u00f3n"
                                            }
                                          }
                                        },
                                        "internal_operator_authorization": {
                                          "type": "object",
                                          "description": "Metadata de la autorizaci\u00f3n del operador interno resuelta.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'code'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "C\u00f3digo de la autorizaci\u00f3n"
                                            }
                                          }
                                        },
                                        "external_operator_authorization": {
                                          "type": "object",
                                          "description": "Metadata de la autorizaci\u00f3n del operador externo resuelta.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'code'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "C\u00f3digo de la autorizaci\u00f3n"
                                            }
                                          }
                                        },
                                        "transporter_authorization": {
                                          "type": "object",
                                          "description": "Metadata de la autorizaci\u00f3n del transportista resuelta.",
                                          "properties": {
                                            "matched_by": {
                                              "type": "string",
                                              "description": "Campo usado: 'code'"
                                            },
                                            "match_score": {
                                              "type": "number",
                                              "description": "Score del match",
                                              "format": "float"
                                            },
                                            "from_cache": {
                                              "type": "boolean",
                                              "description": "Si vino del cach\u00e9"
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "C\u00f3digo de la autorizaci\u00f3n"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/outgoings/{id}": {
      "delete": {
        "summary": "Elimina una salida.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico asociado a una salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Se ha eliminado correctamente la salida."
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El elemento no ha sido encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "La petici\u00f3n no puede realizarse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "# Elimina una salida.\nPermite eliminar una salida en base a su identificador.\n\n**\\*Este endpoint s\u00f3lo est\u00e1 accesible para determinados roles en base a la configuraci\u00f3n.\\***\n"
      },
      "get": {
        "summary": "Recupera los datos de una salida a partir del ID.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico asociado a la salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "fields",
            "description": "Indica los nombres de aquellos campos que se quieran recuperar. Por defecto, el endpoint devuelve siempre un conjunto b\u00e1sico de campos. Los campos anidados se indican mediante notaci\u00f3n Dot indicando la ruta de acceso completa, por ejemplo, 'field.nested_field'. En la respuesta pueden consultarse todos los campos disponibles.",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recuperaci\u00f3n de los datos de la salida. Los campos devueltos varian en base al par\u00e1metro *fields* de la b\u00fasqueda. Por defecto se devuelven los campos id, code, state, sent_to_gov_state y outgoing_date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "outgoing": {
                      "$ref": "#/components/schemas/Outgoing"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El elemento no ha sido encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "# Recuperaci\u00f3n de una salida a partir de su ID.\n"
      }
    },
    "/outgoings/{id}/close": {
      "post": {
        "summary": "Cambia el estado de una salida a 'Cerrada'.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico de la salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Informaci\u00f3n sobre la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "$ref": "#/components/schemas/AsyncRequestResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "La petici\u00f3n no puede realizarse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "**PETICI\u00d3N AS\u00cdNCRONA**\n\n# Cambia el estado de una salida a 'Cerrada'\n",
        "requestBody": {
          "description": "Informaci\u00f3n sobre la salida.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callback": {
                    "$ref": "#/components/schemas/AsyncRequestCallback"
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "onRequestProcessed": {
            "{$request.body.callback.url}": {
              "post": {
                "summary": "Resultado de cambio de estado de una salida.",
                "parameters": [],
                "responses": {
                  "200": {
                    "description": "Cambio de estado realizado correctamente."
                  }
                },
                "requestBody": {
                  "description": "Informaci\u00f3n sobre la salida.",
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "request_result": {
                            "$ref": "#/components/schemas/AsyncRequestResult"
                          },
                          "result_data": {
                            "type": "object",
                            "description": "Datos de la operaci\u00f3n",
                            "properties": {
                              "errors": {
                                "type": "object",
                                "description": "Listado de errores de la petici\u00f3n. Si se ha producido alguno."
                              },
                              "outgoing": {
                                "type": "object",
                                "description": "Datos de la salida",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "Identificador \u00fanico asociado a la salida."
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "C\u00f3digo de la salida."
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "Estado actual de la salida."
                                  },
                                  "sent_to_gov_state": {
                                    "type": "string",
                                    "description": "Estado de envio a la administraci\u00f3n de la salida."
                                  },
                                  "outgoing_date": {
                                    "type": "string",
                                    "description": "Fecha de la salida.",
                                    "format": "date"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/outgoings/{id}/complete": {
      "post": {
        "summary": "Completa la informaci\u00f3n de una salida.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico de la salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Operaci\u00f3n realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "outgoing": {
                      "type": "object",
                      "description": "Datos de la salida.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identificador \u00fanico de la salida."
                        },
                        "code": {
                          "type": "string",
                          "description": "C\u00f3digo de la salida."
                        },
                        "state": {
                          "type": "string",
                          "description": "Estado de la salida."
                        },
                        "sent_to_gov_state": {
                          "type": "string",
                          "description": "Estado de env\u00edo a la administraci\u00f3n de la salida."
                        },
                        "outgoing_date": {
                          "type": "string",
                          "description": "Fecha de la salida.",
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El elemento no ha sido encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "La petici\u00f3n no puede realizarse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "# Completa la informaci\u00f3n de una salida.\nSi se desean adjuntar ficheros a dicha salida el Content-Type de la petici\u00f3n debera indicarse 'multipart/form-data' en lugar de 'application/json'\n",
        "requestBody": {
          "description": "Informaci\u00f3n de la salida.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "outgoing": {
                    "type": "object",
                    "description": "Datos a actualizar en la salida.",
                    "properties": {
                      "external_vehicle": {
                        "type": "object",
                        "description": "Datos del veh\u00edculo asociado a la salida.",
                        "properties": {
                          "plate_number": {
                            "type": "string",
                            "description": "Matr\u00edcula del veh\u00edculo."
                          },
                          "description": {
                            "type": "string",
                            "description": "Descripci\u00f3n del veh\u00edculo."
                          }
                        }
                      },
                      "external_trailer": {
                        "type": "object",
                        "description": "Datos del remolque asociado a la salida.",
                        "properties": {
                          "plate_number": {
                            "type": "string",
                            "description": "Matr\u00edcula del remolque."
                          },
                          "description": {
                            "type": "string",
                            "description": "Descripci\u00f3n del remolque."
                          }
                        }
                      },
                      "driver": {
                        "type": "object",
                        "description": "Datos del conductor asociado a la salida.",
                        "properties": {
                          "person_id_number": {
                            "type": "string",
                            "description": "Identificador fiscal del conductor."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nombre del conductor."
                          },
                          "surname1": {
                            "type": "string",
                            "description": "Primer apellido del conductor."
                          },
                          "surname2": {
                            "type": "string",
                            "description": "Segundo apellido del conductor."
                          }
                        }
                      },
                      "spain_identification_documents": {
                        "type": "array",
                        "description": "Datos de los documentos de identificaci\u00f3n de traslado asociados a la salida.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Identificador del documento de identificaci\u00f3n asociado a la l\u00ednea o l\u00edneas de salida."
                            },
                            "environmental_code": {
                              "type": "string",
                              "description": "C\u00f3digo medioambiental del documento de traslado asociado."
                            },
                            "notification_document_environmental_code": {
                              "type": "string",
                              "description": "C\u00f3digo medioambiental de la notificaci\u00f3n de traslado del documento."
                            },
                            "acceptance_date": {
                              "type": "string",
                              "description": "Fecha de aceptaci\u00f3n del documento de traslado.",
                              "format": "date"
                            },
                            "clear_weight": {
                              "type": "number",
                              "description": "Peso neto del documento de traslado.",
                              "format": "float"
                            },
                            "gross_weight": {
                              "type": "number",
                              "description": "Peso bruto del documento de traslado.",
                              "format": "float"
                            },
                            "real_quantity": {
                              "type": "number",
                              "description": "Cantidad real del documento de traslado.",
                              "format": "float"
                            },
                            "addressee_file": {
                              "type": "string",
                              "description": "Fichero del gestor del documento de traslado. Este campo solo tiene sentido en caso de peticiones con Content-Type: 'multipart/form-data'",
                              "format": "binary"
                            }
                          }
                        }
                      },
                      "spain_identification_document_attacheds": {
                        "type": "array",
                        "description": "Datos de los documentos de identificaci\u00f3n de traslado aduntos asociados a la salida.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Identificador del documento de identificaci\u00f3n externo asociado a la l\u00ednea o l\u00edneas de salida."
                            },
                            "real_quantity": {
                              "type": "number",
                              "description": "Cantidad real del documento de traslado.",
                              "format": "float"
                            },
                            "environmental_code": {
                              "type": "string",
                              "description": "C\u00f3digo medioambiental del documento de traslado."
                            },
                            "addressee_file": {
                              "type": "string",
                              "description": "Fichero del gestor del documento de traslado. Este campo solo tiene sentido en caso de peticiones con Content-Type: 'multipart/form-data'",
                              "format": "binary"
                            },
                            "final_waste_treatment_code": {
                              "type": "string",
                              "description": "C\u00f3digo de tratamiento final del documento de traslado"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/outgoings/{id}/documents_zip_uuid": {
      "get": {
        "summary": "Obtiene un UUID de la documentaci\u00f3n asociada a una salida.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico asociado a la salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Recuperaci\u00f3n del UUID del fichero zip de la documentaci\u00f3n asociada a la salida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documents_zip_uuid": {
                      "type": "object",
                      "description": "",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "Cadena de texto que contiene el UUID."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El elemento no ha sido encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "La petici\u00f3n no puede realizarse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "# Obtiene un UUID de la documentaci\u00f3n asociada a una salida.\nPermite recuperar un UUID cuya utilidad es identificar si el fichero zip de la documentaci\u00f3n asociada a una salida ha sufrido alguna modificaci\u00f3n.\n"
      }
    },
    "/outgoings/{id}/download_documents_zip": {
      "get": {
        "summary": "Descarga la documentaci\u00f3n asociada a una salida.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico asociado a una salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Descarga de la documentaci\u00f3n realizada correctamente.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La petici\u00f3n ha sido denegada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El elemento no ha sido encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "La petici\u00f3n no puede realizarse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "# Descarga de documentaci\u00f3n asociada a una salida.\nDescarga la documentaci\u00f3n asociada a la salida en formato zip mediante un stream de datos.\n"
      }
    },
    "/outgoings/{id}/mark_as_on_movement": {
      "post": {
        "summary": "Cambia el estado de una salida a 'En traslado'.",
        "tags": [
          "Salidas"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Identificador \u00fanico de la salida.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Informaci\u00f3n sobre la petici\u00f3n.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "$ref": "#/components/schemas/AsyncRequestResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "La petici\u00f3n no es v\u00e1lida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Las credenciales no son v\u00e1lidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ServerError"
                    }
                  }
                }
              }
            }
          },
[...]
