{
  "openapi": "3.0.3",
  "info": {
    "title": "APIVoid Security Intelligence API",
    "version": "2.0.0",
    "description": "APIVoid provides security intelligence APIs for detecting suspicious IP addresses, malicious domains, phishing URLs, and fake email addresses. The v2 API uses JSON POST requests with API key authentication via the X-API-Key header. Each API call consumes credits based on the endpoint used.",
    "x-jentic-source-url": "https://www.apivoid.com",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.apivoid.com",
      "description": "APIVoid Production API"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "IP Reputation",
      "description": "Check IP address reputation against 70+ blocklist engines"
    },
    {
      "name": "Domain Reputation",
      "description": "Check domain reputation against 30+ blocklist engines"
    },
    {
      "name": "URL Reputation",
      "description": "Check URL reputation with 50+ security checks"
    },
    {
      "name": "Email Verification",
      "description": "Verify email addresses and detect disposable/fake emails"
    },
    {
      "name": "Account",
      "description": "Account and credit balance management"
    }
  ],
  "paths": {
    "/v2/ip-reputation": {
      "post": {
        "operationId": "checkIpReputation",
        "summary": "Check IP Reputation",
        "description": "Detect potentially malicious IP addresses known for spam or fraudulent activities. Checks the IP against 70+ blocklist engines and returns geolocation, ASN, anonymity, and risk score data. Supports both IPv4 and IPv6 addresses. Consumes 1 credit per API call.",
        "tags": [
          "IP Reputation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IpReputationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP reputation check completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpReputationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/domain-reputation": {
      "post": {
        "operationId": "checkDomainReputation",
        "summary": "Check Domain Reputation",
        "description": "Detect potentially malicious domains related to phishing, malware and fraudulent activities. Checks domain against 30+ blocklist engines and returns server details, category classification, security checks, and risk score. Consumes 1 credit per API call.",
        "tags": [
          "Domain Reputation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainReputationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain reputation check completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainReputationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid domain or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/url-reputation": {
      "post": {
        "operationId": "checkUrlReputation",
        "summary": "Check URL Reputation",
        "description": "Detect phishing, suspicious and known malicious URLs with 50+ security checks. Returns domain blacklist results, DNS records, HTML info, file type detection, redirection analysis, security checks, and risk score. Consumes 5 credits per API call.",
        "tags": [
          "URL Reputation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlReputationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL reputation check completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlReputationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/email-verify": {
      "post": {
        "operationId": "verifyEmail",
        "summary": "Verify Email Address",
        "description": "Verify if an email address is disposable, spoofable, well configured, a free email, and more. Checks email format, username, domain configuration (MX, SPF, DMARC), and returns a trust score with a should_block recommendation. Consumes 1 credit per API call.",
        "tags": [
          "Email Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid email or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credits-balance": {
      "post": {
        "operationId": "getCreditsBalance",
        "summary": "Get Credits Balance",
        "description": "Retrieve the current credits balance for your APIVoid account.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key provided via the X-API-Key request header"
      }
    },
    "schemas": {
      "IpReputationRequest": {
        "type": "object",
        "required": [
          "ip"
        ],
        "properties": {
          "ip": {
            "type": "string",
            "description": "IPv4 or IPv6 address to check",
            "example": "80.82.77.139"
          }
        }
      },
      "DomainReputationRequest": {
        "type": "object",
        "required": [
          "host"
        ],
        "properties": {
          "host": {
            "type": "string",
            "description": "Domain name to check (e.g., google.com)",
            "example": "google.com"
          }
        }
      },
      "UrlReputationRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Full URL to check reputation for",
            "example": "https://blog.google/products/android/"
          }
        }
      },
      "EmailVerifyRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address to verify",
            "example": "user@example.com"
          }
        }
      },
      "BlacklistEngine": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the blocklist engine"
          },
          "detected": {
            "type": "boolean",
            "description": "Whether the IP/domain was detected by this engine"
          },
          "reference": {
            "type": "string",
            "description": "URL reference for the blocklist service"
          },
          "elapsed_ms": {
            "type": "integer",
            "description": "Time taken by this engine in milliseconds"
          }
        }
      },
      "BlacklistResult": {
        "type": "object",
        "properties": {
          "engines": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BlacklistEngine"
            },
            "description": "Map of engine index to engine result"
          },
          "detections": {
            "type": "integer",
            "description": "Number of engines that detected the IP/domain"
          },
          "engines_count": {
            "type": "integer",
            "description": "Total number of engines checked"
          },
          "detection_rate": {
            "type": "string",
            "description": "Detection rate as a percentage string"
          },
          "scan_time_ms": {
            "type": "integer",
            "description": "Total scan time in milliseconds"
          }
        }
      },
      "IpInformation": {
        "type": "object",
        "properties": {
          "reverse_dns": {
            "type": "string"
          },
          "is_eu": {
            "type": "boolean"
          },
          "continent_code": {
            "type": "string"
          },
          "continent_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "currency_name": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          },
          "calling_code": {
            "type": "string"
          },
          "emoji_flag": {
            "type": "string"
          },
          "region_name": {
            "type": "string"
          },
          "city_name": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "isp": {
            "type": "string"
          },
          "asn": {
            "type": "string"
          },
          "is_bogon": {
            "type": "boolean"
          },
          "is_spamhaus_drop": {
            "type": "boolean"
          },
          "is_fake_bot": {
            "type": "boolean"
          },
          "is_google_bot": {
            "type": "boolean"
          },
          "is_search_engine_bot": {
            "type": "boolean"
          },
          "is_public_dns": {
            "type": "boolean"
          },
          "cloud_provider": {
            "type": "string"
          },
          "is_satellite": {
            "type": "boolean"
          }
        }
      },
      "AsnInfo": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "string"
          },
          "asname": {
            "type": "string"
          },
          "route": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "org": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "days_since_created": {
            "type": "integer"
          },
          "abuse_email": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "total_ipv4_prefixes": {
            "type": "integer"
          },
          "total_ipv4_ips": {
            "type": "integer"
          },
          "total_ipv6_prefixes": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "rir": {
            "type": "string"
          }
        }
      },
      "AnonymityInfo": {
        "type": "object",
        "properties": {
          "is_proxy": {
            "type": "boolean"
          },
          "is_webproxy": {
            "type": "boolean"
          },
          "is_residential_proxy": {
            "type": "boolean"
          },
          "is_vpn": {
            "type": "boolean"
          },
          "is_hosting": {
            "type": "boolean"
          },
          "is_relay": {
            "type": "boolean"
          },
          "is_tor": {
            "type": "boolean"
          }
        }
      },
      "RiskScore": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "description": "Risk score from 0 (safe) to 100 (high risk)"
          }
        }
      },
      "IpReputationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "version": {
            "type": "string",
            "description": "IPv4 or IPv6"
          },
          "blacklists": {
            "$ref": "#/components/schemas/BlacklistResult"
          },
          "information": {
            "$ref": "#/components/schemas/IpInformation"
          },
          "asn": {
            "$ref": "#/components/schemas/AsnInfo"
          },
          "anonymity": {
            "$ref": "#/components/schemas/AnonymityInfo"
          },
          "risk_score": {
            "$ref": "#/components/schemas/RiskScore"
          },
          "elapsed_ms": {
            "type": "integer"
          }
        }
      },
      "ServerDetails": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "reverse_dns": {
            "type": "string"
          },
          "continent_code": {
            "type": "string"
          },
          "continent_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "region_name": {
            "type": "string"
          },
          "city_name": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "isp": {
            "type": "string"
          },
          "asn": {
            "type": "string"
          }
        }
      },
      "DomainCategory": {
        "type": "object",
        "properties": {
          "is_free_hosting": {
            "type": "boolean"
          },
          "is_anonymizer": {
            "type": "boolean"
          },
          "is_url_shortener": {
            "type": "boolean"
          },
          "is_free_dynamic_dns": {
            "type": "boolean"
          },
          "is_code_sandbox": {
            "type": "boolean"
          },
          "is_form_builder": {
            "type": "boolean"
          },
          "is_free_file_sharing": {
            "type": "boolean"
          },
          "is_pastebin": {
            "type": "boolean"
          }
        }
      },
      "DomainSecurityChecks": {
        "type": "object",
        "properties": {
          "is_most_abused_tld": {
            "type": "boolean"
          },
          "is_domain_ipv4_assigned": {
            "type": "boolean"
          },
          "is_domain_ipv4_private": {
            "type": "boolean"
          },
          "is_domain_ipv4_loopback": {
            "type": "boolean"
          },
          "is_domain_ipv4_reserved": {
            "type": "boolean"
          },
          "is_domain_ipv4_valid": {
            "type": "boolean"
          },
          "is_domain_blacklisted": {
            "type": "boolean"
          },
          "detections_count": {
            "type": "integer"
          },
          "is_uncommon_host_length": {
            "type": "boolean"
          },
          "is_uncommon_dash_char_count": {
            "type": "boolean"
          },
          "is_uncommon_dot_char_count": {
            "type": "boolean"
          },
          "is_suspicious_homoglyph": {
            "type": "boolean"
          },
          "is_possible_typosquatting": {
            "type": "boolean"
          },
          "website_popularity": {
            "type": "string"
          },
          "is_uncommon_clickable_domain": {
            "type": "boolean"
          },
          "is_risky_category": {
            "type": "boolean"
          }
        }
      },
      "DomainParts": {
        "type": "object",
        "properties": {
          "root_domain": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "tld": {
            "type": "string"
          }
        }
      },
      "DomainReputationResponse": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string"
          },
          "blacklists": {
            "$ref": "#/components/schemas/BlacklistResult"
          },
          "server_details": {
            "$ref": "#/components/schemas/ServerDetails"
          },
          "category": {
            "$ref": "#/components/schemas/DomainCategory"
          },
          "security_checks": {
            "$ref": "#/components/schemas/DomainSecurityChecks"
          },
          "domain_parts": {
            "$ref": "#/components/schemas/DomainParts"
          },
          "risk_score": {
            "$ref": "#/components/schemas/RiskScore"
          },
          "elapsed_ms": {
            "type": "integer"
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "isp": {
            "type": "string"
          }
        }
      },
      "UrlDnsRecords": {
        "type": "object",
        "properties": {
          "ns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            }
          },
          "mx": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            }
          },
          "cname": {
            "type": "string"
          }
        }
      },
      "HtmlInfo": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "keywords": {
            "type": "string"
          },
          "robots": {
            "type": "string"
          },
          "canonical": {
            "type": "string"
          },
          "og_image": {
            "type": "string"
          },
          "og_site_name": {
            "type": "string"
          },
          "twitter_site": {
            "type": "string"
          },
          "generator": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          }
        }
      },
      "FileType": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string"
          },
          "extension": {
            "type": "string"
          },
          "headers": {
            "type": "string"
          }
        }
      },
      "RedirectionInfo": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean"
          },
          "external": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "redirects": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UrlSecurityChecks": {
        "type": "object",
        "properties": {
          "is_host_an_ipv4": {
            "type": "boolean"
          },
          "is_uncommon_host_length": {
            "type": "boolean"
          },
          "is_suspicious_url_pattern": {
            "type": "boolean"
          },
          "is_suspicious_file_extension": {
            "type": "boolean"
          },
          "is_robots_noindex": {
            "type": "boolean"
          },
          "is_suspended_page": {
            "type": "boolean"
          },
          "is_most_abused_tld": {
            "type": "boolean"
          },
          "is_phishing_heuristic": {
            "type": "boolean"
          },
          "is_possible_emotet": {
            "type": "boolean"
          },
          "is_redirect_to_search_engine": {
            "type": "boolean"
          },
          "http_status_code": {
            "type": "integer"
          },
          "is_http_status_error": {
            "type": "boolean"
          },
          "is_suspicious_content": {
            "type": "boolean"
          },
          "is_url_accessible": {
            "type": "boolean"
          },
          "is_empty_page_title": {
            "type": "boolean"
          },
          "is_empty_page_content": {
            "type": "boolean"
          },
          "is_domain_blacklisted": {
            "type": "boolean"
          },
          "is_suspicious_domain": {
            "type": "boolean"
          },
          "is_sinkholed_domain": {
            "type": "boolean"
          },
          "is_defaced_heuristic": {
            "type": "boolean"
          },
          "is_masked_file": {
            "type": "boolean"
          },
          "is_risky_geo_location": {
            "type": "boolean"
          },
          "is_non_standard_port": {
            "type": "boolean"
          },
          "is_external_redirect": {
            "type": "boolean"
          },
          "is_risky_category": {
            "type": "boolean"
          },
          "is_domain_recent": {
            "type": "string"
          },
          "is_domain_very_recent": {
            "type": "string"
          },
          "domain_creation_date": {
            "type": "string"
          },
          "domain_age_in_days": {
            "type": "integer"
          },
          "domain_age_in_months": {
            "type": "integer"
          },
          "domain_age_in_years": {
            "type": "integer"
          }
        }
      },
      "UrlReputationResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "dns_records": {
            "$ref": "#/components/schemas/UrlDnsRecords"
          },
          "domain_blacklist": {
            "$ref": "#/components/schemas/BlacklistResult"
          },
          "domain_parts": {
            "$ref": "#/components/schemas/DomainParts"
          },
          "file_type": {
            "$ref": "#/components/schemas/FileType"
          },
          "geo_location": {
            "type": "object",
            "properties": {
              "countries": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "html_info": {
            "$ref": "#/components/schemas/HtmlInfo"
          },
          "redirection": {
            "$ref": "#/components/schemas/RedirectionInfo"
          },
          "response_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "risk_score": {
            "$ref": "#/components/schemas/RiskScore"
          },
          "security_checks": {
            "$ref": "#/components/schemas/UrlSecurityChecks"
          },
          "elapsed_ms": {
            "type": "integer"
          }
        }
      },
      "EmailVerifyResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "canonical_email": {
            "type": "string"
          },
          "valid_format": {
            "type": "boolean"
          },
          "username": {
            "type": "string"
          },
          "role_address": {
            "type": "boolean"
          },
          "system_address": {
            "type": "boolean"
          },
          "noreply_address": {
            "type": "boolean"
          },
          "suspicious_username": {
            "type": "boolean"
          },
          "dirty_words_username": {
            "type": "boolean"
          },
          "suspicious_email": {
            "type": "boolean"
          },
          "email_length": {
            "type": "integer"
          },
          "username_length": {
            "type": "integer"
          },
          "domain_length": {
            "type": "integer"
          },
          "username_has_only_digits": {
            "type": "boolean"
          },
          "username_has_celebrity_name": {
            "type": "boolean"
          },
          "username_dots_count": {
            "type": "integer"
          },
          "username_underscores_count": {
            "type": "integer"
          },
          "username_hyphens_count": {
            "type": "integer"
          },
          "username_digits_count": {
            "type": "integer"
          },
          "username_letters_count": {
            "type": "integer"
          },
          "domain": {
            "type": "string"
          },
          "root_domain": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "tld": {
            "type": "string"
          },
          "valid_tld": {
            "type": "boolean"
          },
          "public_domain": {
            "type": "boolean"
          },
          "disposable": {
            "type": "boolean"
          },
          "email_forwarder": {
            "type": "boolean"
          },
          "has_a_records": {
            "type": "boolean"
          },
          "has_mx_records": {
            "type": "boolean"
          },
          "has_txt_records": {
            "type": "boolean"
          },
          "has_spf_records": {
            "type": "boolean"
          },
          "spf_qualifier": {
            "type": "string"
          },
          "spf_strict": {
            "type": "boolean"
          },
          "dmarc_configured": {
            "type": "boolean"
          },
          "dmarc_enforced": {
            "type": "boolean"
          },
          "is_spoofable": {
            "type": "boolean"
          },
          "free_email": {
            "type": "boolean"
          },
          "russian_free_email": {
            "type": "boolean"
          },
          "china_free_email": {
            "type": "boolean"
          },
          "did_you_mean": {
            "type": "string"
          },
          "suspicious_domain": {
            "type": "boolean"
          },
          "dirty_words_domain": {
            "type": "boolean"
          },
          "domain_popular": {
            "type": "boolean"
          },
          "risky_tld": {
            "type": "boolean"
          },
          "police_domain": {
            "type": "boolean"
          },
          "government_domain": {
            "type": "boolean"
          },
          "educational_domain": {
            "type": "boolean"
          },
          "student_email": {
            "type": "boolean"
          },
          "should_block": {
            "type": "boolean",
            "description": "True when email is detected as invalid, suspicious, disposable, or malicious"
          },
          "score": {
            "type": "integer",
            "description": "Trust score for the email address"
          },
          "elapsed_ms": {
            "type": "integer"
          }
        }
      },
      "CreditsBalanceResponse": {
        "type": "object",
        "properties": {
          "credits_balance": {
            "type": "number",
            "description": "Current available credits balance"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}
