{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinbase Commerce API",
    "version": "1.0.0",
    "description": "Coinbase Commerce API allows merchants to accept cryptocurrency payments. It provides endpoints for managing charges (payment requests), checkouts (hosted payment pages), and events (webhook notifications). The API uses API key authentication and returns paginated JSON responses.",
    "x-jentic-source-url": "https://commerce.coinbase.com/docs/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.commerce.coinbase.com",
      "description": "Coinbase Commerce API server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Charges",
      "description": "Create and manage payment charges"
    },
    {
      "name": "Checkouts",
      "description": "Create and manage hosted checkout pages"
    },
    {
      "name": "Events",
      "description": "Retrieve webhook event notifications"
    }
  ],
  "paths": {
    "/charges": {
      "get": {
        "operationId": "listCharges",
        "summary": "List charges",
        "description": "Lists all charges. Supports pagination with limit and order parameters.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination - resource ID to start after",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination - resource ID to end before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charges retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCharge",
        "summary": "Create a charge",
        "description": "Creates a new charge (payment request). A charge can have a fixed or no price.",
        "tags": [
          "Charges"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChargeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Charge created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request / validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charges/{charge_id}": {
      "get": {
        "operationId": "getCharge",
        "summary": "Retrieve a charge",
        "description": "Retrieves a specific charge by its ID or code.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "description": "The charge ID or code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Charge not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charges/{charge_id}/cancel": {
      "post": {
        "operationId": "cancelCharge",
        "summary": "Cancel a charge",
        "description": "Cancels a charge that has not been completed.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "description": "The charge ID or code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Charge cannot be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Charge not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charges/{charge_id}/resolve": {
      "post": {
        "operationId": "resolveCharge",
        "summary": "Resolve a charge",
        "description": "Resolves an unresolved charge.",
        "tags": [
          "Charges"
        ],
        "parameters": [
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "description": "The charge ID or code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Charge cannot be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Charge not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkouts": {
      "get": {
        "operationId": "listCheckouts",
        "summary": "List checkouts",
        "description": "Lists all checkouts. Supports pagination.",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkouts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCheckout",
        "summary": "Create a checkout",
        "description": "Creates a new checkout (hosted payment page).",
        "tags": [
          "Checkouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkouts/{checkout_id}": {
      "get": {
        "operationId": "getCheckout",
        "summary": "Retrieve a checkout",
        "description": "Retrieves a specific checkout by its ID.",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "checkout_id",
            "in": "path",
            "required": true,
            "description": "The checkout ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Checkout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCheckout",
        "summary": "Update a checkout",
        "description": "Updates a checkout.",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "checkout_id",
            "in": "path",
            "required": true,
            "description": "The checkout ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Checkout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCheckout",
        "summary": "Delete a checkout",
        "description": "Deletes a checkout.",
        "tags": [
          "Checkouts"
        ],
        "parameters": [
          {
            "name": "checkout_id",
            "in": "path",
            "required": true,
            "description": "The checkout ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout deleted successfully"
          },
          "404": {
            "description": "Checkout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Lists all events (webhook notifications). Supports pagination.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{event_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Retrieve an event",
        "description": "Retrieves a specific event by its ID.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "description": "The event ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CC-Api-Key",
        "description": "Coinbase Commerce API key from User Settings."
      },
      "apiVersionHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CC-Version",
        "description": "API version header (e.g., 2018-03-22)."
      }
    },
    "schemas": {
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Amount value",
            "example": "100.00"
          },
          "currency": {
            "type": "string",
            "description": "Currency code",
            "example": "USD"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "order": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          "starting_after": {
            "type": "string",
            "nullable": true
          },
          "ending_before": {
            "type": "string",
            "nullable": true
          },
          "total": {
            "type": "integer"
          },
          "yielded": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "previous_uri": {
            "type": "string",
            "nullable": true
          },
          "next_uri": {
            "type": "string",
            "nullable": true
          },
          "cursor_range": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Charge UUID"
          },
          "resource": {
            "type": "string",
            "example": "charge"
          },
          "code": {
            "type": "string",
            "description": "Charge code (short alphanumeric)"
          },
          "name": {
            "type": "string",
            "description": "Charge name"
          },
          "description": {
            "type": "string",
            "description": "Charge description"
          },
          "logo_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "hosted_url": {
            "type": "string",
            "format": "uri",
            "description": "Hosted URL for payment"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pricing_type": {
            "type": "string",
            "enum": [
              "no_price",
              "fixed_price"
            ],
            "description": "Pricing type"
          },
          "pricing": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Money"
            },
            "description": "Prices in various currencies"
          },
          "local_price": {
            "$ref": "#/components/schemas/Money"
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "addresses": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Cryptocurrency addresses mapped by network"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom metadata"
          },
          "timeline": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimelineEvent"
            }
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string"
          },
          "transaction_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "value": {
            "type": "object",
            "properties": {
              "local": {
                "$ref": "#/components/schemas/Money"
              },
              "crypto": {
                "$ref": "#/components/schemas/Money"
              }
            }
          },
          "block": {
            "type": "object",
            "properties": {
              "height": {
                "type": "integer"
              },
              "hash": {
                "type": "string"
              },
              "confirmations_required": {
                "type": "integer"
              },
              "confirmations": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TimelineEvent": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "PENDING",
              "COMPLETED",
              "EXPIRED",
              "UNRESOLVED",
              "RESOLVED",
              "CANCELED",
              "REFUND PENDING",
              "REFUNDED"
            ]
          }
        }
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "resource": {
            "type": "string",
            "example": "checkout"
          },
          "name": {
            "type": "string",
            "description": "Checkout name"
          },
          "description": {
            "type": "string",
            "description": "Checkout description"
          },
          "logo_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "requested_info": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "email"
              ]
            },
            "description": "Information requested from buyer"
          },
          "pricing_type": {
            "type": "string",
            "enum": [
              "no_price",
              "fixed_price"
            ]
          },
          "local_price": {
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "resource": {
            "type": "string",
            "example": "event"
          },
          "type": {
            "type": "string",
            "description": "Event type (e.g., charge:confirmed, charge:failed)",
            "example": "charge:confirmed"
          },
          "api_version": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "object",
            "description": "Event data (the charge or checkout that triggered the event)"
          }
        }
      },
      "CreateChargeRequest": {
        "type": "object",
        "required": [
          "name",
          "description",
          "pricing_type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the charge"
          },
          "description": {
            "type": "string",
            "description": "Description of the charge"
          },
          "pricing_type": {
            "type": "string",
            "enum": [
              "no_price",
              "fixed_price"
            ]
          },
          "local_price": {
            "$ref": "#/components/schemas/Money"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom metadata (e.g., customer_id)"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after cancelled payment"
          }
        }
      },
      "CreateCheckoutRequest": {
        "type": "object",
        "required": [
          "name",
          "description",
          "pricing_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pricing_type": {
            "type": "string",
            "enum": [
              "no_price",
              "fixed_price"
            ]
          },
          "local_price": {
            "$ref": "#/components/schemas/Money"
          },
          "requested_info": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name",
                "email"
              ]
            }
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Charge"
          }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Checkout"
          }
        }
      },
      "CheckoutListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Checkout"
            }
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Event"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Error type",
                "example": "not_found"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      }
    }
  }
}
