{
  "openapi": "3.0.3",
  "info": {
    "title": "EngineX",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/omnidigitalgroup/enginex/1.0.0"
  },
  "servers": [
    {
      "url": "https://omnidigitalgroup.net"
    }
  ],
  "paths": {
    "/EngineX/api/auth/authentication/": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "authentication",
        "description": "authentication",
        "operationId": "authentication",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "fafe06e33b24ba41f7ba35c8e43643b71736b105a7f714d46237b068677df57a"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "admin@admin.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "admin@admin.com"
                  }
                }
              },
              "examples": {
                "authentication": {
                  "value": {
                    "email": "admin@admin.com",
                    "password": "admin@admin.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/auth/verify_otp/": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "verify_otp",
        "description": "verify_otp",
        "operationId": "verifyOtp",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "number",
                    "example": 100001
                  },
                  "user_id": {
                    "type": "number",
                    "example": 3
                  }
                }
              },
              "examples": {
                "verify_otp": {
                  "value": {
                    "otp": 100001,
                    "user_id": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/auth/forgot_password/": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "forget_password_step1",
        "description": "forget_password_step1",
        "operationId": "forgetPasswordStep1",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "admin@admin.com"
                  }
                }
              },
              "examples": {
                "forget_password_step1": {
                  "value": {
                    "email": "admin@admin.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/auth/forgot_password_verification/": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "forget_password_step2",
        "description": "forget_password_step2",
        "operationId": "forgetPasswordStep2",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "100001"
                  },
                  "email": {
                    "type": "string",
                    "example": "admin@admin.com"
                  },
                  "new_password": {
                    "type": "string",
                    "example": "admin@admin.com"
                  }
                }
              },
              "examples": {
                "forget_password_step2": {
                  "value": {
                    "code": "100001",
                    "email": "admin@admin.com",
                    "new_password": "admin@admin.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/EngineX/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "logout",
        "description": "logout",
        "operationId": "logout",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "6bc5352647af2219d9eaf90aa0858f63fd817d66c292e38fb9c6bea51fd5603b"
                  }
                }
              },
              "examples": {
                "logout": {
                  "value": {
                    "token": "6bc5352647af2219d9eaf90aa0858f63fd817d66c292e38fb9c6bea51fd5603b"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/leads/get_leads/": {
      "get": {
        "tags": [
          "Leads / Customers"
        ],
        "summary": "List all leads/customers",
        "description": "List all leads/customers",
        "operationId": "listAllLeadsCustomers",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "KY"
            }
          },
          {
            "name": "owner_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Colin Klapperich"
            }
          },
          {
            "name": "great_west",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Eligible"
            }
          },
          {
            "name": "company_dot_number",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4300"
            }
          },
          {
            "name": "tti",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "InEligible"
            }
          },
          {
            "name": "mfm",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "InEligible"
            }
          },
          {
            "name": "coverwhale_status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Declined"
            }
          },
          {
            "name": "bhhc",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "InEligible"
            }
          },
          {
            "name": "customer",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "N"
            }
          },
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "ece36b3dd592bf56cb9f074d9d4ed66524bf333c36e0c965ffc112fd58fa2424"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/EngineX/api/leads/get_vehicles": {
      "get": {
        "tags": [
          "Leads / Customers"
        ],
        "summary": "List vehicles of a lead/customer",
        "description": "List vehicles of a lead/customer",
        "operationId": "listVehiclesOfALeadCustomer",
        "parameters": [
          {
            "name": "entry_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1767396116833"
            }
          },
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "ece36b3dd592bf56cb9f074d9d4ed66524bf333c36e0c965ffc112fd58fa2424"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/leads/get_drivers": {
      "get": {
        "tags": [
          "Leads / Customers"
        ],
        "summary": "List drivers of a lead/customer",
        "description": "List drivers of a lead/customer",
        "operationId": "listDriversOfALeadCustomer",
        "parameters": [
          {
            "name": "entry_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1767396116833"
            }
          },
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "ece36b3dd592bf56cb9f074d9d4ed66524bf333c36e0c965ffc112fd58fa2424"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Quote Details"
        ],
        "summary": "get_drivers & vehicle",
        "description": "get_drivers & vehicle",
        "operationId": "getDriversVehicle",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Leads / Customers"
        ],
        "summary": "Create a vehicle in lead/customer",
        "description": "Create a vehicle in lead/customer",
        "operationId": "createAVehicleInLeadCustomer",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/producer/": {
      "get": {
        "tags": [
          "Producer"
        ],
        "summary": "get_producers",
        "description": "get_producers",
        "operationId": "getProducers",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Aronson Group Renewal Team"
            },
            "description": "searched by name"
          },
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "d5a241e9a01d0e070b4b3c761c4ed06697a61e6c7fc8b3ae589a3c44e4ca9449"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/EngineX/api/quotes/list_all_quotes/": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "list_all_quotes",
        "description": "list_all_quotes",
        "operationId": "listAllQuotes",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "KY,NJ,NY"
            },
            "description": "KY,NY,NJ"
          },
          {
            "name": "owner_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Colin Klapperich"
            }
          },
          {
            "name": "great_west",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Eligible"
            }
          },
          {
            "name": "company_dot_number",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4549661"
            }
          },
          {
            "name": "tti",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "InEligible"
            }
          },
          {
            "name": "mfm",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "InEligible"
            }
          },
          {
            "name": "coverwhale_status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Declined"
            }
          },
          {
            "name": "bhhc",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "InEligible"
            }
          },
          {
            "name": "customer",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "N"
            }
          },
          {
            "name": "progressive",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Eligible"
            }
          },
          {
            "name": "geico",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Eligible"
            }
          },
          {
            "name": "acuity",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Ineligible"
            }
          },
          {
            "name": "nirvana",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "declined"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4549661"
            },
            "description": "searched by company_dot_number or owner_name"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1000"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "Open,Declined,Awaiting Feedback"
          },
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "e76667ad1ecf37b13ce588cb32c36e6cc8ab6166176d18f02e400adf7db1f84d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/EngineX/api/quotes/get_single_quote/": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "List a single quote detail",
        "description": "List a single quote detail",
        "operationId": "listASingleQuoteDetail",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/quotes/get_quote_for lead/": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "List all quotes of a lead/customer",
        "description": "List all quotes of a lead/customer",
        "operationId": "listAllQuotesOfALeadCustomer",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/vehicle_attributes/get_vehicle_classes": {
      "get": {
        "tags": [
          "Vehicle Attributes"
        ],
        "summary": "List all vehicle classes",
        "description": "List all vehicle classes",
        "operationId": "listAllVehicleClasses",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "0086af0cc4ef6461a8dcd9d940de31c1a5394df89b2e0b77706bc84035420ad8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/vehicle_attributes/get_vehicle_types": {
      "get": {
        "tags": [
          "Vehicle Attributes"
        ],
        "summary": "List all vehicle types",
        "description": "List all vehicle types",
        "operationId": "listAllVehicleTypes",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "0086af0cc4ef6461a8dcd9d940de31c1a5394df89b2e0b77706bc84035420ad8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/vehicle_attributes/get_vehicles_weight_classes": {
      "get": {
        "tags": [
          "Vehicle Attributes"
        ],
        "summary": "List all vehicle weight classes",
        "description": "List all vehicle weight classes",
        "operationId": "listAllVehicleWeightClasses",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "0086af0cc4ef6461a8dcd9d940de31c1a5394df89b2e0b77706bc84035420ad8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/sidebar/get_account_data/": {
      "get": {
        "tags": [
          "Sidebar"
        ],
        "summary": "get_current_account_data",
        "description": "get_current_account_data",
        "operationId": "getCurrentAccountData",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/sidebar/logout/": {
      "get": {
        "tags": [
          "Sidebar"
        ],
        "summary": "logout",
        "description": "logout",
        "operationId": "logout1",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/dashboard/get_insurance_companies/": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "get_insurance_companies",
        "description": "get_insurance_companies",
        "operationId": "getInsuranceCompanies",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "dec2e2d7f1fb76a907e3530bdbf40443eca01a0ff897ab09a67035f3f419c7c2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/dashboard/get_insurance_companies_analytics/": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "get_insurance_companies_analytics",
        "description": "get_insurance_companies_analytics",
        "operationId": "getInsuranceCompaniesAnalytics",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "2226c08045aba69645ad90957afdfbd98ad8e081ead92f842d084e8eafdd4bd0"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "example": "7"
                  },
                  "end_date": {
                    "type": "string",
                    "example": "2026-12-31"
                  },
                  "start_date": {
                    "type": "string",
                    "example": "2026-01-01"
                  }
                }
              },
              "examples": {
                "get_insurance_companies_analytics": {
                  "value": {
                    "company_id": "7",
                    "end_date": "2026-12-31",
                    "start_date": "2026-01-01"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/dashboard/get_hubspot_analytics/": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "get_hubspot_analytics",
        "description": "get_hubspot_analytics",
        "operationId": "getHubspotAnalytics",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/contacts/get_contacts/": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "get_contacts",
        "description": "get_contacts",
        "operationId": "getContacts",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/contacts/get_contact_company_person/": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "get_contact_company_and_person",
        "description": "get_contact_company_and_person",
        "operationId": "getContactCompanyAndPerson",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/contacts/edit_contact_company_person/": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "edit_contact_company_and_person",
        "description": "edit_contact_company_and_person",
        "operationId": "editContactCompanyAndPerson",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/clients/get_clients/": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "get_clients, get_clients_data",
        "description": "get_clients, get_clients_data",
        "operationId": "getClientsGetClientsData",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/clients/edit_clients/": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "edit_client_data",
        "description": "edit_client_data",
        "operationId": "editClientData",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/clients/get_client_analytics/": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "get_client_analytics",
        "description": "get_client_analytics",
        "operationId": "getClientAnalytics",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/clients/get_and_edit_client_address/": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "get_and_edit_client_addresses",
        "description": "get_and_edit_client_addresses",
        "operationId": "getAndEditClientAddresses",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/audience/get_audiences/": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "get_all_audiences",
        "description": "get_all_audiences",
        "operationId": "getAllAudiences",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/audience/get_single_audience/": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "get_single_audience",
        "description": "get_single_audience",
        "operationId": "getSingleAudience",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/audience/endpoints/": {
      "get": {
        "tags": [
          "Audience"
        ],
        "summary": "endpoints for actions menu",
        "description": "endpoints for actions menu",
        "operationId": "endpointsForActionsMenu",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/get_user/": {
      "get": {
        "tags": [
          "Settings",
          "Users"
        ],
        "summary": "get_users",
        "description": "get_users",
        "operationId": "getUsers",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/create_user/": {
      "get": {
        "tags": [
          "Settings",
          "Users"
        ],
        "summary": "create_user",
        "description": "create_user",
        "operationId": "createUser",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/update_user/": {
      "get": {
        "tags": [
          "Settings",
          "Users"
        ],
        "summary": "update_user",
        "description": "update_user",
        "operationId": "updateUser",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/delete_user/": {
      "get": {
        "tags": [
          "Settings",
          "Users"
        ],
        "summary": "delete_user",
        "description": "delete_user",
        "operationId": "deleteUser",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/get_total_rows/": {
      "get": {
        "tags": [
          "Settings",
          "Logs"
        ],
        "summary": "get_total_rows",
        "description": "get_total_rows",
        "operationId": "getTotalRows",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/get_details/": {
      "get": {
        "tags": [
          "Settings",
          "Logs"
        ],
        "summary": "get_details_table",
        "description": "get_details_table",
        "operationId": "getDetailsTable",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/logs/download_csv/": {
      "get": {
        "tags": [
          "Settings",
          "Logs"
        ],
        "summary": "download_csv",
        "description": "download_csv",
        "operationId": "downloadCsv",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/eligibility/get_eligibility/": {
      "get": {
        "tags": [
          "Settings",
          "Eligibility"
        ],
        "summary": "get_eligibility",
        "description": "get_eligibility",
        "operationId": "getEligibility",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/settings/eligibility/delete_eligibility/": {
      "get": {
        "tags": [
          "Settings",
          "Eligibility"
        ],
        "summary": "delete_eligibility",
        "description": "delete_eligibility",
        "operationId": "deleteEligibility",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/profile/get_my_profile/": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "get_my_profile",
        "description": "get_my_profile",
        "operationId": "getMyProfile",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "get_my_profile": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/profile/edit_my_profile/": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "edit_my_profile",
        "description": "edit_my_profile",
        "operationId": "editMyProfile",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "Sabzazar Scheme Lahore Pakistan"
                  },
                  "name": {
                    "type": "string",
                    "example": "admin"
                  },
                  "phone": {
                    "type": "string",
                    "example": "123456789"
                  }
                }
              },
              "examples": {
                "edit_my_profile": {
                  "value": {
                    "address": "Sabzazar Scheme Lahore Pakistan",
                    "name": "admin",
                    "phone": "123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/profile/add_profile/": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "add_profile",
        "description": "add_profile",
        "operationId": "addProfile",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_address": {
                    "type": "string",
                    "example": "Lahore Pakistan"
                  },
                  "user_email": {
                    "type": "string",
                    "example": "usama11@gmail.com"
                  },
                  "user_name": {
                    "type": "string",
                    "example": "Usama11"
                  },
                  "user_password": {
                    "type": "string",
                    "example": "usama11@gmail.com"
                  },
                  "user_phone": {
                    "type": "string",
                    "example": "76543245654"
                  },
                  "user_role": {
                    "type": "number",
                    "example": 1
                  }
                }
              },
              "examples": {
                "add_profile": {
                  "value": {
                    "user_address": "Lahore Pakistan",
                    "user_email": "usama11@gmail.com",
                    "user_name": "Usama11",
                    "user_password": "usama11@gmail.com",
                    "user_phone": "76543245654",
                    "user_role": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/profile/list_all_profiles/": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "list_all_profiles",
        "description": "list_all_profiles",
        "operationId": "listAllProfiles",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/EngineX/api/profile/delete_profile/": {
      "delete": {
        "tags": [
          "Profile"
        ],
        "summary": "delete_profile",
        "description": "delete_profile",
        "operationId": "deleteProfile",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "number",
                    "example": 54
                  }
                }
              },
              "examples": {
                "delete_profile": {
                  "value": {
                    "user_id": 54
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/profile/edit_profile/": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "edit_profile",
        "description": "edit_profile",
        "operationId": "editProfile",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": ""
                  },
                  "name": {
                    "type": "string",
                    "example": "admin"
                  },
                  "phone": {
                    "type": "string",
                    "example": ""
                  },
                  "role_id": {
                    "type": "string",
                    "example": "1"
                  },
                  "user_id": {
                    "type": "string",
                    "example": "3"
                  }
                }
              },
              "examples": {
                "edit_profile": {
                  "value": {
                    "address": "",
                    "name": "admin",
                    "phone": "",
                    "role_id": "1",
                    "user_id": "3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/profile/get_profile/": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "get_profile",
        "description": "get_profile",
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "9b2211c0ca60678a3be3d2c49f702db3e91348f4dc0abe654e2a65b6286d9a73"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "number",
                    "example": 3
                  }
                }
              },
              "examples": {
                "get_profile": {
                  "value": {
                    "user_id": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/EngineX/api/american_states/get_american_states/": {
      "get": {
        "tags": [
          "American states"
        ],
        "summary": "get_american_states",
        "description": "get_american_states",
        "operationId": "getAmericanStates",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Alaska"
            },
            "description": "Searched by name or state abbreviation"
          },
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "8887232119323NBHA"
            }
          },
          {
            "name": "tokenauth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "e4257360a413d5a7e741f9342af464542aa1d27fc3deb529a90905118ae23253"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Leads / Customers"
    },
    {
      "name": "Producer"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Vehicle Attributes"
    },
    {
      "name": "Sidebar"
    },
    {
      "name": "Dashboard"
    },
    {
      "name": "Quote Details"
    },
    {
      "name": "Manage drivers & vehicles"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Audience"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Users"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Eligibility"
    },
    {
      "name": "Profile"
    },
    {
      "name": "American states"
    }
  ]
}