{
  "swagger": "2.0",
  "info": {
    "description": "Get-Cus-Obligation",
    "version": "v1.0.0",
    "title": "GetCusObligation",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AmaniHas/getcusobligation/v1.0.0"
  },
  "host": "api.server.com",
  "basePath": "/api/v1.0.0/",
  "tags": [
    {
      "name": "RETAIL"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/party/CusObligation": {
      "get": {
        "tags": [
          "RETAIL"
        ],
        "summary": "",
        "description": "Get-Cus-Obligation",
        "operationId": "GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "legalId",
            "in": "query",
            "description": "Unique reference number of the legal documents submitted as identification proof",
            "required": false,
            "type": "string"
          },
          {
            "name": "ucpReference",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The total number of records per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_start",
            "in": "query",
            "description": "The record from which the response should be displayed",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Unique id expected to get as part of response from Transact on every enquiry request",
            "required": false,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "header",
            "description": "Username and password to authenticate the API against core-banking.",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "header",
            "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
            "required": false,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "header",
            "description": "Identifies the device type",
            "required": false,
            "type": "string"
          },
          {
            "name": "userRole",
            "in": "header",
            "description": "User who initiated the transaction",
            "required": false,
            "type": "string"
          },
          {
            "name": "channelName",
            "in": "header",
            "description": "Name of the (digital) channel registered by the Customer",
            "required": false,
            "type": "string"
          },
          {
            "name": "disablePagination",
            "in": "header",
            "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "GETResponse",
            "schema": {
              "$ref": "#/definitions/GETResponse"
            }
          },
          "400": {
            "description": "BusinessQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500": {
            "description": "SystemQueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default": {
            "description": "QueryErrorResponse",
            "schema": {
              "$ref": "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    },
    "apiKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "GETResponseQueryHeader": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to respond by Transact"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records per page"
        },
        "page_start": {
          "type": "integer",
          "format": "int32",
          "description": "The record from which the response should be displayed"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of records present"
        },
        "page_token": {
          "type": "string",
          "description": "Unique id expected to get as part of response from Transact on every enquiry request"
        },
        "data": {
          "type": "object",
          "properties": {
            "customerNumber": {
              "type": "number",
              "description": "Identifier of the customer",
              "maximum": 14
            },
            "shortName": {
              "type": "string",
              "description": "Contains the name of the account, basically the short title of the account.",
              "maxLength": 35
            },
            "legalIdType": {
              "type": "string",
              "description": "",
              "maxLength": 35
            },
            "legalIdNumber": {
              "type": "number",
              "description": "",
              "maximum": 35
            }
          }
        }
      }
    },
    "GETResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/GETResponseQueryHeader"
        },
        "body": {
          "$ref": "#/definitions/GETResponseBody"
        }
      },
      "description": "GETResponse"
    },
    "GETResponseBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "guaranteeDetails": {
            "type": "array",
            "description": "Specifies the terms and conditions of the guarantee.",
            "items": {
              "type": "object",
              "properties": {
                "guaranteeType": {
                  "type": "array",
                  "description": "Refers to the type of the contract that is being issued.",
                  "items": {
                    "type": "string"
                  }
                },
                "guaranteedCustomerNumber": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "number"
                  }
                },
                "guaranteedLegalIdType": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "string"
                  }
                },
                "guaranteedLegaldNumber": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "number"
                  }
                },
                "coveragePercentage": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "number"
                  }
                },
                "coverageAmount": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "repaymentScheduleDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "scheduleFrequency": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "string"
                  }
                },
                "scheduleInstalmentStartDate": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "string"
                  }
                },
                "scheduleEndDate": {
                  "type": "array",
                  "description": "Deprecated - Indicates the end date of the schedule",
                  "items": {
                    "type": "string"
                  }
                },
                "schedulePaymentType": {
                  "type": "array",
                  "description": "Indicates payment schedule type",
                  "items": {
                    "type": "string"
                  }
                },
                "scheduleInstalmentAmount": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "losReference": {
            "type": "number",
            "description": "",
            "maximum": 35
          },
          "sadadAccountNumber": {
            "type": "number",
            "description": "",
            "maximum": 35
          },
          "customerRole": {
            "type": "string",
            "description": "Indicates role of a customer for an arrangement.",
            "maxLength": 35
          },
          "productFamily": {
            "type": "string",
            "description": "",
            "maxLength": 20
          },
          "productLine": {
            "type": "string",
            "description": "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products.",
            "maxLength": 20
          },
          "financeReason": {
            "type": "string",
            "description": "",
            "maxLength": 20
          },
          "financeSource": {
            "type": "string",
            "description": "",
            "maxLength": 20
          },
          "financingAmount": {
            "type": "number",
            "description": "",
            "maximum": 18
          },
          "outstandingAmount": {
            "type": "number",
            "description": "Contains the aggregate outstanding principal amount thereof after giving effect to any borrowings and prepayments or repayments of Committed Loans",
            "maximum": 18
          },
          "disbursementDate": {
            "type": "string",
            "description": "Indicates the date in which disbursement to escrow payee is executed from linked escrow account.",
            "maxLength": 35
          },
          "maturityDate": {
            "type": "string",
            "description": "Indicates maturity date of the contract",
            "maxLength": 35
          },
          "tenor": {
            "type": "string",
            "description": "This field is valid for Documentary Collections only. It is used in conjunction with the following field 'DAYS' or 'COLL.MAT.CODE' to indicate the TENOR of the drafts under the collection and is used in the production of corresponding Collection messages.",
            "maxLength": 10
          },
          "gracePeriod": {
            "type": "number",
            "description": "",
            "maximum": 11
          },
          "firstUnpaidInstalmentDate": {
            "type": "string",
            "description": "",
            "maxLength": 11
          },
          "totalNumberOfInstalments": {
            "type": "number",
            "description": "",
            "maximum": 10
          },
          "totalNumberOfFutureInstalments": {
            "type": "number",
            "description": "",
            "maximum": 10
          },
          "totalUnpaidOverdueAmount": {
            "type": "number",
            "description": "",
            "maximum": 18
          },
          "delinquencyString": {
            "type": "string",
            "description": "",
            "maxLength": 15
          },
          "numberOfUnpaidInstalments": {
            "type": "number",
            "description": "",
            "maximum": 10
          },
          "activeDPD": {
            "type": "number",
            "description": "",
            "maximum": 10
          },
          "historicalDPD": {
            "type": "number",
            "description": "",
            "maximum": 10
          },
          "writeOffAmount": {
            "type": "number",
            "description": "Indicates that the corresponding balance needs to be written off partially. It should not be greater than the original balance amount.",
            "maximum": 18
          },
          "extensions": {
            "type": "object",
            "description": "Indicates the extension data"
          }
        }
      }
    },
    "QueryErrorHeader": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the API(success/failed)"
        },
        "audit": {
          "type": "object",
          "properties": {
            "T24_time": {
              "type": "integer",
              "format": "int32",
              "description": "Time taken to respond by Transact"
            },
            "versionNumber": {
              "type": "string",
              "description": "The CURR.NO. of the record"
            },
            "requestParse_time": {
              "type": "number",
              "description": "Time taken to parse the request by IRIS"
            },
            "responseParse_time": {
              "type": "number",
              "description": "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/QueryErrorResponseBody"
        }
      },
      "description": "QueryErrorResponse"
    },
    "QueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual Transact error message "
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description": "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual Transact error message for bad requests"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/QueryErrorHeader"
        },
        "error": {
          "$ref": "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description": "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The identifier of the error message"
        },
        "message": {
          "type": "string",
          "description": "The actual Transact error message caused by server"
        },
        "type": {
          "type": "string",
          "description": "The identifier of error type: System"
        }
      }
    }
  }
}