{
  "openapi": "3.0.1",
  "info": {
    "title": "Dispatch API",
    "description": "An API using POST requests for dispatching and reservations.",
    "contact": {
      "name": "PCS Software, Inc.",
      "email": "PCS-OpenAPI@pcssoft.com"
    },
    "version": "1.0.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PCS-Software-Inc/Dispatch-API/1.0.0.0"
  },
  "servers": [
    {
      "url": "https://api.pcssoft.com/api"
    }
  ],
  "tags": [
    {
      "name": "Dispatch",
      "description": "Dispatch operations available to developers"
    }
  ],
  "paths": {
    "/truckload/{loadId}/broker/dispatch": {
      "post": {
        "tags": [
          "Dispatch"
        ],
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "username",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Must be a valid TMS user which will be recorded as the user performing the operation."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadCarrierAssignment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadCarrierAssignment"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadCarrierAssignment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid input or object invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          }
        }
      }
    },
    "/truckload/{loadId}/company/dispatch": {
      "post": {
        "tags": [
          "Dispatch"
        ],
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "username",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Must be a valid TMS user which will be recorded as the user performing the operation."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadAssignment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadAssignment"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadAssignment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid input or object invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          }
        }
      }
    },
    "/truckload/{loadId}/company/reserve": {
      "post": {
        "tags": [
          "Dispatch"
        ],
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "username",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Must be a valid TMS user which will be recorded as the user performing the operation."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadAssignment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadAssignment"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TruckLoadAssignment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid input or object invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          }
        }
      }
    },
    "/company/dispatch": {
      "get": {
        "tags": [
          "Dispatch"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromLoadNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toLoadNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "driverName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Customer-Id",
            "in": "header",
            "description": "Pcs client id (customer id)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoadDispatch"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoadDispatch"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoadDispatch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/broker/dispatch": {
      "get": {
        "tags": [
          "Dispatch"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromLoadNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "toLoadNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "carrierName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Customer-Id",
            "in": "header",
            "description": "Pcs client id (customer id)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierDispatchRecord"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierDispatchRecord"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierDispatchRecord"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AutoRespondNotification": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string",
            "nullable": true
          },
          "response": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CarrierLocator": {
        "type": "object",
        "properties": {
          "id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "scac": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "name": {
            "maxLength": 50,
            "type": "string",
            "nullable": true
          },
          "city": {
            "maxLength": 25,
            "type": "string",
            "nullable": true
          },
          "state": {
            "maxLength": 2,
            "type": "string",
            "nullable": true
          },
          "mcId": {
            "maxLength": 15,
            "type": "string",
            "nullable": true
          },
          "dotId": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DriverLocator": {
        "type": "object",
        "properties": {
          "id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "firstName": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "middleInitial": {
            "maxLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LineHaulRate": {
        "required": [
          "rateType"
        ],
        "type": "object",
        "properties": {
          "rateType": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string"
          },
          "rate": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "matrixId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "isManual": {
            "type": "boolean"
          },
          "isMatrix": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "TrailerLocator": {
        "type": "object",
        "properties": {
          "id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "number": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TruckLoadAssignment": {
        "type": "object",
        "properties": {
          "notes": {
            "maxLength": 8000,
            "type": "string",
            "nullable": true
          },
          "lineHaulRate": {
            "$ref": "#/components/schemas/LineHaulRate"
          },
          "hours": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "coDriverLineHaulRate": {
            "$ref": "#/components/schemas/LineHaulRate"
          },
          "coDriverHours": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "miles": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "coDriverMiles": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "driverLocator": {
            "$ref": "#/components/schemas/DriverLocator"
          },
          "coDriverLocator": {
            "$ref": "#/components/schemas/DriverLocator"
          },
          "truckLocator": {
            "$ref": "#/components/schemas/TruckLocator"
          },
          "trailer1Locator": {
            "$ref": "#/components/schemas/TrailerLocator"
          },
          "trailer2Locator": {
            "$ref": "#/components/schemas/TrailerLocator"
          },
          "unitLocator": {
            "$ref": "#/components/schemas/UnitLocator"
          },
          "autoRespondNotifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AutoRespondNotification"
            },
            "nullable": true
          },
          "pickupDate": {
            "type": "string",
            "format": "date-time"
          },
          "pickupTimeIn": {
            "type": "string",
            "format": "date-time"
          },
          "pickupTimeOut": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryTimeIn": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryTimeOut": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "TruckLoadCarrierAssignment": {
        "required": [
          "carrierLocator"
        ],
        "type": "object",
        "properties": {
          "referenceNumber": {
            "maxLength": 25,
            "type": "string",
            "nullable": true
          },
          "notes": {
            "maxLength": 8000,
            "type": "string",
            "nullable": true
          },
          "driverName": {
            "maxLength": 50,
            "type": "string",
            "nullable": true
          },
          "trailerNumber": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "carrierLocator": {
            "$ref": "#/components/schemas/CarrierLocator"
          },
          "lineHaulRate": {
            "$ref": "#/components/schemas/LineHaulRate"
          },
          "miles": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "truckNumber": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "driverMobilePhone": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "contact": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          },
          "autoRespondNotifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AutoRespondNotification"
            },
            "nullable": true
          },
          "pickupDate": {
            "type": "string",
            "format": "date-time"
          },
          "pickupTimeIn": {
            "type": "string",
            "format": "date-time"
          },
          "pickupTimeOut": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryTimeIn": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryTimeOut": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "TruckLocator": {
        "type": "object",
        "properties": {
          "id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "number": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UnitLocator": {
        "type": "object",
        "properties": {
          "id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "number": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "Fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "Fault": {
        "type": "object",
        "properties": {
          "Timestamp": {
            "type": "string",
            "format": "date"
          },
          "Operation": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          },
          "Details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ValidationError"
                },
                {
                  "$ref": "#/components/schemas/Error"
                }
              ]
            }
          }
        }
      },
      "LoadDispatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "loadId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "tripId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "dropCus": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropRetDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropRetTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropTimeIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropName": {
            "type": "string",
            "nullable": true
          },
          "dropAddress": {
            "type": "string",
            "nullable": true
          },
          "dropCity": {
            "type": "string",
            "nullable": true
          },
          "dropState": {
            "type": "string",
            "nullable": true
          },
          "dropZip": {
            "type": "string",
            "nullable": true
          },
          "dropZone": {
            "type": "string",
            "nullable": true
          },
          "driverPay": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "coDriverPay": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "payType": {
            "type": "string",
            "nullable": true
          },
          "payCode": {
            "type": "string",
            "nullable": true
          },
          "driverId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "driverName": {
            "type": "string",
            "nullable": true
          },
          "coDriverId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "coDriverName": {
            "type": "string",
            "nullable": true
          },
          "truckId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "truckNumber": {
            "type": "string",
            "nullable": true
          },
          "trailerId1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trailerNumber1": {
            "type": "string",
            "nullable": true
          },
          "trailerId2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trailerNumber2": {
            "type": "string",
            "nullable": true
          },
          "unitId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "unitNumber": {
            "type": "string",
            "nullable": true
          },
          "carrierId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "carrierName": {
            "type": "string",
            "nullable": true
          },
          "dispatchDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dispatchTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dispatchCode": {
            "type": "string",
            "nullable": true
          },
          "miles": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "mainDispatchId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "emptyMiles": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "payRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "emptyRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "paySource": {
            "type": "string",
            "nullable": true
          },
          "payMatrixId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalPay": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "dispatchHours": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "batchId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropTrailer1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropTrailer2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "pickupDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pickupTimeIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pickupTimeOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pickupName": {
            "type": "string",
            "nullable": true
          },
          "pickupAddress": {
            "type": "string",
            "nullable": true
          },
          "pickupCity": {
            "type": "string",
            "nullable": true
          },
          "pickupState": {
            "type": "string",
            "nullable": true
          },
          "pickupZip": {
            "type": "string",
            "nullable": true
          },
          "pickupZone": {
            "type": "string",
            "nullable": true
          },
          "pickupCustomer": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropTimeOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryCus": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryTimeIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryTimeOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryName": {
            "type": "string",
            "nullable": true
          },
          "deliveryAddress": {
            "type": "string",
            "nullable": true
          },
          "deliveryCity": {
            "type": "string",
            "nullable": true
          },
          "deliveryState": {
            "type": "string",
            "nullable": true
          },
          "deliveryZip": {
            "type": "string",
            "nullable": true
          },
          "deliveryZone": {
            "type": "string",
            "nullable": true
          },
          "emptyPull": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "macroPointOrderId": {
            "type": "string",
            "nullable": true
          },
          "autoDispatch": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "carrierRef": {
            "type": "string",
            "nullable": true
          },
          "carrierContact": {
            "type": "string",
            "nullable": true
          },
          "accSplitId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "payUnits": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "inputDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "inputTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "inputUser": {
            "type": "string",
            "nullable": true
          },
          "entityCode": {
            "type": "string",
            "nullable": true
          },
          "fuelMatrixId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "actualDateOrigin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeInOrigin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeOutOrigin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualDateDestination": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeInDestination": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeOutDestination": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "autoSendSatellite": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ownerId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trailerCharge": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preloadTrailer1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadTrailer2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "driverPayForeignCurrency": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "currencyCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CarrierDispatchRecord": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "dotId": {
            "type": "string",
            "nullable": true
          },
          "loadId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "tripId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "dropCus": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropRetDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropRetTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropTimeIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dropName": {
            "type": "string",
            "nullable": true
          },
          "dropAddress": {
            "type": "string",
            "nullable": true
          },
          "dropCity": {
            "type": "string",
            "nullable": true
          },
          "dropState": {
            "type": "string",
            "nullable": true
          },
          "dropZip": {
            "type": "string",
            "nullable": true
          },
          "dropZone": {
            "type": "string",
            "nullable": true
          },
          "driverPay": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "coDriverPay": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "payType": {
            "type": "string",
            "nullable": true
          },
          "payCode": {
            "type": "string",
            "nullable": true
          },
          "driverId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "driverName": {
            "type": "string",
            "nullable": true
          },
          "coDriverId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "coDriverName": {
            "type": "string",
            "nullable": true
          },
          "truckId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "truckNumber": {
            "type": "string",
            "nullable": true
          },
          "trailerId1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trailerNumber1": {
            "type": "string",
            "nullable": true
          },
          "trailerId2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trailerNumber2": {
            "type": "string",
            "nullable": true
          },
          "unitId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "unitNumber": {
            "type": "string",
            "nullable": true
          },
          "carrierId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "carrierName": {
            "type": "string",
            "nullable": true
          },
          "dispatchDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dispatchTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dispatchCode": {
            "type": "string",
            "nullable": true
          },
          "miles": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "mainDispatchId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "emptyMiles": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "payRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "emptyRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "paySource": {
            "type": "string",
            "nullable": true
          },
          "payMatrixId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalPay": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "dispatchHours": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "batchId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropTrailer1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropTrailer2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "pickupDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pickupTimeIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pickupTimeOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pickupName": {
            "type": "string",
            "nullable": true
          },
          "pickupAddress": {
            "type": "string",
            "nullable": true
          },
          "pickupCity": {
            "type": "string",
            "nullable": true
          },
          "pickupState": {
            "type": "string",
            "nullable": true
          },
          "pickupZip": {
            "type": "string",
            "nullable": true
          },
          "pickupZone": {
            "type": "string",
            "nullable": true
          },
          "pickupCustomer": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "dropTimeOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryCus": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryTimeIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryTimeOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryName": {
            "type": "string",
            "nullable": true
          },
          "deliveryAddress": {
            "type": "string",
            "nullable": true
          },
          "deliveryCity": {
            "type": "string",
            "nullable": true
          },
          "deliveryState": {
            "type": "string",
            "nullable": true
          },
          "deliveryZip": {
            "type": "string",
            "nullable": true
          },
          "deliveryZone": {
            "type": "string",
            "nullable": true
          },
          "emptyPull": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "macroPointOrderId": {
            "type": "string",
            "nullable": true
          },
          "autoDispatch": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "carrierRef": {
            "type": "string",
            "nullable": true
          },
          "carrierContact": {
            "type": "string",
            "nullable": true
          },
          "accSplitId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "payUnits": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "inputDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "inputTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "inputUser": {
            "type": "string",
            "nullable": true
          },
          "entityCode": {
            "type": "string",
            "nullable": true
          },
          "fuelMatrixId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "actualDateOrigin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeInOrigin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeOutOrigin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualDateDestination": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeInDestination": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualTimeOutDestination": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "autoSendSatellite": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ownerId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "trailerCharge": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "preloadTrailer1": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "preloadTrailer2": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "driverPayForeignCurrency": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "currencyCode": {
            "type": "string",
            "nullable": true
          },
          "driverCellPhone": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}