{
  "swagger": "2.0",
  "host": "io.catchpoint.com",
  "info": {
    "version": "1.0.0",
    "title": "Catchpoint API",
    "contact": {
      "name": "Edward Wilde"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ewilde/Catchpoint/1.0.0",
    "description": "Catchpoint API - OpenAPI Specification"
  },
  "paths": {
    "/ui/api/v1/tests": {
      "get": {
        "description": "Retrieve tests and filter them according to divisionId, productId, parentFolderId, statusId, name, url, type, monitor, pageNumber and pageSize.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "test response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/testResult"
              }
            }
          }
        },
        "operationId": "get_ui_api_v1_tests",
        "tags": [
          "ui"
        ]
      }
    },
    "/ui/api/v1/tests/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of test to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "test response",
            "schema": {
              "$ref": "#/definitions/test"
            }
          }
        },
        "description": "GET /ui/api/v1/tests/{id}",
        "operationId": "get_ui_api_v1_tests_id",
        "tags": [
          "ui"
        ]
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "To create a new test, use test id “0”",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "test",
            "in": "body",
            "description": "The details of the test to create or modify",
            "schema": {
              "$ref": "#/definitions/test"
            },
            "required": true
          }
        ],
        "description": "Modify a test's detail based on Id. To create a new test, use test id “0” in the request JSON and endpoint url. The startTime and endTime should be in UTC Timezone.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "test response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/testModifyResponse"
              }
            }
          }
        },
        "operationId": "post_ui_api_v1_tests_id",
        "tags": [
          "ui"
        ]
      }
    },
    "/ui/api/v1/tests/{id}/allSections": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the test to fetch",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "test response",
            "schema": {
              "$ref": "#/definitions/testAllSections"
            }
          }
        },
        "description": "GET /ui/api/v1/tests/{id}/allSections",
        "operationId": "get_ui_api_v1_tests_id_allSections",
        "tags": [
          "ui"
        ]
      }
    }
  },
  "definitions": {
    "item": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Id."
        },
        "name": {
          "type": "string"
        }
      }
    },
    "testResult": {
      "description": "A test object from a search result",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Id."
        },
        "name": {
          "type": "string"
        },
        "division_id": {
          "type": "integer",
          "format": "int32"
        },
        "product_id": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "$ref": "#/definitions/item"
        },
        "type": {
          "$ref": "#/definitions/item"
        },
        "monitors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/item"
          }
        },
        "frequency": {
          "$ref": "#/definitions/item"
        },
        "change_date": {
          "type": "string"
        }
      }
    },
    "test": {
      "description": "Request object used to modify a test",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "test_type": {
          "$ref": "#/definitions/item"
        },
        "division_id": {
          "type": "integer"
        },
        "product_id": {
          "type": "integer"
        },
        "parent_folder_id": {
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/item"
        },
        "start": {
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "type": "string",
          "format": "date-time"
        },
        "expiration_contact_id": {
          "type": "integer"
        },
        "expiration_contact_group_id": {
          "type": "integer"
        },
        "monitor": {
          "$ref": "#/definitions/item"
        },
        "from": {
          "type": "string"
        },
        "to": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cc": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bcc": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subject": {
          "type": "string"
        },
        "request_type": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "http_method": {
          "type": "object"
        },
        "post_data_format": {
          "type": "object"
        },
        "use_passive_connection": {
          "type": "boolean"
        },
        "dns_query_type": {
          "type": "object"
        },
        "playback_Source": {
          "type": "object"
        },
        "mobile_playback_source": {
          "type": "object"
        },
        "simulate": {
          "type": "object"
        },
        "har_description": {
          "type": "string"
        },
        "har_content": {
          "type": "string"
        },
        "dns_server": {
          "type": "string"
        },
        "upload_size": {
          "type": "integer"
        },
        "delete_file_post_successful_upload": {
          "type": "boolean"
        },
        "authentication": {
          "type": "object"
        },
        "username": {
          "type": "string"
        },
        "advanced_settings": {
          "type": "object",
          "properties": {
            "gateway_address/host": {
              "type": "string"
            },
            "on_failure": {
              "type": "object",
              "properties": {
                "verify_test": {
                  "type": "boolean"
                },
                "debug_primary_host": {
                  "type": "boolean"
                },
                "debug_referenced_host": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "additional_settings": {
          "type": "object",
          "properties": {
            "on_NS_server_failure_retry_next_NS_server_on_the_same_level": {
              "type": "boolean"
            },
            "favor_NS_servers_with_lower_round_trip_time": {
              "type": "boolean"
            },
            "cache_TLD_query_levels": {
              "type": "boolean"
            },
            "disable_recursive_resolution": {
              "type": "boolean"
            },
            "enable_ping_(ICMP)_monitor": {
              "type": "boolean"
            },
            "enable_ping_(UDP)_monitor": {
              "type": "boolean"
            },
            "enable_ping_(TCP)_monitor": {
              "type": "boolean"
            },
            "enable_traceroute_(ICMP)_monitor": {
              "type": "boolean"
            },
            "enable_traceroute_(UDP)_monitor": {
              "type": "boolean"
            },
            "enable_traceroute_(TCP)_monitor": {
              "type": "boolean"
            },
            "enable_data_push_api": {
              "type": "boolean"
            },
            "enable_host_name_identification": {
              "type": "object"
            },
            "edns_subset": {
              "type": "string"
            },
            "enable_host_data_collection": {
              "type": "boolean"
            },
            "enable_zone_data_collection": {
              "type": "boolean"
            },
            "enable_spdy": {
              "type": "boolean"
            },
            "enable_adblock_extension": {
              "type": "boolean"
            },
            "stop_test_on_document_complete": {
              "type": "boolean"
            },
            "stop_test_post_document_complete_after_no_activity_for": {
              "type": "integer"
            },
            "enforce_failure_if_longer_than": {
              "type": "integer"
            },
            "treat_40X_or_50X_http_response_as_successful_test_run": {
              "type": "boolean"
            },
            "viewport_height": {
              "type": "integer"
            },
            "viewport_width": {
              "type": "integer"
            },
            "do_not_follow_30x_redirects": {
              "type": "boolean"
            },
            "disable_paris_traceroute_mode": {
              "type": "boolean"
            },
            "capture_filmstrip": {
              "type": "boolean"
            },
            "film_strip_frequency": {
              "type": "integer"
            },
            "capture_test_end_screenshot": {
              "type": "object"
            },
            "capture_http_headers": {
              "type": "object"
            },
            "capture_response_content": {
              "type": "object"
            },
            "capture_meta_data": {
              "type": "object"
            },
            "calculate_page_speed_score": {
              "type": "boolean"
            },
            "ignore_ssl_failures": {
              "type": "boolean"
            }
          }
        },
        "test_html": {
          "type": "string"
        },
        "test_location": {
          "type": "string"
        },
        "test_domain": {
          "type": "string"
        },
        "test_url": {
          "type": "string"
        },
        "protocol": {
          "type": "object"
        },
        "script": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "post_data": {
          "type": "string"
        },
        "request_data": {
          "type": "string"
        },
        "apdex_threshold": {
          "type": "integer"
        },
        "apdex_tolerating_threshold": {
          "type": "integer"
        },
        "indexes": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "request_section": {
          "type": "object",
          "properties": {
            "inheritance_type": {
              "type": "object"
            }
          }
        },
        "schedule_section": {
          "type": "object",
          "properties": {
            "inheritance_type": {
              "type": "object"
            }
          }
        },
        "insight_section": {
          "type": "object",
          "properties": {
            "inheritance_type": {
              "type": "object"
            }
          }
        },
        "alert_section": {
          "type": "object",
          "properties": {
            "inheritance_type": {
              "type": "object"
            }
          }
        },
        "change_date": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "testModifyResponse": {
      "description": "Returned from modifying the response",
      "properties": {
        "id": {
          "type": "integer"
        },
        "section": {
          "$ref": "#/definitions/item"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "testAllSections": {
      "description": "A test object complete with all information",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Id."
        },
        "name": {
          "type": "string"
        },
        "division_id": {
          "type": "integer",
          "format": "int32"
        },
        "product_id": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "$ref": "#/definitions/item"
        },
        "start": {
          "type": "string"
        },
        "monitor": {
          "$ref": "#/definitions/item"
        },
        "http_method": {
          "$ref": "#/definitions/item"
        },
        "advanced_settings": {
          "properties": {
            "on_failure": {
              "properties": {
                "verify_test": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "additional_settings": {
          "properties": {
            "calculate_page_speed_score": {
              "type": "boolean"
            },
            "capture_test_end_screenshot": {
              "$ref": "#/definitions/item"
            },
            "capture_http_headers": {
              "$ref": "#/definitions/item"
            },
            "capture_response_content": {
              "$ref": "#/definitions/item"
            }
          }
        },
        "test_url": {
          "type": "string"
        },
        "request_section": {
          "properties": {
            "inheritance_type": {
              "$ref": "#/definitions/item"
            }
          }
        },
        "schedule_section": {
          "properties": {
            "inheritance_type": {
              "$ref": "#/definitions/item"
            },
            "network_type": {
              "$ref": "#/definitions/item"
            },
            "nodes": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id."
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "$ref": "#/definitions/item"
                  }
                }
              }
            },
            "run_type": {
              "properties": {
                "run_on": {
                  "$ref": "#/definitions/item"
                },
                "frequency": {
                  "$ref": "#/definitions/item"
                },
                "node_distribution": {
                  "$ref": "#/definitions/item"
                }
              }
            }
          }
        },
        "insight_section": {
          "properties": {
            "inheritance_type": {
              "$ref": "#/definitions/item"
            }
          }
        },
        "alert_section": {
          "properties": {
            "inheritance_type": {
              "$ref": "#/definitions/item"
            }
          }
        },
        "change_date": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "ui"
    }
  ]
}
