{
  "openapi": "3.0.3",
  "info": {
    "title": "Pre-Authorization Details API",
    "description": "The CLARA Pre-Authorization details API is a GET API which can be used for the following actions\n1.  To `fetch the details` of a CLARA Pre-authorization record using the pre-authorization number.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ALFEROC_1/pre-authorization-details-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://eu.api.daimlertruck.com/pad/v1.0",
      "description": "Europe production server"
    }
  ],
  "paths": {
    "/preauthorization": {
      "get": {
        "summary": "This service will provide the CLARA Pre-Authorization based on the CLARA Pre-Authorization number.",
        "operationId": "preAuthorizationDetails",
        "tags": [
          "Interfaces exposed from CLARA"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0000004226"
            },
            "description": "Unique Preauthorization number"
          },
          {
            "in": "query",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string",
              "example": "D0X19457"
            },
            "description": "User ID of the user who submitted the pre-authorization"
          }
        ],
        "responses": {
          "200": {
            "description": "\u201cOK\u201d success code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (The request couldn\u2019t be understood, usually because the JSON or XML body contains an error.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (The session ID or OAuth token used has expired or is invalid. The response body contains the message and error Code.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (The subscription is not active. Please check the status on the Developer DTAG API Portal)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseDTO": {
        "type": "object",
        "properties": {
          "preAuthorizationNumber": {
            "type": "string",
            "description": "Unique Preauthorization number",
            "example": "0000004226"
          },
          "gsId": {
            "type": "string",
            "description": "GS ID of the pre-authorization.",
            "example": "GS234567"
          },
          "userId": {
            "type": "string",
            "description": "User ID of the user who submitted the pre-authorization.",
            "example": "D0X19457"
          },
          "requestDate": {
            "type": "string",
            "format": "date",
            "description": "Request date of the pre-authorization.",
            "example": "20240422"
          },
          "fin": {
            "type": "string",
            "description": "FIN of the pre-authorization.",
            "example": "W1T96340310599168"
          },
          "vin": {
            "type": "string",
            "description": "VIN of the pre-authorization.",
            "example": "W1T96340310599168"
          },
          "mileage": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Mileage of the pre-authorization.",
            "example": 15000
          },
          "mileageIndicator": {
            "type": "string",
            "description": "Mileage Indicator of the pre-authorization.",
            "example": "KMs"
          },
          "repairOrderNumber": {
            "type": "string",
            "description": "Repair order number of the pre-authorization.",
            "example": "9999999"
          },
          "claimType": {
            "type": "string",
            "description": "Claim Type of the pre-authorization.",
            "example": "0"
          },
          "damageCode": {
            "type": "string",
            "description": "Damage code and Damage Type of the pre-authorization.",
            "example": "0003300"
          },
          "status": {
            "type": "string",
            "description": "Status of the pre-authorization in CLARA.",
            "example": "Approved"
          },
          "expiryDate": {
            "type": "string",
            "format": "date",
            "description": "Expiry date of the pre-authorization.",
            "example": "20240721"
          },
          "expiryMileage": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Expiry mileage of the pre-authorization.",
            "example": 20000
          },
          "otcPart": {
            "type": "boolean",
            "description": "Is OTC flag in the pre-authorization.",
            "example": false
          },
          "productCategory": {
            "type": "string",
            "description": "Product Category in the pre-authorization.",
            "example": "Foreign Vehicles"
          },
          "partNumber": {
            "type": "string",
            "description": "Part Number in the pre-authorization.",
            "example": "A471130661580"
          },
          "partSerialNumber": {
            "type": "string",
            "description": "Part Serial Number in the pre-authorization.",
            "example": null
          },
          "mileageAtPartPurchase": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Mileage at Part Purchase in the pre-authorization.",
            "example": 14000
          },
          "partPurchaseDate": {
            "type": "string",
            "format": "date",
            "description": "Part Purchase Date in the pre-authorization.",
            "example": "20240415"
          },
          "breakdownIndicator": {
            "type": "string",
            "description": "Breakdown Indicator in the pre-authorization.",
            "example": "KMs"
          },
          "majorUnit": {
            "type": "boolean",
            "description": "Major Unit in the pre-authorization.",
            "example": false
          },
          "regularlyMaintained": {
            "type": "boolean",
            "description": "Regularly maintained in the pre-authorization.",
            "example": false
          },
          "comments": {
            "type": "string",
            "description": "Dealer Comments in the pre-authorization.",
            "example": "Damaged part"
          },
          "approvalComments": {
            "type": "string",
            "description": "Approver Comments in the pre-authorization.",
            "example": "Approved"
          },
          "businessValidations": {
            "type": "array",
            "description": "Array of business validation, if any.",
            "items": {
              "$ref": "#/components/schemas/BusinessValidation"
            },
            "example": [
              {
                "ruleType": "yellow",
                "ruleDescription": "Need more informations"
              }
            ]
          },
          "decisions": {
            "type": "object",
            "description": "Object which contains the pre-authorization decision.",
            "items": {
              "$ref": "#/components/schemas/Decision"
            },
            "example": {
              "warrantyGoodwillCustomerShare": {
                "parts": 5.99,
                "oemParts": 5.99,
                "nonOemParts": 5.99,
                "labor": 5.99,
                "otherCosts": 5.99,
                "travel": 5.99,
                "towing": 5.99,
                "foreignLabor": 5.99,
                "miscellaneous": 5.99,
                "chargingCosts": 5.99
              },
              "serviceContractCustomerShare": {
                "parts": 6.99,
                "oemParts": 6.99,
                "nonOemParts": 6.99,
                "labor": 6.99,
                "otherCosts": 6.99,
                "travel": 6.99,
                "towing": 6.99,
                "foreignLabor": 6.99,
                "miscellaneous": 6.99,
                "chargingCosts": 6.99
              }
            }
          },
          "attachments": {
            "type": "array",
            "description": "Attachment information",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "example": [
              {
                "attachmentPath": "https://tst.eu.api.daimlertruck.com/afs/v1.0/files?container=default&filename=835d94b3-37e4-4bb4-bb48-dae37c32edda.png"
              }
            ],
            "nullable": true
          }
        }
      },
      "BusinessValidation": {
        "type": "object",
        "properties": {
          "ruleType": {
            "type": "string",
            "description": "Type of business validation e.g., yellow or red validations.",
            "example": "yellow"
          },
          "ruleDescription": {
            "type": "string",
            "description": "Description of the business validation.",
            "example": "Need more informations"
          }
        }
      },
      "Decision": {
        "type": "object",
        "properties": {
          "warrantyGoodwillCustomerShare": {
            "type": "object",
            "description": "Object which contains the pre-authorization decision for warranty and goodwill coverage.",
            "items": {
              "$ref": "#/components/schemas/WarrantyGoodwillCustomerShare"
            },
            "example": {
              "parts": 5.99,
              "oemParts": 5.99,
              "nonOemParts": 5.99,
              "labor": 5.99,
              "otherCosts": 5.99,
              "travel": 5.99,
              "towing": 5.99,
              "foreignLabor": 5.99,
              "miscellaneous": 5.99,
              "chargingCosts": 5.99
            }
          },
          "serviceContractCustomerShare": {
            "type": "object",
            "description": "Object which contains the pre-authorization decision for service contract coverage.",
            "items": {
              "$ref": "#/components/schemas/ServiceContractCustomerShare"
            },
            "example": {
              "parts": 6.99,
              "oemParts": 6.99,
              "nonOemParts": 6.99,
              "labor": 6.99,
              "otherCosts": 6.99,
              "travel": 6.99,
              "towing": 6.99,
              "foreignLabor": 6.99,
              "miscellaneous": 6.99,
              "chargingCosts": 6.99
            }
          }
        }
      },
      "WarrantyGoodwillCustomerShare": {
        "type": "object",
        "properties": {
          "parts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Parts customer share.",
            "example": 5.99
          },
          "oemParts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "OEM Parts customer share.",
            "example": 5.99
          },
          "nonOemParts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Non-OEM Parts customer share.",
            "example": 5.99
          },
          "labor": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Labor customer share.",
            "example": 5.99
          },
          "otherCosts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Other Costs customer share.",
            "example": 5.99
          },
          "travel": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Travel customer share.",
            "example": 5.99
          },
          "towing": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Towing customer share.",
            "example": 5.99
          },
          "foreignLabor": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Foreign Labor customer share.",
            "example": 5.99
          },
          "miscellaneous": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Miscellaneous customer share.",
            "example": 5.99
          },
          "chargingCosts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Charging Costs customer share.",
            "example": 5.99
          }
        }
      },
      "ServiceContractCustomerShare": {
        "type": "object",
        "properties": {
          "parts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Parts customer share.",
            "example": 6.99
          },
          "oemParts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "OEM Parts customer share.",
            "example": 6.99
          },
          "nonOemParts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Non-OEM Parts customer share.",
            "example": 6.99
          },
          "labor": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Labor customer share.",
            "example": 6.99
          },
          "otherCosts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Other Costs customer share.",
            "example": 6.99
          },
          "travel": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Travel customer share.",
            "example": 6.99
          },
          "towing": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Towing customer share.",
            "example": 6.99
          },
          "foreignLabor": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Foreign Labor customer share.",
            "example": 6.99
          },
          "miscellaneous": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Miscellaneous customer share.",
            "example": 6.99
          },
          "chargingCosts": {
            "type": "number",
            "multipleOf": 0.01,
            "description": "Charging Costs customer share.",
            "example": 6.99
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "attachmentPath": {
            "type": "string",
            "description": "Azure File path of the attachment",
            "example": "https://tst.eu.api.daimlertruck.com/afs/v1.0/files?container=default&filename=835d94b3-37e4-4bb4-bb48-dae37c32edda.png",
            "minLength": 1,
            "maxLength": 255
          }
        }
      },
      "Error400": {
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "requestTimestamp": {
                  "type": "string",
                  "description": "Timestamp of the request.",
                  "example": "2025-08-25T07:56:32.7815516Z"
                },
                "field": {
                  "type": "string",
                  "description": "Field which caused the error.",
                  "example": ""
                },
                "message": {
                  "type": "string",
                  "description": "Description of the error.",
                  "example": "Preauthorization record doesn't exist in CLARA"
                },
                "errorCode": {
                  "type": "string",
                  "description": "Error code related to the error.",
                  "example": ""
                }
              }
            }
          }
        }
      },
      "Error401": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "description": "Status Code",
            "example": 401
          },
          "message": {
            "type": "string",
            "description": "Message of the Error",
            "example": "Unauthorized"
          },
          "reason": {
            "type": "string",
            "description": "Reason of the error",
            "example": "IDX10223: Lifetime validation failed. The token is expired. ValidTo (UTC): 8/14/2025 8:33:08 AM, Current time (UTC): 8/25/2025 7:43:36 AM"
          },
          "origin": {
            "type": "string",
            "description": "Where did the error occur.",
            "example": "authentication_dt_ciam"
          },
          "traceId": {
            "type": "string",
            "description": "TraceID for the DTAG API Portal Support Team.",
            "example": "9d08e564b6cd739419610d1e7e9efc8d"
          }
        }
      },
      "Error403": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string",
            "description": "Status Code",
            "example": 403
          },
          "message": {
            "type": "string",
            "description": "Message of the Error",
            "example": "Forbidden"
          },
          "reason": {
            "type": "string",
            "description": "Reason of the error",
            "example": "Missing or invalid subscription, status = 403"
          },
          "origin": {
            "type": "string",
            "description": "Where did the error occur.",
            "example": "authorization_standard"
          },
          "traceId": {
            "type": "string",
            "description": "TraceID for the DTAG API Portal Support Team.",
            "example": "8510b16597f8e4e2b2c44b690ae2ca27"
          }
        }
      },
      "Error500": {
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "requestTimestamp": {
                  "type": "string",
                  "description": "Timestamp of the request.",
                  "example": "2025-08-25T07:56:32.7815516Z"
                },
                "message": {
                  "type": "string",
                  "description": "Description of the error.",
                  "example": "Read timed out"
                },
                "field": {
                  "type": "string",
                  "description": "Field which caused the error.",
                  "example": ""
                },
                "errorCode": {
                  "type": "string",
                  "description": "Error code related to the error.",
                  "example": ""
                }
              }
            }
          }
        }
      }
    }
  }
}