{
  "openapi": "3.0.3",
  "info": {
    "title": "Tumblr API",
    "description": "The Tumblr API v2 provides access to blog content, posts, followers, likes, and user information. Supports creating, editing, and deleting posts, as well as following and unfollowing blogs.",
    "version": "2.0",
    "contact": {
      "name": "Tumblr API",
      "url": "https://www.tumblr.com/docs/en/api/v2"
    },
    "license": {
      "name": "Tumblr Terms of Service",
      "url": "https://www.tumblr.com/policy/en/terms-of-service"
    }
  },
  "externalDocs": {
    "description": "Tumblr API v2 Documentation",
    "url": "https://www.tumblr.com/docs/en/api/v2"
  },
  "servers": [
    {
      "url": "https://api.tumblr.com/v2",
      "description": "Tumblr API v2"
    }
  ],
  "security": [
    {
      "oauth2": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/user/info": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get the authenticated user's info",
        "security": [
          {
            "oauth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the authenticated user's info",
        "tags": [
          "user"
        ]
      }
    },
    "/user/dashboard": {
      "get": {
        "operationId": "getUserDashboard",
        "summary": "Get the user's dashboard",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results (1-20, default 20)",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Post number to start at",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Post type to filter",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "photo",
                "quote",
                "link",
                "chat",
                "audio",
                "video",
                "answer"
              ]
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "Return posts after this ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reblog_info",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "notes_info",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get the user's dashboard",
        "tags": [
          "user"
        ]
      }
    },
    "/user/likes": {
      "get": {
        "operationId": "getUserLikes",
        "summary": "Get the user's liked posts",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "liked_posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "liked_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get the user's liked posts",
        "tags": [
          "user"
        ]
      }
    },
    "/user/following": {
      "get": {
        "operationId": "getUserFollowing",
        "summary": "Get blogs the user is following",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Followed blogs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "blogs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Blog"
                          }
                        },
                        "total_blogs": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get blogs the user is following",
        "tags": [
          "user"
        ]
      }
    },
    "/user/follow": {
      "post": {
        "operationId": "followBlog",
        "summary": "Follow a blog",
        "security": [
          {
            "oauth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL of the blog to follow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blog followed"
          },
          "404": {
            "description": "Blog not found"
          }
        },
        "description": "Follow a blog",
        "tags": [
          "user"
        ]
      }
    },
    "/user/unfollow": {
      "post": {
        "operationId": "unfollowBlog",
        "summary": "Unfollow a blog",
        "security": [
          {
            "oauth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blog unfollowed"
          }
        },
        "description": "Unfollow a blog",
        "tags": [
          "user"
        ]
      }
    },
    "/user/like": {
      "post": {
        "operationId": "likePost",
        "summary": "Like a post",
        "security": [
          {
            "oauth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "reblog_key"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "reblog_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post liked"
          }
        },
        "description": "Like a post",
        "tags": [
          "user"
        ]
      }
    },
    "/user/unlike": {
      "post": {
        "operationId": "unlikePost",
        "summary": "Unlike a post",
        "security": [
          {
            "oauth2": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "reblog_key"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "reblog_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post unliked"
          }
        },
        "description": "Unlike a post",
        "tags": [
          "user"
        ]
      }
    },
    "/blog/{blog-identifier}/info": {
      "get": {
        "operationId": "getBlogInfo",
        "summary": "Get blog info",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "description": "Blog name or hostname (e.g. staff.tumblr.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "blog": {
                          "$ref": "#/components/schemas/Blog"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get blog info",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/posts": {
      "get": {
        "operationId": "getBlogPosts",
        "summary": "Get published posts",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "quote",
                "link",
                "answer",
                "video",
                "audio",
                "photo",
                "chat"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reblog_info",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "notes_info",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Response format filter",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "raw"
              ]
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "blog": {
                          "$ref": "#/components/schemas/Blog"
                        },
                        "posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "total_posts": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get published posts",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/post": {
      "post": {
        "operationId": "createPost",
        "summary": "Create a new blog post",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "photo",
                      "quote",
                      "link",
                      "chat",
                      "audio",
                      "video"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "published",
                      "draft",
                      "queue",
                      "private"
                    ]
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated tags"
                  },
                  "tweet": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "html",
                      "markdown"
                    ]
                  },
                  "slug": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "quote": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new blog post",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/post/edit": {
      "post": {
        "operationId": "editPost",
        "summary": "Edit a blog post",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post edited"
          }
        },
        "description": "Edit a blog post",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/post/delete": {
      "post": {
        "operationId": "deletePost",
        "summary": "Delete a post",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post deleted"
          }
        },
        "description": "Delete a post",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/post/reblog": {
      "post": {
        "operationId": "reblogPost",
        "summary": "Reblog a post",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "reblog_key"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "reblog_key": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post reblogged"
          }
        },
        "description": "Reblog a post",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/followers": {
      "get": {
        "operationId": "getBlogFollowers",
        "summary": "Get a blog's followers",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Followers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "total_users": {
                          "type": "integer"
                        },
                        "users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get a blog's followers",
        "tags": [
          "blog"
        ]
      }
    },
    "/blog/{blog-identifier}/likes": {
      "get": {
        "operationId": "getBlogLikes",
        "summary": "Get a blog's likes",
        "parameters": [
          {
            "name": "blog-identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "liked_posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "liked_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get a blog's likes",
        "tags": [
          "blog"
        ]
      }
    },
    "/tagged": {
      "get": {
        "operationId": "getTaggedPosts",
        "summary": "Get posts with a specific tag",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "raw"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tagged posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get posts with a specific tag",
        "tags": [
          "tagged"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.tumblr.com/oauth2/authorize",
            "tokenUrl": "https://api.tumblr.com/v2/oauth2/token",
            "scopes": {
              "basic": "Basic access",
              "write": "Write access",
              "offline_access": "Refresh token"
            }
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Consumer key for unauthenticated requests"
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "likes": {
            "type": "integer"
          },
          "following": {
            "type": "integer"
          },
          "default_post_format": {
            "type": "string"
          },
          "blogs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Blog"
            }
          }
        }
      },
      "Blog": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "updated": {
            "type": "integer"
          },
          "posts": {
            "type": "integer"
          },
          "likes": {
            "type": "integer"
          },
          "is_nsfw": {
            "type": "boolean"
          },
          "avatar": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "id_string": {
            "type": "string"
          },
          "blog_name": {
            "type": "string"
          },
          "post_url": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "photo",
              "quote",
              "link",
              "chat",
              "audio",
              "video",
              "answer"
            ]
          },
          "timestamp": {
            "type": "integer"
          },
          "date": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "html",
              "markdown"
            ]
          },
          "reblog_key": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "note_count": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "enum": [
              "published",
              "queued",
              "draft",
              "private"
            ]
          },
          "slug": {
            "type": "string"
          },
          "short_url": {
            "type": "string",
            "format": "uri"
          },
          "summary": {
            "type": "string"
          },
          "source_url": {
            "type": "string",
            "nullable": true
          },
          "source_title": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "blog"
    },
    {
      "name": "tagged"
    },
    {
      "name": "user"
    }
  ]
}
