{
  "openapi": "3.0.3",
  "info": {
    "title": "Health Gorilla FHIR R4 API",
    "version": "4.0.1",
    "description": "Health Gorilla's FHIR R4 REST API provides comprehensive healthcare data interoperability including patient clinical data (Patient, AllergyIntolerance, Condition, Observation, Procedure, Encounter, Immunization), medications and care management (MedicationRequest, MedicationDispense, MedicationStatement, CarePlan, Goal, NutritionOrder, DeviceUseStatement, Consent, Coverage, FamilyMemberHistory), documents and results (ElectronicFax, DocumentReference, DiagnosticReport, Composition, Bundle), orders and fulfillment (ServiceRequest, RequestGroup), events and delivery (InstantMessage, Webhooks), and provider/organization management.",
    "x-jentic-source-url": "https://developer.healthgorilla.com/reference/fhir-r4-patient",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.healthgorilla.com/fhir/R4"
    }
  ],
  "paths": {
    "/Patient/{id}": {
      "get": {
        "operationId": "readPatient",
        "summary": "Read Patient",
        "description": "Retrieve a specific Patient resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Patient resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Patient resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePatient",
        "summary": "Update Patient",
        "description": "Update an existing Patient resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Patient resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated Patient resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient": {
      "get": {
        "operationId": "searchPatient",
        "summary": "Search Patient",
        "description": "Search for Patient resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by family"
          },
          {
            "name": "given",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by given"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by name"
          },
          {
            "name": "birthdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by birthdate"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by gender"
          },
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by identifier"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by address"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by phone"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by email"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched Patient resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPatient",
        "summary": "Create Patient",
        "description": "Create a new Patient resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created Patient resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/{id}/$everything": {
      "get": {
        "operationId": "patientEverything",
        "summary": "Patient $everything",
        "description": "Retrieve all resources related to a specific Patient",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Patient resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle containing all related resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/{id}/$export-c-cda": {
      "post": {
        "operationId": "exportPatientCCDA",
        "summary": "Export C-CDA",
        "description": "Export patient data as a C-CDA (Consolidated Clinical Document Architecture) document",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Patient resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "C-CDA document",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "operationId": "readAllergyIntolerance",
        "summary": "Read AllergyIntolerance",
        "description": "Retrieve a specific AllergyIntolerance resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AllergyIntolerance resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved AllergyIntolerance resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAllergyIntolerance",
        "summary": "Update AllergyIntolerance",
        "description": "Update an existing AllergyIntolerance resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AllergyIntolerance resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated AllergyIntolerance resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllergyIntolerance",
        "summary": "Delete AllergyIntolerance",
        "description": "Delete a AllergyIntolerance resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AllergyIntolerance resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted AllergyIntolerance resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "operationId": "searchAllergyIntolerance",
        "summary": "Search AllergyIntolerance",
        "description": "Search for AllergyIntolerance resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "clinical-status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by clinical-status"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by date"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched AllergyIntolerance resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAllergyIntolerance",
        "summary": "Create AllergyIntolerance",
        "description": "Create a new AllergyIntolerance resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created AllergyIntolerance resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "operationId": "readCondition",
        "summary": "Read Condition",
        "description": "Retrieve a specific Condition resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Condition resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Condition resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCondition",
        "summary": "Update Condition",
        "description": "Update an existing Condition resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Condition resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated Condition resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCondition",
        "summary": "Delete Condition",
        "description": "Delete a Condition resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Condition resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Condition resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "operationId": "searchCondition",
        "summary": "Search Condition",
        "description": "Search for Condition resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "clinical-status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by clinical-status"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by category"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by code"
          },
          {
            "name": "onset-date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by onset-date"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched Condition resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCondition",
        "summary": "Create Condition",
        "description": "Create a new Condition resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created Condition resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Observation/{id}": {
      "get": {
        "operationId": "readObservation",
        "summary": "Read Observation",
        "description": "Retrieve a specific Observation resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Observation resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Observation resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateObservation",
        "summary": "Update Observation",
        "description": "Update an existing Observation resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Observation resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated Observation resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteObservation",
        "summary": "Delete Observation",
        "description": "Delete a Observation resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Observation resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Observation resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Observation": {
      "get": {
        "operationId": "searchObservation",
        "summary": "Search Observation",
        "description": "Search for Observation resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by category"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by code"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by date"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by status"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched Observation resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createObservation",
        "summary": "Create Observation",
        "description": "Create a new Observation resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created Observation resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Procedure/{id}": {
      "get": {
        "operationId": "readProcedure",
        "summary": "Read Procedure",
        "description": "Retrieve a specific Procedure resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Procedure resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Procedure resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProcedure",
        "summary": "Update Procedure",
        "description": "Update an existing Procedure resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Procedure resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated Procedure resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProcedure",
        "summary": "Delete Procedure",
        "description": "Delete a Procedure resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Procedure resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Procedure resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Procedure": {
      "get": {
        "operationId": "searchProcedure",
        "summary": "Search Procedure",
        "description": "Search for Procedure resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by date"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by status"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by code"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched Procedure resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProcedure",
        "summary": "Create Procedure",
        "description": "Create a new Procedure resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created Procedure resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter/{id}": {
      "get": {
        "operationId": "readEncounter",
        "summary": "Read Encounter",
        "description": "Retrieve a specific Encounter resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Encounter resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Encounter resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateEncounter",
        "summary": "Update Encounter",
        "description": "Update an existing Encounter resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Encounter resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated Encounter resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEncounter",
        "summary": "Delete Encounter",
        "description": "Delete a Encounter resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Encounter resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Encounter resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter": {
      "get": {
        "operationId": "searchEncounter",
        "summary": "Search Encounter",
        "description": "Search for Encounter resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by date"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by status"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by type"
          },
          {
            "name": "class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by class"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched Encounter resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEncounter",
        "summary": "Create Encounter",
        "description": "Create a new Encounter resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created Encounter resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization/{id}": {
      "get": {
        "operationId": "readImmunization",
        "summary": "Read Immunization",
        "description": "Retrieve a specific Immunization resource by its ID",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Immunization resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Immunization resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateImmunization",
        "summary": "Update Immunization",
        "description": "Update an existing Immunization resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Immunization resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated Immunization resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteImmunization",
        "summary": "Delete Immunization",
        "description": "Delete a Immunization resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Immunization resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Immunization resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization": {
      "get": {
        "operationId": "searchImmunization",
        "summary": "Search Immunization",
        "description": "Search for Immunization resources using FHIR search parameters",
        "tags": [
          "Patient Clinical Data"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by date"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by status"
          },
          {
            "name": "vaccine-code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by vaccine-code"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched Immunization resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createImmunization",
        "summary": "Create Immunization",
        "description": "Create a new Immunization resource",
        "tags": [
          "Patient Clinical Data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created Immunization resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest/{id}": {
      "get": {
        "operationId": "readMedicationRequest",
        "summary": "Read MedicationRequest",
        "description": "Retrieve a specific MedicationRequest resource by its ID",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationRequest resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved MedicationRequest resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMedicationRequest",
        "summary": "Update MedicationRequest",
        "description": "Update an existing MedicationRequest resource",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationRequest resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated MedicationRequest resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMedicationRequest",
        "summary": "Delete MedicationRequest",
        "description": "Delete a MedicationRequest resource",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationRequest resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted MedicationRequest resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest": {
      "get": {
        "operationId": "searchMedicationRequest",
        "summary": "Search MedicationRequest",
        "description": "Search for MedicationRequest resources using FHIR search parameters",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by status"
          },
          {
            "name": "intent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by intent"
          },
          {
            "name": "authoredon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by authoredon"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched MedicationRequest resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMedicationRequest",
        "summary": "Create MedicationRequest",
        "description": "Create a new MedicationRequest resource",
        "tags": [
          "Medications and Care"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created MedicationRequest resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationDispense/{id}": {
      "get": {
        "operationId": "readMedicationDispense",
        "summary": "Read MedicationDispense",
        "description": "Retrieve a specific MedicationDispense resource by its ID",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationDispense resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved MedicationDispense resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMedicationDispense",
        "summary": "Update MedicationDispense",
        "description": "Update an existing MedicationDispense resource",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationDispense resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated MedicationDispense resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMedicationDispense",
        "summary": "Delete MedicationDispense",
        "description": "Delete a MedicationDispense resource",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationDispense resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted MedicationDispense resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationDispense": {
      "get": {
        "operationId": "searchMedicationDispense",
        "summary": "Search MedicationDispense",
        "description": "Search for MedicationDispense resources using FHIR search parameters",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort parameter (prefix with - for descending)"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by patient"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by status"
          },
          {
            "name": "_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by _id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully searched MedicationDispense resources",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMedicationDispense",
        "summary": "Create MedicationDispense",
        "description": "Create a new MedicationDispense resource",
        "tags": [
          "Medications and Care"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created MedicationDispense resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationStatement/{id}": {
      "get": {
        "operationId": "readMedicationStatement",
        "summary": "Read MedicationStatement",
        "description": "Retrieve a specific MedicationStatement resource by its ID",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationStatement resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved MedicationStatement resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMedicationStatement",
        "summary": "Update MedicationStatement",
        "description": "Update an existing MedicationStatement resource",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationStatement resource ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated MedicationStatement resource",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIRResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMedicationStatement",
        "summary": "Delete MedicationStatement",
        "description": "Delete a MedicationStatement resource",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MedicationStatement resource ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted MedicationStatement resource"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationStatement": {
      "get": {
        "operationId": "searchMedicationStatement",
        "summary": "Search MedicationStatement",
        "description": "Search for MedicationStatement resources using FHIR search parameters",
        "tags": [
          "Medications and Care"
        ],
        "parameters": [
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "_offset",
            "in": "query",
            "required": false,
            "schema": {
[...]
