{
  "openapi": "3.0.3",
  "info": {
    "title": "EmailGuard API",
    "version": "1.0.0",
    "description": "EmailGuard.io is an email validation and verification API. It provides real-time email verification, bulk email validation, domain intelligence, and disposable email detection to improve email deliverability.",
    "x-jentic-source-url": "https://emailguard.io/developers",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.emailguard.io/v2"
    }
  ],
  "paths": {
    "/validate/{email}": {
      "get": {
        "operationId": "validateEmail",
        "summary": "Validate a single email address",
        "description": "Perform a comprehensive validation of an email address including syntax check, domain verification, MX record lookup, SMTP verification, and disposable email detection.",
        "tags": [
          "Validation"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Email address to validate",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/validate/batch": {
      "post": {
        "operationId": "validateBatch",
        "summary": "Validate multiple email addresses",
        "description": "Submit a batch of email addresses for validation. Returns results for each email.",
        "tags": [
          "Validation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "List of email addresses to validate"
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch validation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidationResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/domain/{domain}": {
      "get": {
        "operationId": "getDomainInfo",
        "summary": "Get domain intelligence",
        "description": "Retrieve detailed information about an email domain including MX records, SPF, DKIM, DMARC configuration, and domain reputation.",
        "tags": [
          "Domain Intelligence"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name to look up",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/disposable/{email}": {
      "get": {
        "operationId": "checkDisposable",
        "summary": "Check if email is disposable",
        "description": "Check if an email address belongs to a known disposable or temporary email service.",
        "tags": [
          "Disposable Detection"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Email address to check",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disposable check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisposableResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Retrieve account details including usage statistics, remaining credits, and plan information.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getAccountUsage",
        "summary": "Get account usage statistics",
        "description": "Retrieve detailed usage statistics for the current billing period.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageStats"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "result": {
            "type": "string",
            "enum": [
              "deliverable",
              "undeliverable",
              "risky",
              "unknown"
            ]
          },
          "reason": {
            "type": "string"
          },
          "is_disposable": {
            "type": "boolean"
          },
          "is_role_account": {
            "type": "boolean"
          },
          "is_free_provider": {
            "type": "boolean"
          },
          "is_catch_all": {
            "type": "boolean"
          },
          "mx_found": {
            "type": "boolean"
          },
          "smtp_check": {
            "type": "boolean"
          },
          "syntax_valid": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "Quality score 0-100"
          }
        }
      },
      "DomainInfo": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "mx_records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "host": {
                  "type": "string"
                },
                "priority": {
                  "type": "integer"
                }
              }
            }
          },
          "has_spf": {
            "type": "boolean"
          },
          "has_dkim": {
            "type": "boolean"
          },
          "has_dmarc": {
            "type": "boolean"
          },
          "is_disposable": {
            "type": "boolean"
          },
          "is_free_provider": {
            "type": "boolean"
          },
          "accept_all": {
            "type": "boolean"
          }
        }
      },
      "DisposableResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "is_disposable": {
            "type": "boolean"
          },
          "provider": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "credits_total": {
            "type": "integer"
          }
        }
      },
      "UsageStats": {
        "type": "object",
        "properties": {
          "total_validations": {
            "type": "integer"
          },
          "period_start": {
            "type": "string",
            "format": "date"
          },
          "period_end": {
            "type": "string",
            "format": "date"
          },
          "daily_usage": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key from your EmailGuard dashboard"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Disposable Detection"
    },
    {
      "name": "Domain Intelligence"
    },
    {
      "name": "Validation"
    }
  ]
}
