{
  "openapi": "3.0.3",
  "info": {
    "title": "Serper Google SERP API",
    "description": "Real-time Google Search Engine Results Page (SERP) API. Provides structured access to Google search results including web, images, news, places, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://serper.dev/docs",
    "x-jentic-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://google.serper.dev",
      "description": "Serper API production server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "webSearch",
        "summary": "Perform a Google web search",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/images": {
      "post": {
        "operationId": "imageSearch",
        "summary": "Search Google Images",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/news": {
      "post": {
        "operationId": "newsSearch",
        "summary": "Search Google News",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "News search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/places": {
      "post": {
        "operationId": "placesSearch",
        "summary": "Search Google Maps/Places",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Places search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacesSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/videos": {
      "post": {
        "operationId": "videoSearch",
        "summary": "Search Google Videos",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/scholar": {
      "post": {
        "operationId": "scholarSearch",
        "summary": "Search Google Scholar",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scholar search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScholarSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/patents": {
      "post": {
        "operationId": "patentSearch",
        "summary": "Search Google Patents",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patent search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
                    "organic": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "link": { "type": "string" },
                          "snippet": { "type": "string" },
                          "patentId": { "type": "string" },
                          "date": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/autocomplete": {
      "post": {
        "operationId": "autocomplete",
        "summary": "Get Google autocomplete suggestions",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["q"],
                "properties": {
                  "q": {
                    "type": "string",
                    "description": "Query to get suggestions for"
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country code"
                  },
                  "hl": {
                    "type": "string",
                    "description": "Language code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Serper API key passed in X-API-KEY header"
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "required": ["q"],
        "properties": {
          "q": {
            "type": "string",
            "description": "Search query"
          },
          "gl": {
            "type": "string",
            "description": "Country code (e.g., 'us', 'uk')"
          },
          "hl": {
            "type": "string",
            "description": "Language code (e.g., 'en', 'fr')"
          },
          "location": {
            "type": "string",
            "description": "Location for localized results"
          },
          "num": {
            "type": "integer",
            "description": "Number of results (default 10, max 100)"
          },
          "page": {
            "type": "integer",
            "description": "Page number"
          },
          "tbs": {
            "type": "string",
            "description": "Time-based search filter (e.g., 'qdr:d' for past day)"
          },
          "autocorrect": {
            "type": "boolean",
            "description": "Enable autocorrection of query"
          }
        }
      },
      "SearchParameters": {
        "type": "object",
        "properties": {
          "q": { "type": "string" },
          "gl": { "type": "string" },
          "hl": { "type": "string" },
          "type": { "type": "string" },
          "engine": { "type": "string" }
        }
      },
      "WebSearchResponse": {
        "type": "object",
        "properties": {
          "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
          "organic": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "link": { "type": "string" },
                "snippet": { "type": "string" },
                "position": { "type": "integer" },
                "date": { "type": "string" },
                "sitelinks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": { "type": "string" },
                      "link": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "knowledgeGraph": {
            "type": "object",
            "properties": {
              "title": { "type": "string" },
              "type": { "type": "string" },
              "description": { "type": "string" },
              "imageUrl": { "type": "string" },
              "attributes": { "type": "object", "additionalProperties": { "type": "string" } }
            }
          },
          "peopleAlsoAsk": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": { "type": "string" },
                "snippet": { "type": "string" },
                "title": { "type": "string" },
                "link": { "type": "string" }
              }
            }
          },
          "relatedSearches": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "query": { "type": "string" }
              }
            }
          },
          "credits": { "type": "integer" }
        }
      },
      "ImageSearchResponse": {
        "type": "object",
        "properties": {
          "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "imageUrl": { "type": "string" },
                "imageWidth": { "type": "integer" },
                "imageHeight": { "type": "integer" },
                "thumbnailUrl": { "type": "string" },
                "source": { "type": "string" },
                "domain": { "type": "string" },
                "link": { "type": "string" },
                "position": { "type": "integer" }
              }
            }
          },
          "credits": { "type": "integer" }
        }
      },
      "NewsSearchResponse": {
        "type": "object",
        "properties": {
          "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
          "news": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "link": { "type": "string" },
                "snippet": { "type": "string" },
                "date": { "type": "string" },
                "source": { "type": "string" },
                "imageUrl": { "type": "string" },
                "position": { "type": "integer" }
              }
            }
          },
          "credits": { "type": "integer" }
        }
      },
      "PlacesSearchResponse": {
        "type": "object",
        "properties": {
          "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
          "places": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "address": { "type": "string" },
                "latitude": { "type": "number" },
                "longitude": { "type": "number" },
                "rating": { "type": "number" },
                "ratingCount": { "type": "integer" },
                "category": { "type": "string" },
                "phoneNumber": { "type": "string" },
                "website": { "type": "string" },
                "cid": { "type": "string" },
                "position": { "type": "integer" }
              }
            }
          },
          "credits": { "type": "integer" }
        }
      },
      "VideoSearchResponse": {
        "type": "object",
        "properties": {
          "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
          "videos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "link": { "type": "string" },
                "snippet": { "type": "string" },
                "imageUrl": { "type": "string" },
                "duration": { "type": "string" },
                "source": { "type": "string" },
                "channel": { "type": "string" },
                "date": { "type": "string" },
                "position": { "type": "integer" }
              }
            }
          },
          "credits": { "type": "integer" }
        }
      },
      "ScholarSearchResponse": {
        "type": "object",
        "properties": {
          "searchParameters": { "$ref": "#/components/schemas/SearchParameters" },
          "organic": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": { "type": "string" },
                "link": { "type": "string" },
                "snippet": { "type": "string" },
                "publicationInfo": { "type": "string" },
                "year": { "type": "integer" },
                "citedBy": { "type": "integer" },
                "position": { "type": "integer" }
              }
            }
          },
          "credits": { "type": "integer" }
        }
      }
    }
  }
}