{
  "openapi": "3.0.1",
  "info": {
    "title": "Erp.BO.JCShiftSvc",
    "description": "JC Shift Business Object",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/reskom/erpbojcshiftsvc/v1"
  },
  "servers": [
    {
      "url": "https://se10test1.seyerind.com/kinetictest/api/v1/Erp.BO.JCShiftSvc"
    }
  ],
  "paths": {
    "/GetRows": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "GetRows",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "Get_GetRows",
        "parameters": [
          {
            "name": "whereClauseJCShift",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseJCShiftAttch",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseEntityGLC",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseShiftBrk",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "GetByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "Get_GetByID",
        "parameters": [
          {
            "name": "shift",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "GetList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "Get_GetList",
        "parameters": [
          {
            "name": "whereClause",
            "in": "query",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "description": "Page of rows to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetTimeLength": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetTimeLength",
        "description": "Calculate the length between the times in JCShift.",
        "operationId": "GetTimeLength",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTimeLength_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTimeLength_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTimeLength_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTimeLength_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewJCShift": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewJCShift",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewJCShift",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewJCShift_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewJCShift_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewJCShift_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewJCShift_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewJCShiftAttch": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewJCShiftAttch",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewJCShiftAttch",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewJCShiftAttch_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewJCShiftAttch_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewJCShiftAttch_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewJCShiftAttch_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewEntityGLC": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewEntityGLC",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewEntityGLC",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewEntityGLC_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewEntityGLC_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewEntityGLC_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewEntityGLC_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewShiftBrk": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewShiftBrk",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewShiftBrk",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewShiftBrk_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewShiftBrk_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewShiftBrk_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewShiftBrk_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteByID",
        "description": "Deletes a row given its ID.",
        "operationId": "DeleteByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "GetBySysRowID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "Get_GetBySysRowID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowIDs": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "GetBySysRowIDs",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "Get_GetBySysRowIDs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/Update": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method Update",
        "description": "Commits the DataSet changes to the data store.",
        "operationId": "Update",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UpdateExt": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UpdateExt",
        "description": "Apply input data to service by calling GetByID/GetNew/Update methods.",
        "operationId": "UpdateExt",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Erp.Tablesets.JCShiftRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "Shift": {
            "type": "integer",
            "description": "Shift number.",
            "format": "int32"
          },
          "StartTime": {
            "type": "number",
            "description": " Shift start time.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "EndTime": {
            "type": "number",
            "description": " Shift end time.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "Description": {
            "type": "string",
            "description": "A concatenation of Start + End time."
          },
          "LunchStart": {
            "type": "number",
            "description": " Lunch start time for the shift.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes.",
            "format": "double"
          },
          "LunchEnd": {
            "type": "number",
            "description": " Lunch end time for the shift.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "DiffRate": {
            "type": "number",
            "description": "The additional pay rate per hour or additional percentage of base pay rate that is paid when the employee earns by working on this shift.  This value can either represent a percentage or a fixed hourly rate (see DiffQualifier).  The shift differential can be either considered when the employee works this shift and it is not their normal shift or can always be included for work done on this shift. (see JCShift.DiffMethod)",
            "format": "double"
          },
          "DiffQualifier": {
            "type": "string",
            "description": "Qualifies the value stored in DiffRate as either an Hourly rate or as a percent of pay rate."
          },
          "DiffMethod": {
            "type": "string",
            "description": "Indicates when shift differentials are to be considered.  Shift differentials can be set up for each shift (see JCShift).  This field controls when those differentials are to be considered.  Options are \"A\" - always or \"O\" - only when the differential shift is not the employee's normal shift (works off shift)."
          },
          "GlobalJCShift": {
            "type": "boolean",
            "description": "Marks this JCShift as global, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ShiftDescription": {
            "type": "string",
            "description": "The description of the Shift G/L Account"
          },
          "ShiftLength": {
            "type": "number",
            "format": "double"
          },
          "LunchLength": {
            "type": "number",
            "format": "double"
          },
          "ShiftDisplayAccount": {
            "type": "string"
          },
          "LunchBreak": {
            "type": "boolean"
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.JCShiftAttchRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string"
          },
          "Shift": {
            "type": "integer",
            "format": "int32"
          },
          "DrawingSeq": {
            "type": "integer",
            "format": "int32"
          },
          "XFileRefNum": {
            "type": "integer",
            "format": "int32"
          },
          "SysRevID": {
            "type": "integer",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ForeignSysRowID": {
            "type": "string",
            "format": "uuid"
          },
          "DrawDesc": {
            "type": "string"
          },
          "FileName": {
            "type": "string"
          },
          "PDMDocID": {
            "type": "string"
          },
          "DocTypeID": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.EntityGLCRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "RelatedToFile": {
            "type": "string",
            "description": " Identifies the master file to which the GL Control is related to.  This field is used to properly isolate controls to the masters they are related to.\r\nFor example; Customer, PartClass identifies controls that are related to Customers and Part Classes"
          },
          "Key1": {
            "type": "string",
            "description": "Major component of the foreign key of the related master record. For example: For a \"Part\"  control this field would contain the related Part Number,  for a \"Customer\"  it contains the Customer.CustNum."
          },
          "Key2": {
            "type": "string",
            "description": " 2nd component of the foreign key to the related master record.\r\nThe usage of this field is dependent on the type of record."
          },
          "Key3": {
            "type": "string",
            "description": " 3rd component of the foreign key to the related master record.\r\nThe usage of this field is dependent record type."
          },
          "Key4": {
            "type": "string",
            "description": " 4th component of the foreign key to the related master record.\r\nThe usage of this field is dependent record type."
          },
          "Key5": {
            "type": "string",
            "description": " 5th component of the foreign key to the related master record.\r\nThe usage of this field is dependent record type."
          },
          "Key6": {
            "type": "string",
            "description": " 6th component of the foreign key to the related master record.\r\nThe usage of this field is dependent record type."
          },
          "GLControlType": {
            "type": "string",
            "description": "Identifier of the GL Control Type."
          },
          "GLControlCode": {
            "type": "string",
            "description": "GL Control Identifier."
          },
          "BusinessEntity": {
            "type": "string",
            "description": "Identifies the entity.  Reference only.  Used for integrity validation when deleting a GLCTEntity record."
          },
          "ExtCompanyID": {
            "type": "string",
            "description": "Global Company identifier.  Used in Multi-Company Journal."
          },
          "IsExternalCompany": {
            "type": "boolean",
            "description": "Flag to indicate the account in this record is for an external company."
          },
          "GlobalEntityGLC": {
            "type": "boolean",
            "description": "Marks this EntityGLC as global, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "BankAcctID": {
            "type": "string",
            "description": "BankAcctID of the related BankAcct record."
          },
          "BankFeeID": {
            "type": "string"
          },
          "CallCode": {
            "type": "string",
            "description": "CallCode of the related FSCallCd record."
          },
          "ChargeCode": {
            "type": "string"
          },
          "ClassCode": {
            "type": "string",
            "description": "ClassCode of the related FAClass record."
          },
          "ClassID": {
            "type": "string",
            "description": "ClassID.  This can be ClassID of PartClass, PRClsDed, or PRClsTax"
          },
          "ContractCode": {
            "type": "string",
            "description": "ContractCode of the related FSContCd record."
          },
          "CurrencyCode": {
            "type": "string",
            "description": "CurrencyCode of the related Currency record."
          },
          "CustNum": {
            "type": "integer",
            "description": "CustNum of the related Customer record",
            "format": "int32"
          },
          "DeductionID": {
            "type": "string",
            "description": "DeductionID of PRClsDed or PRDeduct."
          },
          "EmpID": {
            "type": "string",
            "description": "EmpID of the related PREmpMas record."
          },
          "ExpenseCode": {
            "type": "string",
            "description": "ExpenseCode of PayTLbr, LabExpCd"
          },
          "ExtSystemID": {
            "type": "string",
            "description": "ExtSystemID of ExtCompany table"
          },
          "FromPlant": {
            "type": "string",
            "description": "FromPlant value of the related PlntTranDef record."
          },
          "GroupCode": {
            "type": "string",
            "description": "GroupCode of the related FAGroup record."
          },
          "GroupID": {
            "type": "string"
          },
          "HeadNum": {
            "type": "integer",
            "format": "int32"
          },
          "InvoiceNum": {
            "type": "string"
          },
          "JCDept": {
            "type": "string",
            "description": "JCDept of the related JCDept record."
          },
          "MiscCode": {
            "type": "string",
            "description": "MiscCode of the related MiscChrg or PurMisc record."
          },
          "PartNum": {
            "type": "string",
            "description": "PartNum of the related Part record."
          },
          "PayTypeID": {
            "type": "string",
            "description": "PayTypeID of PayType"
          },
          "PerConName": {
            "type": "string"
          },
          "PIStatus": {
            "type": "string",
            "description": "PI Status"
          },
          "Plant": {
            "type": "string",
            "description": "Plant of the related PlantConfCtrl record."
          },
          "ProdCode": {
            "type": "string",
            "description": "ProdCode of the related ProdGrup record."
          },
          "ProjectID": {
            "type": "string",
            "description": "ProjectID of the related Project record."
          },
          "PurchCode": {
            "type": "string",
            "description": "PurchCode of the related GLPurch record."
          },
          "RateCode": {
            "type": "string",
            "description": "RateCode of the related GLRate record."
          },
          "ReasonCode": {
            "type": "string",
            "description": "ReasonCode of the related Reason record."
          },
          "ReasonType": {
            "type": "string",
            "description": "ReasonType of the related Reason record."
          },
          "SalesCatID": {
            "type": "string",
            "description": "SalesCatID of the related SalesCat record."
          },
          "Shift": {
            "type": "integer",
            "description": "Shift value of the related JCShift record.",
            "format": "int32"
          },
          "TaxCode": {
            "type": "string",
            "description": "TaxCode of the related SalesTax record."
          },
          "TaxTblID": {
            "type": "string",
            "description": "TaxTblID of PRTaxMas or PRClsTax."
          },
          "ToPlant": {
            "type": "string",
            "description": "ToPlant value of the related PlntTranDef record."
          },
          "TransferMethod": {
            "type": "string",
            "description": "TransferMethod of ExtCompany table"
          },
          "TypeID": {
            "type": "string",
            "description": "Type ID"
          },
          "VendorNum": {
            "type": "integer",
            "description": "VendorNum of the related Vendor record.",
            "format": "int32"
          },
          "WarehouseCode": {
            "type": "string",
            "description": "WarehouseCode of the related Warehse record."
          },
          "ExpenseTypeCode": {
            "type": "string"
          },
          "IsFiltered": {
            "type": "boolean"
          },
          "OprTypeCode": {
            "type": "string"
          },
          "CashDeskID": {
            "type": "string"
          },
          "TIN": {
            "type": "string"
          },
          "ReclassCodeID": {
            "type": "string"
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "GLCntrlDescription": {
            "type": "string"
          },
          "GLCntrlTypeDescription": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.ShiftBrkRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "Shift": {
            "type": "integer",
            "description": "Shift id.",
            "format": "int32"
          },
          "BreakNum": {
            "type": "integer",
            "description": "This is a sequence number for the break with a shift. It is unique under the same shift.",
            "format": "int32"
          },
          "Description": {
            "type": "string",
            "description": "This is the short description for this break."
          },
          "BreakStart": {
            "type": "number",
            "description": " Break start time for the shift.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes.",
            "format": "double"
          },
          "BreakEnd": {
            "type": "number",
            "description": " Break end time for the shift.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "GlobalShiftBrk": {
            "type": "boolean",
            "description": "Marks this ShiftBrk as global, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "BreakLength": {
            "type": "number",
            "format": "double"
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "ShiftDescription": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionRow": {
        "type": "object",
        "properties": {
          "ColumnValues": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RowMod": {
            "type": "string"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableColumn": {
        "type": "object",
        "properties": {
          "ColumnName": {
            "type": "string",
            "nullable": true
          },
          "ColumnType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableData": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionRow"
            }
          },
          "SystemCode": {
            "type": "string",
            "nullable": true
          },
          "TableName": {
            "type": "string",
            "nullable": true
          },
          "Columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableColumn"
            },
            "nullable": true
          },
          "PrimaryKeyColumns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PeerTableSystemCode": {
            "type": "string",
            "nullable": true
          },
          "PeerTableName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.JCShiftTableset": {
        "type": "object",
        "properties": {
          "JCShift": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.JCShiftRow"
            },
            "nullable": true
          },
          "JCShiftAttch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.JCShiftAttchRow"
            },
            "nullable": true
          },
          "EntityGLC": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.EntityGLCRow"
            },
            "nullable": true
          },
          "ShiftBrk": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.ShiftBrkRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetRows_input": {
        "required": [
          "whereClauseJCShift",
          "whereClauseJCShiftAttch",
          "whereClauseEntityGLC",
          "whereClauseShiftBrk",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClauseJCShift": {
            "type": "string",
            "example": ""
          },
          "whereClauseJCShiftAttch": {
            "type": "string",
            "example": ""
          },
          "whereClauseEntityGLC": {
            "type": "string",
            "example": ""
          },
          "whereClauseShiftBrk": {
            "type": "string",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetRows_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetByID_input": {
        "required": [
          "shift"
        ],
        "properties": {
          "shift": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetByID_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Erp.Tablesets.JCShiftListRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "Shift": {
            "type": "integer",
            "description": "Shift number.",
            "format": "int32"
          },
          "StartTime": {
            "type": "number",
            "description": " Shift start time.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "EndTime": {
            "type": "number",
            "description": " Shift end time.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "Description": {
            "type": "string",
            "description": "A concatenation of Start + End time."
          },
          "LunchStart": {
            "type": "number",
            "description": " Lunch start time for the shift.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes.",
            "format": "double"
          },
          "LunchEnd": {
            "type": "number",
            "description": " Lunch end time for the shift.  Always stored as Hours.Hundreths.\r\nAlways maintained and displayed as Hours:Minutes",
            "format": "double"
          },
          "DiffRate": {
            "type": "number",
            "description": "The additional pay rate per hour or additional percentage of base pay rate that is paid when the employee earns by working on this shift.  This value can either represent a percentage or a fixed hourly rate (see DiffQualifier).  The shift differential can be either considered when the employee works this shift and it is not their normal shift or can always be included for work done on this shift. (see JCShift.DiffMethod)",
            "format": "double"
          },
          "DiffQualifier": {
            "type": "string",
            "description": "Qualifies the value stored in DiffRate as either an Hourly rate or as a percent of pay rate."
          },
          "DiffMethod": {
            "type": "string",
            "description": "Indicates when shift differentials are to be considered.  Shift differentials can be set up for each shift (see JCShift).  This field controls when those differentials are to be considered.  Options are \"A\" - always or \"O\" - only when the differential shift is not the employee's normal shift (works off shift)."
          },
          "GlobalJCShift": {
            "type": "boolean",
            "description": "Marks this JCShift as global, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ShiftDescription": {
            "type": "string",
            "description": "The description of the Shift G/L Account"
          },
          "ShiftLength": {
            "type": "number",
            "format": "double"
          },
          "LunchLength": {
            "type": "number",
            "format": "double"
          },
          "ShiftDisplayAccount": {
            "type": "string"
          },
          "LunchBreak": {
            "type": "boolean"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.JCShiftListTableset": {
        "type": "object",
        "properties": {
          "JCShiftList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.JCShiftListRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetList_input": {
        "required": [
          "whereClause",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClause": {
            "type": "string",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "description": "Page of rows to return.",
            "format": "int32"
          }
        }
      },
      "GetList_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftListTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean",
                "description": "Whether there are more pages of rows available."
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetTimeLength_input": {
        "required": [
          "ds"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          }
        }
      },
      "GetTimeLength_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetNewJCShift_input": {
        "required": [
          "ds"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          }
        }
      },
      "GetNewJCShift_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetNewJCShiftAttch_input": {
        "required": [
          "ds",
          "shift"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          },
          "shift": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetNewJCShiftAttch_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetNewEntityGLC_input": {
        "required": [
          "ds",
          "relatedToFile",
          "key1",
          "key2",
          "key3",
          "key4",
          "key5",
          "key6"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          },
          "relatedToFile": {
            "type": "string"
          },
          "key1": {
            "type": "string"
          },
          "key2": {
            "type": "string"
          },
          "key3": {
            "type": "string"
          },
          "key4": {
            "type": "string"
          },
          "key5": {
            "type": "string"
          },
          "key6": {
            "type": "string"
          }
        }
      },
      "GetNewEntityGLC_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetNewShiftBrk_input": {
        "required": [
          "ds",
          "shift"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          },
          "shift": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetNewShiftBrk_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "DeleteByID_input": {
        "required": [
          "shift"
        ],
        "properties": {
          "shift": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DeleteByID_output": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetBySysRowID_input": {
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "GetBySysRowID_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetBySysRowIDs_input": {
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "GetBySysRowIDs_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Update_input": {
        "required": [
          "ds"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
          }
        }
      },
      "Update_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.JCShiftTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Ice.BOUpdErrorRow": {
        "type": "object",
        "properties": {
          "TableName": {
            "type": "string"
          },
          "ErrorLevel": {
            "type": "string"
          },
          "ErrorType": {
            "type": "string"
          },
          "ErrorText": {
            "type": "string"
          },
          "ErrorSysRowID": {
            "type": "string",
            "format": "uuid"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "RowMod": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Ice.BOUpdErrorTableset": {
        "type": "object",
        "properties": {
          "BOUpdError": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.BOUpdErrorRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.UpdExtJCShiftTableset": {
        "type": "object",
        "properties": {
          "JCShift": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.JCShiftRow"
            },
            "nullable": true
          },
          "JCShiftAttch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.JCShiftAttchRow"
            },
            "nullable": true
          },
          "EntityGLC": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.EntityGLCRow"
            },
            "nullable": true
          },
          "ShiftBrk": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.ShiftBrkRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "UpdateExt_input": {
        "required": [
          "ds",
          "continueProcessingOnError",
          "rollbackParentOnChildError"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.UpdExtJCShiftTableset"
          },
          "continueProcessingOnError": {
            "type": "boolean"
          },
          "rollbackParentOnChildError": {
            "type": "boolean"
          }
        }
      },
      "UpdateExt_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Ice.BOUpdErrorTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.UpdExtJCShiftTableset"
              },
              "errorsOccurred": {
                "type": "boolean"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Custom methods",
      "description": "Custom methods, implementing all function calls"
    }
  ]
}