{
  "x-commons": {
    "ratelimit-headers": {
      "X-RateLimit-Limit": {
        "$ref": "#/components/headers/X-RateLimit-Limit"
      },
      "X-RateLimit-Remaining": {
        "$ref": "#/components/headers/X-RateLimit-Remaining"
      },
      "X-RateLimit-Reset": {
        "$ref": "#/components/headers/X-RateLimit-Reset"
      }
    },
    "common-responses": {
      "400": {
        "$ref": "#/components/responses/400BadRequest"
      },
      "401": {
        "$ref": "#/components/responses/401Unauthorized"
      },
      "429": {
        "$ref": "#/components/responses/429TooManyRequests"
      },
      "503": {
        "$ref": "#/components/responses/503ServiceUnavailable"
      },
      "default": {
        "$ref": "#/components/responses/default"
      }
    }
  },
  "openapi": "3.0.0",
  "info": {
    "version": "3.0.0",
    "title": "Verifica validit\u00e0 codice fiscale.",
    "x-summary": "Verifica validit\u00e0 di codice fiscale di persona fisica e persona non fisica",
    "description": "#### Documentazione\nQuesto servizio ritorna la validit\u00e0 di una dato codice fiscale descritta da \nun campo di ritorno booleano nell oggetto json di response\n\n#### Note\nPoich\u00e9 il servizio effettua una verifica sul dato in input una \nrisposta verr\u00e0 sempre ritornata con stato 200 anche se il codice fiscale \nnon fosse presente negli archivi.\n\nNella risposta \u00e8 presente un campo messaggio che riporta la stessa dizione \ndel servizio di verifica codice fiscale a libero accesso del sito istituzionale\n\n##### Conformit\u00e0 con il modello di interoperabilit\u00e0\nL'Header di Throttling X-RateLimit-Reset non viene inviato in caso di https \nstatus code 200, sar\u00e0 presente solo in caso di 429\n\n#### Sicurezza\nPur essendo questa API di pubblico accesso, \u00e8 richiesto l'invio delle \nAPI Key che consentono all'infrastruttura di applicare le politiche di \nthrottling definite nell'ambito del piano sottoscritto\n  \n#### Informazioni tecniche ed esempi\n\nEsempio:\n\n```\ncurl --header \"Content-Type: application/json\" \\\n     --request POST \\\n     --data '{\"codiceFiscale\":\"AAAZZZ00H00T000Z\"}' \\\n    https://modipa-val.agenziaentrate.it/govway/rest/in/AgenziaEntrate-PDND/verifica-cf/v3/verifica\n\n{\n  \"codiceFiscale\": \"AAAZZZ00H00T000Z\"\n  \"valido\": false,\n  \"messaggio\": \"Codice fiscale non valido\"\n}\n```\n",
    "contact": {
      "name": "Agenzia delle Entrate",
      "url": "https://www.agenziaentrate.gov.it"
    },
    "x-audience": [
      "public"
    ],
    "x-api-id": "5ca54741-8f62-4aad-ab79-13ae762920e3",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ALESSANDROLAROCCA/verifica-validita-codice-fiscale/3.0.0"
  },
  "tags": [
    {
      "name": "infrastructure",
      "description": "Endpoint non autenticato per la verifica dello stato del servizio"
    },
    {
      "name": "verifiche",
      "description": "verifica la validit\u00e0 e l'esistenza della codice fiscale in input",
      "externalDocs": {
        "url": "https://developer.agenziaentrate.gov.it/entrate/api"
      }
    }
  ],
  "servers": [
    {
      "description": "Ambiente di Attestazione",
      "url": "https://mtls.eservices.att.interop.pagopa.it/"
    }
  ],
  "paths": {
    "/fiscalcode-verification/data-preparation/handshake": {
      "post": {
        "summary": "Carica il certificato e i campi dell'header.",
        "description": "Carica il certificato nel formato .pem insieme a due campi nell'header.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "certificate": {
                    "type": "string",
                    "format": "binary",
                    "description": "Il certificato nel formato .pem"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "apikey",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chiave dell'API"
          }
        ],
        "responses": {
          "200": {
            "description": "Operazione completata con successo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio di conferma dell'operazione"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        },
        "tags": [
          "datapreparation"
        ]
      }
    },
    "/fiscalcode-verification/data-preparation": {
      "post": {
        "summary": "data preparation api.",
        "description": "carica il codice fiscale valido",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatapreparationTemplate"
              },
              "examples": {
                "codiceFiscaleAlfanumerico": {
                  "value": {
                    "codiceFiscale": "AAAZZZ00H00T000Z"
                  }
                },
                "codiceFiscaleNumerico": {
                  "value": {
                    "codiceFiscale": "06363391001"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "apikey",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chiave dell'API"
          },
          {
            "in": "header",
            "name": "x-correlation-id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "correlationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operazione completata con successo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio di conferma dell'operazione"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        },
        "tags": [
          "datapreparation"
        ]
      },
      "get": {
        "summary": "data preparation api.",
        "description": "carica il codice fiscale valido",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "apikey",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chiave dell'API"
          },
          {
            "in": "header",
            "name": "x-correlation-id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "correlationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operazione completata con successo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPreparationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        },
        "tags": [
          "datapreparation"
        ]
      },
      "delete": {
        "summary": "Cancella tutti i dati precedentemente inseriti",
        "description": "Ritorna: 200 se sono stati correttamente cancellati.\n",
        "operationId": "reset",
        "tags": [
          "datapreparation"
        ],
        "responses": {
          "<<": "common-responses",
          "200": {
            "description": "In caso di problemi\nritorna sempre un problem+json.\n",
            "headers": {
              "<<": "ratelimit-headers"
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/fiscalcode-verification/data-preparation/remove": {
      "post": {
        "summary": "data preparation api.",
        "description": "cancella un codice fiscale precedentemente inserito",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatapreparationTemplate"
              },
              "examples": {
                "codiceFiscaleAlfanumerico": {
                  "value": {
                    "codiceFiscale": "AAAZZZ00H00T000Z"
                  }
                },
                "codiceFiscaleNumerico": {
                  "value": {
                    "codiceFiscale": "06363391001"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "apikey",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chiave dell'API"
          },
          {
            "in": "header",
            "name": "x-correlation-id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "correlationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Operazione completata con successo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Messaggio di conferma dell'operazione"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          }
        },
        "tags": [
          "datapreparation"
        ]
      }
    },
    "/fiscalcode-verification/status": {
      "get": {
        "summary": "Ritorna lo stato dell'applicazione.",
        "description": "Ritorna lo stato dell'applicazione: 200 se funziona correttamente\no un errore se l'applicazione \u00e8 temporaneamente indisponibile\nper manutenzione o per un problema tecnico.\n",
        "operationId": "get_status",
        "tags": [
          "infrastructure"
        ],
        "responses": {
          "<<": "common-responses",
          "200": {
            "description": "Il server ha ritornato lo status. In caso di problemi\nritorna sempre un problem+json.\n",
            "headers": {
              "<<": "ratelimit-headers"
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/fiscalcode-verification/verifica": {
      "post": {
        "summary": "Effettua una validazione del codice fiscale in input.",
        "operationId": "post_verifica_codiceFiscale",
        "tags": [
          "verifiche"
        ],
        "description": "Ritorna informazioni circa la validit\u00e0 del codice fiscale in input\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Richiesta"
              },
              "examples": {
                "codiceFiscaleAlfanumerico": {
                  "value": {
                    "codiceFiscale": "AAAZZZ00H00T000Z"
                  }
                },
                "codiceFiscaleNumerico": {
                  "value": {
                    "codiceFiscale": "06363391001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "<<": "common-responses",
          "200": {
            "description": "Il server \u00e8 riuscito a verificare la validit\u00e0 del codice fiscale.\n",
            "headers": {
              "<<": "ratelimit-headers"
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificaCodiceFiscale"
                },
                "examples": {
                  "CodiceFiscaleValido": {
                    "value": {
                      "codiceFiscale": "06363391001",
                      "valido": true,
                      "messaggio": "Codice fiscale valido"
                    }
                  },
                  "CodiceFiscaleValidoNonUtilizzabile": {
                    "value": {
                      "codiceFiscale": "***********",
                      "valido": true,
                      "messaggio": "Codice fiscale valido, non pi\u00f9 utilizzabile in quanto aggiornato in altro codice fiscale"
                    }
                  },
                  "CodiceFiscaleNonValidoAggiornatoInAltro": {
                    "value": {
                      "codiceFiscale": "***********",
                      "valido": false,
                      "messaggio": "Codice fiscale non utilizzabile in quanto aggiornato in altro codice fiscale"
                    }
                  },
                  "CodiceFiscaleNonValido": {
                    "value": {
                      "codiceFiscale": "AAAZZZ00H00T000Z",
                      "valido": false,
                      "messaggio": "Codice fiscale non valido"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatapreparationTemplate": {
        "type": "object",
        "properties": {
          "codiceFiscale": {
            "$ref": "#/components/schemas/CodiceFiscale"
          }
        }
      },
      "DataPreparationResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "codiceFiscale": {
              "$ref": "#/components/schemas/CodiceFiscale"
            }
          }
        }
      },
      "Richiesta": {
        "type": "object",
        "properties": {
          "codiceFiscale": {
            "$ref": "#/components/schemas/CodiceFiscale"
          }
        }
      },
      "CodiceFiscale": {
        "type": "string",
        "minLength": 11,
        "maxLength": 16,
        "pattern": "^[0-9]{11}|(?:^(?:[A-Z][AEIOU][AEIOUX]|[B-DF-HJ-NP-TV-Z]{2}[A-Z]){2}(?:[\\dLMNP-V]{2}(?:[A-EHLMPR-T](?:[04LQ][1-9MNP-V]|[15MR][\\dLMNP-V]|[26NS][0-8LMNP-U])|[DHPS][37PT][0L]|[ACELMRT][37PT][01LM]|[AC-EHLMPR-T][26NS][9V])|(?:[02468LNQSU][048LQU]|[13579MPRTV][26NS])B[26NS][9V])(?:[A-MZ][1-9MNP-V][\\dLMNP-V]{2}|[A-M][0L](?:[1-9MNP-V][\\dLMNP-V]|[0L][1-9MNP-V]))[A-Z]$)",
        "example": "06363391001",
        "description": "pu\u00f2 assumere un valore alfanumerico di lunghezza 16 o numerico di lunghezza 11 (i.e. 06363391001)"
      },
      "VerificaCodiceFiscale": {
        "type": "object",
        "properties": {
          "codiceFiscale": {
            "$ref": "#/components/schemas/CodiceFiscale"
          },
          "valido": {
            "type": "boolean",
            "example": true
          },
          "messaggio": {
            "type": "string",
            "example": "Codice fiscale valido",
            "description": "messaggio congurente con il serivizio a libero accesso di verifica codice fiscale sul sito istituzionale"
          }
        }
      },
      "Problem": {
        "properties": {
          "detail": {
            "description": "A human readable explanation specific to this occurrence of the\nproblem. You MUST NOT expose internal informations, personal\ndata or implementation details through this field.\n",
            "example": "Request took too long to complete.",
            "type": "string"
          },
          "instance": {
            "description": "An absolute URI that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n",
            "format": "uri",
            "type": "string"
          },
          "status": {
            "description": "The HTTP status code generated by the origin server for this occurrence\nof the problem.\n",
            "example": 503,
            "exclusiveMaximum": true,
            "format": "int32",
            "maximum": 600,
            "minimum": 100,
            "type": "integer"
          },
          "title": {
            "description": "A short, summary of the problem type. Written in english and readable\nfor engineers (usually not suited for non technical stakeholders and\nnot localized); example: Service Unavailable\n",
            "type": "string"
          },
          "type": {
            "default": "about:blank",
            "description": "An absolute URI that identifies the problem type.  When dereferenced,\nit SHOULD provide human-readable documentation for the problem type\n(e.g., using HTML).\n",
            "format": "uri",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "headers": {
      "Retry-After": {
        "description": "Retry contacting the endpoint *at least* after seconds.\nSee https://tools.ietf.org/html/rfc7231#section-7.1.3",
        "schema": {
          "type": "string"
        }
      },
      "WWW-Authenticate": {
        "description": "Auth realm=APIkey\nSee https://tools.ietf.org/html/rfc7235#section-4.1",
        "schema": {
          "type": "string"
        }
      },
      "X-RateLimit-Limit": {
        "description": "The number of allowed requests in the current period",
        "schema": {
          "type": "string"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of remaining requests in the current period",
        "schema": {
          "type": "string"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The number of seconds left in the current period",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "400BadRequest": {
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        },
        "description": "Bad Request"
      },
      "401Unauthorized": {
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        },
        "headers": {
          "WWW-Authenticate": {
            "$ref": "#/components/headers/WWW-Authenticate"
          }
        },
        "description": "Not authorized"
      },
      "403Forbidden": {
        "description": "Forbidden"
      },
      "404NotFound": {
        "description": "Not Found"
      },
      "429TooManyRequests": {
        "description": "Too many requests",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "503ServiceUnavailable": {
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        },
        "description": "Service Unavailable",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        }
      },
      "default": {
        "description": "Unexpected error"
      }
    }
  }
}