{
  "openapi": "3.0.3",
  "info": {
    "title": "Jamendo API",
    "version": "3.0.0",
    "description": "Jamendo Music API v3.0 provides access to the world's largest catalog of Creative Commons licensed music. Search and discover tracks, albums, artists, playlists, and radio channels. Get audio streams and downloads in multiple formats. Requires a client_id (API key) for all requests.",
    "x-jentic-source-url": "https://developer.jamendo.com/v3.0/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.jamendo.com/v3.0"
    }
  ],
  "paths": {
    "/tracks": {
      "get": {
        "operationId": "listTracks",
        "summary": "Search and list tracks",
        "description": "Search and filter tracks with extensive options including tags, genre, speed, vocal/instrumental, acoustic/electric filters. Returns stream and download URLs.",
        "tags": [
          "Tracks"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Your Jamendo client ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonpretty"
              ],
              "default": "json"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (max 200)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "buzzrate",
                "downloads_week",
                "downloads_month",
                "downloads_total",
                "listens_week",
                "listens_month",
                "listens_total",
                "popularity_week",
                "popularity_month",
                "popularity_total",
                "name",
                "album_name",
                "artist_name",
                "releasedate",
                "duration",
                "id"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "One or more track IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Track name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesearch",
            "in": "query",
            "description": "Search track by name (partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free text search across track, album, artist names and tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Track type filter",
            "schema": {
              "type": "string",
              "enum": [
                "single",
                "albumtrack"
              ]
            }
          },
          {
            "name": "album_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Genre/instrument/theme tags (AND logic)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fuzzytags",
            "in": "query",
            "description": "Tags with OR logic",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acousticelectric",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "acoustic",
                "electric"
              ]
            }
          },
          {
            "name": "vocalinstrumental",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "vocal",
                "instrumental"
              ]
            }
          },
          {
            "name": "gender",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "male",
                "female"
              ]
            }
          },
          {
            "name": "speed",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "verylow",
                "low",
                "medium",
                "high",
                "veryhigh"
              ]
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter featured tracks",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ]
            }
          },
          {
            "name": "imagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                25,
                35,
                50,
                55,
                60,
                65,
                70,
                75,
                85,
                100,
                130,
                150,
                200,
                300,
                400,
                500,
                600
              ]
            }
          },
          {
            "name": "audioformat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mp31",
                "mp32",
                "ogg",
                "flac"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include",
            "schema": {
              "type": "string",
              "enum": [
                "licenses",
                "musicinfo",
                "stats",
                "lyrics"
              ]
            }
          },
          {
            "name": "groupby",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "artist_id",
                "album_id"
              ]
            }
          },
          {
            "name": "boost",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "buzzrate",
                "downloads_week",
                "downloads_month",
                "downloads_total",
                "listens_week",
                "listens_month",
                "listens_total",
                "popularity_week",
                "popularity_month",
                "popularity_total"
              ]
            }
          },
          {
            "name": "datebetween",
            "in": "query",
            "description": "Release date range (yyyy-mm-dd_yyyy-mm-dd)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullcount",
            "in": "query",
            "description": "Include total result count in header",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Lyrics language (2-letter code)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "xartist",
            "in": "query",
            "description": "Find tracks similar to a non-Jamendo artist",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ccsa",
            "in": "query",
            "description": "Creative Commons Share Alike filter",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ccnd",
            "in": "query",
            "description": "Creative Commons No Derivs filter",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ccnc",
            "in": "query",
            "description": "Creative Commons Non Commercial filter",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/albums": {
      "get": {
        "operationId": "listAlbums",
        "summary": "Search and list albums",
        "description": "Search and filter albums by name, artist, date, and popularity.",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonpretty"
              ],
              "default": "json"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "id",
                "releasedate",
                "artist_id",
                "artist_name",
                "popularity_total",
                "popularity_month",
                "popularity_week"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesearch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datebetween",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "single",
                "album"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artists": {
      "get": {
        "operationId": "listArtists",
        "summary": "Search and list artists",
        "description": "Search and filter artists by name, date, and popularity.",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonpretty"
              ],
              "default": "json"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "id",
                "joindate",
                "popularity_total",
                "popularity_month",
                "popularity_week"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesearch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hasimage",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ]
            }
          },
          {
            "name": "datebetween",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artists/tracks": {
      "get": {
        "operationId": "getArtistTracks",
        "summary": "Get tracks by artist",
        "description": "Returns tracks from specified artists.",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Artist ID(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "audioformat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mp31",
                "mp32",
                "ogg",
                "flac"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artists/albums": {
      "get": {
        "operationId": "getArtistAlbums",
        "summary": "Get albums by artist",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist albums",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get albums by artist"
      }
    },
    "/albums/tracks": {
      "get": {
        "operationId": "getAlbumTracks",
        "summary": "Get tracks from an album",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Album ID(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "audioformat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mp31",
                "mp32",
                "ogg",
                "flac"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tracks from an album"
      }
    },
    "/playlists": {
      "get": {
        "operationId": "listPlaylists",
        "summary": "List playlists",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesearch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "id",
                "creationdate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List playlists"
      }
    },
    "/playlists/tracks": {
      "get": {
        "operationId": "getPlaylistTracks",
        "summary": "Get tracks from a playlist",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "audioformat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mp31",
                "mp32",
                "ogg",
                "flac"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tracks from a playlist"
      }
    },
    "/radios": {
      "get": {
        "operationId": "listRadios",
        "summary": "List radio channels",
        "tags": [
          "Radio"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Radio channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List radio channels"
      }
    },
    "/radios/stream": {
      "get": {
        "operationId": "getRadioStream",
        "summary": "Get radio stream tracks",
        "description": "Get a set of tracks to play for a radio channel. Returns track stream URLs.",
        "tags": [
          "Radio"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Radio channel ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "n",
            "in": "query",
            "description": "Number of tracks to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Radio stream tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/tracks": {
      "get": {
        "operationId": "getTrackReviews",
        "summary": "Get reviews for tracks",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get reviews for tracks"
      }
    },
    "/autocomplete": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete search",
        "description": "Returns autocomplete suggestions for tracks, albums, and artists.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": true,
            "description": "Search prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "description": "Entity type to search",
            "schema": {
              "type": "string",
              "enum": [
                "tracks",
                "albums",
                "artists"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JamendoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JamendoResponse": {
        "type": "object",
        "properties": {
          "headers": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "failed"
                ]
              },
              "code": {
                "type": "integer"
              },
              "error_message": {
                "type": "string"
              },
              "warnings": {
                "type": "string"
              },
              "results_count": {
                "type": "integer"
              },
              "results_fullcount": {
                "type": "integer"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "artist_id": {
            "type": "string"
          },
          "artist_name": {
            "type": "string"
          },
          "artist_idstr": {
            "type": "string"
          },
          "album_name": {
            "type": "string"
          },
          "album_id": {
            "type": "string"
          },
          "license_ccurl": {
            "type": "string",
            "format": "uri"
          },
          "position": {
            "type": "integer"
          },
          "releasedate": {
            "type": "string",
            "format": "date"
          },
          "album_image": {
            "type": "string",
            "format": "uri"
          },
          "audio": {
            "type": "string",
            "format": "uri"
          },
          "audiodownload": {
            "type": "string",
            "format": "uri"
          },
          "audiodownload_allowed": {
            "type": "boolean"
          },
          "prourl": {
            "type": "string"
          },
          "shorturl": {
            "type": "string",
            "format": "uri"
          },
          "shareurl": {
            "type": "string",
            "format": "uri"
          },
          "image": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "releasedate": {
            "type": "string",
            "format": "date"
          },
          "artist_id": {
            "type": "string"
          },
          "artist_name": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "zip": {
            "type": "string",
            "format": "uri"
          },
          "shorturl": {
            "type": "string",
            "format": "uri"
          },
          "shareurl": {
            "type": "string",
            "format": "uri"
          },
          "zip_allowed": {
            "type": "boolean"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "joindate": {
            "type": "string",
            "format": "date"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "shorturl": {
            "type": "string",
            "format": "uri"
          },
          "shareurl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "headers": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "failed"
                ]
              },
              "code": {
                "type": "integer"
              },
              "error_message": {
                "type": "string"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {}
          }
        }
      }
    },
    "securitySchemes": {
      "clientId": {
        "type": "apiKey",
        "in": "query",
        "name": "client_id",
        "description": "Jamendo client ID from devportal.jamendo.com"
      }
    }
  },
  "security": [
    {
      "clientId": []
    }
  ],
  "tags": [
    {
      "name": "Albums"
    },
    {
      "name": "Artists"
    },
    {
      "name": "Playlists"
    },
    {
      "name": "Radio"
    },
    {
      "name": "Reviews"
    },
    {
      "name": "Search"
    },
    {
      "name": "Tracks"
    }
  ]
}
