{
  "info": {
    "title": "Codleap SMS Gateway",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/codleap/codleap-sms-gateway/1.0.0"
  },
  "openapi": "3.0.4",
  "paths": {
    "/api/v1/sms/add": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": "{\"messages\":[{\"phone_number\":\"+967777042721\",\"body\":\"\u0647\u0644\u0627 \"}]}",
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "summary": "send message",
        "tags": [
          "SMS"
        ]
      }
    },
    "/api/v1/sms/balance": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "summary": "get balance",
        "tags": [
          "SMS"
        ]
      }
    },
    "/api/v1/otp/generate": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": "{\"phone_number\":\"+967777042721\",\"length\":\"4\",\"duration\":\"20\"}",
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "summary": "generate OTP",
        "tags": [
          "OTP"
        ]
      }
    },
    "/api/v1/otp/logs": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "text",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "summary": "get logs",
        "tags": [
          "SMS"
        ]
      }
    },
    "/api/v1/otp/verify": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": "{\"phone_number\":\"+967777042721\",\"otp\":\"1234\"}",
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "summary": "verify OTP",
        "tags": [
          "OTP"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://sms.codleap.com"
    }
  ],
  "tags": [
    {
      "description": "SMS related endpoints",
      "name": "SMS"
    },
    {
      "description": "OTP related endpoints",
      "name": "OTP"
    }
  ]
}