{
  "openapi": "3.0.3",
  "info": {
    "title": "Qualys API",
    "version": "2.0",
    "description": "Qualys Security Platform API. Covers VMDR (Vulnerability Management, Detection and Response), WAS (Web Application Scanning), and Global AssetView APIs. The classic API (v2) uses XML request/response format with Basic authentication. The newer QPS APIs (v2.0/v3.0) use XML ServiceRequest format. All endpoints require authentication.",
    "x-jentic-source-url": "https://www.qualys.com/documentation/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://qualysapi.qualys.com",
      "description": "Qualys US Platform 1"
    },
    {
      "url": "https://qualysapi.qg2.apps.qualys.com",
      "description": "Qualys US Platform 2"
    },
    {
      "url": "https://qualysapi.qg3.apps.qualys.com",
      "description": "Qualys US Platform 3"
    },
    {
      "url": "https://qualysapi.qualys.eu",
      "description": "Qualys EU Platform"
    }
  ],
  "paths": {
    "/api/2.0/fo/asset/host/": {
      "get": {
        "operationId": "listHosts",
        "summary": "List host assets",
        "tags": [
          "Host Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Host IDs"
          },
          {
            "name": "id_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Min host ID"
          },
          {
            "name": "id_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max host ID"
          },
          {
            "name": "truncation_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max records"
          },
          {
            "name": "ips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IP addresses"
          },
          {
            "name": "ag_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Asset group IDs"
          },
          {
            "name": "network_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Network IDs"
          }
        ],
        "description": "List host assets"
      },
      "post": {
        "operationId": "createHost",
        "summary": "Add host asset",
        "tags": [
          "Host Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "description": "Host details to add",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Add host asset"
      }
    },
    "/api/2.0/fo/asset/host/vm/detection/": {
      "get": {
        "operationId": "listHostDetections",
        "summary": "List host detections",
        "tags": [
          "Host Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Host IDs"
          },
          {
            "name": "qids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "QID filters"
          },
          {
            "name": "severities",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Severity levels (1-5)"
          },
          {
            "name": "show_igs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Show information gathered"
          },
          {
            "name": "include_search_list_titles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Include search list titles"
          },
          {
            "name": "truncation_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max records"
          }
        ],
        "description": "List host detections"
      },
      "post": {
        "operationId": "listHostDetectionsPost",
        "summary": "List host detections (POST)",
        "tags": [
          "Host Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "List host detections (POST)"
      }
    },
    "/api/2.0/fo/asset/group/": {
      "get": {
        "operationId": "listAssetGroups",
        "summary": "List asset groups",
        "tags": [
          "Asset Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group IDs"
          },
          {
            "name": "id_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Min group ID"
          },
          {
            "name": "id_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max group ID"
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group title filter"
          },
          {
            "name": "truncation_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max records"
          }
        ],
        "description": "List asset groups"
      },
      "post": {
        "operationId": "manageAssetGroup",
        "summary": "Create/edit/delete asset group",
        "tags": [
          "Asset Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "description": "action=add|edit|delete and group parameters",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Create/edit/delete asset group"
      }
    },
    "/api/2.0/fo/asset/ip/": {
      "get": {
        "operationId": "listIPs",
        "summary": "List IP addresses in subscription",
        "tags": [
          "IP Addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "ips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "IP range filter"
          },
          {
            "name": "tracking_method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Tracking method"
          },
          {
            "name": "compliance_enabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Compliance enabled"
          }
        ],
        "description": "List IP addresses in subscription"
      },
      "post": {
        "operationId": "manageIPs",
        "summary": "Add/update IP addresses",
        "tags": [
          "IP Addresses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "description": "action=add|update and IP parameters",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Add/update IP addresses"
      }
    },
    "/api/2.0/fo/scan/": {
      "get": {
        "operationId": "listScans",
        "summary": "List vulnerability scans",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "scan_ref",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Scan reference"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Scan state filter"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Scan type"
          },
          {
            "name": "launched_after_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Launched after"
          },
          {
            "name": "launched_before_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Launched before"
          }
        ],
        "description": "List vulnerability scans"
      },
      "post": {
        "operationId": "launchScan",
        "summary": "Launch vulnerability scan",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "description": "action=launch with scan parameters (title, ip, asset_groups, option_title, etc.)",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Launch vulnerability scan"
      }
    },
    "/api/2.0/fo/scan/vm/": {
      "get": {
        "operationId": "listVMScans",
        "summary": "List VM scans",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List VM scans"
      }
    },
    "/api/2.0/fo/scan/compliance/": {
      "get": {
        "operationId": "listComplianceScans",
        "summary": "List compliance scans",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List compliance scans"
      },
      "post": {
        "operationId": "launchComplianceScan",
        "summary": "Launch compliance scan",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Launch compliance scan"
      }
    },
    "/api/2.0/fo/schedule/scan/": {
      "get": {
        "operationId": "listScheduledScans",
        "summary": "List scheduled scans",
        "tags": [
          "Scan Schedules"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List scheduled scans"
      },
      "post": {
        "operationId": "manageScheduledScan",
        "summary": "Create/update scheduled scan",
        "tags": [
          "Scan Schedules"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Create/update scheduled scan"
      }
    },
    "/api/2.0/fo/report/": {
      "get": {
        "operationId": "listReports",
        "summary": "List reports",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Report ID"
          }
        ],
        "description": "List reports"
      },
      "post": {
        "operationId": "launchReport",
        "summary": "Launch report generation",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "description": "action=launch with report parameters",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Launch report generation"
      }
    },
    "/api/2.0/fo/knowledge_base/vuln/": {
      "get": {
        "operationId": "listVulnerabilities",
        "summary": "List vulnerabilities from knowledge base",
        "tags": [
          "Knowledge Base"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "QID list"
          },
          {
            "name": "id_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Min QID"
          },
          {
            "name": "id_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max QID"
          },
          {
            "name": "is_patchable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Is patchable filter"
          },
          {
            "name": "published_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Published after date"
          },
          {
            "name": "last_modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Modified after"
          },
          {
            "name": "discovery_method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Discovery method"
          }
        ],
        "description": "List vulnerabilities from knowledge base"
      },
      "post": {
        "operationId": "listVulnerabilitiesPost",
        "summary": "List vulnerabilities (POST)",
        "tags": [
          "Knowledge Base"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "List vulnerabilities (POST)"
      }
    },
    "/api/2.0/fo/subscription/option_profile/": {
      "get": {
        "operationId": "listOptionProfiles",
        "summary": "List option profiles",
        "tags": [
          "Option Profiles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List option profiles"
      }
    },
    "/api/2.0/fo/appliance/": {
      "get": {
        "operationId": "listAppliances",
        "summary": "List scanner appliances",
        "tags": [
          "Appliances"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Appliance IDs"
          },
          {
            "name": "platform_provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Platform provider filter"
          }
        ],
        "description": "List scanner appliances"
      }
    },
    "/api/2.0/fo/asset/vhost/": {
      "get": {
        "operationId": "listVirtualHosts",
        "summary": "List virtual hosts",
        "tags": [
          "Virtual Hosts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List virtual hosts"
      },
      "post": {
        "operationId": "manageVirtualHost",
        "summary": "Create/update virtual host",
        "tags": [
          "Virtual Hosts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Create/update virtual host"
      }
    },
    "/api/2.0/fo/asset/excluded_ip/": {
      "get": {
        "operationId": "listExcludedIPs",
        "summary": "List excluded IPs",
        "tags": [
          "Excluded Hosts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List excluded IPs"
      },
      "post": {
        "operationId": "manageExcludedIPs",
        "summary": "Add/remove excluded IPs",
        "tags": [
          "Excluded Hosts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Add/remove excluded IPs"
      }
    },
    "/msp/user.php": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required: list"
          }
        ],
        "description": "List users"
      },
      "post": {
        "operationId": "manageUser",
        "summary": "Create/edit user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Create/edit user"
      }
    },
    "/qps/rest/2.0/search/am/hostasset": {
      "post": {
        "operationId": "searchHostAssets",
        "summary": "Search host assets (GAV)",
        "tags": [
          "Global Asset View"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "description": "ServiceRequest XML with search criteria",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Search host assets (GAV)"
      }
    },
    "/qps/rest/2.0/get/am/hostasset/{hostId}": {
      "get": {
        "operationId": "getHostAsset",
        "summary": "Get host asset by ID (GAV)",
        "tags": [
          "Global Asset View"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "hostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Get host asset by ID (GAV)"
      }
    },
    "/qps/rest/2.0/count/am/hostasset": {
      "post": {
        "operationId": "countHostAssets",
        "summary": "Count host assets (GAV)",
        "tags": [
          "Global Asset View"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Count host assets (GAV)"
      }
    },
    "/qps/rest/3.0/search/was/webapp": {
      "post": {
        "operationId": "searchWebApps",
        "summary": "Search web applications",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Search web applications"
      }
    },
    "/qps/rest/3.0/get/was/webapp/{webAppId}": {
      "get": {
        "operationId": "getWebApp",
        "summary": "Get web application",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "webAppId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Get web application"
      }
    },
    "/qps/rest/3.0/create/was/webapp": {
      "post": {
        "operationId": "createWebApp",
        "summary": "Create web application",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Create web application"
      }
    },
    "/qps/rest/3.0/update/was/webapp/{webAppId}": {
      "post": {
        "operationId": "updateWebApp",
        "summary": "Update web application",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "webAppId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Update web application"
      }
    },
    "/qps/rest/3.0/delete/was/webapp/{webAppId}": {
      "post": {
        "operationId": "deleteWebApp",
        "summary": "Delete web application",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "webAppId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Delete web application"
      }
    },
    "/qps/rest/3.0/search/was/wasscan": {
      "post": {
        "operationId": "searchWASScans",
        "summary": "Search WAS scans",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Search WAS scans"
      }
    },
    "/qps/rest/3.0/launch/was/wasscan": {
      "post": {
        "operationId": "launchWASScan",
        "summary": "Launch WAS scan",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Launch WAS scan"
      }
    },
    "/qps/rest/3.0/get/was/wasscan/{scanId}": {
      "get": {
        "operationId": "getWASScan",
        "summary": "Get WAS scan",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "parameters": [
          {
            "name": "scanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "description": "Get WAS scan"
      }
    },
    "/qps/rest/3.0/search/was/finding": {
      "post": {
        "operationId": "searchWASFindings",
        "summary": "Search WAS findings",
        "tags": [
          "Web Application Scanning"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "409": {
            "description": "Conflict - rate limit exceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Search WAS findings"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "SIMPLE_RETURN": {
            "type": "object",
            "properties": {
              "RESPONSE": {
                "type": "object",
                "properties": {
                  "DATETIME": {
                    "type": "string"
                  },
                  "CODE": {
                    "type": "string"
                  },
                  "TEXT": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with Qualys platform username and password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Host Assets",
      "description": "Host asset management and VM detections"
    },
    {
      "name": "Asset Groups",
      "description": "Asset group management"
    },
    {
      "name": "IP Addresses",
      "description": "IP address management"
    },
    {
      "name": "Scans",
      "description": "Vulnerability and compliance scanning"
    },
    {
      "name": "Scan Schedules",
      "description": "Scheduled scan management"
    },
    {
      "name": "Reports",
      "description": "Report generation and retrieval"
    },
    {
      "name": "Knowledge Base",
      "description": "Qualys vulnerability knowledge base"
    },
    {
      "name": "Option Profiles",
      "description": "Scan option profiles"
    },
    {
      "name": "Appliances",
      "description": "Scanner appliance management"
    },
    {
      "name": "Virtual Hosts",
      "description": "Virtual host management"
    },
    {
      "name": "Excluded Hosts",
      "description": "IP exclusion management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Global Asset View",
      "description": "Global AssetView API (QPS v2.0)"
    },
    {
      "name": "Web Application Scanning",
      "description": "WAS API (QPS v3.0)"
    }
  ]
}
