{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenFDA API",
    "version": "1.0.0",
    "description": "The openFDA API provides public access to FDA data on drugs, devices, food, and other regulated products. The API returns data in JSON format and supports search queries, counts, and date-range filtering across multiple datasets including adverse events, drug labels, recalls, and more.",
    "x-jentic-source-url": "https://open.fda.gov/apis/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.fda.gov"
    }
  ],
  "paths": {
    "/drug/event.json": {
      "get": {
        "operationId": "searchDrugAdverseEvents",
        "summary": "Search drug adverse events",
        "description": "Returns adverse event reports from FAERS. Supports search, count, and date range queries.",
        "tags": [
          "Drug"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query using openFDA query syntax (field:value)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values of a field",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugEventResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drug/label.json": {
      "get": {
        "operationId": "searchDrugLabels",
        "summary": "Search drug product labels",
        "description": "Returns structured product labeling (SPL) data for prescription and OTC drugs.",
        "tags": [
          "Drug"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drug/ndc.json": {
      "get": {
        "operationId": "searchDrugNDC",
        "summary": "Search drug NDC directory",
        "description": "Returns National Drug Code directory entries for drug products.",
        "tags": [
          "Drug"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drug/drugsfda.json": {
      "get": {
        "operationId": "searchDrugsFDA",
        "summary": "Search FDA-approved drugs",
        "description": "Returns data from Drugs@FDA including approval history, therapeutic equivalence, and patent information.",
        "tags": [
          "Drug"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drug/enforcement.json": {
      "get": {
        "operationId": "searchDrugEnforcement",
        "summary": "Search drug enforcement reports",
        "description": "Returns drug recall enforcement reports.",
        "tags": [
          "Drug"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/event.json": {
      "get": {
        "operationId": "searchDeviceAdverseEvents",
        "summary": "Search device adverse events",
        "description": "Returns medical device adverse event reports (MAUDE).",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/classification.json": {
      "get": {
        "operationId": "searchDeviceClassification",
        "summary": "Search device classification",
        "description": "Returns device classification data including product codes and regulatory classes.",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count unique values",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/510k.json": {
      "get": {
        "operationId": "searchDevice510k",
        "summary": "Search 510(k) clearances",
        "description": "Returns 510(k) premarket notification data.",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/pma.json": {
      "get": {
        "operationId": "searchDevicePMA",
        "summary": "Search premarket approvals (PMA)",
        "description": "Returns premarket approval (PMA) data for medical devices.",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/recall.json": {
      "get": {
        "operationId": "searchDeviceRecalls",
        "summary": "Search device recalls",
        "description": "Returns medical device recall data.",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/enforcement.json": {
      "get": {
        "operationId": "searchDeviceEnforcement",
        "summary": "Search device enforcement reports",
        "description": "Returns device enforcement/recall reports.",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/device/udi.json": {
      "get": {
        "operationId": "searchDeviceUDI",
        "summary": "Search unique device identifiers",
        "description": "Returns unique device identifier (UDI) data from GUDID.",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/food/event.json": {
      "get": {
        "operationId": "searchFoodAdverseEvents",
        "summary": "Search food adverse events",
        "description": "Returns food and cosmetic adverse event reports (CAERS).",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/food/enforcement.json": {
      "get": {
        "operationId": "searchFoodEnforcement",
        "summary": "Search food enforcement reports",
        "description": "Returns food recall enforcement reports.",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/animalandveterinary/event.json": {
      "get": {
        "operationId": "searchAnimalAdverseEvents",
        "summary": "Search animal & veterinary adverse events",
        "description": "Returns animal and veterinary adverse event reports.",
        "tags": [
          "Animal & Veterinary"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tobacco/problem.json": {
      "get": {
        "operationId": "searchTobaccoProblems",
        "summary": "Search tobacco problem reports",
        "description": "Returns tobacco product problem reports.",
        "tags": [
          "Tobacco"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 1000
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DrugEventResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugAdverseEvent"
            }
          }
        }
      },
      "MetaInfo": {
        "type": "object",
        "properties": {
          "disclaimer": {
            "type": "string"
          },
          "terms": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "last_updated": {
            "type": "string",
            "format": "date"
          },
          "results": {
            "type": "object",
            "properties": {
              "skip": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DrugAdverseEvent": {
        "type": "object",
        "properties": {
          "safetyreportid": {
            "type": "string"
          },
          "safetyreportversion": {
            "type": "string"
          },
          "receivedate": {
            "type": "string"
          },
          "receivedateformat": {
            "type": "string"
          },
          "receiptdate": {
            "type": "string"
          },
          "receiptdateformat": {
            "type": "string"
          },
          "serious": {
            "type": "string"
          },
          "seriousnessdeath": {
            "type": "string"
          },
          "seriousnesslifethreatening": {
            "type": "string"
          },
          "seriousnesshospitalization": {
            "type": "string"
          },
          "patient": {
            "type": "object"
          },
          "sender": {
            "type": "object"
          },
          "receiver": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Animal & Veterinary"
    },
    {
      "name": "Device"
    },
    {
      "name": "Drug"
    },
    {
      "name": "Food"
    },
    {
      "name": "Tobacco"
    }
  ]
}
