{
  "openapi": "3.0.3",
  "info": {
    "title": "PubNub REST API",
    "version": "1.0.0",
    "description": "PubNub real-time messaging and pub/sub platform REST API. Provides publish, subscribe, presence, storage/playback (message persistence), push notifications, and channel group management.",
    "x-jentic-source-url": "https://www.pubnub.com/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://ps.pndsn.com"
    }
  ],
  "paths": {
    "/publish/{pub_key}/{sub_key}/0/{channel}/0/{message}": {
      "get": {
        "operationId": "publishMessage",
        "summary": "Publish a message",
        "description": "Publish a message to a channel. The message is JSON-encoded in the URL path.",
        "tags": [
          "Publish"
        ],
        "parameters": [
          {
            "name": "pub_key",
            "in": "path",
            "required": true,
            "description": "Publish key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_key",
            "in": "path",
            "required": true,
            "description": "Subscribe key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Channel name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "path",
            "required": true,
            "description": "JSON-encoded message",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store",
            "in": "query",
            "description": "Store in history (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "UUID of the sender",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "JSON metadata associated with the message",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "[status_code, status_message, timetoken]"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/subscribe/{sub_key}/{channel}/0": {
      "get": {
        "operationId": "subscribe",
        "summary": "Subscribe to channel(s)",
        "description": "Long-poll subscribe to one or more channels. Returns new messages since the given timetoken.",
        "tags": [
          "Subscribe"
        ],
        "parameters": [
          {
            "name": "sub_key",
            "in": "path",
            "required": true,
            "description": "Subscribe key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Channel name (comma-separated for multiple)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tt",
            "in": "query",
            "description": "Timetoken (0 for initial subscribe)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "UUID of the subscriber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter-expr",
            "in": "query",
            "description": "Message filter expression",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/presence/sub-key/{sub_key}/channel/{channel}": {
      "get": {
        "operationId": "hereNow",
        "summary": "Here Now (presence)",
        "description": "Get a list of UUIDs currently subscribed to a channel.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "name": "sub_key",
            "in": "path",
            "required": true,
            "description": "Subscribe key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Channel name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Include state data (1/0)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "disable_uuids",
            "in": "query",
            "description": "Disable UUID list (1/0)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "UUID of requester",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presence data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HereNowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/history/sub-key/{sub_key}/channel/{channel}": {
      "get": {
        "operationId": "getHistory",
        "summary": "Get message history",
        "description": "Retrieve historical messages from a channel.",
        "tags": [
          "Storage"
        ],
        "parameters": [
          {
            "name": "sub_key",
            "in": "path",
            "required": true,
            "description": "Subscribe key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "Channel name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of messages to return (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start timetoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End timetoken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "description": "Traverse in reverse order",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_token",
            "in": "query",
            "description": "Include timetoken per message",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_meta",
            "in": "query",
            "description": "Include message metadata",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "[messages_array, start_timetoken, end_timetoken]"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/channel-registration/sub-key/{sub_key}/channel-group/{group}": {
      "get": {
        "operationId": "listChannelGroup",
        "summary": "List channels in group",
        "description": "List all channels in a channel group.",
        "tags": [
          "Channel Groups"
        ],
        "parameters": [
          {
            "name": "sub_key",
            "in": "path",
            "required": true,
            "description": "Subscribe key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "description": "Channel group name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel group channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "service": {
                      "type": "string"
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "group": {
                          "type": "string"
                        },
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/push/sub-key/{sub_key}/devices/{device_id}": {
      "get": {
        "operationId": "listPushChannels",
        "summary": "List push notification channels",
        "description": "List channels registered for push notifications on a device.",
        "tags": [
          "Push"
        ],
        "parameters": [
          {
            "name": "sub_key",
            "in": "path",
            "required": true,
            "description": "Subscribe key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "description": "Device push token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Push service type",
            "schema": {
              "type": "string",
              "enum": [
                "apns",
                "apns2",
                "gcm",
                "mpns"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Push channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/time/0": {
      "get": {
        "operationId": "getTime",
        "summary": "Get PubNub time",
        "description": "Returns the current PubNub time token. Useful for heartbeat and connectivity checks.",
        "tags": [
          "Time"
        ],
        "responses": {
          "200": {
            "description": "Current timetoken",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "[timetoken]"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SubscribeResponse": {
        "type": "object",
        "properties": {
          "t": {
            "type": "object",
            "properties": {
              "t": {
                "type": "string",
                "description": "Timetoken"
              },
              "r": {
                "type": "integer",
                "description": "Region"
              }
            }
          },
          "m": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "a": {
                  "type": "string"
                },
                "f": {
                  "type": "integer"
                },
                "p": {
                  "type": "object"
                },
                "k": {
                  "type": "string"
                },
                "c": {
                  "type": "string",
                  "description": "Channel"
                },
                "d": {
                  "type": "object",
                  "description": "Message payload"
                }
              }
            }
          }
        }
      },
      "HereNowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "occupancy": {
            "type": "integer",
            "description": "Number of subscribers"
          },
          "uuids": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string"
                },
                "state": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "service": {
            "type": "string"
          },
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "publishKey": {
        "type": "apiKey",
        "in": "path",
        "name": "pub_key",
        "description": "PubNub publish key"
      },
      "subscribeKey": {
        "type": "apiKey",
        "in": "path",
        "name": "sub_key",
        "description": "PubNub subscribe key"
      }
    }
  },
  "security": [
    {
      "subscribeKey": []
    }
  ],
  "tags": [
    {
      "name": "Channel Groups"
    },
    {
      "name": "Presence"
    },
    {
      "name": "Publish"
    },
    {
      "name": "Push"
    },
    {
      "name": "Storage"
    },
    {
      "name": "Subscribe"
    },
    {
      "name": "Time"
    }
  ]
}
