{
  "openapi": "3.0.1",
  "info": {
    "title": "GetEntityData",
    "description": "API generated by Swagger Explore",
    "version": "1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mindcomputinginc/GetEntityDataFive/1"
  },
  "servers": [
    {
      "url": "https://api.sam.gov"
    }
  ],
  "paths": {
    "/entity-information/v1/entities": {
      "get": {
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "SAM-041c31f1-0aa3-481e-88a6-004ec981d5db"
              }
            }
          },
          {
            "name": "ueiSAM",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "WLWRCWJAH9Q8"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        },
        "security": [
          {
            "ApiKeyCredentials": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyCredentials": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header",
        "scheme": "apiKey"
      }
    }
  }
}