{
  "openapi": "3.0.3",
  "info": {
    "title": "Active-Liveness-SDK-Reference",
    "version": "1.0.0",
    "description": "API for active liveness detection using facial recognition, detecting real vs. spoofed faces for identity verification.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/seamfix-6f8/Active-Liveness-SDK-Reference/1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.seamfix.com/liveness/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/liveness/check": {
      "post": {
        "operationId": "performLivenessCheck",
        "tags": [
          "Liveness"
        ],
        "summary": "Perform liveness check",
        "description": "Analyzes a facial image or video to determine if the subject is a live person.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LivenessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liveness check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LivenessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/liveness/sessions": {
      "post": {
        "operationId": "createLivenessSession",
        "tags": [
          "Liveness"
        ],
        "summary": "Create a liveness session",
        "description": "Create a session for multi-step active liveness verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/liveness/sessions/{sessionId}": {
      "get": {
        "operationId": "getLivenessSession",
        "tags": [
          "Liveness"
        ],
        "summary": "Get session status",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get session status"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "LivenessRequest": {
        "type": "object",
        "required": [
          "image"
        ],
        "properties": {
          "image": {
            "type": "string",
            "format": "base64",
            "description": "Base64 encoded image"
          },
          "sessionId": {
            "type": "string"
          }
        }
      },
      "LivenessResponse": {
        "type": "object",
        "properties": {
          "isLive": {
            "type": "boolean"
          },
          "confidence": {
            "type": "number"
          },
          "livenessScore": {
            "type": "number"
          },
          "checks": {
            "type": "object",
            "properties": {
              "eyeBlinkDetected": {
                "type": "boolean"
              },
              "headMovementDetected": {
                "type": "boolean"
              },
              "mouthMovementDetected": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "SessionRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "challenges": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Liveness"
    }
  ]
}
