{
  "openapi": "3.0.3",
  "info": {
    "title": "Fulcrum API",
    "description": "Fulcrum REST API for managing data collection forms, records, users, and media attachments. Includes Query API for analytics and reporting.",
    "version": "1.0.0",
    "x-jentic-source-url": "http://developer.fulcrumapp.com/api/intro/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.fulcrumapp.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v2/forms": {
      "get": {
        "summary": "List Forms",
        "description": "Retrieves all forms",
        "operationId": "listForms",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "List of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forms": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Form"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Form",
        "operationId": "createForm",
        "tags": [
          "Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form": {
                    "$ref": "#/components/schemas/FormInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form created"
          }
        },
        "description": "Create Form"
      }
    },
    "/api/v2/forms/{id}": {
      "get": {
        "summary": "Get Form",
        "operationId": "getForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form details"
          }
        },
        "description": "Get Form"
      },
      "put": {
        "summary": "Update Form",
        "operationId": "updateForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form": {
                    "$ref": "#/components/schemas/FormInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form updated"
          }
        },
        "description": "Update Form"
      },
      "delete": {
        "summary": "Delete Form",
        "operationId": "deleteForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Form deleted"
          }
        },
        "description": "Delete Form"
      }
    },
    "/api/v2/records": {
      "get": {
        "summary": "List Records",
        "description": "Retrieves data records",
        "operationId": "listRecords",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Record"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Record",
        "operationId": "createRecord",
        "tags": [
          "Records"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/RecordInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created"
          }
        },
        "description": "Create Record"
      }
    },
    "/api/v2/records/{id}": {
      "get": {
        "summary": "Get Record",
        "operationId": "getRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record details"
          }
        },
        "description": "Get Record"
      },
      "put": {
        "summary": "Update Record",
        "operationId": "updateRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/RecordInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated"
          }
        },
        "description": "Update Record"
      },
      "delete": {
        "summary": "Delete Record",
        "operationId": "deleteRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Record deleted"
          }
        },
        "description": "Delete Record"
      }
    },
    "/api/v2/query": {
      "get": {
        "summary": "Query Data",
        "description": "Execute SQL-like queries for analytics and reporting",
        "operationId": "queryData",
        "tags": [
          "Query"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SQL query string"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "geojson"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results"
          }
        }
      }
    },
    "/api/v2/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List Webhooks"
      },
      "post": {
        "summary": "Create Webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook": {
                    "$ref": "#/components/schemas/WebhookInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        },
        "description": "Create Webhook"
      }
    },
    "/api/v2/photos": {
      "post": {
        "summary": "Upload Photo",
        "operationId": "uploadPhoto",
        "tags": [
          "Media"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo uploaded"
          }
        },
        "description": "Upload Photo"
      }
    },
    "/api/v2/users": {
      "get": {
        "summary": "List Users",
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "List of users"
          }
        },
        "description": "List Users"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiToken"
      }
    },
    "schemas": {
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "elements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FormInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "elements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "form_id": {
            "type": "string"
          },
          "form_values": {
            "type": "object"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RecordInput": {
        "type": "object",
        "required": [
          "form_id",
          "form_values"
        ],
        "properties": {
          "form_id": {
            "type": "string"
          },
          "form_values": {
            "type": "object"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Forms"
    },
    {
      "name": "Media"
    },
    {
      "name": "Query"
    },
    {
      "name": "Records"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    }
  ]
}
