{
  "openapi": "3.0.1",
  "info": {
    "title": "IDM API Gateway",
    "description": "The API for RESTful",
    "termsOfService": "https://www.abbank.vn",
    "contact": {
      "name": "DEV Team",
      "url": "https://www.abbank.vn",
      "email": "digitaldev@abbank.vn"
    },
    "license": {
      "name": "ABBANK",
      "url": "https://www.abbank.vn"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DUCNGUYEN2394_1/idm-api-gateway/1.0.0"
  },
  "servers": [
    {
      "url": "https://sit-isv-bank-operation.abbank.vn:7843/idm/api",
      "description": "M\u00f4i tr\u01b0\u1eddng sit esb"
    },
    {
      "url": "https://uat-isv-bank-operation.abbank.vn:7843/idm/api",
      "description": "M\u00f4i tr\u01b0\u1eddng uat esb"
    }
  ],
  "paths": {
    "/list_staff_by_date": {
      "post": {
        "tags": [
          "T24"
        ],
        "description": "API l\u1ea5y user m\u1edbi tr\u00ean h\u1ec7 th\u1ed1ng T24 theo ng\u00e0y",
        "operationId": "post_list_staff_by_date",
        "requestBody": {
          "description": "list_staff_by_date",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListStaffRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStaffResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/staff_info": {
      "post": {
        "tags": [
          "T24"
        ],
        "description": "API l\u1ea5y th\u00f4ng tin chi ti\u1ebft m\u1ed9t user t\u1eeb h\u1ec7 th\u1ed1ng T24",
        "operationId": "post_staff_info",
        "requestBody": {
          "description": "staff_info",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/get_close_staff_oig_info": {
      "post": {
        "tags": [
          "T24"
        ],
        "description": "API l\u1ea5y th\u00f4ng tin \u0111\u00f3ng t\u00e0i kho\u1ea3n OIG t\u1eeb h\u1ec7 th\u1ed1ng T24",
        "operationId": "post_get_close_staff_oig_info",
        "requestBody": {
          "description": "get_close_staff_oig_info",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCloseStaffOIGInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCloseStaffOIGInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/reset_password": {
      "post": {
        "tags": [
          "T24"
        ],
        "description": "API reset m\u1eadt kh\u1ea9u cho t\u00e0i kho\u1ea3n tr\u00ean T24",
        "operationId": "post_reset_password",
        "requestBody": {
          "description": "reset_password",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetPasswordResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/update_staff": {
      "post": {
        "tags": [
          "T24"
        ],
        "description": "API t\u1ea1o/c\u1eadp nh\u1eadt th\u00f4ng tin t\u00e0i kho\u1ea3n tr\u00ean h\u1ec7 th\u1ed1ng T24",
        "operationId": "post_update_staff",
        "requestBody": {
          "description": "update_staff",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStaffRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateStaffResponse"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/los/list_role": {
      "post": {
        "tags": [
          "LOS"
        ],
        "description": "Insert a Los_List_Role",
        "operationId": "post_Los_List_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/los/list_user": {
      "post": {
        "tags": [
          "LOS"
        ],
        "description": "Insert a Los_List_User",
        "operationId": "post_Los_List_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Header"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Header"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/los/user_info": {
      "post": {
        "tags": [
          "LOS"
        ],
        "description": "Insert a Los_User_Info",
        "operationId": "post_Los_User_Info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Header"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Header"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/los/create_user": {
      "post": {
        "tags": [
          "LOS"
        ],
        "description": "Insert a Los_Create_User",
        "operationId": "post_Los_Create_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Header"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Header"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/los/update_user_status": {
      "post": {
        "tags": [
          "LOS"
        ],
        "description": "Insert a Los_Update_User_Status",
        "operationId": "post_Los_Update_User_Status",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Header"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Header"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/los/update_user_info": {
      "post": {
        "tags": [
          "LOS"
        ],
        "description": "Insert a Los_Update_User_Info",
        "operationId": "post_Los_Update_User_Info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Header"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Header"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex/list_role": {
      "post": {
        "tags": [
          "FLEX"
        ],
        "description": "Insert a flex/list_role",
        "operationId": "post_Flex_List_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex/update_role": {
      "post": {
        "tags": [
          "FLEX"
        ],
        "description": "Insert a flex/update_role",
        "operationId": "post_Flex_Update_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex/list_user": {
      "post": {
        "tags": [
          "FLEX"
        ],
        "description": "Insert a flex/list_user",
        "operationId": "post_Flex_List_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex/user_info": {
      "post": {
        "tags": [
          "FLEX"
        ],
        "description": "Insert a flex/user_info",
        "operationId": "post_Flex_User_Info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex/update_user": {
      "post": {
        "tags": [
          "FLEX"
        ],
        "description": "Insert a flex/update_user",
        "operationId": "post_Flex_Update_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex/delete_user": {
      "post": {
        "tags": [
          "FLEX"
        ],
        "description": "Insert a flex/delete_user",
        "operationId": "post_Flex_Delete_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hrm/get_new_user": {
      "post": {
        "tags": [
          "HRM"
        ],
        "description": "Get request create account OIG for new employee human resource",
        "operationId": "post_Hrm_Get_New_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hrm/get_close_staff_oig_info": {
      "post": {
        "tags": [
          "HRM"
        ],
        "description": "Get information disable account OIG from HRM",
        "operationId": "post_Hrm_Get_Close_Staff_Oig_Info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrmGetCloseStaffOIGInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrmGetCloseStaffOIGInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hrm/update_status_user": {
      "post": {
        "tags": [
          "HRM"
        ],
        "description": "Update status process request create account OIG from HRM",
        "operationId": "post_Hrm_Update_Status_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrmUpdateStatusUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrmUpdateStatusUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hrm/update_processing": {
      "post": {
        "tags": [
          "HRM"
        ],
        "description": "Update HRM system status processing request permission (unfulfilled/completed/failed)",
        "operationId": "post_Hrm_Update_Processing",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrmUpdateProcessingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrmUpdateProcessingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hrm/get_all_user": {
      "post": {
        "tags": [
          "HRM"
        ],
        "description": "Synchronize existing accounts on the HRM system to fulfill requests to close/open HRM application access rights of officials who already have HRM accounts",
        "operationId": "post_Hrm_Get_All_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrmGetAllUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrmGetAllUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hrm/get_close_staff_account_info": {
      "post": {
        "tags": [
          "HRM"
        ],
        "description": "Get information close account OIG of employee long term break",
        "operationId": "post_Hrm_Get_Close_Staff_Account_Info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HrmGetCloseStaffAccountInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HrmGetCloseStaffAccountInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/get-onboard-employees": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Get onboard employees",
        "description": "-  M\u00f4 t\u1ea3: API l\u1ea5y th\u00f4ng tin nh\u00e2n s\u1ef1 m\u1edbi t\u1eeb h\u1ec7 th\u1ed1ng Hris\n- M\u1ee5c \u0111\u00edch: L\u1ea5y th\u00f4ng tin nh\u00e2n s\u1ef1 m\u1edbi \u0111\u01b0\u1ee3c c\u1eadp nh\u1eadt tr\u00ean h\u1ec7 th\u1ed1ng Hris ph\u1ee5c v\u1ee5 t\u1ea1o t\u00e0i kho\u1ea3n truy c\u1eadp cho nh\u00e2n s\u1ef1 m\u1edbi tr\u00ean c\u00e1c h\u1ec7 th\u1ed1ng \u0111\u00edch nh\u01b0: AD, Email, Teams\n",
        "operationId": "hris_get_onboard_employees_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOnboardEmployeesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOnboardEmployeesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/get-offboard-employees": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Get offboard employees",
        "description": "-  M\u00f4 t\u1ea3: API l\u1ea5y th\u00f4ng tin nh\u00e2n s\u1ef1 ngh\u1ec9 vi\u1ec7c\n- M\u1ee5c \u0111\u00edch: L\u1ea5y th\u00f4ng tin nh\u00e2n s\u1ef1 ngh\u1ec9 vi\u1ec7c \u0111\u1ec3 th\u1ef1c hi\u1ec7n disable t\u00e0i kho\u1ea3n c\u1ee7a user tr\u00ean c\u00e1c h\u1ec7 th\u1ed1ng \u0111\u00edch: AD, Email, Team, Hris\n",
        "operationId": "hris_get_offboard_employees_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOffboardEmployeesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOffboardEmployeesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/update-onboard-employee": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Update onboard employee",
        "description": "-  M\u00f4 t\u1ea3: API c\u1eadp nh\u1eadt th\u00f4ng tin user m\u1edbi tr\u00ean Hris\n- M\u1ee5c \u0111\u00edch: IDM c\u1eadp nh\u1eadt th\u00f4ng tin user m\u1edbi (UserLogin v\u00e0 Email) cho h\u1ec7 th\u1ed1ng Hris\n",
        "operationId": "hris_update_onboard_employee_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnboardEmployeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOnboardEmployeeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/get-long-leave-employees": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Get long leave employees",
        "description": "-  M\u00f4 t\u1ea3: API l\u1ea5y th\u00f4ng tin nh\u00e2n s\u1ef1 ngh\u1ec9 d\u00e0i h\u1ea1n\n- M\u1ee5c \u0111\u00edch: L\u1ea5y th\u00f4ng tin c\u00e1n b\u1ed9 nh\u00e2n vi\u00ean ngh\u1ec9 d\u00e0i h\u1ea1n \u0111\u1ec3 th\u1ef1c hi\u1ec7n disable t\u00e0i kho\u1ea3n c\u1ee7a c\u00e1n b\u1ed9 tr\u00ean c\u00e1c h\u1ec7 th\u1ed1ng \u0111\u00edch: AD, Email, Team, Hris\n",
        "operationId": "hris_get_long_leave_employees_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLongLeaveEmployeesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLongLeaveEmployeesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/get-employee-roles": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Get employee roles",
        "description": "- M\u00f4 t\u1ea3: API danh s\u00e1ch nh\u00f3m quy\u1ec1n theo m\u00e3 nh\u00e2n vi\u00ean t\u1eeb h\u1ec7 th\u1ed1ng Hris\n- M\u1ee5c \u0111\u00edch: L\u1ea5y th\u00f4ng tin danh s\u00e1ch nh\u00f3m quy\u1ec1n theo m\u00e3 nh\u00e2n vi\u00ean trong h\u1ec7 th\u1ed1ng Hris, ph\u1ee5c v\u1ee5 audit\n",
        "operationId": "hris_get_employee_roles_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeRolesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeRolesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/create-employee-account": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Create employee account",
        "description": "- M\u00f4 t\u1ea3: API t\u1ea1o t\u00e0i kho\u1ea3n truy c\u1eadp h\u1ec7 th\u1ed1ng Hris\n- M\u1ee5c \u0111\u00edch: Th\u1ef1c hi\u1ec7n y\u00eau c\u1ea7u c\u1ea5p ph\u00e1t m\u1edbi t\u00e0i kho\u1ea3n truy c\u1eadp \u1ee9ng d\u1ee5ng Hris cho nh\u00e2n s\u1ef1\n",
        "operationId": "hris_create_employee_account_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeAccountResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/update-employee-account-status": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Update employee account status",
        "description": "- M\u00f4 t\u1ea3: API c\u1eadp nh\u1eadt tr\u1ea1ng th\u00e1i (enable/disable) t\u00e0i kho\u1ea3n tr\u00ean h\u1ec7 th\u1ed1ng Hris\n- M\u1ee5c \u0111\u00edch: Th\u1ef1c hi\u1ec7n y\u00eau c\u1ea7u \u0111\u00f3ng/m\u1edf quy\u1ec1n truy c\u1eadp \u1ee9ng d\u1ee5ng Hris c\u1ee7a c\u00e1n b\u1ed9\n",
        "operationId": "hris_update_employee_account_status_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeAccountStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEmployeeAccountStatusResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/hris/v1/get-all-employees": {
      "post": {
        "tags": [
          "HRIS"
        ],
        "summary": "Get all employees",
        "description": "- M\u00f4 t\u1ea3: API l\u1ea5y th\u00f4ng tin t\u1ea5t c\u1ea3 user t\u1eeb h\u1ec7 th\u1ed1ng Hris\n- M\u1ee5c \u0111\u00edch: \u0110\u1ed3ng b\u1ed9 c\u00e1c t\u00e0i kho\u1ea3n \u0111\u00e3 t\u1ed3n t\u1ea1i tr\u00ean h\u1ec7 th\u1ed1ng HRIS \u0111\u1ec3 th\u1ef1c hi\u1ec7n y\u00eau c\u1ea7u \u0111\u00f3ng/m\u1edf quy\u1ec1n truy c\u1eadp \u1ee9ng d\u1ee5ng Hris c\u1ee7a c\u00e1c c\u00e1n b\u1ed9 \u0111\u00e3 c\u00f3 t\u00e0i kho\u1ea3n truy c\u1eadp Hris t\u1eeb tr\u01b0\u1edbc\n",
        "operationId": "hris_get_all_employees_v1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllEmployeesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllEmployeesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/get_list_user": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "get list user from smartform system",
        "operationId": "post_Smf_Get_List_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfGetListUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfGetListUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/get_list_user_role": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "get list user role from smartform system",
        "operationId": "post_Smf_Get_List_User_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfGetListUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfGetListUserRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/get_role_list": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "get role list from smartform system",
        "operationId": "post_Smf_Get_Role_List",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfGetRoleListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfGetRoleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/account_update": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "update user account from smartform system",
        "operationId": "post_Smf_Account_Update",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfAccountUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfAccountUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/change_account_status": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "change account status from smartform system",
        "operationId": "post_Smf_Change_Account_Status",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfChangeAccountStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfChangeAccountStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/grant_right": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "change user permissions from smartform system",
        "operationId": "post_Smf_Grant_Right",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfGrantRightRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfGrantRightResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/create_account": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "create user account from smartform system",
        "operationId": "post_Smf_Create_Account",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfCreateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfCreateAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/smf/create_and_grant_account": {
      "post": {
        "tags": [
          "SMF"
        ],
        "description": "create user and grant account from smartform system",
        "operationId": "post_Smf_Create_And_Grant_Account",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmfCreateAndGrantAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmfCreateAndGrantAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v-office/create_user": {
      "post": {
        "tags": [
          "VOFFICE"
        ],
        "description": "Insert a voffice/create_user",
        "operationId": "post_Voffice_Create_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VofficeCreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VofficeCreateUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v-office/update_user_info": {
      "post": {
        "tags": [
          "VOFFICE"
        ],
        "description": "Insert a voffice/update_user_info",
        "operationId": "post_Voffice_Update_User_Info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VofficeUpdateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VofficeUpdateUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v-office/update_status_user": {
      "post": {
        "tags": [
          "VOFFICE"
        ],
        "description": "Insert a voffice/update_status_user",
        "operationId": "post_Voffice_Update_Status_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VofficeUpdateStatusUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VofficeUpdateStatusUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v-office/list_role": {
      "post": {
        "tags": [
          "VOFFICE"
        ],
        "description": "Insert a voffice/list_role",
        "operationId": "post_Voffice_List_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VofficeGetListRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VofficeGetListRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v-office/list_user": {
      "post": {
        "tags": [
          "VOFFICE"
        ],
        "description": "Insert a voffice/list_user",
        "operationId": "post_Voffice_List_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VofficeGetListUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VofficeGetListUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v-office/list_branch": {
      "post": {
        "tags": [
          "VOFFICE"
        ],
        "description": "Insert a voffice/list_branch",
        "operationId": "post_Voffice_List_Branch",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VofficeGetListBranchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VofficeGetListBranchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/teller/update_teller": {
      "post": {
        "tags": [
          "Teller"
        ],
        "description": "API c\u1eadp nh\u1eadt Teller",
        "operationId": "post_Teller_Update_Teller",
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTellerResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTellerRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/teller/list_teller": {
      "post": {
        "tags": [
          "Teller"
        ],
        "description": "API l\u1ea5y th\u00f4ng tin Teller theo user, status",
        "operationId": "post_Teller_List_Teller",
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListTellerResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListTellerRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/user/update_limit_user": {
      "post": {
        "tags": [
          "USER"
        ],
        "description": "API c\u1eadp nh\u1eadt limit cho User",
        "operationId": "post_User_Update_Limit_User",
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLimitUserResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLimitUserRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/user/list_user_by_id": {
      "post": {
        "tags": [
          "USER"
        ],
        "description": "API l\u1ea5y th\u00f4ng tin User theo Id",
        "operationId": "post_User_List_User_By_Id",
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListUserByIdResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetListUserByIdRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/user/update_limit_user_quanly": {
      "post": {
        "tags": [
          "USER"
        ],
        "description": "API c\u1eadp nh\u1eadt User qu\u1ea3n l\u00fd",
        "operationId": "post_User_Update_Limit_User_Quanly",
        "responses": {
          "200": {
            "description": "verify response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLimitUserQuanlyResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLimitUserQuanlyRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/flex-cash/list_role": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "get list role",
        "operationId": "post_Flexcash_List_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashGetListRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashGetListRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/update_role": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "update role",
        "operationId": "post_Flexcash_Update_Role",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashUpdateRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/get_list_user": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "get list user",
        "operationId": "post_Flexcash_Get_List_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashGetListUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashGetListUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/get_user_detail": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "get user detail",
        "operationId": "post_Flexcash_Get_User_Detail",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashGetUserDetailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashGetUserDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/update_user": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "update user",
        "operationId": "post_Flexcash_Update_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashUpdateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashUpdateUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/delete_user": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "delete user",
        "operationId": "post_Flexcash_Delete_User",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashDeleteUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashDeleteUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/upload_user_signature": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "upload user signature",
        "operationId": "post_Flexcash_Upload_User_Signature",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashUploadUserSignatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashUploadUserSignatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/get_list_feature": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "get list feature",
        "operationId": "post_Flexcash_Get_List_Feature",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashGetListFeatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashGetListFeatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/get_role_feature": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "get role feature",
        "operationId": "post_Flexcash_Get_Role_Feature",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashGetRoleFeatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashGetRoleFeatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/flex-cash/update_role_feature": {
      "post": {
        "tags": [
          "FLEXCASH"
        ],
        "description": "update role feature",
        "operationId": "post_Flexcash_Update_Role_Feature",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexcashUpdateRoleFeatureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlexcashUpdateRoleFeatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/customer_info": {
      "post": {
        "tags": [
          "T24"
        ],
        "description": "customer info",
        "operationId": "post_customer_info",
        "requestBody": {
          "description": "The request body for the operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseModel"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "Header": {
        "required": [
          "MessageId"
        ],
        "type": "object",
        "properties": {
          "MessageId": {
            "type": "string",
            "pattern": "^.{1, 50}$",
            "description": "M\u00e3 b\u1ea3n tin",
            "example": "MessageId"
          },
          "FromId": {
            "type": "string",
            "pattern": "^.{0, 50}$",
            "description": "M\u00e3 h\u1ec7 th\u1ed1ng g\u1eedi",
            "example": "FromId"
          },
          "FromName": {
            "type": "string",
            "pattern": "^.{0, 100}$",
            "description": "T\u00ean h\u1ec7 th\u1ed1ng g\u1eedi",
            "example": "FromName"
          },
          "ToId": {
            "type": "string",
            "pattern": "^.{0, 50}$",
            "description": "M\u00e3 h\u1ec7 th\u1ed1ng nh\u1eadn",
            "example": "ToId"
          },
          "ToName": {
            "type": "string",
            "pattern": "^.{0, 100}$",
            "description": "T\u00ean h\u1ec7 th\u1ed1ng nh\u1eadn",
            "example": "ToName"
          },
          "DateTime": {
            "type": "string",
            "pattern": "^.{0, 14}$",
            "description": "Ng\u00e0y gi\u1edd (yyyyMMddHHmmss)",
            "example": "20250924105054"
          },
          "Description": {
            "type": "string",
            "pattern": "^.{0, 255}$",
            "description": "M\u00f4 t\u1ea3 API",
            "example": ""
          },
          "Signature": {
            "type": "string",
            "description": "Ch\u1eef k\u00fd b\u1ea3n tin",
            "example": ""
          }
        }
      },
      "Payload": {
        "required": [
          "RespCode",
          "RespDesc"
        ],
        "type": "object",
        "properties": {
          "RespCode": {
            "type": "string",
            "description": "M\u00e3 l\u1ed7i",
            "example": "00"
          },
          "RespDesc": {
            "type": "string",
            "description": "M\u00f4 t\u1ea3 m\u00e3 l\u1ed7i",
            "example": "Success"
          },
          "Message": {
            "type": "string",
            "description": "Message m\u00e3 l\u1ed7i",
            "example": "Success"
          }
        }
      },
      "MultiObject": {
        "type": "object",
        "properties": {
          "MultiValueNumber": {
            "type": "string"
          },
          "SubValueNumber": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        }
      },
      "DefaultResponseModel": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "$ref": "#/components/schemas/Payload"
          }
        }
      },
      "StaffObject": {
        "required": [
          "Application",
          "ApplicationLog",
          "Attempts",
          "Attributes",
          "Classification",
          "ClearScreen",
          "CompanyCode",
          "CompanyRestr",
          "DepartmentCode",
          "EndDateProfile",
          "EndTime",
          "Function",
          "FunctionIdLog",
          "InitApplication",
          "InputDayMonth",
          "Language",
          "PasswordValidity",
          "SecurityMgmtL",
          "SignOnName",
          "SignOnOffLog",
          "StartDateProfile",
          "StartTime",
          "TimeOutMinutes",
          "UserName"
        ],
        "type": "object",
        "properties": {
          "ID": {
            "type": "string"
          },
          "UserName": {
            "type": "string"
          },
          "SignOnName": {
            "type": "string"
          },
          "Classification": {
            "type": "string"
          },
          "Language": {
            "type": "string"
          },
          "CompanyCode": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "DepartmentCode": {
            "type": "string"
          },
          "PasswordValidity": {
            "type": "string"
          },
          "StartDateProfile": {
            "type": "string"
          },
          "EndDateProfile": {
            "type": "string"
          },
          "StartTime": {
            "type": "string"
          },
          "EndTime": {
            "type": "string"
          },
          "TimeOutMinutes": {
            "type": "string"
          },
          "Attempts": {
            "type": "string"
          },
          "InitApplication": {
            "type": "string"
          },
          "CompanyRestr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "Application": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "Function": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "SignOnOffLog": {
            "type": "string"
          },
          "SecurityMgmtL": {
            "type": "string"
          },
          "ApplicationLog": {
            "type": "string"
          },
          "FunctionIdLog": {
            "type": "string"
          },
          "InputDayMonth": {
            "type": "string"
          },
          "ClearScreen": {
            "type": "string"
          },
          "UserDomain": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "EmployeeCode": {
            "type": "string"
          },
          "TitleCode": {
            "type": "string"
          },
          "DealerDesk": {
            "type": "string"
          },
          "Attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "FieldNo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "DataComparison": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "DataFrom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          },
          "Version": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiObject"
            }
          }
        }
      },
      "RolesObject": {
        "type": "object",
        "properties": {
          "RoleCode": {
            "type": "string"
          },
          "RoleName": {
            "type": "string"
          },
          "DeptCode": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "IsActive": {
            "type": "string"
          }
        }
      },
      "UserObject": {
        "type": "object",
        "properties": {
          "UserName": {
            "type": "string"
          },
          "StaffId": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "PhoneNumber": {
            "type": "string"
          },
          "UserId": {
            "type": "string"
          },
          "Gender": {
            "type": "string"
          },
          "Dob": {
            "type": "string"
          }
        }
      },
      "UserHrmObject": {
        "type": "object",
        "properties": {
          "BranchId": {
            "type": "string"
          },
          "BranchName": {
            "type": "string"
          },
          "DepartmentId": {
            "type": "string"
          },
          "DepartmentName": {
            "type": "string"
          },
          "SubDepartmentId": {
            "type": "string"
          },
          "SubDepartmentName": {
            "type": "string"
          },
          "EmployeeId": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "Position": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "UserLogin": {
            "type": "string"
          },
          "Mobile": {
            "type": "string"
          },
          "CommonName": {
            "type": "string"
          },
          "UserPrincipalName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "UserRequest": {
            "type": "string"
          },
          "UserExecute": {
            "type": "string"
          },
          "RequestDate": {
            "type": "string"
          },
          "ExecuteDate": {
            "type": "string"
          },
          "RequestId": {
            "type": "string"
          }
        }
      },
      "GetAllUserHrmObject": {
        "type": "object",
        "properties": {
          "EmployeeId": {
            "type": "string"
          },
          "UserLogin": {
            "type": "string"
          },
          "AccountStatus": {
            "type": "string"
          },
          "BranchId": {
            "type": "string"
          },
          "DepartmentId": {
            "type": "string"
          }
        }
      },
      "GetListUserSmfObject": {
        "type": "object",
        "properties": {
          "UserName": {
            "type": "string"
          },
          "FullName": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "PhoneNumber": {
            "type": "string"
          },
          "EmployeeId": {
            "type": "string"
          },
          "StatusCode": {
            "type": "string"
          },
          "BranchId": {
            "type": "string"
          },
          "TellerId": {
            "type": "string"
          },
          "T24UserName": {
            "type": "string"
          }
        }
      },
      "GetListUserRoleSmfObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "GuidId": {
            "type": "string"
          },
          "RoleName": {
            "type": "string"
          }
        }
      },
      "GetBranchInfoSmfObject": {
        "type": "object",
        "properties": {
          "IsDefault": {
            "type": "boolean"
          },
          "BranchId": {
            "type": "string"
          },
          "TellerId": {
            "type": "string"
          }
        }
      },
      "CloseStaffOIGInfoObject": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string"
          },
          "UserName": {
            "type": "string"
          },
          "SignOnName": {
            "type": "string"
          }
        }
      },
      "UserLimitObject": {
        "type": "object",
        "required": [
          "UserId",
          "Title",
          "Param1",
          "Param2",
          "Param3",
          "AmountMax",
          "ParaExt1",
          "ParaExt2"
        ],
        "properties": {
          "UserId": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "Param1": {
            "type": "string"
          },
          "Param2": {
            "type": "string"
          },
          "Param3": {
            "type": "string"
          },
          "AmountMax": {
            "type": "string"
          },
          "ParaExt1": {
            "type": "string"
          },
          "ParaExt2": {
            "type": "string"
          }
        }
      },
      "TellersObject": {
        "type": "object",
        "required": [
          "TellerId",
          "UserId",
          "Status",
          "AutoCashDevice",
          "PassBookDevice",
          "Note",
          "TellerOffice",
          "Cocode",
          "TillBalanceTeller"
        ],
        "properties": {
          "TellerId": {
            "type": "string"
          },
          "UserId": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "AutoCashDevice": {
            "type": "string"
          },
          "PassBookDevice": {
            "type": "string"
          },
          "Note": {
            "type": "string"
          },
          "TellerOffice": {
            "type": "string"
          },
          "Cocode": {
            "type": "string"
          },
          "TillBalanceTeller": {
            "type": "string"
          }
        }
      },
      "ListStaffRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "required": [
              "ByDate"
            ],
            "type": "object",
            "properties": {
              "ByDate": {
                "type": "string"
              },
              "IdmUnique": {
                "type": "string"
              }
            }
          }
        }
      },
      "ListStaffResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RespCode": {
                "type": "string"
              },
              "RespDesc": {
                "type": "string"
              },
              "ListStaff": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StaffObject"
                }
              }
            }
          }
        }
      },
      "StaffInfoRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "required": [
              "SignOnName"
            ],
            "type": "object",
            "properties": {
              "SignOnName": {
                "type": "string"
              },
              "ID": {
                "type": "string"
              },
              "IdmUnique": {
                "type": "string"
              }
            }
          }
        }
      },
      "StaffInfoResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RespCode": {
                "type": "string"
              },
              "RespDesc": {
                "type": "string"
              },
              "StaffInfo": {
                "$ref": "#/components/schemas/StaffObject"
              }
            }
          }
        }
      },
      "GetCloseStaffOIGInfoRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "required": [
              "ByDate"
            ],
            "type": "object",
            "properties": {
              "ByDate": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetCloseStaffOIGInfoResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RespCode": {
                "type": "string"
              },
              "RespDesc": {
                "type": "string"
              },
              "ListAccountInfo": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CloseStaffOIGInfoObject"
                }
              }
            }
          }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "required": [
              "ID",
              "Password"
            ],
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "Password": {
                "type": "string"
              }
            }
          }
        }
      },
      "ResetPasswordResponse": {
        "$ref": "#/components/schemas/DefaultResponseModel"
      },
      "UpdateStaffRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "required": [
              "ApplicationLog",
              "Attempts",
              "Attributes",
              "Classification",
              "ClearScreen",
              "CompanyCode",
              "DepartmentCode",
              "EndDateProfile",
              "EndTime",
              "FunctionIdLog",
              "InputDayMonth",
              "Language",
              "PasswordValidity",
              "SecurityMgmtL",
              "SignOnName",
              "SignOnOffLog",
              "StartDateProfile",
              "StartTime",
              "TimeOutMinutes",
              "UserName"
            ],
            "type": "object",
            "properties": {
              "IdmUnique": {
                "type": "string"
              },
              "Email": {
                "type": "string"
              },
              "UserDomain": {
                "type": "string"
              },
              "EmployeeCode": {
                "type": "string"
              },
              "TitleCode": {
                "type": "string"
              },
              "ID": {
                "type": "string"
              },
              "UserName": {
                "type": "string"
              },
              "SignOnName": {
                "type": "string"
              },
              "Language": {
                "type": "string"
              },
              "CompanyCode": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "DepartmentCode": {
                "type": "string"
              },
              "PasswordValidity": {
                "type": "string"
              },
              "StartDateProfile": {
                "type": "string"
              },
              "EndDateProfile": {
                "type": "string"
              },
              "StartTime": {
                "type": "string"
              },
              "EndTime": {
                "type": "string"
              },
              "TimeOutMinutes": {
                "type": "string"
              },
              "Attempts": {
                "type": "string"
              },
              "Classification": {
                "type": "string"
              },
              "SignOnOffLog": {
                "type": "string"
              },
              "SecurityMgmtL": {
                "type": "string"
              },
              "ApplicationLog": {
                "type": "string"
              },
              "FunctionIdLog": {
                "type": "string"
              },
              "InputDayMonth": {
                "type": "string"
              },
              "ClearScreen": {
                "type": "string"
              },
              "Attributes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "CompanyRestr": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "Application": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "Version": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "Function": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "InitApplication": {
                "type": "string"
              },
              "DealerDesk": {
                "type": "string"
              },
              "FieldNo": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "DataComparison": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              },
              "DataFrom": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MultiObject"
                }
              }
            }
          }
        }
      },
      "UpdateStaffResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "required": [
              "RespCode",
              "RespDesc"
            ],
            "type": "object",
            "properties": {
              "RespCode": {
                "type": "string"
              },
              "RespDesc": {
                "type": "string"
              },
              "Message": {
                "type": "string"
              },
              "ID": {
                "type": "string"
              },
              "SignOnName": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetListRoleRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RefNumber": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetListRoleResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "ListRoles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RolesObject"
                }
              },
              "RespCode": {
                "type": "string"
              },
              "RespDesc": {
                "type": "string"
              },
              "Message": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RefNumber": {
                "type": "string"
              },
              "RoleName": {
                "type": "string"
              },
              "RoleCode": {
                "type": "string"
              },
              "IsActive": {
                "type": "string"
              },
              "Description": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdateRoleResponse": {
        "$ref": "#/components/schemas/DefaultResponseModel"
      },
      "GetListUserRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RefNumber": {
                "type": "string"
              },
              "FromDate": {
                "type": "string"
              },
              "ToDate": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetListUserResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "ListUser": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserObject"
                }
              },
              "RespCode": {
                "type": "string"
              },
              "RespDesc": {
                "type": "string"
              },
              "Message": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetUserInfoRequest": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
            "type": "object",
            "properties": {
              "RefNumber": {
                "type": "string"
              },
              "UserId": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetUserInfoResponse": {
        "type": "object",
        "properties": {
          "Header": {
            "$ref": "#/components/schemas/Header"
          },
          "Payload": {
[...]
