{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for the Calendar & Friends Management App",
    "version": "1.0",
    "title": "Calendar & Friends Management API",
    "contact": {
      "email": "your-email@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/kitkstudent/CalendarAPP/1.0"
  },
  "host": "seesagenda.online:5000",
  "basePath": "/api",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logs in to the app",
        "operationId": "doLogin",
        "description": "Authenticates a user with login credentials",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "loginItem",
            "description": "Login credentials",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Registers a new user",
        "operationId": "signUp",
        "description": "Creates a new user account and sends verification email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "signUpItem",
            "description": "User registration details",
            "schema": {
              "$ref": "#/definitions/SignUp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/verify-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verifies user email",
        "operationId": "verifyEmail",
        "description": "Verifies user email with verification code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "verifyItem",
            "description": "Email verification details",
            "schema": {
              "$ref": "#/definitions/VerifyEmail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/resend-verification": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Resends verification code",
        "operationId": "resendVerification",
        "description": "Resends verification code to user email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "resendItem",
            "description": "Email to resend verification code",
            "schema": {
              "$ref": "#/definitions/ResendVerification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/request-password-reset": {
      "post": {
        "tags": [
          "Password Reset"
        ],
        "summary": "Requests password reset",
        "operationId": "requestPasswordReset",
        "description": "Sends password reset code to user email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "resetRequestItem",
            "description": "Email to send reset code",
            "schema": {
              "$ref": "#/definitions/RequestPasswordReset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/verify-password-reset-code": {
      "post": {
        "tags": [
          "Password Reset"
        ],
        "summary": "Verifies password reset code",
        "operationId": "verifyPasswordResetCode",
        "description": "Validates the password reset code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "verifyResetItem",
            "description": "Reset code verification details",
            "schema": {
              "$ref": "#/definitions/VerifyPasswordResetCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/reset-password": {
      "post": {
        "tags": [
          "Password Reset"
        ],
        "summary": "Resets user password",
        "operationId": "resetPassword",
        "description": "Updates user password with new password",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "resetPasswordItem",
            "description": "Password reset details",
            "schema": {
              "$ref": "#/definitions/ResetPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/addevent": {
      "post": {
        "tags": [
          "Calendar Events"
        ],
        "summary": "Adds a calendar event",
        "operationId": "addEvent",
        "description": "Creates a new calendar event",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "eventItem",
            "description": "Event details",
            "schema": {
              "$ref": "#/definitions/AddEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/searchevents": {
      "post": {
        "tags": [
          "Calendar Events"
        ],
        "summary": "Searches calendar events",
        "operationId": "searchEvents",
        "description": "Searches user's calendar events by keyword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "searchItem",
            "description": "Search criteria",
            "schema": {
              "$ref": "#/definitions/SearchEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/friendidsearchevents": {
      "post": {
        "tags": [
          "Calendar Events"
        ],
        "summary": "Searches events by friend ID",
        "operationId": "friendIdSearchEvents",
        "description": "Searches calendar events where a specific friend is invited",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "friendSearchItem",
            "description": "Friend search criteria",
            "schema": {
              "$ref": "#/definitions/FriendIdSearchEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/deleteevent": {
      "post": {
        "tags": [
          "Calendar Events"
        ],
        "summary": "Deletes a calendar event",
        "operationId": "deleteEvent",
        "description": "Removes a calendar event from the database",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "deleteEventItem",
            "description": "Event ID to delete",
            "schema": {
              "$ref": "#/definitions/DeleteEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/editevent": {
      "post": {
        "tags": [
          "Calendar Events"
        ],
        "summary": "Edits a calendar event",
        "operationId": "editEvent",
        "description": "Updates an existing calendar event",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "editEventItem",
            "description": "Event details to update",
            "schema": {
              "$ref": "#/definitions/EditEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/addfriend": {
      "post": {
        "tags": [
          "Friends"
        ],
        "summary": "Adds a friend",
        "operationId": "addFriend",
        "description": "Adds a new friend to user's friend list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "friendItem",
            "description": "Friend details",
            "schema": {
              "$ref": "#/definitions/AddFriend"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/searchfriend": {
      "post": {
        "tags": [
          "Friends"
        ],
        "summary": "Searches friends",
        "operationId": "searchFriend",
        "description": "Searches user's friends by keyword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "searchFriendItem",
            "description": "Search criteria",
            "schema": {
              "$ref": "#/definitions/SearchFriend"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/deletefriend": {
      "post": {
        "tags": [
          "Friends"
        ],
        "summary": "Deletes a friend",
        "operationId": "deleteFriend",
        "description": "Removes a friend from user's friend list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "deleteFriendItem",
            "description": "Friend ID to delete",
            "schema": {
              "$ref": "#/definitions/DeleteFriend"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/editfriend": {
      "post": {
        "tags": [
          "Friends"
        ],
        "summary": "Edits a friend",
        "operationId": "editFriend",
        "description": "Updates an existing friend's details",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "editFriendItem",
            "description": "Friend details to update",
            "schema": {
              "$ref": "#/definitions/EditFriend"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "required": [
        "login",
        "password"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "user@example.com"
        },
        "password": {
          "type": "string",
          "example": "password123"
        }
      }
    },
    "SignUp": {
      "type": "object",
      "required": [
        "Login",
        "Password",
        "FirstName",
        "LastName",
        "friend_id"
      ],
      "properties": {
        "Login": {
          "type": "string",
          "example": "user@example.com"
        },
        "Password": {
          "type": "string",
          "example": "password123"
        },
        "FirstName": {
          "type": "string",
          "example": "John"
        },
        "LastName": {
          "type": "string",
          "example": "Doe"
        },
        "friend_id": {
          "type": "string",
          "example": "john_doe_123"
        }
      }
    },
    "VerifyEmail": {
      "type": "object",
      "required": [
        "login",
        "code"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "user@example.com"
        },
        "code": {
          "type": "string",
          "example": "123456"
        }
      }
    },
    "ResendVerification": {
      "type": "object",
      "required": [
        "login"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "user@example.com"
        }
      }
    },
    "RequestPasswordReset": {
      "type": "object",
      "required": [
        "login"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "user@example.com"
        }
      }
    },
    "VerifyPasswordResetCode": {
      "type": "object",
      "required": [
        "login",
        "code"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "user@example.com"
        },
        "code": {
          "type": "string",
          "example": "123456"
        }
      }
    },
    "ResetPassword": {
      "type": "object",
      "required": [
        "login",
        "code",
        "newPassword"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "user@example.com"
        },
        "code": {
          "type": "string",
          "example": "123456"
        },
        "newPassword": {
          "type": "string",
          "example": "newpassword123"
        }
      }
    },
    "AddEvent": {
      "type": "object",
      "required": [
        "date",
        "type",
        "friends",
        "name",
        "notes",
        "userId",
        "time",
        "jwtToken"
      ],
      "properties": {
        "date": {
          "type": "string",
          "example": "2025-11-10"
        },
        "type": {
          "type": "string",
          "example": "Meeting"
        },
        "friends": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "friend_id": {
                "type": "string"
              }
            }
          },
          "example": [
            {
              "friend_id": "john_doe_123"
            }
          ]
        },
        "name": {
          "type": "string",
          "example": "Team Meeting"
        },
        "notes": {
          "type": "string",
          "example": "Discuss project progress"
        },
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "time": {
          "type": "string",
          "example": "14:00"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "SearchEvents": {
      "type": "object",
      "required": [
        "userId",
        "search",
        "jwtToken"
      ],
      "properties": {
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "search": {
          "type": "string",
          "example": "meeting"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "FriendIdSearchEvents": {
      "type": "object",
      "required": [
        "friend_id",
        "search",
        "jwtToken"
      ],
      "properties": {
        "friend_id": {
          "type": "string",
          "example": "john_doe_123"
        },
        "search": {
          "type": "string",
          "example": "meeting"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "DeleteEvent": {
      "type": "object",
      "required": [
        "userId",
        "_id",
        "jwtToken"
      ],
      "properties": {
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "_id": {
          "type": "string",
          "example": "507f1f77bcf86cd799439012"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "EditEvent": {
      "type": "object",
      "required": [
        "_id",
        "date",
        "type",
        "friends",
        "name",
        "notes",
        "userId",
        "time",
        "jwtToken"
      ],
      "properties": {
        "_id": {
          "type": "string",
          "example": "507f1f77bcf86cd799439012"
        },
        "date": {
          "type": "string",
          "example": "2025-11-10"
        },
        "type": {
          "type": "string",
          "example": "Meeting"
        },
        "friends": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "friend_id": {
                "type": "string"
              }
            }
          },
          "example": [
            {
              "friend_id": "john_doe_123"
            }
          ]
        },
        "name": {
          "type": "string",
          "example": "Team Meeting Updated"
        },
        "notes": {
          "type": "string",
          "example": "Updated notes"
        },
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "time": {
          "type": "string",
          "example": "15:00"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "AddFriend": {
      "type": "object",
      "required": [
        "friend_id",
        "nickname",
        "userId",
        "jwtToken"
      ],
      "properties": {
        "friend_id": {
          "type": "string",
          "example": "jane_smith_456"
        },
        "nickname": {
          "type": "string",
          "example": "Janey"
        },
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "SearchFriend": {
      "type": "object",
      "required": [
        "userId",
        "search",
        "jwtToken"
      ],
      "properties": {
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "search": {
          "type": "string",
          "example": "jane"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "DeleteFriend": {
      "type": "object",
      "required": [
        "userId",
        "_id",
        "jwtToken"
      ],
      "properties": {
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "_id": {
          "type": "string",
          "example": "507f1f77bcf86cd799439013"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    },
    "EditFriend": {
      "type": "object",
      "required": [
        "_id",
        "friend_id",
        "nickname",
        "userId",
        "jwtToken"
      ],
      "properties": {
        "_id": {
          "type": "string",
          "example": "507f1f77bcf86cd799439013"
        },
        "friend_id": {
          "type": "string",
          "example": "jane_smith_456"
        },
        "nickname": {
          "type": "string",
          "example": "Jane"
        },
        "userId": {
          "type": "string",
          "example": "507f1f77bcf86cd799439011"
        },
        "jwtToken": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        }
      }
    }
  }
}