{
  "openapi": "3.0.0",
  "info": {
    "title": "Petzania Booking API",
    "description": "API for managing pet services, bookings, and POS items.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/projecx/petzania-booking-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://petzania.revenyu.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Development server"
    }
  ],
  "paths": {
    "/appointment/services": {
      "get": {
        "summary": "List Pet Services",
        "description": "Fetches a paginated list of available pet services.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of pet services.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appointment/make-appointment": {
      "post": {
        "summary": "Make a Booking",
        "description": "Creates a new booking request (CRM Lead).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "check_in_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "check_out_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "message": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "service": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appointment/available-slots": {
      "get": {
        "summary": "Get Available Slots",
        "description": "Fetches available time slots for a specific date.",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "The date to check for available slots (YYYY-MM-DD). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available slots.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pos/items": {
      "get": {
        "summary": "Get POS Items",
        "description": "Fetches available items for Point of Sale.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search term (Item Code, Item Name, etc.).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter by item group.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of POS items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "type": "object"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}