{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudinary API",
    "version": "1.0.0",
    "description": "Cloudinary media management API for uploading, transforming, optimizing, and delivering images and videos. Includes Upload API, Admin API, and Search API.",
    "x-jentic-source-url": "https://cloudinary.com/documentation/image_upload_api_reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.cloudinary.com/v1_1/{cloud_name}",
      "variables": {
        "cloud_name": {
          "default": "demo"
        }
      }
    }
  ],
  "paths": {
    "/image/upload": {
      "post": {
        "operationId": "uploadImage",
        "summary": "Upload an image",
        "description": "Upload an image to Cloudinary. Supports URL, file, base64, or multipart upload.",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "File to upload (URL, path, or base64)"
                  },
                  "upload_preset": {
                    "type": "string"
                  },
                  "public_id": {
                    "type": "string"
                  },
                  "folder": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "transformation": {
                    "type": "string"
                  },
                  "eager": {
                    "type": "string"
                  },
                  "notification_url": {
                    "type": "string"
                  },
                  "overwrite": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/video/upload": {
      "post": {
        "operationId": "uploadVideo",
        "summary": "Upload a video",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "upload_preset": {
                    "type": "string"
                  },
                  "public_id": {
                    "type": "string"
                  },
                  "resource_type": {
                    "type": "string",
                    "default": "video"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload a video"
      }
    },
    "/raw/upload": {
      "post": {
        "operationId": "uploadRawFile",
        "summary": "Upload a raw file",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "upload_preset": {
                    "type": "string"
                  },
                  "public_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload a raw file"
      }
    },
    "/image/destroy": {
      "post": {
        "operationId": "deleteImage",
        "summary": "Delete an image",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_id": {
                    "type": "string"
                  },
                  "invalidate": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "public_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete an image"
      }
    },
    "/image/rename": {
      "post": {
        "operationId": "renameImage",
        "summary": "Rename an image",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_public_id": {
                    "type": "string"
                  },
                  "to_public_id": {
                    "type": "string"
                  },
                  "overwrite": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "from_public_id",
                  "to_public_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rename successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Rename an image"
      }
    },
    "/image/explicit": {
      "post": {
        "operationId": "explicitImage",
        "summary": "Apply operations to existing image",
        "description": "Apply eager transformations, set access control, or update metadata on an existing uploaded image.",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "eager": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  }
                },
                "required": [
                  "public_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/image/tags": {
      "post": {
        "operationId": "manageTags",
        "summary": "Add, remove, or replace tags",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string"
                  },
                  "public_ids": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string",
                    "enum": [
                      "add",
                      "remove",
                      "replace",
                      "set_exclusive"
                    ]
                  }
                },
                "required": [
                  "tag",
                  "public_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add, remove, or replace tags"
      }
    },
    "/resources/image": {
      "get": {
        "operationId": "listImageResources",
        "summary": "List image resources",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 500
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List image resources"
      }
    },
    "/resources/image/{public_id}": {
      "get": {
        "operationId": "getImageResource",
        "summary": "Get image resource details",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get image resource details"
      }
    },
    "/resources/search": {
      "post": {
        "operationId": "searchResources",
        "summary": "Search resources with expression",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expression": {
                    "type": "string"
                  },
                  "max_results": {
                    "type": "integer"
                  },
                  "next_cursor": {
                    "type": "string"
                  },
                  "sort_by": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "with_field": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search resources with expression"
      }
    },
    "/folders": {
      "get": {
        "operationId": "listRootFolders",
        "summary": "List root folders",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Folders list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List root folders"
      }
    },
    "/upload_presets": {
      "get": {
        "operationId": "listUploadPresets",
        "summary": "List upload presets",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Presets list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List upload presets"
      }
    },
    "/transformations": {
      "get": {
        "operationId": "listTransformations",
        "summary": "List transformations",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transformations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List transformations"
      }
    },
    "/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get account usage statistics",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Usage stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get account usage statistics"
      }
    }
  },
  "components": {
    "schemas": {
      "UploadResponse": {
        "type": "object",
        "properties": {
          "public_id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "signature": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "format": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "bytes": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "secure_url": {
            "type": "string"
          },
          "original_filename": {
            "type": "string"
          }
        }
      },
      "ResourceListResponse": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadResponse"
            }
          },
          "next_cursor": {
            "type": "string"
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "ResourceDetail": {
        "type": "object",
        "properties": {
          "public_id": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "resource_type": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "secure_url": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "derived": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Cloudinary API Key and API Secret"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Admin"
    },
    {
      "name": "Search"
    },
    {
      "name": "Upload"
    }
  ]
}
