{
  "openapi": "3.0.3",
  "info": {
    "title": "Webpushr API",
    "version": "1.0.0",
    "description": "Webpushr is a web push notification service. The REST API allows you to send push notifications to subscribers, manage segments, check notification status, and retrieve subscriber information.",
    "x-jentic-source-url": "https://www.webpushr.com/docs/introduction-to-rest-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.webpushr.com/v1"
    }
  ],
  "paths": {
    "/notification/send/all": {
      "post": {
        "operationId": "sendToAll",
        "summary": "Send push notification to all subscribers",
        "description": "Send a web push notification to all active subscribers",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notification/send/sid": {
      "post": {
        "operationId": "sendToSubscriber",
        "summary": "Send push notification to a specific subscriber",
        "description": "Send a web push notification to a specific subscriber by their subscriber ID",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NotificationRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "sid": {
                        "type": "string",
                        "description": "Subscriber ID"
                      }
                    },
                    "required": [
                      "sid"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notification/send/segment": {
      "post": {
        "operationId": "sendToSegment",
        "summary": "Send push notification to a segment",
        "description": "Send a web push notification to all subscribers in a specific segment",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NotificationRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "segment": {
                        "type": "string",
                        "description": "Segment ID"
                      }
                    },
                    "required": [
                      "segment"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notification/send/attribute": {
      "post": {
        "operationId": "sendToAttribute",
        "summary": "Send push notification by custom attribute",
        "description": "Send a web push notification to subscribers matching a custom attribute filter",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NotificationRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "attribute_name": {
                        "type": "string",
                        "description": "Custom attribute name"
                      },
                      "attribute_value": {
                        "type": "string",
                        "description": "Custom attribute value"
                      }
                    },
                    "required": [
                      "attribute_name",
                      "attribute_value"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notification/status/{id}": {
      "post": {
        "operationId": "getNotificationStatus",
        "summary": "Check push notification status",
        "description": "Get the delivery status of a previously sent push notification",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Notification ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriber/count": {
      "post": {
        "operationId": "getSubscriberCount",
        "summary": "Get subscriber count",
        "description": "Retrieve the total number of subscribers",
        "tags": [
          "Subscribers"
        ],
        "responses": {
          "200": {
            "description": "Subscriber count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberCountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriber/info": {
      "post": {
        "operationId": "getSubscriberInfo",
        "summary": "Get subscriber information",
        "description": "Retrieve information about a specific subscriber",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sid": {
                    "type": "string",
                    "description": "Subscriber ID"
                  }
                },
                "required": [
                  "sid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriber/attribute": {
      "post": {
        "operationId": "setSubscriberAttribute",
        "summary": "Set subscriber attribute",
        "description": "Set a custom attribute on a subscriber for targeting",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sid": {
                    "type": "string",
                    "description": "Subscriber ID"
                  },
                  "attribute_name": {
                    "type": "string",
                    "description": "Attribute name"
                  },
                  "attribute_value": {
                    "type": "string",
                    "description": "Attribute value"
                  }
                },
                "required": [
                  "sid",
                  "attribute_name",
                  "attribute_value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attribute set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segment/list": {
      "post": {
        "operationId": "listSegments",
        "summary": "List segments",
        "description": "Get a list of all configured segments",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "List of segments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Segment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segment/create": {
      "post": {
        "operationId": "createSegment",
        "summary": "Create a segment",
        "description": "Create a new subscriber segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Segment name"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriber/segment/add": {
      "post": {
        "operationId": "addSubscriberToSegment",
        "summary": "Add subscriber to segment",
        "description": "Add a subscriber to a specific segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sid": {
                    "type": "string",
                    "description": "Subscriber ID"
                  },
                  "segment": {
                    "type": "string",
                    "description": "Segment ID"
                  }
                },
                "required": [
                  "sid",
                  "segment"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber added to segment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriber/segment/remove": {
      "post": {
        "operationId": "removeSubscriberFromSegment",
        "summary": "Remove subscriber from segment",
        "description": "Remove a subscriber from a specific segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sid": {
                    "type": "string",
                    "description": "Subscriber ID"
                  },
                  "segment": {
                    "type": "string",
                    "description": "Segment ID"
                  }
                },
                "required": [
                  "sid",
                  "segment"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber removed from segment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NotificationRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Notification title"
          },
          "message": {
            "type": "string",
            "description": "Notification message body"
          },
          "target_url": {
            "type": "string",
            "description": "URL to open when notification is clicked"
          },
          "icon": {
            "type": "string",
            "description": "URL to notification icon image"
          },
          "image": {
            "type": "string",
            "description": "URL to notification large image"
          },
          "auto_hide": {
            "type": "integer",
            "description": "Auto hide after seconds (0 for persistent)",
            "default": 0
          },
          "expire_push": {
            "type": "string",
            "description": "Expiry time for the notification",
            "format": "date-time"
          },
          "send_at": {
            "type": "string",
            "description": "Schedule notification for a future time",
            "format": "date-time"
          },
          "action_buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionButton"
            },
            "description": "Custom action buttons"
          }
        },
        "required": [
          "title",
          "message",
          "target_url"
        ]
      },
      "ActionButton": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "NotificationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the request"
          },
          "description": {
            "type": "string",
            "description": "Description of the result"
          },
          "id": {
            "type": "string",
            "description": "Notification ID for tracking"
          }
        }
      },
      "NotificationStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "total_audience": {
            "type": "integer",
            "description": "Total subscribers targeted"
          },
          "total_sent": {
            "type": "integer",
            "description": "Total notifications sent"
          },
          "total_delivered": {
            "type": "integer",
            "description": "Total notifications delivered"
          },
          "total_clicked": {
            "type": "integer",
            "description": "Total clicks"
          }
        }
      },
      "SubscriberCountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "description": "Total subscriber count"
          }
        }
      },
      "SubscriberInfo": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "string",
            "description": "Subscriber ID"
          },
          "endpoint": {
            "type": "string",
            "description": "Push endpoint URL"
          },
          "browser": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Segment ID"
          },
          "name": {
            "type": "string",
            "description": "Segment name"
          },
          "count": {
            "type": "integer",
            "description": "Number of subscribers in segment"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "failure"
            ]
          },
          "description": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "webpushrKey",
        "description": "REST API key found in your Webpushr dashboard"
      },
      "apiTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "webpushrAuthToken",
        "description": "Authentication token found in your Webpushr dashboard"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": [],
      "apiTokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Notifications"
    },
    {
      "name": "Segments"
    },
    {
      "name": "Subscribers"
    }
  ]
}
