{
  "openapi": "3.0.3",
  "info": {
    "title": "USGS Earthquake API",
    "version": "1.0.0",
    "description": "USGS FDSN Event Web Service for querying earthquake data. Provides access to earthquake events, including magnitude, location, depth, and time. Supports the FDSN standard.",
    "x-jentic-source-url": "https://earthquake.usgs.gov/fdsnws/event/1/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://earthquake.usgs.gov/fdsnws/event/1"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "operationId": "queryEarthquakes",
        "summary": "Query earthquake events",
        "description": "Search for earthquake events matching specified criteria. Returns GeoJSON, CSV, KML, QuakeML, or text format.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "csv",
                "kml",
                "quakeml",
                "text",
                "xml"
              ],
              "default": "geojson"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "Start time for query (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "description": "End time for query (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "minlatitude",
            "in": "query",
            "description": "Minimum latitude (-90 to 90)",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "maxlatitude",
            "in": "query",
            "description": "Maximum latitude (-90 to 90)",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "minlongitude",
            "in": "query",
            "description": "Minimum longitude (-360 to 360)",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -360,
              "maximum": 360
            }
          },
          {
            "name": "maxlongitude",
            "in": "query",
            "description": "Maximum longitude (-360 to 360)",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": -360,
              "maximum": 360
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Center latitude for radial search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Center longitude for radial search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxradius",
            "in": "query",
            "description": "Maximum radius in degrees for radial search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxradiuskm",
            "in": "query",
            "description": "Maximum radius in km for radial search",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minmagnitude",
            "in": "query",
            "description": "Minimum magnitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxmagnitude",
            "in": "query",
            "description": "Maximum magnitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "mindepth",
            "in": "query",
            "description": "Minimum depth in km",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxdepth",
            "in": "query",
            "description": "Maximum depth in km",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "time",
                "time-asc",
                "magnitude",
                "magnitude-asc"
              ],
              "default": "time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of events (max 20000)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20000,
              "maximum": 20000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination (1-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "alertlevel",
            "in": "query",
            "description": "PAGER alert level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "green",
                "yellow",
                "orange",
                "red"
              ]
            }
          },
          {
            "name": "eventtype",
            "in": "query",
            "description": "Event type (e.g., earthquake, quarry blast)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog",
            "in": "query",
            "description": "Catalog to search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contributor",
            "in": "query",
            "description": "Contributing network",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoJsonResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content - no events found matching the query"
          }
        }
      }
    },
    "/count": {
      "get": {
        "operationId": "countEarthquakes",
        "summary": "Count earthquake events",
        "description": "Returns the count of events matching the specified criteria. Accepts the same parameters as the query endpoint.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "starttime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endtime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "minmagnitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxmagnitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "text"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/catalogs": {
      "get": {
        "operationId": "listCatalogs",
        "summary": "List available catalogs",
        "description": "Returns a list of available earthquake catalogs.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "List of catalogs",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/contributors": {
      "get": {
        "operationId": "listContributors",
        "summary": "List contributing networks",
        "description": "Returns a list of contributing seismic networks.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "List of contributors",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get service version",
        "description": "Returns the service version.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Version string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/application.wadl": {
      "get": {
        "operationId": "getWadl",
        "summary": "Get WADL service description",
        "description": "Returns the Web Application Description Language (WADL) document for the service.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "WADL document",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeoJsonResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ]
          },
          "metadata": {
            "$ref": "#/components/schemas/QueryMetadata"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EarthquakeFeature"
            }
          },
          "bbox": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Bounding box [minLon, minLat, minDepth, maxLon, maxLat, maxDepth]"
          }
        }
      },
      "QueryMetadata": {
        "type": "object",
        "properties": {
          "generated": {
            "type": "integer",
            "description": "Timestamp of when query was generated (ms)"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "api": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "EarthquakeFeature": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/EarthquakeProperties"
          },
          "geometry": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Point"
                ]
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "[longitude, latitude, depth]"
              }
            }
          },
          "id": {
            "type": "string"
          }
        }
      },
      "EarthquakeProperties": {
        "type": "object",
        "properties": {
          "mag": {
            "type": "number",
            "description": "Magnitude"
          },
          "place": {
            "type": "string",
            "description": "Text description of location"
          },
          "time": {
            "type": "integer",
            "description": "Time of event (ms since epoch)"
          },
          "updated": {
            "type": "integer",
            "description": "Time event was last updated"
          },
          "tz": {
            "type": "integer",
            "description": "Timezone offset in minutes"
          },
          "url": {
            "type": "string",
            "description": "Link to event page"
          },
          "detail": {
            "type": "string",
            "description": "Link to GeoJSON detail"
          },
          "felt": {
            "type": "integer",
            "description": "Number of felt reports"
          },
          "cdi": {
            "type": "number",
            "description": "Community decimal intensity"
          },
          "mmi": {
            "type": "number",
            "description": "ShakeMap maximum instrumental intensity"
          },
          "alert": {
            "type": "string",
            "description": "PAGER alert level"
          },
          "status": {
            "type": "string",
            "description": "Review status"
          },
          "tsunami": {
            "type": "integer",
            "description": "1 for large events in oceanic regions"
          },
          "sig": {
            "type": "integer",
            "description": "Significance (0-1000)"
          },
          "net": {
            "type": "string",
            "description": "Network ID"
          },
          "code": {
            "type": "string",
            "description": "Event code"
          },
          "ids": {
            "type": "string",
            "description": "Comma-separated list of event IDs"
          },
          "sources": {
            "type": "string"
          },
          "types": {
            "type": "string"
          },
          "nst": {
            "type": "integer",
            "description": "Number of stations used"
          },
          "dmin": {
            "type": "number",
            "description": "Minimum distance to nearest station (degrees)"
          },
          "rms": {
            "type": "number",
            "description": "RMS travel time residual"
          },
          "gap": {
            "type": "number",
            "description": "Largest azimuthal gap (degrees)"
          },
          "magType": {
            "type": "string",
            "description": "Magnitude type (e.g., ml, mb, ms)"
          },
          "type": {
            "type": "string",
            "description": "Event type (e.g., earthquake)"
          },
          "title": {
            "type": "string",
            "description": "Event title"
          }
        }
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of matching events"
          },
          "maxAllowed": {
            "type": "integer",
            "description": "Maximum allowed count"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Events"
    },
    {
      "name": "Metadata"
    }
  ]
}
