{
  "openapi": "3.0.3",
  "info": {
    "title": "Taiga Project Management API",
    "description": "The Taiga REST API provides comprehensive project management capabilities including projects, user stories, issues, tasks, epics, wiki pages, and team collaboration features. The API supports both standard token authentication and application token authentication for external integrations.",
    "version": "1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.taiga.io/api/v1",
      "description": "Taiga.io public instance"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Local development instance"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "User Login",
        "description": "Authenticate user and obtain bearer token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials"
          }
        },
        "operationId": "post-auth"
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Refresh Authentication Token",
        "description": "Refresh an expired authentication token",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token"
          }
        },
        "operationId": "post-auth-refresh"
      }
    },
    "/auth/register": {
      "post": {
        "summary": "User Registration",
        "description": "Register a new user account",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid registration data"
          }
        },
        "operationId": "post-auth-register"
      }
    },
    "/projects": {
      "get": {
        "summary": "List Projects",
        "description": "Retrieve a list of projects accessible to the authenticated user",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            },
            "headers": {
              "x-pagination-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "x-pagination-current": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              }
            }
          }
        },
        "operationId": "get-projects"
      },
      "post": {
        "summary": "Create Project",
        "description": "Create a new project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "operationId": "post-projects"
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get Project",
        "description": "Retrieve a specific project by ID",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        },
        "operationId": "get-projects-by-id"
      },
      "patch": {
        "summary": "Update Project",
        "description": "Partially update a project. Include version parameter for optimistic concurrency control.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Version mismatch"
          }
        },
        "operationId": "patch-projects-by-id"
      },
      "delete": {
        "summary": "Delete Project",
        "description": "Delete a project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          },
          "404": {
            "description": "Project not found"
          }
        },
        "operationId": "delete-projects-by-id"
      }
    },
    "/userstories": {
      "get": {
        "summary": "List User Stories",
        "description": "Retrieve a list of user stories",
        "tags": [
          "User Stories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserStory"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-userstories"
      },
      "post": {
        "summary": "Create User Story",
        "description": "Create a new user story",
        "tags": [
          "User Stories"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStoryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User story created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserStory"
                }
              }
            }
          }
        },
        "operationId": "post-userstories"
      }
    },
    "/issues": {
      "get": {
        "summary": "List Issues",
        "description": "Retrieve a list of issues",
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Issue"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-issues"
      },
      "post": {
        "summary": "Create Issue",
        "description": "Create a new issue",
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issue created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issue"
                }
              }
            }
          }
        },
        "operationId": "post-issues"
      }
    },
    "/tasks": {
      "get": {
        "summary": "List Tasks",
        "description": "Retrieve a list of tasks",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-tasks"
      },
      "post": {
        "summary": "Create Task",
        "description": "Create a new task",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "post-tasks"
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "description": "Retrieve a list of webhooks",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-webhooks"
      },
      "post": {
        "summary": "Create Webhook",
        "description": "Create a new webhook for event notifications",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "operationId": "post-webhooks"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Standard bearer token authentication. Token expires and must be refreshed via /auth/refresh endpoint."
      },
      "ApplicationAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Application token authentication using format: Application ${AUTH_TOKEN}"
      }
    },
    "parameters": {
      "IdParameter": {
        "name": "id",
        "in": "path",
        "description": "Resource ID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "PageParameter": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1
        }
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "type": {
            "type": "string",
            "default": "normal"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "username",
          "email",
          "password",
          "full_name"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "full_name": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "auth_token": {
            "type": "string",
            "description": "Bearer token for authentication"
          },
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number for optimistic concurrency control"
          },
          "created_date": {
            "type": "string",
            "format": "date-time"
          },
          "modified_date": {
            "type": "string",
            "format": "date-time"
          },
          "owner": {
            "type": "integer"
          },
          "is_private": {
            "type": "boolean"
          }
        }
      },
      "ProjectCreate": {
        "type": "object",
        "required": [
          "name",
          "description"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_private": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ProjectUpdate": {
        "type": "object",
        "required": [
          "version"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "description": "Current version for optimistic concurrency control"
          }
        }
      },
      "UserStory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "project": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "UserStoryCreate": {
        "type": "object",
        "required": [
          "project",
          "subject"
        ],
        "properties": {
          "project": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Issue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "project": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "severity": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "IssueCreate": {
        "type": "object",
        "required": [
          "project",
          "subject"
        ],
        "properties": {
          "project": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "severity": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "project": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "user_story": {
            "type": "integer",
            "nullable": true
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "required": [
          "project",
          "subject"
        ],
        "properties": {
          "project": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "user_story": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "key": {
            "type": "string"
          },
          "project": {
            "type": "integer"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": [
          "name",
          "url",
          "project"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "project": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Issues"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "User Stories"
    },
    {
      "name": "Webhooks"
    }
  ]
}
