{
  "openapi": "3.0.3",
  "info": {
    "title": "UK Companies House Public Data API",
    "description": "The Companies House API provides read-only access to search and retrieve public company data for companies registered in the United Kingdom. It includes company profiles, officer details, filing history, charges, insolvency data, persons with significant control, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "Companies House",
      "url": "https://developer.company-information.service.gov.uk/"
    },
    "x-jentic-source-url": "https://developer.company-information.service.gov.uk/"
  },
  "servers": [
    {
      "url": "https://api.company-information.service.gov.uk",
      "description": "Companies House API production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "search",
      "description": "Search across companies, officers, and disqualified officers"
    },
    {
      "name": "company",
      "description": "Company profile and registered office"
    },
    {
      "name": "officers",
      "description": "Company officers and appointments"
    },
    {
      "name": "filing-history",
      "description": "Company filing history"
    },
    {
      "name": "charges",
      "description": "Company charges and security interests"
    },
    {
      "name": "insolvency",
      "description": "Company insolvency information"
    },
    {
      "name": "registers",
      "description": "Company registers"
    },
    {
      "name": "exemptions",
      "description": "Company exemptions"
    },
    {
      "name": "disqualifications",
      "description": "Disqualified officers"
    },
    {
      "name": "appointments",
      "description": "Officer appointments"
    },
    {
      "name": "uk-establishments",
      "description": "UK establishments of overseas companies"
    },
    {
      "name": "psc",
      "description": "Persons with significant control"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Search all",
        "description": "Search across all indexed resources including companies, officers, and disqualified officers.",
        "operationId": "searchAll",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Index of the first result to return.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/search/companies": {
      "get": {
        "summary": "Search companies",
        "description": "Search for companies by name or company number.",
        "operationId": "searchCompanies",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Index of the first result to return.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful company search response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/search/officers": {
      "get": {
        "summary": "Search officers",
        "description": "Search for company officers by name.",
        "operationId": "searchOfficers",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Index of the first result to return.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful officer search response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/search/disqualified-officers": {
      "get": {
        "summary": "Search disqualified officers",
        "description": "Search for disqualified officers by name.",
        "operationId": "searchDisqualifiedOfficers",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Index of the first result to return.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/alphabetical-search/companies": {
      "get": {
        "summary": "Alphabetical company search",
        "description": "Search for a company alphabetically.",
        "operationId": "alphabeticalSearchCompanies",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Company name to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_above",
            "in": "query",
            "description": "Company name to search above in alphabetical order.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_below",
            "in": "query",
            "description": "Company name to search below in alphabetical order.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results to return.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/dissolved-search/companies": {
      "get": {
        "summary": "Search dissolved companies",
        "description": "Search for dissolved companies.",
        "operationId": "searchDissolvedCompanies",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Company name to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "description": "Type of search.",
            "schema": {
              "type": "string",
              "enum": [
                "alphabetical",
                "best-match",
                "previous-name-dissolved"
              ]
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Start index for results.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/advanced-search/companies": {
      "get": {
        "summary": "Advanced company search",
        "description": "Advanced search for companies with multiple filter criteria.",
        "operationId": "advancedSearchCompanies",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "company_name_includes",
            "in": "query",
            "description": "Company name must include these terms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_name_excludes",
            "in": "query",
            "description": "Company name must not include these terms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Registered office address location.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "incorporated_from",
            "in": "query",
            "description": "Incorporation date from (yyyy-MM-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "incorporated_to",
            "in": "query",
            "description": "Incorporation date to (yyyy-MM-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "company_status",
            "in": "query",
            "description": "Company status filter.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "dissolved",
                "open",
                "closed",
                "converted-closed",
                "receivership",
                "liquidation",
                "administration",
                "insolvency-proceedings",
                "voluntary-arrangement"
              ]
            }
          },
          {
            "name": "company_type",
            "in": "query",
            "description": "Company type filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_subtype",
            "in": "query",
            "description": "Company subtype filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sic_codes",
            "in": "query",
            "description": "SIC code filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dissolved_from",
            "in": "query",
            "description": "Dissolved date from (yyyy-MM-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dissolved_to",
            "in": "query",
            "description": "Dissolved date to (yyyy-MM-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results to return.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Index of the first result to return.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/company/{companyNumber}": {
      "get": {
        "summary": "Get company profile",
        "description": "Retrieve the full profile for a company by its company number.",
        "operationId": "getCompanyProfile",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyNumber"
          },
          {
            "name": "companyNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with company profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{companyNumber}/registered-office-address": {
      "get": {
        "summary": "Get registered office address",
        "description": "Retrieve the registered office address for a company.",
        "operationId": "getRegisteredOfficeAddress",
        "tags": [
          "company"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyNumber"
          },
          {
            "name": "companyNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredOfficeAddress"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/officers": {
      "get": {
        "summary": "List company officers",
        "description": "Retrieve a list of officers for a company.",
        "operationId": "listCompanyOfficers",
        "tags": [
          "officers"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Index of the first result to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort results by.",
            "schema": {
              "type": "string",
              "enum": [
                "appointed_on",
                "resigned_on",
                "surname"
              ]
            }
          },
          {
            "name": "register_type",
            "in": "query",
            "description": "Register type to filter by.",
            "schema": {
              "type": "string",
              "enum": [
                "directors",
                "secretaries",
                "llp-members"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/appointments/{appointment_id}": {
      "get": {
        "summary": "Get officer appointment",
        "description": "Retrieve details of a specific officer appointment.",
        "operationId": "getOfficerAppointment",
        "tags": [
          "officers"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/filing-history": {
      "get": {
        "summary": "List filing history",
        "description": "Retrieve the filing history for a company.",
        "operationId": "listFilingHistory",
        "tags": [
          "filing-history"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filing category filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingHistoryList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/filing-history/{transaction_id}": {
      "get": {
        "summary": "Get filing history item",
        "description": "Retrieve a specific filing history transaction.",
        "operationId": "getFilingHistoryItem",
        "tags": [
          "filing-history"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingHistoryItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/charges": {
      "get": {
        "summary": "List company charges",
        "description": "Retrieve a list of charges (mortgages/security interests) for a company.",
        "operationId": "listCharges",
        "tags": [
          "charges"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/charges/{charge_id}": {
      "get": {
        "summary": "Get charge details",
        "description": "Retrieve details of a specific charge.",
        "operationId": "getCharge",
        "tags": [
          "charges"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/insolvency": {
      "get": {
        "summary": "Get insolvency information",
        "description": "Retrieve insolvency information for a company.",
        "operationId": "getInsolvency",
        "tags": [
          "insolvency"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsolvencyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/registers": {
      "get": {
        "summary": "Get company registers",
        "description": "Retrieve register information for a company.",
        "operationId": "getRegisters",
        "tags": [
          "registers"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/exemptions": {
      "get": {
        "summary": "Get company exemptions",
        "description": "Retrieve exemption information for a company.",
        "operationId": "getExemptions",
        "tags": [
          "exemptions"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/uk-establishments": {
      "get": {
        "summary": "List UK establishments",
        "description": "Retrieve UK establishments for an overseas company.",
        "operationId": "listUkEstablishments",
        "tags": [
          "uk-establishments"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control": {
      "get": {
        "summary": "List persons with significant control",
        "description": "Retrieve persons with significant control (PSC) for a company.",
        "operationId": "listPSC",
        "tags": [
          "psc"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "register_view",
            "in": "query",
            "description": "Display register view.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PSCList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/individual/{psc_id}": {
      "get": {
        "summary": "Get individual PSC",
        "description": "Retrieve details of an individual person with significant control.",
        "operationId": "getIndividualPSC",
        "tags": [
          "psc"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "psc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/corporate-entity/{psc_id}": {
      "get": {
        "summary": "Get corporate entity PSC",
        "description": "Retrieve details of a corporate entity with significant control.",
        "operationId": "getCorporateEntityPSC",
        "tags": [
          "psc"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "psc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/legal-person/{psc_id}": {
      "get": {
        "summary": "Get legal person PSC",
        "description": "Retrieve details of a legal person with significant control.",
        "operationId": "getLegalPersonPSC",
        "tags": [
          "psc"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "psc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control-statements": {
      "get": {
        "summary": "List PSC statements",
        "description": "Retrieve PSC statements for a company.",
        "operationId": "listPSCStatements",
        "tags": [
          "psc"
        ],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/disqualified-officers/natural/{officer_id}": {
      "get": {
        "summary": "Get natural disqualified officer",
        "description": "Retrieve details of a natural person who is disqualified.",
        "operationId": "getNaturalDisqualifiedOfficer",
        "tags": [
          "disqualifications"
        ],
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisqualifiedOfficer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/disqualified-officers/corporate/{officer_id}": {
      "get": {
        "summary": "Get corporate disqualified officer",
        "description": "Retrieve details of a corporate entity that is disqualified.",
        "operationId": "getCorporateDisqualifiedOfficer",
        "tags": [
          "disqualifications"
        ],
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisqualifiedOfficer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/officers/{officer_id}/appointments": {
      "get": {
        "summary": "List officer appointments",
        "description": "Retrieve a list of appointments for an officer.",
        "operationId": "listOfficerAppointments",
        "tags": [
          "appointments"
        ],
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key passed as Basic authentication in the Authorization header. Use your API key as the username with an empty password."
      }
    },
    "parameters": {
      "companyNumber": {
        "name": "companyNumber",
        "in": "path",
        "required": true,
        "description": "The company number (e.g., '00000006').",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "kind": {
            "type": "string"
          },
          "page_number": {
            "type": "integer"
          },
          "items_per_page": {
            "type": "integer"
          },
          "start_index": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "CompanySearchResponse": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySearchItem"
            }
          },
          "kind": {
            "type": "string"
          },
          "page_number": {
            "type": "integer"
          },
          "items_per_page": {
            "type": "integer"
          },
          "start_index": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "CompanySearchItem": {
        "type": "object",
        "properties": {
          "company_number": {
            "type": "string"
          },
          "company_status": {
            "type": "string"
          },
          "company_type": {
            "type": "string"
          },
          "date_of_creation": {
            "type": "string",
            "format": "date"
          },
          "date_of_cessation": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "description_identifier": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kind": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          },
          "matches": {
            "type": "object"
          },
          "snippet": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/RegisteredOfficeAddress"
          },
          "address_snippet": {
            "type": "string"
          }
        }
      },
      "CompanyProfile": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "object",
            "properties": {
              "accounting_reference_date": {
                "type": "object",
                "properties": {
                  "day": {
                    "type": "string"
                  },
                  "month": {
                    "type": "string"
                  }
                }
              },
              "last_accounts": {
                "type": "object",
                "properties": {
                  "made_up_to": {
                    "type": "string",
                    "format": "date"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "next_accounts": {
                "type": "object",
                "properties": {
                  "due_on": {
                    "type": "string",
                    "format": "date"
                  },
                  "period_end_on": {
                    "type": "string",
                    "format": "date"
                  },
                  "period_start_on": {
                    "type": "string",
                    "format": "date"
                  }
                }
              },
              "next_due": {
                "type": "string",
                "format": "date"
              },
              "next_made_up_to": {
                "type": "string",
                "format": "date"
              },
              "overdue": {
                "type": "boolean"
              }
            }
          },
          "annual_return": {
            "type": "object",
            "properties": {
              "last_made_up_to": {
                "type": "string",
                "format": "date"
              },
              "next_due": {
                "type": "string",
                "format": "date"
              },
              "next_made_up_to": {
                "type": "string",
                "format": "date"
              },
              "overdue": {
                "type": "boolean"
              }
            }
          },
          "can_file": {
            "type": "boolean"
          },
          "company_name": {
            "type": "string"
          },
          "company_number": {
            "type": "string"
          },
          "company_status": {
            "type": "string"
          },
          "company_status_detail": {
            "type": "string"
          },
          "confirmation_statement": {
            "type": "object",
            "properties": {
              "last_made_up_to": {
                "type": "string",
                "format": "date"
              },
              "next_due": {
                "type": "string",
                "format": "date"
              },
              "next_made_up_to": {
                "type": "string",
                "format": "date"
              },
              "overdue": {
                "type": "boolean"
              }
            }
          },
          "date_of_creation": {
            "type": "string",
            "format": "date"
          },
          "date_of_cessation": {
            "type": "string",
            "format": "date"
          },
          "etag": {
            "type": "string"
          },
          "has_been_liquidated": {
            "type": "boolean"
          },
          "has_charges": {
            "type": "boolean"
          },
          "has_insolvency_history": {
            "type": "boolean"
          },
          "is_community_interest_company": {
            "type": "boolean"
          },
          "jurisdiction": {
            "type": "string"
          },
          "last_full_members_list_date": {
            "type": "string",
            "format": "date"
          },
          "links": {
            "type": "object",
            "properties": {
              "charges": {
                "type": "string"
              },
              "filing_history": {
                "type": "string"
              },
              "insolvency": {
                "type": "string"
              },
              "officers": {
                "type": "string"
              },
              "persons_with_significant_control": {
                "type": "string"
              },
              "persons_with_significant_control_statements": {
                "type": "string"
              },
              "registers": {
                "type": "string"
              },
              "self": {
                "type": "string"
              }
            }
          },
          "registered_office_address": {
            "$ref": "#/components/schemas/RegisteredOfficeAddress"
          },
          "registered_office_is_in_dispute": {
            "type": "boolean"
          },
          "sic_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string"
          },
          "undeliverable_registered_office_address": {
            "type": "boolean"
          }
        }
      },
      "RegisteredOfficeAddress": {
        "type": "object",
        "properties": {
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "care_of": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "po_box": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "premises": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "OfficerList": {
        "type": "object",
        "properties": {
          "active_count": {
            "type": "integer"
          },
          "etag": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Officer"
            }
          },
          "items_per_page": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          },
          "resigned_count": {
            "type": "integer"
          },
          "start_index": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "Officer": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/RegisteredOfficeAddress"
          },
          "appointed_on": {
            "type": "string",
            "format": "date"
          },
          "country_of_residence": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "object",
            "properties": {
              "month": {
                "type": "integer"
              },
              "year": {
                "type": "integer"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "officer": {
                "type": "object",
                "properties": {
                  "appointments": {
                    "type": "string"
                  }
                }
              },
              "self": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "occupation": {
            "type": "string"
          },
          "officer_role": {
            "type": "string"
          },
          "resigned_on": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FilingHistoryList": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string"
          },
          "filing_history_status": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilingHistoryItem"
            }
          },
          "items_per_page": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "start_index": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "FilingHistoryItem": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "description_values": {
            "type": "object"
          },
          "links": {
            "type": "object",
            "properties": {
              "document_metadata": {
                "type": "string"
              },
              "self": {
                "type": "string"
              }
            }
          },
          "pages": {
            "type": "integer"
          },
          "paper_filed": {
            "type": "boolean"
          },
          "transaction_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ChargeList": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "part_satisfied_count": {
            "type": "integer"
          },
          "satisfied_count": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "unfiltered_count": {
            "type": "integer"
          }
        }
      },
      "InsolvencyResource": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string"
          },
          "cases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                },
                "notes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "number": {
                  "type": "integer"
                },
                "practitioners": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "object"
                      },
                      "appointed_on": {
                        "type": "string",
                        "format": "date"
                      },
                      "ceased_to_act_on": {
                        "type": "string",
                        "format": "date"
                      },
                      "name": {
                        "type": "string"
                      },
                      "role": {
                        "type": "string"
                      }
                    }
                  }
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PSCList": {
        "type": "object",
        "properties": {
          "active_count": {
            "type": "integer"
          },
          "ceased_count": {
            "type": "integer"
          },
          "etag": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "items_per_page": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          },
          "start_index": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "DisqualifiedOfficer": {
        "type": "object",
        "properties": {
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "disqualifications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "case_identifier": {
                  "type": "string"
                },
                "disqualified_from": {
                  "type": "string",
                  "format": "date"
                },
                "disqualified_until": {
                  "type": "string",
                  "format": "date"
                },
                "reason": {
                  "type": "object",
                  "properties": {
                    "act": {
                      "type": "string"
                    },
                    "article": {
                      "type": "string"
                    },
                    "description_identifier": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    }
                  }
                },
                "company_names": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "etag": {
            "type": "string"
          },
          "forename": {
            "type": "string"
          },
          "honours": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          },
          "nationality": {
            "type": "string"
          },
          "other_forenames": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "AppointmentList": {
        "type": "object",
        "properties": {
          "date_of_birth": {
            "type": "object",
            "properties": {
              "month": {
                "type": "integer"
              },
              "year": {
                "type": "integer"
              }
            }
          },
          "etag": {
            "type": "string"
          },
          "is_corporate_officer": {
            "type": "boolean"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "items_per_page": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "start_index": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_values": {
                  "type": "object"
                },
                "location": {
                  "type": "string"
                },
                "location_type": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - authentication required.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
