{
  "openapi": "3.0.3",
  "info": {
    "title": "Punk API",
    "description": "Punk API provides programmatic access to BrewDog's DIY Dog beer catalogue. Access data on over 325 craft beers including ABV, IBU, ingredients, food pairings, and brewing methods. This is a free, public API with no authentication required.",
    "version": "2.0",
    "contact": {
      "url": "https://punkapi.com"
    },
    "license": {
      "name": "Creative Commons",
      "url": "https://creativecommons.org/licenses/by-nc/4.0/"
    },
    "x-jentic-source-url": "https://punkapi.com/documentation/v2"
  },
  "servers": [
    {
      "url": "https://api.punkapi.com/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/beers": {
      "get": {
        "summary": "Get beers",
        "description": "Returns a paginated list of all beers. Supports filtering by various parameters.",
        "operationId": "getBeers",
        "tags": [
          "beers"
        ],
        "parameters": [
          {
            "name": "abv_gt",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Returns all beers with ABV greater than the supplied number"
          },
          {
            "name": "abv_lt",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Returns all beers with ABV less than the supplied number"
          },
          {
            "name": "ibu_gt",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Returns all beers with IBU greater than the supplied number"
          },
          {
            "name": "ibu_lt",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Returns all beers with IBU less than the supplied number"
          },
          {
            "name": "ebc_gt",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Returns all beers with EBC greater than the supplied number"
          },
          {
            "name": "ebc_lt",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Returns all beers with EBC less than the supplied number"
          },
          {
            "name": "beer_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers matching the name (use underscores for spaces)"
          },
          {
            "name": "yeast",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers matching the yeast name"
          },
          {
            "name": "brewed_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers brewed before this date (mm-yyyy format)"
          },
          {
            "name": "brewed_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers brewed after this date (mm-yyyy format)"
          },
          {
            "name": "hops",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers matching the hops name"
          },
          {
            "name": "malt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers matching the malt name"
          },
          {
            "name": "food",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns all beers matching the food pairing string"
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pipe-separated list of IDs to return"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 80
            },
            "description": "Number of results per page (max 80)"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of beer objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Beer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beers/{id}": {
      "get": {
        "summary": "Get a single beer",
        "description": "Returns a single beer by ID",
        "operationId": "getBeerById",
        "tags": [
          "beers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Beer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Array containing the single beer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Beer"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Beer not found"
          }
        }
      }
    },
    "/beers/random": {
      "get": {
        "summary": "Get a random beer",
        "description": "Returns a single random beer",
        "operationId": "getRandomBeer",
        "tags": [
          "beers"
        ],
        "responses": {
          "200": {
            "description": "Array containing a random beer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Beer"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Beer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "first_brewed": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "abv": {
            "type": "number",
            "description": "Alcohol by volume"
          },
          "ibu": {
            "type": "number",
            "description": "International Bitterness Units"
          },
          "target_fg": {
            "type": "number",
            "description": "Target Final Gravity"
          },
          "target_og": {
            "type": "number",
            "description": "Target Original Gravity"
          },
          "ebc": {
            "type": "number",
            "description": "European Brewery Convention color"
          },
          "srm": {
            "type": "number",
            "description": "Standard Reference Method color"
          },
          "ph": {
            "type": "number"
          },
          "attenuation_level": {
            "type": "number"
          },
          "volume": {
            "$ref": "#/components/schemas/Measure"
          },
          "boil_volume": {
            "$ref": "#/components/schemas/Measure"
          },
          "method": {
            "type": "object",
            "properties": {
              "mash_temp": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "fermentation": {
                "type": "object"
              },
              "twist": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "ingredients": {
            "type": "object",
            "properties": {
              "malt": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "hops": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "yeast": {
                "type": "string"
              }
            }
          },
          "food_pairing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brewers_tips": {
            "type": "string"
          },
          "contributed_by": {
            "type": "string"
          }
        }
      },
      "Measure": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          }
        }
      }
    }
  }
}