{
  "openapi": "3.0.3",
  "info": {
    "title": "Payment Final",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ttl-ea1/payment-final/1.0.0"
  },
  "servers": [
    {
      "url": "https://convobot16.chatbot.team"
    }
  ],
  "paths": {
    "/wa/v2/messages/send": {
      "post": {
        "summary": "Payment with UPI",
        "description": "Payment with UPI",
        "operationId": "paymentWithUpi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  },
                  "recipient_type": {
                    "type": "string",
                    "example": "individual"
                  },
                  "template": {
                    "type": "object",
                    "properties": {
                      "components": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "index": {
                              "type": "number",
                              "example": 0
                            },
                            "parameters": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "action": {
                                    "type": "object",
                                    "properties": {
                                      "order_details": {
                                        "type": "object",
                                        "properties": {
                                          "currency": {
                                            "type": "string",
                                            "example": "INR"
                                          },
                                          "order": {
                                            "type": "object",
                                            "properties": {
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "amount": {
                                                      "type": "object",
                                                      "properties": {
                                                        "offset": {
                                                          "type": "number",
                                                          "example": 100
                                                        },
                                                        "value": {
                                                          "type": "number",
                                                          "example": 200
                                                        }
                                                      }
                                                    },
                                                    "name": {
                                                      "type": "string",
                                                      "example": "Mobile Recharge"
                                                    },
                                                    "quantity": {
                                                      "type": "number",
                                                      "example": 1
                                                    }
                                                  }
                                                },
                                                "example": [
                                                  {
                                                    "amount": {
                                                      "offset": 100,
                                                      "value": 200
                                                    },
                                                    "name": "Mobile Recharge",
                                                    "quantity": 1
                                                  }
                                                ]
                                              },
                                              "status": {
                                                "type": "string",
                                                "example": "pending"
                                              },
                                              "subtotal": {
                                                "type": "object",
                                                "properties": {
                                                  "offset": {
                                                    "type": "number",
                                                    "example": 100
                                                  },
                                                  "value": {
                                                    "type": "number",
                                                    "example": 200
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "payment_settings": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "payment_link": {
                                                  "type": "object",
                                                  "properties": {
                                                    "payment_link": {
                                                      "type": "string",
                                                      "example": ""
                                                    }
                                                  }
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "example": "payment_link"
                                                }
                                              }
                                            },
                                            "example": [
                                              {
                                                "payment_link": {
                                                  "payment_link": ""
                                                },
                                                "type": "payment_link"
                                              }
                                            ]
                                          },
                                          "reference_id": {
                                            "type": "string",
                                            "example": "convobot16-23052016011916"
                                          },
                                          "total_amount": {
                                            "type": "object",
                                            "properties": {
                                              "offset": {
                                                "type": "number",
                                                "example": 100
                                              },
                                              "value": {
                                                "type": "number",
                                                "example": 200
                                              }
                                            }
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "digital-goods"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "action"
                                  }
                                }
                              },
                              "example": [
                                {
                                  "action": {
                                    "order_details": {
                                      "currency": "INR",
                                      "order": {
                                        "items": [
                                          {
                                            "amount": {
                                              "offset": 100,
                                              "value": 200
                                            },
                                            "name": "Mobile Recharge",
                                            "quantity": 1
                                          }
                                        ],
                                        "status": "pending",
                                        "subtotal": {
                                          "offset": 100,
                                          "value": 200
                                        }
                                      },
                                      "payment_settings": [
                                        {
                                          "payment_link": {
                                            "payment_link": ""
                                          },
                                          "type": "payment_link"
                                        }
                                      ],
                                      "reference_id": "convobot16-23052016011916",
                                      "total_amount": {
                                        "offset": 100,
                                        "value": 200
                                      },
                                      "type": "digital-goods"
                                    }
                                  },
                                  "type": "action"
                                }
                              ]
                            },
                            "sub_type": {
                              "type": "string",
                              "example": "order_details"
                            },
                            "type": {
                              "type": "string",
                              "example": "button"
                            }
                          }
                        },
                        "example": [
                          {
                            "index": 0,
                            "parameters": [
                              {
                                "action": {
                                  "order_details": {
                                    "currency": "INR",
                                    "order": {
                                      "items": [
                                        {
                                          "amount": {
                                            "offset": 100,
                                            "value": 200
                                          },
                                          "name": "Mobile Recharge",
                                          "quantity": 1
                                        }
                                      ],
                                      "status": "pending",
                                      "subtotal": {
                                        "offset": 100,
                                        "value": 200
                                      }
                                    },
                                    "payment_settings": [
                                      {
                                        "payment_link": {
                                          "payment_link": ""
                                        },
                                        "type": "payment_link"
                                      }
                                    ],
                                    "reference_id": "convobot16-23052016011916",
                                    "total_amount": {
                                      "offset": 100,
                                      "value": 200
                                    },
                                    "type": "digital-goods"
                                  }
                                },
                                "type": "action"
                              }
                            ],
                            "sub_type": "order_details",
                            "type": "button"
                          }
                        ]
                      },
                      "language": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "en"
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "example": "order_detail_template"
                      }
                    }
                  },
                  "to": {
                    "type": "string",
                    "example": "918591755325"
                  },
                  "type": {
                    "type": "string",
                    "example": "template"
                  }
                }
              },
              "examples": {
                "Payment with Gateway [razorpay]": {
                  "value": "{\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"918591755325\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"order_detail_template\",\n        \"language\": {\n            \"code\": \"en\"\n        },\n        \"components\": [\n            {\n                \"type\": \"button\",\n                \"sub_type\": \"order_details\",\n                \"index\": 0,\n                \"parameters\": [\n                    {\n                        \"type\": \"action\",\n                        \"action\": {\n                            \"order_details\": {\n                                \"currency\": \"INR\",\n                                \"order\": {\n                                    \"items\": [\n                                        {\n                                            \"amount\": {\n                                                \"offset\": 100,\n                                                \"value\": 200\n                                            },\n                                            \"name\": \"Mobile Recharge\",\n                                            \"quantity\": 1\n                                        }\n                                    ],\n                                    \"status\": \"pending\",\n                                    \"subtotal\": {\n                                        \"offset\": 100,\n                                        \"value\": 200\n                                    }\n                                },\n                                \"payment_settings\": [\n                                    {\n                                        \"type\": \"payment_gateway\",\n                                        \"payment_gateway\": {\n                                            \"type\": \"razorpay\", //razorpay\n                                            \"configuration_name\": \"convobot16_anil_upi\"\n                                        }\n                                    }\n                                ],\n                                \"reference_id\": \"convobot16-23052016011916\",\n                                \"total_amount\": {\n                                    \"offset\": 100,\n                                    \"value\": 200\n                                },\n                                \"type\": \"digital-goods\"\n                            }\n                        }\n                    }\n                ]\n            }\n        ]\n    }\n}"
                },
                "Payment with Payment Link": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "template": {
                      "components": [
                        {
                          "index": 0,
                          "parameters": [
                            {
                              "action": {
                                "order_details": {
                                  "currency": "INR",
                                  "order": {
                                    "items": [
                                      {
                                        "amount": {
                                          "offset": 100,
                                          "value": 200
                                        },
                                        "name": "Mobile Recharge",
                                        "quantity": 1
                                      }
                                    ],
                                    "status": "pending",
                                    "subtotal": {
                                      "offset": 100,
                                      "value": 200
                                    }
                                  },
                                  "payment_settings": [
                                    {
                                      "payment_link": {
                                        "payment_link": ""
                                      },
                                      "type": "payment_link"
                                    }
                                  ],
                                  "reference_id": "convobot16-23052016011916",
                                  "total_amount": {
                                    "offset": 100,
                                    "value": 200
                                  },
                                  "type": "digital-goods"
                                }
                              },
                              "type": "action"
                            }
                          ],
                          "sub_type": "order_details",
                          "type": "button"
                        }
                      ],
                      "language": {
                        "code": "en"
                      },
                      "name": "order_detail_template"
                    },
                    "to": "918591755325",
                    "type": "template"
                  }
                },
                "Payment with UPI": {
                  "value": "{\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": \"918591755325\",\n    \"type\": \"template\",\n    \"template\": {\n        \"name\": \"order_detail_template\",\n        \"language\": {\n            \"code\": \"en\"\n        },\n        \"components\": [\n            {\n                \"type\": \"button\",\n                \"sub_type\": \"order_details\",\n                \"index\": 0,\n                \"parameters\": [\n                    {\n                        \"type\": \"action\",\n                        \"action\": {\n                            \"order_details\": {\n                                \"currency\": \"INR\", // Static\n                                \"order\": {\n                                    \"items\": [\n                                        {\n                                            \"amount\": {\n                                                \"offset\": 100,// Static\n                                                \"value\": 200 // Taken by input and the pass it by multiply * 100\n                                            },\n                                            \"name\": \"Mobile Recharge\", // Taken from input\n                                            \"quantity\": 1 // Static\n                                        }\n                                    ],\n                                    \"status\": \"pending\", // Static\n                                    \"subtotal\": {\n                                        \"offset\": 100,// Static\n                                        \"value\": 200 // Same as above amount\n                                    }\n                                },\n                                \"payment_configuration\": \"convobot16_anil_upi\",\n                                \"payment_type\": \"upi\",\n                                \"reference_id\": \"convobot16-23052016011917\", // Unique Order Id \n                                \"total_amount\": {\n                                    \"offset\": 100,// Static\n                                    \"value\": 200// Same as above amount\n                                },\n                                \"type\": \"digital-goods\"// Static\n                            }\n                        }\n                    }\n                ]\n            }\n        ]\n    }\n}"
                },
                "Payment with UPI intent Link": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "template": {
                      "components": [
                        {
                          "index": 0,
                          "parameters": [
                            {
                              "action": {
                                "order_details": {
                                  "currency": "INR",
                                  "order": {
                                    "items": [
                                      {
                                        "amount": {
                                          "offset": 100,
                                          "value": 200
                                        },
                                        "name": "Mobile Recharge",
                                        "quantity": 1
                                      }
                                    ],
                                    "status": "pending",
                                    "subtotal": {
                                      "offset": 100,
                                      "value": 200
                                    }
                                  },
                                  "payment_settings": [
                                    {
                                      "type": "upi_intent_link",
                                      "upi_intent_link": {
                                        "link": "upi://pay?pa=anil50723-6@okaxis&pn=Sukoon&tr=convobot16-23052016011919&am=10.00&cu=INR&mode=00&purpose=00&mc=0000&tn=877376394"
                                      }
                                    }
                                  ],
                                  "reference_id": "convobot16-23052016011919",
                                  "total_amount": {
                                    "offset": 100,
                                    "value": 200
                                  },
                                  "type": "digital-goods"
                                }
                              },
                              "type": "action"
                            }
                          ],
                          "sub_type": "order_details",
                          "type": "button"
                        }
                      ],
                      "language": {
                        "code": "en"
                      },
                      "name": "order_detail_template"
                    },
                    "to": "918262980000",
                    "type": "template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}