{
  "openapi": "3.0.3",
  "info": {
    "title": "EPO Open Patent Services API",
    "version": "3.2.0",
    "description": "European Patent Office (EPO) Open Patent Services (OPS) provides access to patent data from around the world. Services include patent bibliographic data, abstracts, full-text, claims, descriptions, family data, legal status, search, and image retrieval. Uses OAuth 2.0 client credentials for authentication.",
    "x-jentic-source-url": "https://developers.epo.org/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://ops.epo.org/3.2/rest-services"
    }
  ],
  "paths": {
    "/published-data/search": {
      "get": {
        "operationId": "searchPublishedData",
        "summary": "Search published patent data",
        "description": "Search patent documents using CQL (Contextual Query Language). Supports queries across titles, abstracts, applicants, inventors, classification codes, and more.",
        "tags": [
          "Published Data"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "CQL query string (e.g., ta=electric AND pa=tesla)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Range of results (e.g., 1-25)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/published-data/publication/{referenceType}/{inputFormat}/{input}": {
      "get": {
        "operationId": "getPublishedData",
        "summary": "Get published patent data",
        "description": "Retrieve bibliographic data, abstract, claims, description, or equivalents for a patent publication.",
        "tags": [
          "Published Data"
        ],
        "parameters": [
          {
            "name": "referenceType",
            "in": "path",
            "required": true,
            "description": "Type of data to retrieve",
            "schema": {
              "type": "string",
              "enum": [
                "biblio",
                "abstract",
                "full-cycle",
                "claims",
                "description",
                "equivalents",
                "images"
              ]
            }
          },
          {
            "name": "inputFormat",
            "in": "path",
            "required": true,
            "description": "Format of the input document reference",
            "schema": {
              "type": "string",
              "enum": [
                "docdb",
                "epodoc",
                "original"
              ]
            }
          },
          {
            "name": "input",
            "in": "path",
            "required": true,
            "description": "Document reference (e.g., EP1000000 for epodoc, EP.1000000.A1 for docdb)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patent data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatentDataResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/family/{referenceType}/{inputFormat}/{input}": {
      "get": {
        "operationId": "getPatentFamily",
        "summary": "Get patent family data",
        "description": "Retrieve family (INPADOC) data for a patent document, showing related patents across countries.",
        "tags": [
          "Family"
        ],
        "parameters": [
          {
            "name": "referenceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "biblio",
                "legal"
              ]
            }
          },
          {
            "name": "inputFormat",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "docdb",
                "epodoc",
                "original"
              ]
            }
          },
          {
            "name": "input",
            "in": "path",
            "required": true,
            "description": "Document reference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Family data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/register/{referenceType}/{inputFormat}/{input}": {
      "get": {
        "operationId": "getRegisterData",
        "summary": "Get EP register data",
        "description": "Retrieve European Patent Register data (procedural status, legal events) for a European patent application.",
        "tags": [
          "Register"
        ],
        "parameters": [
          {
            "name": "referenceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "biblio",
                "events",
                "procedural-steps"
              ]
            }
          },
          {
            "name": "inputFormat",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "docdb",
                "epodoc"
              ]
            }
          },
          {
            "name": "input",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/published-data/images/{inputFormat}/{input}": {
      "get": {
        "operationId": "getPatentImages",
        "summary": "Get patent document images",
        "description": "Retrieve patent document page images (drawings, first page, etc.).",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "inputFormat",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "docdb",
                "epodoc"
              ]
            }
          },
          {
            "name": "input",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image inquiry result (links to individual pages)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageInquiryResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/classification/cpc/{cpcSymbol}": {
      "get": {
        "operationId": "getCPCClassification",
        "summary": "Get CPC classification details",
        "description": "Retrieve Cooperative Patent Classification (CPC) scheme details for a given classification symbol.",
        "tags": [
          "Classification"
        ],
        "parameters": [
          {
            "name": "cpcSymbol",
            "in": "path",
            "required": true,
            "description": "CPC symbol (e.g., H01L)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classification data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/number-service/{referenceType}/{inputFormat}/{input}": {
      "get": {
        "operationId": "convertDocumentNumber",
        "summary": "Convert document number formats",
        "description": "Convert patent document numbers between different formats (docdb, epodoc, original).",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "name": "referenceType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "publication",
                "application",
                "priority"
              ]
            }
          },
          {
            "name": "inputFormat",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "docdb",
                "epodoc",
                "original"
              ]
            }
          },
          {
            "name": "input",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Desired output format",
            "schema": {
              "type": "string",
              "enum": [
                "docdb",
                "epodoc",
                "original"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Converted number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "ops:world-patent-data": {
            "type": "object",
            "properties": {
              "ops:biblio-search": {
                "type": "object",
                "properties": {
                  "@total-result-count": {
                    "type": "integer"
                  },
                  "ops:search-result": {
                    "type": "object",
                    "properties": {
                      "ops:publication-reference": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  },
                  "ops:range": {
                    "type": "object",
                    "properties": {
                      "@begin": {
                        "type": "integer"
                      },
                      "@end": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PatentDataResponse": {
        "type": "object",
        "properties": {
          "ops:world-patent-data": {
            "type": "object",
            "properties": {
              "exchange-documents": {
                "type": "object"
              }
            }
          }
        }
      },
      "FamilyResponse": {
        "type": "object",
        "properties": {
          "ops:world-patent-data": {
            "type": "object",
            "properties": {
              "ops:patent-family": {
                "type": "object",
                "properties": {
                  "@total-result-count": {
                    "type": "integer"
                  },
                  "ops:family-member": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "ops:world-patent-data": {
            "type": "object",
            "properties": {
              "ops:register-search": {
                "type": "object"
              }
            }
          }
        }
      },
      "ImageInquiryResponse": {
        "type": "object",
        "properties": {
          "ops:world-patent-data": {
            "type": "object",
            "properties": {
              "ops:document-inquiry": {
                "type": "object",
                "properties": {
                  "ops:inquiry-result": {
                    "type": "object",
                    "properties": {
                      "ops:document-instance": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "@desc": {
                              "type": "string"
                            },
                            "@link": {
                              "type": "string",
                              "format": "uri"
                            },
                            "@number-of-pages": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 Client Credentials flow. Register at developers.epo.org to get client_id and client_secret.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://ops.epo.org/3.2/auth/accesstoken",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Classification"
    },
    {
      "name": "Family"
    },
    {
      "name": "Images"
    },
    {
      "name": "Published Data"
    },
    {
      "name": "Register"
    },
    {
      "name": "Utilities"
    }
  ]
}
