{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://wbsapi.withings.net/"
    }
  ],
  "info": {
    "version": "2.0",
    "title": "Withings developer documentation",
    "description": "Withings developer documentation - OpenAPI Specification",
    "contact": {
      "name": "API Support"
    }
  },
  "x-tagGroups": [
    {
      "name": "Api Reference Content",
      "tags": [
        "oauth2",
        "dropshipment",
        "order",
        "user",
        "measure",
        "heart",
        "stetho",
        "sleep",
        "notify",
        "survey",
        "answers",
        "signature",
        "rawdata",
        "device",
        "models",
        "response_status",
        "Glossary",
        "nudge",
        "nudgecampaign"
      ]
    }
  ],
  "tags": [
    {
      "name": "oauth2",
      "x-displayName": "OAuth2",
      "description": "<br>The Withings API uses OAuth 2.0, an industry-standard protocol for authorization.<br> OAuth 2.0 enables your application to access user-specific data with a secure and seamless way without requiring users to share their Withings credentials with your app.<br>\n                  <br>\n                  The Withings API supports the Authorization Code Flow, which is suitable for server-side applications. In this flow, your application will obtain an authorization code from the user, which can then be exchanged for an access token and refresh token.\n                  <br><br>\n                  There are two ways to obtain the authorization code:<br>\n                  <br>\n                  1. **Web Authorization Flow**: Redirect the user to the Withings authorization endpoint, where they can grant permission for your app to access their Withings data.<br>\n                  2. **Account Creation Flow (contract partners only)**: Obtain the authorization code after account creation (Cellular Devices/SDK only) .<br>\n                  <br>\n                  To use OAuth 2.0 with the Withings API, follow these general steps:<br>\n                  <br>\n                  1. **Request user authorization/Create an account**: Use one of the two methods mentioned above to obtain an authorization code from the user.<br>\n                  2. **Obtain an access token**: Exchange the authorization code for an access token and refresh token.<br>\n                  3. **Access the API**: Include the access token in your API requests to access user-specific data from the Withings API.<br>\n                  4. **Refresh tokens**: Use the refresh token to obtain new access tokens when the current ones expire.<br>\n                  <br>\n                  Please refer to the appropriate [Integration Guide](https://developer.withings.com/developer-guide/v3/withings-solutions/integration-guides) to know which method you should use."
    },
    {
      "name": "dropshipment",
      "x-displayName": "Dropshipment",
      "description": "The following services are part of the Logistics APIs. Refer to [this section](/developer-guide/v3/integration-guide/dropship-only/logistics-api/overview-create-order) for more information.\n\nThe Logistics APIs allows partners to dropship devices directly to their program members.\n\n**Important**: To receive automatic notification on order status, please fill a dropshipment notify URI for your API application in your [Developer Dashboard](https://developer.withings.com/dashboard/)."
    },
    {
      "name": "order",
      "x-displayName": "Order",
      "description": "The following services are part of the Logistics APIs. Refer to [this section](/developer-guide/v3/integration-guide/dropship-only/logistics-api/overview-create-order) for more information."
    },
    {
      "name": "user",
      "x-displayName": "User",
      "description": ""
    },
    {
      "name": "measure",
      "x-displayName": "Measure",
      "description": "The following services gives access to several types of Health Data collected by a user. The data are only available once a synchronization occured between the device and Withings servers (which might include synchronizing with Withings mobile application or via Withings Mobile SDK)."
    },
    {
      "name": "heart",
      "x-displayName": "Heart",
      "description": "Returns ECG (EKG) signal points in micro-volt (μV).\n\nYou can use the [Heart - List](#operation/heartv2-list) service to get the list of ECG records and their corresponding ```signalid``` and then use [Heart - Get](#operation/heartv2-get) to get the signal details.\n\nThe data are only available once a synchronization occured between the device and Withings servers (which might include synchronizing with Withings mobile application or via Withings Mobile SDK)."
    },
    {
      "name": "stetho",
      "x-displayName": "Stetho",
      "description": "First the [Stetho - List](#operation/stethov2-list) API should be called to fetch the stetho signalIds which should be fetched individually using the [Stetho - Get](#operation/stethov2-get) API."
    },
    {
      "name": "sleep",
      "x-displayName": "Sleep",
      "description": "Returns data related to user sleep activities, wether they are captured by an Activity Tracker or a Sleep Monitor.\n\nThe data are only available once a synchronization occured between the device and Withings servers (which might include synchronizing with Withings mobile application or via Withings Mobile SDK)."
    },
    {
      "name": "notify",
      "x-displayName": "Notify",
      "description": "These services will allow you to be notified when new data is collected by Withings devices, or when specific events happen.\n\t\tLearn more about our notification services in [the dedicated section](/developer-guide/v3/data-api/notifications/notification-overview/)"
    },
    {
      "name": "survey",
      "x-displayName": "Survey",
      "description": "These webservices allows you to to manage user's surveys"
    },
    {
      "name": "answers",
      "x-displayName": "Answers",
      "description": "These webservices allows you to get user's answers from surveys"
    },
    {
      "name": "signature",
      "x-displayName": "Signature",
      "description": "The following services are part of the Logistics APIs. Refer to [this section](/developer-guide/v3/integration-guide/dropship-only/logistics-api/overview-create-order) for more information."
    },
    {
      "name": "rawdata",
      "x-displayName": "Raw Data",
      "description": "Raw Data webservices are part of the Advanced research API that allows to collect high frequency PPG and accelerometer data (around 25Hz). These APIs are compatible only with the Withings ScanWatch. If you need more information about how to use these APIs and how to parse the data, please have a look the [dedicated integration guide](/developer-guide/v3/integration-guide/public-health-data-api/data-api/raw-data)."
    },
    {
      "name": "device",
      "x-displayName": "Device",
      "description": ""
    },
    {
      "name": "models",
      "x-displayName": "Models",
      "description": "Some services require specific model parameters. The following sections detail parameters formats.\n  \n  Only refer to those sections if an API service parameter description specifies it.\n## Unit preferences\nOptionally, partner can specify end-user unit preferences.<br><br>\n**Important**: please note that even if weight and height unit preferences are not in kilograms or meters, the measure values of [Measures](#tag/models/Measures) model must be set in kilograms and meters.<br><br>\nThe ```unit_pref``` parameter must be composed of a ```JSON``` object with the following parameter:\n\n  |  Name          |    Type      |\n  |----------------|--------------|\n  | weight          | integer |\n  | height          | integer |\n  | distance        | integer |\n  | temperature     | integer |\n\n  The following tables present integer values of unit preferences:\n\n  |  Weight unit          |    Value    |\n  |----------------|--------------|\n  | kilogram (kg)     |     1   |\n  | pound (lb)    |     2   |\n  | Imperial stone:pound (StLb)     |     14   |\n\n  |  Height unit          |    Value    |\n  |----------------|--------------|\n  | meter (m)     |     6   |\n  | inch (in)   |     7   |\n\n  |  Distance unit          |    Value    |\n  |----------------|--------------|\n  | kilometer (km)     |     6   |\n  | yard (yd)    |     8   |\n\n  |  Temperature unit          |    Value    |\n  |----------------|--------------|\n  | degree Celsius (°C)     |     11   |\n  | Fahrenheit (°F)   |     13   |\n\n  Example of unit preference parameter:\n\n  ```json\n  {\"weight\":1,\"height\":7,\"distance\":8,\"temperature\":13}\n  ```\n\n## Measures\n\n  The following table presents the required measure data that is contained in the user data ```measures``` parameter. The ```measures``` parameter must be composed of two mandatory ```JSON``` objects, one for the weight measurement and another with the height measurement, both with the following parameter:\n\n  |  Name          |    Type      |    Required   |                  Comments                                 |\n  |----------------|--------------|---------------|-----------------------------------------------------------|\n  | value          | integer      | yes                | Height or weight value as integer not float. Ex: 187 or 6000|\n  | unit           | integer      | yes                | Decimal exponent to get the parameter ```value``` in meters and kilos. Ex: value=187. unit=-2. Height=1,87m|\n  | type           | integer      | yes                | Possible values are: Height = ```4```. Weight = ```1```.|\n\n  **Important**: please note that weight value must be in kilograms and height value in meters.\n\n  The weight must be between 1 and 600kg and the height between 0.1 and 3m.\n\n  Example of ```JSON``` object to be used as plain text parameter:\n\n  ```json\n  {\n    \"preflang\": \"en_EN\",\n    \"birthdate\": \"12345678\",\n    \"gender\": 1,\n    \"shortname\": \"ABC\",\n    \"measures\": [\n      {\n        \"value\": 180,\n        \"unit\": -2,\n        \"type\": 4\n      },\n      {\n        \"value\": 8000,\n        \"unit\": -2,\n        \"type\": 1\n      }\n    ],\n    ...\n  }\n  ```\n\n  ## Order\n  \n  The following table presents the required order data that is contained in the dropshipment service ```order``` parameter. The ```order``` parameter is a list of ```JSON``` objects that constitute product purchase orders, each product purchase order having the following parameter:\n\n  ### 1. Order\n\n  |  Name            |    Type      |    Required   |                  Comments                                 |\n  |------------------|--------------|---------------|-----------------------------------------------------------|\n  | customer_ref_id  | string       | yes           | Random identifier you must provide. It will be used to track your order and **must be unique**.|\n  | address          | json         | yes           | Order delivery information. Refer to below **ADDRESS** table.|\n  | products         | integer      | yes           | Ordered products. Refer to below **PRODUCTS** table.|\n  | force_address    | boolean      | no            | If set to ```true```, the address will not be verified. (default is ```false```) If the address is not validated by carrier, Withings Logistics will ignore the address error and try to ship to the provided address anyway.|\n  \n  ### 2. Address\n  \n  |  Name       |    Type      |    Required   |                  Comments                                 |\n  |-------------|--------------|---------------|-----------------------------------------------------------|\n  | name        | string       | yes           | Client\\'s fullname.|\n  | company_name | string      | no            | Company name.|\n  | email       | string       | yes           | Client\\'s email.|\n  | telephone   | string       | no            | Client\\'s phone number in E.164 format.|\n  | address1    | string       | yes           | Client\\'s primary address (Street address with number).|\n  | address2    | string       | no            | Client\\'s additional address (Apartment or suite number).|\n  | city        | string       | yes           | Client\\'s city address.|\n  | zip         | string       | yes           | Client\\'s zipcode address.|\n  | state       | string       | no            | Client\\'s state address in ISO2 format.|\n  | country     | string       | yes           | Client\\'s country address in ISO2 format.|\n  \n  ### 3. Products\n    \n  |  Name          |    Type      |    Required   |                  Comments                                 |\n  |----------------|--------------|---------------|-----------------------------------------------------------|\n  | quantity       | int          | yes           | Product quantity.|\n  | ean            | string       | no            | Product international article number. Do not use a partner_ref if you are using EAN.|\n  | partner_ref    | string       | no            | The reference of your Withings device kit you are ordering which will be shared with you by your Withings CSM during the project. Do not use EAN if you are using a partner_ref.|\n\n  Either `ean` or `partner_ref` should be set.\n\n  ### 4. Example\n\n  Example of ```JSON``` object to be used as plain text parameter:\n\n  ```json\n  [\n    {\n      \"address\": {\n        \"name\": \"John Wayne\",\n        \"email\": \"john.wayne@farwest.com\",\n        \"address1\": \"1st Avenue\",\n        \"address2\": \"Apartment 12\",\n        \"city\": \"New-York\",\n        \"zip\": \"10001\",\n        \"state\": \"NY\",\n        \"country\": \"US\"\n      },\n      \"customer_ref_id\": \"IMAGINARY_CUSTOMER_REF_1\",\n      \"products\": [\n        {\n          \"quantity\": 1,\n          \"ean\": \"WI220002EAN\"\n        },\n        {\n          \"quantity\": 3,\n          \"ean\": \"WI330002EAN\"\n        }\n      ]\n    },\n    {\n      \"address\": {\n        \"name\": \"Calamity Jane\",\n        \"email\": \"calamity.jane@farwest.com\",\n        \"address1\": \"SW 8th St\",\n        \"address2\": \"Block 1\",\n        \"city\": \"Miami\",\n        \"zip\": \"33135\",\n        \"state\": \"FL\",\n        \"country\": \"US\"\n      },\n      \"customer_ref_id\": \"IMAGINARY_CUSTOMER_REF_2\",\n      \"products\": [\n        {\n          \"quantity\": 2,\n          \"ean\": \"WI220002EAN\"\n        },\n        {\n          \"quantity\": 1,\n          \"ean\": \"WI440002EAN\"\n        },\n        {\n          \"quantity\": 1,\n          \"ean\": \"WI550002EAN\"\n        }\n      ]\n    }\n  ]\n  ``` \n  \n  ## Goals\n\n  Optionally, partner can specify end-user goals. The ```goals``` parameter must be composed of a ```JSON``` object with the following parameter:\n  \n  |  Name          |    Type      |               Comments              |\n  |----------------|--------------|-------------------------------------|\n  | steps           | integer | Number of steps per day                 |\n  | sleep           | integer | Sleep duration (in seconds)             |\n  | weight          | json    | Weight. Refer to below **WEIGHT** table |\n\n  ### Weight\n\n  |  Name          |    Type      | Comments |\n  |----------------|--------------|----------|\n  | value           | integer | Weight value as integer, in kilograms |\n  | unit            | integer | Decimal exponent to get the parameter ```value``` in kilos. Ex: value=8000. unit=-2. Weight=80kg |\n\n  Example of goals parameter:\n\n  ```json\n  {\n      \"steps\": 10000,\n      \"sleep\": 28800,\n      \"weight\": {\n          \"value\": 70500,\n          \"unit\": -3\n       }\n  }\n  ```\n"
    },
    {
      "name": "response_status",
      "x-displayName": "Response Status",
      "description": "For security reasons Withings cannot share with partners the exact nature of the API error status they may receive. Instead, we share families of errors, and some webservices will also return a detailled message about the nature of the error. For instance, an invalid param status code might be coupled with a detail message stating which params caused the error.\n  \n  If you are facing one of the following family of errors, here\\'s what you should do :\n  - **Authentication failed**: Check if your tokens are correct and properly set.\n  - **Invalid params**: Check your tokens and your params.\n  - **Not Implemented**: The service does not exist.\n  - **Unauthorized**: You are not allowed to call this service.\n  - **An error occurred**: Check your tokens and your params. If the error persists please contact us.\n\n  If you still can\\'t find what\\'s causing the issue, please contact our support team for assistance.\n\n  <table class=\\'table_status\\'>\n    <thead>\n      <th>Value</th>\n      <th>Description</th>\n    </thead>\n    <tbody>\n      <tr><td>0</td><td>Operation was successful</td></tr>\n      <tr><td>100..102</td><td>Authentication failed</td></tr>\n      <tr><td>200</td><td>Authentication failed</td></tr>\n      <tr><td>201..213</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>214</td><td>Unauthorized</td></tr>\n      <tr class=\\'display_none\\'><td>215</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>216..218</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>219</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>220...221</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>222</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>223</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>224</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>225</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>226</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>227..230</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>231..233</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>234..236</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>237</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>238</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>240..252</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>253</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>254</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>255..259</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>260..267</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>268..270</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>271..272</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>273..274</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>275..276</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>277</td><td>Unauthorized</td></tr>\n      <tr class=\\'display_none\\'><td>278..282</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>283..288</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>289</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>290</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>291..292</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>293..295</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>296</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>297</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>298</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>300..304</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>305..320</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>321</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>322</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>323..353</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>370..375</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>380..382</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>383</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>391</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>400</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>401</td><td>Authentication failed</td></tr>\n      <tr class=\\'display_none\\'><td>402</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>501..511</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>516..521</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>522</td><td>Timeout</td></tr>\n      <tr class=\\'display_none\\'><td>523</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>524</td><td>Bad state</td></tr>\n      <tr class=\\'display_none\\'><td>525..531</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>532</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>533</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>601</td><td>Too many request</td></tr>\n      <tr class=\\'display_none\\'><td>602</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>700</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>1051..1054</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>2551..2552</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>2553</td><td>Unauthorized</td></tr>\n      <tr class=\\'display_none\\'><td>2554</td><td>Not implemented</td></tr>\n      <tr class=\\'display_none\\'><td>2555</td><td>Unauthorized</td></tr>\n      <tr class=\\'display_none\\'><td>2556..2559</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>3000..3016</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>3017..3019</td><td>Invalid params</td></tr>\n      <tr class=\\'display_none\\'><td>3020..3024</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>5000..5006</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>6000</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>6010..6011</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\'><td>9000</td><td>An error occurred</td></tr>\n      <tr class=\\'display_none\\' id=\\'table_status_last_tr\\'><td>10000</td><td>An error occurred</td></tr>\n    <tbody>\n  </table>"
    },
    {
      "name": "Glossary",
      "x-displayName": "Glossary",
      "description": "Find out more information about this documentation vocabulary in our [Glossary](https://developer.withings.com/developer-guide/glossary/glossary)"
    },
    {
      "name": "nudge",
      "x-displayName": "Nudge",
      "description": "These webservices allows you to to manage Health Nudges. Read the [Health Nudges Integration Guide](/developer-guide/v3/integration-guide/health-nudges/health-nudge-overview) for more information."
    },
    {
      "name": "nudgecampaign",
      "x-displayName": "Nudge Campaign",
      "description": "These webservices allows you to to manage Health Nudges Campaign. Read the [Health Nudges Integration Guide](/developer-guide/v3/integration-guide/health-nudges/health-nudge-overview) for more information."
    },
    {
      "name": "measure",
      "x-displayName": "Measure",
      "description": "The following services gives access to several types of Health Data collected by a user. The data are only available once a synchronization occured between the device and Withings servers (which might include synchronizing with Withings mobile application or via Withings Mobile SDK)."
    }
  ],
  "paths": {
    "https://account.withings.com/oauth2_user/authorize2": {
      "get": {
        "tags": [
          "oauth2"
        ],
        "description": "To use the Web Authorization Flow, you'll need to construct an authorization URL with the appropriate query parameters. Here's an example of an authorization URL:<br><br>\n```\nhttps://account.withings.com/oauth2_user/authorize2?response_type=code&client_id=YOUR_CLIENT_ID&scope=user.info,user.metrics,user.activity&redirect_uri=YOUR_REDIRECT_URI&state=YOUR_STATE\n```\nReplace ```YOUR_CLIENT_ID```, ```YOUR_REDIRECT_URI```, and ```YOUR_STATE``` with your actual values.<br><br>\nWhen someone navigates to this URL, they will be asked to authorize your application for the requested scopes. Upon granting permissions, the user will be redirected to your specified redirect_uri, which will include an additional query string parameter called code. The state parameter will also be returned and should be validated at this point.\n<br><br>\nPlease note that the authorization code is only valid for 30 seconds.",
        "summary": "Authorization URL",
        "operationId": "oauth2-authorize",
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must take the constant string value ```code```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Client ID```."
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A value you define. This can be used to make sure that the redirect back to your site or app wasn’t spoofed."
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of permission scopes you want to ask your user for (see the [Index Data API](/developer-guide/v3/data-api/all-available-health-data) section to know which scope you should use)."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The URI we should redirect the user to after choosing to authorize or not your app. This URI must be set as ```Callback Url``` in your partner application. It is possible to use multiple URLs by separating them with a comma.<br />Examples:<br />\n\t\t\t\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t\t\t\t<li>Callbacks: https://mydomain.com/</li>\n\t\t\t\t\t\t\t\t\t\t<li>Callback: https://mydomain.com/,https://mydomain2.com/</li>\n\t\t\t\t\t\t\t\t\t\t<li>Valid URL: https://mydomain.com/relative_path?args=value</li>\n\t\t\t\t\t\t\t\t\t</ul>"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only set to use the demo user. For demo user must take the constant string value ```demo```."
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)"
          }
        },
        "x-codeSamples": []
      }
    },
    "https://wbsapi.withings.net/v2/oauth2": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Use this endpoint to request an ```access token``` and ```refresh token``` from an ```authorization code``` or refresh an existing ```access token```.<br><br> <span class='oauth2-request-token-notes'> **Important:** Don't forget to save the userid included in the response in your database.<br><br> **Note:** You can use this webservice either by signing the call or using the secret. Toggle the request body schema to see the parameters for the 2 options.<br><br> **Note:** Toggle the ```grant_type``` to see the different parameters that must be used depending if you're refreshing a token or using an authorization code. </span>",
        "summary": "OAuth 2.0 - Request Access and Refresh Tokens",
        "operationId": "oauth2-getaccesstoken",
        "requestBody": {
          "required": true,
          "content": {
            "Using client secret": {
              "schema": {
                "type": "object",
                "discriminator": {
                  "propertyName": "grant_type",
                  "required": [
                    "grant_type",
                    "action"
                  ],
                  "mapping": {
                    "authorization_code": "#/components/schemas/TokenRequestWithClientSecret",
                    "refresh_token": "#/components/schemas/TokenRequestRefreshWithClientSecret"
                  }
                },
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "Must take the value ```requesttoken```."
                  }
                }
              }
            },
            "Using signature": {
              "schema": {
                "type": "object",
                "discriminator": {
                  "propertyName": "grant_type",
                  "required": [
                    "grant_type",
                    "action"
                  ],
                  "mapping": {
                    "authorization_code": "#/components/schemas/TokenRequestWithSignature",
                    "refresh_token": "#/components/schemas/TokenRequestRefreshWithSignature"
                  }
                },
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "Must take the value ```requesttoken```."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "userid": {
                          "type": "integer",
                          "description": "The id of the user.",
                          "example": 363
                        },
                        "access_token": {
                          "type": "string",
                          "description": "Your new Access Token.",
                          "example": "a075f8c14fb8df40b08ebc8508533dc332a6910a"
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "Your Refresh Token.",
                          "example": "f631236f02b991810feb774765b6ae8e6c6839ca"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Access token expiry delay in seconds.",
                          "example": 10800
                        },
                        "scope": {
                          "type": "string",
                          "description": "You can get only the scope that the user accepted with the Token you have. Scopes can be 'user.info' 'user.metrics' 'user.activity' 'user.sleepevents'  and must be separated by a coma.",
                          "example": "user.info,user.metrics"
                        },
                        "csrf_token": {
                          "type": "string",
                          "example": "PACnnxwHTaBQOzF7bQqwFUUotIuvtzSM"
                        },
                        "token_type": {
                          "type": "string",
                          "description": "HTTP Authorization Header format: Bearer",
                          "example": "Bearer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'requesttoken',\n\t'grant_type' => 'authorization_code',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'client_secret' => 'd9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f',\n\t'code' => 'mtwsikawoqleuroqcluggflrqilrnqbgqvqeuhhh',\n\t'redirect_uri' => 'https://www.withings.com'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=requesttoken&grant_type=authorization_code&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&client_secret=d9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f&code=mtwsikawoqleuroqcluggflrqilrnqbgqvqeuhhh&redirect_uri=https://www.withings.com\" 'https://wbsapi.withings.net/v2/oauth2'"
          }
        ]
      }
    },
    " https://wbsapi.withings.net/v2/oauth2": [],
    "  https://wbsapi.withings.net/v2/oauth2": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "**This service will only work for partners having signed a contract with Withings (Withings Mobile SDK or Withings Cellular).** To generate a new authorization code for standard end-user accounts, your user will have to authorize your application to the Web Authorization Flow again.<br/><br/>This service allows you to retrieve a new authorization code in the event that the refresh token is invalid for a user belonging to your namespace.\n",
        "summary": "OAuth 2.0 - Retrieve a new authorization code",
        "operationId": "oauth2-recoverauthorizationcode",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must take the string value ```recoverauthorizationcode```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Client ID```."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "userid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User's identifier"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "Authorization Code that must be used to retrieve access_token and refresh_token. (Read the \"Get access to your user's data\" section of your [integration guide](/developer-guide/v3/withings-solutions/integration-guides) to learn more about how to get this parameter.)",
                              "example": "490ed603fe9bd2ce10027bdba0c932069cd27085"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'recoverauthorizationcode',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'signature' => '58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2',\n\t'nonce' => 'c455541b8f9111689adb647d32fac07a6ffe462d',\n\t'userid' => 489418\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=recoverauthorizationcode&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&signature=58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2&nonce=c455541b8f9111689adb647d32fac07a6ffe462d&userid=489418\" 'https://wbsapi.withings.net/v2/oauth2'"
          }
        ]
      }
    },
    "   https://wbsapi.withings.net/v2/oauth2": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "This service allows you to get a list of all users that have authorized your application to fetch their data.\n\n**This service is limited to partners who are integrating with Withings Pro solutions. This service will only work for partners having signed a contract with Withings.**",
        "summary": "OAuth 2.0 - Get user list",
        "operationId": "oauth2-listusers",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must take the string value ```listusers```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Client ID```."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "hash_userid": {
                          "type": "string",
                          "example": "b1e4ea9c8bf584c8210ff308b19d656e15e9a074cd69178f833f687b95d8a2b5"
                        },
                        "userid": {
                          "type": "integer",
                          "description": "The id of the user.",
                          "example": 2685485
                        },
                        "email": {
                          "type": "string",
                          "description": "User's email address",
                          "example": "example@mailprovider.com"
                        },
                        "fully_owned": {
                          "type": "boolean",
                          "description": "Whether or not this user has been created by your oauth2 application. Having created the account gives your application additional rights on this account, such as automatically granted authorizations and access to the retrieve tokens webservice."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'listusers',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'signature' => '58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2',\n\t'nonce' => 'c455541b8f9111689adb647d32fac07a6ffe462d'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=listusers&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&signature=58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2&nonce=c455541b8f9111689adb647d32fac07a6ffe462d\" 'https://wbsapi.withings.net/v2/oauth2'"
          }
        ]
      }
    },
    "    https://wbsapi.withings.net/v2/oauth2": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "This service allows to revoke the access your application have been granted to a user's data. After calling this webservice, your access and refresh tokens for this user will become invalid, and the data update notifications for this user will be automatically unsubscribed.",
        "summary": "OAuth 2.0 - Revoke user access",
        "operationId": "oauth2-revoke",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must take the string value ```revoke```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Client ID```."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "userid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User's identifier."
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": []
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'revoke',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'signature' => '58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2',\n\t'nonce' => 'c455541b8f9111689adb647d32fac07a6ffe462d',\n\t'userid' => 489418\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=revoke&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&signature=58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2&nonce=c455541b8f9111689adb647d32fac07a6ffe462d&userid=489418\" 'https://wbsapi.withings.net/v2/oauth2'"
          }
        ]
      }
    },
    "     https://wbsapi.withings.net/v2/oauth2": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "This webservice gives your clientID access to a demo account containing dummy data",
        "summary": "OAuth 2.0 - Get access to demo account",
        "operationId": "oauth2-getdemoaccess",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must take the string value ```getdemoaccess```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Client ID```."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "scope_oauth2",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of permission scopes you want to ask your user for (see the [Index Data API](/developer-guide/v3/data-api/all-available-health-data) section to know which scope you should use)."
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "Your new Access Token.",
                          "example": "a075f8c14fb8df40b08ebc8508533dc332a6910a"
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "Your Refresh Token.",
                          "example": "f631236f02b991810feb774765b6ae8e6c6839ca"
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Access token expiry delay in seconds.",
                          "example": 10800
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getdemoaccess',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'signature' => '58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2',\n\t'nonce' => 'c455541b8f9111689adb647d32fac07a6ffe462d',\n\t'scope_oauth2' => 'user.activity,user.metrics'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=getdemoaccess&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&signature=58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2&nonce=c455541b8f9111689adb647d32fac07a6ffe462d&scope_oauth2=user.activity,user.metrics\" 'https://wbsapi.withings.net/v2/oauth2'"
          }
        ]
      }
    },
    "      https://wbsapi.withings.net/v2/oauth2": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "This service allows creation of a new OAuth 2.0 application.\n\n**This service is part of Withings Pro Solutions. You won't be able to use it if you did not sign a contract with Withings.\nUncontracted partners should use the developer dashboard to create their applications.**",
        "summary": "OAuth 2.0 - Create OAuth2.0 application",
        "operationId": "oauth2-createclient",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Must take the string value ```createclient```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Client ID```."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the OAuth2.0 application's name"
          },
          {
            "name": "description",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Brief summary of the application"
          },
          {
            "name": "intended_environment",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Indicates intended operation environment. Allowed values are: ```dev```, ```stage``` and ```prod```"
          },
          {
            "name": "intended_integrations",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array of strings"
            },
            "description": "Specifies Withings Solutions to be used. Allowed values are: ```app_to_app```, ```sdk```, ```cellular``` and ```logistics```"
          },
          {
            "name": "redirect_uris",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array of strings"
            },
            "description": "List of redirect uris"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "client_id": {
                          "type": "string",
                          "example": "1130b57432f560c3a686803901e56954f46082c9825a0a598a1a827c56177ca5"
                        },
                        "client_secret": {
                          "type": "string",
                          "example": "40eac75e29c642223793bbdd1faa85e9772638b542c016738b8106d64cc6c1ea"
                        },
                        "name": {
                          "type": "string",
                          "example": "App Name"
                        },
                        "desc": {
                          "type": "string",
                          "example": "App Description"
                        },
                        "img": {
                          "type": "string",
                          "example": "\\/uploads\\/image.png"
                        },
                        "is_restricted": {
                          "type": "boolean"
                        },
                        "organization_id": {
                          "type": "integer",
                          "example": 12345
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'createclient',\n\t'organization_id' => 12345,\n\t'name' => 'My OAuth2.0 Application',\n\t'description' => 'An OAuth2.0 Application',\n\t'redirect_uris' => '[\"https:\\\\/\\\\/www.withings.com\",\"https:\\\\/\\\\/www.test.com\"]',\n\t'intended_integrations' => '[\"app_to_app\"]',\n\t'intended_environment' => 'dev'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=createclient&organization_id=12345&name=My OAuth2.0 Application&description=An OAuth2.0 Application&redirect_uris=[\"https:\\\\/\\\\/www.withings.com\",\"https:\\\\/\\\\/www.test.com\"]&intended_integrations=[\"app_to_app\"]&intended_environment=dev\" 'https://wbsapi.withings.net/v2/oauth2'"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/measure": {
      "post": {
        "tags": [
          "measure"
        ],
        "description": "Provides measures stored at a specific date among the types below. Please refer to the following responses for details.",
        "summary": "Measure  - Getmeas",
        "operationId": "measure-getmeas",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```getmeas```."
          },
          {
            "name": "meastype",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Requested measure type :\n\n\n|Value | Description|\n|---|---|\n|1 | Weight (kg)|\n|4 | Height (meter)|\n|5 | Fat Free Mass (kg)|\n|6 | Fat Ratio (%)|\n|8 | Fat Mass Weight (kg)|\n|9 | Diastolic Blood Pressure (mmHg)|\n|10 | Systolic Blood Pressure (mmHg)|\n|11 | Heart Pulse (bpm) - only for BPM and scale devices|\n|12 | Temperature (celsius)|\n|54 | SP02 (%)|\n|71 | Body Temperature (celsius)|\n|73 | Skin Temperature (celsius)|\n|76 | Muscle Mass (kg)|\n|77 | Hydration (kg)|\n|88 | Bone Mass (kg)|\n|91 | Pulse Wave Velocity (m/s)|\n|123 | VO2 max is a numerical measurement of your body’s ability to consume oxygen (ml/min/kg).|\n|130 | Atrial fibrillation result|\n|135 | QRS interval duration based on ECG signal|\n|136 | PR interval duration based on ECG signal|\n|137 | QT interval duration based on ECG signal|\n|138 | Corrected QT interval duration based on ECG signal|\n|139 | Atrial fibrillation result from PPG|\n|155 | Vascular age|\n|167 | Nerve Health Score Conductance 2 electrodes Feet|\n|168 | Extracellular Water in kg|\n|169 | Intracellular Water in kg|\n|170 | Visceral Fat (without unity)|\n|173 | Fat Free Mass for segments|\n|174 | Fat Mass for segments in mass unit|\n|175 | Muscle Mass for segments|\n|196 | Electrodermal activity feet|\n|226 | Basal Metabolic Rate (BMR)|\n|227 | Metabolic Age|\n|229 | Electrochemical Skin Conductance (ESC)|\n"
          },
          {
            "name": "meastypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "list of integers"
            },
            "description": "List of requested measure types (separated by a comma).<br>Ex: meastypes=1,4,12"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "```1``` for real measures, ```2``` for user objectives."
          },
          {
            "name": "startdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Data start date as a unix timestamp.",
            "format": "timestamp"
          },
          {
            "name": "enddate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Data end date as a unix timestamp.",
            "format": "timestamp"
          },
          {
            "name": "lastupdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Timestamp for requesting data that were updated or created after this date.<br>Useful for data synchronization between systems.<br>Use this instead of startdate + enddate."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "When a first call returns ```more:1``` and ```offset:XX```, set value ```XX``` in this parameter to retrieve next available rows."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "updatetime": {
                          "type": "string",
                          "description": "Server time at which the answer was generated."
                        },
                        "timezone": {
                          "type": "string",
                          "description": "Timezone for the date."
                        },
                        "measuregrps": {
                          "type": "array",
                          "description": "For every measure/measurement made, a measure group is created. The measure group purpose is to group together measures that have been taken at the same time. For instance, when measuring blood pressure you will have a measure group with a systole measure, a diastole measure, and a heartrate measure. Every time a measure is create/updated/deleted, the corresponding measure group is updated.",
                          "items": {
                            "$ref": "#/components/schemas/measuregrp_object"
                          }
                        },
                        "more": {
                          "type": "integer",
                          "description": "To know if there is more data to fetch or not."
                        },
                        "offset": {
                          "type": "integer",
                          "description": "Offset to use to retrieve the next data."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/measure\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getmeas',\n\t'meastype' => 'meastype',\n\t'meastypes' => 'meastypes',\n\t'category' => 'category',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t'lastupdate' => 'int',\n\t'offset' => 'offset'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --header \"Authorization: Bearer YOUR_ACCESS_TOKEN\" --data \"action=getmeas&meastype=meastype&meastypes=meastypes&category=category&startdate=startdate&enddate=enddate&lastupdate=int&offset=offset\" 'https://wbsapi.withings.net/measure'"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/notify ": {
      "post": {
        "tags": [
          "notify"
        ],
        "description": "Returns the last notification service that was subscribed for a user and for a given appli. If no appli is specified, appli=1 will be considered.",
        "summary": "Notify  - Get",
        "operationId": "notify-get",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```get```."
          },
          {
            "name": "callbackurl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Callback URL```."
          },
          {
            "name": "appli",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Refer to the [Notifications section](/developer-guide/v3/data-api/notifications/notification-overview/) to know which value you should use."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "appli": {
                          "type": "integer",
                          "description": "Refer to the [Notifications section](/developer-guide/v3/data-api/notifications/notification-overview/) to know the meaning of each values.\n",
                          "example": 4
                        },
                        "callbackurl": {
                          "type": "string",
                          "description": "Callback url of the notification.",
                          "example": "https://www.withings.com"
                        },
                        "comment": {
                          "type": "string",
                          "description": "Comment entered when creating the notification configuration.",
                          "example": "My notification subcription comment"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --header \"Authorization: Bearer YOUR_ACCESS_TOKEN\" --data \"action=get&callbackurl=callbackurl&appli=appli\" 'https://wbsapi.withings.net/notify '"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/notify  ": {
      "post": {
        "tags": [
          "notify"
        ],
        "description": "Lists notification configuration for this user.",
        "summary": "Notify  - List",
        "operationId": "notify-list",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```list```."
          },
          {
            "name": "appli",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Refer to the [Notifications section](/developer-guide/v3/data-api/notifications/notification-overview/) to know which value you should use."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "profiles": {
                          "type": "array",
                          "description": "List of notification configurations for this user.",
                          "items": {
                            "$ref": "#/components/schemas/notify_object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'list',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --header \"Authorization: Bearer YOUR_ACCESS_TOKEN\" --data \"action=list&appli=appli\" 'https://wbsapi.withings.net/notify  '"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/notify    ": {
      "post": {
        "tags": [
          "notify"
        ],
        "description": "Disables all notifications for a given user.",
        "summary": "Notify  - Revoke",
        "operationId": "notify-revoke",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```revoke```."
          },
          {
            "name": "callbackurl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Callback URL```."
          },
          {
            "name": "appli",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Refer to the [Notifications section](/developer-guide/v3/data-api/notifications/notification-overview/) to know which value you should use."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": []
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify    \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'revoke',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --header \"Authorization: Bearer YOUR_ACCESS_TOKEN\" --data \"action=revoke&callbackurl=callbackurl&appli=appli\" 'https://wbsapi.withings.net/notify    '"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/notify": {
      "post": {
        "tags": [
          "notify"
        ],
        "description": "This service allows to receive notifications from Withings:\n\n- for the Health Data APIs : your application can subscribe to a variety or events, including user data  creation and updates. Notifications will be sent to your servers when the subscribed events occur. ([more information](/developer-guide/v3/data-api/notifications/notification-overview)). Please note that you need to subscribe for each individual user.\n- for the Logistics APIs: a notification will be sent when there is an order update ([more information](developer-guide/v3/integration-guide/dropship-only/logistics-api/observe-order-updates))\n- for partners integrating Withings Cellular Solutions or Withings Mobile SDK: you can use the ```NO_ACCOUNT_ASSOCIATED``` event to track unassociated devices . Please note you need to subscribe only once per application.\n\n**Note**: depending on your use case, the request parameters may change:\n\n- for the Health Data APIs: use a valid ```access_token``` in the header but don't use ```signature``` and ```nonce``` in the query parameters.\n- for the Logistics APIs: the subscription is done automatically an order is placed (please refer to the [dedicated documentation section](developer-guide/v3/integration-guide/dropship-only/logistics-api/observe-order-updates#how-to-receive-order-update-notifications))\n- for partners integrating Withings Cellular Solutions or Withings Mobile SDK, to subscribe to the ```NO_ACCOUNT_ASSOCIATED``` event (appli = 53): use ```signature``` and ```nonce``` parameters but don't include an ```access_token``` in the header.",
        "summary": "Notify  - Subscribe",
        "operationId": "notify-subscribe",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```subscribe```."
          },
          {
            "name": "callbackurl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Callback URL```."
          },
          {
            "name": "appli",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Refer to the [Notifications section](/developer-guide/v3/data-api/notifications/notification-overview/) to know which value you should use."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>Id of the client"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comment."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": []
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'subscribe',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'client_id' => 'client_id',\n\t'comment' => 'comment'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --header \"Authorization: Bearer YOUR_ACCESS_TOKEN\" --data \"action=subscribe&callbackurl=callbackurl&appli=appli&signature=signature&nonce=string&client_id=client_id&comment=comment\" 'https://wbsapi.withings.net/notify'"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/notify   ": {
      "post": {
        "tags": [
          "notify"
        ],
        "description": "Updates the ```callbackurl``` and/or ```appli``` of a created notification subscription. If multiple subscriptions were made for a given user, ```callbackurl``` and ```appli```, only one of the subscriptions will be updated.",
        "summary": "Notify  - Update",
        "operationId": "notify-update",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```update```."
          },
          {
            "name": "callbackurl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your ```Callback URL```."
          },
          {
            "name": "appli",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Refer to the [Notifications section](/developer-guide/v3/data-api/notifications/notification-overview/) to know which value you should use."
          },
          {
            "name": "new_callbackurl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DO NOT USE WITH FOLLOWING PARAMS: [new_appli, comment]<br>The new callback url."
          },
          {
            "name": "new_appli",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "DO NOT USE WITH FOLLOWING PARAMS: [new_callbackurl, comment]<br>The new application type."
          },
          {
            "name": "comment",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DO NOT USE WITH FOLLOWING PARAMS: [new_callbackurl, new_appli]<br>Comment."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": []
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'update',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli',\n\t'new_callbackurl' => 'new_callbackurl',\n\t'new_appli' => 'new_appli',\n\t'comment' => 'comment'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --header \"Authorization: Bearer YOUR_ACCESS_TOKEN\" --data \"action=update&callbackurl=callbackurl&appli=appli&new_callbackurl=new_callbackurl&new_appli=new_appli&comment=comment\" 'https://wbsapi.withings.net/notify   '"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/v2/answers": {
      "post": {
        "tags": [
          "answers"
        ],
        "description": "Answers v2  - Get",
        "summary": "Answers v2  - Get",
        "operationId": "answersv2-get",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```get```."
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Id of the client"
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))"
          },
          {
            "name": "userid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "rawint32"
            },
            "description": "User's identifier."
          },
          {
            "name": "startdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data start date as a unix timestamp.",
            "format": "timestamp"
          },
          {
            "name": "enddate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Data end date as a unix timestamp.",
            "format": "timestamp"
          },
          {
            "name": "surveyid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of a survey"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": {
                        "answers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/answers_list"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/answers\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'signature' => 'signature',\n\t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'userid' => 'rawint32',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t'surveyid' => 'string'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=get&signature=signature&client_id=client_id&nonce=string&userid=rawint32&startdate=startdate&enddate=enddate&surveyid=string\" 'https://wbsapi.withings.net/v2/answers'"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/v2/device  ": {
      "post": {
        "tags": [
          "device"
        ],
        "description": "Device v2  - Disablefeature",
        "summary": "Device v2  - Disablefeature",
        "operationId": "devicev2-disablefeature",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```disablefeature```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Id of the client"
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))"
          },
          {
            "name": "feature_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the feature to enable / disable. Cf [Feature Name List](/developer-guide/v3/integration-guide/features-api/features-api-enable#available-features)"
          },
          {
            "name": "userid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "rawint32"
            },
            "description": "User's identifier."
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Model integer value of a device or a consumable"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": []
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/device  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'disablefeature',\n\t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'feature_name' => 'string',\n\t'userid' => 'rawint32',\n\t'model' => 'int'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=disablefeature&client_id=client_id&signature=signature&nonce=string&feature_name=string&userid=rawint32&model=int\" 'https://wbsapi.withings.net/v2/device  '"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/v2/device ": {
      "post": {
        "tags": [
          "device"
        ],
        "description": "Device v2  - Enablefeature",
        "summary": "Device v2  - Enablefeature",
        "operationId": "devicev2-enablefeature",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```enablefeature```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Id of the client"
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))"
          },
          {
            "name": "feature_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the feature to enable / disable. Cf [Feature Name List](/developer-guide/v3/integration-guide/features-api/features-api-enable#available-features)"
          },
          {
            "name": "userid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "rawint32"
            },
            "description": "User's identifier."
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Model integer value of a device or a consumable"
          }
        ],
        "responses": {
          "200": {
            "description": " (Click to unfold)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "Response status. See <a href='#section/Response-status'>Status</a> section for details."
                    },
                    "body": {
                      "type": "object",
                      "description": "Response data.",
                      "properties": []
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/device \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'enablefeature',\n\t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'feature_name' => 'string',\n\t'userid' => 'rawint32',\n\t'model' => 'int'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
          },
          {
            "lang": "CURL",
            "source": "curl --data \"action=enablefeature&client_id=client_id&signature=signature&nonce=string&feature_name=string&userid=rawint32&model=int\" 'https://wbsapi.withings.net/v2/device '"
          }
        ]
      }
    },
    "https://wbsapi.withings.net/v2/device": {
      "post": {
        "tags": [
          "device"
        ],
        "description": "**Important:** Read the [Terminate Device](/developer-guide/v3/get-access/terminatecellular/) Section before calling this webservice.",
        "summary": "Device v2  - Endpartnerprogram",
        "operationId": "devicev2-endpartnerprogram",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service action name. Must take the string value ```endpartnerprogram```."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Id of the client"
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hash of params (Cf. [Signature hash protocol](/developer-guide/v3/get-access/sign-your-requests))."
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
[...]
