{
  "openapi": "3.0.3",
  "info": {
    "title": "Online Pharmacy Ordering System API",
    "version": "1.0.0",
    "description": "API contract for distributed microservices: Auth, Inventory, Order, Payment, and Notification services.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/distributedsystem/onlinePharmacyOrderDs/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.online-pharmacy.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user or pharmacy",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login user or pharmacy",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inventory/medicines": {
      "get": {
        "summary": "Search medicines by name",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching medicines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Medicine"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add new medicine (pharmacy only)",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedicineCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Medicine added"
          }
        }
      }
    },
    "/inventory/medicines/{medicineId}/stock": {
      "patch": {
        "summary": "Update medicine stock level",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "medicineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock updated"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Create a new medicine order",
        "tags": [
          "Order"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get user order history",
        "tags": [
          "Order"
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/status": {
      "patch": {
        "summary": "Update status (pharmacy or system)",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderStatusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order status updated"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "summary": "Initiate payment for an order",
        "tags": [
          "Payment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/status": {
      "get": {
        "summary": "Check payment status",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/order-status": {
      "post": {
        "summary": "Receive order-status update event (from Order Service)",
        "tags": [
          "Notification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification processed"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "pharmacy"
            ]
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Medicine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "stock": {
            "type": "integer"
          },
          "pharmacyId": {
            "type": "string"
          }
        }
      },
      "MedicineCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "stock": {
            "type": "integer"
          }
        }
      },
      "StockUpdate": {
        "type": "object",
        "properties": {
          "stock": {
            "type": "integer"
          }
        }
      },
      "OrderCreate": {
        "type": "object",
        "properties": {
          "medicines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "medicineId": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "prescriptionUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "preparing",
              "ready",
              "delivered",
              "cancelled"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "medicineId": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "totalPrice": {
            "type": "number"
          }
        }
      },
      "OrderStatusUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "preparing",
              "ready",
              "delivered",
              "cancelled"
            ]
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "wallet",
              "bank",
              "card"
            ]
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "initiated",
              "paid",
              "failed"
            ]
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "OrderNotification": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "newStatus": {
            "type": "string"
          }
        }
      }
    }
  }
}