{
  "openapi": "3.0.3",
  "info": {
    "title": "RescueGroups API",
    "description": "RescueGroups.org API v5 provides access to animal welfare data including animals available for adoption, organizations, events, and media. Uses JSON:API specification format.",
    "version": "5.0.0",
    "x-jentic-source-url": "https://api.rescuegroups.org/v5",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.rescuegroups.org/v5",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Animals",
      "description": "Animal listings and details"
    },
    {
      "name": "Organizations",
      "description": "Rescue group and shelter information"
    },
    {
      "name": "Events",
      "description": "Adoption events"
    },
    {
      "name": "Media",
      "description": "Photos and videos"
    },
    {
      "name": "Breeds",
      "description": "Animal breed data"
    },
    {
      "name": "Colors",
      "description": "Animal color data"
    },
    {
      "name": "Patterns",
      "description": "Animal pattern data"
    },
    {
      "name": "Species",
      "description": "Animal species data"
    },
    {
      "name": "Statuses",
      "description": "Animal status data"
    },
    {
      "name": "Locations",
      "description": "Organization location data"
    }
  ],
  "paths": {
    "/public/animals": {
      "get": {
        "operationId": "listPublicAnimals",
        "summary": "List animals available for adoption",
        "tags": [
          "Animals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of animals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List animals available for adoption"
      }
    },
    "/public/animals/{id}": {
      "get": {
        "operationId": "getPublicAnimal",
        "summary": "Get animal details",
        "tags": [
          "Animals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Animal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Animal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get animal details"
      }
    },
    "/public/animals/search": {
      "post": {
        "operationId": "searchPublicAnimals",
        "summary": "Search animals with advanced filters",
        "tags": [
          "Animals"
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "filterRadius": {
                        "type": "object",
                        "properties": {
                          "miles": {
                            "type": "integer"
                          },
                          "postalcode": {
                            "type": "string"
                          }
                        }
                      },
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fieldName": {
                              "type": "string"
                            },
                            "operation": {
                              "type": "string"
                            },
                            "criteria": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Search animals with advanced filters"
      }
    },
    "/public/animals/{animalId}/pictures": {
      "get": {
        "operationId": "getAnimalPictures",
        "summary": "Get pictures for an animal",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "animalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Animal pictures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get pictures for an animal"
      }
    },
    "/public/animals/{animalId}/videos": {
      "get": {
        "operationId": "getAnimalVideos",
        "summary": "Get videos for an animal",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "animalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Animal videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get videos for an animal"
      }
    },
    "/public/orgs": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List rescue organizations",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List rescue organizations"
      }
    },
    "/public/orgs/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization details",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get organization details"
      }
    },
    "/public/orgs/search": {
      "post": {
        "operationId": "searchOrganizations",
        "summary": "Search organizations",
        "tags": [
          "Organizations"
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Search organizations"
      }
    },
    "/public/orgs/{orgId}/animals": {
      "get": {
        "operationId": "getOrgAnimals",
        "summary": "Get animals for an organization",
        "tags": [
          "Animals"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization's animals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get animals for an organization"
      }
    },
    "/public/orgs/{orgId}/events": {
      "get": {
        "operationId": "getOrgEvents",
        "summary": "Get events for an organization",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization's events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get events for an organization"
      }
    },
    "/public/orgs/{orgId}/locations": {
      "get": {
        "operationId": "getOrgLocations",
        "summary": "Get locations for an organization",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization locations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get locations for an organization"
      }
    },
    "/public/animals/breeds": {
      "get": {
        "operationId": "listBreeds",
        "summary": "List animal breeds",
        "tags": [
          "Breeds"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of breeds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List animal breeds"
      }
    },
    "/public/animals/breeds/{id}": {
      "get": {
        "operationId": "getBreed",
        "summary": "Get breed details",
        "tags": [
          "Breeds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Breed details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get breed details"
      }
    },
    "/public/animals/breeds/search": {
      "post": {
        "operationId": "searchBreeds",
        "summary": "Search breeds",
        "tags": [
          "Breeds"
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Breed search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Search breeds"
      }
    },
    "/public/animals/colors": {
      "get": {
        "operationId": "listColors",
        "summary": "List animal colors",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of colors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List animal colors"
      }
    },
    "/public/animals/colors/{id}": {
      "get": {
        "operationId": "getColor",
        "summary": "Get color details",
        "tags": [
          "Colors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Color details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get color details"
      }
    },
    "/public/animals/patterns": {
      "get": {
        "operationId": "listPatterns",
        "summary": "List animal patterns",
        "tags": [
          "Patterns"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of patterns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List animal patterns"
      }
    },
    "/public/animals/patterns/{id}": {
      "get": {
        "operationId": "getPattern",
        "summary": "Get pattern details",
        "tags": [
          "Patterns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pattern details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get pattern details"
      }
    },
    "/public/animals/species": {
      "get": {
        "operationId": "listSpecies",
        "summary": "List animal species",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of species",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List animal species"
      }
    },
    "/public/animals/species/{id}": {
      "get": {
        "operationId": "getSpecies",
        "summary": "Get species details",
        "tags": [
          "Species"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Species details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get species details"
      }
    },
    "/public/animals/statuses": {
      "get": {
        "operationId": "listStatuses",
        "summary": "List animal statuses",
        "tags": [
          "Statuses"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List animal statuses"
      }
    },
    "/public/animals/statuses/{id}": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get status details",
        "tags": [
          "Statuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get status details"
      }
    },
    "/public/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            },
            "description": "Results per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field (prefix with - for desc)"
          },
          {
            "name": "fields[{type}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sparse fieldsets"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include related resources"
          },
          {
            "name": "filter[{field}]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by field value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List events"
      }
    },
    "/public/events/{id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event details",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get event details"
      }
    },
    "/public/events/search": {
      "post": {
        "operationId": "searchEvents",
        "summary": "Search events",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Search events"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication via Authorization header"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "source": {
                  "type": "object"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string"
              }
            }
          }
        }
      },
      "JsonApiDocument": {
        "type": "object",
        "properties": {
          "data": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Resource"
                }
              },
              {
                "$ref": "#/components/schemas/Resource"
              }
            ]
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "countReturned": {
                "type": "integer"
              },
              "pageReturned": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "pages": {
                "type": "integer"
              },
              "transactionId": {
                "type": "string"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string"
              },
              "first": {
                "type": "string"
              },
              "prev": {
                "type": "string",
                "nullable": true
              },
              "next": {
                "type": "string",
                "nullable": true
              },
              "last": {
                "type": "string"
              }
            }
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          },
          "links": {
            "type": "object"
          }
        }
      },
      "Animal": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "animals"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "breedPrimary": {
                "type": "string"
              },
              "breedSecondary": {
                "type": "string",
                "nullable": true
              },
              "species": {
                "type": "string"
              },
              "sex": {
                "type": "string"
              },
              "ageGroup": {
                "type": "string"
              },
              "ageString": {
                "type": "string"
              },
              "sizeGroup": {
                "type": "string"
              },
              "colorDetails": {
                "type": "string",
                "nullable": true
              },
              "descriptionText": {
                "type": "string"
              },
              "descriptionHtml": {
                "type": "string"
              },
              "isAdoptionPending": {
                "type": "boolean"
              },
              "isCourtesyListing": {
                "type": "boolean"
              },
              "isCurrentVaccinations": {
                "type": "boolean"
              },
              "isDeclawed": {
                "type": "boolean"
              },
              "isHousetrained": {
                "type": "boolean"
              },
              "isMicrochipped": {
                "type": "boolean"
              },
              "isMixedBreed": {
                "type": "boolean"
              },
              "isNeedingFoster": {
                "type": "boolean"
              },
              "isSpecialNeeds": {
                "type": "boolean"
              },
              "isSpayedNeutered": {
                "type": "boolean"
              },
              "birthDate": {
                "type": "string",
                "nullable": true
              },
              "foundDate": {
                "type": "string",
                "nullable": true
              },
              "adoptedDate": {
                "type": "string",
                "nullable": true
              },
              "activityLevel": {
                "type": "string",
                "nullable": true
              },
              "indoorOutdoor": {
                "type": "string",
                "nullable": true
              },
              "isGoodWithCats": {
                "type": "string",
                "nullable": true
              },
              "isGoodWithDogs": {
                "type": "string",
                "nullable": true
              },
              "isGoodWithChildren": {
                "type": "string",
                "nullable": true
              },
              "pictureThumbnailUrl": {
                "type": "string",
                "nullable": true
              },
              "pictureUrl": {
                "type": "string",
                "nullable": true
              },
              "createdDate": {
                "type": "string"
              },
              "updatedDate": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "relationships": {
            "type": "object"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "orgs"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "street": {
                "type": "string",
                "nullable": true
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postalcode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "phone": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "nullable": true
              },
              "url": {
                "type": "string",
                "nullable": true
              },
              "facebookUrl": {
                "type": "string",
                "nullable": true
              },
              "type": {
                "type": "string"
              },
              "about": {
                "type": "string",
                "nullable": true
              },
              "services": {
                "type": "string",
                "nullable": true
              },
              "adoptionProcess": {
                "type": "string",
                "nullable": true
              },
              "lat": {
                "type": "number",
                "nullable": true
              },
              "lon": {
                "type": "number",
                "nullable": true
              },
              "isCommonapplicationAccepted": {
                "type": "boolean"
              },
              "citystate": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
