{
  "openapi": "3.0.3",
  "info": {
    "title": "Arize Phoenix API",
    "version": "1.0.0",
    "description": "Arize Phoenix (AX) is an AI observability and evaluation platform. Provides REST API for managing traces, spans, datasets, experiments, evaluations, and annotations for LLM applications.",
    "x-jentic-source-url": "https://docs.arize.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.phoenix.arize.com"
    }
  ],
  "paths": {
    "/v1/traces": {
      "post": {
        "operationId": "ingestTraces",
        "summary": "Ingest traces",
        "description": "Ingest OpenTelemetry traces via OTLP HTTP/protobuf format.",
        "tags": [
          "Traces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Traces ingested"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List datasets",
        "tags": [
          "Datasets"
        ],
        "responses": {
          "200": {
            "description": "Dataset list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List datasets"
      },
      "post": {
        "operationId": "createDataset",
        "summary": "Create dataset",
        "tags": [
          "Datasets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create dataset"
      }
    },
    "/v1/datasets/{datasetId}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Get dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get dataset"
      },
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Delete dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dataset deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete dataset"
      }
    },
    "/v1/datasets/{datasetId}/examples": {
      "get": {
        "operationId": "listDatasetExamples",
        "summary": "List dataset examples",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset examples",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExampleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List dataset examples"
      },
      "post": {
        "operationId": "addDatasetExamples",
        "summary": "Add examples to dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "examples": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DatasetExample"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Examples added"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add examples to dataset"
      }
    },
    "/v1/datasets/{datasetId}/versions": {
      "get": {
        "operationId": "listDatasetVersions",
        "summary": "List dataset versions",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetVersion"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List dataset versions"
      }
    },
    "/v1/experiments": {
      "get": {
        "operationId": "listExperiments",
        "summary": "List experiments",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List experiments"
      },
      "post": {
        "operationId": "createExperiment",
        "summary": "Create experiment",
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Experiment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create experiment"
      }
    },
    "/v1/experiments/{experimentId}": {
      "get": {
        "operationId": "getExperiment",
        "summary": "Get experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get experiment"
      }
    },
    "/v1/span_annotations": {
      "post": {
        "operationId": "createSpanAnnotations",
        "summary": "Create span annotations",
        "description": "Add evaluation annotations to spans for quality assessment.",
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SpanAnnotation"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotations created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/trace_annotations": {
      "post": {
        "operationId": "createTraceAnnotations",
        "summary": "Create trace annotations",
        "description": "Add evaluation annotations to traces.",
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TraceAnnotation"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotations created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "example_count": {
            "type": "integer"
          }
        }
      },
      "CreateDatasetRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "DatasetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        }
      },
      "DatasetExample": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "input": {
            "type": "object"
          },
          "output": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExampleListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatasetExample"
            }
          }
        }
      },
      "DatasetVersion": {
        "type": "object",
        "properties": {
          "version_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Experiment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "dataset_id": {
            "type": "string"
          },
          "dataset_version_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "repetitions": {
            "type": "integer"
          },
          "metadata": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateExperimentRequest": {
        "type": "object",
        "required": [
          "dataset_id"
        ],
        "properties": {
          "dataset_id": {
            "type": "string"
          },
          "dataset_version_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "repetitions": {
            "type": "integer",
            "default": 1
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "ExperimentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Experiment"
            }
          }
        }
      },
      "SpanAnnotation": {
        "type": "object",
        "properties": {
          "span_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "annotator_kind": {
            "type": "string",
            "enum": [
              "LLM",
              "HUMAN"
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "score": {
                "type": "number"
              },
              "explanation": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "TraceAnnotation": {
        "type": "object",
        "properties": {
          "trace_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "annotator_kind": {
            "type": "string",
            "enum": [
              "LLM",
              "HUMAN"
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "score": {
                "type": "number"
              },
              "explanation": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Phoenix API key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Annotations"
    },
    {
      "name": "Datasets"
    },
    {
      "name": "Experiments"
    },
    {
      "name": "Traces"
    }
  ]
}
