{
  "openapi": "3.0.2",
  "info": {
    "title": "Procurement Integrator Sysnet API",
    "description": "\n## Authorization\nWe use bearer auth throughout the API. Generally, API requests should have the follow header:  \n{  \n    \"content-type\": \"application/json\",  \n    \"Authorization\": \"Bearer TOKEN_GOES_HERE\"  \n}  \nPlease refer to the Auth section immediately below for details on getting your token.",
    "contact": {
      "name": "H&L Support",
      "url": "http://www.hlpos.com",
      "email": "support@hlpos.com"
    },
    "version": "1.0.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hlaustralia/sysnet-api-develop-procintegrator/1.0.4"
  },
  "servers": [
    {
      "url": "https://develop-sysnet-api.hlcloud.com.au",
      "description": "The developer API server"
    },
    {
      "url": "https://staging-sysnet-api.hlcloud.com.au",
      "description": "The testers API server"
    },
    {
      "url": "https://sysnet-api.hlcloud.com.au",
      "description": "The production API server"
    }
  ],
  "paths": {
    "/PurchaseOrderDetails/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of PurchaseOrderDetail objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchPurchaseOrderDetailView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "PurchaseOrderDetail not found"
          }
        },
        "tags": [
          "PurchaseOrderDetails"
        ],
        "description": "Search for PurchaseOrderDetail objects",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PurchaseOrderDetailList",
                "FKExternalKeys",
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nPurchaseOrderDetailList\n\n - **SupplierInventoryCode:** supplierInventoryCode\n - **Stock:** name, innersPerOuter, inners, outers, lastCost, expectedCostPerOuter\n - **PurchaseOrderHeader:** locationId, processed\n - **Factor:** divider\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: purchaseOrderHeaderId, stockId, supplierInventoryCodeId, factorId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: purchaseOrderDetailId, purchaseOrderHeaderId, stockId, supplierInventoryCodeId, factorId, unitQtyToOrder, qtyToOrder, totalInnersToOrder, costPerOuter, totalCost, qtyInStock, qtyRequired, qtyOnOrder.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: purchaseOrderDetailId, purchaseOrderHeaderId, stockId, supplierInventoryCodeId, factorId, unitQtyToOrder, qtyToOrder, totalInnersToOrder, costPerOuter, totalCost, qtyInStock, qtyRequired, qtyOnOrder.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is purchaseOrderDetailId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - purchaseOrderDetailId would sort by updateDateTime ascending and then purchaseOrderDetailId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "purchaseOrderDetailId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier of this record.<br><b>integer:</b> This parameter searches the purchaseOrderDetailId field and returns all available results that match. \n\nYou can use >10 to search for all purchaseOrderDetailIds greater than 10. You can use [1,2,3] to search for purchaseOrderDetailIds that match either 1, 2 or 3. You can use this parameter multiple times. eg purchaseOrderDetailId=>5& purchaseOrderDetailId=<10 would search for all purchaseOrderDetailIds between 5 and 10."
          },
          {
            "name": "purchaseOrderHeaderId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the PurchaseOrderHeaders Table<br><b>integer:</b> This parameter searches the purchaseOrderHeaderId field and returns all available results that match. \n\nYou can use >10 to search for all purchaseOrderHeaderIds greater than 10. You can use [1,2,3] to search for purchaseOrderHeaderIds that match either 1, 2 or 3. You can use this parameter multiple times. eg purchaseOrderHeaderId=>5& purchaseOrderHeaderId=<10 would search for all purchaseOrderHeaderIds between 5 and 10."
          },
          {
            "name": "stockId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the Stock Table<br><b>integer:</b> This parameter searches the stockId field and returns all available results that match. \n\nYou can use >10 to search for all stockIds greater than 10. You can use [1,2,3] to search for stockIds that match either 1, 2 or 3. You can use this parameter multiple times. eg stockId=>5& stockId=<10 would search for all stockIds between 5 and 10."
          },
          {
            "name": "supplierInventoryCodeId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the SupplierInventoryCodes Table<br><b>integer:</b> This parameter searches the supplierInventoryCodeId field and returns all available results that match. \n\nYou can use >10 to search for all supplierInventoryCodeIds greater than 10. You can use [1,2,3] to search for supplierInventoryCodeIds that match either 1, 2 or 3. You can use this parameter multiple times. eg supplierInventoryCodeId=>5& supplierInventoryCodeId=<10 would search for all supplierInventoryCodeIds between 5 and 10."
          },
          {
            "name": "unitType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the unitType field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "factorId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the Factors Table<br><b>integer:</b> This parameter searches the factorId field and returns all available results that match. \n\nYou can use >10 to search for all factorIds greater than 10. You can use [1,2,3] to search for factorIds that match either 1, 2 or 3. You can use this parameter multiple times. eg factorId=>5& factorId=<10 would search for all factorIds between 5 and 10."
          },
          {
            "name": "unitQtyToOrder",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the unitQtyToOrder field and returns all available results that match. \n\nYou can use >10 to search for all unitQtyToOrders greater than 10. You can use [1,2,3] to search for unitQtyToOrders that match either 1, 2 or 3. You can use this parameter multiple times. eg unitQtyToOrder=>5& unitQtyToOrder=<10 would search for all unitQtyToOrders between 5 and 10."
          },
          {
            "name": "qtyToOrder",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the qtyToOrder field and returns all available results that match. \n\nYou can use >10 to search for all qtyToOrders greater than 10. You can use [1,2,3] to search for qtyToOrders that match either 1, 2 or 3. You can use this parameter multiple times. eg qtyToOrder=>5& qtyToOrder=<10 would search for all qtyToOrders between 5 and 10."
          },
          {
            "name": "totalInnersToOrder",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the totalInnersToOrder field and returns all available results that match. \n\nYou can use >10 to search for all totalInnersToOrders greater than 10. You can use [1,2,3] to search for totalInnersToOrders that match either 1, 2 or 3. You can use this parameter multiple times. eg totalInnersToOrder=>5& totalInnersToOrder=<10 would search for all totalInnersToOrders between 5 and 10."
          },
          {
            "name": "costPerOuter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the costPerOuter field and returns all available results that match. \n\nYou can use >10 to search for all costPerOuters greater than 10. You can use [1,2,3] to search for costPerOuters that match either 1, 2 or 3. You can use this parameter multiple times. eg costPerOuter=>5& costPerOuter=<10 would search for all costPerOuters between 5 and 10."
          },
          {
            "name": "totalCost",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the totalCost field and returns all available results that match. \n\nYou can use >10 to search for all totalCosts greater than 10. You can use [1,2,3] to search for totalCosts that match either 1, 2 or 3. You can use this parameter multiple times. eg totalCost=>5& totalCost=<10 would search for all totalCosts between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "name": "qtyInStock",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the qtyInStock field and returns all available results that match. \n\nYou can use >10 to search for all qtyInStocks greater than 10. You can use [1,2,3] to search for qtyInStocks that match either 1, 2 or 3. You can use this parameter multiple times. eg qtyInStock=>5& qtyInStock=<10 would search for all qtyInStocks between 5 and 10."
          },
          {
            "name": "qtyRequired",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the qtyRequired field and returns all available results that match. \n\nYou can use >10 to search for all qtyRequireds greater than 10. You can use [1,2,3] to search for qtyRequireds that match either 1, 2 or 3. You can use this parameter multiple times. eg qtyRequired=>5& qtyRequired=<10 would search for all qtyRequireds between 5 and 10."
          },
          {
            "name": "qtyOnOrder",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>number:</b> This parameter searches the qtyOnOrder field and returns all available results that match. \n\nYou can use >10 to search for all qtyOnOrders greater than 10. You can use [1,2,3] to search for qtyOnOrders that match either 1, 2 or 3. You can use this parameter multiple times. eg qtyOnOrder=>5& qtyOnOrder=<10 would search for all qtyOnOrders between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/externalKey"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      }
    },
    "/PurchaseOrderDetails/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An PurchaseOrderDetail object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPurchaseOrderDetailView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "PurchaseOrderDetail not found"
          }
        },
        "tags": [
          "PurchaseOrderDetails"
        ],
        "description": "Gets a PurchaseOrderDetail object",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys",
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/PurchaseOrderDetails/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An PurchaseOrderDetail object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPurchaseOrderDetailView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "PurchaseOrderDetail not found"
          }
        },
        "tags": [
          "PurchaseOrderDetails"
        ],
        "description": "Gets a PurchaseOrderDetail object",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys",
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\nFKExternalKeys\n\n - **PurchaseOrderHeaderIdFKObject:** purchaseOrderHeaderId, externalKeys\n - **StockIdFKObject:** stockId, externalKeys\n - **SupplierInventoryCodeIdFKObject:** supplierInventoryCodeId, externalKeys\n - **FactorIdFKObject:** factorId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/PurchaseOrderHeaders/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of PurchaseOrderHeader objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchPurchaseOrderHeaderView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "PurchaseOrderHeader not found"
          }
        },
        "tags": [
          "PurchaseOrderHeaders"
        ],
        "description": "Search for PurchaseOrderHeader objects",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PurchaseOrderHeaderList",
                "FKExternalKeys",
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nPurchaseOrderHeaderList\n\n - **Location:** locationId, number, name\n - **Supplier:** supplierId, name, code\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: supplierId, locationId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: purchaseOrderHeaderId, supplierId, locationId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: purchaseOrderHeaderId, supplierId, locationId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is purchaseOrderHeaderId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - purchaseOrderHeaderId would sort by updateDateTime ascending and then purchaseOrderHeaderId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "purchaseOrderHeaderId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier of this record.<br><b>integer:</b> This parameter searches the purchaseOrderHeaderId field and returns all available results that match. \n\nYou can use >10 to search for all purchaseOrderHeaderIds greater than 10. You can use [1,2,3] to search for purchaseOrderHeaderIds that match either 1, 2 or 3. You can use this parameter multiple times. eg purchaseOrderHeaderId=>5& purchaseOrderHeaderId=<10 would search for all purchaseOrderHeaderIds between 5 and 10."
          },
          {
            "name": "orderNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the orderNumber field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "supplierId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the Suppliers Table<br><b>integer:</b> This parameter searches the supplierId field and returns all available results that match. \n\nYou can use >10 to search for all supplierIds greater than 10. You can use [1,2,3] to search for supplierIds that match either 1, 2 or 3. You can use this parameter multiple times. eg supplierId=>5& supplierId=<10 would search for all supplierIds between 5 and 10."
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the VenueLocations Table<br><b>integer:</b> This parameter searches the locationId field and returns all available results that match. \n\nYou can use >10 to search for all locationIds greater than 10. You can use [1,2,3] to search for locationIds that match either 1, 2 or 3. You can use this parameter multiple times. eg locationId=>5& locationId=<10 would search for all locationIds between 5 and 10."
          },
          {
            "name": "processed",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>boolean:</b>"
          },
          {
            "name": "processedByUserId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the processedByUserId field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "dateOrdered",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>string:</b> This parameter searches the dateOrdered field and returns all available results that match. \n\nYou can use >12 jan 2020 5:30:20 GMT+10:30 to search for all dateOrdereds greater than 12 jan 2020 5:30:20 GMT+10:30. You can use [1,2,3] to search for dateOrdereds that match either 1, 2 or 3. You can use this parameter multiple times. eg dateOrdered=>12 jan 2020 5:30:20 GMT+10:30& dateOrdered=<12 jan 2020 5:30:20 GMT+10:30 would search for all dateOrdereds between 12 jan 2020 5:30:20 GMT+10:30 and 14 jan 2020 5:30:20 GMT+10:30."
          },
          {
            "name": "comment",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the comment field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryInstructions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryInstructions field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "emailSent",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>boolean:</b>"
          },
          {
            "name": "requiredDateTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>string:</b> This parameter searches the requiredDateTime field and returns all available results that match. \n\nThis is a 'relativeDateTime' field. It is relative to the timezone a user resides in and is not an absolute point in time.\nYou can use [12 jan 2020 5:30:20,12 jan 2020 5:30:20] to search for requiredDateTimes that match either 12 jan 2020 5:30:20 or 12 jan 2020 5:30:20."
          },
          {
            "name": "isCreditCharge",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>boolean:</b>"
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "name": "createdByUserId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the createdByUserId field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyLogo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyLogo field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyName field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyTradingAs",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyTradingAs field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "businessNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the businessNumber field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyNumber field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyAddress1",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyAddress1 field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyAddress2",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyAddress2 field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companySuburb",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companySuburb field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyState",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyState field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyPostalCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyPostalCode field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryAddress1",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryAddress1 field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryAddress2",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryAddress2 field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliverySuburb",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliverySuburb field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryState",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryState field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryPostalCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryPostalCode field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryEmail",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryEmail field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "deliveryContactNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the deliveryContactNumber field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyWebsite",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyWebsite field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyEmail",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyEmail field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "companyPhone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the companyPhone field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "received",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>boolean:</b>"
          },
          {
            "$ref": "#/components/parameters/externalKey"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      }
    },
    "/PurchaseOrderHeaders/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An PurchaseOrderHeader object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPurchaseOrderHeaderView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "PurchaseOrderHeader not found"
          }
        },
        "tags": [
          "PurchaseOrderHeaders"
        ],
        "description": "Gets a PurchaseOrderHeader object",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PurchaseOrderHeaderWithDetails",
                "FKExternalKeys",
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nPurchaseOrderHeaderWithDetails\n\n - **Location:** name, tradingName, addressLine1, addressLine2, suburbName, state, postCode, workPhone, email\n - **Supplier:** name, fax, workPhone, addressLine1, addressLine2, email, suburbName, postcode, state, abn, acn\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/PurchaseOrderHeaders/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An PurchaseOrderHeader object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPurchaseOrderHeaderView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "PurchaseOrderHeader not found"
          }
        },
        "tags": [
          "PurchaseOrderHeaders"
        ],
        "description": "Gets a PurchaseOrderHeader object",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PurchaseOrderHeaderWithDetails",
                "FKExternalKeys",
                "FKExternalKeys",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nPurchaseOrderHeaderWithDetails\n\n - **Location:** name, tradingName, addressLine1, addressLine2, suburbName, state, postCode, workPhone, email\n - **Supplier:** name, fax, workPhone, addressLine1, addressLine2, email, suburbName, postcode, state, abn, acn\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\nFKExternalKeys\n\n - **SupplierIdFKObject:** supplierId, externalKeys\n - **LocationIdFKObject:** locationId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/integration/invoices": {
      "post": {
        "responses": {
          "200": {
            "description": "Invoice successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationInvoiceErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                }
              }
            }
          }
        },
        "tags": [
          "Integration"
        ],
        "description": "As a third party system, this API endpoint allows for the creation of invoices in the HAL Sysnet system. It handles validation, processing, and storage of invoice data.<br><br>You will need to have the following data accesses assigned to your user to use this route: sc_insert_invoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationInvoiceRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/integration/purchaseOrders/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Purchase Order details successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dateOrdered": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when the order was placed (ISO 8601 format)",
                      "example": "2025-04-04T03:20:00.000Z"
                    },
                    "purchaseOrderHeaderId": {
                      "type": "integer",
                      "description": "Unique ID of the purchase order header",
                      "example": 1
                    },
                    "total": {
                      "type": "number",
                      "description": "Total cost of the order",
                      "example": 1000
                    },
                    "purchaseOrderNo": {
                      "type": "string",
                      "description": "Purchase order number",
                      "example": "PO-2"
                    },
                    "deliveryInstructions": {
                      "type": "string",
                      "description": "Special instructions for delivery",
                      "example": "Please deliver to loading dock at rear of building"
                    },
                    "requiredDateTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when delivery is required (ISO 8601 format)",
                      "example": "2025-04-10T00:00:00.000Z"
                    },
                    "comment": {
                      "type": "string",
                      "description": "Additional comments",
                      "example": "Monthly bar order"
                    },
                    "isCreditClaim": {
                      "type": "boolean",
                      "description": "Whether the order is a credit claim",
                      "example": false
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Legal name of the company placing the order",
                      "example": "Skyward Hotels"
                    },
                    "companyTradingAs": {
                      "type": "string",
                      "description": "Trading name (if different from companyName)",
                      "example": "Skyward Adelaide"
                    },
                    "businessNumber": {
                      "type": "string",
                      "description": "Business Number (ABN or similar)",
                      "example": "12345678901"
                    },
                    "companyNumber": {
                      "type": "string",
                      "description": "Company registration number",
                      "example": "ACN12345678"
                    },
                    "companyAddress1": {
                      "type": "string",
                      "description": "Primary address line",
                      "example": "123 Main Street"
                    },
                    "companyAddress2": {
                      "type": "string",
                      "description": "Secondary address line",
                      "example": "Level 5"
                    },
                    "companySuburb": {
                      "type": "string",
                      "description": "Company suburb",
                      "example": "Adelaide"
                    },
                    "companyState": {
                      "type": "string",
                      "description": "Company state",
                      "example": "SA"
                    },
                    "companyPostalCode": {
                      "type": "string",
                      "description": "Postal code for the company",
                      "example": "5000"
                    },
                    "deliveryAddress1": {
                      "type": "string",
                      "description": "Delivery address line 1",
                      "example": "123 Main Street"
                    },
                    "deliveryAddress2": {
                      "type": "string",
                      "description": "Delivery address line 2",
                      "example": "Loading Dock"
                    },
                    "deliverySuburb": {
                      "type": "string",
                      "description": "Delivery suburb",
                      "example": "Adelaide"
                    },
                    "deliveryState": {
                      "type": "string",
                      "description": "Delivery state",
                      "example": "SA"
                    },
                    "deliveryPostalCode": {
                      "type": "string",
                      "description": "Postal code for delivery",
                      "example": "5000"
                    },
                    "deliveryEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "Delivery contact email",
                      "example": "receiving@skywardhotels.com"
                    },
                    "deliveryContactNumber": {
                      "type": "string",
                      "description": "Delivery contact number",
                      "example": "08 8123 4567"
                    },
                    "companyWebsite": {
                      "type": "string",
                      "format": "uri",
                      "description": "Company website",
                      "example": "www.skywardhotels.com"
                    },
                    "companyEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "Company general email",
                      "example": "info@skywardhotels.com"
                    },
                    "companyPhone": {
                      "type": "string",
                      "description": "Company main phone number",
                      "example": "08 8123 4567"
                    },
                    "Supplier": {
                      "type": "object",
                      "description": "Supplier information",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Supplier's company name",
                          "example": "AMPHORA WINE GROUP"
                        },
                        "accountNo": {
                          "type": "string",
                          "description": "Supplier's account number",
                          "example": "1234"
                        },
                        "workPhone": {
                          "type": "string",
                          "description": "Supplier's work phone number",
                          "example": "08-8331 8459"
                        },
                        "addressLine1": {
                          "type": "string",
                          "description": "Address line 1",
                          "example": "P.O. BOX 501"
                        },
                        "addressLine2": {
                          "type": "string",
                          "description": "Address line 2",
                          "example": "BURNSIDE  S.A. 5066"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Supplier email address",
                          "example": "email@email.com.au"
                        },
                        "suburbName": {
                          "type": "string",
                          "description": "Suburb (optional)",
                          "example": ""
                        },
                        "postcode": {
                          "type": "string",
                          "description": "Postcode",
                          "example": "5066"
                        },
                        "state": {
                          "type": "string",
                          "nullable": true,
                          "description": "State (optional)",
                          "example": null
                        },
                        "abn": {
                          "type": "string",
                          "description": "Supplier's ABN (business number)",
                          "example": "60 1409 181 54"
                        },
                        "acn": {
                          "type": "string",
                          "description": "Supplier's ACN (company number)",
                          "example": "123456789"
                        }
                      }
                    },
                    "Items": {
                      "type": "array",
                      "description": "Purchase order line items",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purchaseOrderDetailId": {
                            "type": "integer",
                            "description": "ID for the specific item in the order",
                            "example": 538
                          },
                          "stockId": {
                            "type": "integer",
                            "description": "Stock keeping ID",
                            "example": 33765
                          },
                          "SupplierInventoryCode": {
                            "type": "integer",
                            "description": "Supplier-specific inventory code",
                            "example": 1711
                          },
                          "stockName": {
                            "type": "string",
                            "description": "Name of the stock item",
                            "example": "BARE COVE RADLER 330ML STB"
                          },
                          "unit": {
                            "type": "string",
                            "description": "Container name (e.g., CTN = Carton)",
                            "example": "CTN"
                          },
                          "unitQtyToOrder": {
                            "type": "number",
                            "description": "Quantity to order",
                            "example": 10
                          },
                          "price": {
                            "type": "number",
                            "description": "Expected cost per unit (excluding tax)",
                            "example": 47.2401
                          },
                          "comment": {
                            "type": "string",
                            "description": "Additional item-specific comments",
                            "example": "Monthly bar order"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Purchase Order not found"
          }
        },
        "tags": [
          "Integration"
        ],
        "description": "Gets a detailed Purchase Order object with supplier information, order items, and location details for integration purposes.<br><br>You will need to have the following data accesses assigned to your user to use this route: sc_get_purchaseorderheaders",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/purchaseOrderDetails/calculateValues": {
      "get": {
        "responses": {
          "200": {
            "description": "Returns calculated values based on selected unit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalculatePurchaseOrderValueView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                }
              }
            }
          }
        },
        "tags": [
          "PurchaseOrderDetails"
        ],
        "description": "Calculates a number of fields required based upon the unit type selected.",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "supplierId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "stockId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "locationId",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "unitQtyToOrder",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "unitType",
            "schema": {
              "$ref": "#/components/schemas/CalculatePurchaseOrderUnitType"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "factorId",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "supplierInventoryCode",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "groupQuery": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "fieldName": {
              "type": "string"
            },
            "sort": {
              "type": "string",
              "enum": [
                "-",
                "+"
              ]
            }
          }
        }
      },
      "groupSummaryQuery": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "fieldName": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "enum": [
                "min",
                "max",
                "sum",
                "count",
                "avg"
              ]
            }
          }
        }
      },
      "updateDateTime": {
        "type": "string",
        "format": "date-time",
        "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
      },
      "createDateTime": {
        "type": "string",
        "format": "date-time",
        "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
      },
      "lastUpdateByUserId": {
        "type": "string",
        "description": "The userId of the last person to modify this record."
      },
      "externalKey": {
        "type": "string",
        "description": "The unique external key set by the current user accessing the API"
      },
      "externalKeys": {
        "type": "object",
        "description": "A list of externalKeys set by users. "
      },
      "httpError": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string",
            "description": "This is a one line summary of the error that has occurred."
          },
          "details": {
            "type": "array",
            "description": "This is a string array detailing each individual problem we found.",
            "items": {
              "type": "string"
            }
          },
          "fieldLevelErrors": {
            "type": "array",
            "description": "This is an array of fieldLevelErrors which describes input errors found in url_parameters, the http body or http headers.",
            "items": {
              "type": "array",
              "description": "Describes input errors found in url_parameters, the http body or http headers.",
              "items": {
                "type": "object",
                "properties": {
                  "fieldName": {
                    "type": "string"
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "header",
                      "body",
                      "url_parameter"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "code": {
            "type": "number"
          }
        }
      },
      "bulkInsert": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Corresponds to the index of the posted array item in the HTTP request body JSON."
          },
          "success": {
            "type": "boolean",
            "description": "Returns true if the item has been inserted successfully and will also return the insertedObject attribute. Returns false if the item failed to insert, the reasons for the failure will be available in the \u2018error\u2019 attribute."
          },
          "error": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string",
                "description": "This is a one line summary of the error that has occurred."
              },
              "details": {
                "type": "array",
                "description": "This is string array detailing each individual problem we found.",
                "items": {
                  "type": "string"
                }
              },
              "fieldLevelErrors": {
                "type": "array",
                "description": "This is an array of fieldLevelErrors which describe input errors found in url_parameters, the http body or http headers.",
                "items": {
                  "type": "array",
                  "description": "Describe input errors found in url_parameters, the http body or http headers.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldName": {
                        "type": "string"
                      },
                      "area": {
                        "type": "string",
                        "enum": [
                          "header",
                          "body",
                          "url_parameter"
                        ]
                      },
                      "message": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "bulkUpdate": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Corresponds to the index of the posted array item in the HTTP request body JSON."
          },
          "success": {
            "type": "boolean",
            "description": "Returns true if the item has been updated successfully and will also return the updatedObject attribute. Returns false if the item failed to update, the reasons for the failure will be available in the \u2018errors\u2019 attribute."
          },
          "error": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string",
                "description": "This is a one line summary of the error that has occurred."
              },
              "details": {
                "type": "array",
                "description": "This is string array detailing each individual problem we found.",
                "items": {
                  "type": "string"
                }
              },
              "fieldLevelErrors": {
                "type": "array",
                "description": "This is an array of fieldLevelErrors which describe input errors found in url_parameters, the http body or http headers.",
                "items": {
                  "type": "array",
                  "description": "Describe input errors found in url_parameters, the http body or http headers.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldName": {
                        "type": "string"
                      },
                      "area": {
                        "type": "string",
                        "enum": [
                          "header",
                          "body",
                          "url_parameter"
                        ]
                      },
                      "message": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PurchaseOrderHeaderView": {
        "type": "object",
        "properties": {
          "purchaseOrderHeaderId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "orderNumber": {
            "type": "string"
          },
          "supplierId": {
            "type": "integer",
            "description": "A reference to the primary key in the Suppliers Table"
          },
          "locationId": {
            "type": "integer",
            "description": "A reference to the primary key in the VenueLocations Table"
          },
          "processed": {
            "type": "boolean"
          },
          "processedByUserId": {
            "type": "string"
          },
          "dateOrdered": {
            "type": "string",
            "format": "date-time",
            "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
          },
          "comment": {
            "type": "string"
          },
          "deliveryInstructions": {
            "type": "string"
          },
          "emailSent": {
            "type": "boolean"
          },
          "requiredDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "This field accepts date strings compatible with JavaScript's Date.parse() function, without time zone information.\n This 'requiredDateTime' field is relative to the timezone a user resides in and is not an absolute point in time.",
            "example": "2026-03-16T04:23:07"
          },
          "isCreditCharge": {
            "type": "boolean"
          },
          "createDateTime": {
            "$ref": "#/components/schemas/createDateTime"
          },
          "updateDateTime": {
            "$ref": "#/components/schemas/updateDateTime"
          },
          "lastUpdateByUserId": {
            "$ref": "#/components/schemas/lastUpdateByUserId"
          },
          "createdByUserId": {
            "type": "string"
          },
          "companyLogo": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "companyTradingAs": {
            "type": "string"
          },
          "businessNumber": {
            "type": "string"
          },
          "companyNumber": {
            "type": "string"
          },
          "companyAddress1": {
            "type": "string"
          },
          "companyAddress2": {
            "type": "string"
          },
          "companySuburb": {
            "type": "string"
          },
          "companyState": {
            "type": "string"
          },
          "companyPostalCode": {
            "type": "string"
          },
          "deliveryAddress1": {
            "type": "string"
          },
          "deliveryAddress2": {
            "type": "string"
          },
          "deliverySuburb": {
            "type": "string"
          },
          "deliveryState": {
            "type": "string"
          },
          "deliveryPostalCode": {
            "type": "string"
          },
          "deliveryEmail": {
            "type": "string"
          },
          "deliveryContactNumber": {
            "type": "string"
          },
          "externalKeys": {
            "$ref": "#/components/schemas/externalKeys"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "companyWebsite": {
            "type": "string"
          },
          "companyEmail": {
            "type": "string"
          },
          "companyPhone": {
            "type": "string"
          },
          "received": {
            "type": "boolean"
          }
        }
      },
      "getPurchaseOrderHeaderView": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PurchaseOrderHeaderView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderHeaderWithDetailsView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderHeadersFKExternalKeysView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderHeadersFKExternalKeysView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderHeadersFKExternalKeysView"
          }
        ]
      },
      "searchPurchaseOrderHeaderView": {
        "oneOf": [
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderHeaderView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderHeaderListView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderHeadersFKExternalKeysView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderHeadersFKExternalKeysView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderHeadersFKExternalKeysView"
            }
          }
        ]
      },
      "PurchaseOrderDetailView": {
        "type": "object",
        "properties": {
          "purchaseOrderDetailId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "purchaseOrderHeaderId": {
            "type": "integer",
            "description": "A reference to the primary key in the PurchaseOrderHeaders Table"
          },
          "stockId": {
            "type": "integer",
            "description": "A reference to the primary key in the Stock Table"
          },
          "supplierInventoryCodeId": {
            "type": "integer",
            "description": "A reference to the primary key in the SupplierInventoryCodes Table"
          },
          "unitType": {
            "type": "string",
            "enum": [
              "Factor",
              "Inner",
              "Outer"
            ]
          },
          "factorId": {
            "type": "integer",
            "description": "A reference to the primary key in the Factors Table"
          },
          "unitQtyToOrder": {
            "type": "number"
          },
          "qtyToOrder": {
            "type": "number"
          },
          "totalInnersToOrder": {
            "type": "number"
          },
          "costPerOuter": {
            "type": "number"
          },
          "totalCost": {
            "type": "number"
          },
          "lastUpdateByUserId": {
            "$ref": "#/components/schemas/lastUpdateByUserId"
          },
          "createDateTime": {
            "$ref": "#/components/schemas/createDateTime"
          },
          "updateDateTime": {
            "$ref": "#/components/schemas/updateDateTime"
          },
          "externalKeys": {
            "$ref": "#/components/schemas/externalKeys"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "qtyInStock": {
            "type": "number"
          },
          "qtyRequired": {
            "type": "number"
          },
          "qtyOnOrder": {
            "type": "number"
          }
        }
      },
      "getPurchaseOrderDetailView": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PurchaseOrderDetailView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderDetailsFKExternalKeysView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderDetailsFKExternalKeysView"
          },
          {
            "$ref": "#/components/schemas/PurchaseOrderDetailsFKExternalKeysView"
          }
        ]
      },
      "searchPurchaseOrderDetailView": {
        "oneOf": [
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderDetailView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderDetailListView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderDetailsFKExternalKeysView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderDetailsFKExternalKeysView"
            }
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderDetailsFKExternalKeysView"
            }
          }
        ]
      },
      "PurchaseOrdersDetailsListWithSupplierView": {
        "type": "object",
        "properties": {
          "purchaseOrderHeaderId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "orderNumber": {
            "type": "string"
          },
          "supplierId": {
            "type": "integer",
            "description": "A reference to the primary key in the Suppliers Table"
          },
          "locationId": {
            "type": "integer",
            "description": "A reference to the primary key in the VenueLocations Table"
          },
          "processed": {
            "type": "boolean"
          },
          "processedByUserId": {
            "type": "string"
          },
          "dateOrdered": {
            "type": "string",
            "format": "date-time",
            "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
          },
          "comment": {
            "type": "string"
          },
          "deliveryInstructions": {
            "type": "string"
          },
          "emailSent": {
            "type": "boolean"
          },
          "requiredDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
          },
          "isCreditCharge": {
            "type": "boolean"
          },
          "createDateTime": {
            "$ref": "#/components/schemas/createDateTime"
          },
          "updateDateTime": {
            "$ref": "#/components/schemas/updateDateTime"
          },
          "lastUpdateByUserId": {
            "$ref": "#/components/schemas/lastUpdateByUserId"
          },
          "createdByUserId": {
            "type": "string"
          },
          "companyLogo": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "companyTradingAs": {
            "type": "string"
          },
          "businessNumber": {
            "type": "string"
          },
          "companyNumber": {
            "type": "string"
          },
          "companyAddress1": {
            "type": "string"
          },
          "companyAddress2": {
            "type": "string"
          },
          "companySuburb": {
            "type": "string"
          },
          "companyState": {
            "type": "string"
          },
          "companyPostalCode": {
            "type": "string"
          },
          "deliveryAddress1": {
            "type": "string"
          },
          "deliveryAddress2": {
            "type": "string"
          },
          "deliverySuburb": {
            "type": "string"
          },
          "deliveryState": {
            "type": "string"
          },
          "deliveryPostalCode": {
            "type": "string"
          },
          "deliveryEmail": {
            "type": "string"
          },
          "deliveryContactNumber": {
            "type": "string"
          },
          "externalKeys": {
            "$ref": "#/components/schemas/externalKeys"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "companyWebsite": {
            "type": "string"
          },
          "companyEmail": {
            "type": "string"
          },
          "companyPhone": {
            "type": "string"
          },
          "received": {
            "type": "boolean"
          },
          "Supplier": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "fax": {
                "type": "string"
              },
              "workPhone": {
                "type": "string"
              },
              "addressLine1": {
                "type": "string"
              },
              "addressLine2": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "suburbName": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "abn": {
                "type": "string"
              },
              "acn": {
                "type": "string"
              },
              "SupplierVenueSettings": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "accountNumber": {
                      "type": "string"
                    },
                    "venueRefId": {
                      "type": "integer",
                      "description": "A reference to the primary key in the Venues Table"
                    }
                  }
                }
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purchaseOrderDetailId": {
                  "type": "integer",
                  "description": "The unique identifier of this record."
                },
                "stockId": {
                  "type": "integer",
                  "description": "A reference to the primary key in the Stock Table"
                },
                "totalCost": {
                  "type": "number"
                },
                "unitQtyToOrder": {
                  "type": "number"
                },
                "unitType": {
                  "type": "string",
                  "enum": [
                    "Factor",
                    "Inner",
                    "Outer"
                  ]
                },
                "SupplierInventoryCode": {
                  "type": "object",
                  "properties": {
                    "supplierInventoryCode": {
                      "type": "string"
                    }
                  }
                },
                "Stock": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "comment": {
                      "type": "string"
                    }
                  }
                },
                "Factor": {
                  "type": "object",
                  "properties": {
                    "divider": {
                      "type": "number"
                    },
                    "Container": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "description": "Describes the unit of the item"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "Location": {
            "type": "object",
            "properties": {
              "venueRefId": {
                "type": "integer",
                "description": "A reference to the primary key in the Venues Table"
              }
            }
          }
        }
      },
      "PurchaseOrderHeadersFKExternalKeysView": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PurchaseOrderHeaderView"
          },
          {
            "type": "object",
            "properties": {
              "SupplierIdFKObject": {
                "$ref": "#/components/schemas/SupplierIdFKObject"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "LocationIdFKObject": {
                "$ref": "#/components/schemas/LocationIdFKObject"
              }
            }
          }
        ]
      },
      "SupplierIdFKObject": {
        "type": "object",
        "properties": {
          "supplierId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          }
        }
      },
      "LocationIdFKObject": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          }
        }
      },
      "PurchaseOrderHeaderWithDetailsView": {
        "type": "object",
        "properties": {
          "purchaseOrderHeaderId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "orderNumber": {
            "type": "string"
          },
          "supplierId": {
            "type": "integer",
            "description": "A reference to the primary key in the Suppliers Table"
          },
          "locationId": {
            "type": "integer",
            "description": "A reference to the primary key in the VenueLocations Table"
          },
          "processed": {
            "type": "boolean"
          },
          "processedByUserId": {
            "type": "string"
          },
          "dateOrdered": {
            "type": "string",
            "format": "date-time",
            "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
          },
          "comment": {
            "type": "string"
          },
          "deliveryInstructions": {
            "type": "string"
          },
          "emailSent": {
            "type": "boolean"
          },
          "requiredDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "This field accepts date strings compatible with JavaScript's Date.parse() function, without time zone information.\n This 'requiredDateTime' field is relative to the timezone a user resides in and is not an absolute point in time.",
            "example": "2026-03-16T04:23:07"
          },
          "isCreditCharge": {
            "type": "boolean"
          },
          "createDateTime": {
            "$ref": "#/components/schemas/createDateTime"
          },
          "updateDateTime": {
            "$ref": "#/components/schemas/updateDateTime"
          },
          "lastUpdateByUserId": {
            "$ref": "#/components/schemas/lastUpdateByUserId"
          },
          "createdByUserId": {
            "type": "string"
          },
          "companyLogo": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "companyTradingAs": {
            "type": "string"
          },
          "businessNumber": {
            "type": "string"
          },
          "companyNumber": {
            "type": "string"
          },
          "companyAddress1": {
            "type": "string"
          },
          "companyAddress2": {
            "type": "string"
          },
          "companySuburb": {
            "type": "string"
          },
          "companyState": {
            "type": "string"
          },
          "companyPostalCode": {
            "type": "string"
          },
          "deliveryAddress1": {
            "type": "string"
          },
          "deliveryAddress2": {
            "type": "string"
          },
          "deliverySuburb": {
            "type": "string"
          },
          "deliveryState": {
            "type": "string"
          },
          "deliveryPostalCode": {
            "type": "string"
          },
          "deliveryEmail": {
            "type": "string"
          },
          "deliveryContactNumber": {
            "type": "string"
          },
          "externalKeys": {
            "$ref": "#/components/schemas/externalKeys"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "companyWebsite": {
            "type": "string"
          },
          "companyEmail": {
            "type": "string"
          },
          "companyPhone": {
            "type": "string"
          },
          "received": {
            "type": "boolean"
          },
          "Location": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the location"
              },
              "tradingName": {
                "type": "string"
              },
              "addressLine1": {
                "type": "string"
              },
              "addressLine2": {
                "type": "string"
              },
              "suburbName": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postCode": {
                "type": "string"
              },
              "workPhone": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "Supplier": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "fax": {
                "type": "string"
              },
              "workPhone": {
                "type": "string"
              },
              "addressLine1": {
                "type": "string"
              },
              "addressLine2": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "suburbName": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "abn": {
                "type": "string"
              },
              "acn": {
                "type": "string"
              }
            }
          }
        }
      },
      "PurchaseOrderHeaderListView": {
        "type": "object",
        "properties": {
          "purchaseOrderHeaderId": {
            "type": "integer",
            "description": "The unique identifier of this record."
          },
          "orderNumber": {
            "type": "string"
          },
          "supplierId": {
            "type": "integer",
            "description": "A reference to the primary key in the Suppliers Table"
          },
          "locationId": {
            "type": "integer",
            "description": "A reference to the primary key in the VenueLocations Table"
          },
          "processed": {
            "type": "boolean"
          },
          "processedByUserId": {
            "type": "string"
          },
          "dateOrdered": {
            "type": "string",
            "format": "date-time",
            "description": "This field will accept any date accepted by the javascript function Date.Parse(). You may want to include your timezone e.g. '12 jan 2020 5:30:20 GMT+10:30'"
          },
          "comment": {
            "type": "string"
          },
          "deliveryInstructions": {
            "type": "string"
          },
          "emailSent": {
            "type": "boolean"
          },
          "requiredDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "This field accepts date strings compatible with JavaScript's Date.parse() function, without time zone information.\n This 'requiredDateTime' field is relative to the timezone a user resides in and is not an absolute point in time.",
            "example": "2026-03-16T04:23:07"
          },
[...]
