{
  "openapi": "3.0.0",
  "info": {
    "description": "# Introduction\n\nWelcome to the CraftMyPDF API!\n\nThis page contains the documentation on how to use CraftMyPDF through API calls.\nYou can use the CraftMyPDF API to create PDF documents and manage your templates\n\nThe CraftMyPDF API is built on RESTful HTTP. You can use your favorite HTTP/REST library for your programming language to use CraftMyPDF's API.\n\n# Request Content-Type\nThe Content-Type for POST and GET requests is set to application/json.\n\n# Cross-Origin Resource Sharing\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).\nAnd that allows cross-domain communication from the browser.\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n\n# Authentication\nWhen you sign up for an account, an API key is generated, you can reset the API key in the web console(Under API Integration).\n\nIn order to integrate with our services, you need to authenticate to the CraftMyPDF API by providing your secret key in the request header X-API-KEY.\n\n\n# Regional API endpoints\nA regional API endpoint is intended for customers in the same region. The data for the request and generated PDFs are processed and stored within the region.\n\nThe regions are:\n\n| Region               | Endpoint                            | Max Timeout           | Max Payload Size**      |\n|----------------------|-------------------------------------|-----------------------|-------------------------|\n| Default (Singapore)  | https://api.craftmypdf.com/         | 100 seconds           | 4   MB                  |\n| Europe (Frankfurt)   | https://api-de.craftmypdf.com/      | 100 seconds           | 4   MB                  |\n| US East (N. Virginia)| https://api-us.craftmypdf.com/      | 100 seconds           | 4   MB                  |\n| Australia (Sydney)   | https://api-au.craftmypdf.com/      | 30  seconds           | 6 MB                    |\n\nAlternative Regions:\n| Region               | Endpoint                            | Max Timeout          | Max Payload Size**      |\n|----------------------|-------------------------------------|----------------------|-------------------------|\n| Default (Singapore)  | https://api-alt.craftmypdf.com/     | 30 seconds           | 6 MB                    |\n| Europe (Frankfurt)   | https://api-alt-de.craftmypdf.com/  | 30 seconds           | 6 MB                    |\n| US East (N. Virginia)| https://api-alt-us.craftmypdf.com/  | 30 seconds           | 6 MB                    |\n\n\n** Note:\n- The payload size applies to request and response\n- If \"export_type\" is set to `json` which output file that on AWS S3 doesn't have the limitation\n- If the \"export_type\" is set to `file` which returns binary data of the generated PDF, the file size of the generated PDF is limited to either 6MB or 1MB based on the region\n\n\n\n\n\n**Other regions are available on request, contact us at hello@craftmypdf.com for more information**\n\n\n\n\n# IP Whitelisting\nIf you need to access the content of certain URLs from our services, you may need to whitelist the following IP addresses based on your region:\n\n| Region               | IP Address        |\n|----------------------|-------------------|\n| Singapore (SG)       | 54.169.31.181/32  |\n| Australia (AU)       | 3.105.245.173/32  |\n| Europe (DE)          | 35.159.181.52/32  |\n| US East (N. Virginia)| 52.21.225.83/32   |\n\n**Note:** These IP addresses are used by our services when making outbound requests to external URLs. If you have firewall rules or security groups that restrict access, you'll need to whitelist the appropriate IP address for your region to ensure our services can access your content.\n\n\n\n\n# How to receive generated PDFs\nThere are three ways to get the generated PDFs/images:\n\n**1. Use the API `/v1/create` and `/v1/create-image` for PDF/image generation**\n- Option `export_type=json`: The generated PDFs are uploaded to our cloud CDN and the PDF URLs are returned in the JSON response immediately.\n- Option `export_type=file`: The generated PDFs are returned in binary in the response immediately and we do not store the PDFs.\n\n**2. Use the API `/v1/create-async` for async PDF/image generation** :\n\nAn aysnc call returns immediately and you receive the generated PDFs via webhook callback.\n\n\n\n**3. Bring Your Own Storage (BYOS)** :\n\nThe most secure way is to configure uploading the PDFs/images directly to your AWS S3 and we never store the PDFs.\nTo configure, click on the **API Integration** tab. Then, select **Post Actions** and enter your S3 settings.\n\n# Rate limiting\n  Our API enforces IP-based rate limits to ensure fair usage and maintain optimal performance:\n  - 100 requests per 10 seconds per IP address\n  - 100 concurrent synchronous PDF-generation requests per user account\n\n  If you exceed these limits, you’ll receive an HTTP 429 response, indicating that you’ve hit the rate cap and should pause before retrying.\n\n  ** For high-volume PDF generation, consider our asynchronous endpoint (POST /v1/create-async). Requests are queued and processed in turn, and you’ll receive a webhook callback once your PDF is ready.\n",
    "version": "1.0.0",
    "title": "CraftMyPDF API Reference",
    "termsOfService": "https://craftmypdf.com/privacy-policy/",
    "contact": {
      "email": "hello@craftmypdf.com",
      "url": "https://craftmypdf.com"
    },
    "x-logo": {
      "url": "images/icon-docs.svg",
      "altText": "CraftMyPDF logo"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.craftmypdf.com/v1"
    },
    {
      "url": "https://api-de.craftmypdf.com/v1"
    },
    {
      "url": "https://api-us.craftmypdf.com/v1"
    },
    {
      "url": "https://api-au.craftmypdf.com/v1"
    },
    {
      "url": "https://api-alt.craftmypdf.com/v1"
    },
    {
      "url": "https://api-alt-de.craftmypdf.com/v1"
    },
    {
      "url": "https://api-alt-us.craftmypdf.com/v1"
    },
    {
      "url": "https://api-alt-au.craftmypdf.com/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/create": {
      "post": {
        "summary": "Create a PDF",
        "operationId": "create",
        "description": "This endpoint creates a PDF file with JSON data and your template",
        "tags": [
          "PDF Generation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "- Template ID. \n- You can specify a single template ID or multiple template IDs separated by commas.\n- If you specify multiple template IDs(e.g `05f77b2b18ad809a,81f338abcdd83d`). The PDFs will be generated from multiple templates and the paging mode will be set to `continuous`.\n",
                    "example": "05f77b2b18ad809a"
                  },
                  "data": {
                    "type": "string",
                    "description": "JSON data, it supports stringified JSON string or an JSON object",
                    "example": {
                      "invoice_number": "INV38379",
                      "date": "2021-09-30",
                      "currency": "USD",
                      "total_amount": 82542.56
                    }
                  },
                  "load_data_from": {
                    "type": "string",
                    "description": "Load data from an external URL. If this is specified, it will overwrite the `data`` property.",
                    "example": null
                  },
                  "version": {
                    "type": "string",
                    "description": "To generate a PDF using a specific version of the template. We use the latest template version unless you specify otherwise.",
                    "example": 8
                  },
                  "export_type": {
                    "type": "string",
                    "description": "Either `file` or `json`.\n- The option `json` returns a JSON object, and the output PDF is stored on a CDN(until expiration).\n- The option `file` returns binary data of the generated PDF(More secure and completely private) and the response HTTP header Content-Disposition is set to attachment.\n",
                    "example": "json"
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "output_file": {
                    "type": "string",
                    "description": "output file, default to 'output.pdf'",
                    "example": "output.pdf"
                  },
                  "image_resample_res": {
                    "type": "integer",
                    "description": "Optimize/downsample images of current PDF to a resolution(in DPI). This helps to reduce the PDF file size. Suggested values are 1200, 600, 300, 150 or 72.",
                    "example": 600
                  },
                  "direct_download": {
                    "type": "integer",
                    "description": "Default to 0. Set to 1 to indicate the generated PDF should be downloaded (Content-Disposition: attachment)\n",
                    "example": 0
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN(Except export_type=file), default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  },
                  "password_protected": {
                    "type": "boolean",
                    "description": "Enable password protection\n"
                  },
                  "password": {
                    "type": "string",
                    "description": "if password_protected is enabled, please specify a password\n"
                  },
                  "postaction_s3_filekey": {
                    "type": "string",
                    "description": "This is to specify the file name for `Post Action(S3 Storage)`.\n- Please do not specify the file extension\n- Please make sure the file name is unique\n- You might use slash (/) as the folder delimiter\n"
                  },
                  "postaction_s3_bucket": {
                    "type": "string",
                    "description": "- This is to overwrite the AWS Bucket for `Post Action(S3 Storage)`.\n"
                  },
                  "resize_images": {
                    "type": "boolean",
                    "description": "- Resize all the images in the PDF to help reduce its size, especially if the template contains multiple or large images. \n- Either `1`=`true` or `0`=`false`. Default to '0'\n- If `resize_images` is set to `1`, specify the `resize_max_width`, `resize_max_height` in pixels.\n- Images to be resized need to satisfy the following conditions:\n  - The images with the content-type `image/jpeg`, `image/jpg` or `image/png`\n  - The image URLs with the extension `.jpg`, `.jpeg` or `.png`\n",
                    "example": "0"
                  },
                  "resize_max_width": {
                    "type": "integer",
                    "description": "- If `resize_images` is set to `1`, specify the maximum width in pixels for the images. Default to '1000'\n",
                    "example": "1000"
                  },
                  "resize_max_height": {
                    "type": "integer",
                    "description": "- If `resize_images` is set to `1`, specify the maximum height in pixels for the images . Default to '1000'\n",
                    "example": "1000"
                  },
                  "resize_format": {
                    "type": "string",
                    "description": "- (Optional) If `resize_images` is set to `1`, specify the format of the image. Either `jpeg` or `png`\n",
                    "example": "jpeg"
                  },
                  "paging": {
                    "type": "string",
                    "description": "This is for multiple templates. If multiple template ids are specified, this detemines the paging for the next PDF, either is 'continuous' or 'reset' . Default to 'continuous'\n- continuous : The expression {{sys.totalPages}} is the sum of the merged PDF and the {{sys.pageNumber}} continue from the last PDF page number.\n- reset: The expression {{sys.totalPages}} is the total pages of current PDF and the {{sys.pageNumber}} auto-reset to zero in the next PDF.\n"
                  },
                  "pdf_version": {
                    "type": "string",
                    "description": "- (Experimental) PDF version to generate. Supported versions are '1.4' and '1.7'. Defaults to 'Auto' which generates PDF 1.7.\n",
                    "example": "1.7",
                    "enum": [
                      "1.4",
                      "1.7",
                      "Auto"
                    ]
                  }
                },
                "required": [
                  "data",
                  "template_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessSingleFile"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"export_type\":\"json\", \"expiration\": 10, \"output_file\":\"my_new.pdf\", \"data\":  \"{ \\\"invoice_number\\\": \\\"INV38379\\\", \\\"date\\\": \\\"2021-09-30\\\",  \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56   }\"}' \\\n  \"https://api.craftmypdf.com/v1/create\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n    data = {\n      'invoice_number': 'INV38379',\n      'date': '2021-09-30',\n      'currency': 'USD',\n      'total_amount': 82542.56\n    }\n\n    json_payload = {\n      \"data\": json.dumps(data) ,\n      \"output_file\": \"output.pdf\",\n      \"export_type\": \"json\",\n      \"expiration\": 10,\n      \"template_id\": \"05f77b2b18ad809a\"\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/create\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/create-async": {
      "post": {
        "summary": "Create a PDF asynchronously",
        "operationId": "create-async",
        "description": "This endpoint creates a PDF file asynchronously with JSON data and your template.\nThe API returns immediately and once the PDF document is generated, it will make a HTTP/HTTPS GET to your URL(will retry for 3 times before giving up)\n",
        "tags": [
          "PDF Generation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "JSON data, it supports stringified JSON string or an JSON object",
                    "example": {
                      "invoice_number": "INV38379",
                      "date": "2021-09-30",
                      "currency": "USD",
                      "total_amount": 82542.56
                    }
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Template ID",
                    "example": "05f77b2b18ad809a"
                  },
                  "version": {
                    "type": "string",
                    "description": "To generate a PDF using a specific version of the template. We use the latest template version unless you specify otherwise.",
                    "example": 8
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "Callback URL to your server. It starts with http:// or https:// and has to be urlencoded\nexample: https://myserver.com/pdfhandler\n\nOnce the PDF is generated, our services will make a HTTP/HTTPS GET call to the following URL\n\nhttps://[myserver.com/pdfhandler]?file=[file]&transaction_ref=[transaction_ref]&status=[status]&message=[message]&details=[details]\n- [myserver.com/pdfhandler] is your web services to handle the callback\n- [file] is the URL to the file\n- [transaction_ref] is the transaction reference number\n- [status] is the status of the request\n- [message] is the message of the status\n- [details] is the details\n\n\nThe following is a sample Webhook URL\n- https://myserver.com/pdfhandler?&file=https%3A%2F%2Fpub-cdn.craftmypdf.com%2F2021%2F06%2Fb692183d-46d7-3213-891a-460a5814ad3f.pdf&transaction_ref=b692183d-46d7-3213-891a-460a5814ad3f\n",
                    "example": "https://myserver.com/pdfhandler"
                  },
                  "image_resample_res": {
                    "type": "integer",
                    "description": "Optimize/downsample images of current PDF to a resolution(in DPI). This helps to reduce the PDF file size. Suggested values are 1200, 600, 300, 150 or 72.",
                    "example": 600
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN, default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  },
                  "postaction_s3_filekey": {
                    "type": "string",
                    "description": "- This is to specify the file name for `Post Action(S3 Storage)`.\n- Please do not specify the file extension\n- Please make sure the file name is unique\n- You might use slash (/) as the folder delimiter\n"
                  },
                  "postaction_s3_bucket": {
                    "type": "string",
                    "description": "- This is to overwrite the AWS Bucket for `Post Action(S3 Storage)`.\n"
                  },
                  "resize_images": {
                    "type": "boolean",
                    "description": "- Resize all the images in the PDF to help reduce its size, especially if the template contains multiple or large images. \n- Either `1`=`true` or `0`=`false`. Default to '0'\n- If `resize_images` is set to `1`, specify the `resize_max_width`, `resize_max_height` in pixels.\n- Images to be resized need to satisfy the following conditions:\n  - The images with the content-type `image/jpeg`, `image/jpg` or `image/png`\n  - The image URLs with the extension `.jpg`, `.jpeg` or `.png`\n",
                    "example": "0"
                  },
                  "resize_max_width": {
                    "type": "integer",
                    "description": "- If `resize_images` is set to `1`, specify the maximum width in pixels for the images. Default to '1000'\n",
                    "example": "1000"
                  },
                  "resize_max_height": {
                    "type": "integer",
                    "description": "- If `resize_images` is set to `1`, specify the maximum height in pixels for the images . Default to '1000'\n",
                    "example": "1000"
                  },
                  "resize_format": {
                    "type": "string",
                    "description": "- (Optional) If `resize_images` is set to `1`, specify the format of the image. Either `jpeg` or `png`\n",
                    "example": "jpeg"
                  }
                },
                "required": [
                  "data",
                  "template_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAsyncCreate"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"expiration\": 10, \"webhook_url\":\"https://myserver.com/pdfhandler\", \"data\":  \"{ \\\"invoice_number\\\": \\\"INV38379\\\", \\\"date\\\": \\\"2021-09-30\\\",  \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56   }\", \"output_file\": \"output.pdf\"}' \\\n  \"https://api.craftmypdf.com/v1/create-async\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n    data = {\n      'invoice_number': 'INV38379',\n      'date': '2021-09-30',\n      'currency': 'USD',\n      'total_amount': 82542.56\n    }\n\n    json_payload = {\n      \"data\": json.dumps(data) ,\n      \"webhook_url\":\"https://myserver.com/pdfhandler\",\n      \"expiration\": 10,\n      \"template_id\": \"05f77b2b18ad809a\"\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/create-async\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/create-merge": {
      "post": {
        "summary": "Create PDF from templates",
        "operationId": "create-merge",
        "description": "This endpoint creates a PDF file from multiple templates and it only returns one PDF.(* this does not support version parameter)",
        "tags": [
          "PDF Generation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "templates": {
                    "type": "object",
                    "description": "Array of template ids and JSON data",
                    "example": [
                      {
                        "template_id": "96177b2b1ac483b0",
                        "data": {
                          "invoice_number": "INV0001",
                          "date": "2021-09-30",
                          "currency": "USD",
                          "total_amount": 82542.56
                        }
                      },
                      {
                        "template_id": "f9e77b2b1acbe28c",
                        "data": {
                          "invoice_number": "INV0002",
                          "date": "2021-09-30",
                          "currency": "USD",
                          "total_amount": 82542.56
                        }
                      },
                      {
                        "template_id": "8c277b2b1ac3579a",
                        "data": {
                          "invoice_number": "INV0003",
                          "date": "2021-09-30",
                          "currency": "USD",
                          "total_amount": 82542.56
                        }
                      }
                    ]
                  },
                  "data": {
                    "type": "string",
                    "description": "(Optional) JSON data . If the `data` field is missing in the templates array, the JSON data provided here will be used. This supports either a stringified JSON string or a JSON object.\n",
                    "example": {
                      "invoice_number": "INV38379",
                      "date": "2021-09-30",
                      "currency": "USD",
                      "total_amount": 82542.56
                    }
                  },
                  "export_type": {
                    "type": "string",
                    "description": "Either `file` or `json`. The option `json` returns a JSON object, and the output PDF is stored on a CDN(until expiration). The option `file` returns binary data of the generated PDF(More secure and completely private) and the response HTTP header Content-Disposition is set to attachment.",
                    "example": "json"
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "output_file": {
                    "type": "string",
                    "description": "output file, default to 'output.pdf'",
                    "example": "output.pdf"
                  },
                  "paging": {
                    "type": "string",
                    "description": "It detemines the paging for the next PDF, either is 'continuous' or 'reset' . Default to 'reset'\n- continuous : The expression {{sys.totalPages}} is the sum of the merged PDF and the {{sys.pageNumber}} continue from the last PDF page number.\n- reset: The expression {{sys.totalPages}} is the total pages of current PDF and the {{sys.pageNumber}} auto-reset to zero in the next PDF.\n",
                    "example": "reset"
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN, default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  },
                  "postaction_s3_filekey": {
                    "type": "string",
                    "description": "- This is to specify the file name for `Post Action(S3 Storage)`.\n- Please do not specify the file extension\n- Please make sure the file name is unique\n- You might use slash (/) as the folder delimiter\n"
                  },
                  "postaction_s3_bucket": {
                    "type": "string",
                    "description": "- This is to overwrite the AWS Bucket for `Post Action(S3 Storage)`.\n"
                  },
                  "image_resample_res": {
                    "type": "integer",
                    "description": "Optimize/downsample images of current PDF to a resolution(in DPI). This helps to reduce the PDF file size. Suggested values are 1200, 600, 300, 150 or 72.",
                    "example": 600
                  },
                  "resize_images": {
                    "type": "boolean",
                    "description": "- Resize all the images in the PDF to help reduce its size, especially if the template contains multiple or large images. \n- Either `1`=`true` or `0`=`false`. Default to '0'\n- If `resize_images` is set to `1`, specify the `resize_max_width`, `resize_max_height` in pixels.\n- Images to be resized need to satisfy the following conditions:\n  - The images with the content-type `image/jpeg`, `image/jpg` or `image/png`\n  - The image URLs with the extension `.jpg`, `.jpeg` or `.png`\n",
                    "example": "0"
                  },
                  "resize_max_width": {
                    "type": "integer",
                    "description": "- If `resize_images` is set to `1`, specify the maximum width in pixels for the images. Default to '1000'\n",
                    "example": "1000"
                  },
                  "resize_max_height": {
                    "type": "integer",
                    "description": "- If `resize_images` is set to `1`, specify the maximum height in pixels for the images . Default to '1000'\n",
                    "example": "1000"
                  },
                  "resize_format": {
                    "type": "string",
                    "description": "- (Optional) If `resize_images` is set to `1`, specify the format of the image. Either `jpeg` or `png`\n",
                    "example": "jpeg"
                  }
                },
                "required": [
                  "templates"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessSingleFile"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "# Using templates\ncurl -X POST \\\n  --header \"Content-Type: application/json\" \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{ \"templates\":[ { \"template_id\":\"96177b2b1ac483b0\", \"data\":\"{ \\\"invoice_number\\\": \\\"INV0001\\\", \\\"date\\\": \\\"2021-09-30\\\", \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56 }\" }, { \"template_id\":\"f9e77b2b1acbe28c\", \"data\":\"{ \\\"invoice_number\\\": \\\"INV0002\\\", \\\"date\\\": \\\"2021-09-30\\\", \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56 }\" }, { \"template_id\":\"8c277b2b1ac3579a\", \"data\":\"{ \\\"invoice_number\\\": \\\"INV0003\\\", \\\"date\\\": \\\"2021-09-30\\\", \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56 }\" } ], \"export_type\":\"json\", \"expiration\":60, \"output_file\":\"output.pdf\", \"paging\": \"continuous\" }' \\\n  \"https://api.craftmypdf.com/v1/create-merge\"\n\n# Using template_ids\ncurl -X POST \\\n  --header \"Content-Type: application/json\" \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{ \"template_ids\":\"96177b2b1ac483b0,f9e77b2b1acbe28c,8c277b2b1ac3579a\", \"data\":\"{ \\\"invoice_number\\\": \\\"INV0001\\\", \\\"date\\\": \\\"2021-09-30\\\", \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56 }\", \"export_type\":\"json\", \"expiration\":60, \"output_file\":\"output.pdf\", \"paging\": \"continuous\" }' \\\n  \"https://api.craftmypdf.com/v1/create-merge\"\n"
          }
        ]
      }
    },
    "/create-parallel": {
      "post": {
        "summary": "Create PDFs parallelly",
        "operationId": "create-parallel",
        "description": "This endpoint creates PDF files with JSON data and your templates",
        "tags": [
          "PDF Generation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requests": {
                    "type": "object",
                    "description": "Array of requests, please look at /v1/create for the detailed parameters",
                    "example": [
                      {
                        "data": {
                          "title": "Welcome to CraftMyPDF1!",
                          "report_date": "2021-12-13 12:30"
                        },
                        "template_id": "be277b2b12cebfa0",
                        "meta": "yourrefernce0001"
                      },
                      {
                        "data": {
                          "title": "Welcome to CraftMyPDF2!",
                          "report_date": "2021-12-13 12:30"
                        },
                        "template_id": "4a377b2b12ccbc54",
                        "meta": "yourrefernce0002"
                      }
                    ]
                  },
                  "merge": {
                    "type": "boolean",
                    "description": "Whether to merge all generated PDFs into a single PDF. Default to `false`",
                    "example": true
                  },
                  "merge_expiration": {
                    "type": "integer",
                    "description": "Expiration of the merged PDF in minutes. Only applicable when `merge` is `true`. Default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 5
                  }
                },
                "required": [
                  "requests"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseCreateParallel"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/create-image": {
      "post": {
        "summary": "Create an image",
        "operationId": "create-image",
        "description": "This endpoint creates an image file with JSON data and your template",
        "tags": [
          "Image Generation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "JSON data, it supports stringified JSON string or an JSON object",
                    "example": {
                      "invoice_number": "INV38379",
                      "date": "2021-09-30",
                      "currency": "USD",
                      "total_amount": 82542.56
                    }
                  },
                  "load_data_from": {
                    "type": "string",
                    "description": "Load data from an external URL. If this is specified, it will overwrite the `data`` property.",
                    "example": null
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Template ID",
                    "example": "05f77b2b18ad809a"
                  },
                  "version": {
                    "type": "string",
                    "description": "To generate an image using a specific version of the template. We use the latest template version unless you specify otherwise.",
                    "example": 8
                  },
                  "export_type": {
                    "type": "string",
                    "description": "Either `file` or `json`.\n- The option `json` returns a JSON object, and the output PDF is stored on a CDN(until expiration).\n- The option `file` returns binary data of the generated PDF(More secure and completely private) and the response HTTP header Content-Disposition is set to attachment.\n",
                    "example": "json"
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "output_file": {
                    "type": "string",
                    "description": "output file, default to 'output.jpg'",
                    "example": "output.jpg"
                  },
                  "output_type": {
                    "type": "string",
                    "description": "image output file type, default to 'jpeg'. Options are 'jpeg' or 'png'",
                    "example": "jpeg"
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN(Except export_type=file), default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  },
                  "postaction_s3_filekey": {
                    "type": "string",
                    "description": "- This is to specify the file name for `Post Action(S3 Storage)`.\n- Please do not specify the file extension\n- Please make sure the file name is unique\n- You might use slash (/) as the folder delimiter\n"
                  },
                  "postaction_s3_bucket": {
                    "type": "string",
                    "description": "- This is to overwrite the AWS Bucket for `Post Action(S3 Storage)`.\n"
                  }
                },
                "required": [
                  "data",
                  "template_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessSingleFileJPEG"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"export_type\":\"json\", \"expiration\": 10, \"output_file\":\"my_new.pdf\", \"output_type\":\"jpeg\", \"data\":  \"{ \\\"invoice_number\\\": \\\"INV38379\\\", \\\"date\\\": \\\"2021-09-30\\\",  \\\"currency\\\": \\\"USD\\\", \\\"total_amount\\\": 82542.56   }\"}' \\\n  \"https://api.craftmypdf.com/v1/create-image\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n    data = {\n      'invoice_number': 'INV38379',\n      'date': '2021-09-30',\n      'currency': 'USD',\n      'total_amount': 82542.56\n    }\n\n    json_payload = {\n      \"data\": json.dumps(data) ,\n      \"output_file\": \"output.jpg\",\n      \"export_type\": \"json\",\n      \"expiration\": 10,\n      \"template_id\": \"05f77b2b18ad809a\"\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/create-image\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/list-templates": {
      "get": {
        "summary": "List templates",
        "operationId": "list-templates",
        "description": "This endpoint lists all your PDF templates",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Retrieve only the number of records specified. Default to 300",
            "example": 300
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Offset is used to skip the number of records from the results. Default to 0",
            "example": 0
          },
          {
            "in": "query",
            "name": "group_name",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Filter templates in the same group(group_name)",
            "example": "Customer_009"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status and templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListTemplate"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --header \"Content-Type: application/json\"  \\\n      --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n      \"https://api.craftmypdf.com/v1/list-templates?limit=300&offset=0\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    response = requests.get(\n        F\"https://api.craftmypdf.com/v1/list-templates?limit=300&offset=0\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"}\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/list-template-versions": {
      "get": {
        "summary": "List template versions",
        "operationId": "list-template-versions",
        "description": "This endpoint lists all versions of a template",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Template ID",
            "example": "5ef77b2b187c968c"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status and versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListVersions"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --header \"Content-Type: application/json\"  \\\n      --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n      \"https://api.craftmypdf.com/v1/list-template-versions?template_id=5ef77b2b187c968c\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    response = requests.get(\n        F\"https://api.craftmypdf.com/v1/list-template-versions?template_id=5ef77b2b187c968c\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"}\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/retain-template-versions": {
      "post": {
        "summary": "Retain template versions",
        "operationId": "retain-template-versions",
        "description": "This endpoint allows you to mark specific template versions as retained or not retained. Retained versions are protected from automatic cleanup.",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID",
                    "example": "c2d77b234151b7c4"
                  },
                  "versions": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of version numbers to retain or not retain",
                    "example": [
                      1,
                      4
                    ]
                  },
                  "keep": {
                    "type": "boolean",
                    "description": "Whether to keep (true) or not keep (false) the specified versions",
                    "example": true
                  }
                },
                "required": [
                  "template_id",
                  "versions",
                  "keep"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and updated versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRetainTemplateVersions"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\" \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\n    \"template_id\": \"c2d77b234151b7c4\",\n    \"versions\": [1, 4],\n    \"keep\": true\n  }' \\\n  \"https://api.craftmypdf.com/v1/retain-template-versions\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    json_payload = {\n      \"template_id\": \"c2d77b234151b7c4\",\n      \"versions\": [1, 4],\n      \"keep\": True\n    }\n\n    response = requests.post(\n        \"https://api.craftmypdf.com/v1/retain-template-versions\",\n        headers = {\"X-API-KEY\": api_key},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/new-template-from": {
      "post": {
        "summary": "Create a new template",
        "operationId": "new-template-from",
        "description": "This endpoint creates a new template from a template ID",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID\n\nNote: When using a team API Key to clone a template from another team, make sure that:\n  - The creator of the template and the owner of the team API Key are the same person.\n  - The owner of the team where the template belongs and the owner of the team API Key are the same.\n",
                    "example": "5ef88b2b237c968c"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the new template",
                    "example": "My Invoice"
                  },
                  "version": {
                    "type": "string",
                    "description": "Version of the template. Leave it empty to use the latest version.",
                    "example": 8
                  },
                  "group_name": {
                    "type": "string",
                    "description": "Group name of the tempate, default to `null`. It's used for grouping templates of the same category(or customer) and it can be used with `list-templates` API to retrieve templates in the same group.",
                    "example": "Customer_009"
                  }
                },
                "required": [
                  "template_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessCreateNewTemplate"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"name\": \"My Invoice\"}' \\\n  \"https://api.craftmypdf.com/v1/new-template-from\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    json_payload = {\n      \"name\": \"New invoice\" ,\n      \"template_id\": \"5ef77b2b187c968c\"\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/new-template-from\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/transfer-template-to": {
      "post": {
        "summary": "Transfer a template",
        "operationId": "transfer-template-to",
        "description": "This endpoint transfers a template to another team",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID\n",
                    "example": "5ef88b2b237c968c"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The team id",
                    "example": "haag3ce4"
                  }
                },
                "required": [
                  "template_id",
                  "team_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessTransferTemplateTo"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"team_id\": \"haag3ce4\"}' \\\n  \"https://api.craftmypdf.com/v1/transfer-template-to\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    json_payload = {\n      \"team_id\": \"haag3ce4\" ,\n      \"template_id\": \"5ef77b2b187c968c\"\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/transfer-template-to\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/update-template": {
      "post": {
        "summary": "Update template",
        "operationId": "update-template",
        "description": "This endpoint updates the specified PDF template",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID",
                    "example": "05f77b2b18ad809a"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional, name of the template",
                    "example": "My Template"
                  },
                  "json": {
                    "type": "string",
                    "description": "Optional, sample JSON data for the template",
                    "example": "{\"first_name\": \"Jack\",\"last_name\": \"Smith\"}"
                  },
                  "body": {
                    "type": "string",
                    "description": "Optional, the template body.\n*Warning:* do not update the body, unless you are certain what you are doing.\n",
                    "example": "{...}"
                  }
                },
                "required": [
                  "template_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseUpdateTemplate"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"name\":\"My Template\", \"json\": \"{\\\"first_name\\\": \\\"Jack\\\",\\\"last_name\\\": \\\"Smith\\\"}\"}' \\\n  \"https://api.craftmypdf.com/v1/update-template\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n    sample_json = {\"first_name\": \"Jack\",\"last_name\": \"Smith\"}\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/update-template\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = {\n          \"name\": \"My Template\",\n          \"json\": json.dumps(sample_json)\n        }\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/get-template": {
      "get": {
        "summary": "Get template",
        "operationId": "get-template",
        "description": "This endpoint returns the content of the template",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Template id",
            "example": "ad577b2b22d4e612"
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Version of the template. Leave it empty to use the latest version.",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status and template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGetTemplate"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --header \"Content-Type: application/json\"  \\\n      --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n      \"https://api.craftmypdf.com/v1/get-template?template_id=ad577b2b22d4e612\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    response = requests.get(\n        F\"https://api.craftmypdf.com/v1/get-template?template_id=ad577b2b22d4e612\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"}\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/delete-template": {
      "get": {
        "summary": "Delete template",
        "operationId": "delete-template",
        "description": "This endpoint deletes a template",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "template_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Template ID",
            "example": "5ef88b2b237c968c"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessDeleteTemplate"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  \"https://api.craftmypdf.com/v1/delete-template?template_id=06977b2b18ace42a\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    response = requests.get(\n        F\"https://api.craftmypdf.com/v1/delete-template?template_id=06977b2b18ace42a\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"}\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/query-template-usage": {
      "get": {
        "summary": "Query template usage",
        "description": "Retrieve usage statistics for specified template IDs within a given date range.",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of template IDs.",
            "schema": {
              "type": "string"
            },
            "example": "bba77b234e84443e,02077b2b1aa8b938"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date in ISO 8601 format (UTC time).",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-30T00:00:00Z"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date in ISO 8601 format (UTC time).",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-30T11:59:59Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with template usage data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "template_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "end_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "template_id": {
                            "type": "string"
                          },
                          "total_credit": {
                            "type": "string"
                          },
                          "total_count": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "template_ids": [
                    "bba77b234e84443e",
                    "02077b2b1aa8b938"
                  ],
                  "start_date": "2025-01-30T00:00:00Z",
                  "end_date": "2025-01-30T11:59:59Z",
                  "results": [
                    {
                      "template_id": "02077b2b1aa8b938",
                      "total_credit": "8.0000",
                      "total_count": "8"
                    },
                    {
                      "template_id": "bba77b234e84443e",
                      "total_credit": "2.0000",
                      "total_count": "2"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://api.craftmypdf.com/v1/query-template-usage?template_ids=bba77b234e84443e%2C02077b2b1aa8b938&start_date=2025-01-30T00%3A00%3A00Z&end_date=2025-01-30T11%3A59%3A59Z' \\\n--header 'X-API-KEY: YOUR_API_KEY' \\\n--header 'Content-Type: application/json' \\\n"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://api.craftmypdf.com/v1/query-template-usage\"\nheaders = {\n    \"X-API-KEY\": \"YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\nparams = {\n    \"template_ids\": \"bba77b234e84443e,02077b2b1aa8b938\",\n    \"start_date\": \"2025-01-30T00:00:00Z\",\n    \"end_date\": \"2025-01-30T11:59:59Z\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())\n"
          }
        ],
        "operationId": "get_query_template_usage"
      }
    },
    "/create-editor-session": {
      "post": {
        "summary": "Create editor session",
        "operationId": "create-editor-session",
        "description": "This endpoint creates a new PDF editor session. The PDF editor url can be embedded into an IFrame.",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID",
                    "example": "5ef88b2b237c968c"
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the editor session in minutes. e.g. 1440=24 hours",
                    "example": 1440
                  },
                  "canSave": {
                    "type": "boolean",
                    "description": "Can save the template. Default to `true`",
                    "example": true
                  },
                  "canCreatePDF": {
                    "type": "boolean",
                    "description": "Can Generate PDF. Default to `true`",
                    "example": true
                  },
                  "canViewSettings": {
                    "type": "boolean",
                    "description": "Can view settings. Default to `true`",
                    "example": true
                  },
                  "canPreview": {
                    "type": "boolean",
                    "description": "Can preview. Default to `true`",
                    "example": true
                  },
                  "canEditJSON": {
                    "type": "boolean",
                    "description": "Can edit JSON. Default to `true`",
                    "example": true
                  },
                  "canShowHeader": {
                    "type": "boolean",
                    "description": "Show CraftMyPDF header. Default to `true`",
                    "example": true
                  },
                  "canShowLayers": {
                    "type": "boolean",
                    "description": "Show layer dialogue. Default to `true`",
                    "example": true
                  },
                  "canShowPropertyPanel": {
                    "type": "boolean",
                    "description": "Show property panel. Default to `true`",
                    "example": true
                  },
                  "canShowHelp": {
                    "type": "boolean",
                    "description": "Show `Help`` tab. Default to `true`",
                    "example": true
                  },
                  "canShowData": {
                    "type": "boolean",
                    "description": "Show `Data`  tab . Default to `true`",
                    "example": true
                  },
                  "canShowExpressionDoc": {
                    "type": "boolean",
                    "description": "Show `Expression Doc` tab. Default to `true`",
                    "example": true
                  },
                  "canShowPropertyBinding": {
                    "type": "boolean",
                    "description": "Show `Property Bind` tab for element. Default to `true`",
                    "example": true
                  },
                  "canShowBackURL": {
                    "type": "boolean",
                    "description": "Show `Back` button. Default to `true`",
                    "example": true
                  },
                  "jsonMode": {
                    "type": "integer",
                    "description": "JSON editor - `1`, JSON viewer - `2`. Default to `1`",
                    "example": 1
                  },
                  "backURL": {
                    "type": "string",
                    "description": "The URL for the back button",
                    "example": "https://yoururl.com"
                  }
                },
                "required": [
                  "template_id",
                  "expiration"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and editor url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessCreateNewEditorSession"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"template_id\": \"05f77b2b18ad809a\", \"expiration\": 1440, \"canSave\": true,\"canCreatePDF\": true,\"canViewSettings\": true,\"canPreview\": true,\"canEditJSON\": true, \"canShowHeader\": true, \"backURL\": \"https://yoururl.com\"}' \\\n  \"https://api.craftmypdf.com/v1/create-editor-session\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    json_payload = {\n      \"expiration\": 1440 ,\n      \"template_id\": \"5ef77b2b187c968c\",\n      \"canSave\": true,\n      \"canCreatePDF\": true,\n      \"canViewSettings\": true,\n      \"canPreview\": true,\n      \"canEditJSON\": true,\n      \"canShowHeader\": true,\n      \"backURL\": \"https://yoururl.com\"\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/create-editor-session\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/deactivate-editor-session": {
      "post": {
        "summary": "Deactivate editor session",
        "operationId": "deactivate-editor-session",
        "description": "This endpoint deactivates a new PDF editor session.",
        "tags": [
          "Template Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token_uuid": {
                    "type": "string",
                    "description": "Token UUID",
                    "example": "a1263472b-e5e3-4568-8654-ec49f48392"
                  }
                },
                "required": [
                  "token_uuid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessDeactivateEditorSession"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{\"token_uuid\": \"a1263472b-e5e3-4568-8654-ec49f48392\"}' \\\n  \"https://api.craftmypdf.com/v1/deactivate-editor-session\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    json_payload = {\n      \"token_uuid\": \"a1263472b-e5e3-4568-8654-ec49f48392\" ,\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/deactivate-editor-session\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/list-transactions": {
      "get": {
        "summary": "List transactions",
        "operationId": "list-transactions",
        "description": "This endpoint lists all the transactions",
        "tags": [
          "Account Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Retrieve only the number of records specified. Default to 300",
            "example": 300
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Offset is used to skip the number of records from the results. Default to 0",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Returns status and transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListTransactions"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --header \"Content-Type: application/json\"  \\\n    --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n    \"https://api.craftmypdf.com/v1/list-transactions?limit=300&offset=0\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    response = requests.get(\n        F\"https://api.craftmypdf.com/v1/list-transactions?limit=300&offset=0\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"}\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/get-account-info": {
      "get": {
        "summary": "Get account information",
        "operationId": "get-account-info",
        "description": "This endpoint returns the account information",
        "tags": [
          "Account Management API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAccountInformation"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  \"https://api.craftmypdf.com/v1/get-account-info\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    response = requests.get(\n        F\"https://api.craftmypdf.com/v1/get-account-info\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"}\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/merge-pdfs": {
      "post": {
        "summary": "Merge PDF URLs",
        "operationId": "merge-pdfs",
        "description": "This endpoint merges multiple PDF URLs",
        "tags": [
          "PDF Manipulation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "description": "URL array",
                    "example": [
                      "https://fileserver.com/a1.pdf",
                      "https://fileserver.com/b2.pdf"
                    ]
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "output_file": {
                    "type": "string",
                    "description": "output file, default to 'output.pdf'",
                    "example": "output.pdf"
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN, default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  },
                  "postaction_s3_filekey": {
                    "type": "string",
                    "description": "- This is to specify the file name for `Post Action(S3 Storage)`.\n- Please do not specify the file extension\n- Please make sure the file name is unique\n- You might use slash (/) as the folder delimiter\n"
                  },
                  "postaction_s3_bucket": {
                    "type": "string",
                    "description": "- This is to overwrite the AWS Bucket for `Post Action(S3 Storage)`.\n"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns status and output file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSuccessSingleFile"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \\\n  --header \"Content-Type: application/json\"  \\\n  --header 'X-API-KEY: 7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=' \\\n  --data '{ \"urls\": [\"https://fileserver.com/a1.pdf\",\"https://fileserver.com/b2.pdf\"] }' \\\n  \"https://api.craftmypdf.com/v1/merge-pdfs\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests, json\n\ndef main():\n    api_key = \"7832MjA6MTE6UjlkM3h4emxpTExzeFR0aQ=\"\n\n    json_payload = {\n      \"urls\": [\"https://fileserver.com/a1.pdf\",\"https://fileserver.com/b2.pdf\"] ,\n      \"output_file\": \"output.pdf\",\n    }\n\n    response = requests.post(\n        F\"https://api.craftmypdf.com/v1/merge-pdfs\",\n        headers = {\"X-API-KEY\": F\"{api_key}\"},\n        json = json_payload\n    )\n\n    print(response.content)\n\nif __name__ == \"__main__\":\n    main()\n"
          }
        ]
      }
    },
    "/add-text-to-pdf": {
      "post": {
        "summary": "Add text to a PDF",
        "operationId": "add-text-to-pdf",
        "description": "This endpoint add text to a PDF, you can add page numbers, watermark, and text to a PDF",
        "tags": [
          "PDF Manipulation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the PDF file to be annotated."
                  },
                  "textSettings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "page_selector": {
                          "type": "string",
                          "description": "The page or range of pages to apply the annotation (e.g., \"1\", \"2\", \"10-*\").\nYou can use comma to specify multiple pages or ranges of pages.\nFor example, a PDF with 9 pages:\n| page_selector | Page                  |\n|--------------|----------------------|\n| 1,4,6        | Page 1, 4, 6         |\n| 1,3,5-8      | Page 1, 3, 5, 6, 7, 8 |\n| 1,3-*        | Page 1, 3, 4, 5, 6, 7, 8, 9 |\n",
                          "example": "1,2-*,5-8"
                        },
                        "text": {
                          "type": "string",
                          "description": "The text to be annotated on the page. The following are the supported dynamic variables:\n| Placeholder         | Description                                      |\n|---------------------|--------------------------------------------------|\n| `{{pageNumber}}`   | Gets the current page number.                    |\n| `{{totalPages}}`   | Gets the total number of pages.                   |\n| `{{currentIndex}}` | Gets the current index of the item.               |\n",
                          "example": "Page {{pageNumber}} of {{totalPages}}"
                        },
                        "position": {
                          "type": "string",
                          "enum": [
                            "top-left",
                            "top-center",
                            "top-right",
                            "middle-left",
                            "center",
                            "middle-right",
                            "bottom-left",
                            "bottom-center",
                            "bottom-right"
                          ],
                          "description": "The position on the page where the text will be placed.",
                          "example": "top-left"
                        },
                        "offset_x": {
                          "type": "number",
                          "description": "The horizontal offset from the position.",
                          "example": 10
                        },
                        "offset_y": {
                          "type": "number",
                          "description": "The vertical offset from the position.",
                          "example": 10
                        },
                        "font_size": {
                          "type": "number",
                          "description": "The font size of the annotated text.",
                          "example": 12
                        },
                        "hex_color": {
                          "type": "string",
                          "format": "hex-color",
                          "description": "The color of the text in hexadecimal format (e.g., \"#FF0000\").",
                          "example": "#FF0000"
                        },
                        "font_family": {
                          "type": "string",
                          "description": "The font family of the annotated text (e.g., \"Helvetica\"). Available fonts are: Courier, Courier-Bold, Courier-Oblique, Courier-BoldOblique, Helvetica, Helvetica-Bold, Helvetica-Oblique, Helvetica-BoldOblique, Times-Roman, Times-Bold, Times-Italic, Times-BoldItalic, Symbol, ZapfDingbats.\n",
                          "example": "Helvetica"
                        },
                        "opacity": {
                          "type": "number",
                          "format": "float",
                          "minimum": 0.0,
                          "maximum": 1.0,
                          "description": "The opacity of the text (1.0 is fully opaque, 0.0 is fully transparent).",
                          "example": 0.5
                        },
                        "rotation": {
                          "type": "number",
                          "description": "The rotation angle of the text in degrees.",
                          "example": 45
                        }
                      },
                      "required": [
                        "page_selector",
                        "text",
                        "position"
                      ]
                    }
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "output_file": {
                    "type": "string",
                    "description": "output file, default to 'output.pdf'",
                    "example": "output.pdf"
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN, default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  }
                },
                "required": [
                  "url",
                  "textSettings"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully PDF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": {
                      "type": "string",
                      "format": "uri",
                      "description": "The URL of the annotated PDF file.",
                      "example": "https://craftmypdf.s3.ap-southeast-1.amazonaws.com/test/output2025-01-24T170834.623_annotated.pdf"
                    },
                    "transaction_ref": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A unique reference ID for the transaction.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "description": "The status of the operation.",
                      "example": "success"
                    }
                  },
                  "required": [
                    "file",
                    "transaction_ref",
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X POST \"https://api.example.com/add-text-to-pdf\" \\\n    -H \"Authorization: Bearer YOUR_API_KEY\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n          \"url\": \"https://example.com/sample.pdf\",\n          \"textSettings\": [\n            {\n              \"page_selector\": \"1-*\",\n              \"text\": \"Page {{pageNumber}} of {{totalPages}}\",\n              \"position\": \"bottom-center\",\n              \"offset_x\": 0,\n              \"offset_y\": 10,\n              \"font_size\": 12,\n              \"hex_color\": \"#000000\",\n              \"font_family\": \"Helvetica\",\n              \"opacity\": 1.0,\n              \"rotation\": 0\n            },\n            {\n              \"page_selector\": \"2-*\",\n              \"text\": \"Confidential\",\n              \"position\": \"center\",\n              \"offset_x\": 0,\n              \"offset_y\": 0,\n              \"font_size\": 24,\n              \"hex_color\": \"#FF0000\",\n              \"font_family\": \"Arial\",\n              \"opacity\": 0.5,\n              \"rotation\": 45\n            }\n          ]\n        }'\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://api.example.com/add-text-to-pdf\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\ndata = {\n    \"url\": \"https://example.com/sample.pdf\",\n    \"textSettings\": [\n        {\n            \"page_selector\": \"1-*\",\n            \"text\": \"Page {{pageNumber}} of {{totalPages}}\",\n            \"position\": \"bottom-center\",\n            \"offset_x\": 0,\n            \"offset_y\": 10,\n            \"font_size\": 12,\n            \"hex_color\": \"#000000\",\n            \"font_family\": \"Helvetica\",\n            \"opacity\": 1.0,\n            \"rotation\": 0\n        },\n        {\n            \"page_selector\": \"2-*\",\n            \"text\": \"Confidential\",\n            \"position\": \"center\",\n            \"offset_x\": 0,\n            \"offset_y\": 0,\n            \"font_size\": 24,\n            \"hex_color\": \"#FF0000\",\n            \"font_family\": \"Arial\",\n            \"opacity\": 0.5,\n            \"rotation\": 45\n        }\n    ]\n}\n\nresponse = requests.post(url, headers=headers, json=data)\nprint(response.json())\n"
          }
        ]
      }
    },
    "/update-pdf-fields": {
      "post": {
        "summary": "Update fillable fields",
        "description": "Updates the fillable fields(such as text fields, checkboxes, dropdowns, etc) in a PDF document with the provided values. Use https://craftmypdf.com/tools/pdf-fillable-field-reader/ to identify the fillable field ids.",
        "operationId": "update-pdf-fields",
        "tags": [
          "PDF Manipulation API"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL of the PDF file to update.",
                    "example": "https://craftmypdf.s3.ap-southeast-1.amazonaws.com/test/output+-+2025-01-24T170834.623.pdf"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of the field to update. Use https://craftmypdf.com/tools/pdf-fillable-field-reader/ to find out the field ids.",
                          "example": "last_name"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value to set for the field.",
                          "example": "Smith"
                        },
                        "readOnly": {
                          "type": "boolean",
                          "description": "Whether the field should be read-only after updating.",
                          "example": false
                        },
                        "fontSize": {
                          "type": "integer",
                          "description": "The font size of the textfield.",
                          "example": 15
                        }
                      }
                    }
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiration of the generated PDF in minutes. default to 5 minutes, range between 1 minute and 10080 minutes(7 days)",
                    "example": 60
                  },
                  "output_file": {
                    "type": "string",
                    "description": "output file, default to 'output.pdf'",
                    "example": "output.pdf"
                  },
                  "cloud_storage": {
                    "type": "integer",
                    "description": "Upload the generated PDFs/images to our storage CDN, default to `1`. If you have configured `Post Actions` to upload the PDFs/Images to your own S3, please set it to `0`.",
                    "example": 1
                  }
                },
                "required": [
                  "url",
                  "fields"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF fields updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "PDF fields updated successfully"
                    },
                    "file": {
                      "type": "string",
                      "example": "https://craftmypdf.s3.ap-southeast-1.amazonaws.com/test/output2025-01-24T170834.623_updated.pdf"
                    },
[...]
