{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0-oas3",
    "title": "device-gateway-service API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/BlueHillCoffee/device-gateway-service-api/1.0.0-oas3"
  },
  "servers": [
    {
      "url": "https://api.bluehill.coffee"
    }
  ],
  "tags": [
    {
      "name": "device-gateway",
      "description": "Inbound and outbound gateway service"
    },
    {
      "name": "device-mgmt",
      "description": "Device metadata and state management service"
    },
    {
      "name": "device-configuration-mgmt",
      "description": "Device configuration management service"
    },
    {
      "name": "device-action-mgmt",
      "description": "Device program, task, action magement service"
    },
    {
      "name": "device-software-mgmt",
      "description": "Device software management service"
    }
  ],
  "paths": {
    "/v1/robot_programs": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot programs",
        "operationId": "getRobotPrograms",
        "parameters": [
          {
            "name": "pagination.pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination.lastItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot programs response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotProgramsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Create robot program",
        "operationId": "createRobotProgram",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRobotProgramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create robot program response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRobotProgramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_programs/{id}": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot program by robot program Id",
        "operationId": "getRobotProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot program response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotProgramResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Update robot program",
        "operationId": "updateRobotProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRobotProgramRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update robot program response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Delete robot program by robot program Id",
        "operationId": "deleteRobotProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete robot program response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          }
        }
      }
    },
    "/v1/robot_tasks": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot tasks",
        "operationId": "getRobotTasks",
        "parameters": [
          {
            "name": "pagination.pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination.lastItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot tasks response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotTasksResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Create robot task",
        "operationId": "createRobotTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRobotTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create robot action response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRobotTaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_tasks/{id}": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot task by ID",
        "operationId": "getRobotTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot task response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotTaskResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Update robot task by ID",
        "operationId": "updateRobotTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRobotTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update robot task response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Delete robot task by ID",
        "operationId": "deleteRobotTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot task response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          }
        }
      }
    },
    "/v1/robot_tasks/{id}/operations/change_actions_duration/executions": {
      "post": {
        "tags": [
          "device-task-mgmt"
        ],
        "summary": "Change actions duration",
        "operationId": "changeActionsDuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeActionsDurationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change actions duration response"
          }
        }
      }
    },
    "/v1/robot_tasks/~/operations/multi_get/executions": {
      "post": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get multiple robot tasks",
        "operationId": "getMultipleRobotTasks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMultiRobotTasksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get multiple robot tasks response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMultiRobotTasksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_actions": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot actions",
        "operationId": "getRobotActions",
        "parameters": [
          {
            "name": "pagination.pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination.lastItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "id",
                "cloudHash"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot tasks response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotActionsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Create robot action",
        "operationId": "createRobotAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRobotActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create robot action response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRobotActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_actions/{id}": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot action by ID",
        "operationId": "getRobotAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot action response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotActionResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Update robot action",
        "operationId": "updateRobotAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRobotActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update robot action response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Delete robot action",
        "operationId": "deleteRobotAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete robot action response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          }
        }
      }
    },
    "/v1/robot_actions/~/operations/multi_get/executions": {
      "post": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get multiple robot actions",
        "operationId": "getMultipleRobotActions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMultiRobotActionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get multiple robot actions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMultiRobotActionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_actions/{id}/operations/change_duration/executions": {
      "post": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Change action duration",
        "operationId": "changeActionDuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeActionDurationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get multiple robot actions response"
          }
        }
      }
    },
    "/v1/robot_attributes": {
      "get": {
        "tags": [
          "device-action-mgmt"
        ],
        "summary": "Get robot attributes",
        "operationId": "getRobotAttributes",
        "parameters": [
          {
            "name": "configuration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "attributeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "optionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pagination.pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination.lastItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot attributes response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotAttributesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots_metadata": {
      "get": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Get robots metadata",
        "operationId": "getRobotsMetadata",
        "parameters": [
          {
            "name": "pagination.pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size"
          },
          {
            "name": "pagination.lastItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Get robots metadata response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotsMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots_metadata/{robotId}": {
      "get": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Get robot metadata by robot ID",
        "operationId": "getRobotMetadata",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot metadata response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots_state/{robotId}": {
      "get": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Get robot state by robot ID",
        "operationId": "getRobotState",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot state response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotStateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots/{robotId}/settings": {
      "get": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Get settings by robot ID",
        "operationId": "getRobotSettingsByRobotId",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot settings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotSettingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots/{robotId}/ios": {
      "get": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Get robot IOs by robot ID",
        "operationId": "getRobotIOs",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot IOs response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotIOsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/operations/report_modules_state/executions": {
      "post": {
        "tags": [
          "device-gateway"
        ],
        "summary": "Refresh robot module states",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh robot module states response"
          }
        }
      }
    },
    "/v1/robots/{robotId}/operations/execute_actions_by_ids/executions": {
      "post": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Execute Actions by IDs",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteActionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response is empty"
          }
        }
      }
    },
    "/v1/robots/{robotId}/operations/{operationKey}/directive": {
      "post": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Generate robot operation directive",
        "operationId": "generateRobotOperationDirective",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "adjust_steam_wand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot operation directive response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectiveVo"
                },
                "examples": {
                  "GetRobotOperationDirectiveResponseExample": {
                    "$ref": "#/components/examples/GetRobotOperationDirectiveExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots/{robotId}/orders/~/items/~/metrics": {
      "get": {
        "tags": [
          "device-mgmt"
        ],
        "summary": "Get order item metrics by robotId",
        "operationId": "getRobotOrderItemMetrics",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Order item metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotOrderItemMetricsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_configurations/{configuration}/objects": {
      "get": {
        "tags": [
          "device-configuration-mgmt"
        ],
        "summary": "Get robot objects by configuration",
        "operationId": "getRobotObjects",
        "parameters": [
          {
            "name": "configuration",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot objects response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotObjectsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_configurations/{configuration}/arucos/{arucoId}/states": {
      "post": {
        "tags": [
          "device-configuration-mgmt"
        ],
        "summary": "Upload aruco state",
        "operationId": "uploadArucoState",
        "parameters": [
          {
            "name": "configuration",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "arucoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadArucoStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload aruco state response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadArucoStateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_configurations/{configuration}/arucos/~/states": {
      "get": {
        "tags": [
          "device-configuration-mgmt"
        ],
        "summary": "Get aruco states",
        "operationId": "getArucoStates",
        "parameters": [
          {
            "name": "configuration",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "latest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Return latest aruco states for each arucoId when it is true. Not compatible with other parameters."
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start time of aruco state. Not compatible with `latest` parameter."
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End time of aruco state. Not compatible with `latest` parameter."
          },
          {
            "name": "pagination.pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Not compatible with `latest` parameter."
          },
          {
            "name": "pagination.lastItem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination offset. Not compatible with `latest` parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "Get aruco states",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArucoStatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots/{robotId}/directive": {
      "post": {
        "tags": [
          "device-gateway"
        ],
        "summary": "Send directive to robot.",
        "operationId": "sendDirective",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectiveVo"
              },
              "examples": {
                "InteractExample": {
                  "$ref": "#/components/examples/InteractExample"
                },
                "ExecuteProgramExample": {
                  "$ref": "#/components/examples/ExecuteProgramExample"
                },
                "OrderItemExample": {
                  "$ref": "#/components/examples/OrderItemExample"
                },
                "SetIOState": {
                  "$ref": "#/components/examples/SetIOStateExample"
                },
                "MoveEndEffectorExample": {
                  "$ref": "#/components/examples/MoveEndEffectorExample"
                },
                "SetVolumeExample": {
                  "$ref": "#/components/examples/SetVolumeExample"
                },
                "PlayVoiceExample": {
                  "$ref": "#/components/examples/PlayVoiceExample"
                },
                "AdjustTaskExample": {
                  "$ref": "#/components/examples/AdjustTaskExample"
                },
                "ApplyActionOffsetExample": {
                  "$ref": "#/components/examples/ApplyActionOffsetExample"
                },
                "ChangeActionDurationExample": {
                  "$ref": "#/components/examples/ChangeActionDurationExample"
                },
                "DeploySoftwareExample": {
                  "$ref": "#/components/examples/DeploySoftwareExample"
                },
                "ReportModulesStateExample": {
                  "$ref": "#/components/examples/ReportModulesStateExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/robots/{robotId}/event": {
      "post": {
        "tags": [
          "device-gateway"
        ],
        "summary": "Report event to cloud",
        "operationId": "reportEvent",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventVo"
              },
              "examples": {
                "RobotStatusReportEventExample": {
                  "$ref": "#/components/examples/RobotStatusReportEventExample"
                },
                "ActionOffsetAppliedExample": {
                  "$ref": "#/components/examples/ActionOffsetAppliedEventExample"
                },
                "DirectiveStateReportEventExample1": {
                  "$ref": "#/components/examples/DirectiveStateReportEventExample1"
                },
                "DirectiveStateReportEventExample2": {
                  "$ref": "#/components/examples/DirectiveStateReportEventExample2"
                },
                "InteractionReportEventSuccessExample": {
                  "$ref": "#/components/examples/InteractionReportEventSuccessExample"
                },
                "InteractionReportEventFailedExample": {
                  "$ref": "#/components/examples/InteractionReportEventFailedExample"
                },
                "InteractionReportEventNotSupportedExample": {
                  "$ref": "#/components/examples/InteractionReportEventNotSupportedExample"
                },
                "ActionsAdjustedExample": {
                  "$ref": "#/components/examples/ActionAdjustedExample"
                },
                "RobotSoftwareInfoReportEventExample": {
                  "$ref": "#/components/examples/RobotSoftwareInfoReportEventExample"
                },
                "FixedObjectPoseReportEventExample": {
                  "$ref": "#/components/examples/FixedObjectPoseReportEventExample"
                },
                "WatchObjectReportEventExample": {
                  "$ref": "#/components/examples/WatchObjectReportEventExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/robots/{robotId}/deployments": {
      "post": {
        "tags": [
          "device-software-mgmt"
        ],
        "summary": "Create a robot software deployment",
        "operationId": "createRobotSoftwareDeployment",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRobotSoftwareDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/robots/{robotId}/software_info": {
      "get": {
        "tags": [
          "device-software-mgmt"
        ],
        "summary": "Get robot software information",
        "operationId": "getRobotSoftwareInfo",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot software infomation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotSoftwareInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots/~/modules/{moduleId}/issue_metadata/{issueKey}": {
      "get": {
        "tags": [
          "device-gateway"
        ],
        "summary": "Get single robot issue metadata",
        "operationId": "getSingleRobotModuleIssueMetadata",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single robot issue metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotModuleIssueMetadataResponse"
                },
                "examples": {
                  "nonRobotIssueMetadataExample": {
                    "$ref": "#/components/examples/NonRobotIssueMetadataExample"
                  },
                  "robotIssueMetadataExample": {
                    "$ref": "#/components/examples/RobotIssueMetadataExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/robots/~/modules/~/issue_metadata": {
      "get": {
        "tags": [
          "device-gateway"
        ],
        "summary": "Get all robot issue metadata",
        "operationId": "getAllRobotModuleIssueMetadata",
        "responses": {
          "200": {
            "description": "Get all robot issue metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllRobotModuleIssueMetadataResponse"
                },
                "examples": {
                  "multipleIssueMetadataExample": {
                    "$ref": "#/components/examples/MultipleIssueMetadataExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_software": {
      "post": {
        "tags": [
          "device-software-mgmt"
        ],
        "summary": "Create a new version of robot software for testing or release",
        "operationId": "createRobotSoftwareRelease",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateRobotSoftwareReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get robot software release response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRobotSoftwareReleaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/robot_software/{softwareVersion}": {
      "get": {
        "tags": [
          "device-software-mgmt"
        ],
        "summary": "Get robot software release information",
        "operationId": "getRobotSoftwareRelease",
        "parameters": [
          {
            "name": "softwareVersion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get robot software release response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRobotSoftwareReleaseResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetRobotSoftwareReleaseResponse": {
        "type": "object",
        "required": [
          "softwareVersion",
          "downloadUrl",
          "md5Url",
          "createdTime"
        ],
        "properties": {
          "softwareVersion": {
            "type": "string",
            "example": "1.20.2"
          },
          "downloadUrl": {
            "type": "string"
          },
          "md5": {
            "type": "string"
          },
          "createdTime": {
            "type": "integer",
            "format": "int64"
          },
          "changelog": {
            "type": "string"
          }
        }
      },
      "CreateRobotSoftwareReleaseRequest": {
        "type": "object",
        "required": [
          "uploadUrl",
          "changelog"
        ],
        "properties": {
          "uploadUrl": {
            "type": "string"
          },
          "changelog": {
            "type": "string"
          }
        }
      },
      "CreateRobotSoftwareReleaseResponse": {
        "type": "object",
        "required": [
          "softwareVersion"
        ],
        "properties": {
          "softwareVersion": {
            "type": "string",
            "example": "1.21.1"
          }
        }
      },
      "GetRobotSoftwareInfoResponse": {
        "type": "object",
        "required": [
          "robotId",
          "expected",
          "temporary",
          "actual"
        ],
        "properties": {
          "robotId": {
            "type": "integer",
            "format": "int64",
            "example": 2
          },
          "released": {
            "$ref": "#/components/schemas/RobotSoftwrareInfoPayload",
            "example": "1.21.1"
          },
          "temporary": {
            "example": "1.21.2",
            "$ref": "#/components/schemas/RobotSoftwrareInfoPayload"
          },
          "current": {
            "$ref": "#/components/schemas/RobotSoftwrareInfoPayload",
            "example": "1.21.2"
          }
        }
      },
      "GetRobotModuleIssueMetadataResponse": {
        "type": "object",
        "required": [
          "issueKey",
          "moduleId",
          "issueType",
          "issueTypeV2",
          "severity",
          "description",
          "instruction",
          "robotVoiceMessage",
          "instructionPattern",
          "instructionSpoken",
          "allowedMaxAttempts",
          "timeToEscalate",
          "minimumNotificationInterval",
          "crossRobotAlarm"
        ],
        "properties": {
          "issueKey": {
            "type": "string"
          },
          "moduleId": {
            "type": "string"
          },
          "issueType": {
            "type": "string"
          },
          "issueTypeV2": {
            "type": "string"
          },
          "severity": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          },
          "instruction": {
            "type": "string"
          },
          "robotVoiceMessage": {
            "type": "string"
          },
          "instructionPattern": {
            "type": "string"
          },
          "instructionSpoken": {
            "type": "boolean"
          },
          "allowedMaxAttempts": {
            "type": "integer",
            "format": "int64"
          },
          "timeToEscalate": {
            "type": "integer",
            "format": "int64"
          },
          "minimumNotificationInterval": {
            "type": "integer",
            "format": "int64"
          },
          "crossRobotAlarm": {
            "type": "boolean"
          }
        }
      },
      "GetAllRobotModuleIssueMetadataResponse": {
        "type": "object",
        "required": [
          "issuesMetadata"
        ],
        "properties": {
          "issuesMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotModuleIssueMetadataResponse"
            }
          }
        }
      },
      "RobotSoftwrareInfoPayload": {
        "type": "object",
        "required": [
          "softwareVersion"
        ],
        "properties": {
          "softwareVersion": {
            "type": "string",
            "example": "1.20.1"
          }
        }
      },
      "CreateRobotSoftwareDeploymentRequest": {
        "type": "object",
        "required": [
          "softwareVersion"
        ],
        "properties": {
          "softwareVersion": {
            "type": "string",
            "example": "1.20.2"
          },
          "temporary": {
            "type": "boolean",
            "example": true,
            "default": false
          }
        }
      },
      "GetRobotsMetadataResponse": {
        "type": "object",
        "required": [
          "robotsMetadata",
          "pagination"
        ],
        "properties": {
          "robotsMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotMetadataResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetRobotMetadataResponse": {
        "type": "object",
        "required": [
          "robotId",
          "storeId",
          "configuration"
        ],
        "properties": {
          "robotId": {
            "type": "integer",
            "format": "int64",
            "example": 2
          },
          "storeId": {
            "type": "integer",
            "format": "int64",
            "example": 3
          },
          "configuration": {
            "type": "integer",
            "format": "int32",
            "example": 2
          }
        }
      },
      "GetRobotStateResponse": {
        "type": "object",
        "required": [
          "robotId",
          "status",
          "statusDescription",
          "joinStates"
        ],
        "properties": {
          "robotId": {
            "type": "integer",
            "format": "int64",
            "example": 2
          },
          "status": {
            "type": "string",
            "example": "PENDING"
          },
          "statusDescription": {
            "type": "string",
            "example": "Robot can't see aruco code"
          },
          "joinStates": {
            "type": "array",
            "items": {
              "type": "number",
              "minLength": 6,
              "maxLength": 6
            },
            "example": [
              0.1,
              0.2,
              0.3,
              0.4,
              0.5,
              0.6
            ]
          }
        }
      },
      "GetRobotOrderItemMetricsResponse": {
        "type": "object",
        "required": [
          "robotId",
          "metrics"
        ],
        "properties": {
          "robotId": {
            "type": "integer",
            "format": "int64",
            "example": 0
          },
          "metrics": {
            "type": "object",
            "properties": {
              "arduinoSyrupScaleNoContainerWeight": {
                "properties": {
                  "value": {
                    "type": "integer",
                    "example": 10
                  }
                }
              },
              "arduinoIceScaleNoContainerWeight": {
                "properties": {
                  "value": {
                    "type": "integer",
                    "example": 15
                  }
                }
              }
            }
          }
        }
      },
      "GetRobotSettingsResponse": {
        "type": "object",
        "required": [
          "settings"
        ],
        "properties": {
          "settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotSettingResponse"
            }
          }
        }
      },
      "GetRobotSettingResponse": {
        "type": "object",
        "required": [
          "settingKey",
          "settingType",
          "settingValue"
        ],
        "properties": {
          "settingKey": {
            "type": "string",
            "example": "namespace1.namespace2.testKey"
          },
          "settingType": {
            "type": "string",
            "example": "PLAY_VOICE"
          },
          "settingValue": {
            "type": "string",
            "example": "testValue"
          }
        }
      },
      "GetRobotIOsResponse": {
        "type": "object",
        "required": [
          "robotId",
          "ios"
        ],
        "properties": {
          "robotId": {
            "type": "integer",
            "format": "int64",
            "example": 0
          },
          "ios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotIOResponse"
            }
          }
        }
      },
      "GetRobotIOResponse": {
        "type": "object",
        "required": [
          "ioKey",
          "ioControlKey",
          "ioName"
        ],
        "properties": {
          "ioKey": {
            "type": "string",
            "example": "syrupdispenser.vanilla"
          },
          "ioControlKey": {
            "type": "string",
            "example": "syrupdispenser.0"
          },
          "ioName": {
            "type": "string",
            "example": "Vanilla Syrup"
          },
          "ioType": {
            "type": "string",
            "enum": [
              "LIQUID_DISPENSER"
            ]
          },
          "displayType": {
            "type": "string",
            "example": "TOGGLE"
          },
          "promptyMessage": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "bluehillViscosity": {
                "type": "number",
                "example": 0.75
              }
            }
          }
        }
      },
      "DirectiveVo": {
        "type": "object",
        "required": [
          "id",
          "type",
          "name",
          "payload",
          "timestamp"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "testDirectiveId"
          },
          "type": {
            "type": "string",
            "example": "ROBOT"
          },
          "name": {
            "type": "string",
            "example": "ADJUST_ACTIONS",
            "description": "For the name field, cloud prefers upper snake case, like SET_IO_STATE. However, for backward compatible, cloud also support lower camel case for the name field, like setIoState."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "payload": {
            "type": "object"
          }
        }
      },
      "EventVo": {
        "type": "object",
        "required": [
          "id",
          "directiveId",
          "type",
          "name",
          "payload",
          "timestamp"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "testEventId"
          },
          "directiveId": {
            "type": "string",
            "example": "testDirectiveId"
          },
          "type": {
            "type": "string",
            "example": "ROBOT"
          },
          "name": {
            "type": "string",
            "example": "ACTION_ADJUSTED",
            "description": "For the name field, cloud prefers upper snake case, like SET_IO_STATE. However, for backward compatible, cloud also support lower camel case for the name field, like setIoState."
          },
          "payload": {
            "type": "object",
            "required": [
              "adjustType",
              "actions"
            ],
            "properties": {
              "adjustType": {
                "type": "string",
                "example": "MILK_FROTHING"
              },
              "actions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GetRobotMetadataResponse"
                }
              }
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GetRobotProgramsResponse": {
        "type": "object",
        "required": [
          "programs",
          "pagination"
        ],
        "properties": {
          "programs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotProgramResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetMultiRobotProgramsRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              2,
              10
            ]
          }
        }
      },
      "GetMultiRobotProgramsResponse": {
        "type": "object",
        "required": [
          "programs"
        ],
        "properties": {
          "programs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotProgramResponse"
            },
            "example": [
              {
                "programId": 2,
                "name": "Product 2",
                "taskIds": [
                  100,
                  105,
                  99
                ],
                "configuration": 1
              },
              {
                "programId": 10,
                "name": "Product 10",
                "taskIds": [
                  406,
                  312,
                  311
                ],
                "configuration": 1
              }
            ]
          }
        }
      },
      "GetRobotProgramResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "taskIds",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 10,
            "description": "Program ID"
          },
          "name": {
            "type": "string",
            "example": "Make Latte",
            "description": "Program name"
          },
          "taskIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              406,
              312,
              311
            ],
            "description": "Task IDs"
          },
          "productId": {
            "type": "integer",
            "format": "int64",
            "description": "Menu product ID",
            "example": 3
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          }
        }
      },
      "CreateRobotProgramRequest": {
        "type": "object",
        "required": [
          "name",
          "taskIds",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Make Latte",
            "description": "Program name"
          },
          "taskIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              406,
              312,
              311
            ],
            "description": "Task IDs"
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          }
        }
      },
      "CreateRobotProgramResponse": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 10,
            "description": "Program ID"
          }
        }
      },
      "UpdateRobotProgramRequest": {
        "type": "object",
        "required": [
          "name",
          "taskIds",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Make Latte",
            "description": "Program name"
          },
          "taskIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              406,
              312,
              311
            ],
            "description": "Task IDs"
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          }
        }
      },
      "GetRobotTasksResponse": {
        "type": "object",
        "required": [
          "tasks",
          "pagination"
        ],
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotTaskResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetRobotTaskResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "actionIds",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 406,
            "description": "Task ID"
          },
          "name": {
            "type": "string",
            "example": "Dispense Milk & Syrup (Opening Store) <R2>",
            "description": "Task name"
          },
          "actionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              1639,
              1658
            ],
            "description": "Action IDs"
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          }
        }
      },
      "CreateRobotTaskRequest": {
        "type": "object",
        "required": [
          "name",
          "actionIds",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Dispense Milk & Syrup (Opening Store) <R2>",
            "description": "Task name"
          },
          "actionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              1639,
              1658
            ],
            "description": "Action IDs"
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          }
        }
      },
      "CreateRobotTaskResponse": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 406,
            "description": "Task IDm'"
          }
        }
      },
      "UpdateRobotTaskRequest": {
        "type": "object",
        "required": [
          "name",
          "actionIds",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Dispense Milk & Syrup (Opening Store) <R2>",
            "description": "Task name"
          },
          "actionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              1639,
              1658
            ],
            "description": "Action IDs"
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          }
        }
      },
      "GetMultiRobotTasksRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "taskIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              406,
              312
            ]
          }
        }
      },
      "GetMultiRobotTasksResponse": {
        "type": "object",
        "required": [
          "tasks"
        ],
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotTaskResponse"
            }
          }
        }
      },
      "GetRobotActionsResponse": {
        "type": "object",
        "required": [
          "actions",
          "pagination"
        ],
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotActionResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetRobotActionResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "rootId",
          "properties",
          "updatedTime"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1639,
            "description": "Action ID"
          },
          "name": {
            "type": "string",
            "example": "",
            "description": "Action name"
          },
          "type": {
            "type": "integer",
            "example": 5,
            "description": "Action type"
          },
          "rootId": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "hash": {
            "type": "string",
            "example": "5077192424394245318",
            "description": "hash of action object"
          },
          "properties": {
            "type": "object",
            "description": "Action properties",
            "properties": {
              "watchId": {
                "type": "integer"
              },
              "conditionId": {
                "type": "integer"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "goal": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "waitTime": {
                "type": "number"
              },
              "ioPin": {
                "type": "integer"
              },
              "ioState": {
                "type": "boolean"
              },
              "syrupId": {
                "type": "integer"
              },
              "syrupTime": {
                "type": "integer"
              },
              "arucoId": {
                "type": "integer"
              },
              "arucoPoses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "approachSpeed": {
                "type": "number"
              },
              "arucoPose": {
                "type": "object"
              },
              "relativePoses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "relative": {
                "type": "boolean"
              },
              "relativeInitial": {
                "type": "object"
              },
              "sharpness": {
                "type": "integer"
              },
              "keypoint": {
                "type": "string"
              }
            }
          },
          "additionalProperties": {
            "type": "object",
            "description": "Additional properties"
          }
        }
      },
      "GetMultiRobotActionsRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              1,
              1639
            ]
          }
        }
      },
      "GetMultiRobotActionsResponse": {
        "type": "object",
        "required": [
          "actions"
        ],
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotActionResponse"
            }
          }
        }
      },
      "CreateRobotActionRequest": {
        "type": "object",
        "required": [
          "name",
          "hash",
          "type",
          "rootId",
          "properties",
          "updatedTime"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1639,
            "description": "Action ID"
          },
          "name": {
            "type": "string",
            "example": "",
            "description": "Action name"
          },
          "hash": {
            "type": "integer",
            "format": "int64",
            "example": 5077192424394245000,
            "description": "hash of action object"
          },
          "type": {
            "type": "integer",
            "example": 5,
            "description": "Action type"
          },
          "rootId": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "properties": {
            "type": "object",
            "description": "Action properties",
            "properties": {
              "watchId": {
                "type": "integer"
              },
              "conditionId": {
                "type": "integer"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "goal": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "waitTime": {
                "type": "number"
              },
              "ioPin": {
                "type": "integer"
              },
              "ioState": {
                "type": "boolean"
              },
              "syrupId": {
                "type": "integer"
              },
              "syrupTime": {
                "type": "integer"
              },
              "arucoId": {
                "type": "integer"
              },
              "arucoPoses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "approachSpeed": {
                "type": "number"
              },
              "arucoPose": {
                "type": "object"
              },
              "relativePoses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "relative": {
                "type": "boolean"
              },
              "relativeInitial": {
                "type": "object"
              },
              "sharpness": {
                "type": "integer"
              },
              "keypoint": {
                "type": "string"
              }
            }
          },
          "additionalProperties": {
            "type": "object",
            "description": "Additional properties"
          }
        }
      },
      "CreateRobotActionResponse": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1639,
            "description": "Action ID"
          }
        }
      },
      "UpdateRobotActionRequest": {
        "type": "object",
        "required": [
          "name",
          "hash",
          "type",
          "rootId",
          "properties",
          "updatedTime"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1639,
            "description": "Action ID"
          },
          "name": {
            "type": "string",
            "example": "",
            "description": "Action name"
          },
          "hash": {
            "type": "integer",
            "format": "int64",
            "example": 5077192424394245000,
            "description": "hash of action object"
          },
          "type": {
            "type": "integer",
            "example": 5,
            "description": "Action type"
          },
          "rootId": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "properties": {
            "type": "object",
            "description": "Action properties",
            "properties": {
              "watchId": {
                "type": "integer"
              },
              "conditionId": {
                "type": "integer"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "goal": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "waitTime": {
                "type": "number"
              },
              "ioPin": {
                "type": "integer"
              },
              "ioState": {
                "type": "boolean"
              },
              "syrupId": {
                "type": "integer"
              },
              "syrupTime": {
                "type": "integer"
              },
              "arucoId": {
                "type": "integer"
              },
              "arucoPoses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "approachSpeed": {
                "type": "number"
              },
              "arucoPose": {
                "type": "object"
              },
              "relativePoses": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "relative": {
                "type": "boolean"
              },
              "relativeInitial": {
                "type": "object"
              },
              "sharpness": {
                "type": "integer"
              },
              "keypoint": {
                "type": "string"
              }
            }
          },
          "additionalProperties": {
            "type": "object",
            "description": "Additional properties"
          }
        }
      },
      "ChangeActionDurationRequest": {
        "type": "object",
        "required": [
          "robotId",
          "durationRatio"
        ],
        "properties": {
          "robotId": {
            "type": "integer",
            "example": 0
          },
          "durationRatio": {
            "type": "number",
            "example": 0.9
          }
        }
      },
      "ChangeActionsDurationRequest": {
        "type": "object",
        "required": [
          "actionIds",
          "robotId",
          "durationRatio"
        ],
        "properties": {
          "actionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [
              101,
              103
            ]
          },
          "robotId": {
            "type": "integer",
            "example": 0
          },
          "durationRatio": {
            "type": "number",
            "example": 0.9
          }
        }
      },
      "ExecuteActionsRequest": {
        "type": "object",
        "required": [
          "actions"
        ],
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecuteActionRequest"
            }
          }
        }
      },
      "ExecuteActionRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 101
          }
        }
      },
      "GetRobotAttributesResponse": {
        "type": "object",
        "required": [
          "attributes",
          "pagination"
        ],
        "properties": {
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotAttributeResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetRobotAttributeResponse": {
        "type": "object",
        "required": [
          "id",
          "name",
          "productId",
          "attributeId",
          "optionId",
          "modifiers",
          "configuration",
          "enabled"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1002,
            "description": "Auto generated ID"
          },
          "name": {
            "type": "string",
            "example": "Oat Milk",
            "description": "Task name"
          },
          "productId": {
            "type": "integer",
            "format": "int64",
            "example": 3
          },
          "attributeId": {
            "type": "integer",
            "format": "int64",
            "example": 3
          },
          "optionId": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "modifiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "REPLACE_TASK"
                },
                "fromId": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "toId": {
                  "type": "integer",
                  "format": "int64",
                  "example": 2
                }
              }
            }
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Robot configuration ID"
          },
          "enabled": {
            "type": "boolean",
            "example": true,
            "default": true
          }
        }
      },
      "UploadArucoStateRequest": {
        "type": "object",
        "required": [
          "cameraSerial",
          "confidence",
          "arucoPose",
          "jointState",
          "robotId"
        ],
        "properties": {
          "cameraSerial": {
            "type": "string",
            "example": "cam0"
          },
          "confidence": {
            "type": "number",
            "example": 0.840201
          },
          "arucoPose": {
            "type": "object"
          },
          "jointState": {
            "type": "object"
          }
        }
      },
      "UploadArucoStateResponse": {
        "type": "object",
        "required": [
          "stateId"
        ],
        "properties": {
          "stateId": {
            "type": "integer",
            "format": "int64",
            "example": 113
          }
        }
      },
      "GetArucoStatesResponse": {
        "required": [
          "arucos",
          "pagination"
        ],
        "properties": {
          "arucoCodePoses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetArucoStateResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetArucoStateResponse": {
        "type": "object",
        "required": [
          "stateId",
          "configuration",
          "arucoId",
          "cameraSerial",
          "confidence",
          "arucoPose",
          "jointState"
        ],
        "properties": {
          "stateId": {
            "type": "integer",
            "format": "int64",
            "example": 113
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 3
          },
          "arucoId": {
            "type": "integer",
            "example": 8
          },
          "cameraSerial": {
            "type": "string",
            "example": "cam0"
          },
          "confidence": {
            "type": "number",
            "example": 0.840201
          },
          "arucoPose": {
            "type": "object"
          },
          "joinState": {
            "type": "object"
          }
        }
      },
      "GetRobotObjectsResponse": {
        "type": "object",
        "required": [
          "objects",
          "pagination"
        ],
        "properties": {
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRobotObjectResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationParam"
          }
        }
      },
      "GetRobotObjectResponse": {
        "type": "object",
        "required": [
          "id",
          "type",
          "subtypeId",
          "properties",
          "configuration",
          "updatedTime"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 123
          },
          "type": {
            "type": "string",
            "example": "WATCH"
          },
          "subtypeId": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "properties": {
            "type": "object"
          },
          "configuration": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "updatedTime": {
            "type": "integer",
            "format": "int64",
            "example": 123456789
          }
        }
      },
      "PaginationParam": {
        "type": "object",
        "required": [
          "pageSize",
          "lastItem"
        ],
        "properties": {
          "pageSize": {
            "type": "integer",
            "format": "int64",
            "example": 15
          },
          "lastItem": {
            "type": "string",
            "example": "mockstring"
          }
        }
      }
    },
    "examples": {
      "ExecuteProgramExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "EXECUTE_PROGRAM",
          "timestamp": 123456789,
          "payload": {
            "programName": "Press All Cups",
            "taskIds": [
              100,
              101,
              115
            ],
            "tasks": [
              {
                "id": 1
              },
              {
                "id": 3,
                "taskKey": "DISPENSE_ICE_AND_COLD_WATER_BY_WEIGHT",
                "taskType": "DISPENSE_MULTIPLE_BY_WEIGHT",
                "variables": {
                  "dispenseVariables": [
                    {
                      "dispenseWeight": 100,
                      "ioKey": "icedispenser.ice"
                    },
                    {
                      "dispenseWeight": 150,
                      "ioKey": "icedispenser.water"
                    }
                  ]
                }
              },
              {
                "id": 5,
                "taskKey": "DISPENSE_SYRUPS_BY_WEIGHT",
                "taskType": "DISPENSE_MULTIPLE_BY_WEIGHT",
                "variables": [
                  {
                    "dispenseWeight": 10,
                    "ioKey": "syrupdispenser.honey"
                  },
                  {
                    "dispenseWeight": 15,
                    "ioKey": "syrupdispenser.rose"
                  }
                ]
              },
              {
                "id": 10
              }
            ]
          }
        }
      },
      "GetRobotOperationDirectiveExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "ADJUST_STEAM_WAND",
          "timestamp": 123456789,
          "payload": {
            "programName": "Adjust Steam Wand",
            "taskIds": [
              100,
              101,
              115
            ],
            "tasks": [
              {
                "id": 1
              },
              {
                "id": 3,
                "taskKey": "DISPENSE_MILKS_BY_WEIGHT",
                "taskType": "DISPENSE_MULTIPLE_BY_WEIGHT",
                "variables": {
                  "dispenseVariables": [
                    {
                      "dispenseWeight": 100,
                      "ioKey": "milkdispenser.wholemilk"
                    },
                    {
                      "dispenseWeight": 150,
                      "ioKey": "milkdispenser.oatmilk"
                    }
                  ]
                }
              },
              {
                "id": 10
              }
            ]
          }
        }
      },
      "SetIOStateExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "SET_IO_STATE",
          "timestamp": 123456789,
          "payload": {
            "ioKey": "arm.gripper",
            "value": true
          }
        }
      },
      "OrderItemExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "ORDER",
          "name": "ITEM",
          "timestamp": 123456789,
          "payload": {
            "orderId": "testOrderId",
            "itemId": "testItemId",
            "ownerName": "Jim Carrey",
            "productName": "Latte",
            "deliveryName": "Pickup 1",
            "storePickupSlotId": 4,
            "attributeNames": [
              "Cup Size",
              "Coffee Bean",
              "Milk Type",
              "Syrup"
            ],
            "optionNames": [
              "12oz",
              "Decaf",
              "Oat Milk",
              "Vanilla"
            ],
            "taskIds": [
              1,
              5,
              10
            ],
            "tasks": [
              {
                "id": 1
              },
              {
                "id": 3,
                "taskKey": "DISPENSE_ICE_BY_WEIGHT",
                "taskType": "DISPENSE_BY_WEIGHT",
                "variables": {
                  "dispenseWeight": 100,
                  "ioKey": "icedispenser.ice"
                }
              },
              {
                "id": 5,
                "taskKey": "DISPENSE_MILK_BY_WEIGHT",
                "taskType": "DISPENSE_BY_WEIGHT",
                "variables": {
                  "dispenseWeight": 150,
                  "ioKey": "milkdispenser.oatMilk"
                }
              },
              {
                "id": 6,
                "taskKey": "DISPENSE_SYRUP_BY_DURATION",
                "taskType": "DISPENSE_BY_DURATION",
                "variables": {
                  "dispenseDuration": 15,
                  "ioKey": "syrupdispenser.vanilla"
                }
              },
              {
                "id": 10,
                "taskKey": "DISPENSE_SYRUP_2_BY_DURATION",
                "taskType": "DISPENSE_BY_DURATION",
                "variables": {
                  "dispenseDuration": 15,
                  "ioKey": "syrupdispenser.honey"
                }
              }
            ],
            "itemDoneTaskId": 3,
            "actions": "[1, 3, 5, 6, 10]",
            "actionList": [
              1,
              3,
              5,
              6,
              10
            ],
            "actionIds": [
              1,
              3,
              5,
              6,
              10
            ],
            "containsFrothMilk": true,
            "displayInfo": {
              "displayProductName": "12oz Latte",
              "displayOptionsSummary": "Decaf, Oat Milk"
            }
          }
        }
      },
      "MoveEndEffectorExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "MOVE_END_EFFECTOR",
          "timestamp": 123456789,
          "payload": {
            "axis": "Y",
            "distance": 35,
            "unit": "mm"
          }
        }
      },
      "SetVolumeExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "SET_VOLUME",
          "timestamp": 123456789,
          "payload": {
            "volume": 0
          }
        }
      },
      "SetVolumeV2Example": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "SET_MODULE_PROPERTY",
          "timestamp": 123456789,
          "payload": {
            "moduleId": "computer",
            "property": {
              "key": "volume",
              "value": 0
            }
          }
        }
      },
      "PlayVoiceExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "PLAY_VOICE",
          "timestamp": 123456789,
          "payload": {
            "voiceString": "Excellent Choice! Chris!",
            "sentences": [
              {
                "text": "Excellent Choice!",
                "required": true
              },
              {
                "text": "Chris!",
                "required": false
              }
            ]
          }
        }
      },
      "InteractExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "INTERACT",
          "timestamp": 123456789,
          "payload": {
            "voiceString": "Hi Mark, would you like to order a cup of Americano?",
            "estimatedVoiceDuration": 1500,
            "expectedFaceIds": [
              "testFaceId"
            ],
            "expectedHandGestures": [
              "like",
              "dislike"
            ],
            "handGestureSizeThreshold": 0.2,
            "handGestureScoreThreshold": 0.8,
            "faceSizeThreshold": 0.3,
            "faceScoreThreshold": 0.6,
            "detectionTimeout": 5000,
            "additionalMetadata": {
              "expectedFaceIds": [
                "testFaceId"
              ],
              "expectedHandGestures": [
                "like",
                "dislike"
              ]
            }
          }
        }
      },
      "AdjustTaskExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "ROBOT",
          "name": "ADJUST_TASK",
          "timestamp": 123456789,
          "payload": {
            "executionId": "12345",
            "taskId": 2,
            "actionIds": [
              1,
              3,
              7,
              8,
              15,
              16,
              20
            ]
          }
        }
      },
      "ApplyActionOffsetExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "ROBOT",
          "name": "APPLY_ACTION_OFFSET",
          "timestamp": 123456789,
          "payload": {
            "actionId": 1234,
            "xOffset": 1.5,
            "yOffset": -2.5,
            "zOffset": 0.5,
            "tiltOffset": 10.5,
            "facingOffset": 5.5
          }
        }
      },
      "ChangeActionDurationExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "ROBOT",
          "name": "CHANGE_ACTION_DURATION",
          "timestamp": 123456789,
          "payload": {
            "durationRatio": 0.8
          }
        }
      },
      "DeploySoftwareExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "DEPLOY_SOFTWARE",
          "timestamp": 123456789,
          "payload": {
            "softwareVersion": "1.20.1"
          }
        }
      },
      "ReportModulesStateExample": {
        "value": {
          "id": "testDirectiveId",
          "type": "COMMAND",
          "name": "REPORT_MODULES_STATE",
          "timestamp": 123456789
        }
      },
      "FixedObjectPoseReportEventExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "FIXED_OBJECT_POSE_REPORT",
          "timestamp": 123456789,
          "payload": {
            "objectId": 10,
            "expectedPose": {
              "x": 0.12345,
              "y": 0.12345,
              "z": 0.12345,
              "rw": 0.12345,
              "rx": 0.12345,
              "ry": 0.12345,
              "rz": 0.12345
            },
            "observedPose": {
              "x": 0.12345,
              "y": 0.12345,
              "z": 0.12345,
              "rw": 0.12345,
              "rx": 0.12345,
              "ry": 0.12345,
              "rz": 0.12345
            },
            "positionDistance": 0.02,
            "orientationDistance": 0.1
          }
        }
      },
      "ActionOffsetAppliedEventExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "ACTION_OFFSET_APPLIED",
          "timestamp": 123456789,
          "payload": {
            "status": "SUCCESS",
            "directiveId": "testDirectiveId",
            "actionId": 123,
            "error": {
              "message": "Can 't apply action"
            }
          }
        }
      },
      "DirectiveStateReportEventExample1": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "DIRECTIVE_STATE_REPORT",
          "timestamp": 123456789,
          "payload": {
            "status": "SUCCESS",
            "directiveId": "testDirectiveId",
            "type": "COMMAND",
            "name": "OPERATION"
          }
        }
      },
      "DirectiveStateReportEventExample2": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "DIRECTIVE_STATE_REPORT",
          "timestamp": 123456789,
          "payload": {
            "status": "FAILED",
            "directiveId": "testDirectiveId",
            "type": "COMMAND",
            "name": "EXECUTE_PROGRAM",
            "error": {
              "message": "Failed to execute the program"
            }
          }
        }
      },
      "InteractionReportEventSuccessExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "INTERACTION_REPORT",
          "timestamp": 123456789,
          "payload": {
            "directiveId": "testDirectiveId",
            "status": "SUCCESS",
            "handGestures": [
              {
                "type": "like"
              },
              {
                "type": "wave"
              }
            ],
            "faces": [
              {
                "faceId": "testFaceId"
              }
            ],
            "additionalMetadata": {
              "expectedFaceIds": [
                "testFaceId"
              ],
              "expectedHandGestures": [
                "like",
                "dislike"
              ]
            }
          }
        }
      },
      "InteractionReportEventFailedExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "INTERACTION_REPORT",
          "timestamp": 123456789,
          "payload": {
            "directiveId": "testDirectiveId",
            "status": "FAILED",
            "error": {
              "message": "Can't detect the expected hand gesture"
            },
            "additionalMetadata": {
              "expectedFaceIds": [
                "testFaceId"
              ],
              "expectedHandGestures": [
                "like",
                "dislike"
              ]
            }
          }
        }
      },
      "InteractionReportEventNotSupportedExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "INTERACTION_REPORT",
          "timestamp": 123456789,
          "payload": {
            "directiveId": "testDirectiveId",
            "status": "NOT_SUPPORTED",
            "additionalMetadata": {
              "expectedFaceIds": [
                "testFaceId"
              ],
              "expectedHandGestures": [
                "like",
                "dislike"
              ]
            }
          }
        }
      },
      "RobotStatusReportEventExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "ROBOT_STATUS_REPORT",
          "timestamp": 123456789,
          "payload": {
            "status": "IDLE",
            "statusDescription": "Waiting for new order",
            "ioStates": [
              {
                "ioKey": "arm.gripper",
                "value": true
              }
            ],
            "joinStates": [
              0,
              0,
              0,
              0,
              0,
              0
            ]
          }
        }
      },
      "RobotSoftwareInfoReportEventExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "SOFTWARE_INFO_REPORT",
          "timestamp": 123456789,
          "payload": {
            "softwareVersion": "1.21.1"
          }
        }
      },
      "WatchObjectReportEventExample": {
        "value": {
          "id": "testEventId",
          "type": "ROBOT",
          "name": "WATCH_OBJECT_REPORT",
          "timestamp": 123456789,
          "payload": {
            "watchObjectId": -201,
            "watchObjectImageUrl": "https://#",
            "expectedBoudingBox": {
              "topLeftPointX": 496,
              "topLeftPointY": 405,
              "xLength": 240,
              "yLength": 333
            },
            "detectedBoudingBox": {
              "topLeftPointX": 496,
              "topLeftPointY": 405,
              "xLength": 240,
              "yLength": 333
            },
            "expectedPose": null,
            "detectedPose": null
          }
        }
      },
      "NonRobotIssueMetadataExample": {
        "value": {
          "issueKey": "temperatureHigh",
          "moduleId": "arduinoFridgeNode",
          "issueType": "MAINTENANCE",
          "issueTypeV2": "MAINTENANCE",
          "severity": 2,
          "description": "Fridge temperature is too high in the last 12 hours.",
          "instruction": "Check the fridge temperature and report the issue if it's above 40 degrees F.",
          "robotVoiceMessage": "",
          "instructionPattern": "",
          "instructionSpoken": false,
          "allowedMaxAttempts": 10,
          "timeToEscalate": 60000,
          "minimumNotificationInterval": 21600000,
          "crossRobotAlarm": false
        }
      },
      "RobotIssueMetadataExample": {
        "value": {
          "issueKey": "markerWatchFailed.noMarker",
          "moduleId": "bluehillControlNode",
          "issueType": "MAINTENANCE",
          "issueTypeV2": "MAINTENANCE",
          "severity": 2,
          "description": "I do not see marker for ${markerName}",
          "instruction": "Please check the position of ${markerName}. Clean the robot lens.",
          "robotVoiceMessage": "I have trouble seeing ${markerName}. Check the object and clean the robot lens.",
[...]
