{
  "swagger": "2.0",
  "info": {
    "title": "HeadHunter API",
    "description": "HeadHunter API \u2014 \u044d\u0442\u043e \u0431\u0435\u0441\u043f\u043b\u0430\u0442\u043d\u044b\u0439 \u0438\u043d\u0441\u0442\u0440\u0443\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u0434\u043b\u044f \u0438\u043d\u0442\u0435\u0433\u0440\u0430\u0446\u0438\u0438 HeadHunter \u0432 \u0432\u0430\u0448 \u043f\u0440\u043e\u0434\u0443\u043a\u0442.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SOBIRJONOVJAHONGIR13/headhunter-api/1.0.0"
  },
  "host": "api.hh.ru",
  "basePath": "",
  "schemes": [
    "https"
  ],
  "paths": {
    "/vacancies/{vacancy_id}": {
      "get": {
        "summary": "\u041f\u0440\u043e\u0441\u043c\u043e\u0442\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
        "description": "\u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043f\u043e\u0434\u0440\u043e\u0431\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043f\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0439 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438.",
        "operationId": "\u043f\u0440\u043e\u0441\u043c\u043e\u0442\u0440-\u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
        "parameters": [
          {
            "name": "vacancy_id",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
            "required": true,
            "type": "number",
            "example": 1002002
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vacancy"
            }
          }
        }
      }
    },
    "/vacancies/favorited": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0438\u0437\u0431\u0440\u0430\u043d\u043d\u044b\u0445",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043f\u043e\u0434\u043c\u043d\u043e\u0436\u0435\u0441\u0442\u0432\u043e \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439, \u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u043d\u044b\u0445 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u043c \u0432 \u043e\u0442\u043e\u0431\u0440\u0430\u043d\u043d\u044b\u0435. \u0422\u0440\u0435\u0431\u0443\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438, \u0438\u043d\u0430\u0447\u0435 \u0432\u0435\u0440\u043d\u0451\u0442 403 Forbidden. \u041f\u0435\u0439\u0434\u0436\u0438\u043d\u0433 \u0440\u0430\u0431\u043e\u0442\u0430\u0435\u0442 \u043f\u043e \u0441\u0442\u0430\u043d\u0434\u0430\u0440\u0442\u043d\u044b\u043c page&per_page, \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u043d\u0443\u043c\u0435\u0440\u0443\u044e\u0442\u0441\u044f \u0441 \u043d\u0443\u043b\u044f!",
        "operationId": "\u0441\u043f\u0438\u0441\u043e\u043a-\u0438\u0437\u0431\u0440\u0430\u043d\u043d\u044b\u0445",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/vacancies/favorited/{vacancy_id}": {
      "put": {
        "summary": "\u0414\u043e\u0431\u0430\u0432\u0438\u0442\u044c \u0432 \u0438\u0437\u0431\u0440\u0430\u043d\u043d\u043e\u0435",
        "description": "\u0414\u043e\u0431\u0430\u0432\u043b\u044f\u0435\u0442 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u0443\u044e \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e \u0432 \u0441\u043f\u0438\u0441\u043e\u043a \u043e\u0442\u043e\u0431\u0440\u0430\u043d\u043d\u044b\u0445. \u0414\u0430\u043d\u043d\u0430\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u044f \u2014 \u0438\u0434\u0435\u043c\u043f\u043e\u0442\u0435\u043d\u0442\u043d\u0430\u044f: \u043f\u0440\u0438 \u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0438\u0438 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438, \u043a\u043e\u0442\u043e\u0440\u0430\u044f \u0443\u0436\u0435 \u0435\u0441\u0442\u044c \u0432 \u043e\u0442\u043e\u0431\u0440\u0430\u043d\u043d\u044b\u0445, \u0432\u0435\u0440\u043d\u0451\u0442\u0441\u044f \u0442\u0430\u043a\u0436\u0435 204 No Content, \u043a\u0430\u043a \u0438 \u0432 \u0441\u043b\u0443\u0447\u0430\u0435 \u043f\u0435\u0440\u0432\u0438\u0447\u043d\u043e\u0433\u043e \u0434\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u0438\u044f. \u0415\u0441\u043b\u0438 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044f \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430, \u0442\u043e \u0441\u0435\u0440\u0432\u0435\u0440 \u0432\u0435\u0440\u043d\u0451\u0442 404 Not Found, \u0435\u0441\u043b\u0438 \u043f\u043e \u043a\u0430\u043a\u0438\u043c-\u043b\u0438\u0431\u043e \u043f\u0440\u0438\u0447\u0438\u043d\u0430\u043c \u043d\u0435 \u0445\u0432\u0430\u0442\u0430\u0435\u0442 \u043f\u0440\u0430\u0432 \u043f\u043e\u043b\u043e\u0436\u0438\u0442\u044c \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e \u0432 \u0438\u0437\u0431\u0440\u0430\u043d\u043d\u043e\u0435 \u2014 403 Forbidden.",
        "operationId": "\u0434\u043e\u0431\u0430\u0432\u0438\u0442\u044c-\u0432-\u0438\u0437\u0431\u0440\u0430\u043d\u043d\u043e\u0435",
        "parameters": [
          {
            "name": "vacancy_id",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
            "required": true,
            "type": "string",
            "example": "1000299"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "summary": "\u0423\u0434\u0430\u043b\u0438\u0442\u044c \u0438\u0437 \u0438\u0437\u0431\u0440\u0430\u043d\u043d\u043e\u0433\u043e",
        "description": "\u0443\u0434\u0430\u043b\u0438\u0442 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e \u0438\u0437 \u0441\u043f\u0438\u0441\u043a\u0430 \u043e\u0442\u043e\u0431\u0440\u0430\u043d\u043d\u044b\u0445 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d\u043d\u043e\u0433\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
        "operationId": "\u0443\u0434\u0430\u043b\u0438\u0442\u044c-\u0438\u0437-\u0438\u0437\u0431\u0440\u0430\u043d\u043d\u043e\u0433\u043e",
        "parameters": [
          {
            "name": "vacancy_id",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
            "required": true,
            "type": "string",
            "example": "12431234"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/vacancies": {
      "get": {
        "summary": "\u041f\u043e\u0438\u0441\u043a \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439",
        "description": "\u041f\u043e\u0438\u0441\u043a \u043f\u043e \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044f\u043c",
        "operationId": "\u043f\u043e\u0438\u0441\u043a-\u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u043e\u0435 \u043f\u043e\u043b\u0435  \n\u043f\u0435\u0440\u0435\u0434\u0430\u043d\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0438\u0449\u0435\u0442\u0441\u044f \u0432 \u043f\u043e\u043b\u044f\u0445 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438, \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u0445 \u0432 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u0435 `search_field`. \u0414\u043e\u0441\u0442\u0443\u043f\u0435\u043d \u044f\u0437\u044b\u043a \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432, \u043a\u0430\u043a \u0438 \u043d\u0430 \u043e\u0441\u043d\u043e\u0432\u043d\u043e\u043c \u0441\u0430\u0439\u0442\u0435: http://hh.ru/article/1175.",
            "type": "string"
          },
          {
            "name": "search_field",
            "in": "query",
            "description": "\u041e\u0431\u043b\u0430\u0441\u0442\u044c \u043f\u043e\u0438\u0441\u043a\u0430.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `vacancy_search_fields` \u0432 `/dictionaries`.\n\u041f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e, \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0441\u044f \u0432\u0441\u0435 \u043f\u043e\u043b\u044f.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "experience",
            "in": "query",
            "description": "\u041e\u043f\u044b\u0442 \u0440\u0430\u0431\u043e\u0442\u044b.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `experience` \u0432 `/dictionaries`.",
            "type": "string"
          },
          {
            "name": "employment",
            "in": "query",
            "description": "\u0422\u0438\u043f \u0437\u0430\u043d\u044f\u0442\u043e\u0441\u0442\u0438  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `employment` \u0432 `/dictionaries`.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "schedule",
            "in": "query",
            "description": "\u0413\u0440\u0430\u0444\u0438\u043a \u0440\u0430\u0431\u043e\u0442\u044b.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `schedule` \u0432 `/dictionaries`.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "area",
            "in": "query",
            "description": "\u0420\u0435\u0433\u0438\u043e\u043d.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `/areas`.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "metro",
            "in": "query",
            "description": "\u0412\u0435\u0442\u043a\u0430 \u0438\u043b\u0438 \u0441\u0442\u0430\u043d\u0446\u0438\u044f \u043c\u0435\u0442\u0440\u043e.\n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `/metro`.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "specialization",
            "in": "query",
            "description": "\u041f\u0440\u043e\u0444\u043e\u0431\u043b\u0430\u0441\u0442\u044c \u0438\u043b\u0438 \u0441\u043f\u0435\u0446\u0438\u0430\u043b\u0438\u0437\u0430\u0446\u0438\u044f.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `/specializations`.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "employer_id",
            "in": "query",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "\u041a\u043e\u0434 \u0432\u0430\u043b\u044e\u0442\u044b.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: currency (\u043a\u043b\u044e\u0447 code) \u0432 `/dictionaries.`",
            "type": "string"
          },
          {
            "name": "salary",
            "in": "query",
            "description": "\u0420\u0430\u0437\u043c\u0435\u0440 \u0437\u0430\u0440\u0430\u0431\u043e\u0442\u043d\u043e\u0439 \u043f\u043b\u0430\u0442\u044b.  \n\u0415\u0441\u043b\u0438 \u0443\u043a\u0430\u0437\u0430\u043d\u043e \u044d\u0442\u043e \u043f\u043e\u043b\u0435, \u043d\u043e \u043d\u0435 \u0443\u043a\u0430\u0437\u0430\u043d\u043e `currency`, \u0442\u043e \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0441\u044f \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 `RUR` \u0443 `currency`.",
            "type": "string",
            "example": "50000"
          },
          {
            "name": "label",
            "in": "query",
            "description": "\u0444\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u043c\u0435\u0442\u043a\u0430\u043c \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `vacancy_label` \u0432 `/dictionaries`.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0439.",
            "type": "string"
          },
          {
            "name": "only_with_salary",
            "in": "query",
            "description": "\u041f\u043e\u043a\u0430\u0437\u044b\u0432\u0430\u0442\u044c \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0442\u043e\u043b\u044c\u043a\u043e \u0441 \u0443\u043a\u0430\u0437\u0430\u043d\u0438\u0435\u043c \u0437\u0430\u0440\u043f\u043b\u0430\u0442\u044b.\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f: true \u0438\u043b\u0438 false.\n\u041f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e, \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0441\u044f false.",
            "type": "boolean",
            "example": true
          },
          {
            "name": "period",
            "in": "query",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0434\u043d\u0435\u0439, \u0432 \u043f\u0440\u0435\u0434\u0435\u043b\u0430\u0445 \u043a\u043e\u0442\u043e\u0440\u044b\u0445 \u043d\u0443\u0436\u043d\u043e \u043d\u0430\u0439\u0442\u0438 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438.\n\u041c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435: 30.",
            "type": "number",
            "example": 1
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "C\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0430 \u0441\u043f\u0438\u0441\u043a\u0430 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439.  \n\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u043c\u0438 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f\u043c\u0438: `vacancy_search_order` \u0432 /dictionaries.",
            "type": "string"
          },
          {
            "name": "top_lat",
            "in": "query",
            "description": "\u0417\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0433\u0435\u043e-\u043a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442.  \n\u041f\u0440\u0438 \u043f\u043e\u0438\u0441\u043a\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0435\u0442\u0441\u044f \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0433\u043e \u0432 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0430\u0434\u0440\u0435\u0441\u0430.\n\u041f\u0440\u0438\u043d\u0438\u043c\u0430\u0435\u043c\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u2014 \u0433\u0440\u0430\u0434\u0443\u0441\u044b \u0432 \u0432\u0438\u0434\u0435 \u0434\u0435\u0441\u044f\u0442\u0438\u0447\u043d\u043e\u0439 \u0434\u0440\u043e\u0431\u0438.\n\u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043f\u0435\u0440\u0435\u0434\u0430\u0432\u0430\u0442\u044c \u043e\u0434\u043d\u043e\u0432\u0440\u0435\u043c\u0435\u043d\u043d\u043e **\u0432\u0441\u0435 \u0447\u0435\u0442\u044b\u0440\u0435** \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u0430 \u0433\u0435\u043e-\u043a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442, \u0438\u043d\u0430\u0447\u0435 \u0432\u0435\u0440\u043d\u0435\u0442\u0441\u044f \u043e\u0448\u0438\u0431\u043a\u0430.",
            "type": "string",
            "example": "70.012"
          },
          {
            "name": "bottom_lat",
            "in": "query",
            "description": "\u0441\u043c. `top_lat`",
            "type": "string"
          },
          {
            "name": "left-lng",
            "in": "query",
            "description": "\u0441\u043c. `top_lat`",
            "type": "string"
          },
          {
            "name": "right_lng",
            "in": "query",
            "description": "\u0441\u043c. `top_lat`",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "found": {
                  "type": "number",
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043d\u0430\u0439\u0434\u0435\u043d\u043d\u044b\u0445 \u043f\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "example": 1000
                },
                "per_page": {
                  "type": "number",
                  "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435, \u0437\u0430\u0434\u0430\u0435\u0442\u0441\u044f \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u043e\u043c `per_page`",
                  "example": 20
                },
                "pages": {
                  "type": "number",
                  "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "example": 1
                },
                "page": {
                  "type": "number",
                  "description": "\u043d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
                  "example": 0
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/VacancySimple"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employers": {
      "get": {
        "summary": "\u041f\u043e\u0438\u0441\u043a \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0439",
        "description": "\u041f\u043e\u0438\u0441\u043a \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f/\u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438",
        "operationId": "\u043f\u043e\u0438\u0441\u043a-\u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0439",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u043e\u0435 \u043f\u043e\u043b\u0435, \u043f\u0435\u0440\u0435\u0434\u0430\u043d\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0438\u0449\u0435\u0442\u0441\u044f \u0432 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0438 \u0438 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438",
            "type": "string"
          },
          {
            "name": "area",
            "in": "query",
            "description": "\u041c\u043d\u043e\u0436\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440, \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f. \u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u044b \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432 \u043c\u043e\u0436\u043d\u043e \u0443\u0437\u043d\u0430\u0442\u044c \u0432 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0435 \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "\u043c\u043d\u043e\u0436\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0439 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440, \u0442\u0438\u043f\u044b \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u0435\u0439. \u0420\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f - \u043a\u043b\u044e\u0447\u0438 \u0432 \u0440\u0430\u0437\u0434\u0435\u043b\u0435 employer_type \u0432 /dictionaries",
            "type": "string"
          },
          {
            "name": "only_with_vacancies",
            "in": "query",
            "description": "\u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u0435\u0439 \u0443 \u043a\u043e\u0442\u043e\u0440\u044b\u0445 \u0435\u0441\u0442\u044c \u0432 \u0434\u0430\u043d\u043d\u044b\u0439 \u043c\u043e\u043c\u0435\u043d\u0442 \u043e\u0442\u043a\u0440\u044b\u0442\u044b\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 (true) \u0438\u043b\u0438 \u0436\u0435 \u0432\u0441\u0435\u0445 (false), \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e - false",
            "type": "boolean",
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "found": {
                  "type": "number",
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043d\u0430\u0439\u0434\u0435\u043d\u043d\u044b\u0445 \u043f\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "example": 1000
                },
                "per_page": {
                  "type": "number",
                  "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435, \u0437\u0430\u0434\u0430\u0435\u0442\u0441\u044f \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u043e\u043c `per_page`",
                  "example": 20
                },
                "pages": {
                  "type": "number",
                  "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "example": 1
                },
                "page": {
                  "type": "number",
                  "description": "\u043d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
                  "example": 0
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Employer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employers/{employer_id}": {
      "get": {
        "summary": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438",
        "operationId": "\u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f-\u043e-\u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438",
        "parameters": [
          {
            "name": "employer_id",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Employer"
            }
          }
        }
      }
    },
    "/resumes/mine": {
      "get": {
        "summary": "\u0421\u043e\u0431\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0435 \u0440\u0435\u0437\u044e\u043c\u0435",
        "description": "\u0412\u0435\u0440\u043d\u0451\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u0430\u0448\u0438\u0445 \u0440\u0435\u0437\u044e\u043c\u0435. \u042d\u0442\u043e\u0442 \u043c\u0435\u0442\u043e\u0434 \u0442\u0440\u0435\u0431\u0443\u0435\u0442 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438, \u0432 \u043f\u0440\u043e\u0442\u0438\u0432\u043d\u043e\u043c \u0441\u043b\u0443\u0447\u0430\u0435 \u043e\u0442\u0432\u0435\u0442\u043e\u043c \u0431\u0443\u0434\u0435\u0442 403 Forbidden.",
        "operationId": "\u0441\u043e\u0431\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0435-\u0440\u0435\u0437\u044e\u043c\u0435",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/resumes/{resume_id}": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0440\u0435\u0437\u044e\u043c\u0435",
        "operationId": "\u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435-\u0440\u0435\u0437\u044e\u043c\u0435",
        "parameters": [
          {
            "name": "resume_id",
            "in": "path",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0437\u044e\u043c\u0435",
            "required": true,
            "type": "string",
            "example": "502ff8b100018bddf30039ed1f63735f4dda66"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResumeSimple"
            }
          }
        }
      }
    },
    "/negotiations": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u043e\u0442\u043a\u043b\u0438\u043a\u043e\u0432",
        "operationId": "\u0441\u043f\u0438\u0441\u043e\u043a-\u043e\u0442\u043a\u043b\u0438\u043a\u043e\u0432",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "description": "\u041f\u043e\u043b\u0435, \u043f\u043e \u043a\u043e\u0442\u043e\u0440\u043e\u043c\u0443 \u043f\u0440\u043e\u0432\u043e\u0434\u0438\u0442\u044c \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0443 \u0432\u044b\u0434\u0430\u0432\u0430\u0435\u043c\u044b\u0445 \u0434\u0430\u043d\u043d\u044b\u0445. \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f: `updated_at`, `created_at`. \u041f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e: `updated_at`",
            "type": "string",
            "example": "created_at"
          },
          {
            "name": "order",
            "in": "query",
            "description": "\u041d\u0430\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0441\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u043a\u0438. \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f: `asc`, `desc`. \u041f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e: `desc`",
            "type": "string"
          },
          {
            "name": "vacancy_id",
            "in": "query",
            "description": "\u0444\u0438\u043b\u044c\u0442\u0440 \u043f\u043e id \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "found": {
                  "type": "number",
                  "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043d\u0430\u0439\u0434\u0435\u043d\u043d\u044b\u0445 \u043f\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432",
                  "example": 1000
                },
                "per_page": {
                  "type": "number",
                  "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435, \u0437\u0430\u0434\u0430\u0435\u0442\u0441\u044f \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u043e\u043c `per_page`",
                  "example": 20
                },
                "pages": {
                  "type": "number",
                  "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0441\u0442\u0440\u0430\u043d\u0438\u0446",
                  "example": 1
                },
                "page": {
                  "type": "number",
                  "description": "\u043d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
                  "example": 0
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Negotiation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "\u041e\u0442\u043a\u043b\u0438\u043a\u043d\u0443\u0442\u044c\u0441\u044f \u043d\u0430 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e",
        "operationId": "\u043e\u0442\u043a\u043b\u0438\u043a\u043d\u0443\u0442\u044c\u0441\u044f-\u043d\u0430-\u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e",
        "parameters": [
          {
            "name": "vacancy_id",
            "in": "query",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438, \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u0443\u044e \u043f\u0440\u043e\u0438\u0441\u0445\u043e\u0434\u0438\u0442 \u043e\u0442\u043a\u043b\u0438\u043a",
            "required": true,
            "type": "string"
          },
          {
            "name": "resume_id",
            "in": "query",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0437\u044e\u043c\u0435, \u043a\u043e\u0442\u043e\u0440\u044b\u043c \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u0442\u043a\u043b\u0438\u043a",
            "required": true,
            "type": "string"
          },
          {
            "name": "message",
            "in": "query",
            "description": "\u0421\u043e\u043f\u0440\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0435 \u043f\u0438\u0441\u044c\u043c\u043e \u043a \u043e\u0442\u043a\u043b\u0438\u043a\u0443. \u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c, \u0435\u0441\u043b\u0438 \u0432 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0443\u043a\u0430\u0437\u0430\u043d\u043e, \u0447\u0442\u043e \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u0441\u043e\u043f\u0440\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0435 \u043f\u0438\u0441\u044c\u043c\u043e",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/negotiations/active": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0430\u043a\u0442\u0438\u0432\u043d\u044b\u0445",
        "description": "\u0441\u043c. \u0421\u043f\u0438\u0441\u043e\u043a \u043e\u0442\u043a\u043b\u0438\u043a\u043e\u0432 \u0437\u0430 \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0439 \u0438\u043d\u043e\u0444\u0440\u043c\u0430\u0446\u0438\u0435\u0439",
        "operationId": "\u0441\u043f\u0438\u0441\u043e\u043a-\u0430\u043a\u0442\u0438\u0432\u043d\u044b\u0445",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/negotiations/{nid}": {
      "get": {
        "summary": "\u041f\u0440\u043e\u0441\u043c\u043e\u0442\u0440 \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
        "operationId": "\u043f\u0440\u043e\u0441\u043c\u043e\u0442\u0440-\u043e\u0442\u043a\u043b\u0438\u043a\u0430",
        "parameters": [
          {
            "name": "nid",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0442\u043a\u043b\u0438\u043a\u0430.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Negotiation"
            }
          }
        }
      }
    },
    "/negotiations/active/{nid}": {
      "delete": {
        "summary": "\u0421\u043a\u0440\u044b\u0442\u044c \u043e\u0442\u043a\u043b\u0438\u043a",
        "operationId": "\u0441\u043a\u0440\u044b\u0442\u044c-\u043e\u0442\u043a\u043b\u0438\u043a",
        "parameters": [
          {
            "name": "nid",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/negotiations/{nid}/messages": {
      "get": {
        "summary": "C\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f \u0432 \u043e\u0442\u043a\u043b\u0438\u043a\u0435",
        "operationId": "c\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f-\u0432-\u043e\u0442\u043a\u043b\u0438\u043a\u0435",
        "parameters": [
          {
            "name": "nid",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f",
                  "example": "123"
                },
                "read": {
                  "type": "boolean",
                  "description": "\u041f\u0440\u043e\u0447\u0438\u0442\u0430\u043d\u043e \u043b\u0438 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043f\u0440\u0438\u043d\u0438\u043c\u0430\u044e\u0449\u0435\u0439 \u0441\u0442\u043e\u0440\u043e\u043d\u043e\u0439. \u0412 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f \u043c\u043e\u0436\u043d\u043e \u0443\u043a\u0430\u0437\u044b\u0432\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u043d\u0435 \u043f\u0440\u043e\u0447\u0438\u0442\u0430\u043d\u043d\u044b\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f.",
                  "example": true
                },
                "created_at": {
                  "type": "string",
                  "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f",
                  "example": "2013-10-07T18:30:57+0400"
                },
                "text": {
                  "type": "string",
                  "description": "\u0422\u0435\u043a\u0441\u0442 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f",
                  "example": "\u0412\u0430\u0441 \u043f\u0440\u0438\u0433\u043b\u0430\u0448\u0430\u0435\u0442 \u043e\u0447\u0435\u043d\u044c \u043a\u0440\u0443\u043f\u043d\u044b\u0439 \u0438\u043d\u043e\u0441\u0442\u0440\u0430\u043d\u043d\u044b\u0439 \u0431\u0430\u043d\u043a \u043d\u0430 \u0437\u0430\u0440\u043f\u043b\u0430\u0442\u0443, \u043e \u043a\u043e\u0442\u043e\u0440\u043e\u0439 \u043c\u0435\u0447\u0442\u0430\u044e\u0442 \u0430\u0440\u0430\u0431\u0441\u043a\u0438\u0435 \u0448\u0435\u0439\u0445\u0438"
                },
                "state": {
                  "type": "object",
                  "description": "\u0422\u0435\u043a\u0443\u0449\u0435\u0435 \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435 \u043e\u0442\u043a\u043b\u0438\u043a\u0430. \u0420\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f \u043d\u0430\u0445\u043e\u0434\u044f\u0442\u0441\u044f \u0432 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0435 /dictionaries \u0432 \u0440\u0430\u0437\u0434\u0435\u043b\u0435 `negotiations_state`",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "invitation"
                    },
                    "name": {
                      "type": "string",
                      "example": "\u041f\u0440\u0438\u0433\u043b\u0430\u0448\u0435\u043d\u0438\u0435"
                    }
                  }
                },
                "address": {
                  "$ref": "#/definitions/Address"
                }
              }
            }
          }
        }
      }
    },
    "/negotiations/{nid}/messages/{mid}": {
      "get": {
        "summary": "\u0420\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u0442\u044c \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u0432 \u043e\u0442\u043a\u043b\u0438\u043a\u0435",
        "description": "\u0415\u0441\u043b\u0438 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435, \u0430\u0434\u0440\u0435\u0441\u043e\u0432\u0430\u043d\u043d\u043e\u0435 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044e, \u0435\u0449\u0451 \u043d\u0435 \u0431\u044b\u043b\u043e \u0438\u043c \u043f\u0440\u043e\u0447\u0438\u0442\u0430\u043d\u043e (\u0444\u043b\u0430\u0433 read \u0432 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0438), \u0442\u043e \u0435\u0433\u043e \u043c\u043e\u0436\u043d\u043e \u043e\u0442\u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u0442\u044c.",
        "operationId": "\u0440\u0435\u0434\u0430\u043a\u0442\u0438\u0440\u043e\u0432\u0430\u0442\u044c-\u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435-\u0432-\u043e\u0442\u043a\u043b\u0438\u043a\u0435",
        "parameters": [
          {
            "name": "nid",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
            "required": true,
            "type": "string"
          },
          {
            "name": "mid",
            "in": "path",
            "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f \u0432 \u043e\u0442\u043a\u043b\u0438\u043a\u0435",
            "required": true,
            "type": "string"
          },
          {
            "name": "message",
            "in": "query",
            "description": "\u0422\u0435\u043a\u0441\u0442 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "definitions": {
    "Vacancy": {
      "type": "object",
      "description": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u043e\u0435 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
      "properties": {
        "id": {
          "type": "string",
          "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
          "example": "8331228"
        },
        "description": {
          "type": "string",
          "example": "..."
        },
        "schedule": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "example": "fullDay"
            },
            "name": {
              "type": "string",
              "example": "\u041f\u043e\u043b\u043d\u044b\u0439 \u0434\u0435\u043d\u044c"
            }
          }
        },
        "accept_handicapped": {
          "type": "boolean",
          "example": false
        },
        "experience": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "example": "fullDay"
            },
            "name": {
              "type": "string",
              "example": "\u041f\u043e\u043b\u043d\u044b\u0439 \u0434\u0435\u043d\u044c"
            }
          }
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "alternate_url": {
          "type": "string",
          "example": "http://hh.ru/vacancy/8331228"
        },
        "employment": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "example": "fullDay"
            },
            "name": {
              "type": "string",
              "example": "\u041f\u043e\u043b\u043d\u044b\u0439 \u0434\u0435\u043d\u044c"
            }
          }
        },
        "salary": {
          "type": "object",
          "properties": {
            "to": {
              "type": "number",
              "example": 10000
            },
            "from": {
              "type": "number",
              "example": 30000
            },
            "currency": {
              "type": "string",
              "example": "RUR"
            }
          }
        },
        "archived": {
          "type": "boolean",
          "example": false
        },
        "name": {
          "type": "string",
          "example": "\u0421\u0435\u043a\u0440\u0435\u0442\u0430\u0440\u044c"
        },
        "area": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "example": "https://api.hh.ru/areas/1"
            },
            "id": {
              "type": "string",
              "example": "1"
            },
            "name": {
              "type": "string",
              "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
            }
          }
        },
        "created_at": {
          "type": "string",
          "example": "2013-07-08T16:17:21+0400"
        },
        "relations": {
          "type": "array",
          "description": "\u041f\u0440\u0438 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u0441 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0435\u0439  \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f \u0438\u0437 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0430 vacancy_relations \u0432 /dictionaries.",
          "items": {
            "type": "unknown"
          }
        },
        "negotiations_url": {
          "type": "string",
          "description": "\u0441\u0441\u044b\u043b\u043a\u0430 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441\u043f\u0438\u0441\u043a\u0430 \u043e\u0442\u043a\u043b\u0438\u043a\u043e\u0432/\u043f\u0440\u0438\u0433\u043b\u0430\u0448\u0435\u043d\u0438\u0439 \u043f\u043e \u0434\u0430\u043d\u043d\u043e\u0439 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0442\u0435\u043a\u0443\u0449\u0435\u0433\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f-\u0441\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u044f (\u0434\u043b\u044f \u0434\u0440\u0443\u0433\u0438\u0445 \u0442\u0438\u043f\u043e\u0432 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u0439 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442\u0441\u044f null).",
          "example": "https://api.hh.ru/negotiations?vacancy_id=8331228"
        },
        "employer": {
          "type": "object",
          "properties": {
            "logo_urls": {
              "type": "object",
              "properties": {
                "90": {
                  "type": "string",
                  "example": "http://hh.ru/employer-logo/289027.png"
                },
                "240": {
                  "type": "string",
                  "example": "http://hh.ru/employer-logo/289169.png"
                },
                "original": {
                  "type": "string",
                  "example": "http://hh.ru/file/2352807.png"
                }
              }
            },
            "name": {
              "type": "string",
              "example": "HeadHunter"
            },
            "url": {
              "type": "string",
              "example": "https://api.hh.ru/employers/1455"
            },
            "alternate_url": {
              "type": "string",
              "example": "http://hh.ru/employer/1455"
            },
            "id": {
              "type": "string",
              "example": "1455"
            },
            "trusted": {
              "type": "boolean",
              "example": true
            }
          }
        },
        "response_letter_required": {
          "type": "boolean",
          "example": true
        },
        "response_url": {
          "type": "string",
          "description": "\u041d\u0430 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0441 \u0442\u0438\u043f\u043e\u043c direct \u043d\u0435\u043b\u044c\u0437\u044f \u043e\u0442\u043a\u043b\u0438\u043a\u043d\u0443\u0442\u044c\u0441\u044f \u043d\u0430 \u0441\u0430\u0439\u0442\u0435 hh.ru, \u0443 \u044d\u0442\u0438\u0445 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439 \u0432 \u043a\u043b\u044e\u0447\u0435 response_url \u0432\u044b\u0434\u0430\u0451\u0442\u0441\u044f URL \u0432\u043d\u0435\u0448\u043d\u0435\u0433\u043e \u0441\u0430\u0439\u0442\u0430 (\u0447\u0430\u0449\u0435 \u0432\u0441\u0435\u0433\u043e \u044d\u0442\u043e \u0441\u0430\u0439\u0442 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f \u0441 \u0444\u043e\u0440\u043c\u043e\u0439 \u043e\u0442\u043a\u043b\u0438\u043a\u0430) [\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435 \u0432 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438 \u043f\u043e \u043e\u0442\u043a\u043b\u0438\u043a\u0430\u043c](1)\n\n  [1]: http://forgerock.com/products/open-identity-stack/",
          "example": "http://company.ru/response.html"
        },
        "type": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "example": "fullDay"
            },
            "name": {
              "type": "string",
              "example": "\u041f\u043e\u043b\u043d\u044b\u0439 \u0434\u0435\u043d\u044c"
            }
          }
        },
        "test": {
          "type": "object",
          "description": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u043f\u0440\u0438\u043a\u0440\u0435\u043f\u043b\u0435\u043d\u043d\u043e\u043c \u0442\u0435\u0441\u0442\u043e\u0432\u043e\u043c \u0437\u0430\u0434\u0430\u043d\u0438\u0438 \u043a \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438. \u0412 \u0441\u043b\u0443\u0447\u0430\u0435 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f \u0442\u0435\u0441\u0442\u0430 \u2014 null, \u0432 \u043f\u0440\u043e\u0442\u0438\u0432\u043d\u043e\u043c \u0441\u043b\u0443\u0447\u0430\u0435 \u043e\u0431\u044a\u0435\u043a\u0442 \u0441 \u043a\u043b\u044e\u0447\u043e\u043c required, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0443\u043a\u0430\u0437\u044b\u0432\u0430\u0435\u0442 \u043d\u0430 \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e\u0441\u0442\u044c \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f \u0442\u0435\u0441\u0442\u0430 \u0434\u043b\u044f \u043e\u0442\u043a\u043b\u0438\u043a\u0430.\n\u0412 \u0434\u0430\u043d\u043d\u044b\u0439 \u043c\u043e\u043c\u0435\u043d\u0442 \u043e\u0442\u043a\u043b\u0438\u043a \u043d\u0430 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0441 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u0442\u0435\u0441\u0442\u043e\u043c \u0447\u0435\u0440\u0435\u0437 API \u043d\u0435\u0432\u043e\u0437\u043c\u043e\u0436\u0435\u043d.",
          "properties": {
            "required": {
              "type": "boolean",
              "example": false
            }
          }
        },
        "specializations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "profarea_id": {
                "type": "string",
                "example": "4"
              },
              "profarea_name": {
                "type": "string",
                "example": "\u0410\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u0438\u0432\u043d\u044b\u0439 \u043f\u0435\u0440\u0441\u043e\u043d\u0430\u043b"
              },
              "id": {
                "type": "string",
                "example": "4.255"
              },
              "name": {
                "type": "string",
                "example": "\u0420\u0435\u0441\u0435\u043f\u0448\u0435\u043d"
              }
            }
          }
        },
        "contacts": {
          "type": "object",
          "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f. \u0412 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044f\u0445, \u0433\u0434\u0435 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u044b \u043d\u0435 \u0443\u043a\u0430\u0437\u0430\u043d\u044b, \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442\u0441\u044f null. \u0412\u0441\u0435 \u0432\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u0438\u0435 \u043a\u043b\u044e\u0447\u0438 \u044f\u0432\u043b\u044f\u044e\u0442\u0441\u044f \u0441\u0442\u0440\u043e\u043a\u0430\u043c\u0438 \u043b\u0438\u0431\u043e null. \u0421\u043f\u0438\u0441\u043e\u043a \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u043e\u0432 \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c \u043f\u0443\u0441\u0442\u044b\u043c.",
          "properties": {
            "name": {
              "type": "string",
              "example": "\u0418\u043c\u044f"
            },
            "email": {
              "type": "string",
              "example": "user@example.com"
            },
            "phones": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "unknown"
                  },
                  "city": {
                    "type": "string",
                    "example": "985"
                  },
                  "number": {
                    "type": "string",
                    "example": "000-00-00"
                  },
                  "country": {
                    "type": "string",
                    "example": "7"
                  }
                }
              }
            }
          }
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
        },
        "street": {
          "type": "string",
          "example": "\u0413\u043e\u0434\u043e\u0432\u0438\u043a\u043e\u0432\u0430"
        },
        "building": {
          "type": "string",
          "example": "9"
        },
        "description": {
          "type": "string",
          "example": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0430\u0434\u0440\u0435\u0441\u0430"
        },
        "lat": {
          "type": "number",
          "example": 55.807794
        },
        "lng": {
          "type": "number",
          "example": 37.638699
        },
        "raw": {
          "type": "string",
          "example": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0430\u0434\u0440\u0435\u0441\u0430, \u043a\u0430\u043a \u0431\u044b\u043b\u043e \u0432\u0432\u0435\u0434\u0435\u043d\u043e"
        },
        "metro": {
          "type": "object",
          "properties": {
            "station_name": {
              "type": "string",
              "example": "\u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0441\u0442\u0430\u043d\u0446\u0438\u0438"
            },
            "line_name": {
              "type": "string",
              "example": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043b\u0438\u043d\u0438\u0438"
            },
            "station_id": {
              "type": "string",
              "example": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0442\u0430\u043d\u0446\u0438\u0438"
            },
            "line_id": {
              "type": "string",
              "example": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043b\u0438\u043d\u0438\u0438"
            },
            "lat": {
              "type": "number",
              "example": 55.807794
            },
            "lng": {
              "type": "number",
              "example": 37.638699
            }
          }
        }
      }
    },
    "VacancySimple": {
      "type": "object",
      "description": "\u043a\u043e\u0440\u043e\u0442\u043a\u043e\u0435 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
      "properties": {
        "id": {
          "type": "string",
          "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
          "example": "7760476"
        },
        "premium": {
          "type": "boolean",
          "description": "\u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043f\u0440\u0435\u043c\u0438\u0443\u043c \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0435\u0439",
          "example": true
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "alternate_url": {
          "type": "string",
          "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u043d\u0430 \u0441\u0430\u0439\u0442\u0435",
          "example": "http://hh.ru/vacancy/7760476"
        },
        "salary": {
          "type": "object",
          "description": "\u041e\u043a\u043b\u0430\u0434",
          "properties": {
            "to": {
              "type": "number",
              "example": 1
            },
            "from": {
              "type": "number",
              "example": 100000
            },
            "currency": {
              "type": "string",
              "example": "RUR"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
          "example": "\u0421\u043f\u0435\u0446\u0438\u0430\u043b\u0438\u0441\u0442 \u043f\u043e \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0437\u0430\u0446\u0438\u0438 \u0442\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f (Java, Selenium)"
        },
        "area": {
          "type": "object",
          "description": "\u0420\u0435\u0433\u0438\u043e\u043d \u0440\u0430\u0437\u043c\u0435\u0449\u0435\u043d\u0438\u044f \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
          "properties": {
            "url": {
              "type": "string",
              "example": "https://api.hh.ru/areas/1"
            },
            "id": {
              "type": "string",
              "example": "1"
            },
            "name": {
              "type": "string",
              "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
            }
          }
        },
        "url": {
          "type": "string",
          "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u043e\u043b\u043d\u043e\u0435 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438 \u0432 api",
          "example": "https://api.hh.ru/vacancies/7760476"
        },
        "created_at": {
          "type": "string",
          "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438",
          "example": "2013-10-11T13:27:16+0400"
        },
        "relations": {
          "type": "array",
          "items": {
            "type": "unknown"
          }
        },
        "employer": {
          "type": "object",
          "description": "\u041a\u043e\u0440\u043e\u0442\u043a\u043e\u0435 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f",
          "properties": {
            "url": {
              "type": "string",
              "example": "https://api.hh.ru/employers/1455"
            },
            "alternate_url": {
              "type": "string",
              "example": "http://hh.ru/employer/1455"
            },
            "logo_urls": {
              "type": "object",
              "properties": {
                "90": {
                  "type": "string",
                  "example": "http://hh.ru/employer-logo/289027.png"
                },
                "240": {
                  "type": "string",
                  "example": "http://hh.ru/employer-logo/289169.png"
                },
                "original": {
                  "type": "string",
                  "example": "http://hh.ru/file/2352807.png"
                }
              }
            },
            "name": {
              "type": "string",
              "example": "HeadHunter"
            },
            "id": {
              "type": "string",
              "example": "1455"
            }
          }
        },
        "response_letter_required": {
          "type": "boolean",
          "description": "\u041e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u043b\u0438 \u0437\u0430\u043f\u043e\u043b\u043d\u044f\u0442\u044c \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043f\u0440\u0438 \u043e\u0442\u043a\u043b\u0438\u043a\u0435",
          "example": false
        },
        "type": {
          "$ref": "#/definitions/EnumType"
        }
      }
    },
    "Employer": {
      "type": "object",
      "description": "\u041a\u043e\u0440\u043e\u0442\u043a\u043e\u0435 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f",
      "properties": {
        "url": {
          "type": "string",
          "description": "\u0441\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f",
          "example": "https://api.hh.ru/employers/1455"
        },
        "alternate_url": {
          "type": "string",
          "description": "\u0441\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f \u043d\u0430 \u0441\u0430\u0439\u0442\u0435",
          "example": "http://hh.ru/employer/1455"
        },
        "logo_urls": {
          "$ref": "#/definitions/LogoUrls"
        },
        "name": {
          "type": "string",
          "description": "\u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f",
          "example": "HeadHunter"
        },
        "id": {
          "type": "string",
          "description": "\u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f",
          "example": "1455"
        },
        "vacancies_url": {
          "type": "string",
          "description": "c\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u043e\u0438\u0441\u043a\u043e\u0432\u0443\u044e \u0432\u044b\u0434\u0430\u0447\u0443 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439 \u0434\u0430\u043d\u043d\u043e\u0439 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438"
        },
        "open_vacancies": {
          "type": "string",
          "description": "\u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043e\u0442\u043a\u0440\u044b\u0442\u044b\u0445 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0439 \u0443 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044f"
        },
        "type": {
          "type": "string",
          "description": "\u0422\u0438\u043f \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 (\u043f\u0440\u044f\u043c\u043e\u0439 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044c, \u043a\u0430\u0434\u0440\u043e\u0432\u043e\u0435 \u0430\u0433\u0435\u043d\u0442\u0441\u0442\u0432\u043e \u0438 \u0442.\u043f.). \u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f \u043e\u043f\u0438\u0441\u0430\u043d\u044b \u0432 \u043a\u043e\u043b\u043b\u0435\u043a\u0446\u0438\u0438 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u043e\u0432 \u043f\u043e\u0434 \u043a\u043b\u044e\u0447\u043e\u043c `employer_type`."
        },
        "trusted": {
          "type": "boolean",
          "description": "//todo",
          "example": false
        },
        "site_url": {
          "type": "string",
          "description": "\u0412\u0435\u0431 \u0441\u0430\u0439\u0442  \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438",
          "example": "http://hh.ru"
        }
      }
    },
    "LogoUrls": {
      "type": "object",
      "description": "\u0418\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u044f \u043b\u043e\u0433\u043e\u0442\u0438\u043f\u0430 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0438 \u0440\u0430\u0437\u043d\u044b\u0445 \u0440\u0430\u0437\u043c\u0435\u0440\u043e\u0432",
      "properties": {
        "90": {
          "type": "string",
          "example": "http://hh.ru/employer-logo/289027.png"
        },
        "240": {
          "type": "string",
          "example": "http://hh.ru/employer-logo/289169.png"
        },
        "original": {
          "type": "string",
          "description": "\u041d\u0435\u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d\u043d\u044b\u0439 \u043b\u043e\u0433\u043e\u0442\u0438\u043f, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c \u0431\u043e\u043b\u044c\u0448\u043e\u0433\u043e \u0440\u0430\u0437\u043c\u0435\u0440\u0430. \u0415\u0441\u043b\u0438 \u0438\u0437\u043d\u0430\u0447\u0430\u043b\u044c\u043d\u043e \u0437\u0430\u0433\u0440\u0443\u0436\u0435\u043d\u043d\u044b\u0439 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u0435\u0439 \u043b\u043e\u0433\u043e\u0442\u0438\u043f \u043c\u0435\u043d\u044c\u0448\u0435, \u0447\u0435\u043c 240px \u0438/\u0438\u043b\u0438 90px \u043f\u043e \u043c\u0435\u043d\u044c\u0448\u0435\u0439 \u0441\u0442\u043e\u0440\u043e\u043d\u0435, \u0442\u043e \u0432 \u0441\u043e\u043e\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0443\u044e\u0449\u0438\u0445 \u043a\u043b\u044e\u0447\u0430\u0445 \u0431\u0443\u0434\u0443\u0442 \u0441\u0441\u044b\u043b\u043a\u0438 \u043d\u0430 \u0438\u0437\u043e\u0431\u0440\u0430\u0436\u0435\u043d\u0438\u044f \u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u0440\u0430\u0437\u043c\u0435\u0440\u0430. \u041e\u0431\u044a\u0435\u043a\u0442 \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c null, \u0435\u0441\u043b\u0438 \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u044f \u043d\u0435 \u0437\u0430\u0433\u0440\u0443\u0437\u0438\u043b\u0430 \u043b\u043e\u0433\u043e\u0442\u0438\u043f. \u041a\u043b\u0438\u0435\u043d\u0442 \u0434\u043e\u043b\u0436\u0435\u043d \u043f\u0440\u0435\u0434\u0443\u0441\u043c\u043e\u0442\u0440\u0435\u0442\u044c \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u044c \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f \u043b\u043e\u0433\u043e\u0442\u0438\u043f\u0430 \u043f\u043e \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0439 \u0441\u0441\u044b\u043b\u043a\u0435 (\u043e\u0442\u0432\u0435\u0442 \u0441 \u043a\u043e\u0434\u043e\u043c 404 Not Found).",
          "example": "http://hh.ru/file/2352807.png"
        }
      }
    },
    "EnumType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "fullDay"
        },
        "name": {
          "type": "string",
          "example": "\u041f\u043e\u043b\u043d\u044b\u0439 \u0434\u0435\u043d\u044c"
        }
      }
    },
    "Area": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "example": "https://api.hh.ru/areas/1"
        },
        "id": {
          "type": "string",
          "example": "1"
        },
        "name": {
          "type": "string",
          "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
        }
      }
    },
    "ResumeSimple": {
      "type": "object",
      "description": "\u041a\u043e\u0440\u043e\u0442\u043a\u043e\u0435 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0440\u0435\u0437\u044e\u043c\u0435",
      "properties": {
        "id": {
          "type": "string",
          "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0437\u044e\u043c\u0435",
          "example": "502ff8b100018bddf30039ed1f63735f4dda66"
        },
        "name": {
          "type": "string",
          "description": "\u0416\u0435\u043b\u0430\u0435\u043c\u0430\u044f \u0434\u043e\u043b\u0436\u043d\u043e\u0441\u0442\u044c",
          "example": "\u043a\u043e\u043d\u0441\u0443\u043b\u044c\u0442\u0430\u043d\u0442"
        },
        "url": {
          "type": "string",
          "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u043d\u043e\u0439 \u0432\u0435\u0440\u0441\u0438\u0438 \u0440\u0435\u0437\u044e\u043c\u0435",
          "example": "https://api.hh.ru/resumes/502ff8b100018bddf30039ed1f63735f4dda66"
        }
      }
    },
    "Negotiation": {
      "type": "object",
      "description": "\u0412 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u0438\u044f \u0441\u0430\u0439\u0442\u0430 \u0441\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u0438 \u0432\u044b\u0431\u0438\u0440\u0430\u044e\u0442 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u0438. \u0414\u043b\u044f \u0442\u043e\u0433\u043e \u0447\u0442\u043e\u0431\u044b \u0441\u0432\u044f\u0437\u0430\u0442\u044c\u0441\u044f \u0441 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u0435\u043c \u043d\u0430 \u043f\u0440\u0435\u0434\u043c\u0435\u0442 \u0442\u0440\u0443\u0434\u043e\u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0430 \u0441\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u044c \u043c\u043e\u0436\u0435\u0442 \u043e\u0442\u043a\u043b\u0438\u043a\u043d\u0443\u0442\u044c\u0441\u044f \u043d\u0430 \u0432\u044b\u0431\u0440\u0430\u043d\u043d\u0443\u044e \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e. \u0422\u0430\u043a \u0436\u0435 \u0438 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u044c, \u043d\u0430\u0439\u0434\u044f \u0438\u043d\u0442\u0435\u0440\u0435\u0441\u043d\u043e\u0435 \u0440\u0435\u0437\u044e\u043c\u0435, \u043c\u043e\u0436\u0435\u0442 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0438\u0442\u044c \u0441\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u044e \u0440\u0430\u0441\u0441\u043c\u043e\u0442\u0440\u0435\u0442\u044c \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044e.\n\n\u0414\u043b\u044f \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u0445 \u0446\u0435\u043b\u0435\u0439 \u0441\u043b\u0443\u0436\u0430\u0442 \u0441\u043f\u0435\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \u0441\u0443\u0449\u043d\u043e\u0441\u0442\u0438 - \u043e\u0442\u043a\u043b\u0438\u043a\u0438. \u0412 \u043e\u0442\u043a\u043b\u0438\u043a\u0435 \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c \u0443\u043a\u0430\u0437\u0430\u043d\u0430 \u0432\u0430\u043a\u0430\u043d\u0441\u0438\u044f, \u0440\u0435\u0437\u044e\u043c\u0435 \u0438 \u043f\u0435\u0440\u0435\u043f\u0438\u0441\u043a\u0430 \u0441\u043e\u0438\u0441\u043a\u0430\u0442\u0435\u043b\u044f \u0441 \u0440\u0430\u0431\u043e\u0442\u043e\u0434\u0430\u0442\u0435\u043b\u0435\u043c, \u0432 \u043a\u0430\u0436\u0434\u044b\u0439 \u043c\u043e\u043c\u0435\u043d\u0442 \u0432\u0440\u0435\u043c\u0435\u043d\u0438 \u043e\u0442\u043a\u043b\u0438\u043a \u043d\u0430\u0445\u043e\u0434\u0438\u0442\u0441\u044f \u0432 \u043e\u0434\u043d\u043e\u043c \u0438\u0437 \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0439. \u041f\u0435\u0440\u0435\u0445\u043e\u0434 \u043c\u0435\u0436",
      "properties": {
        "id": {
          "type": "string",
          "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
          "example": "123"
        },
        "state": {
          "type": "object",
          "description": "\u0422\u0435\u043a\u0443\u0449\u0435\u0435 \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435 \u043e\u0442\u043a\u043b\u0438\u043a\u0430. \u0420\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u043d\u044b\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f \u043d\u0430\u0445\u043e\u0434\u044f\u0442\u0441\u044f \u0432 \u0441\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a\u0435 /dictionaries \u0432 \u0440\u0430\u0437\u0434\u0435\u043b\u0435 `negotiations_state`",
          "properties": {
            "id": {
              "type": "string",
              "example": "invitation"
            },
            "name": {
              "type": "string",
              "example": "\u041f\u0440\u0438\u0433\u043b\u0430\u0448\u0435\u043d\u0438\u0435"
            }
          }
        },
        "hidden": {
          "type": "boolean",
          "description": "\u0421\u043a\u0440\u044b\u0442 \u043b\u0438 \u0442\u0435\u043a\u0443\u0449\u0438\u0439 \u043e\u0442\u043a\u043b\u0438\u043a (True - \u043e\u0442\u043a\u043b\u0438\u043a \u0441\u043a\u0440\u044b\u0442, False - \u043e\u0442\u043a\u043b\u0438\u043a \u0430\u043a\u0442\u0438\u0432\u0435\u043d)",
          "example": false
        },
        "created_at": {
          "type": "string",
          "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
          "example": "2013-10-05T19:51:38+0400"
        },
        "updated_at": {
          "type": "string",
          "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0433\u043e \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
          "example": "2013-10-07T18:30:57+0400"
        },
        "url": {
          "type": "string",
          "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u043e\u043b\u043d\u0443\u044e \u0432\u0435\u0440\u0441\u0438\u044e \u043e\u0442\u043a\u043b\u0438\u043a\u0430",
          "example": "https://api.hh.ru/negotiations/123"
        },
        "resume": {
          "$ref": "#/definitions/ResumeSimple"
        },
        "vacancy": {
          "$ref": "#/definitions/VacancySimple"
        }
      }
    },
    "E1": {
      "type": "string",
      "enum": [
        "v1",
        "v2"
      ]
    }
  },
  "parameters": {
    "per_page": {
      "name": "per_page",
      "in": "query",
      "description": "\u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 \u043f\u044d\u0439\u0434\u0436\u0438\u043d\u0433\u0430 - \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435;  !\n\u043c\u0430\u043a\u0441 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 - `2000`",
      "required": true,
      "type": "string",
      "example": "10"
    },
    "page": {
      "name": "page",
      "in": "query",
      "description": "\u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 \u043f\u044d\u0439\u0434\u0436\u0438\u043d\u0433\u0430 - \u043d\u043e\u043c\u0435\u0440 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b",
      "type": "number",
      "example": 1
    }
  }
}