{
  "openapi": "3.0.3",
  "info": {
    "title": "API4AI Image Processing API",
    "version": "2.0.0",
    "description": "API4AI provides ready-to-use AI solutions for image processing. Multiple APIs are available including brand recognition, background removal, NSFW detection, and more. Each API accepts an image via URL or file upload and returns AI-powered analysis results. Available via the API4AI Developer Portal or RapidAPI marketplace.",
    "x-jentic-source-url": "https://api4.ai/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api4ai.cloud",
      "description": "API4AI Production Server"
    },
    {
      "url": "https://demo.api4ai.cloud",
      "description": "API4AI Demo Server (rate limited, free)"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Brand Recognition",
      "description": "Identify brands in images"
    },
    {
      "name": "General",
      "description": "General image analysis"
    }
  ],
  "paths": {
    "/brand-det/v2/results": {
      "post": {
        "operationId": "recognizeBrands",
        "summary": "Recognize brands in an image",
        "description": "Submit an image for brand recognition. The API identifies logos and brand names in the image. You can submit the image as a URL or as a file upload.",
        "tags": [
          "Brand Recognition"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brand recognition results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "X-RapidAPI-Key",
        "in": "header",
        "description": "API key for authentication. Obtain from the API4AI Developer Portal (portal.api4.ai) or RapidAPI."
      }
    },
    "schemas": {
      "ImageAnalysisRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to analyze"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Image file to analyze (alternative to url)"
          }
        }
      },
      "AnalysisResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnalysisResult"
            }
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "AnalysisResult": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetectedEntity"
            }
          }
        }
      },
      "DetectedEntity": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "description": "Type of entity detected"
          },
          "name": {
            "type": "string",
            "description": "Name of the detected brand or entity"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score of the detection"
          },
          "bbox": {
            "$ref": "#/components/schemas/BoundingBox"
          }
        }
      },
      "BoundingBox": {
        "type": "object",
        "description": "Bounding box coordinates of the detected entity",
        "properties": {
          "x": {
            "type": "number",
            "format": "float"
          },
          "y": {
            "type": "number",
            "format": "float"
          },
          "w": {
            "type": "number",
            "format": "float"
          },
          "h": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "ResponseStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Status code"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      }
    }
  }
}
