{
  "swagger": "2.0",
  "info": {
    "description": "O Cadastur \u00e9 o sistema de cadastro de pessoas f\u00edsicas e jur\u00eddicas que atuam no setor de turismo e garante diversas vantagens e oportunidades aos seus cadastrados e \u00e9 tamb\u00e9m uma importante fonte de consulta para o turista. Tamb\u00e9m visa promover o ordenamento, a formaliza\u00e7\u00e3o e a legaliza\u00e7\u00e3o dos prestadores de servi\u00e7os tur\u00edsticos no Brasil, por meio do cadastro de empresas e profissionais do setor. <br><br> O programa \u00e9 executado pelo Minist\u00e9rio do Turismo, em parceria com os \u00f3rg\u00e3os oficiais de turismo, nos 26 estados e no Distrito Federal. <br><br> Conforme a Lei n\u00ba 11.771, de 17 de setembro de 2008 entende-se como prestadores de servi\u00e7os tur\u00edsticos as sociedades empres\u00e1rias, sociedades simples, os empres\u00e1rios individuais e os servi\u00e7os sociais aut\u00f4nomos que prestem servi\u00e7os tur\u00edsticos remunerados e que exer\u00e7am atividades econ\u00f4micas relacionadas \u00e0 cadeia produtiva do turismo. <br><br> Ainda conforme a Lei n\u00ba 11.771 o cadastro \u00e9 gratuito, sendo obrigat\u00f3rio para: <br><br> <ul><li>Acampamentos Tur\u00edsticos</li><li>Ag\u00eancias de Turismo</li><li>Meios de Hospedagem</li><li>Organizadoras de Evento</li><li>Parques Tem\u00e1ticos</li><li>Transportadoras Tur\u00edsticas</li></ul> E opcional para as seguintes atividades:<br/> <ul><li>Casas de Espet\u00e1culo</li><li>Centros de Conven\u00e7\u00f5es</li><li>Empreendimentos de Entretenimento e Lazer e Parques Aqu\u00e1ticos</li><li>Empreendimentos de Apoio ao Turismo N\u00e1utico ou \u00e0 Pesca Desportiva</li><li>Locadoras de Ve\u00edculos para Turistas</li><li>Prestadoras de Servi\u00e7os de Infraestrutura para Eventos</li><li>Prestadoras Especializadas em Segmentos Tur\u00edsticos</li><li>Restaurantes, Cafeterias, Bares e similares</li></ul> <br/> O cadastro tamb\u00e9m \u00e9 obrigat\u00f3rio para exercer a profiss\u00e3o de Guia de Turismo, conforme Lei n\u00ba 8.623, de 28 de janeiro de 1993. \n<br>\n## Endpoints PF\n\n* Endpoint Produ\u00e7\u00e3o: [https://apigateway.conectagov.estaleiro.serpro.gov.br/api-cadastur/v1/guia-pessoa/obter-pessoa](https://apigateway.conectagov.estaleiro.serpro.gov.br/api-cadastur/v1/guia-pessoa/obter-pessoa) \n\n* Endpoint Homologa\u00e7\u00e3o: [https://h-apigateway.conectagov.np.estaleiro.serpro.gov.br/api-cadastur/v1/guia-pessoa/obter-pessoa](https://h-apigateway.conectagov.np.estaleiro.serpro.gov.br/api-cadastur/v1/guia-pessoa/obter-pessoa)\n\n<h4></h4> \n\n> CPFs dispon\u00edveis para consulta no ambiente de Homologa\u00e7\u00e3o: > * 48278890153,\n> * 47744545168,\n> * 04953711149,\n> * 58407219134,\n> * 00460390155,\n> * 73284726187,\n> * 23921820197,\n> * 53959680163,\n> * 80964990172\n\n## Campos Retornados \n| Nome | Tipo | Conte\u00fado | \n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n| Certificado | string      | N\u00ba do certificado do Guia  |\n Nome         | string      | Nome do Guia de Trismo  |\n SituacaoCadastral         | string      | Situa\u00e7\u00e3o do Guia de Turismo: <br> Regular -  quando n\u00e3o h\u00e1 inconsist\u00eancia cadastral <br>Suspensa de Of\u00edcio -  quando h\u00e1 inconsist\u00eancia de ordem cadastral;<br> Cancelada - quando o cpf ou atividade se encontrar cancelada ;<br>Indeferido - quando o cadastro n\u00e3o passar nos crit\u00e9rios de aceita\u00e7\u00e3o.|\n Telefone         | string      | Ex: 8595585862  |\n Email         | string     |  Ex: email@email.com|\n categoriaGuias      | string   | Nome das categorias que o guia pratica o tipo de turismo    |\n idiomasDoGuia| array   | Idiomas ao qual o guia fala     |\n municipiosAtuacaoPF  | array   | Nome do munic\u00edpio onde o guia atua    |\n dataDeEmissao    | string   |Data de Emiss\u00e3o do certificado  |\n dataDeValidade    | string   |Data de validade do certificado  |\n \n <h4></h4>\n\n## Endpoints PJ\n\n* Endpoint Produ\u00e7\u00e3o: [https://apigateway.conectagov.estaleiro.serpro.gov.br/api-cadastur/v1/pessoa-juridica/obter-dados-atividade-pj](https://apigateway.conectagov.estaleiro.serpro.gov.br/api-cadastur/v1/pessoa-juridica/obter-dados-atividade-pj) \n\n* Endpoint Homologa\u00e7\u00e3o: [https://h-apigateway.conectagov.np.estaleiro.serpro.gov.br/api-cadastur/v1/pessoa-juridica/obter-dados-atividade-pj](https://h-apigateway.conectagov.np.estaleiro.serpro.gov.br/api-cadastur/v1/pessoa-juridica/obter-dados-atividade-pj)\n## Campos Retornados \n| Nome | Tipo | Conte\u00fado | \n| ---------------------- | ---------------------- | :------------------------------------------------------------- |\n|Certificado | string      | N\u00ba do certificado do cadastro  |\n CNPJ | string      | N\u00ba do CNPJ  |\n nomeRazaoSocial | string      |Raz\u00e3o Social da Empresa  |\n nomeFantasia | string      | Nome Fantasia da Empresa  |\n endereco         | object      | Informa\u00e7\u00e3o de endere\u00e7o do cnpj  |\n coCep         | string      | N\u00ba do cep  |\n noUf         | string      | Nome do Estado  |\n sgUF         | string      | Sigla do Estado  |\n noBairro         | string      | Nome do bairro  |\n deLogradouro         | string      | Descri\u00e7\u00e3o do Logradouro  |\n deComplemento         | string      | Descri\u00e7\u00e3o do Complemento  |\n noLocalidade         | string      | Nome da Localidade  |\n noAtividade         | string      | Nome da Atividade  |\n Telefone         | string      | Ex: 8595585862  |\n Email  Comercial       | string     |  Ex: email@email.com|\n dataDeEmissao    | string   |Data de Emiss\u00e3o do certificado  |\n dataDeValidade    | string   |Data de validade do certificado  |\n SituacaoCadastral         | string      | Situa\u00e7\u00e3o do Guia de Turismo: <br> Regular -  quando n\u00e3o h\u00e1 inconsist\u00eancia cadastral <br>Suspensa de Of\u00edcio -  quando h\u00e1 inconsist\u00eancia de ordem cadastral;<br> Cancelada - quando o cnpj ou atividade se encontrar cancelada ;<br>Indeferido - quando o cadastro n\u00e3o passar nos crit\u00e9rios de aceita\u00e7\u00e3o.|\n\n<h4></h4> \n> CNPJs dispon\u00edveis para consulta no ambiente de Homologa\u00e7\u00e3o:\n> * 25135010000165,\n> * 24754581000115,\n> * 05935343000161,\n> * 45678752000730,\n> * 16959563000141,\n> * 01906450000100,\n> * 08972020000136,\n> * 02605452000122,\n> * 14379257000100,\n> * 12887547000130\n\n --------------------------",
    "version": "1.0.0",
    "title": "Webservice Cadastur API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/fabriciocs/webservice-cadastur-api/1.0.0"
  },
  "host": "apigateway.conectagov.estaleiro.serpro.gov.br",
  "basePath": "/api-cadastur/v1/",
  "tags": [
    {
      "name": "Guia Pessoa F\u00edsica e Guia Mei"
    },
    {
      "name": "PessoaJuridica"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/guia-pessoa/obter-pessoa": {
      "post": {
        "tags": [
          "Guia Pessoa F\u00edsica e Guia Mei"
        ],
        "summary": "Consulta um CPF ou Certificado de prestador turistico",
        "description": "Lista com o CPFs a serem consultados",
        "operationId": "obterDadosDoGuia",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParametroVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados dos CPFs consultados.",
            "examples": {
              "application/json": {
                "nuCrachaOuCnpj": "1245678901",
                "nome": "BIANCA DOS ANJOS",
                "telefone": "12345678901",
                "email": "emailteste@gmail.com",
                "categoriaGuias": [
                  {
                    "sgUf": "SP",
                    "tipoCategoriaGuia": {
                      "noCategoriaGuia": "Guia Regional"
                    }
                  }
                ],
                "idiomasDoGuia": [
                  {
                    "idioma": {
                      "noIdioma": "Portugu\u00eas"
                    }
                  }
                ],
                "municipiosAtuacaoPF": [
                  {
                    "noLocalicade": "Peru\u00edbe",
                    "sgUf": "SP"
                  }
                ],
                "dataDeEmaissao": "23/5/2018",
                "dataDeValidade": "23/5/2023",
                "situacaoCadastral": "Regular"
              }
            }
          },
          "401": {
            "description": "Informe o CPF do usu\u00e1rio do sistema."
          },
          "412": {
            "description": "Informe um CPF a ser consultado."
          },
          "429": {
            "description": "O limite de requisi\u00e7\u00f5es do plano contratado foi atingido."
          }
        }
      }
    },
    "/pessoa-juridica/obter-dados-atividade-pj": {
      "post": {
        "tags": [
          "PessoaJuridica"
        ],
        "operationId": "recuperaPessoaJuridicaPeloCnpj",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ParametroVO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna os dados do CNPJs consultados.",
            "examples": {
              "application/json": {
                "cnpj": "12345678901234",
                "nomeRazaoSocial": "AGENCIA DE VIAGENS EXEMPLO LTDA",
                "nomeFantasia": "AGENCIA DE VIAGENS EXEMPLO",
                "endereco": {
                  "coCep": "95555000",
                  "nuUf": {
                    "noUf": "Rio Grande do Sul",
                    "sgUf": "RS"
                  },
                  "nuBairro": {
                    "noBairro": "Sem Informa\u00e7\u00e3o"
                  },
                  "deLogradouro": "RUA SAO PEDRO, 2052",
                  "deComplemento": "Sem Informa\u00e7\u00e3o",
                  "localidade": {
                    "noLocalidade": "Cap\u00e3o da Canoa"
                  }
                },
                "telefone": 99997969615,
                "emailComercial": "emailteste@hotmail.com",
                "noAtividade": "Ag\u00eancia de Turismo",
                "coCertificado": "12345678901234",
                "dataDeEmissao": "06/9/2018",
                "dataDeValidade": "06/9/2020",
                "situacaoCadastral": "Vencido"
              }
            }
          },
          "401": {
            "description": "Informe o CNPJs do v\u00e1lido."
          },
          "412": {
            "description": "Informe um CNPJs a ser consultado."
          },
          "429": {
            "description": "O limite de requisi\u00e7\u00f5es do plano contratado foi atingido."
          }
        }
      }
    }
  },
  "definitions": {
    "ParametroVO": {
      "type": "object",
      "properties": {
        "cpfCnpj": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        }
      }
    },
    "DadosGuia": {
      "type": "object",
      "properties": {
        "nuCertificado": {
          "type": "string",
          "description": "Certificado do guia"
        },
        "Nome": {
          "type": "string",
          "description": "Nome do guia"
        },
        "CategoriaGuias": {
          "type": "array",
          "description": "Nome das categorias no qual o guia atua",
          "items": {
            "type": "string"
          }
        },
        "IgiomasGuias": {
          "type": "array",
          "description": "Nome dos idiomas no qual o guia pronuncia",
          "items": {
            "type": "string"
          }
        },
        "MunicipiosAtuacaoPF": {
          "type": "array",
          "description": "Municipios nos quais o guia Trabalha",
          "items": {
            "type": "string"
          }
        },
        "Telefone": {
          "type": "string",
          "example": "8595585862"
        },
        "DataEmissao": {
          "type": "string",
          "format": "date",
          "example": "20191125"
        },
        "DataValidade": {
          "type": "string",
          "format": "date",
          "example": "20191122"
        },
        "SituacaoCadastral": {
          "type": "string",
          "description": "Situa\u00e7\u00e3o do CPF na Receita\n| C\u00f3digo | Situa\u00e7\u00e3o | Observa\u00e7\u00e3o |\n| ------ | ------ | --------------------------------------| \n| 0 | Regular | "
        }
      }
    },
    "DadosPj": {
      "type": "object",
      "properties": {
        "cnpj": {
          "type": "string",
          "description": "Cnpj  do Prestador"
        },
        "nomeRazaoSocial": {
          "type": "string",
          "description": "Raz\u00e3o Social do Prestador"
        },
        "nomeFantasia": {
          "type": "string",
          "description": "Nome Fantasia do Prestador"
        },
        "endereco": {
          "$ref": "#/definitions/DadosPj_endereco"
        },
        "telefone": {
          "type": "string",
          "description": "N\u00aa de telefone"
        },
        "emailComercial": {
          "type": "string",
          "description": "Email do Cadastro"
        },
        "noAtividade": {
          "type": "string",
          "description": "Atividade ao qual o CNPJ tem Cadastro"
        },
        "coCertificado": {
          "type": "string",
          "description": "N\u00ba do Certificado no Cadastur"
        },
        "dataDeEmissao": {
          "type": "string",
          "format": "date",
          "example": "20191125",
          "description": "Date de emiss\u00e3o do Certificado"
        },
        "dataDeValidade": {
          "type": "string",
          "format": "date",
          "example": "20191125",
          "description": "Date de validade do Certificado"
        },
        "situacaoCadastral": {
          "type": "string",
          "example": "Regular",
          "description": "Situa\u00e7\u00e3o atual no cadastur"
        }
      }
    },
    "DadosPj_endereco_uf": {
      "type": "object",
      "properties": {
        "noUf": {
          "type": "string",
          "description": "Nome do Estado"
        },
        "sgUf": {
          "type": "string",
          "description": "Sigla do estado"
        }
      },
      "description": "Estado onde se localiza o Cnpj"
    },
    "DadosPj_endereco_bairro": {
      "type": "object",
      "properties": {
        "noBairro": {
          "type": "string",
          "description": "Nome do Bairro"
        }
      },
      "description": "Bairro ao qual o cep est\u00e1 vinculado"
    },
    "DadosPj_endereco_localidade": {
      "type": "object",
      "properties": {
        "noLocalidade": {
          "type": "string",
          "description": "Nome do munic\u00edpio"
        }
      },
      "description": "Mun\u00edcipio do cep"
    },
    "DadosPj_endereco": {
      "type": "object",
      "properties": {
        "coCep": {
          "type": "string",
          "description": "N\u00ba de CEP"
        },
        "uf": {
          "$ref": "#/definitions/DadosPj_endereco_uf"
        },
        "bairro": {
          "$ref": "#/definitions/DadosPj_endereco_bairro"
        },
        "deLogradouro": {
          "type": "string",
          "description": "Descri\u00e7\u00e3o do Logradouro"
        },
        "deComplemento": {
          "type": "string",
          "description": "Descri\u00e7\u00e3o do Complemento"
        },
        "localidade": {
          "$ref": "#/definitions/DadosPj_endereco_localidade"
        }
      },
      "description": "Dados de endere\u00e7o do Cnpj"
    }
  }
}