{
  "openapi": "3.0.3",
  "info": {
    "title": "IMF DataMapper API",
    "version": "1.0.0",
    "description": "The IMF DataMapper API provides access to International Monetary Fund macroeconomic data including GDP, inflation, trade, fiscal, and other economic indicators for countries worldwide. Returns data in JSON format.",
    "x-jentic-source-url": "https://www.imf.org/external/datamapper/api/v1/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.imf.org/external/datamapper/api/v1"
    }
  ],
  "paths": {
    "/indicators": {
      "get": {
        "operationId": "getIndicators",
        "summary": "List Indicators",
        "description": "Returns all available economic indicators with their metadata.",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indicators/{indicator}": {
      "get": {
        "operationId": "getIndicator",
        "summary": "Get Indicator Data",
        "description": "Returns data for a specific indicator across all countries.",
        "tags": [
          "Indicators"
        ],
        "parameters": [
          {
            "name": "indicator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Indicator code (e.g. NGDP_RPCH for Real GDP Growth)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indicators/{indicator}/{country}": {
      "get": {
        "operationId": "getIndicatorByCountry",
        "summary": "Get Indicator for Country",
        "description": "Returns data for a specific indicator and country.",
        "tags": [
          "Indicators"
        ],
        "parameters": [
          {
            "name": "indicator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Indicator code"
          },
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Country ISO code (e.g. USA, GBR, DEU)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "List Countries",
        "description": "Returns all available countries and regions with their codes.",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{country}": {
      "get": {
        "operationId": "getCountry",
        "summary": "Get Country Info",
        "description": "Returns information about a specific country.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Country ISO code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "getGroups",
        "summary": "List Country Groups",
        "description": "Returns available country groupings (e.g. Advanced Economies, OECD).",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{group}": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get Country Group",
        "description": "Returns member countries of a specific group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/periods": {
      "get": {
        "operationId": "getPeriods",
        "summary": "List Periods",
        "description": "Returns available time periods.",
        "tags": [
          "Periods"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Countries"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Indicators"
    },
    {
      "name": "Periods"
    }
  ]
}
