{
  "openapi": "3.0.3",
  "info": {
    "title": "APIFrame Midjourney API",
    "version": "1.0.0",
    "description": "APIFrame provides a Pro API for Midjourney image generation. Supports imagine (text-to-image), vary (strong/creative variations), upscale (subtle/creative), and standard variations. Uses a credit-based system with webhook callbacks for async results. All endpoints accept JSON POST requests with API key authentication.",
    "x-jentic-source-url": "https://docs.apiframe.ai",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.apiframe.pro",
      "description": "APIFrame Pro API"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "Midjourney image generation endpoints"
    },
    {
      "name": "Variations",
      "description": "Image variation and upscale endpoints"
    },
    {
      "name": "Tasks",
      "description": "Task status and management"
    }
  ],
  "paths": {
    "/imagine": {
      "post": {
        "operationId": "imagine",
        "summary": "Generate Image from Prompt",
        "description": "Generate a Midjourney image from a text prompt. Costs 6 credits in fast mode and 10 in turbo mode. Returns a task ID for tracking the async result.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImagineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vary": {
      "post": {
        "operationId": "varyImage",
        "summary": "Create Strong or Creative Variation",
        "description": "Create a strong or creative variation of a previously generated image. Costs 6 credits. Requires a parent task ID and the index of the image to vary.",
        "tags": [
          "Variations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variation task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upscale": {
      "post": {
        "operationId": "upscaleImage",
        "summary": "Upscale Image (Subtle or Creative)",
        "description": "Upscale a previously generated image using subtle or creative mode. Costs 10 credits. Requires a parent task ID and the index of the image to upscale.",
        "tags": [
          "Variations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upscale task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/variations": {
      "post": {
        "operationId": "createVariations",
        "summary": "Create Standard Variations",
        "description": "Create standard variations of a previously generated image. Costs 6 credits. Generates a new set of 4 images based on the selected image.",
        "tags": [
          "Variations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variations task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fetch": {
      "post": {
        "operationId": "fetchTask",
        "summary": "Fetch Task Status",
        "description": "Retrieve the status and result of a previously submitted task by its task ID.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid task ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key passed in the Authorization header"
      }
    },
    "schemas": {
      "ImagineRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The text prompt for image generation"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook callback when the task completes"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secret for webhook verification"
          },
          "mode": {
            "type": "string",
            "enum": [
              "fast",
              "turbo"
            ],
            "default": "fast",
            "description": "Generation mode. Fast costs 6 credits, turbo costs 10 credits."
          }
        }
      },
      "VaryRequest": {
        "type": "object",
        "required": [
          "parent_task_id",
          "index"
        ],
        "properties": {
          "parent_task_id": {
            "type": "string",
            "description": "The task ID of the parent image to create a variation of"
          },
          "index": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "The index (1-4) of the image in the grid to vary"
          },
          "type": {
            "type": "string",
            "enum": [
              "strong",
              "creative"
            ],
            "description": "The type of variation to create"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook callback when the task completes"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secret for webhook verification"
          }
        }
      },
      "UpscaleRequest": {
        "type": "object",
        "required": [
          "parent_task_id",
          "index"
        ],
        "properties": {
          "parent_task_id": {
            "type": "string",
            "description": "The task ID of the parent image to upscale"
          },
          "index": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "The index (1-4) of the image in the grid to upscale"
          },
          "type": {
            "type": "string",
            "enum": [
              "subtle",
              "creative"
            ],
            "description": "The type of upscale to perform"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook callback when the task completes"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secret for webhook verification"
          }
        }
      },
      "VariationsRequest": {
        "type": "object",
        "required": [
          "parent_task_id",
          "index"
        ],
        "properties": {
          "parent_task_id": {
            "type": "string",
            "description": "The task ID of the parent image to create variations of"
          },
          "index": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "The index (1-4) of the image in the grid to create variations of"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook callback when the task completes"
          },
          "webhook_secret": {
            "type": "string",
            "description": "Secret for webhook verification"
          }
        }
      },
      "FetchTaskRequest": {
        "type": "object",
        "required": [
          "task_id"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "The ID of the task to fetch status for"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Unique identifier for the created task"
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Unique identifier for the task"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current status of the task"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated image (available when status is completed)"
          },
          "error": {
            "type": "string",
            "description": "Error message if the task failed"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
