{
  "openapi": "3.0.3",
  "info": {
    "title": "Eurogranite API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ALEXKNAH_1/eurogranite/1.0.0"
  },
  "servers": [
    {
      "url": "https://eurogranite.ru/api/v1"
    },
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://virtserver.swaggerhub.com/ALEXKNAH_1/eurogranite/1.0.0"
    }
  ],
  "paths": {
    "/forms/": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0444\u043e\u0440\u043c",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedPicture"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/colors/": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0446\u0432\u0435\u0442\u043e\u0432",
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedPicture"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/": {
      "get": {
        "summary": "\u0421\u043f\u0438\u0441\u043e\u043a \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
        "parameters": [
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engraving",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "flower_garden",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_n",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0442\u043e\u0432\u0430\u0440\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/text/": {
      "get": {
        "summary": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "discounts",
                "order",
                "delivery",
                "payment",
                "warranty",
                "contacts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0422\u0435\u043a\u0441\u0442\u043e\u0432\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NamedPicture": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "name",
          "picture"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "TextResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        ]
      }
    }
  }
}