{
  "openapi": "3.0.3",
  "info": {
    "title": "Chat API for WhatsApp",
    "version": "1.0.0",
    "description": "Chat API provides a REST API interface for WhatsApp messaging. Send and receive messages, manage groups, check phone status, and work with contacts programmatically through WhatsApp Business.",
    "x-jentic-source-url": "https://chat-api.com/en/business-api-docs.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.chat-api.com/instance{instanceId}",
      "description": "Chat API WhatsApp Instance",
      "variables": {
        "instanceId": {
          "default": "123456",
          "description": "Your Chat API instance ID"
        }
      }
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Messaging",
      "description": "Send and receive messages"
    },
    {
      "name": "Instance",
      "description": "Instance and phone management"
    },
    {
      "name": "Groups",
      "description": "WhatsApp group management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Queues",
      "description": "Message queue management"
    }
  ],
  "paths": {
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a text message",
        "description": "Sends a text message to a WhatsApp phone number or group chat.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendFile": {
      "post": {
        "operationId": "sendFile",
        "summary": "Send a file",
        "description": "Sends a file (image, document, audio, video) to a WhatsApp number or group.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendLink": {
      "post": {
        "operationId": "sendLink",
        "summary": "Send a link with preview",
        "description": "Sends a link with a preview to a WhatsApp number or group.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendLocation": {
      "post": {
        "operationId": "sendLocation",
        "summary": "Send a location",
        "description": "Sends a location message to a WhatsApp number or group.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendContact": {
      "post": {
        "operationId": "sendContact",
        "summary": "Send a contact (vCard)",
        "description": "Sends a contact card to a WhatsApp number or group.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "get": {
        "operationId": "getMessages",
        "summary": "Get messages",
        "description": "Returns incoming and outgoing messages from the queue.",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastMessageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Get messages after this message number"
          },
          {
            "name": "last",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only the last message"
          },
          {
            "name": "chatId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by chat ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of messages to return"
          },
          {
            "name": "min_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum message timestamp"
          },
          {
            "name": "max_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum message timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Messages retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get instance status",
        "description": "Returns the current status of the WhatsApp instance (QR code, phone connection status, etc.).",
        "tags": [
          "Instance"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Logout from WhatsApp",
        "description": "Logs out from WhatsApp on the connected phone.",
        "tags": [
          "Instance"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reboot": {
      "post": {
        "operationId": "reboot",
        "summary": "Reboot instance",
        "description": "Reboots the WhatsApp instance.",
        "tags": [
          "Instance"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance rebooted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dialogs": {
      "get": {
        "operationId": "getDialogs",
        "summary": "Get dialogs/chats",
        "description": "Returns a list of all chats/dialogs.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dialogs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DialogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkPhone": {
      "post": {
        "operationId": "checkPhone",
        "summary": "Check phone number",
        "description": "Checks if a phone number is registered on WhatsApp.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Phone number to check (with country code)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "enum": [
                        "exists",
                        "not exists"
                      ]
                    },
                    "chatId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group": {
      "post": {
        "operationId": "createGroup",
        "summary": "Create a group",
        "description": "Creates a new WhatsApp group with the specified participants.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupName",
                  "phones"
                ],
                "properties": {
                  "groupName": {
                    "type": "string",
                    "description": "Name for the new group"
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers to add as participants"
                  },
                  "messageText": {
                    "type": "string",
                    "description": "Optional initial message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "boolean"
                    },
                    "chatId": {
                      "type": "string"
                    },
                    "groupInviteLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addGroupParticipant": {
      "post": {
        "operationId": "addGroupParticipant",
        "summary": "Add participant to group",
        "description": "Adds a participant to a WhatsApp group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId",
                  "participantPhone"
                ],
                "properties": {
                  "groupId": {
                    "type": "string"
                  },
                  "participantPhone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant added"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/removeGroupParticipant": {
      "post": {
        "operationId": "removeGroupParticipant",
        "summary": "Remove participant from group",
        "description": "Removes a participant from a WhatsApp group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId",
                  "participantPhone"
                ],
                "properties": {
                  "groupId": {
                    "type": "string"
                  },
                  "participantPhone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant removed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/queue": {
      "get": {
        "operationId": "getQueue",
        "summary": "Get message queue",
        "description": "Returns the outgoing message queue.",
        "tags": [
          "Queues"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Queue contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalMessages": {
                      "type": "integer"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clearMessagesQueue": {
      "post": {
        "operationId": "clearMessagesQueue",
        "summary": "Clear message queue",
        "description": "Clears the outgoing message queue.",
        "tags": [
          "Queues"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Queue cleared",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cleared": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token passed as query parameter."
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "chatId",
          "body"
        ],
        "properties": {
          "chatId": {
            "type": "string",
            "description": "Chat ID (e.g., 17633463463@c.us for personal, 17633463463-1479621234@g.us for groups)"
          },
          "phone": {
            "type": "string",
            "description": "Phone number (alternative to chatId)"
          },
          "body": {
            "type": "string",
            "description": "Message text"
          }
        }
      },
      "SendFileRequest": {
        "type": "object",
        "required": [
          "chatId",
          "body",
          "filename"
        ],
        "properties": {
          "chatId": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "description": "URL or base64-encoded file content"
          },
          "filename": {
            "type": "string",
            "description": "Filename with extension"
          },
          "caption": {
            "type": "string",
            "description": "Optional caption for the file"
          }
        }
      },
      "SendLinkRequest": {
        "type": "object",
        "required": [
          "chatId",
          "body"
        ],
        "properties": {
          "chatId": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "description": "URL to send"
          },
          "previewBase64": {
            "type": "string",
            "description": "Base64-encoded preview image"
          },
          "title": {
            "type": "string",
            "description": "Link preview title"
          },
          "description": {
            "type": "string",
            "description": "Link preview description"
          }
        }
      },
      "SendLocationRequest": {
        "type": "object",
        "required": [
          "chatId",
          "lat",
          "lng",
          "address"
        ],
        "properties": {
          "chatId": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lng": {
            "type": "number",
            "description": "Longitude"
          },
          "address": {
            "type": "string",
            "description": "Location address text"
          }
        }
      },
      "SendContactRequest": {
        "type": "object",
        "required": [
          "chatId",
          "contactId"
        ],
        "properties": {
          "chatId": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "contactId": {
            "type": "string",
            "description": "Contact's chat ID to share as vCard"
          }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "queueNumber": {
            "type": "integer"
          }
        }
      },
      "MessagesResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "lastMessageNumber": {
            "type": "integer"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "chat",
              "image",
              "video",
              "document",
              "audio",
              "ptt",
              "location",
              "vcard"
            ]
          },
          "senderName": {
            "type": "string"
          },
          "fromMe": {
            "type": "boolean"
          },
          "author": {
            "type": "string"
          },
          "time": {
            "type": "integer"
          },
          "chatId": {
            "type": "string"
          },
          "messageNumber": {
            "type": "integer"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "accountStatus": {
            "type": "string",
            "enum": [
              "init",
              "loading",
              "got qr code",
              "authenticated",
              "ready"
            ]
          },
          "qrCode": {
            "type": "string",
            "description": "Base64-encoded QR code image"
          },
          "statusData": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "msg": {
                "type": "string"
              },
              "substatus": {
                "type": "string"
              }
            }
          }
        }
      },
      "DialogsResponse": {
        "type": "object",
        "properties": {
          "dialogs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "image": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
