{
  "openapi": "3.0.2",
  "info": {
    "version": "2.6.0",
    "title": "Ukraine Express RESTful Partners API",
    "description": "## Important notices\n> - For the compatibility reasons in this documents utilize/utilization means the same as dispose/disposal.\n***\n## Webhooks information\n> All webhooks described in this documentation are shown as callbacks for `webhooks-*`. Actually you can't subscribe for this method, as it does not exist - it is here just to render the docs. All webhooks will be sent to a single endpoint configured for partner (marked as `webhooks-endpoint` for documentation). Partner can later change the configuration of the endpoint via the API call or contacting technical support.\n> \n> Webhooks consider delivered on any of 200, 201, 204 HTTP status codes. If the endpoint returns any other status code, the webhook will be retried later (up to 15 times). The retry intervals:\n    > - one minute for first 2 times\n    > - two minutes for next 2 times\n    > - ten minutes for next 2 times\n    > - one hour for all next times\n***\n## Change log\n> #### 2026-03-17\n    > - Added `GET /{division}/customer/{customer_id}/parcel/{id}/classification-declaration`\n    > - Added `POST /{division}/customer/{customer_id}/parcel/{id}/declaration-zpl`\n    > - Added `printing_info.has_declaration_zpl` to the model `ParcelDetailed`\n> #### 2025-09-28\n    > - Webhook `container-created`\n    > - Webhook `container-finalized`\n    > - Webhook `container-loading-enabled`\n    > - Webhook `tracking-sync-required`\n    > - Added `GET /{division}/customer/{customer_id}/order-search/`\n    > - Added `POST /{division}/customer/{customer_id}/order-search/`\n    > - Added `DELETE /{division}/customer/{customer_id}/order-search/{request_id}`\n    > - Added `GET /{division}/containers/`\n    > - Added `GET /{division}/containers/{id}`\n> #### 2025-08-19\n    > - Added `PATCH /{division}/customer/{customer_id}/tracking-numbers/{id}/delivery-type`\n> #### 2025-08-07\n    > - Added `id` for the response of `GET /{division}/customer/{customer_id}/tracking-numbers/{id}/photos`\n> #### 2025-06-30\n    > - Added `departure_allowed` to the model `ParcelDetailed`\n> #### 2025-06-16\n    > - Added `packing_info.is_completed` to the model `ParcelDetailed`\n    > - Added `packing_info.content_type_tags` to the model `ParcelDetailed`\n    > - Added `airbox_id` to the model `ParcelDetailed`\n    > - Added `customs_data.sender` to the model `ParcelDetailed`\n    > - Added `customs_data.recipient` to the model `ParcelDetailed`\n    > - Added `storage_info.pending_transfer` to the model `TrackingNumberDetailed`\n    > - Added `storage_info.pending_transfer_duration_seconds` to the model `TrackingNumberDetailed`\n    > - Added `parcel_code` to the model `ParcelEvent`\n    > - Webhook `parcel-container-changed`\n    > - Webhook `parcel-loaded-to-container-cancelled`\n    > - Webhook `parcel-loaded-to-airbox-cancelled`\n    > - Webhook `parcel-deleted`\n    > - Webhook `parcel-created`\n    > - Added `POST /test/unpack-parcel`\n    > - Added `POST /{division}/customer/{customer_id}/parcel/{id}/recipient`\n    > - Added `POST /{division}/customer/{customer_id}/parcel/{id}/sender`\n> #### 2025-05-25\n    > - Webhook `parcel-packing-completed`\n> #### 2025-05-16\n    > - Added `divide_info.chunk_ids` and `divide_info.part_of_id` to the model `TrackingNumberDetailed`\n    > - Deprecated `divide_info.parts` and `divide_info.part_of` in the model `TrackingNumberDetailed`\n> #### 2025-05-08\n    > - Webhook `tracking-receiving-cancelled`\n> #### 2025-04-22\n    > - Added `POST /settings/webhooks-endpoint`\n> #### 2025-04-03\n    > - Added `GET /{division}/customer/{customer_id}/tracking-numbers/{id}/invoices`\n    > - Added `POST /{division}/customer/{customer_id}/tracking-numbers/{id}/invoices`\n> #### 2025-02-07\n    > - Added `POST /test/create-declaration-tracking`\n    > - Webhook `tracking-declaration-updated`\n> #### 2024-12-11\n    > - Added `outer_box_removal` for `TrackingNumberDetailed`\n    > - Added `POST /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/outer-box-removal`\n    > - Added `DELETE /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/outer-box-removal`\n    > - Added `shoe_box_removal` for `TrackingNumberDetailed`\n    > - Added `POST /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/shoe-box-removal`\n    > - Added `DELETE /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/shoe-box-removal`\n> #### 2024-09-24\n    > - Added `on_packing.failures_count` for `TrackingNumberDetailed`\n> #### 2024-08-08\n    > - Added `otp_for_receiving` for `TrackingNumberAdditionalInfo`\n> #### 2024-06-03\n    > - Added `POST /{division}/customer/{customer_id}/online-activity`\n    > - Added `POST /test/return-tracking`\n> #### 2024-04-27\n    > - Webhook `ticket-message-added`\n    > - Webhook `ticket-created-by-company`\n    > - Webhook `ticket-closed`\n    > - Webhook `ticket-reopened`\n    > - Webhook `ticket-processing`\n    > - Webhook `ticket-deferred`\n    > - Added `queued_time` for `ContainerEvent`, `AirboxEvent`, `ParcelEvent`, `TrackingNumberEvent`\n> #### 2024-04-20\n    > - Added `POST /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/divide`\n    > - Added `GET /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/divide`\n    > - Added `DELETE /{division}/customer/{customer_id}/tracking-numbers/{id}/additional-services/divide/{request_id}`\n    > - Added `POST /test/complete-divide-request`\n    > - Added `POST /test/cancel-divide-request`\n    > - Added `GET /{division}/customers`\n    > - Added `POST /{division}/customer/{customer_id}/parcel/{id}/change-customer`\n    > - Model `TrackingNumberDetailed`: added `additional_services->paid_divide` block\n    > - Webhook `tracking-divide-canceled`\n> #### 2024-04-15\n    > - Webhook `container-loading-disabled`\n    > - Added `POST /test/container-close`\n> #### 2024-03-21\n    > - Model `TrackingNumberDetailed`: added `utilization` block with information about disposal of the tracking number\n    > - Webhook `tracking-utilized`\n    > - Webhook `tracking-returned`\n    > - Webhook `tracking-unassigned`\n    > - Webhook `tracking-customer-assigned` will be delivered for a situation when the tracking number changed the owner within the same partner's customers.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VSTOYANOVYCH_1/ukraine-express_res_tful_partners_api/2.6.0"
  },
  "servers": [
    {
      "url": "https://api.testsrvr.ukraine-express.com/partners/v2",
      "description": "Test server"
    },
    {
      "url": "http://partnersapi.ukraine-express.com/partners/v2",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "registration",
      "description": "Customer registration"
    },
    {
      "name": "common",
      "description": "General information"
    },
    {
      "name": "airboxes",
      "description": "AirBoxes"
    },
    {
      "name": "containers",
      "description": "Containers (batches of outbound cargo)"
    },
    {
      "name": "parcels",
      "description": "Parcels"
    },
    {
      "name": "tracking-number",
      "description": "Tracking numbers"
    },
    {
      "name": "tracking-additional-services",
      "description": "Tracking numbers (Additional services)"
    },
    {
      "name": "tracking-divide",
      "description": "Tracking numbers (Additional services / Divide)"
    },
    {
      "name": "tracking-invoices",
      "description": "Tracking numbers (Invoices)"
    },
    {
      "name": "order-search",
      "description": "Order search"
    },
    {
      "name": "customer",
      "description": "Customer information"
    },
    {
      "name": "webhooks",
      "description": "Webhooks"
    },
    {
      "name": "support",
      "description": "Customer support"
    },
    {
      "name": "files",
      "description": "Files"
    },
    {
      "name": "test",
      "description": "Method for testing purposes. N/A in production"
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "registration"
        ],
        "summary": "Customer registration (autogenerated code)",
        "description": "This method only allowed for partners with autogenerated code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "translit_first_name": {
                    "type": "string"
                  },
                  "translit_last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "street": {
                    "type": "string"
                  },
                  "home": {
                    "type": "string"
                  },
                  "apt": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "county": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "translit_first_name",
                  "translit_last_name",
                  "email",
                  "phone",
                  "street",
                  "home",
                  "city",
                  "zip",
                  "state",
                  "country"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "409": {
            "description": "Object already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/register/{code}": {
      "post": {
        "tags": [
          "registration"
        ],
        "summary": "Customer registration (custom code)",
        "description": "This method only allowed for partners with their own code",
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "4 or 5-digit code as string. Only digits allowed. Leading zeros required. Company prefix will be prepended to the code automatically. For example your company prefix is `ABC` and your customer code is `12` and you are using 5-digits codes, so you should send us `00012` and the registered customer will have a code `ABC00012`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "translit_first_name": {
                    "type": "string"
                  },
                  "translit_last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "street": {
                    "type": "string"
                  },
                  "home": {
                    "type": "string"
                  },
                  "apt": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "county": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "translit_first_name",
                  "translit_last_name",
                  "email",
                  "phone",
                  "street",
                  "home",
                  "city",
                  "zip",
                  "state",
                  "country"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "409": {
            "description": "Object already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/divisions": {
      "get": {
        "tags": [
          "common"
        ],
        "summary": "Available countries list",
        "security": [
          {
            "access_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "division": {
                        "type": "string",
                        "description": "2-letter country code",
                        "example": "us"
                      },
                      "delivery_types": {
                        "description": "Available delivery types for country",
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/DeliveryType"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/settings/webhooks-endpoint": {
      "post": {
        "tags": [
          "common"
        ],
        "summary": "Update webhooks endpoint",
        "security": [
          {
            "access_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhooks_url": {
                    "type": "string",
                    "description": "Full URL for webhooks on partners' side",
                    "example": "https://example.com/webhooks"
                  }
                },
                "required": [
                  "webhooks_url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/airboxes/": {
      "get": {
        "tags": [
          "airboxes"
        ],
        "summary": "All airboxes of partner",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-digit country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "container_id",
            "required": false,
            "description": "Filter the airboxes loaded to container with ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "in_warehouse",
            "required": false,
            "description": "Show airboxes located in warehouse (not loaded to container)",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AirboxDetailed"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationInformation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/airbox/{id}": {
      "get": {
        "tags": [
          "airboxes"
        ],
        "summary": "Airbox details",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-digit country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Airbox ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AirboxDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/containers/": {
      "get": {
        "tags": [
          "containers"
        ],
        "summary": "All containers of the partner",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-digit country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContainerDetailed"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationInformation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/containers/{id}": {
      "get": {
        "tags": [
          "containers"
        ],
        "summary": "Container details",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-digit country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Container ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/parcels/": {
      "get": {
        "tags": [
          "parcels"
        ],
        "summary": "All parcels of partner",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-digit country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "delivery_types",
            "required": false,
            "description": "Delivery types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "container_id",
            "required": false,
            "description": "Filter the parcels loaded to container with ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "airbox_id",
            "required": false,
            "description": "Filter the parcels loaded to airbox with ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "in_warehouse",
            "required": false,
            "description": "Show parcels located in warehouse if `in_warehouse=1`",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ParcelDetailed"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationInformation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcels/": {
      "get": {
        "tags": [
          "parcels"
        ],
        "summary": "Parcels list for particular customer",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2 digit country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "delivery_types",
            "required": false,
            "description": "Delivery types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "q",
            "required": false,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ParcelDetailed"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationInformation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}": {
      "get": {
        "tags": [
          "parcels"
        ],
        "summary": "Get parcel detailed information by parcel ID",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/change-customer": {
      "post": {
        "tags": [
          "parcels"
        ],
        "summary": "Change the owner of the parcel",
        "description": "Owner of the tracking numbers inside the parcel will be changed too. Attention! Applied stickers won't be reapplied.",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_customer_id": {
                    "type": "integer",
                    "description": "New customer ID for the parcel"
                  }
                },
                "required": [
                  "new_customer_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/declaration-zpl": {
      "post": {
        "tags": [
          "parcels"
        ],
        "summary": "Set custom ZPL code of CN23 declaration to print on loading to the container",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "zpl": {
                    "type": "integer",
                    "description": "ZPL-code for declaration printing. Empty code unset ZPL"
                  }
                },
                "required": [
                  "zpl"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/customs-data": {
      "patch": {
        "tags": [
          "parcels"
        ],
        "summary": "Change the customs data",
        "description": "Available for parners with customs clearance in the contract.",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "declared_value_cents": {
                    "type": "integer",
                    "description": "Declared value in cents (1/100 of USD, UER etc)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/classification-declaration": {
      "get": {
        "tags": [
          "parcels"
        ],
        "summary": "View the declaration of the parcel (according to classification, for partners with enabled feature)",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassificatorDeclaration"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/recipient": {
      "post": {
        "tags": [
          "parcels"
        ],
        "summary": "Set the recipient data",
        "description": "Available for parners with this feature in the contract. Recipients from the destination country only allowed.",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithContacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/sender": {
      "post": {
        "tags": [
          "parcels"
        ],
        "summary": "Set the sender data",
        "description": "Available for parners with this feature in the contract. Senders from the departure country only allowed.",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressWithContacts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/parcel/{id}/departure-allowed": {
      "patch": {
        "tags": [
          "parcels"
        ],
        "summary": "Allow/disallow departure from warehouse",
        "description": "Available for parners with this feature in the contract. A parcel with disallowed departure cannot be loaded to a container or an airbox. Departure cant be disallowed after loading the parcel to a container.",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Parcel ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoolSetVal"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Parcel not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/tracking-numbers/": {
      "get": {
        "tags": [
          "tracking-number"
        ],
        "summary": "All tracking numbers for partner",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "in_warehouse_not_packed",
            "required": false,
            "description": "Tracking numbers located in warehouse that where not packed to the parcels yet (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "return_requested",
            "required": false,
            "description": "Tracking numbers with return requests (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "utilization_requested",
            "required": false,
            "description": "Tracking numbers with disposal requests (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "delivery_types",
            "required": false,
            "description": "Delivery types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "sending_allowed",
            "required": false,
            "description": "Tracking numbers allowed for sending (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "sending_disallowed",
            "required": false,
            "description": "Tracking numbers denied for sending (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "filter_ids",
            "required": false,
            "description": "Tracking numbers with given IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "filter_exclude_ids",
            "required": false,
            "description": "Tracking numbers with given IDs will be excluded from the result",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "last_symbols",
            "required": false,
            "description": "Tracking numbers ending with `last_symbols`",
            "schema": {
              "type": "string",
              "minLength": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TrackingNumberDetailed"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/": {
      "post": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Add tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingNumberAdd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "description": "Possibe additional error codes:\n * `registered_by_other_customer` - tracking number already registered by another customer\n * `customer_not_allowed` - customer not allowed to register tracking number\n * `error_track_too_short` - tracking number is too short\n * `wrong_tracking_format` - tracking number format is incorrect\n * `error_check_own_track` - tracking number is not registered by the current customer\n * `check_track_other_error` - other error, required attention from the manager\n * `delivery_type_error` - delivery type is not allowed for the current customer\n * `delivery_type_sending_error`, `delivery_type_sending_error2` - wrong gelivery type and allowed sending combination\n * `wrong_price_format` - price format is incorrect\n * `declared_price_too_small` - price format is incorrect\n",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericError"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Tracking numbers list",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Pagination limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "q",
            "required": false,
            "description": "Search query",
            "schema": {
              "type": "string",
              "minLength": 4
            }
          },
          {
            "in": "query",
            "name": "received",
            "required": false,
            "description": "Received tracking numbers (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "not_received",
            "required": false,
            "description": "Not received tracking numbers (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "packed",
            "required": false,
            "description": "Packed tracking numbers (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "not_packed",
            "required": false,
            "description": "Not packed tracking numbers (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "returned",
            "required": false,
            "description": "Returned tracking numbers (`0` means no filter)",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "delivery_types",
            "required": false,
            "description": "Delivery types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "sending_allowed",
            "required": false,
            "description": "Tracking numbers allowed for sending",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "sending_disallowed",
            "required": false,
            "description": "Tracking numbers denied for sending",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "in": "query",
            "name": "filter_ids",
            "required": false,
            "description": "Tracking numbers with given IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "parcel_id",
            "required": false,
            "description": "Parcel ID which has given tracking numbers",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TrackingNumberDetailed"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}": {
      "get": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Tracking number detailed information by tracking number ID",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Delete or dispose tracking number",
        "description": "Delete or dispose the tracking number. If tracking number was not received then it will be deleted. If not received, a disposal request will be made.",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data or unable to make a disposal request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/additional-info": {
      "patch": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Edit tracking number additional info",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingNumberAdditionalInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/declaration": {
      "get": {
        "tags": [
          "tracking-number"
        ],
        "summary": "View the declaration of the tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDeclaration"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Replace the declaration of the tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingNumberDeclaration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDeclaration"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/packing-data": {
      "put": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Replace the data required for packing of the tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "print_url": {
                    "type": "string",
                    "description": "URL of the document required to print on packing. Content of the url should be a valid HTML-document and should contain open and closed `body` tag. Any images, styles or other external files should have full path with the domain name included. This URL will be downloaded and rendered externally when printed."
                  },
                  "zpl": {
                    "type": "string",
                    "description": "ZPL of label to print on packing"
                  }
                },
                "required": [
                  "print_url",
                  "zpl"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/photos": {
      "get": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Tracking number photos",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Photo ID"
                      },
                      "thumb_url": {
                        "type": "string",
                        "description": "Thumbnail"
                      },
                      "url": {
                        "type": "string",
                        "description": "Full image URL. Attention - this URL could be changed throug the lifetime of the tracking number, so it is not recommended to store it in your database."
                      },
                      "tag": {
                        "type": "string",
                        "description": "Tag to identify image type:\n * `label` - photo of the package with the shipping label\n * `paid` - paid photo, requested by customer\n * `trackingphotodamage` - photo of the damage to the cargo\n * `trackingphotocustom` - photos added by our employees\n",
                        "enum": [
                          "label",
                          "paid",
                          "trackingphotodamage",
                          "trackingphotocustom"
                        ]
                      },
                      "description": {
                        "type": "string",
                        "description": "Image description (can be added by our employees manually for specific image)"
                      }
                    },
                    "required": [
                      "thumb_url",
                      "url",
                      "tag"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/by-number/{number}": {
      "get": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Detailed information about tracking number by number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "number",
            "required": true,
            "description": "Tracking number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/sending-permission": {
      "patch": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Allow/Deny sending of tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allowed": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/return": {
      "post": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Request a return to sender for the tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Return address"
                  },
                  "note": {
                    "type": "string",
                    "description": "Return notes"
                  },
                  "return_label_type": {
                    "type": "string",
                    "description": "Return label type (`no` there is no any return label, `inside_package` return label is inside the package, `upload` - add an uploaded return label)",
                    "enum": [
                      false,
                      "inside_package",
                      "upload"
                    ]
                  },
                  "return_label_uploaded_file_id": {
                    "type": "integer",
                    "description": "File ID for uploaded return label. Required in case if `return_label_type=upload`"
                  }
                },
                "required": [
                  "address",
                  "return_label_type"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data or unable to make a return request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Cancel a return request for tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data or unable to cancel return request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/change-customer": {
      "post": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Change customer for the tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_customer_id": {
                    "type": "integer",
                    "description": "New customer ID for the tracking number"
                  }
                },
                "required": [
                  "new_customer_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data or unable to change a customer",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "404": {
            "description": "Tracking number not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          }
        }
      }
    },
    "/{division}/customer/{customer_id}/tracking-numbers/{id}/delivery-type": {
      "patch": {
        "tags": [
          "tracking-number"
        ],
        "summary": "Change customer for the tracking number",
        "security": [
          {
            "access_token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "division",
            "required": true,
            "description": "2-letter country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "description": "Customer ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Tracking number ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delivery_type_tag": {
                    "type": "string",
                    "description": "New delivery type for the tracking number"
                  }
                },
                "required": [
                  "delivery_type_tag"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfull operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingNumberDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data or unable to change a customer",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
[...]
