{
  "swagger": "2.0",
  "info": {
    "description": "This is a dynamic API generated by PostgREST",
    "title": "PostgREST API",
    "version": "14.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tengointernet/postgrest-api/14.1"
  },
  "host": "dashboard-api.tengointernet.com:443",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/vnd.pgrst.object+json;nulls=stripped",
    "application/vnd.pgrst.object+json",
    "text/csv"
  ],
  "produces": [
    "application/json",
    "application/vnd.pgrst.object+json;nulls=stripped",
    "application/vnd.pgrst.object+json",
    "text/csv"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/openapi+json",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "OpenAPI description (this document)",
        "tags": [
          "Introspection"
        ]
      }
    },
    "/nodes": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.nodes.id"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.mac_address"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.mqtt_status"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.created_at"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/nodes"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.nodes"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.nodes.id"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.mac_address"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.mqtt_status"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.created_at"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.nodes.id"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.mac_address"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.mqtt_status"
          },
          {
            "$ref": "#/parameters/rowFilter.nodes.created_at"
          },
          {
            "$ref": "#/parameters/body.nodes"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "nodes"
        ]
      }
    },
    "/node_checkins": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.node_checkins.mac_address"
          },
          {
            "$ref": "#/parameters/rowFilter.node_checkins.timestamp"
          },
          {
            "$ref": "#/parameters/rowFilter.node_checkins.uptime"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/node_checkins"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "tags": [
          "node_checkins"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.node_checkins"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "node_checkins"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.node_checkins.mac_address"
          },
          {
            "$ref": "#/parameters/rowFilter.node_checkins.timestamp"
          },
          {
            "$ref": "#/parameters/rowFilter.node_checkins.uptime"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "node_checkins"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.node_checkins.mac_address"
          },
          {
            "$ref": "#/parameters/rowFilter.node_checkins.timestamp"
          },
          {
            "$ref": "#/parameters/rowFilter.node_checkins.uptime"
          },
          {
            "$ref": "#/parameters/body.node_checkins"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "node_checkins"
        ]
      }
    },
    "/firmware_versions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.id"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.stage"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.version"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.path"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.bucket"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/firmware_versions"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "tags": [
          "firmware_versions"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.firmware_versions"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "firmware_versions"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.id"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.stage"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.version"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.path"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.bucket"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "firmware_versions"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.id"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.stage"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.version"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.path"
          },
          {
            "$ref": "#/parameters/rowFilter.firmware_versions.bucket"
          },
          {
            "$ref": "#/parameters/body.firmware_versions"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "firmware_versions"
        ]
      }
    }
  },
  "definitions": {
    "nodes": {
      "properties": {
        "id": {
          "description": "Note:\nThis is a Primary Key.<pk/>",
          "format": "integer",
          "type": "integer"
        },
        "mac_address": {
          "format": "macaddr",
          "type": "string"
        },
        "mqtt_status": {
          "format": "character varying",
          "maxLength": 4,
          "type": "string"
        },
        "created_at": {
          "format": "timestamp with time zone",
          "type": "string"
        }
      },
      "type": "object"
    },
    "node_checkins": {
      "properties": {
        "mac_address": {
          "description": "Note:\nThis is a Foreign Key to `nodes.mac_address`.<fk table='nodes' column='mac_address'/>",
          "format": "macaddr",
          "type": "string"
        },
        "timestamp": {
          "format": "timestamp without time zone",
          "type": "string"
        },
        "uptime": {
          "format": "bigint",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "firmware_versions": {
      "properties": {
        "id": {
          "description": "Note:\nThis is a Primary Key.<pk/>",
          "format": "bigint",
          "type": "integer"
        },
        "stage": {
          "format": "text",
          "type": "string"
        },
        "version": {
          "format": "character varying",
          "maxLength": 50,
          "type": "string"
        },
        "path": {
          "format": "text",
          "type": "string"
        },
        "bucket": {
          "format": "text",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "preferParams": {
      "name": "Prefer",
      "description": "Preference",
      "required": false,
      "in": "header",
      "type": "string"
    },
    "preferReturn": {
      "name": "Prefer",
      "description": "Preference",
      "required": false,
      "enum": [
        "return=representation",
        "return=minimal",
        "return=none"
      ],
      "in": "header",
      "type": "string"
    },
    "preferCount": {
      "name": "Prefer",
      "description": "Preference",
      "required": false,
      "enum": [
        "count=none"
      ],
      "in": "header",
      "type": "string"
    },
    "preferPost": {
      "name": "Prefer",
      "description": "Preference",
      "required": false,
      "enum": [
        "return=representation",
        "return=minimal",
        "return=none",
        "resolution=ignore-duplicates",
        "resolution=merge-duplicates"
      ],
      "in": "header",
      "type": "string"
    },
    "select": {
      "name": "select",
      "description": "Filtering Columns",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "on_conflict": {
      "name": "on_conflict",
      "description": "On Conflict",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "order": {
      "name": "order",
      "description": "Ordering",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "range": {
      "name": "Range",
      "description": "Limiting and Pagination",
      "required": false,
      "in": "header",
      "type": "string"
    },
    "rangeUnit": {
      "name": "Range-Unit",
      "description": "Limiting and Pagination",
      "required": false,
      "default": "items",
      "in": "header",
      "type": "string"
    },
    "offset": {
      "name": "offset",
      "description": "Limiting and Pagination",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "limit": {
      "name": "limit",
      "description": "Limiting and Pagination",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "body.nodes": {
      "name": "nodes",
      "description": "nodes",
      "required": false,
      "in": "body",
      "schema": {
        "$ref": "#/definitions/nodes"
      }
    },
    "rowFilter.nodes.id": {
      "name": "id",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.nodes.mac_address": {
      "name": "mac_address",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.nodes.mqtt_status": {
      "name": "mqtt_status",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.nodes.created_at": {
      "name": "created_at",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "body.node_checkins": {
      "name": "node_checkins",
      "description": "node_checkins",
      "required": false,
      "in": "body",
      "schema": {
        "$ref": "#/definitions/node_checkins"
      }
    },
    "rowFilter.node_checkins.mac_address": {
      "name": "mac_address",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.node_checkins.timestamp": {
      "name": "timestamp",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.node_checkins.uptime": {
      "name": "uptime",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "body.firmware_versions": {
      "name": "firmware_versions",
      "description": "firmware_versions",
      "required": false,
      "in": "body",
      "schema": {
        "$ref": "#/definitions/firmware_versions"
      }
    },
    "rowFilter.firmware_versions.id": {
      "name": "id",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.firmware_versions.stage": {
      "name": "stage",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.firmware_versions.version": {
      "name": "version",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.firmware_versions.path": {
      "name": "path",
      "required": false,
      "in": "query",
      "type": "string"
    },
    "rowFilter.firmware_versions.bucket": {
      "name": "bucket",
      "required": false,
      "in": "query",
      "type": "string"
    }
  },
  "externalDocs": {
    "description": "PostgREST Documentation",
    "url": "https://postgrest.org/en/v14/references/api.html"
  }
}