{
  "openapi": "3.1.0",
  "info": {
    "title": "New Relic REST API",
    "description": "New Relic REST API v2 lets you retrieve data from and push data to New Relic tools, configure features, and perform delete operations. Covers applications, servers, alerts, deployments, and more. Note: New Relic primarily uses NerdGraph (GraphQL) for newer functionality.",
    "version": "2.0",
    "contact": {
      "name": "New Relic",
      "url": "https://docs.newrelic.com"
    },
    "x-jentic-source-url": "https://docs.newrelic.com/docs/apis/rest-api-v2/get-started/introduction-new-relic-rest-api-v2/"
  },
  "servers": [
    {
      "url": "https://api.newrelic.com/v2",
      "description": "New Relic REST API v2 (US)"
    },
    {
      "url": "https://api.eu.newrelic.com/v2",
      "description": "New Relic REST API v2 (EU)"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Applications",
      "description": "APM application management"
    },
    {
      "name": "Application Hosts",
      "description": "Hosts running applications"
    },
    {
      "name": "Application Instances",
      "description": "Application instances"
    },
    {
      "name": "Key Transactions",
      "description": "Key transaction management"
    },
    {
      "name": "Deployments",
      "description": "Deployment markers"
    },
    {
      "name": "Servers",
      "description": "Server management"
    },
    {
      "name": "Alert Policies",
      "description": "Alert policy management"
    },
    {
      "name": "Alert Conditions",
      "description": "Alert condition management"
    },
    {
      "name": "Alert Notification Channels",
      "description": "Notification channel management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Labels",
      "description": "Label management"
    },
    {
      "name": "Browser Applications",
      "description": "Browser monitoring"
    },
    {
      "name": "Mobile Applications",
      "description": "Mobile monitoring"
    }
  ],
  "paths": {
    "/applications.json": {
      "get": {
        "operationId": "listApplications",
        "summary": "List applications",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by application name"
          },
          {
            "name": "filter[ids]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of IDs"
          },
          {
            "name": "filter[language]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by language"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Application"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List applications"
      }
    },
    "/applications/{id}.json": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get application"
      },
      "put": {
        "operationId": "updateApplication",
        "summary": "Update application settings",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "app_apdex_threshold": {
                            "type": "number"
                          },
                          "end_user_apdex_threshold": {
                            "type": "number"
                          },
                          "enable_real_user_monitoring": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update application settings"
      },
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Delete application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete application"
      }
    },
    "/applications/{application_id}/metrics.json": {
      "get": {
        "operationId": "listMetricNames",
        "summary": "List metric names",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter metrics by name"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metric names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List metric names"
      }
    },
    "/applications/{application_id}/metrics/data.json": {
      "get": {
        "operationId": "getMetricData",
        "summary": "Get metric data",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "names[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Metric names to retrieve"
          },
          {
            "name": "values[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Specific metric values"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Period in seconds for timeslices"
          },
          {
            "name": "summarize",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metric data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metric_data": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "metrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "timeslices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "string"
                                    },
                                    "to": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get metric data"
      }
    },
    "/applications/{application_id}/hosts.json": {
      "get": {
        "operationId": "listApplicationHosts",
        "summary": "List application hosts",
        "tags": [
          "Application Hosts"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[hostname]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Host list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application_hosts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApplicationHost"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List application hosts"
      }
    },
    "/applications/{application_id}/instances.json": {
      "get": {
        "operationId": "listApplicationInstances",
        "summary": "List application instances",
        "tags": [
          "Application Instances"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[hostname]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ids]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application_instances": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApplicationInstance"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List application instances"
      }
    },
    "/key_transactions.json": {
      "get": {
        "operationId": "listKeyTransactions",
        "summary": "List key transactions",
        "tags": [
          "Key Transactions"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ids]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key_transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyTransaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List key transactions"
      }
    },
    "/applications/{application_id}/deployments.json": {
      "get": {
        "operationId": "listDeployments",
        "summary": "List deployments",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deployments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deployment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List deployments"
      },
      "post": {
        "operationId": "createDeployment",
        "summary": "Record a deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deployment"
                ],
                "properties": {
                  "deployment": {
                    "type": "object",
                    "required": [
                      "revision"
                    ],
                    "properties": {
                      "revision": {
                        "type": "string"
                      },
                      "changelog": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "user": {
                        "type": "string"
                      },
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deployment recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deployment": {
                      "$ref": "#/components/schemas/Deployment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Record a deployment"
      }
    },
    "/applications/{application_id}/deployments/{id}.json": {
      "delete": {
        "operationId": "deleteDeployment",
        "summary": "Delete a deployment",
        "tags": [
          "Deployments"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a deployment"
      }
    },
    "/alerts_policies.json": {
      "get": {
        "operationId": "listAlertPolicies",
        "summary": "List alert policies",
        "tags": [
          "Alert Policies"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "policies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AlertPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List alert policies"
      },
      "post": {
        "operationId": "createAlertPolicy",
        "summary": "Create alert policy",
        "tags": [
          "Alert Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "policy"
                ],
                "properties": {
                  "policy": {
                    "type": "object",
                    "required": [
                      "incident_preference",
                      "name"
                    ],
                    "properties": {
                      "incident_preference": {
                        "type": "string",
                        "enum": [
                          "PER_POLICY",
                          "PER_CONDITION",
                          "PER_CONDITION_AND_TARGET"
                        ]
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "policy": {
                      "$ref": "#/components/schemas/AlertPolicy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create alert policy"
      }
    },
    "/alerts_policies/{id}.json": {
      "put": {
        "operationId": "updateAlertPolicy",
        "summary": "Update alert policy",
        "tags": [
          "Alert Policies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "policy": {
                    "type": "object",
                    "properties": {
                      "incident_preference": {
                        "type": "string",
                        "enum": [
                          "PER_POLICY",
                          "PER_CONDITION",
                          "PER_CONDITION_AND_TARGET"
                        ]
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update alert policy"
      },
      "delete": {
        "operationId": "deleteAlertPolicy",
        "summary": "Delete alert policy",
        "tags": [
          "Alert Policies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete alert policy"
      }
    },
    "/alerts_conditions.json": {
      "get": {
        "operationId": "listAlertConditions",
        "summary": "List alert conditions",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "policy_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert conditions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AlertCondition"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List alert conditions"
      }
    },
    "/alerts_conditions/policies/{policy_id}.json": {
      "post": {
        "operationId": "createAlertCondition",
        "summary": "Create alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "condition"
                ],
                "properties": {
                  "condition": {
                    "type": "object",
                    "required": [
                      "type",
                      "name",
                      "enabled",
                      "entities",
                      "metric",
                      "condition_scope",
                      "terms"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "apm_app_metric",
                          "apm_kt_metric",
                          "apm_jvm_metric",
                          "servers_metric",
                          "browser_metric",
                          "mobile_metric"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "entities": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "metric": {
                        "type": "string"
                      },
                      "condition_scope": {
                        "type": "string",
                        "enum": [
                          "application",
                          "instance"
                        ]
                      },
                      "terms": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "duration": {
                              "type": "string"
                            },
                            "operator": {
                              "type": "string",
                              "enum": [
                                "above",
                                "below",
                                "equal"
                              ]
                            },
                            "priority": {
                              "type": "string",
                              "enum": [
                                "critical",
                                "warning"
                              ]
                            },
                            "threshold": {
                              "type": "string"
                            },
                            "time_function": {
                              "type": "string",
                              "enum": [
                                "all",
                                "any"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Condition created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create alert condition"
      }
    },
    "/alerts_conditions/{id}.json": {
      "put": {
        "operationId": "updateAlertCondition",
        "summary": "Update alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "condition": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condition updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update alert condition"
      },
      "delete": {
        "operationId": "deleteAlertCondition",
        "summary": "Delete alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Condition deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete alert condition"
      }
    },
    "/alerts_channels.json": {
      "get": {
        "operationId": "listNotificationChannels",
        "summary": "List notification channels",
        "tags": [
          "Alert Notification Channels"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NotificationChannel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List notification channels"
      }
    },
    "/users.json": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "filter[email]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ids]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List users"
      }
    },
    "/labels.json": {
      "get": {
        "operationId": "listLabels",
        "summary": "List labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List labels"
      }
    },
    "/browser_applications.json": {
      "get": {
        "operationId": "listBrowserApplications",
        "summary": "List browser applications",
        "tags": [
          "Browser Applications"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ids]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "browser_applications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "browser_monitoring_key": {
                            "type": "string"
                          },
                          "loader_script": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List browser applications"
      }
    },
    "/mobile_applications.json": {
      "get": {
        "operationId": "listMobileApplications",
        "summary": "List mobile applications",
        "tags": [
          "Mobile Applications"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mobile applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "health_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List mobile applications"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key",
        "description": "New Relic User API key"
      }
    },
    "schemas": {
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "health_status": {
            "type": "string",
            "enum": [
              "green",
              "orange",
              "red",
              "gray"
            ]
          },
          "reporting": {
            "type": "boolean"
          },
          "last_reported_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_summary": {
            "type": "object",
            "properties": {
              "response_time": {
                "type": "number"
              },
              "throughput": {
                "type": "number"
              },
              "error_rate": {
                "type": "number"
              },
              "apdex_target": {
                "type": "number"
              },
              "apdex_score": {
                "type": "number"
              },
              "host_count": {
                "type": "integer"
              },
              "instance_count": {
                "type": "integer"
              }
            }
          },
          "settings": {
            "type": "object",
            "properties": {
              "app_apdex_threshold": {
                "type": "number"
              },
              "end_user_apdex_threshold": {
                "type": "number"
              },
              "enable_real_user_monitoring": {
                "type": "boolean"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "servers": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "application_hosts": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "application_instances": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ApplicationHost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "application_name": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "health_status": {
            "type": "string"
          }
        }
      },
      "ApplicationInstance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "application_name": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "health_status": {
            "type": "string"
          }
        }
      },
      "KeyTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "transaction_name": {
            "type": "string"
          },
          "health_status": {
            "type": "string"
          },
          "reporting": {
            "type": "boolean"
          },
          "application_summary": {
            "type": "object",
            "properties": {
              "response_time": {
                "type": "number"
              },
              "throughput": {
                "type": "number"
              },
              "error_rate": {
                "type": "number"
              }
            }
          }
        }
      },
      "Deployment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "revision": {
            "type": "string"
          },
          "changelog": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "object",
            "properties": {
              "application": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AlertPolicy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "incident_preference": {
            "type": "string",
            "enum": [
              "PER_POLICY",
              "PER_CONDITION",
              "PER_CONDITION_AND_TARGET"
            ]
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "AlertCondition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "metric": {
            "type": "string"
          },
          "condition_scope": {
            "type": "string"
          },
          "terms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "duration": {
                  "type": "string"
                },
                "operator": {
                  "type": "string"
                },
                "priority": {
                  "type": "string"
                },
                "threshold": {
                  "type": "string"
                },
                "time_function": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotificationChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "opsgenie",
              "pagerduty",
              "slack",
              "user",
              "victorops",
              "webhook"
            ]
          },
          "configuration": {
            "type": "object",
            "additionalProperties": true
          },
          "links": {
            "type": "object",
            "properties": {
              "policy_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user",
              "restricted"
            ]
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "applications": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "servers": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
