{
  "openapi": "3.0.3",
  "info": {
    "title": "EXMO API",
    "description": "EXMO cryptocurrency exchange API providing access to market data, trading, wallet management, and account information. Public endpoints are unauthenticated; private endpoints require HMAC-SHA512 signed requests.",
    "version": "1.1.0",
    "x-jentic-source-url": "https://documenter.getpostman.com/view/10287440/2s8ZDbUzkY",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.exmo.com/v1.1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public market data endpoints (no auth required)"
    },
    {
      "name": "Authenticated",
      "description": "Private endpoints requiring HMAC-SHA512 authentication"
    }
  ],
  "paths": {
    "/ticker": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get ticker data for all trading pairs",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Ticker data for all pairs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticker"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get ticker data for all trading pairs"
      }
    },
    "/order_book": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Get order book for trading pairs",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated pair(s) (e.g. BTC_USD,ETH_USD)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of orders to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Order book data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get order book for trading pairs"
      }
    },
    "/trades": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get recent trades for trading pairs",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated pair(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Trade"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get recent trades for trading pairs"
      }
    },
    "/pair_settings": {
      "get": {
        "operationId": "getPairSettings",
        "summary": "Get currency pair settings",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Pair settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyPairSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get currency pair settings"
      }
    },
    "/currency": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get list of supported currencies",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of currency codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get list of supported currencies"
      }
    },
    "/currency/list/extended": {
      "get": {
        "operationId": "getCurrenciesExtended",
        "summary": "Get extended currency information",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Extended currency info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get extended currency information"
      }
    },
    "/required_amount": {
      "get": {
        "operationId": "getRequiredAmount",
        "summary": "Calculate required amount for a given order",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Required amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequiredAmount"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Calculate required amount for a given order"
      }
    },
    "/candles_history": {
      "get": {
        "operationId": "getCandlesHistory",
        "summary": "Get OHLCV candle data",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair (e.g. BTC_USD)"
          },
          {
            "name": "resolution",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "5",
                "15",
                "30",
                "45",
                "60",
                "120",
                "180",
                "240",
                "D",
                "W",
                "M"
              ]
            },
            "description": "Candle resolution"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Candle data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandlesData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get OHLCV candle data"
      }
    },
    "/payments/providers/crypto/list": {
      "get": {
        "operationId": "getCryptoProviders",
        "summary": "Get cryptocurrency payment providers",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Crypto providers list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get cryptocurrency payment providers"
      }
    },
    "/user_info": {
      "post": {
        "operationId": "getUserInfo",
        "summary": "Get user account information and balances",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "description": "Incrementing nonce value"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User info and balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get user account information and balances"
      }
    },
    "/order_create": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create a new order",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "pair",
                  "quantity",
                  "price",
                  "type",
                  "nonce"
                ],
                "properties": {
                  "pair": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "buy",
                      "sell",
                      "market_buy",
                      "market_sell",
                      "market_buy_total",
                      "market_sell_total"
                    ]
                  },
                  "nonce": {
                    "type": "integer"
                  },
                  "client_id": {
                    "type": "integer",
                    "description": "Client order ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a new order"
      }
    },
    "/order_cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "order_id",
                  "nonce"
                ],
                "properties": {
                  "order_id": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Cancel an order"
      }
    },
    "/user_open_orders": {
      "post": {
        "operationId": "getUserOpenOrders",
        "summary": "Get user's open orders",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open orders by pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OpenOrder"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get user's open orders"
      }
    },
    "/user_trades": {
      "post": {
        "operationId": "getUserTrades",
        "summary": "Get user's trade history",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "pair",
                  "nonce"
                ],
                "properties": {
                  "pair": {
                    "type": "string"
                  },
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserTrade"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get user's trade history"
      }
    },
    "/user_cancelled_orders": {
      "post": {
        "operationId": "getUserCancelledOrders",
        "summary": "Get user's cancelled orders",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "offset": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OpenOrder"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get user's cancelled orders"
      }
    },
    "/order_trades": {
      "post": {
        "operationId": "getOrderTrades",
        "summary": "Get trades for a specific order",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "order_id",
                  "nonce"
                ],
                "properties": {
                  "order_id": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "in_currency": {
                      "type": "string"
                    },
                    "in_amount": {
                      "type": "string"
                    },
                    "out_currency": {
                      "type": "string"
                    },
                    "out_amount": {
                      "type": "string"
                    },
                    "trades": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserTrade"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get trades for a specific order"
      }
    },
    "/deposit_address": {
      "post": {
        "operationId": "getDepositAddress",
        "summary": "Get deposit address for cryptocurrency",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddress"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get deposit address for cryptocurrency"
      }
    },
    "/withdraw_crypt": {
      "post": {
        "operationId": "withdrawCrypto",
        "summary": "Withdraw cryptocurrency",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "address",
                  "nonce"
                ],
                "properties": {
                  "amount": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "invoice": {
                    "type": "string"
                  },
                  "transport": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Withdraw cryptocurrency"
      }
    },
    "/withdraw_get_txid": {
      "post": {
        "operationId": "getWithdrawTxId",
        "summary": "Get transaction ID for withdrawal",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "task_id",
                  "nonce"
                ],
                "properties": {
                  "task_id": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal transaction info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "boolean"
                    },
                    "txid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get transaction ID for withdrawal"
      }
    },
    "/wallet_history": {
      "post": {
        "operationId": "getWalletHistory",
        "summary": "Get wallet history (deposits/withdrawals)",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "date": {
                    "type": "integer",
                    "description": "Timestamp to start from"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get wallet history (deposits/withdrawals)"
      }
    },
    "/stop_market_order_create": {
      "post": {
        "operationId": "createStopMarketOrder",
        "summary": "Create a stop-market order",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "pair",
                  "quantity",
                  "trigger_price",
                  "type",
                  "nonce"
                ],
                "properties": {
                  "pair": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string"
                  },
                  "trigger_price": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "buy",
                      "sell"
                    ]
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stop-market order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a stop-market order"
      }
    },
    "/margin/user/order/list": {
      "post": {
        "operationId": "getMarginOrders",
        "summary": "List margin orders",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Margin orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List margin orders"
      }
    },
    "/margin/user/order/create": {
      "post": {
        "operationId": "createMarginOrder",
        "summary": "Create a margin order",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "pair",
                  "quantity",
                  "price",
                  "type",
                  "nonce"
                ],
                "properties": {
                  "pair": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "buy",
                      "sell"
                    ]
                  },
                  "leverage": {
                    "type": "number"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Margin order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Create a margin order"
      }
    },
    "/margin/user/position/list": {
      "post": {
        "operationId": "getMarginPositions",
        "summary": "List margin positions",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "nonce"
                ],
                "properties": {
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Margin positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List margin positions"
      }
    },
    "/margin/user/position/close": {
      "post": {
        "operationId": "closeMarginPosition",
        "summary": "Close a margin position",
        "tags": [
          "Authenticated"
        ],
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "position_id",
                  "nonce"
                ],
                "properties": {
                  "position_id": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Close a margin position"
      }
    },
    "/margin/currency/list": {
      "get": {
        "operationId": "getMarginCurrencies",
        "summary": "Get margin-supported currencies and settings",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Margin currencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get margin-supported currencies and settings"
      }
    },
    "/margin/pair/list": {
      "get": {
        "operationId": "getMarginPairs",
        "summary": "Get margin-supported trading pairs",
        "tags": [
          "Public"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Margin pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get margin-supported trading pairs"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "hmacAuth": {
        "type": "apiKey",
        "name": "Sign",
        "in": "header",
        "description": "HMAC-SHA512 signature of the POST body using your secret key. Also requires Key header with your API key."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          }
        }
      },
      "Ticker": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "buy_price": {
              "type": "string"
            },
            "sell_price": {
              "type": "string"
            },
            "last_trade": {
              "type": "string"
            },
            "high": {
              "type": "string"
            },
            "low": {
              "type": "string"
            },
            "avg": {
              "type": "string"
            },
            "vol": {
              "type": "string"
            },
            "vol_curr": {
              "type": "string"
            },
            "updated": {
              "type": "integer"
            }
          }
        }
      },
      "OrderBook": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "ask_quantity": {
              "type": "string"
            },
            "ask_amount": {
              "type": "string"
            },
            "ask_top": {
              "type": "string"
            },
            "bid_quantity": {
              "type": "string"
            },
            "bid_amount": {
              "type": "string"
            },
            "bid_top": {
              "type": "string"
            },
            "ask": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "bid": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "trade_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "date": {
            "type": "integer"
          }
        }
      },
      "CurrencyPairSettings": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "min_quantity": {
              "type": "string"
            },
            "max_quantity": {
              "type": "string"
            },
            "min_price": {
              "type": "string"
            },
            "max_price": {
              "type": "string"
            },
            "max_amount": {
              "type": "string"
            },
            "min_amount": {
              "type": "string"
            },
            "price_precision": {
              "type": "integer"
            },
            "commission_taker_percent": {
              "type": "string"
            },
            "commission_maker_percent": {
              "type": "string"
            }
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "integer"
          },
          "server_date": {
            "type": "integer"
          },
          "balances": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "reserved": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "OrderResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "order_id": {
            "type": "integer"
          }
        }
      },
      "OpenOrder": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "pair": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "UserTrade": {
        "type": "object",
        "properties": {
          "trade_id": {
            "type": "integer"
          },
          "date": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "pair": {
            "type": "string"
          },
          "order_id": {
            "type": "integer"
          },
          "quantity": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "exec_type": {
            "type": "string"
          }
        }
      },
      "CancelResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "DepositAddress": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "WalletHistory": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dt": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                },
                "curr": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "provider": {
                  "type": "string"
                },
                "amount": {
                  "type": "string"
                },
                "account": {
                  "type": "string"
                },
                "txid": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WithdrawResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          }
        }
      },
      "CandlesData": {
        "type": "object",
        "properties": {
          "candles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "t": {
                  "type": "integer"
                },
                "o": {
                  "type": "number"
                },
                "c": {
                  "type": "number"
                },
                "h": {
                  "type": "number"
                },
                "l": {
                  "type": "number"
                },
                "v": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "RequiredAmount": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "avg_price": {
            "type": "string"
          }
        }
      }
    }
  }
}
