{
  "openapi": "3.0.4",
  "info": {
    "title": "COP4331C Small Project API Documentation",
    "description": "This is the API documentation for Team 17's Small Project API. Team members: Travis Burns, Nathan Foss, Reagan Lewis, Eduard Uy, Beldrin Shaju Poonoly\n\nSome useful links:\n- [Live website](http://smallproject.nathanfoss.me/)\n- [The source API definition via GitHub](https://github.com/DosLlamas/COP4331C-26Spring-Small-Project)",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/universityofcentralf-25f/small_project/1.0.0"
  },
  "servers": [
    {
      "url": "http://smallproject.nathanfoss.me/api"
    }
  ],
  "paths": {
    "/Register.php": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Sign up a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAuth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Login.php": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Log in a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAuth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/AddContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add a new contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactAdd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetContacts.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all contacts for a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 1
                  }
                },
                "required": [
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": ""
                    },
                    "Contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search contacts by name",
        "description": "Use GET with a JSON body to search.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Enter_First_Name": {
                    "type": "string"
                  },
                  "Enter_Last_Name": {
                    "type": "string"
                  },
                  "Enter_Phone_Number": {
                    "type": "string"
                  },
                  "Enter_Email": {
                    "type": "string"
                  },
                  "UserID": {
                    "type": "integer"
                  }
                },
                "required": [
                  "UserID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "Relevant Contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update an existing contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Insert_ContactID": {
                    "type": "integer"
                  },
                  "Insert_UserID": {
                    "type": "integer"
                  }
                },
                "required": [
                  "Insert_ContactID",
                  "Insert_UserID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserAuth": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "testuser1"
          },
          "password": {
            "type": "string",
            "example": "testpass1"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": ""
          },
          "id": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          }
        }
      },
      "ContactAdd": {
        "type": "object",
        "required": [
          "userId"
        ],
        "properties": {
          "userId": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "ContactUpdate": {
        "type": "object",
        "required": [
          "Enter_ContactID",
          "Enter_UserID"
        ],
        "properties": {
          "Enter_ContactID": {
            "type": "integer"
          },
          "Enter_UserID": {
            "type": "integer"
          },
          "Change_First_Name": {
            "type": "string"
          },
          "Change_Last_Name": {
            "type": "string"
          },
          "Change_Phone": {
            "type": "string"
          },
          "Change_Email": {
            "type": "string"
          }
        }
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": ""
          }
        }
      }
    }
  }
}