{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://www.matinee.cz/API/",
      "description": "matineev2"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "matinee.cz - API",
    "description": "This is an example of using OAuth2 Access Code Flow in a specification to describe security to your API.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ingmarekrada/matinee_test/1.0.0"
  },
  "tags": [
    {
      "name": "matinee",
      "description": "volne vstupenky"
    }
  ],
  "paths": {
    "/freespace-midday/{date}": {
      "get": {
        "summary": "Operace pro ziskani volneho poctu sedadel",
        "description": "vrati hodnotu volnych sedadel daneho dne",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "68vinqqavc6mf"
                      }
                    },
                    "freespace": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "tslyw9rdq8w9k"
                      }
                    },
                    "timeofquery": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "3vgjy1ncwoeq4"
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Invalid date"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "mcqyfj3b7kh0o"
                      }
                    },
                    "message": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "q0n04bd6wjbo7"
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-freespace-midday",
        "requestBody": {
          "content": {}
        },
        "parameters": []
      },
      "servers": [
        {
          "url": "https://www.matinee.cz/API/v2/",
          "description": "matineev2"
        }
      ],
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "date",
          "in": "path",
          "description": "ocekava datum ve formatu YYYY-MM-DD "
        }
      ]
    },
    "/freespace-afternoon/{date}": {
      "get": {
        "summary": "Operace pro ziskani volneho poctu sedadel",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-freespace-afternoon",
        "description": "vrati hodnotu volnych sedadel daneho dne"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "date",
          "in": "path",
          "description": "ocekava datum ve formatu YYYY-MM-DD "
        }
      ]
    },
    "/order": {
      "post": {
        "summary": "Add a new booking",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "post-order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "tss9k7a5vw6jv"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "creationDate": 1762964999000,
                    "bookingId": 78252308,
                    "language": "en",
                    "confirmationCode": "VIA-78252308",
                    "externalBookingReference": "GYGN6FF324VY",
                    "status": "CONFIRMED",
                    "currency": "EUR",
                    "totalPrice": 69,
                    "totalPaid": 69,
                    "customer": {
                      "id": 182083086,
                      "email": "customer-rh67462v5i2wtfr3@reply.getyourguide.com",
                      "title": null,
                      "firstName": "Seda",
                      "lastName": "Bilgen",
                      "phoneNumber": "+905324761654"
                    },
                    "invoice": {
                      "id": 448195532,
                      "issueDate": 1762964999000,
                      "currency": "EUR",
                      "issuer": {
                        "id": 5197,
                        "title": "GetYourGuide"
                      },
                      "recipient": {
                        "id": 182083086,
                        "email": "customer-rh67462v5i2wtfr3@reply.getyourguide.com",
                        "title": null,
                        "firstName": "Seda",
                        "lastName": "Bilgen",
                        "phoneNumber": "+905324761654"
                      },
                      "productInvoices": [
                        {
                          "id": 212256137,
                          "currency": "EUR",
                          "productBookingId": 113314261,
                          "title": "Concert at the Lobkowicz Palace - Sun, December 28 2025 - 13:00",
                          "product": {
                            "id": 32978,
                            "title": "Concert at the Lobkowicz Palace"
                          },
                          "productCategory": "ACTIVITIES",
                          "productConfirmationCode": "LOB-T113314261",
                          "dates": "Sun, December 28 2025 - 13:00",
                          "timestamp": 1766926800000,
                          "lineItems": [
                            {
                              "id": 221985676,
                              "title": "Adults",
                              "currency": "EUR",
                              "quantity": 2,
                              "unitPrice": 24.55,
                              "strikeThroughTotal": {
                                "amount": 49.1,
                                "currency": "EUR"
                              },
                              "pricingCategoryId": 22592,
                              "itemBookingId": "32978_22592",
                              "costItemId": 188698137,
                              "costItemTitle": "Adults",
                              "costGroupTitle": "Concert at the Lobkowicz Palace",
                              "supportsDiscount": true,
                              "people": 2,
                              "total": 49.1
                            },
                            {
                              "id": 221985677,
                              "title": "Students",
                              "currency": "EUR",
                              "unitPriceDate": 1762964999000,
                              "quantity": 1,
                              "unitPrice": 19.9,
                              "strikeThroughTotal": {
                                "amount": 19.9,
                                "currency": "EUR"
                              },
                              "pricingCategoryId": 26704,
                              "itemBookingId": "32978_26704",
                              "costItemId": 188698138,
                              "costItemTitle": "Students",
                              "costGroupTitle": "Concert at the Lobkowicz Palace",
                              "supportsDiscount": true,
                              "people": 1,
                              "total": 19.9
                            }
                          ],
                          "totalAsMoney": {
                            "amount": 69,
                            "currency": "EUR"
                          }
                        }
                      ],
                      "issuerName": "VIA Musica",
                      "totalAsMoney": {
                        "amount": 69,
                        "currency": "EUR"
                      }
                    },
                    "seller": {
                      "id": 6000,
                      "title": "VIA Musica",
                      "description": "VIA Musica description",
                      "emailAddress": "podpora@viamusica.cz",
                      "invoiceIdNumber": "9951971111"
                    },
                    "activityBookings": [
                      {
                        "bookingId": 113314261,
                        "parentBookingId": 78252308,
                        "confirmationCode": "GET-78252308",
                        "productConfirmationCode": "LOB-T113314261",
                        "startDateTime": 1766926800000,
                        "endDateTime": 1766930400000,
                        "status": "CONFIRMED",
                        "title": "Concert at the Lobkowicz Palace",
                        "totalPrice": 69,
                        "productCategory": "ACTIVITIES",
                        "paidType": "PAID_IN_FULL",
                        "product": {
                          "id": 32978,
                          "title": "Concert at the Lobkowicz Palace",
                          "externalId": "LP2",
                          "productCategory": "ACTIVITIES"
                        },
                        "productId": 32978,
                        "invoice": {
                          "id": 212256137,
                          "currency": "EUR",
                          "productBookingId": 113314261,
                          "title": "Concert at the Lobkowicz Palace - Sun, December 28 2025 - 13:00",
                          "product": {
                            "id": 32978,
                            "title": "Concert at the Lobkowicz Palace"
                          },
                          "productCategory": "ACTIVITIES",
                          "productConfirmationCode": "LOB-T113314261",
                          "dates": "Sun, December 28 2025 - 13:00",
                          "timestamp": 1766926800000,
                          "lineItems": [
                            {
                              "id": 221985676,
                              "title": "Adults",
                              "currency": "EUR",
                              "unitPriceDate": 1762964999000,
                              "quantity": 2,
                              "unitPrice": 24.55,
                              "strikeThroughTotal": {
                                "amount": 49.1,
                                "currency": "EUR"
                              },
                              "pricingCategoryId": 22592,
                              "itemBookingId": "32978_22592",
                              "costItemId": 188698137,
                              "costItemTitle": "Adults",
                              "costGroupTitle": "Concert at the Lobkowicz Palace",
                              "supportsDiscount": true,
                              "people": 2,
                              "total": 49.1
                            },
                            {
                              "id": 221985677,
                              "title": "Students",
                              "currency": "EUR",
                              "unitPriceDate": 1762964999000,
                              "quantity": 1,
                              "unitPrice": 19.9,
                              "strikeThroughTotal": {
                                "amount": 19.9,
                                "currency": "EUR"
                              },
                              "pricingCategoryId": 26704,
                              "itemBookingId": "32978_26704",
                              "costItemId": 188698138,
                              "costItemTitle": "Students",
                              "costGroupTitle": "Concert at the Lobkowicz Palace",
                              "supportsDiscount": true,
                              "people": 1,
                              "total": 19.9
                            }
                          ]
                        },
                        "date": 1766880000000,
                        "dateString": "Sun, December 28 2025 - 1:00 PM",
                        "startTime": "13:00",
                        "activity": {
                          "id": 32978,
                          "externalId": "LP2",
                          "title": "Concert at the Lobkowicz Palace",
                          "startTimes": [
                            {
                              "id": 83891,
                              "hour": 13,
                              "minute": 0
                            }
                          ],
                          "actualId": 32978
                        },
                        "quantityByPricingCategory": {
                          "22592": 2,
                          "26704": 1
                        },
                        "bookedPricingCategories": [
                          {
                            "id": 22592,
                            "title": "Adults",
                            "ticketCategory": null,
                            "occupancy": 1,
                            "groupSize": 1,
                            "fullTitle": "Adults"
                          },
                          {
                            "id": 26704,
                            "title": "Students",
                            "occupancy": 1,
                            "groupSize": 1,
                            "fullTitle": "Students"
                          }
                        ],
                        "totalParticipants": 3
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {},
            "in": "query",
            "name": "body",
            "description": "object"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Schema": {
        "type": "object",
        "properties": {
          "": {
            "type": "string",
            "x-stoplight": {
              "id": "239wwjm47l014"
            }
          }
        }
      }
    }
  },
  "x-extension-1": null
}