{
  "openapi": "3.0.3",
  "info": {
    "title": "Exchange Rates API",
    "version": "1.0.0",
    "description": "Foreign exchange rates API with over 170 world currencies. Provides real-time and historical exchange rates, currency conversion, time-series data, and fluctuation data. Powered by 15+ exchange rate data sources.",
    "x-jentic-source-url": "https://exchangeratesapi.io/documentation/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.exchangeratesapi.io/v1"
    }
  ],
  "paths": {
    "/symbols": {
      "get": {
        "operationId": "getSymbols",
        "summary": "Get supported currency symbols",
        "description": "Returns all available currencies with their three-letter currency codes and names.",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with currency symbols",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/latest": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Returns real-time exchange rate data updated every 60 minutes, 10 minutes, or 60 seconds depending on subscription plan.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "name": "base",
            "in": "query",
            "description": "Three-letter currency code of the preferred base currency (default: EUR).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "EUR",
              "example": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output currencies.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "GBP,JPY,EUR"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP callback function name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{date}": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns historical exchange rate data for a specific date. Data available back to 1999 for most currencies.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Date in YYYY-MM-DD format for which historical rates are requested.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2013-12-24"
            }
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "name": "base",
            "in": "query",
            "description": "Three-letter currency code of the preferred base currency.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Converts an amount from one currency to another. Optionally use historical exchange rate data by specifying a date.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Three-letter currency code of the source currency.",
            "schema": {
              "type": "string",
              "example": "GBP"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Three-letter currency code of the target currency.",
            "schema": {
              "type": "string",
              "example": "JPY"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount to be converted.",
            "schema": {
              "type": "number",
              "example": 25
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Specify a date (YYYY-MM-DD) to use historical rates for conversion.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timeseries": {
      "get": {
        "operationId": "getTimeSeries",
        "summary": "Get time-series exchange rate data",
        "description": "Returns daily historical exchange rates between two dates. Maximum time frame is 365 days.",
        "tags": [
          "Time Series"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date of the timeframe (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2012-05-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date of the timeframe (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2012-05-25"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Three-letter base currency code.",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful time-series response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fluctuation": {
      "get": {
        "operationId": "getFluctuation",
        "summary": "Get fluctuation data",
        "description": "Returns currency fluctuation data between specified dates including change amount and percentage. Maximum time frame is 365 days.",
        "tags": [
          "Fluctuation"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date of the fluctuation timeframe (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2015-12-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date of the fluctuation timeframe (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2015-12-24"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Three-letter base currency code.",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to limit output.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful fluctuation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluctuationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccessKey": {
        "name": "access_key",
        "in": "query",
        "required": true,
        "description": "Your API access key.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "RatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "integer",
            "description": "UNIX timestamp when rates were collected"
          },
          "base": {
            "type": "string",
            "description": "Base currency code"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Exchange rates keyed by currency code"
          }
        }
      },
      "HistoricalRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "timestamp": {
            "type": "integer"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "SymbolsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "symbols": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Currency codes mapped to currency names"
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "rate": {
                "type": "number"
              }
            }
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "result": {
            "type": "number"
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timeseries": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Rates keyed by date, then by currency code"
          }
        }
      },
      "FluctuationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "fluctuation": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FluctuationRate"
            }
          }
        }
      },
      "FluctuationRate": {
        "type": "object",
        "properties": {
          "start_rate": {
            "type": "number"
          },
          "end_rate": {
            "type": "number"
          },
          "change": {
            "type": "number"
          },
          "change_pct": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "info": {
                "type": "string",
                "description": "Error description"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API key passed as access_key query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Conversion"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Fluctuation"
    },
    {
      "name": "Rates"
    },
    {
      "name": "Time Series"
    }
  ]
}
