{
  "openapi": "3.0.3",
  "info": {
    "title": "Nasdaq Data Link API",
    "version": "v3",
    "description": "Nasdaq Data Link (formerly Quandl) provides access to financial, economic, and alternative datasets. The API supports time-series data and tables (datatables) with filtering, sorting, and pagination capabilities.",
    "x-jentic-source-url": "https://docs.data.nasdaq.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://data.nasdaq.com/api/v3"
    }
  ],
  "paths": {
    "/datasets/{database_code}/{dataset_code}": {
      "get": {
        "operationId": "getTimeSeriesDataset",
        "summary": "Get time-series dataset",
        "description": "Returns data from a specified time-series dataset. Supports filtering by date range, frequency collapsing, and transformations.",
        "tags": [
          "Time Series"
        ],
        "parameters": [
          {
            "name": "database_code",
            "in": "path",
            "required": true,
            "description": "The unique database code (e.g., WIKI, FRED)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_code",
            "in": "path",
            "required": true,
            "description": "The unique dataset code within the database (e.g., AAPL, GDP)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Retrieve data rows on and after the specified start date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Retrieve data rows up to and including the specified end date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order of returned data",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "collapse",
            "in": "query",
            "description": "Collapse data to specified frequency",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual"
              ]
            }
          },
          {
            "name": "transform",
            "in": "query",
            "description": "Perform calculation on data before returning",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "diff",
                "rdiff",
                "rdiff_from",
                "cumul",
                "normalize"
              ]
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Maximum number of rows to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "column_index",
            "in": "query",
            "description": "Return only the specified column (1-indexed, date is column 0)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{database_code}/{dataset_code}/data": {
      "get": {
        "operationId": "getTimeSeriesData",
        "summary": "Get time-series data only",
        "description": "Returns only the data portion of a time-series dataset without metadata.",
        "tags": [
          "Time Series"
        ],
        "parameters": [
          {
            "name": "database_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "collapse",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "annual"
              ]
            }
          },
          {
            "name": "transform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "diff",
                "rdiff",
                "rdiff_from",
                "cumul",
                "normalize"
              ]
            }
          },
          {
            "name": "rows",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "column_index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{database_code}/{dataset_code}/metadata": {
      "get": {
        "operationId": "getTimeSeriesMetadata",
        "summary": "Get time-series dataset metadata",
        "description": "Returns metadata for a specified time-series dataset without data rows.",
        "tags": [
          "Time Series"
        ],
        "parameters": [
          {
            "name": "database_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/databases/{database_code}": {
      "get": {
        "operationId": "getDatabase",
        "summary": "Get database metadata",
        "description": "Returns metadata for a specified database.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "database_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/databases": {
      "get": {
        "operationId": "listDatabases",
        "summary": "List databases",
        "description": "Returns a list of all available databases.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query to filter databases",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/databases/{database_code}/codes": {
      "get": {
        "operationId": "getDatabaseDatasetCodes",
        "summary": "Get all dataset codes in a database",
        "description": "Returns a ZIP file containing a CSV of all dataset codes in a database.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "database_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file containing CSV of dataset codes",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datatables/{datatable_code}": {
      "get": {
        "operationId": "getDatatable",
        "summary": "Get datatable data",
        "description": "Returns data from a specified datatable (tabular data). Supports filtering, column selection, and pagination via cursor.",
        "tags": [
          "Datatables"
        ],
        "parameters": [
          {
            "name": "datatable_code",
            "in": "path",
            "required": true,
            "description": "The unique datatable code (e.g., WIKI/PRICES)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qopts.columns",
            "in": "query",
            "description": "Comma-separated list of columns to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qopts.per_page",
            "in": "query",
            "description": "Number of rows per page",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "qopts.cursor_id",
            "in": "query",
            "description": "Cursor ID for pagination (returned in previous response)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qopts.export",
            "in": "query",
            "description": "Request full data download as file",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatatableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datatables/{datatable_code}/metadata": {
      "get": {
        "operationId": "getDatatableMetadata",
        "summary": "Get datatable metadata",
        "description": "Returns metadata for a specified datatable including column definitions.",
        "tags": [
          "Datatables"
        ],
        "parameters": [
          {
            "name": "datatable_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatatableMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatasetResponse": {
        "type": "object",
        "properties": {
          "dataset": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "dataset_code": {
                "type": "string"
              },
              "database_code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "refreshed_at": {
                "type": "string",
                "format": "date-time"
              },
              "newest_available_date": {
                "type": "string",
                "format": "date"
              },
              "oldest_available_date": {
                "type": "string",
                "format": "date"
              },
              "column_names": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "frequency": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "premium": {
                "type": "boolean"
              },
              "database_id": {
                "type": "integer"
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      },
      "DatasetDataResponse": {
        "type": "object",
        "properties": {
          "dataset_data": {
            "type": "object",
            "properties": {
              "column_names": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "start_date": {
                "type": "string",
                "format": "date"
              },
              "end_date": {
                "type": "string",
                "format": "date"
              },
              "frequency": {
                "type": "string"
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {}
                }
              },
              "collapse": {
                "type": "string"
              },
              "order": {
                "type": "string"
              },
              "transform": {
                "type": "string"
              }
            }
          }
        }
      },
      "DatasetMetadataResponse": {
        "type": "object",
        "properties": {
          "dataset": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "dataset_code": {
                "type": "string"
              },
              "database_code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "refreshed_at": {
                "type": "string",
                "format": "date-time"
              },
              "newest_available_date": {
                "type": "string",
                "format": "date"
              },
              "oldest_available_date": {
                "type": "string",
                "format": "date"
              },
              "column_names": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "frequency": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "premium": {
                "type": "boolean"
              },
              "database_id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DatabaseResponse": {
        "type": "object",
        "properties": {
          "database": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "database_code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "datasets_count": {
                "type": "integer"
              },
              "downloads": {
                "type": "integer"
              },
              "premium": {
                "type": "boolean"
              },
              "image": {
                "type": "string"
              }
            }
          }
        }
      },
      "DatabaseListResponse": {
        "type": "object",
        "properties": {
          "databases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatabaseResponse"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "next_page": {
                "type": "integer"
              },
              "prev_page": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DatatableResponse": {
        "type": "object",
        "properties": {
          "datatable": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {}
                }
              },
              "columns": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "next_cursor_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "DatatableMetadataResponse": {
        "type": "object",
        "properties": {
          "datatable": {
            "type": "object",
            "properties": {
              "vendor_code": {
                "type": "string"
              },
              "datatable_code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "columns": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "quandl_error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Nasdaq Data Link API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Databases"
    },
    {
      "name": "Datatables"
    },
    {
      "name": "Time Series"
    }
  ]
}
