{
  "openapi": "3.0.3",
  "info": {
    "title": "API Ninjas",
    "version": "1.0.0",
    "description": "API Ninjas provides a collection of 100+ high-quality REST APIs across finance, technology, entertainment, health, AI, places, text processing, and transportation. All APIs use a simple GET pattern with API key authentication via the X-Api-Key header. Base URL: https://api.api-ninjas.com",
    "x-jentic-source-url": "https://api-ninjas.com/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.api-ninjas.com",
      "description": "API Ninjas Production Server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Finance",
      "description": "Financial data APIs"
    },
    {
      "name": "Internet/Technology",
      "description": "Internet and technology tools"
    },
    {
      "name": "AI/Computer Vision",
      "description": "AI and computer vision APIs"
    },
    {
      "name": "Entertainment",
      "description": "Fun and entertainment APIs"
    },
    {
      "name": "Health/Wellness",
      "description": "Health, fitness and food APIs"
    },
    {
      "name": "Places",
      "description": "Location-based data APIs"
    },
    {
      "name": "Text",
      "description": "Text processing APIs"
    },
    {
      "name": "Transportation",
      "description": "Transportation data APIs"
    },
    {
      "name": "Miscellaneous",
      "description": "Miscellaneous data APIs"
    }
  ],
  "paths": {
    "/v1/commodityprice": {
      "get": {
        "operationId": "getCommodityPrice",
        "summary": "Get commodity price",
        "description": "Get real-time prices for commonly-traded commodities.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Name of the commodity (e.g. gold, silver, oil)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commodity price data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/interestrate": {
      "get": {
        "operationId": "getInterestRate",
        "summary": "Get interest rate",
        "description": "Get current interest rates from central banks and benchmarks.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name of the central bank or benchmark",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interest rate data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/convertcurrency": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Convert between currencies using current exchange rates.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "have",
            "in": "query",
            "required": true,
            "description": "Currency you currently hold (e.g., USD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "want",
            "in": "query",
            "required": true,
            "description": "Currency you want to convert to (e.g., EUR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to convert",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/stockprice": {
      "get": {
        "operationId": "getStockPrice",
        "summary": "Get stock price",
        "description": "Get real-time stock prices for all companies and exchanges.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol (e.g. AAPL)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stock price data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/nutrition": {
      "get": {
        "operationId": "getNutrition",
        "summary": "Get nutrition data",
        "description": "Extract nutrition data from text using NLP. Accepts natural language food descriptions.",
        "tags": [
          "Health/Wellness"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Natural language food description (e.g. '1 cup rice and 2 eggs')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nutrition data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NutritionItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/quotes": {
      "get": {
        "operationId": "getQuotes",
        "summary": "Get quotes",
        "description": "Access over 50,000 quotes from famous people throughout history.",
        "tags": [
          "Entertainment"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category of quote (e.g. happiness, life, love)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (1-10, default 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/whois": {
      "get": {
        "operationId": "getWhois",
        "summary": "WHOIS lookup",
        "description": "Look up domain registry information using WHOIS protocol.",
        "tags": [
          "Internet/Technology"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to look up (e.g. example.com)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WHOIS data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/iplookup": {
      "get": {
        "operationId": "getIpLookup",
        "summary": "IP lookup",
        "description": "Lookup location information for any IP address.",
        "tags": [
          "Internet/Technology"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "IP address to look up",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP location data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/dnslookup": {
      "get": {
        "operationId": "getDnsLookup",
        "summary": "DNS lookup",
        "description": "Look up DNS records for any domain.",
        "tags": [
          "Internet/Technology"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to look up DNS records for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/validatephone": {
      "get": {
        "operationId": "validatePhone",
        "summary": "Validate phone number",
        "description": "Check whether a phone number is valid and get its metadata.",
        "tags": [
          "Internet/Technology"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "Phone number to validate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone validation result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/validateemail": {
      "get": {
        "operationId": "validateEmail",
        "summary": "Validate email",
        "description": "Check whether an email address is valid and get its metadata.",
        "tags": [
          "Internet/Technology"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to validate",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email validation result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/sentiment": {
      "get": {
        "operationId": "analyzeSentiment",
        "summary": "Analyze text sentiment",
        "description": "Text sentiment analysis using state-of-the-art algorithms.",
        "tags": [
          "AI/Computer Vision"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to analyze sentiment for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sentiment analysis result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/textsimilarity": {
      "post": {
        "operationId": "computeTextSimilarity",
        "summary": "Compute text similarity",
        "description": "Compute text similarity score using NLP models.",
        "tags": [
          "AI/Computer Vision"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text_1",
                  "text_2"
                ],
                "properties": {
                  "text_1": {
                    "type": "string",
                    "description": "First text"
                  },
                  "text_2": {
                    "type": "string",
                    "description": "Second text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similarity score"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/weather": {
      "get": {
        "operationId": "getWeather",
        "summary": "Get weather",
        "description": "Get current weather data for any location.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weather data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/geocoding": {
      "get": {
        "operationId": "geocode",
        "summary": "Geocoding",
        "description": "Convert cities to geolocation coordinates.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/reversegeocoding": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding",
        "description": "Convert coordinates to city/location information.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/country": {
      "get": {
        "operationId": "getCountry",
        "summary": "Get country data",
        "description": "Key statistics for over 200 countries and regions.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Country name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/jokes": {
      "get": {
        "operationId": "getJokes",
        "summary": "Get jokes",
        "description": "Funny jokes perfect for a comedy app.",
        "tags": [
          "Entertainment"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (1-30, default 1)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of jokes"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/trivia": {
      "get": {
        "operationId": "getTrivia",
        "summary": "Get trivia questions",
        "description": "Trivia questions and answers from a database of over 100,000.",
        "tags": [
          "Entertainment"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Trivia category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trivia questions"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/dictionary": {
      "get": {
        "operationId": "getDictionary",
        "summary": "Dictionary lookup",
        "description": "Look up any word in the English dictionary.",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "query",
            "required": true,
            "description": "Word to look up",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary entry"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/thesaurus": {
      "get": {
        "operationId": "getThesaurus",
        "summary": "Thesaurus lookup",
        "description": "Get synonyms and antonyms for any word.",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "query",
            "required": true,
            "description": "Word to look up",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Synonyms and antonyms"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cars": {
      "get": {
        "operationId": "getCars",
        "summary": "Search cars",
        "description": "Detailed data on tens of thousands of vehicles from dozens of automakers.",
        "tags": [
          "Transportation"
        ],
        "parameters": [
          {
            "name": "make",
            "in": "query",
            "required": false,
            "description": "Vehicle make/manufacturer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Vehicle model",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Vehicle year",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fuel_type",
            "in": "query",
            "required": false,
            "description": "Fuel type (gas, diesel, electricity)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Car data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/exercises": {
      "get": {
        "operationId": "getExercises",
        "summary": "Get exercises",
        "description": "Get workout exercises for every muscle group.",
        "tags": [
          "Health/Wellness"
        ],
        "parameters": [
          {
            "name": "muscle",
            "in": "query",
            "required": false,
            "description": "Muscle group (e.g., biceps, chest, hamstrings)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Exercise type (e.g., stretching, strength)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "difficulty",
            "in": "query",
            "required": false,
            "description": "Difficulty level (beginner, intermediate, expert)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exercise data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/airquality": {
      "get": {
        "operationId": "getAirQuality",
        "summary": "Get air quality",
        "description": "Get current air quality information including AQI and major pollutants.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Air quality data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/holidays": {
      "get": {
        "operationId": "getHolidays",
        "summary": "Get holidays",
        "description": "Get holiday dates for every country until 2030.",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Year to get holidays for",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Holiday data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header",
        "description": "API key for authentication. Sign up at api-ninjas.com to get your free API key."
      }
    },
    "schemas": {
      "CommodityPriceResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Commodity name"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange name"
          },
          "price": {
            "type": "number",
            "description": "Current price"
          },
          "updated": {
            "type": "integer",
            "description": "Last update timestamp"
          }
        }
      },
      "NutritionItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "calories": {
            "type": "number"
          },
          "serving_size_g": {
            "type": "number"
          },
          "fat_total_g": {
            "type": "number"
          },
          "fat_saturated_g": {
            "type": "number"
          },
          "protein_g": {
            "type": "number"
          },
          "sodium_mg": {
            "type": "number"
          },
          "potassium_mg": {
            "type": "number"
          },
          "cholesterol_mg": {
            "type": "number"
          },
          "carbohydrates_total_g": {
            "type": "number"
          },
          "fiber_g": {
            "type": "number"
          },
          "sugar_g": {
            "type": "number"
          }
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
