{
  "openapi": "3.0.1",
  "info": {
    "title": "Copay",
    "description": "API generated by Swagger Explore",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/cvs-0b0/Copay/v1"
  },
  "servers": [
    {
      "url": "https://www-qa2.cvs.com"
    }
  ],
  "paths": {
    "/api/client/experience/v1/load": {
      "post": {
        "parameters": [
          {
            "name": "X-Experienceid",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "af48cf1b-dc53-4567-a6b6-1a53346f624b"
              }
            }
          },
          {
            "name": "X-api-key",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "xmLV8a5dAPhp3CqvZdc9l4sbBNgL5hyT"
              }
            }
          },
          {
            "name": "x-route",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "CMK-PHARMACY-HA"
              }
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "access_token=eyJraWQiOiJqc1FYRHZBZTlxYW1MSW5DeG11U252VkY0Q0VRT1B5RmlpTmZwQlVEQ2hRIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYifQ.eyJ4LWFwcC1uYW1lIjoic3VwZXJhcHBfb3BlbnBsYXRmb3JtIiwic3ViIjoic3VwZXJhcHBfb3BlbnBsYXRmb3JtIiwieC1hdXRoLXR5cGUiOiJiMmItYXBwIiwiaXNzIjoiaHR0cHM6XC9cL2FwaS5jdnNoZWFsdGguY29tXC9vYXV0aFwvdjEiLCJ4LWdyaWQiOiJycnQtMjIxMDIyMjkzMTMwNzk0MjU4Mi1jLWdlYTEtNjk0ODUtMTY2ODI4LTEiLCJ4LWZsb3ctdHlwZSI6ImIyYiIsImF1ZCI6ImFwaS5jdnNoZWFsdGguY29tIiwieC1jbGllbnQtaWQiOiJZMGFSTXlja1BnUzFNRHZWQTJwa0J0S2pxbUdva05SbSIsInNjb3BlIjoib3BlbmlkIHByb2ZpbGUgZW1haWwiLCJ4LWlkLXR5cGUiOiJzdXBlcmFwcF9vcGVucGxhdGZvcm0iLCJ4LWxvYiI6ImIyYiIsImV4cCI6MTc3MjUwNDYyNiwiaWF0IjoxNzcyNTAzNzI2LCJqdGkiOiJlMjgwYTE2Zi00OWJjLTRmYmYtOWY0NC0wOTE4ZWZjZDlhMzgifQ.m1p7LC1ZsdYxyoAOcz6CG7PhqlYMuTcvvErLHDitDXbvgpr9ziPrG6niMTlnQNGxPE0y9nWrYitKH-jMJDKGdsPWbNJfYkma6Cl8i4dFoRPNnX5PLy8FPZCDWNPLbJovxBhrHzSthINZ_eIumi6Vb3i8fEa10vH9bOlFX9w_frFBS8_Z9xPkH_tiRz8JfLi1o7A5tZvTTIjTsnoDLYX2AkVPKxzajPtAR_cfYja0vYbBx9ddDr3L_9ZzBMhsO1hJ_X5s5Wm2UFPyUaRxNxTNGMUao_DeG8wGMxzEYS_IE3kOOW8Nt_K8MQiq7U1lbvUcSYVy6vND96R01w3rkuMkhQ"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example": {
                  "value": "{\n    \"data\": {\n        \"idType\": \"PBM_QL_PARTICIPANT_ID_TYPE\",\n        \"id\": \"875063061\"\n    }\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  }
}