{
  "openapi": "3.0.3",
  "info": {
    "title": "XIVAPI",
    "version": "2.0.0",
    "description": "XIVAPI provides a massive amount of FINAL FANTASY XIV game data in a structured and accessible format via a RESTful API. It covers game sheets (items, quests, actions, recipes, etc.), search functionality, and asset retrieval. XIVAPI v2 is powered by Boilmaster.",
    "x-jentic-source-url": "https://xivapi.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://v2.xivapi.com/api"
    }
  ],
  "paths": {
    "/sheet/{sheet}": {
      "get": {
        "operationId": "listSheetRows",
        "summary": "List rows from a game data sheet",
        "description": "Returns a paginated list of rows from the specified game data sheet (e.g., Item, Action, Quest, Recipe).",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheet",
            "in": "path",
            "description": "The name of the game data sheet (e.g., Item, Action, Quest, Recipe, ClassJob)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return (e.g., Name,Description,Icon)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of rows to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination - row ID to start after",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for returned data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "ja",
                "de",
                "fr"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sheet rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid sheet name or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Sheet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sheet/{sheet}/{row_id}": {
      "get": {
        "operationId": "getSheetRow",
        "summary": "Get a specific row from a game data sheet",
        "description": "Returns a single row from the specified game data sheet by its row ID.",
        "tags": [
          "Sheets"
        ],
        "parameters": [
          {
            "name": "sheet",
            "in": "path",
            "description": "The name of the game data sheet",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "row_id",
            "in": "path",
            "description": "The row ID to retrieve",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for returned data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "ja",
                "de",
                "fr"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with row data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetRow"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Row or sheet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchContent",
        "summary": "Search game data",
        "description": "Search across FFXIV game data sheets using text queries and filters.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheets",
            "in": "query",
            "description": "Comma-separated list of sheet names to search within",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return in results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for search and results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "ja",
                "de",
                "fr"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/asset/{path}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get a game asset",
        "description": "Retrieve game assets (icons, images, etc.) by their path. Returns the image file directly.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "Path to the game asset (e.g., ui/icon/000000/000101_hr1.tex)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output image format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg"
              ],
              "default": "png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset image file",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sheets": {
      "get": {
        "operationId": "listSheets",
        "summary": "List all available game data sheets",
        "description": "Returns a list of all available game data sheet names that can be queried.",
        "tags": [
          "Sheets"
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of sheet names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SheetRow": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "string",
            "description": "Schema version identifier"
          },
          "version": {
            "type": "string",
            "description": "Data version hash"
          },
          "row_id": {
            "type": "integer",
            "description": "Row identifier"
          },
          "fields": {
            "type": "object",
            "description": "Row field values (varies by sheet)",
            "additionalProperties": true
          }
        }
      },
      "SheetListResponse": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SheetRow"
            }
          },
          "next": {
            "type": "integer",
            "description": "Next cursor for pagination"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sheet": {
                  "type": "string"
                },
                "row_id": {
                  "type": "integer"
                },
                "score": {
                  "type": "number"
                },
                "fields": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Assets"
    },
    {
      "name": "Search"
    },
    {
      "name": "Sheets"
    }
  ]
}
