{
  "openapi": "3.0.3",
  "info": {
    "title": "Geoapify API",
    "version": "1.0.0",
    "description": "Geoapify provides geocoding, reverse geocoding, address autocomplete, routing, isoline, places, and map tile APIs. Cross-platform REST APIs returning JSON, GeoJSON, or XML responses.",
    "x-jentic-source-url": "https://apidocs.geoapify.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.geoapify.com"
    }
  ],
  "paths": {
    "/v1/geocode/search": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward geocoding",
        "description": "Search addresses worldwide. Accepts free-form or structured address input and returns coordinates with address details.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Free-form address to search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Amenity or place name (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "housenumber",
            "in": "query",
            "description": "House number (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "Street name (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "description": "Postcode (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country (structured)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Location type filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "country",
                "state",
                "city",
                "postcode",
                "street",
                "amenity",
                "locality"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Result language (ISO 639-1)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results (default 5)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Location filter (circle, rect, countrycode, place)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bias",
            "in": "query",
            "description": "Location bias (proximity, circle, rect, countrycode)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson",
                "xml"
              ],
              "default": "geojson"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geocode/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding",
        "description": "Convert coordinates to an address.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Location type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Result language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson",
                "xml"
              ],
              "default": "geojson"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geocode/autocomplete": {
      "get": {
        "operationId": "addressAutocomplete",
        "summary": "Address autocomplete",
        "description": "Provide address suggestions as the user types.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Partial text to autocomplete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Location type filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Result language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Location filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bias",
            "in": "query",
            "description": "Location bias",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "geojson"
              ],
              "default": "geojson"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/routing": {
      "get": {
        "operationId": "getRoute",
        "summary": "Calculate route",
        "description": "Calculate a route between waypoints for different modes of transport.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "waypoints",
            "in": "query",
            "description": "Pipe-separated waypoints as lat,lon pairs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Transport mode",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "drive",
                "truck",
                "bicycle",
                "walk",
                "transit",
                "approximated_transit"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Route type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "short",
                "balanced",
                "less_maneuvers"
              ],
              "default": "balanced"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Instructions language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Units (metric or imperial)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ],
              "default": "metric"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/routematrix": {
      "post": {
        "operationId": "getRouteMatrix",
        "summary": "Route matrix",
        "description": "Calculate travel times and distances between multiple origins and destinations.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteMatrixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route matrix result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteMatrixResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/isoline": {
      "get": {
        "operationId": "getIsoline",
        "summary": "Calculate isoline (isochrone/isodistance)",
        "description": "Calculate reachable area from a point by time or distance.",
        "tags": [
          "Isoline"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Isoline type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "time",
                "distance"
              ]
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Range in seconds (time) or meters (distance)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Transport mode",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "drive",
                "truck",
                "bicycle",
                "walk",
                "transit",
                "approximated_transit"
              ]
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Isoline result as GeoJSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsolineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/places": {
      "get": {
        "operationId": "searchPlaces",
        "summary": "Search places",
        "description": "Search for places (POIs) by category, location, and filters.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "description": "Comma-separated categories (e.g. accommodation.hotel, catering.restaurant)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Location filter (circle, rect, place)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Additional filter conditions",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bias",
            "in": "query",
            "description": "Location bias",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Result language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Places results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/place-details": {
      "get": {
        "operationId": "getPlaceDetails",
        "summary": "Get place details",
        "description": "Retrieve detailed information about a specific place by its ID.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Place ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Result language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeocodingResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeocodingResult"
            }
          },
          "query": {
            "type": "object"
          }
        }
      },
      "GeocodingResult": {
        "type": "object",
        "properties": {
          "datasource": {
            "type": "object",
            "properties": {
              "sourcename": {
                "type": "string"
              },
              "attribution": {
                "type": "string"
              },
              "license": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string",
            "description": "Location name"
          },
          "housenumber": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "lon": {
            "type": "number"
          },
          "lat": {
            "type": "number"
          },
          "formatted": {
            "type": "string",
            "description": "Display address"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "result_type": {
            "type": "string",
            "enum": [
              "unknown",
              "amenity",
              "building",
              "street",
              "suburb",
              "district",
              "postcode",
              "city",
              "county",
              "state",
              "country"
            ]
          },
          "distance": {
            "type": "number",
            "description": "Distance in meters to bias point"
          },
          "rank": {
            "type": "object",
            "properties": {
              "importance": {
                "type": "number"
              },
              "popularity": {
                "type": "number"
              },
              "confidence": {
                "type": "number"
              },
              "confidence_city_level": {
                "type": "number"
              },
              "confidence_street_level": {
                "type": "number"
              },
              "confidence_building_level": {
                "type": "number"
              },
              "match_type": {
                "type": "string"
              }
            }
          },
          "timezone": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "offset_STD": {
                "type": "string"
              },
              "offset_STD_seconds": {
                "type": "integer"
              },
              "offset_DST": {
                "type": "string"
              },
              "offset_DST_seconds": {
                "type": "integer"
              },
              "abbreviation_STD": {
                "type": "string"
              },
              "abbreviation_DST": {
                "type": "string"
              }
            }
          },
          "place_id": {
            "type": "string"
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string"
              },
              "waypoints": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "RouteMatrixRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "drive",
              "truck",
              "bicycle",
              "walk"
            ]
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "targets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "RouteMatrixResponse": {
        "type": "object",
        "properties": {
          "sources_to_targets": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "distance": {
                    "type": "number"
                  },
                  "time": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "IsolineResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PlacesResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceFeature"
            }
          }
        }
      },
      "PlaceFeature": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "datasource": {
                "type": "object"
              },
              "place_id": {
                "type": "string"
              },
              "formatted": {
                "type": "string"
              },
              "address_line1": {
                "type": "string"
              },
              "address_line2": {
                "type": "string"
              },
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              },
              "distance": {
                "type": "number"
              }
            }
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "PlaceDetailResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Geocoding"
    },
    {
      "name": "Isoline"
    },
    {
      "name": "Places"
    },
    {
      "name": "Routing"
    }
  ]
}
