{
  "openapi": "3.0.3",
  "info": {
    "title": "REST Countries API",
    "description": "Get information about countries via a RESTful API. No authentication required. Returns data including name, capital, region, languages, currencies, population, and more.",
    "version": "3.1.0",
    "x-jentic-source-url": "https://restcountries.com/",
    "x-jentic-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://restcountries.com/v3.1"
    }
  ],
  "paths": {
    "/all": {
      "get": {
        "operationId": "getAllCountries",
        "summary": "Get all countries",
        "description": "Retrieve information about all countries. The fields parameter is required (max 10 fields).",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of fields to return (max 10).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of country objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Country" }
                }
              }
            }
          },
          "400": { "description": "Bad request - fields parameter missing or exceeds limit." }
        }
      }
    },
    "/name/{name}": {
      "get": {
        "operationId": "getCountryByName",
        "summary": "Search country by name",
        "description": "Search for countries by common or official name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fullText",
            "in": "query",
            "required": false,
            "description": "Set to true to search by exact full name.",
            "schema": { "type": "boolean" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching countries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Country" }
                }
              }
            }
          },
          "404": { "description": "Country not found." }
        }
      }
    },
    "/alpha/{code}": {
      "get": {
        "operationId": "getCountryByCode",
        "summary": "Search country by code",
        "description": "Search by cca2, ccn3, cca3, or cioc country code.",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Country object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Country" }
                }
              }
            }
          },
          "404": { "description": "Country not found." }
        }
      }
    },
    "/alpha": {
      "get": {
        "operationId": "getCountriesByCodes",
        "summary": "Search countries by multiple codes",
        "parameters": [
          {
            "name": "codes",
            "in": "query",
            "required": true,
            "description": "Comma-separated country codes.",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching countries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Country" }
                }
              }
            }
          }
        }
      }
    },
    "/currency/{currency}": {
      "get": {
        "operationId": "getCountriesByCurrency",
        "summary": "Search countries by currency",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code or name.",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of countries using the specified currency.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          },
          "404": { "description": "No countries found." }
        }
      }
    },
    "/lang/{language}": {
      "get": {
        "operationId": "getCountriesByLanguage",
        "summary": "Search countries by language",
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "Language code or name.",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of countries speaking the specified language.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          },
          "404": { "description": "No countries found." }
        }
      }
    },
    "/capital/{capital}": {
      "get": {
        "operationId": "getCountriesByCapital",
        "summary": "Search countries by capital city",
        "parameters": [
          {
            "name": "capital",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching countries.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          },
          "404": { "description": "No countries found." }
        }
      }
    },
    "/region/{region}": {
      "get": {
        "operationId": "getCountriesByRegion",
        "summary": "Filter countries by region",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Region name (e.g., europe, americas, asia, africa, oceania).",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of countries in the specified region.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          }
        }
      }
    },
    "/subregion/{subregion}": {
      "get": {
        "operationId": "getCountriesBySubregion",
        "summary": "Filter countries by subregion",
        "parameters": [
          {
            "name": "subregion",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of countries in the specified subregion.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          }
        }
      }
    },
    "/demonym/{demonym}": {
      "get": {
        "operationId": "getCountriesByDemonym",
        "summary": "Search countries by demonym",
        "parameters": [
          {
            "name": "demonym",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching countries.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          }
        }
      }
    },
    "/translation/{translation}": {
      "get": {
        "operationId": "getCountriesByTranslation",
        "summary": "Search countries by translated name",
        "parameters": [
          {
            "name": "translation",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of matching countries.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          }
        }
      }
    },
    "/independent": {
      "get": {
        "operationId": "getIndependentCountries",
        "summary": "Filter countries by independence status",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "true for independent, false for dependent.",
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of countries matching independence status.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Country" } }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Country": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "common": { "type": "string" },
              "official": { "type": "string" },
              "nativeName": { "type": "object" }
            }
          },
          "tld": { "type": "array", "items": { "type": "string" } },
          "cca2": { "type": "string" },
          "ccn3": { "type": "string" },
          "cca3": { "type": "string" },
          "cioc": { "type": "string" },
          "independent": { "type": "boolean" },
          "status": { "type": "string" },
          "unMember": { "type": "boolean" },
          "currencies": { "type": "object" },
          "capital": { "type": "array", "items": { "type": "string" } },
          "region": { "type": "string" },
          "subregion": { "type": "string" },
          "languages": { "type": "object" },
          "latlng": { "type": "array", "items": { "type": "number" } },
          "landlocked": { "type": "boolean" },
          "borders": { "type": "array", "items": { "type": "string" } },
          "area": { "type": "number" },
          "demonyms": { "type": "object" },
          "flag": { "type": "string" },
          "maps": {
            "type": "object",
            "properties": {
              "googleMaps": { "type": "string" },
              "openStreetMaps": { "type": "string" }
            }
          },
          "population": { "type": "integer" },
          "fifa": { "type": "string" },
          "timezones": { "type": "array", "items": { "type": "string" } },
          "continents": { "type": "array", "items": { "type": "string" } },
          "flags": {
            "type": "object",
            "properties": {
              "png": { "type": "string" },
              "svg": { "type": "string" },
              "alt": { "type": "string" }
            }
          },
          "coatOfArms": {
            "type": "object",
            "properties": {
              "png": { "type": "string" },
              "svg": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
