{
  "swagger": "2.0",
  "info": {
    "title": "CCS - Cntr Services",
    "version": "1.0.0",
    "description": "Restful WS documentation for CNTR Service (pc.cs.ccs).",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/portnet/ccs-cntr-services/1.0.0"
  },
  "host": "xxx.yyyy.com",
  "basePath": "/ccs",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Common Service",
      "description": "Cntr Services Map"
    }
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/svc/validateSpecialType/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "isValidSpecialTypeList",
        "description": "<b>Since 1.0.0</b>\n Validate the Special Type codes, only the valid is included in the output<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isValidSpecialTypeList.method', 'POST', 'isValidSpecialTypeList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isValidSpecialTypeList.url', '/validateSpecialType/v1.0', 'isValidSpecialTypeList - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "spType": {
                  "type": "string",
                  "description": "list of special type code, separated by comma for multiple values; the duplicated will be removed",
                  "example": "AB,ABUD,ABUDFN"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetOperatorMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        },
        "deprecated": false
      }
    },
    "/svc/formatCntrNo/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "formatCntrNoList",
        "description": "<b>Since 1.0.0</b>\n Standardize Container Numbers, only the valid ones will be included in the output<p>\n \n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CCS Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.formatCntrNoList.method', 'POST', 'formatCntrNoList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.formatCntrNoList.url', '/formatCntrNo/v1.0', 'formatCntrNoList - URL');\n  \n<b>Available Output</b>\n - results\n\n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of container number, separated by comma for multiple values; the duplicated will be removed",
                  "example": "CNTR 0000001,CNTR0000002,CNTR 0000XYZ"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSFormatCntrNResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/validateWeight/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "isValidContainerWeightNewList",
        "description": "<b>Since 1.0.0</b>\n Validate the weight of containers, only the valid is included in the output<p>\n \n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CCS Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isValidContainerWeightNewList.method', 'POST', 'isValidContainerWeightNewList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isValidContainerWeightNewList.url', '/validateWeight/v1.0', 'isValidContainerWeightNewList - URL');\n  \n<b>Available Output</b>\n - results\n\n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "name": "param",
            "schema": {
              "$ref": "#/definitions/RestWSWeightValidationRequestedBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSWeightValidationResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side  "
          }
        }
      }
    },
    "/svc/validateReeferTemp/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "isValidReeferTempList",
        "description": "<b>Since 1.0.0</b>\n Validate the temperature of reefer containers, only the valid value is included in the output<p>\n \n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CCS Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isValidReeferTempList.method', 'POST', 'isValidReeferTempList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isValidReeferTempList.url', '/validateReeferTemp/v1.0', 'isValidReeferTempList - URL');\n  \n<b>Available Output</b>\n - results\n\n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "temp": {
                  "type": "string",
                  "description": "list of reefer temperature, separated by comma for multiple values; the duplicated will be removed",
                  "example": "+2C,+2.0F,-002C,-2F"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSReeferTempResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side  "
          }
        }
      }
    },
    "/svc/isInPort/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "isInPortList",
        "description": "<b>Since 1.0.0</b>\n Validate the Cntr No, only the valid is included in the output<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isInPort.method', 'POST', 'isInPort - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isInPort.url', '/isInPort/v1.0', 'isInPort - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of special type code, separated by comma for multiple values; the duplicated will be removed",
                  "example": "AAAU 9003434,     6494729,AAPP 0109066"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetInPortMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        },
        "deprecated": true
      }
    },
    "/svc/isPlanned/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "isPlannedList",
        "description": "<b>Since 1.0.0</b>\n To check container is planned based on provided list of cntr no, load vsl and load voyage.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isPlanned.method', 'POST', 'isPlanned - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isPlanned.url', '/isPlanned/v1.0', 'isPlanned - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VslVoyListParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetPlannedtMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getLoadCellLocation/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getLoadCellLocation",
        "description": "<b>Since 1.0.0</b>\n To get cell location based on provided list of cntr no, load vsl and load voyage.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getLoadCellLocation.method', 'POST', 'getLoadCellLocation - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getLoadCellLocation.url', '/getLoadCellLocation/v1.0', 'getLoadCellLocation - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VslVoyListParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetLoadCellLocationMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/deriveDirectIndList/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "deriveDirectIndList",
        "description": "<b>Since 1.0.0</b>\n To get container's direct indicator.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.deriveDirectIndList.method', 'POST', 'deriveDirectIndList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.deriveDirectIndList.url', '/deriveDirectIndList/v1.0', 'deriveDirectIndList - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deriveDirectIndParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetDeriveDirectIndMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/validateSpecDetailList/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "validateSpecDetailList",
        "description": "<b>Since 1.0.0</b>\n To validate special detail.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validateSpecDetailList.method', 'POST', 'validateSpecDetailList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validateSpecDetailList.url', '/validateSpecDetailList/v1.0', 'validateSpecDetailList - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/validateSpecDetailParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetValidateSpecDetailMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/compareOL/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "compareOL",
        "description": "<b>Since 1.0.0</b>\n To compare over length value.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.compareOL.method', 'POST', 'compareOL - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.compareOL.url', '/compareOL/v1.0', 'compareOL - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/compareOLParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCompareOLMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/compareOH/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "compareOH",
        "description": "<b>Since 1.0.0</b>\n To compare over height value.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.compareOH.method', 'POST', 'compareOH - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.compareOH.url', '/compareOH/v1.0', 'compareOH - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/compareOHParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCompareOHMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/compareOW/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "compareOW",
        "description": "<b>Since 1.0.0</b>\n  To compare over weight value<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.compareOW.method', 'POST', 'compareOW - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.compareOW.url', '/compareOW/v1.0', 'compareOW - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/compareOWParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCompareOWMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/validateOOGList/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "validateOOGList",
        "description": "<b>Since 1.0.0</b>\n To validate OOG<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validateOOGList.method', 'POST', 'validateOOGList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validateOOGList.url', '/validateOOGList/v1.0', 'validateOOGList - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/validateOOGListParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetValidateOOGMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/validCntrWeightList/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "validCntrWeight",
        "description": "<b>Since 1.0.0</b>\n To validate container weight.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validCntrWeightList.method', 'POST', 'validCntrWeightList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validCntrWeightList.url', '/validCntrWeightList/v1.0', 'validCntrWeightList - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/validCntrWeightListParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetValidCntrWeightMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/validateUcList/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "validateUc",
        "description": "<b>Since 1.0.0</b>\n To validate UC information.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validateUcList.method', 'POST', 'validateUcList - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.validateUcList.url', '/validateUcList/v1.0', 'validateUcList - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/validateUcListParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetValidateUcMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrWtLimitConfig/v1.0": {
      "get": {
        "tags": [
          "Common Service"
        ],
        "summary": "get Cntr Weight Limit Config",
        "description": "<b>Since 1.0.0</b><p> To provide container weight limit configuration.\n<b>Available Output</b>\n - results\n \n<b>Configuration Items</b>\n - replace insert into pc_cs_config  values ('pc.cs.ccs', 'pc.cs.ccs.svc.context', '/ccs/svc', 'CNTR Service Context');\n - replace insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrWtLimitConfig.method', 'GET', 'getCntrWtLimitConfig - HTTP method');\n - replace insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrWtLimitConfig.url', '/getCntrWtLimitConfig/v1.0', 'getCntrWtLimitConfig - URL');\n\n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. bbw",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "baId",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully </p> results are included to the standard output (Refer to the example)",
            "schema": {
              "$ref": "#/definitions/RestWSConfigCntrLimitWtResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        },
        "deprecated": false
      }
    },
    "/svc/getCntrCommonConfig/v1.0": {
      "get": {
        "tags": [
          "Common Service"
        ],
        "summary": "get Cntr common Config",
        "description": "<b>Since 1.0.0</b><p> To provide container common configuration.\n<b>Available Output</b>\n - results\n \n<b>Configuration Items</b>\n - replace insert into pc_cs_config  values ('pc.cs.ccs', 'pc.cs.ccs.svc.context', '/ccs/svc', 'CNTR Service Context');\n - replace insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrCommonConfig.method', 'GET', 'getCntrCommonConfig - HTTP method');\n - replace insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrCommonConfig.url', '/getCntrCommonConfig/v1.0', 'getCntrCommonConfig - URL');\n\n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. bbw",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "baId",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully </p> results are included to the standard output (Refer to the example)",
            "schema": {
              "$ref": "#/definitions/RestWSCntrCommonConfigResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        },
        "deprecated": false
      }
    },
    "/svc/insertRenomDtls/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "insertRenomDtls",
        "description": "<b>Since 1.0.0</b>\n Insert renom shut hist.<p>\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.insertRenomDtls.method', 'POST', 'insertRenomDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.insertRenomDtls.url', '/insertRenomDtls/v1.0', 'insertRenomDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/insertRenomDtlsParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSInsertRenomDtlsResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/updateRenomDtls/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "insertRenomDtls",
        "description": "<b>Since 1.0.0</b>\n Insert renom shut hist.<p>\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.updateRenomDtls.method', 'POST', 'updateRenomDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.updateRenomDtls.url', '/updateRenomDtls/v1.0', 'updateRenomDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateRenomDtlsParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSUpdateRenomDtlsResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/deleteRenomDtls/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "deleteRenomDtls",
        "description": "<b>Since 1.0.0</b>\n Delete renom shut hist.<p>\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.deleteRenomDtls.method', 'POST', 'deleteRenomDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.deleteRenomDtls.url', '/deleteRenomDtls/v1.0', 'deleteRenomDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteRenomDtlsParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSDeleteRenomDtlsResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByCntrN/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.method', 'POST', 'getCntrListByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.url', '/getCntrListByCntrN/{view}/v1.0', 'getCntrListByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "AAAU 9003434,     6494729,AAPP 0109066"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrDetailListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByCntrN/summary/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.method', 'POST', 'getCntrListByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.url', '/getCntrListByCntrN/{view}/v1.0', 'getCntrListByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "AAAU 9003434,     6494729,AAPP 0109066"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetSummaryCntrDetailListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByCntrN/basic/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByCntrN",
        "description": "<b>Since 1.0.0</b> To get cntr based on provided list of cntr no.<p>\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.method', 'POST', 'getCntrListByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.url', '/getCntrListByCntrN/{view}/v1.0', 'getCntrListByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "AAAU 9003434,     6494729,AAPP 0109066"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrDetailListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByCntrN/detail/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.method', 'POST', 'getCntrListByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByCntrN.url', '/getCntrListByCntrN/{view}/v1.0', 'getCntrListByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "AAAU 9003434,     6494729,AAPP 0109066"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetDetailCntrDetailListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByBlNo/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByBlNo",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of bl no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.method', 'POST', 'getCntrListByBlNo - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.url', '/getCntrListByBlNo/{view}/v1.0', 'getCntrListByBlNo - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blNo": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "SUBA03491400,TEST001,SUBA05003900"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrListByBlNoResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByBlNo/summary/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByBlNo",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of bl no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.method', 'POST', 'getCntrListByBlNo - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.url', '/getCntrListByBlNo/{view}/v1.0', 'getCntrListByBlNo - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blNo": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "SUBA03491400,TEST001,SUBA05003900"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetSummaryCntrListByBlNoResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByBlNo/basic/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByBlNo",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of bl no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.method', 'POST', 'getCntrListByBlNo - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.url', '/getCntrListByBlNo/{view}/v1.0', 'getCntrListByBlNo - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blNo": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "SUBA03491400,TEST001,SUBA05003900"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrListByBlNoResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrListByBlNo/detail/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrListByBlNo",
        "description": "<b>Since 1.0.0</b>\n To get cntr based on provided list of bl no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.method', 'POST', 'getCntrListByBlNo - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrListByBlNo.url', '/getCntrListByBlNo/{view}/v1.0', 'getCntrListByBlNo - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "blNo": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "SUBA03491400,TEST001,SUBA05003900"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetDetailtCntrListByBlNoResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getActiveHistCntrDtls/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getActiveHistCntrDtls by cntr no",
        "description": "<b>Since 1.0.0</b>\n To get getActiveHistCntrDtls based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.method', 'POST', 'getActiveHistCntrDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.url', '/getActiveHistCntrDtls/{view}/v1.0', 'getActiveHistCntrDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetActiveHistCntrDtlsBasicResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getActiveHistCntrDtls/summary/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getActiveHistCntrDtls by cntr no",
        "description": "<b>Since 1.0.0</b>\n To get getActiveHistCntrDtls based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.method', 'POST', 'getActiveHistCntrDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.url', '/getActiveHistCntrDtls/{view}/v1.0', 'getActiveHistCntrDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetActiveHistCntrDtlsSummaryResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getActiveHistCntrDtls/basic/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getActiveHistCntrDtls by cntr no",
        "description": "<b>Since 1.0.0</b>\n To get getActiveHistCntrDtls based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.method', 'POST', 'getActiveHistCntrDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.url', '/getActiveHistCntrDtls/{view}/v1.0', 'getActiveHistCntrDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetActiveHistCntrDtlsBasicResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getActiveHistCntrDtls/detail/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getActiveHistCntrDtls by cntr no",
        "description": "<b>Since 1.0.0</b>\n To get getActiveHistCntrDtls based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.method', 'POST', 'getActiveHistCntrDtls - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getActiveHistCntrDtls.url', '/getActiveHistCntrDtls/{view}/v1.0', 'getActiveHistCntrDtls - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetActiveHistCntrDtlsResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrHistByCntrN/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrHistByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get getCntrHistByCntrN based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.method', 'POST', 'getCntrHistByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.url', '/getCntrHistByCntrN/{view}/v1.0', 'getCntrHistByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                },
                "isLatest": {
                  "type": "boolean",
                  "description": "Y - return the latest cntr_hist, N - return all cntr in cntr_hist",
                  "example": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrHistsBasicResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side"
          }
        }
      }
    },
    "/svc/getCntrHistByCntrN/summary/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrHistByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get getCntrHistByCntrN based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.method', 'POST', 'getCntrHistByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.url', '/getCntrHistByCntrN/{view}/v1.0', 'getCntrHistByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                },
                "isLatest": {
                  "type": "boolean",
                  "description": "Y - return the latest cntr_hist, N - return all cntr in cntr_hist",
                  "example": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrHistSummaryResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrHistByCntrN/basic/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrHistByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get getCntrHistByCntrN based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.method', 'POST', 'getCntrHistByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.url', '/getCntrHistByCntrN/{view}/v1.0', 'getCntrHistByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                },
                "isLatest": {
                  "type": "boolean",
                  "description": "Y - return the latest cntr_hist, N - return all cntr in cntr_hist",
                  "example": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrHistsBasicResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/getCntrHistByCntrN/detail/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "getCntrHistByCntrN",
        "description": "<b>Since 1.0.0</b>\n To get getCntrHistByCntrN based on provided list of cntr no.<p>\n\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.method', 'POST', 'getCntrHistByCntrN - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.getCntrHistByCntrN.url', '/getCntrHistByCntrN/{view}/v1.0', 'getCntrHistByCntrN - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cntrN": {
                  "type": "string",
                  "description": "list of cntr number",
                  "example": "NYKU 3693823,CAXU 4934030"
                },
                "isLatest": {
                  "type": "boolean",
                  "description": "Y - return the latest cntr_hist, N - return all cntr in cntr_hist",
                  "example": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSGetCntrHistrDtlsResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/isAuthOpforPost/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "isAuthOpforPost",
        "description": "<b>Since 1.0.0</b>\n To get is exist auth based on provided list of cntr no, abbr vsl, abbr in voyage, new operator and old operator.<p>\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isAuthOpforPost.method', 'POST', 'isAuthOpforPost - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.isAuthOpforPost.url', '/isAuthOpforPost/v1.0', 'isAuthOpforPost - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authOpListmeters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSIsAuthOpforPostMapListResponsedBody"
            }
          },
          "500": {
            "description": "500 Internal Server Error - The request failed due to an internal error",
            "schema": {
              "$ref": "#/definitions/RestWSErrorsResponsedBody"
            }
          },
          "default": {
            "description": "Any other possible status code from server side "
          }
        }
      }
    },
    "/svc/countDelSupplTLIByDisc/v1.0": {
      "post": {
        "tags": [
          "Common Service"
        ],
        "summary": "countDelSupplTLIByDisc",
        "description": "<b>Since 1.0.0</b>\n To get count of Deleted Suppl TLI by discharge vsl and discharge voyage.<p>\n<b>Configuration Items</b>\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.context','/ccs/svc','CNTR Service Context');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.countDelSupplTLIByDisc.method', 'POST', 'countDelSupplTLIByDisc - HTTP method');\n - insert into pc_cs_config values ('pc.cs.ccs', 'pc.cs.ccs.svc.countDelSupplTLIByDisc.url', '/countDelSupplTLIByDisc/v1.0', 'countDelSupplTLIByDisc - URL');\n  \n<b>Available Output</b>\n - results\n \n<b>Historical Version</b>\n - 1.0.0 - initialized version",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "locale information of the deployment site, e.g. zh-CN",
            "required": false,
            "type": "string",
            "default": "en-US"
          },
          {
            "in": "header",
            "name": "site",
            "description": "deployment site, e.g. sg",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "pc-context",
            "description": "system context, system do generate one if not provided",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "param",
            "description": "Instructions on how to pass in the parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/countDelSupplTLIByDiscMeters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Request is processed successfully",
            "schema": {
              "$ref": "#/definitions/RestWSCountDelSupplTLIByDiscResponsedBody"
            }
          },
          "500": {
[...]
