{
  "openapi": "3.0.1",
  "info": {
    "title": "Relatórios pré configurados",
    "version": "1.0.0",
    "description": "Endpoing para gerar relatórios pré configurados.\n\n### Autenticação\nUtilize o botão \"Authorize\" para inserir o token JWT e as chaves de acesso.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegcom/RelatorioPreConfigurado/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sieg.com"
    }
  ],
  "security": [
    {
      "JWT": [],
      "APIKey": []
    },
    {
      "JWT": [],
      "OAuthToken": []
    }
  ],
  "paths": {
    "/api/v1/relatorios-pre-configurados": {
      "post": {
        "tags": [
          "Relatório pré configurado"
        ],
        "summary": "Gerar relatório pré-configurado",
        "description": "Instruções gerais:\nO retorno da api é em Base 64. Ano e mês são parâmetros utilizados para identificar o período do relatório.\n\nInstruções para os filtros:\nXmlType: 1 - NFe / 2 - CTe / 3 - NFS-e / 4 - NFCe / 5 - CFe\n\nTypeXmlDownloadReport : 1 - Monofasico / 2 - RelatorioBasico / 3 - DetalhamentoProdutos / 4 - CTe / 5 - NFSe.\n",
        "operationId": "gerarRelatorioPreConfig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelatorioPreConfigRequestDto"
              },
              "example": {
                "Cnpj": "string",
                "TypeXmlDownloadReport": 0,
                "XmlType": 1,
                "Month": 0,
                "Year": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relatório gerado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatorioPreConfigResponseDto"
                },
                "example": {
                  "Status": "Sucesso",
                  "Codigo": "200",
                  "Mensagens": [
                    "Relatório gerado com sucesso"
                  ],
                  "UrlDownload": "https://api.sieg.com/download/arquivo123"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação no corpo da requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatorioPreConfigResponseDto"
                },
                "example": {
                  "Status": "Erro",
                  "Codigo": "400",
                  "Mensagens": [
                    "Parâmetros inválidos"
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST \"https://api.sieg.com/api/v1/relatorios-pre-configurados\" \\\n-H \"accept: application/json\" \\\n-H \"Content-Type: application/json\" \\\n-d '{ \n      \"Cnpj\": \"string\", \n      \"TypeXmlDownloadReport\": 0, \n      \"XmlType\": 1, \n      \"Month\": 0, \n      \"Year\": 0 \n    }'\n"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cole apenas o token JWT gerado pelo endpoint de autenticação."
      },
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "OAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-OAuth-Token",
        "description": "Token OAuth 2.0 Sieg (utilize em conjunto com o JWT)."
      }
    },
    "schemas": {
      "RelatorioPreConfigRequestDto": {
        "type": "object",
        "description": "DTO utilizado para solicitar geração de relatório pré-configurado.",
        "required": [
          "Cnpj",
          "TypeXmlDownloadReport",
          "XmlType",
          "Month",
          "Year"
        ],
        "properties": {
          "Cnpj": {
            "type": "string",
            "description": "CNPJ base para filtragem."
          },
          "TypeXmlDownloadReport": {
            "type": "integer",
            "format": "int32",
            "description": "Tipo de relatório pré-configurado."
          },
          "XmlType": {
            "type": "integer",
            "format": "int32",
            "description": "Tipo de documento XML (NFe, CTe, NFSe etc)."
          },
          "Month": {
            "type": "integer",
            "format": "int32",
            "description": "Mês de referência."
          },
          "Year": {
            "type": "integer",
            "format": "int32",
            "description": "Ano de referência."
          }
        }
      },
      "RelatorioPreConfigResponseDto": {
        "type": "object",
        "description": "Resposta padrão da geração de relatório.",
        "properties": {
          "Status": {
            "type": "string"
          },
          "Codigo": {
            "type": "string"
          },
          "Mensagens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "UrlDownload": {
            "type": "string",
            "description": "URL pública para download do relatório gerado."
          }
        }
      }
    }
  }
}
