{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "InsiderCX ARC API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ACCOUNTS_20/ARC/1.0/swagger.json",
    "contact": {},
    "description": "InsiderCX ARC API"
  },
  "host": "apis.insidercx.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "userTokenHeader": {
      "type": "apiKey",
      "in": "header",
      "name": "user-token"
    }
  },
  "security": [
    {
      "userTokenHeader": []
    }
  ],
  "paths": {
    "/data/ARC": {
      "get": {
        "summary": "Load ARC objects",
        "tags": [
          "ARC"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/loadRelations"
          },
          {
            "$ref": "#/parameters/relationsDepth"
          },
          {
            "$ref": "#/parameters/loadARCProperties"
          },
          {
            "$ref": "#/parameters/sortARCProperties"
          }
        ],
        "responses": {
          "200": {
            "description": "List of ARC objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StoredARC"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Load ARC objects",
        "operationId": "get-data-arc"
      },
      "post": {
        "summary": "Create ARC object",
        "tags": [
          "ARC"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewARC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A ARC object",
            "schema": {
              "$ref": "#/definitions/StoredARC"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Create ARC object",
        "operationId": "post-data-arc"
      }
    },
    "/data/ARC/{objectId}": {
      "get": {
        "summary": "Find ARC object by ID",
        "tags": [
          "ARC"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/objectId"
          },
          {
            "$ref": "#/parameters/loadRelations"
          },
          {
            "$ref": "#/parameters/relationsDepth"
          },
          {
            "$ref": "#/parameters/loadARCProperties"
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A ARC object",
            "schema": {
              "$ref": "#/definitions/StoredARC"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Find ARC object by ID",
        "operationId": "get-data-arc-by-objectid"
      },
      "put": {
        "summary": "Update ARC object",
        "tags": [
          "ARC"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/objectId"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewARC"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated ARC object",
            "schema": {
              "$ref": "#/definitions/StoredARC"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Update ARC object",
        "operationId": "put-data-arc-by-objectid"
      },
      "delete": {
        "summary": "Delete ARC Object",
        "tags": [
          "ARC"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/objectId"
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Delete ARC Object",
        "operationId": "delete-data-arc-by-objectid"
      }
    },
    "/data/bulk/ARC": {
      "post": {
        "summary": "Bulk Create ARC objects",
        "tags": [
          "ARC"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NewARC"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of created ARC objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StoredARC"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "Bulk Create ARC objects",
        "operationId": "post-data-bulk-arc"
      }
    },
    "/users/login": {
      "post": {
        "summary": "User Login",
        "tags": [
          "UserService"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "login": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "objectId": {
                  "type": "string"
                },
                "blUserLocale": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated": {
                  "type": "string",
                  "format": "date-time"
                },
                "ownerId": {
                  "type": "string"
                },
                "oAuthIdentities": {
                  "type": "string"
                },
                "userStatus": {
                  "type": "string"
                },
                "socialAccount": {
                  "type": "string"
                },
                "accountType": {
                  "type": "string"
                },
                "lastLogin": {
                  "type": "string",
                  "format": "date-time"
                },
                "user-token": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "409": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsiderCXAPIError"
            }
          }
        },
        "description": "User Login",
        "operationId": "post-users-login"
      }
    }
  },
  "definitions": {
    "NewARC": {
      "type": "object",
      "description": "This is a schema of non stored ARC object",
      "properties": {
        "age": {
          "type": "string"
        },
        "doctor": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "patient_id": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "procedure": {
          "type": "string"
        },
        "treatment": {
          "type": "string"
        },
        "visit_date": {
          "type": "string"
        }
      }
    },
    "StoredARC": {
      "type": "object",
      "description": "This is a schema of stored ARC object",
      "properties": {
        "age": {
          "type": "string"
        },
        "doctor": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "patient_id": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "procedure": {
          "type": "string"
        },
        "treatment": {
          "type": "string"
        },
        "visit_date": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "updated": {
          "type": "string",
          "format": "date-time"
        },
        "objectId": {
          "type": "string"
        },
        "ownerId": {
          "type": "string"
        }
      }
    },
    "InsiderCXAPIError": {
      "type": "object",
      "description": "InsiderCXAPI Error",
      "properties": {
        "code": {
          "type": "number"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "tableName": {
      "in": "path",
      "name": "tableName",
      "required": true,
      "type": "string",
      "description": "Table name"
    },
    "objectId": {
      "in": "path",
      "name": "objectId",
      "required": true,
      "type": "string",
      "description": "Object Id"
    },
    "relationName": {
      "in": "path",
      "name": "relationName",
      "required": true,
      "type": "string",
      "description": "Relation name"
    },
    "objectIds": {
      "in": "body",
      "name": "objectIds",
      "required": true,
      "schema": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "objectId_1",
          "objectId_2",
          "objectId_3"
        ]
      },
      "description": "List of objectIds"
    },
    "optionalObjectIds": {
      "in": "body",
      "name": "objectIds",
      "required": false,
      "schema": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "objectId_1",
          "objectId_2",
          "objectId_3"
        ]
      },
      "description": "List of objectIds"
    },
    "pageSize": {
      "in": "query",
      "name": "pageSize",
      "required": false,
      "minimum": 1,
      "type": "integer",
      "description": "Page Size"
    },
    "offset": {
      "in": "query",
      "name": "offset",
      "required": false,
      "minimum": 0,
      "type": "integer",
      "description": "Page Offset"
    },
    "where": {
      "in": "query",
      "name": "where",
      "required": false,
      "type": "string",
      "description": "Where Clause"
    },
    "loadRelations": {
      "in": "query",
      "name": "loadRelations",
      "required": false,
      "type": "string",
      "description": "Load Relations"
    },
    "relationsDepth": {
      "in": "query",
      "name": "relationsDepth",
      "required": false,
      "type": "integer",
      "description": "Relations Depth"
    },
    "loadARCProperties": {
      "in": "query",
      "name": "props",
      "description": "Object Properties",
      "type": "array",
      "required": false,
      "uniqueItems": true,
      "items": {
        "type": "string",
        "enum": [
          "age",
          "doctor",
          "first_name",
          "gender",
          "updated",
          "last_name",
          "location",
          "patient_id",
          "created",
          "phone",
          "procedure",
          "treatment",
          "visit_date",
          "ownerId",
          "objectId"
        ]
      }
    },
    "sortARCProperties": {
      "in": "query",
      "name": "sortBy",
      "description": "Sorting Properties",
      "type": "array",
      "required": false,
      "uniqueItems": true,
      "items": {
        "type": "string",
        "enum": [
          "age asc",
          "age desc",
          "doctor asc",
          "doctor desc",
          "first_name asc",
          "first_name desc",
          "gender asc",
          "gender desc",
          "updated asc",
          "updated desc",
          "last_name asc",
          "last_name desc",
          "location asc",
          "location desc",
          "patient_id asc",
          "patient_id desc",
          "created asc",
          "created desc",
          "phone asc",
          "phone desc",
          "procedure asc",
          "procedure desc",
          "treatment asc",
          "treatment desc",
          "visit_date asc",
          "visit_date desc",
          "ownerId asc",
          "ownerId desc",
          "objectId asc",
          "objectId desc"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "ARC"
    },
    {
      "name": "UserService"
    }
  ]
}
