{
  "openapi": "3.0.3",
  "info": {
    "title": "Bored API",
    "description": "Activity suggestions API. The original boredapi.com is offline; this spec documents the compatible mirror at bored-api.appbrewery.com.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://bored-api.appbrewery.com/",
    "x-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://bored-api.appbrewery.com",
      "description": "Bored API (AppBrewery mirror)"
    }
  ],
  "paths": {
    "/random": {
      "get": {
        "operationId": "getRandomActivity",
        "summary": "Get a random activity suggestion",
        "responses": {
          "200": {
            "description": "A random activity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/filter": {
      "get": {
        "operationId": "filterActivities",
        "summary": "Filter activities by type and/or number of participants",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Activity type (education, recreational, social, charity, cooking, relaxation, busywork)",
            "schema": {
              "type": "string",
              "enum": ["education", "recreational", "social", "charity", "cooking", "relaxation", "busywork"]
            }
          },
          {
            "name": "participants",
            "in": "query",
            "required": false,
            "description": "Number of participants",
            "schema": {
              "type": "integer",
              "enum": [1, 2, 3, 4, 5, 6, 8]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered list of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/activity/{key}": {
      "get": {
        "operationId": "getActivityByKey",
        "summary": "Get a specific activity by its unique key",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Unique activity identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested activity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "404": {
            "description": "Activity not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Activity": {
        "type": "object",
        "properties": {
          "activity": {
            "type": "string",
            "description": "Description of the activity"
          },
          "availability": {
            "type": "number",
            "description": "Availability factor"
          },
          "type": {
            "type": "string",
            "description": "Type of activity"
          },
          "participants": {
            "type": "integer",
            "description": "Number of participants"
          },
          "price": {
            "type": "number",
            "description": "Price factor (0.0 = free)"
          },
          "accessibility": {
            "type": "string",
            "description": "Accessibility description"
          },
          "duration": {
            "type": "string",
            "description": "Estimated duration"
          },
          "kidFriendly": {
            "type": "boolean",
            "description": "Whether the activity is suitable for kids"
          },
          "key": {
            "type": "string",
            "description": "Unique identifier for the activity"
          },
          "link": {
            "type": "string",
            "description": "URL with more info about the activity"
          }
        }
      }
    }
  }
}
