{
  "openapi": "3.0.3",
  "info": {
    "title": "Bluesky AT Protocol API",
    "description": "Bluesky application Lexicon APIs (app.bsky.*). Public endpoints which do not require authentication can be made directly against the public Bluesky AppView API at https://public.api.bsky.app. Authenticated requests are usually proxied via the users PDS using service proxy headers.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.bsky.app/docs/category/http-reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://public.api.bsky.app",
      "description": "Public Bluesky AppView API (unauthenticated)"
    },
    {
      "url": "https://bsky.social",
      "description": "Bluesky PDS (authenticated requests)"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Actor",
      "description": "Actor/profile operations"
    },
    {
      "name": "Feed",
      "description": "Feed and post operations"
    },
    {
      "name": "Notification",
      "description": "Notification operations"
    },
    {
      "name": "Graph",
      "description": "Social graph operations"
    },
    {
      "name": "Session",
      "description": "Session management"
    }
  ],
  "paths": {
    "/xrpc/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "Get Profile",
        "description": "Get detailed profile view of an actor. Does not require auth, but contains relevant metadata with auth.",
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "description": "Handle or DID of account to fetch profile of",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns detailed profile view",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileViewDetailed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "Get Profiles",
        "description": "Get detailed profile views of multiple actors.",
        "operationId": "getProfiles",
        "parameters": [
          {
            "name": "actors",
            "in": "query",
            "required": true,
            "description": "Handles or DIDs of accounts to fetch (max 25)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of detailed profile views",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "profiles"
                  ],
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileViewDetailed"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "Search Actors",
        "description": "Find actors (users) matching search criteria. Does not require auth.",
        "operationId": "searchActors",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query string; syntax, entity types, and other features are announced in feed generators",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns matching actors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "actors"
                  ],
                  "properties": {
                    "cursor": {
                      "type": "string"
                    },
                    "actors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getTimeline": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get Timeline",
        "description": "Get a view of the requesting accounts home timeline. Requires auth.",
        "operationId": "getTimeline",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "algorithm",
            "in": "query",
            "required": false,
            "description": "Variant reverse-chronological, or an identifier for a specific feed algorithm",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns timeline feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "feed"
                  ],
                  "properties": {
                    "cursor": {
                      "type": "string"
                    },
                    "feed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedViewPost"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get Author Feed",
        "description": "Get a view of an actors author feed (post and reposts by the author). Does not require auth.",
        "operationId": "getAuthorFeed",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "description": "Handle or DID of the actor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Combinations of post/repost types to include in response",
            "schema": {
              "type": "string",
              "enum": [
                "posts_with_replies",
                "posts_no_replies",
                "posts_with_media",
                "posts_and_author_threads"
              ],
              "default": "posts_with_replies"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns author feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "feed"
                  ],
                  "properties": {
                    "cursor": {
                      "type": "string"
                    },
                    "feed": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedViewPost"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.searchPosts": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Search Posts",
        "description": "Find posts matching search criteria, returning views of those posts.",
        "operationId": "searchPosts",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Specifies the ranking order of results",
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "latest"
              ],
              "default": "latest"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Filter to posts by the given account (DID or handle)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Filter results to after the indicated datetime (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Filter results to before the indicated datetime (not inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Filter to posts in the given language (BCP-47)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter to posts with given hashtag (without #)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns matching posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "posts"
                  ],
                  "properties": {
                    "cursor": {
                      "type": "string"
                    },
                    "hitsTotal": {
                      "type": "integer"
                    },
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PostView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPostThread": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get Post Thread",
        "description": "Get posts in a thread. Does not require auth, but additional metadata and filtering are applied for authed requests.",
        "operationId": "getPostThread",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "Reference (AT-URI) of post record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "description": "How many levels of reply depth should be included in response",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 6
            }
          },
          {
            "name": "parentHeight",
            "in": "query",
            "required": false,
            "description": "How many levels of parent to include",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 80
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns post thread",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "thread"
                  ],
                  "properties": {
                    "thread": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getLikes": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get Likes",
        "description": "Get like records which reference a subject (by AT-URI and CID).",
        "operationId": "getLikes",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "AT-URI of the subject",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "query",
            "required": false,
            "description": "CID of the subject record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns likes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "uri",
                    "likes"
                  ],
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    },
                    "cursor": {
                      "type": "string"
                    },
                    "likes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "actor": {
                            "$ref": "#/components/schemas/ProfileView"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getRepostedBy": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get Reposted By",
        "description": "Get a list of reposts for a given post.",
        "operationId": "getRepostedBy",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "description": "Reference (AT-URI) of post record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "query",
            "required": false,
            "description": "CID hash of the post record",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of repost actors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "uri",
                    "repostedBy"
                  ],
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    },
                    "cursor": {
                      "type": "string"
                    },
                    "repostedBy": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.notification.listNotifications": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "List Notifications",
        "description": "Enumerate notifications for the requesting account. Requires auth.",
        "operationId": "listNotifications",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seenAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns notifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "notifications"
                  ],
                  "properties": {
                    "cursor": {
                      "type": "string"
                    },
                    "notifications": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getFollowers": {
      "get": {
        "tags": [
          "Graph"
        ],
        "summary": "Get Followers",
        "description": "Enumerates accounts which follow a specified account (actor).",
        "operationId": "getFollowers",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "description": "Handle or DID of account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns followers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "subject",
                    "followers"
                  ],
                  "properties": {
                    "subject": {
                      "$ref": "#/components/schemas/ProfileView"
                    },
                    "cursor": {
                      "type": "string"
                    },
                    "followers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getFollows": {
      "get": {
        "tags": [
          "Graph"
        ],
        "summary": "Get Follows",
        "description": "Enumerates accounts which a specified account (actor) follows.",
        "operationId": "getFollows",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "description": "Handle or DID of account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns follows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "subject",
                    "follows"
                  ],
                  "properties": {
                    "subject": {
                      "$ref": "#/components/schemas/ProfileView"
                    },
                    "cursor": {
                      "type": "string"
                    },
                    "follows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileView"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/com.atproto.server.createSession": {
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "Create Session",
        "description": "Create an authentication session (log in).",
        "operationId": "createSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Handle or other identifier supported by the server for the authenticating user."
                  },
                  "password": {
                    "type": "string",
                    "description": "The account password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns session tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessJwt",
                    "refreshJwt",
                    "handle",
                    "did"
                  ],
                  "properties": {
                    "accessJwt": {
                      "type": "string"
                    },
                    "refreshJwt": {
                      "type": "string"
                    },
                    "handle": {
                      "type": "string"
                    },
                    "did": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/com.atproto.repo.createRecord": {
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Create Record",
        "description": "Create a single new repository record. Requires auth, implemented by PDS. Used to create posts, likes, reposts, follows, etc.",
        "operationId": "createRecord",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo",
                  "collection",
                  "record"
                ],
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "The handle or DID of the repo (aka, current account)."
                  },
                  "collection": {
                    "type": "string",
                    "description": "The NSID of the record collection."
                  },
                  "rkey": {
                    "type": "string",
                    "description": "The Record Key."
                  },
                  "validate": {
                    "type": "boolean",
                    "description": "Can be set to false to skip Lexicon schema validation of record data."
                  },
                  "record": {
                    "type": "object",
                    "description": "The record itself."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created record reference",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "uri",
                    "cid"
                  ],
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "cid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/com.atproto.repo.deleteRecord": {
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Delete Record",
        "description": "Delete a repository record, or ensure it does not exist. Requires auth, implemented by PDS.",
        "operationId": "deleteRecord",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo",
                  "collection",
                  "rkey"
                ],
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "The handle or DID of the repo (aka, current account)."
                  },
                  "collection": {
                    "type": "string",
                    "description": "The NSID of the record collection."
                  },
                  "rkey": {
                    "type": "string",
                    "description": "The Record Key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained from com.atproto.server.createSession"
      }
    },
    "schemas": {
      "ProfileView": {
        "type": "object",
        "required": [
          "did",
          "handle"
        ],
        "properties": {
          "did": {
            "type": "string",
            "description": "Decentralized identifier"
          },
          "handle": {
            "type": "string",
            "description": "User handle"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "description": "URL of avatar image"
          },
          "indexedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProfileViewDetailed": {
        "type": "object",
        "required": [
          "did",
          "handle"
        ],
        "properties": {
          "did": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "banner": {
            "type": "string"
          },
          "followersCount": {
            "type": "integer"
          },
          "followsCount": {
            "type": "integer"
          },
          "postsCount": {
            "type": "integer"
          },
          "indexedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostView": {
        "type": "object",
        "required": [
          "uri",
          "cid",
          "author",
          "record",
          "indexedAt"
        ],
        "properties": {
          "uri": {
            "type": "string"
          },
          "cid": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/ProfileView"
          },
          "record": {
            "type": "object"
          },
          "replyCount": {
            "type": "integer"
          },
          "repostCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "indexedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FeedViewPost": {
        "type": "object",
        "required": [
          "post"
        ],
        "properties": {
          "post": {
            "$ref": "#/components/schemas/PostView"
          },
          "reply": {
            "type": "object"
          },
          "reason": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
