{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentaiton for the COP-4331 Small Project Contact Manager App",
    "version": "1.0.0",
    "title": "Contact Manager App",
    "contact": {
      "email": "an130962@ucf.edu; noahsemail@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/project-d92/ShowSwagger/1.0.0"
  },
  "host": "copycm.com",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "authentication",
      "description": "Operations for user authentication"
    },
    {
      "name": "contacts",
      "description": "Operations for contact management"
    }
  ],
  "paths": {
    "/signup": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "TODO"
      }
    },
    "/login": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "TODO"
      }
    },
    "/users/{userId}/contacts/search": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "TODO"
      }
    },
    "/users/{userId}/contacts": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "returns a list of contacts from the given user",
        "operationId": "getContacts",
        "description": "returns a list of all the target user's contacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer",
            "description": "ID of target user"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Contact"
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": "success",
                "results": [
                  {
                    "id": 0,
                    "first_name": "Delicious",
                    "last_name": "Bread",
                    "email": "deliciousbread@gmail.com",
                    "phone": "012-345-6789"
                  },
                  {
                    "id": 1,
                    "first_name": "Place",
                    "last_name": "Holder",
                    "email": "placeholer@gmail.com",
                    "phone": "987-654-3210"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Invalid Session"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "adds contact to given user",
        "operationId": "addContact",
        "description": "adds the given contact information to the target user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer",
            "description": "ID of target user"
          },
          {
            "in": "body",
            "name": "contactInfo",
            "description": "Information of new contact",
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                }
              },
              "example": {
                "first_name": "Joe",
                "last_name": "Biden",
                "email": "iamjoebiden@gmail.com",
                "phone": "012-345-6789"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Invalid Session"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "modifies contact of given user",
        "operationId": "modifyContact",
        "description": "modifies the given contact id of the target user with the given contact information",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer",
            "description": "ID of target user"
          },
          {
            "in": "body",
            "name": "contactInfo",
            "description": "Information of new contact",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/Contact"
                },
                {
                  "example": {
                    "id": 3,
                    "first_name": "NewFirst",
                    "last_name": "NewLast",
                    "email": "newgmail@gmail.com",
                    "phone": "111-111-1111"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Invalid Session"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "removes contact from given user",
        "operationId": "deleteContact",
        "description": "removes the given contact id from the target user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer",
            "description": "ID of target user"
          },
          {
            "in": "body",
            "name": "contactId",
            "description": "ID of the target contact",
            "schema": {
              "type": "integer",
              "example": {
                "contact_id": 0
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Invalid Session"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "Contact": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        }
      }
    }
  }
}