{
  "openapi": "3.0.3",
  "info": {
    "title": "StatCounter API",
    "version": "3",
    "description": "StatCounter web analytics API v3. Provides access to website visitor statistics including visitor counts, page views, popular pages, browsers, operating systems, referrers, search engines, and geographic data.",
    "x-jentic-source-url": "https://api.statcounter.com/docs/v3",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api3.statcounter.com"
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Statistics",
      "description": "Visitor statistics and analytics"
    }
  ],
  "paths": {
    "/user/": {
      "get": {
        "operationId": "getUserProjects",
        "summary": "List user projects",
        "description": "Get a list of all projects (websites) for the authenticated user.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f",
            "in": "query",
            "required": false,
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/": {
      "get": {
        "operationId": "getStats",
        "summary": "Get visitor statistics",
        "description": "Retrieve visitor statistics for a project. Supports various stat types including visitors, page views, popular pages, entry/exit pages, browsers, OS, referrers, search engines, countries, and more.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pi",
            "in": "query",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "required": true,
            "description": "Stat type",
            "schema": {
              "type": "string",
              "enum": [
                "summary",
                "visitor",
                "popular",
                "entry",
                "exit",
                "came_from",
                "browsers",
                "os",
                "resolution",
                "search_engine",
                "search_keyword",
                "country",
                "recent_visitor",
                "recent_keyword",
                "recent_came_from",
                "recent_pageview",
                "city",
                "region"
              ]
            }
          },
          {
            "name": "g",
            "in": "query",
            "required": false,
            "description": "Granularity",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "yearly"
              ]
            }
          },
          {
            "name": "sd",
            "in": "query",
            "required": false,
            "description": "Start date (dd/mm/yyyy)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ed",
            "in": "query",
            "required": false,
            "description": "End date (dd/mm/yyyy)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": false,
            "description": "Number of results",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "f",
            "in": "query",
            "required": false,
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "ct",
            "in": "query",
            "required": false,
            "description": "Count type for summary",
            "schema": {
              "type": "string",
              "enum": [
                "pageview",
                "visitor",
                "unique"
              ]
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "description": "Exclude path filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add_project/": {
      "get": {
        "operationId": "addProject",
        "summary": "Add a new project",
        "description": "Create a new StatCounter project (website tracking).",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wt",
            "in": "query",
            "required": true,
            "description": "Website title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wu",
            "in": "query",
            "required": true,
            "description": "Website URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ps",
            "in": "query",
            "required": false,
            "description": "Public stats (0=no, 1=yes)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "f",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddProjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/update_project/": {
      "get": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pi",
            "in": "query",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wt",
            "in": "query",
            "required": false,
            "description": "New website title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wu",
            "in": "query",
            "required": false,
            "description": "New website URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "f",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a project"
      }
    },
    "/delete_project/": {
      "get": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pi",
            "in": "query",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a project"
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "sc_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "project_name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "log_size": {
            "type": "integer"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "sc_data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "AddProjectResponse": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "security_code": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiPassword": {
        "type": "apiKey",
        "in": "query",
        "name": "password",
        "description": "StatCounter API password (different from account password). Set in Account > API Access."
      }
    }
  },
  "security": [
    {
      "ApiPassword": []
    }
  ]
}
