{
  "openapi": "3.0.3",
  "info": {
    "title": "Duply API",
    "description": "Generate, edit, scale, and manage images and videos smarter and faster. Duply enables automated image creation from templates using dynamic parameters, with support for batch generation and integrations with Zapier and Make.com.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://duply.co/docs#getting-started-api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.duply.co/v3",
      "description": "Duply Production API v3"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Templates",
      "description": "Manage design templates"
    },
    {
      "name": "Image Generation",
      "description": "Generate images from templates"
    },
    {
      "name": "Batch Generation",
      "description": "Batch image generation operations"
    },
    {
      "name": "Assets",
      "description": "Manage uploaded assets and media"
    },
    {
      "name": "Renders",
      "description": "View and manage rendered images"
    }
  ],
  "paths": {
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "description": "Retrieve a list of all design templates in your account.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of templates per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/templates/{templateId}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get a template",
        "description": "Retrieve details of a specific design template by ID.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/generate": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate an image from a template",
        "description": "Generate a single image by applying dynamic parameters to a template. Supply template ID and layer parameters to customize the output.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/generate/url": {
      "post": {
        "operationId": "generateImageFromUrl",
        "summary": "Generate image from URL parameters",
        "description": "Generate a single image using URL-based parameter overrides applied to a template.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateFromUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image URL generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batchGenerate",
        "summary": "Batch generate images",
        "description": "Generate multiple images from a template using a CSV data source or array of parameter sets.",
        "tags": [
          "Batch Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch generation initiated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGenerateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/batch/{batchId}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch generation status",
        "description": "Check the status of a batch image generation job.",
        "tags": [
          "Batch Generation"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "The batch job ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/renders": {
      "get": {
        "operationId": "listRenders",
        "summary": "List rendered images",
        "description": "Retrieve a list of previously rendered images.",
        "tags": [
          "Renders"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of renders per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Filter by template ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of renders returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/renders/{renderId}": {
      "get": {
        "operationId": "getRender",
        "summary": "Get a rendered image",
        "description": "Retrieve details of a specific rendered image.",
        "tags": [
          "Renders"
        ],
        "parameters": [
          {
            "name": "renderId",
            "in": "path",
            "required": true,
            "description": "The render ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Render details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteRender",
        "summary": "Delete a rendered image",
        "description": "Delete a specific rendered image by ID.",
        "tags": [
          "Renders"
        ],
        "parameters": [
          {
            "name": "renderId",
            "in": "path",
            "required": true,
            "description": "The render ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Render deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List uploaded assets",
        "description": "Retrieve a list of uploaded media assets.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of assets per page.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "uploadAsset",
        "summary": "Upload an asset",
        "description": "Upload a new media asset (image or video) to your account.",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get an asset",
        "description": "Retrieve details of a specific asset by ID.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "The asset ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteAsset",
        "summary": "Delete an asset",
        "description": "Delete a specific asset by ID.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "The asset ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key obtained from the Duply dashboard. Pass as 'Authorization: Bearer <api_key>'."
      }
    },
    "parameters": {
      "TemplateId": {
        "name": "templateId",
        "in": "path",
        "required": true,
        "description": "The unique template identifier.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique template identifier."
          },
          "name": {
            "type": "string",
            "description": "Template name."
          },
          "width": {
            "type": "integer",
            "description": "Template width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Template height in pixels."
          },
          "layers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Layer"
            },
            "description": "Template layers that can be customized."
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the template thumbnail."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Template creation timestamp."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Template last update timestamp."
          }
        }
      },
      "Layer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Layer name used as parameter key."
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "shape",
              "video"
            ],
            "description": "Layer type."
          },
          "defaultValue": {
            "type": "string",
            "description": "Default value for the layer."
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of templates."
          },
          "page": {
            "type": "integer",
            "description": "Current page number."
          },
          "limit": {
            "type": "integer",
            "description": "Items per page."
          }
        }
      },
      "GenerateImageRequest": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "description": "ID of the template to use."
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs mapping layer names to their values."
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 90,
            "description": "Output image quality."
          }
        },
        "required": [
          "templateId",
          "params"
        ]
      },
      "GenerateFromUrlRequest": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "description": "ID of the template to use."
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs mapping layer names to their values."
          }
        },
        "required": [
          "templateId",
          "params"
        ]
      },
      "GenerateImageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Render ID."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated image."
          },
          "templateId": {
            "type": "string",
            "description": "Template ID used."
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Generation timestamp."
          }
        }
      },
      "BatchGenerateRequest": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "description": "ID of the template to use."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "description": "Array of parameter sets, each producing one image."
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp"
            ],
            "default": "png",
            "description": "Output image format."
          }
        },
        "required": [
          "templateId",
          "data"
        ]
      },
      "BatchGenerateResponse": {
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique batch job identifier."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Batch job status."
          },
          "totalImages": {
            "type": "integer",
            "description": "Total number of images to generate."
          }
        }
      },
      "BatchStatusResponse": {
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique batch job identifier."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Batch job status."
          },
          "totalImages": {
            "type": "integer",
            "description": "Total number of images."
          },
          "completedImages": {
            "type": "integer",
            "description": "Number of images completed."
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenerateImageResponse"
            },
            "description": "Generated image results."
          }
        }
      },
      "Render": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Render ID."
          },
          "templateId": {
            "type": "string",
            "description": "Template ID used."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the rendered image."
          },
          "width": {
            "type": "integer",
            "description": "Image width."
          },
          "height": {
            "type": "integer",
            "description": "Image height."
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Parameters used for rendering."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Render creation timestamp."
          }
        }
      },
      "RenderListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Render"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Asset ID."
          },
          "filename": {
            "type": "string",
            "description": "Original filename."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the asset."
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the asset."
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Upload timestamp."
          }
        }
      },
      "AssetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the deletion was successful."
          },
          "message": {
            "type": "string",
            "description": "Confirmation message."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or missing required fields.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
