{
  "openapi": "3.0.3",
  "info": {
    "title": "Census Data API",
    "version": "1.0.0",
    "description": "The U.S. Census Bureau Data API provides access to over 1,700 datasets of Census data including the American Community Survey, Decennial Census, Economic Census, Population Estimates, and more. Data is queried by specifying a dataset, variables (columns), and geographic filters.",
    "x-jentic-source-url": "https://www.census.gov/data/developers/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.census.gov/data"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List Available Datasets",
        "description": "Returns a catalog of all available Census API datasets with their metadata, vintage years, and access URLs.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Dataset catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetCatalog"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/acs/acs5": {
      "get": {
        "operationId": "queryAcs5Year",
        "summary": "Query ACS 5-Year Estimates",
        "description": "Query the American Community Survey 5-Year Data. Returns detailed demographic, social, economic, and housing data down to the block-group level.",
        "tags": [
          "American Community Survey"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Data vintage year (e.g. 2022)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of variable names to retrieve (e.g. NAME,B01001_001E)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": true,
            "description": "Geography level to retrieve (e.g. state:*, county:*, tract:*)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "description": "Parent geography filter (e.g. state:06 for California)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Your Census API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of arrays - first row is headers, subsequent rows are data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid variable or geography",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/acs/acs1": {
      "get": {
        "operationId": "queryAcs1Year",
        "summary": "Query ACS 1-Year Estimates",
        "description": "Query the American Community Survey 1-Year Data for areas with populations of 65,000+.",
        "tags": [
          "American Community Survey"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Census data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/dec/pl": {
      "get": {
        "operationId": "queryDecennialPL",
        "summary": "Query Decennial Census Redistricting Data",
        "description": "Query the Decennial Census Public Law 94-171 Redistricting Data at all geographic levels.",
        "tags": [
          "Decennial Census"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Census year (2020, 2010, 2000)",
            "schema": {
              "type": "integer",
              "enum": [
                2020,
                2010,
                2000
              ]
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Census data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/dec/dhc": {
      "get": {
        "operationId": "queryDecennialDHC",
        "summary": "Query Decennial Demographic and Housing Characteristics",
        "description": "Query demographic and housing data from the Decennial Census.",
        "tags": [
          "Decennial Census"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Census data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/pep/population": {
      "get": {
        "operationId": "queryPopulationEstimates",
        "summary": "Query Population Estimates",
        "description": "Query population estimates and projections data.",
        "tags": [
          "Population Estimates"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Census data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/ecnbasic": {
      "get": {
        "operationId": "queryEconomicCensus",
        "summary": "Query Economic Census",
        "description": "Query economic and business data at county level including establishments, sales, payroll, and employees.",
        "tags": [
          "Economic Census"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NAICS2017",
            "in": "query",
            "required": false,
            "description": "NAICS industry code filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Census data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/idb/1year": {
      "get": {
        "operationId": "queryInternationalDatabase",
        "summary": "Query International Database",
        "description": "Query demographic indicators for countries and areas with populations of 5,000 or more.",
        "tags": [
          "International"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "for",
            "in": "query",
            "required": false,
            "description": "Country FIPS code filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "YR",
            "in": "query",
            "required": false,
            "description": "Reference year",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Census data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CensusDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/acs/acs5/variables": {
      "get": {
        "operationId": "listAcs5Variables",
        "summary": "List ACS 5-Year Variables",
        "description": "Returns metadata for all available variables in the ACS 5-Year dataset for a given year.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variable metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariablesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{year}/acs/acs5/geography": {
      "get": {
        "operationId": "listAcs5Geographies",
        "summary": "List ACS 5-Year Available Geographies",
        "description": "Returns available geography levels and hierarchy for the ACS 5-Year dataset.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geography metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CensusDataResponse": {
        "type": "array",
        "description": "Array of arrays. First element is the header row with variable/geography names. Subsequent elements are data rows.",
        "items": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "DatasetCatalog": {
        "type": "object",
        "properties": {
          "dataset": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "c_vintage": {
                  "type": "integer",
                  "description": "Data vintage year"
                },
                "c_dataset": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "c_isAvailable": {
                  "type": "boolean"
                },
                "distribution": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "VariablesResponse": {
        "type": "object",
        "properties": {
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "concept": {
                  "type": "string"
                },
                "predicateType": {
                  "type": "string"
                },
                "group": {
                  "type": "string"
                },
                "limit": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "Census API key (optional for low-volume requests, required for higher rate limits)"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "American Community Survey"
    },
    {
      "name": "Decennial Census"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Economic Census"
    },
    {
      "name": "International"
    },
    {
      "name": "Population Estimates"
    }
  ]
}
