{
  "openapi": "3.0.3",
  "info": {
    "title": "EPA ECHO API",
    "version": "1.0.0",
    "description": "EPA's Enforcement and Compliance History Online (ECHO) provides REST web services for searching and retrieving environmental compliance and enforcement data for facilities regulated under the Clean Air Act, Clean Water Act, Safe Drinking Water Act, and Resource Conservation and Recovery Act. Services are query-only and require no authentication.",
    "x-jentic-source-url": "https://echo.epa.gov/tools/web-services",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://ofmpub.epa.gov/echo"
    }
  ],
  "paths": {
    "/echo_rest_services.get_facilities": {
      "get": {
        "operationId": "searchAllFacilities",
        "summary": "All Media Programs Facility Search",
        "description": "Search across all environmental program records for facilities. The most general facility search type.",
        "tags": [
          "Facility Search"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_fn",
            "in": "query",
            "required": false,
            "description": "Facility name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_sa",
            "in": "query",
            "required": false,
            "description": "Street address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_ct",
            "in": "query",
            "required": false,
            "description": "City name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "description": "Two-letter state code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_zip",
            "in": "query",
            "required": false,
            "description": "Five-digit ZIP code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_fips",
            "in": "query",
            "required": false,
            "description": "FIPS county code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_tribal",
            "in": "query",
            "required": false,
            "description": "Tribal area flag",
            "schema": {
              "type": "string",
              "enum": [
                "Y",
                "N"
              ]
            }
          },
          {
            "name": "p_sic",
            "in": "query",
            "required": false,
            "description": "Standard Industrial Classification code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_naics",
            "in": "query",
            "required": false,
            "description": "NAICS code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_med",
            "in": "query",
            "required": false,
            "description": "Environmental media filter",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "C",
                "R",
                "W",
                "ALL"
              ]
            }
          },
          {
            "name": "p_qiv",
            "in": "query",
            "required": false,
            "description": "Quarter in violation filter",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "GT1",
                "GT2",
                "GT4",
                "GT8",
                "12"
              ]
            }
          },
          {
            "name": "p_pn",
            "in": "query",
            "required": false,
            "description": "Permit number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "pageno",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Facility search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/air_rest_services.get_facilities": {
      "get": {
        "operationId": "searchAirFacilities",
        "summary": "Air Facility Search",
        "description": "Search for stationary sources regulated under the Clean Air Act using ICIS-Air, NEI, GHG, TRI, and CAMD data.",
        "tags": [
          "Facility Search"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_fn",
            "in": "query",
            "required": false,
            "description": "Facility name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "description": "State code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_ct",
            "in": "query",
            "required": false,
            "description": "City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_zip",
            "in": "query",
            "required": false,
            "description": "ZIP code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_sic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_naics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_qiv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "GT1",
                "GT2",
                "GT4",
                "GT8",
                "12"
              ]
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "pageno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Air facility search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cwa_rest_services.get_facilities": {
      "get": {
        "operationId": "searchWaterFacilities",
        "summary": "Wastewater/Stormwater/Biosolids Facility Search",
        "description": "Search for facilities regulated under the Clean Water Act NPDES program using ICIS-NPDES data.",
        "tags": [
          "Facility Search"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_fn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_ct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_pn",
            "in": "query",
            "required": false,
            "description": "NPDES permit number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "pageno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Facility search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rcra_rest_services.get_facilities": {
      "get": {
        "operationId": "searchHazardousWasteFacilities",
        "summary": "Hazardous Waste Facility Search",
        "description": "Search for hazardous waste handlers regulated under RCRA Subtitle C using RCRAInfo data.",
        "tags": [
          "Facility Search"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_fn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_ct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "pageno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Facility search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sdw_rest_services.get_systems": {
      "get": {
        "operationId": "searchDrinkingWaterSystems",
        "summary": "Drinking Water System Search",
        "description": "Search for public drinking water systems regulated under the Safe Drinking Water Act using SDWIS/Fed data.",
        "tags": [
          "Facility Search"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_fn",
            "in": "query",
            "required": false,
            "description": "System name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_ct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_pwsid",
            "in": "query",
            "required": false,
            "description": "Public water system ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "pageno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Water system results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dfr_rest_services.get_dfr": {
      "get": {
        "operationId": "getDetailedFacilityReport",
        "summary": "Detailed Facility Report",
        "description": "Get a comprehensive report for a single facility across all environmental programs.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_id",
            "in": "query",
            "required": true,
            "description": "Facility Registry System ID or permit number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed facility report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedFacilityReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eff_rest_services.get_effluent_chart": {
      "get": {
        "operationId": "getEffluentChart",
        "summary": "Effluent Charts",
        "description": "Get effluent data including permitted limits, releases, and violations over time for an NPDES permit.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_id",
            "in": "query",
            "required": true,
            "description": "NPDES permit ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_parameter",
            "in": "query",
            "required": false,
            "description": "Pollutant parameter code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Effluent data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/case_rest_services.get_cases": {
      "get": {
        "operationId": "searchEnforcementCases",
        "summary": "Enforcement Case Search",
        "description": "Search for civil and criminal enforcement cases from EPA actions using ICIS and criminal prosecutions data.",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_case_name",
            "in": "query",
            "required": false,
            "description": "Case name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_case_type",
            "in": "query",
            "required": false,
            "description": "Case type (civil or criminal)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_date_range",
            "in": "query",
            "required": false,
            "description": "Date range filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "pageno",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enforcement case results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ccs_rest_services.get_ccs": {
      "get": {
        "operationId": "corporateComplianceScreener",
        "summary": "Corporate Compliance Screener",
        "description": "Screen multiple EPA-regulated facilities for recent compliance issues or enforcement actions.",
        "tags": [
          "Enforcement"
        ],
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML",
                "JSONP"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "p_fn",
            "in": "query",
            "required": false,
            "description": "Company/facility name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p_st",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance screening results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FacilitySearchResponse": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "object",
            "properties": {
              "Message": {
                "type": "string"
              },
              "TotalCount": {
                "type": "string"
              },
              "PageNo": {
                "type": "string"
              },
              "Facilities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Facility"
                }
              }
            }
          }
        }
      },
      "Facility": {
        "type": "object",
        "properties": {
          "FacilityName": {
            "type": "string"
          },
          "RegistryId": {
            "type": "string"
          },
          "FacAddr": {
            "type": "string"
          },
          "FacCity": {
            "type": "string"
          },
          "FacState": {
            "type": "string"
          },
          "FacZip": {
            "type": "string"
          },
          "FacCounty": {
            "type": "string"
          },
          "FacLat": {
            "type": "string"
          },
          "FacLong": {
            "type": "string"
          },
          "FacSICCodes": {
            "type": "string"
          },
          "FacNAICSCodes": {
            "type": "string"
          },
          "CurrSvFlag": {
            "type": "string"
          },
          "CurrVioFlag": {
            "type": "string"
          },
          "QtrsWithNC": {
            "type": "string"
          },
          "CAA_FLAG": {
            "type": "string"
          },
          "CWA_FLAG": {
            "type": "string"
          },
          "RCRA_FLAG": {
            "type": "string"
          },
          "SDWA_FLAG": {
            "type": "string"
          },
          "TRI_FLAG": {
            "type": "string"
          }
        }
      },
      "DetailedFacilityReport": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "object",
            "properties": {
              "Permits": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "Inspections": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "Violations": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "EnforcementActions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "Demographics": {
                "type": "object"
              },
              "MapOutput": {
                "type": "object"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": [],
  "tags": [
    {
      "name": "Enforcement"
    },
    {
      "name": "Facility Search"
    },
    {
      "name": "Reports"
    }
  ]
}
