{
  "openapi": "3.0.3",
  "info": {
    "title": "Moesif API Analytics",
    "version": "1.0",
    "description": "Moesif API Analytics and Monetization platform. Track API calls, manage users and companies, and access analytics workspaces.",
    "contact": {
      "name": "Moesif",
      "url": "https://www.moesif.com"
    },
    "x-jentic-source-url": "https://www.moesif.com/docs/api"
  },
  "servers": [
    {
      "url": "https://api.moesif.net",
      "description": "Collector API (for sending events)"
    },
    {
      "url": "https://api.moesif.com/v1",
      "description": "Management API"
    }
  ],
  "security": [
    {
      "applicationId": []
    }
  ],
  "components": {
    "securitySchemes": {
      "applicationId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Moesif-Application-Id",
        "description": "Your Moesif Application Id (Collector API key)"
      },
      "managementToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Management API Token for account-level operations"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "EventModel": {
        "type": "object",
        "required": [
          "request",
          "response"
        ],
        "properties": {
          "request": {
            "$ref": "#/components/schemas/EventRequestModel"
          },
          "response": {
            "$ref": "#/components/schemas/EventResponseModel"
          },
          "session_token": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "direction": {
            "type": "string",
            "enum": [
              "Incoming",
              "Outgoing"
            ]
          }
        }
      },
      "EventRequestModel": {
        "type": "object",
        "required": [
          "time",
          "uri",
          "verb"
        ],
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "uri": {
            "type": "string"
          },
          "verb": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "object"
          },
          "transfer_encoding": {
            "type": "string"
          }
        }
      },
      "EventResponseModel": {
        "type": "object",
        "required": [
          "time",
          "status"
        ],
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "integer"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "object"
          },
          "transfer_encoding": {
            "type": "string"
          }
        }
      },
      "UserModel": {
        "type": "object",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "session_token": {
            "type": "string"
          },
          "user_agent_string": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time"
          },
          "ip_address": {
            "type": "string"
          },
          "campaign": {
            "$ref": "#/components/schemas/CampaignModel"
          }
        }
      },
      "CompanyModel": {
        "type": "object",
        "required": [
          "company_id"
        ],
        "properties": {
          "company_id": {
            "type": "string"
          },
          "company_domain": {
            "type": "string"
          },
          "session_token": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "modified_time": {
            "type": "string",
            "format": "date-time"
          },
          "ip_address": {
            "type": "string"
          },
          "campaign": {
            "$ref": "#/components/schemas/CampaignModel"
          }
        }
      },
      "CampaignModel": {
        "type": "object",
        "properties": {
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "referring_domain": {
            "type": "string"
          },
          "gclid": {
            "type": "string"
          }
        }
      },
      "ActionModel": {
        "type": "object",
        "required": [
          "action_name",
          "transaction_id"
        ],
        "properties": {
          "action_name": {
            "type": "string"
          },
          "transaction_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "session_token": {
            "type": "string"
          },
          "request": {
            "$ref": "#/components/schemas/EventRequestModel"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "SubscriptionModel": {
        "type": "object",
        "required": [
          "subscription_id",
          "company_id",
          "status"
        ],
        "properties": {
          "subscription_id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "current_period_start": {
            "type": "string",
            "format": "date-time"
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "cancelled",
              "paused"
            ]
          },
          "metadata": {
            "type": "object"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item_id": {
                  "type": "string"
                },
                "price_id": {
                  "type": "string"
                },
                "plan_id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/events": {
      "post": {
        "operationId": "createEvent",
        "tags": [
          "Events"
        ],
        "summary": "Log a single API call event",
        "description": "Create a single API event. Use the Collector API server.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/batch": {
      "post": {
        "operationId": "createEventsBatch",
        "tags": [
          "Events"
        ],
        "summary": "Log a batch of API call events",
        "description": "Send a batch of API events (up to 150MB per batch).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EventModel"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Events created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/actions": {
      "post": {
        "operationId": "createAction",
        "tags": [
          "Actions"
        ],
        "summary": "Log a single user action",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Action created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Log a single user action"
      }
    },
    "/v1/actions/batch": {
      "post": {
        "operationId": "createActionsBatch",
        "tags": [
          "Actions"
        ],
        "summary": "Log a batch of user actions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActionModel"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Actions created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Log a batch of user actions"
      }
    },
    "/v1/users": {
      "post": {
        "operationId": "updateUser",
        "tags": [
          "Users"
        ],
        "summary": "Update or create a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or create a user"
      }
    },
    "/v1/users/batch": {
      "post": {
        "operationId": "updateUsersBatch",
        "tags": [
          "Users"
        ],
        "summary": "Update or create users in batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Users updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or create users in batch"
      }
    },
    "/v1/users/{id}": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "summary": "Get user profile",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Get user profile"
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Delete a user"
      }
    },
    "/v1/companies": {
      "post": {
        "operationId": "updateCompany",
        "tags": [
          "Companies"
        ],
        "summary": "Update or create a company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or create a company"
      }
    },
    "/v1/companies/batch": {
      "post": {
        "operationId": "updateCompaniesBatch",
        "tags": [
          "Companies"
        ],
        "summary": "Update or create companies in batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Companies updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or create companies in batch"
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "tags": [
          "Companies"
        ],
        "summary": "Get company profile",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Company not found"
          }
        },
        "description": "Get company profile"
      },
      "delete": {
        "operationId": "deleteCompany",
        "tags": [
          "Companies"
        ],
        "summary": "Delete a company",
        "security": [
          {
            "managementToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Company not found"
          }
        },
        "description": "Delete a company"
      }
    },
    "/v1/subscriptions": {
      "post": {
        "operationId": "updateSubscription",
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update or create a subscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or create a subscription"
      }
    },
    "/v1/subscriptions/batch": {
      "post": {
        "operationId": "updateSubscriptionsBatch",
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update or create subscriptions in batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubscriptionModel"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriptions updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or create subscriptions in batch"
      }
    },
    "/v1/search/~/events": {
      "post": {
        "operationId": "searchEvents",
        "tags": [
          "Search"
        ],
        "summary": "Search API events",
        "security": [
          {
            "managementToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object"
                  },
                  "from": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "to": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search API events"
      }
    },
    "/v1/search/~/users": {
      "post": {
        "operationId": "searchUsers",
        "tags": [
          "Search"
        ],
        "summary": "Search users",
        "security": [
          {
            "managementToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search users"
      }
    },
    "/v1/search/~/companies": {
      "post": {
        "operationId": "searchCompanies",
        "tags": [
          "Search"
        ],
        "summary": "Search companies",
        "security": [
          {
            "managementToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search companies"
      }
    }
  },
  "tags": [
    {
      "name": "Actions"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Events"
    },
    {
      "name": "Search"
    },
    {
      "name": "Subscriptions"
    },
    {
      "name": "Users"
    }
  ]
}
