{
  "openapi": "3.0.1",
  "info": {
    "title": "Erp.BO.PerConSvc",
    "description": "Handles the Person Contact business object.",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/reskom/ResourceGroups/v1"
  },
  "servers": [
    {
      "url": "https://se10test1.seyerind.com/kinetictest/api/v1/Erp.BO.PerConSvc"
    }
  ],
  "paths": {
    "/GetRows": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "GetRows",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "Get_GetRows",
        "parameters": [
          {
            "name": "whereClausePerCon",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClausePerConAttch",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClausePerConLnk",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "GetByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "Get_GetByID",
        "parameters": [
          {
            "name": "perConID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "GetList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "Get_GetList",
        "parameters": [
          {
            "name": "whereClause",
            "in": "query",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "description": "Page of rows to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetClientFileName": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetClientFileName",
        "operationId": "GetClientFileName",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClientFileName_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClientFileName_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClientFileName_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClientFileName_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetPerConGlobalFields": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetPerConGlobalFields",
        "operationId": "GetPerConGlobalFields",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPerConGlobalFields_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPerConGlobalFields_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPerConGlobalFields_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPerConGlobalFields_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeGlobalPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeGlobalPerCon",
        "description": "Method to call when changing the GlobalPerCon on a PerCon.",
        "operationId": "ChangeGlobalPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeGlobalPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeGlobalPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeGlobalPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeGlobalPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangePerConLnk": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangePerConLnk",
        "operationId": "ChangePerConLnk",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePerConLnk_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePerConLnk_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePerConLnk_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePerConLnk_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckDupPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckDupPerCon",
        "description": "This method checks the Name, FirstName and LastName fields to see if there\r\nare any duplicate contacts. A ListDataSet will be returned to the user\r\nof any duplicates asking if the user wants to continue. Needs to be run\r\nbefore Update on a NEW record only.",
        "operationId": "CheckDupPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckDupPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckDupPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDupPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDupPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultName": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultName",
        "description": "This method populates the detail fields from PerCon.Name when targetName = \"Detail\".\r\nWhen targetField = \"Name\", then the PerCon.Name is built from the detail fields.",
        "operationId": "DefaultName",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultName_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultName_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultName_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultName_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetGlbPerConList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetGlbPerConList",
        "description": "This method returns the GlbPerCon dataset based on a delimited list of GlbPerConID values passed in.",
        "operationId": "GetGlbPerConList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGlbPerConList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGlbPerConList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGlbPerConList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGlbPerConList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetPerConForLink": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetPerConForLink",
        "description": "This returns the PerCon dataset for linking.",
        "operationId": "GetPerConForLink",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPerConForLink_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPerConForLink_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPerConForLink_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPerConForLink_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/LinkGlbPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method LinkGlbPerCon",
        "description": "This method performs the actual logic behind linking a PerCon. It is run after\r\nthe PreLinkGlbPerCon method which determines the PerConID to link to.\r\nIf the PerConID is for a PerCon that already exists, the GlbPerCon information is\r\ntranslated and then copied to the PerConDataSet as an update.\r\nIf the PerConID is for a new PerCon, the GlbPerCon information is translated and then\r\ncopied to the PerConDataSet as an Add. Until the update method is run on PerCon record\r\nthe Link process is not completed.",
        "operationId": "LinkGlbPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkGlbPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkGlbPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkGlbPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkGlbPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/PreLinkGlbPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method PreLinkGlbPerCon",
        "description": "Linking a GlbPerCon record ties a global record to a new or existing PerCon record so\r\nthat any changes made to the GlbPerCon record in another company are automatically copied\r\nto any linked PerCon's.\r\nThis method performs the pre link logic to check of okay to link or get the new PerConID\r\nto create/link to. Will be run before LinkGlbPerCon which actually creates/updates a\r\nPerCon record and will send the modified record back for update.  When the Link \"button\" is\r\noriginally selected, the LinkPerConID will be defaulted to the GlbPerConID field.  It will then\r\ncheck to see if this PerConID is available for use. If available for use the system will return a\r\nquestion asking the user if they want to use this number.  If the answer is no, then the user\r\neither needs to select an existing PerConID to link to or enter a brand new number.  You will\r\nrun this method until the user answer is yes. Then the LinkGlbPerCon method is called.",
        "operationId": "PreLinkGlbPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreLinkGlbPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PreLinkGlbPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreLinkGlbPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreLinkGlbPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/SkipGlbPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method SkipGlbPerCon",
        "description": "This method performs the logic behind the skip option for GlbPerCon\r\nSkip - sets the Skipped flag to true.\r\nIf the PerConID field is not 0 will error out",
        "operationId": "SkipGlbPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkipGlbPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SkipGlbPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkipGlbPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkipGlbPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UnlinkGlbPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UnlinkGlbPerCon",
        "description": "This method performs the logic behind the unlink option for GlbPerCon\r\nUnlink - clears the PerConID field in GlbPerCon.  Returns the PerCon DataSet",
        "operationId": "UnlinkGlbPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnlinkGlbPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnlinkGlbPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlinkGlbPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnlinkGlbPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/IsPayrollManager": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method IsPayrollManager",
        "operationId": "IsPayrollManager",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsPayrollManager_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsPayrollManager_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewPerCon": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewPerCon",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewPerCon",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewPerCon_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewPerCon_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewPerCon_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewPerCon_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewPerConAttch": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewPerConAttch",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewPerConAttch",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewPerConAttch_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewPerConAttch_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewPerConAttch_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewPerConAttch_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewPerConLnk": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewPerConLnk",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewPerConLnk",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewPerConLnk_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewPerConLnk_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewPerConLnk_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewPerConLnk_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteByID",
        "description": "Deletes a row given its ID.",
        "operationId": "DeleteByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "GetBySysRowID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "Get_GetBySysRowID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowIDs": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "GetBySysRowIDs",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "Get_GetBySysRowIDs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/Update": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method Update",
        "description": "Commits the DataSet changes to the data store.",
        "operationId": "Update",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UpdateExt": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UpdateExt",
        "description": "Apply input data to service by calling GetByID/GetNew/Update methods.",
        "operationId": "UpdateExt",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Erp.Tablesets.PerConRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "PerConID": {
            "type": "integer",
            "description": "Unique identifier for a PerCon record.",
            "format": "int32"
          },
          "Name": {
            "type": "string",
            "description": "Full name of the contact."
          },
          "FirstName": {
            "type": "string",
            "description": "Contact's first name."
          },
          "MiddleName": {
            "type": "string",
            "description": "Contact's middle name."
          },
          "LastName": {
            "type": "string",
            "description": "Contact's last name."
          },
          "PRName": {
            "type": "string",
            "description": "Name used by Payroll - defaults to FullName - link this field to the name field in Empbasic and in the future to PREmpMas."
          },
          "Func": {
            "type": "string",
            "description": "Used to enter a short description that should indicate what the contacts main function is. Ex: Shipping, Buyer, Engineer. This is an optional field."
          },
          "FaxNum": {
            "type": "string",
            "description": "The contact's fax number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contact's number is blank."
          },
          "PhoneNum": {
            "type": "string",
            "description": "The contact's business telephone number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contacts number is blank."
          },
          "EMailAddress": {
            "type": "string",
            "description": "The contact's email address."
          },
          "CellPhoneNum": {
            "type": "string",
            "description": "The contact's cell phone number."
          },
          "PagerNum": {
            "type": "string",
            "description": "The contact's pager number."
          },
          "HomeNum": {
            "type": "string",
            "description": "The contact's home number."
          },
          "AltNum": {
            "type": "string",
            "description": "The contact's alternate phone number."
          },
          "Prefix": {
            "type": "string",
            "description": "Contact's prefix."
          },
          "Suffix": {
            "type": "string",
            "description": "Contact's suffix."
          },
          "Initials": {
            "type": "string",
            "description": "Contact's initials."
          },
          "WebSite": {
            "type": "string",
            "description": "Contact's website."
          },
          "IM": {
            "type": "string",
            "description": "Contact's IM."
          },
          "Twitter": {
            "type": "string",
            "description": "Contact's Twitter."
          },
          "LinkedIn": {
            "type": "string",
            "description": "Contact's LinkedIn."
          },
          "FaceBook": {
            "type": "string",
            "description": "Contact's FaceBook."
          },
          "WebLink1": {
            "type": "string",
            "description": "User defined Link 1."
          },
          "WebLink2": {
            "type": "string",
            "description": "User defined Link 2."
          },
          "WebLink3": {
            "type": "string",
            "description": "User defined Link 3."
          },
          "WebLink4": {
            "type": "string",
            "description": "User defined Link 4."
          },
          "WebLink5": {
            "type": "string",
            "description": "User defined Link 5."
          },
          "Address1": {
            "type": "string",
            "description": "Address line 1"
          },
          "Address2": {
            "type": "string",
            "description": "Address line 2"
          },
          "Address3": {
            "type": "string",
            "description": "Address line 3"
          },
          "City": {
            "type": "string",
            "description": "City"
          },
          "State": {
            "type": "string",
            "description": "State/Province"
          },
          "Zip": {
            "type": "string",
            "description": "Zip/Postal Code"
          },
          "Country": {
            "type": "string",
            "description": "Country is used as part of the mailing address. It can be left blank."
          },
          "CountryNum": {
            "type": "integer",
            "description": "The Country.CountryNum value related to the SalesRep.Country value.",
            "format": "int32"
          },
          "CorpName": {
            "type": "string",
            "description": "The company name of the contact's mailing address. (See Address1 for additional information)."
          },
          "RoleCode": {
            "type": "string",
            "description": "RoleCD.RoleCode value of the role assigned to the contact."
          },
          "Comment": {
            "type": "string",
            "description": "Comments are intended to be internal comments about a specific contact."
          },
          "ContactTitle": {
            "type": "string",
            "description": "Contact's title."
          },
          "ReportsTo": {
            "type": "string",
            "description": "The name of the person this contact reports to."
          },
          "PRLastName": {
            "type": "string",
            "description": "Contact's payroll last name."
          },
          "PRFirstName": {
            "type": "string",
            "description": "Contact's payroll first name."
          },
          "PRMiddleName": {
            "type": "string",
            "description": "Contact's payroll middle name."
          },
          "DcdUserID": {
            "type": "string",
            "description": "The System User ID."
          },
          "PhotoFile": {
            "type": "string",
            "description": "Name of file that contains the employee's photo image.  This can be blank (no photo available).  Employee photos are stored in the following directory structure ManufacturingSystem\\Emphoto\\(Company ID). directory"
          },
          "GlobalPerCon": {
            "type": "boolean",
            "description": "Marks the PerCon as a global PerCon, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "HCMLinked": {
            "type": "boolean",
            "description": "Indicates if the record is linked from HCM"
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "IssuerPrsnIDCode": {
            "type": "string",
            "description": "Used in Romania CSF - Additional info for printing on invoice, such as Name & Surname, Personal ID code, ID type & serial number, date of ID issuance."
          },
          "IssuerIDType": {
            "type": "string",
            "description": "Used in Romania CSF - Additional info for printing on invoice, such as Name & Surname, Personal ID code, ID type & serial number, date of ID issuance."
          },
          "IssuerName": {
            "type": "string",
            "description": "Used in Romania CSF - Additional info for printing on invoice, such as Name & Surname, Personal ID code, ID type & serial number, date of ID issuance."
          },
          "IssuerSurname": {
            "type": "string",
            "description": "Used in Romania CSF - Additional info for printing on invoice, such as Name & Surname, Personal ID code, ID type & serial number, date of ID issuance."
          },
          "IssuerSerialNum": {
            "type": "string",
            "description": "Used in Romania CSF - Additional info for printing on invoice, such as Name & Surname, Personal ID code, ID type & serial number, date of ID issuance."
          },
          "IssuerIDIssDate": {
            "type": "string",
            "description": "Used in Romania CSF - Additional info for printing on invoice, such as Name & Surname, Personal ID code, ID type & serial number, date of ID issuance.",
            "format": "date-time"
          },
          "ImageID": {
            "type": "string",
            "description": "ImageID"
          },
          "CrtBuyerLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that a Buyer link should be created if it doesn't exist already."
          },
          "CrtEmpLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that an Employee link should be created if it doesn't exist already."
          },
          "CrtPREmpLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that a PR Employee link should be created if it doesn't exist already."
          },
          "CrtWFLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that a Work Force link should be created if it doesn't exist already."
          },
          "EnableGlbLock": {
            "type": "boolean"
          },
          "EnableGlbPerCon": {
            "type": "boolean"
          },
          "GlbFlag": {
            "type": "boolean",
            "description": "Indicates if the PerCon is Global (master or linked)"
          },
          "GlbLink": {
            "type": "string",
            "description": "Delimited list of GlbCompany and GlbPerConID that is linking to this PerCon."
          },
          "PhotoFilePath": {
            "type": "string",
            "description": "Path to the photo file if it exists."
          },
          "EnableCreateBuyer": {
            "type": "boolean"
          },
          "EnableCreateEmployee": {
            "type": "boolean"
          },
          "EnableCreatePREmployee": {
            "type": "boolean"
          },
          "EnableCreateWorkForce": {
            "type": "boolean"
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "RoleCodeRoleDescription": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          },
          "UD_SysRevID": {
            "type": "string",
            "format": "byte",
            "example": "0"
          },
          "Number01": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.PerConAttchRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string"
          },
          "PerConID": {
            "type": "integer",
            "format": "int32"
          },
          "DrawingSeq": {
            "type": "integer",
            "format": "int32"
          },
          "XFileRefNum": {
            "type": "integer",
            "format": "int32"
          },
          "SysRevID": {
            "type": "integer",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ForeignSysRowID": {
            "type": "string",
            "format": "uuid"
          },
          "DrawDesc": {
            "type": "string"
          },
          "FileName": {
            "type": "string"
          },
          "PDMDocID": {
            "type": "string"
          },
          "DocTypeID": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.PerConLnkRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "PerConID": {
            "type": "integer",
            "description": "Unique identifier for a PerCon record.",
            "format": "int32"
          },
          "ContextLink": {
            "type": "string",
            "description": " The table name and context that this PerConLnk is related to:\r\nCustomer(If related to CustCnt and CustCnt.ShipTonum = \"\")\r\nShip to(If related to CustCnt and CustCnt.ShipTonum <> \"\")\r\nSupplier((If related to VendCnt and VendCnt.PurPoint = \"\")\r\nSupplier PP((If related to VendCnt and VendCnt.PurPoint <> \"\")\r\nEmployee(If related to EmpBasic)\r\nWork force (If related to SalesRep)\r\nBuyer(If related to PurAgent)"
          },
          "LinkSysRowID": {
            "type": "string",
            "description": "The SysRowId of the linked table.",
            "format": "uuid"
          },
          "PrimaryContext": {
            "type": "boolean",
            "description": "Flag that indicates the primary link of the Person/Contact."
          },
          "FaxNum": {
            "type": "string",
            "description": "The contact's fax number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contact's number is blank."
          },
          "PhoneNum": {
            "type": "string",
            "description": "The contact's business telephone number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contacts number is blank."
          },
          "EMailAddress": {
            "type": "string",
            "description": "The contact's email address."
          },
          "CellPhoneNum": {
            "type": "string",
            "description": "The contact's cell phone number."
          },
          "PagerNum": {
            "type": "string",
            "description": "The contact's pager number."
          },
          "HomeNum": {
            "type": "string",
            "description": "The contact's home number."
          },
          "AltNum": {
            "type": "string",
            "description": "The contact's alternate phone number."
          },
          "WebSite": {
            "type": "string",
            "description": "Contact's website."
          },
          "IM": {
            "type": "string",
            "description": "Contact's IM."
          },
          "Twitter": {
            "type": "string",
            "description": "Contact's Twitter."
          },
          "LinkedIn": {
            "type": "string",
            "description": "Contact's LinkedIn."
          },
          "FaceBook": {
            "type": "string",
            "description": "Contact's FaceBook."
          },
          "WebLink1": {
            "type": "string",
            "description": "User defined Link 1."
          },
          "WebLink2": {
            "type": "string",
            "description": "User defined Link 2."
          },
          "WebLink3": {
            "type": "string",
            "description": "User defined Link 3."
          },
          "WebLink4": {
            "type": "string",
            "description": "User defined Link 4."
          },
          "WebLink5": {
            "type": "string",
            "description": "User defined Link 5."
          },
          "Address1": {
            "type": "string",
            "description": "Address line 1"
          },
          "Address2": {
            "type": "string",
            "description": "Address line 2"
          },
          "Address3": {
            "type": "string",
            "description": "Address line 3"
          },
          "City": {
            "type": "string",
            "description": "City"
          },
          "State": {
            "type": "string",
            "description": "State/Province"
          },
          "Zip": {
            "type": "string",
            "description": "Zip/Postal Code"
          },
          "Country": {
            "type": "string",
            "description": "Country is used as part of the mailing address. It can be left blank."
          },
          "CountryNum": {
            "type": "integer",
            "description": "The Country.CountryNum value related to the SalesRep.Country value.",
            "format": "int32"
          },
          "CorpName": {
            "type": "string",
            "description": "The company name of the contact's mailing address. (See Address1 for additional information)."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "CustID": {
            "type": "string",
            "description": "Customer ID from Customer table."
          },
          "CustName": {
            "type": "string",
            "description": "Full name of the customer."
          },
          "ShipToNum": {
            "type": "string",
            "description": "Number of the Ship To for the Customer Contact."
          },
          "ShipToName": {
            "type": "string",
            "description": "Name of the customer contact's Ship To."
          },
          "CustContactName": {
            "type": "string",
            "description": "Name of the Customer Contact."
          },
          "VendorID": {
            "type": "string",
            "description": "Vendor ID from the Vendor table."
          },
          "VendorName": {
            "type": "string",
            "description": "Name of the vendor."
          },
          "PurPoint": {
            "type": "string",
            "description": "Purchase Point from the Vendor."
          },
          "PurPointName": {
            "type": "string",
            "description": "Name of the vendor's purchase point."
          },
          "VendorContactName": {
            "type": "string",
            "description": "Name of the vendor's contact."
          },
          "SalesRepCode": {
            "type": "string",
            "description": "The code of the sales representative, from the SalesRep table."
          },
          "SalesRepName": {
            "type": "string",
            "description": "Name of the sales representative."
          },
          "BuyerID": {
            "type": "string",
            "description": "Buyer ID from the PurAgent table."
          },
          "BuyerName": {
            "type": "string",
            "description": "Name of the buyer."
          },
          "EmpID": {
            "type": "string",
            "description": "Employee ID from the EmpBasic table."
          },
          "EmpName": {
            "type": "string",
            "description": "Name of the employee."
          },
          "PREmpID": {
            "type": "string"
          },
          "PREmpName": {
            "type": "string"
          },
          "SyncNameToPerCon": {
            "type": "boolean",
            "description": "Shows the value of the Sync. Name flag in the linked record."
          },
          "SyncAddressToPerCon": {
            "type": "boolean",
            "description": "Shows the value of the Sync. Address flag in the linked record."
          },
          "SyncPhoneToPerCon": {
            "type": "boolean",
            "description": "Shows the value of the Sync. Phone flag in the linked record."
          },
          "SyncEmailToPerCon": {
            "type": "boolean",
            "description": "Shows the value of the Sync. E-mail flag in the linked record."
          },
          "SyncLinksToPerCon": {
            "type": "boolean",
            "description": "Shows the value of the Sync. Links flag in the linked record."
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionRow": {
        "type": "object",
        "properties": {
          "ColumnValues": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RowMod": {
            "type": "string"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableColumn": {
        "type": "object",
        "properties": {
          "ColumnName": {
            "type": "string",
            "nullable": true
          },
          "ColumnType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableData": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionRow"
            }
          },
          "SystemCode": {
            "type": "string",
            "nullable": true
          },
          "TableName": {
            "type": "string",
            "nullable": true
          },
          "Columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableColumn"
            },
            "nullable": true
          },
          "PrimaryKeyColumns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PeerTableSystemCode": {
            "type": "string",
            "nullable": true
          },
          "PeerTableName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.PerConTableset": {
        "type": "object",
        "properties": {
          "PerCon": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.PerConRow"
            },
            "nullable": true
          },
          "PerConAttch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.PerConAttchRow"
            },
            "nullable": true
          },
          "PerConLnk": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.PerConLnkRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetRows_input": {
        "required": [
          "whereClausePerCon",
          "whereClausePerConAttch",
          "whereClausePerConLnk",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClausePerCon": {
            "type": "string",
            "example": ""
          },
          "whereClausePerConAttch": {
            "type": "string",
            "example": ""
          },
          "whereClausePerConLnk": {
            "type": "string",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetRows_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetByID_input": {
        "required": [
          "perConID"
        ],
        "properties": {
          "perConID": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetByID_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Erp.Tablesets.PerConListRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "PerConID": {
            "type": "integer",
            "description": "Unique identifier for a PerCon record.",
            "format": "int32"
          },
          "Name": {
            "type": "string",
            "description": "Full name of the contact."
          },
          "FirstName": {
            "type": "string",
            "description": "Contact's first name."
          },
          "MiddleName": {
            "type": "string",
            "description": "Contact's middle name."
          },
          "LastName": {
            "type": "string",
            "description": "Contact's last name."
          },
          "PRName": {
            "type": "string",
            "description": "Name used by Payroll - defaults to FullName - link this field to the name field in Empbasic and in the future to PREmpMas."
          },
          "Func": {
            "type": "string",
            "description": "Used to enter a short description that should indicate what the contacts main function is. Ex: Shipping, Buyer, Engineer. This is an optional field."
          },
          "FaxNum": {
            "type": "string",
            "description": "The contact's fax number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contact's number is blank."
          },
          "PhoneNum": {
            "type": "string",
            "description": "The contact's business telephone number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contacts number is blank."
          },
          "EMailAddress": {
            "type": "string",
            "description": "The contact's email address."
          },
          "CellPhoneNum": {
            "type": "string",
            "description": "The contact's cell phone number."
          },
          "PagerNum": {
            "type": "string",
            "description": "The contact's pager number."
          },
          "HomeNum": {
            "type": "string",
            "description": "The contact's home number."
          },
          "AltNum": {
            "type": "string",
            "description": "The contact's alternate phone number."
          },
          "Prefix": {
            "type": "string",
            "description": "Contact's prefix."
          },
          "Suffix": {
            "type": "string",
            "description": "Contact's suffix."
          },
          "Initials": {
            "type": "string",
            "description": "Contact's initials."
          },
          "WebSite": {
            "type": "string",
            "description": "Contact's website."
          },
          "IM": {
            "type": "string",
            "description": "Contact's IM."
          },
          "Twitter": {
            "type": "string",
            "description": "Contact's Twitter."
          },
          "LinkedIn": {
            "type": "string",
            "description": "Contact's LinkedIn."
          },
          "FaceBook": {
            "type": "string",
            "description": "Contact's FaceBook."
          },
          "WebLink1": {
            "type": "string",
            "description": "User defined Link 1."
          },
          "WebLink2": {
            "type": "string",
            "description": "User defined Link 2."
          },
          "WebLink3": {
            "type": "string",
            "description": "User defined Link 3."
          },
          "WebLink4": {
            "type": "string",
            "description": "User defined Link 4."
          },
          "WebLink5": {
            "type": "string",
            "description": "User defined Link 5."
          },
          "Address1": {
            "type": "string",
            "description": "Address line 1"
          },
          "Address2": {
            "type": "string",
            "description": "Address line 2"
          },
          "Address3": {
            "type": "string",
            "description": "Address line 3"
          },
          "City": {
            "type": "string",
            "description": "City"
          },
          "State": {
            "type": "string",
            "description": "State/Province"
          },
          "Zip": {
            "type": "string",
            "description": "Zip/Postal Code"
          },
          "Country": {
            "type": "string",
            "description": "Country is used as part of the mailing address. It can be left blank."
          },
          "CountryNum": {
            "type": "integer",
            "description": "The Country.CountryNum value related to the SalesRep.Country value.",
            "format": "int32"
          },
          "CorpName": {
            "type": "string",
            "description": "The company name of the contact's mailing address. (See Address1 for additional information)."
          },
          "RoleCode": {
            "type": "string",
            "description": "RoleCD.RoleCode value of the role assigned to the contact."
          },
          "Comment": {
            "type": "string",
            "description": "Comments are intended to be internal comments about a specific contact."
          },
          "ContactTitle": {
            "type": "string",
            "description": "Contact's title."
          },
          "ReportsTo": {
            "type": "string",
            "description": "The name of the person this contact reports to."
          },
          "PRLastName": {
            "type": "string",
            "description": "Contact's payroll last name."
          },
          "PRFirstName": {
            "type": "string",
            "description": "Contact's payroll first name."
          },
          "PRMiddleName": {
            "type": "string",
            "description": "Contact's payroll middle name."
          },
          "DcdUserID": {
            "type": "string",
            "description": "The System User ID."
          },
          "PhotoFile": {
            "type": "string",
            "description": "Name of file that contains the employee's photo image.  This can be blank (no photo available).  Employee photos are stored in the following directory structure ManufacturingSystem\\Emphoto\\(Company ID). directory"
          },
          "GlobalPerCon": {
            "type": "boolean",
            "description": "Marks the PerCon as a global PerCon, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "CrtPREmpLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that a PR Employee link should be created if it doesn't exist already."
          },
          "CrtEmpLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that an Employee link should be created if it doesn't exist already."
          },
          "CrtBuyerLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that a Buyer link should be created if it doesn't exist already."
          },
          "CrtWFLnk": {
            "type": "boolean",
            "description": "Logical column used for Create Selected Links action menu. Indicates that a Work Force link should be created if it doesn't exist already."
          },
          "PhotoFilePath": {
            "type": "string",
            "description": "Path to the photo file if it exists."
          },
          "GlbFlag": {
            "type": "boolean",
            "description": "Indicates if the PerCon is Global (master or linked)"
          },
          "GlbLink": {
            "type": "string",
            "description": "Delimited list of GlbCompany and GlbPerConID that is linking to this PerCon."
          },
          "EnableGlbLock": {
            "type": "boolean"
          },
          "EnableGlbPerCon": {
            "type": "boolean"
          },
          "RoleCodeRoleDescription": {
            "type": "string",
            "description": "A description of the role."
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.PerConListTableset": {
        "type": "object",
        "properties": {
          "PerConList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.PerConListRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetList_input": {
        "required": [
          "whereClause",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClause": {
            "type": "string",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "description": "Page of rows to return.",
            "format": "int32"
          }
        }
      },
      "GetList_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConListTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean",
                "description": "Whether there are more pages of rows available."
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetClientFileName_input": {
        "required": [
          "IP_ServerFileName"
        ],
        "properties": {
          "IP_ServerFileName": {
            "type": "string"
          }
        }
      },
      "GetClientFileName_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetPerConGlobalFields_input": {
        "required": [
          "PerConID",
          "GlobalLock"
        ],
        "properties": {
          "PerConID": {
            "type": "integer",
            "format": "int32"
          },
          "GlobalLock": {
            "type": "boolean"
          }
        }
      },
      "GetPerConGlobalFields_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "ChangeGlobalPerCon_input": {
        "required": [
          "ipGlobalPerCon",
          "ds"
        ],
        "properties": {
          "ipGlobalPerCon": {
            "type": "boolean",
            "description": "The proposed GlobalPerCon value."
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        }
      },
      "ChangeGlobalPerCon_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "ChangePerConLnk_input": {
        "required": [
          "ipNewPerConID",
          "ipPerConID",
          "ipContextLink",
          "ipLinkSysRowID",
          "ds"
        ],
        "properties": {
          "ipNewPerConID": {
            "type": "integer",
            "description": "New PerConID.",
            "format": "int32"
          },
          "ipPerConID": {
            "type": "integer",
            "description": "Current PerConID.",
            "format": "int32"
          },
          "ipContextLink": {
            "type": "string",
            "description": "ContextLink."
          },
          "ipLinkSysRowID": {
            "type": "string",
            "description": "LinkSysRowID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        }
      },
      "ChangePerConLnk_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "CheckDupPerCon_input": {
        "required": [
          "vName",
          "vEmail",
          "vPhone",
          "vSysRowID"
        ],
        "properties": {
          "vName": {
            "type": "string",
            "description": "The name of the contact."
          },
          "vEmail": {
            "type": "string"
          },
          "vPhone": {
            "type": "string"
          },
          "vSysRowID": {
            "type": "string",
            "description": "SysRowID field of the PerCon record.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "CheckDupPerCon_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConListTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "DefaultName_input": {
        "required": [
          "targetField",
          "perConID",
          "ds"
        ],
        "properties": {
          "targetField": {
            "type": "string",
            "description": "Indicates which fields to populate either \"Detail\" or \"Name\""
          },
          "perConID": {
            "type": "integer",
            "description": "PerCon.PerConID",
            "format": "int32"
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        }
      },
      "DefaultName_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Erp.Tablesets.GlbPerConRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "PerConID": {
            "type": "integer",
            "description": "Unique identifier for a PerCon record.",
            "format": "int32"
          },
          "Name": {
            "type": "string",
            "description": "Full name of the contact."
          },
          "FirstName": {
            "type": "string",
            "description": "Contact's first name."
          },
          "MiddleName": {
            "type": "string",
            "description": "Contact's middle name."
          },
          "LastName": {
            "type": "string",
            "description": "Contact's last name."
          },
          "PRName": {
            "type": "string",
            "description": "Name used by Payroll - defaults to FullName - link this field to the name field in Empbasic and in the future to PREmpMas."
          },
          "Func": {
            "type": "string",
            "description": "Used to enter a short description that should indicate what the contacts main function is. Ex: Shipping, Buyer, Engineer. This is an optional field."
          },
          "FaxNum": {
            "type": "string",
            "description": "The contact's fax number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contact's number is blank."
          },
          "PhoneNum": {
            "type": "string",
            "description": "The contact's business telephone number. When displaying phone numbers of contacts the system will use the phone number found in the Customer or Shipto file if the contacts number is blank."
          },
          "EMailAddress": {
            "type": "string",
            "description": "The contact's email address."
          },
          "CellPhoneNum": {
            "type": "string",
            "description": "The contact's cell phone number."
          },
          "PagerNum": {
            "type": "string",
            "description": "The contact's pager number."
          },
          "HomeNum": {
            "type": "string",
            "description": "The contact's home number."
          },
          "AltNum": {
            "type": "string",
            "description": "The contact's alternate phone number."
          },
          "Prefix": {
            "type": "string",
            "description": "Contact's prefix."
          },
          "Suffix": {
            "type": "string",
            "description": "Contact's suffix."
          },
          "Initials": {
            "type": "string",
            "description": "Contact's initials."
          },
          "WebSite": {
            "type": "string",
            "description": "Contact's website."
          },
          "IM": {
            "type": "string",
            "description": "Contact's IM."
          },
          "Twitter": {
            "type": "string",
            "description": "Contact's Twitter."
          },
          "LinkedIn": {
            "type": "string",
            "description": "Contact's LinkedIn."
          },
          "FaceBook": {
            "type": "string",
            "description": "Contact's FaceBook."
          },
          "WebLink1": {
            "type": "string",
            "description": "User defined Link 1."
          },
          "WebLink2": {
            "type": "string",
            "description": "User defined Link 2."
          },
          "WebLink3": {
            "type": "string",
            "description": "User defined Link 3."
          },
          "WebLink4": {
            "type": "string",
            "description": "User defined Link 4."
          },
          "WebLink5": {
            "type": "string",
            "description": "User defined Link 5."
          },
          "Address1": {
            "type": "string",
            "description": "Address line 1"
          },
          "Address2": {
            "type": "string",
            "description": "Address line 2"
          },
          "Address3": {
            "type": "string",
            "description": "Address line 3"
          },
          "City": {
            "type": "string",
            "description": "City"
          },
          "State": {
            "type": "string",
            "description": "State/Province"
          },
          "Zip": {
            "type": "string",
            "description": "Zip/Postal Code"
          },
          "Country": {
            "type": "string",
            "description": "Country is used as part of the mailing address. It can be left blank."
          },
          "CountryNum": {
            "type": "integer",
            "description": "The Country.CountryNum value related to the SalesRep.Country value.",
            "format": "int32"
          },
          "CorpName": {
            "type": "string",
            "description": "The company name of the contact's mailing address. (See Address1 for additional information)."
          },
          "RoleCode": {
            "type": "string",
            "description": "RoleCD.RoleCode value of the role assigned to the contact."
          },
          "Comment": {
            "type": "string",
            "description": "Comments are intended to be internal comments about a specific contact."
          },
          "ContactTitle": {
            "type": "string",
            "description": "Contact's title."
          },
          "ReportsTo": {
            "type": "string",
            "description": "The name of the person this contact reports to."
          },
          "PRLastName": {
            "type": "string",
            "description": "Contact's payroll last name."
          },
          "PRFirstName": {
            "type": "string",
            "description": "Contact's payroll first name."
          },
          "PRMiddleName": {
            "type": "string",
            "description": "Contact's payroll middle name."
          },
          "DcdUserID": {
            "type": "string",
            "description": "The System User ID."
          },
          "PhotoFile": {
            "type": "string",
            "description": "Name of file that contains the employee's photo image.  This can be blank (no photo available).  Employee photos are stored in the following directory structure ManufacturingSystem\\Emphoto\\(Company ID). directory"
          },
          "GlbCompany": {
            "type": "string",
            "description": "Owner Company Identifier."
          },
          "GlbPerConID": {
            "type": "integer",
            "description": "The Owner's PerConID field identifies the PerCon and is used as the primary key.",
            "format": "int32"
          },
          "OldCompany": {
            "type": "string",
            "description": "Original Owner Company Identifier. - NOT CURRENTLY IN USE"
          },
          "OldPerConID": {
            "type": "integer",
            "description": "The Original Owner's PerConID field identifies the PerCon and is used as the primary key.   NOT CURRENTLY IN USE",
            "format": "int32"
          },
          "Skipped": {
            "type": "boolean",
            "description": "Indicates if the user chose to skip this record when linking global PerCon's.  The user can come back at a later time and choose to link a skipped PerCon if they need to."
          },
          "GlobalPerCon": {
            "type": "boolean",
            "description": "Marks the PerCon as a global PerCon, available to be sent out to other companies."
          },
          "GlobalLock": {
            "type": "boolean",
            "description": "Disables this record from receiving global updates."
          },
          "GlbName": {
            "type": "string",
            "description": "Full name of the contact. A descriptive Name assigned by the parent company user to uniquely identify the PerCon record."
          },
          "HCMLinked": {
            "type": "boolean"
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ImageID": {
            "type": "string",
            "description": "ImageID"
          },
          "GlbFlag": {
            "type": "boolean",
            "description": "Indicates if the PerCon is Global (master or linked)"
          },
          "LinkName": {
            "type": "string"
          },
          "LinkPerConID": {
            "type": "integer",
            "format": "int32"
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.GlbPerConTableset": {
        "type": "object",
        "properties": {
          "GlbPerCon": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetGlbPerConList_input": {
        "required": [
          "glbPerConIDList"
        ],
        "properties": {
          "glbPerConIDList": {
            "type": "string",
            "description": "Delimited list of GlbPerConID values"
          }
        }
      },
      "GetGlbPerConList_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetPerConForLink_input": {
        "required": [
          "ipPerConID"
        ],
        "properties": {
          "ipPerConID": {
            "type": "integer",
            "description": "Global PerConID field on the GlbPerCon record to link",
            "format": "int32"
          }
        }
      },
      "GetPerConForLink_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "LinkGlbPerCon_input": {
        "required": [
          "glbCompany",
          "glbPerConID",
          "GlbPerConDS",
          "ds1"
        ],
        "properties": {
          "glbCompany": {
            "type": "string",
            "description": "Global Company field on the GlbPerCon record to link"
          },
          "glbPerConID": {
            "type": "integer",
            "description": "Global PerConID field on the GlbPerCon record to link",
            "format": "int32"
          },
          "GlbPerConDS": {
            "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
          },
          "ds1": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        }
      },
      "LinkGlbPerCon_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds1": {
                "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "PreLinkGlbPerCon_input": {
        "required": [
          "glbCompany",
          "glbPerConID",
          "checkDuplicate",
          "ds"
        ],
        "properties": {
          "glbCompany": {
            "type": "string",
            "description": "Global Company field on the GlbPerCon record to link"
          },
          "glbPerConID": {
            "type": "integer",
            "description": "Global PerConID field on the GlbPerCon record to link",
            "format": "int32"
          },
          "checkDuplicate": {
            "type": "boolean",
            "description": "checkDuplicate"
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
          }
        }
      },
      "PreLinkGlbPerCon_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConListTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
              },
              "vMessage": {
                "type": "string",
                "description": "Returns a message the user needs to respond yes or no to. If the\r\n           user answers no, then they need to update the LinkPerConID field and then run this method\r\n           again to test the new PerConID they want to link to"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "SkipGlbPerCon_input": {
        "required": [
          "glbCompany",
          "glbPerConID",
          "ds"
        ],
        "properties": {
          "glbCompany": {
            "type": "string",
            "description": "Global Company field on the GlbPerCon record to skip"
          },
          "glbPerConID": {
            "type": "integer",
            "description": "Global PerConID field on the GlbPerCon record to skip",
            "format": "int32"
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
          }
        }
      },
      "SkipGlbPerCon_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "UnlinkGlbPerCon_input": {
        "required": [
          "glbCompany",
          "glbPerConID",
          "ds"
        ],
        "properties": {
          "glbCompany": {
            "type": "string",
            "description": "Global Company field on the GlbPerCon record to unlink"
          },
          "glbPerConID": {
            "type": "integer",
            "description": "Global PerConID field on the GlbPerCon record to unlink",
            "format": "int32"
          },
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
          }
        }
      },
      "UnlinkGlbPerCon_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
                "$ref": "#/components/schemas/Erp.Tablesets.GlbPerConTableset"
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "IsPayrollManager_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "type": "boolean"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetNewPerCon_input": {
        "required": [
          "ds"
        ],
        "properties": {
          "ds": {
            "$ref": "#/components/schemas/Erp.Tablesets.PerConTableset"
          }
        }
      },
      "GetNewPerCon_output": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "properties": {
              "ds": {
[...]
