{
  "openapi": "3.0.3",
  "info": {
    "title": "BugBug API",
    "description": "BugBug REST API for running and managing automated end-to-end tests and test suites. Used by the BugBug CLI and CI/CD integrations.",
    "version": "v1",
    "x-jentic-source-url": "https://docs.bugbug.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bugbug.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tests",
      "description": "Manage and run tests."
    },
    {
      "name": "Suites",
      "description": "Manage and run test suites."
    },
    {
      "name": "Profiles",
      "description": "Manage test profiles."
    }
  ],
  "paths": {
    "/tests": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "List tests",
        "description": "Returns a list of all tests in the project.",
        "operationId": "listTests",
        "responses": {
          "200": {
            "description": "List of tests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Test"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tests/{testId}/run": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Run a test",
        "description": "Triggers a remote execution of a specific test.",
        "operationId": "runTest",
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The test ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test run started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRun"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Test not found"
          }
        }
      }
    },
    "/tests/{testId}/stop": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Stop a test run",
        "description": "Stops a running test execution.",
        "operationId": "stopTest",
        "parameters": [
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The test run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Test run stopped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRun"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Test run not found"
          }
        }
      }
    },
    "/tests/{testRunId}/status": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get test run status",
        "description": "Returns the current status of a test run.",
        "operationId": "getTestStatus",
        "parameters": [
          {
            "name": "testRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The test run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Test run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRun"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Test run not found"
          }
        }
      }
    },
    "/tests/{testRunId}/result": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get test run result",
        "description": "Returns the detailed result of a completed test run.",
        "operationId": "getTestResult",
        "parameters": [
          {
            "name": "testRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The test run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Test run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Test run not found"
          }
        }
      }
    },
    "/suites": {
      "get": {
        "tags": [
          "Suites"
        ],
        "summary": "List test suites",
        "description": "Returns a list of all test suites in the project.",
        "operationId": "listSuites",
        "responses": {
          "200": {
            "description": "List of test suites.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Suite"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/suites/{suiteId}/run": {
      "post": {
        "tags": [
          "Suites"
        ],
        "summary": "Run a test suite",
        "description": "Triggers a remote execution of a specific test suite.",
        "operationId": "runSuite",
        "parameters": [
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The test suite ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suite run started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuiteRun"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Suite not found"
          }
        }
      }
    },
    "/suites/{suiteRunId}/stop": {
      "post": {
        "tags": [
          "Suites"
        ],
        "summary": "Stop a suite run",
        "description": "Stops a running test suite execution.",
        "operationId": "stopSuite",
        "parameters": [
          {
            "name": "suiteRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The suite run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Suite run stopped.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuiteRun"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Suite run not found"
          }
        }
      }
    },
    "/suites/{suiteRunId}/status": {
      "get": {
        "tags": [
          "Suites"
        ],
        "summary": "Get suite run status",
        "description": "Returns the current status of a suite run.",
        "operationId": "getSuiteStatus",
        "parameters": [
          {
            "name": "suiteRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The suite run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Suite run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuiteRun"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Suite run not found"
          }
        }
      }
    },
    "/suites/{suiteRunId}/result": {
      "get": {
        "tags": [
          "Suites"
        ],
        "summary": "Get suite run result",
        "description": "Returns the detailed result of a completed suite run.",
        "operationId": "getSuiteResult",
        "parameters": [
          {
            "name": "suiteRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The suite run ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Suite run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuiteResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Suite run not found"
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "List test profiles",
        "description": "Returns a list of all test profiles in the project.",
        "operationId": "listProfiles",
        "responses": {
          "200": {
            "description": "List of test profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Test": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Suite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "testCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "RunTestRequest": {
        "type": "object",
        "properties": {
          "profile": {
            "type": "string",
            "description": "Name of the test profile to use."
          },
          "variables": {
            "type": "object",
            "description": "Variable overrides for this run.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "TestRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The test run ID."
          },
          "testId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "passed",
              "failed",
              "stopped",
              "error"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TestResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "testId": {
            "type": "string"
          },
          "testName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "stopped",
              "error"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in milliseconds."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StepResult"
            }
          }
        }
      },
      "SuiteRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The suite run ID."
          },
          "suiteId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "passed",
              "failed",
              "stopped",
              "error"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SuiteResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "suiteId": {
            "type": "string"
          },
          "suiteName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "stopped",
              "error"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "Total duration in milliseconds."
          },
          "testResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestResult"
            }
          },
          "totalTests": {
            "type": "integer"
          },
          "passedTests": {
            "type": "integer"
          },
          "failedTests": {
            "type": "integer"
          }
        }
      },
      "StepResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "failed",
              "skipped"
            ]
          },
          "duration": {
            "type": "integer",
            "description": "Duration in milliseconds."
          },
          "error": {
            "type": "string",
            "description": "Error message if step failed."
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project API token from BugBug web app settings."
      }
    }
  }
}
