{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Obtener Litros de Diesel y Urea a Cargar",
    "description": "El siguiente endpoint se utiliza para obtener los litros de diesel y urea que se deben cargar  y estan autorizados al vehiculo.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/autotransportespilot-a51/Fuel_Loading/1.0.0"
  },
  "paths": {
    "/Fuel_Loading/Authorization": {
      "post": {
        "summary": "Fuel_Loading/Authorization",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_fuel_diesel": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "owu200v2fvvha"
                      },
                      "example": "167.00",
                      "default": "Litros de diesel a cargar"
                    },
                    "total_fuel_urea": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "gj1y5tg7npnhj"
                      },
                      "example": "16.70",
                      "default": "Litros de urea a cargar"
                    },
                    "total_distance": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "eg5xehefbr1h3"
                      },
                      "example": "477.00",
                      "default": "DIstancia Recorrida"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "13k8k6l56q4l0"
                      },
                      "example": "Token inv\u00e1lido o expirado"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nNota: El error 404 puede devolver cualquier de los 3 ultimos errores que estan de ejemplo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "j5t7l237g0cmv"
                      },
                      "example": "El vehiculo no Existe en la Base de Datos,Contactar al personal de Combustibles. "
                    },
                    "erro1": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "6uw6xgyj216xj"
                      },
                      "example": "El Vehiculo no tiene una fecha de carga anterior,Contactar al personal de Combustibles"
                    },
                    "error2": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "1nvhu30u9fbyk"
                      },
                      "example": "la fecha de carga anterior es mayor a la fecha de carga actual,Contactar al personal de Combustibles"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-Fuel_Loading-Authorization",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-Auth-Token",
            "description": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3NzAxMzA5OTQsImV4cCI6MTc3MDEzNDU5NCwic3ViIjoxLCJlbWFpbCI6InNpc3RlbWFzQGF0cGlsb3QubXgifQ.9MJHBrClFA5BbJxtl9M6c47XUyixxpS3i9YSoKdUCDw",
            "required": true
          }
        ],
        "description": "El token que envias en el header lo obtienes del EndPoint Auth.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Unidad": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "w8tojfqpg3usl"
                    },
                    "example": "T1350"
                  },
                  "Estacion": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "tlxuy7k7e2b2v"
                    },
                    "example": "11523"
                  }
                }
              }
            }
          },
          "description": "En el campo estacion debe ser como ustedes ubican la estacion  el equipo de IT de Autotransportes Pilot recomienda que sea un numero para evitar algun espacio en blanco al final o al principio"
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://bi.sistematpilot.com/Apis/",
      "description": ""
    }
  ]
}