{
  "swagger": "2.0",
  "info": {
    "version": "1.1.1",
    "title": "CDK Drive Get Repair Order",
    "description": "# CDK Drive Get Repair Order\n\nThe CDK Drive Get Repair Order API retrieves repair order data from the CDK data source.\n\n# What does this API do?\nThe CDK Drive Get Repair Order API allows you to retrieve Repair Order data using two different methods: Bulk \u2013 returning all open Repair Order records, the last 31 days of closed Repair Order records or a combination of open and recently closed Repair Order records (work in process). Delta - returning all changed Repair Order records in which a change has been identified since the specified start date or date range limited to a date range of yesterday and today (UTC). If the endDate is omitted, data will be retrieved from the specified startDate through today.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DealerPay/cdk-drive-get-repair-order/1.1.1"
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "authorizationUrl": "https://identity.fortellis.io/oauth2/",
      "flow": "implicit",
      "scopes": {
        "read:repairorder": "read repair order data"
      }
    }
  },
  "host": "api.fortellis.io",
  "basePath": "/drive/servicerepairorder/v3",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "CDK"
    },
    {
      "name": "CDK Drive"
    },
    {
      "name": "CDK Drive Get"
    }
  ],
  "paths": {
    "/wip": {
      "get": {
        "summary": "Get Open, Voided, and Recently Closed Repair Orders",
        "description": "Retrieves all open, voided, and recently closed repair order information within the past 48 hours and returns the operationId to be used in conjunction with the status and result endpoints.",
        "operationId": "getWIPRepairOrders",
        "tags": [
          "Get WIP Repair Orders"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Long Operations Received Status Response",
            "headers": {
              "Fort-Long-Request-Received-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request has been received by the API Publisher."
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "operationId": {
                  "description": "The identifier from the get response, used to retrieve the status.",
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "description": "Status of the long operation id.",
                  "type": "string",
                  "enum": [
                    "received",
                    "complete"
                  ]
                },
                "receivedDateTime": {
                  "description": "Date initial received request.",
                  "type": "string",
                  "format": "date-time"
                },
                "updatedDateTime": {
                  "description": "Date received response.",
                  "type": "string",
                  "format": "date-time"
                },
                "checkStatusAfterSeconds": {
                  "description": "Time after which status needs to be checked.",
                  "type": "integer",
                  "format": "int32"
                },
                "_links": {
                  "description": "Resource locations to get the operation status.",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "operationId",
                "status",
                "receivedDateTime",
                "updatedDateTime",
                "checkStatusAfterSeconds",
                "_links"
              ],
              "example": {
                "operationId": "bdd87e16-6683-4340-8f1e-3703fb99c4b0",
                "status": "received || complete",
                "receivedDateTime": "2020-06-01T00:00:00.000Z",
                "updatedDateTime": "2020-06-01T00:00:03.000Z",
                "checkStatusAfterSeconds": "30 || null",
                "_links": {
                  "status || result": {
                    "href": "https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/status || https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "bad request response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 400,
                "message": "Bad Request"
              }
            }
          },
          "401": {
            "description": "401 - Unauthorized",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "un-authorized response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 401,
                "message": "Un-Authorised"
              }
            }
          },
          "403": {
            "description": "403 - Forbidden",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "forbidden response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "resource not found response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 404,
                "message": "Not Found"
              }
            }
          },
          "429": {
            "description": "429 - Too Many Requests",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "Retry-After": {
                "type": "number"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "429 Too Many Requests",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 429,
                "message": "Too Many Requests"
              }
            }
          },
          "500": {
            "description": "500 - ServerError",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Internal Server Error response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 500,
                "message": "Internal Server Error"
              }
            }
          },
          "502": {
            "description": "502 - Bad Gateway",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Bad Gateway response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 502,
                "message": "Bad Gateway"
              }
            }
          },
          "503": {
            "description": "503 - Service Unavailable",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Service Unavailable response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 503,
                "message": "Service Unavailable"
              }
            }
          },
          "504": {
            "description": "504 - Gateway Timeout",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Gateway Timeout Response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 504,
                "message": "Gateway Timeout"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Request-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "A correlation ID (GUID) that must be sent by the caller to indicate the return of the given request and is unique per request."
          },
          {
            "name": "Department-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "This unique ID should be added by the ISV in an API call to indicate a specific department within a dealer. This is essential as some dealers have multiple departments."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Placeholder for client to indicate which content types are supported, expressed as MIME types."
          },
          {
            "name": "Subscription-Id",
            "in": "header",
            "description": "The Fortellis Marketplace subscription identifier between a user entity and the app.",
            "required": true,
            "type": "string",
            "default": "test"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Provides authorization to access Fortellis APIs. For calling a Fortellis Provider, this must be an OAuth 2.0 token issued by the Fortellis authorization server.",
            "required": true,
            "type": "string",
            "disabled": true,
            "placeholder": "Automatically set"
          }
        ],
        "security": [
          {
            "Oauth2": []
          }
        ]
      }
    },
    "/open": {
      "get": {
        "summary": "Get Open ROs Bulk",
        "description": "Retrieves all open repair order information and returns the operationId to be used in conjunction with the status and result endpoints.",
        "operationId": "getOpenRepairOrdersBulk",
        "tags": [
          "Get Open Repair Orders Bulk"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Long Operations Received Status Response",
            "headers": {
              "Fort-Long-Request-Received-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request has been received by the API Publisher."
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "operationId": {
                  "description": "The identifier from the get response, used to retrieve the status.",
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "description": "Status of the long operation id.",
                  "type": "string",
                  "enum": [
                    "received",
                    "complete"
                  ]
                },
                "receivedDateTime": {
                  "description": "Date initial received request.",
                  "type": "string",
                  "format": "date-time"
                },
                "updatedDateTime": {
                  "description": "Date received response.",
                  "type": "string",
                  "format": "date-time"
                },
                "checkStatusAfterSeconds": {
                  "description": "Time after which status needs to be checked.",
                  "type": "integer",
                  "format": "int32"
                },
                "_links": {
                  "description": "Resource locations to get the operation status.",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "operationId",
                "status",
                "receivedDateTime",
                "updatedDateTime",
                "checkStatusAfterSeconds",
                "_links"
              ],
              "example": {
                "operationId": "bdd87e16-6683-4340-8f1e-3703fb99c4b0",
                "status": "received || complete",
                "receivedDateTime": "2020-06-01T00:00:00.000Z",
                "updatedDateTime": "2020-06-01T00:00:03.000Z",
                "checkStatusAfterSeconds": "30 || null",
                "_links": {
                  "status || result": {
                    "href": "https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/status || https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "bad request response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 400,
                "message": "Bad Request"
              }
            }
          },
          "401": {
            "description": "401 - Unauthorized",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "un-authorized response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 401,
                "message": "Un-Authorised"
              }
            }
          },
          "403": {
            "description": "403 - Forbidden",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "forbidden response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "resource not found response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 404,
                "message": "Not Found"
              }
            }
          },
          "429": {
            "description": "429 - Too Many Requests",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "Retry-After": {
                "type": "number"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "429 Too Many Requests",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 429,
                "message": "Too Many Requests"
              }
            }
          },
          "500": {
            "description": "500 - ServerError",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Internal Server Error response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 500,
                "message": "Internal Server Error"
              }
            }
          },
          "502": {
            "description": "502 - Bad Gateway",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Bad Gateway response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 502,
                "message": "Bad Gateway"
              }
            }
          },
          "503": {
            "description": "503 - Service Unavailable",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Service Unavailable response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 503,
                "message": "Service Unavailable"
              }
            }
          },
          "504": {
            "description": "504 - Gateway Timeout",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Gateway Timeout Response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 504,
                "message": "Gateway Timeout"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Request-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "A correlation ID (GUID) that must be sent by the caller to indicate the return of the given request and is unique per request."
          },
          {
            "name": "Department-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "This unique ID should be added by the ISV in an API call to indicate a specific department within a dealer. This is essential as some dealers have multiple departments."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Placeholder for client to indicate which content types are supported, expressed as MIME types."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Start date for the retrieval (cannot be a future date). Retrieval will be from the start date to the current date or end date. Accepted date format is yyyy-mm-ddThh:mm:ss (e.g. 2023-01-01T10:15:30)."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "End date for the retrieval (must be greater than or equal to the start date). Extraction will be from the start date to the end date, or the current date if no end date is specified. Accepted date format is yyyy-mm-ddThh:mm:ss (e.g. 2023-01-03T10:15:30).",
            "default": "Current date"
          },
          "a1",
          "a2"
        ],
        "security": [
          {
            "Oauth2": []
          }
        ]
      }
    },
    "/open/delta": {
      "get": {
        "summary": "Get Open ROs Delta",
        "description": "Retrieves recently open Repair Order information and returns an operationId for use with the status and result endpoints. The delta method retrieves records based on Repair Order open dates, limited to a date range of yesterday and today (UTC). If the endDate is omitted, data will be retrieved from the specified startDate through today.",
        "operationId": "getOpenRepairOrdersDelta",
        "tags": [
          "Get Open Repair Orders Delta"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Long Operations Received Status Response",
            "headers": {
              "Fort-Long-Request-Received-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request has been received by the API Publisher."
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "operationId": {
                  "description": "The identifier from the get response, used to retrieve the status.",
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "description": "Status of the long operation id.",
                  "type": "string",
                  "enum": [
                    "received",
                    "complete"
                  ]
                },
                "receivedDateTime": {
                  "description": "Date initial received request.",
                  "type": "string",
                  "format": "date-time"
                },
                "updatedDateTime": {
                  "description": "Date received response.",
                  "type": "string",
                  "format": "date-time"
                },
                "checkStatusAfterSeconds": {
                  "description": "Time after which status needs to be checked.",
                  "type": "integer",
                  "format": "int32"
                },
                "_links": {
                  "description": "Resource locations to get the operation status.",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "operationId",
                "status",
                "receivedDateTime",
                "updatedDateTime",
                "checkStatusAfterSeconds",
                "_links"
              ],
              "example": {
                "operationId": "bdd87e16-6683-4340-8f1e-3703fb99c4b0",
                "status": "received || complete",
                "receivedDateTime": "2020-06-01T00:00:00.000Z",
                "updatedDateTime": "2020-06-01T00:00:03.000Z",
                "checkStatusAfterSeconds": "30 || null",
                "_links": {
                  "status || result": {
                    "href": "https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/status || https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "bad request response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 400,
                "message": "Bad Request"
              }
            }
          },
          "401": {
            "description": "401 - Unauthorized",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "un-authorized response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 401,
                "message": "Un-Authorised"
              }
            }
          },
          "403": {
            "description": "403 - Forbidden",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "forbidden response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "resource not found response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 404,
                "message": "Not Found"
              }
            }
          },
          "429": {
            "description": "429 - Too Many Requests",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "Retry-After": {
                "type": "number"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "429 Too Many Requests",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 429,
                "message": "Too Many Requests"
              }
            }
          },
          "500": {
            "description": "500 - ServerError",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Internal Server Error response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 500,
                "message": "Internal Server Error"
              }
            }
          },
          "502": {
            "description": "502 - Bad Gateway",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Bad Gateway response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 502,
                "message": "Bad Gateway"
              }
            }
          },
          "503": {
            "description": "503 - Service Unavailable",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Service Unavailable response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 503,
                "message": "Service Unavailable"
              }
            }
          },
          "504": {
            "description": "504 - Gateway Timeout",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Gateway Timeout Response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 504,
                "message": "Gateway Timeout"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Request-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "A correlation ID (GUID) that must be sent by the caller to indicate the return of the given request and is unique per request."
          },
          {
            "name": "Department-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "This unique ID should be added by the ISV in an API call to indicate a specific department within a dealer. This is essential as some dealers have multiple departments."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Placeholder for client to indicate which content types are supported, expressed as MIME types."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Start date for the retrieval (must not be in the future). Retrieval will be from the specified start date to the end date or current date, based on UTC. Accepted date format is yyyy-mm-dd (e.g. 2023-01-01)."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "End date for the retrieval (must be greater than or equal to the start date). Extraction will be from the start date to the end date, or the current UTC date if no end date is specified. Accepted date format is yyyy-mm-dd (e.g. 2023-01-03).",
            "default": "Current UTC date"
          },
          "a1",
          "a2"
        ],
        "security": [
          {
            "Oauth2": []
          }
        ]
      }
    },
    "/closed": {
      "get": {
        "summary": "Get Closed ROs Bulk",
        "description": "Retrieves closed repair order information and returns the operationId to be used in conjunction with the status and result endpoints.  If the date range is not used, the default will be the last 31 days (i.e. up to 1 month) of records based on closed date.",
        "operationId": "getClosedRepairOrdersBulk",
        "tags": [
          "Get Closed Repair Orders Bulk"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Long Operations Received Status Response",
            "headers": {
              "Fort-Long-Request-Received-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request has been received by the API Publisher."
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "operationId": {
                  "description": "The identifier from the get response, used to retrieve the status.",
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "description": "Status of the long operation id.",
                  "type": "string",
                  "enum": [
                    "received",
                    "complete"
                  ]
                },
                "receivedDateTime": {
                  "description": "Date initial received request.",
                  "type": "string",
                  "format": "date-time"
                },
                "updatedDateTime": {
                  "description": "Date received response.",
                  "type": "string",
                  "format": "date-time"
                },
                "checkStatusAfterSeconds": {
                  "description": "Time after which status needs to be checked.",
                  "type": "integer",
                  "format": "int32"
                },
                "_links": {
                  "description": "Resource locations to get the operation status.",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "operationId",
                "status",
                "receivedDateTime",
                "updatedDateTime",
                "checkStatusAfterSeconds",
                "_links"
              ],
              "example": {
                "operationId": "bdd87e16-6683-4340-8f1e-3703fb99c4b0",
                "status": "received || complete",
                "receivedDateTime": "2020-06-01T00:00:00.000Z",
                "updatedDateTime": "2020-06-01T00:00:03.000Z",
                "checkStatusAfterSeconds": "30 || null",
                "_links": {
                  "status || result": {
                    "href": "https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/status || https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "bad request response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 400,
                "message": "Bad Request"
              }
            }
          },
          "401": {
            "description": "401 - Unauthorized",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "un-authorized response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 401,
                "message": "Un-Authorised"
              }
            }
          },
          "403": {
            "description": "403 - Forbidden",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "forbidden response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "resource not found response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 404,
                "message": "Not Found"
              }
            }
          },
          "429": {
            "description": "429 - Too Many Requests",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "Retry-After": {
                "type": "number"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "429 Too Many Requests",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 429,
                "message": "Too Many Requests"
              }
            }
          },
          "500": {
            "description": "500 - ServerError",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Internal Server Error response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 500,
                "message": "Internal Server Error"
              }
            }
          },
          "502": {
            "description": "502 - Bad Gateway",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Bad Gateway response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 502,
                "message": "Bad Gateway"
              }
            }
          },
          "503": {
            "description": "503 - Service Unavailable",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Service Unavailable response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 503,
                "message": "Service Unavailable"
              }
            }
          },
          "504": {
            "description": "504 - Gateway Timeout",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Gateway Timeout Response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 504,
                "message": "Gateway Timeout"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Request-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "A correlation ID (GUID) that must be sent by the caller to indicate the return of the given request and is unique per request."
          },
          {
            "name": "Department-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "This unique ID should be added by the ISV in an API call to indicate a specific department within a dealer. This is essential as some dealers have multiple departments."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Placeholder for client to indicate which content types are supported, expressed as MIME types."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Start date for the retrieval (cannot be a future date). Retrieval will be from the start date to the current date or end date. Accepted date format is yyyy-mm-ddThh:mm:ss.SSS (e.g. 2023-01-01T00:00:00.000)."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "End date for the retrieval (must be greater than or equal to the start date). Extraction will be from the start date to the end date, or the current date if no end date is specified. Accepted date format is yyyy-mm-ddThh:mm:ss.SSS (e.g. 2023-01-03T00:00:00.000).",
            "default": "Current date"
          },
          "a1",
          "a2"
        ],
        "security": [
          {
            "Oauth2": []
          }
        ]
      }
    },
    "/closed/delta": {
      "get": {
        "summary": "Get Closed ROs Delta",
        "description": "Retrieves recently closed Repair Order information and returns an operationId for use with the status and result endpoints. The delta method retrieves records based on Repair Order closed dates, limited to a date range of yesterday and today (UTC). If the endDate is omitted, data will be retrieved from the specified startDate through today.",
        "operationId": "getClosedRepairOrdersDelta",
        "tags": [
          "Get Closed Repair Orders Delta"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Long Operations Received Status Response",
            "headers": {
              "Fort-Long-Request-Received-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request has been received by the API Publisher."
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "operationId": {
                  "description": "The identifier from the get response, used to retrieve the status.",
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "description": "Status of the long operation id.",
                  "type": "string",
                  "enum": [
                    "received",
                    "complete"
                  ]
                },
                "receivedDateTime": {
                  "description": "Date initial received request.",
                  "type": "string",
                  "format": "date-time"
                },
                "updatedDateTime": {
                  "description": "Date received response.",
                  "type": "string",
                  "format": "date-time"
                },
                "checkStatusAfterSeconds": {
                  "description": "Time after which status needs to be checked.",
                  "type": "integer",
                  "format": "int32"
                },
                "_links": {
                  "description": "Resource locations to get the operation status.",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "operationId",
                "status",
                "receivedDateTime",
                "updatedDateTime",
                "checkStatusAfterSeconds",
                "_links"
              ],
              "example": {
                "operationId": "bdd87e16-6683-4340-8f1e-3703fb99c4b0",
                "status": "received || complete",
                "receivedDateTime": "2020-06-01T00:00:00.000Z",
                "updatedDateTime": "2020-06-01T00:00:03.000Z",
                "checkStatusAfterSeconds": "30 || null",
                "_links": {
                  "status || result": {
                    "href": "https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/status || https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "bad request response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 400,
                "message": "Bad Request"
              }
            }
          },
          "401": {
            "description": "401 - Unauthorized",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "un-authorized response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 401,
                "message": "Un-Authorised"
              }
            }
          },
          "403": {
            "description": "403 - Forbidden",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "forbidden response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "resource not found response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 404,
                "message": "Not Found"
              }
            }
          },
          "429": {
            "description": "429 - Too Many Requests",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "Retry-After": {
                "type": "number"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "429 Too Many Requests",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 429,
                "message": "Too Many Requests"
              }
            }
          },
          "500": {
            "description": "500 - ServerError",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Internal Server Error response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 500,
                "message": "Internal Server Error"
              }
            }
          },
          "502": {
            "description": "502 - Bad Gateway",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Bad Gateway response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 502,
                "message": "Bad Gateway"
              }
            }
          },
          "503": {
            "description": "503 - Service Unavailable",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Service Unavailable response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 503,
                "message": "Service Unavailable"
              }
            }
          },
          "504": {
            "description": "504 - Gateway Timeout",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Gateway Timeout Response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 504,
                "message": "Gateway Timeout"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Request-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "A correlation ID (GUID) that must be sent by the caller to indicate the return of the given request and is unique per request."
          },
          {
            "name": "Department-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "This unique ID should be added by the ISV in an API call to indicate a specific department within a dealer. This is essential as some dealers have multiple departments."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Placeholder for client to indicate which content types are supported, expressed as MIME types."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Start date for the retrieval (must not be in the future). Retrieval will be from the specified start date to the end date or current date, based on UTC. Accepted date format is yyyy-mm-dd (e.g. 2023-01-01)."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "End date for the retrieval (must be greater than or equal to the start date). Extraction will be from the start date to the end date, or the current UTC date if no end date is specified. Accepted date format is yyyy-mm-dd (e.g. 2023-01-03).",
            "default": "Current UTC date"
          },
          "a1",
          "a2"
        ],
        "security": [
          {
            "Oauth2": []
          }
        ]
      }
    },
    "/long-operations/{operationId}/status": {
      "get": {
        "summary": "Retrieve the status of the get operation.",
        "description": "Retrieve the status of the get operation.  Continue to call this endpoint until the status changes from \"received\" to \"completed\".",
        "operationId": "getQueryStatus",
        "tags": [
          "Get Operation Status"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Long Operations Complete Status Response",
            "headers": {
              "Fort-Long-Request-Status-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request status has been requested by API client"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "operationId": {
                  "description": "The identifier from the get response, used to retrieve the status.",
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "description": "Status of the long operation id.",
                  "type": "string",
                  "enum": [
                    "received",
                    "complete"
                  ]
                },
                "receivedDateTime": {
                  "description": "Date initial received request.",
                  "type": "string",
                  "format": "date-time"
                },
                "updatedDateTime": {
                  "description": "Date received response.",
                  "type": "string",
                  "format": "date-time"
                },
                "checkStatusAfterSeconds": {
                  "description": "Time after which status needs to be checked.",
                  "type": "integer",
                  "format": "int32"
                },
                "_links": {
                  "description": "Resource locations to get the operation status.",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "operationId",
                "status",
                "receivedDateTime",
                "updatedDateTime",
                "checkStatusAfterSeconds",
                "_links"
              ],
              "example": {
                "operationId": "bdd87e16-6683-4340-8f1e-3703fb99c4b0",
                "status": "received || complete",
                "receivedDateTime": "2020-06-01T00:00:00.000Z",
                "updatedDateTime": "2020-06-01T00:00:03.000Z",
                "checkStatusAfterSeconds": "30 || null",
                "_links": {
                  "status || result": {
                    "href": "https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/status || https://api.fortellis.io/cdk/drive/servicerepairorder/v3/long-operations/bdd87e16-6683-4340-8f1e-3703fb99c4b0/result"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "bad request response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 400,
                "message": "Bad Request"
              }
            }
          },
          "401": {
            "description": "401 - Unauthorized",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "un-authorized response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 401,
                "message": "Un-Authorised"
              }
            }
          },
          "403": {
            "description": "403 - Forbidden",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "forbidden response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "resource not found response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 404,
                "message": "Not Found"
              }
            }
          },
          "429": {
            "description": "429 - Too Many Requests",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "Retry-After": {
                "type": "number"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "429 Too Many Requests",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 429,
                "message": "Too Many Requests"
              }
            }
          },
          "500": {
            "description": "500 - ServerError",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Internal Server Error response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 500,
                "message": "Internal Server Error"
              }
            }
          },
          "502": {
            "description": "502 - Bad Gateway",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Bad Gateway response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 502,
                "message": "Bad Gateway"
              }
            }
          },
          "503": {
            "description": "503 - Service Unavailable",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Service Unavailable response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 503,
                "message": "Service Unavailable"
              }
            }
          },
          "504": {
            "description": "504 - Gateway Timeout",
            "headers": {
              "Request-Id": {
                "type": "string"
              },
              "status": {
                "type": "number"
              }
            },
            "schema": {
              "type": "object",
              "description": "Gateway Timeout Response",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "example": {
                "code": 504,
                "message": "Gateway Timeout"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Request-Id",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "guid",
            "description": "A correlation ID (GUID) that must be sent by the caller to indicate the return of the given request and is unique per request."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Placeholder for client to indicate which content types are supported, expressed as MIME types."
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The identifier from the get response, used to retrieve the status.",
            "required": true,
            "type": "string"
          },
          "a1",
          "a2"
        ],
        "security": [
          {
            "Oauth2": []
          }
        ]
      }
    },
    "/long-operations/{operationId}/result": {
      "get": {
        "summary": "Retrieve the result of the get operation.",
        "description": "Retrieve the result of the get operation.",
        "operationId": "getQueryResult",
        "tags": [
          "Get Operation Result"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Fort-Long-Request-Complete-Id": {
                "type": "string",
                "format": "uuid",
                "description": "Represents long running request is complete & Client received the result which ends the request-response cycle."
              }
            },
            "schema": {
              "description": "Repair Order response",
              "type": "object",
              "properties": {
                "data": {
                  "description": "repair order collection.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "roNumber": {
                        "type": "string",
                        "description": "Repair order number."
                      },
                      "hostItemId": {
                        "description": "Host Item ID.",
                        "type": "string"
                      },
                      "addOnFlag": {
                        "description": "Flag that indicates if any additional service was added to the repair order after the initial Service write-up.",
                        "type": "boolean"
                      },
                      "apptDate": {
                        "description": "Appointment date.",
                        "type": "string",
                        "format": "date"
                      },
                      "apptTime": {
                        "description": "Appointment time.",
                        "type": "string"
                      },
                      "apptFlag": {
                        "description": "Appointment Flag.",
                        "type": "boolean"
                      },
                      "blockAutoMsg": {
                        "description": "Flag that indicates whether to send automated message during the service write up.",
                        "type": "boolean"
                      },
                      "bookedDate": {
                        "description": "Date the booker finished posting all labor to the repair order.",
                        "type": "string",
                        "format": "date"
                      },
                      "bookedTime": {
                        "description": "Time of day all the booker finished posting all labor to the repair order.",
                        "type": "string"
                      },
                      "bookerNo": {
                        "description": "Booker who finished posting all labor to the repair order.",
                        "type": "integer"
                      },
                      "cashier": {
                        "description": "User ID of the cashier who closed the repair order.",
                        "type": "string"
                      },
                      "closedDate": {
                        "description": "Date the repair order was closed.",
                        "type": "string",
                        "format": "date"
                      },
                      "comebackFlag": {
                        "description": "Flag that indicates if the repair order is considered a comeback",
                        "type": "boolean"
                      },
                      "comments": {
                        "description": "Repair order comments.",
                        "type": "string"
                      },
                      "contactEmailAddress": {
                        "description": "The email address given during Service write-up in which to contact the customer.",
                        "type": "string",
                        "format": "email"
                      },
                      "contactPhoneNumber": {
                        "description": "The phone number given during Service write-up in which to contact the customer.",
                        "type": "string"
                      },
                      "customer": {
                        "description": "Customer information.",
                        "type": "object",
                        "properties": {
                          "customerId": {
                            "description": "Customer number.",
                            "type": "string"
                          },
                          "name1": {
                            "description": "Customer name.",
                            "type": "string"
                          },
                          "name2": {
                            "description": "Customer name2.",
                            "type": "string"
                          },
                          "address": {
                            "description": "Customer address.",
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "description": "Customer address line1.",
                                "type": "string"
                              },
                              "addressLine2": {
                                "description": "Customer address line2.",
                                "type": "string"
                              },
                              "cityStateZip": {
                                "description": "City, state abbreviation, and ZIP code the customer resides in.",
                                "type": "string"
                              }
                            },
                            "required": [
                              "addressLine1",
                              "addressLine2",
                              "cityStateZip"
                            ],
                            "example": {
                              "addressLine1": "11 ABCDd CT",
                              "addressLine2": "xyz US",
                              "cityStateZip": "FORT WAYNE IN 11111"
                            }
                          },
                          "phoneNumbers": {
                            "description": "Customer phone details",
                            "type": "array",
                            "items": {
                              "description": "Customer phone information.",
                              "type": "object",
                              "properties": {
                                "number": {
                                  "description": "Phone numbers (Main, Home, Home FAX, Business, Business FAX, Cellular, Pager, and Contact).",
                                  "type": "string"
                                },
                                "extension": {
                                  "description": "Phone ext.",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Phone description like Work, Personal",
                                  "type": "string"
                                }
                              },
                              "example": {
                                "number": "1111111111",
                                "extension": null,
                                "description": "HomePhone"
                              }
                            }
                          },
                          "emailAddresses": {
                            "description": "Customer email details",
                            "type": "array",
                            "items": {
                              "description": "Customer email addresses.",
                              "type": "object",
                              "properties": {
                                "address": {
                                  "description": "Email address.",
                                  "type": "string",
                                  "format": "email"
                                },
                                "desc": {
                                  "description": "Email description like Work, Personal",
                                  "type": "string"
                                }
                              },
                              "example": {
                                "address": "abcd@yahoo.com",
                                "desc": "HOME"
                              }
                            }
                          }
                        },
                        "required": [
                          "customerId",
                          "name1",
                          "name2",
                          "address",
                          "phone",
                          "email"
                        ],
                        "example": {
                          "customerId": "111111",
                          "name1": "NICKLIN,ALLISON J",
                          "name2": null,
                          "address": {
                            "addressLine1": "11 ABCDd CT",
                            "addressLine2": "xyz US",
                            "cityStateZip": "FORT WAYNE IN 11111"
                          },
                          "phoneNumbers": [
                            {
                              "number": "1111111111",
                              "extension": null,
                              "description": "HomePhone"
                            },
                            {
                              "number": "2222222222",
                              "extension": null,
                              "description": "WorkPhone"
                            },
                            {
                              "number": "3333333333",
                              "extension": null,
                              "description": "Cellular"
                            },
                            {
                              "number": "4444444444",
                              "extension": null,
                              "description": "MainPhone"
                            }
                          ],
                          "emailAddresses": [
                            {
                              "address": "abcd@yahoo.com",
                              "desc": "HOME"
                            },
                            {
                              "address": "abcd@company.com",
                              "desc": "WORK"
                            }
                          ]
                        }
                      },
                      "dedMultiValueCount": {
                        "description": "The number of values in each field in this section.",
                        "type": "integer"
                      },
                      "deductibles": {
                        "description": "deductibles information.",
                        "type": "array",
                        "items": {
                          "description": "Multiple charge deductibles.",
                          "type": "object",
                          "properties": {
                            "sequenceNo": {
                              "description": "Multiple charge distribution (MCD) sequence number.",
                              "type": "integer"
                            },
                            "lineCodes": {
                              "description": "Repair line code(s) the deductible applies to. Note- Multiple line codes are separated by spaces.",
                              "type": "string"
                            },
                            "laborType": {
                              "description": "Labor type code the deductible applies to.",
                              "type": "string"
                            },
                            "maximumAmount": {
                              "description": "Maximum dollar amount the customer pays for the applied charges.",
                              "type": "number",
                              "format": "double"
                            },
                            "actualAmount": {
                              "description": "Actual dollar amount the customer pays for the applied charges.",
                              "type": "number",
                              "format": "double"
                            },
                            "laborAmount": {
                              "description": "Labor amount the customer pays for the applied charges.",
                              "type": "number",
                              "format": "double"
                            },
                            "partsAmount": {
                              "description": "Parts amount the customer pays for the applied charges.",
                              "type": "number",
                              "format": "double"
                            }
                          },
                          "required": [
                            "sequenceNo",
                            "lineCodes",
                            "laborType",
                            "maximumAmount",
                            "actualAmount",
                            "laborAmount",
                            "partsAmount"
                          ],
                          "example": {
                            "sequenceNo": 2,
                            "lineCodes": "A",
                            "laborType": "IHPS",
                            "maximumAmount": 500.01,
                            "actualAmount": 500.02,
                            "laborAmount": 468.52,
                            "partsAmount": 31.48
                          }
                        }
                      },
                      "discounts": {
                        "type": "array",
                        "items": {
                          "description": "repair order discount information.",
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Discount ID.",
                              "type": "string"
                            },
                            "appliedBy": {
                              "description": "Discount applied by.",
                              "type": "string"
                            },
                            "classOrType": {
                              "description": "Discount type.",
                              "type": "string"
                            },
                            "debitAccountNo": {
                              "description": "Discount debit account no.",
                              "type": "string"
                            },
                            "debitControlNo": {
                              "description": "Discount debit control no.",
                              "type": "integer"
                            },
                            "debitTargetCo": {
                              "description": "Discount debit target.",
                              "type": "string"
                            },
                            "desc": {
                              "description": "Discount description.",
                              "type": "string"
                            },
                            "laborDiscount": {
                              "description": "Total labor count.",
                              "type": "number",
                              "format": "double"
                            },
                            "level": {
                              "description": "Discount level.",
                              "type": "string"
                            },
                            "lineCode": {
                              "description": "Discount line codes.",
                              "type": "string"
                            },
                            "lopSeqNo": {
                              "description": "Discount labor operation sequence no.",
                              "type": "integer"
                            },
                            "managerOverride": {
[...]
