{
  "openapi": "3.1.0",
  "info": {
    "title": "Lettermint Team API",
    "version": "0.0.1",
    "description": "API for managing your Lettermint team, projects, domains, webhooks, and more. Authenticate using your Team API token via Bearer authentication.",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.lettermint.co/v1"
    }
  ],
  "tags": [
    {
      "name": "Generic"
    },
    {
      "name": "Team"
    },
    {
      "name": "Domain"
    },
    {
      "name": "Project"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Message"
    },
    {
      "name": "Suppression"
    },
    {
      "name": "Stats"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "operationId": "domain.index",
        "summary": "List all domains for the team",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `domain`, `created_at`, `status_changed_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-domain`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DomainStatus"
            }
          },
          {
            "name": "filter[domain]",
            "in": "query",
            "description": "Search by domain name (partial match, case insensitive)",
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `DomainListData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainListData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        },
        "description": "List all domains for the team"
      },
      "post": {
        "operationId": "domain.store",
        "summary": "Create a new domain",
        "tags": [
          "Domain"
        ],
        "requestBody": {
          "description": "`StoreDomainData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDomainData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`DomainData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainData"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Create a new domain"
      }
    },
    "/domains/{domainId}": {
      "get": {
        "operationId": "domain.show",
        "summary": "Get domain details",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes are `dnsRecords`, `dnsRecordsCount`, `dnsRecordsExists`, `projects`, `projectsCount`, `projectsExists`. You can include multiple options by separating them with a comma.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`DomainData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainData"
                }
              }
            }
          }
        },
        "description": "Get domain details"
      },
      "delete": {
        "operationId": "domain.destroy",
        "summary": "Delete a domain",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Domain deleted successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Delete a domain"
      }
    },
    "/domains/{domainId}/dns-records/verify": {
      "post": {
        "operationId": "domain.verifyDnsRecords",
        "summary": "Verify all DNS records for a domain",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "failed_records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "name"
                        ]
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "record_id": {
                            "type": "string"
                          },
                          "error": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "record_id",
                          "error"
                        ]
                      }
                    },
                    "failed_count": {
                      "type": "integer"
                    },
                    "total_count": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "failed_records",
                    "errors",
                    "failed_count",
                    "total_count"
                  ]
                }
              }
            }
          }
        },
        "description": "Verify all DNS records for a domain"
      }
    },
    "/domains/{domainId}/dns-records/{recordId}/verify": {
      "post": {
        "operationId": "domain.verifySpecificDnsRecord",
        "summary": "Verify a specific DNS record",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "DNS record verified successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "DNS record verification failed."
                          ]
                        }
                      ]
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "message",
                    "result"
                  ]
                }
              }
            }
          }
        },
        "description": "Verify a specific DNS record"
      }
    },
    "/domains/{domainId}/projects": {
      "put": {
        "operationId": "domain.updateProjects",
        "summary": "Update projects associated with a domain",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateDomainProjectsData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainProjectsData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DomainData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Domain projects updated successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Update projects associated with a domain"
      }
    },
    "/ping": {
      "get": {
        "operationId": "v1.ping",
        "description": "This endpoint can be used to check the API status and verify authentication.\nIt accepts both Team API tokens (via Bearer authentication) and Project tokens (via X-Lettermint-Token header).",
        "summary": "Ping the API",
        "tags": [
          "Generic"
        ],
        "parameters": [
          {
            "name": "Authorization Bearer {team_token}",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Lettermint-Token {project_token}",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "const": 200
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/messages": {
      "get": {
        "operationId": "message.index",
        "description": "Returns a paginated list of messages with filtering and sorting capabilities.",
        "summary": "List messages for the team",
        "tags": [
          "Message"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `type`, `status`, `from_email`, `subject`, `created_at`, `status_changed_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-type`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MessageType"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MessageStatus"
            }
          },
          {
            "name": "filter[route_id]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[domain_id]",
            "in": "query",
            "description": "Filter by domain ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[tag]",
            "in": "query",
            "description": "Filter by tag name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[from_email]",
            "in": "query",
            "description": "Search by sender email (partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[subject]",
            "in": "query",
            "description": "Search by subject (partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[from_date]",
            "in": "query",
            "description": "Filter messages created after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to_date]",
            "in": "query",
            "description": "Filter messages created before this date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `MessageListData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageListData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}": {
      "get": {
        "operationId": "message.show",
        "description": "Returns detailed information about a specific message including optional nested resources.",
        "summary": "Get message details",
        "tags": [
          "Message"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`MessageData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageData"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}/events": {
      "get": {
        "operationId": "message.events",
        "description": "Returns a paginated list of events for a specific message with sorting capabilities.",
        "summary": "Get message events",
        "tags": [
          "Message"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `timestamp`, `event`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-timestamp`.",
            "schema": {
              "type": "string",
              "default": "-timestamp"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `MessageEventData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageEventData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}/source": {
      "get": {
        "operationId": "message.source",
        "description": "Returns the raw EML source of the message.",
        "summary": "Get message source",
        "tags": [
          "Message"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "message/rfc822": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{messageId}/html": {
      "get": {
        "operationId": "message.html",
        "description": "Returns the HTML body of the message if available.",
        "summary": "Get message HTML content",
        "tags": [
          "Message"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html; charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/messages/{messageId}/text": {
      "get": {
        "operationId": "message.text",
        "description": "Returns the plain text body of the message if available.",
        "summary": "Get message plain text content",
        "tags": [
          "Message"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain; charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "project.index",
        "summary": "List all projects for the team",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `name`, `created_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-name`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ProjectListData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectListData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        },
        "description": "List all projects for the team"
      },
      "post": {
        "operationId": "project.store",
        "summary": "Create a new project",
        "tags": [
          "Project"
        ],
        "requestBody": {
          "description": "`StoreProjectData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreProjectData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Project created successfully."
                    },
                    "api_token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "data",
                    "message",
                    "api_token"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Create a new project"
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "project.show",
        "summary": "Get project details",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes are `routes`, `routesCount`, `routesExists`, `domains`, `domainsCount`, `domainsExists`, `teamMembers`, `teamMembersCount`, `teamMembersExists`, `messageStats`, `messageStatsCount`, `messageStatsExists`. You can include multiple options by separating them with a comma.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProjectData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectData"
                }
              }
            }
          }
        },
        "description": "Get project details"
      },
      "put": {
        "operationId": "project.update",
        "summary": "Update project settings",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateProjectData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Project updated successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Update project settings"
      },
      "delete": {
        "operationId": "project.destroy",
        "summary": "Delete a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Project deleted successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Delete a project"
      }
    },
    "/projects/{projectId}/rotate-token": {
      "post": {
        "operationId": "project.rotateToken",
        "summary": "Rotate project API token",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectData"
                    },
                    "new_token": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string",
                      "const": "API token rotated successfully. Please update your integrations."
                    }
                  },
                  "required": [
                    "data",
                    "new_token",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Rotate project API token"
      }
    },
    "/projects/{projectId}/members": {
      "put": {
        "operationId": "project.updateMembers",
        "summary": "Update project members",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateProjectMembersData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectMembersData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Project members updated successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Update project members"
      }
    },
    "/projects/{projectId}/members/{teamMemberId}": {
      "post": {
        "operationId": "project.addMember",
        "summary": "Add a member to the project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamMemberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Team member added to project successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Add a member to the project"
      },
      "delete": {
        "operationId": "project.removeMember",
        "summary": "Remove a member from the project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamMemberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Team member removed from project successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Remove a member from the project"
      }
    },
    "/projects/{projectId}/routes": {
      "get": {
        "operationId": "route.index",
        "summary": "List routes for a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `name`, `slug`, `created_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-name`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RouteType"
            }
          },
          {
            "name": "filter[is_default]",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "Search by name or slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `RouteListData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RouteListData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        },
        "description": "List routes for a project"
      },
      "post": {
        "operationId": "route.store",
        "summary": "Create a new route",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`StoreRouteData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreRouteData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RouteData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Route created successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Create a new route"
      }
    },
    "/routes/{routeId}": {
      "get": {
        "operationId": "route.show",
        "summary": "Get route details",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes are `project`, `projectCount`, `projectExists`, `statistics`. You can include multiple options by separating them with a comma.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`RouteData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteData"
                }
              }
            }
          }
        },
        "description": "Get route details"
      },
      "put": {
        "operationId": "route.update",
        "summary": "Update route settings",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateRouteData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRouteData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RouteData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Route updated successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Update route settings"
      },
      "delete": {
        "operationId": "route.destroy",
        "summary": "Delete a route",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Route deleted successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "description": "Delete a route"
      }
    },
    "/routes/{routeId}/verify-inbound-domain": {
      "post": {
        "operationId": "route.verifyInboundDomain",
        "summary": "Verify inbound domain for a route",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "verified": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Inbound domain verified successfully."
                        }
                      },
                      "required": [
                        "verified",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "verified": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Inbound domain verification failed. Please ensure MX records point to our servers."
                        },
                        "expected_mx_records": {
                          "type": "array",
                          "prefixItems": [
                            {
                              "type": "string",
                              "const": "mx1.lettermint.com"
                            },
                            {
                              "type": "string",
                              "const": "mx2.lettermint.com"
                            }
                          ],
                          "minItems": 2,
                          "maxItems": 2,
                          "additionalItems": false
                        },
                        "found_mx_records": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "verified",
                        "message",
                        "expected_mx_records",
                        "found_mx_records"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        },
        "description": "Verify inbound domain for a route"
      }
    },
    "/stats": {
      "get": {
        "operationId": "stats.index",
        "description": "Returns aggregate message statistics for the specified date range.\nProvide a project_id to get per-project stats with transactional/broadcast breakdown.\nWithout project_id, returns team-wide totals from team_message_stats.\nMaximum date range is 90 days.",
        "summary": "Get message statistics",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date (Y-m-d)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End date (Y-m-d, max 90 days from `from`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Optional project UUID for project-scoped stats with transactional/broadcast breakdown",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`StatsData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsData"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/suppressions": {
      "get": {
        "operationId": "suppression.index",
        "summary": "List all suppressions for the team",
        "tags": [
          "Suppression"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `value`, `created_at`, `reason`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-value`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[scope]",
            "in": "query",
            "description": "Filter by scope (team, project, route)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_id]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[project_id]",
            "in": "query",
            "description": "Filter by project ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value]",
            "in": "query",
            "description": "Search by email/domain value (partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[reason]",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SuppressionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `SuppressedRecipientData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SuppressedRecipientData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        },
        "description": "List all suppressions for the team"
      },
      "post": {
        "operationId": "suppression.store",
        "summary": "Add email(s) to suppression list",
        "tags": [
          "Suppression"
        ],
        "requestBody": {
          "description": "`StoreSuppressionData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreSuppressionData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "No emails were added."
                          ]
                        }
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "skipped": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "created",
                        "skipped"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "description": "Add email(s) to suppression list"
      }
    },
    "/suppressions/{suppressionId}": {
      "delete": {
        "operationId": "suppression.destroy",
        "summary": "Remove email from suppression list",
        "tags": [
          "Suppression"
        ],
        "parameters": [
          {
            "name": "suppressionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Email removed from suppression list successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "prefixItems": [
                    {
                      "type": "string"
                    }
                  ],
                  "minItems": 1,
                  "maxItems": 1,
                  "additionalItems": false
                }
              }
            }
          }
        },
        "description": "Remove email from suppression list"
      }
    },
    "/team": {
      "get": {
        "operationId": "team.show",
        "description": "Returns basic team information with optional includes for related resources.",
        "summary": "Get team details",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes are `features`, `featuresCount`, `featuresExists`, `addons`, `addonsCount`, `addonsExists`. You can include multiple options by separating them with a comma.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`TeamData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamData"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "team.update",
        "description": "Updates editable team properties (name).",
        "summary": "Update team settings",
        "tags": [
          "Team"
        ],
        "requestBody": {
          "description": "`UpdateTeamData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TeamData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Team settings updated successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/team/usage": {
      "get": {
        "operationId": "team.usage",
        "description": "Returns current and historical email usage data with billing information.\nHistorical usage includes up to 12 most recent periods.",
        "summary": "Get team usage statistics",
        "tags": [
          "Team"
        ],
        "responses": {
          "200": {
            "description": "`TeamUsageDetailData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamUsageDetailData"
                }
              }
            }
          }
        }
      }
    },
    "/team/members": {
      "get": {
        "operationId": "team.members",
        "summary": "Get team members",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `TeamMemberData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TeamMemberData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        },
        "description": "Get team members"
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "webhook.index",
        "description": "Returns a paginated list of webhooks with filtering options.",
        "summary": "List all webhooks for the team",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `name`, `url`, `created_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-name`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "filter[enabled]",
            "in": "query",
            "description": "Filter by enabled status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[event]",
            "in": "query",
            "description": "Filter by specific event type",
            "schema": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          {
            "name": "filter[route_id]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "Search by webhook name or URL",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `WebhookListData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookListData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "webhook.store",
        "description": "Creates a webhook for a specific route and generates a secret for signature verification.",
        "summary": "Create a new webhook",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "description": "`StoreWebhookData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreWebhookData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Webhook created successfully. Please save the secret as it will not be shown again."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "operationId": "webhook.show",
        "description": "Returns full webhook information including recent deliveries.",
        "summary": "Get webhook details",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`WebhookData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookData"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "webhook.update",
        "description": "Updates webhook configuration. Events, URL, name, and enabled status can be modified.",
        "summary": "Update webhook settings",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateWebhookData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Webhook updated successfully."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "webhook.destroy",
        "description": "Permanently removes a webhook and all associated delivery records.",
        "summary": "Delete a webhook",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Webhook deleted successfully."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/test": {
      "post": {
        "operationId": "webhook.test",
        "description": "Dispatches a test webhook delivery to verify the endpoint is working correctly.",
        "summary": "Test a webhook by sending a sample payload",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Test webhook dispatched successfully. Check the deliveries endpoint for results."
                    },
                    "delivery_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "delivery_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/regenerate-secret": {
      "post": {
        "operationId": "webhook.regenerateSecret",
        "description": "Generates a new secret for webhook signature verification. The old secret will be invalidated.",
        "summary": "Regenerate webhook secret",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookData"
                    },
                    "message": {
                      "type": "string",
                      "const": "Webhook secret regenerated successfully. Please update your integration."
                    }
                  },
                  "required": [
                    "data",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/deliveries": {
      "get": {
        "operationId": "webhook.deliveries",
        "description": "Returns a paginated list of delivery attempts for a specific webhook.",
        "summary": "Get webhook deliveries",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `created_at`, `attempt_number`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-created_at`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter by delivery status",
            "schema": {
              "$ref": "#/components/schemas/WebhookDeliveryStatus"
            }
          },
          {
            "name": "filter[event_type]",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[from_date]",
            "in": "query",
            "description": "Filter deliveries from this date (Y-m-d format)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to_date]",
            "in": "query",
            "description": "Filter deliveries to this date (Y-m-d format)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `WebhookDeliveryListData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookDeliveryListData"
                      }
                    },
                    "path": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Base path for paginator generated URLs."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items shown per page.",
                      "minimum": 0
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the next set of items."
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    },
                    "prev_cursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The \"cursor\" that points to the previous set of items."
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri"
                    }
                  },
                  "required": [
                    "data",
                    "path",
                    "per_page",
                    "next_cursor",
                    "next_page_url",
                    "prev_cursor",
                    "prev_page_url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/deliveries/{deliveryId}": {
      "get": {
        "operationId": "webhook.showDelivery",
        "description": "Returns full details of a single delivery attempt including payload and response data.",
        "summary": "Get a specific webhook delivery",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`WebhookDeliveryData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryData"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "http": {
        "type": "http",
        "scheme": "bearer",
        "description": "Team API token. Find this in your team settings."
      }
    },
    "schemas": {
      "AttachmentDelivery": {
        "type": "string",
        "enum": [
          "inline",
          "url"
        ],
        "title": "AttachmentDelivery"
      },
      "DnsRecordStatus": {
        "type": "string",
        "description": "| |\n|---|\n| `active` <br/> The record is active and verified. |\n| `failed` <br/> The record could not be verified. |\n| `pending` <br/> The record is pending verification. |",
        "enum": [
          "active",
          "failed",
          "pending"
        ],
        "title": "DnsRecordStatus"
      },
      "DomainData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dns_records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainDnsRecordData"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ]
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "domain",
          "status_changed_at",
          "created_at"
        ],
        "title": "DomainData"
      },
      "DomainDnsRecordData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/RecordType"
          },
          "hostname": {
            "type": "string"
          },
          "fqdn": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DnsRecordStatus"
          },
          "verified_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_checked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "hostname",
          "fqdn",
          "content",
          "status",
          "verified_at",
          "last_checked_at"
        ],
        "title": "DomainDnsRecordData"
      },
      "DomainListData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DomainStatus"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "domain",
          "status",
          "status_changed_at",
          "created_at"
        ],
        "title": "DomainListData"
      },
      "DomainStatus": {
        "type": "string",
        "description": "| |\n|---|\n| `verified` <br/> The domain is active and verified. |\n| `partially_verified` <br/> Some DNS records of the domain could not be verified. |\n| `pending_verification` <br/> The domain is new and verification is pending. |\n| `failed_verification` <br/> The domain verification failed. |",
        "enum": [
          "verified",
          "partially_verified",
          "pending_verification",
          "failed_verification"
        ],
        "title": "DomainStatus"
      },
      "MessageAttachmentData": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer",
            "default": 0
          },
          "filename": {
            "type": "string",
            "default": "unknown"
          },
          "content_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "content_type": {
            "type": "string",
            "default": "application/octet-stream"
          }
        },
        "required": [
          "size",
          "filename",
          "content_id",
          "content_type"
        ],
        "title": "MessageAttachmentData"
      },
      "MessageData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/MessageType"
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "tag": {
            "type": [
              "string",
              "null"
            ]
          },
          "from_email": {
            "type": "string"
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "reply_to": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "to": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageRecipientData"
            }
          },
          "cc": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageRecipientData"
            }
          },
          "bcc": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageRecipientData"
            }
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageAttachmentData"
            }
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "spam_score": {
            "type": [
              "number",
              "null"
            ]
          },
          "spam_symbols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpamSymbol"
            }
          },
          "route_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "status_changed_at",
          "tag",
          "from_email",
          "from_name",
          "reply_to",
          "subject",
          "to",
          "cc",
          "bcc",
          "attachments",
          "metadata",
          "route_id",
          "created_at"
        ],
        "title": "MessageData"
      },
      "MessageEventData": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string"
          },
          "event": {
            "$ref": "#/components/schemas/MessageEventType"
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "message_id",
          "event",
          "metadata",
          "timestamp"
        ],
        "title": "MessageEventData"
      },
      "MessageEventType": {
        "type": "string",
        "enum": [
          "queued",
          "processed",
          "suppressed",
          "delivered",
          "soft_bounced",
          "hard_bounced",
          "spam_complaint",
          "failed",
          "blocked",
          "policy_rejected",
          "unsubscribed",
          "opened",
          "clicked",
          "inbound_received",
          "inbound_queued",
          "inbound_spam_blocked",
          "inbound_processed",
          "inbound_retry"
        ],
        "title": "MessageEventType"
      },
      "MessageListData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/MessageType"
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          },
          "from_email": {
            "type": "string"
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "to": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageRecipientData"
            }
          },
          "cc": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageRecipientData"
            }
          },
          "bcc": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/MessageRecipientData"
            }
          },
          "reply_to": {
            "type": [
              "array",
              "null"
            ],
[...]
