{
  "openapi": "3.0.3",
  "info": {
    "title": "Blynk Cloud HTTPS API",
    "version": "1.0.0",
    "description": "Blynk Cloud HTTPS API allows interaction with Blynk IoT devices via HTTP requests. You can get and update datastream values, send push notifications, check device connectivity, and manage device metadata using device auth tokens.",
    "x-jentic-source-url": "https://docs.blynk.io/en/blynk.cloud/https-api-overview",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://blynk.cloud/external/api"
    }
  ],
  "paths": {
    "/get": {
      "get": {
        "operationId": "getDatastreamValue",
        "summary": "Get datastream value by pin",
        "description": "Returns the current value of a datastream identified by its virtual pin.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Device auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "description": "Virtual pin (e.g., v1, v2)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataStreamId",
            "in": "query",
            "description": "Datastream ID (alternative to pin)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with datastream value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The current value of the datastream"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token, wrong pin format, or datastream not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/update": {
      "get": {
        "operationId": "updateDatastreamValue",
        "summary": "Update datastream value",
        "description": "Updates the value of a datastream identified by its virtual pin or datastream ID. Uses GET method with value in query parameters.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Device auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "description": "Virtual pin (e.g., v1). Provide either pin or dataStreamId.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataStreamId",
            "in": "query",
            "description": "Datastream ID (alternative to pin)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "The value to set. Parsed based on the datastream data type.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "400": {
            "description": "Invalid token, wrong pin format, or value type mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/update/batch": {
      "get": {
        "operationId": "batchUpdateDatastreams",
        "summary": "Batch update multiple datastream values",
        "description": "Updates multiple datastream values in a single request by passing multiple pin=value pairs.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Device auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated all values"
          },
          "400": {
            "description": "Invalid token or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/isHardwareConnected": {
      "get": {
        "operationId": "isHardwareConnected",
        "summary": "Check if device hardware is connected",
        "description": "Returns whether the device is currently connected to the Blynk server.",
        "tags": [
          "Device Status"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Device auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logEvent": {
      "get": {
        "operationId": "logEvent",
        "summary": "Log an event",
        "description": "Creates a log event for the device. Events are configured in the Blynk console.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Device auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Event code as configured in Blynk console",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Optional event description",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event logged successfully"
          },
          "400": {
            "description": "Invalid token or event code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getToken": {
      "get": {
        "operationId": "getDeviceToken",
        "summary": "Get device auth token",
        "description": "Returns the device auth token for a given device. Requires organization-level authentication.",
        "tags": [
          "Device Management"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Organization auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Device ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device token returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ota/start": {
      "get": {
        "operationId": "startOta",
        "summary": "Start OTA update",
        "description": "Initiates an over-the-air firmware update for the device.",
        "tags": [
          "OTA"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Device auth token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTA update started"
          },
          "400": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "deviceToken": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "Device auth token passed as query parameter"
      }
    }
  },
  "security": [
    {
      "deviceToken": []
    }
  ],
  "tags": [
    {
      "name": "Datastreams"
    },
    {
      "name": "Device Management"
    },
    {
      "name": "Device Status"
    },
    {
      "name": "Events"
    },
    {
      "name": "OTA"
    }
  ]
}
