{
  "openapi": "3.0.0",
  "info": {
    "description": "Welcome to our Nationex integration API.\nAll of Nationex's APIS are organized around REST. If you\u2019ve used RESTful APIs before, many of the concepts here will be familiar to you. \nEach resource has a unique URL, and HTTP verbs are used to specify actions you want to perform on each resource. \nAll request and response bodies, including errors, are encoded in JSON.\n\n# Introduction\nHere\u2019s what you can do with our APIs :\n- Create, update, cancel shipment.\n- Get shipment current status.\n- Get shipment rates.\n- Get shipment manifest.\n- Get labels. \n\n# API version\nWe release new versions when we make backwards-incompatible changes to our APIs.\nThe current version of our APIs is v4, so the base URL will always look something like this :\n\n**https://api.nationex.com/api/v4**\n\n# Requirements\n  You need to get API keys from our IT team at **support@nationex.com**. You will start with API devlopement key and when you are ready to go live you will change your API for the production one.\n\n# Authentication\nNationex Restfull API needs authentication:\n  Basic authentication is a simple authentication scheme built into the HTTP protocol. The client sends HTTP requests with the `Authorization header` that contains the word Basic word followed by a space and **a base64-encoded string username:password**. \n  For example, to authorize as demo / p@55w0rd the client would send Authorization: Basic ZGVtbzpwQDU1dzByZA==\n\n# Webhook\nA webhook for updating shipment statuses is available but you will need to contact us to activate it.\nParameters we need :\n - URL, example : https://api.test.com/nationex/{id}\n - Http Method, example HttpPut\n - Authorization header\n \nThe {id} parameter is the Nationex Shipping Id\n \nYou can provide an authorization header or we can provide you one.\n\nWe will call your api endpoint every time a shipment status changes and provide a \"DTOShipment\" as request body.\n\n# ShipmentStatus enum :\n\"Creation\", \"Pickup\", \"Transit\", \"OutForDelivery\", \"Delivered\", \"OnHold\", \"Attention\", \"Cancelled\", \"ReturnCompleted\", \"OutForPickup\", \"PickupAttemptFailed\", \"RefusedDelivery\", \"ReturnToSender\", \"PartiallyPickedUp\", \"PartiallyInTransit\", \"PartiallyOutForDelivery\", \"PartiallyDelivered\"\n\n# Other\n- Nationex logo : https://apidocs.nationex.com/images/Nationex_logo_CMYK.svg \n- Nationex icon : https://apidocs.nationex.com/images/Nationex_logo_RES_coul.png\n\n<SecurityDefinitions />\n# Response code\n| Status Code | Description | Note |\n  |----|----|----|\n  |`200` |  OK - The request was successful (some API calls may return 201 instead on `PUT`).|  <ul><li>GET request returns a representation of the requested entity.</li><li>The body of other requests will be a Status entity.</li></ul>|\n  |`201` | Created - The request was successful and a resource was created. |<ul><li>This cannot happen on GET or DELETE requests.</li><li>This will happen on POST and may happen on PUT requests. </li></ul>\n  |`204` | No Content | <ul><li>The request was successful but there is no representation to return (that is, the response is empty). </li></ul>|\n  |`400` | Bad Request |  <ul><li>The request is invalid the body was missing required parameters and or parameter did not respect data validation see error messages in body.</li></ul>|\n  |`401` | Unauthorized | <ul><li>Client authentication failed (invalid **user/password**). </li></ul> |\n  |`403` | Forbidden | <ul><li>Access denied due to missing **Permissions**</li></ul>|\n  |`404` | Not Found | <ul><li>No resource was found at this location (URI)</li><li>If the requested URL contains an **ID** , this means that we did not find anything matching the ID</li></ul>|\n  |`405` | Method Not Allowed | <ul><li>Requested method is not supported for the specified resource. </li></ul>|\n  |`406` | Not Acceptable | <ul><li>Request contains **Bad headers** for this request</li></ul>|\n  |`5xx` | Server-Side Error | <ul><li>These codes should not be set programmatically and are reserved for unexpected errors. </li></ul>|\n",
    "version": "4.0",
    "title": "Nationex API",
    "contact": {
      "email": "support@nationex.com",
      "url": "https://nationex.com"
    },
    "x-logo": {
      "url": "https://apidocs.nationex.com/images/Nationex_logo_VER_coul.png",
      "altText": "Nationex logo"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CCLS/nationex-api/4.0"
  },
  "servers": [
    {
      "url": "https://api.nationex.com/api/v4",
      "variables": {
        "environment": {
          "default": "Development",
          "enum": [
            "Production",
            "Development"
          ]
        },
        "version": {
          "default": "4",
          "enum": [
            "4"
          ]
        }
      }
    }
  ],
  "paths": {
    "/Shipments": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create shipment",
        "description": "Create a new shipment",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "description": "Shipment to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTOShipmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTOShipmentCreated"
                }
              }
            }
          },
          "400": {
            "description": "InvalidInput:   The max length of a field has been exceeded or the postal code is not covered by Nationex. The specific error message will be returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InvalidInput"
                },
                "example": {
                  "code": 400,
                  "message": "Address1 length is too long"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: The ShipmentId already exists. Can only happen if shipmentId is provided by user (shipmentId != -1)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Conflict"
                },
                "example": {
                  "code": 409,
                  "message": "Duplicate shipment ID: 501339228"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment",
        "description": "Returns details about a particular shipment",
        "operationId": "getShipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment (9 digits)",
            "required": true,
            "example": 999999999,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 100000000,
              "maximum": 999999999
            }
          },
          {
            "name": "tracking",
            "in": "query",
            "description": "Returns tracking (parcel history) or not",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parcels",
            "in": "query",
            "description": "Returns the parcel infos (weights & dimensions) or not",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "consol",
            "in": "query",
            "description": "Returns all consolidated shipments or not",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "images",
            "in": "query",
            "description": "Returns all photos and signatures of the shipment",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details about a shipment by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTOShipment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Shipments"
        ],
        "summary": "Cancel shipment",
        "description": "Cancel a shipment, can only be used if the shipment is not billed or has no action (Pickup attempts, refusal, etc.)",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                },
                "examples": {
                  "Boolean Response": {
                    "value": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}/reports": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment status report",
        "description": "Returns details about a particular shipment in PDF",
        "operationId": "getReports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment",
            "example": 999999999,
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "description": "Language of the report",
            "schema": {
              "type": "string",
              "enum": [
                "Fr",
                "En"
              ]
            },
            "example": "Fr"
          },
          {
            "name": "consol",
            "in": "query",
            "description": "Returns the consolIds or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "light",
            "in": "query",
            "description": "Lighter version of the report",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}/labels": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get labels",
        "description": "Returns labels attached to a particular shipment",
        "operationId": "getLabels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment or ID of a parcel for a single label",
            "required": true,
            "example": 103848576,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of file",
            "example": "PDF",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "PNG"
              ],
              "default": "PDF"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "description": "Orientation of the file",
            "example": "landscape",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait"
              ],
              "default": "landscape"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Page format of the file",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "4x6",
                "85x11"
              ],
              "default": "4x6"
            },
            "example": "4x6"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}/labelsZpl": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get labels ZPL",
        "description": "Returns ZPL label strings attached to a particular shipment",
        "operationId": "getLabelsZpl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment or ID of a parcel for a single label",
            "required": true,
            "example": 103848576,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "description": "Orientation of the file",
            "example": "landscape",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait"
              ],
              "default": "landscape"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZPL String",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ZPLString": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "String Response": {
                    "value": "^XA^LRY\\r\\n^CF0,,30^FWR,0^FO750,100^FDLIBRAIRIE LU-LU ( ALQ )^FS\\r\\n^FO750,770^FDDATE: 2021-05-02^FS\\r\\n^FO750,1030^FD11:15:07^FS\\r\\n^FO720,100^FD144890^FS\\r\\n^FO720,770^FDREF: LIQ631858^FS\\r\\n^FO710,100^GB1,1040,3^FS\\r\\n^FO665,100^FDPOIDS(lbs): 1.00^FS\\r\\n^FO665,350^FD(KG): 0.45^FS\\r\\n^FO660,100^GB1,1040,3^FS\\r\\n^FO610,100^FDAURELIE CONSTANCIAS^FS\\r\\n^FO580,100^FD1259 RUE DU PEKAN^FS\\r\\n^FO550,100^FD^FS\\r\\n^FO520,100^FDSAINTE-JULIENNE, QC^FS\\r\\n^FO490,100^FDJ0K2T0^FS\\r\\n^CF0,,80^FWR,0^FO540,890^FDJ0K^FS\\r\\n^FO165,1040^GB95,50,90,b^FS\\r\\n^FO160,1050^FD^FS\\r\\n^FO545,720^GB95,160,90,b^FS\\r\\n^FO540,730^FDBLV^FS\\r\\n^FO390,1110^FD1^FS\\r\\n^FO370,660^BY4,2,230^BCr,150,Y,N,N^FDJ0K2T0^FS\\r\\n^FO80,100^BY5,2,230^B2r,,n,,n^FD999989028016^FS\\r\\n^CF0,, 45^FWR,0^FO20,210^FD999989028^FS\\r\\n^CF0,,40^FWR,0^FO70,630^FD1^FS\\r\\n^FO70,650^FD/1^FS\\r\\n^FO160,700^GB150,285,75,b^FS\\r\\n^FO250,720^FDFloor: ^FS\\r\\n^FO210,720^FDRoute: 25^FS\\r\\n^FO170,720^FDDriver: 250^FS\\r\\n^XZ"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}/labelsPng": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get labels Png",
        "description": "Returns labels attached to a particular shipment in PNG format",
        "operationId": "getLabelsPng",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment or ID of a parcel for a single label",
            "required": true,
            "example": 103848576,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "description": "Orientation of the file",
            "example": "landscape",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait"
              ],
              "default": "landscape"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTOFile"
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}/dangerous": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get dangerous goods PDF",
        "description": "Returns a dangerous goods PDF",
        "operationId": "getDangerousPDF",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment or ID of a parcel for a single label",
            "required": true,
            "example": 103848576,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Dangerous Goods PDF report info",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTODangerousGoods"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "InvalidInput: Class1 is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InvalidInput"
                },
                "example": {
                  "code": 400,
                  "message": "Class1 is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Shipments/{id}/pod": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment POD",
        "description": "Returns proof of delivery for a shipment",
        "operationId": "getShipmentPOD",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the shipment (9 digits)",
            "required": true,
            "example": 999999999,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 100000000,
              "maximum": 999999999
            }
          },
          {
            "name": "consol",
            "in": "query",
            "description": "Returns all consolidated shipments or not",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "images",
            "in": "query",
            "description": "Returns all photos and signatures of the shipment",
            "example": true,
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details about a shipment by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTOShipmentPOD"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ShipmentId 501399432 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/rates": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Get rates",
        "description": "Get rates for a shipment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "description": "Shipment rates request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTOShipmentRatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTORatesDetail"
                }
              }
            }
          },
          "400": {
            "description": "InvalidInput:   The postal code is not covered by Nationex or other invalid input. The specific error message will be returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InvalidInput"
                },
                "example": {
                  "code": 400,
                  "message": "The postal code 'A0A0A7' is not served by Nationex"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/transitDelay": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get transit delay",
        "description": "Get estimated date of delivery for a specified Destination",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "shipmentType",
            "description": "Type of shipment",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Delivery",
                "PickupReturn",
                "PickupDelivery"
              ],
              "example": "Delivery",
              "default": "Delivery",
              "description": "Delivery - Schedule a pickup at the address registered in your Nationex account and deliver it to your consignee. PickupReturn - Parcels picked up at a location and brought back to your location. PickupDelivery - Parcels picked up at one location and shipped to another location which is different than your own location. Billed to your Nationex account."
            }
          },
          {
            "in": "query",
            "name": "destPostalCode",
            "description": "Postal Code of the destination, required for Delivery and PickupDelivery. Customer's postal code is used as default for PickupReturn.",
            "required": false,
            "example": "J4T2S2",
            "schema": {
              "type": "string",
              "maxLength": 6
            }
          },
          {
            "in": "query",
            "name": "origPostalCode",
            "description": "Postal Code of the origin, required for PickupReturn and PickupDelivery. Customer's postal code is used by default for Delivery",
            "required": false,
            "example": "J4Z2S5",
            "schema": {
              "type": "string",
              "maxLength": 6
            }
          },
          {
            "in": "query",
            "name": "pickupDate",
            "description": "Date of pickup. Defaults to Today for Delivery, and to next business day for PickupReturn and PickupDelivery.",
            "required": false,
            "example": "2021-05-07",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTOTransitDelay"
                }
              }
            }
          },
          "400": {
            "description": "InvalidInput:  The postal code is not server by Nationex or other input error. Specific error message will be returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InvalidInput"
                },
                "example": {
                  "code": 400,
                  "message": "Postal code A0A0A7 is not served by Nationex"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "Postal code A0A0A0 not found"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/driverManifests": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get driver manifest",
        "description": "Get a PDF report to print and give to the Nationex driver when he comes and pick up shipments",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Starting datetime of the shipments included in the manifest. Defaults to current date.",
            "required": false,
            "example": "2021-03-31 00:00:00",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Ending datetime of the shipments included in the manifest. Defaults to current date. If the startDate is the same as endDate, it will default to 00:00 to 23:59 instead of returning an empty range.",
            "required": false,
            "example": "2021-03-31 23:59:59",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "expeditionDate",
            "description": "If true, will use the expedition date and not the creation (insert) date. If null or false, creation date will be used.",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "description": "Used only with `application/pdf` responses",
                  "example": "attachment; filename=\"manifest_2021-04-28.pdf\""
                }
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/driverManifestsPng": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get driver manifest Png",
        "description": "Get a PNG report to print and give to the Nationex driver when he comes and pick up shipments",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Starting datetime of the shipments included in the manifest. Defaults to current date.",
            "required": false,
            "example": "2021-03-31 00:00:00",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Ending datetime of the shipments included in the manifest. Defaults to current date. If the startDate is the same as endDate, it will default to 00:00 to 23:59 instead of returning an empty range.",
            "required": false,
            "example": "2021-03-31 23:59:59",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "expeditionDate",
            "description": "If true, will use the expedition date and not the creation (insert) date. If null or false, creation date will be used.",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "description": "Used only with `application/png` responses",
                  "example": "attachment; filename=\"manifest_2021-04-28.png\""
                }
              }
            },
            "content": {
              "application/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/customerManifests": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer manifest",
        "description": "Get a list of shipments created between specified dates in PDF or XLSX format",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Starting date of the shipments included in the report. Defaults to the current date",
            "required": false,
            "example": "2021-03-31",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Ending date of the shipments included in the report. Defaults to the current date",
            "required": false,
            "example": "2021-03-31",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "format",
            "description": "Format of the report, either pdf or xlsx. Defaults to PDF",
            "required": false,
            "example": "pdf",
            "schema": {
              "type": "string",
              "enum": [
                "xlsx",
                "pdf"
              ],
              "default": "pdf"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "description": "Used only with `application/pdf` responses",
                  "example": "attachment; filename=\"ship_manifest_2021-04-28.pdf\""
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/billing": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get invoice list",
        "description": "Get a list of invoices infos and links to download individual documents",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Starting date for invoices",
            "required": true,
            "example": "2021-02-05",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Ending date for invoices",
            "required": true,
            "example": "2021-05-05",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTOInvoiceInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "No invoice found"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Customers/{id}/fuelRate": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Fuel Rate",
        "description": "Get current fuel rate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "required": true,
            "example": 113300,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Locations/{postalCode}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get location",
        "description": "Get location services availability",
        "parameters": [
          {
            "in": "path",
            "name": "postalCode",
            "description": "Postal code",
            "required": true,
            "example": "H1B1Y8",
            "schema": {
              "type": "string",
              "maxLength": 6
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTOLocation"
                }
              }
            }
          },
          "400": {
            "description": "InvalidInput:  The postal code format is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InvalidInput"
                },
                "example": {
                  "code": 400,
                  "message": "Postal code A0A0A is not valid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "Postal code D0A1A0 does not exist"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get location list",
        "description": "Get list of locations services availability",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page iterator",
            "required": true,
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "count",
            "description": "Locations count",
            "required": true,
            "example": 100,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 5000
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTOLocation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/Partners/insertEvent": {
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "Insert Event",
        "description": "Insert an even for parcels, can include signatures, pictures. Nationex partner api key required.",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "description": "Event to insert",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTOEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Boolean Response": {
                    "value": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "InvalidInput: ParcelIds is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InvalidInput"
                },
                "example": {
                  "code": 400,
                  "message": "ParcelIds is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: The resource requested does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                },
                "example": {
                  "code": 404,
                  "message": "ParcelId 50139943201"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/PointsOfService/List": {
      "get": {
        "tags": [
          "PointsOfService"
        ],
        "summary": "Get Points of service list",
        "description": "Get list of locations where Nationex can deposit parcels and consignees can pick them up",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DTOPointOfService"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Unauthorized"
                },
                "example": {
                  "code": 401,
                  "message": "Invalid key"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError:   There has been an unexpected error in our server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/InternalServerError"
                },
                "example": {
                  "code": 500,
                  "message": "Internal server error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "responses": {
      "NotFound": {
        "description": "ErrorCode 404: The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "ErrorCode 401: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "ErrorCode 409: The resource already exists",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "ErrorCode 500: There has been an unexpected error in our server",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InvalidInput": {
        "description": "ErrorCode 400: There is some part of the input that is invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "DTOParcelHistory": {
        "type": "object",
        "description": "Event of a single parcel",
        "properties": {
          "ParcelHistoryId": {
            "type": "integer",
            "format": "int64",
            "description": "ID of the parcel history",
            "example": 3049373748
          },
          "ProcessedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date time of the event",
            "example": "2021-03-31 13:31:00"
          },
          "ExceptionId": {
            "type": "integer",
            "format": "int32",
            "description": "ID of the exception code",
            "example": 5
          },
          "CityDepot": {
            "type": "string",
            "description": "Name of the city of the depot where the event occured",
            "example": "Blainville"
          },
          "DescriptionFr": {
            "type": "string",
            "description": "Description of parcel history in french",
            "example": "Destinataire indisponible - Tentative de livraison le jour ouvrable suivant"
          },
          "DescriptionEn": {
            "type": "string",
            "description": "Description of parcel history in english",
            "example": "Unavailable consignee - Delivery attempt on next business day"
          },
          "PhotoId": {
            "type": "integer",
            "format": "int64",
            "description": "Id of the photo image, found in DTOShipment",
            "example": 18840452
          },
          "SignatureId": {
            "type": "integer",
            "format": "int64",
            "description": "Id of the signature image, found in DTOShipment"
          },
          "Geocoding": {
            "$ref": "#/components/schemas/DTOGeocoding"
          }
        }
      },
      "DTOAccessory": {
        "type": "object",
        "properties": {
          "InsuranceAmount": {
            "type": "number",
            "format": "float",
            "description": "Total price value to be insured",
            "maximum": 2500,
            "example": 0,
            "default": 0
          },
          "FrozenProtection": {
            "type": "boolean",
            "description": "Freezing protection"
          },
          "DangerousGoods": {
            "type": "boolean",
            "description": "Dangerous goods"
          },
          "SNR": {
            "type": "boolean",
            "description": "No signature required"
          }
        }
      },
      "DTOCashOnDelivery": {
        "type": "object",
        "properties": {
          "CODType": {
            "type": "string",
            "example": "Check",
            "enum": [
              "NoCOD",
              "Check",
              "Cash",
              "PostDatedCheck",
              "CertifiedCheck"
            ],
            "description": "Type of Cash on delivery"
          },
          "CODAmount": {
            "type": "number",
            "format": "float",
            "example": 24.12,
            "default": 0,
            "maximum": 50000,
            "description": "Amount of cash on delivery"
          }
        }
      },
      "DTODestination": {
        "type": "object",
        "required": [
          "AccountName",
          "Address1",
          "PostalCode",
          "City",
          "Phone"
        ],
        "properties": {
          "Contact": {
            "type": "string",
            "description": "Name of the person receiving the shipment",
            "example": "Sonia",
            "maxLength": 50
          },
          "AccountNumber": {
            "type": "string",
            "description": "Account Id used to identify and retrieve the consignee",
            "example": "NC33233",
            "maxLength": 20
          },
          "AccountName": {
            "type": "string",
            "description": "Consignee name",
            "example": "Coffee Shop",
            "maxLength": 40
          },
          "Address1": {
            "type": "string",
            "description": "First part of address, includes street number and street name",
            "example": "433 Apple street",
            "maxLength": 35
          },
          "Address2": {
            "type": "string",
            "description": "Second part of address, optional",
            "example": "3rd floor",
            "maxLength": 35
          },
          "PostalCode": {
            "type": "string",
            "example": "H2H2S2",
            "maxLength": 6
          },
          "City": {
            "type": "string",
            "example": "Montreal",
            "maxLength": 35
          },
          "ProvinceState": {
            "type": "string",
            "example": "QC",
            "maxLength": 50
          },
          "Phone": {
            "type": "string",
            "example": 4183776671,
            "maxLength": 15
          },
          "SmsNotification": {
            "type": "boolean",
            "description": "Enable or disable SMS notifications",
            "example": true,
            "default": false
          },
          "EmailNotification": {
            "type": "boolean",
            "description": "Enable or disable Email notifications",
            "example": true,
            "default": false
          },
          "NoCivic": {
            "type": "string",
            "description": "Civic address number or street number (Use either Address 1 or a combination of NoCivic/StreetName)",
            "example": 880,
            "maxLength": 20
          },
          "Suite": {
            "type": "string",
            "example": 400,
            "maxLength": 30
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street",
            "example": "Rue Claudia",
            "maxLength": 50
          },
          "Email": {
            "type": "string",
            "maxLength": 255,
            "example": "example@gmail.com"
          },
          "Geocoding": {
            "$ref": "#/components/schemas/DTOGeocoding"
          }
        }
      },
      "DTODimensions": {
        "type": "object",
        "properties": {
          "Height": {
            "type": "number",
            "format": "float",
            "example": 6.5,
            "description": "Height of the box in inches by default, can be changed in UnitsOfMeasurement for GetRates"
          },
          "Length": {
            "type": "number",
            "format": "float",
            "example": 12,
            "description": "Length of the box in inches by default, can be changed in UnitsOfMeasurement for GetRates"
          },
          "Width": {
            "type": "number",
            "format": "float",
            "example": 8,
            "description": "Width of the box in inches by default, can be changed in UnitsOfMeasurement for GetRates"
          },
          "Cubing": {
            "type": "number",
            "format": "float",
            "example": 2.6,
            "description": "Volume of the parcel in cubic foot. Calculated with 'Width * Height * Length) / 1728'"
          }
        }
      },
      "DTOParcelInfo": {
        "type": "object",
        "properties": {
          "ParcelId": {
            "type": "integer",
            "format": "int64",
            "description": "11 digit number to identify the parcel",
            "example": 50133944801
          },
          "ParcelNumber": {
            "type": "integer",
            "format": "int32",
            "description": "Number of the parcel in the shipment, starting at 1"
          },
          "ReferenceNumber": {
            "type": "string",
            "description": "Reference number, string which can be used to track the shipment",
            "example": "JDI394"
          },
          "NCV": {
            "type": "boolean",
            "description": "Non conveyable. These are the criterias for non-conveyable items : -  At least one of the dimensions exceed 36 inches (91.5cm) or one of the two smallest dimensions exceeds 30 inches (76cm) -  Weight exceeds 70 lbs (32 kg) -  Identified as non-conveyable with stickers -  Is a bucket -  Hazardous materials identified as toxic, corrosive -  In bulk items like tires, display stands -  Objects wrapped in plastic or paper -  Bags or pouches"
          },
          "Weight": {
            "type": "number",
            "format": "float",
            "description": "Weight of the parcel (lbs)"
          },
          "Status": {
            "type": "string",
            "enum": [
              "Creation",
              "Pickup",
              "Transit",
              "OutForDelivery",
              "Delivered",
              "OnHold",
              "Attention",
              "Cancelled",
              "ReturnCompleted",
              "OutForPickup",
              "PickupAttemptFailed",
              "RefusedDelivery",
              "ReturnToSender"
            ]
          },
          "StatusDescriptionEn": {
            "type": "string",
            "description": "Description of Status in english",
            "example": "In transit"
          },
          "StatusDescriptionFr": {
            "type": "string",
            "description": "Description of Status in french",
            "example": "En transit"
          },
          "EstimatedDeliveryDate": {
            "type": "string",
            "format": "date",
            "description": "Live estimated date of delivery",
            "example": "2021-04-16"
          },
          "EstimatedDeliveryTime": {
            "type": "string",
            "description": "Live estimated time of delivery (only available during day of delivery), does not include margin of error",
            "example": "13:15"
          },
          "EstimatedDeliveryTimeFr": {
            "type": "string",
            "description": "Readable EstimatedTime in french",
            "example": "Entre 12:45 et 13:45"
          },
          "EstimatedDeliveryTimeEn": {
            "type": "string",
            "description": "Readable EstimatedTime in english",
            "example": "Between 12:45 and 13:45"
          },
          "EstimatedPercentageBeforeDelivery": {
            "type": "integer",
            "description": "Estimated percentage of delivery, 100 when delivered",
            "example": 88
          },
          "Dimensions": {
            "$ref": "#/components/schemas/DTODimensions"
          },
          "History": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTOParcelHistory"
            }
          },
          "ParcelStatusHistories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTOParcelStatusHistory"
            }
          }
        }
      },
      "DTOSender": {
        "type": "object",
        "required": [
          "AccountName",
          "Address1",
          "PostalCode",
          "City",
          "Phone"
        ],
        "properties": {
          "Contact": {
            "type": "string",
            "description": "Name of the person receiving the shipment",
            "example": "Sonia",
            "maxLength": 50
          },
          "AccountNumber": {
            "type": "string",
            "description": "Account Id used to identify and retrieve the consignee",
            "example": "NC33233",
            "maxLength": 15
          },
          "AccountName": {
            "type": "string",
            "description": "Consignee name",
            "example": "Coffee Shop",
            "maxLength": 40
          },
          "Address1": {
            "type": "string",
            "description": "First part of address, includes street number and street name",
            "example": "433 Apple street",
            "maxLength": 35
          },
          "Address2": {
            "type": "string",
            "description": "Second part of address, optional",
            "example": "3rd floor",
            "maxLength": 35
          },
          "PostalCode": {
            "type": "string",
            "example": "H2H2S2",
            "maxLength": 6
          },
          "City": {
            "type": "string",
            "example": "Montreal",
            "maxLength": 35
          },
          "ProvinceState": {
            "type": "string",
            "example": "QC",
            "maxLength": 50
          },
          "Phone": {
            "type": "string",
            "description": "Sender's phone number",
            "example": 555123456
          },
          "SmsNotification": {
            "type": "boolean",
            "description": "Enable or disable SMS notifications",
            "example": true,
            "default": false
          },
          "EmailNotification": {
            "type": "boolean",
            "description": "Enabled or disables Email notifications",
            "example": true,
            "default": false
          },
          "NoCivic": {
            "type": "string",
            "description": "Civic address number or street number (Use either Address 1 or a combination of NoCivic/StreetName)",
            "example": 880,
            "maxLength": 20
          },
          "Suite": {
            "type": "string",
            "example": 400,
            "maxLength": 30
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street",
            "example": "Rue Claudia",
            "maxLength": 50
          },
          "Email": {
            "type": "string",
            "example": "example@gmail.com"
          },
          "Geocoding": {
            "$ref": "#/components/schemas/DTOGeocoding"
          }
        }
      },
      "DTOShipment": {
        "type": "object",
        "required": [
          "CustomerId",
          "ShipmentId",
          "ExpeditionDate",
          "TotalParcels",
          "TotalWeight",
          "Sender",
          "Destination",
          "Accessory",
          "Parcels",
          "PrintPreference"
        ],
        "properties": {
          "CustomerId": {
            "type": "integer",
            "format": "int32",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "example": 113300
          },
          "ShipmentId": {
            "type": "integer",
            "format": "int32",
            "description": "Needs to be -1 for auto generation, 9 digits otherwise, used to identify and track the shipment",
            "example": 103882774
          },
          "ExpeditionDate": {
            "type": "string",
            "format": "date",
            "description": "The expedition date",
            "example": "2021-03-30"
          },
          "TotalParcels": {
            "type": "integer",
            "format": "int32",
            "description": "The quantity of parcels in the shipment. Cannot exceed 99.",
            "example": 2,
            "minimum": 1,
            "maximum": 99
          },
          "TotalWeight": {
            "type": "number",
            "format": "float",
            "description": "Sum of weights of shipments (lbs)",
            "example": 5.5
          },
          "ShipmentStatus": {
            "type": "string",
            "enum": [
              "Creation",
              "Pickup",
              "Transit",
              "OutForDelivery",
              "Delivered",
              "OnHold",
              "Attention",
              "Cancelled",
              "ReturnCompleted",
              "OutForPickup",
              "PickupAttemptFailed",
              "RefusedDelivery",
              "ReturnToSender",
              "PartiallyPickedUp",
              "PartiallyInTransit",
              "PartiallyOutForDelivery",
              "PartiallyDelivered"
            ],
            "description": "Global status of the entire shipment",
            "example": "Creation"
          },
          "ShipmentStatusFr": {
            "type": "string",
            "description": "Readable ShipmentStatus in french",
            "example": "Donn\u00e9es re\u00e7ues"
          },
          "ShipmentStatusEn": {
            "type": "string",
            "description": "Readable ShipmentStatus in english",
            "example": "Data received"
          },
          "StatusHistories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTOShipmentStatusHistory"
            }
          },
          "ShipmentType": {
            "type": "string",
            "enum": [
              "Delivery",
              "PickupReturn",
              "PickupDelivery"
            ],
            "example": "Delivery",
            "default": "Delivery",
            "description": "Delivery - Schedule a pickup at the address registered in your Nationex account and deliver it to your consignee. PickupReturn - Parcels picked up at a location and brought back to your location. PickupDelivery - Parcels picked up at one location and shipped to another location which is different than your own location. Billed to your Nationex account."
          },
          "ReferenceNumber": {
            "type": "string",
            "description": "Reference number, string which can be used to track the shipment",
            "example": "CX4335"
          },
          "Note": {
            "type": "string",
            "description": "A delivery driver note, this will be print on the label.",
            "example": "If no answer leave under the stairs",
            "maxLength": 100
          },
          "BillingAccount": {
            "type": "integer",
            "format": "int32",
            "description": "Nationex Customer ID of the collect account if different from shipping account",
            "example": 165556
          },
          "Sender": {
            "$ref": "#/components/schemas/DTOSender"
          },
          "Destination": {
            "$ref": "#/components/schemas/DTODestination"
          },
          "Accessory": {
            "$ref": "#/components/schemas/DTOAccessory"
          },
          "Parcels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTOParcelInfo"
            }
          },
          "ConsolId": {
            "type": "integer",
            "format": "int32",
            "description": "Id of the consolidated shipment. Corresponds to the lowest ShipmentId of the shipments going to the same address, same day",
            "example": 103882771
          },
          "IsInvoiced": {
            "description": "Indicates if the shipment has been invoiced. Only appears if parameter 'tracking' is true in Get Shipment",
            "type": "boolean",
            "example": false
          },
          "IsScanned": {
            "description": "Indicates if the shipment has been scanned. Only appears if parameter 'tracking' is true in Get Shipment",
            "type": "boolean",
            "example": false
          },
          "IsConsolidated": {
            "type": "boolean",
            "description": "Indicates if the shipment has other shipments consolidated with it",
            "example": false
          },
          "Photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTOPhoto"
            },
            "description": "Signatures and photos. Linked with the PhotoId's and SignatureId's from DTOParcelHistory"
          }
        }
      },
      "DTOShipmentCreate": {
        "type": "object",
        "description": "Request object to create a shipment. For a Delivery and PickupDelivery type, Destination is required. For a PickupReturn and PickupDelivery type, Sender is required. Otherwise it is the customer's address by default",
        "required": [
          "CustomerId",
          "ShipmentId",
          "ExpeditionDate",
          "TotalParcels",
          "TotalWeight"
        ],
        "properties": {
          "CustomerId": {
            "type": "integer",
            "format": "int32",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "example": 113300
          },
          "ShipmentId": {
            "type": "integer",
            "format": "int32",
            "description": "Needs to be -1 for auto generation, 9 digits otherwise, used to identify and track the shipment",
            "example": -1,
            "default": -1
          },
          "ExpeditionDate": {
            "type": "string",
            "format": "date",
            "description": "The expedition date",
            "example": "2021-03-30"
          },
          "ShipmentType": {
            "type": "string",
            "enum": [
              "Delivery",
              "PickupReturn",
              "PickupDelivery",
              "DeliveryCollect"
            ],
            "example": "Delivery",
            "default": "Delivery",
            "description": "Delivery - Schedule a pickup at the address registered in your Nationex account and deliver it to your consignee. PickupReturn - Parcels picked up at a location and brought back to your location. PickupDelivery - Parcels picked up at one location and shipped to another location which is different than your own location. Billed to your Nationex account."
          },
          "TotalParcels": {
            "type": "integer",
            "format": "int32",
            "description": "The quantity of parcels in the shipment. Cannot exceed 99.",
            "example": 2,
            "minimum": 1,
            "maximum": 99
          },
          "TotalWeight": {
            "type": "number",
            "format": "float",
            "description": "Sum of weights of shipments (lbs)",
            "example": 5.5
          },
          "ReferenceNumber": {
            "type": "string",
            "description": "Reference number, string which can be used to track the shipment",
            "example": "CX4335",
            "maxLength": 15
          },
          "CustomBarcode": {
            "type": "string",
            "description": "If the barcode is not generated by Nationex, it has to be entered here. Only 1 barcode is supported."
          },
          "Note": {
            "type": "string",
            "description": "A Delivery Note",
            "example": "If no answer leave under the stairs",
            "maxLength": 100
          },
          "BillingAccount": {
            "type": "integer",
            "format": "int32",
            "description": "Nationex Customer ID of the billing account if different from shipping account",
            "example": 0
          },
          "Sender": {
            "$ref": "#/components/schemas/DTOSender"
          },
          "Destination": {
            "$ref": "#/components/schemas/DTODestination"
          },
          "Accessory": {
            "$ref": "#/components/schemas/DTOAccessory"
          },
          "Parcels": {
            "description": "Optional, can be used to provide weight and dimensions of individual parcels for a more accurate price",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTORatesRequestParcel"
            }
          },
          "UnitsOfMeasurement": {
            "description": "Optional, used to provide rate if measurements are included, LI = lb|inch, KC = kg|cm",
            "type": "string",
            "enum": [
              "LI",
              "KC"
            ],
            "example": "LI",
            "default": "LI"
          },
          "PointOfServiceId": {
            "description": "Id of the DTOPointOfService, a location where Nationex will deposit parcels and the consignee has to pick it up. Nationex will deliver directly to the point of service if this property is not null, and the Destination address (consignee address) will be overwritten by the address of this Point of service. The list of available points of services can be obtained using GET /PointsOfService/List. Points of services have to be activated on the Nationex customer for this to be available, by default it's unavailable. Only active locations are returned.",
            "type": "number",
            "example": 847
          }
        }
      },
      "DTOShipmentCreated": {
        "type": "object",
        "properties": {
          "ShipmentId": {
            "type": "integer",
            "format": "int32",
            "description": "9 digits number, used to identify and track the shipment",
            "example": 501883938
          },
          "ConsolId": {
            "type": "integer",
            "format": "int32",
            "description": "Id of the consolidated shipment. Corresponds to the lowest ShipmentId of the shipments going to the same address, same day",
            "example": 501883122
          },
          "BillingAccount": {
            "type": "integer",
            "format": "int32",
            "description": "CustomerID being billed",
            "example": 165556
          },
          "ParcelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              50188393801,
              50188393802
            ]
          },
          "Barcodes": {
            "description": "If no custom barcode is provided, the ParcelId's with the check digits are returned.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              501883938010,
              501883938027
            ]
          },
          "RatesDetail": {
            "$ref": "#/components/schemas/DTORatesDetail"
          }
        }
      },
      "DTOShipmentRatesRequest": {
        "type": "object",
        "required": [
          "CustomerId",
          "DestinationPostalCode",
          "TotalParcels"
        ],
        "properties": {
          "CustomerId": {
            "type": "integer",
            "format": "int32",
            "description": "Nationex Customer Id (5 or 6 digits)",
            "example": 113300
          },
          "ExpeditionDate": {
            "type": "string",
            "format": "date",
            "description": "The expedition or pickup date. Not required, but this will be used to calculate the fuel rate, which changes weekly. If blank, the current week's rate will be used.",
            "example": "2021-03-31"
          },
          "ShipmentType": {
            "type": "string",
            "enum": [
              "Delivery",
              "PickupReturn",
              "PickupDelivery"
            ],
            "example": "Delivery",
            "default": "Delivery",
            "description": "Delivery - Schedule a pickup at the address registered in your Nationex account and deliver it to your consignee. PickupReturn - Parcels picked up at a location and brought back to your location. PickupDelivery - Parcels picked up at one location and shipped to another location which is different than your own location. Billed to your Nationex account."
          },
          "SourcePostalCode": {
            "type": "string",
            "description": "Postal code of the origin",
            "example": "J3Y5T7"
          },
          "DestinationPostalCode": {
            "type": "string",
            "description": "Postal code of the destination",
            "example": "H2H2S2"
          },
          "TotalWeight": {
            "type": "number",
            "format": "float",
            "description": "Total weight of the shipment in pounds (lbs)",
            "example": 12.2
          },
          "TotalParcels": {
            "type": "integer",
            "format": "int32",
            "description": "The quantity of parcels in the shipment. Cannot exceed 99.",
            "example": 2,
            "minimum": 1,
            "maximum": 99
          },
          "UnitsOfMeasurement": {
            "type": "string",
            "enum": [
              "LI",
              "KC"
            ],
            "description": "LI = lb|inch, KC = kg|cm",
            "example": "LI",
            "default": "LI"
          },
          "Accessory": {
            "$ref": "#/components/schemas/DTOAccessory"
          },
          "Parcels": {
            "description": "Optional, can be used to provide weight and dimensions of individual parcels for a more accurate price",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTORatesRequestParcel"
            }
          }
        }
      },
      "DTORatesDetail": {
        "description": "Contains a shipment's rates details. Note : the example amounts are random number, they are not accurate",
        "type": "object",
        "properties": {
          "BasePrice": {
            "type": "number",
            "format": "float",
            "description": "Price without any tax or charges",
            "example": 47.22
          },
          "SurchargeCharges": {
            "description": "Special charges for excessive parcel length or remote areas",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DTOSurchargeCharge"
            },
            "example": [
              {
                "Id": "99",
                "Charge": 2.404,
                "BeyondId": 0,
                "NameFr": "Colis hors-norme - Longueur",
                "NameEn": "Oversized parcel - Lenght"
              },
              {
                "Id": "519",
                "Charge": 8.404,
                "BeyondId": 102,
                "NameFr": "SURCHARGE R\u00c9GION \u00c9LOIGN\u00c9E",
[...]
