{
  "openapi": "3.0.3",
  "info": {
    "title": "DocRaptor API",
    "version": "2.0",
    "description": "DocRaptor is a document generation API that converts HTML to PDF and Excel (XLSX) documents using the Prince PDF engine. Supports hosted and direct document creation with async processing.",
    "x-jentic-source-url": "https://docraptor.com/documentation/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://docraptor.com"
    }
  ],
  "paths": {
    "/docs": {
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document (PDF or Excel)",
        "description": "Creates a document synchronously. The response body is the generated document (PDF or XLSX binary data). For large documents, use the async endpoint instead.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document generated successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - document generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/async_docs": {
      "post": {
        "operationId": "createAsyncDocument",
        "summary": "Create a document asynchronously",
        "description": "Creates a document asynchronously. Returns a status URL that can be polled to check the document generation status and retrieve the download URL.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status/{status_id}": {
      "get": {
        "operationId": "getAsyncDocumentStatus",
        "summary": "Check async document status",
        "description": "Polls for the status of an asynchronously generated document. Returns the download URL when complete.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncDocumentStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download/{download_id}": {
      "get": {
        "operationId": "downloadAsyncDocument",
        "summary": "Download an async document",
        "description": "Downloads a completed async document by its download ID.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "download_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document binary",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hosted_docs": {
      "post": {
        "operationId": "createHostedDocument",
        "summary": "Create a hosted document",
        "description": "Creates a document and hosts it on DocRaptor's servers. Returns a URL to the hosted document that can be shared.",
        "tags": [
          "Hosted Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostedDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hosted document created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/expire_hosted": {
      "patch": {
        "operationId": "expireHostedDocument",
        "summary": "Expire a hosted document",
        "tags": [
          "Hosted Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hosted_document_url"
                ],
                "properties": {
                  "hosted_document_url": {
                    "type": "string",
                    "description": "URL of the hosted document to expire"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document expired"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Expire a hosted document"
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentRequest": {
        "type": "object",
        "required": [
          "type",
          "document_content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "pdf",
              "xls",
              "xlsx"
            ],
            "description": "Document type to generate"
          },
          "document_content": {
            "type": "string",
            "description": "HTML content to convert to a document"
          },
          "document_url": {
            "type": "string",
            "description": "URL to fetch HTML content from (alternative to document_content)"
          },
          "name": {
            "type": "string",
            "description": "Name for the document"
          },
          "test": {
            "type": "boolean",
            "default": false,
            "description": "Set to true for test mode (free, watermarked)"
          },
          "strict": {
            "type": "string",
            "enum": [
              "none",
              "html"
            ],
            "description": "Strictness level for HTML validation"
          },
          "tag": {
            "type": "string",
            "description": "Tag for organizing and tracking documents"
          },
          "help": {
            "type": "boolean",
            "description": "Enable help mode for debugging"
          },
          "javascript": {
            "type": "boolean",
            "default": false,
            "description": "Enable JavaScript execution in the document"
          },
          "referrer": {
            "type": "string",
            "description": "Referrer URL for fetching resources"
          },
          "callback_url": {
            "type": "string",
            "description": "URL to POST to when async generation completes"
          },
          "prince_options": {
            "$ref": "#/components/schemas/PrinceOptions"
          },
          "pipeline": {
            "type": "string",
            "description": "Pipeline version to use"
          }
        }
      },
      "PrinceOptions": {
        "type": "object",
        "properties": {
          "baseurl": {
            "type": "string"
          },
          "no_xinclude": {
            "type": "boolean"
          },
          "no_network": {
            "type": "boolean"
          },
          "no_parallel_downloads": {
            "type": "boolean"
          },
          "http_user": {
            "type": "string"
          },
          "http_password": {
            "type": "string"
          },
          "http_proxy": {
            "type": "string"
          },
          "http_timeout": {
            "type": "integer"
          },
          "insecure": {
            "type": "boolean"
          },
          "media": {
            "type": "string",
            "default": "print"
          },
          "no_author_style": {
            "type": "boolean"
          },
          "no_default_style": {
            "type": "boolean"
          },
          "no_embed_fonts": {
            "type": "boolean"
          },
          "no_subset_fonts": {
            "type": "boolean"
          },
          "no_compress": {
            "type": "boolean"
          },
          "encrypt": {
            "type": "boolean"
          },
          "key_bits": {
            "type": "integer",
            "enum": [
              40,
              128
            ]
          },
          "user_password": {
            "type": "string"
          },
          "owner_password": {
            "type": "string"
          },
          "disallow_print": {
            "type": "boolean"
          },
          "disallow_copy": {
            "type": "boolean"
          },
          "disallow_annotate": {
            "type": "boolean"
          },
          "disallow_modify": {
            "type": "boolean"
          },
          "input": {
            "type": "string",
            "enum": [
              "html",
              "xml",
              "auto"
            ]
          },
          "version": {
            "type": "string"
          },
          "css_dpi": {
            "type": "integer"
          },
          "profile": {
            "type": "string"
          }
        }
      },
      "HostedDocumentRequest": {
        "type": "object",
        "required": [
          "type",
          "document_content"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "pdf",
              "xls",
              "xlsx"
            ]
          },
          "document_content": {
            "type": "string"
          },
          "document_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "test": {
            "type": "boolean",
            "default": false
          },
          "javascript": {
            "type": "boolean"
          },
          "prince_options": {
            "$ref": "#/components/schemas/PrinceOptions"
          }
        }
      },
      "AsyncDocumentResponse": {
        "type": "object",
        "properties": {
          "status_id": {
            "type": "string",
            "description": "ID for polling status"
          }
        }
      },
      "AsyncDocumentStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "working"
            ]
          },
          "download_url": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "HostedDocumentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "download_url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication. Use your API key as the username, and leave the password blank or set to any value."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Documents"
    },
    {
      "name": "Hosted Documents"
    }
  ]
}
