{
  "openapi": "3.0.3",
  "info": {
    "title": "Stitch Import API",
    "version": "2.0.0",
    "description": "The Stitch Import API enables you to push arbitrary data from a source to Stitch. It acts as a receiving point for data that is sent to Stitch, which then processes and loads it into your destination.",
    "x-jentic-source-url": "https://www.stitchdata.com/docs/developers/import-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.stitchdata.com",
      "description": "North America (us-east-1)"
    },
    {
      "url": "https://api.eu-central-1.stitchdata.com",
      "description": "Europe (eu-central-1)"
    }
  ],
  "tags": [
    {
      "name": "Status",
      "description": "API status checks"
    },
    {
      "name": "Push",
      "description": "Push data to Stitch"
    },
    {
      "name": "Validate",
      "description": "Validate push requests"
    }
  ],
  "paths": {
    "/v2/import/status": {
      "get": {
        "operationId": "getImportApiStatus",
        "summary": "Get Import API status",
        "description": "Determines if the Import API is operating correctly. No authentication required.",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "API status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiStatus"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "security": []
      }
    },
    "/v2/import/push": {
      "post": {
        "operationId": "pushData",
        "summary": "Push data to Stitch",
        "description": "Pushes data for one or more tables to Stitch. Each request can contain data for multiple tables. The request body must be an array of record objects or a batch object.",
        "tags": [
          "Push"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BatchRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LegacyPushRecord"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "201": {
            "description": "Request accepted, will be processed later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "202": {
            "description": "Accepted but cannot currently be processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - client_id may be incorrect"
          },
          "413": {
            "description": "Request body exceeded 20MB"
          },
          "422": {
            "description": "Missing required argument",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/import/validate": {
      "post": {
        "operationId": "validatePushRequest",
        "summary": "Validate a push request",
        "description": "Validates push request and batches without persisting them to Stitch. Use this to test your data format before sending real data.",
        "tags": [
          "Validate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BatchRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LegacyPushRecord"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/import/batch": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch of records",
        "description": "Creates a batch containing records for a single table with a defined schema.",
        "tags": [
          "Push"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "201": {
            "description": "Batch accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/import/batch/validate": {
      "post": {
        "operationId": "validateBatch",
        "summary": "Validate a batch request",
        "description": "Validates a batch request without persisting data.",
        "tags": [
          "Validate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiStatus": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "pipeline.gate"
          },
          "version": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "OK",
              "ERROR"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "table_name",
          "schema",
          "messages",
          "key_names"
        ],
        "properties": {
          "table_name": {
            "type": "string",
            "description": "Destination table name"
          },
          "schema": {
            "$ref": "#/components/schemas/SchemaObject"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageObject"
            }
          },
          "key_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Primary key field names"
          }
        }
      },
      "SchemaObject": {
        "type": "object",
        "properties": {
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MessageObject": {
        "type": "object",
        "required": [
          "action",
          "sequence",
          "data"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "upsert"
            ],
            "description": "Must be upsert"
          },
          "sequence": {
            "type": "integer",
            "description": "Unix timestamp for ordering"
          },
          "data": {
            "type": "object",
            "description": "Record data matching the schema"
          }
        }
      },
      "LegacyPushRecord": {
        "type": "object",
        "required": [
          "client_id",
          "table_name",
          "sequence",
          "data",
          "key_names",
          "action"
        ],
        "properties": {
          "client_id": {
            "type": "integer",
            "description": "Your Stitch client ID"
          },
          "table_name": {
            "type": "string"
          },
          "sequence": {
            "type": "integer"
          },
          "data": {
            "type": "object"
          },
          "key_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "action": {
            "type": "string",
            "enum": [
              "upsert"
            ]
          }
        }
      },
      "BatchStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "OK",
              "Accepted",
              "ERROR"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "properties": {
              "error": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Import API access token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
