{
  "openapi": "3.0.0",
  "info": {
    "description": "DocSpring provides an API that helps you fill out and sign PDF templates.",
    "title": "DocSpring API",
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/formapi.io/main/v1/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://sync.api.docspring.com/api/v1"
    }
  ],
  "paths": {
    "/authentication": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "status": "success"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/success_error_response"
                }
              }
            },
            "description": "authentication succeeded"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Could not find API token with ID: missing_api_token",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/success_error_response"
                }
              }
            },
            "description": "authentication failed"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "testAuthentication",
        "summary": "Test Authentication",
        "description": "Test Authentication"
      }
    },
    "/combined_submissions": {
      "get": {
        "parameters": [
          {
            "description": "Default: 1",
            "example": 2,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Default: 50",
            "example": 1,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "actions": [],
                        "download_url": null,
                        "error_message": null,
                        "expired": false,
                        "expires_at": null,
                        "expires_in": null,
                        "id": "com_1234567890abcdef01",
                        "metadata": {},
                        "password": null,
                        "pdf_hash": null,
                        "processed_at": null,
                        "source_pdfs": [],
                        "state": "pending",
                        "submission_ids": []
                      },
                      {
                        "actions": [],
                        "download_url": "https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/combined_submissions/com_1234567890abcdef02.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789",
                        "error_message": null,
                        "expired": false,
                        "expires_at": null,
                        "expires_in": null,
                        "id": "com_1234567890abcdef02",
                        "metadata": {},
                        "password": null,
                        "pdf_hash": "225fb2676adc8f382aba3916d7b7a2088cb7f75ab62ec5c7f4543c5abf8ce4da",
                        "processed_at": "2023-01-05T14:00:00Z",
                        "source_pdfs": [],
                        "state": "processed",
                        "submission_ids": []
                      },
                      {
                        "actions": [],
                        "download_url": null,
                        "error_message": "Something went wrong",
                        "expired": false,
                        "expires_at": null,
                        "expires_in": 123,
                        "id": "com_1234567890abcdef03",
                        "metadata": {},
                        "password": null,
                        "pdf_hash": null,
                        "processed_at": null,
                        "source_pdfs": [],
                        "state": "error",
                        "submission_ids": []
                      },
                      {
                        "actions": [],
                        "download_url": null,
                        "error_message": null,
                        "expired": true,
                        "expires_at": "2023-01-05T14:05:00Z",
                        "expires_in": 345,
                        "id": "com_1234567890abcdef04",
                        "metadata": {},
                        "password": null,
                        "pdf_hash": "0622971147486e1900037eff229d921d14f5b51aac7171729b2b66f81cdf6585",
                        "processed_at": "2023-01-05T14:00:00Z",
                        "source_pdfs": [],
                        "state": "processed",
                        "submission_ids": []
                      }
                    ]
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "items": {
                    "$ref": "#/components/schemas/combined_submission"
                  },
                  "title": "list_combined_submissions",
                  "type": "array"
                }
              }
            },
            "description": "enumerate all combined submissions"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "listCombinedSubmissions",
        "summary": "Get a list of all combined submissions",
        "description": "Get a list of all combined submissions"
      },
      "post": {
        "parameters": [
          {
            "description": "Wait for combined submission to be processed before returning. Set to false to return immediately. Default: true (on sync.* subdomain)",
            "in": "query",
            "name": "wait",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "combined_submission": {
                        "actions": [],
                        "download_url": null,
                        "error_message": null,
                        "expired": false,
                        "expires_at": null,
                        "expires_in": 300,
                        "id": "com_1234567890abcdef01",
                        "metadata": {
                          "bar": "baz",
                          "foo": 123
                        },
                        "password": "password123",
                        "pdf_hash": null,
                        "processed_at": null,
                        "source_pdfs": [],
                        "state": "pending",
                        "submission_ids": [
                          "sub_1234567890abcdef01",
                          "sub_1234567890abcdef02"
                        ]
                      },
                      "status": "success"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "combined_submission": {
                      "$ref": "#/components/schemas/combined_submission"
                    },
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "combined_submission"
                  ],
                  "title": "create_combined_submission_response",
                  "type": "object"
                }
              }
            },
            "description": "combined submission created"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 37 in '{ \"submission_ids\": [\"123\", \"345\"], metadata: { \"user_id\": \"@#)(*%$)@(#*%@&%\" }}",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "invalid JSON"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        "source_pdfs: Could not find Submission with ID: MISSING_ID"
                      ],
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "invalid request"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "combineSubmissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "expires_in": 300,
                  "metadata": {
                    "bar": "baz",
                    "foo": 123
                  },
                  "password": "password123",
                  "submission_ids": [
                    "sub_1234567890abcdef01",
                    "sub_1234567890abcdef02"
                  ]
                },
                "properties": {
                  "expires_in": {
                    "type": "integer"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "password": {
                    "type": "string"
                  },
                  "submission_ids": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "test": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "submission_ids"
                ],
                "title": "combined_submission_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Merge generated PDFs together",
        "description": "Merge generated PDFs together"
      }
    },
    "/combined_submissions/{combined_submission_id}": {
      "delete": {
        "parameters": [
          {
            "example": "com_1234567890abcdef01",
            "in": "path",
            "name": "combined_submission_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "actions": [
                        {
                          "action_category": "file_upload",
                          "action_type": "aws_s3_upload",
                          "id": "csa_1234567890abcdef01",
                          "integration_id": "aci_1234567890abcdef01",
                          "result_data": {
                            "s3_bucket": "docspring-s3-example",
                            "s3_key": "acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                            "s3_region": "us-east-1",
                            "s3_url": "https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf"
                          },
                          "state": "processed"
                        }
                      ],
                      "download_url": null,
                      "error_message": null,
                      "expired": true,
                      "expires_at": "2018-10-20T13:00:00Z",
                      "expires_in": 300,
                      "id": "com_1234567890abcdef01",
                      "metadata": {
                        "qux": "abc",
                        "user_id": 42
                      },
                      "password": "password123",
                      "pdf_hash": "12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                      "processed_at": "2020-05-14T02:00:00Z",
                      "source_pdfs": [],
                      "state": "processed",
                      "submission_ids": [
                        "sub_1234567890abcdef01",
                        "sub_1234567890abcdef02"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/combined_submission"
                }
              }
            },
            "description": "submission was expired"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "You must use a live API token to expire a combined submission.",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "test API token used"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Combined submission not found.",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "combined submission not found"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "expireCombinedSubmission",
        "summary": "Expire a combined submission",
        "description": "Expire a combined submission"
      },
      "get": {
        "parameters": [
          {
            "example": "com_1234567890abcdef01",
            "in": "path",
            "name": "combined_submission_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "actions": [
                        {
                          "action_category": "file_upload",
                          "action_type": "aws_s3_upload",
                          "id": "csa_1234567890abcdef01",
                          "integration_id": "aci_1234567890abcdef01",
                          "result_data": {
                            "s3_bucket": "docspring-s3-example",
                            "s3_key": "acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf",
                            "s3_region": "us-east-1",
                            "s3_url": "https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf"
                          },
                          "state": "processed"
                        }
                      ],
                      "download_url": "https://docspring-s3-example.s3.amazonaws.com/store/submissions/sub_1234567890abcdef01/20171002192229.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789",
                      "error_message": null,
                      "expired": false,
                      "expires_at": "2018-10-20T13:05:00Z",
                      "expires_in": 300,
                      "id": "com_1234567890abcdef01",
                      "metadata": {
                        "qux": "abc",
                        "user_id": 42
                      },
                      "password": "password123",
                      "pdf_hash": "12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                      "processed_at": "2020-05-14T02:00:00Z",
                      "source_pdfs": [],
                      "state": "processed",
                      "submission_ids": [
                        "sub_1234567890abcdef01",
                        "sub_1234567890abcdef02"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/combined_submission"
                }
              }
            },
            "description": "processed combined submission found"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Combined submission not found.",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "combined submission not found"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getCombinedSubmission",
        "summary": "Check the status of a combined submission (merged PDFs)",
        "description": "Check the status of a combined submission (merged PDFs)"
      }
    },
    "/combined_submissions?v=2": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "combined_submission": {
                        "actions": [],
                        "download_url": null,
                        "error_message": null,
                        "expired": false,
                        "expires_at": null,
                        "expires_in": 300,
                        "id": "com_1234567890abcdef02",
                        "metadata": {
                          "bar": "baz",
                          "foo": 123
                        },
                        "password": null,
                        "pdf_hash": null,
                        "processed_at": null,
                        "source_pdfs": [
                          {
                            "id": "sub_1234567890abcdef01",
                            "type": "submission"
                          },
                          {
                            "id": "tpl_1234567890abcdef01",
                            "template_version": "1.0.0",
                            "type": "template"
                          },
                          {
                            "id": "tpl_1234567890abcdef01",
                            "type": "template"
                          },
                          {
                            "id": "sub_1234567890abcdef02",
                            "type": "submission"
                          },
                          {
                            "id": "cfi_1234567890abcdef01",
                            "type": "custom_file"
                          },
                          {
                            "id": "com_1234567890abcdef01",
                            "type": "combined_submission"
                          },
                          {
                            "type": "url",
                            "url": "http://example.com/test-pdf.pdf"
                          }
                        ],
                        "state": "pending",
                        "submission_ids": [
                          "sub_1234567890abcdef01",
                          "sub_1234567890abcdef02"
                        ]
                      },
                      "status": "success"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "combined_submission": {
                      "$ref": "#/components/schemas/combined_submission"
                    },
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "combined_submission"
                  ],
                  "title": "create_combined_submission_response",
                  "type": "object"
                }
              }
            },
            "description": "combined submission created"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 34 in '{ \"source_pdfs\": [\"123\", \"345\"], metadata: { \"user_id\": \"@#*&%)(@*#%&(@#!\" }}",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "invalid JSON"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        "source_pdfs: Could not find Submission with ID: MISSING_SUBMISSION_ID",
                        "source_pdfs: Template document is not processed: tpl_1234567890abcdef01 (state: pending)",
                        "source_pdfs: Invalid template version: 'x.y.z' for template: tpl_1234567890abcdef01",
                        "source_pdfs: Could not find Template with version 3.4.5: tpl_1234567890abcdef01",
                        "source_pdfs: Could not find Template with ID: MISSING_TEMPLATE_ID",
                        "source_pdfs: Could not find Custom File with ID: MISSING_CUSTOM_FILE_ID",
                        "source_pdfs: Could not find Combined Submission with ID: MISSING_COMBINED_SUBMISSION_ID"
                      ],
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "invalid request"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "combinePdfs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "delete_custom_files": true,
                  "expires_in": 300,
                  "metadata": {
                    "bar": "baz",
                    "foo": 123
                  },
                  "source_pdfs": [
                    {
                      "id": "sub_1234567890abcdef01",
                      "type": "submission"
                    },
                    {
                      "id": "tpl_1234567890abcdef01",
                      "template_version": "1.0.0",
                      "type": "template"
                    },
                    {
                      "id": "tpl_1234567890abcdef01",
                      "type": "template"
                    },
                    {
                      "id": "sub_1234567890abcdef02",
                      "type": "submission"
                    },
                    {
                      "id": "cfi_1234567890abcdef01",
                      "type": "custom_file"
                    },
                    {
                      "id": "com_1234567890abcdef01",
                      "type": "combined_submission"
                    },
                    {
                      "type": "url",
                      "url": "http://example.com/test-pdf.pdf"
                    }
                  ]
                },
                "properties": {
                  "delete_custom_files": {
                    "type": "boolean"
                  },
                  "expires_in": {
                    "type": "integer"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "password": {
                    "type": "string"
                  },
                  "source_pdfs": {
                    "items": {
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "template_version": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "submission",
                            "combined_submission",
                            "template",
                            "custom_file",
                            "url"
                          ],
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "required": [
                        "type"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "test": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "source_pdfs"
                ],
                "title": "combine_pdfs_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Merge submission PDFs, template PDFs, or custom files",
        "description": "Merge submission PDFs, template PDFs, or custom files"
      }
    },
    "/custom_files": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "custom_file": {
                        "id": "cfi_1234567890abcdef01",
                        "url": "https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/custom_files/cfi_1234567890abcdef01.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789"
                      },
                      "status": "success"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "custom_file": {
                      "$ref": "#/components/schemas/custom_file"
                    },
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "custom_file"
                  ],
                  "title": "create_custom_file_response",
                  "type": "object"
                }
              }
            },
            "description": "returns the custom file"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createCustomFileFromUpload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "cache_id": "cfi_1234567890abcdef01.pdf"
                },
                "properties": {
                  "cache_id": {
                    "minLength": 1,
                    "type": "string"
                  }
                },
                "required": [
                  "cache_id"
                ],
                "title": "create_custom_file_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new custom file from a cached presign upload",
        "description": "Create a new custom file from a cached presign upload"
      }
    },
    "/data_requests/{data_request_id}": {
      "get": {
        "parameters": [
          {
            "example": "drq_1234567890abcdef01",
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "auth_phone_number_hash": "fdcc3985b0698d655137019b1e776171081369f0aad125b8c7f57af2b8225490",
                      "auth_provider": null,
                      "auth_second_factor_type": "phone_number",
                      "auth_session_id_hash": null,
                      "auth_session_started_at": "2018-10-23T13:00:00Z",
                      "auth_type": "password",
                      "auth_user_id_hash": "8ae0e445664ca53407906db8638d8ba07a2383f656383a4427bed1ab645ca29a",
                      "auth_username_hash": "b7c141423f7030a6a771563ee0731192ea871146653a3d0cf8f8b78ca8f9699b",
                      "completed_at": null,
                      "data": {
                        "last_name": "Smithers"
                      },
                      "email": "jdoe@example.com",
                      "fields": [
                        "last_name"
                      ],
                      "id": "drq_1234567890abcdef01",
                      "ip_address": "1.1.1.1",
                      "metadata": {
                        "user_id": 42
                      },
                      "name": "John Doe",
                      "order": 1,
                      "sort_order": 0,
                      "state": "pending",
                      "submission_id": "sub_1234567890abcdef01",
                      "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36",
                      "viewed_at": null
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/submission_data_request_show"
                }
              }
            },
            "description": "completed submission data request found"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Data request not found.",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "submission data request not found"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "getDataRequest",
        "summary": "Look up a submission data request",
        "description": "Look up a submission data request"
      },
      "put": {
        "parameters": [
          {
            "example": "drq_1234567890abcdef01",
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data_request": {
                        "auth_phone_number_hash": null,
                        "auth_provider": "google",
                        "auth_second_factor_type": "none",
                        "auth_session_id_hash": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92",
                        "auth_session_started_at": "2018-10-23T13:00:00Z",
                        "auth_type": "oauth",
                        "auth_user_id_hash": null,
                        "auth_username_hash": null,
                        "completed_at": null,
                        "data": {
                          "last_name": "Smithers"
                        },
                        "email": "jdoe@example.com",
                        "fields": [
                          "last_name"
                        ],
                        "id": "drq_1234567890abcdef01",
                        "ip_address": "1.1.1.1",
                        "metadata": {
                          "user_id": 123
                        },
                        "name": "John Doe",
                        "order": 1,
                        "sort_order": 0,
                        "state": "pending",
                        "submission_id": "sub_1234567890abcdef01",
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36",
                        "viewed_at": null
                      },
                      "status": "success"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "data_request": {
                      "$ref": "#/components/schemas/submission_data_request_show"
                    },
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "data_request"
                  ],
                  "title": "create_submission_data_request_response",
                  "type": "object"
                }
              }
            },
            "description": "submission data request updated"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Data request not found.",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "submission data request not found"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        "Data requests cannot be updated after they have been completed."
                      ],
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "invalid request"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "updateDataRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "auth_provider": "google",
                  "auth_session_id_hash": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92",
                  "auth_session_started_at": "2018-10-23 09:00:00 -0400",
                  "auth_type": "oauth",
                  "metadata": {
                    "user_id": 123
                  }
                },
                "properties": {
                  "auth_phone_number_hash": {
                    "nullable": true,
                    "type": "string"
                  },
                  "auth_provider": {
                    "nullable": true,
                    "type": "string"
                  },
                  "auth_second_factor_type": {
                    "enum": [
                      "none",
                      "phone_number",
                      "totp",
                      "mobile_push",
                      "security_key",
                      "fingerprint",
                      ""
                    ],
                    "nullable": true,
                    "type": "string"
                  },
                  "auth_session_id_hash": {
                    "nullable": true,
                    "type": "string"
                  },
                  "auth_session_started_at": {
                    "nullable": true,
                    "type": "string"
                  },
                  "auth_type": {
                    "enum": [
                      "none",
                      "password",
                      "oauth",
                      "email_link",
                      "phone_number",
                      "ldap",
                      "saml"
                    ],
                    "type": "string"
                  },
                  "auth_user_id_hash": {
                    "nullable": true,
                    "type": "string"
                  },
                  "auth_username_hash": {
                    "nullable": true,
                    "type": "string"
                  },
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "fields": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "order": {
                    "type": "integer"
                  }
                },
                "title": "update_submission_data_request_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update a submission data request",
        "description": "Update a submission data request"
      }
    },
    "/data_requests/{data_request_id}/events": {
      "post": {
        "parameters": [
          {
            "example": "drq_1234567890abcdef01",
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "event": {
                        "event_type": "send_request",
                        "id": "dre_1234567890abcdef01",
                        "message_recipient": "test@test.com",
                        "message_type": "email",
                        "occurred_at": "2018-10-20T13:00:00Z",
                        "submission_data_request_id": "drq_1234567890abcdef01",
                        "submission_id": "sub_1234567890abcdef01"
                      },
                      "status": "success"
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "event": {
                      "$ref": "#/components/schemas/submission_data_request_event"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "event"
                  ],
                  "title": "create_submission_data_request_event_response",
                  "type": "object"
                }
              }
            },
            "description": "event created"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        "Message type can't be blank",
                        "Message recipient can't be blank"
                      ],
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "message recipient must not be blank"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createDataRequestEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "event_type": "send_request",
                  "message_recipient": "test@test.com",
                  "message_type": "email"
                },
                "properties": {
                  "event_type": {
                    "enum": [
                      "send_request",
                      "view_request",
                      "accepted_terms",
                      "decline_request",
                      "sign_request",
                      "all_completed"
                    ],
                    "type": "string"
                  },
                  "message_recipient": {
                    "nullable": true,
                    "type": "string"
                  },
                  "message_type": {
                    "enum": [
                      "email",
                      "sms",
                      "fax",
                      "mail",
                      "slack",
                      "msteams",
                      "discord",
                      "telegram",
                      "whatsapp"
                    ],
                    "nullable": true,
                    "type": "string"
                  },
                  "occurred_at": {
                    "nullable": true,
                    "type": "string"
                  }
                },
                "required": [
                  "event_type"
                ],
                "title": "create_submission_data_request_event_request",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Creates a new event for emailing a signee a request for signature",
        "description": "Creates a new event for emailing a signee a request for signature"
      }
    },
    "/data_requests/{data_request_id}/tokens": {
      "post": {
        "parameters": [
          {
            "example": "drq_1234567890abcdef01",
            "in": "path",
            "name": "data_request_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "api",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "enum": [
                "api",
                "email"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "status": "success",
                      "token": {
                        "data_request_url": "https://app.docspring.com/data_requests/drq_1234567890abcdef01?token_id=1234567890abcdef01&token_secret=ABCDEF01234567890",
                        "expires_at": "2018-10-20T14:00:00Z",
                        "id": "1234567890abcdef01",
                        "secret": "ABCDEF01234567890"
                      }
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    },
                    "token": {
                      "$ref": "#/components/schemas/submission_data_request_token"
                    }
                  },
                  "required": [
                    "status",
                    "token"
                  ],
                  "title": "create_submission_data_request_token_response",
                  "type": "object"
                }
              }
            },
            "description": "token created"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Invalid token type: invalid. Must be one of: api (expiration: 1 hour), email (expiration: 30 days)",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "invalid request"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createDataRequestToken",
        "summary": "Creates a new data request token for form authentication",
        "description": "Creates a new data request token for form authentication"
      }
    },
    "/folders/": {
      "get": {
        "parameters": [
          {
            "description": "Filter By Folder Id",
            "example": "fld_1234567890abcdef02",
            "in": "query",
            "name": "parent_folder_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": "fld_1234567890abcdef03",
                        "name": "nested folder 1",
                        "parent_folder_id": "fld_1234567890abcdef02",
                        "path": "/Folder 2"
                      },
                      {
                        "id": "fld_1234567890abcdef02",
                        "name": "Folder 2",
                        "parent_folder_id": null,
                        "path": "/"
                      },
                      {
                        "id": "fld_1234567890abcdef01",
                        "name": "Folder 1",
                        "parent_folder_id": null,
                        "path": "/"
                      }
                    ]
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "items": {
                    "$ref": "#/components/schemas/folder"
                  },
                  "title": "list_folders",
                  "type": "array"
                }
              }
            },
            "description": "enumerate all folders"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "listFolders",
        "summary": "Get a list of all folders",
        "description": "Get a list of all folders"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": "fld_1234567890abcdef05",
                      "name": "Folder 3",
                      "parent_folder_id": null,
                      "path": "/"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/folder"
                }
              }
            },
            "description": "folder created inside another folder"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "parent folder doesn't exist"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "name already exist"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "createFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "folder": {
                    "name": "Folder 3"
                  }
                },
                "properties": {
                  "folder": {
                    "additionalProperties": false,
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "parent_folder_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "title": "create_folder_attributes",
                    "type": "object"
                  }
                },
                "required": [
                  "folder"
                ],
                "title": "create_folder_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a folder",
        "description": "Create a folder"
      }
    },
    "/folders/{folder_id}": {
      "delete": {
        "parameters": [
          {
            "example": "fld_1234567890abcdef01",
            "in": "path",
            "name": "folder_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": "fld_1234567890abcdef01",
                      "name": "Folder 1",
                      "parent_folder_id": null,
                      "path": "/"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/folder"
                }
              }
            },
            "description": "folder is empty"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "folder doesn't exist"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "folder has contents"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "deleteFolder",
        "summary": "Delete a folder",
        "description": "Delete a folder"
      }
    },
    "/folders/{folder_id}/move": {
      "post": {
        "parameters": [
          {
            "example": "fld_1234567890abcdef01",
            "in": "path",
            "name": "folder_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": "fld_1234567890abcdef01",
                      "name": "Folder 1",
                      "parent_folder_id": "fld_1234567890abcdef02",
                      "path": "/Folder 2"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/folder"
                }
              }
            },
            "description": "move to root folder"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "parent folder doesn't exist"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "moveFolderToFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "parent_folder_id": "fld_1234567890abcdef02"
                },
                "properties": {
                  "parent_folder_id": {
                    "type": "string"
                  }
                },
                "title": "move_folder_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Move a folder",
        "description": "Move a folder"
      }
    },
    "/folders/{folder_id}/rename": {
      "post": {
        "parameters": [
          {
            "example": "fld_1234567890abcdef01",
            "in": "path",
            "name": "folder_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": "fld_1234567890abcdef01",
                      "name": "Folder 3",
                      "parent_folder_id": null,
                      "path": "/"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/folder"
                }
              }
            },
            "description": "successful rename"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "folder doesn't belong to me"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "name already exist"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "renameFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "name": "Folder 3"
                },
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "title": "rename_folder_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Rename a folder",
        "description": "Rename a folder"
      }
    },
    "/submissions": {
      "get": {
        "parameters": [
          {
            "example": "sub_1234567890abcdef12",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": 3,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "example": "2019-01-01T09:00:00-05:00",
            "in": "query",
            "name": "created_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "2020-01-01T09:00:00.000+0200",
            "in": "query",
            "name": "created_before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "test",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": true,
            "in": "query",
            "name": "include_data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "limit": 3,
                      "next_cursor": "sub_1234567890abcdef03",
                      "submissions": [
                        {
                          "actions": [],
                          "audit_trail_download_url": null,
                          "batch_id": null,
                          "data": {
                            "first_name": "John C. D. Rom Laserdisk F. Scott Fitzgerald",
                            "last_name": "Smith",
                            "phone_number": "+11234567890"
                          },
                          "data_requests": [],
                          "download_url": "https://example.com/submissions/submission.pdf",
                          "editable": false,
                          "expired": false,
                          "expires_at": "2020-10-27T13:00:00Z",
                          "id": "sub_1234567890abcdef01",
                          "json_schema_errors": [],
                          "metadata": {
                            "qux": "abc",
                            "user_id": 42
                          },
                          "password": null,
                          "pdf_hash": "bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                          "permanent_download_url": "https://app.docspring.com/submissions/sub_1234567890abcdef01/download",
                          "preview_download_url": null,
                          "preview_generated_at": null,
                          "processed_at": "2020-05-14T02:00:00Z",
                          "referrer": null,
                          "source": "api",
                          "state": "processed",
                          "template_id": "tpl_1234567890abcdef01",
                          "template_type": "pdf",
                          "template_version": null,
                          "test": true,
                          "truncated_text": {
                            "first_name": [
                              "F. Scott Fitzgerald"
                            ]
                          }
                        },
                        {
                          "actions": [],
                          "audit_trail_download_url": null,
                          "batch_id": null,
                          "data": {
                            "first_name": "John C. D. Rom Laserdisk F. Scott Fitzgerald",
                            "last_name": "Smith",
                            "phone_number": "+11234567890"
                          },
                          "data_requests": [],
                          "download_url": "https://example.com/submissions/submission.pdf",
                          "editable": false,
                          "expired": false,
                          "expires_at": "2020-10-27T13:00:00Z",
                          "id": "sub_1234567890abcdef02",
                          "json_schema_errors": [],
                          "metadata": {
                            "qux": "abc",
                            "user_id": 42
                          },
                          "password": null,
                          "pdf_hash": "bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                          "permanent_download_url": "https://app.docspring.com/submissions/sub_1234567890abcdef02/download",
                          "preview_download_url": null,
                          "preview_generated_at": null,
                          "processed_at": "2020-05-14T02:00:00Z",
                          "referrer": null,
                          "source": "api",
                          "state": "processed",
                          "template_id": "tpl_1234567890abcdef01",
                          "template_type": "pdf",
                          "template_version": null,
                          "test": true,
                          "truncated_text": {
                            "first_name": [
                              "F. Scott Fitzgerald"
                            ]
                          }
                        },
                        {
                          "actions": [],
                          "audit_trail_download_url": null,
                          "batch_id": null,
                          "data": {
                            "first_name": "John C. D. Rom Laserdisk F. Scott Fitzgerald",
                            "last_name": "Smith",
                            "phone_number": "+11234567890"
                          },
                          "data_requests": [],
                          "download_url": "https://example.com/submissions/submission.pdf",
                          "editable": false,
                          "expired": false,
                          "expires_at": "2020-10-27T13:00:00Z",
                          "id": "sub_1234567890abcdef03",
                          "json_schema_errors": [],
                          "metadata": {
                            "qux": "abc",
                            "user_id": 42
                          },
                          "password": null,
                          "pdf_hash": "bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5",
                          "permanent_download_url": "https://app.docspring.com/submissions/sub_1234567890abcdef03/download",
                          "preview_download_url": null,
                          "preview_generated_at": null,
                          "processed_at": "2020-05-14T02:00:00Z",
                          "referrer": null,
                          "source": "api",
                          "state": "processed",
                          "template_id": "tpl_1234567890abcdef01",
                          "template_type": "pdf",
                          "template_version": null,
                          "test": true,
                          "truncated_text": {
                            "first_name": [
                              "F. Scott Fitzgerald"
                            ]
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "limit": {
                      "type": "number"
                    },
                    "next_cursor": {
                      "nullable": true,
                      "type": "string"
                    },
                    "submissions": {
                      "items": {
                        "$ref": "#/components/schemas/submission"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "submissions",
                    "limit",
                    "next_cursor"
                  ],
                  "title": "list_submissions_response",
                  "type": "object"
                }
              }
            },
            "description": "listing submissions"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Missing Basic Auth: Please provide an API token via Basic Auth. See: https://docspring.com/docs/api/authentication.html",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Invalid submission type: 'foo'",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "invalid type"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "listSubmissions",
        "summary": "List all submissions",
        "description": "List all submissions"
      }
    },
    "/submissions/batches": {
      "post": {
        "parameters": [
          {
            "description": "Wait for submission batch to be processed before returning. Set to false to return immediately. Default: true (on sync.* subdomain)",
            "in": "query",
            "name": "wait",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "status": "error",
                      "submission_batch": {
                        "completion_percentage": 100,
                        "error_count": 1,
                        "id": "sbb_1234567890abcdef01",
                        "metadata": {
                          "job_id": 54321
                        },
                        "pending_count": 0,
                        "processed_at": null,
                        "state": "error",
                        "total_count": 2
                      },
                      "submissions": [
                        {
                          "errors": [],
                          "status": "valid_but_not_saved"
                        },
                        {
                          "errors": [
                            "The object did not contain a required property of 'first_name'"
                          ],
                          "status": "error",
                          "submission": {
                            "actions": [],
                            "audit_trail_download_url": null,
                            "batch_id": "sbb_1234567890abcdef01",
                            "data_requests": [],
                            "download_url": null,
                            "editable": null,
                            "expired": false,
                            "expires_at": null,
                            "id": "sub_1234567890abcdef02",
                            "json_schema_errors": [
                              "The object did not contain a required property of 'first_name'"
                            ],
                            "metadata": {
                              "submission_number": 2
                            },
                            "password": null,
                            "pdf_hash": null,
                            "permanent_download_url": null,
                            "preview_download_url": null,
                            "preview_generated_at": null,
                            "processed_at": null,
                            "state": "invalid_data",
                            "template_id": "tpl_1234567890abcdef01",
                            "template_type": "pdf",
                            "template_version": null,
                            "test": true,
                            "truncated_text": {}
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    },
                    "submission_batch": {
                      "$ref": "#/components/schemas/submission_batch"
                    },
                    "submissions": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "errors": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "status": {
                            "enum": [
                              "success",
                              "error",
                              "valid_but_not_saved"
                            ],
                            "type": "string"
                          },
                          "submission": {
                            "$ref": "#/components/schemas/submission_preview"
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "status",
                    "submission_batch",
                    "submissions"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "some PDFs with invalid data"
          },
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "status": "success",
                      "submission_batch": {
                        "completion_percentage": 0,
                        "error_count": 0,
                        "id": "sbb_1234567890abcdef01",
                        "metadata": {
                          "job_id": 54321
                        },
                        "pending_count": 2,
                        "processed_at": null,
                        "state": "pending",
                        "total_count": 2
                      },
                      "submissions": [
                        {
                          "status": "success",
                          "submission": {
                            "actions": [],
                            "audit_trail_download_url": null,
                            "batch_id": "sbb_1234567890abcdef01",
                            "data_requests": [],
                            "download_url": null,
                            "editable": null,
                            "expired": false,
                            "expires_at": null,
                            "id": "sub_1234567890abcdef01",
                            "json_schema_errors": [],
                            "metadata": {
                              "submission_number": 1
                            },
                            "password": null,
                            "pdf_hash": null,
                            "permanent_download_url": null,
                            "preview_download_url": null,
                            "preview_generated_at": null,
                            "processed_at": null,
                            "state": "pending",
                            "template_id": "tpl_1234567890abcdef01",
                            "template_type": "pdf",
                            "template_version": null,
                            "test": false,
                            "truncated_text": {}
                          }
                        },
                        {
                          "status": "success",
                          "submission": {
                            "actions": [],
                            "audit_trail_download_url": null,
                            "batch_id": "sbb_1234567890abcdef01",
                            "data_requests": [],
                            "download_url": null,
                            "editable": null,
                            "expired": false,
                            "expires_at": null,
                            "id": "sub_1234567890abcdef02",
                            "json_schema_errors": [],
                            "metadata": {
                              "submission_number": 2
                            },
                            "password": null,
                            "pdf_hash": null,
                            "permanent_download_url": null,
                            "preview_download_url": null,
                            "preview_generated_at": null,
                            "processed_at": null,
                            "state": "pending",
                            "template_id": "tpl_1234567890abcdef01",
                            "template_type": "pdf",
                            "template_version": null,
                            "test": true,
                            "truncated_text": {}
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "status": {
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    },
                    "submission_batch": {
                      "$ref": "#/components/schemas/submission_batch"
                    },
                    "submissions": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "errors": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "status": {
                            "enum": [
                              "success",
                              "error",
                              "valid_but_not_saved"
                            ],
                            "type": "string"
                          },
                          "submission": {
                            "$ref": "#/components/schemas/submission_preview"
                          }
                        },
                        "required": [
                          "status"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "status",
                    "submission_batch",
                    "submissions"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "submissions created"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "There was a problem with the JSON you submitted: unexpected character at line 1, column 25 in '{ \"first_name\": \"John\", last_name: \"Smith\" }",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "invalid JSON"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "Invalid API token secret",
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            },
            "description": "authentication failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "error": "You can only generate up to 50 PDFs per batch request. You requested: 51",
                      "errors": [
                        "The property '#/submissions/0' of type array did not match the following type: object"
                      ],
                      "status": "error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/multiple_errors_response"
                }
              }
            },
            "description": "array of arrays"
          }
        },
        "security": [
          {
            "api_token_basic": []
          }
        ],
        "tags": [
          "PDF"
        ],
        "operationId": "batchGeneratePdfs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "metadata": {
                    "job_id": 54321
                  },
                  "submissions": [
                    {
                      "data": {
                        "first_name": "Johnny",
                        "last_name": "Smith"
                      },
                      "metadata": {
                        "submission_number": 1
                      },
                      "template_id": "tpl_1234567890abcdef01",
                      "template_version": "draft",
                      "test": false
                    },
                    {
                      "data": {
                        "first_name": "Jane",
                        "last_name": "Doe"
                      },
                      "metadata": {
                        "submission_number": 2
                      },
                      "template_id": "tpl_1234567890abcdef01",
                      "template_version": "latest"
                    }
                  ],
                  "template_id": null,
                  "template_version": null,
                  "test": true
                },
                "properties": {
                  "metadata": {
                    "type": "object"
                  },
                  "submissions": {
                    "items": {
                      "additionalProperties": false,
                      "properties": {
                        "css": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object"
                        },
                        "html": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object"
                        },
                        "template_id": {
                          "nullable": true,
                          "type": "string"
                        },
                        "template_version": {
                          "nullable": true,
                          "type": "string"
                        },
                        "test": {
                          "type": "boolean"
                        }
                      },
                      "title": "submission_data_batch_request",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "template_id": {
                    "nullable": true,
                    "type": "string"
                  },
                  "template_version": {
                    "nullable": true,
                    "type": "string"
                  },
                  "test": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "submissions"
                ],
                "title": "submission_batch_data",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Generates multiple PDFs",
        "description": "Generates multiple PDFs"
      }
    },
    "/submissions/batches/{submission_batch_id}": {
      "get": {
        "parameters": [
          {
            "example": "sbb_1234567890abcdef01",
            "in": "path",
            "name": "submission_batch_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": true,
            "in": "query",
            "name": "include_submissions",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "completion_percentage": 90,
                      "error_count": 2,
[...]
