{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Host server for the API",
      "url": "https://sal.app.reelgolf.com"
    }
  ],
  "info": {
    "description": "This is the ReelGOLF API used by the St. Andrew's app backend.",
    "version": "1.0.0",
    "title": "SAL API",
    "contact": {
      "email": "jim@hiomedia.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hiomedia/SAL/1.0.0"
  },
  "paths": {
    "/api/v1/recording/start": {
      "post": {
        "summary": "starts video recording",
        "operationId": "start_video_recording",
        "description": "Launches video collection from all cameras at the specified golf course and hole",
        "request_body": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "course_id": {
                    "type": "string",
                    "description": "The user's email address."
                  },
                  "hole_number": {
                    "type": "string",
                    "description": "The user's password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "search results matching criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InventoryItem": {
        "type": "object",
        "required": [
          "id",
          "name",
          "manufacturer",
          "releaseDate"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name": {
            "type": "string",
            "example": "Widget Adapter"
          },
          "releaseDate": {
            "type": "string",
            "format": "date-time",
            "example": "2016-08-29T09:12:33.001Z"
          },
          "manufacturer": {
            "$ref": "#/components/schemas/Manufacturer"
          }
        }
      },
      "Manufacturer": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "ACME Corporation"
          },
          "homePage": {
            "type": "string",
            "format": "url",
            "example": "https://www.acme-corp.com"
          },
          "phone": {
            "type": "string",
            "example": "408-867-5309"
          }
        },
        "type": "object"
      }
    }
  }
}