{
  "openapi": "3.0.3",
  "info": {
    "title": "JokeAPI",
    "version": "2.0",
    "description": "JokeAPI is a RESTful API that serves jokes in a variety of categories and formats. It supports filtering by category, language, type, and flags.",
    "x-jentic-source-url": "https://jokeapi.dev/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://v2.jokeapi.dev"
    }
  ],
  "paths": {
    "/joke/{category}": {
      "get": {
        "operationId": "getJoke",
        "summary": "Get a joke",
        "description": "Fetches one or more jokes from the specified category. Use 'Any' for all categories, or combine categories with + (e.g., Programming+Dark).",
        "tags": [
          "Jokes"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "Joke category: Any, Misc, Programming, Dark, Pun, Spooky, Christmas. Combine with +",
            "schema": {
              "type": "string",
              "default": "Any"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          },
          {
            "name": "blacklistFlags",
            "in": "query",
            "description": "Comma-separated flags to blacklist",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Joke type filter",
            "schema": {
              "type": "string",
              "enum": [
                "single",
                "twopart"
              ]
            }
          },
          {
            "name": "contains",
            "in": "query",
            "description": "Search string that must be contained in the joke",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idRange",
            "in": "query",
            "description": "ID range (e.g., 0-50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Number of jokes to return (1-10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "safe-mode",
            "in": "query",
            "description": "Enable safe mode (no NSFW)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JokeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "operationId": "getInfo",
        "summary": "Get API info",
        "description": "Returns information about JokeAPI including version, joke count per category and language, and available categories and flags.",
        "tags": [
          "Info"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "getCategories",
        "summary": "Get joke categories",
        "description": "Returns a list of available joke categories.",
        "tags": [
          "Info"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/langcode/{language}": {
      "get": {
        "operationId": "getLanguageCode",
        "summary": "Get language code",
        "description": "Returns the language code for a given language name.",
        "tags": [
          "Info"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "Get supported languages",
        "description": "Returns a list of available languages and their joke counts.",
        "tags": [
          "Info"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flags": {
      "get": {
        "operationId": "getFlags",
        "summary": "Get available flags",
        "description": "Returns a list of available blacklist flags.",
        "tags": [
          "Info"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping the API",
        "description": "Check if JokeAPI is reachable.",
        "tags": [
          "Info"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "yaml",
                "txt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pong response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "ping": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submit": {
      "post": {
        "operationId": "submitJoke",
        "summary": "Submit a joke",
        "description": "Submit a new joke to JokeAPI for review.",
        "tags": [
          "Jokes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JokeSubmission"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Joke submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "submission": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JokeResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "single",
              "twopart"
            ]
          },
          "joke": {
            "type": "string",
            "description": "For single-type jokes"
          },
          "setup": {
            "type": "string",
            "description": "For twopart-type jokes"
          },
          "delivery": {
            "type": "string",
            "description": "For twopart-type jokes"
          },
          "flags": {
            "$ref": "#/components/schemas/JokeFlags"
          },
          "id": {
            "type": "integer"
          },
          "safe": {
            "type": "boolean"
          },
          "lang": {
            "type": "string"
          }
        }
      },
      "JokeFlags": {
        "type": "object",
        "properties": {
          "nsfw": {
            "type": "boolean"
          },
          "religious": {
            "type": "boolean"
          },
          "political": {
            "type": "boolean"
          },
          "racist": {
            "type": "boolean"
          },
          "sexist": {
            "type": "boolean"
          },
          "explicit": {
            "type": "boolean"
          }
        }
      },
      "JokeSubmission": {
        "type": "object",
        "required": [
          "formatVersion",
          "category",
          "type"
        ],
        "properties": {
          "formatVersion": {
            "type": "integer",
            "default": 3
          },
          "category": {
            "type": "string",
            "enum": [
              "Misc",
              "Programming",
              "Dark",
              "Pun",
              "Spooky",
              "Christmas"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "single",
              "twopart"
            ]
          },
          "joke": {
            "type": "string"
          },
          "setup": {
            "type": "string"
          },
          "delivery": {
            "type": "string"
          },
          "flags": {
            "$ref": "#/components/schemas/JokeFlags"
          },
          "lang": {
            "type": "string",
            "default": "en"
          }
        }
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          },
          "jokes": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "integer"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "flags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "types": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "submissionURL": {
                "type": "string"
              },
              "idRange": {
                "type": "object"
              },
              "safeJokes": {
                "type": "object"
              }
            }
          },
          "formats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jokeLanguages": {
            "type": "integer"
          },
          "systemLanguages": {
            "type": "integer"
          },
          "info": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "CategoriesResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categoryAliases": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "LanguageCodeResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "LanguagesResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "defaultLanguage": {
            "type": "string"
          },
          "jokeLanguages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "possibleLanguages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "FlagsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "internalError": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "causedBy": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additionalInfo": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Info"
    },
    {
      "name": "Jokes"
    }
  ]
}
