{
  "openapi": "3.0.0",
  "info": {
    "title": "Load with Rate API",
    "description": "An API using POST and PUT operations.",
    "contact": {
      "email": "PCS-OpenAPI@pcssoft.com"
    },
    "version": "1.0.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PCS-Software-Inc/LoadWithRate-API/1.0.0.0"
  },
  "servers": [
    {
      "url": "https://api.pcssoft.com/api"
    }
  ],
  "tags": [
    {
      "name": "load with rate",
      "description": "Load Operations available to regular developers."
    }
  ],
  "paths": {
    "/load-with-rate": {
      "post": {
        "tags": [
          "developers"
        ],
        "parameters": [
          {
            "name": "Customer-Id",
            "schema": {
              "type": "string"
            },
            "in": "header",
            "description": "Pcs client id (customer id)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/LessThanTruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/IntermodalLoad"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/LessThanTruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/IntermodalLoad"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/LessThanTruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/IntermodalLoad"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/load-with-rate/{loadId}": {
      "put": {
        "tags": [
          "developers"
        ],
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "username",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Customer-Id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Pcs client id (customer id)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Office": {
        "type": "object",
        "required": [
          "Code"
        ],
        "properties": {
          "Code": {
            "type": "integer"
          }
        }
      },
      "TruckLoad": {
        "type": "object",
        "required": [
          "Status",
          "LoadClass",
          "Office"
        ],
        "properties": {
          "LoadId": {
            "type": "integer",
            "readOnly": true
          },
          "Status": {
            "type": "string",
            "enum": [
              "Active",
              "Arrived",
              "Assigned",
              "Booked",
              "Brokered",
              "Cancelled",
              "Dispatched",
              "Dropped",
              "Enroute",
              "Moving",
              "Pending",
              "Possible",
              "Ready"
            ]
          },
          "LoadClass": {
            "type": "string",
            "enum": [
              "TL"
            ]
          },
          "LoadType": {
            "type": "string",
            "maxLength": 15
          },
          "BillToId": {
            "type": "string",
            "maxLength": 15,
            "description": "Customer Code"
          },
          "BillToName": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer Name"
          },
          "LoadReference": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer's Load Number"
          },
          "BillingType": {
            "type": "string",
            "enum": [
              "P",
              "C",
              "B"
            ],
            "description": "P - Prepaid, C - Collect, B - BillTo"
          },
          "MilesBilled": {
            "type": "number",
            "format": "float"
          },
          "TotalWeight": {
            "type": "number",
            "format": "float"
          },
          "Pallets": {
            "type": "integer"
          },
          "Reference1": {
            "type": "string",
            "maxLength": 25
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Office": {
            "$ref": "#/components/schemas/Office"
          },
          "Rating": {
            "$ref": "#/components/schemas/LoadRating"
          },
          "Stops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadStop"
            }
          }
        }
      },
      "LessThanTruckLoad": {
        "type": "object",
        "required": [
          "Status",
          "LoadClass",
          "Office"
        ],
        "properties": {
          "LoadId": {
            "type": "integer",
            "readOnly": true
          },
          "Status": {
            "type": "string",
            "enum": [
              "Active",
              "Arrived",
              "Assigned",
              "Booked",
              "Brokered",
              "Cancelled",
              "Dispatched",
              "Dropped",
              "Enroute",
              "Moving",
              "Pending",
              "Possible",
              "Ready"
            ]
          },
          "LoadClass": {
            "type": "string",
            "enum": [
              "LTL"
            ]
          },
          "LoadType": {
            "type": "string",
            "maxLength": 15
          },
          "BillToId": {
            "type": "string",
            "maxLength": 15,
            "description": "Customer Code"
          },
          "BillToName": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer Name"
          },
          "LoadReference": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer's Load Number"
          },
          "BillingType": {
            "type": "string",
            "enum": [
              "P",
              "C",
              "B"
            ],
            "description": "P - Prepaid, C - Collect, B - BillTo"
          },
          "MilesBilled": {
            "type": "number"
          },
          "TotalWeight": {
            "type": "number",
            "format": "float"
          },
          "Pallets": {
            "type": "integer"
          },
          "Reference1": {
            "type": "string",
            "maxLength": 25
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Office": {
            "$ref": "#/components/schemas/Office"
          },
          "Stops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadStop"
            }
          }
        }
      },
      "IntermodalLoad": {
        "type": "object",
        "required": [
          "Status",
          "LoadClass",
          "Office"
        ],
        "properties": {
          "LoadId": {
            "type": "integer",
            "readOnly": true
          },
          "Status": {
            "type": "string",
            "enum": [
              "Active",
              "Arrived",
              "Assigned",
              "Booked",
              "Brokered",
              "Cancelled",
              "Dispatched",
              "Dropped",
              "Enroute",
              "Moving",
              "Pending",
              "Possible",
              "Ready"
            ]
          },
          "LoadClass": {
            "type": "string",
            "enum": [
              "Intermodal"
            ]
          },
          "LoadType": {
            "type": "string",
            "maxLength": 15
          },
          "BillToId": {
            "type": "string",
            "maxLength": 15,
            "description": "Customer Code"
          },
          "BillToName": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer Name"
          },
          "LoadReference": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer's Load Number"
          },
          "Boundary": {
            "type": "string",
            "enum": [
              "I",
              "O",
              "C"
            ],
            "description": "I - Inbound, O - Outbound, C - Crosstown"
          },
          "BookingNumber": {
            "type": "string",
            "maxLength": 25,
            "description": "Booking Number of a load. In TMS when Boundary is Inbound the field is called 'Bill of Lading', when Inbound is Outbound or Crosstown then the name is 'Booking No'.\n"
          },
          "MilesBilled": {
            "type": "number"
          },
          "Container": {
            "type": "string",
            "maxLength": 15
          },
          "Chassis": {
            "type": "string",
            "maxLength": 15
          },
          "Reference1": {
            "type": "string",
            "maxLength": 25
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Office": {
            "$ref": "#/components/schemas/Office"
          },
          "Stops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadStop"
            }
          }
        }
      },
      "LoadStop": {
        "type": "object",
        "required": [
          "Order",
          "Type",
          "Contact",
          "CompanyName",
          "Address",
          "AvailableFrom",
          "AvailableTo"
        ],
        "properties": {
          "Id": {
            "type": "integer",
            "readOnly": true
          },
          "Order": {
            "type": "integer"
          },
          "Type": {
            "type": "string",
            "enum": [
              "Shipper",
              "Consignee"
            ]
          },
          "Zone": {
            "type": "string"
          },
          "AvailableFrom": {
            "type": "string",
            "format": "date-time"
          },
          "AvailableFromIsLocal": {
            "type": "boolean"
          },
          "AvailableTo": {
            "type": "string",
            "format": "date-time"
          },
          "AvailableToIsLocal": {
            "type": "boolean"
          },
          "Miles": {
            "type": "integer"
          },
          "ReferenceNumber": {
            "type": "string",
            "maxLength": 25
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Phone": {
            "type": "string",
            "maxLength": 15
          },
          "Contact": {
            "type": "string",
            "maxLength": 20
          },
          "CompanyName": {
            "type": "string",
            "maxLength": 35
          },
          "Address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "CommodityLocator": {
        "type": "object",
        "properties": {
          "Id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Name": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommodityRate": {
        "type": "object",
        "required": [
          "commodityLocator",
          "value"
        ],
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647,
            "nullable": true
          },
          "CommodityLocator": {
            "$ref": "#/components/schemas/CommodityLocator"
          },
          "StockId": {
            "type": "string",
            "maxLength": 30,
            "nullable": true
          },
          "Description": {
            "type": "string",
            "maxLength": 30,
            "nullable": true
          },
          "Pieces": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "ActualWeight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "TariffWeight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "AsWeight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Space": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Seats": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Value": {
            "type": "number",
            "format": "double",
            "minimum": 0
          },
          "MeasureCode": {
            "type": "string",
            "maxLength": 10,
            "nullable": true
          },
          "Length": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Width": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Height": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "LengthInches": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "WidthInches": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "HeightInches": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "IsStackable": {
            "type": "boolean",
            "nullable": true
          },
          "IsFloorLoad": {
            "type": "boolean",
            "nullable": true
          },
          "Notes": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommodityRating": {
        "type": "object",
        "properties": {
          "MatrixId": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647
          },
          "CommodityRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommodityRate"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccessorialLocator": {
        "type": "object",
        "properties": {
          "Id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Name": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccessorialRate": {
        "required": [
          "AccessorialLocator",
          "MatrixId"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647,
            "nullable": true
          },
          "AccessorialLocator": {
            "$ref": "#/components/schemas/AccessorialLocator"
          },
          "MatrixId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "RefNumber": {
            "maxLength": 15,
            "type": "string",
            "nullable": true
          },
          "Rate": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Units": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Notes": {
            "maxLength": 8000,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LineHaulLoadRate": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "RateType": {
            "maxLength": 10,
            "type": "string",
            "nullable": true
          },
          "Rate": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MatrixId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "description": "Allowed values - Manual LoadMatrix CommodityMatrix"
          }
        },
        "additionalProperties": false
      },
      "LoadRating": {
        "type": "object",
        "properties": {
          "LineHaulRate": {
            "$ref": "#/components/schemas/LineHaulLoadRate"
          },
          "AccessorialRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessorialRate"
            },
            "nullable": true
          },
          "CommodityRating": {
            "$ref": "#/components/schemas/CommodityRating"
          }
        },
        "additionalProperties": false
      },
      "Address": {
        "type": "object",
        "required": [
          "PostalCode"
        ],
        "properties": {
          "CountrySubDivisionCode": {
            "type": "string",
            "maxLength": 2
          },
          "City": {
            "type": "string",
            "maxLength": 25
          },
          "Line1": {
            "type": "string",
            "maxLength": 35
          },
          "PostalCode": {
            "type": "string",
            "maxLength": 10
          }
        }
      },
      "PatchRequest": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PatchDocument"
        }
      },
      "PatchDocument": {
        "description": "A JSONPatch document as defined by RFC 6902",
        "required": [
          "op",
          "path"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed",
            "enum": [
              "replace",
              "test"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer. Name of a property that should be updated. First level properties any of TruckLoad, LessThanTruckLoad or IntermodalLoad.\n"
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "Fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "Fault": {
        "type": "object",
        "properties": {
          "Timestamp": {
            "type": "string",
            "format": "date"
          },
          "Operation": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          },
          "Details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ValidationError"
                },
                {
                  "$ref": "#/components/schemas/Error"
                }
              ]
            }
          }
        }
      }
    }
  }
}