{
  "openapi": "3.0.3",
  "info": {
    "title": "Libraries.io API",
    "version": "1.6.0",
    "description": "Libraries.io API for searching open source packages, their versions, dependencies, and repository metadata across multiple package managers.",
    "x-jentic-source-url": "https://libraries.io/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://libraries.io/api"
    }
  ],
  "tags": [
    {
      "name": "Platforms",
      "description": "Package manager platforms"
    },
    {
      "name": "Projects",
      "description": "Package/project information"
    },
    {
      "name": "Repositories",
      "description": "Source code repositories"
    },
    {
      "name": "Users",
      "description": "User information and subscriptions"
    },
    {
      "name": "Subscriptions",
      "description": "Package subscription management"
    },
    {
      "name": "Search",
      "description": "Search for projects"
    }
  ],
  "paths": {
    "/platforms": {
      "get": {
        "operationId": "listPlatforms",
        "summary": "Get list of supported package managers",
        "tags": [
          "Platforms"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "List of platforms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Platform"
                  }
                }
              }
            }
          }
        },
        "description": "Get list of supported package managers"
      }
    },
    "/{platform}/{name}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get information about a package",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "description": "Get information about a package"
      }
    },
    "/{platform}/{name}/{version}/dependencies": {
      "get": {
        "operationId": "getProjectDependencies",
        "summary": "Get dependencies for a version of a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Version string"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Project with dependencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectWithDependencies"
                }
              }
            }
          }
        },
        "description": "Get dependencies for a version of a project"
      }
    },
    "/{platform}/{name}/dependents": {
      "get": {
        "operationId": "getProjectDependents",
        "summary": "Get packages that depend on this project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dependent projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "Get packages that depend on this project"
      }
    },
    "/{platform}/{name}/dependent_repositories": {
      "get": {
        "operationId": "getProjectDependentRepositories",
        "summary": "Get repositories that depend on this project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dependent repositories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Repository"
                  }
                }
              }
            }
          }
        },
        "description": "Get repositories that depend on this project"
      }
    },
    "/{platform}/{name}/contributors": {
      "get": {
        "operationId": "getProjectContributors",
        "summary": "Get contributors for a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contributors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contributor"
                  }
                }
              }
            }
          }
        },
        "description": "Get contributors for a project"
      }
    },
    "/{platform}/{name}/sourcerank": {
      "get": {
        "operationId": "getProjectSourceRank",
        "summary": "Get SourceRank breakdown for a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "SourceRank details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get SourceRank breakdown for a project"
      }
    },
    "/search": {
      "get": {
        "operationId": "searchProjects",
        "summary": "Search for projects",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "languages",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licenses",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "rank",
                "stars",
                "dependents_count",
                "dependent_repos_count",
                "latest_release_published_at",
                "contributions_count",
                "created_at"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "Search for projects"
      }
    },
    "/{host_type}/{owner}/{repo}": {
      "get": {
        "operationId": "getRepository",
        "summary": "Get repository information",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          }
        },
        "description": "Get repository information"
      }
    },
    "/{host_type}/{owner}/{repo}/dependencies": {
      "get": {
        "operationId": "getRepositoryDependencies",
        "summary": "Get dependencies for a repository",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository dependencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get dependencies for a repository"
      }
    },
    "/{host_type}/{owner}/{repo}/projects": {
      "get": {
        "operationId": "getRepositoryProjects",
        "summary": "Get projects from a repository",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "Get projects from a repository"
      }
    },
    "/{host_type}/{owner}/repositories": {
      "get": {
        "operationId": "getUserRepositories",
        "summary": "Get repositories for a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Repository"
                  }
                }
              }
            }
          }
        },
        "description": "Get repositories for a user"
      }
    },
    "/{host_type}/{owner}/projects": {
      "get": {
        "operationId": "getUserProjects",
        "summary": "Get projects for a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "Get projects for a user"
      }
    },
    "/{host_type}/{owner}/project-contributions": {
      "get": {
        "operationId": "getUserProjectContributions",
        "summary": "Get projects a user has contributed to",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "Get projects a user has contributed to"
      }
    },
    "/{host_type}/{owner}/repository-contributions": {
      "get": {
        "operationId": "getUserRepositoryContributions",
        "summary": "Get repositories a user has contributed to",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Repository"
                  }
                }
              }
            }
          }
        },
        "description": "Get repositories a user has contributed to"
      }
    },
    "/{host_type}/{owner}/dependencies": {
      "get": {
        "operationId": "getUserDependencies",
        "summary": "Get unique packages a user's repos depend on",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "host_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "gitlab",
                "bitbucket"
              ]
            },
            "description": "Host type"
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "Get unique packages a user's repos depend on"
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List packages you are subscribed to",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        },
        "description": "List packages you are subscribed to"
      }
    },
    "/subscriptions/{platform}/{name}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Check if subscribed to a package",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "description": "Check if subscribed to a package"
      },
      "post": {
        "operationId": "subscribeToProject",
        "summary": "Subscribe to a package",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_prerelease": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "description": "Subscribe to a package"
      },
      "put": {
        "operationId": "updateSubscription",
        "summary": "Update subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_prerelease": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "description": "Update subscription"
      },
      "delete": {
        "operationId": "unsubscribeFromProject",
        "summary": "Unsubscribe from a package",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Package manager (e.g. NPM, Pypi, Maven)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          }
        },
        "description": "Unsubscribe from a package"
      }
    }
  },
  "components": {
    "schemas": {
      "Platform": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "project_count": {
            "type": "integer"
          },
          "homepage": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "default_language": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "homepage": {
            "type": "string"
          },
          "repository_url": {
            "type": "string"
          },
          "normalized_licenses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rank": {
            "type": "integer"
          },
          "latest_release_number": {
            "type": "string"
          },
          "latest_release_published_at": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "dependents_count": {
            "type": "integer"
          },
          "dependent_repos_count": {
            "type": "integer"
          },
          "stars": {
            "type": "integer"
          },
          "forks": {
            "type": "integer"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Version"
            }
          }
        }
      },
      "Version": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string"
          },
          "published_at": {
            "type": "string"
          },
          "spdx_expression": {
            "type": "string",
            "nullable": true
          },
          "original_license": {
            "type": "string",
            "nullable": true
          },
          "researched_at": {
            "type": "string",
            "nullable": true
          },
          "repository_sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProjectWithDependencies": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dependency"
            }
          }
        }
      },
      "Dependency": {
        "type": "object",
        "properties": {
          "project_name": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "requirements": {
            "type": "string"
          },
          "latest_stable": {
            "type": "string"
          },
          "latest": {
            "type": "string"
          },
          "deprecated": {
            "type": "boolean"
          },
          "outdated": {
            "type": "boolean"
          },
          "filepath": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string"
          }
        }
      },
      "Repository": {
        "type": "object",
        "properties": {
          "full_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fork": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "pushed_at": {
            "type": "string"
          },
          "homepage": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "stargazers_count": {
            "type": "integer"
          },
          "language": {
            "type": "string"
          },
          "forks_count": {
            "type": "integer"
          },
          "open_issues_count": {
            "type": "integer"
          },
          "default_branch": {
            "type": "string"
          },
          "github_id": {
            "type": "string"
          },
          "host_type": {
            "type": "string"
          }
        }
      },
      "Contributor": {
        "type": "object",
        "properties": {
          "github_id": {
            "type": "integer"
          },
          "login": {
            "type": "string"
          },
          "user_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "company": {
            "type": "string",
            "nullable": true
          },
          "blog": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "include_prerelease": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          }
        }
      }
    }
  }
}
