{
  "openapi": "3.0.3",
  "info": {
    "title": "Calendarific API",
    "version": "2.0.0",
    "description": "Calendarific provides a JSON API for holidays worldwide. Get public, local, religious, and observance holidays for any country and year.",
    "x-jentic-source-url": "https://calendarific.com/api-documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://calendarific.com/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Holidays",
      "description": "Holiday data"
    },
    {
      "name": "Countries",
      "description": "Supported countries"
    },
    {
      "name": "Languages",
      "description": "Supported languages"
    }
  ],
  "paths": {
    "/holidays": {
      "get": {
        "operationId": "getHolidays",
        "summary": "Get holidays",
        "description": "Returns holidays for a specific country and year.",
        "tags": [
          "Holidays"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country code"
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Year (1-3999)"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "description": "Filter by month"
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            },
            "description": "Filter by day"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "national",
                "local",
                "religious",
                "observance"
              ]
            },
            "description": "Filter by holiday type"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 639-1 language code for localized names"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-2 subdivision code for local holidays"
          },
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include UUIDs in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Holiday list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "List supported countries",
        "description": "Returns all countries supported by the API.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "List supported languages",
        "description": "Returns all languages supported for holiday name localization.",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/holidays/multi": {
      "get": {
        "operationId": "getMultiCountryHolidays",
        "summary": "Get holidays for multiple countries",
        "description": "Returns holidays for multiple countries in a single request.",
        "tags": [
          "Holidays"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated ISO country codes"
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Multi-country holiday list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/holidays/types": {
      "get": {
        "operationId": "getHolidayTypes",
        "summary": "Get supported holiday types",
        "description": "Returns the list of holiday types supported by the API.",
        "tags": [
          "Holidays"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Holiday types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "types": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HolidayResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "holidays": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Holiday"
                }
              }
            }
          }
        }
      },
      "Holiday": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "date": {
            "type": "object",
            "properties": {
              "iso": {
                "type": "string",
                "format": "date"
              },
              "datetime": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  },
                  "day": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "primary_type": {
            "type": "string"
          },
          "canonical_url": {
            "type": "string",
            "format": "uri"
          },
          "urlid": {
            "type": "string"
          },
          "locations": {
            "type": "string"
          },
          "states": {
            "type": "string"
          }
        }
      },
      "CountryResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "countries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "country_name": {
            "type": "string"
          },
          "iso-3166": {
            "type": "string"
          },
          "total_holidays": {
            "type": "integer"
          },
          "supported_languages": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          }
        }
      },
      "LanguageResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "languages": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "error_type": {
                "type": "string"
              },
              "error_detail": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Calendarific API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
