{
  "openapi": "3.0.2",
  "info": {
    "title": "CitiConnect API - Payments (JSON)",
    "description": "Update -May 03, 2024\n\nChangelog : No schema level changes, updated samples only.\n            US RTP fields and description added and updated the sample examples.\n            IN fields and description added and updated the sample examples.\n            UK fields and description added and updated the sample examples.\n            Added instruction id and travel rule fields for Payment Initiation,Inquiry and Refunds.Added unstructured remittance info in the Refunds.\n            Merged the swagger for Payments and Non Payments\n            BR refund description added and updated the sample examples\n            Relaxed travel rules. Made Debtor,Creditor,Ultimate Debtor and Ultimate creditor address fields optional\n            Added new non pay messages- Request for payment, Response to request for payment,Outgoing request for refund, Response to request for refund\n            End to End ID field updated as mandatory for both payment and refund initiation.\n            JP fields and description added and updated the sample examples.\n            IN UPI fields and description added and updated the sample examples.\n            Added network_id field for refund response, applicable for Brazil country.\n\nAPI services for Express payment and non payment initiation and status\n- The message structure (schema) for both incoming and outgoing payments statuses is the same. This applies to both pull (ie GET command) and push (ie push notifications)\n- Non Payment and Payment Confirmation status schema is common across status notification & inquiry response.\n\nAPI services for validating the beneficiary account details registered in Citi or externally in a scheme or a third party bank. This is a two step process:\n1. Call the POST (Beneficiary Validation) API using the creditor and debtor details\n2. In the push notification or status inqury (using GET API), creditor resolved name will be obtained \n",
    "contact": {
      "name": "Standards & Developer Hub",
      "url": "https://tts.sandbox.developer.citi.com/citiconnect/",
      "email": "developer-support@citi.com"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ZDMAXCODER/citiconnect-api-payments-json/1.0.0"
  },
  "servers": [
    {
      "url": "https://b2b.api.icg.citi.com/citiconnect/prod",
      "description": "production gateway url"
    },
    {
      "url": "https://sandbox.b2b.api.icg.citi.com/citiconnect/sb",
      "description": "sbox url "
    }
  ],
  "tags": [
    {
      "name": "Payment Status Inquiry"
    },
    {
      "name": "Payment Initiation"
    },
    {
      "name": "Refund Status Inquiry"
    },
    {
      "name": "Refund Initiation"
    },
    {
      "name": "Message Status Inquiry"
    },
    {
      "name": "Message Initiation"
    },
    {
      "name": "Beneficiary Validation Inquiry"
    },
    {
      "name": "Beneficiary Validation API"
    }
  ],
  "paths": {
    "/paymentservices/v1/refunds/{refund_id}": {
      "get": {
        "tags": [
          "Refund Status Inquiry"
        ],
        "summary": "Inquire for the latest status of a transaction using refund_id.",
        "description": "\"Get the latest refund transaction status initiated through the refund initiation endpoint. Currently, you can get the latest transaction status up to 90 days from the refund initiation date. If the latest transaction status date is 90+ days, the endpoint responds with HTTP status 404 (not found)\"\n",
        "operationId": "findRefundById",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "refund_id",
            "in": "path",
            "description": "Unique Refund reference Id, generated during refund initiation and provided to you in the synchronous response to your refund POST request ",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "0c4fb98b-d77a-4468-96bb-0c88b3b8f75a"
              }
            }
          }
        ],
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refunds"
                },
                "examples": {
                  "Refund Status - Completed": {
                    "$ref": "#/components/examples/OKRefundResponse"
                  },
                  "Refund Status - Rejected": {
                    "$ref": "#/components/examples/OKRefundResponseFailed"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/refunds": {
      "get": {
        "tags": [
          "Refund Status Inquiry"
        ],
        "summary": "Inquire for the latest status of refund transations matching additional parameters.",
        "description": "Get the latest refund transactions statuses initiated through the refund initiation endpoint using matching criteria. Currently, you can get the latest transactions statuses up to 90 days from the refund initiation date. If the latest transactions statuses date is 90+ days, the endpoint responds with HTTP status 404 (not found).",
        "operationId": "findRefunds",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "end_to_end_id",
            "in": "query",
            "description": "The end to end ID included in the refund by the sender of the refund",
            "schema": {
              "$ref": "#/components/schemas/RestrictedFINXMax128Text"
            },
            "examples": {
              "refund_transaction_details_1": {
                "value": "1L00IF2BCWUZF09"
              }
            }
          },
          {
            "name": "original_payment_uetr",
            "in": "query",
            "description": "The unique \u2018UETR\u2019 reference assigned to the original incoming credit on your account for which a refund was initiated. If multiple refunds were initiated against an incoming credit, the response API will include all these refunds",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
            },
            "examples": {
              "refund_transaction_details_1": {
                "value": "0c4fb98b-d77a-4468-96bb-0c88b3b8f75a"
              }
            }
          },
          {
            "name": "creation_date_time_start",
            "in": "query",
            "description": "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation",
            "schema": {
              "$ref": "#/components/schemas/ISONormalisedDateTime"
            },
            "examples": {
              "refund_transaction_details_1": {
                "value": "2022-09-13T08:23:49.114Z"
              }
            }
          },
          {
            "name": "creation_date_time_end",
            "in": "query",
            "description": "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n - end of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation",
            "schema": {
              "$ref": "#/components/schemas/ISONormalisedDateTime"
            },
            "examples": {
              "refund_transaction_details_1": {
                "value": "2022-09-13T08:23:49.114Z"
              }
            }
          },
          {
            "name": "instructed_amount",
            "in": "query",
            "description": "refund amount",
            "schema": {
              "type": "number",
              "maximum": 100000000000000.0
            },
            "examples": {
              "refund_transaction_details_1": {
                "value": 73945.27
              }
            }
          },
          {
            "name": "status_code",
            "in": "query",
            "description": "ISO 20022 transaction status code",
            "schema": {
              "type": "string",
              "enum": [
                "ACCC",
                "ACTC",
                "RJCT"
              ]
            },
            "examples": {
              "refund_transaction_details_1": {
                "value": "ACCC"
              }
            }
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Refund status",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              },
              "result": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 1000,
                  "default": 100
                },
                "description": "Number of transaction status matching your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundsResponse"
                },
                "examples": {
                  "OKResponseExample": {
                    "$ref": "#/components/examples/OKRefundResponseMultipleExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Refund Initiation"
        ],
        "summary": "Initiate an outgoing instant refund credit transfer.",
        "description": "Return an incoming payment transaction to the sender using either the \u201cend_to_end_id\u201d and \"value_date\u201d, or \u201cUETR\u201d.  The response to a refund transaction is asynchronous, which is either through a GET Refund request or as a push notification via webhook.Currently for UK we can initiate Refund within 12 months.",
        "operationId": "expressRefundInitiation",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "Idempotency-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "a44cbb60-6de4-4edb-9a7a-123414bba3bb",
            "description": "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Refunds"
              },
              "examples": {
                "TH Refund Transfer": {
                  "$ref": "#/components/examples/THRefundInitiationRequestExample"
                },
                "BR Refund Transfer": {
                  "$ref": "#/components/examples/BRRefundInitiationRequestExample"
                },
                "US Refund Transfer": {
                  "$ref": "#/components/examples/USRefundInitiationRequestExample"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refunds"
                },
                "examples": {
                  "OK": {
                    "$ref": "#/components/examples/RefundInitiationResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/payments/{uetr}": {
      "get": {
        "tags": [
          "Payment Status Inquiry"
        ],
        "summary": "Inquire for the latest status of a transaction using UETR.",
        "description": "Get the latest status of a payment transaction using unique end-to-end transaction reference (UETR). Currently, you can get the latest transaction status up to 90 days from the payment initiation date. If the latest transaction status date is 90+ days old, the endpoint responds with HTTP status 404 (not found).\n",
        "operationId": "findPaymentByUetr",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "uetr",
            "in": "path",
            "description": "Unique end-to-end transaction reference",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "0c4fb98b-d77a-4468-96bb-0c88b3b8f75a"
              }
            }
          }
        ],
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payments"
                },
                "examples": {
                  "TH Status - Completed": {
                    "$ref": "#/components/examples/OKResponse"
                  },
                  "TH Status - Rejected": {
                    "$ref": "#/components/examples/OKResponseFailed"
                  },
                  "US Status - Completed": {
                    "$ref": "#/components/examples/USOKResponse"
                  },
                  "US Status - Rejected": {
                    "$ref": "#/components/examples/USOKResponseFailed"
                  },
                  "UK Status - Completed": {
                    "$ref": "#/components/examples/UKOKResponse"
                  },
                  "UK Status - Rejected": {
                    "$ref": "#/components/examples/UKOKResponseFailed"
                  },
                  "IN Status - Completed": {
                    "$ref": "#/components/examples/INOKResponse"
                  },
                  "IN Status - Rejected": {
                    "$ref": "#/components/examples/INOKResponseFailed"
                  },
                  "payer_id_transaction_GET": {
                    "$ref": "#/components/examples/payer_id_transaction_GET"
                  },
                  "QR_transaction_GET": {
                    "$ref": "#/components/examples/QR_transaction_GET"
                  },
                  "proxy_transaction_GET": {
                    "$ref": "#/components/examples/proxy_transaction_GET"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/payments": {
      "get": {
        "tags": [
          "Payment Status Inquiry"
        ],
        "summary": "Inquire for the latest status of transations matching additional parameters.",
        "description": "Get the latest statuses of payment transactions using matching criteria. Currently, you can get the latest transactions statuses up to 90 days from the payment initiation date. If the latest transactions statuses date is 90+ days old, the endpoint responds with HTTP status 404 (not found).\n",
        "operationId": "findPayments",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "encrypted-params",
            "in": "header",
            "description": "Encrypt the key values as below. Debtor account or creditor account is mandatory.\n\n\n* **debtor_account:** Your Citi account for instant payment (debit) / outgoing\n\n* **creditor_account:** Your Citi account for instant payment (credit) / incoming\n\n* **debtor_proxy_id:** Debtor proxy identification - For US RTP Instant Payment - debtor_proxy_id header param is not applicable\n\n* **creditor_proxy_id:** Creditor proxy identification - For US RTP Instant Payment - creditor_proxy_id header param is not applicable\n\n* **debtor_virtual_account:** Your Citi virtual account for instant payment (debit) / outgoing - For US RTP Instant Payment - debtor_virtual_account header param is not applicable\n\n* **creditor_virtual_account:** Your Citi virtual account for instant payment (credit) / incoming - For US RTP Instant Payment - creditor_virtual_account header param is not applicable\n\n***Sample header before encryption:*** {\"debtor_account\":\"3001386964\",\"creditor_proxy_id\":\"a93d@gmail.com\"}\n",
            "schema": {
              "type": "string",
              "pattern": "\\w*\\W*",
              "example": "eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0.D4yD0xv7xuoy_YmFaz29dz85QejaLNI9EtlsiOIAP4v6v4hVFwHLx_Ad_pZoLNhc6lx_H2YPnxUcMem76UkO6kjQ849azAnC7WLAxlm_ytMCmuTsZTkhBoX3BHsgD4nmQ-6QhpklVmH8nz3czk6HVmJ5BYrtA6Q4N96bCaCCYkEDCrPLK6NHmTyBeKmRIe6LBzmia6Ct20ovHCU-juj_YPBsQGfqrMTrdSDInts_5DbmL49Q1eDRAeuU7vcSgl_ROJ54BHo-XwiZFuvUUXt5NIP4wxF0phoJ4oWk9VyFIgt29wG2Lht2WX5_0S8KIve9sBoOZIYHylK6YkUTk6FXMg.2hlCJTgnxZRsIqXwDhiMtg.X8HL_J5q9v7UQ-PX_JadGRte2grVQjbZ2Ep2k3kSKmjVuOam4OyZ8I429o-2xNHT9XrcH1RdNMfKC4QhfrtFXYlf39BzAmP89IWRilH_ez-HRy4CoainozRO0SjRzB2ZWgOQvr2J3UkvriHSLfYJEqA7reXcEWvifaISe-c_eh_zWaCqEOfe53oTPlcyjl9_lXGaIm07GMT-JQuPkYTDRVG2cV41bYAfrDjJFtbTwM7RAy0LAAtZxLCyRE5s8AHyFqsp6D_xtq5sjjy2UnfmMSp1sDwA0uwmAWNrH1orgr7JaPxzRa3zSIEeMoUN4SnAMwLPYhI65LnvdQjRo91M_ttqEr1CGJ1B_qkw9wSRV0rwe3Gmq12NmGLIe-khMPDXezI3toVY5urd8XeFMhqUeZBwzkR2NQvqTN3wOwgB_sMyG_Q27-LwwIXKDNxmGhZErLV73228dD2qSfiBwpGtEPz-keiN0cTFQJj4GM5ZrKNfx2Q_PDJZdP3eVDcUelpJooRiCl2DKWhNmBFQ4haGoVUSj6g88V_7_I6RQHC4s3EEG3rlVaoutzwyjrfp05vGg_8FiIcocGXnbUrBQa8-ZQ.K2RGIyBtuBoCfoDACIOYrA"
            }
          },
          {
            "name": "end_to_end_id",
            "in": "query",
            "description": "Transaction identification provided by the debtor",
            "schema": {
              "$ref": "#/components/schemas/RestrictedFINXMax128Text"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "1L00IF2BCWUZF09"
              }
            }
          },
          {
            "name": "network_id",
            "in": "query",
            "description": "Transaction reference generated for or by a network (e.g., PromptPay)",
            "schema": {
              "type": "string",
              "maxLength": 36
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "209323283934"
              }
            }
          },
          {
            "name": "batch_id",
            "in": "query",
            "description": "Identification for your Citi account consolidated debit or credit posting for the transactions",
            "schema": {
              "type": "string",
              "maxLength": 35
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "492084893"
              }
            }
          },
          {
            "name": "creation_date_time_start",
            "in": "query",
            "description": "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment (Debit) - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a payment initiation after validation \n- Instant Payment (Credit) - Start of date time, either provided by the debtor bank or generated by Citi's transaction processing application, when a transaction was created",
            "schema": {
              "$ref": "#/components/schemas/ISONormalisedDateTime"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "2022-09-13T08:23:49.114Z"
              }
            }
          },
          {
            "name": "creation_date_time_end",
            "in": "query",
            "description": "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment (Debit) - End of date time, generated by CitiConnect API, when CitiConnect API accepted a payment initiation after validation \n- Instant Payment (Credit) - End of date time, either provided by the debtor bank or generated by Citi's transaction processing application, when a transaction was created",
            "schema": {
              "$ref": "#/components/schemas/ISONormalisedDateTime"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "2022-09-13T08:23:49.554Z"
              }
            }
          },
          {
            "name": "instructed_amount",
            "in": "query",
            "description": "Instructed amount",
            "schema": {
              "type": "number",
              "maximum": 100000000000000.0
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": 73945.27
              }
            }
          },
          {
            "name": "settlement_amount",
            "in": "query",
            "description": "Settlement amount (e.g., after any currency exchange or charge on the instructed amount)",
            "schema": {
              "type": "number",
              "maximum": 100000000000000.0
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": 50000.23
              }
            }
          },
          {
            "name": "status_date_time_start",
            "in": "query",
            "description": "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment - Start date time of the transaction status change (when CitiConnect API change the status of the transaction)",
            "schema": {
              "$ref": "#/components/schemas/ISONormalisedDateTime"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "2022-09-13T08:23:49.224Z"
              }
            }
          },
          {
            "name": "status_date_time_end",
            "in": "query",
            "description": "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment - Start end time of the transaction status change (when CitiConnect API change the status of the transaction)",
            "schema": {
              "$ref": "#/components/schemas/ISONormalisedDateTime"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "2022-09-13T08:23:49.331Z"
              }
            }
          },
          {
            "name": "status_code",
            "in": "query",
            "description": "ISO 20022 transaction status code",
            "schema": {
              "type": "string",
              "enum": [
                "ACTC",
                "PDNG",
                "RJCT",
                "ACCC",
                "ACWP"
              ]
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "ACCC"
              }
            }
          },
          {
            "name": "debtor_account_last4",
            "in": "query",
            "description": "Last 4 digits of a debtor account in combination with your Citi creditor account",
            "examples": {
              "payment_transaction_details_1": {
                "value": "6373"
              }
            },
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "name": "creditor_account_last4",
            "in": "query",
            "description": "Last 4 digits of a creditor account number in combination with your Citi debtor account",
            "examples": {
              "payment_transaction_details_1": {
                "value": "0783"
              }
            },
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}$"
            }
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              },
              "result": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 1000,
                  "default": 100
                },
                "description": "Number of transaction status matching your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                },
                "examples": {
                  "TH Status - Completed": {
                    "$ref": "#/components/examples/OKResponseMultiple"
                  },
                  "TH Status - Rejected": {
                    "$ref": "#/components/examples/OKResponseFailedMultiple"
                  },
                  "US Status - Completed": {
                    "$ref": "#/components/examples/USOKResponseMultiple"
                  },
                  "US Status - Rejected": {
                    "$ref": "#/components/examples/USOKResponseFailedMultiple"
                  },
                  "IN Status - Completed": {
                    "$ref": "#/components/examples/INOKResponseMultiple"
                  },
                  "IN Status - Rejected": {
                    "$ref": "#/components/examples/INOKResponseFailedMultiple"
                  },
                  "UK FPS Status - Completed": {
                    "$ref": "#/components/examples/UKOKResponseMultiple"
                  },
                  "Uk FPS Status - Rejected": {
                    "$ref": "#/components/examples/UKOKResponseFailedMultiple"
                  },
                  "payer_id_transaction_GET": {
                    "$ref": "#/components/examples/payer_id_transaction_GETMultiple"
                  },
                  "QR_account_transaction_GET": {
                    "$ref": "#/components/examples/QR_transaction_GETMultiple"
                  },
                  "proxy_transaction_GET": {
                    "$ref": "#/components/examples/proxy_transaction_GETMultiple"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Initiate an outgoing instant payment credit transfer.",
        "description": "This endpoint validates your request and synchronously responds with HTTP status 202 (accepted) after successful validation. If validation fails, the endpoint synchronously responds with error (HTTP status 4XX / 5XX and any applicable ISO 20022 reason code), indicating Citi couldn't accept your transaction initiation request.",
        "operationId": "expressPaymentInitiation",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "Idempotency-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "a44cbb606de4edb9a7a123414bba3bb",
            "description": "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInitiationRequest"
              },
              "examples": {
                "TH Credit Transfer": {
                  "$ref": "#/components/examples/PaymentInitiationRequestExample"
                },
                "US Credit Transfer": {
                  "$ref": "#/components/examples/USPaymentInitiationRequestExample"
                },
                "IN IMPS Credit Transfer": {
                  "$ref": "#/components/examples/INIMPSPaymentInitiationRequestExample"
                },
                "UK FPS Credit Transfer": {
                  "$ref": "#/components/examples/UKPaymentInitiationRequestExample"
                },
                "IN UPI Credit Transfer": {
                  "$ref": "#/components/examples/INUPIPaymentInitiationRequestExample"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payments"
                },
                "examples": {
                  "TH Credit Transfer Response": {
                    "$ref": "#/components/examples/PaymentInitiationResponseExample"
                  },
                  "US Credit Transfer Response": {
                    "$ref": "#/components/examples/USPaymentInitiationResponseExample"
                  },
                  "IN IMPS Credit Transfer Response": {
                    "$ref": "#/components/examples/INIMPSPaymentInitiationResponseExample"
                  },
                  "UK FPS Credit Transfer Response": {
                    "$ref": "#/components/examples/UKPaymentInitiationResponseExample"
                  },
                  "proxy_transaction_POST": {
                    "$ref": "#/components/examples/proxy_transaction_POST"
                  },
                  "IN UPI Credit Transfer Response": {
                    "$ref": "#/components/examples/INIMPSPaymentInitiationResponseExample"
                  },
                  "JP Credit Transfer Response": {
                    "$ref": "#/components/examples/JPPaymentInitiationResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/payments/{uetr}/messages/{message_id}": {
      "get": {
        "tags": [
          "Message Status Inquiry"
        ],
        "summary": "Inquire for the latest status of a transaction using UETR and Message Id.",
        "description": "Get the latest transaction status using the unique end-to-end transaction reference (UETR) and message ID.\n",
        "operationId": "findMessageByMessageId",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "uetr",
            "in": "path",
            "description": "Unique end-to-end transaction reference",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "description": "Unique message id",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 35
            },
            "examples": {
              "message_id_1": {
                "value": "0c4fb98bd77a446896bb0c88b3b8f75a"
              }
            }
          }
        ],
        "security": [
          {
            "oAuth2": [
              "paymentservices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalMessageResponse"
                },
                "examples": {
                  "Status - ValidRequestForRefund": {
                    "$ref": "#/components/examples/OKRequestForRefund"
                  },
                  "Status - ValidResponsetoRequestForRefund": {
                    "$ref": "#/components/examples/OKResponsetoRequestForRefund"
                  },
                  "Status - InvalidResponsetoRequestForRefund": {
                    "$ref": "#/components/examples/NotOKResponsetoRequestForRefund"
                  },
                  "Status - ValidPaymentConfirmationRequest": {
                    "$ref": "#/components/examples/OKPaymentConfirmationRequest"
                  },
                  "Status - ValidRequestForPayment": {
                    "$ref": "#/components/examples/OKRequestForPayment"
                  },
                  "Status - ValidRequestForInformationCitiScreening": {
                    "$ref": "#/components/examples/OKRequestForInformationCitiScreening"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/payments/{uetr}/messages": {
      "post": {
        "tags": [
          "Message Initiation"
        ],
        "summary": "Initiate a non payment message",
        "description": "This endpoint validates your request and responds with HTTP status 202 (accepted) after successful validation. If validation fails, the endpoint synchronously responds with error (HTTP status 4XX / 5XX and any applicable ISO 20022 reason code), indicating Citi couldn't accept your message initiation request.\n",
        "operationId": "createMessage",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "uetr",
            "in": "path",
            "required": true,
            "description": "Unique end-to-end transaction reference",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
            }
          },
          {
            "name": "Idempotency-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "a44cbb60-6de4-4edb-9a7a-123414bba3bb",
            "description": "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              },
              "examples": {
                "Response to Request For Refund": {
                  "$ref": "#/components/examples/ResponsetoRequestForRefundExample"
                },
                "Response to Payment Confirmation Request": {
                  "$ref": "#/components/examples/ResponsetoPaymentConfirmationRequestExample"
                },
                "Response to Request for Payment": {
                  "$ref": "#/components/examples/ResponseToRequestForPaymentExample"
                },
                "Outgoing Request for Refund": {
                  "$ref": "#/components/examples/OutgoingRequestForRefundExample"
                },
                "Response to Request for Information Citi Screening": {
                  "$ref": "#/components/examples/ResponsetoRequestForInformationCitiScreeningExample"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitialAcknowledgementResponse"
                },
                "examples": {
                  "Status - initialResponsetoRequestForRefund": {
                    "$ref": "#/components/examples/InitialResponsetoRequestForRefund"
                  },
                  "Status - initialResponsetoPaymentConfirmationRequest": {
                    "$ref": "#/components/examples/InitialResponsetoPaymentConfirmationRequest"
                  },
                  "Status - initialResponseToRequestForPayment": {
                    "$ref": "#/components/examples/InitialResponseToRequestForPayment"
                  },
                  "Status - initialOutgoingRequestForRefund": {
                    "$ref": "#/components/examples/InitialOutgoingRequestForRefund"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/beneficiaryvalidations": {
      "post": {
        "tags": [
          "Beneficiary Validation API"
        ],
        "summary": "Validating the beneficiary account details",
        "description": "This API allows the client to validate beneficiary details with the use of combination of fields",
        "operationId": "expressBeneficiaryValidation",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "Idempotency-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "a44cbb606de4edb9a7a123414bba3bb",
            "description": "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficiaryValidationRequest"
              },
              "examples": {
                "IN Beneficiary Validation": {
                  "$ref": "#/components/examples/INBeneficiaryValidationRequest"
                },
                "UPI IN Beneficiary Validation": {
                  "$ref": "#/components/examples/UPIINBeneficiaryValidationRequest"
                },
                "US EWS Beneficiary Validation": {
                  "$ref": "#/components/examples/USEWSBeneficiaryValidationRequest"
                },
                "UK Beneficiary Validation": {
                  "$ref": "#/components/examples/UKBeneficiaryValidationRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2": [
              "selfservices"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitialBeneficiaryValidationResponse"
                },
                "examples": {
                  "IN Initial Beneficiary Validation Response": {
                    "$ref": "#/components/examples/INInitialBeneficiaryValidationResponse"
                  },
                  "UPI IN Initial Beneficiary Validation Response": {
                    "$ref": "#/components/examples/UPIINInitialBeneficiaryValidationResponse"
                  },
                  "US EWS Initial Beneficiary Validation Response": {
                    "$ref": "#/components/examples/USEWSInitialBeneficiaryValidationResponse"
                  },
                  "UK Initial Beneficiary Validation Response": {
                    "$ref": "#/components/examples/UKInitialBeneficiaryValidationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/paymentservices/v1/beneficiaryvalidations/{uetr}": {
      "get": {
        "tags": [
          "Beneficiary Validation Inquiry"
        ],
        "summary": "Inquire for the latest status of a beneficiary validation using UETR",
        "description": "The API service responds with the latest beneficiary validation status of the unique end-to-end transaction reference (UETR) you inquire with.",
        "operationId": "findBeneficiaryValidation",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding",
            "example": "6d3cf821-db6d-496d-bec0-064a362e9c31"
          },
          {
            "name": "end_to_end_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client provided reference number"
          },
          {
            "name": "uetr",
            "in": "path",
            "description": "Unique end-to-end transaction reference",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$"
            },
            "examples": {
              "payment_transaction_details_1": {
                "value": "0c4fb98b-d77a-4468-96bb-0c88b3b8f75a"
              }
            }
          }
        ],
        "security": [
          {
            "oAuth2": [
              "selfservices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request_id": {
                "schema": {
                  "type": "string"
                },
                "description": "Citi's unique identification for your request"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalBeneficiaryValidationResponse"
                },
                "examples": {
                  "IN Final Beneficiary Validation Response": {
                    "$ref": "#/components/examples/INFinalBeneficiaryValidationResponse"
                  },
                  "IN Final Beneficiary Validation Penny Testing Response": {
                    "$ref": "#/components/examples/INFinalBeneficiaryValidationPennyTestingResponse"
                  },
                  "UPI IN Final Beneficiary Validation Response": {
                    "$ref": "#/components/examples/UPI-INFinalBeneficiaryValidationResponse"
                  },
                  "US EWS Final Beneficiary Validation Response": {
                    "$ref": "#/components/examples/USEWSFinalBeneficiaryValidationResponse"
                  },
                  "UK Final Beneficiary Validation Response": {
                    "$ref": "#/components/examples/UKFinalBeneficiaryValidationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "offsetParam": {
        "in": "query",
        "name": "offset",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 0
        },
        "description": "Payment status inquiry result page you want Citi to respond to you with"
      },
      "limitParam": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "type": "integer",
          "maximum": 1000,
          "minimum": 1,
          "default": 100
        },
        "description": "Limit you want Citi to apply to your payment status inquiry results \n- Maximum value is 1,000."
      }
    },
    "schemas": {
      "Transaction_Initiation": {
        "type": "object",
        "required": [
          "instructed_amount",
          "end_to_end_id"
        ],
        "properties": {
          "end_to_end_id": {
            "$ref": "#/components/schemas/RestrictedFINXMax128Text"
          },
          "instruction_id": {
            "type": "string",
            "description": "Instruction ID of the payment \n- For Thailand PromptPay transaction.instruction_id field is not applicable \n- For United States transaction.instruction_id field is optional \n- For IN IMPS transaction.instruction_id field is not applicable \n- For UK FPS Instant payment transaction.instruction_id field is not applicable \n- For IN UPI transaction.instruction_id field is not applicable",
            "minLength": 1,
            "maxLength": 35
          },
          "uetr": {
            "type": "string",
            "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$",
            "description": "UUID v4 format unique end-to-end transaction reference"
          },
          "bill_id_1": {
            "maxLength": 128,
            "pattern": "^[0-9A-Z]{1,128}$",
            "type": "string",
            "description": "Bill identification \n- Thailand PromptPay - Maximum length is 20. \n - For US Instant payment transaction.bill_id_1 field is not applicable \n - For IN IMPS transaction.bill_id_1 field is not applicable \n - For UK FPS Instant payment transaction.bill_id_1 field is not applicable  \n - For IN UPI transaction.bill_id_1 field is not applicable "
          },
          "bill_id_2": {
            "maxLength": 128,
            "pattern": "^[0-9A-Z]{1,128}$",
            "type": "string",
            "description": "Bill identification \n- Thailand PromptPay - Maximum length is 20. \n - For US Instant payment transaction.bill_id_2 field is not applicable \n - For IN IMPS transaction.bill_id_2 field is not applicable \n - For UK FPS Instant payment transaction.bill_id_2 field is not applicable \n - For IN UPI transaction.bill_id_2 field is not applicable"
          },
          "bill_id_3": {
            "maxLength": 128,
            "pattern": "^[0-9A-Z]{1,128}$",
            "type": "string",
            "description": "Bill identification \n- Thailand PromptPay - Maximum length is 20. \n - For US Instant payment transaction.bill_id_3 field is not applicable \n - For IN IMPS transaction.bill_id_3 field is not applicable \n - For UK FPS Instant payment transaction.bill_id_3 field is not applicable \n - For IN UPI transaction.bill_id_3 field is not applicable"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "CASH",
              "CNFL",
              "COST",
              "GDDS",
              "GDSV",
              "GP2P",
              "OTHR",
              "PAYR",
              "RCPT",
              "SALA",
              "SCVE",
              "SUPP",
              "TREA",
              "REFU",
              "CLPO",
              "LODI",
              "TIPO",
              "GIEO",
              "VEPO",
              "INPO",
              "ISPO",
              "MPPO",
              "TXPO",
              "RDPO"
            ],
            "description": "Purpose of a transaction \n- For Thailand PromptPay transaction.purpose field is optional \n- For US Instant payment transaction.purpose field is optional \n- For IN IMPS transaction.purpose field is optional \n- UK FPS Instant payment transaction.purpose field is optional \n- For IN UPI transaction.purpose field is optional \n- CASH for cash management \n- CNFL for confidential \n- COST for payment for business expenses \n- GDDS for payment related to purchase or sale of goods \n- GDSV for payment related to purchase or sale of goods and services \n- GP2P for person-to-person payment \n- OTHR for other, if your payment doesn't fit any of the specific purpose codes \n- PAYR for payroll payment \n- RCPT for payment of a receipt \n- SALA for salary payment \n- SCVE for payment related to purchase or sale of services \n- SUPP for supplier payment \n- TREA for treasury payment \n- REFU for refund payment \n- CLPO for Claim Payouts \n- LODI for Loan Disbursals \n- TIPO for Tips Payout \n- GIEO for Gig economy \n- VEPO for Vendor Payouts \n- INPO for Incentive Payouts \n- ISPO for Insurance Payouts \n- MPPO for Merchant/Marketplace Payouts \n- TXPO for Tax Payments \n- RDPO for Rider payout"
          },
          "tax_code": {
            "type": "number",
            "enum": [
              0,
              1
            ],
            "description": "Tax code \n- Thailand PromptPay - Provide 0 if transaction is without value-added tax or withholding tax. Provide 1 if transaction is with value-added tax or withholding tax. \n - For US Instant payment transaction.tax_code field is not applicable \n - For IN IMPS transaction.tax_code field is not applicable \n - For UK FPS Instant payment transaction.tax_code field is not applicable \n - For IN UPI transaction.tax_code field is not applicable"
          },
          "wht_code": {
            "type": "string",
            "enum": [
              "A",
              "S",
              "B"
            ],
            "description": "Withholding tax (WHT) code \n- Thailand PromptPay - If you provide tax_code 1, wht_code is required. Povide A for WHT always paid by the seller, S for WHT once paid by the seller or B for WHT paid by the buyer. \n - For US Instant payment transaction.wht_code field is not applicable \n - For IN IMPS transaction.wht_code field is not applicable \n - For UK FPS Instant payment transaction.wht_code field is not applicable \n - For IN UPI transaction.wht_code field is not applicable"
          },
          "income_type": {
            "type": "string",
            "pattern": "^(00[0-9]|01[0-2])$",
            "description": "Income type \n- Thailand PromptPay -  If you provide tax_code 1, income_type is required. Provide 001 for service and professional fee for a company with Thailand location, 002 for service and professional fee for a company without Thailand location, 003 for royalty, 004 for rent, 005 for ship rental fee, 006 for prize, 007 for promotion, 008 for actor fee, 009 advertising, 010 non-life insurance premium, 011 for  transportation cost and 012 for agricultural purchase. \n - For US Instant payment transaction.income_type field is not applicable \n - For IN IMPS transaction.income_type field is not applicable \n - For UK FPS Instant payment transaction.income_type field is not applicable \n - For IN UPI transaction.income_type field is not applicable "
          },
          "vat_rate": {
            "type": "number",
            "minimum": 0.0,
            "description": "Value-added tax (VAT) rate \n - For TH Instant Payent Range is 0 - 99.99  \n - For US Instant payment transaction.vat_rate field is not applicable \n - For IN IMPS transaction.vat_rate field is not applicable \n - For UK FPS Instant payment transaction.vat_rate field is not applicable \n - For IN UPI transaction.vat_rate field is not applicable "
          },
          "vat_amount": {
            "type": "number",
            "maximum": 100000000000000.0,
            "description": "Value-added tax (VAT) amount \n - Thailand PromptPay - Maximum amount is 2000000.00. \n - For US Instant payment transaction.vat_amount field is not applicable \n - For IN IMPS transaction.vat_amount field is not applicable \n - For UK FPS Instant payment transaction.vat_amount field is not applicable \n - For IN UPI transaction.vat_amount field is not applicable"
          },
          "wht_rate": {
            "type": "number",
            "minimum": 0.0,
            "description": "Withholding tax (WHT) rate (0 - 99.99) \n - Thailand PromptPay - Maximum rate is 5.00. \n - For US Instant payment transaction.wht_rate field is not applicable  \n - For IN IMPS transaction.wht_rate field is not applicable \n - For UK FPS Instant payment transaction.wht_rate field is not applicable \n - For IN UPI transaction.wht_rate field is not applicable"
          },
          "wht_amount": {
            "type": "number",
            "maximum": 100000000000000.0,
            "description": "Withholding tax (WHT) amount \n - Thailand PromptPay - Maximum amount is 2000000.00. \n - For US Instant payment transaction.wht_amount field is not applicable \n - For IN IMPS transaction.wht_amount field is not applicable \n - For UK FPS Instant payment transaction.wht_amount field is not applicable \n - For IN UPI transaction.wht_amount field is not applicable"
          },
          "bill_due_date": {
            "type": "string",
            "format": "date",
            "description": "ISO 8601 (YYYY-MM-DD) bill due date  \n - For TH Instant payment if client provides transaction.bill_id_1 value, require client to mandatorily provide bill_due_date value. \n - For US Instant payment transaction.bill_due_date field is not applicable \n - For IN IMPS transaction.bill_due_date field is not applicable \n - For UK FPS Instant payment transaction.bill_due_date field is not applicable \n - For IN UPI transaction.bill_due_date field is not applicable"
          },
          "value_date": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD Date in local time zone (e.g., EST for a United States RTP network transaction IST for IN IMPS) when Citi's transaction processing application starts processing a transaction \n - For UK Instant payment transaction.value_date field is mandatory, for SIP transaction value Date should be current calender date or current calender date +1 or current calender date -1, for FDP transaction value Date should be current calender date +2 till current calender date +30"
          },
          "instructed_amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 100000000000000.0,
            "description": "Instructed amount \n - Thailand PromptPay - Maximum amount is 2000000.00 \n - US RTP - Maximum amount is 1000000.00 \n - IN IMPS - Maximum amount is 500000.00 \n - UK FPS Instant Payment - Maximum amount is 1000000.00 and allowed only Maximum of Two digits after decimal \n - IN UPI - Maximum amount is 200000.00"
          },
          "additional_info": {
            "type": "string",
            "maxLength": 140,
            "minLength": 1,
            "description": "Additional or remittance information \n- Thailand PromptPay - Maximum length is 40. \n - For US Instant payment transaction.additional_info field is not applicable \n - For IN IMPS transaction.additional_info field is not applicable \n - For UK FPS Instant payment transaction.additional_info field is optional and allowed max length is 105 \n - For IN UPI transaction.additional_info field is not applicable "
          },
          "unstructured_remittance_info": {
            "type": "array",
            "description": "Unstructured remitance information \n - For TH Instant payment transaction.unstructured_remittance_info field is not applicable \n - For US Instant payment transaction.unstructured_remittance_info field is optional - Maximum length is 140 and Single instance is allowed \n- For IN IMPS transaction.unstructured_remittance_info field is optional where two lines at max allowed. 1st line to have max 35 chars, 2nd line to have a max of 15 chars. Max length for this tag is 50 chars \n - For UK FPS Instant payment transaction.unstructured_remittance_info is optional and allowed only four instance with each line max length of 35 \n- For IN UPI transaction.unstructured_remittance_info field is optional where two lines at max allowed. 1st line to have max 35 chars, 2nd line to have a max of 15 chars. Max length for this tag is 50 chars",
            "items": {
              "$ref": "#/components/schemas/Unstructured"
            }
          },
          "advice_type": {
            "type": "string",
            "description": "Beneficiary advice type \n- EMAL - EMail, FAXI - Fax, SMSM - SMS Phone Number, URID - UniformResourceIdentifier \n- For TH Instant payment transaction.advice_type field is not applicable \n- For US Instant payment transaction.advice_type field is not applicable \n- For IN IMPS transaction.advice_type field is optional with max length 4 \n- For UK FPS Instant payment transaction.advice_type field is not applicable \n- For IN UPI transaction.advice_type field is optional, applicable values are SMSM or EMAL",
            "enum": [
              "EMAL",
              "FAXI",
              "SMSM",
              "URID"
            ]
          },
          "advice_address": {
            "type": "string",
            "maxLength": 2048,
            "minLength": 1,
            "description": "Used by ISOXML Format for Internet Address \n- For TH Instant payment transaction.advice_address field is not applicable \n- For US Instant payment transaction.advice_address field is not applicable \n- For IN IMPS transaction.advice_address field is optional \n- For UK FPS Instant payment transaction.advice_address field is not applicable \n- For IN UPI transaction.advice_address field is mandatory, if transaction.advice_type is EMAL"
          },
          "category": {
            "type": "string",
            "description": "Specifies the high level purpose of the instruction \n- For Thailand PromptPay transaction.category field is not applicable \n- For United States transaction.category field is optional \n- For IN IMPS transaction.category field is not applicable \n- For UK FPS Instant payment transaction.category field is not applicable \n- For IN UPI transaction.category field is not applicable",
            "enum": [
              "CONSUMER",
              "BUSINESS"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ref_id": {
            "type": "string",
            "maxLength": 60,
            "description": "Unique ID for the Transaction"
          },
          "error_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "issue": {
            "type": "string",
            "maxLength": 200,
            "description": "more details about the issue"
          },
          "action": {
            "type": "string",
            "maxLength": 350,
            "description": "corrective action to be taken to resolve above issue"
          },
          "code": {
            "type": "string",
            "maxLength": 8,
            "description": "unique code representing the issue"
          }
        }
      },
      "ISONormalisedDateTime": {
        "type": "string",
        "format": "date-time",
        "description": "an ISODateTime whereby all timezoned dateTime values are UTC."
      },
      "Max128Text": {
        "maxLength": 255,
        "type": "string",
        "description": "Specifies a character string with a maximum length of 128 characters.\n - For TH Instant payment debtor.proxy_id is optional \n - For US Instant payment debtor.proxy_id is not applicable \n - For IN IMPS debtor.proxy_id is not applicable \n - For UK FPS Instant payment debtor.proxy_id is not applicable \n - For JP Instant payment debtor.proxy_id is not applicable"
      },
      "Address": {
        "type": "string",
        "maxLength": 70,
        "minLength": 1,
        "description": "\u201cAddress\u201d"
      },
      "FieldlevelResponsesForRRFICS": {
        "type": "string",
        "maxLength": 30,
        "minLength": 1,
        "description": "\u201cFieldlevelResponsesForRRFICS\u201d"
      },
      "FieldlevelRequestForRFICS": {
        "type": "string",
        "maxLength": 30,
        "minLength": 1,
        "description": "\u201cFieldlevelRequestForRFICS\u201d"
      },
      "Unstructured": {
        "type": "string",
        "maxLength": 140,
        "minLength": 1,
        "description": "\u201cUnstructured remitance information\u201d"
      },
      "Debtor_Initiation": {
        "type": "object",
        "required": [
          "account"
        ],
        "properties": {
          "proxy_id": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's proxy identification (e.g., email address) \n - For TH Instant payment debtor.proxy_id is optional \n - For US Instant payment debtor.proxy_id is not applicable \n - For IN IMPS debtor.proxy_id is not applicable \n - For UK FPS Instant payment debtor.proxy_id is not applicable \n - For IN UPI Instant payment debtor.proxy_id is mandatory, applicable value VPA ID"
          },
          "proxy_type": {
            "type": "string",
            "enum": [
              "BIID",
              "EMAL",
              "EWAL",
              "MBNO",
              "NIDN"
            ],
            "description": "Debtor's proxy type (BIID for bill identification, EMAL for email address, EWAL for electronic wallet identification, MBNO for mobile number and NIDN for national identification)\n - For TH Instant payment debtor.proxy_type is optional \n - For US Instant payment debtor.proxy_type is not applicable \n - For IN IMPS debtor.proxy_type is not applicable \n - For UK FPS Instant payment debtor.proxy_type is not applicable \n - For IN UPI Instant payment debtor.proxy_type is not applicable  "
          },
          "account": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's bank account  \n - For IN IMPS, debtor.account max length is 34 \n - For UK FPS Instant payment debtor.account field allowed max length is 34 \n - For IN UPI Instant payment debtor.account field allowed max length is 34"
          },
          "name": {
            "maxLength": 140,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's bank account name \n - For TH Instant payment debtor.name is not applicable \n - For US Instant payment debtor.name is mandatory \n - For IN IMPS Instant payment debtor.name is mandatory with max length 99 \n - For UK FPS Instant payment debtor.name field is optional with max length 40 \n - For IN UPI Instant payment debtor.name is mandatory with max length 99 "
          },
          "address_lines": {
            "type": "array",
            "description": "Debtor's address_lines \n - For TH Instant payment debtor.address_lines is not applicable \n - For US Instant payment debtor.address_lines is optional \n - For IN IMPS debtor.address_lines is optional and allowed seven instance with each line max length of 70 \n - For UK FPS Instant payment debtor.address_lines is optional and allowed only four instance with each line max length of 35 \n - For IN UPI debtor.address_lines is optional and allowed seven instance with each line max length of 70",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "street_name": {
            "maxLength": 70,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's street_name \n - For TH Instant payment debtor.street_name is not applicable \n - For US Instant payment debtor.street_name is optional \n - For IN IMPS debtor.street_name is optional \n - For UK FPS Instant payment debtor.street_name is not applicable \n - For IN UPI debtor.street_name is optional"
          },
          "building_number": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's building_number \n - For TH Instant payment debtor.building_number is not applicable \n - For US Instant payment debtor.building_number field is optional \n - For IN IMPS debtor.building_number field is optional \n - For UK FPS Instant payment debtor.building_number is not applicable \n - For IN UPI debtor.building_number field is optional"
          },
          "postal_code": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's postal_code \n - For TH Instant payment debtor.postal_code is not applicable \n - For US Instant payment debtor.postal_code field is optional \n - For IN IMPS debtor.postal_code is optional \n - For UK FPS Instant payment debtor.postal_code is not applicable \n - For IN UPI debtor.postal_code is optional"
          },
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's city \n - For TH Instant payment city is not applicable \n - For US Instant payment city field is optional \n - For IN IMPS debtor.city is optional \n - For UK FPS Instant payment debtor.city is not applicable \n - For IN UPI debtor.city is optional"
          },
          "state": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's State \n - For TH Instant payment debtor.state is not applicable \n - For US Instant payment debtor.state field is optional \n - For IN IMPS debtor.state is optional \n - For UK FPS Instant payment debtor.state is not applicable \n - For IN UPI debtor.state is optional"
          },
          "country": {
            "type": "string",
            "description": "Debtor's Country \n - For TH Instant payment debtor.country is not applicable \n - For US Instant payment debtor.country field is optional \n - For IN IMPS debtor.country is optional \n - For UK FPS Instant payment debtor.country field is mandatory, if debtor.address_line is provided by client \n - For IN UPI debtor.country is optional",
            "pattern": "^[A-Z]{2,2}$"
          },
          "org_id": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's org_id \n - For TH Instant payment debtor.org_id is not applicable \n - For US Instant payment debtor.org_id field is optional \n - For IN IMPS debtor.org_id is not applicable \n - For UK FPS Instant payment debtor.org_id is not applicable \n - For IN UPI debtor.org_id is not applicable"
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "description": "ISO 8601 (YYYY-MM-DD), Debtor's birth_date \n - For TH Instant payment debtor.birth_date is not applicable \n - For US Instant payment debtor.birth_date field is optional \n - For IN IMPS debtor.birth_date is not applicable \n - For UK FPS Instant payment debtor.birth_date is not applicable \n - For IN UPI debtor.birth_date is not applicable"
          },
          "birth_city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's birth_city \n - For TH Instant payment debtor.birth_city is not applicable \n - For US Instant payment debtor.birth_city field is optional \n - For IN IMPS debtor.birth_city is not applicable \n - For UK FPS Instant payment debtor.birth_city is not applicable \n - For IN UPI debtor.birth_city is not applicable"
          },
          "birth_country": {
            "type": "string",
            "description": "Debtor's birth_country \n - For TH Instant payment debtor.birth_country is not applicable \n - For US Instant payment debtor.birth_country field is optional \n - For IN IMPS debtor.birth_country is not applicable \n - For UK FPS Instant payment debtor.birth_country is not applicable \n - For IN UPI debtor.birth_country is not applicable",
            "pattern": "^[A-Z]{2,2}$"
          },
          "virtual_account": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's virtual account (also kown as PAYER ID) \n - For TH Instant payment debtor.virtual_account field is optional \n - For US Instant payment debtor.virtual_account field is not applicable \n - For IN IMPS debtor.virtual_account field is not applicable \n - For UK FPS Instant payment debtor.virtual_account is not applicable \n - For IN UPI debtor.virtual_account field is not applicable "
          },
          "bank_id": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor bank's network identification (e.g., routing number in the United States) \n - For TH Instant payment debtor.bank_id field is optional and allowed maxlength is 3 \n - For US Instant payment debtor.bank_id field is mandatory \n - For IN IMPS Instant payment debtor.bank_id field is mandatory and client should pass IFSC code (including branch code)  \n - For UK FPS Instant payment debtor.bank_id field is optional and allowed maxlength is 11 \n - For IN UPI Instant payment debtor.bank_id field is mandatory with max length 11"
          },
          "mobile_number": {
            "maxLength": 34,
            "type": "string",
            "pattern": "^[+]{1}[9]{1}[1]{1}[-][0-9]{10}$",
            "description": "Debtor's mobile number \n - For TH Instant payment debtor.mobile_number field is not applicable \n - For US Instant payment debtor.mobile_number field is not applicable \n - For IN IMPS debtor.mobile_number field is optional \n - For UK FPS Instant payment debtor.mobile_number is not applicable \n- For IN UPI debtor.mobile_number field is mandatory, if transaction.advice_type is SMSM"
          }
        },
        "additionalProperties": false,
        "description": "Debtor information"
      },
      "Debtor_Status": {
        "type": "object",
        "properties": {
          "proxy_id": {
            "$ref": "#/components/schemas/Max128Text"
          },
          "proxy_type": {
            "type": "string",
            "enum": [
              "BIID",
              "EMAL",
              "EWAL",
              "MBNO",
              "NIDN"
            ],
            "description": "Debtor's proxy type (BIID for bill identification, EMAL for email address, EWAL for electronic wallet identification, MBNO for mobile number and NIDN for national identification) \n - For TH Instant payment debtor.proxy_type is optional \n - For US Instant payment debtor.proxy_type is not applicable \n - For IN IMPS debtor.proxy_type is not applicable \n - For UK FPS Instant payment debtor.proxy_type is not applicable \n - For JP Instant payment debtor.proxy_type is not applicable \n - For IN UPI Instant payment debtor.proxy_type is not applicable"
          },
          "tax_id": {
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's tax identification \n - For TH Instant payment debtor.tax_id is optional \n - For US Instant payment debtor.tax_id is not applicable \n - For IN IMPS debtor.tax_id field is not applicable \n - For UK FPS Instant payment debtor.tax_id is not applicable \n - For JP Instant payment debtor.tax_id is not applicable \n - For IN UPI debtor.tax_id field is not applicable"
          },
          "account": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's bank account \n - For IN IMPS debtor.account field, allowed max length is 34 \n - For UK FPS Instant payment debtor.account field, allowed max length is 34 \n - For JP Instant payment debtor.account field is applicable \n - For IN UPI Instant payment debtor.account field allowed max length is 34"
          },
          "virtual_account": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's virtual account \n - For TH Instant payment debtor.virtual_account is optional \n - For US Instant payment virtual_account is not applicable \n - For IN IMPS virtual_account is not applicable \n - For UK FPS Instant payment virtual_account is not applicable \n - For JP Instant payment debtor.virtual_account field is applicable \n - For IN UPI virtual_account is not applicable"
          },
          "name": {
            "maxLength": 140,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's bank account name \n - For TH Instant payment debtor.name is not applicable \n - For US Instant payment debtor.name is mandatory \n - For IN IMPS  debtor.name is mandatory with max length 99 \n - For UK FPS Instant payment debtor.name field is optional with max length 40 \n - For JP Instant payment debtor.name field is applicable \n - For IN UPI Instant payment debtor.name is mandatory with max length 99"
          },
          "address_lines": {
            "type": "array",
            "description": "Debtor's address_lines \n - For TH Instant payment debtor.address_lines is not applicable \n - For US Instant payment debtor.address_lines is optional \n - For IN IMPS Instant payment debtor.address_lines is optional and allowed  seven instance with each line max length of 70 \n - For UK FPS Instant payment debtor.address_lines is optional and allowed only four instance with each line max length of 35 \n - For JP Instant payment debtor.address_lines field is applicable \n - For IN UPI debtor.address_lines is optional and allowed seven instance with each line max length of 70",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "street_name": {
            "maxLength": 70,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's street_name \n - For TH Instant payment debtor.street_name is not applicable \n - For US Instant payment debtor.street_name is optional \n- For IN IMPS debtor.street_name is optional \n - For UK FPS Instant payment debtor.street_name field is not applicable \n - For JP Instant payment debtor.street_name field is not applicable \n - For IN UPI debtor.street_name is optional"
          },
          "building_number": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's building_number \n - For TH Instant payment debtor.building_number is not applicable \n - For US Instant payment debtor.building_number field is optional \n - For IN IMPS Instant payment debtor.building_number field is optional \n - For UK FPS Instant payment debtor.building_number field is not applicable \n - For JP Instant payment debtor.building_number field is not applicable \n - For IN UPI Instant payment debtor.building_number field is optional"
          },
          "postal_code": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's postal_code \n - For TH Instant payment debtor.postal_code is not applicable \n - For US Instant payment debtor.postal_code field is optional \n - For IN IMPS debtor.postal_code is optional \n - For UK FPS Instant payment debtor.postal_code field is not applicable \n - For JP Instant payment debtor.postal_code field is not applicable \n - For IN UPI debtor.postal_code is optional"
          },
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's City \n - For TH Instant payment city is not applicable \n - For US Instant payment city field is optional \n - For IN IMPS debtor.city is optional \n - For UK FPS Instant payment debtor.city field is not applicable \n - For JP Instant payment debtor.city field is not applicable \n - For IN UPI debtor.city is optional"
          },
          "state": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's State \n - For TH Instant payment debtor.state is not applicable \n - For US Instant payment debtor.state field is optional \n - For IN IMPS debtor.state is optional \n - For UK FPS Instant payment debtor.state field is not applicable \n - For JP Instant payment debtor.state field is not applicable \n - For IN UPI debtor.state is optional"
          },
          "country": {
            "type": "string",
            "description": "Debtor's Country \n - For TH Instant payment debtor.country is not applicable \n - For US Instant payment debtor.country field is optional \n - For IN IMPS debtor.country is optional \n - For UK FPS Instant payment debtor.country field is mandatory, if debtor.address_line is provided by client \n - For JP Instant payment debtor.country field is not applicable \n - For IN UPI debtor.country is optional",
            "pattern": "^[A-Z]{2,2}$"
          },
          "org_id": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's org_id \n - For TH Instant payment debtor.org_id is not applicable \n - For US Instant payment debtor.org_id field is optional \n - For IN IMPS debtor.org_id is not applicable \n - For UK FPS Instant payment debtor.org_id field is not applicable \n - For JP Instant payment debtor.org_id field is not applicable \n - For IN UPI debtor.org_id is not applicable"
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "description": "ISO 8601 (YYYY-MM-DD), Debtor's birth_date \n - For TH Instant payment debtor.birth_date is not applicable \n - For US Instant payment debtor.birth_date field is optional \n - For IN IMPS debtor.birth_date is not applicable \n - For UK FPS Instant payment debtor.birth_date field is not applicable \n - For JP Instant payment debtor.birth_date field is not applicable  \n - For IN UPI debtor.birth_date is not applicable "
          },
          "birth_city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor's birth_city \n - For TH Instant payment debtor.birth_city is not applicable \n - For US Instant payment debtor.birth_city field is optional \n - For IN IMPS debtor.birth_city is not applicable \n - For UK FPS Instant payment debtor.birth_city field is not applicable \n - For JP Instant payment debtor.birth_city field is not applicable \n - For IN UPI debtor.birth_city is not applicable"
          },
          "birth_country": {
            "type": "string",
            "description": "Debtor's birth_country \n - For TH Instant payment debtor.birth_country is not applicable \n - For US Instant payment debtor.birth_country field is optional \n - For IN IMPS debtor.birth_country is not applicable \n - For UK FPS Instant payment debtor.birth_country field is not applicable \n - For JP Instant payment debtor.birth_country field is not applicable \n - For IN UPI debtor.birth_country is not applicable",
            "pattern": "^[A-Z]{2,2}$"
          },
          "bank_id": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Debtor bank's network identification (e.g., routing number in the United States) \n - For TH Instant payment debtor.bank_id field is optional and allowed maxlength is 3 \n - For US Instant payment debtor.bank_id field is mandatory \n - For IN IMPS Instant payment debtor.bank_id field is mandatory and client should pass IFSC code (including branch code) \n - For UK FPS Instant payment debtor.bank_id field is optional and allowed maxlength is 11 \n - For JP Instant payment debtor.bank_id field is applicable \n - For IN UPI Instant payment debtor.bank_id field is mandatory with max length 11"
          },
          "bank_branch_id": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Debtor bank's branch network identification \n - For TH Instant payment debtor.bank_branch_id field is not applicable \n - For US Instant payment debtor.bank_branch_id field is not applicable \n - For UK Instant payment debtor.bank_branch_id field is not applicable \n - For JP Instant payment debtor.bank_branch_id is applicable \n - For IN IMPS Instant payment debtor.bank_branch_id field is not applicable \n - For IN UPI Instant payment debtor.bank_branch_id field is not applicable"
          },
          "mobile_number": {
            "maxLength": 34,
            "type": "string",
            "pattern": "^[+]{1}[9]{1}[1]{1}[-][0-9]{10}$",
            "description": "Debtor's mobile number \n - For TH Instant payment debtor.mobile_number field is not applicable \n - For US Instant payment debtor.mobile_number field is not applicable \n - For IN IMPS debtor.mobile_number field is optional \n - For UK FPS Instant payment debtor.mobile_number field is not applicable \n - For JP Instant payment debtor.mobile_number field is not applicable \n- For IN UPI debtor.mobile_number field is mandatory, if transaction.advice_type is SMSM"
          }
        },
        "additionalProperties": false,
        "description": "Debtor information"
      },
      "Ultimate_Debtor_Initiation": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 140,
            "minLength": 1,
            "type": "string",
            "description": "Ultimate Debtor's bank account name \n - For TH Instant payment ultimate_debtor.name is not applicable \n - For US Instant payment ultimate_debtor.name is optional \n - For IN IMPS ultimate_debtor.name is not applicable \n - For UK FPS Instant payment ultimate_debtor.name is optional with max length 40 \n - For IN UPI ultimate_debtor.name is optional with max length 99"
          },
          "address_lines": {
            "type": "array",
            "description": "Ultimate Debtor's address_lines \n - For TH Instant payment ultimate_debtor.address_lines is not applicable \n - For US Instant payment ultimate_debtor.address_lines is optional \n - For IN IMPS ultimate_debtor.address_lines is not applicable \n - For UK FPS Instant payment ultimate_debtor.address_lines is optional with max 4 instances allowed and each line max length 35 \n - For IN UPI ultimate_debtor.address_lines is optional with max 7 instances allowed and each line max length 70",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "street_name": {
            "maxLength": 70,
            "minLength": 1,
            "type": "string",
            "description": "Ultimate Debtor's street_name \n - For TH Instant payment ultimate_debtor.street_name is not applicable \n - For US Instant payment ultimate_debtor.street_name is optional \n - For IN IMPS ultimate_debtor.street_name is not applicable \n - For UK FPS Instant payment ultimate_debtor.street_name is optional with max length 70 \n - For IN UPI ultimate_debtor.street_name is optional with max length 35"
          },
          "building_number": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Ultimate Debtor's building_number \n - For TH Instant payment ultimate_debtor.building_number is not applicable \n - For US Instant payment ultimate_debtor.building_number field is optional \n - For IN IMPS ultimate_debtor.building_number is not applicable \n - For UK FPS Instant payment ultimate_debtor.building_number is optional with max length 16 \n - For IN UPI ultimate_debtor.building_number is optional with max length 16"
          },
          "postal_code": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Ultimate Debtor's postal_code \n - For TH Instant payment ultimate_debtor.postal_code is not applicable \n - For US Instant payment ultimate_debtor.postal_code field is optional \n - For IN IMPS ultimate_debtor.postal_code is not applicable \n - For UK FPS Instant payment ultimate_debtor.postal_code is optional with max length 16 \n - For IN UPI ultimate_debtor.postal_code is optional with max length 16"
          },
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Ultimate Debtor's city \n - For TH Instant payment ultimate_debtor.city is not applicable \n - For US Instant payment ultimate_debtor.city field is optional \n - For IN IMPS ultimate_debtor.city is not applicable \n - For UK FPS Instant payment ultimate_debtor.city is optional with max length 35 \n - For IN UPI ultimate_debtor.city is optional with max length 35"
          },
          "state": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "Ultimate Debtor's state \n - For TH Instant payment ultimate_debtor.state is not applicable \n - For US Instant payment ultimate_debtor.state field is optional \n - For IN IMPS ultimate_debtor.state is not applicable \n - For UK FPS Instant payment ultimate_debtor.state is optional with max length 35 \n - For IN UPI ultimate_debtor.state is optional with max length 35 "
          },
          "country": {
            "type": "string",
            "description": "Ultimate Debtor's country \n - For TH Instant payment ultimate_debtor.country is not applicable \n - For US Instant payment ultimate_debtor.country field is optional \n - For IN IMPS ultimate_debtor.country is not applicable \n - For UK FPS Instant payment ultimate_debtor.country is conditional and becomes mandatory if ultimate_debtor.name is provided  \n - For IN UPI ultimate_debtor.country is optional",
            "pattern": "^[A-Z]{2,2}$"
          },
          "org_id": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
[...]
