{
  "openapi": "3.1.0",
  "info": {
    "title": "Swagger RSA Provider - BMW (OpenAPI 3.1)",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/LIQUIFIED777/swagger-rsa-provider-bmw-openapi-31/1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://service.abc.net/v1"
    }
  ],
  "tags": [
    {
      "name": "service",
      "description": "Operations about on-site assistance services"
    }
  ],
  "paths": {
    "/rsa/cases/{bmwCaseId}/services/{bmwServiceId}": {
      "put": {
        "tags": [
          "service"
        ],
        "summary": "Update service",
        "description": "Update an already ordered on-site assistance service in the bmw system",
        "security": [
          {
            "open_id_connect": [
              "write:service"
            ]
          }
        ],
        "parameters": [
          {
            "name": "bmwCaseId",
            "in": "path",
            "description": "id of bmw case",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bmwServiceId",
            "in": "path",
            "description": "service to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUpdateTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUpdateTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/ErrorResponseTO"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not available"
          },
          "500": {
            "$ref": "#/components/schemas/ErrorResponseTO"
          }
        }
      }
    },
    "/rsa/cases/{bmwCaseId}/services/{bmwServiceId}/live-tracking": {
      "put": {
        "tags": [
          "service"
        ],
        "summary": "Update service with live tracking",
        "description": "Update an already ordered on-site assistance service with live tracking data in the bmw system",
        "security": [
          {
            "open_id_connect": [
              "write:service"
            ]
          }
        ],
        "parameters": [
          {
            "name": "bmwCaseId",
            "in": "path",
            "description": "id of bmw case",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bmwServiceId",
            "in": "path",
            "description": "service to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "liveTracking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveTrackingTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUpdateTO"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/ErrorResponseTO"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not available"
          },
          "500": {
            "$ref": "#/components/schemas/ErrorResponseTO"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceUpdateTO": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/RrvTO"
          },
          {
            "$ref": "#/components/schemas/TowingTO"
          },
          {
            "$ref": "#/components/schemas/TaxiTO"
          },
          {
            "$ref": "#/components/schemas/LocalPassengerTransportTO"
          },
          {
            "$ref": "#/components/schemas/ReplacementVehicleTO"
          },
          {
            "$ref": "#/components/schemas/HotelTO"
          },
          {
            "$ref": "#/components/schemas/FlightTO"
          },
          {
            "$ref": "#/components/schemas/TrainTO"
          },
          {
            "$ref": "#/components/schemas/FerryTO"
          }
        ],
        "discriminator": {
          "propertyName": "serviceType",
          "mapping": {
            "RRV": "#/components/schemas/RrvTO",
            "TOWING": "#/components/schemas/TowingTO",
            "TAXI": "#/components/schemas/TaxiTO",
            "LOCAL_PASSANGER_TRANSPORT": "#/components/schemas/LocalPassengerTransportTO",
            "REPLACEMENT_VEHICLE": "#/components/schemas/ReplacementVehicleTO",
            "HOTEL": "#/components/schemas/HotelTO",
            "FLIGHT": "#/components/schemas/FlightTO",
            "TRAIN": "#/components/schemas/TrainTO",
            "FERRY": "#/components/schemas/FerryTO"
          }
        }
      },
      "ErrorResponseTO": {
        "description": "Response in case of an error",
        "type": "object",
        "required": [
          "errorCode"
        ],
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "Short error code."
          },
          "message": {
            "type": "string",
            "description": "Detailed human readable error message describing the failure."
          }
        }
      },
      "LiveTrackingTO": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": "number",
            "format": "float",
            "examples": [
              42.392
            ],
            "description": "Longitude Coordinates of the service driver"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "examples": [
              12.394
            ],
            "description": "Latitude Coordinates of the service driver"
          },
          "estimatedTimeOfArrival": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2023-01-26T18:00:00Z"
            ],
            "description": "Time when the service will arrive at the customer position"
          }
        },
        "required": [
          "status",
          "estimatedTimeOfArrival",
          "trackingInfo"
        ]
      },
      "RrvTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "description": "Service Type identifier",
            "examples": [
              "RRV"
            ]
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "We do not have a RRV near by. Can we schedule the RRV for later?"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "companyName",
                "driverFirstName",
                "driverLastName",
                "driverPhoneNumber"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "XZC1234567"
                  ],
                  "description": "Order Number of the RRV Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "ADAC"
                  ],
                  "description": "Name of the RRV Company"
                },
                "driverFirstName": {
                  "type": "string",
                  "examples": [
                    "Hans"
                  ],
                  "description": "First name of the RRV Driver"
                },
                "driverLastName": {
                  "type": "string",
                  "examples": [
                    "M\u00fcller"
                  ],
                  "description": "Last name of the RRV Driver"
                },
                "driverPhoneNumber": {
                  "type": "string",
                  "examples": [
                    492558235795
                  ],
                  "description": "Phonenumber of the RRV Driver"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText",
                "caseResolution"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "EQUIPMENT_NOT_AVAILABLE",
                    "WRONG_BREAKDOWNREASON",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "TOWING_COMPLETED"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                },
                "caseResolution": {
                  "type": "object",
                  "required": [
                    "isRepairSuccessful",
                    "breakdownSymptomCode"
                  ],
                  "properties": {
                    "isRepairSuccessful": {
                      "type": "boolean",
                      "examples": [
                        true
                      ],
                      "description": " Information if the problem was sovled"
                    },
                    "breakdownSymptom": {
                      "type": "string",
                      "examples": [
                        "TIRE_PUNCTURE",
                        "ENGINE_FAILURE"
                      ],
                      "description": " Reasons for the Breakdown "
                    },
                    "breakdownSymptomCode": {
                      "type": "integer",
                      "examples": [
                        4111,
                        1000
                      ],
                      "description": " Reasons for the Breakdown in the BMW universal code "
                    },
                    "notes": {
                      "type": "string",
                      "examples": [
                        "Customer was happy with service and is informed about the next steps"
                      ],
                      "description": " Possible note for the call center agent "
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TowingTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "TOWING"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          },
          "notes": {
            "type": "string"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "We do not have a Tow near by. Can we schedule the Tow for later?"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "companyName",
                "driverFirstName",
                "driverLastName",
                "driverPhoneNumber"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "XZC1234567"
                  ],
                  "description": "Order Number of the Tow Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "ADAC"
                  ],
                  "description": "Name of the Tow Company"
                },
                "driverFirstName": {
                  "type": "string",
                  "examples": [
                    "Hans"
                  ],
                  "description": "First name of the Tow Driver"
                },
                "driverLastName": {
                  "type": "string",
                  "examples": [
                    "M\u00fcller"
                  ],
                  "description": "Last name of the Tow Driver"
                },
                "driverPhoneNumber": {
                  "type": "string",
                  "examples": [
                    492558235795
                  ],
                  "description": "Phonenumber of the Towing Truck driver"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "STORAGE"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "storeLocationName",
                "street",
                "houseNumber",
                "city",
                "postalCode",
                "countryCode"
              ],
              "properties": {
                "tempStoredInfoTO": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "type": "string",
                      "description": "Longitude coordinates of the storage location"
                    },
                    "latitude": {
                      "type": "string",
                      "description": "Latitude coordinates of the storage location"
                    },
                    "storeLocationName": {
                      "type": "string",
                      "examples": [
                        "BMW Garage"
                      ],
                      "description": "Name of the storage facility"
                    },
                    "street": {
                      "type": "string",
                      "examples": [
                        "BMWStreet"
                      ],
                      "description": "Street of the storage facility"
                    },
                    "houseNumber": {
                      "type": "string",
                      "examples": [
                        "5a"
                      ],
                      "description": "Housenumber of the storage facility"
                    },
                    "city": {
                      "type": "string",
                      "examples": [
                        "Munich"
                      ],
                      "description": "City of the storage facility"
                    },
                    "state": {
                      "type": "string",
                      "examples": [
                        "Bayern"
                      ],
                      "description": "State of the storage facility"
                    },
                    "postalCode": {
                      "type": "integer",
                      "examples": [
                        81675
                      ],
                      "description": "Postal code of the storage facility"
                    },
                    "countryCode": {
                      "type": "string",
                      "examples": [
                        "de_DE"
                      ],
                      "description": "Country Code of the storage facility - ISO 3166 country codes"
                    }
                  }
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText",
                "caseResolution"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "EQUIPMENT_NOT_AVAILABLE",
                    "WRONG_BREAKDOWNREASON",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "NO_SOLUTION",
                    "NO_ACCESS_TO_VEHICLE"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                },
                "caseResolution": {
                  "type": "object",
                  "required": [
                    "isRepairSuccessful",
                    "breakdownSymptomCode"
                  ],
                  "properties": {
                    "isRepairSuccessful": {
                      "type": "boolean",
                      "examples": [
                        true
                      ],
                      "description": " Information if the problem was sovled"
                    },
                    "breakdownSymptom": {
                      "type": "string",
                      "examples": [
                        "TIRE_PUNCTURE",
                        "ENGINE_FAILURE"
                      ],
                      "description": " Reasons for the Breakdown "
                    },
                    "breakdownSymptomCode": {
                      "type": "integer",
                      "examples": [
                        4111,
                        1000
                      ],
                      "description": " Reasons for the Breakdown in the BMW universal code "
                    },
                    "notes": {
                      "type": "string",
                      "examples": [
                        "Customer was happy with service and is informed about the next steps"
                      ],
                      "description": " Possible note for the call center agent "
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TaxiTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "TAXI"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          },
          "notes": {
            "type": "string"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "We do not have a Taxi available. Can we order a Local Passanger Tranpsort instead?"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "companyName",
                "driverFirstName",
                "driverLastName",
                "driverPhoneNumber"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "XZC1234567"
                  ],
                  "description": "Order Number of the Taxi Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "Taxi M\u00fcller"
                  ],
                  "description": "Name of the Taxi Company"
                },
                "driverFirstName": {
                  "type": "string",
                  "examples": [
                    "Hans"
                  ],
                  "description": "First name of the Taxi Driver"
                },
                "driverLastName": {
                  "type": "string",
                  "examples": [
                    "M\u00fcller"
                  ],
                  "description": "Last name of the Taxi Driver"
                },
                "driverPhoneNumber": {
                  "type": "string",
                  "examples": [
                    492558235795
                  ],
                  "description": "Phonenumber of taxi driver"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "LocalPassengerTransportTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "LOCAL_PASSANGER_TRANSPORT"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          },
          "notes": {
            "type": "string"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "We do not have a Local Passanger Tranpsort available. Can we order a Taxi instead?"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "companyName",
                "driverFirstName",
                "driverLastName",
                "driverPhoneNumber"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "XZC1234567"
                  ],
                  "description": "Order Number of the Local Passanger Transport Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "Uber"
                  ],
                  "description": "Name of the Local Passanger Transport Company"
                },
                "driverFirstName": {
                  "type": "string",
                  "examples": [
                    "Hans"
                  ],
                  "description": "First name of the Local Passanger Transport Driver"
                },
                "driverLastName": {
                  "type": "string",
                  "examples": [
                    "M\u00fcller"
                  ],
                  "description": "Last name of the Local Passanger Transport Driver"
                },
                "driverPhoneNumber": {
                  "type": "string",
                  "examples": [
                    402558235795
                  ],
                  "description": "Phonennumber of LPT Driver"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "ReplacementVehicleTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus",
          "PickUpLocation"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "REPLACEMENT_VEHICLE"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "We do not have a fitting category available. Can we order the next best category instead?"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "brand",
                "model",
                "companyName",
                "EstimatedCost",
                "rentalCarCategory",
                "street",
                "houseNumber",
                "city",
                "postalCode",
                "country"
              ],
              "properties": {
                "orderNumber": {
                  "type": "integer",
                  "format": "int64",
                  "examples": [
                    1234567
                  ],
                  "description": "Order Number of the Local Passanger Transport Service"
                },
                "brand": {
                  "type": "string",
                  "examples": [
                    "BMW"
                  ],
                  "description": "Brand of the replacement vehicle"
                },
                "model": {
                  "type": "string",
                  "examples": [
                    "320d"
                  ],
                  "description": "Model of the replacement vehicle"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "SIXT"
                  ],
                  "description": "Name of the replacement vehicle company"
                },
                "rentalCarCategory": {
                  "type": "string",
                  "enum": [
                    "SUBCOMPACT_CAR",
                    "COMPACT_CAR_UKL",
                    "MID_SIZE_CAR_KKL",
                    "MID_SIZE_LUXURY_CAR_MKL",
                    "LUXURY_CAR_GKL",
                    "LUXURY_CAR",
                    "MOTORCYCLE"
                  ],
                  "description": "Category of the replacement vehicle - Must be mapped to the BMW categories"
                },
                "longitude": {
                  "type": "string",
                  "description": "Longitude coordinates of the storage location"
                },
                "latitude": {
                  "type": "string",
                  "description": "Latitude coordinates of the storage location"
                },
                "street": {
                  "type": "string",
                  "examples": [
                    "BMWStreet"
                  ],
                  "description": "Street of the storage facility"
                },
                "houseNumber": {
                  "type": "string",
                  "examples": [
                    "5a"
                  ],
                  "description": "Housenumber of the storage facility"
                },
                "city": {
                  "type": "string",
                  "examples": [
                    "Munich"
                  ],
                  "description": "City of the storage facility"
                },
                "state": {
                  "type": "string",
                  "examples": [
                    "Bayern"
                  ],
                  "description": "State of the storage facility"
                },
                "postalCode": {
                  "type": "integer",
                  "examples": [
                    81675
                  ],
                  "description": "Postal code of the storage facility"
                },
                "countryCode": {
                  "type": "string",
                  "examples": [
                    "de_DE"
                  ],
                  "description": "Country Code of the storage facility - ISO 3166 country codes"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "HotelTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "HOTEL"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "We do not have a four star hotel available. Can we order the a five star hotel instead?"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "category",
                "companyName",
                "phoneNumber",
                "street",
                "houseNumber",
                "city",
                "postalCode",
                "countryCode"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    398470289347
                  ],
                  "description": "Order Number of the hotel Service"
                },
                "category": {
                  "type": "string",
                  "enum": [
                    "four_star",
                    "five_star"
                  ],
                  "examples": [
                    "four_star"
                  ],
                  "description": "Category of the booked hotel"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "Hilton"
                  ],
                  "description": "Hotel name"
                },
                "phoneNumber": {
                  "type": "string",
                  "examples": [
                    "+491234567889"
                  ]
                },
                "longitude": {
                  "type": "string",
                  "description": "Longitude coordinates of the hotel"
                },
                "latitude": {
                  "type": "string",
                  "description": "Latitude coordinates of the hotel"
                },
                "street": {
                  "type": "string",
                  "examples": [
                    "BMWStreet"
                  ],
                  "description": "Street of the hotel"
                },
                "houseNumber": {
                  "type": "string",
                  "examples": [
                    "5a"
                  ],
                  "description": "Housenumber of the hotel"
                },
                "city": {
                  "type": "string",
                  "examples": [
                    "Munich"
                  ],
                  "description": "City of the hotel"
                },
                "state": {
                  "type": "string",
                  "examples": [
                    "Bayern"
                  ],
                  "description": "State of the hotel"
                },
                "postalCode": {
                  "type": "integer",
                  "examples": [
                    81675
                  ],
                  "description": "Postal code of the hotel"
                },
                "countryCode": {
                  "type": "string",
                  "examples": [
                    "de_DE"
                  ],
                  "description": "Country Code of the hotel - ISO 3166 country codes"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "FlightTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "FLIGHT"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "No Flight available to the desired airport destination. Please book a taxi from the depature airport to the home address of the customer"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "companyName",
                "orderNumber",
                "flightNumber",
                "airportNameDeparture",
                "airportNameArrival",
                "departureTime",
                "arrivalTime",
                "flightClass"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "CXZ289347239847"
                  ],
                  "description": "Order Number of the filght Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "Lufthansa"
                  ],
                  "description": "Name of the flight company"
                },
                "flightNumber": {
                  "type": "string",
                  "examples": [
                    "VY1814"
                  ],
                  "description": "Flight Number of the booked flight"
                },
                "airportNameDeparture": {
                  "type": "string",
                  "examples": [
                    "MUC"
                  ],
                  "description": "Name of the depature airport"
                },
                "airportNameArrival": {
                  "type": "string",
                  "examples": [
                    "BCN"
                  ],
                  "description": "Name of the arrival airport"
                },
                "departureTime": {
                  "type": "string",
                  "format": "date-time",
                  "examples": [
                    "22023-03-01T13:50:28.925Z"
                  ],
                  "description": "timestamp of the planned depature time"
                },
                "arrivalTime": {
                  "type": "string",
                  "format": "date-time",
                  "examples": [
                    "22023-03-01T13:50:28.925Z"
                  ],
                  "description": "timestamp of the planned arrival time"
                },
                "flightClass": {
                  "type": "string",
                  "enum": [
                    "BUSINESS",
                    "ECONOMY"
                  ],
                  "description": "category of the booked flight"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "TrainTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "TRAIN"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "No train available to the desired train station. Please book a taxi from the depature airport to the home address of the customer"
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "companyName",
                "flightNumber",
                "trainStationNameDeparture",
                "trainStationNameArrival",
                "departureTime",
                "arrivalTime",
                "trainClass"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "CXZ289347239847"
                  ],
                  "description": "Order Number of the train Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "Deutsche Bahn"
                  ],
                  "description": "Name of the train company"
                },
                "trainStationNameDeparture": {
                  "type": "string",
                  "examples": [
                    "Hauptbahnhof M\u00fcnchen"
                  ],
                  "description": "Name of the depature train station"
                },
                "trainStationNameArrival": {
                  "type": "string",
                  "examples": [
                    "Hauptbahnhof Berlin"
                  ],
                  "description": "Name of the arrival train station"
                },
                "departureTime": {
                  "type": "string",
                  "format": "date-time",
                  "examples": [
                    "22023-03-01T13:50:28.925Z"
                  ],
                  "description": "timestamp of the planned depature time"
                },
                "arrivalTime": {
                  "type": "string",
                  "format": "date-time",
                  "examples": [
                    "22023-03-01T13:50:28.925Z"
                  ],
                  "description": "timestamp of the planned arrival time"
                },
                "trainClass": {
                  "type": "string",
                  "enum": [
                    "FIRST_CLASS",
                    "SECOND_CLASS"
                  ],
                  "description": "category of the booked train ticket"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "FerryTO": {
        "type": "object",
        "required": [
          "serviceType",
          "serviceStatus"
        ],
        "properties": {
          "serviceType": {
            "type": "string",
            "examples": [
              "FERRY"
            ],
            "description": "Service Type identifier"
          },
          "serviceStatus": {
            "$ref": "#/components/schemas/ServiceStatusMobilityTO",
            "description": "Status from the OSA status modell - seperated in a own object"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "CLARIFICATION_REQUIRED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "note"
              ],
              "properties": {
                "note": {
                  "type": "string",
                  "examples": [
                    "No ferry service available due to bad weather. Please book a hotel for the customer."
                  ],
                  "description": " Question to the Call Center Agent"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "DISPATCHED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "orderNumber",
                "companyName",
                "ferrytNumber",
                "ferrytNumberStationNameDeparture",
                "ferryStationNameArrival",
                "departureTime",
                "arrivalTime"
              ],
              "properties": {
                "orderNumber": {
                  "type": "string",
                  "examples": [
                    "CXZ289347239847"
                  ],
                  "description": "Order Number of the ferry Service"
                },
                "companyName": {
                  "type": "string",
                  "examples": [
                    "R\u00fcgen Transport"
                  ],
                  "description": "Name of the ferry company"
                },
                "ferrytationNameDeparture": {
                  "type": "string",
                  "examples": [
                    "Hamburg Port"
                  ],
                  "description": "Name of the depature ferry station"
                },
                "ferryStationNameArrival": {
                  "type": "string",
                  "examples": [
                    "R\u00fcgen Port"
                  ],
                  "description": "Name of the arrival ferry station"
                },
                "departureTime": {
                  "type": "string",
                  "format": "date-time",
                  "examples": [
                    "22023-03-01T13:50:28.925Z"
                  ],
                  "description": "timestamp of the planned depature time"
                },
                "arrivalTime": {
                  "type": "string",
                  "format": "date-time",
                  "examples": [
                    "22023-03-01T13:50:28.925Z"
                  ],
                  "description": "timestamp of the planned arrival time"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "serviceStatus": {
                  "properties": {
                    "status": {
                      "const": "COMPLETED"
                    }
                  }
                }
              }
            },
            "then": {
              "required": [
                "completionReason",
                "completionReasonText"
              ],
              "properties": {
                "completionReason": {
                  "type": "string",
                  "enum": [
                    "SUCCESSFUL",
                    "OTHER",
                    "CUSTOMER_NO_SHOW",
                    "REJECTED_BY_CUSTOMER"
                  ],
                  "examples": [
                    "SUCCESSFUL"
                  ],
                  "description": "ENUM of how the service was completed"
                },
                "completionReasonText": {
                  "type": "string",
                  "examples": [
                    "Opened the Car via remote Keylock App and enabled the customer to continue his travel"
                  ],
                  "description": "Detailed information about the completion reason"
                }
              }
            }
          }
        ]
      },
      "ServiceStatusTO": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "SCHEDULED",
              "REQUESTED",
              "ACCEPTED",
              "CLARIFICATION_REQUIRED",
              "DISPATCHED",
              "ON_THE_WAY",
              "ARRIVED",
              "STORAGE",
              "COMPLETED"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2024-08-26T12:00:00Z"
            ]
          }
        }
      },
      "ServiceStatusMobilityTO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "REQUESTED",
              "CLARIFICATION_REQUIRED",
              "ACCEPTED\"",
              "DISPATCHED",
              "COMPLETED"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2024-08-26T12:00:00Z"
            ]
          }
        },
        "required": [
          "status",
          "timestamp"
        ]
      }
    },
    "securitySchemes": {
      "open_id_connect": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://todo.com"
      }
    }
  },
  "security": [
    {
      "open_id_connect": [
        "read",
        "write"
      ]
    }
  ]
}