{
  "openapi": "3.0.3",
  "info": {
    "title": "IF-SP.167-EMMA-SAP",
    "description": "IF1_AFC_TAX_77_EMMA_M2M_SAP_S_4",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Test13938/if-sp167-emma-sap/1.0.0"
  },
  "servers": [
    {
      "url": "https://il-api-tst.fibercop.com/IF-SP.167-EMMA-SAP/v1.0",
      "description": "Test server"
    }
  ],
  "paths": {
    "/FL.0247-IF1_AFC_TAX_77_EMMA_M2M_SAP_S_4": {
      "post": {
        "operationId": "FL.0247",
        "summary": "FL.0247-IF1_AFC_TAX_77_EMMA_M2M_SAP_S_4",
        "description": "FL.0247-IF1_AFC_TAX_77_EMMA_M2M_SAP_S_4",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/CorrelationId"
          },
          {
            "$ref": "#/components/parameters/BusinessKey"
          },
          {
            "$ref": "#/components/parameters/InterfaceId"
          },
          {
            "$ref": "#/components/parameters/FlowId"
          },
          {
            "$ref": "#/components/parameters/Source"
          },
          {
            "$ref": "#/components/parameters/Timestamp"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingDocumentRequest"
              },
              "example": {
                "Root": {
                  "AccountingDocuments": {
                    "FileRecordType": {
                      "DateOfCreation": "2025-10-27T15:30:00",
                      "AccountingDocumentNumber": "1000001234",
                      "Society": "2310",
                      "DocumentType": "DR",
                      "DocumentDate": "2025-10-27",
                      "PostingDate": "2025-10-27",
                      "ReferenceDocumentNumber": "BKPFF",
                      "DocumentHeaderText": "Journal Entry Upload",
                      "Item": {
                        "SplitKey": "EUR",
                        "DebitCreditSign": "H",
                        "AmountInDocumentCurrency": "1500.00",
                        "AccountNumberCoGe": "21501300",
                        "VatCode": "00",
                        "ProfitCenter": "YB900",
                        "AttributionNumber": "AR with Tax",
                        "PositionText": "Revenue Posting"
                      },
                      "DebtorItem": {
                        "SplitKey": "EUR",
                        "DebitCreditSign": "S",
                        "Customer": "23100003",
                        "AmountInDocumentCurrency": "1500.00",
                        "AttributionNumber": "AR with Tax",
                        "PositionText": "Revenue Posting"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operazione completata con successo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "ReturnCode": "200",
                  "ReturnMessage": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Richiesta non valida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "ReturnCode": "400",
                  "ReturnMessage": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Non autorizzato",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "ReturnCode": "401",
                  "ReturnMessage": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Errore interno del server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "ReturnCode": "500",
                  "ReturnMessage": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "MessageId": {
        "name": "MessageId",
        "in": "header",
        "required": true,
        "description": "Identificativo univoco del messaggio \u2013 cambia ad ogni messaggio inviato, deve essere mantenuto in caso di ripubblicazione del messaggio",
        "schema": {
          "type": "string"
        },
        "example": "MSG-20240115-103045-001"
      },
      "CorrelationId": {
        "name": "CorrelationId",
        "in": "header",
        "required": true,
        "description": "Identificativo di correlazione tra pi\u00f9 messaggi, deve essere comune ad esempio in una request e relativa callback",
        "schema": {
          "type": "string"
        },
        "example": "CORR-20240115-ABC123"
      },
      "BusinessKey": {
        "name": "BusinessKey",
        "in": "header",
        "required": true,
        "description": "Identificativo dell'oggetto di business trasmesso, possono essere i valori di pi\u00f9 campi concatenati da | (pipe). Tale campo \u00e8 utile per la ricerca",
        "schema": {
          "type": "string"
        },
        "example": "1000001234|2310|DR"
      },
      "InterfaceId": {
        "name": "InterfaceId",
        "in": "header",
        "required": true,
        "description": "Identificativo dell'interfaccia",
        "schema": {
          "type": "string"
        },
        "example": "IF-SP.167"
      },
      "FlowId": {
        "name": "FlowId",
        "in": "header",
        "required": true,
        "description": "Identificativo del flusso",
        "schema": {
          "type": "string"
        },
        "example": "FL.0247"
      },
      "Source": {
        "name": "Source",
        "in": "header",
        "required": true,
        "description": "Sistema sorgente del messaggio",
        "schema": {
          "type": "string"
        },
        "example": "EMMA"
      },
      "Timestamp": {
        "name": "Timestamp",
        "in": "header",
        "required": true,
        "description": "Data/ora con millisecondi di generazione del messaggio",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2025-10-27T15:30:00.000Z"
      }
    },
    "schemas": {
      "AccountingDocumentRequest": {
        "type": "object",
        "required": [
          "Root"
        ],
        "properties": {
          "Root": {
            "type": "object",
            "required": [
              "AccountingDocuments"
            ],
            "properties": {
              "AccountingDocuments": {
                "type": "object",
                "required": [
                  "FileRecordType"
                ],
                "properties": {
                  "FileRecordType": {
                    "$ref": "#/components/schemas/FileRecordType"
                  }
                }
              }
            }
          }
        }
      },
      "FileRecordType": {
        "type": "object",
        "required": [
          "DateOfCreation",
          "AccountingDocumentNumber",
          "Society",
          "DocumentType",
          "DocumentDate",
          "PostingDate",
          "Item",
          "DebtorItem"
        ],
        "properties": {
          "DateOfCreation": {
            "type": "string",
            "format": "date-time",
            "description": "Data e ora di creazione del documento",
            "example": "2025-10-27T15:30:00"
          },
          "AccountingDocumentNumber": {
            "type": "string",
            "description": "Numero del documento contabile",
            "example": "1000001234"
          },
          "Society": {
            "type": "string",
            "description": "Codice societ\u00e0",
            "example": "2310"
          },
          "DocumentType": {
            "type": "string",
            "description": "Tipo documento contabile",
            "example": "DR"
          },
          "DocumentDate": {
            "type": "string",
            "format": "date",
            "description": "Data del documento",
            "example": "2025-10-27"
          },
          "PostingDate": {
            "type": "string",
            "format": "date",
            "description": "Data di registrazione",
            "example": "2025-10-27"
          },
          "ReferenceDocumentNumber": {
            "type": "string",
            "description": "Numero documento di riferimento",
            "example": "BKPFF"
          },
          "DocumentHeaderText": {
            "type": "string",
            "description": "Testo intestazione documento",
            "example": "Journal Entry Upload"
          },
          "Item": {
            "$ref": "#/components/schemas/Item"
          },
          "DebtorItem": {
            "$ref": "#/components/schemas/DebtorItem"
          }
        }
      },
      "Item": {
        "type": "object",
        "required": [
          "SplitKey",
          "DebitCreditSign",
          "AmountInDocumentCurrency",
          "AccountNumberCoGe"
        ],
        "properties": {
          "SplitKey": {
            "type": "string",
            "description": "Codice valuta",
            "example": "EUR"
          },
          "DebitCreditSign": {
            "type": "string",
            "description": "Segno dare/avere (S=Dare, H=Avere)",
            "example": "H"
          },
          "AmountInDocumentCurrency": {
            "type": "string",
            "description": "Importo nella valuta del documento",
            "example": "1500.00"
          },
          "AccountNumberCoGe": {
            "type": "string",
            "description": "Numero conto Co.Ge.",
            "example": "21501300"
          },
          "VatCode": {
            "type": "string",
            "description": "Codice IVA",
            "example": "00"
          },
          "ProfitCenter": {
            "type": "string",
            "description": "Centro di profitto",
            "example": "YB900"
          },
          "AttributionNumber": {
            "type": "string",
            "description": "Numero di attribuzione",
            "example": "AR with Tax"
          },
          "PositionText": {
            "type": "string",
            "description": "Testo posizione",
            "example": "Revenue Posting"
          }
        }
      },
      "DebtorItem": {
        "type": "object",
        "required": [
          "SplitKey",
          "DebitCreditSign",
          "Customer",
          "AmountInDocumentCurrency"
        ],
        "properties": {
          "SplitKey": {
            "type": "string",
            "description": "Codice valuta",
            "example": "EUR"
          },
          "DebitCreditSign": {
            "type": "string",
            "description": "Segno dare/avere (S=Dare, H=Avere)",
            "example": "S"
          },
          "Customer": {
            "type": "string",
            "description": "Codice cliente",
            "example": "23100003"
          },
          "AmountInDocumentCurrency": {
            "type": "string",
            "description": "Importo nella valuta del documento",
            "example": "1500.00"
          },
          "AttributionNumber": {
            "type": "string",
            "description": "Numero di attribuzione",
            "example": "AR with Tax"
          },
          "PositionText": {
            "type": "string",
            "description": "Testo posizione",
            "example": "Revenue Posting"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "required": [
          "ReturnCode",
          "ReturnMessage"
        ],
        "properties": {
          "ReturnCode": {
            "type": "string",
            "description": "Codice di ritorno",
            "example": "200"
          },
          "ReturnMessage": {
            "type": "string",
            "description": "Messaggio di ritorno",
            "example": "OK"
          }
        }
      }
    }
  }
}