{
  "openapi": "3.0.3",
  "info": {
    "title": "PubChem PUG REST API",
    "version": "1.0.0",
    "description": "PubChem's Power User Gateway (PUG) REST interface provides programmatic access to PubChem's database of chemical molecules and their activities against biological assays. Supports compound, substance, and bioassay queries by identifier, name, structure, and more.",
    "x-jentic-source-url": "https://pubchem.ncbi.nlm.nih.gov/docs/pug-rest",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://pubchem.ncbi.nlm.nih.gov/rest/pug"
    }
  ],
  "paths": {
    "/compound/cid/{identifiers}/JSON": {
      "get": {
        "operationId": "getCompoundByCid",
        "summary": "Get compound record by cid",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound cid identifier(s), comma-separated for multiple"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PC_Compounds": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound record by cid"
      }
    },
    "/compound/name/{identifiers}/JSON": {
      "get": {
        "operationId": "getCompoundByName",
        "summary": "Get compound record by name",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound name identifier(s), comma-separated for multiple"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PC_Compounds": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound record by name"
      }
    },
    "/compound/smiles/{identifiers}/JSON": {
      "get": {
        "operationId": "getCompoundBySmiles",
        "summary": "Get compound record by smiles",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound smiles identifier(s), comma-separated for multiple"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PC_Compounds": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound record by smiles"
      }
    },
    "/compound/inchi/{identifiers}/JSON": {
      "get": {
        "operationId": "getCompoundByInchi",
        "summary": "Get compound record by inchi",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound inchi identifier(s), comma-separated for multiple"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PC_Compounds": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound record by inchi"
      }
    },
    "/compound/inchikey/{identifiers}/JSON": {
      "get": {
        "operationId": "getCompoundByInchikey",
        "summary": "Get compound record by inchikey",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound inchikey identifier(s), comma-separated for multiple"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PC_Compounds": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound record by inchikey"
      }
    },
    "/compound/cid/{identifiers}/property/{properties}/JSON": {
      "get": {
        "operationId": "getCompoundProperties",
        "summary": "Get specific compound properties",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID(s), comma-separated"
          },
          {
            "name": "properties",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated property names (MolecularFormula,MolecularWeight,CanonicalSMILES,IsomericSMILES,InChI,InChIKey,IUPACName,XLogP,ExactMass,MonoisotopicMass,TPSA,Complexity,Charge,HBondDonorCount,HBondAcceptorCount,RotatableBondCount,HeavyAtomCount,IsotopeAtomCount,AtomStereoCount,DefinedAtomStereoCount,UndefinedAtomStereoCount,BondStereoCount,DefinedBondStereoCount,UndefinedBondStereoCount,CovalentUnitCount,Volume3D,XStericQuadrupole3D,YStericQuadrupole3D,ZStericQuadrupole3D,FeatureCount3D,FeatureAcceptorCount3D,FeatureDonorCount3D,FeatureAnionCount3D,FeatureCationCount3D,FeatureRingCount3D,FeatureHydrophobeCount3D,ConformerModelRMSD3D,EffectiveRotorCount3D,ConformerCount3D)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PropertyTable": {
                      "type": "object",
                      "properties": {
                        "Properties": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get specific compound properties"
      }
    },
    "/compound/name/{name}/property/{properties}/JSON": {
      "get": {
        "operationId": "getCompoundPropertiesByName",
        "summary": "Get compound properties by name",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound name"
          },
          {
            "name": "properties",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated property names"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PropertyTable": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound properties by name"
      }
    },
    "/compound/cid/{identifiers}/synonyms/JSON": {
      "get": {
        "operationId": "getCompoundSynonyms",
        "summary": "Get compound synonyms",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "InformationList": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound synonyms"
      }
    },
    "/compound/cid/{identifiers}/description/JSON": {
      "get": {
        "operationId": "getCompoundDescription",
        "summary": "Get compound description/summary",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "InformationList": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound description/summary"
      }
    },
    "/compound/cid/{identifiers}/SDF": {
      "get": {
        "operationId": "getCompoundSdf",
        "summary": "Get compound 2D/3D structure as SDF",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID(s)"
          },
          {
            "name": "record_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2d",
                "3d"
              ]
            },
            "description": "2D or 3D"
          }
        ],
        "responses": {
          "200": {
            "description": "SDF file",
            "content": {
              "chemical/x-mdl-sdfile": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound 2D/3D structure as SDF"
      }
    },
    "/compound/cid/{identifiers}/PNG": {
      "get": {
        "operationId": "getCompoundImage",
        "summary": "Get compound 2D structure as PNG image",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID"
          },
          {
            "name": "image_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "small",
                "large",
                "300x300",
                "500x500"
              ]
            },
            "description": "Image size"
          }
        ],
        "responses": {
          "200": {
            "description": "PNG image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound 2D structure as PNG image"
      }
    },
    "/compound/cid/{identifiers}/classification/JSON": {
      "get": {
        "operationId": "getCompoundClassification",
        "summary": "Get compound classification hierarchy",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound classification hierarchy"
      }
    },
    "/compound/cid/{identifiers}/xrefs/{xref_type}/JSON": {
      "get": {
        "operationId": "getCompoundXrefs",
        "summary": "Get compound cross-references",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID"
          },
          {
            "name": "xref_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cross-reference type (RegistryID, RN, PubMedID, MMDBID, ProteinGI, NucleotideGI, TaxonomyID, MIMID, GeneID, ProbeID, PatentID, SID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "InformationList": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get compound cross-references"
      }
    },
    "/substance/sid/{identifiers}/JSON": {
      "get": {
        "operationId": "getSubstanceBySid",
        "summary": "Get substance record by SID",
        "tags": [
          "Substance"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Substance SID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get substance record by SID"
      }
    },
    "/substance/name/{name}/JSON": {
      "get": {
        "operationId": "getSubstanceByName",
        "summary": "Get substance by name",
        "tags": [
          "Substance"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Substance name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get substance by name"
      }
    },
    "/substance/sid/{identifiers}/cids/JSON": {
      "get": {
        "operationId": "getSubstanceCids",
        "summary": "Get CIDs associated with substance",
        "tags": [
          "Substance"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Substance SID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "InformationList": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get CIDs associated with substance"
      }
    },
    "/assay/aid/{identifiers}/JSON": {
      "get": {
        "operationId": "getAssayByAid",
        "summary": "Get bioassay record by AID",
        "tags": [
          "Assay"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assay AID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get bioassay record by AID"
      }
    },
    "/assay/aid/{identifiers}/concise/JSON": {
      "get": {
        "operationId": "getAssayConcise",
        "summary": "Get concise assay data",
        "tags": [
          "Assay"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assay AID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get concise assay data"
      }
    },
    "/assay/aid/{identifiers}/description/JSON": {
      "get": {
        "operationId": "getAssayDescription",
        "summary": "Get assay description",
        "tags": [
          "Assay"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assay AID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get assay description"
      }
    },
    "/assay/aid/{identifiers}/cids/JSON": {
      "get": {
        "operationId": "getAssayCids",
        "summary": "Get CIDs tested in assay",
        "tags": [
          "Assay"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assay AID(s)"
          },
          {
            "name": "activity_outcome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "inconclusive",
                "unspecified"
              ]
            },
            "description": "Filter by outcome"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get CIDs tested in assay"
      }
    },
    "/assay/aid/{identifiers}/sids/JSON": {
      "get": {
        "operationId": "getAssaySids",
        "summary": "Get SIDs tested in assay",
        "tags": [
          "Assay"
        ],
        "parameters": [
          {
            "name": "identifiers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assay AID(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get SIDs tested in assay"
      }
    },
    "/compound/autocomplete/{query}/JSON": {
      "get": {
        "operationId": "autocompleteCompound",
        "summary": "Autocomplete compound names",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Partial compound name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Max suggestions"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dictionary_terms": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Autocomplete compound names"
      }
    },
    "/compound/formula/{formula}/JSON": {
      "get": {
        "operationId": "searchCompoundByFormula",
        "summary": "Search compounds by molecular formula",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "formula",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Molecular formula e.g. C6H12O6"
          },
          {
            "name": "AllowOtherElements",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Allow additional elements"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Waiting": {
                      "type": "object"
                    },
                    "PC_Compounds": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search compounds by molecular formula"
      }
    },
    "/compound/substructure/smiles/{smiles}/JSON": {
      "get": {
        "operationId": "searchCompoundBySubstructure",
        "summary": "Substructure search by SMILES",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "smiles",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SMILES string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Substructure search by SMILES"
      }
    },
    "/compound/similarity/cid/{cid}/JSON": {
      "get": {
        "operationId": "searchSimilarCompounds",
        "summary": "Similarity search by CID",
        "tags": [
          "Compound"
        ],
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Compound CID"
          },
          {
            "name": "Threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 90
            },
            "description": "Tanimoto threshold (0-100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Similarity search by CID"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Fault": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string"
              },
              "Message": {
                "type": "string"
              },
              "Details": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Assay"
    },
    {
      "name": "Compound"
    },
    {
      "name": "Substance"
    }
  ]
}
