{
  "openapi": "3.0.3",
  "info": {
    "title": "BlueSnap Payment API",
    "description": "BlueSnap Payment API (JSON). Provides payment processing capabilities including auth-capture transactions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.bluesnap.com/v8976-JSON/reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.bluesnap.com/services/2",
      "description": "BlueSnap Sandbox API"
    },
    {
      "url": "https://ws.bluesnap.com/services/2",
      "description": "BlueSnap Production API"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Transactions",
      "description": "Payment transaction operations"
    }
  ],
  "paths": {
    "/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Auth Capture",
        "description": "Create a payment transaction (auth-capture). Authorizes and captures payment in a single step.",
        "operationId": "authCapture",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthCaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using BlueSnap API credentials"
      }
    },
    "schemas": {
      "AuthCaptureRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Transaction amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD)"
          },
          "cardHolderInfo": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "creditCard": {
            "type": "object",
            "properties": {
              "cardNumber": {
                "type": "string"
              },
              "expirationMonth": {
                "type": "string"
              },
              "expirationYear": {
                "type": "string"
              },
              "securityCode": {
                "type": "string"
              }
            }
          },
          "pfToken": {
            "type": "string",
            "description": "Payment Fields token (alternative to card details)"
          },
          "softDescriptor": {
            "type": "string",
            "description": "Description that appears on the shoppers credit card statement"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "processingInfo": {
            "type": "object",
            "properties": {
              "processingStatus": {
                "type": "string"
              },
              "authorizationCode": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "errorName": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
