{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Natural Language API",
    "version": "v2",
    "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, content classification, text moderation, and combined text annotations to developers.",
    "x-jentic-source-url": "https://cloud.google.com/natural-language/docs/reference/rest",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://language.googleapis.com"
    }
  ],
  "paths": {
    "/v2/documents:analyzeSentiment": {
      "post": {
        "operationId": "analyzeSentiment",
        "summary": "Analyze sentiment",
        "description": "Analyzes the sentiment of the provided text.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeSentimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeSentimentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid document or encoding type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents:analyzeEntities": {
      "post": {
        "operationId": "analyzeEntities",
        "summary": "Analyze entities",
        "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeEntitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeEntitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid document or encoding type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents:classifyText": {
      "post": {
        "operationId": "classifyText",
        "summary": "Classify text",
        "description": "Classifies a document into categories.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassifyTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassifyTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents:moderateText": {
      "post": {
        "operationId": "moderateText",
        "summary": "Moderate text",
        "description": "Moderates a document for harmful and sensitive categories.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerateTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v2/documents:annotateText": {
      "post": {
        "operationId": "annotateText",
        "summary": "Annotate text",
        "description": "A convenience method that provides all features in one call. Allows combining sentiment analysis, entity extraction, text classification, and content moderation in a single request.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnotateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotateTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid document or features",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Document": {
        "type": "object",
        "description": "Represents the input to API methods.",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Required. The document type. If not set or TYPE_UNSPECIFIED, returns INVALID_ARGUMENT error.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "PLAIN_TEXT",
              "HTML"
            ]
          },
          "content": {
            "type": "string",
            "description": "The content of the input in string format."
          },
          "gcsContentUri": {
            "type": "string",
            "description": "The Google Cloud Storage URI where the file content is located. Format: gs://bucket_name/object_name"
          },
          "languageCode": {
            "type": "string",
            "description": "Optional. The language of the document (if not specified, automatically detected). Both ISO and BCP-47 language codes are accepted."
          }
        }
      },
      "AnalyzeSentimentRequest": {
        "type": "object",
        "description": "The sentiment analysis request message.",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "encodingType": {
            "type": "string",
            "description": "The encoding type used by the API to calculate sentence offsets.",
            "enum": [
              "NONE",
              "UTF8",
              "UTF16",
              "UTF32"
            ]
          }
        }
      },
      "AnalyzeSentimentResponse": {
        "type": "object",
        "description": "The sentiment analysis response message.",
        "properties": {
          "documentSentiment": {
            "$ref": "#/components/schemas/Sentiment"
          },
          "languageCode": {
            "type": "string",
            "description": "The language of the text."
          },
          "sentences": {
            "type": "array",
            "description": "The sentiment for all the sentences in the document.",
            "items": {
              "$ref": "#/components/schemas/Sentence"
            }
          },
          "languageSupported": {
            "type": "boolean",
            "description": "Whether the language is officially supported."
          }
        }
      },
      "AnalyzeEntitiesRequest": {
        "type": "object",
        "description": "The entity analysis request message.",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "encodingType": {
            "type": "string",
            "description": "The encoding type used by the API to calculate offsets.",
            "enum": [
              "NONE",
              "UTF8",
              "UTF16",
              "UTF32"
            ]
          }
        }
      },
      "AnalyzeEntitiesResponse": {
        "type": "object",
        "description": "The entity analysis response message.",
        "properties": {
          "entities": {
            "type": "array",
            "description": "The recognized entities in the input document.",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "languageCode": {
            "type": "string",
            "description": "The language of the text."
          },
          "languageSupported": {
            "type": "boolean",
            "description": "Whether the language is officially supported."
          }
        }
      },
      "ClassifyTextRequest": {
        "type": "object",
        "description": "The document classification request message.",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        }
      },
      "ClassifyTextResponse": {
        "type": "object",
        "description": "The document classification response message.",
        "properties": {
          "categories": {
            "type": "array",
            "description": "Categories representing the input document.",
            "items": {
              "$ref": "#/components/schemas/ClassificationCategory"
            }
          },
          "languageCode": {
            "type": "string",
            "description": "The language of the text."
          },
          "languageSupported": {
            "type": "boolean",
            "description": "Whether the language is officially supported."
          }
        }
      },
      "ModerateTextRequest": {
        "type": "object",
        "description": "The document moderation request message.",
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "modelVersion": {
            "type": "string",
            "description": "Optional. The model version to use for ModerateText.",
            "enum": [
              "MODEL_VERSION_UNSPECIFIED",
              "MODEL_VERSION_1",
              "MODEL_VERSION_2"
            ]
          }
        }
      },
      "ModerateTextResponse": {
        "type": "object",
        "description": "The document moderation response message.",
        "properties": {
          "moderationCategories": {
            "type": "array",
            "description": "Harmful and sensitive categories representing the input document.",
            "items": {
              "$ref": "#/components/schemas/ClassificationCategory"
            }
          },
          "languageCode": {
            "type": "string",
            "description": "The language of the text."
          },
          "languageSupported": {
            "type": "boolean",
            "description": "Whether the language is officially supported."
          }
        }
      },
      "AnnotateTextRequest": {
        "type": "object",
        "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
        "required": [
          "document",
          "features"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "features": {
            "$ref": "#/components/schemas/AnnotateTextRequestFeatures"
          },
          "encodingType": {
            "type": "string",
            "description": "The encoding type used by the API to calculate offsets.",
            "enum": [
              "NONE",
              "UTF8",
              "UTF16",
              "UTF32"
            ]
          }
        }
      },
      "AnnotateTextRequestFeatures": {
        "type": "object",
        "description": "All available features. Setting each one to true will enable that specific analysis for the input.",
        "properties": {
          "extractEntities": {
            "type": "boolean",
            "description": "Optional. Extract entities."
          },
          "extractDocumentSentiment": {
            "type": "boolean",
            "description": "Optional. Extract document-level sentiment."
          },
          "classifyText": {
            "type": "boolean",
            "description": "Optional. Classify the full document into categories."
          },
          "moderateText": {
            "type": "boolean",
            "description": "Optional. Moderate the document for harmful and sensitive categories."
          }
        }
      },
      "AnnotateTextResponse": {
        "type": "object",
        "description": "The text annotations response message.",
        "properties": {
          "sentences": {
            "type": "array",
            "description": "Sentences in the input document.",
            "items": {
              "$ref": "#/components/schemas/Sentence"
            }
          },
          "entities": {
            "type": "array",
            "description": "Entities, along with their semantic information, in the input document.",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "documentSentiment": {
            "$ref": "#/components/schemas/Sentiment"
          },
          "languageCode": {
            "type": "string",
            "description": "The language of the text."
          },
          "categories": {
            "type": "array",
            "description": "Categories identified in the input document.",
            "items": {
              "$ref": "#/components/schemas/ClassificationCategory"
            }
          },
          "moderationCategories": {
            "type": "array",
            "description": "Harmful and sensitive categories identified in the input document.",
            "items": {
              "$ref": "#/components/schemas/ClassificationCategory"
            }
          },
          "languageSupported": {
            "type": "boolean",
            "description": "Whether the language is officially supported by all requested features."
          }
        }
      },
      "Sentiment": {
        "type": "object",
        "description": "Represents the feeling associated with the entire text or entities in the text.",
        "properties": {
          "magnitude": {
            "type": "number",
            "format": "float",
            "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score."
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
          }
        }
      },
      "Sentence": {
        "type": "object",
        "description": "Represents a sentence in the input document.",
        "properties": {
          "text": {
            "$ref": "#/components/schemas/TextSpan"
          },
          "sentiment": {
            "$ref": "#/components/schemas/Sentiment"
          }
        }
      },
      "TextSpan": {
        "type": "object",
        "description": "Represents a text span in the input document.",
        "properties": {
          "content": {
            "type": "string",
            "description": "The content of the text span, which is a substring of the document."
          },
          "beginOffset": {
            "type": "integer",
            "format": "int32",
            "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request."
          }
        }
      },
      "Entity": {
        "type": "object",
        "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The representative name for the entity."
          },
          "type": {
            "type": "string",
            "description": "The entity type.",
            "enum": [
              "UNKNOWN",
              "PERSON",
              "LOCATION",
              "ORGANIZATION",
              "EVENT",
              "WORK_OF_ART",
              "CONSUMER_GOOD",
              "OTHER",
              "PHONE_NUMBER",
              "ADDRESS",
              "DATE",
              "NUMBER",
              "PRICE"
            ]
          },
          "metadata": {
            "type": "object",
            "description": "Metadata associated with the entity.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "mentions": {
            "type": "array",
            "description": "The mentions of this entity in the input document.",
            "items": {
              "$ref": "#/components/schemas/EntityMention"
            }
          },
          "sentiment": {
            "$ref": "#/components/schemas/Sentiment"
          }
        }
      },
      "EntityMention": {
        "type": "object",
        "description": "Represents a mention for an entity in the text.",
        "properties": {
          "text": {
            "$ref": "#/components/schemas/TextSpan"
          },
          "type": {
            "type": "string",
            "description": "The type of the entity mention.",
            "enum": [
              "TYPE_UNKNOWN",
              "PROPER",
              "COMMON"
            ]
          },
          "sentiment": {
            "$ref": "#/components/schemas/Sentiment"
          },
          "probability": {
            "type": "number",
            "format": "float",
            "description": "Probability score associated with the entity. The score is in (0, 1] range."
          }
        }
      },
      "ClassificationCategory": {
        "type": "object",
        "description": "Represents a category returned from the text classifier.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the category representing the document."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The classifier's confidence of the category."
          },
          "severity": {
            "type": "number",
            "format": "float",
            "description": "Optional. The classifier's severity of the category. Only present when ModelVersion is MODEL_VERSION_2."
          }
        }
      },
      "Status": {
        "type": "object",
        "description": "The Status type defines a logical error model suitable for different programming environments.",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "The status code, which should be an enum value of google.rpc.Code."
          },
          "message": {
            "type": "string",
            "description": "A developer-facing error message."
          },
          "details": {
            "type": "array",
            "description": "A list of messages that carry the error details.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-language": "Apply machine learning models to reveal the structure and meaning of text",
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data"
            }
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "API key for authentication. Identifies your project and provides API access."
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "https://www.googleapis.com/auth/cloud-language"
      ]
    },
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Documents"
    }
  ]
}
