{
  "openapi": "3.0.3",
  "info": {
    "title": "Coveralls API",
    "version": "1.0.0",
    "description": "Coveralls is a web service to help you track your code coverage over time. The API provides endpoints for managing repos, posting coverage reports (jobs), closing parallel builds, rerunning builds, and accessing JSON-format web data.",
    "x-jentic-source-url": "https://docs.coveralls.io/api-introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://coveralls.io"
    }
  ],
  "paths": {
    "/api/v1/repos": {
      "post": {
        "operationId": "createRepo",
        "summary": "Create a new repo at Coveralls",
        "tags": [
          "Repos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo"
                ],
                "properties": {
                  "repo": {
                    "type": "object",
                    "required": [
                      "service",
                      "name"
                    ],
                    "properties": {
                      "service": {
                        "type": "string",
                        "enum": [
                          "github",
                          "bitbucket",
                          "gitlab",
                          "stash",
                          "manual"
                        ],
                        "description": "The SCM service"
                      },
                      "name": {
                        "type": "string",
                        "description": "Full repo name (owner/repo)"
                      },
                      "comment_on_pull_requests": {
                        "type": "boolean",
                        "default": true
                      },
                      "send_build_status": {
                        "type": "boolean",
                        "default": true
                      },
                      "commit_status_fail_threshold": {
                        "type": "number"
                      },
                      "commit_status_fail_change_threshold": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new repo at Coveralls"
      }
    },
    "/api/v1/repos/{service}/{owner}/{repo}": {
      "get": {
        "operationId": "getRepo",
        "summary": "Get repo info from Coveralls",
        "tags": [
          "Repos"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "bitbucket",
                "gitlab",
                "stash",
                "manual"
              ]
            }
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get repo info from Coveralls"
      },
      "put": {
        "operationId": "updateRepo",
        "summary": "Update a repo at Coveralls",
        "tags": [
          "Repos"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repo": {
                    "type": "object",
                    "properties": {
                      "comment_on_pull_requests": {
                        "type": "boolean"
                      },
                      "send_build_status": {
                        "type": "boolean"
                      },
                      "commit_status_fail_threshold": {
                        "type": "number"
                      },
                      "commit_status_fail_change_threshold": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a repo at Coveralls"
      }
    },
    "/api/v1/jobs": {
      "post": {
        "operationId": "postCoverageReport",
        "summary": "Post a coverage report (job)",
        "description": "Submit a coverage report to Coveralls. This is the primary endpoint used by CI integrations to upload test coverage data.",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "json_file"
                ],
                "properties": {
                  "json_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "JSON file containing coverage data"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "operationId": "closeParallelBuild",
        "summary": "Close a parallel build",
        "description": "Closes a parallel build when all jobs have been submitted. Triggers final aggregate coverage calculation.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_token",
                  "payload"
                ],
                "properties": {
                  "repo_token": {
                    "type": "string",
                    "description": "Secret repo token"
                  },
                  "payload": {
                    "type": "object",
                    "required": [
                      "build_num",
                      "status"
                    ],
                    "properties": {
                      "build_num": {
                        "type": "string",
                        "description": "CI build number"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "done"
                        ],
                        "description": "Must be 'done' to close the build"
                      }
                    }
                  },
                  "carryforward": {
                    "type": "string",
                    "description": "Comma-separated flag names to carry forward, or 'all'"
                  },
                  "cancel": {
                    "type": "string",
                    "description": "If present, cancels the build instead of closing it"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Build closed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "done": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rerun_build": {
      "post": {
        "operationId": "rerunBuild",
        "summary": "Rerun a build",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repo_token",
                  "build_num"
                ],
                "properties": {
                  "repo_token": {
                    "type": "string"
                  },
                  "build_num": {
                    "type": "string",
                    "description": "CI build number or commit SHA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Build rerun triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rerun": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Rerun a build"
      }
    },
    "/{service}/{owner}/{repo}.json": {
      "get": {
        "operationId": "getRepoWebData",
        "summary": "Get JSON representation of a repo (web data)",
        "description": "Returns coverage data for the repo's latest build. Append ?page=N for paginated build history.",
        "tags": [
          "Web Data"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "bitbucket",
                "gitlab"
              ]
            }
          },
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for build history (10 per page)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoWebData"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/builds/{build_id}.json": {
      "get": {
        "operationId": "getBuildWebData",
        "summary": "Get JSON representation of a build",
        "tags": [
          "Web Data"
        ],
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Build ID or commit SHA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildData"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get JSON representation of a build"
      }
    },
    "/jobs/{job_id}.json": {
      "get": {
        "operationId": "getJobWebData",
        "summary": "Get JSON representation of a job",
        "tags": [
          "Web Data"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobData"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get JSON representation of a job"
      }
    },
    "/files/{file_id}.json": {
      "get": {
        "operationId": "getSourceFileWebData",
        "summary": "Get coverage data for a source file",
        "tags": [
          "Web Data"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage array for the source file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get coverage data for a source file"
      }
    }
  },
  "components": {
    "schemas": {
      "Repo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "comment_on_pull_requests": {
            "type": "boolean"
          },
          "send_build_status": {
            "type": "boolean"
          },
          "commit_status_fail_threshold": {
            "type": "number"
          },
          "commit_status_fail_change_threshold": {
            "type": "number"
          },
          "repo_token": {
            "type": "string",
            "description": "Secret token for this repo"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JobRequest": {
        "type": "object",
        "required": [
          "repo_token",
          "source_files"
        ],
        "properties": {
          "repo_token": {
            "type": "string",
            "description": "Repo token or set COVERALLS_REPO_TOKEN env var"
          },
          "repo_name": {
            "type": "string"
          },
          "service_name": {
            "type": "string",
            "description": "CI service name (e.g., travis-ci, github-actions)"
          },
          "service_number": {
            "type": "string",
            "description": "CI build number"
          },
          "service_job_id": {
            "type": "string",
            "description": "CI job ID"
          },
          "service_pull_request": {
            "type": "string",
            "description": "Pull request number"
          },
          "source_files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "source_digest",
                "coverage"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "File path"
                },
                "source_digest": {
                  "type": "string",
                  "description": "MD5 digest of source"
                },
                "coverage": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "nullable": true
                  },
                  "description": "Coverage array (null=irrelevant, 0=missed, N=hit count)"
                },
                "branches": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "Branch coverage data"
                }
              }
            }
          },
          "parallel": {
            "type": "boolean",
            "description": "Set to true for parallel build jobs"
          },
          "flag_name": {
            "type": "string",
            "description": "Flag name for this job"
          },
          "git": {
            "type": "object",
            "properties": {
              "head": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "committer_name": {
                    "type": "string"
                  },
                  "committer_email": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "author_name": {
                    "type": "string"
                  },
                  "author_email": {
                    "type": "string"
                  }
                }
              },
              "branch": {
                "type": "string"
              },
              "remotes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RepoWebData": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "commit_message": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "committer_name": {
            "type": "string"
          },
          "committer_email": {
            "type": "string"
          },
          "commit_sha": {
            "type": "string"
          },
          "repo_name": {
            "type": "string"
          },
          "badge_url": {
            "type": "string"
          },
          "coverage_change": {
            "type": "number"
          },
          "covered_percent": {
            "type": "number"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "builds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BuildData"
            }
          }
        }
      },
      "BuildData": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "commit_message": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "committer_name": {
            "type": "string"
          },
          "committer_email": {
            "type": "string"
          },
          "commit_sha": {
            "type": "string"
          },
          "repo_name": {
            "type": "string"
          },
          "badge_url": {
            "type": "string"
          },
          "coverage_change": {
            "type": "number"
          },
          "covered_percent": {
            "type": "number"
          }
        }
      },
      "JobData": {
        "type": "object",
        "properties": {
          "repo_name": {
            "type": "string"
          },
          "full_number": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "covered_percent": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "personalToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal API token: 'token YOUR_TOKEN'"
      }
    }
  },
  "security": [
    {
      "personalToken": []
    }
  ],
  "tags": [
    {
      "name": "Jobs"
    },
    {
      "name": "Repos"
    },
    {
      "name": "Web Data"
    },
    {
      "name": "Webhooks"
    }
  ]
}
