{
  "openapi": "3.0.3",
  "info": {
    "title": "Tavily API",
    "version": "1.0.0",
    "description": "Tavily is an AI-powered search API designed for AI agents and applications. It provides endpoints for web search, content extraction, web crawling, site mapping, and deep research.",
    "x-jentic-source-url": "https://docs.tavily.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.tavily.com"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search the web",
        "description": "Search the web using Tavily's AI-powered search engine. Returns relevant results with content snippets.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "operationId": "extractContent",
        "summary": "Extract content from URLs",
        "description": "Extract clean, structured content from one or more web pages.",
        "tags": [
          "Extract"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful extraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "operationId": "startCrawl",
        "summary": "Start a web crawl",
        "description": "Start crawling a website from a given URL. Follows links and extracts content from discovered pages.",
        "tags": [
          "Crawl"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl started or completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map": {
      "post": {
        "operationId": "mapSite",
        "summary": "Map a website",
        "description": "Discover and return all URLs found on a website. Useful for understanding site structure.",
        "tags": [
          "Map"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site map response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/research": {
      "post": {
        "operationId": "startResearch",
        "summary": "Start a deep research task",
        "description": "Initiate comprehensive research. Tavily performs multi-step research, following leads and synthesizing information into a detailed report.",
        "tags": [
          "Research"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Research result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "The search query"
          },
          "topic": {
            "type": "string",
            "enum": [
              "general",
              "news"
            ],
            "default": "general"
          },
          "search_depth": {
            "type": "string",
            "enum": [
              "basic",
              "advanced"
            ],
            "default": "basic"
          },
          "max_results": {
            "type": "integer",
            "default": 5
          },
          "include_answer": {
            "type": "boolean",
            "default": false
          },
          "include_raw_content": {
            "type": "boolean",
            "default": false
          },
          "include_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "include_images": {
            "type": "boolean",
            "default": false
          },
          "days": {
            "type": "integer",
            "description": "Only return results from the last N days"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "follow_up_questions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageResult"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "response_time": {
            "type": "number"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "raw_content": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "published_date": {
            "type": "string"
          }
        }
      },
      "ImageResult": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ExtractRequest": {
        "type": "object",
        "required": [
          "urls"
        ],
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "include_images": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "raw_content": {
                  "type": "string"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "failed_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              }
            }
          },
          "response_time": {
            "type": "number"
          }
        }
      },
      "CrawlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "max_depth": {
            "type": "integer",
            "default": 2
          },
          "max_breadth": {
            "type": "integer",
            "default": 20
          },
          "limit": {
            "type": "integer",
            "default": 50
          },
          "instructions": {
            "type": "string"
          },
          "select_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "select_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allow_external": {
            "type": "boolean",
            "default": false
          },
          "include_images": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "base_url": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "raw_content": {
                  "type": "string"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "response_time": {
            "type": "number"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "MapRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          },
          "max_depth": {
            "type": "integer",
            "default": 2
          },
          "max_breadth": {
            "type": "integer",
            "default": 20
          },
          "limit": {
            "type": "integer",
            "default": 100
          },
          "instructions": {
            "type": "string"
          },
          "select_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "select_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allow_external": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "MapResponse": {
        "type": "object",
        "properties": {
          "base_url": {
            "type": "string"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "response_time": {
            "type": "number"
          },
          "total_urls": {
            "type": "integer"
          }
        }
      },
      "ResearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "max_results": {
            "type": "integer",
            "default": 10
          },
          "include_raw_content": {
            "type": "boolean",
            "default": false
          },
          "topic": {
            "type": "string",
            "enum": [
              "general",
              "news"
            ],
            "default": "general"
          }
        }
      },
      "ResearchResponse": {
        "type": "object",
        "properties": {
          "report": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "response_time": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Tavily API key as bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Crawl"
    },
    {
      "name": "Extract"
    },
    {
      "name": "Map"
    },
    {
      "name": "Research"
    },
    {
      "name": "Search"
    }
  ]
}
