{
  "openapi": "3.0.3",
  "info": {
    "title": "CMS Open Data API",
    "version": "1.0.0",
    "description": "CMS (Centers for Medicare & Medicaid Services) Open Data API provides programmatic access to Medicare/Medicaid datasets via a DKAN-based open data platform. Supports dataset discovery, metadata retrieval, data querying with SQL, and bulk downloads.",
    "x-jentic-source-url": "https://data.cms.gov/api-docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://data.cms.gov"
    }
  ],
  "paths": {
    "/api/1/metastore/schemas/dataset/items": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List all datasets",
        "description": "Returns all dataset metadata records in the CMS data catalog.",
        "tags": [
          "Metastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "show-reference-ids",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ]
      }
    },
    "/api/1/metastore/schemas/dataset/items/{identifier}": {
      "get": {
        "operationId": "getDataset",
        "summary": "Get dataset metadata",
        "description": "Returns metadata for a specific dataset.",
        "tags": [
          "Metastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataset identifier (UUID)"
          }
        ]
      }
    },
    "/api/1/search": {
      "get": {
        "operationId": "searchDatasets",
        "summary": "Search datasets",
        "description": "Full-text search across all datasets.",
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fulltext",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "theme",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by theme"
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by keyword"
          },
          {
            "name": "publisher__name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by publisher"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field"
          },
          {
            "name": "sort-order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ]
      }
    },
    "/api/1/search/facets": {
      "get": {
        "operationId": "getSearchFacets",
        "summary": "Get search facets",
        "description": "Returns available facets for filtering search results.",
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/datastore/query/{distribution_id}": {
      "get": {
        "operationId": "queryDatastore",
        "summary": "Query dataset distribution",
        "description": "Query data from a specific distribution using API parameters.",
        "tags": [
          "Datastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatastoreQueryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "distribution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort column"
          },
          {
            "name": "sort-order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter conditions as JSON"
          }
        ]
      }
    },
    "/api/1/datastore/query/{distribution_id}/download": {
      "get": {
        "operationId": "downloadDatastore",
        "summary": "Download dataset distribution",
        "description": "Download full dataset as CSV/JSON.",
        "tags": [
          "Datastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "distribution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution identifier"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "csv"
            }
          }
        ]
      }
    },
    "/api/1/datastore/sql": {
      "get": {
        "operationId": "querySql",
        "summary": "SQL query",
        "description": "Execute a SQL query against the datastore.",
        "tags": [
          "Datastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SqlQueryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SQL query string (SELECT only)"
          },
          {
            "name": "show-db-columns",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/api/1/datastore/query/{distribution_id}/schema": {
      "get": {
        "operationId": "getDatastoreSchema",
        "summary": "Get distribution schema",
        "description": "Returns the column schema for a distribution.",
        "tags": [
          "Datastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "distribution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution identifier"
          }
        ]
      }
    },
    "/api/1/metastore/schemas": {
      "get": {
        "operationId": "listSchemas",
        "summary": "List metastore schemas",
        "description": "Returns all available metadata schemas.",
        "tags": [
          "Metastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/metastore/schemas/{schema_id}/items": {
      "get": {
        "operationId": "listSchemaItems",
        "summary": "List schema items",
        "description": "Returns all items for a given schema.",
        "tags": [
          "Metastore"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "schema_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Schema ID (e.g., dataset, distribution, theme, keyword)"
          }
        ]
      }
    },
    "/api/1/harvest": {
      "get": {
        "operationId": "listHarvests",
        "summary": "List harvests",
        "description": "Returns harvest source information.",
        "tags": [
          "Harvest"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/1/harvest/{harvest_id}": {
      "get": {
        "operationId": "getHarvest",
        "summary": "Get harvest info",
        "description": "Get details about a specific harvest source.",
        "tags": [
          "Harvest"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "harvest_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Dataset": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "modified": {
            "type": "string",
            "format": "date"
          },
          "publisher": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "contactPoint": {
            "type": "object",
            "properties": {
              "fn": {
                "type": "string"
              },
              "hasEmail": {
                "type": "string"
              }
            }
          },
          "keyword": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "theme": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "distribution": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Distribution"
            }
          },
          "temporal": {
            "type": "string"
          },
          "spatial": {
            "type": "string"
          },
          "accessLevel": {
            "type": "string"
          }
        }
      },
      "Distribution": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "csv",
              "json",
              "xml"
            ]
          },
          "downloadURL": {
            "type": "string",
            "format": "uri"
          },
          "mediaType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "DatastoreQueryResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "count": {
            "type": "integer"
          },
          "schema": {
            "type": "object"
          },
          "query": {
            "type": "object"
          }
        }
      },
      "SqlQueryResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": [],
  "tags": [
    {
      "name": "Datastore"
    },
    {
      "name": "Harvest"
    },
    {
      "name": "Metastore"
    },
    {
      "name": "Search"
    }
  ]
}
