{
  "openapi": "3.0.0",
  "info": {
    "title": "eveXso WMS Integration API",
    "version": "2.0.0",
    "description": "\n# eveXso WMS Integration API\n\nThis API provides integration endpoints for connecting external systems to eveXso WMS.\n\n## Authentication\n\nAll requests require API key authentication via the `x-api-key` header.\n\n## Getting Started\n\n1. Obtain your API key from eveXso\n2. Review the [Integration Guide](https://docs.google.com/document/u/0/d/1xKiu84hlMvunn4s_f7ZIjZC4sk8lEHsVlGfAO70S8ag/edit)\n3. Use the examples in this documentation to integrate\n\n## Common Request Structure\n\nAll requests follow this pattern:\n```json\n{\n  \"entity\": \"entity_name\",\n  \"action\": \"action_name\",\n  \"site_id\": \"YOUR_SITE_ID\",\n  \"user_id\": \"integration_user\",\n  \"platform\": \"your_platform\",\n  \"session_id\": \"\",\n  \"activity_id\": \"\",\n  \"data\": {\n    \"items\": [\n      { /* your data */ }\n    ]\n  }\n}\n```\n\n## Integration Best Practices\n\n1. Always include all mandatory fields\n2. Use the `check` action for create/update operations (it handles both)\n3. Include proper error handling for API responses\n4. Use consistent `user_id` and `platform` identifiers\n                ",
    "contact": {
      "name": "eveXso Support",
      "email": "helpdesk@evexso.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/evexso/evexso-wms-integration-api/2.0.0"
  },
  "servers": [
    {
      "url": "https://api.evexso.com/wms_beta",
      "description": "Beta/Testing API (Recommended for testing)",
      "variables": {
        "site_id": {
          "default": "YOUR_SITE_ID",
          "description": "Your warehouse/site identifier (e.g., 'DEMO', 'MAIN')"
        },
        "user_id": {
          "default": "YOUR_USER_ID",
          "description": "Your integration user ID (e.g., 'api-user')"
        },
        "platform": {
          "default": "integration",
          "description": "Your platform identifier (e.g., 'netsuite', 'sap', 'integration')"
        }
      }
    },
    {
      "url": "https://api.evexso.com/wms",
      "description": "Production API",
      "variables": {
        "site_id": {
          "default": "YOUR_SITE_ID",
          "description": "Your warehouse/site identifier (e.g., 'DEMO', 'MAIN')"
        },
        "user_id": {
          "default": "YOUR_USER_ID",
          "description": "Your integration user ID (e.g., 'api-user')"
        },
        "platform": {
          "default": "integration",
          "description": "Your platform identifier (e.g., 'netsuite', 'sap', 'integration')"
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key provided by eveXso"
      }
    },
    "schemas": {
      "inventory_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of inventory records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "inventory_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter",
                "default": null
              },
              "display_code": {
                "type": "string",
                "description": "display_code parameter",
                "default": null
              },
              "include_on_hand": {
                "type": "boolean",
                "description": "include_on_hand parameter",
                "default": false
              },
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter",
                "default": null
              }
            }
          }
        }
      },
      "inventory_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "The warehouse code to filter inventory."
              },
              "location_type": {
                "type": "string",
                "description": "Type of location to filter (default: 'warehouse_location')."
              },
              "location_key": {
                "type": "string",
                "description": "Specific location key.",
                "default": ""
              },
              "search_type": {
                "type": "string",
                "description": "Type of search (default: 'search')."
              },
              "inventory_codes": {
                "type": "array",
                "description": "List of inventory codes to filter.",
                "default": [],
                "items": {
                  "type": "string"
                }
              },
              "include_on_hand": {
                "type": "boolean",
                "description": "Whether to include on-hand quantities.",
                "default": false
              },
              "on_hand_only": {
                "type": "boolean",
                "description": "If True, only return items with on-hand stock.",
                "default": false
              },
              "inventory_category": {
                "type": "string",
                "description": "Filter by inventory category.",
                "default": ""
              },
              "include_images": {
                "type": "boolean",
                "description": "Whether to include images.",
                "default": false
              },
              "include_stocking_factors": {
                "type": "boolean",
                "description": "Whether to include stocking factors.",
                "default": false
              },
              "search_term": {
                "type": "string",
                "description": "Search term for inventory code or description.",
                "default": null
              },
              "show_inactive": {
                "type": "boolean",
                "description": "If True, include inactive inventory items.",
                "default": false
              }
            }
          }
        }
      },
      "inventory_stocking_factor_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_stocking_factor"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of inventory_stocking_factor records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "inventory_stocking_factor_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_stocking_factor"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter"
              },
              "quantity": {
                "type": "string",
                "description": "quantity parameter"
              },
              "mode": {
                "type": "string",
                "description": "mode parameter"
              }
            }
          }
        }
      },
      "inventory_stocking_factor_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_stocking_factor"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter"
              },
              "include_inactive": {
                "type": "boolean",
                "description": "include_inactive parameter",
                "default": false
              },
              "order": {
                "type": "string",
                "description": "order parameter"
              }
            }
          }
        }
      },
      "inventory_warehouse_information_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_warehouse_information"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of inventory_warehouse_information records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "inventory_warehouse_information_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_warehouse_information"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter"
              }
            }
          }
        }
      },
      "inventory_lookup_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_lookup"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of inventory_lookup records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "inventory_lookup_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "inventory_lookup"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter",
                "default": ""
              },
              "inventory_codes": {
                "type": "array",
                "description": "inventory_codes parameter",
                "default": [],
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "customer_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of customer records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "customer_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "search_type": {
                "type": "string",
                "description": "search_type parameter"
              },
              "search_term": {
                "type": "string",
                "description": "search_term parameter",
                "default": null
              },
              "limit": {
                "type": "integer",
                "description": "limit parameter",
                "default": 0
              },
              "offset": {
                "type": "integer",
                "description": "offset parameter",
                "default": 0
              },
              "include_inactive": {
                "type": "boolean",
                "description": "include_inactive parameter",
                "default": false
              }
            }
          }
        }
      },
      "supply_location_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "supply_location"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of supply_location records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "supply_location_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "supply_location"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "supply_location_id": {
                "type": "string",
                "description": "supply_location_id parameter"
              },
              "entity": {
                "type": "string",
                "description": "entity parameter",
                "default": ""
              },
              "entity_key": {
                "type": "string",
                "description": "entity_key parameter",
                "default": ""
              }
            },
            "required": [
              "supply_location_id"
            ]
          }
        }
      },
      "supply_location_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "supply_location"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "description": "entity parameter"
              },
              "entity_key": {
                "type": "string",
                "description": "entity_key parameter"
              }
            }
          }
        }
      },
      "supplier_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "supplier"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of supplier records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "supplier_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "supplier"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer",
                "description": "offset parameter",
                "default": 0
              },
              "limit": {
                "type": "integer",
                "description": "limit parameter",
                "default": 0
              },
              "search_term": {
                "type": "string",
                "description": "search_term parameter",
                "default": null
              }
            }
          }
        }
      },
      "sales_order_hold_set_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "sales_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "hold_set"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "sales_order": {
                "type": "string",
                "description": "sales_order parameter"
              },
              "hold_reason": {
                "type": "string",
                "description": "hold_reason parameter",
                "default": ""
              }
            }
          }
        }
      },
      "sales_order_hold_release_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "sales_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "hold_release"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "sales_order": {
                "type": "string",
                "description": "sales_order parameter"
              }
            }
          }
        }
      },
      "sales_order_review_set_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "sales_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "review_set"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "sales_order": {
                "type": "string",
                "description": "sales_order parameter"
              },
              "review_reason": {
                "type": "string",
                "description": "review_reason parameter",
                "default": ""
              }
            }
          }
        }
      },
      "sales_order_review_release_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "sales_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "review_release"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "sales_order": {
                "type": "string",
                "description": "sales_order parameter"
              },
              "review_result": {
                "type": "string",
                "description": "review_result parameter",
                "default": ""
              },
              "note": {
                "type": "string",
                "description": "note parameter",
                "default": ""
              }
            }
          }
        }
      },
      "sales_order_update_priority_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "sales_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "update_priority"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "priority": {
                "type": "string",
                "description": "priority parameter"
              },
              "sales_order": {
                "type": "string",
                "description": "sales_order parameter",
                "default": ""
              },
              "pick_set_id": {
                "type": "string",
                "description": "pick_set_id parameter",
                "default": ""
              }
            }
          }
        }
      },
      "sales_order_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "sales_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "to_date": {
                "type": "string",
                "description": "to_date parameter",
                "default": null
              },
              "from_date": {
                "type": "string",
                "description": "from_date parameter",
                "default": null
              },
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "newest_first": {
                "type": "boolean",
                "description": "newest_first parameter",
                "default": false
              },
              "subscribed": {
                "type": "boolean",
                "description": "subscribed parameter",
                "default": false
              },
              "include_deleted": {
                "type": "boolean",
                "description": "include_deleted parameter",
                "default": true
              },
              "include_manifested": {
                "type": "boolean",
                "description": "include_manifested parameter",
                "default": true
              },
              "date_required": {
                "type": "string",
                "description": "date_required parameter",
                "default": ""
              },
              "project_id": {
                "type": "string",
                "description": "project_id parameter",
                "default": ""
              },
              "search_term": {
                "type": "string",
                "description": "search_term parameter",
                "default": ""
              },
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter",
                "default": ""
              },
              "dashboard_filter": {
                "type": "array",
                "description": "dashboard_filter parameter",
                "default": [],
                "items": {
                  "type": "string"
                }
              },
              "status": {
                "type": "string",
                "description": "status parameter",
                "default": ""
              },
              "shift": {
                "type": "string",
                "description": "shift parameter",
                "default": ""
              },
              "courier_id": {
                "type": "string",
                "description": "courier_id parameter",
                "default": ""
              },
              "courier_service": {
                "type": "string",
                "description": "courier_service parameter",
                "default": ""
              }
            },
            "required": [
              "to_date",
              "from_date"
            ]
          }
        }
      },
      "purchase_order_check_status_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "purchase_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check_status"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "purchase_order": {
                "type": "string",
                "description": "purchase_order parameter"
              }
            }
          }
        }
      },
      "purchase_order_auto_receive_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "purchase_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "auto_receive"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "purchase_order": {
                "type": "string",
                "description": "purchase_order parameter"
              },
              "supplier_ref": {
                "type": "string",
                "description": "supplier_ref parameter"
              },
              "move_to": {
                "type": "string",
                "description": "move_to parameter"
              },
              "location_type": {
                "type": "string",
                "description": "location_type parameter"
              },
              "location_key": {
                "type": "string",
                "description": "location_key parameter"
              }
            }
          }
        }
      },
      "purchase_order_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "purchase_order"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "to_date": {
                "type": "string",
                "description": "to_date parameter",
                "default": ""
              },
              "from_date": {
                "type": "string",
                "description": "from_date parameter",
                "default": ""
              },
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "search_term": {
                "type": "string",
                "description": "search_term parameter",
                "default": ""
              },
              "include_held": {
                "type": "boolean",
                "description": "include_held parameter",
                "default": false
              },
              "dashboard_filter": {
                "type": "string",
                "description": "dashboard_filter parameter",
                "default": ""
              },
              "entity": {
                "type": "string",
                "description": "entity parameter",
                "default": ""
              },
              "inventory_code": {
                "type": "string",
                "description": "inventory_code parameter",
                "default": ""
              },
              "user_id": {
                "type": "string",
                "description": "user_id parameter",
                "default": ""
              },
              "include_complete": {
                "type": "boolean",
                "description": "include_complete parameter",
                "default": false
              },
              "date_filter": {
                "type": "string",
                "description": "date_filter parameter",
                "default": ""
              },
              "status": {
                "type": "array",
                "description": "status parameter",
                "default": [],
                "items": {
                  "type": "string"
                }
              },
              "limit": {
                "type": "integer",
                "description": "limit parameter",
                "default": 0
              },
              "offset": {
                "type": "integer",
                "description": "offset parameter",
                "default": 0
              }
            },
            "required": [
              "to_date",
              "from_date"
            ]
          }
        }
      },
      "incoming_consignment_arrived_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "incoming_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "arrived"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "incoming_consignment_id": {
                "type": "string",
                "description": "incoming_consignment_id parameter"
              }
            }
          }
        }
      },
      "incoming_consignment_close_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "incoming_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "close"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "incoming_consignment_id": {
                "type": "string",
                "description": "incoming_consignment_id parameter"
              }
            }
          }
        }
      },
      "incoming_consignment_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "incoming_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of incoming_consignment records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "incoming_consignment_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "incoming_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "incoming_consignment_id": {
                "type": "string",
                "description": "incoming_consignment_id parameter"
              },
              "include_incoming_consignment_lines": {
                "type": "boolean",
                "description": "include_incoming_consignment_lines parameter",
                "default": true
              },
              "include_on_hand": {
                "type": "boolean",
                "description": "include_on_hand parameter",
                "default": true
              },
              "include_incoming_consignment_documents": {
                "type": "boolean",
                "description": "include_incoming_consignment_documents parameter",
                "default": true
              },
              "refresh": {
                "type": "boolean",
                "description": "refresh parameter",
                "default": false
              }
            }
          }
        }
      },
      "incoming_consignment_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "incoming_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "include_incomplete": {
                "type": "string",
                "description": "include_incomplete parameter",
                "default": null
              },
              "include_complete": {
                "type": "string",
                "description": "include_complete parameter",
                "default": null
              },
              "document_type": {
                "type": "string",
                "description": "document_type parameter",
                "default": ""
              },
              "document_key": {
                "type": "string",
                "description": "document_key parameter",
                "default": ""
              },
              "date_filter": {
                "type": "string",
                "description": "date_filter parameter",
                "default": ""
              },
              "from_date": {
                "type": "string",
                "description": "from_date parameter",
                "default": ""
              },
              "to_date": {
                "type": "string",
                "description": "to_date parameter",
                "default": ""
              },
              "dashboard_filter": {
                "type": "string",
                "description": "dashboard_filter parameter",
                "default": ""
              }
            }
          }
        }
      },
      "outgoing_consignment_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "outgoing_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "outgoing_consignment_id": {
                "type": "string",
                "description": "outgoing_consignment_id parameter",
                "default": ""
              },
              "outgoing_consignment_ids": {
                "type": "string",
                "description": "outgoing_consignment_ids parameter"
              }
            }
          }
        }
      },
      "outgoing_consignment_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "outgoing_consignment"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "warehouse_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of warehouse records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "warehouse_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              }
            },
            "required": [
              "warehouse"
            ]
          }
        }
      },
      "warehouse_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "warehouse_location_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse_location"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of warehouse_location records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "warehouse_location_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse_location"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "location": {
                "type": "string",
                "description": "location parameter"
              }
            },
            "required": [
              "warehouse",
              "location"
            ]
          }
        }
      },
      "warehouse_location_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse_location"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse": {
                "type": "string",
                "description": "warehouse parameter"
              },
              "breif": {
                "type": "boolean",
                "description": "breif parameter",
                "default": false
              },
              "storage": {
                "type": "string",
                "description": "storage parameter",
                "default": ""
              },
              "storage_group": {
                "type": "string",
                "description": "storage_group parameter",
                "default": ""
              },
              "from_location": {
                "type": "string",
                "description": "from_location parameter",
                "default": ""
              },
              "to_location": {
                "type": "string",
                "description": "to_location parameter",
                "default": ""
              },
              "search_term": {
                "type": "string",
                "description": "search_term parameter",
                "default": ""
              },
              "close_to_location": {
                "type": "string",
                "description": "close_to_location parameter",
                "default": ""
              },
              "include_always_show": {
                "type": "boolean",
                "description": "include_always_show parameter",
                "default": true
              },
              "exclude_check_locations": {
                "type": "boolean",
                "description": "exclude_check_locations parameter",
                "default": false
              },
              "empty_only": {
                "type": "boolean",
                "description": "empty_only parameter",
                "default": false
              },
              "warehouse_location_type": {
                "type": "string",
                "description": "warehouse_location_type parameter",
                "default": ""
              }
            }
          }
        }
      },
      "warehouse_location_type_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse_location_type"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of warehouse_location_type records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "warehouse_location_type_get_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse_location_type"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "get"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "warehouse_location_type": {
                "type": "string",
                "description": "warehouse_location_type parameter"
              }
            },
            "required": [
              "warehouse_location_type"
            ]
          }
        }
      },
      "warehouse_location_type_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "warehouse_location_type"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "contract_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "contract"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "Array of contract records to process",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "contract_list_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "contract"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "contract_delete_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "contract"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "delete"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
            "description": "Activity identifier (can be empty)",
            "default": ""
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "string",
                "description": "items parameter"
              }
            }
          }
        }
      },
      "contract_minimum_days_check_request": {
        "type": "object",
        "required": [
          "entity",
          "action",
          "site_id",
          "user_id",
          "data"
        ],
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "contract_minimum_days"
            ],
            "description": "Entity name"
          },
          "action": {
            "type": "string",
            "enum": [
              "check"
            ],
            "description": "Action to perform"
          },
          "site_id": {
            "type": "string",
            "description": "Your site identifier (set as global variable)",
            "example": "YOUR_SITE_ID"
          },
          "user_id": {
            "type": "string",
            "description": "Integration user identifier (set as global variable)",
            "example": "YOUR_USER_ID"
          },
          "platform": {
            "type": "string",
            "description": "Source platform identifier",
            "example": "integration",
            "default": "integration"
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier (can be empty)",
            "default": ""
          },
          "activity_id": {
            "type": "string",
[...]
