{
  "openapi": "3.0.3",
  "info": {
    "title": "Country State City API",
    "version": "1.0.0",
    "description": "A comprehensive API providing country, state, and city data for 200+ countries. Includes ISO codes, phone codes, currencies, timezones, and more. Free tier available with API key authentication.",
    "x-jentic-source-url": "https://countrystatecity.in/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.countrystatecity.in/v1"
    }
  ],
  "paths": {
    "/countries": {
      "get": {
        "operationId": "listCountries",
        "summary": "Get all countries",
        "description": "Retrieve a complete list of all countries with basic information including ISO codes, phone codes, currencies, and regional data.",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "List of countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{ciso}": {
      "get": {
        "operationId": "getCountry",
        "summary": "Get a specific country",
        "description": "Retrieve detailed information about a specific country by its ISO2 code.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "ciso",
            "in": "path",
            "required": true,
            "description": "ISO2 country code (e.g., US, IN, GB)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{ciso}/states": {
      "get": {
        "operationId": "listStates",
        "summary": "Get states of a country",
        "description": "Retrieve all states/provinces/regions for a given country.",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "ciso",
            "in": "path",
            "required": true,
            "description": "ISO2 country code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of states",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/State"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{ciso}/states/{siso}": {
      "get": {
        "operationId": "getState",
        "summary": "Get a specific state",
        "description": "Retrieve details of a specific state within a country.",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "ciso",
            "in": "path",
            "required": true,
            "description": "ISO2 country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siso",
            "in": "path",
            "required": true,
            "description": "State ISO code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/State"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "State not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{ciso}/states/{siso}/cities": {
      "get": {
        "operationId": "listCities",
        "summary": "Get cities of a state",
        "description": "Retrieve all cities for a given state within a country.",
        "tags": [
          "Cities"
        ],
        "parameters": [
          {
            "name": "ciso",
            "in": "path",
            "required": true,
            "description": "ISO2 country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siso",
            "in": "path",
            "required": true,
            "description": "State ISO code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "State or country not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{ciso}/cities": {
      "get": {
        "operationId": "listCountryCities",
        "summary": "Get all cities of a country",
        "description": "Retrieve all cities for a given country (across all states).",
        "tags": [
          "Cities"
        ],
        "parameters": [
          {
            "name": "ciso",
            "in": "path",
            "required": true,
            "description": "ISO2 country code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/states": {
      "get": {
        "operationId": "listAllStates",
        "summary": "Get all states globally",
        "description": "Retrieve all states/provinces/regions worldwide.",
        "tags": [
          "States"
        ],
        "responses": {
          "200": {
            "description": "List of all states",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/State"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "operationId": "listAllCities",
        "summary": "Get all cities globally",
        "description": "Retrieve all cities worldwide.",
        "tags": [
          "Cities"
        ],
        "responses": {
          "200": {
            "description": "List of all cities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "iso2": {
            "type": "string"
          },
          "iso3": {
            "type": "string"
          },
          "phonecode": {
            "type": "string"
          },
          "capital": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "native": {
            "type": "string"
          },
          "emoji": {
            "type": "string"
          }
        }
      },
      "CountryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "iso2": {
            "type": "string"
          },
          "iso3": {
            "type": "string"
          },
          "phonecode": {
            "type": "string"
          },
          "capital": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "currency_name": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          },
          "native": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "subregion": {
            "type": "string"
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "zoneName": {
                  "type": "string"
                },
                "gmtOffset": {
                  "type": "integer"
                },
                "gmtOffsetName": {
                  "type": "string"
                },
                "abbreviation": {
                  "type": "string"
                },
                "tzName": {
                  "type": "string"
                }
              }
            }
          },
          "translations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "emoji": {
            "type": "string"
          },
          "emojiU": {
            "type": "string"
          }
        }
      },
      "State": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "iso2": {
            "type": "string"
          },
          "country_id": {
            "type": "integer"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "state_id": {
            "type": "integer"
          },
          "state_code": {
            "type": "string"
          },
          "state_name": {
            "type": "string"
          },
          "country_id": {
            "type": "integer"
          },
          "country_code": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CSCAPI-KEY",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cities"
    },
    {
      "name": "Countries"
    },
    {
      "name": "States"
    }
  ]
}
