{
  "openapi": "3.0.3",
  "info": {
    "title": "Buddy CI/CD API",
    "description": "Buddy CI/CD REST API for managing workspaces, projects, pipelines, and pipeline executions. Build, test, and deploy your code with Buddy's automation platform.",
    "version": "v2",
    "x-jentic-source-url": "https://buddy.works/docs/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.buddy.works",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Manage workspaces."
    },
    {
      "name": "Projects",
      "description": "Manage projects within workspaces."
    },
    {
      "name": "Pipelines",
      "description": "Manage CI/CD pipelines."
    },
    {
      "name": "Executions",
      "description": "Manage pipeline executions."
    },
    {
      "name": "Members",
      "description": "Manage workspace members."
    }
  ],
  "paths": {
    "/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List workspaces",
        "description": "Returns a list of workspaces the authenticated user has access to.",
        "operationId": "listWorkspaces",
        "responses": {
          "200": {
            "description": "List of workspaces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get workspace details",
        "description": "Returns details of a specific workspace.",
        "operationId": "getWorkspace",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace domain name."
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "description": "Returns a list of projects in a workspace.",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace domain name."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "CLOSED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "description": "Creates a new project in a workspace.",
        "operationId": "createProject",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{projectName}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project details",
        "description": "Returns details of a specific project.",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name."
          }
        ],
        "responses": {
          "200": {
            "description": "Project details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "Deletes a project.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{projectName}/pipelines": {
      "get": {
        "tags": [
          "Pipelines"
        ],
        "summary": "List pipelines",
        "description": "Returns a list of pipelines for a project.",
        "operationId": "listPipelines",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pipelines.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Create a pipeline",
        "description": "Creates a new pipeline for a project.",
        "operationId": "createPipeline",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{projectName}/pipelines/{pipelineId}": {
      "get": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Get pipeline details",
        "description": "Returns details of a specific pipeline.",
        "operationId": "getPipeline",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Update a pipeline",
        "description": "Updates a pipeline configuration.",
        "operationId": "updatePipeline",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Delete a pipeline",
        "description": "Deletes a pipeline.",
        "operationId": "deletePipeline",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Pipeline deleted."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{projectName}/pipelines/{pipelineId}/executions": {
      "get": {
        "tags": [
          "Executions"
        ],
        "summary": "List pipeline executions",
        "description": "Returns a list of executions for a pipeline.",
        "operationId": "listExecutions",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of executions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "executions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Execution"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Executions"
        ],
        "summary": "Run a pipeline",
        "description": "Triggers a new execution of a pipeline.",
        "operationId": "runPipeline",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Execution started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Execution"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{projectName}/pipelines/{pipelineId}/executions/{executionId}": {
      "get": {
        "tags": [
          "Executions"
        ],
        "summary": "Get execution details",
        "description": "Returns details of a specific pipeline execution.",
        "operationId": "getExecution",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Execution"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Execution not found"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{projectName}/pipelines/{pipelineId}/executions/{executionId}/cancel": {
      "patch": {
        "tags": [
          "Executions"
        ],
        "summary": "Cancel an execution",
        "description": "Cancels a running pipeline execution.",
        "operationId": "cancelExecution",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Execution"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List workspace members",
        "description": "Returns a list of members in a workspace.",
        "operationId": "listMembers",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Workspace": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "owner_id": {
            "type": "integer"
          },
          "frozen": {
            "type": "boolean"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "CLOSED"
            ]
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/Member"
          },
          "http_repository": {
            "type": "string"
          },
          "ssh_repository": {
            "type": "string"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "Display name of the project."
          },
          "integration": {
            "type": "object",
            "description": "Integration configuration.",
            "properties": {
              "hash_id": {
                "type": "string",
                "description": "Integration identifier."
              }
            }
          },
          "external_project_id": {
            "type": "string",
            "description": "External project identifier (repo path)."
          }
        },
        "required": [
          "display_name"
        ]
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "on": {
            "type": "string",
            "description": "Trigger mode.",
            "enum": [
              "CLICK",
              "EVENT",
              "SCHEDULE"
            ]
          },
          "last_execution_status": {
            "type": "string",
            "enum": [
              "SUCCESSFUL",
              "FAILED",
              "TERMINATED",
              "INPROGRESS",
              "ENQUEUED",
              "SKIPPED",
              "NOT_EXECUTED",
              "INITIAL"
            ]
          },
          "last_execution_revision": {
            "type": "string"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "NORMAL",
              "HIGH"
            ]
          },
          "refs": {
            "type": "array",
            "description": "Git refs this pipeline operates on.",
            "items": {
              "type": "string"
            }
          },
          "disabled": {
            "type": "boolean"
          },
          "disabling_reason": {
            "type": "string"
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "creator": {
            "$ref": "#/components/schemas/Member"
          }
        }
      },
      "CreatePipelineRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Pipeline name."
          },
          "on": {
            "type": "string",
            "description": "Trigger mode.",
            "enum": [
              "CLICK",
              "EVENT",
              "SCHEDULE"
            ]
          },
          "refs": {
            "type": "array",
            "description": "Git refs this pipeline operates on.",
            "items": {
              "type": "string"
            }
          },
          "always_from_scratch": {
            "type": "boolean"
          },
          "auto_clear_cache": {
            "type": "boolean"
          },
          "no_skip_to_most_recent": {
            "type": "boolean"
          },
          "fail_on_prepare_env_warning": {
            "type": "boolean"
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "NORMAL",
              "HIGH"
            ]
          }
        },
        "required": [
          "name",
          "on",
          "refs"
        ]
      },
      "Execution": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "finish_date": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESSFUL",
              "FAILED",
              "TERMINATED",
              "INPROGRESS",
              "ENQUEUED",
              "SKIPPED",
              "NOT_EXECUTED",
              "INITIAL"
            ]
          },
          "comment": {
            "type": "string"
          },
          "branch": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "revision": {
            "type": "string"
          },
          "to_revision": {
            "$ref": "#/components/schemas/Revision"
          },
          "from_revision": {
            "$ref": "#/components/schemas/Revision"
          },
          "pipeline": {
            "$ref": "#/components/schemas/Pipeline"
          },
          "creator": {
            "$ref": "#/components/schemas/Member"
          },
          "trigger_mode": {
            "type": "string",
            "enum": [
              "MANUAL",
              "RECURRENT",
              "HOOK"
            ]
          }
        }
      },
      "RunExecutionRequest": {
        "type": "object",
        "properties": {
          "to_revision": {
            "type": "object",
            "properties": {
              "revision": {
                "type": "string",
                "description": "Git revision (commit SHA)."
              }
            }
          },
          "comment": {
            "type": "string",
            "description": "Execution comment."
          }
        }
      },
      "Revision": {
        "type": "object",
        "properties": {
          "revision": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/Member"
          },
          "message": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "admin": {
            "type": "boolean"
          },
          "workspace_owner": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token passed as a Bearer token."
      }
    }
  }
}
