{
  "openapi": "3.0.1",
  "info": {
    "title": "Erp.BO.ResourceGroupSvc",
    "description": "Resource Group",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/reskom/erpboresourcegroupsvc/v1"
  },
  "servers": [
    {
      "url": "https://se10test1.seyerind.com/kinetictest/api/v1/Erp.BO.ResourceGroupSvc"
    }
  ],
  "paths": {
    "/GetList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "GetList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "Get_GetList",
        "parameters": [
          {
            "name": "whereClause",
            "in": "query",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "description": "Page of rows to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetCodeDescList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetCodeDescList",
        "operationId": "GetCodeDescList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCodeDescList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCodeDescList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCodeDescList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCodeDescList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/SelectDistinctInOutWhseQuery": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method SelectDistinctInOutWhseQuery",
        "operationId": "SelectDistinctInOutWhseQuery",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDistinctInOutWhseQuery_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDistinctInOutWhseQuery_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/BuildRsrcGrpResourceCalList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method BuildRsrcGrpResourceCalList",
        "description": "This method will populate the ttResourceCal table using the resource group\r\nthat was passed in.",
        "operationId": "BuildRsrcGrpResourceCalList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildRsrcGrpResourceCalList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildRsrcGrpResourceCalList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildRsrcGrpResourceCalList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildRsrcGrpResourceCalList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/BuildRsrcResourceCalList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method BuildRsrcResourceCalList",
        "description": "This method will populate the ttResourceCal table using the resource group\r\nthat was passed in.",
        "operationId": "BuildRsrcResourceCalList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildRsrcResourceCalList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildRsrcResourceCalList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildRsrcResourceCalList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildRsrcResourceCalList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckRGPlant": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckRGPlant",
        "description": "This method will verify that the Resource Group ID entered is from the Current\r\nplant.",
        "operationId": "CheckRGPlant",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckRGPlant_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckRGPlant_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckRGPlant_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckRGPlant_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CustomizeResourceCalRsrc": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CustomizeResourceCalRsrc",
        "description": "This method will get a current ResourceCal record or create a temporary\r\nResourceCal record to be modified for a RESOURCE.  The ProdHours will be\r\ndefaulted from the weekday of the selected date.  If any changes are made\r\nto the ttResourceCal record, the UpdateResourceCal method will have to be\r\ncalled to write the temporary ResourceCal record to the database.",
        "operationId": "CustomizeResourceCalRsrc",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizeResourceCalRsrc_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizeResourceCalRsrc_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizeResourceCalRsrc_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizeResourceCalRsrc_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CustomizeResourceCalRsrcGrp": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CustomizeResourceCalRsrcGrp",
        "description": "This method will get a current ResourceCal record or create a temporary\r\nResourceCal record to be modified for a RESOURCE GROUP.  The ProdHours\r\nwill be defaulted from the weekday of the selected date.  If any changes\r\nare made to the ttResourceCal record, the UpdateResourceCal method will have\r\nto be called to write the temporary ResourceCal record to the database.",
        "operationId": "CustomizeResourceCalRsrcGrp",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizeResourceCalRsrcGrp_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizeResourceCalRsrcGrp_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizeResourceCalRsrcGrp_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizeResourceCalRsrcGrp_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteResourceCal": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteResourceCal",
        "description": "This method will delete ResourceCal record.",
        "operationId": "DeleteResourceCal",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteResourceCal_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteResourceCal_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResourceCal_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResourceCal_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/EnterpriseGetList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method EnterpriseGetList",
        "description": "Will invoke GetList or perform the Enterprise Search when enterpriseSearchText / enterpriseBAQID is provided",
        "operationId": "EnterpriseGetList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnterpriseGetList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EnterpriseGetList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseGetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseGetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/InsertNewResource": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method InsertNewResource",
        "description": "This method creates a new Resource after prompting for the\r\nResourceID and ResourceGrpID.\r\nThis is to replace the standard GetNewResource .",
        "operationId": "InsertNewResource",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertNewResource_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertNewResource_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertNewResource_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertNewResource_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/MoveResource": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method MoveResource",
        "description": "This method creates a new Resource after prompting for the\r\nResourceID and ResourceGrpID.\r\nThis is to replace the standard GetNewResource .",
        "operationId": "MoveResource",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveResource_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveResource_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveResource_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveResource_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/MoveResourceCal": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method MoveResourceCal",
        "description": "This method will change SpecialDay of ResourceCal record.",
        "operationId": "MoveResourceCal",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveResourceCal_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveResourceCal_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveResourceCal_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveResourceCal_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/SetInactiveFlag": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method SetInactiveFlag",
        "description": "Call this method when the Inactive Flag on the Resource Group changes and the\r\nuser answer \"Yes\" to set the inactive flag on the Resources.  All of the\r\nResources Inactive flags will be set to equal to the new inactive setting on the\r\nResource Group.",
        "operationId": "SetInactiveFlag",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetInactiveFlag_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetInactiveFlag_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetInactiveFlag_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetInactiveFlag_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UpdateResourceCal": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UpdateResourceCal",
        "description": "This method will check to see if the current ttResourceCal record was modified.\r\nIf it was modified then it compares the capacity from the ttResourceCal\r\nthe capacity of the production calendar for that day of the week.  If they\r\nare different, or if it is a special working day or non-working day then\r\nit save the ttResourceCal record to the database.",
        "operationId": "UpdateResourceCal",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceCal_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceCal_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResourceCal_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResourceCal_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ValidateInspection": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ValidateInspection",
        "operationId": "ValidateInspection",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInspection_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInspection_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateInspection_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateInspection_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ValidateResource": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ValidateResource",
        "description": "This method validates that the Resource exists and that it isn't assigned to\r\nanother Resource Group.",
        "operationId": "ValidateResource",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateResource_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateResource_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResource_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResource_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetIfCurrentSiteHasExternalMES": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetIfCurrentSiteHasExternalMES",
        "description": "Purpose:\r\nParameters:  none\r\nNotes:",
        "operationId": "GetIfCurrentSiteHasExternalMES",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIfCurrentSiteHasExternalMES_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIfCurrentSiteHasExternalMES_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/RequestExternalMESActiveResourceTypeValidation": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method RequestExternalMESActiveResourceTypeValidation",
        "description": "Purpose:\r\nParameters:  none\r\nNotes:",
        "operationId": "RequestExternalMESActiveResourceTypeValidation",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestExternalMESActiveResourceTypeValidation_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestExternalMESActiveResourceTypeValidation_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestExternalMESActiveResourceTypeValidation_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestExternalMESActiveResourceTypeValidation_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangedCharacteristicAttrClassID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangedCharacteristicAttrClassID",
        "description": "Used when the Characteristic Attr Class ID is changed.",
        "operationId": "ChangedCharacteristicAttrClassID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangedCharacteristicAttrClassID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangedCharacteristicAttrClassID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangedCharacteristicAttrClassID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangedCharacteristicAttrClassID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeResourceGroupResourceType": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeResourceGroupResourceType",
        "description": "This method is called when the Resource Group ResourceType field is changed.",
        "operationId": "ChangeResourceGroupResourceType",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeResourceGroupResourceType_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeResourceGroupResourceType_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResourceGroupResourceType_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResourceGroupResourceType_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeResourceResourceType": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeResourceResourceType",
        "description": "This method is called when the Resource ResourceType field is changed.",
        "operationId": "ChangeResourceResourceType",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeResourceResourceType_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeResourceResourceType_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResourceResourceType_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResourceResourceType_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetResourceGroupsExtMES": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetResourceGroupsExtMES",
        "description": "Get the list of resource groups for Mattec changes",
        "operationId": "GetResourceGroupsExtMES",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetResourceGroupsExtMES_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetResourceGroupsExtMES_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResourceGroupsExtMES_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResourceGroupsExtMES_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewResourceGroup": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewResourceGroup",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewResourceGroup",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResourceGroup_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResourceGroup_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResourceGroup_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResourceGroup_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewResourceGroupAttch": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewResourceGroupAttch",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewResourceGroupAttch",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResourceGroupAttch_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResourceGroupAttch_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResourceGroupAttch_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResourceGroupAttch_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewResource": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewResource",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewResource",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResource_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResource_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResource_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResource_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewCapResLnk": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewCapResLnk",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewCapResLnk",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewCapResLnk_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewCapResLnk_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewCapResLnk_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewCapResLnk_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewResourceCal": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewResourceCal",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewResourceCal",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResourceCal_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewResourceCal_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResourceCal_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewResourceCal_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteByID",
        "description": "Deletes a row given its ID.",
        "operationId": "DeleteByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "GetByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "Get_GetByID",
        "parameters": [
          {
            "name": "resourceGrpID",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetRows": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "GetRows",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "Get_GetRows",
        "parameters": [
          {
            "name": "whereClauseResourceGroup",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseResourceGroupAttch",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseResource",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseCapResLnk",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseResourceCal",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "GetBySysRowID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "Get_GetBySysRowID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowIDs": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "GetBySysRowIDs",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "Get_GetBySysRowIDs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/Update": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method Update",
        "description": "Commits the DataSet changes to the data store.",
        "operationId": "Update",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UpdateExt": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UpdateExt",
        "description": "Apply input data to service by calling GetByID/GetNew/Update methods.",
        "operationId": "UpdateExt",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Erp.Tablesets.ResourceGroupListRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "Plant": {
            "type": "string",
            "description": "Site Identifier."
          },
          "ResourceGrpID": {
            "type": "string",
            "description": "A code uniquely identifies a Resource Group.  Cannot be blank. This is used as a foreign key in other files and may be used in displays/reports where space for the full description is limited."
          },
          "Description": {
            "type": "string",
            "description": "Long description of the Resource Group."
          },
          "Inactive": {
            "type": "boolean",
            "description": " Flag which indicates if the Resource Group is considered \"Inactive\".  For historical purposed, and data integrity, it is difficult to delete a ResourceGroup that has been used for production.  Instead, it is set to Inactive = YES.\r\nThis flag will be used to exclude Resource Groups from certain searches and reports.\r\nResource Groups where Inactive=yes are treated as deleted, but remain in the table to maintain database integrity."
          },
          "JCDept": {
            "type": "string",
            "description": "The Key ID of the Home Department for this Resource Group.  This is a foreign key to the JCDept table."
          },
          "ProdBurRate": {
            "type": "number",
            "description": "The burden rate for production.",
            "format": "double"
          },
          "SetupBurRate": {
            "type": "number",
            "description": "Default burden rate for Setup time.",
            "format": "double"
          },
          "QProdBurRate": {
            "type": "number",
            "description": " Quoting burden rate for production in the Resource Group.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QSetupBurRate": {
            "type": "number",
            "description": " Quoting burden rate for setup in the Resource Group.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "ResourceType": {
            "type": "string",
            "description": "For scheduling purposes a Resource Group can be a Standard resource (S), Additional resource (D), or Auxiliary resource (X).  Standard resources use capacity when scheduled in a finite capacity workcenter.  An Auxiliary Resource can be used in production by  any operation concurrently with a Standard resource, but it does not use capacity.  This is significant for scheduling work to the machine.  Also, an Auxiliary resources does not have to be available for an entire operation.  Additional resources can be added to an Operation, they do use capacity and need to be available for the entire operation."
          },
          "InputWhse": {
            "type": "string",
            "description": "Indicates a warehouse  in which parts are staged for consumption by the Resource Group.  This must be valid in the Warehouse table."
          },
          "OutputWhse": {
            "type": "string",
            "description": "Defines a warehouse for the output of a Resource Group.  This must be valid in the Warehouse table."
          },
          "Location": {
            "type": "boolean",
            "description": "Location"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "CharacteristicAttrClassID": {
            "type": "string",
            "description": "ID of related Attribute Class, the class must be of type Characteristics."
          },
          "CharacteristicAttributeSetID": {
            "type": "integer",
            "description": "The unique identifier of the related Dynamic Attribute Set.",
            "format": "int32"
          },
          "JCDeptDescription": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionRow": {
        "type": "object",
        "properties": {
          "ColumnValues": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RowMod": {
            "type": "string"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableColumn": {
        "type": "object",
        "properties": {
          "ColumnName": {
            "type": "string",
            "nullable": true
          },
          "ColumnType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Ice.Extensions.ExtensionTableData": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionRow"
            }
          },
          "SystemCode": {
            "type": "string",
            "nullable": true
          },
          "TableName": {
            "type": "string",
            "nullable": true
          },
          "Columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableColumn"
            },
            "nullable": true
          },
          "PrimaryKeyColumns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PeerTableSystemCode": {
            "type": "string",
            "nullable": true
          },
          "PeerTableName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.ResourceGroupListTableset": {
        "type": "object",
        "properties": {
          "ResourceGroupList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Erp.Tablesets.ResourceGroupListRow"
            },
            "nullable": true
          },
          "ExtensionTables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ice.Extensions.ExtensionTableData"
            }
          }
        },
        "additionalProperties": false
      },
      "GetList_input": {
        "required": [
          "whereClause",
          "pageSize",
          "absolutePage"
        ],
        "properties": {
          "whereClause": {
            "type": "string",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "example": ""
          },
          "pageSize": {
            "type": "integer",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "format": "int32"
          },
          "absolutePage": {
            "type": "integer",
            "description": "Page of rows to return.",
            "format": "int32"
          }
        }
      },
      "GetList_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "$ref": "#/components/schemas/Erp.Tablesets.ResourceGroupListTableset"
          },
          "parameters": {
            "type": "object",
            "properties": {
              "morePages": {
                "type": "boolean",
                "description": "Whether there are more pages of rows available."
              }
            },
            "additionalProperties": {},
            "description": "output parameters"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "GetCodeDescList_input": {
        "required": [
          "tableName",
          "fieldName"
        ],
        "properties": {
          "tableName": {
            "type": "string"
          },
          "fieldName": {
            "type": "string"
          }
        }
      },
      "GetCodeDescList_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "SelectDistinctInOutWhseQuery_output": {
        "type": "object",
        "properties": {
          "returnObj": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "string"
        }
      },
      "Erp.Tablesets.ResourceGroupRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "Plant": {
            "type": "string",
            "description": "Site Identifier."
          },
          "ResourceGrpID": {
            "type": "string",
            "description": "A code uniquely identifies a Resource Group.  Cannot be blank. This is used as a foreign key in other files and may be used in displays/reports where space for the full description is limited."
          },
          "Description": {
            "type": "string",
            "description": "Long description of the Resource Group."
          },
          "CalendarID": {
            "type": "string",
            "description": "Identifies the production calendar for this Resource Group.   If this equals \"\", then the ProdCal record is the Company Level production calendar."
          },
          "Inactive": {
            "type": "boolean",
            "description": " Flag which indicates if the Resource Group is considered \"Inactive\".  For historical purposed, and data integrity, it is difficult to delete a ResourceGroup that has been used for production.  Instead, it is set to Inactive = YES.\r\nThis flag will be used to exclude Resource Groups from certain searches and reports.\r\nResource Groups where Inactive=yes are treated as deleted, but remain in the table to maintain database integrity."
          },
          "AllowManualOverride": {
            "type": "boolean",
            "description": "If it is Finite Resource Group, and this is true, then the user will be allow to overload this Resource Group from using the scheduling tools."
          },
          "FiniteHorizon": {
            "type": "integer",
            "description": "The number of days out this Resource Group will be scheduled finitely.  Production capacity requirements past this day are treated as infinite.",
            "format": "int32"
          },
          "NumberOfMachines": {
            "type": "integer",
            "description": " The number of Resources in this Resource Group. The number of Resources X HrsPerMachine = Capacity.\r\nA Resource Group with zero Resources is considered infinite capacity.",
            "format": "int32"
          },
          "SchMachine": {
            "type": "integer",
            "description": "Number of Resources that one operation runs on at a time within this Resource Group.  This affects how much of the total daily Resource Group capacity is used up per operation.  If Resource Group has 4  Resource, 8 hour a day, and SchMachine = 2.  An operation will schedule up to 16 hours per day.   This is used as a default to the JobOper.Machines field.",
            "format": "int32"
          },
          "BurdenType": {
            "type": "string",
            "description": "Indicates if the BurdenRate fields are either a flat hourly dollar rate or a percentage of LaborRate. Default is Hourly dollar rate.   Set to \"F\" (flat) or \"P\" (percent)."
          },
          "MoveHours": {
            "type": "number",
            "description": "The number of hours of delay that occurs when an operation leaves this Resource Group before the next operation can begin in a different Resource Group.",
            "format": "double"
          },
          "JCDept": {
            "type": "string",
            "description": "The Key ID of the Home Department for this Resource Group.  This is a foreign key to the JCDept table."
          },
          "QueHours": {
            "type": "number",
            "description": "Queue Time.  The number of hours of delay that occurs when an operation enters this Resource Group before it can begin. (The opposite of MoveHours)",
            "format": "double"
          },
          "OpCode": {
            "type": "string",
            "description": "Establishes the default operation used when referencing this Resource Group.  This is optional, but if entered it must be valid in the OpMaster."
          },
          "ProdBurRate": {
            "type": "number",
            "description": "The burden rate for production.",
            "format": "double"
          },
          "ProdLabRate": {
            "type": "number",
            "description": "The labor rate for production.",
            "format": "double"
          },
          "SetupBurRate": {
            "type": "number",
            "description": "Default burden rate for Setup time.",
            "format": "double"
          },
          "SetupLabRate": {
            "type": "number",
            "description": "Default labor rate for setup time.",
            "format": "double"
          },
          "QProdBurRate": {
            "type": "number",
            "description": " Quoting burden rate for production in the Resource Group.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QProdLabRate": {
            "type": "number",
            "description": " Quoting burden rate for production on the Resource.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QSetupBurRate": {
            "type": "number",
            "description": " Quoting burden rate for setup in the Resource Group.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QSetupLabRate": {
            "type": "number",
            "description": " Quoting burden rate for setup in the Resource Group.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "SplitBurden": {
            "type": "boolean",
            "description": "Indicates if burden hours are split out among employees when multiple employees work simultaneously on the same job operation within this Resource Group.  This feature is only applicable to Data Collection.  Manual Labor Entry does not split the burden hours. The opposite is that each employee should have their burden hours = labor hours. This situation would occur in Resource Groups that actually have \"people\" as machines, such as an assembly or welding center where multiple people work on the same job."
          },
          "ProdCrewSize": {
            "type": "number",
            "description": "Defines the default crew size for work done in this Resource Group.   The number of people it physically takes to run the machine. This should not be confused with scheduled number of machines, which squeezes the schedule time. The crew size is a multiplier used in calculation of Production labor hours on operations.",
            "format": "double"
          },
          "SetupCrewSize": {
            "type": "number",
            "description": "Defines the default setup crew size for work done in this Resource Group.  The number of people it physically takes to setup the Resource.  This should not be confused with scheduled number of machines, which squeezes the schedule time.  The crew size is a multiplier  used in calculation of setup labor hours for an operation.",
            "format": "double"
          },
          "OpStdID": {
            "type": "string",
            "description": "Defines a default Operation standard master ID for this Resource Group.  If entered then this along with the ResourceGrpID, OpCode must be valid in the OpStd master file."
          },
          "ReloadNum": {
            "type": "integer",
            "description": "lib/Reloader.w program increments and assigns it to Joboper.ReloadNum as it processes JobOper records. It is used to prevent redundant reads during the For Each loop.",
            "format": "int32"
          },
          "ReloadStatus": {
            "type": "string",
            "description": "A  recovery flag which indicates the status of the Reload process for this Resource Group.  Values; Blank or \"Started\"."
          },
          "DailyCapacity1": {
            "type": "number",
            "description": "DailyCapacity1",
            "format": "double"
          },
          "DailyCapacity2": {
            "type": "number",
            "description": "DailyCapacity2",
            "format": "double"
          },
          "DailyCapacity3": {
            "type": "number",
            "description": "DailyCapacity3",
            "format": "double"
          },
          "DailyCapacity4": {
            "type": "number",
            "description": "DailyCapacity4",
            "format": "double"
          },
          "DailyCapacity5": {
            "type": "number",
            "description": "DailyCapacity5",
            "format": "double"
          },
          "DailyCapacity6": {
            "type": "number",
            "description": "DailyCapacity6",
            "format": "double"
          },
          "DailyCapacity7": {
            "type": "number",
            "description": "DailyCapacity7",
            "format": "double"
          },
          "QBurdenType": {
            "type": "string",
            "description": "Indicates if the Quote Burden Rate fields are either a flat hourly dollar rate or a percentage of Quote LaborRate.  Default is Hourly dollar rate.  Set to \"F\" (flat) or \"P\" (percent)."
          },
          "BurdenEQLabor": {
            "type": "boolean",
            "description": "Indicates if burden hours should equal Labor Hours for work reported within this Resource Group.  This feature is only applicable to Data Collection.  This is intended to be used where an employee jumps between multiple job operations without clock in/out (for efficiency purposes).  Example: Employee works on 4 operations for 8am - 1200.  They clock out of all 4 at 12.  Each transaction is given 1hr of labor.  If this is checked then each transaction will also have 1hr of burden.  Otherwise they will have 4 hrs for a total of 16 burden hrs."
          },
          "SplitOperations": {
            "type": "boolean",
            "description": "Used for scheduling.  If YES then a single operation in this Resoure Group can be split across multiple Resources."
          },
          "ResourceType": {
            "type": "string",
            "description": "For scheduling purposes a Resource Group can be a Standard resource (S), Additional resource (D), or Auxiliary resource (X).  Standard resources use capacity when scheduled in a finite capacity workcenter.  An Auxiliary Resource can be used in production by  any operation concurrently with a Standard resource, but it does not use capacity.  This is significant for scheduling work to the machine.  Also, an Auxiliary resources does not have to be available for an entire operation.  Additional resources can be added to an Operation, they do use capacity and need to be available for the entire operation."
          },
          "InputWhse": {
            "type": "string",
            "description": "Indicates a warehouse  in which parts are staged for consumption by the Resource Group.  This must be valid in the Warehouse table."
          },
          "InputBinNum": {
            "type": "string",
            "description": "Indicates a warehouse bin  in which parts are staged for consumption by the Resource Group.  It  must be valid in the WhseBin table."
          },
          "OutputWhse": {
            "type": "string",
            "description": "Defines a warehouse for the output of a Resource Group.  This must be valid in the Warehouse table."
          },
          "OutputBinNum": {
            "type": "string",
            "description": "Defines a warehouse bin for the output of a Resource Group.  It  must be valid in the WhseBin table."
          },
          "BackflushWhse": {
            "type": "string",
            "description": "Defines a warehouse for backflushing material of a Resource Group.  This must be valid in the Warehouse table.   Used with the InputWhse/InputBin.  If a JobMtl record is set to be backflushed, the the JobMtl is linked to a JobOper, and the Resource Group for the JobOper has a backflush warehouse, then the material will be backflushed from that warehouse when there is not a positive quantity available for the Resource Group InputWhse/Input Bin."
          },
          "BackflushBinNum": {
            "type": "string",
            "description": "Defines a warehouse bin for backflushing for the Resource Group.  It  must be valid in the WhseBin table."
          },
          "InformOverload": {
            "type": "boolean",
            "description": "Indicates that Resource Group is visible in Overload Informer."
          },
          "MinOverloadPerc": {
            "type": "number",
            "description": "The minimum overload threshold before a day shows up in the Overload Informer.",
            "format": "double"
          },
          "BackflushEmpID": {
            "type": "string",
            "description": "Is the Employee ID which will be defaulted into LaborDtl records which get created through backflushing.  If this field is blank, then the Employee ID on the LaborDtl record causing the backflush process to be triggered will be used."
          },
          "SubContract": {
            "type": "boolean",
            "description": "This flags the Resource Group as being a \"SubContract\" or an \"Internal\".  This will determine the default when adding an operation to a BOM, Job, or Quote."
          },
          "AutoMove": {
            "type": "boolean",
            "description": "To toggle on and off the automove flag for a Resource Group.  When false , the default is to generate a move request. When true the default is to not generate a move request. These defaults can be seen when entering a quantity and ending an activity in labor entry."
          },
          "UseEstimates": {
            "type": "boolean",
            "description": "Indicates if hours are split out using estimate values when working  on multiple  job operations."
          },
          "DailyProdQty": {
            "type": "number",
            "description": "Daily Production Qty: The production quantity developed to satisfy demand.  The cell is designed to produce at that quantity for a given time frame (daily).",
            "format": "double"
          },
          "BillLaborRate": {
            "type": "number",
            "description": "Field Service - Labor rate used for time on an operation.  Time per hour per technician.",
            "format": "double"
          },
          "DailyProdRate": {
            "type": "number",
            "description": "The Daily Prod rate contains the rate required to make 1. This is multiplied with the mfg qty of the job to get the total production qty. This total is then compared to the resource's daily production quantity .   Once the production limit for a resource  has been reached, the Resource has been consumed for that day.",
            "format": "double"
          },
          "Location": {
            "type": "boolean",
            "description": "Location"
          },
          "DistributeLoad": {
            "type": "boolean",
            "description": "Distribute Load"
          },
          "TrkProdAct": {
            "type": "boolean",
            "description": "Flag to indicate whether to track production activity of the resource group."
          },
          "SetShopLoad": {
            "type": "boolean",
            "description": "When the capcity changes for a resourceGroup (in Resource Group Entry), this flag is set to true to indicate that Generate Shop Capacity process needs to be run to update the ShopLoad records.  This used to be performed within ResourceGroupEntry but for performance reasons it is being moved to the Generate Shop Capacity process"
          },
          "TAKTValue": {
            "type": "number",
            "description": "TAKT Value",
            "format": "double"
          },
          "UseCalendarForMove": {
            "type": "boolean",
            "description": "Use Calendar for Move Time"
          },
          "UseCalendarForQueue": {
            "type": "boolean",
            "description": "Use Calendar for Queue Time"
          },
          "URL": {
            "type": "string",
            "description": "URL"
          },
          "JDFDevice": {
            "type": "string",
            "description": "JDFDevice"
          },
          "JDFOperation": {
            "type": "string",
            "description": "JDFOperation"
          },
          "SysRevID": {
            "type": "integer",
            "description": "Revision identifier for this row. It is incremented upon each write.",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "description": "Unique identifier for this row. The value is a GUID.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ExternalMES": {
            "type": "boolean",
            "description": "Indicates the record is used with Machine MES"
          },
          "MESQueue": {
            "type": "boolean",
            "description": "MESQueue"
          },
          "CharacteristicAttrClassID": {
            "type": "string",
            "description": "ID of related Attribute Class, the class must be of type Characteristics."
          },
          "CharacteristicAttributeSetID": {
            "type": "integer",
            "description": "The unique identifier of the related Dynamic Attribute Set.",
            "format": "int32"
          },
          "inputwhsedesc": {
            "type": "string"
          },
          "outputwhsedesc": {
            "type": "string"
          },
          "backflushempname": {
            "type": "string"
          },
          "backflushwhsedesc": {
            "type": "string"
          },
          "EnableInactive": {
            "type": "boolean",
            "description": "Indicates if the Inactive flag should be enabled."
          },
          "BitFlag": {
            "type": "integer",
            "format": "int32"
          },
          "JCDeptDescription": {
            "type": "string"
          },
          "OPCodeOpDesc": {
            "type": "string"
          },
          "OpStdDescription": {
            "type": "string"
          },
          "ProdCalDescription": {
            "type": "string"
          },
          "ResourceTypeExternalMESType": {
            "type": "string"
          },
          "ResourceTypeDescription": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          },
          "UD_SysRevID": {
            "type": "string",
            "format": "byte",
            "example": "0"
          },
          "ShortChar01": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.ResourceGroupAttchRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string"
          },
          "ResourceGrpID": {
            "type": "string"
          },
          "DrawingSeq": {
            "type": "integer",
            "format": "int32"
          },
          "XFileRefNum": {
            "type": "integer",
            "format": "int32"
          },
          "SysRevID": {
            "type": "integer",
            "format": "int64",
            "example": "0"
          },
          "SysRowID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "ForeignSysRowID": {
            "type": "string",
            "format": "uuid"
          },
          "DrawDesc": {
            "type": "string"
          },
          "FileName": {
            "type": "string"
          },
          "PDMDocID": {
            "type": "string"
          },
          "DocTypeID": {
            "type": "string"
          },
          "RowMod": {
            "type": "string",
            "description": "RowMod"
          }
        },
        "additionalProperties": false
      },
      "Erp.Tablesets.ResourceRow": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company Identifier."
          },
          "ResourceGrpID": {
            "type": "string",
            "description": "A code that identifies the Resource Group that the resource belongs to."
          },
          "ResourceID": {
            "type": "string",
            "description": "Descriptive code assigned by the user to uniquely identify the Resource."
          },
          "Description": {
            "type": "string",
            "description": "Full description of Resource."
          },
          "Inactive": {
            "type": "boolean",
            "description": " Flag which indicates if the Resource is considered \"Inactive\".\r\nThis flag will be used to exclude Resources from certain searches and reports.\r\nWhen Inactive=yes the Resource is treated as deleted, but will remain in the table to maintain database integrity."
          },
          "Finite": {
            "type": "boolean",
            "description": "If yes then this Resource is scheduled as though it has finite production capacity."
          },
          "AllowManualOverride": {
            "type": "boolean",
            "description": "If it is Finite Resource, and this is true, then the user will be allow to overload this resource from using the scheduling tools."
          },
          "NextMaintDate": {
            "type": "string",
            "description": "This Resources next scheduled maintenance date. An optional, user entered field. This can be used in report selections. It does not effect any scheduling logic.",
            "format": "date-time"
          },
          "OutputWhse": {
            "type": "string",
            "description": "Defines a warehouse for the output of a Resource Group.  This must be valid in the Warehouse table."
          },
          "OutputBinNum": {
            "type": "string",
            "description": "Defines a warehouse bin for the output of a Resource Group.  It  must be valid in the WhseBin table."
          },
          "BackflushWhse": {
            "type": "string",
            "description": "Defines a warehouse for backflushing material of a Resource Group.  This must be valid in the Warehouse table.   Used with the InputWhse/InputBin.  If a JobMtl record is set to be backflushed, the the JobMtl is linked to a JobOper, and the Resource Group for the JobOper has a backflush warehouse, then the material will be backflushed from that warehouse when there is not a positive quantity available for the Resource Group InputWhse/Input Bin."
          },
          "BackflushBinNum": {
            "type": "string",
            "description": "Defines a warehouse bin for backflushing for the Resource Group.  It  must be valid in the WhseBin table."
          },
          "InputWhse": {
            "type": "string",
            "description": "Indicates a warehouse  in which parts are staged for consumption by the Resource Group.  This must be valid in the Warehouse table."
          },
          "InputBinNum": {
            "type": "string",
            "description": "Indicates a warehouse bin  in which parts are staged for consumption by the Resource Group.  It  must be valid in the WhseBin table."
          },
          "ResourceType": {
            "type": "string",
            "description": "Allow the Resource to be linked to a ResourceType record.  This is only used for analysis purposes."
          },
          "ConcurrentCapacity": {
            "type": "number",
            "description": "Concurrent Capacity is a constraint that prevents a Resource from being overloaded because it has, at a given time, this much capacity.  For example, a Resource has 4 racks, and they can be reused, but once they've been selected for an operation, they're tied up until the operation is complete.",
            "format": "double"
          },
          "TrackProdQty": {
            "type": "boolean",
            "description": "Indicates the production quantities produced by this Resource will be tracked."
          },
          "LinkedPart": {
            "type": "string",
            "description": "Links this Resource to a Part, which must be valid in the Part table."
          },
          "AssetNum": {
            "type": "string",
            "description": "Asset number of the Resource.  Links the Resource to a Fixed Asset."
          },
          "ProdBurRate": {
            "type": "number",
            "description": "The burden rate for production.",
            "format": "double"
          },
          "ProdLabRate": {
            "type": "number",
            "description": "The labor rate for production.",
            "format": "double"
          },
          "SetupBurRate": {
            "type": "number",
            "description": "Default burden rate for Setup time.",
            "format": "double"
          },
          "SetupLabRate": {
            "type": "number",
            "description": "Default labor rate for setup time.",
            "format": "double"
          },
          "QProdBurRate": {
            "type": "number",
            "description": " Quoting burden rate for production on the Resource\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QProdLabRate": {
            "type": "number",
            "description": " Quoting burden rate for production on the Resource.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QSetupBurRate": {
            "type": "number",
            "description": " Quoting burden rate for setup in the Resource.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QSetupLabRate": {
            "type": "number",
            "description": " Quoting burden rate for \"setup\" in the Resource Group.\r\nBased on QBurdenType this may be an hourly rate or a percentage.",
            "format": "double"
          },
          "QBurdenType": {
            "type": "string",
            "description": "Indicates if the Quote Burden Rate fields are either a flat hourly dollar rate or a percentage of Quote LaborRate.  Default is flat hourly rate.  Valid values are \"F\" (flat) or \"P\" (percent)."
          },
          "GetDefaultBurdenFromGroup": {
            "type": "boolean",
            "description": "Logical to direct where the burden rate information about the resource is held. Either to look at the resource itself or to look at the associated ResourceGroup record."
          },
          "VendorNum": {
            "type": "integer",
            "description": "This key links the record to the Vendor file.  If this field is set this is be a subcontracted resource.",
            "format": "int32"
          },
          "BurdenType": {
            "type": "string",
            "description": "Indicates if the BurdenRate fields are either a flat hourly dollar rate or a percentage of LaborRate. Default is Hourly dollar rate.   Set to \"F\" (flat) or \"P\" (percent)."
          },
          "CalendarID": {
            "type": "string",
            "description": "Identifies the production calendar for this Resource.   If this equals \"\", then the ProdCal record is the Resource Group Level production calendar."
          },
          "MoveHours": {
            "type": "number",
            "description": "The number of hours of delay that occurs when an operation leaves this Resource before the next operation can begin in a different Resource.",
            "format": "double"
          },
          "QueHours": {
            "type": "number",
            "description": "Queue Time.  The number of hours of delay that occurs when an operation enters this Resource before it can begin. (The opposite of MoveHours)",
            "format": "double"
          },
          "GetDefaultMQFromGroup": {
            "type": "boolean",
            "description": "Logical to direct where the Move Time and Queue time for the resource is held. Either to look at the resource itself or to look at the associated ResourceGroup record.  This also controls whether the FiniteHorizon  and SplitOperation is from the Resource Group."
          },
          "InformOverload": {
            "type": "boolean",
            "description": "Indicates that the Resource is visible in Overload Informer."
          },
          "MinOverloadPerc": {
            "type": "number",
            "description": "The minimum overload threshold before a day shows up in the Overload Informer.",
            "format": "double"
          },
          "OpCode": {
            "type": "string",
            "description": " Establishes the default operation used when referencing this Resource.  This is optional, but if entered it must be valid in the OpMaster.\r\nRequired if a Resource is going to be used to create a JobOper record."
          },
          "OpStdID": {
            "type": "string",
            "description": " Defines a default Operation standard master ID for this Resource.  If entered then this along with the ResourceGrpID, OpCode must be valid in the OpStd master file.\r\nRequired if the Resource is going to be used to create a JobOper."
          },
          "GetDefaultLaborFromGroup": {
            "type": "boolean",
            "description": "Logical to direct where the labor rate information about the resource is held. Either to look at the resource itself or to look at the associated ResourceGroup record."
          },
          "FiniteHorizon": {
            "type": "integer",
            "description": "The number of days out this Resource will be scheduled finitely.  Production capacity requirements past this day are treated as infinite.",
            "format": "int32"
          },
          "AutoMove": {
            "type": "boolean",
            "description": "To toggle on and off the AutoMove flag for a Resource.  When false, the default is to generate a move request.  When true the default is to not generate a move request.  These defaults can be seen when entering a quantity and ending an activity in labor entry."
          },
          "SplitOperations": {
            "type": "boolean",
            "description": "Used for scheduling.  If YES then a single operation on this Resource can be split into multiple operations."
          },
          "DailyProdQty": {
            "type": "number",
            "description": "The production Qty developed to satisfy demand.  The cell is designed to produce at that rate for a given time frame (daily) until this production qty is met.",
            "format": "double"
          },
          "BillLaborRate": {
            "type": "number",
            "description": "Field Service - Labor rate used for time on an operation.  Time per hour per technician.",
            "format": "double"
          },
          "DailyProdRate": {
            "type": "number",
            "description": "The Daily Prod rate contains the rate required to make 1. This is multiplied with the mfg qty of the job to get the total production qty. This total is then compared to the resource's daily production quantity  and with any usage stored in the Shopload record.   Once the production limit for a resource has been reached, the Resource has been consumed for that day.",
            "format": "double"
          },
          "GetDefaultWhseFromGroup": {
            "type": "boolean",
            "description": "Logical to direct where the Warehouse information about the resource is held. Either to look at the resource itself or to look at the associated ResourceGroup record."
          },
          "Location": {
            "type": "boolean",
            "description": "Location"
          },
          "InspPlanPartNum": {
            "type": "string",
            "description": "The inspection plan part number (configurator part number) to be used for inspection results entry process.  Must be a valid part number in the Part master table."
          },
          "SpecID": {
            "type": "string",
            "description": "The specification ID to be used for inspection results entry process.  Must be a valid SpecID in the SpecHed master table."
          },
          "LastCalDate": {
            "type": "string",
            "description": "This field will be automatically populated when the item has been calibrated using the Inspection Data Entry process",
            "format": "date-time"
          },
          "InspPlanRevNum": {
            "type": "string",
            "description": "The inspection plan revision number (configurator revision number)."
          },
          "SpecRevNum": {
            "type": "string",
            "description": "The specification revision number.  Must be valid in the SpecRev table."
          },
          "EquipID": {
            "type": "string",
            "description": "EquipID of Equip record that is related to the Asset.  Can be blank, be if entered must be a valid Equip reference.  Note: maintained by Equipment Entry.  Read only in Asset Entry."
          },
          "URL": {
            "type": "string",
            "description": "URL"
          },
          "JDFDevice": {
            "type": "string",
            "description": "JDFDevice"
          },
          "ExternalMES": {
            "type": "boolean",
            "description": "Indicates the record is used with Machine MES"
          },
          "NumCavs": {
            "type": "number",
            "description": "NumCavs",
            "format": "double"
          },
          "RunnerWt": {
            "type": "number",
            "description": "RunnerWt",
            "format": "double"
          },
          "SetupTime": {
            "type": "integer",
            "description": "SetupTime",
            "format": "int32"
          },
          "TearDownTime": {
            "type": "integer",
            "description": "TearDownTime",
            "format": "int32"
          },
          "MiscInfo1": {
            "type": "string",
            "description": "MiscInfo1"
          },
          "MiscInfo2": {
            "type": "string",
            "description": "MiscInfo2"
          },
          "Brand": {
            "type": "string",
            "description": "Brand"
          },
          "LocID": {
[...]
