{
  "openapi": "3.0.0",
  "info": {
    "title": "CEDIP Transmission API",
    "description": "API for transmitting CEDIP to a new beneficiary",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ibm-eec/TransmissionCEDIPPublic/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cedip.transmission.com/v1"
    },
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://virtserver.swaggerhub.com/ibm-eec/TransmissionCEDIPPublic/1.0.0"
    }
  ],
  "tags": [
    {
      "name": "CEDIP Transmission"
    },
    {
      "name": "Beneficiary Management"
    }
  ],
  "paths": {
    "/cedip/transmission": {
      "post": {
        "summary": "Request transmission of CEDIP to a new beneficiary",
        "tags": [
          "CEDIP Transmission"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransmissionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Transmission request accepted"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cedip/transmission/{transmissionId}/accept": {
      "post": {
        "summary": "Accept transmission request",
        "tags": [
          "Beneficiary Management"
        ],
        "parameters": [
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transmission accepted"
          },
          "404": {
            "description": "Transmission not found"
          }
        }
      }
    },
    "/cedip/transmission/{transmissionId}/decline": {
      "post": {
        "summary": "Decline transmission request",
        "tags": [
          "Beneficiary Management"
        ],
        "parameters": [
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transmission declined"
          },
          "404": {
            "description": "Transmission not found"
          }
        }
      }
    },
    "/cedip/transmission/{transmissionId}/status": {
      "get": {
        "summary": "Get transmission status",
        "tags": [
          "CEDIP Transmission"
        ],
        "parameters": [
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transmission status",
            "content": {
              "application/json": {
                "example": {
                  "message": "Estado: Transmitido"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TransmissionRequest": {
        "type": "object",
        "properties": {
          "cedipId": {
            "type": "string"
          },
          "beneficiaryCuil": {
            "type": "string"
          },
          "beneficiaryName": {
            "type": "string"
          }
        },
        "required": [
          "cedipId",
          "beneficiaryCuil",
          "beneficiaryName"
        ]
      },
      "TransmissionStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACCEPTED",
              "DECLINED"
            ]
          },
          "cedipId": {
            "type": "string"
          },
          "beneficiaryCuil": {
            "type": "string"
          }
        }
      }
    }
  }
}