{
  "openapi": "3.0.3",
  "info": {
    "title": "Telnyx Programmable Fax API",
    "version": "2.0.0",
    "description": "Telnyx Programmable Fax API for sending and receiving faxes programmatically",
    "contact": {
      "email": "support@telnyx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/faxes": {
      "get": {
        "summary": "List faxes",
        "description": "Retrieve a list of faxes with optional filtering",
        "operationId": "listFaxes",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "filter[created_at][gte]",
            "in": "query",
            "description": "Filter faxes created on or after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[created_at][lte]",
            "in": "query",
            "description": "Filter faxes created on or before this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[direction][eq]",
            "in": "query",
            "description": "Filter by direction",
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ]
            }
          },
          {
            "name": "filter[from][eq]",
            "in": "query",
            "description": "Filter by sender phone number (E.164 format)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[to][eq]",
            "in": "query",
            "description": "Filter by recipient phone number (E.164 format)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of faxes per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number to retrieve",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Fax"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Send a fax",
        "description": "Send a fax to a specified recipient",
        "operationId": "sendFax",
        "tags": [
          "Faxes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendFaxRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Fax accepted for sending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Fax"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/faxes/{id}": {
      "get": {
        "summary": "View a fax",
        "description": "Retrieve details of a specific fax",
        "operationId": "getFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of a fax",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Fax"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Fax not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a fax",
        "description": "Delete a fax record",
        "operationId": "deleteFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of a fax",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Fax deleted successfully"
          },
          "404": {
            "description": "Fax not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/faxes/{id}/actions/cancel": {
      "post": {
        "summary": "Cancel a fax",
        "description": "Cancel an outbound fax that is queued or sending",
        "operationId": "cancelFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of a fax",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Cancel request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Fax not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/faxes/{id}/actions/refresh": {
      "post": {
        "summary": "Refresh a fax",
        "description": "Refresh an inbound fax's media URL when it has expired",
        "operationId": "refreshFax",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of a fax",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Fax not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fax_applications": {
      "get": {
        "summary": "List all fax applications",
        "description": "Retrieve a list of fax applications",
        "operationId": "listFaxApplications",
        "tags": [
          "Fax Applications"
        ],
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            }
          },
          {
            "name": "filter[application_name][contains]",
            "in": "query",
            "description": "Filter by application name",
            "schema": {
              "type": "string",
              "minLength": 3
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by field (prefix with - for descending)",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "application_name",
                "-application_name",
                "active",
                "-active"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FaxApplication"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a fax application",
        "description": "Create a new fax application",
        "operationId": "createFaxApplication",
        "tags": [
          "Fax Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFaxApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fax application created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FaxApplication"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Fax": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "record_type": {
            "type": "string",
            "enum": [
              "fax"
            ]
          },
          "connection_id": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "from": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "to": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "media.processed",
              "originated",
              "sending",
              "delivered",
              "failed",
              "initiated",
              "receiving",
              "media.processing",
              "received"
            ]
          },
          "quality": {
            "type": "string",
            "enum": [
              "normal",
              "high",
              "very_high",
              "ultra_light",
              "ultra_dark"
            ]
          },
          "media_url": {
            "type": "string",
            "nullable": true
          },
          "stored_media_url": {
            "type": "string",
            "nullable": true
          },
          "preview_url": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendFaxRequest": {
        "type": "object",
        "required": [
          "connection_id",
          "from",
          "to"
        ],
        "properties": {
          "connection_id": {
            "type": "string",
            "description": "Connection ID used to send the fax"
          },
          "from": {
            "type": "string",
            "description": "Sender's phone number in E.164 format"
          },
          "to": {
            "type": "string",
            "description": "Recipient's phone number in E.164 format or SIP URI"
          },
          "media_url": {
            "type": "string",
            "description": "URL to PDF file for fax content"
          },
          "media_name": {
            "type": "string",
            "description": "Previously uploaded media identifier"
          },
          "from_display_name": {
            "type": "string",
            "maxLength": 128
          },
          "quality": {
            "type": "string",
            "enum": [
              "normal",
              "high",
              "very_high",
              "ultra_light",
              "ultra_dark"
            ],
            "default": "high"
          },
          "t38_enabled": {
            "type": "boolean",
            "default": true
          },
          "monochrome": {
            "type": "boolean",
            "default": false
          },
          "black_threshold": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 95
          },
          "store_media": {
            "type": "boolean",
            "default": false
          },
          "store_preview": {
            "type": "boolean",
            "default": false
          },
          "preview_format": {
            "type": "string",
            "enum": [
              "pdf",
              "tiff"
            ],
            "default": "tiff"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "client_state": {
            "type": "string",
            "description": "Base-64 encoded state for webhooks"
          }
        }
      },
      "FaxApplication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "record_type": {
            "type": "string",
            "enum": [
              "fax_application"
            ]
          },
          "application_name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "webhook_event_url": {
            "type": "string",
            "format": "uri"
          },
          "webhook_event_failover_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "webhook_timeout_secs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateFaxApplicationRequest": {
        "type": "object",
        "required": [
          "application_name",
          "webhook_event_url"
        ],
        "properties": {
          "application_name": {
            "type": "string"
          },
          "webhook_event_url": {
            "type": "string",
            "format": "uri"
          },
          "active": {
            "type": "boolean",
            "default": true
          },
          "webhook_event_failover_url": {
            "type": "string",
            "format": "uri"
          },
          "webhook_timeout_secs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total_pages": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          },
          "page_number": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "title"
              ],
              "properties": {
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Fax Applications"
    },
    {
      "name": "Faxes"
    }
  ]
}
