{
  "openapi": "3.0.3",
  "info": {
    "title": "API.Bible",
    "version": "1.0.0",
    "description": "API.Bible by American Bible Society. Access nearly 1500 Bible versions across 1000+ languages. Search, browse books, chapters, verses, passages, and sections. Also supports audio Bibles.",
    "x-jentic-source-url": "https://docs.api.bible",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.scripture.api.bible",
      "description": "API.Bible Production Server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Bibles",
      "description": "Fetch Bibles and metadata"
    },
    {
      "name": "Books",
      "description": "Fetch Books for a Bible"
    },
    {
      "name": "Chapters",
      "description": "Fetch Chapters for a Bible"
    },
    {
      "name": "Sections",
      "description": "Fetch Sections for a Bible (Experimental)"
    },
    {
      "name": "Passages",
      "description": "Fetch a Passage for a Bible"
    },
    {
      "name": "Verses",
      "description": "Fetch Verses for a Bible"
    },
    {
      "name": "Search",
      "description": "Search by keyword or reference"
    },
    {
      "name": "Audio Bibles",
      "description": "Fetch Audio Bibles and metadata"
    },
    {
      "name": "Audio Books",
      "description": "Fetch Books for a Audio Bible"
    },
    {
      "name": "Audio Chapters",
      "description": "Fetch Chapters for a Audio Bible"
    }
  ],
  "paths": {
    "/v1/bibles": {
      "get": {
        "operationId": "getBibles",
        "summary": "Gets an array of `Bible` objects authorized for current API Key\n",
        "description": "Gets an array of `Bible` objects authorized for current API Key\n",
        "tags": [
          "Bibles"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Not authorized to retrieve any Bibles or invalid language_code provided"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Key provided."
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "ISO 639-3 three digit language code used to filter results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abbreviation",
            "in": "query",
            "required": false,
            "description": "Bible abbreviation to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Bible name to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma separated list of Bible Ids to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-full-details",
            "in": "query",
            "required": false,
            "description": "Boolean to include full Bible details (e.g. copyright and promo info)",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}": {
      "get": {
        "operationId": "getBible",
        "summary": "Gets a single `Bible` for a given `bibleId`\n",
        "description": "Gets a single `Bible` for a given `bibleId`\n",
        "tags": [
          "Bibles"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve this Bible"
          },
          "404": {
            "description": "Bible not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible to be fetched",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/books": {
      "get": {
        "operationId": "getBooks",
        "summary": "Gets an array of `Book` objects for a given `bibleId`\n",
        "description": "Gets an array of `Book` objects for a given `bibleId`\n",
        "tags": [
          "Books"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Books for this Bible"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Book to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-chapters",
            "in": "query",
            "required": false,
            "description": "Boolean indicating if an array of chapter summaries should be\nincluded in the results. Defaults to false.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include-chapters-and-sections",
            "in": "query",
            "required": false,
            "description": "Boolean indicating if an array of chapter summaries and an array\nof sections should be included in the results. Defaults to false.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/books/{bookId}": {
      "get": {
        "operationId": "getBook",
        "summary": "Gets a single `Book` object for a given `bibleId` and `bookId`\n",
        "description": "Gets a single `Book` object for a given `bibleId` and `bookId`\n",
        "tags": [
          "Books"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Books for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Book to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "path",
            "required": true,
            "description": "Id of the Book to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-chapters",
            "in": "query",
            "required": false,
            "description": "Boolean indicating if an array of chapter summaries should be\nincluded in the results. Defaults to false.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/books/{bookId}/chapters": {
      "get": {
        "operationId": "getChapters",
        "summary": "Gets an array of `Chapter` objects for a given `bibleId` and `bookId`\n",
        "description": "Gets an array of `Chapter` objects for a given `bibleId` and `bookId`\n",
        "tags": [
          "Chapters"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Chapters for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Chapters to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "path",
            "required": true,
            "description": "Id of the Book whose Chapters to fetch",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/chapters/{chapterId}": {
      "get": {
        "operationId": "getChapter",
        "summary": "Gets a single `Chapter` object for a given `bibleId` and `chapterId`.\nThis Chapt",
        "description": "Gets a single `Chapter` object for a given `bibleId` and `chapterId`.\nThis Chapter object also includes an `content` property with all verses for the Chapter.\n",
        "tags": [
          "Chapters"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Chapters for this Bible"
          },
          "404": {
            "description": "Chapter not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Chapter to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapterId",
            "in": "path",
            "required": true,
            "description": "Id of the Chapter to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "query",
            "required": false,
            "description": "Content type to be returned in the content property.  Supported values are `html` (default), `json` (beta), and `text` (beta)",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "json",
                "text"
              ],
              "default": "html"
            }
          },
          {
            "name": "include-notes",
            "in": "query",
            "required": false,
            "description": "Include footnotes in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-titles",
            "in": "query",
            "required": false,
            "description": "Include section titles in content",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-chapter-numbers",
            "in": "query",
            "required": false,
            "description": "Include chapter numbers in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-verse-numbers",
            "in": "query",
            "required": false,
            "description": "Include verse numbers in content.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-verse-spans",
            "in": "query",
            "required": false,
            "description": "Include spans that wrap verse numbers and verse text for bible content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "parallels",
            "in": "query",
            "required": false,
            "description": "Comma delimited list of bibleIds to include",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/passages/{passageId}": {
      "get": {
        "operationId": "getPassage",
        "summary": "Gets a `Passage` object for a given `bibleId` and `passageId`. This\nPassage obje",
        "description": "Gets a `Passage` object for a given `bibleId` and `passageId`. This\nPassage object also includes an `content` property with all verses\ncorresponding to the passageId.\nThe `passageId` parameter can represent a chapter, verse, or range of verses (i.e. MAT.1.12-MAT.1.20).\n",
        "tags": [
          "Passages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Passage not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible for passage",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passageId",
            "in": "path",
            "required": true,
            "description": "String reference id for the requested passage.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "query",
            "required": false,
            "description": "Content type to be returned in the content property.  Supported values are `html` (default), `json` (beta), and `text` (beta)",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "json",
                "text"
              ],
              "default": "html"
            }
          },
          {
            "name": "include-notes",
            "in": "query",
            "required": false,
            "description": "Include footnotes in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-titles",
            "in": "query",
            "required": false,
            "description": "Include section titles in content",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-chapter-numbers",
            "in": "query",
            "required": false,
            "description": "Include chapter numbers in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-verse-numbers",
            "in": "query",
            "required": false,
            "description": "Include verse numbers in content.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-verse-spans",
            "in": "query",
            "required": false,
            "description": "Include spans that wrap verse numbers and verse text for bible content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "parallels",
            "in": "query",
            "required": false,
            "description": "Comma delimited list of bibleIds to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "use-org-id",
            "in": "query",
            "required": false,
            "description": "Use the supplied id(s) to match the verseOrgId instead of the verseId",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/books/{bookId}/sections": {
      "get": {
        "operationId": "getBookSections",
        "summary": "Gets an array of `Section` objects for a given `bibleId` and `bookId`\n",
        "description": "Gets an array of `Section` objects for a given `bibleId` and `bookId`\n",
        "tags": [
          "Sections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Sections to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "path",
            "required": true,
            "description": "Id of the Book whose Sections to fetch",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/chapters/{chapterId}/sections": {
      "get": {
        "operationId": "getChapterSections",
        "summary": "Gets an array of `Section` objects for a given `bibleId` and `chapterId`\n",
        "description": "Gets an array of `Section` objects for a given `bibleId` and `chapterId`\n",
        "tags": [
          "Sections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Sections to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapterId",
            "in": "path",
            "required": true,
            "description": "Id of the Chapter whose Sections to fetch",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/sections/{sectionId}": {
      "get": {
        "operationId": "getSection",
        "summary": "Gets a single `Section` object for a given `bibleId` and `sectionId`. This Secti",
        "description": "Gets a single `Section` object for a given `bibleId` and `sectionId`. This Section\nobject also includes an `content` property with all verses for the Section.\n",
        "tags": [
          "Sections"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Section not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Section to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "description": "Id of the Section to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "query",
            "required": false,
            "description": "Content type to be returned in the content property.  Supported values are `html` (default), `json` (beta), and `text` (beta)",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "json",
                "text"
              ],
              "default": "html"
            }
          },
          {
            "name": "include-notes",
            "in": "query",
            "required": false,
            "description": "Include footnotes in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-titles",
            "in": "query",
            "required": false,
            "description": "Include section titles in content",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-chapter-numbers",
            "in": "query",
            "required": false,
            "description": "Include chapter numbers in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-verse-numbers",
            "in": "query",
            "required": false,
            "description": "Include verse numbers in content.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-verse-spans",
            "in": "query",
            "required": false,
            "description": "Include spans that wrap verse numbers and verse text for bible content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "parallels",
            "in": "query",
            "required": false,
            "description": "Comma delimited list of bibleIds to include",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/chapters/{chapterId}/verses": {
      "get": {
        "operationId": "getVerses",
        "summary": "Gets an array of `Verse` objects for a given `bibleId` and `chapterId`\n",
        "description": "Gets an array of `Verse` objects for a given `bibleId` and `chapterId`\n",
        "tags": [
          "Verses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Verses to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapterId",
            "in": "path",
            "required": true,
            "description": "Id of the Chapter whose Verses to fetch",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/verses/{verseId}": {
      "get": {
        "operationId": "getVerse",
        "summary": "Gets a `Verse` object for a given `bibleId` and `verseId`. This\nVerse object als",
        "description": "Gets a `Verse` object for a given `bibleId` and `verseId`. This\nVerse object also includes an `content` property with the verse\ncorresponding to the verseId.\n",
        "tags": [
          "Verses"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Passage not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible for passage",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verseId",
            "in": "path",
            "required": true,
            "description": "String reference id for the requested verse.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "query",
            "required": false,
            "description": "Content type to be returned in the content property.  Supported values are `html` (default), `json` (beta), and `text` (beta)",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "json",
                "text"
              ],
              "default": "html"
            }
          },
          {
            "name": "include-notes",
            "in": "query",
            "required": false,
            "description": "Include footnotes in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-titles",
            "in": "query",
            "required": false,
            "description": "Include section titles in content",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-chapter-numbers",
            "in": "query",
            "required": false,
            "description": "Include chapter numbers in content",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include-verse-numbers",
            "in": "query",
            "required": false,
            "description": "Include verse numbers in content.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include-verse-spans",
            "in": "query",
            "required": false,
            "description": "Include spans that wrap verse numbers and verse text for bible content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "parallels",
            "in": "query",
            "required": false,
            "description": "Comma delimited list of bibleIds to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "use-org-id",
            "in": "query",
            "required": false,
            "description": "Use the supplied id(s) to match the verseOrgId instead of the verseId",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ]
      }
    },
    "/v1/bibles/{bibleId}/search": {
      "get": {
        "operationId": "searchBible",
        "summary": "Gets search results for a given `bibleId` and query string.  Searches\nwill match",
        "description": "Gets search results for a given `bibleId` and query string.  Searches\nwill match all verses with the list of keywords provided in the query string.\nOrder of the keywords does not matter. However all keywords must be\npresent in a verse for it to be considered a match.\nThe total number of results returned from a search can be limited by populating the `limit`\nattribute in the query string with a non-negative integer value.  If no\nlimit value is provide a default of 10 is used.\n`offset` can be used to traverse paginated results.  So for example if you are using\nthe default `limit` of 10, using an `offset` of 10 will return the second page of results,\nnamely results 11-20.\nThe `text` property of each verse object contains only the verse text.  It does not\ncontain footnote references. However, those can be queried directly using the\n`/bibles/{bibleId}/verses/{verseId}` endpoint.\n",
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Sections for this Bible"
          },
          "404": {
            "description": "Section not found"
          }
        },
        "parameters": [
          {
            "name": "bibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search keywords or passage reference.  Supported wildcards are * and ?.  \nThe * wildcard matches any character sequence (e.g. searching for \"wo*d\" finds text such as \"word\", \"world\", and \"worshipped\").  \nThe ? wildcard matches any matches any single character (e.g. searching for \"l?ve\" finds text such as \"live\" and \"love\").\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Integer limit for how many matching results to return. Default is 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset for search results. Used to paginate results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order of results.  Supported values are `relevance` (default), `canonical` and `reverse-canonical`",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "canonical",
                "reverse-canonical"
              ],
              "default": "relevance"
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "One or more, comma seperated, passage ids (book, chapter, verse) which the search will be limited to.  (i.e. gen.1,gen.5 or gen-num or gen.1.1-gen.3.5)\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fuzziness",
            "in": "query",
            "required": false,
            "description": "Sets the fuzziness of a search to account for misspellings. Values can be 0, 1, 2, or AUTO. Defaults to AUTO which varies depending on the\n",
            "schema": {
              "type": "string",
              "enum": [
                "AUTO",
                "0",
                "1",
                "2"
              ]
            }
          }
        ]
      }
    },
    "/v1/audio-bibles": {
      "get": {
        "operationId": "getAudioBibles",
        "summary": "Gets an array of audio `Bible` objects authorized for current API Key\n",
        "description": "Gets an array of audio `Bible` objects authorized for current API Key\n",
        "tags": [
          "Bibles"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Not authorized to retrieve any Bibles or invalid language_code provided"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Key provided."
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "ISO 639-3 three digit language code used to filter results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abbreviation",
            "in": "query",
            "required": false,
            "description": "Bible abbreviation to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Bible name to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma separated list of Bible Ids to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bibleId",
            "in": "query",
            "required": false,
            "description": "bibleId of related text Bible used to filter audio bible results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-full-details",
            "in": "query",
            "required": false,
            "description": "Boolean to include full Bible details (e.g. copyright and promo info)",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v1/audio-bibles/{audioBibleId}": {
      "get": {
        "operationId": "getAudioBible",
        "summary": "Gets a single audio `Bible` for a given `audioBibleId`\n",
        "description": "Gets a single audio `Bible` for a given `audioBibleId`\n",
        "tags": [
          "Bibles"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve this Bible"
          },
          "404": {
            "description": "Bible not found"
          }
        },
        "parameters": [
          {
            "name": "audioBibleId",
            "in": "path",
            "required": true,
            "description": "Id of audio Bible to be fetched",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/audio-bibles/{audioBibleId}/books": {
      "get": {
        "operationId": "getAudioBooks",
        "summary": "Gets an array of `Book` objects for a given `audioBibleId`\n",
        "description": "Gets an array of `Book` objects for a given `audioBibleId`\n",
        "tags": [
          "Books"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Books for this Bible"
          }
        },
        "parameters": [
          {
            "name": "audioBibleId",
            "in": "path",
            "required": true,
            "description": "Id of audio Bible whose Book to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-chapters",
            "in": "query",
            "required": false,
            "description": "Boolean indicating if an array of chapter summaries should be\nincluded in the results. Defaults to false.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include-chapters-and-sections",
            "in": "query",
            "required": false,
            "description": "Boolean indicating if an array of chapter summaries and an array\nof sections should be included in the results. Defaults to false.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v1/audio-bibles/{audioBibleId}/books/{bookId}": {
      "get": {
        "operationId": "getAudioBook",
        "summary": "Gets a single `Book` object for a given `audioBibleId` and `bookId`\n",
        "description": "Gets a single `Book` object for a given `audioBibleId` and `bookId`\n",
        "tags": [
          "Books"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Books for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "audioBibleId",
            "in": "path",
            "required": true,
            "description": "Id of audio Bible whose Book to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "path",
            "required": true,
            "description": "Id of the Book to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-chapters",
            "in": "query",
            "required": false,
            "description": "Boolean indicating if an array of chapter summaries should be\nincluded in the results. Defaults to false.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v1/audio-bibles/{audioBibleId}/books/{bookId}/chapters": {
      "get": {
        "operationId": "getAudioChapters",
        "summary": "Gets an array of `Chapter` objects for a given `audioBibleId` and `bookId`\n",
        "description": "Gets an array of `Chapter` objects for a given `audioBibleId` and `bookId`\n",
        "tags": [
          "Chapters"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Chapters for this Bible"
          },
          "404": {
            "description": "Book not found"
          }
        },
        "parameters": [
          {
            "name": "audioBibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Chapters to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "path",
            "required": true,
            "description": "Id of the Book whose Chapters to fetch",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/audio-bibles/{audioBibleId}/chapters/{chapterId}": {
      "get": {
        "operationId": "getAudioChapter",
        "summary": "Gets a single `Chapter` object for a given `audioBibleId` and `chapterId`.\nThis ",
        "description": "Gets a single `Chapter` object for a given `audioBibleId` and `chapterId`.\nThis AudioChapter object also includes an `resourceUrl` property with a HTTP URL\nto the mp3 audio resource for the chapter.  The `resourceUrl` is unique per request\nand expires in XX minutes.  The `expiresAt` property provides the Unix time value of\n`resourceUrl` expiration.\n",
        "tags": [
          "Chapters"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized for API access.  Missing or Invalid API Token provided."
          },
          "403": {
            "description": "Not authorized to retrieve Chapters for this Bible"
          },
          "404": {
            "description": "Chapter not found"
          }
        },
        "parameters": [
          {
            "name": "audioBibleId",
            "in": "path",
            "required": true,
            "description": "Id of Bible whose Chapter to fetch",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapterId",
            "in": "path",
            "required": true,
            "description": "Id of the Chapter to fetch",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "api-key",
        "in": "header",
        "description": "API key for authentication. Register at docs.api.bible to get your key."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
