{
  "openapi": "3.1.0",
  "info": {
    "title": "Katika Digital Escrow Platform",
    "description": " The **Katika Digital Escrow Platform** provides a secure way to manage peer-to-peer transactions in the Cameroonian market. \n It holds funds in escrow until delivery is confirmed, offering built-in dispute resolution and Mobile Money payouts.\n\n ### \ud83d\udd10 Security & Authentication\n *   **OAuth2 (Client Credentials):** Used for machine-to-machine communication.\n *   **JWT (RS256):** All requests must include a valid Bearer token.\n *   **MFA (TOTP):** Enhanced security for user accounts via 6-digit verification codes.\n *   **HMAC-SHA256:** Webhooks and verification codes are secured via timing-safe HMAC validation.\n\n ### \ud83d\ude80 Key Business Flows\n 1.  **Escrow Lock:** Funds are frozen in the buyer's wallet upon payment confirmation via webhook.\n 2.  **QR Release:** Sellers are paid when the buyer scans a unique QR verification code.\n 3.  **Payouts:** Funds can be withdrawn to Mobile Money (Campay/Monetbil) after OTP verification.\n 4.  **Dispute Management:** Integrated arbitration system for handling failed deliveries or disagreements.\n\n ### \ud83d\udee0\ufe0f Developer Resources\n *   **Base Currency:** All amounts are in **XAF (FCFA)**.\n *   **Environments:** Use the `Sandbox` server for testing integration without real funds.\n *   **Idempotency:** Webhooks use a dual-layer deduplication strategy (Redis + PostgreSQL).\n *   **Error Handling:** Standard HTTP status codes are used. 422 is returned for business rule violations.\n\n ---\n *Powered by [Bytesmind Engineering](https://bytesmind.tech)*\n ",
    "contact": {
      "name": "Bytesmind Engineering Support",
      "url": "https://bytesmind.tech",
      "email": "dev@bytesmind.tech"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/bytesmind/katika-digital-escrow-platform/1.0.0"
  },
  "externalDocs": {
    "description": "Katika Project Documentation",
    "url": "https://github.com/bytesmind/katika/docs"
  },
  "servers": [
    {
      "url": "https://sandbox.katika.cm",
      "description": "Sandbox / Testing"
    },
    {
      "url": "https://api.katika.cm",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2 Client Credentials": [
        "escrow.read",
        "escrow.write",
        "payout.execute"
      ]
    }
  ],
  "tags": [
    {
      "name": "Escrow",
      "description": "Escrow transaction management \u2014 verification codes and fund release"
    },
    {
      "name": "Wallet",
      "description": "Authenticated user's wallet balance and movement history"
    },
    {
      "name": "Verification Codes",
      "description": "QR code scanning by buyer to finalize the transaction"
    },
    {
      "name": "Admin \u2014 Users",
      "description": "User management for administrators"
    },
    {
      "name": "User Profile",
      "description": "Read and update the authenticated user's profile"
    },
    {
      "name": "Admin \u2014 Dashboard",
      "description": "Platform-level statistics for administrators"
    },
    {
      "name": "Admin \u2014 Disputes",
      "description": "Platform-wide dispute management for administrators"
    },
    {
      "name": "MFA",
      "description": "Multi-Factor Authentication \u2014 TOTP enrollment, confirmation, and management"
    },
    {
      "name": "Admin \u2014 Developer Portal",
      "description": "Admin management of developer applications"
    },
    {
      "name": "Admin \u2014 Transactions",
      "description": "Platform-wide transaction management"
    },
    {
      "name": "Authentication",
      "description": "User registration and login"
    },
    {
      "name": "Webhooks",
      "description": "Payment provider webhook callbacks \u2014 HMAC-SHA256 authenticated"
    },
    {
      "name": "Disputes",
      "description": "Dispute management \u2014 open, resolve, and submit evidence"
    },
    {
      "name": "Developer Portal",
      "description": "Register and manage API applications. Use API keys with `X-Api-Key` header to authenticate your backend."
    },
    {
      "name": "Support \u2014 Disputes",
      "description": "Dispute handling for support agents and supervisors"
    },
    {
      "name": "Payouts",
      "description": "Mobile Money withdrawal \u2014 request, OTP verification, and submission"
    },
    {
      "name": "Developer Portal",
      "description": "Register and manage API applications, API keys, and webhook configuration"
    }
  ],
  "paths": {
    "/api/payouts": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "List payouts",
        "description": "Returns a paginated list of the authenticated user's payout requests.",
        "operationId": "list",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Comma-separated statuses, e.g. PENDING,PROCESSING",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated payout list",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponsePayoutRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponsePayoutRequestResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Request a payout",
        "description": "Creates a payout request and sends a 6-digit OTP to the user for verification. Rate-limited.",
        "operationId": "createPayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payout created, OTP sent",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Cannot create payouts for other users",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient funds",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payouts/{payoutRequestId}/submit": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Submit payout for processing",
        "description": "Debits the wallet and submits the payout to the Mobile Money provider. Requires prior OTP validation.",
        "operationId": "submitPayout",
        "parameters": [
          {
            "name": "payoutRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout submitted to provider",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payout request not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "422": {
            "description": "OTP not validated or insufficient funds",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payouts/{payoutRequestId}/otp": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Validate payout OTP",
        "description": "Validates the 6-digit OTP code. Rate-limited to 3 attempts per 5 minutes.",
        "operationId": "validateOtp",
        "parameters": [
          {
            "name": "payoutRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtpValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OTP validated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payout request not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or expired OTP",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many OTP attempts",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mfa/disable": {
      "post": {
        "tags": [
          "MFA"
        ],
        "summary": "Disable MFA",
        "description": "Deactivates MFA on the account. Requires a valid TOTP code or backup code for verification.",
        "operationId": "disableMfa",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaConfirmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "MFA disabled",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Invalid TOTP or backup code",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/mfa/confirm": {
      "post": {
        "tags": [
          "MFA"
        ],
        "summary": "Confirm MFA enrollment",
        "description": "Verifies the first TOTP code to activate MFA. Step 2 of enrollment \u2014 confirms the user has scanned the QR code.",
        "operationId": "confirmMfaSetup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaConfirmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "MFA activated or code invalid",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow": {
      "get": {
        "tags": [
          "Escrow"
        ],
        "summary": "List escrow transactions",
        "description": "Returns a paginated list of transactions where the authenticated user is buyer or seller. Filter by one or more statuses (comma-separated).",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated transaction list",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseEscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseEscrowTransactionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Escrow"
        ],
        "summary": "Initialize an escrow transaction",
        "description": "Creates a new escrow transaction in INITIATED status. The authenticated user is the seller; the buyer is identified by their registered phone number. Platform fee is 3% of grossAmount (rounded down). Use idempotencyKey to safely retry on network failures \u2014 the same key always returns the same transaction.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EscrowCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Escrow transaction created (INITIATED)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (invalid phone, amount out of range, non-integer amount)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Katika account found for the buyer phone number",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "409": {
            "description": "Seller and buyer cannot be the same user",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/{transactionId}/verification-code": {
      "post": {
        "tags": [
          "Escrow"
        ],
        "summary": "Generate or regenerate a QR verification code",
        "description": "Seller-only. Generates a new HMAC-SHA256 verification code for the buyer to finalize the transaction. Allowed from LOCKED, SHIPPED, or DELIVERED status. Any previously issued QR code is immediately invalidated.",
        "operationId": "generateVerificationCode",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification code generated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Only the seller may generate the QR code",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Transaction is not in LOCKED, SHIPPED, or DELIVERED status",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/{transactionId}/ship": {
      "post": {
        "tags": [
          "Escrow"
        ],
        "summary": "Mark transaction as shipped",
        "description": "Seller confirms shipment. Transitions the transaction from LOCKED to SHIPPED, allowing the buyer to scan the QR code upon delivery.",
        "operationId": "ship",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction marked as SHIPPED",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Only the seller may call this endpoint",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Transaction is not in LOCKED status",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/{transactionId}/release": {
      "post": {
        "tags": [
          "Escrow"
        ],
        "summary": "Release escrow funds",
        "description": "Validates the QR verification code and releases frozen funds from buyer to seller. Transitions the transaction to RELEASED.",
        "operationId": "release",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EscrowReleaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Funds released to seller",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid verification code or wrong transaction state",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/{transactionId}/deliver": {
      "post": {
        "tags": [
          "Escrow"
        ],
        "summary": "Mark transaction as delivered",
        "description": "Buyer confirms that the item has been received. Transitions the transaction from SHIPPED to DELIVERED. Only the buyer of this transaction may call this endpoint.",
        "operationId": "deliver",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction marked as DELIVERED",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Only the buyer may call this endpoint",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Transaction is not in SHIPPED status",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/{transactionId}/cancel": {
      "post": {
        "tags": [
          "Escrow"
        ],
        "summary": "Cancel an escrow transaction",
        "description": "Cancel a transaction before it is shipped. INITIATED \u2192 CANCELLED (no wallet action). LOCKED \u2192 REFUNDED (frozen funds returned to buyer). Both buyer and seller may cancel.",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction cancelled or refunded",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Only a transaction participant may cancel",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Transaction cannot be cancelled in its current state",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/verification-code/scan": {
      "post": {
        "tags": [
          "Verification Codes"
        ],
        "summary": "Scan a QR verification code",
        "description": "Buyer submits the scanned QR code to finalize the transaction. Validates the HMAC-SHA256 code, transitions SHIPPED\u2192DELIVERED if needed, then releases the escrow funds (DELIVERED\u2192RELEASED) atomically.",
        "operationId": "scanVerificationCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerificationCodeScanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction finalized and funds released",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Only the buyer of this transaction may scan the QR code",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found or QR code expired",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid, exhausted, or already used verification code",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "List disputes",
        "description": "Returns a paginated list of disputes where the authenticated user is initiator or respondent.",
        "operationId": "list_2",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated dispute list",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDisputeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseDisputeResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Open a dispute",
        "description": "Opens a dispute on an escrow transaction. Transitions the transaction to DISPUTED and posts a system notification in the dispute room.",
        "operationId": "openDispute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisputeOpenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Dispute opened",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Cannot open disputes for other users",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "409": {
            "description": "Active dispute already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Transaction state does not allow disputes",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/disputes/{disputeId}/resolve": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Resolve a dispute",
        "description": "Resolves a dispute with one of 5 resolution types (FULL_REFUND_BUYER, RELEASE_TO_SELLER, PARTIAL_REFUND_BUYER, SPLIT_50_50, NO_ACTION). Restricted to SUPPORT, ADMIN, and SUPERVISOR roles.",
        "operationId": "resolveDispute",
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisputeResolveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dispute resolved, funds distributed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Only support staff can resolve disputes",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dispute not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/disputes/{disputeId}/evidence": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Upload dispute evidence",
        "description": "Uploads a file as evidence for a dispute. Supports images (JPEG, PNG, GIF, WebP), PDF, and plain text. Max 10 MB. File type is validated by magic bytes, not client Content-Type.",
        "operationId": "addEvidence",
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/DisputeEvidenceRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file",
                  "request"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evidence uploaded and broadcast to dispute room",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeEvidenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file type or size exceeds 10 MB",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeEvidenceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeEvidenceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dispute not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeEvidenceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/disputes/{disputeId}/arbitration/submit": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Submit arbitration fee",
        "description": "Pay the court submission fee for a dispute in AWAITING_ARBITRATION_PAYMENT. Once both parties have paid, the dispute is automatically referred to the court.",
        "operationId": "submitArbitrationFee",
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fee recorded. If both parties have now paid, dispute is referred to court.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "409": {
            "description": "Already paid, deadline passed, or wrong status",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/developer/applications": {
      "get": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "List my developer applications",
        "operationId": "listMyApplications",
        "responses": {
          "200": {
            "description": "List of applications owned by the authenticated user",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Register a new developer application",
        "description": "Creates a developer application and generates the **first API key** (returned once in `initialApiKey.secret`).\n\n**For clients with their own authentication system:** use the `API_KEY` strategy (default).\nYour backend includes the key as `X-Api-Key: ktk_live_...` on every request to Katika.\nYour users authenticate in your own system; Katika sees your application identity.\n\n**Rate limits by tier:**\n| Tier         | Per Hour | Per Day   |\n|--------------|----------|-----------|\n| FREE         | 100      | 1 000     |\n| BASIC        | 500      | 10 000    |\n| PROFESSIONAL | 2 000    | 100 000   |\n| ENTERPRISE   | 10 000   | unlimited |\n\nContact support to upgrade your tier.\n",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Application created \u2014 contains the initial API key secret (shown once)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or terms not accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/developer/applications/{appId}/webhook-secret": {
      "post": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Regenerate webhook signing secret",
        "description": "Generates a new webhook signing secret for your application.\nUse this secret to verify that incoming webhook events originate from Katika by checking the\n`X-Katika-Signature` header: `HMAC-SHA256(secret, request_body)`.\nThe secret is shown **once** \u2014 store it securely.\n",
        "operationId": "regenerateWebhookSecret",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New webhook secret generated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecretResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/developer/applications/{appId}/keys": {
      "get": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "List API keys for an application",
        "description": "Returns all keys (active and inactive). The `secret` field is never returned here.",
        "operationId": "listApiKeys",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Create a new API key",
        "description": "Generates a new API key for the application. The `secret` field in the response is shown **once** \u2014 store it securely.",
        "operationId": "createApiKey",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created \u2014 contains the secret (shown once)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Maximum number of active keys reached (10 per application)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/developer/applications/{appId}/keys/{keyId}/rotate": {
      "post": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Rotate an API key",
        "description": "Immediately revokes the existing key and generates a replacement with the same label and environment.\nThe new `secret` is shown **once** in the response \u2014 the old key stops working immediately.\n",
        "operationId": "rotateApiKey",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "New key created \u2014 contains the new secret (shown once)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application or key not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Confirmation de r\u00e9initialisation de mot de passe",
        "description": "Valide le token re\u00e7u par email et met \u00e0 jour le mot de passe.",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Mot de passe mis \u00e0 jour"
          },
          "400": {
            "description": "Token invalide, expir\u00e9 ou mots de passe non concordants"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a new user",
        "description": "Creates a new user account with phone number, name, password, and optional email. A wallet is automatically created.",
        "operationId": "register_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserRegistrationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Phone number already registered",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Demande de r\u00e9initialisation de mot de passe",
        "description": "Envoie un lien de r\u00e9initialisation par email. R\u00e9ponse identique qu'un compte existe ou non (anti-\u00e9num\u00e9ration).",
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email envoy\u00e9 si le compte existe"
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get my profile",
        "description": "Returns the authenticated user's profile. Sensitive fields (phone, email, CNI) are masked.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Profile returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Profile"
        ],
        "summary": "Update my profile",
        "description": "Partial update \u2014 only provided (non-null) fields are changed. fullName, email, and cniNumber are updatable here. Phone change requires OTP verification (separate endpoint). Password change requires current password (separate endpoint).",
        "operationId": "updateMe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already used by another account",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me/password": {
      "patch": {
        "tags": [
          "User Profile"
        ],
        "summary": "Change my password",
        "description": "Requires the current password for verification. New password must differ from the current one.",
        "operationId": "updatePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Password changed"
          },
          "400": {
            "description": "Passwords do not match or validation error"
          },
          "401": {
            "description": "Authentication required or wrong current password"
          },
          "422": {
            "description": "New password is the same as current"
          }
        }
      }
    },
    "/api/developer/applications/{appId}": {
      "get": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Get a developer application by ID",
        "operationId": "getApplication",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found or not owned by you",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Update a developer application",
        "description": "Partial update \u2014 only provided fields are changed.",
        "operationId": "updateApplication",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found or not owned by you",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/wallet": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get my wallet",
        "description": "Returns the authenticated user's wallet: available balance, frozen amount (in escrow), and total.",
        "operationId": "getMyWallet",
        "responses": {
          "200": {
            "description": "Wallet returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found \u2014 contact support",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/wallet/movements": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "List wallet movements",
        "description": "Returns a paginated, reverse-chronological list of wallet movements. Optionally filter by one or more movement types (comma-separated). Each entry includes before/after balance snapshots for full auditability.",
        "operationId": "getMovements",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated movement types, e.g. ESCROW_FREEZE,ESCROW_CREDIT",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated movement list",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWalletMovementResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWalletMovementResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWalletMovementResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payouts/{payoutId}": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get payout by ID",
        "description": "Returns a single payout request. Must belong to the authenticated user.",
        "operationId": "getById",
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payout not found or access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mfa/status": {
      "get": {
        "tags": [
          "MFA"
        ],
        "summary": "Get MFA status",
        "description": "Returns whether MFA is enabled for the authenticated user.",
        "operationId": "getMfaStatus",
        "responses": {
          "200": {
            "description": "MFA status returned",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/mfa/setup": {
      "get": {
        "tags": [
          "MFA"
        ],
        "summary": "Initiate MFA setup",
        "description": "Generates a TOTP secret and returns a QR code (Base64 data URL) and backup codes. Step 1 of enrollment.",
        "operationId": "initiateMfaSetup",
        "responses": {
          "200": {
            "description": "QR code and backup codes returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MfaSetupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MfaSetupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/escrow/{transactionId}": {
      "get": {
        "tags": [
          "Escrow"
        ],
        "summary": "Get escrow transaction by ID",
        "description": "Returns the full detail of a single transaction. User must be buyer or seller.",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found or access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/disputes/{disputeId}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute by ID",
        "description": "Returns the full detail of a dispute. User must be initiator or respondent.",
        "operationId": "getById_2",
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dispute not found or access denied",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/disputes/{disputeId}/messages": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "operationId": "getMessages",
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisputeMessageResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/developer/applications/{appId}/keys/{keyId}": {
      "delete": {
        "tags": [
          "Developer Portal"
        ],
        "summary": "Revoke an API key",
        "description": "Permanently deactivates the key. This cannot be undone \u2014 create a new key if needed.",
        "operationId": "revokeApiKey",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Key revoked"
          },
          "404": {
            "description": "Application or key not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PayoutCreateRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "destinationPhone": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "enum": [
              "MTN",
              "ORANGE"
            ]
          },
          "amount": {
            "type": "number"
          },
          "provider": {
            "type": "string",
            "pattern": "^(CAMPAY|MONETBIL)$"
          }
        },
        "required": [
          "amount",
          "destinationPhone",
          "operator",
          "provider",
          "userId"
        ]
      },
      "PayoutRequestResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "reference": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "destinationPhone": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "enum": [
              "MTN",
              "ORANGE"
            ]
          },
          "amount": {
            "type": "number"
          },
          "fee": {
            "type": "number"
          },
          "netAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "OTP_SENT",
              "OTP_VALIDATED",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "failureReason": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "otpSentAt": {
            "type": "string",
            "format": "date-time"
          },
          "otpValidatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          },
          "failedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OtpValidateRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[0-9]{6}$"
          }
        },
        "required": [
          "code"
        ]
      },
      "MfaConfirmRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 6,
            "minLength": 6
          },
          "backupCode": {
            "type": "string"
          }
        }
      },
      "EscrowCreateRequest": {
        "type": "object",
        "properties": {
          "buyerPhone": {
            "type": "string",
            "pattern": "^\\+?[0-9]{9,15}$"
          },
          "grossAmount": {
            "type": "number",
            "maximum": 10000000,
            "minimum": 25
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "minLength": 0
          },
          "deliveryDeadline": {
            "type": "string",
            "format": "date-time"
          },
          "idempotencyKey": {
            "type": "string",
            "maxLength": 100,
            "minLength": 0
          },
          "provider": {
            "type": "string",
            "pattern": "^(CAMPAY|MONETBIL)$"
          }
        },
        "required": [
          "buyerPhone",
          "grossAmount",
          "provider"
        ]
      },
      "EscrowTransactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "reference": {
            "type": "string"
          },
          "buyerId": {
            "type": "string",
            "format": "uuid"
          },
          "buyerName": {
            "type": "string"
          },
          "sellerId": {
            "type": "string",
            "format": "uuid"
          },
          "sellerName": {
            "type": "string"
          },
          "grossAmount": {
            "type": "number"
          },
          "platformFee": {
            "type": "number"
          },
          "netAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "INITIATED",
              "LOCKED",
              "SHIPPED",
              "DELIVERED",
              "RELEASED",
              "DISPUTED",
              "REFUNDED",
              "CANCELLED",
              "EXPIRED"
            ]
          },
          "activeDisputeId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lockedAt": {
            "type": "string",
            "format": "date-time"
          },
          "shippedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time"
          },
          "releasedAt": {
            "type": "string",
            "format": "date-time"
          },
          "disputedAt": {
            "type": "string",
            "format": "date-time"
          },
          "refundedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EscrowReleaseRequest": {
        "type": "object",
        "properties": {
          "verificationCode": {
            "type": "string"
          }
        },
        "required": [
          "verificationCode"
        ]
      },
      "VerificationCodeScanRequest": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "transactionId"
        ]
      },
      "DisputeOpenRequest": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "initiatorId": {
            "type": "string",
            "format": "uuid"
          },
          "initiatorRole": {
            "type": "string",
            "enum": [
              "BUYER",
              "SELLER",
              "BOTH"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "NOT_RECEIVED",
              "LATE_DELIVERY",
              "WRONG_ADDRESS",
              "PARTIAL_DELIVERY",
              "NOT_AS_DESCRIBED",
              "DEFECTIVE",
              "COUNTERFEIT",
              "WRONG_ITEM",
              "QUALITY_ISSUE",
              "SERVICE_NOT_RENDERED",
              "SERVICE_INCOMPLETE",
              "SERVICE_UNSATISFACTORY",
              "SELLER_UNRESPONSIVE",
              "BUYER_UNRESPONSIVE",
              "OVERCHARGED",
              "HIDDEN_FEES",
              "SUSPECTED_FRAUD",
              "UNAUTHORIZED_TRANSACTION",
              "OTHER"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "minLength": 0
          },
          "claimedAmount": {
            "type": "number"
          }
        },
        "required": [
          "description",
          "initiatorId",
          "initiatorRole",
          "reason",
          "transactionId"
        ]
      },
      "DisputeMessageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "disputeId": {
            "type": "string",
            "format": "uuid"
          },
          "senderId": {
            "type": "string",
            "format": "uuid"
          },
          "senderName": {
            "type": "string"
          },
          "senderRole": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "messageType": {
            "type": "string"
          },
          "internalOnly": {
            "type": "boolean"
          },
          "attachmentCount": {
            "type": "integer",
            "format": "int32"
          },
          "attachmentIds": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DisputeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "reference": {
            "type": "string"
          },
          "transactionId": {
            "type": "string",
            "format": "uuid"
          },
          "transactionRef": {
            "type": "string"
          },
          "initiatorId": {
            "type": "string",
            "format": "uuid"
          },
          "initiatorRole": {
            "type": "string",
            "enum": [
              "BUYER",
              "SELLER",
              "BOTH"
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "NOT_RECEIVED",
              "LATE_DELIVERY",
              "WRONG_ADDRESS",
              "PARTIAL_DELIVERY",
              "NOT_AS_DESCRIBED",
              "DEFECTIVE",
              "COUNTERFEIT",
              "WRONG_ITEM",
              "QUALITY_ISSUE",
              "SERVICE_NOT_RENDERED",
              "SERVICE_INCOMPLETE",
              "SERVICE_UNSATISFACTORY",
              "SELLER_UNRESPONSIVE",
              "BUYER_UNRESPONSIVE",
              "OVERCHARGED",
              "HIDDEN_FEES",
              "SUSPECTED_FRAUD",
              "UNAUTHORIZED_TRANSACTION",
              "OTHER"
            ]
          },
          "description": {
            "type": "string"
          },
          "claimedAmount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPENED",
              "UNDER_REVIEW",
              "AWAITING_BUYER",
              "AWAITING_SELLER",
              "AWAITING_ARBITRATION_PAYMENT",
              "REFERRED_TO_ARBITRATION",
              "RESOLVED_BUYER",
              "RESOLVED_SELLER",
              "RESOLVED_SPLIT",
              "CLOSED_NO_ACTION",
              "CANCELLED"
            ]
          },
          "resolutionType": {
            "type": "string",
            "enum": [
              "FULL_REFUND_BUYER",
              "PARTIAL_REFUND_BUYER",
              "RELEASE_TO_SELLER",
              "PARTIAL_RELEASE_SELLER",
              "SPLIT_50_50",
              "CUSTOM_SPLIT",
              "CUSTOM_RATIO",
              "NO_ACTION",
              "DEFAULT_WIN_BUYER",
              "DEFAULT_WIN_SELLER"
            ]
          },
          "refundedToBuyer": {
            "type": "number"
          },
          "releasedToSeller": {
            "type": "number"
          },
          "arbitrationFee": {
            "type": "number"
          },
          "submissionDeadline": {
            "type": "string",
            "format": "date-time"
          },
          "buyerArbitrationFeePaid": {
            "type": "boolean"
          },
          "sellerArbitrationFeePaid": {
            "type": "boolean"
          },
          "buyerName": {
            "type": "string"
          },
          "sellerName": {
            "type": "string"
          },
          "grossAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "resolvedAt": {
            "type": "string",
            "format": "date-time"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DisputeMessageResponse"
            }
          }
        }
      },
      "DisputeResolveRequest": {
        "type": "object",
        "properties": {
          "resolutionType": {
            "type": "string",
            "enum": [
              "FULL_REFUND_BUYER",
              "PARTIAL_REFUND_BUYER",
              "RELEASE_TO_SELLER",
              "PARTIAL_RELEASE_SELLER",
              "SPLIT_50_50",
              "CUSTOM_SPLIT",
              "CUSTOM_RATIO",
              "NO_ACTION",
              "DEFAULT_WIN_BUYER",
              "DEFAULT_WIN_SELLER"
            ]
          },
          "actorId": {
            "type": "string",
            "format": "uuid"
          },
          "sellerPercent": {
            "type": "number"
          }
        },
        "required": [
          "actorId",
          "resolutionType"
        ]
      },
      "DisputeEvidenceRequest": {
        "type": "object",
        "properties": {
          "evidenceType": {
            "type": "string",
            "pattern": "IMAGE|VIDEO|DOCUMENT|RECEIPT|SCREENSHOT|OTHER"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "evidenceType"
        ]
      },
      "DisputeEvidenceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "disputeId": {
            "type": "string",
            "format": "uuid"
          },
          "uploaderId": {
            "type": "string",
            "format": "uuid"
          },
          "uploaderName": {
            "type": "string"
          },
          "uploaderRole": {
            "type": "string"
          },
          "evidenceType": {
            "type": "string"
          },
          "originalFileName": {
            "type": "string"
          },
          "storagePath": {
            "type": "string"
          },
          "fileSize": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RegisterApplicationRequest": {
        "type": "object",
        "description": "Request to register a new developer application on the Katika API platform",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name of your application",
            "example": "MyShop Integration",
            "maxLength": 100,
            "minLength": 3
          },
          "description": {
            "type": "string",
            "description": "Short description of what your application does",
            "example": "E-commerce platform connecting buyers and sellers",
            "maxLength": 1000,
            "minLength": 0
          },
          "websiteUrl": {
            "type": "string",
            "description": "Public URL of your application or product",
            "example": "https://myshop.cm",
            "maxLength": 500,
            "minLength": 0
          },
          "logoUrl": {
            "type": "string",
            "description": "URL of your application logo (PNG or SVG, recommended 128x128)",
            "example": "https://myshop.cm/logo.png",
            "maxLength": 500,
            "minLength": 0
          },
          "organizationName": {
            "type": "string",
            "description": "Legal or trading name of your organization",
            "example": "MyShop SARL",
            "maxLength": 200,
            "minLength": 0
          },
          "organizationSize": {
            "type": "string",
            "description": "Number of employees in your organization",
            "enum": [
              "1-10",
              "11-50",
              "51-200",
              "201-1000",
              "1000+"
            ],
            "pattern": "^(1-10|11-50|51-200|201-1000|1000\\+)?$"
          },
          "industry": {
            "type": "string",
            "description": "Industry sector your application serves",
            "example": "E-commerce / Marketplace",
            "maxLength": 100,
            "minLength": 0
          },
          "useCase": {
            "type": "string",
            "description": "Detailed description of how you intend to use the Katika API",
            "example": "We use Katika escrow to protect both buyers and sellers in our marketplace, ensuring funds are only released when delivery is confirmed.",
            "maxLength": 2000,
            "minLength": 0
          },
          "contactEmail": {
            "type": "string",
            "description": "Technical contact email for API-related communications",
            "example": "dev@myshop.cm"
          },
          "contactPhone": {
            "type": "string",
            "description": "Technical contact phone number (international format)",
            "example": "+237620000000",
            "maxLength": 30,
            "minLength": 0
          },
          "termsAccepted": {
            "type": "boolean",
            "description": "Must be true \u2014 indicates acceptance of Katika API Terms of Service"
          },
          "termsVersion": {
            "type": "string",
            "description": "Version of the Terms of Service you are accepting",
            "example": "v1.0",
            "maxLength": 20,
            "minLength": 0
          },
          "requestedScopes": {
            "type": "array",
            "description": "OAuth2 scopes your application requires. Allowed values:\n- escrow.read    \u2014 Read escrow transactions\n- escrow.write   \u2014 Create and update escrow transactions\n- payout.execute \u2014 Execute Mobile Money payouts\n- dispute.read   \u2014 Read disputes\n- dispute.write  \u2014 Open disputes and submit evidence\n- webhook.read   \u2014 Read webhook event logs\nDefaults to [escrow.read] if not specified.",
            "example": [
              "escrow.read",
              "escrow.write"
            ],
            "items": {
              "type": "string"
            }
          },
          "webhookUrl": {
            "type": "string",
            "description": "HTTPS endpoint to receive real-time event notifications (optional)",
            "example": "https://myshop.cm/webhooks/katika",
            "maxLength": 500,
            "minLength": 0
          },
          "initialKeyName": {
            "type": "string",
            "description": "Label for the first API key that will be created automatically",
            "example": "Production Key",
            "maxLength": 100,
            "minLength": 1
          },
          "initialKeyEnvironment": {
            "type": "string",
            "description": "Environment for the initial API key: SANDBOX (testing) or PRODUCTION",
            "enum": [
              "SANDBOX",
              "PRODUCTION"
            ]
          }
        },
        "required": [
          "contactEmail",
          "initialKeyEnvironment",
          "initialKeyName",
          "name",
          "termsAccepted",
          "termsVersion"
        ]
      },
      "ApiKeyResponse": {
        "type": "object",
        "description": "API key details. The `secret` field is only present immediately after creation or rotation \u2014 store it securely.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the API key"
          },
          "applicationId": {
            "type": "string",
            "format": "uuid",
            "description": "Application this key belongs to"
          },
          "name": {
            "type": "string",
            "description": "Human-readable label for this key",
            "example": "Production Backend Key"
          },
          "keyPrefix": {
            "type": "string",
            "description": "Key prefix for display and identification (not secret)",
            "example": "ktk_live_dGhpc"
          },
          "environment": {
            "type": "string",
            "description": "Target environment: SANDBOX or PRODUCTION"
          },
          "active": {
            "type": "boolean",
            "description": "Whether this key is currently active"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last request made with this key"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Expiry timestamp \u2014 null means the key never expires"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "secret": {
            "type": "string",
            "description": "**Shown ONCE at creation or rotation only.**\nThis is the full API key to include in the `X-Api-Key` request header.\nKatika does not store the raw key \u2014 if you lose it, rotate to get a new one.\nFormat: `ktk_{env}_{43-char-base64url}`\n",
            "example": "ktk_live_dGhpcyBpcyBhIHRlc3Qga2V5IHRoYXQgaXMgNDMgY2hhcnM"
          }
        }
      },
      "ApplicationResponse": {
        "type": "object",
        "description": "Developer application details",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique application identifier"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid",
            "description": "Owner's user ID"
          },
          "name": {
            "type": "string",
            "description": "Application display name",
            "example": "MyShop Integration"
          },
          "description": {
            "type": "string",
            "description": "Application description"
          },
          "websiteUrl": {
            "type": "string",
            "description": "Application website URL",
            "example": "https://myshop.cm"
          },
          "logoUrl": {
            "type": "string",
            "description": "Application logo URL"
          },
          "organizationName": {
            "type": "string",
            "description": "Organization legal name",
            "example": "MyShop SARL"
          },
          "organizationSize": {
            "type": "string",
            "description": "Organization size range",
            "example": "11-50"
          },
          "industry": {
            "type": "string",
            "description": "Industry sector",
            "example": "E-commerce / Marketplace"
          },
          "useCase": {
            "type": "string",
            "description": "Detailed use-case description"
          },
          "contactEmail": {
            "type": "string",
            "description": "Technical contact email",
            "example": "dev@myshop.cm"
          },
          "contactPhone": {
            "type": "string",
            "description": "Technical contact phone",
            "example": "+237620000000"
          },
          "termsAcceptedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when Terms of Service were accepted"
          },
          "termsVersion": {
            "type": "string",
            "description": "Terms version accepted",
            "example": "v1.0"
          },
          "status": {
            "type": "string",
            "description": "Current application status: PENDING_REVIEW | ACTIVE | SUSPENDED | REVOKED"
          },
          "tier": {
            "type": "string",
            "description": "Rate limiting tier: FREE | BASIC | PROFESSIONAL | ENTERPRISE"
          },
          "authStrategy": {
            "type": "string",
            "description": "Authentication strategy: API_KEY | OAUTH2"
          },
          "allowedScopes": {
            "type": "array",
            "description": "Granted API scopes",
            "example": [
              "escrow.read",
              "escrow.write"
            ],
            "items": {
              "type": "string"
            }
          },
          "rateLimitPerHour": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum requests allowed per hour"
          },
          "rateLimitPerDay": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum requests allowed per day"
          },
          "webhookUrl": {
            "type": "string",
            "description": "Webhook endpoint for event notifications"
          },
          "webhookSecretConfigured": {
            "type": "boolean",
            "description": "Whether a webhook secret is configured"
          },
          "oauth2ClientId": {
            "type": "string",
            "description": "OAuth2 client_id (only set when authStrategy = OAUTH2)"
          },
          "suspendedReason": {
            "type": "string",
            "description": "Reason for suspension (only present if status = SUSPENDED)"
          },
          "suspendedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of suspension"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "initialApiKey": {
            "$ref": "#/components/schemas/ApiKeyResponse",
            "description": "Initial API key \u2014 **only present in the registration response**"
          }
        }
      },
      "WebhookSecretResponse": {
        "type": "object",
        "properties": {
          "webhookSecret": {
            "type": "string",
            "description": "Raw webhook secret to use for HMAC-SHA256 signature verification. Shown once \u2014 store securely.",
            "example": "whs_dGhpcyBpcyBhIHdlYmhvb2sgc2VjcmV0"
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "description": "Request to create a new API key for a developer application",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable label for this key",
            "example": "CI/CD Pipeline Key",
            "maxLength": 100,
            "minLength": 1
          },
          "environment": {
            "type": "string",
            "description": "Target environment: SANDBOX for testing, PRODUCTION for live traffic",
            "enum": [
              "SANDBOX",
              "PRODUCTION"
            ]
          }
        },
        "required": [
          "environment",
          "name"
        ]
      },
      "ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "newPassword": {
            "type": "string",
            "maxLength": 128,
            "minLength": 6
          },
          "confirmPassword": {
            "type": "string"
          }
        },
        "required": [
          "confirmPassword",
          "newPassword",
          "token"
[...]
