{
  "openapi": "3.0.3",
  "info": {
    "title": "Aserto Authorizer API",
    "version": "1.0.0",
    "description": "Aserto authorization API based on Topaz/OPA. Provides fine-grained authorization decisions, policy management, and directory services.",
    "x-jentic-source-url": "https://docs.aserto.com/docs/overview/introduction",
    "contact": {
      "name": "Aserto",
      "url": "https://www.aserto.com"
    }
  },
  "servers": [
    {
      "url": "https://authorizer.prod.aserto.com",
      "description": "Aserto Authorizer"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Authorization decision endpoints"
    },
    {
      "name": "Directory",
      "description": "Directory object and relation management"
    },
    {
      "name": "Policy",
      "description": "Policy management"
    }
  ],
  "paths": {
    "/api/v2/authz/is": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "operationId": "is",
        "summary": "Authorization decision",
        "description": "Evaluate an authorization decision for a given identity, resource, and policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/authz/decisiontree": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "operationId": "decisionTree",
        "summary": "Get decision tree",
        "description": "Evaluate multiple authorization decisions and return the full decision tree.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/authz/query": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "operationId": "query",
        "summary": "Query policies",
        "description": "Execute a policy query using OPA/Rego.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "input": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/policies": {
      "get": {
        "tags": [
          "Policy"
        ],
        "operationId": "listPolicies",
        "summary": "List policies",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List policies"
      }
    },
    "/api/v2/policies/{id}": {
      "get": {
        "tags": [
          "Policy"
        ],
        "operationId": "getPolicy",
        "summary": "Get a policy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a policy"
      }
    },
    "/api/v3/directory/objects": {
      "get": {
        "tags": [
          "Directory"
        ],
        "operationId": "listObjects",
        "summary": "List directory objects",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page.size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List directory objects"
      }
    },
    "/api/v3/directory/object": {
      "get": {
        "tags": [
          "Directory"
        ],
        "operationId": "getObject",
        "summary": "Get a directory object",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a directory object"
      },
      "post": {
        "tags": [
          "Directory"
        ],
        "operationId": "setObject",
        "summary": "Create or update a directory object",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "properties": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create or update a directory object"
      },
      "delete": {
        "tags": [
          "Directory"
        ],
        "operationId": "deleteObject",
        "summary": "Delete a directory object",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a directory object"
      }
    },
    "/api/v3/directory/relations": {
      "get": {
        "tags": [
          "Directory"
        ],
        "operationId": "listRelations",
        "summary": "List directory relations",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List directory relations"
      }
    },
    "/api/v3/directory/relation": {
      "get": {
        "tags": [
          "Directory"
        ],
        "operationId": "getRelation",
        "summary": "Get a specific relation",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a specific relation"
      },
      "post": {
        "tags": [
          "Directory"
        ],
        "operationId": "setRelation",
        "summary": "Create or update a relation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create or update a relation"
      },
      "delete": {
        "tags": [
          "Directory"
        ],
        "operationId": "deleteRelation",
        "summary": "Delete a relation",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a relation"
      }
    },
    "/api/v3/directory/check": {
      "post": {
        "tags": [
          "Directory"
        ],
        "operationId": "checkRelation",
        "summary": "Check if a relation exists",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "object_type": {
                    "type": "string"
                  },
                  "object_id": {
                    "type": "string"
                  },
                  "relation": {
                    "type": "string"
                  },
                  "subject_type": {
                    "type": "string"
                  },
                  "subject_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Check if a relation exists"
      }
    },
    "/api/v3/directory/graph": {
      "post": {
        "tags": [
          "Directory"
        ],
        "operationId": "getGraph",
        "summary": "Get relation graph",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get relation graph"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "IsRequest": {
        "type": "object",
        "properties": {
          "identity_context": {
            "type": "object",
            "properties": {
              "identity": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "IDENTITY_TYPE_NONE",
                  "IDENTITY_TYPE_SUB",
                  "IDENTITY_TYPE_JWT",
                  "IDENTITY_TYPE_MANUAL"
                ]
              }
            }
          },
          "policy_context": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              },
              "decisions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "resource_context": {
            "type": "object"
          }
        }
      }
    }
  }
}
