{
  "openapi": "3.0.0",
  "info": {
    "description": "### The Internet of Things for Everyone\n\nThe Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP. The easiest way to get started is with [an Adafruit IO learn guide](https://learn.adafruit.com/series/adafruit-io-basics) and [a simple Internet of Things capable device like the Feather Huzzah](https://www.adafruit.com/product/2821).\n\nThis API documentation is hosted on GitHub Pages and is available at [https://github.com/adafruit/io-api](https://github.com/adafruit/io-api). For questions or comments visit the [Adafruit IO Forums](https://forums.adafruit.com/viewforum.php?f=56) or the [adafruit-io channel on the Adafruit Discord server](https://discord.gg/adafruit).\n\n#### Authentication\n\nAuthentication for every API request happens through the `X-AIO-Key` header or query parameter and your IO API key. A simple cURL request to get all available feeds for a user with the username \"io_username\" and the key \"io_key_12345\" could look like this:\n\n    $ curl -H \"X-AIO-Key: io_key_12345\" https://io.adafruit.com/api/v2/io_username/feeds\n\nOr like this:\n\n    $ curl \"https://io.adafruit.com/api/v2/io_username/feeds?X-AIO-Key=io_key_12345\n\nUsing the node.js [request](https://github.com/request/request) library, IO HTTP requests are as easy as:\n\n```js\nvar request = require('request');\n\nvar options = {\n  url: 'https://io.adafruit.com/api/v2/io_username/feeds',\n  headers: {\n    'X-AIO-Key': 'io_key_12345',\n    'Content-Type': 'application/json'\n  }\n};\n\nfunction callback(error, response, body) {\n  if (!error && response.statusCode == 200) {\n    var feeds = JSON.parse(body);\n    console.log(feeds.length + \" FEEDS AVAILABLE\");\n\n    feeds.forEach(function (feed) {\n      console.log(feed.name, feed.key);\n    })\n  }\n}\n\nrequest(options, callback);\n```\n\nUsing the ESP8266 Arduino HTTPClient library, an HTTPS GET request would look like this (replacing `---` with your own values in the appropriate locations):\n\n```arduino\n/// based on\n/// https://github.com/esp8266/Arduino/blob/master/libraries/ESP8266HTTPClient/examples/Authorization/Authorization.ino\n\n#include <Arduino.h>\n#include <ESP8266WiFi.h>\n#include <ESP8266WiFiMulti.h>\n#include <ESP8266HTTPClient.h>\n\nESP8266WiFiMulti WiFiMulti;\n\nconst char* ssid = \"---\";\nconst char* password = \"---\";\n\nconst char* host = \"io.adafruit.com\";\n\nconst char* io_key = \"---\";\nconst char* path_with_username = \"/api/v2/---/dashboards\";\n\n// Use web browser to view and copy\n// SHA1 fingerprint of the certificate\nconst char* fingerprint = \"77 00 54 2D DA E7 D8 03 27 31 23 99 EB 27 DB CB A5 4C 57 18\";\n\nvoid setup() {\n  Serial.begin(115200);\n\n  for(uint8_t t = 4; t > 0; t--) {\n    Serial.printf(\"[SETUP] WAIT %d...\\n\", t);\n    Serial.flush();\n    delay(1000);\n  }\n\n  WiFi.mode(WIFI_STA);\n  WiFiMulti.addAP(ssid, password);\n\n  // wait for WiFi connection\n  while(WiFiMulti.run() != WL_CONNECTED) {\n    Serial.print('.');\n    delay(1000);\n  }\n\n  Serial.println(\"[WIFI] connected!\");\n\n  HTTPClient http;\n\n  // start request with URL and TLS cert fingerprint for verification\n  http.begin(\"https://\" + String(host) + String(path_with_username), fingerprint);\n\n  // IO API authentication\n  http.addHeader(\"X-AIO-Key\", io_key);\n\n  // start connection and send HTTP header\n  int httpCode = http.GET();\n\n  // httpCode will be negative on error\n  if(httpCode > 0) {\n    // HTTP header has been send and Server response header has been handled\n    Serial.printf(\"[HTTP] GET response: %d\\n\", httpCode);\n\n    // HTTP 200 OK\n    if(httpCode == HTTP_CODE_OK) {\n      String payload = http.getString();\n      Serial.println(payload);\n    }\n\n    http.end();\n  }\n}\n\nvoid loop() {}\n```\n\n#### Client Libraries\n\nWe have client libraries to help you get started with your project: [Python](https://github.com/adafruit/io-client-python), [Ruby](https://github.com/adafruit/io-client-ruby), [Arduino C++](https://github.com/adafruit/Adafruit_IO_Arduino), [Javascript](https://github.com/adafruit/adafruit-io-node), and [Go](https://github.com/adafruit/io-client-go) are available. They're all open source, so if they don't already do what you want, you can fork and add any feature you'd like.\n\n",
    "title": "Adafruit IO REST API",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://io.adafruit.com/api/docs/adafruit-flower-left.png"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/adafruit.com/main/2.0.0/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://io.adafruit.com/api/v2"
    },
    {
      "url": "http://io.adafruit.com/api/v2"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "A User record"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "currentUser",
        "summary": "Get information about the current user",
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Users",
        "description": "Get information about the current user"
      }
    },
    "/webhooks/feed/:token": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            },
            "description": "New feed data record"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Webhooks",
          "Data"
        ],
        "description": "Send data to a feed via webhook URL.",
        "operationId": "createWebhookFeedData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Webhook payload containing data `value` parameter.",
          "required": true
        },
        "summary": "Send data to a feed via webhook URL.",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -F 'value=65.5' https://io.adafruit.com/api/v2/webhooks/feed/12345thistoken"
          }
        ],
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "WebhookReceivers"
      }
    },
    "/webhooks/feed/:token/raw": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            },
            "description": "New feed data record"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Webhooks",
          "Data"
        ],
        "description": "The raw data webhook receiver accepts POST requests and stores the raw request body on your feed. This is useful when you don't have control of the webhook sender. If feed history is turned on, payloads will be truncated at 1024 bytes. If feed history is turned off, payloads will be truncated at 100KB.",
        "operationId": "createRawWebhookFeedData",
        "summary": "Send arbitrary data to a feed via webhook URL.",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl --header 'Content-Type: application/json' \\\n  --request POST \\\n  --data '{\"some json\": \"goes here\", \"id\": 12345}' \\\n  https://io.adafruit.com/api/v2/webhooks/feed/12345thistoken/raw"
          }
        ],
        "x-swagger-router-action": "createRaw",
        "x-swagger-router-controller": "WebhookReceivers"
      }
    },
    "/{username}/activities": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted activities successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Activities"
        ],
        "description": "Delete all your activities.",
        "operationId": "destroyActivities",
        "summary": "All activities for current user",
        "x-swagger-router-action": "destroy",
        "x-swagger-router-controller": "Activities"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of activities",
            "headers": {
              "X-Pagination-Count": {
                "description": "The number of records returned.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Pagination-End": {
                "description": "The created_at value for the newest record returned.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Pagination-Limit": {
                "description": "The limit this request is using, either your given value or the default (1000).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Pagination-Start": {
                "description": "The created_at value for the oldest record returned.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Activities"
        ],
        "description": "The Activities endpoint returns information about the user's activities.",
        "operationId": "allActivities",
        "summary": "All activities for current user",
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Activities"
      }
    },
    "/{username}/activities/{type}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/ActivityTypePath"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of activities"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Activities"
        ],
        "description": "The Activities endpoint returns information about the user's activities.",
        "operationId": "getActivity",
        "summary": "Get activities by type for current user",
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Activities"
      }
    },
    "/{username}/dashboards": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Dashboard"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Dashboard"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of dashboards"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "description": "The Dashboards endpoint returns information about the user's dashboards.\n",
        "operationId": "allDashboards",
        "summary": "All dashboards for current user",
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Dashboards"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "New Dashboard"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "description": "Create a new Dashboard",
        "operationId": "createDashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new Dashboard",
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "Dashboards"
      }
    },
    "/{username}/dashboards/{dashboard_id}/blocks": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/DashboardIDPath"
          },
          {
            "name": "dashboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of blocks"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Blocks"
        ],
        "description": "The Blocks endpoint returns information about the user's blocks.\n",
        "operationId": "allBlocks",
        "summary": "All blocks for current user",
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Blocks"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/DashboardIDPath"
          },
          {
            "name": "dashboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            },
            "description": "New Block"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Blocks"
        ],
        "description": "Create a new Block",
        "operationId": "createBlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed_id": {
                          "type": "string"
                        },
                        "group_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "column": {
                    "type": "number"
                  },
                  "dashboard_id": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "row": {
                    "type": "number"
                  },
                  "size_x": {
                    "type": "number"
                  },
                  "size_y": {
                    "type": "number"
                  },
                  "visual_type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed_id": {
                          "type": "string"
                        },
                        "group_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "column": {
                    "type": "number"
                  },
                  "dashboard_id": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "row": {
                    "type": "number"
                  },
                  "size_x": {
                    "type": "number"
                  },
                  "size_y": {
                    "type": "number"
                  },
                  "visual_type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new Block",
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "Blocks"
      }
    },
    "/{username}/dashboards/{dashboard_id}/blocks/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/DashboardIDPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "dashboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Deleted Block successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Blocks"
        ],
        "description": "Delete an existing Block",
        "operationId": "destroyBlock",
        "summary": "Delete an existing Block",
        "x-swagger-router-action": "destroy",
        "x-swagger-router-controller": "Blocks"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/DashboardIDPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "dashboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            },
            "description": "Block response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error\""
          }
        },
        "tags": [
          "Blocks"
        ],
        "description": "Returns Block based on ID",
        "operationId": "getBlock",
        "summary": "Returns Block based on ID",
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Blocks"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/DashboardIDPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "dashboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            },
            "description": "Updated Block"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Blocks"
        ],
        "description": "Update properties of an existing Block",
        "operationId": "updateBlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed_id": {
                          "type": "string"
                        },
                        "group_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "column": {
                    "type": "number"
                  },
                  "dashboard_id": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "row": {
                    "type": "number"
                  },
                  "size_x": {
                    "type": "number"
                  },
                  "size_y": {
                    "type": "number"
                  },
                  "visual_type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed_id": {
                          "type": "string"
                        },
                        "group_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "column": {
                    "type": "number"
                  },
                  "dashboard_id": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "row": {
                    "type": "number"
                  },
                  "size_x": {
                    "type": "number"
                  },
                  "size_y": {
                    "type": "number"
                  },
                  "visual_type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update properties of an existing Block",
        "x-swagger-router-action": "update",
        "x-swagger-router-controller": "Blocks"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/DashboardIDPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "dashboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            },
            "description": "Updated block"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Blocks"
        ],
        "description": "Replace an existing Block",
        "operationId": "replaceBlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed_id": {
                          "type": "string"
                        },
                        "group_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "column": {
                    "type": "number"
                  },
                  "dashboard_id": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "row": {
                    "type": "number"
                  },
                  "size_x": {
                    "type": "number"
                  },
                  "size_y": {
                    "type": "number"
                  },
                  "visual_type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed_id": {
                          "type": "string"
                        },
                        "group_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "column": {
                    "type": "number"
                  },
                  "dashboard_id": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object"
                  },
                  "row": {
                    "type": "number"
                  },
                  "size_x": {
                    "type": "number"
                  },
                  "size_y": {
                    "type": "number"
                  },
                  "visual_type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Replace an existing Block",
        "x-swagger-router-action": "replace",
        "x-swagger-router-controller": "Blocks"
      }
    },
    "/{username}/dashboards/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Deleted Dashboard successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "description": "Delete an existing Dashboard",
        "operationId": "destroyDashboard",
        "summary": "Delete an existing Dashboard",
        "x-swagger-router-action": "destroy",
        "x-swagger-router-controller": "Dashboards"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "Dashboard response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error\""
          }
        },
        "tags": [
          "Dashboards"
        ],
        "description": "Returns Dashboard based on ID",
        "operationId": "getDashboard",
        "summary": "Returns Dashboard based on ID",
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Dashboards"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "Updated Dashboard"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "description": "Update properties of an existing Dashboard",
        "operationId": "updateDashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update properties of an existing Dashboard",
        "x-swagger-router-action": "update",
        "x-swagger-router-controller": "Dashboards"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "Updated dashboard"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Dashboards"
        ],
        "description": "Replace an existing Dashboard",
        "operationId": "replaceDashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Replace an existing Dashboard",
        "x-swagger-router-action": "replace",
        "x-swagger-router-controller": "Dashboards"
      }
    },
    "/{username}/feeds": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Feed"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Feed"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of feeds"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "The Feeds endpoint returns information about the user's feeds. The response includes the latest value of each feed, and other metadata about each feed.",
        "operationId": "allFeeds",
        "summary": "All feeds for current user",
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Feeds"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/GroupParam"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            },
            "description": "New feed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "Create a new Feed",
        "operationId": "createFeed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new Feed",
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "Feeds"
      }
    },
    "/{username}/feeds/{feed_key}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted feed successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "Delete an existing Feed",
        "operationId": "destroyFeed",
        "summary": "Delete an existing Feed",
        "x-swagger-router-action": "destroy",
        "x-swagger-router-controller": "Feeds"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            },
            "description": "Feed response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "Returns feed based on the feed key",
        "operationId": "getFeed",
        "summary": "Get feed by feed key",
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Feeds"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            },
            "description": "Updated feed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "Update properties of an existing Feed",
        "operationId": "updateFeed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update properties of an existing Feed",
        "x-swagger-router-action": "update",
        "x-swagger-router-controller": "Feeds"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            },
            "description": "Updated feed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "Replace an existing Feed",
        "operationId": "replaceFeed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "license": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Replace an existing Feed",
        "x-swagger-router-action": "replace",
        "x-swagger-router-controller": "Feeds"
      }
    },
    "/{username}/feeds/{feed_key}/data": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/DataInclude"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DataResponse"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DataResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of data",
            "headers": {
              "X-Pagination-Count": {
                "description": "The number of records returned.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Pagination-End": {
                "description": "The created_at value for the newest record returned.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Pagination-Limit": {
                "description": "The limit this request is using, either your given value or the default (1000).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Pagination-Start": {
                "description": "The created_at value for the oldest record returned.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Get all data for the given feed",
        "operationId": "allData",
        "summary": "Get all data for the given feed",
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Data"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Data"
                }
              }
            },
            "description": "New data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Create new data records on the given feed.\n\n**NOTE:** when feed history is on, data `value` size is limited to 1KB, when feed history is turned off data value size is limited to 100KB.",
        "operationId": "createData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "created_at": {
                    "format": "dateTime",
                    "type": "string"
                  },
                  "ele": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "lon": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "created_at": {
                    "format": "dateTime",
                    "type": "string"
                  },
                  "ele": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "lon": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Data record including a `value` field (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).",
          "required": true
        },
        "summary": "Create new Data",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -F 'value=65.5' -H 'X-AIO-Key: io_key_12345' \\\n  https://io.adafruit.com/api/v2/io_username/feeds/io-feed-key/data"
          },
          {
            "lang": "Ruby",
            "source": "api = Adafruit::IO::Client.new(\n  key: ENV['IO_KEY'],\n  username: ENV['IO_USERNAME']\n)\napi.send_data('io-feed-key', 65.5)"
          }
        ],
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/batch": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DataResponse"
                  },
                  "type": "array"
                }
              },
              "text/csv": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DataResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "New data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "operationId": "batchCreateData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "properties": {
                    "created_at": {
                      "format": "dateTime",
                      "type": "string"
                    },
                    "ele": {
                      "type": "string"
                    },
                    "epoch": {
                      "type": "number"
                    },
                    "lat": {
                      "type": "string"
                    },
                    "lon": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "items": {
                  "properties": {
                    "created_at": {
                      "format": "dateTime",
                      "type": "string"
                    },
                    "ele": {
                      "type": "string"
                    },
                    "epoch": {
                      "type": "number"
                    },
                    "lat": {
                      "type": "string"
                    },
                    "lon": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              }
            }
          },
          "description": "A collection of data records including `value` (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).",
          "required": true
        },
        "summary": "Create multiple new Data records",
        "x-swagger-router-action": "batch",
        "x-swagger-router-controller": "Data",
        "description": "Create multiple new Data records"
      }
    },
    "/{username}/feeds/{feed_key}/data/chart": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/StartTime"
          },
          {
            "$ref": "#/components/parameters/EndTime"
          },
          {
            "description": "A resolution size in minutes. By giving a resolution value you will get back grouped data points aggregated over resolution-sized intervals. NOTE: time span is preferred over resolution, so if you request a span of time that includes more than max limit points you may get a larger resolution than you requested. Valid resolutions are 1, 5, 10, 30, 60, and 120.",
            "in": "query",
            "name": "resolution",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The number of hours the chart should cover.",
            "in": "query",
            "name": "hours",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "parameters": {
                      "properties": {},
                      "type": "object"
                    },
                    "columns": {
                      "description": "The names of the columns returned as data.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "data": {
                      "description": "The actual chart data.",
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "feed": {
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              },
              "text/csv": {
                "schema": {
                  "properties": {
                    "parameters": {
                      "properties": {},
                      "type": "object"
                    },
                    "columns": {
                      "description": "The names of the columns returned as data.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "data": {
                      "description": "The actual chart data.",
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "feed": {
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A JSON record containing chart data and the parameters used to generate it."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "The Chart API is what we use on io.adafruit.com to populate charts over varying timespans with a consistent number of data points. The maximum number of points returned is 480. This API works by aggregating slices of time into a single value by averaging.\n\nAll time-based parameters are optional, if none are given it will default to 1 hour at the finest-grained resolution possible.",
        "operationId": "chartData",
        "summary": "Chart data for current feed",
        "x-swagger-router-action": "chart",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/first": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/DataInclude"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Data response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Get the oldest data point in the feed. This request sets the queue pointer to the beginning of the feed.",
        "operationId": "firstData",
        "summary": "First Data in Queue",
        "x-swagger-router-action": "last",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/last": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/DataInclude"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Data response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Get the most recent data point in the feed. This request sets the queue pointer to the end of the feed.",
        "operationId": "lastData",
        "summary": "Last Data in Queue",
        "x-swagger-router-action": "last",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/next": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/DataInclude"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Data response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Get the next newest data point in the feed. If queue processing hasn't been started, the first data point in the feed will be returned.",
        "operationId": "nextData",
        "summary": "Next Data in Queue",
        "x-swagger-router-action": "next",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/previous": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/DataInclude"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Data response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Get the previously processed data point in the feed. NOTE: this method doesn't move the processing queue pointer.",
        "operationId": "previousData",
        "summary": "Previous Data in Queue",
        "x-swagger-router-action": "previous",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/retain": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "CSV string in `value,lat,lon,ele` format. The lat, lon, and ele values are left blank if they are not set."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Get the most recent data point in the feed in an MQTT compatible CSV format: `value,lat,lon,ele`",
        "operationId": "retainData",
        "summary": "Last Data in MQTT CSV format",
        "x-swagger-router-action": "retain",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/data/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Deleted Group successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Delete existing Data",
        "operationId": "destroyData",
        "summary": "Delete existing Data",
        "x-swagger-router-action": "destroy",
        "x-swagger-router-controller": "Data"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "$ref": "#/components/parameters/DataInclude"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Data response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Returns data based on feed key",
        "operationId": "getData",
        "summary": "Returns data based on feed key",
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Data"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Updated Data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Update properties of existing Data",
        "operationId": "updateData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "created_at": {
                    "format": "dateTime",
                    "type": "string"
                  },
                  "ele": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "lon": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "created_at": {
                    "format": "dateTime",
                    "type": "string"
                  },
                  "ele": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "lon": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Data record including a `value` field (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).",
          "required": true
        },
        "summary": "Update properties of existing Data",
        "x-swagger-router-action": "update",
        "x-swagger-router-controller": "Data"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "$ref": "#/components/parameters/IDPath"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            },
            "description": "Updated Data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Data"
        ],
        "description": "Replace existing Data",
        "operationId": "replaceData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "created_at": {
                    "format": "dateTime",
                    "type": "string"
                  },
                  "ele": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "lon": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "created_at": {
                    "format": "dateTime",
                    "type": "string"
                  },
                  "ele": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "number"
                  },
                  "lat": {
                    "type": "string"
                  },
                  "lon": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Data record including a `value` field (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).",
          "required": true
        },
        "summary": "Replace existing Data",
        "x-swagger-router-action": "replace",
        "x-swagger-router-controller": "Data"
      }
    },
    "/{username}/feeds/{feed_key}/details": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/UsernamePath"
          },
          {
            "$ref": "#/components/parameters/FeedPath"
          },
          {
            "name": "feed_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            },
            "description": "Feed response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "tags": [
          "Feeds"
        ],
        "description": "Returns more detailed feed record based on the feed key",
        "operationId": "getFeedDetails",
        "summary": "Get detailed feed by feed key",
[...]
