{
  "openapi": "3.0.3",
  "info": {
    "title": "Process Integration",
    "version": "1.2",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/accy/deprecated/1.2"
  },
  "servers": [
    {
      "url": "https://hmdev.service-now.com"
    },
    {
      "url": "https://hmtest.service-now.com"
    }
  ],
  "paths": {
    "/oauth_token": {
      "post": {
        "summary": "Generate Access Token",
        "description": "Generate Access Token",
        "operationId": "generateAccessToken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "example": "xxxx"
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "xxxxxx"
                  },
                  "grant_type": {
                    "type": "string",
                    "example": "password"
                  },
                  "password": {
                    "type": "string",
                    "example": "xxxxx"
                  },
                  "username": {
                    "type": "string",
                    "example": "API_xxx"
                  }
                }
              },
              "examples": {
                "Generate Access Token": {
                  "value": {
                    "client_id": "a8xxx1",
                    "client_secret": "xxxx",
                    "grant_type": "password",
                    "password": "xxxx",
                    "username": "API_Oxxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": null
              }
            },
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "error": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "responseMessage": {
                "type": "string"
              },
              "responseStatus": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/hmab/v1/process_api/{process}/OPEN": {
      "post": {
        "summary": "Create Incident",
        "description": "Create Incident",
        "operationId": "createIncident",
        "parameters": [
          {
            "name": "process",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "incident"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "FORTNA"
            }
          },
          {
            "name": "vendor_ticket",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "INCxxxxxx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assignment_group": {
                    "type": "string",
                    "example": "FLOW AM STORE"
                  },
                  "caller": {
                    "type": "string",
                    "example": "API vendor"
                  },
                  "category": {
                    "type": "string",
                    "example": "fault"
                  },
                  "configuration_item": {
                    "type": "string",
                    "example": "BTCN SOC Handling - PROD"
                  },
                  "description": {
                    "type": "string",
                    "example": "Testing vendor API"
                  },
                  "service": {
                    "type": "string",
                    "example": "BTCN SOC Handling - PROD"
                  },
                  "service_offering": {
                    "type": "string",
                    "example": "BTCN SOC Handling - PROD_T S Off"
                  },
                  "short_description": {
                    "type": "string",
                    "example": "Testing vendor API"
                  },
                  "subcategory": {
                    "type": "string",
                    "example": "operation"
                  }
                }
              },
              "examples": {
                "Create Incident": {
                  "value": {
                    "assignment_group": "FLOW AM STORE",
                    "caller": "API vendor",
                    "category": "fault",
                    "configuration_item": "BTCN SOC Handling - PROD",
                    "description": "Testing vendor API",
                    "service": "BTCN SOC Handling - PROD",
                    "service_offering": "BTCN SOC Handling - PROD_T S Off",
                    "short_description": "Testing vendor API",
                    "subcategory": "operation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/hmab/v1/process_api/{process}/UPDATE": {
      "patch": {
        "summary": "Update Incident",
        "description": "Update Incident",
        "operationId": "updateIncident",
        "parameters": [
          {
            "name": "process",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "incident"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "FORTNA"
            }
          },
          {
            "name": "vendor_ticket",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "INCxxxxxx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "configuration_item": {
                    "type": "string",
                    "example": "Vendor - DEV"
                  },
                  "service": {
                    "type": "string",
                    "example": "Vendor - DEV"
                  },
                  "service_offering": {
                    "type": "string",
                    "example": "Vendor - DEV_A S Of"
                  },
                  "work_notes": {
                    "type": "string",
                    "example": "19/12/2023 10:52:34 -EE (Additional comments)\nCreated an Extenda Ticket EXTHM-43276"
                  }
                }
              },
              "examples": {
                "Update Incident": {
                  "value": {
                    "configuration_item": "Vendor - DEV",
                    "service": "Vendor - DEV",
                    "service_offering": "Vendor - DEV_A S Off",
                    "u_vendor_impact": "1",
                    "u_vendor_priority": "1",
                    "u_vendor_service": "H&M ServiceNow",
                    "u_vendor_state": "Open",
                    "u_vendor_update_type": "Response",
                    "u_vendor_urgency": "1",
                    "work_notes": "19/12/2023 10:52:34 -EE (Additional comments)\nCreated an Extenda Ticket EXTHM-43276"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": []
}
