{
  "openapi": "3.0.2",
  "info": {
    "title": "Lumen Public Sector Ordering APIs",
    "termsOfService": "https://api.lumen.com/terms/",
    "contact": {
      "email": "public-sector-apis@lumen.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CenturyLink_APIs/snapi-emp/1.0.1"
  },
  "servers": [
    {
      "url": "https://api.lumen.com"
    }
  ],
  "tags": [
    {
      "name": "Public Sector APIs",
      "description": "Lumen Public Sector APIs",
      "externalDocs": {
        "url": "https://api.lumen.com/api-docs"
      }
    }
  ],
  "paths": {
    "/emp": {
      "post": {
        "summary": "Receive an EMP POST request",
        "tags": [
          "Snapi-emp"
        ],
        "requestBody": {
          "description": "command",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Command"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 400,
                    "message": "Bad Request"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": {
                    "code": 409,
                    "message": "Conflict"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Additional": {
        "additionalProperties": false,
        "properties": {
          "originalApplicationKey": {
            "type": "string"
          },
          "originalCorrelationId": {
            "type": "string"
          },
          "originalMediationId": {
            "type": "string"
          },
          "originalMessageId": {
            "type": "string"
          },
          "originalMessageType": {
            "type": "string"
          },
          "originalUrl": {
            "type": "string"
          }
        },
        "required": [
          "originalMessageType",
          "originalMessageId",
          "originalApplicationKey",
          "originalCorrelationId",
          "originalMediationId",
          "originalUrl"
        ],
        "type": "object"
      },
      "BusinessKey": {
        "additionalProperties": false,
        "properties": {
          "entity": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "entity",
          "name",
          "value"
        ],
        "type": "object"
      },
      "Command": {
        "additionalProperties": false,
        "properties": {
          "businessKeys": {
            "items": {
              "$ref": "#/components/schemas/BusinessKey"
            },
            "type": "array"
          },
          "commandId": {
            "type": "string"
          },
          "commandType": {
            "type": "string"
          },
          "correlationId": {
            "type": "string"
          },
          "messageType": {
            "type": "string"
          }
        },
        "required": [
          "messageType",
          "commandType",
          "commandId"
        ],
        "type": "object"
      },
      "Document": {
        "additionalProperties": false,
        "properties": {
          "businessKeys": {
            "items": {
              "$ref": "#/components/schemas/BusinessKey"
            },
            "type": "array"
          },
          "correlationId": {
            "type": "string"
          },
          "documentId": {
            "type": "string"
          },
          "documentType": {
            "type": "string"
          },
          "messageType": {
            "type": "string"
          }
        },
        "required": [
          "messageType",
          "documentType",
          "documentId"
        ],
        "type": "object"
      },
      "Entity": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "Error": {
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Event": {
        "additionalProperties": false,
        "properties": {
          "attributes": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "businessKeys": {
            "items": {
              "$ref": "#/components/schemas/BusinessKey"
            },
            "type": "array"
          },
          "callbackUrl": {
            "type": "string"
          },
          "correlationId": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "messageType": {
            "type": "string"
          }
        },
        "required": [
          "messageType",
          "eventType"
        ],
        "type": "object"
      },
      "Response": {
        "additionalProperties": false,
        "properties": {
          "correlationId": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          },
          "responseMs": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "Result": {
        "additionalProperties": false,
        "properties": {
          "calledSystem": {
            "type": "string"
          },
          "calledUrl": {
            "type": "string"
          },
          "component": {
            "type": "string"
          },
          "container": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "processingErrorType": {
            "type": "string"
          },
          "processingStatus": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "processingStatus",
          "processingErrorType",
          "errorCode",
          "message",
          "detail",
          "hostname",
          "container",
          "component",
          "text",
          "calledUrl",
          "calledSystem"
        ],
        "type": "object"
      },
      "Status": {
        "additionalProperties": false,
        "properties": {
          "additional": {
            "$ref": "#/components/schemas/Additional"
          },
          "entity": {
            "$ref": "#/components/schemas/Entity"
          },
          "messageType": {
            "type": "string"
          },
          "producer": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "code": {
            "$ref": "#/components/schemas/StatusCodes"
          },
          "errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "messageType",
          "producer",
          "code",
          "message"
        ],
        "type": "object"
      },
      "Address": {
        "additionalProperties": false,
        "description": "USPS mailing address.",
        "properties": {
          "city": {
            "description": "Mailing address city",
            "maxLength": 50,
            "type": "string"
          },
          "line1": {
            "maxLength": 50,
            "type": "string"
          },
          "line2": {
            "maxLength": 50,
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/State",
            "description": "Mailing address state"
          },
          "zip": {
            "description": "Mailing address zip code / postal code",
            "maxLength": 10,
            "minLength": 5,
            "type": "string"
          }
        },
        "required": [
          "line1",
          "state",
          "zip"
        ],
        "type": "object"
      },
      "State": {
        "description": "USPS state codes https://pe.usps.com/text/pub28/28apb.htm",
        "enum": [
          "AL",
          "AK",
          "AS",
          "AZ",
          "AR",
          "CA",
          "CO",
          "CT",
          "DE",
          "DC",
          "FM",
          "FL",
          "GA",
          "GU",
          "HI",
          "ID",
          "IL",
          "IN",
          "IA",
          "KS",
          "KY",
          "LA",
          "ME",
          "MH",
          "MD",
          "MA",
          "MI",
          "MN",
          "MS",
          "MO",
          "MT",
          "NE",
          "NV",
          "NH",
          "NJ",
          "NM",
          "NY",
          "NC",
          "ND",
          "MP",
          "OH",
          "OK",
          "OR",
          "PW",
          "PA",
          "PR",
          "RI",
          "SC",
          "SD",
          "TN",
          "TX",
          "UT",
          "VT",
          "VI",
          "VA",
          "WA",
          "WV",
          "WI",
          "WY"
        ],
        "type": "string"
      },
      "User": {
        "additionalProperties": false,
        "description": "API user.",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "email": {
            "maxLength": 50,
            "type": "string"
          },
          "firstName": {
            "maxLength": 50,
            "type": "string"
          },
          "lastName": {
            "maxLength": 50,
            "type": "string"
          },
          "telephone": {
            "maxLength": 15,
            "minLength": 10,
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "username": {
            "maxLength": 50,
            "type": "string"
          }
        },
        "required": [
          "username",
          "type"
        ],
        "type": "object"
      },
      "StatusResponse": {
        "additionalProperties": false,
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "StatusCodes": {
        "enum": [
          100,
          101,
          102,
          200,
          201,
          202,
          203,
          204,
          205,
          206,
          207,
          300,
          301,
          302,
          303,
          304,
          305,
          307,
          308,
          400,
          401,
          402,
          403,
          404,
          405,
          406,
          407,
          408,
          409,
          410,
          411,
          412,
          413,
          414,
          415,
          416,
          417,
          418,
          419,
          420,
          422,
          423,
          424,
          428,
          429,
          431,
          451,
          500,
          501,
          502,
          503,
          504,
          505,
          507,
          511
        ],
        "type": "number"
      }
    }
  }
}