{
  "openapi": "3.0.3",
  "info": {
    "title": "ServiceNow Integracion con IA",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/gruposalinas-812/servicenow-integracion-con-ia/1.0.0"
  },
  "servers": [
    {
      "url": "https://dsigruposalinasqa.service-now.com"
    }
  ],
  "paths": {
    "/api/sn_sc/servicecatalog/items/d124ca75471d76d090971184116d4341/order_now": {
      "post": {
        "summary": "CrearSolicitud",
        "description": "# Crear una solicitud en ServiceNow\n\n## Resumen\n\nEsta documentación describe cómo crear una nueva solicitud de servicio en el catálogo de servicios de ServiceNow. La solicitud se basa en la referencia \"Solicitud interna de Servicio SOC/MSOC\" disponible en el portal de servicio. [Solicitud interna de Servicio SOC/MSOC - Totalsec](https://dsigruposalinasqa.service-now.com/sp?id=sc_cat_item&sys_id=d124ca75471d76d090971184116d4341&table=sc_cat_item&searchTerm=Solicitud%20interna%20de%20Servicio%20SOC%2FMSOC)\n\n## Detalles del Endpoint\n\n- **Método**: POST\n    \n- **URL**: `https://dsigruposalinasqa.service-now.com/api/sn_sc/servicecatalog/items/d124ca75471d76d090971184116d4341/order_now`\n    \n- **Content-Type**: application/json\n    \n\n## Parámetros de la solicitud (Cuerpo)\n\n### Nivel raíz\n\n- **sysparm_quantity** (entero): La cantidad de elementos a solicitar. Normalmente se establece en `1` para las solicitudes de servicio.\n    \n\n### Objeto `variables` (JSON)\n\nEl objeto `variables` contiene los detalles de la solicitud de servicio:\n\n- **impacto** (string): Nivel de impacto de la solicitud (por ejemplo, \"3\" para impacto bajo)\n    \n- **urgencia** (string): Nivel de urgencia de la solicitud (por ejemplo, \"2\" para urgencia media)\n    \n- **cliente** (string): SYS_ID de la cuenta asociado con la solicitud\n    \n- **ci_relacionado** (string): ID del Elemento de Configuración (CI) relacionado, o \"null\" si no aplica\n    \n- **resumen** (string): Breve resumen de la solicitud de servicio\n    \n- **descripcion_general** (string): Descripción detallada de la solicitud de servicio\n    \n- **no_ticket_proveedor** (string): Número de ticket del proveedor para referencia\n    \n- **tipo_de_cliente** (string): Tipo de cliente/usuario\n    \n- **medio_de_contacto** (string): Preferencia de método de contacto\n    \n- **categor_a_de_servicio** (cadena): Clasificación de la categoría de servicio\n    \n- **ticket_ca** (cadena): Número de referencia del ticket de CA\n    \n- **request_for** (cadena): SYS_ID del usuario para quien se está creando la solicitud\n    \n\n## Respuesta esperada\n\n### Respuesta exitosa (200 OK)\n\n``` json\n{\n  \"result\": {\n    \"sys_id\": \"6b2e02da47b0921090971184116d4335\",\n    \"number\": \"REQ0019202\",\n    \"request_number\": \"REQ0019202\",\n    \"parent_id\": null,\n    \"request_id\": \"1402c0364769be94caca480c016d430d\",\n    \"parent_table\": \"task\",\n    \"table\": \"sc_request\"\n  }\n}\n\n ```\n\n**Campos de la respuesta:**\n\n- **sys_id**: Identificador único del sistema para la solicitud creada\n    \n- **number**: Número de solicitud legible por humanos (formato: REQ#######)\n    \n- **request_number**: Igual que el campo number\n    \n- **parent_id**: ID de la solicitud principal si es una solicitud secundaria (null si es independiente)\n    \n- **request_id**: ID del sistema de la solicitud\n    \n- **parent_table**: Nombre de la tabla principal (normalmente \"task\")\n    \n- **table**: Tabla donde se almacena la solicitud (sc_request para solicitudes del catálogo de servicios)\n    \n\n## Notas importantes\n\n- Asegúrese de que todos los campos requeridos en el objeto `variables` estén rellenados antes de enviar la solicitud.\n    \n- El ID del elemento del catálogo en la URL (d124ca75471d76d090971184116d4341) es específico del servicio que se solicita.\n    \n- Los valores de impacto y urgencia deben seguir la numeración estándar de ServiceNow (1=Alto, 2=Medio, 3=Bajo).\n    \n- El campo `request_for` debe contener un sys_id de usuario válido de ServiceNow.\n    \n- Las credenciales de autenticación deben estar configuradas correctamente para la instancia de ServiceNow.",
        "operationId": "crearsolicitud",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sysparm_quantity": {
                    "type": "number",
                    "example": 1
                  },
                  "variables": {
                    "type": "object",
                    "properties": {
                      "categor_a_de_servicio": {
                        "type": "string",
                        "example": "Servicio de prueba"
                      },
                      "ci_relacionado": {
                        "type": "string",
                        "example": "null"
                      },
                      "cliente": {
                        "type": "string",
                        "example": "daf19af087652910935586ad0ebb35af"
                      },
                      "descripcion_general": {
                        "type": "string",
                        "example": "Esta es la segunda solicitud de servicio generada por un POST"
                      },
                      "impacto": {
                        "type": "string",
                        "example": "3"
                      },
                      "medio_de_contacto": {
                        "type": "string",
                        "example": "2"
                      },
                      "no_ticket_proveedor": {
                        "type": "string",
                        "example": "457457"
                      },
                      "request_for": {
                        "type": "string",
                        "example": "6b2e02da47b0921090971184116d4335"
                      },
                      "resumen": {
                        "type": "string",
                        "example": "Ejemplo"
                      },
                      "ticket_ca": {
                        "type": "string",
                        "example": "2"
                      },
                      "tipo_de_cliente": {
                        "type": "string",
                        "example": "4"
                      },
                      "urgencia": {
                        "type": "string",
                        "example": "2"
                      }
                    }
                  }
                }
              },
              "examples": {
                "CrearSolicitud": {
                  "value": {
                    "sysparm_quantity": 1,
                    "variables": {
                      "categor_a_de_servicio": "Servicio de prueba",
                      "ci_relacionado": "null",
                      "cliente": "daf19af087652910935586ad0ebb35af",
                      "descripcion_general": "Esta es la segunda solicitud de servicio generada por un POST",
                      "impacto": "3",
                      "medio_de_contacto": "2",
                      "no_ticket_proveedor": "457457",
                      "request_for": "6b2e02da47b0921090971184116d4335",
                      "resumen": "Ejemplo",
                      "ticket_ca": "2",
                      "tipo_de_cliente": "4",
                      "urgencia": "2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/now/table/customer_account": {
      "get": {
        "summary": "GetAccounts",
        "description": "# Obtener información de los \"Accounts\" del cliente\n\n## Descripción general\n\nEste endpoint recupera información de la cuenta del cliente de la tabla `customer_account` de ServiceNow. Consulta cuentas de clientes específicas basadas en criterios de filtro y devuelve campos seleccionados en un formato amigable para la visualización.\n\n## Parámetros de consulta\n\n### `sysparm_query`\n\n**Valor:** `customer=true^name=Grupo marti`\n\nFiltra los resultados para devolver solo los registros donde:\n\n- El campo `customer` está configurado como `true` este campo indica si un account es un cliente activo.\n    \n- El campo `name` contiene \"Grupo marti\" como ejemplo. Dicho campo hace referencia al nombre de un account, este campo es util para buscar.\n    \n\nEl operador `^` actúa como una condición AND en las consultas de ServiceNow.\n\n### `sysparm_exclude_reference_link`\n\n**Valor:** `true`\n\nCuando se establece en `true`, este parámetro excluye los enlaces de referencia de la respuesta, proporcionando una salida JSON más limpia sin metadatos de enlace adicionales.\n\n### `sysparm_display_value`\n\n**Valor:** `true`\n\nDevuelve los valores de visualización en lugar de los valores reales de la base de datos. Esto hace que la respuesta sea más legible para los humanos al mostrar etiquetas y valores formateados en lugar de códigos o ID internos.\n\n### `sysparm_fields`\n\n**Valor:** `name,number,u_tipo_cliente,u_tipo_proyecto,sys_id,u_active`\n\nEspecifica qué campos incluir en la respuesta:\n\n- `name` - Nombre de la cuenta del cliente\n    \n- `number` - Número de cuenta\n    \n- `u_tipo_cliente` - Tipo de cliente (campo personalizado)\n    \n- `u_tipo_proyecto` - Tipo de proyecto (campo personalizado)\n    \n- `sys_id` - ID del sistema (identificador único)\n    \n- `u_active` - Estado activo (campo personalizado)\n    \n\n## Formato de respuesta esperado\n\n**Código de estado:** `200 OK`\n\n**Cuerpo de la respuesta:**\n\n``` json\n{\n  \"result\": [\n    {\n      \"number\": \"ACCT0010928\",\n      \"sys_id\": \"9e02123487652910935586ad0ebb35c7\",\n      \"name\": \"GRUPO MARTÍ\",\n      \"u_tipo_cliente\": \"totalplay\",\n      \"u_active\": \"true\",\n      \"u_tipo_proyecto\": \"\"\n    }\n  ]\n}\n\n ```\n\nLa respuesta contiene un array `result` con registros de cuentas de clientes coincidentes, cada uno de los cuales contiene solo los campos solicitados.\n\n## Caso de uso\n\nEste endpoint se utiliza típicamente para:\n\n- Buscar cuentas de clientes específicas por nombre\n    \n- Recuperar información esencial de la cuenta para fines de integración\n    \n- Validar la existencia de la cuenta del cliente antes de realizar operaciones\n    \n- Mostrar los detalles de la cuenta del cliente en aplicaciones o paneles externos\n    \n- Filtrar las cuentas de clientes activas para informes o flujos de trabajo de procesamiento",
        "operationId": "getaccounts",
        "parameters": [
          {
            "name": "sysparm_query",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "customer=true^name=Grupo marti"
            },
            "description": "El campo \"name\" será aquel donde se podrán filtrar los accounts requeridos"
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Excluir links"
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Ver valores de visualización"
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "name,number,u_tipo_cliente,u_tipo_proyecto,sys_id,u_active"
            },
            "description": "Configuración de la salida"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/now/table/customer_contact": {
      "get": {
        "summary": "GetContacts",
        "description": "# Obtener los contactos de clientes\n\n## Descripción general\n\nEste endpoint recupera registros de contactos de clientes de la tabla `customer_contact` de ServiceNow.\n\n## Parámetros de consulta\n\n### `sysparm_query`\n\nFiltra los resultados utilizando la sintaxis de consulta de ServiceNow:\n\n- `active=true` - Devuelve solo los contactos activos\n    \n- `u_cliente=true` - Devuelve solo los registros marcados como clientes\n    \n- `nameSTARTSWITHSergio` - En este ejemplo, filtra los contactos cuyo nombre comienza con \"Sergio\". Es decir este fragmento de query funciona para filtrar resultados que comiencen con dicha palabra.\n    \n\n### `sysparm_exclude_reference_link`\n\nEstablecido en `true` para excluir los enlaces de referencia de la respuesta, proporcionando datos más limpios sin enlaces de metadatos adicionales.\n\n### `sysparm_display_value`\n\nEstablecido en `true` para devolver valores de visualización legibles por humanos en lugar de valores internos del sistema (por ejemplo, nombres de visualización en lugar de sys_ids para campos de referencia).\n\n### `sysparm_fields`\n\nEspecifica qué campos incluir en la respuesta:\n\n- `sys_id` - Identificador único del sistema\n    \n- `user_name` - Nombre de usuario/ID del usuario\n    \n- `name` - Nombre completo del contacto\n    \n- `first_name` - Primer nombre del contacto\n    \n- `last_name` - Apellido del contacto\n    \n- `active` - Estado activo (true/false)\n    \n- `u_cliente` - Bandera de cliente (true/false). Dicho campo determina si el cliente esta activo en el sistema.\n    \n- `department` - Nombre del departamento\n    \n- `company` - Nombre de la empresa/organización\n    \n- `email` - Dirección de correo electrónico\n    \n- `phone` - Número de teléfono\n    \n- `account` - Nombre de la cuenta asociada\n    \n\n## Formato de respuesta\n\nEl endpoint devuelve un objeto JSON con un array `result` que contiene objetos de contacto de clientes:\n\n``` json\n{\n  \"result\": [\n    {\n      \"sys_id\": \"69b378308771ed1013c1cbbd0ebb3507\",\n      \"u_cliente\": \"true\",\n      \"phone\": \"\",\n      \"user_name\": \"10731\",\n      \"name\": \"Sergio Aguilar al\",\n      \"last_name\": \"Aguilar al\",\n      \"active\": \"true\",\n      \"company\": \"FUNDACION AMPARO IAP\",\n      \"department\": \"\",\n      \"first_name\": \"Sergio\",\n      \"email\": \"sergio.aguilar@museoamparo.com\",\n      \"account\": \"FUNDACION AMPARO IAP\"\n    }\n  ]\n}\n\n ```\n\n## Código de estado esperado\n\n- **200 OK** - Contactos de clientes recuperados con éxito",
        "operationId": "getcontacts",
        "parameters": [
          {
            "name": "sysparm_query",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "active=true^u_cliente=true^nameSTARTSWITHSergio"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Excluir links"
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Ver valores de visualización"
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sys_id, user_name,name,first_name,last_name,active,u_cliente,department,company,email,phone,account"
            },
            "description": "Configuración de la salida"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/now/table/sys_user": {
      "get": {
        "summary": "GetUsers",
        "description": "# Obtener Usuarios\n\n## Propósito\n\nEsta solicitud recupera una lista filtrada de usuarios activos de la tabla `sys_user` de ServiceNow, cuyos nombres comienzan con la letra \"E\", en este ejemplo de consulta.\n\n## Parámetros de consulta\n\n### `sysparm_query`\n\n**Valor:** `active=true^nameSTARTSWITHE`\n\nAplica filtros a la consulta:\n\n- `active=true` - Devuelve solo los usuarios activos\n    \n- `nameSTARTSWITHE` - Filtra los usuarios cuyo campo \"name\" comienza con la letra \"E\", para este ejemplo.\n    \n\n### `sysparm_exclude_reference_link`\n\n**Valor:** `true`\n\nExcluye los enlaces de referencia de la respuesta, proporcionando datos más limpios sin metadatos de hipervínculos adicionales.\n\n### `sysparm_display_value`\n\n**Valor:** `true`\n\nDevuelve valores de visualización legibles por humanos en lugar de referencias internas de sys_id, lo que hace que la respuesta sea más fácil de usar.\n\n### `sysparm_fields`\n\n**Valor:** `sys_id, user_name, name, first_name, last_name, active, u_business_unit, company, email, phone, sys_created_on`\n\nEspecifica exactamente qué campos devolver, optimizando la carga útil de la respuesta.\n\n## Campos de respuesta\n\n| Campo | Descripción |\n| --- | --- |\n| `sys_id` | Identificador único del sistema para el registro del usuario |\n| `user_name` | Nombre de usuario/ID de inicio de sesión del usuario |\n| `name` | Nombre completo del usuario |\n| `first_name` | Primer nombre del usuario |\n| `last_name` | Apellido del usuario |\n| `active` | Booleano que indica si la cuenta de usuario está activa |\n| `u_business_unit` | Campo personalizado para la unidad de negocio del usuario |\n| `company` | Empresa/organización a la que pertenece el usuario |\n| `email` | Dirección de correo electrónico del usuario |\n| `phone` | Número de teléfono del usuario |\n| `sys_created_on` | Marca de tiempo de cuándo se creó el registro del usuario |\n\n## Ejemplo de Respuesta\n\n``` json\n{\n  \"result\": [\n    {\n      \"sys_id\": \"a1b2c3d4e5f678901234567890abcdef\",\n      \"user_name\": \"ejohnson\",\n      \"name\": \"Eric Johnson\",\n      \"first_name\": \"Eric\",\n      \"last_name\": \"Johnson\",\n      \"active\": \"true\",\n      \"u_business_unit\": \"Marketing\",\n      \"company\": \"Example Corp\",\n      \"email\": \"eric.johnson@example.com\",\n      \"phone\": \"555-123-4567\",\n      \"sys_created_on\": \"2023-10-27 10:00:00\"\n    },\n    {\n      \"sys_id\": \"f0e1d2c3b4a596870123456789abcdef\",\n      \"user_name\": \"e.smith\",\n      \"name\": \"Emily Smith\",\n      \"first_name\": \"Emily\",\n      \"last_name\": \"Smith\",\n      \"active\": \"true\",\n      \"u_business_unit\": \"Sales\",\n      \"company\": \"Example Corp\",\n      \"email\": \"emily.smith@example.com\",\n      \"phone\": \"555-987-6543\",\n      \"sys_created_on\": \"2023-10-26 14:30:00\"\n    }\n  ]\n}\n\n ```",
        "operationId": "getusers",
        "parameters": [
          {
            "name": "sysparm_query",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "active=true^nameSTARTSWITHE"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Excluir links"
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Ver valores de visualización"
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sys_id, user_name,name,first_name,last_name,active,u_business_unit,company,email,phone,sys_created_on"
            },
            "description": "Configuración de la salida"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/api/now/table/cmdb_ci_hardware": {
      "get": {
        "summary": "GetCiRelacionado",
        "description": "# Obtener Elementos de Configuración de Hardware de la CMDB de ServiceNow\n\n## Descripción general\n\nEste endpoint recupera registros de elementos de configuración (CI) de hardware de la Base de Datos de Gestión de la Configuración (CMDB) de ServiceNow. Consulta la tabla &#96;cmdb_ci_hardware&#96; para obtener activos de hardware específicos basados en filtros de empresa, estado operativo y nombre de clase.\n\n## Parámetros de consulta\n\n### &#96;sysparm_query&#96;\n\nDefine los criterios de filtro para los registros a recuperar:\n\n- **&#96;company&#61;9e02123487652910935586ad0ebb35c7&#96;** - Filtra los CI de hardware pertenecientes a una empresa específica (identificada por sys_id). Para este ejemplo se utilizó Grupo Martí\n    \n- **&#96;operational_status&#61;1&#96;** - Recupera solo los elementos de hardware operativos/activos (código de estado 1)\n    \n- **&#96;sys_class_name&#61;cmdb_ci_hardware&#96;** - Asegura que solo se devuelvan elementos de configuración de hardware\n    \n\nEl carácter &#96;^&#96; actúa como un operador AND, combinando las tres condiciones.\n\n### &#96;sysparm_exclude_reference_link&#96;\n\n**Valor:** &#96;true&#96;\n\nExcluye los enlaces de referencia de la carga útil de la respuesta, devolviendo solo los valores de datos sin hipervínculos a registros relacionados. Esto reduce el tamaño de la respuesta y mejora el rendimiento.\n\n### &#96;sysparm_display_value&#96;\n\n**Valor:** &#96;true&#96;\n\nDevuelve valores de visualización legibles por humanos en lugar de valores internos del sistema (como sys_ids para campos de referencia). Esto hace que la respuesta sea más fácil de usar al mostrar nombres y etiquetas reales en lugar de identificadores técnicos.\n\n### &#96;sysparm_fields&#96;\n\n**Valor:** &#96;sys_id,name,manufacturer,sys_updated_on,u_number,serial_number&#96;\n\nEspecifica qué campos incluir en la respuesta, limitando los datos devueltos solo a:\n\n- **sys_id** - Identificador único del sistema para el registro de CI\n    \n- **name** - Nombre para mostrar del elemento de hardware\n    \n- **manufacturer** - Nombre del fabricante del hardware\n    \n- **sys_updated_on** - Marca de tiempo de la última actualización\n    \n- **u_number** - Campo de número personalizado\n    \n- **serial_number** - Número de serie del dispositivo\n    \n\n## Respuesta esperada\n\nLa API devuelve un objeto JSON con un array &#96;result&#96; que contiene registros de CI de hardware que coinciden con los criterios de consulta. Cada registro incluye los campos especificados con sus valores de visualización.\n\n**Estructura de respuesta de ejemplo:**\n\n&#96;&#96;&#96; json\n{\n  &#34;result&#34;: [\n    {\n      &#34;sys_id&#34;: &#34;03fc6d0d879cf5504432cbbd0ebb3573&#34;,\n      &#34;name&#34;: &#34;FGT50E_CityCafe_StaFe&#34;,\n      &#34;manufacturer&#34;: &#34;FORTINET&#34;,\n      &#34;sys_updated_on&#34;: &#34;2025-09-12 23:02:28&#34;,\n      &#34;u_number&#34;: &#34;-XXX-FIRWAL-201&#34;,\n      &#34;serial_number&#34;: &#34;FGT50E5618016757&#34;\n    }\n  ]\n}\n\n &#96;&#96;&#96;\n\n## Autenticación\n\nEsta solicitud requiere autenticación en la instancia de ServiceNow. Asegúrese de que las credenciales correctas (Autenticación básica, OAuth o clave de API) estén configuradas en la configuración de Autorización de la solicitud antes de enviar.",
        "operationId": "getcirelacionado",
        "parameters": [
          {
            "name": "sysparm_query",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "company&#61;9e02123487652910935586ad0ebb35c7^operational_status&#61;1^sys_class_name&#61;cmdb_ci_hardware"
            },
            "description": "Compañia de ejemplo, \"Grupo Martí\""
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Excluir links"
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Ver valores de visualización"
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sys_id,name,manufacturer,sys_updated_on,u_number,serial_number"
            },
            "description": "Configuración de la salida"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": []
}
