{
  "openapi": "3.0.3",
  "info": {
    "title": "Visma Connect Public API",
    "version": "v1.0",
    "description": "This OpenAPI definition is based on the Visma Connect Public API as described in the provided documentation.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PIETERWIGBOLDUS/visma-connect-public-api/v1.0"
  },
  "servers": [
    {
      "url": "https://public-api.connect.identity.stagaws.visma.com",
      "description": "Stage environment"
    },
    {
      "url": "https://public-api.connect.visma.com",
      "description": "Production environment"
    }
  ],
  "security": [
    {
      "OAuth2ClientCredentials_Stage": []
    },
    {
      "OAuth2ClientCredentials_Production": []
    }
  ],
  "paths": {
    "/v1.0/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all Applications where user is contact",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet all the applications where user identified by email is contact.\n",
        "operationId": "getAllApplicationsWhereUserIsContact",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The applications where user is contact are returned in body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                },
                "examples": {
                  "Applications by contact": {
                    "value": [
                      {
                        "id": "odp",
                        "name": "Visma.net",
                        "is_first_party": true,
                        "application_type": "web",
                        "created_date": "2017-12-31T13:00:00Z",
                        "updated_date": "2018-12-31T13:00:00Z",
                        "logo_uri": "http://visma.com/logo-vismanet.png"
                      },
                      {
                        "id": "autopay",
                        "name": "Autopay",
                        "is_first_party": true,
                        "application_type": "web",
                        "created_date": "2017-12-31T13:00:00Z",
                        "updated_date": "2018-12-31T13:00:00Z",
                        "logo_uri": "http://visma.com/logo-vismanet.png"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. There are no applications where user is contact.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_EMAIL - The contact email is invalid.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid email": {
                    "value": {
                      "error_code": "ERROR_INVALID_EMAIL"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/roles": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all Roles for an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet all Roles for an Application. No roles returns empty array.\n",
        "operationId": "getAllRolesForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The set of application roles is returned in body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "ApplicationRolesExample": {
                    "$ref": "#/components/examples/ApplicationRolesExample"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. Indicates success. No roles found for application.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_APPLICATION_NOT_EXIST - Application does not exist in the database.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          }
        }
      },
      "patch": {
        "tags": [
          "Applications"
        ],
        "summary": "Add or Remove Roles for an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nAdd or removes roles for an application. Can only be called by Applications own OAuth client (must match \"application_id\").\nThis method retains all roles set on the application that is not removed in the request.\nNote: Removal of role(s) permanently revokes the role(s) from all assigned users.\n",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:update"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "add_roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of role names to add",
                    "example": [
                      "employee",
                      "approver"
                    ]
                  },
                  "remove_roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of role names to remove",
                    "example": [
                      "administrator"
                    ]
                  }
                }
              },
              "examples": {
                "addRoles": {
                  "summary": "Add and remove roles example",
                  "value": {
                    "add_roles": [
                      "employee",
                      "approver"
                    ],
                    "remove_roles": [
                      "administrator"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success. Roles added or removed.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Bad Request.\nPossible reasons:\n- ERROR_INVALID_ADD_REMOVE - Add and Remove attempted on same role(s)\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_ROLE - Invalid role name\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid add remove": {
                    "value": {
                      "error_code": "ERROR_INVALID_ADD_REMOVE"
                    }
                  },
                  "Invalid role": {
                    "value": {
                      "error_code": "ERROR_INVALID_ROLE"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.\nPossible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict.\nPossible reasons:\n- ERROR_INHERIT_AUTH_CLIENT - Client is inheriting auth from another client\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Inherit auth client": {
                    "value": {
                      "error_code": "ERROR_INHERIT_AUTH_CLIENT"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/roles/{role_name}/permissions": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all Permissions (RBAC) for a Role",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet all Permissions (RBAC) for a Role.\n",
        "operationId": "getAllPermissionsForRole",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          },
          {
            "$ref": "#/components/parameters/RoleNamePath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The set of role permissions are returned in body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "examples": {
                  "Role permissions": {
                    "value": [
                      "testapi:create",
                      "testapi:read",
                      "testapi:update",
                      "testapi:delete",
                      "testapi2:create"
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. Indicates success. No role permissions found.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_APPLICATIONID - The application ID is invalid.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid application ID": {
                    "value": {
                      "error_code": "ERROR_INVALID_APPLICATIONID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_ROLE_NOT_EXIST - Application role does not exist in the database.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_APPLICATION_NOT_EXIST - Application does not exist in the database.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Role not exist": {
                    "value": {
                      "error_code": "ERROR_ROLE_NOT_EXIST"
                    }
                  },
                  "Application not exist": {
                    "value": {
                      "error_code": "ERROR_APPLICATION_NOT_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/roles/{role}": {
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Rename Role for an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nRenames a role for an application. Can only be called by Application's own OAuth client (must match \"application_id\").\nThis method renames an existing role for the application and retains all user assignments using the new role name.\n",
        "operationId": "renameRoleForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:update"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          },
          {
            "$ref": "#/components/parameters/RolePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "The new name for the role."
                  }
                }
              },
              "examples": {
                "Rename role": {
                  "value": {
                    "role": "Administrator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success. Role renamed.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_ROLE - Invalid role name.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_RENAME - Existing and new role are equal.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid role": {
                    "value": {
                      "error_code": "ERROR_INVALID_ROLE"
                    }
                  },
                  "Invalid rename": {
                    "value": {
                      "error_code": "ERROR_INVALID_RENAME"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_ROLE_NOT_EXIST - Role does not exist.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Role not exist": {
                    "value": {
                      "error_code": "ERROR_ROLE_NOT_EXIST"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Possible reasons:\n- ERROR_ROLE_EXIST - Role already exist.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Role exist": {
                    "value": {
                      "error_code": "ERROR_ROLE_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/statuspageComponents": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all StatusPage Components for Applications",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet all Statuspage (status.visma.com) components for applications.\n",
        "operationId": "getAllStatusPageComponentsForApplications",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The set of application statuspage components is returned in body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationStatusPageComponents"
                  }
                },
                "examples": {
                  "StatusPageComponentsExample": {
                    "$ref": "#/components/examples/StatusPageComponentsExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/contacts": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get Contacts for Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet all Contacts for a specified application.\n",
        "operationId": "getContactsForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The list of contacts is returned in the body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "examples": {
                  "ApplicationContactsExample": {
                    "$ref": "#/components/examples/ApplicationContactsExample"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No content. No contacts have been found for the application. Body is empty.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_APPLICATION_NOT_EXIST - No application found for the application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Application not exist": {
                    "value": {
                      "error_code": "ERROR_APPLICATION_NOT_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/customClaims": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Add Custom Claim for an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nAdd Custom Claim for an application. Can only be called by Application's own OAuth client (must match \"application_id\").\nValues are available in the \"custom\" claim in Userinfo-endpoint if requested as \"custom\" Identity-scope in OpenID Connect flow.\nIf your client_id is \"myapp\" and you add a claim_name \"company_orgno\" then your custom claim will be returned as \"myapp:company_orgno\".\n",
        "operationId": "addCustomClaimForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:update"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "claim_name"
                ],
                "properties": {
                  "claim_name": {
                    "type": "string",
                    "description": "The name of the custom claim."
                  }
                }
              },
              "examples": {
                "CustomClaimCreateExample": {
                  "$ref": "#/components/examples/CustomClaimCreateExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Indicates success. Custom Claim added.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_CUSTOMCLAIM - Invalid custom claim name.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid custom claim": {
                    "value": {
                      "error_code": "ERROR_INVALID_CUSTOMCLAIM"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Possible reasons:\n- ERROR_CUSTOMCLAIM_EXIST - Custom claim already exist.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Custom claim exist": {
                    "value": {
                      "error_code": "ERROR_CUSTOMCLAIM_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/customClaims/{claim_name}": {
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete Custom Claim for an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nDeletes Custom Claim for an application. Can only be called by Application's own OAuth client (must match \"application_id\").\nDo not prefix claim_name with your client_id when deleting.\nNOTE: This will also delete all existing user claims linked to this custom claim.\n",
        "operationId": "deleteCustomClaimForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:update"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          },
          {
            "$ref": "#/components/parameters/ClaimNamePath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. Custom Claim deleted.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_CUSTOMCLAIM_NOT_EXIST - Custom claim does not exist.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Custom claim not exist": {
                    "value": {
                      "error_code": "ERROR_CUSTOMCLAIM_NOT_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/applications/{application_id}/features": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get all features that an Application has",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet all features that an Application has.\n",
        "operationId": "getAllFeaturesForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:features:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:features:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The list of application features is returned in the body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationFeature"
                  }
                },
                "examples": {
                  "applicationFeatures": {
                    "value": [
                      {
                        "feature_code": "MY_FUNCTIONALITY_NAME",
                        "description": "What my feature does"
                      },
                      {
                        "feature_code": "MY_OTHER_FUNCTIONALITY_NAME",
                        "description": "What my other feature does"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. Indicates success. There are no features added to the application.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Add a feature to an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nAn \"Application feature\" can be whatever is useful for your Application (e.g. related to license modules). \nA feature is delegated to Tenants. Max length feature_code is 100, max length description is 255. \nIt is validated with regular expression: ^[A-Za-z0-9-_.]+$\n",
        "operationId": "addFeatureToApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:features:create"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:features:create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFeature"
              },
              "examples": {
                "Add feature": {
                  "value": {
                    "feature_code": "MY_FUNCTIONALITY_NAME",
                    "description": "What my feature does"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Indicates success.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_FEATURE_CODE - Missing or invalid feature code, or validation failed.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_FEATURE_DESCRIPTION - Missing or invalid feature description.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid feature code": {
                    "value": {
                      "error_code": "ERROR_INVALID_FEATURE_CODE"
                    }
                  },
                  "Invalid feature description": {
                    "value": {
                      "error_code": "ERROR_INVALID_FEATURE_DESCRIPTION"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Possible reasons:\n- ERROR_FEATURE_CODE_ALREADY_EXISTS - This feature is already defined on your application.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Feature code already exists": {
                    "value": {
                      "error_code": "ERROR_FEATURE_CODE_ALREADY_EXISTS"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Edit a feature description for an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nEdit a feature description for an Application.\n",
        "operationId": "editFeatureDescriptionForApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:features:update"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:features:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFeature"
              },
              "examples": {
                "Edit feature": {
                  "value": {
                    "feature_code": "MY_FUNCTIONALITY_NAME",
                    "description": "What my feature does"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_FEATURE_CODE - Missing or invalid feature code, or validation failed.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_FEATURE_DESCRIPTION - Missing or invalid feature description.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid feature code": {
                    "value": {
                      "error_code": "ERROR_INVALID_FEATURE_CODE"
                    }
                  },
                  "Invalid feature description": {
                    "value": {
                      "error_code": "ERROR_INVALID_FEATURE_DESCRIPTION"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_FEATURE_CODE_NOT_EXIST - The feature does not exist on your application.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Feature code not exist": {
                    "value": {
                      "error_code": "ERROR_FEATURE_CODE_NOT_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete a feature from an Application",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nDelete a feature from an Application.\nNote: Removal of a feature permanently removes the feature from all assigned tenants.\n",
        "operationId": "deleteFeatureFromApplication",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:application:features:delete"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:application:features:delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "feature_code"
                ],
                "properties": {
                  "feature_code": {
                    "type": "string",
                    "description": "The feature code to delete."
                  }
                }
              },
              "examples": {
                "Delete feature": {
                  "value": {
                    "feature_code": "MY_FUNCTIONALITY_NAME"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content. Indicates success.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_FEATURE_CODE - Missing or invalid feature code.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid feature code": {
                    "value": {
                      "error_code": "ERROR_INVALID_FEATURE_CODE"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Possible reasons:\n- ERROR_UNAUTHORIZED_CLIENT - OAuth client does not match application_id.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Unauthorized client": {
                    "value": {
                      "error_code": "ERROR_UNAUTHORIZED_CLIENT"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_FEATURE_CODE_NOT_EXIST - The feature does not exist on your application.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Feature code not exist": {
                    "value": {
                      "error_code": "ERROR_FEATURE_CODE_NOT_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/vismaBusinessUnits": {
      "get": {
        "tags": [
          "Visma Business Units"
        ],
        "summary": "Get Visma Business Units",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet list of all Visma Business Units.\n",
        "operationId": "getVismaBusinessUnits",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:vismabusinessunits:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:vismabusinessunits:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IncludeDiscontinuedQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VismaBusinessUnit"
                  }
                },
                "examples": {
                  "VismaBusinessUnitsExample": {
                    "value": [
                      {
                        "business_unit_name": "Visma Software A/S",
                        "country_name": "Denmark",
                        "iso2code": "DK",
                        "vom_id": 1
                      },
                      {
                        "business_unit_name": "Visma Software AS",
                        "country_name": "Norway",
                        "iso2code": "NO",
                        "vom_id": 2
                      },
                      {
                        "business_unit_name": "Visma Software AB",
                        "country_name": "Sweden",
                        "iso2code": "SE",
                        "discontinued_date": "2022-02-18T00:00:00Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Countries",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet list of all countries available for Visma Connect users.\n",
        "operationId": "getCountries",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:country:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:country:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "examples": {
                  "CountriesExample": {
                    "$ref": "#/components/examples/CountriesExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/languages": {
      "get": {
        "tags": [
          "Languages"
        ],
        "summary": "Get Languages",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nGet list of all languages available for Visma Connect users.\n",
        "operationId": "getLanguages",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:language:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:language:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                },
                "examples": {
                  "LanguagesExample": {
                    "$ref": "#/components/examples/LanguagesExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/search/errorlogs": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for error logs by ID",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nSearch for errors by their ID. You can currently only search for Error IDs received from Connect's \"Oops page\".\n",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:errorlog:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:errorlog:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: NONE](https://img.shields.io/badge/Test%20automation-NONE-red)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ErrorLog"
                  }
                },
                "examples": {
                  "Search error logs": {
                    "value": [
                      {
                        "message": "{\"request_info\": {\"source_ip_address\": \"127.0.0.1\",\"user_agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36\",\"http_method\": \"GET\",\"path\": \"/error\"},\"message\": \"Error page: invalid_scope 0HLHRONLNQEQ1:00000001, errorId: d8169661-f581-4ff6-15eb-57f995055087\"}",
                        "timestamp": "2020-06-16T07:16:42.995Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. No results found for given search parameters.\n![Test automation: NONE](https://img.shields.io/badge/Test%20automation-NONE-red)\n"
          },
          "400": {
            "description": "Bad Request.\nPossible reasons:\n- ERROR_INVALID_ERRORID - Invalid error ID (must be a valid GUID)\n  ![Test automation: NONE](https://img.shields.io/badge/Test%20automation-NONE-red)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid error ID": {
                    "value": {
                      "error_code": "ERROR_INVALID_ERRORID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/search/users": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for users",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nSearch for users using various attributes. Wildcard search with % (or *) allowed and query string must be URL encoded.\nAs operator you can use \"AND\" or \"OR\" for filtering the search based on ANY or ALL attributes matched.\nWhen at least 2 search attributes are provided, the operator is required.\n\n**Important notes:**\n- Phone numbers are stored in our system using the country prefix format containing the \"+\" sign. For example, for a RO number the search should be initiated with the \"+40\" prefix. Using a wildcard instead of the prefix will have the effect of searching phone numbers from all countries.\n- At the moment, using multiple search attributes together with email_pending or wildcard search by email_pending are not supported.\n",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:user:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:user:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailQuery"
          },
          {
            "$ref": "#/components/parameters/NameQuery"
          },
          {
            "$ref": "#/components/parameters/FirstNameQuery"
          },
          {
            "$ref": "#/components/parameters/LastNameQuery"
          },
          {
            "name": "unverified_phone_number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unverified phone number to search for (supports wildcards with % or *)"
          },
          {
            "$ref": "#/components/parameters/PhoneNumberQuery"
          },
          {
            "name": "email_pending",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pending email address to search for (wildcards not supported, cannot be combined with other attributes)"
          },
          {
            "$ref": "#/components/parameters/OperatorQuery"
          },
          {
            "$ref": "#/components/parameters/LimitMaxQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserSearchResult"
                  }
                },
                "examples": {
                  "Search users": {
                    "value": [
                      {
                        "id": "0cec8181-a196-486c-be46-29c83519e518",
                        "email": "john.doe@example.com",
                        "email_verified": true,
                        "email_verified_date": "2017-11-05T13:15:30Z",
                        "email_not_accessible": false,
                        "email_change_allowed": false,
                        "name": "John Doe",
                        "first_name": "John",
                        "last_name": "Doe",
                        "country_code": "NO",
                        "preferred_language": "en-GB",
                        "created_date": "1994-11-05T13:15:30Z",
                        "updated_date": "1994-11-05T13:15:30Z",
                        "suspended_date": "2018-11-05T13:15:30Z",
                        "suspended_reason": "Account was abused by phishing.",
                        "login_count": "10",
                        "login_date": "1994-11-05T13:15:30Z",
                        "last_login_date": "1994-11-05T13:10:30Z",
                        "password_retry_count": "4",
                        "password_policy": "VismaConnect_Normal_v1",
                        "password_policy_current_password": "VismaConnect_Normal_v1",
                        "password_changed_date": "1994-11-05T13:15:30Z",
                        "password_account_locked_date": "1994-11-05T13:15:30Z",
                        "password_reset_key_generated": "1994-11-05T13:15:30Z",
                        "password_last_login_time": "1994-11-05T13:15:30Z",
                        "seconds_until_password_expires": "27303811",
                        "2step_enforced": true,
                        "2step_enabled_date": "1994-11-05T13:15:30Z",
                        "2step_disabled_date": "1994-11-05T13:15:30Z",
                        "2step_emergencycode_generated_date": "1994-11-05T13:15:30Z",
                        "u2f_enabled_date": "1994-11-05T13:15:30Z",
                        "u2f_disabled_date": "1994-11-05T13:15:30Z",
                        "2step_sms_enabled_date": "1994-11-05T13:15:30Z",
                        "2step_sms_disabled_date": "1994-11-05T13:15:30Z",
                        "2step_fido_devices": [
                          {
                            "id": "81c0f6dc-7858-4882-a30f-09dd5c244e1c",
                            "device_name": "Device 2",
                            "created_date": "2020-03-26T13:56:29Z",
                            "last_used_date": "2020-03-26T14:15:31Z",
                            "is_platform_authenticator": true,
                            "platform": "Mac OS X"
                          },
                          {
                            "id": "52d0f6dc-7858-4882-a30f-09dd5c244f2a",
                            "device_name": "Security Key Office",
                            "created_date": "2020-03-26T13:56:29Z",
                            "last_used_date": "2020-03-26T14:15:31Z",
                            "is_platform_authenticator": false
                          }
                        ],
                        "unverified_phone_number": "+47 123 456",
                        "activated_date": "2016-12-05T08:15:17Z",
                        "phones": [
                          {
                            "id": "04f0328b-e439-4735-95fb-a5915737dc3d",
                            "phone_number": "+4712345678",
                            "is_primary": true,
                            "is_verified_by_sms": true,
                            "is_verified_by_call": false,
                            "created_date": "2017-12-31T13:15:30Z"
                          },
                          {
                            "id": "0f2f37f6-da49-416c-8921-7198043235fc",
                            "phone_number": "+479876543",
                            "is_primary": false,
                            "is_verified_by_sms": true,
                            "is_verified_by_call": true,
                            "created_date": "2017-12-31T13:00:00Z"
                          }
                        ],
                        "recovery_emails": [
                          {
                            "email": "john.doe@yahoo.com",
                            "created_date": "2022-08-03T10:48:29Z"
                          },
                          {
                            "email": "john.doe@hotmail.com",
                            "created_date": "2024-04-09T11:59:04Z"
                          }
                        ],
                        "deletion_requested_date": "2020-10-15T07:16:08Z",
                        "deletion_requested_reason": "User left the company"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. No results found for given search parameters.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Bad Request.\nPossible reasons:\n- ERROR_INVALID_QUERY - Invalid query parameters or format\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid query": {
                    "value": {
                      "error_code": "ERROR_INVALID_QUERY"
                    }
                  }
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented.\nPossible reasons:\n- EMAIL_PENDING_MULTIPLE_SEARCH_NOT_SUPPORTED - Multiple search attributes with email_pending or wildcard search by email_pending are not supported\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Email pending multiple search not supported": {
                    "value": {
                      "error_code": "EMAIL_PENDING_MULTIPLE_SEARCH_NOT_SUPPORTED"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/search/tenants": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for tenants",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nSearch for tenants using various attributes. Wildcard search with % (or *) allowed and query string must be URL encoded.\nAs operator you can use \"AND\" or \"OR\" for filtering the search based on ANY or ALL attributes matched.\nWhen at least 2 search attributes are provided, the operator is required.\n\n**Important notes for domain_name search:**\n- The search needs to be done via the full domain name, no wildcards are accepted. Example: productawesome.com\n- The search applies only to fully verified domains in Authentication Settings. Tenants where the domain is added but not verified won't appear in the results list.\n",
        "operationId": "searchTenants",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:tenant:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:tenant:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationNameQuery"
          },
          {
            "$ref": "#/components/parameters/OrganizationNumberQuery"
          },
          {
            "$ref": "#/components/parameters/ExternalIdQuery"
          },
          {
            "$ref": "#/components/parameters/ApplicationIdQuery"
          },
          {
            "name": "my_domain",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "MyDomain (custom subdomain) to search for (supports wildcards with % or *)"
          },
          {
            "name": "business_unit_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Business unit name to search for (supports wildcards with % or *)"
          },
          {
            "$ref": "#/components/parameters/SubscriptionSystemIdQuery"
          },
          {
            "$ref": "#/components/parameters/SubscriptionExternalIdQuery"
          },
          {
            "name": "subscriber_external_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Subscriber external ID to search for (supports wildcards with % or *)"
          },
          {
            "name": "hierarchy_level",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Hierarchy level to search for (default = 0 when not specified, 0 = root level)"
          },
          {
            "$ref": "#/components/parameters/DomainNameQuery"
          },
          {
            "$ref": "#/components/parameters/OperatorQuery"
          },
          {
            "$ref": "#/components/parameters/LimitMaxQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantSearchResult"
                  }
                },
                "examples": {
                  "Search tenants": {
                    "value": [
                      {
                        "id": "d1da2ac1-4a1c-4b51-9c87-1a057e0e3336",
                        "created_date": "2022-02-10T08:12:36Z",
                        "updated_date": "2022-02-10T08:12:36Z",
                        "organization_number": "80756085",
                        "organization_name": "Customer NL LTD",
                        "address_1": "085Address1",
                        "address_2": "56085Address2",
                        "postal_code": "756085",
                        "city": "Timisoara",
                        "external_id": "4480756085",
                        "country_code": "NL",
                        "application_id": "connect",
                        "parent_id": "0527097f-52c8-42b2-96cb-47d6df36b6cf",
                        "subscription_system_id": "6eeb1cfd-21bf-411c-8d62-1c545c274add",
                        "subscriber_external_id": "123456789"
                      },
                      {
                        "id": "8aa00a43-e06d-4023-aa18-efbcc791a704",
                        "created_date": "2021-02-10T08:12:36Z",
                        "updated_date": "2021-04-10T08:12:36Z",
                        "organization_number": "80756085",
                        "organization_name": "Other Customer NL",
                        "address_1": "St. AVenue 5x B2",
                        "address_2": "C17",
                        "postal_code": "7201BX",
                        "city": "Oslo",
                        "external_id": "5135151bjhegw",
                        "country_code": "NL",
                        "application_id": "odp",
                        "parent_id": "0527097f-52c8-42b2-96cb-47d6df36b6ct",
                        "subscription_system_id": "6eeb1cfd-21bf-411c-8d62-1c545c274add",
                        "subscriber_external_id": "9999"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. No results found for given search parameters.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_QUERY - Invalid query parameters or format.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid query": {
                    "value": {
                      "error_code": "ERROR_INVALID_QUERY"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/search/domains": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for domains",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nSearch for domains by name. Wildcard search with % (or *) allowed and query string must be URL encoded.\n",
        "operationId": "searchDomains",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:domain:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:domain:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainSearchNameQuery"
          },
          {
            "$ref": "#/components/parameters/LimitMaxQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainSearchResult"
                  }
                },
                "examples": {
                  "Search domains": {
                    "value": [
                      {
                        "id": "d1da2ac1-4a1c-4b51-9c87-1a057e0e3336",
                        "name": "visma.com",
                        "created_date": "2022-02-10T08:12:36Z",
                        "is_verified": true,
                        "tenant_id": "8aa00a43-e06d-4023-aa18-efbcc791a704"
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. No results found for given search parameters.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_QUERY - Invalid query parameters or format.\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid query": {
                    "value": {
                      "error_code": "ERROR_INVALID_QUERY"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/search/subscriptionSystems": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for subscription systems",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nSearch for subscription systems by external ID. Wildcard search with % (or *) allowed and query string must be URL encoded.\nAs operator you can use \"AND\" or \"OR\" for filtering the search based on ANY or ALL attributes matched.\nWhen at least 2 search attributes are provided, the operator is required.\n",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:subscriptionsystem:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:subscriptionsystem:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ExternalIdQuery"
          },
          {
            "$ref": "#/components/parameters/OperatorQuery"
          },
          {
            "$ref": "#/components/parameters/LimitMaxQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionSystemSearchResult"
                  }
                },
                "examples": {
                  "Search subscription systems": {
                    "value": [
                      {
                        "id": "d607ac33-0155-4b31-a437-4b78a0dfd7ba",
                        "name": "Zuora SE",
                        "external_id": "BF2DFGFGJ8434FGNU",
                        "business_unit_name": "Visma Software AB",
                        "application_id": "TestClient1",
                        "application_name": "Test Client 1",
                        "tenant_owners": [
                          {
                            "application_id": "TestClient1",
                            "application_name": "Test Client 1"
                          },
                          {
                            "application_id": "TestClient2",
                            "application_name": "Test Client 2"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. No results found for given search parameters.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Bad Request.\nPossible reasons:\n- ERROR_INVALID_QUERY - Invalid query parameters or format\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid query": {
                    "value": {
                      "error_code": "ERROR_INVALID_QUERY"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/search/subscriptions": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search for tenant subscriptions",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nSearch for tenant subscriptions by subscription system ID or subscription external ID. Wildcard search with % (or *) allowed and query string must be URL encoded.\nAs operator you can use \"AND\" or \"OR\" for filtering the search based on ANY or ALL attributes matched.\nWhen at least 2 search attributes are provided, the operator is required.\n",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:tenant:subscription:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:tenant:subscription:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionSystemIdQuery"
          },
          {
            "$ref": "#/components/parameters/SubscriptionExternalIdQuery"
          },
          {
            "$ref": "#/components/parameters/OperatorQuery"
          },
          {
            "$ref": "#/components/parameters/LimitMaxQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The results are returned in the response body.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionSearchResult"
                  }
                },
                "examples": {
                  "Search subscriptions": {
                    "value": [
                      {
                        "subscription_id": "f4a40f6b-1d74-44ef-8ebb-aae7850bf969",
                        "subscription_name": "My perfect subscription",
                        "created_date": "2023-02-28T13:15:30Z",
                        "updated_date": "2023-02-28T13:15:30Z",
                        "subscription_external_id": "abc55323500000b9",
                        "subscriber_external_id": "123456789",
                        "subscription_system_id": "8eae0115-9659-4562-a46a-9f55905fa106",
                        "subscription_system_name": "Zuora",
                        "subscription_system_external_id": "466345745754",
                        "business_unit_name": "Visma Software AS",
                        "tenant_id": "e23b447d-3ba2-4683-80c5-b8d059943913",
                        "applications": [
                          {
                            "application_id": "financials",
                            "application_name": "Financials",
                            "features": [
                              {
                                "feature_code": "Inventory",
                                "tenant_quantity": 10
                              },
                              {
                                "feature_code": "Branch"
                              }
                            ]
                          },
                          {
                            "application_id": "autopay",
                            "application_name": "Autopay"
                          }
                        ]
                      },
                      {
                        "subscription_id": "ed91d97c-5062-40f8-85ad-1d53cab529a4",
                        "subscription_name": "My fabulous subscription",
                        "created_date": "2023-02-28T13:15:30Z",
                        "updated_date": "2023-02-28T13:15:30Z",
                        "subscription_external_id": "553235top1",
                        "subscriber_external_id": "55557ulvt",
                        "subscription_system_id": "3c8aeedf-a7aa-4236-8db1-1ea175abb269",
                        "subscription_system_name": "Zuora",
                        "subscription_system_external_id": "466345745754",
                        "business_unit_name": "Visma Software AS",
                        "tenant_id": "e23b447d-3ba2-4683-80c5-b8d059943912",
                        "applications": [
                          {
                            "application_id": "autopay",
                            "application_name": "Autopay"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. No results found for given search parameters.\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Bad Request.\nPossible reasons:\n- ERROR_INVALID_QUERY - Invalid query parameters or format\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid query": {
                    "value": {
                      "error_code": "ERROR_INVALID_QUERY"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get users for current Application or Get a User by ApplicationID and ExternalID",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nThis endpoint supports two distinct use cases:\n\n**Use Case 1: List users for current application**\n- Query with pagination parameters (per_page, page, include_totals) and optional filters (email, 2step_enabled)\n- Do NOT include application_id or external_id parameters\n- Response format depends on include_totals parameter:\n  - include_totals=true (default): Returns object with total_users, total_pages, and users array\n  - include_totals=false: Returns direct array of users\n\n**Use Case 2: Get single user by ApplicationID and ExternalID**\n- Query with both application_id AND external_id parameters (both required)\n- Do NOT include other parameters (per_page, page, include_totals, email, 2step_enabled)\n- Returns single user object\n- **Note:** This use case is kept only for backwards compatibility, from when only a single user could be linked to a distinct ApplicationID and ExternalID combination. It returns the user which was the first one linked to the application. If you want to retrieve all users linked to an ApplicationID and ExternalID combination, use the GET /v2.0/users endpoint instead.\n",
        "operationId": "getUsers",
        "security": [
          {
            "OAuth2ClientCredentials_Stage": [
              "publicapi:user:read"
            ]
          },
          {
            "OAuth2ClientCredentials_Production": [
              "publicapi:user:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdsQuery"
          },
          {
            "$ref": "#/components/parameters/UsersPerPageQuery"
          },
          {
            "$ref": "#/components/parameters/UsersPageQuery"
          },
          {
            "$ref": "#/components/parameters/UsersIncludeTotalsQuery"
          },
          {
            "$ref": "#/components/parameters/UserEmailQuery"
          },
          {
            "$ref": "#/components/parameters/TwoStepEnabledQuery"
          },
          {
            "$ref": "#/components/parameters/UserApplicationIdQuery"
          },
          {
            "$ref": "#/components/parameters/UserExternalIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Indicates success. The response format depends on which use case is being invoked:\n- Use Case 1 with include_totals=true: Returns object with total_users, total_pages, and users array\n- Use Case 1 with include_totals=false: Returns direct array of users\n- Use Case 2: Returns single user object\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UsersListWithTotals"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserListItem"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  ]
                },
                "examples": {
                  "listUsersWithTotals": {
                    "summary": "Use Case 1 - List users with include_totals=true",
                    "value": {
                      "total_users": 5433,
                      "total_pages": 109,
                      "users": [
                        {
                          "id": "0cec8181-a196-486c-be46-29c83519e518",
                          "email": "john.doe@example.com",
                          "name": "John Doe",
                          "first_name": "John",
                          "last_name": "Doe",
                          "created_date": "1994-11-05T13:15:30Z",
                          "updated_date": "1994-11-05T13:15:30Z",
                          "login_date": "1994-11-05T13:15:30Z",
                          "country_code": "NO",
                          "preferred_language": "en-GB",
                          "2step_enabled_date": "1994-11-05T13:15:30Z",
                          "2step_disabled_date": "1994-11-05T13:15:30Z",
                          "2step_fido_devices": [
                            {
                              "id": "81c0f6dc-7858-4882-a30f-09dd5c244e1c",
                              "device_name": "Device 2",
                              "created_date": "2020-03-26T13:56:29Z",
                              "last_used_date": "2020-03-26T14:15:31Z",
                              "is_platform_authenticator": true,
                              "platform": "Mac OS X"
                            },
                            {
                              "id": "52d0f6dc-7858-4882-a30f-09dd5c244f2a",
                              "device_name": "Security Key Office",
                              "created_date": "2020-03-26T13:56:29Z",
                              "last_used_date": "2020-03-26T14:15:31Z",
                              "is_platform_authenticator": false,
                              "platform": ""
                            }
                          ],
                          "passwordless_fido_devices": [
                            {
                              "id": "71a0b1ac-4611-4281-b40c-11ee4a125e2b",
                              "device_name": "Windows Fingerprint",
                              "created_date": "2020-03-26T13:56:29Z",
                              "last_used_date": "2020-03-26T14:15:31Z",
                              "is_platform_authenticator": true,
                              "platform": "Windows"
                            }
                          ]
                        },
                        {
                          "id": "2cec8181-a196-486c-be46-29c83519e424",
                          "email": "jane.doe@example.com",
                          "name": "Jane Doe",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "created_date": "1994-11-05T13:15:30Z",
                          "updated_date": "1994-11-05T13:15:30Z",
                          "login_date": "1994-11-05T13:15:30Z",
                          "country_code": "NO",
                          "preferred_language": "en-GB",
                          "2step_enabled_date": "1994-11-05T13:15:30Z",
                          "2step_disabled_date": "1994-11-05T13:15:30Z"
                        }
                      ]
                    }
                  },
                  "listUsersWithoutTotals": {
                    "summary": "Use Case 1 - List users with include_totals=false",
                    "value": [
                      {
                        "id": "0cec8181-a196-486c-be46-29c83519e518",
                        "email": "john.doe@example.com",
                        "name": "John Doe",
                        "first_name": "John",
                        "last_name": "Doe",
                        "created_date": "1994-11-05T13:15:30Z",
                        "updated_date": "1994-11-05T13:15:30Z",
                        "login_date": "1994-11-05T13:15:30Z",
                        "country_code": "NO",
                        "preferred_language": "en-GB",
                        "2step_enabled_date": "1994-11-05T13:15:30Z",
                        "2step_disabled_date": "1994-11-05T13:15:30Z",
                        "2step_fido_devices": [
                          {
                            "id": "81c0f6dc-7858-4882-a30f-09dd5c244e1c",
                            "device_name": "Device 2",
                            "created_date": "2020-03-26T13:56:29Z",
                            "last_used_date": "2020-03-26T14:15:31Z",
                            "is_platform_authenticator": true,
                            "platform": "Mac OS X"
                          },
                          {
                            "id": "52d0f6dc-7858-4882-a30f-09dd5c244f2a",
                            "device_name": "Security Key Office",
                            "created_date": "2020-03-26T13:56:29Z",
                            "last_used_date": "2020-03-26T14:15:31Z",
                            "is_platform_authenticator": false,
                            "platform": ""
                          }
                        ],
                        "passwordless_fido_devices": [
                          {
                            "id": "71a0b1ac-4611-4281-b40c-11ee4a125e2b",
                            "device_name": "Windows Fingerprint",
                            "created_date": "2020-03-26T13:56:29Z",
                            "last_used_date": "2020-03-26T14:15:31Z",
                            "is_platform_authenticator": true,
                            "platform": "Windows"
                          }
                        ]
                      },
                      {
                        "id": "2cec8181-a196-486c-be46-29c83519e424",
                        "email": "jane.doe@example.com",
                        "name": "Jane Doe",
                        "first_name": "Jane",
                        "last_name": "Doe",
                        "created_date": "1994-11-05T13:15:30Z",
                        "updated_date": "1994-11-05T13:15:30Z",
                        "login_date": "1994-11-05T13:15:30Z",
                        "country_code": "NO",
                        "preferred_language": "en-GB",
                        "2step_enabled_date": "1994-11-05T13:15:30Z",
                        "2step_disabled_date": "1994-11-05T13:15:30Z"
                      }
                    ]
                  },
                  "singleUserByAppIdAndExternalId": {
                    "summary": "Use Case 2 - Get single user by application_id and external_id",
                    "value": {
                      "id": "0cec8181-a196-486c-be46-29c83519e518",
                      "email": "john.doe@example.com",
                      "email_verified": true,
                      "email_verified_date": "2017-11-05T13:15:30Z",
                      "email_change_allowed": false,
                      "name": "John Doe",
                      "first_name": "John",
                      "last_name": "Doe",
                      "country_code": "NO",
                      "preferred_language": "en-GB",
                      "created_date": "1994-11-05T13:15:30Z",
                      "updated_date": "1994-11-05T13:15:30Z",
                      "suspended_date": "2018-11-05T13:15:30Z",
                      "suspended_reason": "Account was abused by phishing.",
                      "login_count": "10",
                      "login_date": "1994-11-05T13:15:30Z",
                      "last_login_date": "1994-11-05T13:10:30Z",
                      "password_retry_count": "4",
                      "password_policy": "VismaConnect_Normal_v1",
                      "password_policy_current_password": "VismaConnect_Normal_v1",
                      "password_changed_date": "1994-11-05T13:15:30Z",
                      "password_account_locked_date": "1994-11-05T13:15:30Z",
                      "password_reset_key_generated": "1994-11-05T13:15:30Z",
                      "password_last_login_time": "1994-11-05T13:15:30Z",
                      "passwordless_checked_date": "1994-11-05T13:15:30Z",
                      "seconds_until_password_expires": "27303811",
                      "2step_enforced": true,
                      "2step_enabled_date": "1994-11-05T13:15:30Z",
                      "2step_disabled_date": "1994-11-05T13:15:30Z",
                      "u2f_enabled_date": "1994-11-05T13:15:30Z",
                      "u2f_disabled_date": "1994-11-05T13:15:30Z",
                      "2step_sms_enabled_date": "1994-11-05T13:15:30Z",
                      "2step_sms_disabled_date": "1994-11-05T13:15:30Z",
                      "2step_fido_devices": [
                        {
                          "id": "81c0f6dc-7858-4882-a30f-09dd5c244e1c",
                          "device_name": "Device 2",
                          "created_date": "2020-03-26T13:56:29Z",
                          "last_used_date": "2020-03-26T14:15:31Z",
                          "is_platform_authenticator": true,
                          "platform": "Mac OS X"
                        },
                        {
                          "id": "52d0f6dc-7858-4882-a30f-09dd5c244f2a",
                          "device_name": "Security Key Office",
                          "created_date": "2020-03-26T13:56:29Z",
                          "last_used_date": "2020-03-26T14:15:31Z",
                          "is_platform_authenticator": false,
                          "platform": ""
                        }
                      ],
                      "passwordless_fido_devices": [
                        {
                          "id": "71a0b1ac-4611-4281-b40c-11ee4a125e2b",
                          "device_name": "Windows Fingerprint",
                          "created_date": "2020-03-26T13:56:29Z",
                          "last_used_date": "2020-03-26T14:15:31Z",
                          "is_platform_authenticator": true,
                          "platform": "Windows"
                        }
                      ],
                      "unverified_phone_number": "+47 123 456",
                      "phones": [
                        {
                          "id": "04f0328b-e439-4735-95fb-a5915737dc3d",
                          "phone_number": "+4712345678",
                          "is_primary": true,
                          "is_verified_by_sms": true,
                          "is_verified_by_call": false,
                          "created_date": "2017-12-31T13:15:30Z"
                        },
                        {
                          "id": "0f2f37f6-da49-416c-8921-7198043235fc",
                          "phone_number": "+479876543",
                          "is_primary": false,
                          "is_verified_by_sms": true,
                          "is_verified_by_call": true,
                          "created_date": "2017-12-31T13:00:00Z"
                        }
                      ],
                      "deletion_requested_date": "2020-10-15T07:16:08Z",
                      "deletion_requested_reason": "User left the company",
                      "password_change_required": false,
                      "national_identity_enabled_countries": [
                        "NO",
                        "DK"
                      ]
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content. Indicates success. No users found for application (Use Case 1).\n![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n"
          },
          "400": {
            "description": "Possible reasons:\n- ERROR_INVALID_APPLICATIONID - The application ID is invalid (Use Case 2).\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_EXTERNALID - The external ID is invalid (Use Case 2).\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_USERS_PER_PAGE - The per_page parameter should be between 1 and 50 (Use Case 1).\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n- ERROR_INVALID_PAGE - The page parameter should be between 1 and total_pages (Use Case 1).\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid application ID": {
                    "value": {
                      "error_code": "ERROR_INVALID_APPLICATIONID"
                    }
                  },
                  "Invalid external ID": {
                    "value": {
                      "error_code": "ERROR_INVALID_EXTERNALID"
                    }
                  },
                  "Invalid users per page": {
                    "value": {
                      "error_code": "ERROR_INVALID_USERS_PER_PAGE"
                    }
                  },
                  "Invalid page": {
                    "value": {
                      "error_code": "ERROR_INVALID_PAGE"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Possible reasons:\n- ERROR_USER_NOT_EXIST - The user is not found (Use Case 2).\n  ![Test automation: DONE](https://img.shields.io/badge/Test%20automation-DONE-brightgreen)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "User not exist": {
                    "value": {
                      "error_code": "ERROR_USER_NOT_EXIST"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add user",
        "description": "![Status: USABLE](https://img.shields.io/badge/Status-USABLE-brightgreen)\n\nAdds a user. User is linked to the calling application based on client_id in access token.\nInput fields are ignored if user already exists.\nMost web applications (default behaviour) will require the email address to be validated before allowing a sign in.\n",
        "security": [
          {
[...]
