{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://sandbox-api.onsched.com/"
    }
  ],
  "info": {
    "description": "Endpoints for system utilities. e.g.Health",
    "title": "OnSched API Utility",
    "version": "v1",
    "x-apisguru-categories": [
      "collaboration"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_onsched_com_img_apple-touch-icon-57x57-precomposed.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://sandbox-api.onsched.com/swagger/utility/swagger.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "onsched.com",
    "x-serviceName": "utility",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/onsched.com/utility/v1/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "security": [
    {
      "oauth2": [
        "OnSchedApi"
      ]
    }
  ],
  "paths": {
    "/utility/v1/health/heartbeat": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success"
          }
        },
        "tags": [
          "Health"
        ],
        "description": "GET /utility/v1/health/heartbeat",
        "operationId": "get_utility_v1_health_heartbeat"
      }
    },
    "/utility/v1/health/threadinfo": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadPoolInfo"
                }
              }
            },
            "description": "Success"
          }
        },
        "tags": [
          "Health"
        ],
        "description": "GET /utility/v1/health/threadinfo",
        "operationId": "get_utility_v1_health_threadinfo"
      }
    }
  },
  "components": {
    "schemas": {
      "ThreadPoolInfo": {
        "additionalProperties": false,
        "properties": {
          "availableCompletionThreads": {
            "format": "int32",
            "type": "integer"
          },
          "availableWorkerThreads": {
            "format": "int32",
            "type": "integer"
          },
          "maxCompletionThreads": {
            "format": "int32",
            "type": "integer"
          },
          "maxWorkerThreads": {
            "format": "int32",
            "type": "integer"
          },
          "minCompletionThreads": {
            "format": "int32",
            "type": "integer"
          },
          "minWorkerThreads": {
            "format": "int32",
            "type": "integer"
          },
          "occupiedCompletionThreads": {
            "format": "int32",
            "type": "integer"
          },
          "occupiedWorkerThreads": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "oauth2": {
        "flows": {
          "clientCredentials": {
            "scopes": {
              "OnSchedApi": "Consumer and Setup Interface",
              "distance": "Travel and Distance calculations"
            },
            "tokenUrl": "https://sandbox-identity.onsched.com/connect/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "Health"
    }
  ]
}
