{
  "openapi": "3.0.0",
  "info": {
    "description": "#Documentation\r\n\r\nThis is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.\r\n\r\nThe update brings with it Swagger-based documentation. [Swagger](http://swagger.io) is an emerging standard for describing REST-based APIs, and with this Swagger-compliant endpoint (above), you can make ready-to-go interface libraries for your code via [swagger-codegen](https://github.com/swagger-api/swagger-codegen). For instance, it's easy to generate libraries for Node.js, Java, Ruby, ASP.NET MVC, jQuery, php and more!\r\n\r\nYou can also try out the endpoint calls with your own api_key right here on this page. Be sure to enter your api_key above to use the \"Try it out!\" buttons on this page.\r\n\r\n##Start Here\r\n\r\nDevelopers new to the BigOven Build API should start with this version, not with the legacy API. We'll be making improvements to this API over time, and doing only bug fixes on the v1 API.\r\n\r\n\r\n\r\nTo pretend you're a BigOven user (for instance, to get your recently viewed recipes or your grocery list), you need to pass in Basic Authentication information in the header, just as with the v1 API. We do now require that you make all calls via https. You need to pass your api_key in with every call, though this can now be done on the header (send a request header \"X-BigOven-API-Key\" set to your api_key value, e.g., Request[\"X-BigOven-API-Key\"]=\"your-key-here\".)\r\n\r\n##Migration Notes\r\n\r\nFor existing partners, we encourage you to [migrate](https://api2.bigoven.com), and while at this writing we have no hard-and-fast termination date for the v1 API, we strongly prefer that you migrate by January 1, 2017. While the changes aren't overly complex, there are several breaking changes, including refactoring of recipe search and results and removal of support for XML. This is not a simply plug-and-play replacement to the v1 API. With respect to an exclusive focus on JSON, the world has spoken, and it prefers JSON for REST-based API's. We've taken numerous steps to refactor the API to make it more REST-compliant. Note that this v2 API will be the preferred API from this point onward, so we encourage developers to migrate to this new format. We have put together some [migration notes](/web/documentation/migration-to-v2) that we encourage you to read carefully.\r\n\r\n##Photos\r\n\r\nSee our [photos documentation](https://api2.bigoven.com/web/documentation/recipe-images). \r\n\r\nFor more information on usage of this API, including features, pricing, rate limits, terms and conditions, please visit the [BigOven Build API website](https://api2.bigoven.com).",
    "termsOfService": "Please see our [terms of service](https://api2.bigoven.com/web/documentation/termsofuse",
    "title": "1,000,000+ Recipe and Grocery List API (v2)",
    "version": "partner",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/bigoven.com/main/partner/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api2.bigoven.com/"
    }
  ],
  "paths": {
    "/collection/{id}": {
      "get": {
        "parameters": [
          {
            "description": "the collection identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "results per page",
            "in": "query",
            "name": "rpp",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page number (starting with 1)",
            "in": "query",
            "name": "pg",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "test",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "sessionForLogging",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeSearchResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeSearchResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeSearchResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": false,
        "operationId": "Collection_GetCollection",
        "summary": "Gets a recipe collection. A recipe collection is a curated set of recipes.",
        "description": "Gets a recipe collection. A recipe collection is a curated set of recipes."
      }
    },
    "/collection/{id}/meta": {
      "get": {
        "parameters": [
          {
            "description": "the collection identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": false,
        "operationId": "Collection_GetCollectionMeta",
        "summary": "Gets a recipe collection metadata. A recipe collection is a curated set of recipes.",
        "description": "Gets a recipe collection metadata. A recipe collection is a curated set of recipes."
      }
    },
    "/collections": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "test",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API2.CollectionInfo"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": false,
        "operationId": "Collection_Collections",
        "summary": "Get the list of current, seasonal recipe collections. From here, you can use the /collection/{id} endpoint to retrieve the recipes in those collections.",
        "description": "Get the list of current, seasonal recipe collections. From here, you can use the /collection/{id} endpoint to retrieve the recipes in those collections."
      }
    },
    "/grocerylist": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_Delete",
        "summary": "Delete all the items on a grocery list; faster operation than a sync with deleted items.",
        "description": "Delete all the items on a grocery list; faster operation than a sync with deleted items."
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_Get",
        "summary": "Get the user's grocery list.  User is determined by Basic Authentication.",
        "description": "Get the user's grocery list.  User is determined by Basic Authentication."
      }
    },
    "/grocerylist/clearcheckedlines": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.GroceryList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_GroceryListRemoveMarkedItems",
        "summary": "Clears the checked lines.",
        "description": "Clears the checked lines."
      }
    },
    "/grocerylist/department": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/API2.GroceryListDepartmentResult"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/API2.GroceryListDepartmentResult"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/API2.GroceryListDepartmentResult"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/API2.GroceryListDepartmentResult"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_Department",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.DepartmentModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.DepartmentModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.DepartmentModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.DepartmentModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.DepartmentModel"
              }
            }
          },
          "description": "see DepartmentModel for the request payload",
          "required": true
        },
        "summary": "Departmentalize a list of strings -- used for ad-hoc grocery list item addition",
        "description": "Departmentalize a list of strings -- used for ad-hoc grocery list item addition"
      }
    },
    "/grocerylist/item": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostToGroceryListRecipeRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostToGroceryListRecipeRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostToGroceryListRecipeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostToGroceryListRecipeRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostToGroceryListRecipeRequest"
              }
            }
          },
          "description": "name, quantity, unit, notes, department",
          "required": true
        },
        "summary": "Add a single line item to the grocery list",
        "description": "Add a single line item to the grocery list"
      }
    },
    "/grocerylist/item/{guid}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "guid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_DeleteItemByGuid",
        "summary": "/grocerylist/item/{guid}  DELETE will delete this item assuming you own it.",
        "description": "/grocerylist/item/{guid}  DELETE will delete this item assuming you own it."
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "guid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_GroceryListItemGuid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.UpdateItemByGuidRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.UpdateItemByGuidRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.UpdateItemByGuidRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.UpdateItemByGuidRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.UpdateItemByGuidRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Update a grocery item by GUID",
        "description": "Update a grocery item by GUID"
      }
    },
    "/grocerylist/line": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.ShoppingListLine"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListAddLineRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListAddLineRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListAddLineRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListAddLineRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListAddLineRequest"
              }
            }
          },
          "description": "name, quantity, unit, notes, department",
          "required": true
        },
        "summary": "Add a single line item to the grocery list",
        "description": "Add a single line item to the grocery list"
      }
    },
    "/grocerylist/recipe": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_AddRecipe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListRecipeRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListRecipeRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListRecipeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListRecipeRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListRecipeRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Add a Recipe to the grocery list.  In the request data, pass in recipeId, scale (scale=1.0 says to keep the recipe the same size as originally posted), markAsPending (true/false) to indicate that\r\n            the lines in the recipe should be marked in a \"pending\" (unconfirmed by user) state.",
        "description": "Add a Recipe to the grocery list.  In the request data, pass in recipeId, scale (scale=1.0 says to keep the recipe the same size as originally posted), markAsPending (true/false) to indicate that\r\n            the lines in the recipe should be marked in a \"pending\" (unconfirmed by user) state."
      }
    },
    "/grocerylist/sync": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "GroceryList"
        ],
        "deprecated": false,
        "operationId": "GroceryList_PostGroceryListSync",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListSyncRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListSyncRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListSyncRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListSyncRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.GroceryListController.PostGroceryListSyncRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Synchronize the grocery list.  Call this with a POST to /grocerylist/sync",
        "description": "Synchronize the grocery list.  Call this with a POST to /grocerylist/sync"
      }
    },
    "/image/avatar": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "if bad request (e.g., missing parameters)"
          },
          "401": {
            "description": "if the user is unknown"
          },
          "415": {
            "description": "if unsupported media type (e.g., bad JPG)"
          }
        },
        "tags": [
          "Images"
        ],
        "deprecated": false,
        "operationId": "Images_UploadUserAvatar",
        "summary": "POST: /image/avatar\r\n             \r\n            Testing with Postman (validated 11/20/2015):\r\n            1) Remove the Content-Type header; add authentication information\r\n            2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n            change the type of the input from Text to File.  Browse and choose a JPG.",
        "description": "POST: /image/avatar\r\n             \r\n            Testing with Postman (validated 11/20/2015):\r\n            1) Remove the Content-Type header; add authentication information\r\n            2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n            change the type of the input from Text to File.  Browse and choose a JPG."
      }
    },
    "/me": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_Index",
        "summary": "Indexes this instance.",
        "description": "Indexes this instance."
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_PutMe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.BigOvenUser"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.BigOvenUser"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.BigOvenUser"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.BigOvenUser"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.BigOvenUser"
              }
            }
          },
          "description": "The req.",
          "required": true
        },
        "summary": "Puts me.",
        "description": "Puts me."
      }
    },
    "/me/personal": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_PutMePersonal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Personal"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Personal"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Personal"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Personal"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Personal"
              }
            }
          },
          "description": "The req.",
          "required": true
        },
        "summary": "Puts me personal.",
        "description": "Puts me personal."
      }
    },
    "/me/preferences": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_PutMePreferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Preference"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Preference"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Preference"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Preference"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Preference"
              }
            }
          },
          "description": "The req.",
          "required": true
        },
        "summary": "Puts me preferences.",
        "description": "Puts me preferences."
      }
    },
    "/me/preferences/options": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_GetOptions",
        "summary": "Gets the options.",
        "description": "Gets the options."
      }
    },
    "/me/profile": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_PutMe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Profile"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Profile"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Profile"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Profile"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Profile"
              }
            }
          },
          "description": "The req.",
          "required": true
        },
        "summary": "Puts me.",
        "description": "Puts me."
      }
    },
    "/me/skinny": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Models.BigOvenUser"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Me"
        ],
        "deprecated": false,
        "operationId": "Me_Skinny",
        "summary": "Skinnies this instance.",
        "description": "Skinnies this instance."
      }
    },
    "/recipe": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Post",
        "requestBody": {
          "$ref": "#/components/requestBodies/BigOven.Model.API.Recipe"
        },
        "summary": "Add a new recipe",
        "description": "Add a new recipe"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Recipe"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Put",
        "requestBody": {
          "$ref": "#/components/requestBodies/BigOven.Model.API.Recipe"
        },
        "summary": "Update a recipe",
        "description": "Update a recipe"
      }
    },
    "/recipe/autocomplete": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_AutoComplete",
        "summary": "Given a query, return recipe titles starting with query. Query must be at least 3 chars in length.",
        "description": "Given a query, return recipe titles starting with query. Query must be at least 3 chars in length."
      }
    },
    "/recipe/autocomplete/all": {
      "get": {
        "parameters": [
          {
            "description": "The query.",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The limit.",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_AutoCompleteAllRecipes",
        "summary": "Automatics the complete all recipes.",
        "description": "Automatics the complete all recipes."
      }
    },
    "/recipe/autocomplete/mine": {
      "get": {
        "parameters": [
          {
            "description": "The query.",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The limit.",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeInfoTiny"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_AutoCompleteMyRecipes",
        "summary": "Automatics the complete my recipes.",
        "description": "Automatics the complete my recipes."
      }
    },
    "/recipe/categories": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeCategory"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeCategory"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeCategory"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.RecipeCategory"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Categories",
        "summary": "Get a list of recipe categories (the ID field can be used for include_cat in search parameters)",
        "description": "Get a list of recipe categories (the ID field can be used for include_cat in search parameters)"
      }
    },
    "/recipe/get/active/recipe": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "userName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_GetActiveRecipe",
        "summary": "Returns last active recipe for the user",
        "description": "Returns last active recipe for the user"
      }
    },
    "/recipe/get/saved/step": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "userName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "stepId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_GetStep",
        "summary": "Gets recipe single step as text",
        "description": "Gets recipe single step as text"
      }
    },
    "/recipe/get/step/number": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "userName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Result"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_GetStepNumber",
        "summary": "Returns stored step number and number of steps in recipe",
        "description": "Returns stored step number and number of steps in recipe"
      }
    },
    "/recipe/photos/pending": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Images"
        ],
        "deprecated": false,
        "operationId": "Images_GetPendingByUser",
        "summary": "Gets the pending by user.",
        "description": "Gets the pending by user."
      }
    },
    "/recipe/post/step": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "userName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "stepId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Result"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_GetSteps",
        "summary": "Stores recipe step number and returns saved step data",
        "description": "Stores recipe step number and returns saved step data"
      }
    },
    "/recipe/review/replies/{replyId}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "replyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Review"
        ],
        "deprecated": false,
        "operationId": "Review_DeleteReply",
        "summary": "DELETE a reply to a given review. Authenticated user must be the one who originally posted the reply.",
        "description": "DELETE a reply to a given review. Authenticated user must be the one who originally posted the reply."
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "replyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Review"
        ],
        "deprecated": false,
        "operationId": "Review_PutReply",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            }
          },
          "required": true
        },
        "summary": "Update (PUT) a reply to a given review. Authenticated user must be the original one that posted the reply.",
        "description": "Update (PUT) a reply to a given review. Authenticated user must be the original one that posted the reply."
      }
    },
    "/recipe/review/{reviewId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "reviewId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Review"
        ],
        "deprecated": false,
        "operationId": "Review_Get",
        "summary": "Get a given review by string-style ID. This will return a payload with FeaturedReply, ReplyCount.\r\n            Recommended display is to list top-level reviews with one featured reply underneath. \r\n            Currently, the FeaturedReply is the most recent one for that rating.",
        "description": "Get a given review by string-style ID. This will return a payload with FeaturedReply, ReplyCount.\r\n            Recommended display is to list top-level reviews with one featured reply underneath. \r\n            Currently, the FeaturedReply is the most recent one for that rating."
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "reviewId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Review"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Review"
        ],
        "deprecated": false,
        "operationId": "Review_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Update a given top-level review.",
        "description": "Update a given top-level review."
      }
    },
    "/recipe/review/{reviewId}/replies": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "reviewId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the page (int), starting with 1",
            "in": "query",
            "name": "pg",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "results per page (int)",
            "in": "query",
            "name": "rpp",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Review"
        ],
        "deprecated": false,
        "operationId": "Review_GetReplies",
        "summary": "Get a paged list of replies for a given review.",
        "description": "Get a paged list of replies for a given review."
      },
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "reviewId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.Reply"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Review"
        ],
        "deprecated": false,
        "operationId": "Review_PostReply",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq"
              }
            }
          },
          "required": true
        },
        "summary": "POST a reply to a given review. The date will be set by server. Note that replies no longer have star ratings, only top-level reviews do.",
        "description": "POST a reply to a given review. The date will be set by server. Note that replies no longer have star ratings, only top-level reviews do."
      }
    },
    "/recipe/scan": {
      "post": {
        "parameters": [
          {
            "in": "query",
            "name": "test",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "devicetype",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lat",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "lng",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Not authorized"
          },
          "402": {
            "description": "Payment required (not enough credits)"
          },
          "415": {
            "description": "Bad media type (bad JPG)"
          },
          "500": {
            "description": "General error on initiating RecipeScan task; please try again or contact us at support[at]bigoven.com"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Scan",
        "summary": "POST an image as a new RecipeScan request\r\n                1)  Fetch the filename -- DONE\r\n                2)  Copy it to the pics/scan folder - ENSURE NO NAMING COLLISIONS -- DONE\r\n                3)  Create 120 thumbnail size  in pics/scan/120 -- DONE\r\n                4)  Insert the CloudTasks record\r\n                5)  Create the HIT\r\n                6)  Update the CloudTasks record with the HIT ID\r\n                7)  Email the requesing user\r\n                8)  Call out to www.bigoven.com to fetch the image and re-create the thumbnail",
        "description": "POST an image as a new RecipeScan request\r\n                1)  Fetch the filename -- DONE\r\n                2)  Copy it to the pics/scan folder - ENSURE NO NAMING COLLISIONS -- DONE\r\n                3)  Create 120 thumbnail size  in pics/scan/120 -- DONE\r\n                4)  Insert the CloudTasks record\r\n                5)  Create the HIT\r\n                6)  Update the CloudTasks record with the HIT ID\r\n                7)  Email the requesing user\r\n                8)  Call out to www.bigoven.com to fetch the image and re-create the thumbnail"
      }
    },
    "/recipe/steps/{id}": {
      "get": {
        "parameters": [
          {
            "description": "the Recipe ID to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "prefetch",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_GetRecipeWithSteps",
        "summary": "Return full Recipe detail with steps. Returns 403 if the recipe is owned by someone else.",
        "description": "Return full Recipe detail with steps. Returns 403 if the recipe is owned by someone else."
      }
    },
    "/recipe/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The recipe id.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The authorization header (optional).",
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Delete",
        "summary": "Deletes specified recipe (you must be authenticated as the owner of the recipe)",
        "description": "Deletes specified recipe (you must be authenticated as the owner of the recipe)"
      },
      "get": {
        "parameters": [
          {
            "description": "The Recipe ID to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The prefetch.",
            "in": "query",
            "name": "prefetch",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.Recipe"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Get",
        "summary": "Return full Recipe detail. Returns 403 if the recipe is owned by someone else.",
        "description": "Return full Recipe detail. Returns 403 if the recipe is owned by someone else."
      }
    },
    "/recipe/{id}/zap": {
      "get": {
        "parameters": [
          {
            "description": "The identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_ZapRecipe",
        "summary": "Zaps the recipe.",
        "description": "Zaps the recipe."
      }
    },
    "/recipe/{recipeId}/feedback": {
      "post": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Recipe"
        ],
        "deprecated": false,
        "operationId": "Recipe_Feedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Recipes.FeedbackDTO"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Recipes.FeedbackDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Recipes.FeedbackDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Recipes.FeedbackDTO"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Models.Recipes.FeedbackDTO"
              }
            }
          },
          "description": "The payload for feedback, which includes the field \"feedback\"",
          "required": true
        },
        "summary": "Feedback on a Recipe -- for internal BigOven editors",
        "description": "Feedback on a Recipe -- for internal BigOven editors"
      }
    },
    "/recipe/{recipeId}/image": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "caption",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "lat",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "lng",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "if bad request (e.g., missing parameters)"
          },
          "401": {
            "description": "if the user is unknown"
          },
          "415": {
            "description": "if unsupported media type (e.g., bad JPG)"
          }
        },
        "tags": [
          "Images"
        ],
        "deprecated": false,
        "operationId": "Images_UploadRecipeImage",
        "summary": "POST: /recipe/{recipeId}/image?lat=42&amp;lng=21&amp;caption=this%20is%20my%20caption\r\n             \r\n             Note that caption, lng and lat are all optional, but must go on the request URI as params because this endpoint\r\n             needs a multipart/mime content header and will not parse JSON in the body along with it.\r\n            \r\n             Testing with Postman (validated 11/20/2015):\r\n             1) Remove the Content-Type header; add authentication information\r\n             2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n             change the type of the input from Text to File.  Browse and choose a JPG.",
        "description": "POST: /recipe/{recipeId}/image?lat=42&amp;lng=21&amp;caption=this%20is%20my%20caption\r\n             \r\n             Note that caption, lng and lat are all optional, but must go on the request URI as params because this endpoint\r\n             needs a multipart/mime content header and will not parse JSON in the body along with it.\r\n            \r\n             Testing with Postman (validated 11/20/2015):\r\n             1) Remove the Content-Type header; add authentication information\r\n             2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n             change the type of the input from Text to File.  Browse and choose a JPG."
      }
    },
    "/recipe/{recipeId}/images": {
      "get": {
        "parameters": [
          {
            "description": "Recipe ID (required)",
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Image"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Image"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Image"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BigOven.Model.API.Image"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Images"
        ],
        "deprecated": false,
        "operationId": "Images_Get",
        "summary": "Get all the images for a recipe. DEPRECATED. Please use /recipe/{recipeId}/photos.",
        "description": "Get all the images for a recipe. DEPRECATED. Please use /recipe/{recipeId}/photos."
      }
    },
    "/recipe/{recipeId}/note": {
      "post": {
        "parameters": [
          {
            "description": "recipeId (int)",
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeNote"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeNote"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeNote"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API2.RecipeNote"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Note"
        ],
        "deprecated": false,
        "operationId": "Note_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            }
          },
          "description": "a recipe note, with fields: Date (YYYY-MM-DD string), Notes (string), People (string), Variations (string), RecipeID (int?)",
          "required": true
        },
        "summary": "HTTP POST a new note into the system.",
        "description": "HTTP POST a new note into the system."
      }
    },
    "/recipe/{recipeId}/note/{noteId}": {
      "delete": {
        "parameters": [
          {
            "description": "recipeId (int)",
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "noteId (int)",
            "in": "path",
            "name": "noteId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Note"
        ],
        "deprecated": false,
        "operationId": "Note_Delete",
        "summary": "Delete a review\r\n                do a DELETE Http request of /note/{ID}",
        "description": "Delete a review\r\n                do a DELETE Http request of /note/{ID}"
      },
      "get": {
        "parameters": [
          {
            "description": "recipe identifier (integer)",
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The note ID (note -- it's not the RecipeID)",
            "in": "path",
            "name": "noteId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Note"
        ],
        "deprecated": false,
        "operationId": "Note_Get",
        "summary": "Get a given note. Make sure you're passing authentication information in the header for the user who owns the note.",
        "description": "Get a given note. Make sure you're passing authentication information in the header for the user who owns the note."
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "noteId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNote"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Note"
        ],
        "deprecated": false,
        "operationId": "Note_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest"
              }
            }
          },
          "required": true
        },
        "summary": "HTTP PUT (update) a Recipe note (RecipeNote).",
        "description": "HTTP PUT (update) a Recipe note (RecipeNote)."
      }
    },
    "/recipe/{recipeId}/notes": {
      "get": {
        "parameters": [
          {
            "description": "recipeId (int)",
            "in": "path",
            "name": "recipeId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page (int, starting from 1)",
            "in": "query",
            "name": "pg",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "recipeId",
            "in": "query",
            "name": "rpp",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNoteList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNoteList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNoteList"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigOven.Model.API.RecipeNoteList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Note"
        ],
        "deprecated": false,
[...]
