{
  "openapi": "3.0.3",
  "info": {
    "title": "UN Data API",
    "version": "1.0.0",
    "description": "The UN Data API provides access to United Nations statistical data using the SDMX (Statistical Data and Metadata eXchange) REST protocol. Covers demographics, economics, trade, environment, health, and other statistical domains.",
    "x-jentic-source-url": "https://data.un.org/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "http://data.un.org/ws/rest"
    }
  ],
  "paths": {
    "/data/{dataflow}/{key}": {
      "get": {
        "operationId": "getData",
        "summary": "Get Data",
        "description": "Retrieves statistical data for a given dataflow and key combination using SDMX REST protocol.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "dataflow",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Dataflow identifier (e.g. DF_UNData_UNFCC)"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data key filter (dimension values separated by dots)"
          },
          {
            "name": "startPeriod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start period (e.g. 2010)"
          },
          {
            "name": "endPeriod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End period (e.g. 2023)"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "genericdata",
                "structurespecificdata",
                "csv"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "detail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "dataonly",
                "serieskeysonly",
                "nodata"
              ]
            },
            "description": "Level of detail"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dataflow/{agency}": {
      "get": {
        "operationId": "getDataflows",
        "summary": "List Dataflows",
        "description": "Returns available dataflows from a specific agency.",
        "tags": [
          "Structure"
        ],
        "parameters": [
          {
            "name": "agency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "description": "Agency ID (e.g. UNSD, all)"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datastructure/{agency}": {
      "get": {
        "operationId": "getDataStructures",
        "summary": "List Data Structures",
        "description": "Returns data structure definitions.",
        "tags": [
          "Structure"
        ],
        "parameters": [
          {
            "name": "agency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agency ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/codelist/{agency}": {
      "get": {
        "operationId": "getCodelists",
        "summary": "List Codelists",
        "description": "Returns available codelists.",
        "tags": [
          "Structure"
        ],
        "parameters": [
          {
            "name": "agency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agency ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/conceptscheme/{agency}": {
      "get": {
        "operationId": "getConceptSchemes",
        "summary": "List Concept Schemes",
        "description": "Returns concept schemes.",
        "tags": [
          "Structure"
        ],
        "parameters": [
          {
            "name": "agency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agency ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "Data"
    },
    {
      "name": "Structure"
    }
  ]
}
