{
  "openapi": "3.0.3",
  "info": {
    "title": "Weatherstack API",
    "description": "Weatherstack provides real-time, historical, and forecast weather data for any location worldwide. It is an APILayer weather service supporting current conditions, historical data, forecasts, location autocomplete, and astronomy data.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://weatherstack.com/documentation",
    "x-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "http://api.weatherstack.com",
      "description": "Free plan (HTTP only)"
    },
    {
      "url": "https://api.weatherstack.com",
      "description": "Paid plans (HTTPS)"
    }
  ],
  "security": [
    {
      "accessKey": []
    }
  ],
  "paths": {
    "/current": {
      "get": {
        "operationId": "getCurrentWeather",
        "summary": "Get current weather data",
        "description": "Returns real-time weather information for a specified location including temperature, wind, humidity, pressure, and weather descriptions.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Location query: city name, coordinates (lat,lon), IP address, or zip/postal code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Unit system: m (metric), s (scientific), f (Fahrenheit)",
            "schema": {
              "type": "string",
              "enum": ["m", "s", "f"],
              "default": "m"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code for weather descriptions (e.g., en, fr, de)",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP callback function name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalWeather",
        "summary": "Get historical weather data",
        "description": "Returns historical weather data for a specific date or date range. Available on Standard plan and above.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Location query: city name, coordinates, IP address, or zip code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "historical_date",
            "in": "query",
            "required": true,
            "description": "Date for historical data in YYYY-MM-DD format. Use semicolons for multiple dates.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "Set to 1 to include hourly data (available on Business plan and above)",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Hourly data interval: 1 (every hour), 3 (every 3 hours), 6 (every 6 hours), 24 (daily)",
            "schema": {
              "type": "integer",
              "enum": [1, 3, 6, 24]
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Unit system: m (metric), s (scientific), f (Fahrenheit)",
            "schema": {
              "type": "string",
              "enum": ["m", "s", "f"],
              "default": "m"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code for weather descriptions",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalWeatherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast": {
      "get": {
        "operationId": "getForecastWeather",
        "summary": "Get weather forecast data",
        "description": "Returns weather forecast data for up to 14 days. Available on Business Pro plan and above.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Location query: city name, coordinates, IP address, or zip code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forecast_days",
            "in": "query",
            "description": "Number of forecast days (1 to 14)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 14,
              "default": 7
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "Set to 1 to include hourly forecast data",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Hourly data interval",
            "schema": {
              "type": "integer",
              "enum": [1, 3, 6, 24]
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Unit system: m (metric), s (scientific), f (Fahrenheit)",
            "schema": {
              "type": "string",
              "enum": ["m", "s", "f"],
              "default": "m"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code for weather descriptions",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastWeatherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/autocomplete": {
      "get": {
        "operationId": "autocompleteLocation",
        "summary": "Location autocomplete/search",
        "description": "Returns location results matching the given query string. Useful for building location search interfaces.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Location search query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request": {
                      "$ref": "#/components/schemas/RequestInfo"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "lat": {
                            "type": "string"
                          },
                          "lon": {
                            "type": "string"
                          },
                          "timezone_id": {
                            "type": "string"
                          },
                          "utc_offset": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessKey": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query",
        "description": "API access key obtained from your Weatherstack account dashboard"
      }
    },
    "schemas": {
      "RequestInfo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "lat": {
            "type": "string"
          },
          "lon": {
            "type": "string"
          },
          "timezone_id": {
            "type": "string"
          },
          "localtime": {
            "type": "string"
          },
          "localtime_epoch": {
            "type": "integer"
          },
          "utc_offset": {
            "type": "string"
          }
        }
      },
      "CurrentWeather": {
        "type": "object",
        "properties": {
          "observation_time": {
            "type": "string",
            "description": "UTC time of the observation"
          },
          "temperature": {
            "type": "integer",
            "description": "Temperature in the requested unit"
          },
          "weather_code": {
            "type": "integer"
          },
          "weather_icons": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "weather_descriptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "wind_speed": {
            "type": "integer"
          },
          "wind_degree": {
            "type": "integer"
          },
          "wind_dir": {
            "type": "string"
          },
          "pressure": {
            "type": "integer"
          },
          "precip": {
            "type": "number"
          },
          "humidity": {
            "type": "integer"
          },
          "cloudcover": {
            "type": "integer"
          },
          "feelslike": {
            "type": "integer"
          },
          "uv_index": {
            "type": "integer"
          },
          "visibility": {
            "type": "integer"
          },
          "is_day": {
            "type": "string",
            "enum": ["yes", "no"]
          }
        }
      },
      "WeatherResponse": {
        "type": "object",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/RequestInfo"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentWeather"
          }
        }
      },
      "HistoricalWeatherResponse": {
        "type": "object",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/RequestInfo"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentWeather"
          },
          "historical": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "date_epoch": {
                  "type": "integer"
                },
                "astro": {
                  "type": "object"
                },
                "mintemp": {
                  "type": "integer"
                },
                "maxtemp": {
                  "type": "integer"
                },
                "avgtemp": {
                  "type": "integer"
                },
                "totalsnow": {
                  "type": "number"
                },
                "sunhour": {
                  "type": "number"
                },
                "uv_index": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ForecastWeatherResponse": {
        "type": "object",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/RequestInfo"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "current": {
            "$ref": "#/components/schemas/CurrentWeather"
          },
          "forecast": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "date_epoch": {
                  "type": "integer"
                },
                "astro": {
                  "type": "object"
                },
                "mintemp": {
                  "type": "integer"
                },
                "maxtemp": {
                  "type": "integer"
                },
                "avgtemp": {
                  "type": "integer"
                },
                "totalsnow": {
                  "type": "number"
                },
                "sunhour": {
                  "type": "number"
                },
                "uv_index": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    }
  }
}