{
  "openapi": "3.0.3",
  "info": {
    "title": "Chartbeat Real-Time API",
    "version": "3",
    "description": "Chartbeat provides real-time and historical analytics for editorial teams. This API provides real-time traffic data including top pages, summaries, referrers, geographic data, and quickstats.",
    "x-jentic-source-url": "https://docs.chartbeat.com/cbp/api/real-time-apis/traffic-data",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.chartbeat.com"
    }
  ],
  "tags": [
    {
      "name": "Real-Time",
      "description": "Real-time traffic data endpoints"
    },
    {
      "name": "Historical",
      "description": "Historical data endpoints"
    }
  ],
  "paths": {
    "/live/toppages/v3/": {
      "get": {
        "operationId": "getTopPages",
        "summary": "Get top pages",
        "description": "Returns a list of top pages on your site ordered by default based on the number of concurrents.",
        "tags": [
          "Real-Time"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "description": "The site ID of the site you are querying",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of pages to return (default 10)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "description": "Filter by section(s), comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Filter by author(s), comma-separated",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort parameter",
            "schema": {
              "type": "string",
              "enum": [
                "engaged_time",
                "new",
                "returning",
                "social",
                "links",
                "internal",
                "direct",
                "search"
              ]
            }
          },
          {
            "name": "exclude_people",
            "in": "query",
            "required": false,
            "description": "Min concurrents threshold",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "now_on",
            "in": "query",
            "required": false,
            "description": "Show recirculation list (1=yes)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "all_platforms",
            "in": "query",
            "required": false,
            "description": "Show platform breakdown (1=yes)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "loyalty",
            "in": "query",
            "required": false,
            "description": "Show loyalty breakdown (1=yes)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Show page types (1=yes)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": false,
            "description": "Custom metrics set. Video customers: video_state",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top pages data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopPagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/live/summary/v3/": {
      "get": {
        "operationId": "getSummary",
        "summary": "Get summary data",
        "description": "Returns numeric or categorical summaries of event fields for a host. Supports keys like pagetimer, time_spent, domain, title, new, path, referrer, read, write, idle.",
        "tags": [
          "Real-Time"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "description": "The site ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keys",
            "in": "query",
            "required": true,
            "description": "Comma-separated data keys",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Filter by specific path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/live/referrers/v3/": {
      "get": {
        "operationId": "getReferrers",
        "summary": "Get top referrers",
        "description": "Returns the list of top referrers for a specific domain.",
        "tags": [
          "Real-Time"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Total number of referrers to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_type",
            "in": "query",
            "required": false,
            "description": "Show breakdown by traffic source (1=yes)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referrer data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferrersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/live/top_geo/v1/": {
      "get": {
        "operationId": "getTopGeo",
        "summary": "Get geographic data",
        "description": "Returns real-time geographic information by location segment including regions, countries, cities, and metro codes.",
        "tags": [
          "Real-Time"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of segments to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geographic data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/live/quickstats/v4/": {
      "get": {
        "operationId": "getQuickstats",
        "summary": "Get quickstats",
        "description": "Returns comprehensive information about the most recent visitors for a specific domain including engagement metrics, traffic sources, and platform breakdown.",
        "tags": [
          "Real-Time"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "now_on",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "all_platforms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "loyalty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quickstats data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickstatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/live/recent/v3/": {
      "get": {
        "operationId": "getRecentVisitors",
        "summary": "Get recent visitors",
        "description": "Returns info about recent visitors to a site.",
        "tags": [
          "Real-Time"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent visitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecentVisitorsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical/traffic/series/": {
      "get": {
        "operationId": "getHistoricalTrafficSeries",
        "summary": "Get historical traffic time series",
        "description": "Returns historical traffic data as a time series.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start timestamp (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End timestamp (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minutes",
                "hours",
                "days"
              ]
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical traffic data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical/traffic/stats/": {
      "get": {
        "operationId": "getHistoricalTrafficStats",
        "summary": "Get historical traffic statistics",
        "description": "Returns aggregate historical traffic statistics.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical/traffic/top_pages/": {
      "get": {
        "operationId": "getHistoricalTopPages",
        "summary": "Get historical top pages",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "jsonp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical top pages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalTopPagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get historical top pages"
      }
    }
  },
  "components": {
    "schemas": {
      "TopPagesResponse": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PageData"
            }
          }
        }
      },
      "PageData": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stats": {
            "$ref": "#/components/schemas/PageStats"
          }
        }
      },
      "PageStats": {
        "type": "object",
        "properties": {
          "people": {
            "type": "integer",
            "description": "Concurrent visitors"
          },
          "read": {
            "type": "integer"
          },
          "visits": {
            "type": "integer"
          },
          "direct": {
            "type": "integer"
          },
          "links": {
            "type": "integer"
          },
          "search": {
            "type": "integer"
          },
          "internal": {
            "type": "integer"
          },
          "social": {
            "type": "integer"
          },
          "new": {
            "type": "integer"
          },
          "idle": {
            "type": "integer"
          },
          "write": {
            "type": "integer"
          },
          "article": {
            "type": "integer"
          },
          "recirc": {
            "type": "integer"
          }
        }
      },
      "SummaryResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "data": {
              "type": "object",
              "additionalProperties": true
            },
            "type": {
              "type": "string"
            }
          }
        }
      },
      "ReferrersResponse": {
        "type": "object",
        "properties": {
          "referrers": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "GeoResponse": {
        "type": "object",
        "properties": {
          "geo": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "countries": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "regions": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "cities": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "metro_codes": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "QuickstatsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "stats": {
                "$ref": "#/components/schemas/PageStats"
              },
              "toppages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "visitors": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RecentVisitorsResponse": {
        "type": "object",
        "properties": {
          "visitors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "referrer": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "HistoricalSeriesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string"
                },
                "people": {
                  "type": "integer"
                },
                "visits": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "HistoricalStatsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "visits": {
                "type": "integer"
              },
              "uniques": {
                "type": "integer"
              },
              "people": {
                "type": "integer"
              },
              "engaged_time_avg": {
                "type": "number"
              }
            }
          }
        }
      },
      "HistoricalTopPagesResponse": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "visits": {
                  "type": "integer"
                },
                "uniques": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key passed in Authorization header as 'Bearer <API_KEY>'"
      }
    }
  },
  "security": [
    {
      "ApiKeyHeader": []
    }
  ]
}
