{
  "openapi": "3.0.3",
  "info": {
    "title": "Bonusly API",
    "description": "Bonusly employee recognition platform API. Includes endpoints for managing bonuses, achievements, and users via SCIM 1.1 provisioning.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.bonus.ly/reference/list-achievements",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://bonus.ly/api",
      "description": "Bonusly API server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Achievements",
      "description": "Achievement operations"
    },
    {
      "name": "Bonuses",
      "description": "Bonus management"
    },
    {
      "name": "Users",
      "description": "User management (SCIM 1.1)"
    },
    {
      "name": "Me",
      "description": "Current user operations"
    }
  ],
  "paths": {
    "/v1/achievements": {
      "get": {
        "tags": [
          "Achievements"
        ],
        "summary": "List Achievements",
        "description": "View the 50 most recent achievements for the authenticated users company.",
        "operationId": "listAchievements",
        "responses": {
          "200": {
            "description": "Returns list of achievements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Achievement"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bonuses": {
      "get": {
        "tags": [
          "Bonuses"
        ],
        "summary": "List Bonuses",
        "description": "List bonuses for the authenticated users company.",
        "operationId": "listBonuses",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of bonuses to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of bonuses to skip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "Filter bonuses created after this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "Filter bonuses created before this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of bonuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bonus"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bonuses"
        ],
        "summary": "Create a Bonus",
        "description": "Create a new bonus.",
        "operationId": "createBonus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBonusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns created bonus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Bonus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bonuses/{id}": {
      "get": {
        "tags": [
          "Bonuses"
        ],
        "summary": "Retrieve a Bonus",
        "description": "Retrieve a specific bonus by ID.",
        "operationId": "retrieveBonus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bonus ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bonus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Bonus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bonuses"
        ],
        "summary": "Delete a Bonus",
        "description": "Delete a specific bonus by ID.",
        "operationId": "deleteBonus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bonus ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bonus deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Get Current User",
        "description": "Retrieve the currently authenticated user.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Returns current user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/BonuslyUser"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scim11/Users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List Users",
        "description": "Fetch a list of all users. Pagination and filtering are supported.",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "description": "The index (starting at 1, not 0) of the first record to retrieve",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of users to retrieve (max 100)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of user attributes to retrieve. Allowed: id, userName, name, meta, emails, addresses, active, externalId, urn:scim:schemas:extension:enterprise:1.0, urn:scim:schemas:extension:bonusly:1.0:User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Return only results that match certain attribute values. Supported: userName eq \"value\" and active eq \"value\".",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a User",
        "description": "Create a new user in Bonusly. If a deactivated user with the same userName is found that user will be reactivated. If a user already exists with the specified userName the API will return a 409.",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScimUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns created user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - user with same userName already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scim11/Users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Retrieve a User",
        "description": "Fetch a specific user by ID.",
        "operationId": "retrieveUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bonusly API access token"
      }
    },
    "schemas": {
      "Achievement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Bonus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "giver": {
            "$ref": "#/components/schemas/BonuslyUser"
          },
          "receivers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BonuslyUser"
            }
          }
        }
      },
      "BonuslyUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "giving_balance": {
            "type": "integer"
          },
          "earning_balance": {
            "type": "integer"
          }
        }
      },
      "CreateBonusRequest": {
        "type": "object",
        "required": [
          "reason"
        ],
        "properties": {
          "reason": {
            "type": "string",
            "description": "Bonus reason message including receiver hashtag and company value hashtag, e.g., \"+5 @user #teamwork Great job!\""
          }
        }
      },
      "ScimUserList": {
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "startIndex": {
            "type": "integer"
          },
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScimUser"
            }
          }
        }
      },
      "ScimUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userName": {
            "type": "string",
            "description": "User email"
          },
          "name": {
            "type": "object",
            "properties": {
              "givenName": {
                "type": "string"
              },
              "familyName": {
                "type": "string"
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "primary": {
                  "type": "boolean"
                }
              }
            }
          },
          "active": {
            "type": "boolean"
          },
          "externalId": {
            "type": "string"
          },
          "meta": {
            "type": "object",
            "properties": {
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "lastModified": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateScimUserRequest": {
        "type": "object",
        "required": [
          "userName"
        ],
        "properties": {
          "userName": {
            "type": "string",
            "description": "Unique identifier (email) for the user"
          },
          "name": {
            "type": "object",
            "properties": {
              "givenName": {
                "type": "string",
                "description": "First name"
              },
              "familyName": {
                "type": "string",
                "description": "Last name"
              }
            }
          },
          "externalId": {
            "type": "string",
            "description": "External unique ID"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "ISO 3166-1 alpha-2 country code"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "urn:scim:schemas:extension:enterprise:1.0": {
            "type": "object",
            "properties": {
              "department": {
                "type": "string"
              }
            }
          },
          "urn:scim:schemas:extension:bonusly:1.0:User": {
            "type": "object",
            "properties": {
              "preferred_first_name": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "employee_id": {
                "type": "string"
              },
              "role": {
                "type": "string"
              },
              "job_title": {
                "type": "string"
              },
              "division": {
                "type": "string"
              },
              "business_unit": {
                "type": "string"
              },
              "user_mode": {
                "type": "string",
                "enum": [
                  "normal",
                  "benefactor",
                  "receiver"
                ],
                "default": "normal"
              },
              "manager_email": {
                "type": "string"
              },
              "hired_on": {
                "type": "string",
                "format": "date",
                "description": "Format: YYYY-MM-DD"
              },
              "date_of_birth": {
                "type": "string",
                "format": "date",
                "description": "Format: YYYY-MM-DD. Only month and day stored."
              },
              "cost_center": {
                "type": "string"
              },
              "time_zone": {
                "type": "string",
                "description": "IANA time zone identifier"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
