{
  "openapi": "3.1.0",
  "info": {
    "title": "Taxi Helper API",
    "version": "1.0.0",
    "description": "\u041d\u0430\u0431\u043e\u0440 HTTP-\u044d\u043d\u0434\u043f\u043e\u0438\u043d\u0442\u043e\u0432, \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u0434\u0435\u0440\u0433\u0430\u0435\u0442 iOS-\u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435.\n\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0445\u043e\u0441\u0442: https://lk.helper.taxi\n\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0432\u043d\u0435\u0448\u043d\u0438\u0439 API: https://geo.rustore.ru\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PLOTNIKOFFROMAN/taxi-helper-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://lk.helper.taxi",
      "description": "Primary API (lk.helper.taxi)"
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Taxi"
    },
    {
      "name": "Config"
    },
    {
      "name": "Account"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Places (external)"
    }
  ],
  "components": {
    "securitySchemes": {
      "EmailQueryAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "em",
        "description": "Legacy auth via query parameter (email)"
      },
      "PasswordQueryAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "pass",
        "description": "Legacy auth via query parameter (password)"
      }
    },
    "schemas": {
      "AuthorizationResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "user_id",
          "msg"
        ],
        "properties": {
          "user_id": {
            "type": "integer",
            "description": "User ID",
            "example": 123
          },
          "sub": {
            "type": "integer",
            "nullable": true,
            "description": "Subscription flag/level (nullable)",
            "example": 1
          },
          "msg": {
            "type": "string",
            "description": "Server message",
            "example": "OK"
          },
          "user_uid": {
            "type": "string",
            "nullable": true,
            "description": "Device binding UID (nullable)",
            "example": "A1B2C3D4-E5F6-7890-ABCD-1234567890AB"
          }
        }
      },
      "YandexData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "class_level",
          "class_name",
          "min_price",
          "price"
        ],
        "properties": {
          "class_level": {
            "type": "integer",
            "example": 1
          },
          "class_name": {
            "type": "string",
            "example": "econom"
          },
          "min_price": {
            "type": "number",
            "format": "double",
            "example": 199.0
          },
          "price": {
            "type": "number",
            "format": "double",
            "example": 245.0
          },
          "waiting_time": {
            "type": "integer",
            "nullable": true,
            "description": "Waiting time in minutes (nullable)",
            "example": 4
          }
        }
      },
      "YandexDataResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "yandex",
          "yandex_msg"
        ],
        "properties": {
          "yandex": {
            "type": "integer",
            "example": 1
          },
          "yandex_msg": {
            "type": "string",
            "example": "OK"
          },
          "yandex_data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/YandexData"
            }
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "result"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "In code expected 1 = success",
            "example": 1
          },
          "result": {
            "type": "string",
            "description": "API key string",
            "example": "vk_xxxxxxxxxxxxxxxxx"
          }
        }
      },
      "ServerMonizationResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "result"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "example": 1
          },
          "result": {
            "type": "string",
            "description": "Region/monetization code (n, x, y, ru, ...)",
            "example": "ru"
          }
        }
      },
      "VersionResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "string",
            "description": "Latest iOS version string",
            "example": "1.2.3"
          }
        }
      },
      "ServerResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "result"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "example": 1
          },
          "result": {
            "type": "string",
            "description": "String value that UI casts to Int (e.g., 112 / 228)",
            "example": "112"
          }
        }
      },
      "PayLinkResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "string",
            "description": "Base URL for payment; app then appends userEmail",
            "example": "https://to-ads.click/HTR5qynW?email="
          }
        }
      },
      "RemoveAccountResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "App \u0438\u043d\u0442\u0435\u0440\u043f\u0440\u0435\u0442\u0438\u0440\u0443\u0435\u0442 code \u0442\u0430\u043a:\n- 200: \u0443\u0441\u043f\u0435\u0445\n- 1: \u043d\u0435 \u0432\u0432\u0435\u0434\u0451\u043d email/\u043f\u0430\u0440\u043e\u043b\u044c\n- 80: email \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\n- 81: \u043d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u043f\u0430\u0440\u043e\u043b\u044c\n- 83: \u043d\u0435\u043a\u043e\u0440\u0440\u0435\u043a\u0442\u043d\u044b\u0439 \u0444\u043e\u0440\u043c\u0430\u0442 email\n- 500 \u0438\u043b\u0438 109: \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0438\u0441\u0430\n",
            "example": 200
          }
        }
      },
      "PlacesResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceJson"
            }
          }
        }
      },
      "PlaceJson": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "name",
          "address",
          "pin"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "\u041a\u043e\u0444\u0435\u0439\u043d\u044f"
          },
          "address": {
            "type": "string",
            "example": "\u041c\u043e\u0441\u043a\u0432\u0430, \u0443\u043b. \u0422\u0432\u0435\u0440\u0441\u043a\u0430\u044f, 1"
          },
          "pin": {
            "type": "array",
            "description": "Array of numbers, app expects [lng, lat]",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "number"
            },
            "example": [
              37.6173,
              55.7558
            ]
          },
          "address_details": {
            "$ref": "#/components/schemas/AddressDetails"
          }
        }
      },
      "AddressDetails": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "region": {
            "type": "string",
            "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
          },
          "street": {
            "type": "string",
            "example": "\u0422\u0432\u0435\u0440\u0441\u043a\u0430\u044f"
          },
          "building": {
            "type": "string",
            "example": "1"
          }
        }
      }
    }
  },
  "paths": {
    "/api.php": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Login / Authorization",
        "description": "\u041b\u043e\u0433\u0438\u043d; \u0441\u0435\u0440\u0432\u0435\u0440 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 user_id, user_uid (\u043f\u0440\u0438\u0432\u044f\u0437\u043a\u0430 \u043a \u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0443), sub (\u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430), msg.",
        "operationId": "authorize",
        "security": [
          {
            "EmailQueryAuth": [],
            "PasswordQueryAuth": []
          }
        ],
        "parameters": [
          {
            "name": "em",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "user@example.com"
          },
          {
            "name": "pass",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "secret"
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "UUID \u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0430",
            "example": "A1B2C3D4-E5F6-7890-ABCD-1234567890AB"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_smart.php": {
      "get": {
        "tags": [
          "Taxi"
        ],
        "summary": "Get taxi prices/ETA by classes (radar)",
        "description": "\u0412\u0435\u0440\u043d\u0443\u0442\u044c \u0446\u0435\u043d\u044b/\u043e\u0436\u0438\u0434\u0430\u043d\u0438\u0435 \u043f\u043e \u043a\u043b\u0430\u0441\u0441\u0430\u043c.",
        "operationId": "getTaxiPricesSmart",
        "security": [
          {
            "EmailQueryAuth": [],
            "PasswordQueryAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 37.6173
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 55.7558
          },
          {
            "name": "em",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "user@example.com"
          },
          {
            "name": "pass",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "secret"
          },
          {
            "name": "class",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CSV \u0441\u0442\u0440\u043e\u043a\u0430 \u043a\u043b\u0430\u0441\u0441\u043e\u0432",
            "example": "econom,business,comfortplus,minivan,vip,courier,express"
          }
        ],
        "responses": {
          "200": {
            "description": "Prices response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YandexDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_x.php": {
      "get": {
        "tags": [
          "Config"
        ],
        "summary": "Universal config endpoint",
        "description": "\u0423\u043d\u0438\u0432\u0435\u0440\u0441\u0430\u043b\u044c\u043d\u044b\u0439 config-\u044d\u043d\u0434\u043f\u043e\u0438\u043d\u0442. \u041f\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u0435 \u0437\u0430\u0432\u0438\u0441\u0438\u0442 \u043e\u0442 query-\u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u0430 `id`.\n\n\u041f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u043c\u044b\u0435 id:\n- vkMapKey: \u043a\u043b\u044e\u0447 \u0434\u043b\u044f geo.rustore.ru\n- helloWorld: \u0441\u0446\u0435\u043d\u0430\u0440\u0438\u0439 \u043c\u043e\u043d\u0435\u0442\u0438\u0437\u0430\u0446\u0438\u0438/\u0440\u0435\u0433\u0438\u043e\u043d (\u0442\u0440\u0435\u0431\u0443\u0435\u0442 email)\n- currentVersioniOS: \u0441\u0442\u0440\u043e\u043a\u0430 \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u043e\u0439 \u0432\u0435\u0440\u0441\u0438\u0438 iOS \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f\n- scrView: \u0441\u0435\u0440\u0432\u0435\u0440\u043d\u044b\u0439 \u0444\u043b\u0430\u0433 \u044d\u043a\u0440\u0430\u043d\u0430 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438 (\u0432 UI \u0432\u0441\u0442\u0440\u0435\u0447\u0430\u044e\u0442\u0441\u044f 112/228)\n- payLink: \u0431\u0430\u0437\u043e\u0432\u0430\u044f \u0441\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443\n\n\u0412\u0430\u0436\u043d\u043e: \u0444\u043e\u0440\u043c\u0430\u0442 \u043e\u0442\u0432\u0435\u0442\u0430 \u0437\u0430\u0432\u0438\u0441\u0438\u0442 \u043e\u0442 `id`, \u043f\u043e\u044d\u0442\u043e\u043c\u0443 \u0432 Swagger \u0443\u043a\u0430\u0437\u0430\u043d oneOf.\n",
        "operationId": "getConfig",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "vkMapKey",
                "helloWorld",
                "currentVersioniOS",
                "scrView",
                "payLink"
              ]
            },
            "example": "vkMapKey"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Required only when id=helloWorld",
            "example": "user@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Config response (shape depends on id)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiKeyResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ServerMonizationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/VersionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ServerResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PayLinkResponse"
                    }
                  ]
                },
                "examples": {
                  "vkMapKey": {
                    "summary": "id=vkMapKey",
                    "value": {
                      "code": 1,
                      "result": "vk_xxxxxxxxxxxxxxxxx"
                    }
                  },
                  "helloWorld": {
                    "summary": "id=helloWorld",
                    "value": {
                      "code": 1,
                      "result": "ru"
                    }
                  },
                  "currentVersioniOS": {
                    "summary": "id=currentVersioniOS",
                    "value": {
                      "result": "1.2.3"
                    }
                  },
                  "scrView": {
                    "summary": "id=scrView",
                    "value": {
                      "code": 1,
                      "result": "112"
                    }
                  },
                  "payLink": {
                    "summary": "id=payLink",
                    "value": {
                      "result": "https://to-ads.click/HTR5qynW?email="
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_rm.php": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Delete account",
        "description": "\u0423\u0434\u0430\u043b\u0435\u043d\u0438\u0435 \u0430\u043a\u043a\u0430\u0443\u043d\u0442\u0430 \u043f\u043e email+password.",
        "operationId": "removeAccount",
        "security": [
          {
            "EmailQueryAuth": [],
            "PasswordQueryAuth": []
          }
        ],
        "parameters": [
          {
            "name": "em",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "user@example.com"
          },
          {
            "name": "pass",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Remove account response (only code is used in app)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveAccountResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "code": 200
                    }
                  },
                  "emailNotFound": {
                    "value": {
                      "code": 80
                    }
                  },
                  "wrongPassword": {
                    "value": {
                      "code": 81
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api_pay_helper.php": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Extend trial/subscription period by N days",
        "description": "\u041f\u0440\u043e\u0434\u043b\u0435\u043d\u0438\u0435 \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u043d\u0430 N \u0434\u043d\u0435\u0439.\n\u0412 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0440\u0435\u0430\u043b\u0438\u0437\u0430\u0446\u0438\u0438 iOS \u0441\u0447\u0438\u0442\u0430\u0435\u0442 \u0443\u0441\u043f\u0435\u0445\u043e\u043c \u043b\u044e\u0431\u043e\u0439 HTTP 200 \u0438 \u0442\u0435\u043b\u043e \u043d\u0435 \u043f\u0430\u0440\u0441\u0438\u0442.\n",
        "operationId": "extendPeriod",
        "parameters": [
          {
            "name": "em",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "user@example.com"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Days to extend",
            "example": 7
          }
        ],
        "responses": {
          "200": {
            "description": "OK (body ignored by app)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/places": {
      "get": {
        "tags": [
          "Places (external)"
        ],
        "summary": "Places search (geo.rustore.ru)",
        "description": "\u041f\u043e\u0438\u0441\u043a \u043c\u0435\u0441\u0442. \u0422\u0440\u0435\u0431\u0443\u0435\u0442 api_key, \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u043d\u044b\u0439 \u0441 /api_x.php?id=vkMapKey",
        "operationId": "searchPlaces",
        "servers": [
          {
            "url": "https://geo.rustore.ru",
            "description": "External Places API"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vk_xxxxxxxxxxxxxxxxx"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query",
            "example": "\u0428\u0435\u0440\u0435\u043c\u0435\u0442\u044c\u0435\u0432\u043e"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "name,address_details,address,pin"
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "lat,lng",
            "example": "55.7558,37.6173"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 50
            },
            "example": 5
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ru"
            },
            "example": "ru"
          }
        ],
        "responses": {
          "200": {
            "description": "Places response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-webPages": {
    "description": "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u044b, \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043e\u0442\u043a\u0440\u044b\u0432\u0430\u044e\u0442\u0441\u044f \u0432 WebView/\u0431\u0440\u0430\u0443\u0437\u0435\u0440\u0435 (\u043d\u0435 API, \u043d\u0435 \u0432\u043a\u043b\u044e\u0447\u0435\u043d\u044b \u0432 paths)",
    "urls": [
      "https://lk.helper.taxi/?to=register",
      "https://lk.helper.taxi/login_apple.php?go=1&from=app",
      "https://lk.helper.taxi/?to=reset",
      "https://lk.helper.taxi/?to=help",
      "https://lk.helper.taxi/?to=inside",
      "https://lk.helper.taxi/?to=success",
      "https://lk.helper.taxi/?to=error",
      "https://lk.helper.taxi/app.php?status=ok",
      "https://lk.helper.taxi/app.php?status=error",
      "https://to-ads.click/HTR5qynW?email=...",
      "https://pay.helper.taxi/unsubscribe?service-number=6",
      "https://helper.taxi/privacy.html",
      "https://helper.taxi/terms.html",
      "https://helper.taxi/oplata.html",
      "https://www.apple.com/legal/internet-services/itunes/dev/stdeula/",
      "https://apps.apple.com/..."
    ],
    "flows": [
      {
        "name": "registration_web",
        "description": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u0447\u0435\u0440\u0435\u0437 web-\u0444\u043e\u0440\u043c\u0443 \u0432 WKWebView (\u044d\u043a\u0440\u0430\u043d \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438).",
        "open": [
          "https://lk.helper.taxi/?to=register"
        ],
        "intercept": [
          {
            "match": {
              "type": "equals",
              "url": "https://lk.helper.taxi/?to=inside"
            },
            "meaning": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u0437\u0430\u0432\u0435\u0440\u0448\u0435\u043d\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e (\u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u0435\u0442 WebView \u0438 \u043f\u043e\u043a\u0430\u0437\u044b\u0432\u0430\u0435\u0442 \u0430\u043b\u0435\u0440\u0442)."
          }
        ]
      },
      {
        "name": "apple_web_login",
        "description": "Web-\u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f \u0447\u0435\u0440\u0435\u0437 Apple (\u043e\u0442\u043a\u0440\u044b\u0432\u0430\u0435\u043c login_apple.php). \u0420\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442\u0441\u044f \u0440\u0435\u0434\u0438\u0440\u0435\u043a\u0442\u043e\u043c \u043d\u0430 app.php.\n\u041f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u043e\u0436\u0438\u0434\u0430\u0435\u0442, \u0447\u0442\u043e \u043f\u0440\u0438 \u0443\u0441\u043f\u0435\u0445\u0435 \u0432 URL \u0431\u0443\u0434\u0443\u0442 query-\u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b em (email) \u0438 pass (password).\n",
        "open": [
          "https://lk.helper.taxi/login_apple.php?go=1&from=app"
        ],
        "intercept": [
          {
            "match": {
              "type": "contains",
              "url": "https://lk.helper.taxi/app.php?status=ok"
            },
            "expectedQuery": [
              "em",
              "pass"
            ],
            "meaning": "\u0423\u0441\u043f\u0435\u0445 web-\u043b\u043e\u0433\u0438\u043d\u0430. \u041f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0438\u0437\u0432\u043b\u0435\u043a\u0430\u0435\u0442 em/pass, \u0441\u043e\u0445\u0440\u0430\u043d\u044f\u0435\u0442 \u0438\u0445 \u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u044f\u0435\u0442 server authorize (/api.php).\n\u0414\u0430\u043b\u044c\u0448\u0435 \u043b\u0438\u0431\u043e \u043f\u0435\u0440\u0435\u0445\u043e\u0434\u0438\u0442 \u043d\u0430 \u0433\u043b\u0430\u0432\u043d\u044b\u0439 \u044d\u043a\u0440\u0430\u043d (\u0435\u0441\u043b\u0438 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430 \u0430\u043a\u0442\u0438\u0432\u043d\u0430), \u043b\u0438\u0431\u043e \u043f\u0440\u043e\u0441\u0442\u043e \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u0435\u0442 WebView.\n"
          },
          {
            "match": {
              "type": "contains",
              "url": "https://lk.helper.taxi/app.php?status=error"
            },
            "meaning": "\u041e\u0448\u0438\u0431\u043a\u0430 web-\u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438 (\u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u0435\u0442 WebView)."
          }
        ]
      },
      {
        "name": "password_reset_web",
        "description": "\u0421\u0431\u0440\u043e\u0441 \u043f\u0430\u0440\u043e\u043b\u044f \u0447\u0435\u0440\u0435\u0437 web-\u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443.",
        "open": [
          "https://lk.helper.taxi/?to=reset"
        ],
        "intercept": []
      },
      {
        "name": "web_payment_subscription",
        "description": "Web-\u043e\u043f\u043b\u0430\u0442\u0430/\u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0430 (CloudPayments/\u043f\u043b\u0430\u0442\u0451\u0436\u043d\u0430\u044f \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430). \u0421\u0441\u044b\u043b\u043a\u0430 \u043c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c \u0441\u0442\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u043e\u0439 \u0438\u043b\u0438 \u0434\u0438\u043d\u0430\u043c\u0438\u0447\u0435\u0441\u043a\u043e\u0439,\n\u0433\u0434\u0435 \u0431\u0430\u0437\u043e\u0432\u044b\u0439 URL \u0431\u0435\u0440\u0451\u0442\u0441\u044f \u0441 /api_x.php?id=payLink \u0438 \u0437\u0430\u0442\u0435\u043c \u043a \u043d\u0435\u043c\u0443 \u0434\u043e\u043f\u0438\u0441\u044b\u0432\u0430\u0435\u0442\u0441\u044f email \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f.\n",
        "open": [
          "https://to-ads.click/HTR5qynW?email=..."
        ],
        "intercept": [
          {
            "match": {
              "type": "equals",
              "url": "https://lk.helper.taxi/?to=success"
            },
            "meaning": "\u0423\u0441\u043f\u0435\u0445 \u043e\u043f\u043b\u0430\u0442\u044b/\u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438 (\u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u0437\u0430\u043a\u0440\u044b\u0432\u0430\u0435\u0442 WebView \u0438 \u043f\u0435\u0440\u0435\u0445\u043e\u0434\u0438\u0442 \u043d\u0430 \u0433\u043b\u0430\u0432\u043d\u044b\u0439 \u044d\u043a\u0440\u0430\u043d)."
          },
          {
            "match": {
              "type": "equals",
              "url": "https://lk.helper.taxi/?to=error"
            },
            "meaning": "\u041e\u0448\u0438\u0431\u043a\u0430 \u043e\u043f\u043b\u0430\u0442\u044b/\u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438 (\u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u043e\u0441\u0442\u0430\u0432\u043b\u044f\u0435\u0442 WebView \u043e\u0442\u043a\u0440\u044b\u0442\u044b\u043c)."
          }
        ]
      },
      {
        "name": "unsubscribe_web",
        "description": "\u041e\u0442\u043c\u0435\u043d\u0430 \u043f\u043e\u0434\u043f\u0438\u0441\u043a\u0438: \u043e\u0442\u043a\u0440\u044b\u0432\u0430\u0435\u0442\u0441\u044f \u0432\u043d\u0435\u0448\u043d\u044f\u044f \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430, \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0435 \u043d\u0435 \u043f\u0435\u0440\u0435\u0445\u0432\u0430\u0442\u044b\u0432\u0430\u0435\u0442 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442.",
        "open": [
          "https://pay.helper.taxi/unsubscribe?service-number=6"
        ],
        "intercept": []
      }
    ]
  }
}