{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "eRFX-API",
    "description": "eRFX API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dev.ptvn9/eRFX-API/1.0.0"
  },
  "host": "erfxonline.demo.pantavanij.com",
  "basePath": "/ERFX2/",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "eRFX",
      "description": "Create transaction on eRFX"
    },
    {
      "name": "Sourcing Request",
      "description": "API for sending data to SR"
    }
  ],
  "paths": {
    "/rest/erfx2/create/rfq": {
      "post": {
        "tags": [
          "eRFX"
        ],
        "summary": "Create new eRFX (RFQ)",
        "description": "Create new eRFX (RFQ)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "erfxRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ErfxRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "eRFX created",
            "schema": {
              "$ref": "#/definitions/ErfxResponse"
            }
          },
          "403": {
            "description": "Create Denied",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Could not map user on eRFX",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Exception (Unknown error)",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/rest/erfx2/status": {
      "post": {
        "tags": [
          "eRFX"
        ],
        "summary": "Get eRFX status",
        "description": "Get eRFX status for the given eRFX numbers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "erfxStatusRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ErfxStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of eRFX status",
            "schema": {
              "$ref": "#/definitions/ErfxStatusResponse"
            }
          },
          "404": {
            "description": "Could not map user on eRFX",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Exception (Unknown error)",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/rest/erfx2/additional/bay": {
      "post": {
        "tags": [
          "eRFX"
        ],
        "summary": "Create eRFX additional data for BAY",
        "description": "Create eRFX additional data for BAY",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "BayAdditionalData",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BayAdditionalData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "eRFX additional data created"
          },
          "403": {
            "description": "Create Denied",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Could not map user on eRFX",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Exception (Unknown error)",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/rest/erfx2/syncErfxNoInfoRecordId": {
      "post": {
        "tags": [
          "eRFX"
        ],
        "summary": "Get eRFX sync with Info record for Dusit",
        "description": "Get eRFX list start with the given created info record date",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "erfxInfoRecordSync",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ERFXInfoRecordSync"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of eRFX data",
            "schema": {
              "$ref": "#/definitions/ERFXInfoRecordSyncResponse"
            }
          },
          "404": {
            "description": "Could not find data",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Exception (Unknown error)",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/opn/AuthCommonLogin.action": {
      "get": {
        "tags": [
          "eRFX"
        ],
        "summary": "OPN Login to eRFX",
        "description": "OPN Login to eRFX",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "authCode",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "SelectService",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Login"
          },
          "500": {
            "description": "Exception"
          }
        }
      }
    },
    "/api/erfx/{erfxNo}/receive": {
      "post": {
        "tags": [
          "Sourcing Request"
        ],
        "summary": "Send back shortlist data to Sourcing Request",
        "description": "Send back shortlist data to Sourcing Request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "erfxNo",
            "type": "integer",
            "required": true
          },
          {
            "in": "body",
            "name": "erfxItems",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecieveBodySR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/erfx/{erfxNo}/cancel": {
      "post": {
        "tags": [
          "Sourcing Request"
        ],
        "summary": "Send back cancel data to OPN/Sourcing Request",
        "description": "Send back cancel data to OPN/Sourcing Request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "erfxNo",
            "type": "integer",
            "required": true
          },
          {
            "in": "body",
            "name": "reason",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CancelBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/erfx/bay/update-info": {
      "post": {
        "tags": [
          "Sourcing Request"
        ],
        "summary": "Send back status, company code and company name to Sourcing Request",
        "description": "Send back status, company code and company name to Sourcing Request with token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "UpdateInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateInfoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/erfx/bay/update-status": {
      "post": {
        "tags": [
          "Sourcing Request"
        ],
        "summary": "Send back status to Sourcing Request",
        "description": "Send back status to Sourcing Request without token (For batch)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "UpdateStatus",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/approval/defaultapproval": {
      "get": {
        "tags": [
          "Sourcing Request"
        ],
        "summary": "Get workflow for Sourcing Request",
        "description": "Get workflow for Sourcing Request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "erfxNo",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "netAmount",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/erfx/{erfxNo}/receive_OPN": {
      "post": {
        "tags": [
          "One Planet"
        ],
        "summary": "Send back shortlist data to OPN",
        "description": "Send back shortlist data to OPN",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "erfxNo",
            "type": "integer",
            "required": true
          },
          {
            "in": "body",
            "name": "erfxItems",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecieveBodyOPN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/organizations/hierarchy-root-detail": {
      "get": {
        "tags": [
          "One Planet"
        ],
        "summary": "Get organizations detail",
        "description": "Get organizations detail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/purgroup": {
      "get": {
        "tags": [
          "One Planet"
        ],
        "summary": "Get purchasrer group",
        "description": "Get purchasrer group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/center/{countryCode}/vat": {
      "get": {
        "tags": [
          "One Planet"
        ],
        "summary": "Get VAT by country code",
        "description": "Get VAT by country code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/center/uoms": {
      "get": {
        "tags": [
          "One Planet"
        ],
        "summary": "Get UOM list for sync",
        "description": "Get UOM list for sync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/projects/oneplanet/hierarchy/{orgID}/level/2": {
      "get": {
        "tags": [
          "WeOrg"
        ],
        "summary": "Get purchasing organization",
        "description": "Get purchasing organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgID",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "tenantId",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/projects/oneplanet/hierarchy/{orgID}/child/level/4": {
      "get": {
        "tags": [
          "WeOrg"
        ],
        "summary": "Get plant",
        "description": "Get plant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgID",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "tenantId",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "parentCodeList",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/bifrost/api/route/oneplanet/createinforecord": {
      "post": {
        "tags": [
          "Bifrost"
        ],
        "summary": "Send info record to SAP",
        "description": "Send info record to SAP",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoreInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "paths": null,
    "/api/workflow/create": {
      "post": {
        "tags": [
          "Workflow Oneplanet"
        ],
        "summary": "Create a new workflow instance",
        "description": "Create a new workflow instance for a project with given details.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "workflowRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkflowRequest"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Bearer token for authorization"
          }
        ],
        "responses": {
          "201": {
            "description": "Workflow instance created successfully",
            "schema": {
              "$ref": "#/definitions/CreateWorkflowResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/api/workflow/{projectId}/{workflowInstanceId}": {
      "get": {
        "tags": [
          "Workflow Oneplanet"
        ],
        "summary": "View workflow details",
        "description": "View the details of a specific workflow instance using project ID and workflow instance ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "type": "string",
            "required": true,
            "description": "Project ID associated with the workflow"
          },
          {
            "in": "path",
            "name": "workflowInstanceId",
            "type": "string",
            "required": true,
            "description": "Workflow Instance ID"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Bearer token for authorization"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details retrieved successfully",
            "schema": {
              "$ref": "#/definitions/WorkflowResponse"
            }
          },
          "404": {
            "description": "Workflow instance not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/api/delegate/v1/delegation/delegator-active": {
      "post": {
        "tags": [
          "Delegate"
        ],
        "summary": "Get active delegator list",
        "description": "Get active delegator list",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegatorActiveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DelegatorActiveResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErfxRequest": {
      "type": "object",
      "required": [
        "docNum",
        "requestTemplate",
        "erfxName",
        "currency",
        "includeVat",
        "items",
        "appName"
      ],
      "properties": {
        "docNum": {
          "type": "string",
          "example": "PR220200003",
          "description": "document number of PR/sourcing request"
        },
        "requestTemplate": {
          "type": "integer",
          "description": "1 for quantity / 2 for condition"
        },
        "erfxName": {
          "type": "string",
          "maxLength": 100
        },
        "description": {
          "type": "string",
          "maxLength": 255
        },
        "currency": {
          "type": "string"
        },
        "includeVat": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErfxItem"
          }
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileItem"
          }
        },
        "appName": {
          "type": "string",
          "enum": [
            "oneplanet",
            "sourcing request"
          ]
        },
        "plant": {
          "type": "string",
          "description": "For Dusit"
        },
        "purCode": {
          "type": "string",
          "description": "For Dusit"
        },
        "docType": {
          "type": "string",
          "description": "For Dusit"
        },
        "workflowCurrency": {
          "type": "string",
          "description": "For Dusit"
        },
        "requesterName": {
          "type": "string"
        },
        "department": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "mobile": {
          "type": "string",
          "example": "08xxxxxxxx"
        },
        "email": {
          "type": "string",
          "example": "abc@mail.com"
        },
        "targetDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "reminder": {
          "type": "string",
          "maxLength": 500
        },
        "requestType": {
          "type": "string"
        },
        "budget": {
          "type": "string",
          "description": "Project Value"
        }
      },
      "description": "eRFX Request Header"
    },
    "ErfxResponse": {
      "type": "object",
      "properties": {
        "erfxNum": {
          "type": "integer"
        },
        "erfxStatus": {
          "type": "string",
          "example": "Draft"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErfxItemResponse"
          }
        },
        "docNum": {
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "example": "true"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      },
      "description": "Error object when something went wrong."
    },
    "ErfxItemResponse": {
      "type": "object",
      "properties": {
        "itemId": {
          "type": "integer"
        },
        "erfxItemId": {
          "type": "integer"
        },
        "erfxItemOrder": {
          "type": "integer"
        }
      },
      "description": "eRFX Item Response"
    },
    "ErfxItem": {
      "type": "object",
      "required": [
        "itemId",
        "itemName",
        "unit"
      ],
      "properties": {
        "itemId": {
          "type": "integer"
        },
        "itemName": {
          "type": "string",
          "maxLength": 500
        },
        "materialCode": {
          "type": "string"
        },
        "itemDetail": {
          "type": "string"
        },
        "quantity": {
          "type": "number"
        },
        "condition": {
          "type": "string",
          "maxLength": 500
        },
        "unit": {
          "type": "string",
          "example": "EA"
        },
        "refUnitPrice": {
          "type": "number"
        }
      },
      "description": "eRFX Item Detail"
    },
    "FileItem": {
      "type": "object",
      "required": [
        "extension",
        "name",
        "url"
      ],
      "properties": {
        "name": {
          "type": "string",
          "maxLength": 250
        },
        "url": {
          "type": "string"
        },
        "extension": {
          "type": "string"
        }
      },
      "description": "eRFX Item Response"
    },
    "ErfxStatusRequest": {
      "type": "object",
      "properties": {
        "erfxNum": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      },
      "description": "eRFX Status Request"
    },
    "ErfxStatusResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErfxStatus"
          }
        }
      },
      "description": "eRFX Status Response"
    },
    "ErfxStatus": {
      "type": "object",
      "properties": {
        "erfxNum": {
          "type": "integer"
        },
        "status": {
          "type": "string"
        }
      },
      "description": "eRFX Status"
    },
    "BayAdditionalData": {
      "type": "object",
      "required": [
        "erfxId"
      ],
      "properties": {
        "erfxId": {
          "type": "integer"
        },
        "projectName": {
          "type": "string"
        },
        "projectCode": {
          "type": "string"
        },
        "objective": {
          "type": "string"
        },
        "outsourceService": {
          "type": "integer"
        },
        "outsourceCode": {
          "type": "string"
        },
        "requireSuppPerfEva": {
          "type": "integer"
        },
        "evaluationDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "makingContract": {
          "type": "integer"
        },
        "makingContractReason": {
          "type": "string"
        },
        "makingRptContract": {
          "type": "integer"
        },
        "makingRptContractReason": {
          "type": "string"
        },
        "vatAbsorbedBy": {
          "type": "integer"
        },
        "stampDutyAbsorbedBy": {
          "type": "integer"
        },
        "whtAbsorbedBy": {
          "type": "integer"
        },
        "needWhtCert": {
          "type": "integer"
        },
        "organization": {
          "type": "string"
        },
        "costCenter": {
          "type": "string"
        },
        "background": {
          "type": "string"
        },
        "budgetRefNo": {
          "type": "string"
        },
        "requestedDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BayAdditionalDataItem"
          }
        },
        "questionnaire": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Questionnaire"
          }
        }
      },
      "description": "eRFX Additional Data for Bay"
    },
    "BayAdditionalDataItem": {
      "type": "object",
      "required": [
        "itemId"
      ],
      "properties": {
        "itemId": {
          "type": "integer"
        },
        "bidValidityStartDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "bidValidityEndDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        }
      },
      "description": "eRFX Item Additional Data for Bay"
    },
    "Questionnaire": {
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        },
        "questionType": {
          "type": "string",
          "enum": [
            "text_box",
            "num_text_box",
            "paragraph",
            "multiple_choice",
            "easy_box",
            "check_box",
            "doc_required"
          ]
        },
        "questionWeight": {
          "type": "integer"
        },
        "questionOrder": {
          "type": "integer"
        },
        "requireField": {
          "type": "string"
        },
        "other": {
          "type": "string"
        },
        "answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuestionnaireAnswer"
          }
        }
      },
      "description": "Questionnaire Data for eRFX step 3"
    },
    "QuestionnaireAnswer": {
      "type": "object",
      "properties": {
        "answer": {
          "type": "string"
        },
        "answerPoint": {
          "type": "integer"
        },
        "answerOrder": {
          "type": "integer"
        }
      },
      "description": "Questionnaire Data for eRFX step 3"
    },
    "RecieveBodySR": {
      "type": "object",
      "properties": {
        "erfxItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecieveItemSR"
          }
        },
        "erfxAttachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecieveAttachment"
          }
        },
        "priceCondition": {
          "type": "string"
        },
        "companyCode": {
          "type": "string"
        },
        "companyName": {
          "type": "string"
        },
        "withdraw": {
          "type": "string"
        },
        "withdrawReason": {
          "type": "string"
        }
      },
      "description": "For send data to OPN/Sourcing Request API"
    },
    "RecieveItemSR": {
      "type": "object",
      "properties": {
        "itemId": {
          "type": "integer"
        },
        "erfxItemOrder": {
          "type": "integer"
        },
        "erfxItemId": {
          "type": "integer"
        },
        "itemName": {
          "type": "integer"
        },
        "itemDetail": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "quantity": {
          "type": "integer"
        },
        "unit": {
          "type": "string"
        },
        "suppliers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecieveSupplier"
          }
        },
        "itemStatus": {
          "type": "string"
        },
        "vatType": {
          "type": "string"
        },
        "month": {
          "type": "integer"
        },
        "costAvoidanceVat7Percentage": {
          "type": "string"
        },
        "bidNo": {
          "type": "string"
        },
        "biddingType": {
          "type": "string"
        },
        "bidDescription": {
          "type": "string"
        },
        "bidStartDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "bidCompleteDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "bidValidityStartDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        },
        "bidValidityEndDate": {
          "type": "string",
          "example": "dd/MM/yyyy"
        }
      },
      "description": "Item for send data to Sourcing API"
    },
    "RecieveSupplier": {
      "type": "object",
      "properties": {
        "awardedVendorName": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "taxNo": {
          "type": "string"
        },
        "unitPrice": {
          "type": "string"
        },
        "basePrice": {
          "type": "string"
        }
      },
      "description": "Awarded Supplier for send data to Sourcing API"
    },
    "RecieveAttachment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "extension": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "description": "Attachment for send data to OPN/Sourcing API"
    },
    "RecieveBodyOPN": {
      "type": "object",
      "properties": {
        "erfxItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecieveItemOPN"
          }
        },
        "erfxAttachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecieveAttachment"
          }
        },
        "priceCondition": {
          "type": "string"
        },
        "savingBudget": {
          "type": "string"
        },
        "savingLastPrice": {
          "type": "string"
        },
        "costAvoidance": {
          "type": "string"
        }
      },
      "description": "For send data to OPN API"
    },
    "RecieveItemOPN": {
      "type": "object",
      "properties": {
        "itemId": {
          "type": "integer"
        },
        "erfxItemOrder": {
          "type": "integer"
        },
        "erfxItemId": {
          "type": "integer"
        },
        "itemName": {
          "type": "integer"
        },
        "itemDetail": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "quantity": {
          "type": "integer"
        },
        "unit": {
          "type": "string"
        },
        "supplier": {
          "type": "string"
        },
        "unitPrice": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "erfxItemAttachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecieveAttachment"
          }
        }
      },
      "description": "Item for send data to OPN"
    },
    "CancelBody": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string"
        }
      },
      "description": "Cancel reason for send data to OPN/Sourcing API"
    },
    "ERFXInfoRecordSync": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "example": "yyyy/MM/dd hh:mm:ss"
        },
        "page": {
          "type": "integer",
          "example": 1
        },
        "limit": {
          "type": "integer",
          "example": 100
        }
      },
      "description": "eRFX Info Record Sync"
    },
    "ERFXInfoRecordSyncResponse": {
      "type": "object",
      "properties": {
        "erfxNo": {
          "type": "integer"
        },
        "infoRecordId": {
          "type": "integer"
        },
        "createdAt": {
          "type": "string"
        }
      },
      "description": "eRFX Info Record Sync Response"
    },
    "UpdateInfoRequest": {
      "type": "object",
      "properties": {
        "erfxNum": {
          "type": "integer"
        },
        "status": {
          "type": "string"
        },
        "companyCode": {
          "type": "string"
        },
        "companyName": {
          "type": "string"
        }
      },
      "description": "Update Info Request"
    },
    "UpdateStatusRequest": {
      "type": "object",
      "properties": {
        "erfxNum": {
          "type": "integer"
        },
        "status": {
          "type": "string"
        }
      },
      "description": "Update Status Request"
    },
    "DelegatorActiveRequest": {
      "type": "object",
      "properties": {
        "delegateeUserName": {
          "type": "string"
        }
      },
      "description": "Delegator Active Request"
    },
    "DelegatorActiveResponse": {
      "type": "object",
      "properties": {
        "delegatorUserNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Delegator Active Response"
    },
    "MoreInfo": {
      "type": "object",
      "properties": {
        "more_info_in_code": {
          "type": "string"
        }
      },
      "description": "Please see parameters in code"
    },
    "WorkflowRequest": {
      "type": "object",
      "properties": {
        "Plant": {
          "type": "string",
          "description": "The plant associated with the workflow (e.g., \"plantValue\")"
        },
        "PurGroup": {
          "type": "string",
          "description": "The purchasing group associated with the workflow (e.g., \"purGroupValue\")"
        },
        "PRDocType": {
          "type": "string",
          "description": "The purchase requisition document type (e.g., \"docTypeValue\")"
        },
        "IsCatalog": {
          "type": "string",
          "description": "Whether the catalog is used (e.g., empty string \"\")"
        },
        "PRAmount": {
          "type": "string",
          "description": "The amount of the purchase requisition (e.g., \"amountValue\")"
        },
        "Purchaser": {
          "type": "string",
          "description": "The purchaser (e.g., empty string \"\")"
        },
        "ISChangePO": {
          "type": "string",
          "description": "Whether the PO needs to be changed (e.g., empty string \"\")"
        },
        "isStartImmediately": {
          "type": "boolean",
          "description": "Flag indicating whether to start the workflow immediately (true to start, false to delay)"
        }
      },
      "required": [
        "Plant",
        "PurGroup",
        "PRDocType",
        "IsCatalog",
        "PRAmount",
        "Purchaser",
        "ISChangePO",
        "isStartImmediately"
      ],
      "description": "Workflow request object containing all the parameters required for workflow creation."
    },
    "CreateWorkflowResponse": {
      "type": "object",
      "properties": {
        "workflowInstanceId": {
          "type": "string",
          "description": "Workflow Instance ID created or retrieved"
        },
        "status": {
          "type": "string",
          "description": "Current status of the workflow (e.g., Pending, Approved, etc.)"
        },
        "params": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        }
      },
      "description": "Response object containing workflow instance details"
    },
    "WorkflowResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "The status code (e.g., \"I1001\")"
            },
            "description": {
              "type": "string",
              "description": "The status description (e.g., \"Success\")"
            }
          }
        },
        "data": {
          "type": "object",
          "properties": {
            "projectId": {
              "type": "string",
              "description": "The project ID (e.g., \"oneplanet\")"
            },
            "tenantId": {
              "type": "string",
              "description": "The tenant ID (e.g., \"Dusit\")"
            },
            "recordId": {
              "type": "integer",
              "description": "The record ID (e.g., 487969)"
            },
            "workflowId": {
              "type": "integer",
              "description": "The workflow ID (e.g., 105615)"
            },
            "refDocumentId": {
              "type": "string",
              "nullable": true,
              "description": "The reference document ID (nullable)"
            },
            "viewDocumentUrl": {
              "type": "string",
              "description": "The URL to view the document"
            },
            "status": {
              "type": "string",
              "description": "The current status of the workflow (e.g., \"PENDING\")"
            },
            "remark": {
              "type": "string",
              "nullable": true,
              "description": "Optional remarks (nullable)"
            },
            "instanceStages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "The project ID"
                  },
                  "tenantId": {
                    "type": "string",
                    "description": "The tenant ID"
                  },
                  "recordId": {
                    "type": "integer",
                    "description": "The stage record ID"
                  },
                  "workflowStageId": {
                    "type": "integer",
                    "description": "The workflow stage ID"
                  },
                  "stageName": {
                    "type": "string",
                    "description": "The name of the stage"
                  },
                  "sequence": {
                    "type": "integer",
                    "description": "The stage sequence"
                  },
                  "stageType": {
                    "type": "string",
                    "description": "The type of the stage (e.g., \"PARALLEL\")"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The creation timestamp of the stage"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "The creator of the stage"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The last update timestamp"
                  },
                  "updatedBy": {
                    "type": "string",
                    "description": "The person who last updated the stage"
                  },
                  "workflowInstanceId": {
                    "type": "integer",
                    "description": "The workflow instance ID"
                  },
                  "instanceSteps": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "projectId": {
                          "type": "string",
                          "description": "The project ID"
                        },
                        "tenantId": {
                          "type": "string",
                          "description": "The tenant ID"
                        },
                        "recordId": {
                          "type": "integer",
                          "description": "The step record ID"
                        },
                        "workflowStepId": {
                          "type": "integer",
                          "description": "The workflow step ID"
                        },
                        "stepName": {
                          "type": "string",
                          "description": "The name of the step"
                        },
                        "status": {
                          "type": "string",
                          "description": "The current status of the step (e.g., \"PENDING\")"
                        },
                        "orderNumber": {
                          "type": "integer",
                          "description": "The step order number"
                        },
                        "numberOfApproverRequired": {
                          "type": "integer",
                          "description": "The number of approvers required for the step"
                        },
                        "approvalType": {
                          "type": "string",
                          "description": "The approval type (e.g., \"1\")"
                        },
                        "instanceApprovers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "projectId": {
                                "type": "string",
                                "description": "The project ID"
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "The tenant ID"
                              },
                              "recordId": {
                                "type": "integer",
                                "description": "The approver record ID"
                              },
                              "referApproverId": {
                                "type": "string",
                                "description": "The approver's ID"
                              },
                              "referApproverName": {
                                "type": "string",
                                "nullable": true,
                                "description": "The name of the approver (nullable)"
                              },
                              "referApproverEmail": {
                                "type": "string",
                                "nullable": true,
                                "description": "The email of the approver (nullable)"
                              },
                              "isRequired": {
                                "type": "boolean",
                                "description": "Whether the approver is required"
                              },
                              "status": {
                                "type": "string",
                                "description": "The approval status (e.g., \"PENDING\")"
                              },
                              "receiveDate": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "The date the approver received the request (nullable)"
                              }
                            }
                          }
                        },
                        "instanceStepNexts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "projectId": {
                                "type": "string",
                                "description": "The project ID"
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "The tenant ID"
                              },
                              "recordId": {
                                "type": "integer",
                                "description": "The next step record ID"
                              },
                              "workflowInstanceStepId": {
                                "type": "integer",
                                "description": "The workflow instance step ID"
                              },
                              "stepNextTo": {
                                "type": "integer",
                                "description": "The next step number"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The creation timestamp of the next step"
                              },
                              "createdBy": {
                                "type": "string",
                                "description": "The creator of the next step"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The last update timestamp"
                              },
                              "updatedBy": {
                                "type": "string",
                                "description": "The person who last updated the next step"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "displayLane": {
                    "type": "string",
                    "description": "The lane of the workflow stage (e.g., \"Purchaser\")"
                  },
                  "status": {
                    "type": "string",
                    "description": "The current status of the stage (e.g., \"PENDING\")"
                  }
                }
              }
            },
            "createdAt": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of when the workflow was created"
            },
            "createdBy": {
              "type": "string",
              "description": "The creator of the workflow"
            },
            "updatedAt": {
              "type": "string",
              "format": "date-time",
              "description": "The last update timestamp of the workflow"
            },
            "updatedBy": {
              "type": "string",
              "description": "The person who last updated the workflow"
            }
          }
        }
      },
      "required": [
        "status",
        "data"
      ],
      "description": "Response object containing workflow status and details"
    }
  }
}