{
  "openapi": "3.0.1",
  "info": {
    "title": "GetWeatherData",
    "description": "API generated by Swagger Explore",
    "version": "5",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mindcomputinginc/GetWeatherData/5"
  },
  "servers": [
    {
      "url": "http://api.weatherapi.com"
    },
    {
      "url": "https://virtserver.swaggerhub.com/mindcomputinginc/WeatherTestName/1.0.0"
    },
    {
      "url": "https://petstore3.swagger.io/api/v3"
    }
  ],
  "paths": {
    "/v1/current.json": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "4d7313addc414bb6904140744261902"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "20147"
              }
            }
          },
          {
            "name": "aqi",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "no"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore",
            "headers": {
              "CDN-EdgeStorageId": {
                "schema": {
                  "type": "string"
                },
                "example": "1069"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "BunnyCDN-IL1-871"
              },
              "CDN-Cache": {
                "schema": {
                  "type": "string"
                },
                "example": "EXPIRED"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-varnish": {
                "schema": {
                  "type": "string"
                },
                "example": "709634917"
              },
              "CDN-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "a96458c8b93bacec46406d76c33a4d7a"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 19 Feb 2026 14:38:22 GMT"
              },
              "CDN-RequestTime": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "Via": {
                "schema": {
                  "type": "string"
                },
                "example": "1.1 varnish (Varnish/7.1)"
              },
              "CDN-ProxyVer": {
                "schema": {
                  "type": "string"
                },
                "example": "1.43"
              },
              "x-weatherapi-qpm-left": {
                "schema": {
                  "type": "string"
                },
                "example": "999998"
              },
              "CDN-RequestCountryCode": {
                "schema": {
                  "type": "string"
                },
                "example": "US"
              },
              "CDN-RequestPullSuccess": {
                "schema": {
                  "type": "string"
                },
                "example": "True"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "public, max-age=180"
              },
              "CDN-PullZone": {
                "schema": {
                  "type": "string"
                },
                "example": "93447"
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "CDN-RequestPullCode": {
                "schema": {
                  "type": "string"
                },
                "example": "200"
              },
              "CDN-CachedAt": {
                "schema": {
                  "type": "string"
                },
                "example": "02/19/2026 14:38:22"
              },
              "Age": {
                "schema": {
                  "type": "string"
                },
                "example": "0"
              },
              "CDN-Status": {
                "schema": {
                  "type": "string"
                },
                "example": "200"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "current",
                    "location"
                  ],
                  "type": "object",
                  "properties": {
                    "location": {
                      "required": [
                        "country",
                        "lat",
                        "localtime",
                        "localtime_epoch",
                        "lon",
                        "name",
                        "region",
                        "tz_id"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "lat": {
                          "type": "number"
                        },
                        "lon": {
                          "type": "number"
                        },
                        "tz_id": {
                          "type": "string"
                        },
                        "localtime_epoch": {
                          "type": "integer"
                        },
                        "localtime": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    },
                    "current": {
                      "required": [
                        "cloud",
                        "condition",
                        "dewpoint_c",
                        "dewpoint_f",
                        "feelslike_c",
                        "feelslike_f",
                        "gust_kph",
                        "gust_mph",
                        "heatindex_c",
                        "heatindex_f",
                        "humidity",
                        "is_day",
                        "last_updated",
                        "last_updated_epoch",
                        "precip_in",
                        "precip_mm",
                        "pressure_in",
                        "pressure_mb",
                        "temp_c",
                        "temp_f",
                        "uv",
                        "vis_km",
                        "vis_miles",
                        "wind_degree",
                        "wind_dir",
                        "wind_kph",
                        "wind_mph",
                        "windchill_c",
                        "windchill_f"
                      ],
                      "type": "object",
                      "properties": {
                        "last_updated_epoch": {
                          "type": "integer"
                        },
                        "last_updated": {
                          "type": "string"
                        },
                        "temp_c": {
                          "type": "number"
                        },
                        "temp_f": {
                          "type": "number"
                        },
                        "is_day": {
                          "type": "integer"
                        },
                        "condition": {
                          "required": [
                            "code",
                            "icon",
                            "text"
                          ],
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "icon": {
                              "type": "string"
                            },
                            "code": {
                              "type": "integer"
                            }
                          },
                          "additionalProperties": false
                        },
                        "wind_mph": {
                          "type": "number"
                        },
                        "wind_kph": {
                          "type": "number"
                        },
                        "wind_degree": {
                          "type": "integer"
                        },
                        "wind_dir": {
                          "type": "string"
                        },
                        "pressure_mb": {
                          "type": "number"
                        },
                        "pressure_in": {
                          "type": "number"
                        },
                        "precip_mm": {
                          "type": "number"
                        },
                        "precip_in": {
                          "type": "number"
                        },
                        "humidity": {
                          "type": "integer"
                        },
                        "cloud": {
                          "type": "integer"
                        },
                        "feelslike_c": {
                          "type": "number"
                        },
                        "feelslike_f": {
                          "type": "number"
                        },
                        "windchill_c": {
                          "type": "number"
                        },
                        "windchill_f": {
                          "type": "number"
                        },
                        "heatindex_c": {
                          "type": "number"
                        },
                        "heatindex_f": {
                          "type": "number"
                        },
                        "dewpoint_c": {
                          "type": "number"
                        },
                        "dewpoint_f": {
                          "type": "number"
                        },
                        "vis_km": {
                          "type": "number"
                        },
                        "vis_miles": {
                          "type": "number"
                        },
                        "uv": {
                          "type": "number"
                        },
                        "gust_mph": {
                          "type": "number"
                        },
                        "gust_kph": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "location": {
                    "name": "Ashburn",
                    "region": "Virginia",
                    "country": "USA",
                    "lat": 39.0373001098633,
                    "lon": -77.4804992675781,
                    "tz_id": "America/New_York",
                    "localtime_epoch": 1771511902,
                    "localtime": "2026-02-19 09:38"
                  },
                  "current": {
                    "last_updated_epoch": 1771511400,
                    "last_updated": "2026-02-19 09:30",
                    "temp_c": 3.3,
                    "temp_f": 37.9,
                    "is_day": 1,
                    "condition": {
                      "text": "Mist",
                      "icon": "//cdn.weatherapi.com/weather/64x64/day/143.png",
                      "code": 1030
                    },
                    "wind_mph": 8.3,
                    "wind_kph": 13.3,
                    "wind_degree": 91,
                    "wind_dir": "E",
                    "pressure_mb": 1016,
                    "pressure_in": 30.01,
                    "precip_mm": 0,
                    "precip_in": 0,
                    "humidity": 100,
                    "cloud": 100,
                    "feelslike_c": -0.1,
                    "feelslike_f": 31.9,
                    "windchill_c": 1.4,
                    "windchill_f": 34.5,
                    "heatindex_c": 4,
                    "heatindex_f": 39.2,
                    "dewpoint_c": 3.9,
                    "dewpoint_f": 39,
                    "vis_km": 1.2,
                    "vis_miles": 0,
                    "uv": 1,
                    "gust_mph": 11.2,
                    "gust_kph": 18
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  }
}