{
  "openapi": "3.0.3",
  "info": {
    "title": "UPS API",
    "description": "UPS Developer API for tracking packages, rating shipments, calculating time in transit, validating addresses, and managing shipments. Requires OAuth2 authentication via the UPS Developer Portal.",
    "version": "1.0",
    "contact": {
      "name": "UPS Developer",
      "url": "https://developer.ups.com/"
    },
    "license": {
      "name": "UPS Technology Agreement",
      "url": "https://developer.ups.com/"
    }
  },
  "externalDocs": {
    "description": "UPS Developer Portal",
    "url": "https://developer.ups.com/"
  },
  "servers": [
    {
      "url": "https://onlinetools.ups.com/api",
      "description": "UPS Production"
    },
    {
      "url": "https://wwwcie.ups.com/api",
      "description": "UPS Testing/CIE"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/track/v1/details/{inquiryNumber}": {
      "get": {
        "operationId": "trackPackage",
        "summary": "Track a package",
        "description": "Get tracking details for a package by tracking number.",
        "parameters": [
          {
            "name": "inquiryNumber",
            "in": "path",
            "required": true,
            "description": "Tracking number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale for response (e.g. en_US)",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          },
          {
            "name": "returnSignature",
            "in": "query",
            "description": "Return signature image",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "returnMilestones",
            "in": "query",
            "description": "Include tracking milestones",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          }
        },
        "tags": [
          "track"
        ]
      }
    },
    "/rating/v1/Rate": {
      "post": {
        "operationId": "getRate",
        "summary": "Get shipping rates",
        "description": "Calculate shipping rates for a shipment.",
        "parameters": [
          {
            "name": "requestoption",
            "in": "query",
            "description": "Request option: Rate, Shop, or Ratetimeintransit",
            "schema": {
              "type": "string",
              "enum": [
                "Rate",
                "Shop",
                "Ratetimeintransit"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rate response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "tags": [
          "rating"
        ]
      }
    },
    "/shipments/v1/ship": {
      "post": {
        "operationId": "createShipment",
        "summary": "Create a shipment",
        "description": "Create a new UPS shipment and generate shipping labels.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "tags": [
          "shipments"
        ]
      }
    },
    "/shipments/v1/void/cancel/{shipmentIdentificationNumber}": {
      "delete": {
        "operationId": "voidShipment",
        "summary": "Void/cancel a shipment",
        "parameters": [
          {
            "name": "shipmentIdentificationNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment voided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "VoidShipmentResponse": {
                      "type": "object",
                      "properties": {
                        "Response": {
                          "$ref": "#/components/schemas/ResponseStatus"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot void shipment"
          }
        },
        "description": "Void/cancel a shipment",
        "tags": [
          "shipments"
        ]
      }
    },
    "/addressvalidation/v1/1": {
      "post": {
        "operationId": "validateAddress",
        "summary": "Validate an address",
        "description": "Validate and classify addresses using UPS Address Validation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "tags": [
          "addressvalidation"
        ]
      }
    },
    "/timeintransit/v1/estimateddelivery": {
      "post": {
        "operationId": "getTimeInTransit",
        "summary": "Get estimated delivery time",
        "description": "Calculate estimated delivery dates and times for a shipment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "originCountryCode": {
                    "type": "string"
                  },
                  "originPostalCode": {
                    "type": "string"
                  },
                  "destinationCountryCode": {
                    "type": "string"
                  },
                  "destinationPostalCode": {
                    "type": "string"
                  },
                  "weight": {
                    "type": "string"
                  },
                  "weightUnitOfMeasure": {
                    "type": "string",
                    "enum": [
                      "LBS",
                      "KGS"
                    ]
                  },
                  "shipDate": {
                    "type": "string",
                    "description": "Ship date (YYYY-MM-DD)"
                  },
                  "shipTime": {
                    "type": "string"
                  },
                  "numberOfPackages": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time in transit estimate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emsResponse": {
                      "type": "object",
                      "properties": {
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "serviceLevelDescription": {
                                "type": "string"
                              },
                              "serviceCode": {
                                "type": "string"
                              },
                              "deliveryDate": {
                                "type": "string"
                              },
                              "deliveryTime": {
                                "type": "string"
                              },
                              "deliveryDayOfWeek": {
                                "type": "string"
                              },
                              "businessTransitDays": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "timeintransit"
        ]
      }
    },
    "/paperlessdocuments/v1/upload": {
      "post": {
        "operationId": "uploadDocument",
        "summary": "Upload paperless documents",
        "description": "Upload customs and trade documents electronically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ShipperNumber": {
                    "type": "string"
                  },
                  "DocumentID": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "DocumentType": {
                          "type": "string"
                        },
                        "DocumentContent": {
                          "type": "string",
                          "format": "byte"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded"
          },
          "400": {
            "description": "Upload failed"
          }
        },
        "tags": [
          "paperlessdocuments"
        ]
      }
    },
    "/security/v1/oauth/token": {
      "post": {
        "operationId": "getToken",
        "summary": "Get OAuth2 access token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string"
                    },
                    "issued_at": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get OAuth2 access token",
        "tags": [
          "security"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 bearer token from /security/v1/oauth/token"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Client ID and secret for token endpoint"
      }
    },
    "schemas": {
      "ResponseStatus": {
        "type": "object",
        "properties": {
          "ResponseStatus": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string"
              },
              "Description": {
                "type": "string"
              }
            }
          }
        }
      },
      "TrackResponse": {
        "type": "object",
        "properties": {
          "trackResponse": {
            "type": "object",
            "properties": {
              "shipment": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "inquiryNumber": {
                      "type": "string"
                    },
                    "package": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trackingNumber": {
                            "type": "string"
                          },
                          "deliveryDate": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "date": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "deliveryTime": {
                            "type": "object",
                            "properties": {
                              "startTime": {
                                "type": "string"
                              },
                              "endTime": {
                                "type": "string"
                              }
                            }
                          },
                          "activity": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string"
                                },
                                "time": {
                                  "type": "string"
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "object",
                                      "properties": {
                                        "city": {
                                          "type": "string"
                                        },
                                        "stateProvince": {
                                          "type": "string"
                                        },
                                        "countryCode": {
                                          "type": "string"
                                        },
                                        "postalCode": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "status": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "code": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "currentStatus": {
                            "type": "object",
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              }
                            }
                          },
                          "weight": {
                            "type": "object",
                            "properties": {
                              "weight": {
                                "type": "string"
                              },
                              "unitOfMeasurement": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RateRequest": {
        "type": "object",
        "properties": {
          "RateRequest": {
            "type": "object",
            "properties": {
              "Request": {
                "type": "object",
                "properties": {
                  "SubVersion": {
                    "type": "string"
                  }
                }
              },
              "Shipment": {
                "type": "object",
                "properties": {
                  "Shipper": {
                    "$ref": "#/components/schemas/Address"
                  },
                  "ShipTo": {
                    "$ref": "#/components/schemas/Address"
                  },
                  "ShipFrom": {
                    "$ref": "#/components/schemas/Address"
                  },
                  "Service": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string"
                      },
                      "Description": {
                        "type": "string"
                      }
                    }
                  },
                  "Package": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "PackagingType": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string"
                            }
                          }
                        },
                        "Dimensions": {
                          "type": "object",
                          "properties": {
                            "UnitOfMeasurement": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string"
                                }
                              }
                            },
                            "Length": {
                              "type": "string"
                            },
                            "Width": {
                              "type": "string"
                            },
                            "Height": {
                              "type": "string"
                            }
                          }
                        },
                        "PackageWeight": {
                          "type": "object",
                          "properties": {
                            "UnitOfMeasurement": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string"
                                }
                              }
                            },
                            "Weight": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RateResponse": {
        "type": "object",
        "properties": {
          "RateResponse": {
            "type": "object",
            "properties": {
              "Response": {
                "$ref": "#/components/schemas/ResponseStatus"
              },
              "RatedShipment": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "Service": {
                      "type": "object",
                      "properties": {
                        "Code": {
                          "type": "string"
                        },
                        "Description": {
                          "type": "string"
                        }
                      }
                    },
                    "TotalCharges": {
                      "type": "object",
                      "properties": {
                        "CurrencyCode": {
                          "type": "string"
                        },
                        "MonetaryValue": {
                          "type": "string"
                        }
                      }
                    },
                    "GuaranteedDelivery": {
                      "type": "object",
                      "properties": {
                        "BusinessDaysInTransit": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShipmentRequest": {
        "type": "object",
        "properties": {
          "ShipmentRequest": {
            "type": "object",
            "properties": {
              "Shipment": {
                "type": "object",
                "properties": {
                  "Shipper": {
                    "$ref": "#/components/schemas/Address"
                  },
                  "ShipTo": {
                    "$ref": "#/components/schemas/Address"
                  },
                  "ShipFrom": {
                    "$ref": "#/components/schemas/Address"
                  },
                  "Service": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string"
                      }
                    }
                  },
                  "Package": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "PaymentInformation": {
                    "type": "object"
                  }
                }
              },
              "LabelSpecification": {
                "type": "object",
                "properties": {
                  "LabelImageFormat": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShipmentResponse": {
        "type": "object",
        "properties": {
          "ShipmentResponse": {
            "type": "object",
            "properties": {
              "Response": {
                "$ref": "#/components/schemas/ResponseStatus"
              },
              "ShipmentResults": {
                "type": "object",
                "properties": {
                  "ShipmentIdentificationNumber": {
                    "type": "string"
                  },
                  "PackageResults": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "TrackingNumber": {
                          "type": "string"
                        },
                        "ShippingLabel": {
                          "type": "object",
                          "properties": {
                            "ImageFormat": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string"
                                }
                              }
                            },
                            "GraphicImage": {
                              "type": "string",
                              "format": "byte"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AddressValidationRequest": {
        "type": "object",
        "properties": {
          "XAVRequest": {
            "type": "object",
            "properties": {
              "AddressKeyFormat": {
                "type": "object",
                "properties": {
                  "AddressLine": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "PoliticalDivision2": {
                    "type": "string",
                    "description": "City"
                  },
                  "PoliticalDivision1": {
                    "type": "string",
                    "description": "State/Province"
                  },
                  "PostcodePrimaryLow": {
                    "type": "string",
                    "description": "Postal code"
                  },
                  "CountryCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AddressValidationResponse": {
        "type": "object",
        "properties": {
          "XAVResponse": {
            "type": "object",
            "properties": {
              "Response": {
                "$ref": "#/components/schemas/ResponseStatus"
              },
              "ValidAddressIndicator": {
                "type": "string"
              },
              "NoCandidatesIndicator": {
                "type": "string"
              },
              "Candidate": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "AddressKeyFormat": {
                      "type": "object",
                      "properties": {
                        "AddressLine": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "PoliticalDivision2": {
                          "type": "string"
                        },
                        "PoliticalDivision1": {
                          "type": "string"
                        },
                        "PostcodePrimaryLow": {
                          "type": "string"
                        },
                        "CountryCode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "ShipperNumber": {
            "type": "string"
          },
          "Address": {
            "type": "object",
            "properties": {
              "AddressLine": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "City": {
                "type": "string"
              },
              "StateProvinceCode": {
                "type": "string"
              },
              "PostalCode": {
                "type": "string"
              },
              "CountryCode": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "addressvalidation"
    },
    {
      "name": "paperlessdocuments"
    },
    {
      "name": "rating"
    },
    {
      "name": "security"
    },
    {
      "name": "shipments"
    },
    {
      "name": "timeintransit"
    },
    {
      "name": "track"
    }
  ]
}
