{
  "swagger": "2.0",
  "info": {
    "version": "1.0.1",
    "title": "CKDAKA API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/elicase/ckdaka-api/1.0.1"
  },
  "_host": "localhost/_eshop_ck",
  "host": "cestovnakancelariadaka.sk",
  "basePath": "/api2",
  "tags": [
    {
      "name": "general",
      "description": "General methods"
    },
    {
      "name": "bus",
      "description": "Bus methods"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/bus/bus_list": {
      "get": {
        "tags": [
          "bus"
        ],
        "summary": "Returns list of all available buses",
        "description": "",
        "operationId": "bus_list",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Bus"
            }
          },
          "404": {
            "description": "No available buses",
            "schema": {
              "$ref": "#/definitions/ResponseError"
            }
          }
        }
      }
    },
    "/bus/passenger_list": {
      "get": {
        "tags": [
          "bus"
        ],
        "summary": "Returns list of all available buses",
        "description": "",
        "operationId": "passenger_list",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_number",
            "in": "query",
            "description": "Order number of passengers. One of order_number / tour_id is required",
            "required": false,
            "type": "string"
          },
          {
            "name": "tour_id",
            "in": "query",
            "description": "Tour ID passengers are attenting. One of order_number / tour_id is required",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Passenger"
            }
          },
          "404": {
            "description": "No passengers yet",
            "schema": {
              "$ref": "#/definitions/ResponseError"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/bus/update_line": {
      "post": {
        "tags": [
          "bus"
        ],
        "summary": "Updates line data",
        "description": "",
        "operationId": "update_line",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "update object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LineUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseSuccess"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/general/ping": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "API status check",
        "description": "",
        "operationId": "ping",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "works"
          }
        }
      }
    },
    "/general/notification": {
      "post": {
        "tags": [
          "general"
        ],
        "summary": "Sends email/sms notification",
        "description": "If you want to send an email only, fill in only text_email and email. The same applies to SMS.",
        "operationId": "notification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "notification object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Notification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResponseSuccess"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "query"
    }
  },
  "definitions": {
    "ResponseError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ResponseSuccess": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Bus": {
      "type": "object",
      "required": [
        "bus_id",
        "name"
      ],
      "properties": {
        "bus_id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "plate_number": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "capacity": {
          "type": "integer",
          "description": "Number of seats"
        },
        "seats": {
          "type": "Array",
          "description": "Array of all seats {number: seat number, coefficient: if premium, coefficient is > 1})"
        },
        "seats_grid": {
          "type": "Array",
          "description": "Array of all seats in grid (horizontal). Each row represents one row"
        },
        "date_added": {
          "type": "string",
          "format": "date-time"
        },
        "date_modified": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Place": {
      "type": "object",
      "required": [
        "place_id",
        "city"
      ],
      "properties": {
        "place_id": {
          "type": "integer"
        },
        "city": {
          "type": "string"
        },
        "place": {
          "type": "string",
          "description": "Location specification (bus stop, building, ...)"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time of leaving"
        }
      }
    },
    "Passenger": {
      "type": "object",
      "required": [
        "id",
        "order_number",
        "name",
        "surname",
        "email",
        "phone"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "order_number": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "seat": {
          "type": "string",
          "description": "Bus seat number"
        },
        "luggage": {
          "type": "boolean"
        },
        "departure": {
          "type": "object",
          "schema": {
            "$ref": "#/definitions/Place"
          }
        },
        "arrival": {
          "type": "object",
          "schema": {
            "$ref": "#/definitions/Place"
          }
        },
        "tour": {
          "type": "object",
          "title": "Tour",
          "name": "tour",
          "required": [
            "id",
            "name",
            "name",
            "date_from",
            "date_to"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            },
            "date_from": {
              "type": "string",
              "format": "date",
              "description": "Start date of tour"
            },
            "date_to": {
              "type": "string",
              "format": "date",
              "description": "End date of tour"
            }
          }
        }
      }
    },
    "Notification": {
      "type": "object",
      "required": [
        "id",
        "type"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Unique notification ID"
        },
        "type": {
          "type": "string",
          "description": "Type of notification (CREATE_ORDER, DELAY, ...)"
        },
        "subject": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Pass an array if multiple recipients"
        },
        "text_email": {
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "Pass an array if multiple recipients. Phone number in international format (00421900111222)"
        },
        "text_sms": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        }
      }
    },
    "Attachment": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "description": "URL to a file"
        }
      }
    },
    "LineUpdate": {
      "type": "object",
      "required": [
        "id",
        "delay"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Unique request ID"
        },
        "line_id": {
          "type": "integer",
          "description": "Line ID. One of line_id / line_code is required to determine which line to update."
        },
        "line_code": {
          "type": "string",
          "description": "Line code. One of line_id / line_code is required to determine which line to update."
        },
        "delay": {
          "type": "integer",
          "description": "in minutes"
        },
        "last_stop": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "",
    "url": ""
  }
}