{
  "openapi": "3.0.3",
  "info": {
    "title": "WebCaution API",
    "version": "1.0.0",
    "description": "REST JSON API to submit new lead.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/thalesit/webcaution-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://client.webcaution.ch"
    }
  ],
  "paths": {
    "/webservices/leads": {
      "post": {
        "summary": "Submit a lead",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLeadRequest"
              },
              "examples": {
                "sample": {
                  "summary": "Sample request",
                  "value": {
                    "authenticate": {
                      "token": "API_TOKEN"
                    },
                    "client": {
                      "firstName": "John",
                      "lastName": "Doe",
                      "sex": "MALE",
                      "birthDate": "1985-01-01",
                      "phoneNumber": "+41123456789",
                      "email": "john.doe@example.com"
                    },
                    "deposit": "2000",
                    "objectstartat": "2026-02-01",
                    "lessor": "Owner Name",
                    "objectAddress": {
                      "street": "Main Street",
                      "houseNumber": "12",
                      "zip": "8000",
                      "city": "Zurich"
                    },
                    "addressNow": {
                      "street": "Old Street",
                      "zip": "3000",
                      "city": "Bern"
                    },
                    "persons": [
                      {
                        "firstName": "Alice",
                        "lastName": "Smith",
                        "sex": "FEMALE",
                        "birthDate": "1990-05-01",
                        "email": "alice@example.com"
                      }
                    ],
                    "language": "DE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful lead request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewLeadResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Sample response",
                    "value": {
                      "status": "success",
                      "message": "New contract Added : John Doe - 2601234567"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Authenticate": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "example": "API_TOKEN"
          }
        }
      },
      "ClientPerson": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "sex",
          "birthDate",
          "phoneNumber",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "sex": {
            "type": "string",
            "enum": [
              "MALE",
              "FEMALE"
            ]
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "example": "1985-01-01"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+41123456789"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          }
        }
      },
      "Person": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "sex",
          "birthDate"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "sex": {
            "type": "string",
            "enum": [
              "MALE",
              "FEMALE"
            ],
            "example": "MALE"
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "example": "1985-01-01"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+41123456789"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          }
        }
      },
      "Location": {
        "type": "object",
        "required": [
          "street",
          "zip",
          "city"
        ],
        "properties": {
          "street": {
            "type": "string",
            "example": "Main Street"
          },
          "houseNumber": {
            "type": "string",
            "example": "12"
          },
          "zip": {
            "type": "string",
            "example": "8000"
          },
          "city": {
            "type": "string",
            "example": "Zurich"
          }
        }
      },
      "Language": {
        "type": "string",
        "enum": [
          "FR",
          "DE"
        ],
        "example": "DE"
      },
      "NewLeadRequest": {
        "type": "object",
        "required": [
          "authenticate",
          "client",
          "deposit",
          "objectstartat",
          "lessor",
          "objectAddress",
          "addressNow",
          "language"
        ],
        "properties": {
          "authenticate": {
            "$ref": "#/components/schemas/Authenticate"
          },
          "client": {
            "$ref": "#/components/schemas/ClientPerson"
          },
          "deposit": {
            "type": "number",
            "format": "float",
            "minimum": 0.01,
            "example": 2000
          },
          "objectstartat": {
            "type": "string",
            "format": "date",
            "example": "2026-02-01"
          },
          "lessor": {
            "type": "string",
            "example": "Owner Name"
          },
          "objectAddress": {
            "$ref": "#/components/schemas/Location"
          },
          "addressNow": {
            "$ref": "#/components/schemas/Location"
          },
          "persons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string",
            "example": "Invalid JSON"
          }
        }
      },
      "NewLeadResponse": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "example": "CLIENT123"
          },
          "id": {
            "type": "string",
            "example": "CONTRACT123"
          }
        }
      }
    }
  }
}