{
  "openapi": "3.0.3",
  "info": {
    "title": "Offer Management API",
    "description": "API to retrieve and manage offers for customers.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@company.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/GRAMIREZH/offer-management-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.company.com/v1",
      "description": "Production"
    },
    {
      "url": "https://api-test.company.com/v1",
      "description": "Test Environment"
    }
  ],
  "tags": [
    {
      "name": "Offers",
      "description": "Operations related to offers"
    },
    {
      "name": "Customers",
      "description": "Operations related to customer offers"
    }
  ],
  "paths": {
    "/offers": {
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "Retrieve offers",
        "description": "Returns a list of offers with optional filters.",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Filter offers by customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Offer status",
            "schema": {
              "type": "string",
              "enum": [
                "Active",
                "Expired",
                "Accepted",
                "Rejected"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter offers created after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of offers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Offer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/{offerId}": {
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "Retrieve offer details",
        "description": "Returns detailed information about a specific offer.",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferDetail"
                }
              }
            }
          },
          "404": {
            "description": "Offer not found"
          }
        }
      }
    },
    "/customers/{customerId}/offers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get offers for a customer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of offers for the customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Offer"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Offer": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "example": "OFF12345"
          },
          "customerId": {
            "type": "string",
            "example": "CUST10025"
          },
          "offerType": {
            "type": "string",
            "example": "FixedPrice"
          },
          "pricePerGallon": {
            "type": "number",
            "format": "decimal",
            "example": 3.19
          },
          "estimatedVolume": {
            "type": "number",
            "example": 850
          },
          "status": {
            "type": "string",
            "example": "Active"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "OfferDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Offer"
          },
          {
            "type": "object",
            "properties": {
              "equipmentType": {
                "type": "string",
                "example": "Tank"
              },
              "contractId": {
                "type": "string",
                "example": "CTR8901"
              },
              "createdDate": {
                "type": "string",
                "format": "date-time"
              },
              "lastUpdated": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      }
    }
  }
}