{
  "openapi": "3.0.0",
  "info": {
    "title": "",
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/highwaysengland.co.uk/main/v1/openapi.json",
    "contact": {
      "name": "API Support"
    },
    "description": " - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://webtris.highwaysengland.co.uk/api"
    }
  ],
  "paths": {
    "/v{version}/areas": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Areas"
        ],
        "deprecated": false,
        "operationId": "Areas_Get",
        "summary": "Returns list of areas",
        "description": "Returns list of areas"
      }
    },
    "/v{version}/areas/{area_Ids}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "area_Ids",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Areas"
        ],
        "deprecated": false,
        "operationId": "Areas_Get",
        "summary": "Returns details of selected area",
        "description": "Returns details of selected area"
      }
    },
    "/v{version}/quality/daily": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "siteId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "query",
            "name": "start_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "query",
            "name": "end_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyQualityResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Quality"
        ],
        "deprecated": false,
        "operationId": "Quality_GetDailyDataQualityForSite",
        "summary": "Get Site DailyQuality",
        "description": "Get Site DailyQuality"
      }
    },
    "/v{version}/quality/overall": {
      "get": {
        "parameters": [
          {
            "description": "Get site quality by site id delimited by ,",
            "in": "query",
            "name": "sites",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "query",
            "name": "start_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "query",
            "name": "end_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallQualityResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Quality"
        ],
        "deprecated": false,
        "operationId": "Quality_GetOverallDataQualityForSites",
        "summary": "Get Site OverallQuality",
        "description": "Get Site OverallQuality"
      }
    },
    "/v{version}/reports/{report_type}": {
      "get": {
        "parameters": [
          {
            "description": "Report Type Id (i.e Daily, Monthly, Annual)",
            "in": "path",
            "name": "report_type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of site Ids.",
            "in": "query",
            "name": "sites",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "query",
            "name": "start_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "query",
            "name": "end_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page offset to return.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The number of rows to return.",
            "in": "query",
            "name": "page_size",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "reportSubTypeId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Reports"
        ],
        "deprecated": false,
        "description": "Get's the report.",
        "operationId": "Reports_Index",
        "summary": "Gets the daily report."
      }
    },
    "/v{version}/reports/{start_date}/to/{end_date}/{report_type}": {
      "get": {
        "parameters": [
          {
            "description": "Report Type Id (i.e Daily, Monthly, Annual)",
            "in": "path",
            "name": "report_type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of site Ids.",
            "in": "query",
            "name": "sites",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "path",
            "name": "start_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end date of the report in the format ddmmyyyy (i.e 31012016)",
            "in": "path",
            "name": "end_date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page offset to return.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The number of rows to return.",
            "in": "query",
            "name": "page_size",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "reportSubTypeId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Reports"
        ],
        "deprecated": false,
        "description": "Get's the report.",
        "operationId": "Reports_Index",
        "summary": "Gets the daily report."
      }
    },
    "/v{version}/sites": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Sites"
        ],
        "deprecated": false,
        "operationId": "Sites_Index",
        "summary": "Get a list of sites",
        "description": "Get a list of sites"
      }
    },
    "/v{version}/sites/{site_Ids}": {
      "get": {
        "parameters": [
          {
            "description": "site id",
            "in": "path",
            "name": "site_Ids",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Sites"
        ],
        "deprecated": false,
        "operationId": "Sites_Index",
        "summary": "Get selected sites",
        "description": "Get selected sites"
      }
    },
    "/v{version}/sitetypes": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteTypeResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "SiteTypes"
        ],
        "deprecated": false,
        "operationId": "SiteTypes_Index",
        "summary": "Return list of site types",
        "description": "Return list of site types"
      }
    },
    "/v{version}/sitetypes/{siteType_Id}/sites": {
      "get": {
        "parameters": [
          {
            "description": "1 = MIDAS, 2 = TAME, 3 = TMU, 4 = TRADS Legacy",
            "in": "path",
            "name": "siteType_Id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteTypeLayer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Layer not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "SiteTypes"
        ],
        "deprecated": false,
        "operationId": "SiteTypes_GetSitesForPublicFacingAPI",
        "summary": "Returns the layer metadata for the LayerId specified.",
        "description": "Returns the layer metadata for the LayerId specified."
      }
    }
  },
  "components": {
    "schemas": {
      "Area": {
        "properties": {
          "Description": {
            "type": "string"
          },
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "XLatitude": {
            "pattern": "^(\\+|-)?(?:180(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\\.[0-9]{1,15})?))$",
            "type": "string"
          },
          "XLongitude": {
            "pattern": "^(\\+|-)?(?:90(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\\.[0-9]{1,15})?))$",
            "type": "string"
          },
          "YLatitude": {
            "pattern": "^(\\+|-)?(?:180(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\\.[0-9]{1,15})?))$",
            "type": "string"
          },
          "YLongitude": {
            "pattern": "^(\\+|-)?(?:90(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\\.[0-9]{1,15})?))$",
            "type": "string"
          }
        },
        "required": [
          "Name",
          "Description",
          "XLongitude",
          "XLatitude",
          "YLongitude",
          "YLatitude"
        ],
        "type": "object"
      },
      "AreaResponse": {
        "properties": {
          "areas": {
            "items": {
              "$ref": "#/components/schemas/Area"
            },
            "type": "array"
          },
          "row_count": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DailyQualityResponse": {
        "properties": {
          "Qualities": {
            "items": {
              "$ref": "#/components/schemas/Qualities"
            },
            "type": "array"
          },
          "row_count": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Object": {
        "properties": {},
        "type": "object"
      },
      "OverallQualityResponse": {
        "properties": {
          "data_quality": {
            "format": "int32",
            "type": "integer"
          },
          "end_date": {
            "type": "string"
          },
          "row_count": {
            "format": "int32",
            "type": "integer"
          },
          "sites": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Qualities": {
        "properties": {
          "Date": {
            "format": "date-time",
            "type": "string"
          },
          "Quality": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SiteResponse": {
        "properties": {
          "row_count": {
            "format": "int32",
            "type": "integer"
          },
          "sites": {
            "items": {
              "$ref": "#/components/schemas/SiteResult"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SiteResult": {
        "properties": {
          "Description": {
            "type": "string"
          },
          "Id": {
            "type": "string"
          },
          "Latitude": {
            "format": "double",
            "type": "number"
          },
          "Longitude": {
            "format": "double",
            "type": "number"
          },
          "Name": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SiteType": {
        "properties": {
          "Description": {
            "type": "string"
          },
          "Id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SiteTypeLayer": {
        "properties": {
          "Sites": {
            "items": {
              "$ref": "#/components/schemas/Sites"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SiteTypeResponse": {
        "properties": {
          "row_count": {
            "format": "int32",
            "type": "integer"
          },
          "sitetypes": {
            "items": {
              "$ref": "#/components/schemas/SiteType"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sites": {
        "properties": {
          "Active": {
            "items": {
              "type": "boolean"
            },
            "type": "array"
          },
          "Description": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Id": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Lattitude": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array"
          },
          "Longitude": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array"
          },
          "SiteId": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "Areas"
    },
    {
      "name": "Quality"
    },
    {
      "name": "Reports"
    },
    {
      "name": "SiteTypes"
    },
    {
      "name": "Sites"
    }
  ]
}
