{
  "swagger": "2.0",
  "info": {
    "description": "The Amazon Shipping API is designed to support outbound shipping use cases both for orders originating on Amazon-owned marketplaces as well as external channels/marketplaces. With these APIs, you can request shipping rates, create shipments, cancel shipments, and track shipments.",
    "version": "v2",
    "title": "Amazon Shipping API",
    "contact": {
      "name": "API Integrations Support"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/T16934/amazon-shipping-api/v2"
  },
  "host": "sellingpartnerapi-eu.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/shipping/v2/shipments/rates": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Returns the available shipping service offerings.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getRates",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRatesRequest"
            }
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "examples": {
              "application/json": {
                "requestToken": "6DCCEDD3FF961C15FEB94F342D41C",
                "rates": [
                  {
                    "rateId": "F4B68849F969E239FF9FCA9C12E35",
                    "carrierId": "FOOSHIPGRD",
                    "carrierName": "FOO SHIP GRD",
                    "billedWeight": {
                      "value": 5,
                      "unit": "GRAMS"
                    },
                    "totalCharge": {
                      "value": 7,
                      "unit": "USD"
                    },
                    "totalChargeWithAdjustments": {
                      "value": 6,
                      "unit": "USD"
                    },
                    "serviceId": "FOORSID",
                    "serviceName": "FOO RS ID",
                    "promise": {
                      "deliveryWindow": {
                        "start": "2018-08-24T08:22:30.737Z",
                        "end": "2018-08-24T20:22:30.737Z"
                      },
                      "pickupWindow": {
                        "start": "2018-08-23T08:22:30.737Z",
                        "end": "2018-08-23T20:22:30.737Z"
                      }
                    },
                    "supportedDocumentSpecifications": [
                      {
                        "format": "PNG",
                        "size": {
                          "length": 6,
                          "width": 4,
                          "unit": "INCH"
                        },
                        "printOptions": [
                          {
                            "supportedDPIs": [
                              300,
                              203
                            ],
                            "supportedPageLayouts": [
                              "LEFT",
                              "RIGHT"
                            ],
                            "supportedFileJoiningOptions": [
                              true,
                              false
                            ],
                            "supportedDocumentDetails": [
                              {
                                "name": "LABEL",
                                "isMandatory": true
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "format": "ZPL",
                        "size": {
                          "length": 6,
                          "width": 4,
                          "unit": "INCH"
                        },
                        "printOptions": [
                          {
                            "supportedDPIs": [
                              300,
                              203
                            ],
                            "supportedPageLayouts": [
                              "LEFT",
                              "RIGHT"
                            ],
                            "supportedFileJoiningOptions": [
                              true,
                              false
                            ],
                            "supportedDocumentDetails": [
                              {
                                "name": "LABEL",
                                "isMandatory": true
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "availableValueAddedServiceGroups": [
                      {
                        "groupId": "SIG_VERIFICATION",
                        "groupDescription": "Signature Verification",
                        "isRequired": true,
                        "valueAddedServices": [
                          {
                            "id": "CUST_SIG_VERIFICATION",
                            "name": "Customer Signature Verification",
                            "cost": {
                              "unit": "USD",
                              "value": 2
                            }
                          }
                        ]
                      }
                    ],
                    "requiresAdditionalInputs": false,
                    "adjustmentItemList": [
                      {
                        "rateItemCharge": {
                          "unit": "USD",
                          "value": 1
                        },
                        "rateItemID": "FBM_SHIP_PLUS_CREDIT",
                        "rateItemType": "INCLUDED",
                        "rateItemNameLocalization": "FBM Ship Plus Credit"
                      }
                    ],
                    "rateItemList": [
                      {
                        "rateItemCharge": {
                          "unit": "INR",
                          "value": 2
                        },
                        "rateItemID": "BASE_RATE",
                        "rateItemNameLocalization": "Base Rate",
                        "rateItemType": "MANDATORY"
                      },
                      {
                        "rateItemCharge": {
                          "unit": "INR",
                          "value": 1.2
                        },
                        "rateItemID": "DELIVERY_CONFIRMATION",
                        "rateItemNameLocalization": "Delivery Confirmation",
                        "rateItemType": "INCLUDED"
                      },
                      {
                        "rateItemCharge": {
                          "unit": "INR",
                          "value": 2
                        },
                        "rateItemID": "VAT",
                        "rateItemNameLocalization": "VAT",
                        "rateItemType": "MANDATORY"
                      }
                    ],
                    "paymentType": "PAY_THROUGH_AMAZON",
                    "benefits": {
                      "includedBenefits": [
                        "FBM_SHIP_PLUS"
                      ],
                      "excludedBenefits": [
                        {
                          "benefit": "CLAIMS_PROTECTED",
                          "reasonCodes": [
                            "LATE_DELIVERY_RISK"
                          ]
                        }
                      ]
                    }
                  }
                ],
                "ineligibleRates": [
                  {
                    "carrierId": "FOOSTDGRD",
                    "serviceId": "FOO8420430",
                    "carrierName": "FOOSTDGRD",
                    "serviceName": "FOO8420430",
                    "ineligibilityReasons": [
                      {
                        "code": "NO_COVERAGE",
                        "message": "Required shipping network coverage doesn't exist for the offering"
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "Request is missing or has invalid parameters",
                    "details": "ChannelDetails object cannot be null"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource is invalid or doesn't exist"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload size is greater than maximum accepted size."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "TooManyRequests",
                    "message": "The total number of requests exceeded your allowed limit."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalError",
                    "message": "Something went wrong while processing the request."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-sandbox": {
          "dynamic": {}
        }
      },
      "parameters": []
    },
    "/shipping/v2/shipments": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Purchases a shipping service and returns purchase related details and documents.\n\nNote: You must complete the purchase within **10 minutes** of rate creation by the shipping service provider. If you make the request after the 10 minutes have expired, you will receive an error response with the error code equal to \"TOKEN_EXPIRED\". If you receive this error response, you must get the rates for the shipment again.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "purchaseShipment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "PurchaseShipmentRequest body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentRequest"
            }
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR",
              "AmazonShipping_JP"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              },
              {
                "value": "AmazonShipping_JP",
                "description": "The Japan Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "87852211788104",
                "packageDocumentDetails": [
                  {
                    "packageClientReferenceId": "abcd",
                    "packageDocuments": [
                      {
                        "type": "LABEL",
                        "format": "PNG",
                        "contents": "sdioadaiosfhdodsaiufhouafhoudfhdouahfac=="
                      }
                    ],
                    "trackingId": 1578648261977
                  }
                ],
                "promise": {
                  "pickupWindow": {
                    "start": "2019-12-11T07:09:05.513Z",
                    "end": "2019-12-11T09:09:05.513Z"
                  },
                  "deliveryWindow": {
                    "start": "2019-12-13T07:09:05.513Z",
                    "end": "2019-12-13T09:09:05.513Z"
                  }
                },
                "benefits": {
                  "includedBenefits": [
                    "CLAIMS_PROTECTED"
                  ],
                  "excludedBenefits": []
                },
                "totalChargeWithAdjustments": {
                  "value": 6,
                  "unit": "USD"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "Request is missing or has invalid parameters",
                    "details": "RateId cannot be null"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource is invalid or doesn't exist"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload size is greater than maximum accepted size."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "TooManyRequests",
                    "message": "The total number of requests exceeded your allowed limit."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalError",
                    "message": "Something went wrong while processing the request."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-sandbox": {
          "dynamic": {}
        }
      },
      "parameters": []
    },
    "/shipping/v2/oneClickShipment": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Purchases a shipping service identifier and returns purchase-related details and documents.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "oneClickShipment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "OneClickShipmentRequest body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OneClickShipmentRequest"
            }
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OneClickShipmentResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "87852211788104",
                "packageDocumentDetails": [
                  {
                    "packageClientReferenceId": "#abcd",
                    "packageDocuments": [
                      {
                        "type": "LABEL",
                        "format": "PNG",
                        "contents": "sdioadaiosfhdodsaiufhouafhoudfhdouahfac=="
                      }
                    ],
                    "trackingId": 1578648261977
                  }
                ],
                "promise": {
                  "pickupWindow": {
                    "start": "2019-12-11T07:09:05.513Z",
                    "end": "2019-12-11T09:09:05.513Z"
                  },
                  "deliveryWindow": {
                    "start": "2019-12-13T07:09:05.513Z",
                    "end": "2019-12-13T09:09:05.513Z"
                  }
                },
                "carrier": {
                  "id": "AMZN_UK",
                  "name": "Amazon Shipping"
                },
                "service": {
                  "id": "SWA-UK-PREM",
                  "name": "Amazon Shipping One Day"
                },
                "rateItems": [
                  {
                    "rateItemCharge": {
                      "unit": "GBP",
                      "value": 3.9
                    },
                    "rateItemID": "BASE_RATE",
                    "rateItemNameLocalization": "Base Rate",
                    "rateItemType": "MANDATORY"
                  },
                  {
                    "rateItemCharge": {
                      "unit": "GBP",
                      "value": 0.86
                    },
                    "rateItemID": "VAT",
                    "rateItemNameLocalization": "VAT",
                    "rateItemType": "MANDATORY"
                  }
                ],
                "totalCharge": {
                  "unit": "GBP",
                  "value": 4.76
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "Request is missing or has invalid parameters",
                    "details": "ServiceId cannot be null"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource is invalid or doesn't exist"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload size is greater than maximum accepted size."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "TooManyRequests",
                    "message": "The total number of requests exceeded your allowed limit."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalError",
                    "message": "Something went wrong while processing the request."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-sandbox": {
          "dynamic": {}
        }
      },
      "parameters": []
    },
    "/shipping/v2/tracking": {
      "get": {
        "tags": [
          "shipping"
        ],
        "description": "Returns tracking information for a purchased shipment.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getTracking",
        "parameters": [
          {
            "name": "trackingId",
            "in": "query",
            "description": "A carrier-generated tracking identifier originally returned by the purchaseShipment operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "carrierId",
            "in": "query",
            "description": "A carrier identifier originally returned by the getRates operation for the selected rate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetTrackingResponse"
            },
            "examples": {
              "application/json": {
                "trackingId": "23AA47DE2B3B6",
                "alternateLegTrackingId": "null",
                "eventHistory": [
                  {
                    "eventCode": "Undeliverable",
                    "location": {
                      "postalCode": "EX33 2JL",
                      "countryCode": "GB"
                    },
                    "eventTime": "2024-02-11T07:09:05.513Z",
                    "shipmentType": "FORWARD"
                  },
                  {
                    "eventCode": "ReturnInitiated",
                    "location": {
                      "postalCode": "EX33 2JL",
                      "countryCode": "GB"
                    },
                    "eventTime": "2024-02-12T09:09:05.513Z",
                    "shipmentType": "RETURNS"
                  },
                  {
                    "eventCode": "Delivered",
                    "location": {
                      "postalCode": "EX33 2JL",
                      "countryCode": "GB"
                    },
                    "eventTime": "2024-02-13T04:09:05.513Z",
                    "shipmentType": "RETURNS"
                  }
                ],
                "promisedDeliveryDate": "2024-02-12T13:09:05.513Z",
                "summary": {
                  "status": "Delivered",
                  "trackingDetailCodes": {
                    "forward": [
                      "Rejected",
                      "Damaged"
                    ],
                    "returns": [
                      "Signed"
                    ]
                  },
                  "proofOfDelivery": {
                    "deliveryLocationCoordinates": {
                      "latitude": 51.5074,
                      "longitude": -0.1278
                    },
                    "deliveryImageURL": "https://amzn-s3-demo-bucket.xxx.com/key?X-Amz-Algorithm=XXXX&X-Amz-Credential=XXXX&X-Amz-Date=XXX&X-Amz-Expires=XXX&X-Amz-SignedHeaders=host&X-Amz-Signature=XXX",
                    "receivedBy": "John Doe"
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "Request is missing or has invalid parameters",
                    "details": "CarrierId is missing in the request"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource is invalid or doesn't exist"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload size is greater than maximum accepted size."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "TooManyRequests",
                    "message": "The total number of requests exceeded your allowed limit."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalError",
                    "message": "Something went wrong while processing the request."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-sandbox": {
          "dynamic": {}
        }
      },
      "parameters": []
    },
    "/shipping/v2/shipments/{shipmentId}/documents": {
      "get": {
        "tags": [
          "shipping"
        ],
        "description": "Returns the shipping documents associated with a package in a shipment.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getShipmentDocuments",
        "parameters": [
          {
            "name": "shipmentId",
            "description": "The shipment identifier originally returned by the purchaseShipment operation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "packageClientReferenceId",
            "in": "query",
            "description": "The package client reference identifier originally provided in the request body parameter for the getRates operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The file format of the document. Must be one of the supported formats returned by the getRates operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dpi",
            "in": "query",
            "description": "The resolution of the document (for example, 300 means 300 dots per inch). Must be one of the supported resolutions returned in the response to the getRates operation.",
            "required": false,
            "type": "number"
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetShipmentDocumentsResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "445454-3232-3232",
                "packageDocumentDetail": {
                  "packageClientReferenceId": "ASUSDI-45343854",
                  "trackingId": "T1234567",
                  "packageDocuments": [
                    {
                      "type": "LABEL",
                      "format": "PNG",
                      "contents": "sdioadaiosfhdodsaiufhouafhoudfhdouahfac=="
                    }
                  ],
                  "benefits": {
                    "includedBenefits": [
                      "CLAIMS_PROTECTED"
                    ],
                    "excludedBenefits": []
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "Request is missing or has invalid parameters",
                    "details": "shipmentId is missing in the request"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource is invalid or doesn't exist"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload size is greater than maximum accepted size."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "TooManyRequests",
                    "message": "The total number of requests exceeded your allowed limit."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalError",
                    "message": "Something went wrong while processing the request."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-sandbox": {
          "dynamic": {}
        }
      },
      "parameters": []
    },
    "/shipping/v2/shipments/{shipmentId}/cancel": {
      "put": {
        "tags": [
          "shipping"
        ],
        "description": "Cancels a purchased shipment. Returns an empty object if the shipment is successfully cancelled.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "cancelShipment",
        "parameters": [
          {
            "name": "shipmentId",
            "description": "The shipment identifier originally returned by the purchaseShipment operation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "examples": {
              "application/json": {}
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "Request is missing or has invalid parameters",
                    "details": "ShipmentId cannot be null"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "You don't have access to the requested response or the credentials are invalid."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource is invalid or doesn't exist"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload size is greater than maximum accepted size."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidRequest",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "TooManyRequests",
                    "message": "The total number of requests exceeded your allowed limit."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalError",
                    "message": "Something went wrong while processing the request."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "Service temporarily unavailable or down for maintenance. Please try again after sometime."
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-sandbox": {
          "dynamic": {}
        }
      },
      "parameters": []
    },
    "/shipping/v2/accessPoints": {
      "get": {
        "tags": [
          "shipping"
        ],
        "description": "Returns a list of access points in proximity of input postal code.\n\n**Usage Plan:**\n\n| Default Quota | Unit |\n| ---- | ---- |\n| 5 | Requests Per Second |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values then those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getAccessPoints",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "accessPointTypes",
            "description": "Access point types",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "HELIX",
                "CAMPUS_LOCKER",
                "OMNI_LOCKER",
                "ODIN_LOCKER",
                "DOBBY_LOCKER",
                "CORE_LOCKER",
                "3P",
                "CAMPUS_ROOM"
              ]
            },
            "x-docgen-enum-table-extension": [
              {
                "value": "HELIX",
                "description": "Counter, aka Helix, is an assisted access point where customers interact with a store associate to collect or return packages. Counter stores do not have Locker"
              },
              {
                "value": "CAMPUS_LOCKER",
                "description": "It denotes a physical Locker present at Locker+ stores"
              },
              {
                "value": "OMNI_LOCKER",
                "description": "Omni lockers are similar to core lockers installed at apartment buildings. Core and Omni will have common base hardware platform"
              },
              {
                "value": "ODIN_LOCKER",
                "description": "Odin lockers rely on Bluetooth connection as there is no screen or scanner on the locker. Drivers, customers, and even technicians can interact with the locker using an app (different depending on the user)."
              },
              {
                "value": "DOBBY_LOCKER",
                "description": "Dobby lockers are Odin lockers installed at apartment complexes and available only to residents."
              },
              {
                "value": "CORE_LOCKER",
                "description": "Core lockers are the traditional and initial style of lockers when Hub was launched. Core lockers have a screen, keypad and scanner.  Customer either enter their pickup code using the Locker screen or scan pickup code barcode to pick up their package."
              },
              {
                "value": "3P",
                "description": "Networks that are owned end-to-end by commercial carriers (CC - e.g. DHL, UPS, DPD and Postal organizations), who operate both the transportation leg and the access point aspect. These networks offer a range of pickup points including: 3P Lockers, legacy Postal Offices, 3P Counters (e.g. Gas Stations and Retail Outlets - supermarkets, bookstores, news-stands etc)."
              },
              {
                "value": "CAMPUS_ROOM",
                "description": "Locker+, formerly known as Campus, are attended, physical stores, where the Locker is used dynamically by the staff to keep packages ready for customer pickup. Locker+ store can have multiple Lockers installed,"
              }
            ],
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "countryCode",
            "description": "Country code for access point",
            "required": true,
            "type": "string",
            "collectionFormat": "csv",
            "x-example": "US"
          },
          {
            "in": "query",
            "name": "postalCode",
            "description": "postal code for access point",
            "required": true,
            "type": "string",
            "collectionFormat": "csv",
            "x-example": "EX332JL"
          },
          {
            "name": "x-amz-access-token",
            "in": "header",
            "description": "Amazon shipping request token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-amzn-shipping-business-id",
            "in": "header",
            "description": "Amazon shipping business to assume for this request. The default is AmazonShipping_UK.",
            "required": false,
            "type": "string",
            "enum": [
              "AmazonShipping_US",
              "AmazonShipping_IN",
              "AmazonShipping_UK",
              "AmazonShipping_IT",
              "AmazonShipping_ES",
              "AmazonShipping_FR"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "AmazonShipping_US",
                "description": "The United States Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IN",
                "description": "The India Amazon shipping business."
              },
              {
                "value": "AmazonShipping_UK",
                "description": "The United Kingdom Amazon shipping business."
              },
              {
                "value": "AmazonShipping_IT",
                "description": "The Italy Amazon shipping business."
              },
              {
                "value": "AmazonShipping_ES",
                "description": "The Spain Amazon shipping business."
              },
              {
                "value": "AmazonShipping_FR",
                "description": "The France Amazon shipping business."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetAccessPointsResponse"
            },
            "examples": {
              "application/json": {
                "HELIX": {
                  "accessPointId": "00046c4b-bb0a-4c03-831e-5633e142f16a",
                  "name": "Amazon Hub Counter - Co-op Braunton",
                  "timezone": "Europe/London",
                  "type": "HELIX",
                  "accessibilityAttributes": {
                    "distance": "21.200000762939453",
                    "driveTime": "0.0"
                  },
                  "address": {
                    "addressObject": {
                      "addressLine1": "Exeter Road",
                      "city": "Braunton",
                      "countryCode": "GB",
                      "zipOrPostalCode": "EX33 2JL"
                    },
                    "geocode": {
                      "latitude": "51.1076671",
                      "longitude": "-4.1607301"
                    }
                  },
                  "exceptionOperatingHours": [
                    {
                      "dateRange": {
                        "endDate": "1.6932672E9",
                        "startDate": "1.6931808E9"
                      },
                      "operatingHours": {
                        "closingTime": {
                          "hourOfDay": 0,
                          "minuteOfHour": 0,
                          "secondOfMinute": 0
                        },
                        "midDayClosures": [],
                        "openingTime": {
                          "hourOfDay": 0,
                          "minuteOfHour": 0,
                          "secondOfMinute": 0
                        }
                      }
                    }
                  ],
                  "assistanceType": "STAFF_ASSISTED",
                  "score": "0.6688068509101868",
                  "standardOperatingHours": {
                    "WEDNESDAY": {
                      "closingTime": {
                        "hourOfDay": 22,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      },
                      "midDayClosures": [],
                      "openingTime": {
                        "hourOfDay": 7,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      }
                    },
                    "MONDAY": {
                      "closingTime": {
                        "hourOfDay": 22,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      },
                      "midDayClosures": [],
                      "openingTime": {
                        "hourOfDay": 7,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      }
                    },
                    "THURSDAY": {
                      "closingTime": {
                        "hourOfDay": 22,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      },
                      "midDayClosures": [],
                      "openingTime": {
                        "hourOfDay": 7,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      }
                    },
                    "SUNDAY": {
                      "closingTime": {
                        "hourOfDay": 22,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      },
                      "midDayClosures": [],
                      "openingTime": {
                        "hourOfDay": 7,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      }
                    },
                    "TUESDAY": {
                      "closingTime": {
                        "hourOfDay": 22,
                        "minuteOfHour": 0,
                        "secondOfMinute": 0
                      },
                      "midDayClosures": [],
                      "openingTime": {
[...]
