{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for Team 16's small project app",
    "version": "1.0.0",
    "title": "Small Project",
    "contact": {
      "email": "da908718@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-d73/small-project/1.0.0"
  },
  "host": "portcall.cloud",
  "basePath": "/LAMPAPI",
  "schemes": [
    "http"
  ],
  "paths": {
    "/Login.php": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Logs in to the users app",
        "operationId": "dlLogin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "loginItem",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/SignUp.php": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Signs up a new user",
        "operationId": "SignUp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "signupItem",
            "schema": {
              "$ref": "#/definitions/SignUpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SignUpResponse"
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/SignUpResponse"
            }
          }
        }
      }
    },
    "/AddContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Adds a contact",
        "operationId": "addContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "additem",
            "schema": {
              "$ref": "#/definitions/AddContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        }
      }
    },
    "/SearchContacts.php": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Searches contacts",
        "operationId": "searchContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "searchItem",
            "schema": {
              "$ref": "#/definitions/SearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          }
        }
      }
    },
    "/DeleteContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a contact",
        "operationId": "deleteContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "deleteItem",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteContactResponse"
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/DeleteContactResponse"
            }
          }
        }
      }
    },
    "/EditContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates an existing contact",
        "operationId": "editContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "editItem",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EditContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EditContactResponse"
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/EditContactResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LoginRequest": {
      "type": "object",
      "required": [
        "login",
        "password"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "fred"
        },
        "password": {
          "type": "string",
          "example": "secret"
        }
      }
    },
    "SignUpRequest": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "login",
        "password"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Rick"
        },
        "lastName": {
          "type": "string",
          "example": "Sanchez"
        },
        "login": {
          "type": "string",
          "example": "rick123"
        },
        "password": {
          "type": "string",
          "example": "wubbalubba"
        }
      }
    },
    "AddContactRequest": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "phone",
        "email",
        "userId"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Morty"
        },
        "lastName": {
          "type": "string",
          "example": "Smith"
        },
        "phone": {
          "type": "string",
          "example": "555-555-5555"
        },
        "email": {
          "type": "string",
          "example": "morty@c137.com"
        },
        "userId": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "SearchRequest": {
      "type": "object",
      "required": [
        "search"
      ],
      "properties": {
        "search": {
          "type": "string",
          "example": "Mor"
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "error": {
          "type": "string"
        }
      }
    },
    "SignUpResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "integer"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "login": {
          "type": "string"
        },
        "error": {
          "type": "string"
        }
      }
    },
    "ContactResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "error": {
          "type": "string"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchResultItem"
          }
        },
        "error": {
          "type": "string"
        }
      }
    },
    "SearchResultItem": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "userId": {
          "type": "integer"
        }
      }
    },
    "DeleteContactRequest": {
      "type": "object",
      "required": [
        "contactId",
        "userId"
      ],
      "properties": {
        "contactId": {
          "type": "integer",
          "example": 10
        },
        "userId": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "DeleteContactResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "message": {
          "type": "string",
          "example": "Contact deleted successfully"
        },
        "contactId": {
          "type": "integer",
          "example": 10
        },
        "error": {
          "type": "string",
          "example": ""
        }
      }
    },
    "EditContactRequest": {
      "type": "object",
      "required": [
        "contactId",
        "userId",
        "firstName",
        "lastName",
        "phone",
        "email"
      ],
      "properties": {
        "contactId": {
          "type": "integer",
          "example": 10
        },
        "userId": {
          "type": "integer",
          "example": 1
        },
        "firstName": {
          "type": "string",
          "example": "Morty"
        },
        "lastName": {
          "type": "string",
          "example": "Smith"
        },
        "phone": {
          "type": "string",
          "example": "555-555-5555"
        },
        "email": {
          "type": "string",
          "example": "morty@c137.com"
        }
      }
    },
    "EditContactResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "error": {
          "type": "string",
          "example": ""
        },
        "message": {
          "type": "string",
          "example": "Contact updated successfully"
        }
      }
    }
  }
}