{
  "openapi": "3.0.3",
  "info": {
    "title": "Hightouch API",
    "version": "1.0.0",
    "description": "Hightouch REST API for managing syncs, models, sources, and destinations. Programmatically trigger syncs, monitor sync runs, and configure your reverse ETL pipeline.",
    "x-jentic-source-url": "https://hightouch.com/docs/api-reference/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.hightouch.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Syncs",
      "description": "Sync management"
    },
    {
      "name": "Sync Runs",
      "description": "Sync run monitoring"
    },
    {
      "name": "Models",
      "description": "Data model management"
    },
    {
      "name": "Sources",
      "description": "Data source management"
    },
    {
      "name": "Destinations",
      "description": "Destination management"
    }
  ],
  "paths": {
    "/syncs": {
      "get": {
        "operationId": "listSyncs",
        "summary": "List syncs",
        "tags": [
          "Syncs"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List syncs"
      },
      "post": {
        "operationId": "createSync",
        "summary": "Create a sync",
        "tags": [
          "Syncs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sync created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a sync"
      }
    },
    "/syncs/{syncId}": {
      "get": {
        "operationId": "getSync",
        "summary": "Get a sync",
        "tags": [
          "Syncs"
        ],
        "parameters": [
          {
            "name": "syncId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a sync"
      },
      "patch": {
        "operationId": "updateSync",
        "summary": "Update a sync",
        "tags": [
          "Syncs"
        ],
        "parameters": [
          {
            "name": "syncId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a sync"
      },
      "delete": {
        "operationId": "deleteSync",
        "summary": "Delete a sync",
        "tags": [
          "Syncs"
        ],
        "parameters": [
          {
            "name": "syncId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a sync"
      }
    },
    "/syncs/{syncId}/trigger": {
      "post": {
        "operationId": "triggerSync",
        "summary": "Trigger a sync run",
        "description": "Manually trigger a sync to run immediately.",
        "tags": [
          "Syncs"
        ],
        "parameters": [
          {
            "name": "syncId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullResync": {
                    "type": "boolean",
                    "default": false,
                    "description": "Perform a full resync"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/syncs/{syncId}/runs": {
      "get": {
        "operationId": "listSyncRuns",
        "summary": "List sync runs",
        "tags": [
          "Sync Runs"
        ],
        "parameters": [
          {
            "name": "syncId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync run list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncRunListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List sync runs"
      }
    },
    "/sync-runs/{runId}": {
      "get": {
        "operationId": "getSyncRun",
        "summary": "Get a sync run",
        "tags": [
          "Sync Runs"
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncRun"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a sync run"
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List models"
      },
      "post": {
        "operationId": "createModel",
        "summary": "Create a model",
        "tags": [
          "Models"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Model created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a model"
      }
    },
    "/models/{modelId}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get a model",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a model"
      },
      "patch": {
        "operationId": "updateModel",
        "summary": "Update a model",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a model"
      }
    },
    "/sources": {
      "get": {
        "operationId": "listSources",
        "summary": "List sources",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List sources"
      }
    },
    "/sources/{sourceId}": {
      "get": {
        "operationId": "getSource",
        "summary": "Get a source",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a source"
      }
    },
    "/destinations": {
      "get": {
        "operationId": "listDestinations",
        "summary": "List destinations",
        "tags": [
          "Destinations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Destination list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List destinations"
      }
    },
    "/destinations/{destinationId}": {
      "get": {
        "operationId": "getDestination",
        "summary": "Get a destination",
        "tags": [
          "Destinations"
        ],
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Destination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a destination"
      }
    }
  },
  "components": {
    "schemas": {
      "Sync": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "slug": {
            "type": "string"
          },
          "workspaceId": {
            "type": "number"
          },
          "modelId": {
            "type": "number"
          },
          "destinationId": {
            "type": "number"
          },
          "configuration": {
            "type": "object"
          },
          "schedule": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "interval",
                  "cron",
                  "manual",
                  "dbt_cloud"
                ]
              },
              "schedule": {
                "type": "object"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "disabled",
              "healthy",
              "warning",
              "failing"
            ]
          },
          "disabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "primaryKey": {
            "type": "string"
          }
        }
      },
      "SyncCreate": {
        "type": "object",
        "required": [
          "modelId",
          "destinationId",
          "configuration",
          "schedule"
        ],
        "properties": {
          "modelId": {
            "type": "number"
          },
          "destinationId": {
            "type": "number"
          },
          "configuration": {
            "type": "object"
          },
          "schedule": {
            "type": "object"
          },
          "disabled": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncUpdate": {
        "type": "object",
        "properties": {
          "configuration": {
            "type": "object"
          },
          "schedule": {
            "type": "object"
          },
          "disabled": {
            "type": "boolean"
          }
        }
      },
      "SyncListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sync"
            }
          }
        }
      },
      "TriggerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Triggered sync run ID"
          }
        }
      },
      "SyncRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "syncId": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "success",
              "warning",
              "failed",
              "cancelled",
              "interrupted"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "querySize": {
            "type": "integer"
          },
          "completionRatio": {
            "type": "number"
          },
          "plannedRows": {
            "type": "object",
            "properties": {
              "added": {
                "type": "integer"
              },
              "changed": {
                "type": "integer"
              },
              "removed": {
                "type": "integer"
              }
            }
          },
          "successfulRows": {
            "type": "object",
            "properties": {
              "added": {
                "type": "integer"
              },
              "changed": {
                "type": "integer"
              },
              "removed": {
                "type": "integer"
              }
            }
          },
          "failedRows": {
            "type": "object",
            "properties": {
              "added": {
                "type": "integer"
              },
              "changed": {
                "type": "integer"
              },
              "removed": {
                "type": "integer"
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SyncRunListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncRun"
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "sourceId": {
            "type": "number"
          },
          "queryType": {
            "type": "string",
            "enum": [
              "raw_sql",
              "table",
              "dbt_model",
              "custom"
            ]
          },
          "isSchema": {
            "type": "boolean"
          },
          "primaryKey": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ModelCreate": {
        "type": "object",
        "required": [
          "name",
          "sourceId",
          "queryType"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "sourceId": {
            "type": "number"
          },
          "queryType": {
            "type": "string"
          },
          "rawSql": {
            "type": "string"
          },
          "table": {
            "type": "string"
          },
          "primaryKey": {
            "type": "string"
          }
        }
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SourceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          }
        }
      },
      "Destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DestinationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Destination"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Hightouch API key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
