{
  "openapi": "3.0.3",
  "info": {
    "title": "Quick Resto Warehouse API",
    "version": "1.0.0",
    "description": "API \u0434\u043b\u044f \u0430\u0432\u0442\u043e\u0437\u0430\u043a\u0430\u0437\u0430 \u043f\u043e \u0441\u0442\u043e\u043f-\u043b\u0438\u0441\u0442\u0443 \u0438 \u0441\u043a\u043b\u0430\u0434\u0441\u043a\u043e\u0433\u043e \u0443\u0447\u0435\u0442\u0430 \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442\u043e\u0432",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hhh-2d2/QuickRestoWarehouseAPI_2025/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.quickresto.com/v1"
    }
  ],
  "paths": {
    "/ingredients": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442\u043e\u0432",
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ingredient"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043d\u043e\u0432\u044b\u0439 \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "ingredient_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ingredients/{id}": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442 \u043f\u043e id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0418\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ingredient"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "\u041e\u0431\u043d\u043e\u0432\u0438\u0442\u044c \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "unit": {
                    "type": "string"
                  },
                  "critical_stock_level": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0420\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u0440\u0435\u0446\u0435\u043f\u0442\u043e\u0432",
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0440\u0435\u0446\u0435\u043f\u0442\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipe"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u043d\u043e\u0432\u044b\u0439 \u0440\u0435\u0446\u0435\u043f\u0442",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d \u0440\u0435\u0446\u0435\u043f\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "recipe_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{id}": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0440\u0435\u0446\u0435\u043f\u0442 \u043f\u043e id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0420\u0435\u0446\u0435\u043f\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipe"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{id}/ingredients": {
      "post": {
        "summary": "\u0414\u043e\u0431\u0430\u0432\u0438\u0442\u044c \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442 \u0432 \u0440\u0435\u0446\u0435\u043f\u0442",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeIngredientCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0414\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u043e",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stoplist": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0430\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u0441\u0442\u043e\u043f-\u043b\u0438\u0441\u0442",
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0441\u0442\u043e\u043f-\u043b\u0438\u0441\u0442\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "\u0414\u043e\u0431\u0430\u0432\u0438\u0442\u044c \u0431\u043b\u044e\u0434\u043e \u0432 \u0441\u0442\u043e\u043f-\u043b\u0438\u0441\u0442",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopListCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0414\u043e\u0431\u0430\u0432\u043b\u0435\u043d\u043e",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "stoplist_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stoplist/{id}/resolve": {
      "post": {
        "summary": "\u0417\u0430\u043a\u0440\u044b\u0442\u044c \u0441\u0442\u043e\u043f-\u043b\u0438\u0441\u0442",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0420\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/autopurchase/draft": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0447\u0435\u0440\u043d\u043e\u0432\u0438\u043a\u0430 \u0430\u0432\u0442\u043e\u0437\u0430\u043a\u0430\u0437\u0430",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderDraftCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d \u0447\u0435\u0440\u043d\u043e\u0432\u0438\u043a",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "order_draft_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order-drafts/{id}": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0447\u0435\u0440\u043d\u043e\u0432\u0438\u043a\u0430 \u0437\u0430\u043a\u0430\u0437\u0430",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0427\u0435\u0440\u043d\u043e\u0432\u0438\u043a \u0437\u0430\u043a\u0430\u0437\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDraft"
                }
              }
            }
          }
        }
      }
    },
    "/order-drafts/{id}/approve": {
      "post": {
        "summary": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 \u0447\u0435\u0440\u043d\u043e\u0432\u0438\u043a\u0430",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order-drafts/{id}/reject": {
      "post": {
        "summary": "\u041e\u0442\u043a\u043b\u043e\u043d\u0435\u043d\u0438\u0435 \u0447\u0435\u0440\u043d\u043e\u0432\u0438\u043a\u0430",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/suppliers": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u0441\u0442\u0430\u0432\u0449\u0438\u043a\u043e\u0432",
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u043e\u0441\u0442\u0430\u0432\u0449\u0438\u043a\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Supplier"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043f\u043e\u0441\u0442\u0430\u0432\u0449\u0438\u043a\u0430",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u043e\u0437\u0434\u0430\u043d \u043f\u043e\u0441\u0442\u0430\u0432\u0449\u0438\u043a",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "supplier_id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forecast": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u0433\u043d\u043e\u0437\u0430 \u043f\u043e \u0438\u043d\u0433\u0440\u0435\u0434\u0438\u0435\u043d\u0442\u0443",
        "parameters": [
          {
            "name": "ingredient_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u0440\u043e\u0433\u043d\u043e\u0437",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Forecast"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435/\u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u0433\u043d\u043e\u0437\u0430",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ingredient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "critical_stock_level": {
            "type": "number"
          }
        }
      },
      "IngredientCreate": {
        "type": "object",
        "required": [
          "name",
          "unit"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "critical_stock_level": {
            "type": "number"
          }
        }
      },
      "Recipe": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dish_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "ingredients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipeIngredient"
            }
          }
        }
      },
      "RecipeCreate": {
        "type": "object",
        "required": [
          "dish_id",
          "name"
        ],
        "properties": {
          "dish_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RecipeIngredient": {
        "type": "object",
        "properties": {
          "ingredient_id": {
            "type": "integer"
          },
          "quantity": {
            "type": "number"
          }
        }
      },
      "RecipeIngredientCreate": {
        "type": "object",
        "required": [
          "ingredient_id",
          "quantity"
        ],
        "properties": {
          "ingredient_id": {
            "type": "integer"
          },
          "quantity": {
            "type": "number"
          }
        }
      },
      "StopList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dish_id": {
            "type": "integer"
          },
          "recipe_id": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "StopListCreate": {
        "type": "object",
        "required": [
          "dish_id",
          "recipe_id",
          "reason"
        ],
        "properties": {
          "dish_id": {
            "type": "integer"
          },
          "recipe_id": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "OrderDraftCreate": {
        "type": "object",
        "required": [
          "stoplist_ids",
          "forecast_days"
        ],
        "properties": {
          "stoplist_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "forecast_days": {
            "type": "integer"
          },
          "budget_limit": {
            "type": "number"
          }
        }
      },
      "OrderDraft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "supplier_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDraftItem"
            }
          }
        }
      },
      "OrderDraftItem": {
        "type": "object",
        "properties": {
          "ingredient_id": {
            "type": "integer"
          },
          "quantity": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "lead_time_days": {
            "type": "integer"
          }
        }
      },
      "SupplierCreate": {
        "type": "object",
        "required": [
          "name",
          "lead_time_days"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "lead_time_days": {
            "type": "integer"
          }
        }
      },
      "Forecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "forecast_quantity": {
            "type": "number"
          }
        }
      },
      "ForecastCreate": {
        "type": "object",
        "required": [
          "ingredient_id",
          "date",
          "forecast_quantity",
          "source"
        ],
        "properties": {
          "ingredient_id": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "forecast_quantity": {
            "type": "number"
          },
          "source": {
            "type": "string"
          }
        }
      }
    }
  }
}