{
  "openapi": "3.0.3",
  "info": {
    "title": "U.S. Census Bureau Data API",
    "version": "1.0.0",
    "description": "The Census Data API provides programmatic access to U.S. Census Bureau datasets including the American Community Survey, Decennial Census, County Business Patterns, Current Population Survey, and over 1,760 other datasets. Allows querying variables by geography with optional API key authentication.",
    "x-jentic-source-url": "https://www.census.gov/data/developers.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.census.gov",
      "description": "Census Bureau Data API"
    }
  ],
  "tags": [
    {
      "name": "Datasets",
      "description": "Dataset discovery and listing"
    },
    {
      "name": "ACS",
      "description": "American Community Survey data"
    },
    {
      "name": "Decennial",
      "description": "Decennial Census data"
    },
    {
      "name": "CBP",
      "description": "County Business Patterns"
    }
  ],
  "paths": {
    "/data.json": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List available datasets",
        "description": "Returns a JSON listing of all available Census data API endpoints with their metadata, variables, geographies, and documentation links.",
        "tags": [
          "Datasets"
        ],
        "responses": {
          "200": {
            "description": "List of available datasets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/acs/acs5": {
      "get": {
        "operationId": "queryAcs5Year",
        "summary": "Query ACS 5-Year Estimates",
        "description": "Query the American Community Survey 5-Year Estimates dataset. Returns data for specified variables and geographies.",
        "tags": [
          "ACS"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data year (e.g., 2022)"
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of variables to retrieve (e.g., NAME,B01001_001E)"
          },
          {
            "name": "for",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geography level and filter (e.g., state:*, county:001)"
          },
          {
            "name": "in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Parent geography filter (e.g., state:06)"
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Census API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Census data as JSON array of arrays (first row is headers)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/acs/acs1": {
      "get": {
        "operationId": "queryAcs1Year",
        "summary": "Query ACS 1-Year Estimates",
        "description": "Query the American Community Survey 1-Year Estimates dataset.",
        "tags": [
          "ACS"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data year"
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated variables"
          },
          {
            "name": "for",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geography level and filter"
          },
          {
            "name": "in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Parent geography filter"
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Census API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Census data array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/dec/pl": {
      "get": {
        "operationId": "queryDecennialPl",
        "summary": "Query Decennial Census Redistricting Data",
        "description": "Query the Decennial Census PL 94-171 Redistricting Data.",
        "tags": [
          "Decennial"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Census year (e.g., 2020)"
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated variables"
          },
          {
            "name": "for",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geography level and filter"
          },
          {
            "name": "in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Parent geography filter"
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Census API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Census data array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/cbp": {
      "get": {
        "operationId": "queryCountyBusinessPatterns",
        "summary": "Query County Business Patterns",
        "description": "Query the County Business Patterns dataset providing economic data by industry at various geographic levels.",
        "tags": [
          "CBP"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data year"
          },
          {
            "name": "get",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated variables"
          },
          {
            "name": "for",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geography level and filter"
          },
          {
            "name": "in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Parent geography filter"
          },
          {
            "name": "NAICS2017",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "NAICS industry code filter"
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Census API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Business patterns data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/acs/acs5/variables.json": {
      "get": {
        "operationId": "listAcs5Variables",
        "summary": "List ACS 5-Year variables",
        "description": "Returns the list of all available variables for the ACS 5-Year Estimates dataset.",
        "tags": [
          "ACS"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data year"
          }
        ],
        "responses": {
          "200": {
            "description": "Variable listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variables": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Variable"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/acs/acs5/geography.json": {
      "get": {
        "operationId": "listAcs5Geographies",
        "summary": "List ACS 5-Year geographies",
        "description": "Returns the list of supported geographies for the ACS 5-Year Estimates dataset.",
        "tags": [
          "ACS"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data year"
          }
        ],
        "responses": {
          "200": {
            "description": "Geography listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/{year}/acs/acs5/groups.json": {
      "get": {
        "operationId": "listAcs5Groups",
        "summary": "List ACS 5-Year variable groups",
        "description": "Returns variable groups available in the ACS 5-Year Estimates dataset.",
        "tags": [
          "ACS"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Data year"
          }
        ],
        "responses": {
          "200": {
            "description": "Group listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatasetList": {
        "type": "object",
        "properties": {
          "dataset": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "vintage": {
            "type": "string"
          },
          "dataset_name": {
            "type": "string"
          },
          "dataset_type": {
            "type": "string"
          },
          "c_geographyLink": {
            "type": "string"
          },
          "c_variablesLink": {
            "type": "string"
          },
          "c_groupsLink": {
            "type": "string"
          },
          "distribution": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accessURL": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Variable": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "concept": {
            "type": "string"
          },
          "predicateType": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
