{
  "openapi": "3.0.3",
  "info": {
    "title": "WeChat Official Account API",
    "version": "1.0.0",
    "description": "WeChat Official Account Platform API for managing official accounts, sending messages, managing users, menus, and media assets.",
    "x-jentic-source-url": "https://developers.weixin.qq.com/doc/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.weixin.qq.com"
    }
  ],
  "paths": {
    "/cgi-bin/token": {
      "get": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "description": "Obtains an access token for calling other APIs. Tokens are valid for 7200 seconds.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "client_credential"
              ]
            },
            "description": "Must be client_credential"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID"
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Access token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/message/custom/send": {
      "post": {
        "operationId": "sendCustomMessage",
        "summary": "Send a custom message",
        "description": "Sends a custom message to a user who has interacted within 48 hours.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/message/template/send": {
      "post": {
        "operationId": "sendTemplateMessage",
        "summary": "Send a template message",
        "description": "Sends a template message to a user.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "integer"
                    },
                    "errmsg": {
                      "type": "string"
                    },
                    "msgid": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/message/mass/sendall": {
      "post": {
        "operationId": "sendMassMessage",
        "summary": "Send a mass message",
        "description": "Sends a mass message to all followers or a specific tag group.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "is_to_all": {
                        "type": "boolean"
                      },
                      "tag_id": {
                        "type": "integer"
                      }
                    }
                  },
                  "msgtype": {
                    "type": "string",
                    "enum": [
                      "mpnews",
                      "text",
                      "voice",
                      "image",
                      "mpvideo"
                    ]
                  },
                  "text": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string"
                      }
                    }
                  },
                  "mpnews": {
                    "type": "object",
                    "properties": {
                      "media_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mass message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errcode": {
                      "type": "integer"
                    },
                    "errmsg": {
                      "type": "string"
                    },
                    "msg_id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "msg_data_id": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/user/info": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get user info",
        "description": "Retrieves information about a follower.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User's OpenID"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "zh_CN",
                "zh_TW",
                "en"
              ],
              "default": "zh_CN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/user/get": {
      "get": {
        "operationId": "getFollowerList",
        "summary": "Get follower list",
        "description": "Retrieves a list of followers' OpenIDs.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next_openid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Follower list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/tags/create": {
      "post": {
        "operationId": "createTag",
        "summary": "Create a user tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a user tag"
      }
    },
    "/cgi-bin/tags/get": {
      "get": {
        "operationId": "getTags",
        "summary": "Get all tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all tags"
      }
    },
    "/cgi-bin/menu/create": {
      "post": {
        "operationId": "createMenu",
        "summary": "Create a custom menu",
        "description": "Creates or replaces the custom menu for the official account.",
        "tags": [
          "Menu"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Menu created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/menu/get": {
      "get": {
        "operationId": "getMenu",
        "summary": "Get current menu configuration",
        "tags": [
          "Menu"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Menu configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "menu": {
                      "$ref": "#/components/schemas/MenuConfig"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get current menu configuration"
      }
    },
    "/cgi-bin/menu/delete": {
      "get": {
        "operationId": "deleteMenu",
        "summary": "Delete custom menu",
        "tags": [
          "Menu"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Menu deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete custom menu"
      }
    },
    "/cgi-bin/media/upload": {
      "post": {
        "operationId": "uploadTemporaryMedia",
        "summary": "Upload temporary media",
        "description": "Uploads a temporary media file (image, voice, video, thumb). Valid for 3 days.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "voice",
                "video",
                "thumb"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "media": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "media_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cgi-bin/media/get": {
      "get": {
        "operationId": "getTemporaryMedia",
        "summary": "Download temporary media",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "media_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Download temporary media"
      }
    },
    "/cgi-bin/qrcode/create": {
      "post": {
        "operationId": "createQrCode",
        "summary": "Create a QR code",
        "description": "Creates a temporary or permanent QR code for the official account.",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expire_seconds": {
                    "type": "integer",
                    "description": "Expiry in seconds (max 2592000 for temporary)"
                  },
                  "action_name": {
                    "type": "string",
                    "enum": [
                      "QR_SCENE",
                      "QR_STR_SCENE",
                      "QR_LIMIT_SCENE",
                      "QR_LIMIT_STR_SCENE"
                    ]
                  },
                  "action_info": {
                    "type": "object",
                    "properties": {
                      "scene": {
                        "type": "object",
                        "properties": {
                          "scene_id": {
                            "type": "integer"
                          },
                          "scene_str": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticket": {
                      "type": "string"
                    },
                    "expire_seconds": {
                      "type": "integer"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CustomMessage": {
        "type": "object",
        "required": [
          "touser",
          "msgtype"
        ],
        "properties": {
          "touser": {
            "type": "string",
            "description": "Recipient OpenID"
          },
          "msgtype": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "voice",
              "video",
              "music",
              "news",
              "mpnews",
              "msgmenu",
              "miniprogrampage"
            ]
          },
          "text": {
            "type": "object",
            "properties": {
              "content": {
                "type": "string"
              }
            }
          },
          "image": {
            "type": "object",
            "properties": {
              "media_id": {
                "type": "string"
              }
            }
          },
          "voice": {
            "type": "object",
            "properties": {
              "media_id": {
                "type": "string"
              }
            }
          },
          "video": {
            "type": "object",
            "properties": {
              "media_id": {
                "type": "string"
              },
              "thumb_media_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "TemplateMessage": {
        "type": "object",
        "required": [
          "touser",
          "template_id"
        ],
        "properties": {
          "touser": {
            "type": "string"
          },
          "template_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "URL to redirect when user clicks the message"
          },
          "miniprogram": {
            "type": "object",
            "properties": {
              "appid": {
                "type": "string"
              },
              "pagepath": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "subscribe": {
            "type": "integer",
            "description": "1 if subscribed, 0 if not"
          },
          "openid": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "subscribe_time": {
            "type": "integer"
          },
          "unionid": {
            "type": "string"
          },
          "remark": {
            "type": "string"
          },
          "groupid": {
            "type": "integer"
          },
          "tagid_list": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "subscribe_scene": {
            "type": "string"
          },
          "qr_scene": {
            "type": "integer"
          },
          "qr_scene_str": {
            "type": "string"
          }
        }
      },
      "FollowerListResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "openid": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "next_openid": {
            "type": "string"
          }
        }
      },
      "MenuConfig": {
        "type": "object",
        "properties": {
          "button": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "click",
                    "view",
                    "scancode_push",
                    "scancode_waitmsg",
                    "pic_sysphoto",
                    "pic_photo_or_album",
                    "pic_weixin",
                    "location_select",
                    "media_id",
                    "view_limited",
                    "miniprogram"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "media_id": {
                  "type": "string"
                },
                "appid": {
                  "type": "string"
                },
                "pagepath": {
                  "type": "string"
                },
                "sub_button": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errcode": {
            "type": "integer"
          },
          "errmsg": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "name": "access_token",
        "in": "query",
        "description": "Access token obtained from /cgi-bin/token"
      }
    }
  },
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Media"
    },
    {
      "name": "Menu"
    },
    {
      "name": "Messages"
    },
    {
      "name": "QR Codes"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Users"
    }
  ]
}
