{
  "openapi": "3.0.3",
  "info": {
    "title": "IZMO Image Studio API",
    "version": "1.0.0",
    "description": "API specification for IZMO Image Studio with sample vehicle & asset metadata",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/H6778/izmo-image-studio-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.izmoimagestudio.com"
    }
  ],
  "paths": {
    "/car/image": {
      "post": {
        "summary": "Get a single rendered car image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCarImageRequest"
              },
              "example": {
                "make": "Hyundai",
                "model": "Santa Fe Hybrid",
                "year": 2025,
                "trim": "Calligraphy AWD",
                "bodytype": "SUV",
                "enginetype": "1.6L turbocharged GDI 4-cylinder Hybrid engine",
                "color": "White Pearl",
                "angle": "angularfront",
                "format": "webp",
                "resolution": "1200x800"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Binary car image",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/car/images": {
      "post": {
        "summary": "Get multiple car images and metadata",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCarImagesRequest"
              },
              "example": {
                "make": "Hyundai",
                "model": "Santa Fe Hybrid",
                "year": 2025,
                "trim": "Calligraphy AWD",
                "assettype": "Exterior gallery",
                "color": "White Pearl",
                "angle": "angularfront",
                "format": "webp",
                "resolution": "1200x800"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of images with URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCarImagesResponse"
                },
                "example": {
                  "make": "Hyundai",
                  "model": "Santa Fe Hybrid",
                  "years": [
                    {
                      "year": 2025,
                      "trims": [
                        {
                          "trim": "Calligraphy AWD",
                          "bodytype": "SUV",
                          "enginetype": "1.6L turbocharged GDI 4-cylinder Hybrid engine",
                          "colors": [
                            {
                              "color": "White Pearl",
                              "angles": [
                                {
                                  "angle": "angularfront",
                                  "images": [
                                    {
                                      "izmoid": "IZUS25HYSHSU01",
                                      "url": "https://izmoimagestudio.com/images/IZUS25HYSHSU01/angularfront/webp/1200x800.webp"
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/car/colors": {
      "post": {
        "summary": "Get available colors for a configuration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetColorsRequest"
              },
              "example": {
                "make": "Hyundai",
                "model": "Santa Fe Hybrid",
                "year": 2025,
                "trim": "Calligraphy AWD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Available colors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetColorsResponse"
                },
                "example": {
                  "make": "Hyundai",
                  "model": "Santa Fe Hybrid",
                  "year": 2025,
                  "trim": "Calligraphy AWD",
                  "colors": [
                    {
                      "name": "White Pearl",
                      "code": "WP",
                      "isLicensed": true
                    },
                    {
                      "name": "Magnetic Grey",
                      "code": "MG",
                      "isLicensed": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetCarImageRequest": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "trim": {
            "type": "string"
          },
          "bodytype": {
            "type": "string"
          },
          "enginetype": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "angle": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          }
        },
        "required": [
          "make",
          "model",
          "year",
          "trim"
        ]
      },
      "GetCarImagesRequest": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "trim": {
            "type": "string"
          },
          "assettype": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "angle": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          }
        },
        "required": [
          "make",
          "model",
          "year",
          "trim",
          "assettype"
        ]
      },
      "GetCarImagesResponse": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "years": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer"
                },
                "trims": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "trim": {
                        "type": "string"
                      },
                      "bodytype": {
                        "type": "string"
                      },
                      "enginetype": {
                        "type": "string"
                      },
                      "colors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "color": {
                              "type": "string"
                            },
                            "angles": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "angle": {
                                    "type": "string"
                                  },
                                  "images": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "izmoid": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GetColorsRequest": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "trim": {
            "type": "string"
          }
        },
        "required": [
          "make",
          "model",
          "year",
          "trim"
        ]
      },
      "GetColorsResponse": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "trim": {
            "type": "string"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "isLicensed": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  }
}