{
  "openapi": "3.0.0",
  "info": {
    "title": "Pensa Mobile API",
    "description": "API to support the needs of the Pensa mobile app.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/BURAK_4/pensa-mobile-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://mobileapi-prod.pensasystems.net"
    },
    {
      "url": "https://mobileapi-dev.pensa.app"
    }
  ],
  "paths": {
    "/mobileapi/authz/permissions": {
      "get": {
        "summary": "Get User Permissions",
        "description": "Retrieve the permissions and account details for a user logging into the app. \nRequires a valid authentication token.\n",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MOBILE",
                "MOBILESDK"
              ],
              "description": "The application type for which permissions are requested. \nPossible values: \n- `MOBILE`: Requires permissions\n- `MOBILESDK`: Requires permissions\n"
            }
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing permissions and account details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "group_id": {
                          "type": "integer",
                          "description": "The group ID associated with the user.",
                          "example": 1
                        },
                        "mobile_app_idle_timeout": {
                          "type": "integer",
                          "description": "A mobile app login session will time out after this many seconds of inactivity.",
                          "example": 60
                        },
                        "permissions": {
                          "type": "object",
                          "properties": {
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "List of roles assigned to the user.",
                              "example": [
                                "SCAN",
                                "INGEST_NEW",
                                "INGEST_PARTIAL",
                                "STOCK",
                                "ONBOARD"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "group_id": 1,
                    "mobile_app_idle_timeout": 60,
                    "permissions": {
                      "roles": [
                        "SCAN",
                        "INGEST_NEW",
                        "INGEST_PARTIAL"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/categories/{category_id}/logo.png": {
      "get": {
        "summary": "Get Category Logo",
        "description": "Retrieve the logo for a specific category as a PNG or a JPG image.\nRequires a valid `category ID` and a valid authentication token.\n",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the category whose logo is being retrieved."
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageSuccess"
          },
          "204": {
            "description": "No Content. The category does not have a logo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An empty JSON object.",
                  "example": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/facing/my-recent-fast-out-of-stock-products": {
      "get": {
        "summary": "Get User's Recent Fast Out-of-Stock Products",
        "description": "Returns the lists of out-of-stock products for each shift the user completed during the last 7 days.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent fast out-of-stock products retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "date": {
                            "$ref": "#/components/schemas/ShelfScanDate"
                          },
                          "products": {
                            "$ref": "#/components/schemas/ProductDetails"
                          },
                          "shelf_id": {
                            "$ref": "#/components/schemas/ShelfId"
                          },
                          "shelf_name": {
                            "$ref": "#/components/schemas/ShelfName"
                          },
                          "shelf_scan_period_id": {
                            "$ref": "#/components/schemas/ShelfScanPeriodId"
                          },
                          "store_address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "store_id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "store_name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "time_of_day": {
                            "$ref": "#/components/schemas/TimeOfDay"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/facing/recent-fast-out-of-stock-products": {
      "get": {
        "summary": "Get Recent Fast Out-of-Stock Products",
        "description": "Returns the lists of out-of-stock products for each shift a scanner completed during the last 7 days.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent fast out-of-stock products retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "date": {
                            "$ref": "#/components/schemas/ShelfScanDate"
                          },
                          "shelves": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "shelf_id": {
                                  "$ref": "#/components/schemas/ShelfId"
                                },
                                "shelf_name": {
                                  "$ref": "#/components/schemas/ShelfName"
                                },
                                "shelf_scan_period_id": {
                                  "$ref": "#/components/schemas/ShelfScanPeriodId"
                                },
                                "products": {
                                  "$ref": "#/components/schemas/ProductDetails"
                                }
                              }
                            }
                          },
                          "store_address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "store_id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "store_name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "time_of_day": {
                            "$ref": "#/components/schemas/TimeOfDay"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/facing/restock-status": {
      "post": {
        "summary": "Add or update SSP product restock statuses",
        "description": "Creates or updates SSP product restock statuses.\nIf `status` is `CANT_RESTOCK`, then `cant_restock_reason` is required.\nRequires a valid authentication token and the user to have the `STOCK` role.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "requestBody": {
          "description": "A list of product restock statuses to create or update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_restock_status_list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "$ref": "#/components/schemas/ProductId"
                        },
                        "shelf_scan_period_id": {
                          "$ref": "#/components/schemas/ShelfScanPeriodId"
                        },
                        "status": {
                          "type": "string",
                          "description": "Restock status.",
                          "enum": [
                            "RESTOCKED",
                            "CANT_RESTOCK"
                          ]
                        },
                        "cant_restock_reason": {
                          "type": "string",
                          "description": "Reason why the product can't be restocked. Required if `status` is `CANT_RESTOCK`.",
                          "enum": [
                            "DISCONTINUED",
                            "ITEM_ON_ORDER",
                            "NOT_LISTED_IN_STORE",
                            "OTHER"
                          ]
                        }
                      },
                      "required": [
                        "product_id",
                        "shelf_scan_period_id",
                        "status"
                      ]
                    }
                  }
                },
                "required": [
                  "product_restock_status_list"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          }
        }
      }
    },
    "/mobileapi/facing/shelf-scan-periods/{shelf_scan_period_id}/fast-out-of-stock-products": {
      "get": {
        "summary": "Get Fast Out-of-Stock Products for Shelf Scan Period",
        "description": "Returns the list of unexpectedly out-of-stock products for a completed shelf scan period.\nRequires a valid `shelf_scan_period_id` and a valid authentication token.\n",
        "parameters": [
          {
            "name": "shelf_scan_period_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the shelf scan period for which fast-out-of-stock products are being requested.\n",
            "example": 12345
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved fast-out-of-stock products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductDetails"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/banners": {
      "get": {
        "summary": "Get Banners",
        "description": "Returns a list of banners. The data returned will be restricted based on the user's access entitlements.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Include-Inactive"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the banners.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the banner is currently active.",
                            "example": true
                          },
                          "allow_out_of_service_scans": {
                            "$ref": "#/components/schemas/AllowOutOfServiceScans"
                          },
                          "channel_type": {
                            "type": "string",
                            "enum": [
                              "CONVENIENCE",
                              "DOLLAR",
                              "DRUG",
                              "GROCERY",
                              "INDEPENDENT",
                              "LIQUOR",
                              "MASS",
                              "MILITARY",
                              "ONLINE",
                              "SPECIALTY",
                              "WAREHOUSE"
                            ],
                            "description": "Type of channel associated with the banner.",
                            "example": "DOLLAR"
                          },
                          "mobile_app_shelf_image_hint": {
                            "$ref": "#/components/schemas/ShelfImageHint"
                          },
                          "report_failed_scans": {
                            "type": "boolean",
                            "description": "Whether failed scans are reported for the banner.",
                            "example": false
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/retailers": {
      "get": {
        "summary": "Retrieve a list of retailers",
        "description": "Returns a paginated list of retailers. The response can be filtered and limited using query parameters.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/After-ID"
          },
          {
            "$ref": "#/components/parameters/Include-Inactive"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of retailers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Indicates if the retailer is active.",
                            "example": true
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "logo_sm_s3_key": {
                            "$ref": "#/components/schemas/ImageS3Key"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 88,
                      "name": "Retailer A",
                      "active": true,
                      "created": "2023-07-06T17:32:13.699484",
                      "modified": "2023-07-06T17:32:13.699484"
                    },
                    {
                      "id": 94,
                      "name": "Retailer B",
                      "active": true,
                      "created": "2024-02-27T01:18:33.949209",
                      "modified": "2024-05-07T15:19:43.902424",
                      "logo_sm_s3_key": "images/retailer/logo_sm.jpg"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/location/scan-areas": {
      "get": {
        "summary": "Get Active Scan Areas",
        "description": "Returns a list of active scan areas, optionally filtered by retailer, banner, store, or shelf ID.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Retailers"
          },
          {
            "$ref": "#/components/parameters/Banners"
          },
          {
            "$ref": "#/components/parameters/Stores"
          },
          {
            "$ref": "#/components/parameters/Shelves"
          },
          {
            "$ref": "#/components/parameters/After-ID"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of scan areas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/ScanAreaId"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Indicates whether the scan area is active.",
                            "example": true
                          },
                          "name": {
                            "$ref": "#/components/schemas/ScanAreaName"
                          },
                          "description": {
                            "$ref": "#/components/schemas/ScanAreaDescription"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "created_by": {
                            "type": "string",
                            "description": "Username of the creator.",
                            "example": "jane.doe"
                          },
                          "created_by_user_id": {
                            "$ref": "#/components/schemas/CreatedByUserId"
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "retailer_name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "category_id": {
                            "$ref": "#/components/schemas/CategoryId"
                          },
                          "category_name": {
                            "$ref": "#/components/schemas/CategoryName"
                          },
                          "shelf_id": {
                            "$ref": "#/components/schemas/ShelfId"
                          },
                          "shelf_name": {
                            "$ref": "#/components/schemas/ShelfName"
                          },
                          "shelf_description": {
                            "$ref": "#/components/schemas/ShelfDescription"
                          },
                          "shelf_order_index": {
                            "$ref": "#/components/schemas/ShelfOrderIndex"
                          },
                          "shelf_type": {
                            "$ref": "#/components/schemas/ShelfType"
                          },
                          "store_id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "store_name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "scan_area_type": {
                            "$ref": "#/components/schemas/ScanAreaType"
                          },
                          "scannable": {
                            "$ref": "#/components/schemas/StoreIsScannable"
                          },
                          "scored": {
                            "type": "boolean",
                            "description": "Indicates whether the scan area is scored.",
                            "example": true
                          },
                          "orientation": {
                            "$ref": "#/components/schemas/Orientation"
                          },
                          "allow_dynamic_shelf_scanning": {
                            "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                          },
                          "allow_qr_code_scanning": {
                            "$ref": "#/components/schemas/AllowQrCodeScanning"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/location/scannable-shelves": {
      "get": {
        "summary": "Get Scannable Shelves",
        "description": "Retrieve a list of shelves that can be scanned by the mobile app, optionally filtered by retailer, banner, or store.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Retailers"
          },
          {
            "$ref": "#/components/parameters/Banners"
          },
          {
            "$ref": "#/components/parameters/Stores"
          },
          {
            "$ref": "#/components/parameters/Shelves"
          },
          {
            "$ref": "#/components/parameters/After-ID"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing scannable shelves.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "$ref": "#/components/schemas/ActiveShelf"
                          },
                          "category_id": {
                            "$ref": "#/components/schemas/CategoryId"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "created_by_user_id": {
                            "$ref": "#/components/schemas/CreatedByUserId"
                          },
                          "description": {
                            "$ref": "#/components/schemas/ShelfDescription"
                          },
                          "id": {
                            "$ref": "#/components/schemas/ShelfId"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "name": {
                            "$ref": "#/components/schemas/ShelfName"
                          },
                          "onboarding": {
                            "type": "boolean",
                            "description": "Indicates if the shelf is used for onboarding.",
                            "example": false
                          },
                          "orientation": {
                            "$ref": "#/components/schemas/Orientation"
                          },
                          "scannable": {
                            "$ref": "#/components/schemas/ShelfIsScannable"
                          },
                          "scored": {
                            "type": "boolean",
                            "description": "Indicates if the shelf has scoring enabled.",
                            "example": true
                          },
                          "semantic_audit_trigger_event": {
                            "type": "string",
                            "description": "Event that triggers a semantic audit.",
                            "enum": [
                              "OBSERVATION_REVIEWS_COMPLETE",
                              "OOS_REVIEWS_COMPLETE",
                              "SHELF_AUDIT_COMPLETE",
                              "SHELF_COMPLETE"
                            ],
                            "example": "SHELF_AUDIT_COMPLETE"
                          },
                          "store_id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "type": {
                            "$ref": "#/components/schemas/ShelfType"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/location/shelf-categories": {
      "get": {
        "summary": "Get Shelf Categories",
        "description": "Retrieve a list of shelf categories.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing shelf categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CategoryProperties"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/location/stores": {
      "get": {
        "summary": "Get Stores",
        "description": "Returns a list of active stores, optionally filtered by retailer or banner.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Retailers"
          },
          {
            "$ref": "#/components/parameters/Banners"
          },
          {
            "$ref": "#/components/parameters/StoreSearchText"
          },
          {
            "$ref": "#/components/parameters/After-ID"
          },
          {
            "$ref": "#/components/parameters/Include-Inactive"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing store details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "$ref": "#/components/schemas/ActiveStore"
                          },
                          "address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "allow_dynamic_shelf_scanning": {
                            "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                          },
                          "allow_qr_code_scanning": {
                            "$ref": "#/components/schemas/AllowQrCodeScanning"
                          },
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "division_id": {
                            "$ref": "#/components/schemas/DivisionId"
                          },
                          "division_name": {
                            "$ref": "#/components/schemas/DivisionName"
                          },
                          "id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "latitude": {
                            "$ref": "#/components/schemas/Latitude"
                          },
                          "longitude": {
                            "$ref": "#/components/schemas/Longitude"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "onboarding_type": {
                            "$ref": "#/components/schemas/OnboardingType"
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "retailer_name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "shelf_image_hint": {
                            "$ref": "#/components/schemas/ShelfImageHint"
                          },
                          "size": {
                            "$ref": "#/components/schemas/StoreSize"
                          },
                          "tdlinx_code": {
                            "$ref": "#/components/schemas/TdlinxCode"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/Timezone"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/mobileapi/location/stores-by-location": {
      "get": {
        "summary": "Get stores by location.",
        "description": "Returns a list of stores ordered by distance from a specified latitude/longitude position and radius\nin kilometers, nearest first. By default, returns up to 5 stores within approximately 5 miles (8 km).\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Latitude"
          },
          {
            "$ref": "#/components/parameters/Longitude"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float",
              "default": 8.04672
            },
            "description": "Search radius in kilometers. Defaults to approximately 5 miles (8 km).",
            "example": 10.0
          },
          {
            "$ref": "#/components/parameters/Retailers"
          },
          {
            "$ref": "#/components/parameters/Banners"
          },
          {
            "$ref": "#/components/parameters/Stores"
          },
          {
            "$ref": "#/components/parameters/Shelves"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing stores ordered by distance from the location.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "$ref": "#/components/schemas/ActiveStore"
                          },
                          "address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "allow_dynamic_shelf_scanning": {
                            "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                          },
                          "allow_qr_code_scanning": {
                            "$ref": "#/components/schemas/AllowQrCodeScanning"
                          },
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "distance": {
                            "$ref": "#/components/schemas/Distance"
                          },
                          "division_id": {
                            "$ref": "#/components/schemas/DivisionId"
                          },
                          "division_name": {
                            "$ref": "#/components/schemas/DivisionName"
                          },
                          "id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "latitude": {
                            "$ref": "#/components/schemas/Latitude"
                          },
                          "longitude": {
                            "$ref": "#/components/schemas/Longitude"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "onboarding_type": {
                            "$ref": "#/components/schemas/OnboardingType"
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "retailer_name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "shelf_image_hint": {
                            "$ref": "#/components/schemas/ShelfImageHint"
                          },
                          "size": {
                            "$ref": "#/components/schemas/StoreSize"
                          },
                          "tdlinx_code": {
                            "$ref": "#/components/schemas/TdlinxCode"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/Timezone"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores-by-tdlinx/{tdlinx_code}": {
      "get": {
        "summary": "Get Store by TDLinx Code",
        "description": "Retrieves store details using a specific TDLinx code.\nRequires a valid authentication token and the user to have the `SCAN` role.\n",
        "parameters": [
          {
            "name": "tdlinx_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The TDLinx code of the store being requested.\n",
            "example": "TDL12345"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved store details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "$ref": "#/components/schemas/ActiveStore"
                        },
                        "address": {
                          "$ref": "#/components/schemas/Address"
                        },
                        "allow_dynamic_shelf_scanning": {
                          "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                        },
                        "allow_qr_code_scanning": {
                          "$ref": "#/components/schemas/AllowQrCodeScanning"
                        },
                        "banner_id": {
                          "$ref": "#/components/schemas/BannerId"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city where the store is located.",
                          "example": "Springfield"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country where the store is located.",
                          "example": "US"
                        },
                        "created": {
                          "$ref": "#/components/schemas/Created"
                        },
                        "division_id": {
                          "$ref": "#/components/schemas/DivisionId"
                        },
                        "id": {
                          "$ref": "#/components/schemas/StoreId"
                        },
                        "latitude": {
                          "$ref": "#/components/schemas/Latitude"
                        },
                        "longitude": {
                          "$ref": "#/components/schemas/Longitude"
                        },
                        "modified": {
                          "$ref": "#/components/schemas/Modified"
                        },
                        "name": {
                          "$ref": "#/components/schemas/StoreName"
                        },
                        "onboarding_type": {
                          "$ref": "#/components/schemas/OnboardingType"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code of the store.",
                          "example": "62704"
                        },
                        "retailer_id": {
                          "$ref": "#/components/schemas/RetailerId"
                        },
                        "size": {
                          "$ref": "#/components/schemas/StoreSize"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state where the store is located.",
                          "example": "IL"
                        },
                        "street": {
                          "type": "string",
                          "description": "The street address of the store.",
                          "example": "1234 Elm St"
                        },
                        "tdlinx_code": {
                          "$ref": "#/components/schemas/TdlinxCode"
                        },
                        "timezone": {
                          "$ref": "#/components/schemas/Timezone"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores-shelves-scan-areas": {
      "get": {
        "summary": "Retrieve stores, shelves, and scan areas",
        "description": "Returns a list of requested stores, including their active shelves and scan areas.\n**Note:** At least one of `stores` or `tdlinx_codes` must be provided.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Stores"
          },
          {
            "name": "tdlinx_codes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of TDLinx codes of the stores to filter by.\nExample: `3865679,3865682`\n",
            "example": "3865679,3865682"
          },
          {
            "$ref": "#/components/parameters/Shelves"
          },
          {
            "$ref": "#/components/parameters/Categories"
          },
          {
            "name": "include_all_eligible",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include shelves that are not due but are still eligible for scanning.",
            "example": false
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing stores, shelves, and scan areas details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "$ref": "#/components/schemas/ActiveStore"
                          },
                          "address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "allow_dynamic_shelf_scanning": {
                            "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                          },
                          "allow_out_of_service_scans": {
                            "$ref": "#/components/schemas/AllowOutOfServiceScans"
                          },
                          "allow_qr_code_scanning": {
                            "$ref": "#/components/schemas/AllowQrCodeScanning"
                          },
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "division_id": {
                            "$ref": "#/components/schemas/DivisionId"
                          },
                          "division_name": {
                            "$ref": "#/components/schemas/DivisionName"
                          },
                          "id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "latitude": {
                            "$ref": "#/components/schemas/Latitude"
                          },
                          "longitude": {
                            "$ref": "#/components/schemas/Longitude"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "onboarding_type": {
                            "$ref": "#/components/schemas/OnboardingType"
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "retailer_name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "shelf_image_hint": {
                            "$ref": "#/components/schemas/ShelfImageHint"
                          },
                          "shelves": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "$ref": "#/components/schemas/ActiveShelf"
                                },
                                "category_id": {
                                  "$ref": "#/components/schemas/CategoryId"
                                },
                                "created": {
                                  "$ref": "#/components/schemas/Created"
                                },
                                "description": {
                                  "$ref": "#/components/schemas/ShelfDescription"
                                },
                                "id": {
                                  "$ref": "#/components/schemas/ShelfId"
                                },
                                "modified": {
                                  "$ref": "#/components/schemas/Modified"
                                },
                                "name": {
                                  "$ref": "#/components/schemas/ShelfName"
                                },
                                "onboarding": {
                                  "type": "boolean",
                                  "description": "Whether the shelf is onboarding.",
                                  "example": false
                                },
                                "orientation": {
                                  "$ref": "#/components/schemas/Orientation"
                                },
                                "scan_areas": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "$ref": "#/components/schemas/ScanAreaDescription"
                                      },
                                      "id": {
                                        "$ref": "#/components/schemas/ScanAreaId"
                                      },
                                      "last_scan_device_uuid": {
                                        "$ref": "#/components/schemas/DeviceUuid"
                                      },
                                      "last_scan_timestamp": {
                                        "$ref": "#/components/schemas/ScanTimestamp"
                                      },
                                      "last_scan_username": {
                                        "type": "string",
                                        "description": "Username of the last scan user.",
                                        "example": "peter.parker"
                                      },
                                      "name": {
                                        "$ref": "#/components/schemas/ScanAreaName"
                                      },
                                      "scan_area_type": {
                                        "$ref": "#/components/schemas/ScanAreaType"
                                      },
                                      "shelf_id": {
                                        "$ref": "#/components/schemas/ShelfId"
                                      },
                                      "shelf_order_index": {
                                        "$ref": "#/components/schemas/ShelfOrderIndex"
                                      }
                                    }
                                  }
                                },
                                "scan_due_date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Due date for the scan in YYYY-MM-DD format.",
                                  "example": null
                                },
                                "scan_eligible_end_date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "End date of scan eligibility in YYYY-MM-DD format.",
                                  "example": null
                                },
                                "scan_eligible_start_date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Start date of scan eligibility in YYYY-MM-DD format.",
                                  "example": "2025-01-09"
                                },
                                "scan_is_due": {
                                  "type": "boolean",
                                  "description": "Whether the shelf scan is due.",
                                  "example": false
                                },
                                "scan_is_eligible": {
                                  "type": "boolean",
                                  "description": "Whether the shelf is eligible for scanning.",
                                  "example": true
                                },
                                "scan_is_overdue": {
                                  "type": "boolean",
                                  "description": "Whether the shelf scan is overdue.",
                                  "example": false
                                },
                                "scannable": {
                                  "$ref": "#/components/schemas/ShelfIsScannable"
                                },
                                "scored": {
                                  "type": "boolean",
                                  "description": "Whether the shelf is scored.",
                                  "example": true
                                },
                                "store_id": {
                                  "$ref": "#/components/schemas/StoreId"
                                },
                                "store_section_customer_key": {
                                  "type": "string",
                                  "description": "Customer key for the store section, if applicable.",
                                  "example": null
                                },
                                "store_section_id": {
                                  "type": "integer",
                                  "description": "ID of the store section.",
                                  "example": 14
                                },
                                "store_section_name": {
                                  "$ref": "#/components/schemas/StoreSectionName"
                                },
                                "type": {
                                  "$ref": "#/components/schemas/ShelfType"
                                }
                              }
                            }
                          },
                          "size": {
                            "$ref": "#/components/schemas/StoreSize"
                          },
                          "tdlinx_code": {
                            "$ref": "#/components/schemas/TdlinxCode"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/Timezone"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores-shelves-scan-areas-by-group": {
      "get": {
        "summary": "Retrieve stores, shelves, and scan areas by group",
        "description": "Returns a list of stores, including their `active` shelves and scan areas grouped by store. \n**Note**: When ordering by something other than `id`, both `after_id` and `after_value` must be provided, or neither.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Retailers"
          },
          {
            "$ref": "#/components/parameters/Banners"
          },
          {
            "$ref": "#/components/parameters/StoreSearchText"
          },
          {
            "$ref": "#/components/parameters/Shelves"
          },
          {
            "$ref": "#/components/parameters/Categories"
          },
          {
            "name": "include_all_eligible",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include shelves not due but eligible for scanning.",
            "example": false
          },
          {
            "name": "after_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Used in conjunction with `after_id` for ordering by columns other than `id`."
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "store_name"
              ],
              "default": "store_name"
            },
            "description": "Column to order results by. Allowed values: `id`, `store_name`.",
            "example": "store_name"
          },
          {
            "name": "order_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "ASC"
            },
            "description": "Sorting direction. Allowed values: `ASC`, `DESC`.",
            "example": "ASC"
          },
          {
            "$ref": "#/components/parameters/After-ID"
          },
          {
            "$ref": "#/components/parameters/Include-Inactive"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing stores, shelves, and scan areas grouped by store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "$ref": "#/components/schemas/ActiveStore"
                          },
                          "address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "allow_dynamic_shelf_scanning": {
                            "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                          },
                          "allow_out_of_service_scans": {
                            "$ref": "#/components/schemas/AllowOutOfServiceScans"
                          },
                          "allow_qr_code_scanning": {
                            "$ref": "#/components/schemas/AllowQrCodeScanning"
                          },
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "division_id": {
                            "$ref": "#/components/schemas/DivisionId"
                          },
                          "division_name": {
                            "$ref": "#/components/schemas/DivisionName"
                          },
                          "id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "latitude": {
                            "$ref": "#/components/schemas/Latitude"
                          },
                          "longitude": {
                            "$ref": "#/components/schemas/Longitude"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "onboarding_type": {
                            "$ref": "#/components/schemas/OnboardingType"
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "retailer_name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "shelf_image_hint": {
                            "$ref": "#/components/schemas/ShelfImageHint"
                          },
                          "shelves": {
                            "type": "array",
                            "description": "List of shelves in the store.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "$ref": "#/components/schemas/ActiveShelf"
                                },
                                "category_id": {
                                  "$ref": "#/components/schemas/CategoryId"
                                },
                                "created": {
                                  "$ref": "#/components/schemas/Created"
                                },
                                "description": {
                                  "$ref": "#/components/schemas/ShelfDescription"
                                },
                                "id": {
                                  "$ref": "#/components/schemas/ShelfId"
                                },
                                "modified": {
                                  "$ref": "#/components/schemas/Modified"
                                },
                                "name": {
                                  "$ref": "#/components/schemas/ShelfName"
                                },
                                "scan_areas": {
                                  "type": "array",
                                  "description": "List of scan areas for the shelf.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "$ref": "#/components/schemas/ScanAreaDescription"
                                      },
                                      "id": {
                                        "$ref": "#/components/schemas/ScanAreaId"
                                      },
                                      "name": {
                                        "$ref": "#/components/schemas/ScanAreaName"
                                      },
                                      "scan_area_type": {
                                        "$ref": "#/components/schemas/ScanAreaType"
                                      }
                                    }
                                  }
                                },
                                "store_id": {
                                  "$ref": "#/components/schemas/StoreId"
                                },
                                "type": {
                                  "$ref": "#/components/schemas/ShelfType"
                                }
                              }
                            }
                          },
                          "size": {
                            "$ref": "#/components/schemas/StoreSize"
                          },
                          "tdlinx_code": {
                            "$ref": "#/components/schemas/TdlinxCode"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/Timezone"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores-with-partial-products": {
      "get": {
        "summary": "Get active stores with partial products.",
        "description": "Returns all nearby active stores having partial products, along with the count of partial products per store. \nThe required \"latitude\" and \"longitude\" parameters specify from which point to measure nearby stores.\nRequires a valid authentication token and the user to have the `INGEST_PARTIAL` role.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Latitude"
          },
          {
            "$ref": "#/components/parameters/Longitude"
          },
          {
            "$ref": "#/components/parameters/Retailers"
          },
          {
            "$ref": "#/components/parameters/Banners"
          },
          {
            "$ref": "#/components/parameters/Stores"
          },
          {
            "$ref": "#/components/parameters/Shelves"
          },
          {
            "$ref": "#/components/parameters/Manufacturers"
          },
          {
            "$ref": "#/components/parameters/Categories"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing stores with partial products and their counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of stores with partial products.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "$ref": "#/components/schemas/ActiveStore"
                          },
                          "address": {
                            "$ref": "#/components/schemas/Address"
                          },
                          "allow_dynamic_shelf_scanning": {
                            "$ref": "#/components/schemas/AllowDynamicShelfScanning"
                          },
                          "allow_qr_code_scanning": {
                            "$ref": "#/components/schemas/AllowQrCodeScanning"
                          },
                          "banner_id": {
                            "$ref": "#/components/schemas/BannerId"
                          },
                          "banner_name": {
                            "$ref": "#/components/schemas/BannerName"
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "distance": {
                            "$ref": "#/components/schemas/Distance"
                          },
                          "division_id": {
                            "$ref": "#/components/schemas/DivisionId"
                          },
                          "division_name": {
                            "$ref": "#/components/schemas/DivisionName"
                          },
                          "id": {
                            "$ref": "#/components/schemas/StoreId"
                          },
                          "latitude": {
                            "$ref": "#/components/schemas/Latitude"
                          },
                          "longitude": {
                            "$ref": "#/components/schemas/Longitude"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "name": {
                            "$ref": "#/components/schemas/StoreName"
                          },
                          "onboarding_type": {
                            "$ref": "#/components/schemas/OnboardingType"
                          },
                          "partial_product_count": {
                            "type": "integer",
                            "description": "Count of partial products in the store.",
                            "example": 3
                          },
                          "retailer_id": {
                            "$ref": "#/components/schemas/RetailerId"
                          },
                          "retailer_name": {
                            "$ref": "#/components/schemas/RetailerName"
                          },
                          "shelf_image_hint": {
                            "$ref": "#/components/schemas/ShelfImageHint"
                          },
                          "size": {
                            "$ref": "#/components/schemas/StoreSize"
                          },
                          "tdlinx_code": {
                            "$ref": "#/components/schemas/TdlinxCode"
                          },
                          "timezone": {
                            "$ref": "#/components/schemas/Timezone"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores/{store_id}/onboard": {
      "post": {
        "summary": "Onboard a store by creating shelves and scan areas.",
        "description": "Onboards a store by creating main, end cap, and checkout shelves and scan areas.\nThe user must have the `ONBOARD` role and access to the store to perform this action.\nThe `main`, `endcap`, and `checkout` fields are required.\nRequires a valid `store_id` and a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreId"
          },
          {
            "name": "main",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of main shelves to create.",
            "example": 10
          },
          {
            "name": "endcap",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of endcap shelves to create.",
            "example": 4
          },
          {
            "name": "checkout",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of checkout shelves to create.",
            "example": 2
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores/{store_id}/sections": {
      "get": {
        "summary": "Get store sections for a specific store.",
        "description": "Retrieves store sections for a specific store.\nRequires a valid `store_id` and a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreId"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved store section details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StoreSectionOutputProperties"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/location/stores/{store_id}/shelves": {
      "post": {
        "summary": "Creates a new shelf for a store.",
        "description": "Creates a new shelf for a store.\nThe user must have the `ADD_SHELF` role and access to the store to perform this action.\nRequires a valid `store_id` and a valid authentication token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreId"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShelfCreateRequestBodyProperties"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful. The response contains shelves details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShelfWithExtraInfoProperties"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/mobileapi/my-projects": {
      "get": {
        "summary": "Get User's Projects",
        "description": "Returns the list of projects to which a user belongs, optionally filtered by store id.\nRequires a valid authentication token.\n",
        "parameters": [
          {
            "name": "store",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the store for which user wants to filter by the projects which allow the store.\n",
            "example": 12345
          },
          {
            "$ref": "#/components/parameters/X-Pensa-ID-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Access-Token"
          },
          {
            "$ref": "#/components/parameters/X-Pensa-Refresh-Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user's projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the project."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the project."
                          },
                          "created": {
                            "$ref": "#/components/schemas/Created"
                          },
                          "modified": {
                            "$ref": "#/components/schemas/Modified"
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The start date of the project in YYYY-MM-DD format."
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The end date of the project in YYYY-MM-DD format."
                          },
                          "shelf_grouping_type": {
                            "type": "string",
                            "enum": [
                              "STORE",
                              "STORE_SECTION",
                              "CATEGORY"
                            ],
                            "description": "The type of shelf grouping for the project."
                          },
                          "location_access": {
                            "type": "object",
                            "properties": {
                              "banner_ids": {
                                "type": "array",
                                "description": "IDs of the associated banners.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "retailer_ids": {
                                "type": "array",
                                "description": "IDs of the associated retailers.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "shelf_category_ids": {
                                "type": "array",
                                "description": "IDs of the associated shelf categories.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "shelf_ids": {
                                "type": "array",
                                "description": "IDs of the associated shelves.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "store_ids": {
                                "type": "array",
                                "description": "IDs of the associated stores.",
                                "items": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "product_access": {
                            "type": "object",
                            "properties": {
                              "brand_ids": {
                                "type": "array",
                                "description": "IDs of the associated brands.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "manufacturer_ids": {
                                "type": "array",
                                "description": "IDs of the associated manufacturers.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "product_category_ids": {
                                "type": "array",
                                "description": "IDs of the associated product categories.",
                                "items": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "user_access": {
                            "type": "object",
                            "properties": {
                              "account_ids": {
                                "type": "array",
                                "description": "IDs of the associated accounts.",
                                "items": {
                                  "type": "integer"
                                }
                              },
                              "user_ids": {
                                "type": "array",
                                "description": "IDs of the associated users.",
                                "items": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "reports": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "description": "The ID of the report instance."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the report instance within the project."
                                },
                                "report_id": {
                                  "type": "integer",
                                  "description": "The ID of the report definition."
                                },
                                "settings": {
                                  "type": "object",
                                  "properties": {
                                    "allowed_scanner_account_ids": {
                                      "type": "array",
                                      "description": "IDs of the scanner accounts whose scans can be used for reporting.",
                                      "items": {
                                        "type": "integer"
                                      }
                                    },
                                    "custom_product_attribute_ids": {
                                      "type": "array",
                                      "description": "IDs of the custom product attributes to be included in the report.",
                                      "items": {
                                        "type": "integer"
                                      }
                                    },
                                    "delivery_method": {
                                      "type": "string",
                                      "description": "Delivery method of the report.",
                                      "enum": [
                                        "DASHBOARD",
                                        "KAFKA",
                                        "LOCAL_SFTP",
                                        "REMOTE_SFTP"
                                      ]
                                    },
                                    "delivery_method_settings": {
                                      "type": "object",
                                      "properties": {
                                        "kafka": {
                                          "type": "object",
                                          "nullable": true
                                        },
                                        "local_sftp": {
                                          "type": "object",
                                          "nullable": true
                                        },
                                        "remote_sftp": {
                                          "type": "object",
                                          "properties": {
                                            "directory_path": {
                                              "type": "string"
                                            },
                                            "host_key_secret_name": {
                                              "type": "string"
                                            },
                                            "password_secret_name": {
                                              "type": "string"
                                            },
                                            "port": {
                                              "type": "integer"
                                            },
                                            "private_key_secret_name": {
                                              "type": "string"
                                            },
                                            "server": {
                                              "type": "string"
                                            },
                                            "username": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "delivery_schedule": {
                                      "type": "string",
                                      "description": "Delivery schedule of the report.",
                                      "enum": [
                                        "IMMEDIATE",
                                        "DAILY",
                                        "WEEKLY",
                                        "MONTHLY",
                                        "QUARTERLY"
                                      ]
                                    },
                                    "delivery_schedule_settings": {
                                      "type": "object",
                                      "properties": {
                                        "immediate": {
                                          "type": "object",
                                          "properties": {
                                            "auto_delivery_minutes": {
                                              "type": "integer"
                                            },
                                            "delivery_sla_secs": {
                                              "type": "integer"
                                            },
                                            "event_type": {
                                              "type": "string"
                                            },
                                            "pipeline_name": {
                                              "$ref": "#/components/schemas/PipelineName"
                                            }
                                          }
                                        },
[...]
