{
  "openapi": "3.0.3",
  "info": {
    "title": "Tenable One",
    "version": "1.0.0",
    "license": {
      "name": "Tenable One"
    },
    "x-jentic-source-url": "https://developer.tenable.com/openapi/tenable-one.json",
    "contact": {
      "name": "API Support"
    },
    "description": "Tenable One - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://cloud.tenable.com"
    }
  ],
  "tags": [
    {
      "name": "Attack Path",
      "description": "The Tenable Attack Path API enables users to retrieve details about attack path findings and attack path vectors. A Finding is an attack technique that exists in one or more attack paths that lead to one or more critical assets. The Findings tab in Attack Path Analysis takes your data and pairs it with advanced graph analytics and the MITRE ATT&CK® Framework to create Findings, which enables you to understand and act on the unknowns that enable and amplify threat impact on your assets and information. For more information about findings, see [Attack Path](https://docs.tenable.com/exposure-management/Content/exposure-management/attack-path/attack-path.htm) in the _Tenable Exposure Management User Guide._",
      "x-displayName": "Attack Path"
    },
    {
      "name": "Exposure View",
      "description": "The Tenable Exposure View API enables users to search Tenable Exposure view for their organization's cards or retrieve the details for a specified card. For more information about Exposure View, see [Exposure View](https://docs.tenable.com/exposure-management/Content/exposure-management/exposure-view/exposure-view.htm) in the _Tenable Exposure Management User Guide_.",
      "x-displayName": "Exposure View"
    },
    {
      "name": "Inventory",
      "description": "The Tenable Inventory API enables users to search for their organization's assets and the software installed on those assets. Additionally, API endpoints are provided to retrieve a list of asset and software properties that can be used as filters on endpoints that support them. For more information, see [Inventory](https://docs.tenable.com/exposure-management/Content/exposure-management/inventory/inventory.htm) in the _Tenable Exposure Management User Guide_.",
      "x-displayName": "Inventory"
    },
    {
      "name": "Inventory Exports",
      "description": "The Tenable Inventory Exports API enables users to export inventory assets and findings in JSON or CSV format. For more information about exporting assets and findings from Tenable One, see [Assets](https://docs.tenable.com/exposure-management/Content/exposure-management/inventory/assets.htm) and [Findings](https://docs.tenable.com/exposure-management/Content/exposure-management/inventory/findings.htm) in the _Tenable Exposure Management User Guide_.",
      "x-displayName": "Inventory Exports"
    },
    {
      "name": "Tags",
      "description": "The Tenable One tags API enables users to search for their organization's tags. Additionally, API endpoints are provided to retrieve a list of asset and tag properties that can be used as filters on endpoints that support them. For more information, see [Tagging](https://docs.tenable.com/exposure-management/Content/exposure-management/tagging/tagging.htm) in the _Tenable Exposure Management User Guide_.",
      "x-displayName": "Tags"
    }
  ],
  "paths": {
    "/api/v1/t1/apa/top-attack-paths/search": {
      "post": {
        "summary": "Search attack paths",
        "description": "Returns a list of the top attack paths leading to critical assets. The response includes details about each attack path, such as associated techniques, nodes, and metadata. This endpoint enables you to use advanced search capabilities, including filtering, sorting, and pagination.\n\n**Note:** Attack paths inherit their status from underlying techniques. To prioritize active threats, the system excludes the following statuses by default:\n- `chain_prevented` — The attack chain is partially fixed.\n- `accepted` — The risk is accepted.\n- `done` — Remediation is complete.\n\nTo retrieve all paths regardless of status, set the `exclude_resolved` parameter to `false`.\n\nFor more information, see [Top Attack Paths](https://docs.tenable.com/exposure-management/Content/attack-path/top-attack-paths.htm) in the _Exposure Management User Guide_. <div class=\"perms-callout\">Requires the Basic [16] user role or the `ATTACK_PATH_ANALYSIS.QUERY.SEARCH` custom role privilege. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "apa-attack-paths-search",
        "tags": [
          "Attack Path"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "The number of attack path records to retrieve. If omitted, the default value is `1000`. The minimum value is `100` and the maximum value is `10000`.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "minimum": 100,
              "maximum": 10000
            }
          },
          {
            "name": "offset",
            "description": "The number of records to skip for offset-based pagination. If omitted, the default value is `0`.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "description": "The property and direction to sort the results by, in the format `property:direction`. For example: `name:asc`, `priority:desc`, or `path_status:asc`. \n\nSupported properties for sorting include `name`, `priority`, and `path_status`.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z_]+:(asc|desc)$"
            },
            "example": "priority:desc"
          },
          {
            "name": "run_ai_summarization",
            "description": "Indicates whether or not to run the AI summarization for missing paths. \n\nGenerative AI enables users to better understand attack paths and their associated risk, and it provides additional insight into the assets affected by the attack paths. \n\nNote that enabling the AI summarization results in slower response times.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            }
          },
          {
            "name": "exclude_resolved",
            "description": "Excludes resolved attack paths from the results. When `true` (default), the system filters out paths with the following `path_status` values:\n\n* `done` — Remediation is complete.\n* `chain_prevented` — The attack chain is partially broken.\n* `accepted` — The risk is accepted.\n\nSet to `false` to include all attack paths regardless of status.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "Filter conditions for searching attack paths. Filter operators can include nested conditions and operators to create complex filtering logic.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Single Filter",
                    "$ref": "#/components/schemas/Attack_Path_Attack-Path-Single-Filter"
                  },
                  {
                    "title": "Multiple Filters",
                    "$ref": "#/components/schemas/Attack_Path_Attack-Path-Multiple-Filters"
                  }
                ]
              },
              "examples": {
                "high_priority_filter": {
                  "summary": "Filter for high-priority attack paths",
                  "description": "This filter enables you to isolate attack paths that pose the greatest risk by targeting those with a priority score of 8 or higher that lead to critical assets.",
                  "value": {
                    "operator": "AND",
                    "value": [
                      {
                        "property": "priority",
                        "operator": "gte",
                        "value": 8
                      },
                      {
                        "property": "critical_asset",
                        "operator": "eq",
                        "value": true
                      }
                    ]
                  }
                },
                "path_status_filter": {
                  "summary": "Filter by actionable path status",
                  "description": "This filter enables you to retrieve actionable attack paths (to_do, in_progress, in_review). By default, the system excludes the following statuses:\n- `done` — Remediation is complete.\n- `chain_prevented` — The attack chain is broken.\n- `accepted` — The risk is accepted.",
                  "value": {
                    "property": "path_status",
                    "operator": "in",
                    "value": [
                      "to_do",
                      "in_progress",
                      "in_review"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returned if the attack path search results were retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_DiscoverPageTableResponse"
                },
                "examples": {
                  "response": {
                    "summary": "Sample response with attack paths",
                    "description": "Example response showing attack paths with detailed information",
                    "value": {
                      "data": [
                        {
                          "vectorId": "vec_123",
                          "name": "High Priority Attack Path",
                          "priority": 9,
                          "path": {
                            "nodes": [
                              {
                                "name": "Source Asset",
                                "full_name": "source.example.com",
                                "asset_id": "asset-123",
                                "id": 1001,
                                "labels": [
                                  "Computer",
                                  "WindowsObject"
                                ]
                              },
                              {
                                "name": "Target Asset",
                                "full_name": "target.example.com",
                                "asset_id": "asset-456",
                                "id": 1002,
                                "labels": [
                                  "Computer",
                                  "CriticalAsset"
                                ]
                              }
                            ],
                            "relationships": [
                              {
                                "type": "ATTACKS",
                                "source": 1001,
                                "target": 1002
                              }
                            ]
                          },
                          "techniques": [
                            {
                              "name": "Initial Access",
                              "full_name": "Initial Access Technique",
                              "asset_id": "asset-123",
                              "id": 2001,
                              "labels": [
                                "Procedure"
                              ],
                              "procedure_uuid": "uuid-123"
                            }
                          ],
                          "summary": "Attack path description showing the route from source to critical asset",
                          "firstAES": 8,
                          "lastACR": 9,
                          "path_status": "to_do"
                        }
                      ],
                      "total": 1
                    }
                  },
                  "null_path_example": {
                    "summary": "Response with null path field",
                    "description": "Example showing when the path field may be null",
                    "value": {
                      "data": [
                        {
                          "vectorId": "vec_456",
                          "name": "Processing Attack Path",
                          "priority": 7,
                          "path": null,
                          "techniques": [],
                          "summary": "This attack path is still being processed",
                          "firstAES": 6,
                          "lastACR": 7,
                          "path_status": "in_progress"
                        }
                      ],
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specified invalid parameters or if your request was improperly formatted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "Invalid limit parameter. Must be between 100 and 10000."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Returned if the API keys specified in your request are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permission to search attack paths.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Attack_Path_cloud": []
          }
        ]
      }
    },
    "/api/v1/t1/apa/top-attack-techniques/search": {
      "post": {
        "summary": "Search attack techniques",
        "description": "Returns a paginated list of the top attack techniques identified within your organization that match the specified search criteria. This endpoint supports advanced filtering, sorting, and metadata enrichment, including MITRE ATT&CK framework mappings and recommended mitigations.\n\n**Note:** To prioritize actionable data, this endpoint applies default filters to results:\n- **Excluded Statuses** — `done`, `accepted`\n- **Excluded States** — `archive`\n\nTo retrieve all techniques, including archived or resolved items, set the `exclude_resolved` parameter to `false`.\n\nFor more information, see [Top Attack Techniques](https://docs.tenable.com/exposure-management/Content/attack-path/top-attack-techniques.htm) in the _Exposure Management User Guide_. <div class=\"perms-callout\">Requires the Basic [16] user role or the `ATTACK_PATH_ANALYSIS.QUERY.SEARCH` custom role privilege. See [Roles](doc:roles) and [Permissions](doc:permissions).</div>",
        "operationId": "apa-attack-techniques-search",
        "tags": [
          "Attack Path"
        ],
        "parameters": [
          {
            "name": "limit",
            "description": "The number of attack technique records to retrieve. If omitted, the default value is `1000`. The minimum value is `100` and the maximum value is `10000`.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000,
              "minimum": 100,
              "maximum": 10000
            }
          },
          {
            "name": "offset",
            "description": "The number of records to skip for offset-based pagination. If omitted, the default value is `0`.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "description": "The property and direction to sort the results by, in the format `property:direction`. For example: `name:asc` or `priority:desc`. \n\nSupported properties for sorting include `last_updated_at`, `priority`, `mitre_id`, `name`, `technique_name`, `status`, `state`, and `vector_ount`.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z_]+:(asc|ASC|ascending|ASCENDING|Ascending|desc|DESC|descending|DESCENDING|Descending)$"
            },
            "example": "priority:desc"
          },
          {
            "name": "exclude_resolved",
            "description": "Excludes resolved attack techniques from the results. When `true` (default), the system filters out techniques with the following values:\n\n* Status — `done`, `accepted` \n* State — `archive` \n\nSet to `false` to include all techniques regardless of status or state.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "Filter conditions for searching attack techniques. Filter operators can include nested conditions and operators to create complex filtering logic.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Single Filter",
                    "$ref": "#/components/schemas/Attack_Path_Attack-Technique-Single-Filter"
                  },
                  {
                    "title": "Multiple Filters",
                    "$ref": "#/components/schemas/Attack_Path_Attack-Technique-Multiple-Filters"
                  }
                ]
              },
              "examples": {
                "priority_filter": {
                  "summary": "Filter by priority",
                  "value": {
                    "operator": "==",
                    "property": "priority",
                    "value": "high"
                  }
                },
                "complex_filter": {
                  "summary": "Complex filter with AND operator",
                  "value": {
                    "operator": "and",
                    "value": [
                      {
                        "operator": "==",
                        "property": "priority",
                        "value": "high"
                      },
                      {
                        "operator": "==",
                        "property": "state",
                        "value": "open"
                      }
                    ]
                  }
                },
                "nested_filter": {
                  "summary": "Nested filter with complex logic (2 levels deep)",
                  "value": {
                    "operator": "and",
                    "value": [
                      {
                        "operator": "==",
                        "property": "priority",
                        "value": "high"
                      },
                      {
                        "operator": "or",
                        "value": [
                          {
                            "operator": "==",
                            "property": "state",
                            "value": "open"
                          },
                          {
                            "operator": "==",
                            "property": "status",
                            "value": "in_progress"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returned if the attack technique search results were retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_AttackTechniquesSearchResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "mitre_id": "attack-pattern--1ecfdab8-7d59-4c98-95d4-dc41970f57fc",
                          "mitigations": [
                            "Privileged Account Management",
                            "User Training",
                            "Password Policies"
                          ],
                          "malwares": [
                            "CosmicDuke",
                            "IceApple"
                          ],
                          "tools": [
                            "Impacket",
                            "Pupy",
                            "CrackMapExec",
                            "gsecdump",
                            "Mimikatz",
                            "LaZagne",
                            "AADInternals"
                          ],
                          "name": "Remote Desktop Protocol",
                          "procedureName": "Network Sniffing-10931",
                          "priority": "high",
                          "state": "open",
                          "status": "to_do",
                          "tactics": [
                            "Lateral Movement",
                            "Persistence"
                          ],
                          "target": "ARCHIE",
                          "source": "WORKSTATION-01",
                          "cause": "Weak Authentication",
                          "created": "2024-06-01T10:30:00.000Z",
                          "last_updated_at": "2024-06-02T11:29:12.498763Z",
                          "serial_id": "RDP-001"
                        }
                      ],
                      "pagination": {
                        "total": 1,
                        "offset": 0,
                        "limit": 1000,
                        "sort": {
                          "field": "priority",
                          "order": "desc"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specified invalid parameters or if your request was improperly formatted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "Invalid limit parameter. Must be between 100 and 10000."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Returned if the API keys specified in your request are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 401,
                      "error": "Unauthorized",
                      "message": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permission to search attack techniques.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attack_Path_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Attack_Path_cloud": []
          }
        ]
      }
    },
    "/api/v1/t1/exposure-view/cards": {
      "get": {
        "summary": "Search cards",
        "description": "Returns a list of exposure view cards based on your search criteria. \n\n**Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class=\"perms-callout\">Requires the Basic [16] user role or the `TONE_UI.TONE_EXPOSURE_CARD.READ`, `LUMIN_EXPOSURE_VIEW.EXPOSURE_CARD.READ`, and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>",
        "operationId": "exposure-view-cards-search",
        "tags": [
          "Exposure View"
        ],
        "parameters": [
          {
            "name": "is_global_card",
            "description": "Indicates whether or not to return Tenable-provided global cards or user-created custom cards. \n\nIf `true`, only Tenable-provided global cards are returned. If `false`, only user-created custom cards are returned. If this parameter is omitted, Tenable One returns all cards.",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "name": "text_query",
            "description": "Filters the results by card name.",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "sorting_order",
            "description": "The order to sort the results by, either ascending (`asc`) or descending (`desc`).",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "limit",
            "description": "The number of card records to retrieve. The maximum value is `25`. If this parameter is omitted, Tenable One uses the default value of `25`.",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "default": 25,
              "maximum": 25,
              "minimum": 1,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The starting record to retrieve. If this parameter is omitted, Tenable One uses the default value of `0`.",
            "explode": true,
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable One successfully retrieved the list of exposure view cards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_Response-Search-Cards"
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "id": "12345",
                          "name": "Example Card",
                          "card_type": "GLOBAL",
                          "is_global_card": true,
                          "ces_score": {
                            "score": 85,
                            "grade": "A"
                          },
                          "sla_percentage": 95,
                          "ces_trend": [
                            {
                              "date": "2023-10-01T00:00:00Z",
                              "ces_score": 80
                            }
                          ],
                          "tag_count": 5,
                          "exposure_class": [
                            "ALL",
                            "IDENTITY"
                          ],
                          "created_at": "2023-10-01T12:00:00Z",
                          "updated_at": "2023-10-02T12:00:00Z",
                          "last_data_update_date": "2023-10-02T12:00:00Z",
                          "sources": [
                            "AWS",
                            "AZURE"
                          ]
                        },
                        {
                          "id": "2ea46426-7ca3-4fe6-85c3-c16eb2ccd94b",
                          "name": "supercustom",
                          "card_type": "CUSTOM",
                          "is_global_card": false,
                          "tag_count": 0,
                          "created_at": "2025-05-02T20:25:05.247Z",
                          "updated_at": "2025-06-10T15:35:17.499Z",
                          "ces_score": {
                            "score": 0,
                            "grade": "A"
                          },
                          "sla_percentage": 16.3728,
                          "ces_trend": [
                            {
                              "date": "2025-05-28T00:00:00.000Z",
                              "ces_score": 154
                            },
                            {
                              "date": "2025-05-29T00:00:00.000Z",
                              "ces_score": 154
                            },
                            {
                              "date": "2025-05-30T00:00:00.000Z",
                              "ces_score": 154
                            },
                            {
                              "date": "2025-05-31T00:00:00.000Z",
                              "ces_score": 154
                            },
                            {
                              "date": "2025-06-01T00:00:00.000Z",
                              "ces_score": 154
                            },
                            {
                              "date": "2025-06-02T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-03T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-04T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-05T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-06T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-07T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-08T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-09T00:00:00.000Z",
                              "ces_score": 481
                            },
                            {
                              "date": "2025-06-10T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-11T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-12T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-13T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-14T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-15T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-16T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-17T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-18T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-19T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-20T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-21T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-22T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-23T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-24T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-25T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-26T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-27T00:00:00.000Z",
                              "ces_score": 0
                            },
                            {
                              "date": "2025-06-28T00:00:00.000Z",
                              "ces_score": 0
                            }
                          ],
                          "exposure_class": [
                            "WAS",
                            "VM"
                          ],
                          "last_data_update_date": "2025-06-28T20:32:23.493Z"
                        }
                      ],
                      "pagination": {
                        "offset": 0,
                        "limit": 10,
                        "total_record_count": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specified invalid parameters or if your request was improperly formatted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "error": "Bad Request",
                      "message": "The requested limit size exceeds the maximum limit of 25"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Returned if the API keys specified in your request are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permission to search exposure view cards."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable One.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Exposure_View_cloud": []
          }
        ]
      }
    },
    "/api/v1/t1/exposure-view/cards/{card_id}": {
      "get": {
        "summary": "Get card details",
        "description": "Retrieves details for the specified exposure view card. By default, the response includes SLA efficiency and trend data for the past 30 days. You can modify the time frame using optional parameters. \n\n**Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class=\"perms-callout\">Requires the Basic [16] user role or the `TONE_UI.TONE_EXPOSURE_CARD.READ`, `LUMIN_EXPOSURE_VIEW.EXPOSURE_CARD.READ` and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>",
        "operationId": "exposure-view-card-details",
        "tags": [
          "Exposure View"
        ],
        "parameters": [
          {
            "name": "card_id",
            "description": "The unique ID of the card to retrieve details for.",
            "explode": false,
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "name": "trend_start_date",
            "description": "The start date for trend data. Use this parameter in combination with the `trend_end_date` parameter to define the time frame for the trend data. \n\nThe date must be specified as a UTC timestamp in ISO 8601 format (e.g., `2025-06-28T00:00:00.000Z`).",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "description": "Start date for trend data in ISO 8601 format, UTC timezone",
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "trend_end_date",
            "description": "The end date for trend data. Use this parameter in combination with the `trend_start_date` parameter to define the time frame for the trend data. \n\nThe date must be specified as a UTC timestamp in ISO 8601 format (e.g., `2025-06-28T00:00:00.000Z`).",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "description": "End date for trend data in ISO 8601 format, UTC timezone",
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "sla_efficiency_start_date",
            "description": "The start date for SLA efficiency data. Use this parameter in combination with the `sla_efficiency_end_date` parameter to define the time frame for the SLA efficiency. \n\nThe date must be specified as a UTC timestamp in ISO 8601 format (e.g., `2025-06-28T00:00:00.000Z`).",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "description": "Start date for SLA efficiency data in ISO 8601 format, UTC timezone",
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "sla_efficiency_end_date",
            "description": "The end date for SLA efficiency data. Use this parameter in combination with the `sla_efficiency_start_date` parameter to define the time frame for the SLA efficiency. \n\nThe date must be specified as a UTC timestamp in ISO 8601 format (e.g., `2025-06-28T00:00:00.000Z`).",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "description": "End date for SLA efficiency data in ISO 8601 format, UTC timezone",
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "sla_breakdown_filter",
            "description": "Filter SLA breakdown data by `REMEDIATED`, `NON_REMEDIATED`, or `ANY`.",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "default": "ANY",
              "enum": [
                "ANY",
                "REMEDIATED",
                "NON_REMEDIATED"
              ],
              "type": "string"
            },
            "style": "form"
          },
          {
            "name": "include_trend_events",
            "description": "Indicates whether or not to include trend events.",
            "explode": true,
            "in": "query",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable One successfully retrieved the data for the specified exposure view card.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_Response-Card-Details"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "2ea46426-7ca3-4fe6-85c3-c16eb2ccd94b",
                      "name": "supercustom",
                      "card_type": "CUSTOM",
                      "is_global_card": false,
                      "ces_scores": {
                        "per_exposure": [],
                        "per_tag": [],
                        "total": {
                          "score": 0,
                          "grade": "A"
                        }
                      },
                      "ces_trend": [
                        {
                          "date": "2025-06-21T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-22T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-23T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-24T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-25T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-26T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-27T00:00:00.000Z",
                          "ces_score": 0
                        },
                        {
                          "date": "2025-06-28T00:00:00.000Z",
                          "ces_score": 0
                        }
                      ],
                      "created_at": "2025-05-02T20:25:05.247Z",
                      "updated_at": "2025-06-10T15:35:17.499Z",
                      "tag_count": 3,
                      "exposures": [
                        "WAS",
                        "VM"
                      ],
                      "sources": [],
                      "last_data_update_date": "2025-06-28T22:32:11.640Z",
                      "exposure_classes_details": {
                        "VM": {
                          "score_trend_metric": {
                            "ces_trend": [
                              {
                                "date": "2025-05-29T00:00:00.000Z",
                                "ces_score": {
                                  "score": 124,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-05-30T00:00:00.000Z",
                                "ces_score": {
                                  "score": 124,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-05-31T00:00:00.000Z",
                                "ces_score": {
                                  "score": 124,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-01T00:00:00.000Z",
                                "ces_score": {
                                  "score": 124,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-02T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-03T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-04T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-05T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-06T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-07T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-08T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-09T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-10T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-11T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-12T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-13T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-14T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-15T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-16T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-17T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-18T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-19T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-20T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-21T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-22T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-23T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-24T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-25T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-26T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-27T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-28T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              }
                            ],
                            "target_score": 1000,
                            "events": []
                          },
                          "sla_efficiency": [
                            {
                              "sla_severity_level": "LOW",
                              "sla_inside_count": 0,
                              "sla_total_count": 65,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 0
                            },
                            {
                              "sla_severity_level": "MEDIUM",
                              "sla_inside_count": 0,
                              "sla_total_count": 234,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 54
                            },
                            {
                              "sla_severity_level": "HIGH",
                              "sla_inside_count": 0,
                              "sla_total_count": 46,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 0
                            },
                            {
                              "sla_severity_level": "CRITICAL",
                              "sla_inside_count": 0,
                              "sla_total_count": 52,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 73
                            },
                            {
                              "sla_severity_level": "OVERALL",
                              "sla_inside_count": 0,
                              "sla_total_count": 397,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 0
                            }
                          ],
                          "sla_breakdown": {
                            "risk_distribution": {
                              "risks_inside_sla": {
                                "number_of_risks": 0,
                                "percentage_of_total": 0
                              },
                              "risks_outside_sla": {
                                "number_of_risks": 0,
                                "percentage_of_total": 0
                              }
                            },
                            "risk_distribution_in_days": {
                              "inside_sla": 397,
                              "outside_sla": 0
                            },
                            "exposure_category_breakdown": [
                              {
                                "exposure_class": "VM",
                                "contribution_percentage": 100
                              }
                            ],
                            "top_affecting_tags": [
                              {
                                "id": "40d64a4e-715c-4adc-9731-b957c21b7dae",
                                "name": "test"
                              },
                              {
                                "id": "6742deeb-f72b-4cc9-b944-64af6ed02c95",
                                "name": "gt1"
                              },
                              {
                                "id": "5ce1f0bd-4133-4fbc-9f1c-69b1ef6d48dc",
                                "name": "gt3"
                              }
                            ]
                          }
                        },
                        "ALL": {
                          "score_trend_metric": {
                            "ces_trend": [
                              {
                                "date": "2025-05-29T00:00:00.000Z",
                                "ces_score": {
                                  "score": 154,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-05-30T00:00:00.000Z",
                                "ces_score": {
                                  "score": 154,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-05-31T00:00:00.000Z",
                                "ces_score": {
                                  "score": 154,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-01T00:00:00.000Z",
                                "ces_score": {
                                  "score": 154,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-02T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-03T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-04T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-05T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-06T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-07T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-08T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-09T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-10T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-11T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-12T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-13T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-14T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-15T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-16T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-17T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-18T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-19T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-20T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-21T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-22T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-23T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-24T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-25T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-26T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-27T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-28T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              }
                            ],
                            "target_score": 202,
                            "events": []
                          },
                          "sla_efficiency": [
                            {
                              "sla_severity_level": "LOW",
                              "sla_inside_count": 65,
                              "sla_total_count": 65,
                              "sla_efficiency": 100,
                              "sla_efficiency_target": 0
                            },
                            {
                              "sla_severity_level": "MEDIUM",
                              "sla_inside_count": 0,
                              "sla_total_count": 234,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 54
                            },
                            {
                              "sla_severity_level": "HIGH",
                              "sla_inside_count": 0,
                              "sla_total_count": 46,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 0
                            },
                            {
                              "sla_severity_level": "CRITICAL",
                              "sla_inside_count": 0,
                              "sla_total_count": 52,
                              "sla_efficiency": 0,
                              "sla_efficiency_target": 73
                            },
                            {
                              "sla_severity_level": "OVERALL",
                              "sla_inside_count": 65,
                              "sla_total_count": 397,
                              "sla_efficiency": 16.3728,
                              "sla_efficiency_target": 0
                            }
                          ],
                          "sla_breakdown": {
                            "risk_distribution": {
                              "risks_inside_sla": {
                                "number_of_risks": 65,
                                "percentage_of_total": 16.3727959697733
                              },
                              "risks_outside_sla": {
                                "number_of_risks": 65,
                                "percentage_of_total": 16.3727959697733
                              }
                            },
                            "risk_distribution_in_days": {
                              "inside_sla": 332,
                              "outside_sla": 65
                            },
                            "exposure_category_breakdown": [
                              {
                                "exposure_class": "VM",
                                "contribution_percentage": 100
                              }
                            ],
                            "top_affecting_tags": [
                              {
                                "id": "40d64a4e-715c-4adc-9731-b957c21b7dae",
                                "name": "test"
                              },
                              {
                                "id": "6742deeb-f72b-4cc9-b944-64af6ed02c95",
                                "name": "gt1"
                              },
                              {
                                "id": "5ce1f0bd-4133-4fbc-9f1c-69b1ef6d48dc",
                                "name": "gt3"
                              }
                            ]
                          }
                        },
                        "WAS": {
                          "score_trend_metric": {
                            "ces_trend": [
                              {
                                "date": "2025-05-29T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-05-30T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-05-31T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-01T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-02T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-03T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-04T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-05T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-06T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-07T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-08T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-09T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-10T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-11T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-12T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-13T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-14T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-15T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-16T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-17T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-18T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-19T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-20T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-21T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-22T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-23T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-24T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-25T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-26T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-27T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              },
                              {
                                "date": "2025-06-28T00:00:00.000Z",
                                "ces_score": {
                                  "score": 0,
                                  "grade": "A"
                                }
                              }
                            ],
                            "target_score": 1000,
                            "events": []
                          }
                        },
                        "CLOUD": {
                          "score_trend_metric": {
                            "ces_trend": [
                              {
                                "date": "2025-05-29T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-05-30T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-05-31T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-01T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-02T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-03T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-04T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-05T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-06T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-07T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-08T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-09T00:00:00.000Z",
                                "ces_score": {
                                  "score": 481,
                                  "grade": "C"
                                }
                              },
                              {
                                "date": "2025-06-10T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-11T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-12T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-13T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-14T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-15T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-16T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-17T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-18T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-19T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-20T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-21T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-22T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-23T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-24T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-25T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-26T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-27T00:00:00.000Z"
                              },
                              {
                                "date": "2025-06-28T00:00:00.000Z"
                              }
                            ],
                            "target_score": 188,
                            "events": []
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if your request specified invalid parameters or if your request was improperly formatted."
          },
          "401": {
            "description": "Returned if the API keys specified in your request are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have permission to retrieve the specified exposure view card."
          },
          "404": {
            "description": "Returned if Tenable One could not find the specified exposure view card.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_ErrorResponse-404"
                },
                "examples": {
                  "response": {
                    "value": {
                      "status": 404,
                      "message": "Not Found",
                      "errors": [
                        {
                          "code": "UNEXPECTED_ERROR",
                          "message": "Card Not found for 2ea46426-7ca3-4fe6-85c3-0c16eb2ccd94c"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable One.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exposure_View_ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Exposure_View_cloud": []
          }
        ]
      }
    },
    "/api/v1/t1/inventory/assets/search": {
      "post": {
        "summary": "Search assets",
        "operationId": "inventory-assets-search",
        "description": "Returns a list of assets in your organization that match the specified search criteria.\n\n**Caution:** This endpoint is available for use but is currently in beta. The response structure is subject to change as we continue to enhance the data model. <div class=\"perms-callout\">Requires the Basic [16] user role or the `ASSET_INVENTORY.CYBER_ASSET_MANAGEMENT.READ` and `AD.TOGGLE_AD.USE` custom role privileges. See [Roles](doc:roles).</div>",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "description": "Specifies extra asset properties to include in the search results. You can provide multiple properties as a comma-separated list. \n\nUse the [List asset properties](ref:inventory-asset-properties-list) endpoint to retrieve a list of valid properties for this parameter. For example, you might include `created_at`, `sources`, and `fqdns` as extra properties.",
            "explode": true,
            "in": "query",
            "name": "extra_properties",
            "required": false,
            "schema": {
              "example": "prop1,prop2,prop3",
              "pattern": "^[a-zA-Z0-9_]+(,[a-zA-Z0-9_]+)*$",
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "The starting record to retrieve. If omitted, the default value is `0`.",
            "explode": true,
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The number of records to retrieve. If omitted, the default value is `1000`. The maximum value is `1000`.",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 1000,
              "type": "integer",
              "maximum": 1000
            },
            "style": "form"
          },
          {
            "description": "The property and direction to sort the results by, in the format `property:direction`. For example: `asset_name:asc` or `acr:desc`",
            "example": "acr:desc",
            "explode": true,
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9_]+:(asc|desc)$",
              "type": "string",
              "default": "aes:desc"
            },
            "style": "form"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inventory_Request-Search-Assets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returned if Tenable One successfully retrieved the list of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inventory_Response-Search-Assets"
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
[...]
