{
  "openapi": "3.0.3",
  "info": {
    "title": "BaseLinker API",
    "version": "1.0.0",
    "description": "BaseLinker is an e-commerce management platform. Its REST API uses a single POST endpoint with a 'method' parameter to distinguish operations across categories: External Storages, Orders, Products Catalog, and Product Storage. All requests use token-based authentication via the X-BLToken header.",
    "x-jentic-source-url": "https://api.baselinker.com",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.baselinker.com",
      "description": "BaseLinker API"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "ExternalStorages",
      "description": "Connect and manage external e-commerce platform storages"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "ProductsCatalog",
      "description": "Products catalog management"
    },
    {
      "name": "ProductStorage",
      "description": "BaseLinker product storage"
    }
  ],
  "paths": {
    "/connector.php": {
      "post": {
        "tags": [
          "ExternalStorages",
          "Orders",
          "ProductsCatalog",
          "ProductStorage"
        ],
        "summary": "Execute BaseLinker API Method",
        "operationId": "executeMethod",
        "description": "Single endpoint for all BaseLinker API operations. The 'method' field in the request body specifies the operation. Common methods include: getExternalStoragesList, getExternalStorageCategories, getExternalStorageProducts, getOrders, addOrder, setOrderFields, addOrderProduct, setOrderPayment, getOrderSources, addInvoice, getInvoices, getProductsList, addProduct, updateProduct, deleteProduct, getInventories, addInventory, getInventoryProductsList, addInventoryProduct, updateInventoryProductStock, etc.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "method"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "description": "API method name",
                    "enum": [
                      "getExternalStoragesList",
                      "getExternalStorageCategories",
                      "getExternalStorageProducts",
                      "getExternalStorageProductsData",
                      "getExternalStorageProductsQuantity",
                      "getExternalStorageProductsPrices",
                      "updateExternalStorageProductsQuantity",
                      "getOrders",
                      "getOrderSources",
                      "getOrderExtraFields",
                      "getOrderTransactionDetails",
                      "getOrdersByEmail",
                      "getOrdersByPhone",
                      "addOrder",
                      "setOrderFields",
                      "addOrderProduct",
                      "setOrderProductFields",
                      "deleteOrderProduct",
                      "setOrderPayment",
                      "setOrderStatus",
                      "setOrderStatuses",
                      "setOrderReceipt",
                      "addOrderInvoiceFile",
                      "addOrderReceiptFile",
                      "getInvoices",
                      "getOrdersByOrderId",
                      "getSeries",
                      "getOrderStatusList",
                      "getInventories",
                      "addInventory",
                      "deleteInventory",
                      "getInventoryProductsList",
                      "getInventoryProductsData",
                      "getInventoryProductsStock",
                      "getInventoryProductsPrices",
                      "addInventoryProduct",
                      "deleteInventoryProduct",
                      "updateInventoryProductsStock",
                      "addInventoryCategory",
                      "deleteInventoryCategory",
                      "getInventoryCategories",
                      "addInventoryManufacturer",
                      "deleteInventoryManufacturer",
                      "getInventoryManufacturers",
                      "getInventoryExtraFields",
                      "getInventoryIntegrations",
                      "getInventoryAvailableTextFieldKeys",
                      "addInventoryPriceGroup",
                      "deleteInventoryPriceGroup",
                      "getInventoryPriceGroups",
                      "addInventoryWarehouse",
                      "deleteInventoryWarehouse",
                      "getInventoryWarehouses",
                      "runProductMacroTrigger",
                      "getProductsList",
                      "getProductsData",
                      "getProductsQuantity",
                      "getProductsPrices",
                      "addProduct",
                      "updateProduct",
                      "deleteProduct",
                      "getCategoriesList",
                      "addCategory",
                      "deleteCategory",
                      "getJournalList",
                      "getCouriersList",
                      "getCourierFields",
                      "getCourierServices",
                      "getCourierAccounts",
                      "createPackage",
                      "createPackageManual",
                      "getOrderPackages",
                      "getCourierPackagesStatusHistory",
                      "deleteCourierPackage",
                      "requestParcelPickup",
                      "getRequestParcelPickupFields"
                    ]
                  },
                  "parameters": {
                    "type": "string",
                    "description": "JSON-encoded parameters for the method"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "ERROR"
                      ],
                      "description": "Operation status"
                    },
                    "error_code": {
                      "type": "string",
                      "description": "Error code if status is ERROR"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Error description if status is ERROR"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BLToken",
        "description": "BaseLinker API token. Generate in My Account > API section."
      }
    }
  }
}
