{
  "openapi": "3.0.4",
  "info": {
    "title": "KSeF API PR",
    "description": "**Wersja API:** 2.1.2 (build 2.1.2-pr-20260223.1+adda5a35009d6a619512a30ceb1b04db50d398df)<br>\n**Klucze publiczne** Ministerstwa Finans\u00f3w (dla danego \u015brodowiska): [Pobierz klucze](#tag/Certyfikaty-klucza-publicznego)<br>\n**Historia zmian:** [Changelog](https://github.com/CIRFMF/ksef-docs/blob/main/api-changelog.md)<br>\n**Rozszerzona dokumentacja API:** [ksef-docs](https://github.com/CIRFMF/ksef-docs/tree/main)\n\n**Adres serwera API:**\n- \u015arodowisko PRODUKCYJNE: `https://api.ksef.mf.gov.pl/v2`\n",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/erbg/ksef-api-pr/v2"
  },
  "servers": [
    {
      "url": "https://api.ksef.mf.gov.pl/v2",
      "description": "\u015arodowisko PRODUKCYJNE"
    }
  ],
  "paths": {
    "/auth/sessions": {
      "get": {
        "tags": [
          "Aktywne sesje"
        ],
        "summary": "Pobranie listy aktywnych sesji",
        "description": "Zwraca list\u0119 aktywnych sesji uwierzytelnienia.\n\n**Sortowanie:**\n\n- startDate (Desc)\n\n",
        "parameters": [
          {
            "name": "x-continuation-token",
            "in": "header",
            "description": "Token s\u0142u\u017c\u0105cy do pobrania kolejnej strony wynik\u00f3w.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Rozmiar strony wynik\u00f3w.",
            "schema": {
              "maximum": 100,
              "minimum": 10,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationListResponse"
                },
                "example": {
                  "continuationToken": "W3siY29tcG9zaXRlVG9rZW4iOnsidG9rZW4iOm51bGwsInJhbmdlIjp7Im1pbiI6IjA1QzFFMCIsIm1heCI6IkZGIn19LCJyZXN1bWVWYWx1ZXMiOlsiMjAyNS0xMC0wM1QxMjoxODo0OS4zNDY2ODQ3WiJdLCJyaWQiOiIzeHd0QVBJWDVRRlVoZ0FBQUFBQUJBPT0iLCJza2lwQ291bnQiOjF9XQ==",
                  "items": [
                    {
                      "referenceNumber": "20251010-AU-19F5E39000-39B5B182BA-B8",
                      "isCurrent": false,
                      "startDate": "2025-10-11T12:23:56.0154302+00:00",
                      "authenticationMethod": "QualifiedSeal",
                      "authenticationMethodInfo": {
                        "category": "XadesSignature",
                        "code": "xades.qualified-seal",
                        "displayName": "Piecz\u0119\u0107 kwalifikowana"
                      },
                      "status": {
                        "code": 200,
                        "description": "Uwierzytelnianie zako\u0144czone sukcesem"
                      },
                      "isTokenRedeemed": true,
                      "refreshTokenValidUntil": "2025-11-28T09:22:13.388+00:00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode       | ExceptionDescription                                | Details                                                     | \n|---------------------|-----------------------------------------------------|-------------------------------------------------------------|\n| 21418               | Przekazany token kontynuacji ma nieprawid\u0142owy format. |   |\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-sort": [
          {
            "field": "startDate",
            "direction": "Desc"
          }
        ]
      }
    },
    "/auth/sessions/current": {
      "delete": {
        "tags": [
          "Aktywne sesje"
        ],
        "summary": "Uniewa\u017cnienie aktualnej sesji uwierzytelnienia",
        "description": "Uniewa\u017cnia sesj\u0119 powi\u0105zan\u0105 z tokenem u\u017cytym do wywo\u0142ania tej operacji.\n\nUniewa\u017cnienie sesji sprawia, \u017ce powi\u0105zany z ni\u0105 refresh token przestaje dzia\u0142a\u0107 i nie mo\u017cna ju\u017c za jego pomoc\u0105 uzyska\u0107 kolejnych access token\u00f3w.\n**Aktywne access tokeny dzia\u0142aj\u0105 do czasu mini\u0119cia ich termin wa\u017cno\u015bci.**\n\nSpos\u00f3b uwierzytelnienia: `RefreshToken` lub `AccessToken`.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/auth/sessions/{referenceNumber}": {
      "delete": {
        "tags": [
          "Aktywne sesje"
        ],
        "summary": "Uniewa\u017cnienie sesji uwierzytelnienia",
        "description": "Uniewa\u017cnia sesj\u0119 o podanym numerze referencyjnym.\n\nUniewa\u017cnienie sesji sprawia, \u017ce powi\u0105zany z ni\u0105 refresh token przestaje dzia\u0142a\u0107 i nie mo\u017cna ju\u017c za jego pomoc\u0105 uzyska\u0107 kolejnych access token\u00f3w.\n**Aktywne access tokeny dzia\u0142aj\u0105 do czasu mini\u0119cia ich termin wa\u017cno\u015bci.**",
        "parameters": [
          {
            "name": "referenceNumber",
            "in": "path",
            "description": "Numer referencyjny sesji uwierzytelnienia.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReferenceNumber"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/limits": {
      "get": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Pobranie danych o limitach certyfikat\u00f3w",
        "description": "Zwraca informacje o limitach certyfikat\u00f3w oraz informacje czy u\u017cytkownik mo\u017ce zawnioskowa\u0107 o certyfikat KSeF.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateLimitsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/enrollments/data": {
      "get": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Pobranie danych do wniosku certyfikacyjnego",
        "description": "Zwraca dane wymagane do przygotowania wniosku certyfikacyjnego PKCS#10.\n\nDane te s\u0105 zwracane na podstawie certyfikatu u\u017cytego w procesie uwierzytelnienia i identyfikuj\u0105 podmiot, kt\u00f3ry sk\u0142ada wniosek o certyfikat.\n\n\n> Wi\u0119cej informacji:\n> - [Pobranie danych do wniosku certyfikacyjnego](https://github.com/CIRFMF/ksef-docs/blob/main/certyfikaty-KSeF.md#2-pobranie-danych-do-wniosku-certyfikacyjnego)\n> - [Przygotowanie wniosku](https://github.com/CIRFMF/ksef-docs/blob/main/certyfikaty-KSeF.md#3-przygotowanie-csr-certificate-signing-request)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateEnrollmentDataResponse"
                },
                "example": {
                  "commonName": "Firma Kowalski Certyfikat",
                  "countryName": "PL",
                  "serialNumber": "ABC123456789",
                  "uniqueIdentifier": "d9d22724-4696-460c-9e5e-b9e3aafb0af3",
                  "organizationName": "Firma Kowalski Sp. z o.o.",
                  "organizationIdentifier": "7762811692"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode       | ExceptionDescription                                                                      | Details |\n|---------------------|-------------------------------------------------------------------------------------------|---------|\n| 25001               | Brak mo\u017cliwo\u015bci pobrania danych do CSR dla wykorzystanego sposobu uwierzytelnienia.       |         |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/enrollments": {
      "post": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Wysy\u0142ka wniosku certyfikacyjnego",
        "description": "Przyjmuje wniosek certyfikacyjny i rozpoczyna jego przetwarzanie.\n\nDozwolone typy kluczy prywatnych:\n- RSA (OID: 1.2.840.113549.1.1.1), d\u0142ugo\u015b\u0107 klucza r\u00f3wna 2048 bit\u00f3w,\n- EC (klucze oparte na krzywych eliptycznych, OID: 1.2.840.10045.2.1), krzywa NIST P-256 (secp256r1)\n\nZalecane jest stosowanie kluczy EC.\n\nDozwolone algorytmy podpisu:\n- RSA PKCS#1 v1.5,\n- RSA PSS,\n- ECDSA (format podpisu zgodny z RFC 3279)\n\nDozwolone funkcje skr\u00f3tu u\u017cyte do podpisu CSR:\n- SHA1,\n- SHA256,\n- SHA384,\n- SHA512\n\n> Wi\u0119cej informacji:\n> - [Wys\u0142anie wniosku certyfikacyjnego](https://github.com/CIRFMF/ksef-docs/blob/main/certyfikaty-KSeF.md#4-wys%C5%82anie-wniosku-certyfikacyjnego)",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "certificateName",
                  "certificateType",
                  "csr"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EnrollCertificateRequest"
                  }
                ]
              },
              "example": {
                "certificateName": "Certyfikat-Auth-004",
                "certificateType": "Authentication",
                "csr": "MIIDJjCCAd4CAQAwgbAxIjAgBgNVBAMMGUZpcm1hIEtvd2Fsc2tpIENlcnR5ZmlrYXQxIjAgBgNVBAoMGUZpcm1hIEtvd2Fsc2tpIFNwLiB6IG8uby4xEzARBgNVBGEMCjc3NjI4MTE2OTIxCzAJBgNVBAYTAlBMMRUwEwYDVQQFEwxBQkMxMjM0NTY3ODkxLTArBgNVBC0MJGQ5ZDIyNzI0LTQ2OTYtNDYwYy05ZTVlLWI5ZTNhYWZiMGFmMzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANZC1hJiB4ZBsxGy/a4yvtOUP0HQxDt7EUZrfKO78+cmI7KCO9aW96yr6O0R928/Y9vmymbgh6KvMUTzZZj24uyxar849O1laor5t8Wv63RDx/I4+9Rt7w+QPPofmpenOokJH+Fm+FDQwo2l07o8SppGfaZpvMak+cDSrh+73wfM37fvPImr9p4ckzzxA9q6f4uoqGqcGSDlSwRjfLQKzWZaEklpZBpY4jeCh54uN3+YLsMQYKdcIbW0Jart1UbwMd/wbHfzFhVmPGOAMMpwVEBw6E4A0CTWIiAX3Alqbx4+IkuqC+gEs3ETTec7eOqhxe9V9cywi7WR+Mz6JO6DJcUCAwEAAaAAMD0GCSqGSIb3DQEBCjAwoA0wCwYJYIZIAWUDBAIBoRowGAYJKoZIhvcNAQEIMAsGCWCGSAFlAwQCAaIDAgEgA4IBAQCJhtF2/2E+JmkWitE/BGbm3NU4fIxr1Z+w0UnHsP+F8n9UDwAnuncG1GH5wZFervldEMooegzEDnYaqxnEUnbZ4wxeAHqpbTZjOOfqrk7o0r66+mXUs5NnyD4M3j3ig98GcvhEdbcNH+RsIwi7FaLNXnOE4SLYL9KvW0geriywWjS+5MmA0Gcn1e4vCD6FeEls8EHzkhrWE+rUsoM5zT2a0OPNXG3fScyOqOZe+OdjT4Y7ScRGy711u3v2X9RoTqQUDfCJ3cob/KRcrzvs1TQVazGZPfcIa6an6SigUvZ7XAMHlUTyOeM4AwKqiEqQ0qfe/HhlDylgZSwulb9u0utT",
                "validFrom": "2025-08-28T09:22:13.388+00:00"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollCertificateResponse"
                },
                "example": {
                  "referenceNumber": "20251010-EH-1B6C9EB000-4B15D3AEB9-89",
                  "timestamp": "2025-10-11T12:23:56.0154302+00:00"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode       | ExceptionDescription                                                                           | Details |\n|---------------------|------------------------------------------------------------------------------------------------|---------|\n| 25002               | Brak mo\u017cliwo\u015bci z\u0142o\u017cenia wniosku certyfikacyjnego dla wykorzystanego sposobu uwierzytelnienia. |         |\n| 25003               | Dane w CSR nie zgadzaj\u0105 si\u0119 z danymi w u\u017cytym wektorze uwierzytelniaj\u0105cym.                     |         |\n| 25004               | Niepoprawny format CSR lub niepoprawny podpis CSR.                                             |         |\n| 25006               | Osi\u0105gni\u0119to limit mo\u017cliwych do z\u0142o\u017cenia wniosk\u00f3w certyfikacyjnych.                              |         |\n| 25007               | Osi\u0105gni\u0119to limit dopuszczalnej liczby posiadanych certyfikat\u00f3w.                                |         |\n| 25010               | Nieprawid\u0142owy typ lub d\u0142ugo\u015b\u0107 klucza.                                                          |         |\n| 25011               | Nieprawid\u0142owy algorytm podpisu CSR.                                                            |         |\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/enrollments/{referenceNumber}": {
      "get": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Pobranie statusu przetwarzania wniosku certyfikacyjnego",
        "description": "Zwraca informacje o statusie wniosku certyfikacyjnego.",
        "parameters": [
          {
            "name": "referenceNumber",
            "in": "path",
            "description": "Numer referencyjny wniosku certyfikacyjnego",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReferenceNumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateEnrollmentStatusResponse"
                },
                "example": {
                  "requestDate": "2025-10-11T12:23:56.0154302+00:00",
                  "status": {
                    "code": 100,
                    "description": "Wniosek przyj\u0119ty do realizacji"
                  }
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode       | ExceptionDescription                                                                           | Details |\n|---------------------|------------------------------------------------------------------------------------------------|---------|\n| 25005               | Wniosek certyfikacyjny o podanym numerze referencyjnym nie istnieje.                           |         |\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/retrieve": {
      "post": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Pobranie certyfikatu lub listy certyfikat\u00f3w",
        "description": "Zwraca certyfikaty o podanych numerach seryjnych w formacie DER zakodowanym w Base64.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "certificateSerialNumbers"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RetrieveCertificatesRequest"
                  }
                ]
              },
              "example": {
                "certificateSerialNumbers": [
                  "0321C82DA41B4362",
                  "0321F21DA462A362"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCertificatesResponse"
                },
                "example": {
                  "certificates": [
                    {
                      "certificate": "AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmJygpKissLS4vMDEyMzQ1Njc4OTo7PD0+P0BBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hZWltcXV5fYGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6e3x9fn+AgYKDhIWGh4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOkpaanqKmqq6ytrq+wsbKztLW2t7i5uru8vb6/wMHCw8TFxsfIycrLzM3Oz9DR0tPU1dbX2Nna29zd3t/g4eLj5OXm5+jp6uvs7e7v8PHy8/T19vf4+fr7/P3+/wABAgMEBQYHCAkKCwwNDg8QERITFBUWFxgZGhscHR4fICEiIyQlJicoKSorLC0uLzAxMjM0NTY3ODk6Ozw9Pj9AQUJDREVGR0hJSktMTU5PUFFSU1RVVldYWVpbXF1eX2BhYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ent8fX5/gIGCg4SFhoeIiYqLjI2Oj5CRkpOUlZaXmJmam5ydnp+goaKjpKWmp6ipqqusra6vsLGys7S1tre4ubq7vL2+v8DBwsPExcbHyMnKy8zNzs/Q0dLT1NXW19jZ2tvc3d7f4OHi4+Tl5ufo6err7O3u7/Dx8vP09fb3+Pn6+/z9/v8AAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAhIiMkJSYnKCkqKywtLi8wMTIzNDU2Nzg5Ojs8PT4/QEFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaW1xdXl9gYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXp7fH1+f4CBgoOEhYaHiImKi4yNjo+QkZKTlJWWl5iZmpucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMzc7P0NHS09TV1tfY2drb3N3e3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f7/AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmJygpKissLS4vMDEyMzQ1Njc4OTo7PD0+P0BBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hZWltcXV5fYGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6e3x9fn+AgYKDhIWGh4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOkpaanqKmqq6ytrq+wsbKztLW2t7i5uru8vb6/wMHCw8TFxsfIycrLzM3Oz9DR0tPU1dbX2Nna29zd3t/g4eLj5OXm5+jp6uvs7e7v8PHy8/T19vf4+fr7/P3+/w==",
                      "certificateName": "Cert 00023",
                      "certificateSerialNumber": "0321C82DA41B4362",
                      "certificateType": "Authentication"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/{certificateSerialNumber}/revoke": {
      "post": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Uniewa\u017cnienie certyfikatu",
        "description": "Uniewa\u017cnia certyfikat o podanym numerze seryjnym.",
        "parameters": [
          {
            "name": "certificateSerialNumber",
            "in": "path",
            "description": "Numer seryjny certyfikatu (w formacie szesnastkowym).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RevokeCertificateRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "| ExceptionCode       | ExceptionDescription                                                                           | Details |\n|---------------------|------------------------------------------------------------------------------------------------|---------|\n| 25008               | Certyfikat o podanym numerze seryjnym nie istnieje.                                            |         |\n| 25009               | Nie mo\u017cna odwo\u0142a\u0107 wskazanego certyfikatu, poniewa\u017c jest ju\u017c odwo\u0142any, zablokowany lub niewa\u017cny.|         |\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/certificates/query": {
      "post": {
        "tags": [
          "Certyfikaty"
        ],
        "summary": "Pobranie listy metadanych certyfikat\u00f3w",
        "description": "Zwraca list\u0119 certyfikat\u00f3w spe\u0142niaj\u0105cych podane kryteria wyszukiwania.\nW przypadku braku podania kryteri\u00f3w wyszukiwania zwr\u00f3cona zostanie nieprzefiltrowana lista.\n\n**Sortowanie:**\n\n- requestDate (Desc)\n\n",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Rozmiar strony wynik\u00f3w",
            "schema": {
              "maximum": 50,
              "minimum": 10,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "description": "Numer strony wynik\u00f3w",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "Kryteria filtrowania",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/QueryCertificatesRequest"
                  }
                ]
              },
              "example": {
                "type": "Offline",
                "status": "Active"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryCertificatesResponse"
                },
                "example": {
                  "certificates": [
                    {
                      "certificateSerialNumber": "018209160C631F1E",
                      "name": "Certyfikat 1",
                      "type": "Authentication",
                      "commonName": "Jan Kowalski",
                      "status": "Active",
                      "subjectIdentifier": {
                        "type": "Nip",
                        "value": "1234445678"
                      },
                      "validFrom": "2025-08-24T14:15:22+00:00",
                      "validTo": "2027-08-24T14:15:22+00:00",
                      "lastUseDate": "2025-08-25T14:15:22+00:00",
                      "requestDate": "2025-08-24T14:15:22+00:00"
                    }
                  ],
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-sort": [
          {
            "field": "requestDate",
            "direction": "Desc"
          }
        ]
      }
    },
    "/security/public-key-certificates": {
      "get": {
        "tags": [
          "Certyfikaty klucza publicznego"
        ],
        "summary": "Pobranie certyfikat\u00f3w",
        "description": "Zwraca informacje o kluczach publicznych u\u017cywanych do szyfrowania danych przesy\u0142anych do systemu KSeF.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicKeyCertificate"
                  }
                },
                "example": [
                  {
                    "certificate": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwocTwdNgt2+PXJ2fcB7k1kn5eFUTXBeep9pH...",
                    "validFrom": "2024-07-11T12:23:56.0154302+00:00",
                    "validTo": "2028-07-11T12:23:56.0154302+00:00",
                    "usage": [
                      "KsefTokenEncryption",
                      "SymmetricKeyEncryption"
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 60 | - | - | -\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "x-rate-limits": {
          "perSecond": 60
        }
      }
    },
    "/limits/context": {
      "get": {
        "tags": [
          "Limity i ograniczenia"
        ],
        "summary": "Pobranie limit\u00f3w dla bie\u017c\u0105cego kontekstu",
        "description": "Zwraca warto\u015bci aktualnie obowi\u0105zuj\u0105cych limit\u00f3w dla bie\u017c\u0105cego kontekstu.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveContextLimits"
                },
                "example": {
                  "onlineSession": {
                    "maxInvoiceSizeInMB": 1,
                    "maxInvoiceWithAttachmentSizeInMB": 3,
                    "maxInvoices": 10000
                  },
                  "batchSession": {
                    "maxInvoiceSizeInMB": 1,
                    "maxInvoiceWithAttachmentSizeInMB": 3,
                    "maxInvoices": 10000
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/limits/subject": {
      "get": {
        "tags": [
          "Limity i ograniczenia"
        ],
        "summary": "Pobranie limit\u00f3w dla bie\u017c\u0105cego podmiotu",
        "description": "Zwraca warto\u015bci aktualnie obowi\u0105zuj\u0105cych limit\u00f3w dla bie\u017c\u0105cego podmiotu.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveSubjectLimits"
                },
                "example": {
                  "enrollment": {
                    "maxEnrollments": 6
                  },
                  "certificate": {
                    "maxCertificates": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/rate-limits": {
      "get": {
        "tags": [
          "Limity i ograniczenia"
        ],
        "summary": "Pobranie aktualnie obowi\u0105zuj\u0105cych limit\u00f3w API",
        "description": "Zwraca warto\u015bci aktualnie obowi\u0105zuj\u0105cych limit\u00f3w ilo\u015bci \u017c\u0105da\u0144 przesy\u0142anych do API.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveApiRateLimits"
                },
                "example": {
                  "onlineSession": {
                    "perSecond": 10,
                    "perMinute": 30,
                    "perHour": 120
                  },
                  "batchSession": {
                    "perSecond": 10,
                    "perMinute": 20,
                    "perHour": 60
                  },
                  "invoiceSend": {
                    "perSecond": 10,
                    "perMinute": 30,
                    "perHour": 180
                  },
                  "invoiceStatus": {
                    "perSecond": 30,
                    "perMinute": 120,
                    "perHour": 1200
                  },
                  "sessionList": {
                    "perSecond": 5,
                    "perMinute": 10,
                    "perHour": 60
                  },
                  "sessionInvoiceList": {
                    "perSecond": 10,
                    "perMinute": 20,
                    "perHour": 200
                  },
                  "sessionMisc": {
                    "perSecond": 10,
                    "perMinute": 120,
                    "perHour": 1200
                  },
                  "invoiceMetadata": {
                    "perSecond": 8,
                    "perMinute": 16,
                    "perHour": 20
                  },
                  "invoiceExport": {
                    "perSecond": 4,
                    "perMinute": 8,
                    "perHour": 20
                  },
                  "invoiceExportStatus": {
                    "perSecond": 10,
                    "perMinute": 60,
                    "perHour": 600
                  },
                  "invoiceDownload": {
                    "perSecond": 8,
                    "perMinute": 16,
                    "perHour": 64
                  },
                  "other": {
                    "perSecond": 10,
                    "perMinute": 30,
                    "perHour": 120
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/permissions/persons/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie osobom fizycznym uprawnie\u0144 do pracy w KSeF",
        "description": "Metoda pozwala na nadanie osobie wskazanej w \u017c\u0105daniu uprawnie\u0144 do pracy w KSeF  \nw kontek\u015bcie bie\u017c\u0105cym.\n            \nW \u017c\u0105daniu okre\u015blane s\u0105 nadawane uprawnienia ze zbioru:  \n- **InvoiceWrite** \u2013 wystawianie faktur,  \n- **InvoiceRead** \u2013 przegl\u0105danie faktur,  \n- **CredentialsManage** \u2013 zarz\u0105dzanie uprawnieniami,  \n- **CredentialsRead** \u2013 przegl\u0105danie uprawnie\u0144,  \n- **Introspection** \u2013 przegl\u0105danie historii sesji i generowanie UPO,  \n- **SubunitManage** \u2013 zarz\u0105dzanie jednostkami podrz\u0119dnymi,  \n- **EnforcementOperations** \u2013 wykonywanie operacji egzekucyjnych.\n            \nMetoda pozwala na wyb\u00f3r dowolnej kombinacji powy\u017cszych uprawnie\u0144.  \nUprawnienie **EnforcementOperations** mo\u017ce by\u0107 nadane wy\u0142\u0105cznie wtedy,  \ngdy podmiot kontekstu ma rol\u0119 **EnforcementAuthority** (organ egzekucyjny)  \nlub **CourtBailiff** (komornik s\u0105dowy).\n\n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadawanie-uprawnie%C5%84-osobom-fizycznym-do-pracy-w-ksef)\n\n**Wymagane uprawnienia**: `CredentialsManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "permissions",
                  "description",
                  "subjectDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PersonPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Pesel",
                  "value": "15062788702"
                },
                "permissions": [
                  "InvoiceRead",
                  "InvoiceWrite",
                  "Introspection",
                  "CredentialsRead"
                ],
                "description": "Opis uprawnienia",
                "subjectDetails": {
                  "subjectDetailsType": "PersonByIdentifier",
                  "personById": {
                    "firstName": "Adam",
                    "lastName": "Abacki"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage"
        ]
      }
    },
    "/permissions/entities/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie podmiotom uprawnie\u0144 do obs\u0142ugi faktur",
        "description": "Metoda pozwala na nadanie podmiotowi wskazanemu w \u017c\u0105daniu uprawnie\u0144 do obs\u0142ugi faktur podmiotu kontekstu.  \nW \u017c\u0105daniu okre\u015blane s\u0105 nadawane uprawnienia ze zbioru:  \n- **InvoiceWrite** \u2013 wystawianie faktur  \n- **InvoiceRead** \u2013 przegl\u0105danie faktur  \n            \nMetoda pozwala na wyb\u00f3r dowolnej kombinacji powy\u017cszych uprawnie\u0144.  \nDla ka\u017cdego uprawnienia mo\u017ce by\u0107 ustawiona flaga **canDelegate**, m\u00f3wi\u0105ca o mo\u017cliwo\u015bci jego dalszego przekazywania poprzez nadawanie w spos\u00f3b po\u015bredni.\n\n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadanie-podmiotom-uprawnie%C5%84-do-obs%C5%82ugi-faktur)\n\n**Wymagane uprawnienia**: `CredentialsManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "permissions",
                  "description",
                  "subjectDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EntityPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Nip",
                  "value": "7762811692"
                },
                "permissions": [
                  {
                    "type": "InvoiceRead",
                    "canDelegate": true
                  },
                  {
                    "type": "InvoiceWrite",
                    "canDelegate": true
                  }
                ],
                "description": "Opis uprawnienia",
                "subjectDetails": {
                  "fullName": "Firma sp. z o.o."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage"
        ]
      }
    },
    "/permissions/authorizations/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie uprawnie\u0144 podmiotowych",
        "description": "Metoda pozwala na nadanie jednego z uprawnie\u0144 podmiotowych do obs\u0142ugi podmiotu kontekstu  podmiotowi wskazanemu w \u017c\u0105daniu.\n\n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadanie-uprawnie%C5%84-podmiotowych)\n\n**Wymagane uprawnienia**: `CredentialsManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "permission",
                  "description",
                  "subjectDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EntityAuthorizationPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Nip",
                  "value": "7762811692"
                },
                "permission": "SelfInvoicing",
                "description": "dzia\u0142anie w imieniu 3393244202 w kontek\u015bcie 7762811692, Firma sp. z o.o.",
                "subjectDetails": {
                  "fullName": "Firma sp. z o.o."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage"
        ]
      }
    },
    "/permissions/indirect/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie uprawnie\u0144 w spos\u00f3b po\u015bredni",
        "description": "Metoda pozwala na nadanie w spos\u00f3b po\u015bredni osobie wskazanej w \u017c\u0105daniu uprawnie\u0144 do obs\u0142ugi faktur innego podmiotu \u2013 klienta.  \nMo\u017ce to by\u0107 jedna z mo\u017cliwo\u015bci:  \n- nadanie uprawnie\u0144 generalnych \u2013 do obs\u0142ugi wszystkich klient\u00f3w  \n- nadanie uprawnie\u0144 selektywnych \u2013 do obs\u0142ugi wskazanego klienta  \n            \nUprawnienie selektywne mo\u017ce by\u0107 nadane wy\u0142\u0105cznie wtedy, gdy klient nada\u0142 wcze\u015bniej podmiotowi bie\u017c\u0105cego kontekstu dowolne uprawnienie z prawem do jego dalszego przekazywania (patrz [POST /v2/permissions/entities/grants](/docs/v2/index.html#tag/Nadawanie-uprawnien/paths/~1permissions~1entities~1grants/post)).  \n            \nW \u017c\u0105daniu okre\u015blane s\u0105 nadawane uprawnienia ze zbioru:  \n- **InvoiceWrite** \u2013 wystawianie faktur  \n- **InvoiceRead** \u2013 przegl\u0105danie faktur  \n            \nMetoda pozwala na wyb\u00f3r dowolnej kombinacji powy\u017cszych uprawnie\u0144.\n\n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadanie-uprawnie%C5%84-w-spos%C3%B3b-po%C5%9Bredni)\n\n**Wymagane uprawnienia**: `CredentialsManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "permissions",
                  "description",
                  "subjectDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/IndirectPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Pesel",
                  "value": "22271569167"
                },
                "targetIdentifier": {
                  "type": "Nip",
                  "value": "5687926712"
                },
                "permissions": [
                  "InvoiceWrite",
                  "InvoiceRead"
                ],
                "description": "praca dla klienta 5687926712; uprawniony PESEL: 22271569167, Adam Abacki; po\u015brednik 3936518395",
                "subjectDetails": {
                  "subjectDetailsType": "PersonByIdentifier",
                  "personById": {
                    "firstName": "Adam",
                    "lastName": "Abacki"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage"
        ]
      }
    },
    "/permissions/subunits/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie uprawnie\u0144 administratora podmiotu podrz\u0119dnego",
        "description": "Metoda pozwala na nadanie wskazanemu w \u017c\u0105daniu podmiotowi lub osobie fizycznej uprawnie\u0144 administratora w kontek\u015bcie:  \n- wskazanego NIP podmiotu podrz\u0119dnego \u2013 wy\u0142\u0105cznie je\u017celi podmiot bie\u017c\u0105cego kontekstu logowania ma rol\u0119 podmiotu nadrz\u0119dnego:\n  - **LocalGovernmentUnit** \n  - **VatGroupUnit**  \n- wskazanego lub utworzonego identyfikatora wewn\u0119trznego  \n            \nWraz z utworzeniem administratora jednostki podrz\u0119dnej tworzony jest identyfikator wewn\u0119trzny sk\u0142adaj\u0105cy si\u0119 z numeru NIP podmiotu kontekstu logowania oraz 5 cyfr unikalnie identyfikuj\u0105cych jednostk\u0119 wewn\u0119trzn\u0105.\nOstatnia cyfra musi by\u0107 poprawn\u0105 sum\u0105 kontroln\u0105, kt\u00f3ra jest obliczana wed\u0142ug poni\u017cszego algorytmu.\n\nAlgorytm u\u017cywa naprzemiennych wag (1\u00d7, 3\u00d7, 1\u00d7, 3\u00d7, ...), sumuje wyniki i zwraca reszt\u0119 z dzielenia przez 10.\n\nPrzyk\u0142ad:\n- Wej\u015bcie: \"6824515772-1234\" (bez cyfry kontrolnej)\n- Pozycja 0 (1. cyfra): 6 \u00d7 1 = 6\n- Pozycja 1 (2. cyfra): 8 \u00d7 3 = 24\n- Pozycja 2 (3. cyfra): 2 \u00d7 1 = 2\n- Pozycja 3 (4. cyfra): 4 \u00d7 3 = 12\n- Pozycja 4 (5. cyfra): 5 \u00d7 1 = 5\n- Pozycja 5 (6. cyfra): 1 \u00d7 3 = 3\n- Pozycja 6 (7. cyfra): 5 \u00d7 1 = 5\n- Pozycja 7 (8. cyfra): 7 \u00d7 3 = 21\n- Pozycja 8 (9. cyfra): 7 \u00d7 1 = 7\n- Pozycja 9 (10. cyfra): 2 \u00d7 3 = 6\n- Pozycja 10 (11. cyfra): 1 \u00d7 1 = 1\n- Pozycja 11 (12. cyfra): 2 \u00d7 3 = 6\n- Pozycja 12 (13. cyfra): 3 \u00d7 1 = 3\n- Pozycja 13 (14. cyfra): 4 \u00d7 3 = 12\n- Suma: 6 + 24 + 2 + 12 + 5 + 3 + 5 + 21 + 7 + 6 + 1 + 6 + 3 + 12 = 113\n- Cyfra kontrolna (15. cyfra): 113 % 10 = 3\n\nW \u017c\u0105daniu podaje si\u0119 r\u00f3wnie\u017c nazw\u0119 tej jednostki.  \n            \nUprawnienia administratora jednostki podrz\u0119dnej obejmuj\u0105:  \n- **CredentialsManage** \u2013 zarz\u0105dzanie uprawnieniami  \n            \nMetoda automatycznie nadaje powy\u017csze uprawnienie, bez konieczno\u015bci podawania go w \u017c\u0105daniu.\n            \n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadanie-uprawnie%C5%84-administratora-podmiotu-podrz%C4%99dnego)\n\n**Wymagane uprawnienia**: `SubunitManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "contextIdentifier",
                  "description",
                  "subjectDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SubunitPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Pesel",
                  "value": "15062788702"
                },
                "contextIdentifier": {
                  "type": "InternalId",
                  "value": "7762811692-12345"
                },
                "description": "Opis uprawnienia",
                "subunitName": "Jednostka 014",
                "subjectDetails": {
                  "subjectDetailsType": "PersonByIdentifier",
                  "personById": {
                    "firstName": "Adam",
                    "lastName": "Abacki"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "SubunitManage"
        ]
      }
    },
    "/permissions/eu-entities/administration/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie uprawnie\u0144 administratora podmiotu unijnego",
        "description": "Metoda pozwala na nadanie wskazanemu w \u017c\u0105daniu podmiotowi lub osobie fizycznej uprawnie\u0144 administratora w kontek\u015bcie z\u0142o\u017conym z identyfikatora NIP podmiotu kontekstu bie\u017c\u0105cego oraz numeru VAT UE podmiotu unijnego wskazanego w \u017c\u0105daniu.  \nWraz z utworzeniem administratora podmiotu unijnego tworzony jest kontekst z\u0142o\u017cony sk\u0142adaj\u0105cy si\u0119 z numeru NIP podmiotu kontekstu logowania oraz wskazanego numeru identyfikacyjnego VAT UE podmiotu unijnego.  \nW \u017c\u0105daniu podaje si\u0119 r\u00f3wnie\u017c nazw\u0119 i adres podmiotu unijnego.  \n            \nJedynym sposobem identyfikacji uprawnianego jest odcisk palca certyfikatu kwalifikowanego:  \n- certyfikat podpisu elektronicznego dla os\u00f3b fizycznych  \n- certyfikat piecz\u0119ci elektronicznej dla podmiot\u00f3w  \n            \nUprawnienia administratora podmiotu unijnego obejmuj\u0105:  \n- **VatEuManage** \u2013 zarz\u0105dzanie uprawnieniami w ramach podmiotu unijnego  \n- **InvoiceWrite** \u2013 wystawianie faktur  \n- **InvoiceRead** \u2013 przegl\u0105danie faktur  \n- **Introspection** \u2013 przegl\u0105danie historii sesji  \n            \nMetoda automatycznie nadaje wszystkie powy\u017csze uprawnienia, bez konieczno\u015bci ich wskazywania w \u017c\u0105daniu.\n            \n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadanie-uprawnie%C5%84-administratora-podmiotu-unijnego)\n\n**Wymagane uprawnienia**: `CredentialsManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "contextIdentifier",
                  "description",
                  "euEntityName",
                  "subjectDetails",
                  "euEntityDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EuEntityAdministrationPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Fingerprint",
                  "value": "CEB3643BAC2C111ADDE971BDA5A80163441867D65389FC0BC0DFF8B4C1CD4E59"
                },
                "contextIdentifier": {
                  "type": "NipVatUe",
                  "value": "7762811692-DE123456789012"
                },
                "description": "Opis uprawnienia",
                "euEntityName": "Firma G.m.b.H.",
                "subjectDetails": {
                  "subjectDetailsType": "PersonByFingerprintWithIdentifier",
                  "personByFpWithId": {
                    "firstName": "Adam",
                    "lastName": "Abacki",
                    "identifier": {
                      "type": "Pesel",
                      "value": "15062788702"
                    }
                  }
                },
                "euEntityDetails": {
                  "fullName": "Firma G.m.b.H.",
                  "address": "Warszawa ul. \u015awi\u0119tokrzyska 4824 00-916 Warszawa"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage"
        ]
      }
    },
    "/permissions/eu-entities/grants": {
      "post": {
        "tags": [
          "Nadawanie uprawnie\u0144"
        ],
        "summary": "Nadanie uprawnie\u0144 reprezentanta podmiotu unijnego",
        "description": "Metoda pozwala na nadanie wskazanemu w \u017c\u0105daniu podmiotowi lub osobie fizycznej uprawnie\u0144 do wystawiania i/lub przegl\u0105dania faktur w kontek\u015bcie z\u0142o\u017conym kontekstu bie\u017c\u0105cego.  \n            \nJedynym sposobem identyfikacji uprawnianego jest odcisk palca certyfikatu kwalifikowanego:  \n- certyfikat podpisu elektronicznego dla os\u00f3b fizycznych  \n- certyfikat piecz\u0119ci elektronicznej dla podmiot\u00f3w  \n            \nW \u017c\u0105daniu okre\u015blane s\u0105 nadawane uprawnienia ze zbioru:  \n- **InvoiceWrite** \u2013 wystawianie faktur  \n- **InvoiceRead** \u2013 przegl\u0105danie faktur  \n            \nMetoda pozwala na wyb\u00f3r dowolnej kombinacji powy\u017cszych uprawnie\u0144.\n\n> Wi\u0119cej informacji:\n> - [Nadawanie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#nadanie-uprawnie%C5%84-reprezentanta-podmiotu-unijnego)\n\n**Wymagane uprawnienia**: `VatUeManage`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectIdentifier",
                  "permissions",
                  "description",
                  "subjectDetails"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EuEntityPermissionsGrantRequest"
                  }
                ]
              },
              "example": {
                "subjectIdentifier": {
                  "type": "Fingerprint",
                  "value": "CEB3643BAC2C111ADDE971BDA5A80163441867D65389FC0BC0DFF8B4C1CD4E59"
                },
                "permissions": [
                  "InvoiceRead",
                  "InvoiceWrite"
                ],
                "description": "Opis uprawnienia",
                "subjectDetails": {
                  "subjectDetailsType": "PersonByFingerprintWithIdentifier",
                  "personByFpWithId": {
                    "firstName": "Adam",
                    "lastName": "Abacki",
                    "identifier": {
                      "type": "Pesel",
                      "value": "15062788702"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "VatUeManage"
        ]
      }
    },
    "/permissions/common/grants/{permissionId}": {
      "delete": {
        "tags": [
          "Odbieranie uprawnie\u0144"
        ],
        "summary": "Odebranie uprawnie\u0144",
        "description": "Metoda pozwala na odebranie uprawnienia o wskazanym identyfikatorze.  \nWymagane jest wcze\u015bniejsze odczytanie uprawnie\u0144 w celu uzyskania  \nidentyfikatora uprawnienia, kt\u00f3re ma zosta\u0107 odebrane.\n\n> Wi\u0119cej informacji:\n> - [Odbieranie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#odebranie-uprawnie%C5%84)\n\n**Wymagane uprawnienia**: `CredentialsManage`, `VatUeManage`, `SubunitManage`.",
        "parameters": [
          {
            "name": "permissionId",
            "in": "path",
            "description": "Id uprawnienia.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PermissionId"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage",
          "VatUeManage",
          "SubunitManage"
        ]
      }
    },
    "/permissions/authorizations/grants/{permissionId}": {
      "delete": {
        "tags": [
          "Odbieranie uprawnie\u0144"
        ],
        "summary": "Odebranie uprawnie\u0144 podmiotowych",
        "description": "Metoda pozwala na odebranie uprawnienia podmiotowego o wskazanym identyfikatorze.  \nWymagane jest wcze\u015bniejsze odczytanie uprawnie\u0144 w celu uzyskania  \nidentyfikatora uprawnienia, kt\u00f3re ma zosta\u0107 odebrane.\n            \n> Wi\u0119cej informacji:\n> - [Odbieranie uprawnie\u0144](https://github.com/CIRFMF/ksef-docs/blob/main/uprawnienia.md#odebranie-uprawnie%C5%84-podmiotowych)\n\n**Wymagane uprawnienia**: `CredentialsManage`.",
        "parameters": [
          {
            "name": "permissionId",
            "in": "path",
            "description": "Id uprawnienia.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PermissionId"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationResponse"
                },
                "example": {
                  "referenceNumber": "20250626-EG-333C814000-C529F710D8-D2"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage"
        ]
      }
    },
    "/permissions/operations/{referenceNumber}": {
      "get": {
        "tags": [
          "Operacje"
        ],
        "summary": "Pobranie statusu operacji",
        "description": "Zwraca status operacji asynchronicznej zwi\u0105zanej z nadaniem lub odebraniem uprawnie\u0144.",
        "parameters": [
          {
            "name": "referenceNumber",
            "in": "path",
            "description": "Numer referencyjny operacji nadania lub odbierania uprawnie\u0144.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ReferenceNumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOperationStatusResponse"
                },
                "example": {
                  "status": {
                    "code": 200,
                    "description": "Operacja zako\u0144czona sukcesem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        }
      }
    },
    "/permissions/attachments/status": {
      "get": {
        "tags": [
          "Operacje"
        ],
        "summary": "Sprawdzenie statusu zgody na wystawianie faktur z za\u0142\u0105cznikiem",
        "description": "Sprawdzenie czy obecny kontekst posiada zgod\u0119 na wystawianie faktur z za\u0142\u0105cznikiem.\n\n**Wymagane uprawnienia**: `CredentialsManage`, `CredentialsRead`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAttachmentPermissionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription | Details |\n|-|-|-|\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 10 | 30 | 120 | other\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 10,
          "perMinute": 30,
          "perHour": 120
        },
        "x-required-permissions": [
          "CredentialsManage",
          "CredentialsRead"
        ]
      }
    },
    "/invoices/ksef/{ksefNumber}": {
      "get": {
        "tags": [
          "Pobieranie faktur"
        ],
        "summary": "Pobranie faktury po numerze KSeF",
        "description": "Zwraca faktur\u0119 o podanym numerze KSeF.\n\n**Wymagane uprawnienia**: `InvoiceRead`.",
        "parameters": [
          {
            "name": "ksefNumber",
            "in": "path",
            "description": "Numer KSeF faktury.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/KsefNumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "x-ms-meta-hash": {
                "description": "Skr\u00f3t SHA-256 faktury, zakodowany w formacie Base64",
                "schema": {
                  "$ref": "#/components/schemas/Sha256HashBase64"
                }
              }
            },
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "| ExceptionCode | ExceptionDescription                                      | Details                                                                                                                        | \n|---------------|-----------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------|\n| 21164         | Faktura o podanym identyfikatorze nie istnieje.           | Faktura o numerze KSeF {ksefNumber} nie zosta\u0142a znaleziona.                                                                    |\n| 21165         | Faktura o podanym numerze KSeF nie jest jeszcze dost\u0119pna. | Faktura o numerze KSeF {ksefNumber} zosta\u0142a przetworzona, ale nie jest jeszcze dost\u0119pna do pobrania. Spr\u00f3buj ponownie p\u00f3\u017aniej. |\n| 21405 | B\u0142\u0105d walidacji danych wej\u015bciowych. | {tre\u015b\u0107 b\u0142\u0119du z walidatora} |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            },
            "x-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "| | req / s | req / min | req / h | grupa\n| --- | --- | --- | --- | --- |\n| **Limity liczby \u017c\u0105da\u0144** | 8 | 16 | 64 | invoiceDownload\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAfter"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "x-summary": "Too Many Requests"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-rate-limits": {
          "perSecond": 8,
          "perMinute": 16,
          "perHour": 64
        },
        "x-required-permissions": [
          "InvoiceRead"
        ]
      }
    },
    "/invoices/query/metadata": {
      "post": {
        "tags": [
          "Pobieranie faktur"
        ],
        "summary": "Pobranie listy metadanych faktur",
        "description": "Zwraca metadane faktur spe\u0142niaj\u0105cych filtry.\n\nLimit techniczny: \u2264 10 000 rekord\u00f3w na zestaw filtr\u00f3w, po jego osi\u0105gni\u0119ciu <b>isTruncated = true</b> i nale\u017cy ponownie ustawi\u0107 <b>dateRange</b>, u\u017cywaj\u0105c ostatniej daty z wynik\u00f3w (tj. ustawi\u0107 from/to - w zale\u017cno\u015bci od kierunku sortowania, od daty ostatniego zwr\u00f3conego rekordu) oraz wyzerowa\u0107 <b>pageOffset</b>.\n\n`Do scenariusza przyrostowego nale\u017cy u\u017cywa\u0107 daty PermanentStorage oraz kolejno\u015b\u0107 sortowania Asc`.\n            \n<b>Scenariusz pobierania przyrostowego (skr\u00f3t):</b>\n* Gdy <b>hasMore = false</b>, nale\u017cy zako\u0144czy\u0107,\n* Gdy <b>hasMore = true</b> i <b>isTruncated = false</b>, nale\u017cy zwi\u0119kszy\u0107 <b>pageOffset</b>,\n* Gdy <b>hasMore = true</b> i <b>isTruncated = true</b>, nale\u017cy zaw\u0119zi\u0107 <b>dateRange</b> (ustawi\u0107 from od daty ostatniego rekordu), wyzerowa\u0107 <b>pageOffset</b> i kontynuowa\u0107\n\n**Sortowanie:**\n\n- permanentStorageDate | invoicingDate | issueDate (Asc | Desc) - pole wybierane na podstawie filtr\u00f3w\n\n\n\n**Wymagane uprawnienia**: `InvoiceRead`.",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Kolejno\u015b\u0107 sortowania wynik\u00f3w.\n| Warto\u015b\u0107 | Opis |\n| --- | --- |\n| Asc | Sortowanie rosn\u0105co. |\n| Desc | Sortowanie malej\u0105co. |\n",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "description": "| Warto\u015b\u0107 | Opis |\n| --- | --- |\n| Asc | Sortowanie rosn\u0105co. |\n| Desc | Sortowanie malej\u0105co. |\n",
              "default": "Asc"
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "description": "Indeks pierwszej strony wynik\u00f3w (0 = pierwsza strona).",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Rozmiar strony wynik\u00f3w.",
            "schema": {
              "maximum": 250,
              "minimum": 10,
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "description": "Kryteria filtrowania.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "subjectType",
                  "dateRange"
                ],
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InvoiceQueryFilters"
                  }
                ]
              },
              "example": {
                "subjectType": "Subject1",
                "dateRange": {
                  "dateType": "PermanentStorage",
                  "from": "2025-08-28T09:22:13.388+00:00",
                  "to": "2025-09-28T09:24:13.388+00:00"
                },
                "amount": {
                  "type": "Brutto",
                  "from": 100.5,
                  "to": 250
                },
                "currencyCodes": [
                  "PLN",
                  "EUR"
                ],
                "invoicingMode": "Online",
                "formType": "FA",
                "invoiceTypes": [
                  "Vat"
                ],
                "hasAttachment": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryInvoicesMetadataResponse"
                },
                "example": {
                  "hasMore": false,
                  "isTruncated": false,
                  "permanentStorageHwmDate": "2025-08-28T09:23:55.388+00:00",
                  "invoices": [
                    {
                      "ksefNumber": "5555555555-20250828-010080615740-E4",
                      "invoiceNumber": "FA/KUDYO1a7dddfe-610e-4843-84ba-6b887e35266e",
                      "issueDate": "2025-08-27",
                      "invoicingDate": "2025-08-28T09:22:13.3881234+00:00",
                      "acquisitionDate": "2025-08-28T09:22:56.3881234+00:00",
                      "permanentStorageDate": "2025-08-28T09:23:01.388123+00:00",
                      "seller": {
                        "nip": "5555555555",
                        "name": "Test Company 1"
                      },
                      "buyer": {
                        "identifier": {
                          "type": "Nip",
                          "value": "7352765225"
                        },
                        "name": "Test Company 4"
                      },
                      "netAmount": 35260.63,
                      "grossAmount": 43370.57,
                      "vatAmount": 8109.94,
                      "currency": "PLN",
                      "invoicingMode": "Offline",
                      "invoiceType": "Vat",
                      "formCode": {
                        "systemCode": "FA (3)",
                        "schemaVersion": "1-0E",
                        "value": "FA"
                      },
                      "isSelfInvoicing": false,
                      "hasAttachment": false,
                      "invoiceHash": "mkht+3m5trnfxlTYhq3QFn74LkEO69MFNlsMAkCDSPA=",
                      "thirdSubjects": []
                    },
                    {
                      "ksefNumber": "5555555555-20250828-010080615740-E4",
                      "invoiceNumber": "5265877635-20250925-010020A0A242-0A",
                      "issueDate": "2025-08-28",
                      "invoicingDate": "2025-08-28T10:23:13.3881234+00:00",
                      "acquisitionDate": "2025-08-28T10:23:56.3881234+00:00",
                      "permanentStorageDate": "2025-08-28T10:24:01.388123+00:00",
                      "seller": {
                        "nip": "5555555555",
                        "name": "Test Company 1"
                      },
[...]
