{
  "openapi": "3.0.3",
  "info": {
    "title": "BrowserStack Automate API",
    "description": "BrowserStack Automate REST API for managing automated test sessions, builds, and projects. Use this API to retrieve test results, manage sessions, and view builds.",
    "version": "v1",
    "x-jentic-source-url": "https://www.browserstack.com/docs/automate/api-reference/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.browserstack.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Manage and retrieve Automate projects."
    },
    {
      "name": "Builds",
      "description": "Manage and retrieve test builds."
    },
    {
      "name": "Sessions",
      "description": "Manage and retrieve test sessions."
    },
    {
      "name": "Plan",
      "description": "Retrieve plan information."
    },
    {
      "name": "Browsers",
      "description": "Retrieve available browser configurations."
    }
  ],
  "paths": {
    "/automate/plan.json": {
      "get": {
        "tags": [
          "Plan"
        ],
        "summary": "Get plan details",
        "description": "Returns your current Automate plan details including parallel sessions and queuing.",
        "operationId": "getPlan",
        "responses": {
          "200": {
            "description": "Plan details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/browsers.json": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "Get available browsers",
        "description": "Returns a list of all supported browsers and OS configurations.",
        "operationId": "getBrowsers",
        "responses": {
          "200": {
            "description": "List of browser configurations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Browser"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/projects.json": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List all projects",
        "description": "Returns a list of all Automate projects.",
        "operationId": "listProjects",
        "responses": {
          "200": {
            "description": "List of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/projects/{projectId}.json": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project details",
        "description": "Returns details of a specific project including its builds.",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "Updates the name of a project.",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the project."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "Deletes a project and all its builds and sessions.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/projects/{projectId}/badge_key": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project badge key",
        "description": "Returns the badge key for a project to display status badges.",
        "operationId": "getProjectBadgeKey",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badge key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/builds.json": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "List all builds",
        "description": "Returns a list of recent builds.",
        "operationId": "listBuilds",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of builds to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "done",
                "failed",
                "timeout"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuildWrapper"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/builds/{buildId}.json": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "Get build details",
        "description": "Returns details of a specific build.",
        "operationId": "getBuild",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Builds"
        ],
        "summary": "Update a build",
        "description": "Updates a build name or tag.",
        "operationId": "updateBuild",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "build_tag": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Build updated."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Builds"
        ],
        "summary": "Delete a build",
        "description": "Deletes a build and all its sessions.",
        "operationId": "deleteBuild",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/builds/{buildId}/sessions.json": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List sessions for a build",
        "description": "Returns a list of sessions for a specific build.",
        "operationId": "listSessions",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "done",
                "failed",
                "timeout"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionWrapper"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/sessions/{sessionId}.json": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get session details",
        "description": "Returns details of a specific test session.",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update a session",
        "description": "Updates session status, name, or reason.",
        "operationId": "updateSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Mark the session as passed or failed.",
                    "enum": [
                      "passed",
                      "failed"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the test session."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for failure."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionWrapper"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete a session",
        "description": "Deletes a session.",
        "operationId": "deleteSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/logs": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get session logs",
        "description": "Returns the text logs for a session.",
        "operationId": "getSessionLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session logs.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plan": {
        "type": "object",
        "properties": {
          "automate_plan": {
            "type": "string",
            "description": "Plan name."
          },
          "parallel_sessions_running": {
            "type": "integer",
            "description": "Number of parallel sessions currently running."
          },
          "parallel_sessions_max_allowed": {
            "type": "integer",
            "description": "Maximum allowed parallel sessions."
          },
          "queued_sessions": {
            "type": "integer",
            "description": "Number of queued sessions."
          },
          "queued_sessions_max_allowed": {
            "type": "integer",
            "description": "Maximum allowed queued sessions."
          },
          "team_parallel_sessions_max_allowed": {
            "type": "integer"
          }
        }
      },
      "Browser": {
        "type": "object",
        "properties": {
          "os": {
            "type": "string"
          },
          "os_version": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "browser_version": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "real_mobile": {
            "type": "boolean"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "group_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sub_group_id": {
            "type": "integer"
          }
        }
      },
      "ProjectDetail": {
        "type": "object",
        "properties": {
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "builds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Build"
            }
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "hashed_id": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "done",
              "failed",
              "timeout"
            ]
          },
          "build_tag": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BuildWrapper": {
        "type": "object",
        "properties": {
          "automation_build": {
            "$ref": "#/components/schemas/Build"
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "hashed_id": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "os_version": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "browser_version": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "done",
              "failed",
              "timeout"
            ]
          },
          "reason": {
            "type": "string"
          },
          "build_name": {
            "type": "string"
          },
          "project_name": {
            "type": "string"
          },
          "logs": {
            "type": "string"
          },
          "browser_url": {
            "type": "string"
          },
          "public_url": {
            "type": "string"
          },
          "video_url": {
            "type": "string"
          },
          "browser_console_logs_url": {
            "type": "string"
          },
          "har_logs_url": {
            "type": "string"
          }
        }
      },
      "SessionWrapper": {
        "type": "object",
        "properties": {
          "automation_session": {
            "$ref": "#/components/schemas/Session"
          }
        }
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with BrowserStack username and access key."
      }
    }
  }
}
