{
  "openapi": "3.0.3",
  "info": {
    "title": "Backblaze B2 Cloud Storage Native API",
    "version": "v4",
    "description": "Backblaze B2 Cloud Storage Native API enables uploading, downloading, and managing files and buckets in B2 Cloud Storage. Supports application key management, lifecycle rules, file operations, and large file uploads.",
    "x-jentic-source-url": "https://www.backblaze.com/apidocs/introduction-to-the-b2-native-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.backblazeb2.com",
      "description": "Initial authorization endpoint"
    },
    {
      "url": "{apiUrl}",
      "description": "Dynamic API URL from b2_authorize_account",
      "variables": {
        "apiUrl": {
          "default": "https://api002.backblazeb2.com"
        }
      }
    }
  ],
  "paths": {
    "/b2api/v4/b2_authorize_account": {
      "get": {
        "operationId": "authorizeAccount",
        "summary": "Authorize account and get API URL",
        "description": "Authenticate with application key ID and key. Returns the API URL, download URL, and authorization token for subsequent requests.",
        "tags": [
          "Authorization"
        ],
        "responses": {
          "200": {
            "description": "Authorization successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/b2api/v4/b2_list_buckets": {
      "post": {
        "operationId": "listBuckets",
        "summary": "List buckets",
        "description": "List all buckets in the account or filter by bucket ID/name",
        "tags": [
          "Buckets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "bucketId": {
                    "type": "string"
                  },
                  "bucketName": {
                    "type": "string"
                  },
                  "bucketTypes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "allPublic",
                        "allPrivate",
                        "snapshot",
                        "all"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "buckets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bucket"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/b2api/v4/b2_create_bucket": {
      "post": {
        "operationId": "createBucket",
        "summary": "Create a bucket",
        "tags": [
          "Buckets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "bucketName",
                  "bucketType"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "bucketName": {
                    "type": "string"
                  },
                  "bucketType": {
                    "type": "string",
                    "enum": [
                      "allPublic",
                      "allPrivate"
                    ]
                  },
                  "bucketInfo": {
                    "type": "object"
                  },
                  "corsRules": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "fileLockEnabled": {
                    "type": "boolean"
                  },
                  "defaultServerSideEncryption": {
                    "type": "object"
                  },
                  "defaultRetention": {
                    "type": "object"
                  },
                  "lifecycleRules": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LifecycleRule"
                    }
                  },
                  "replicationConfiguration": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a bucket"
      }
    },
    "/b2api/v4/b2_update_bucket": {
      "post": {
        "operationId": "updateBucket",
        "summary": "Update a bucket",
        "tags": [
          "Buckets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "bucketId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "bucketId": {
                    "type": "string"
                  },
                  "bucketType": {
                    "type": "string",
                    "enum": [
                      "allPublic",
                      "allPrivate"
                    ]
                  },
                  "bucketInfo": {
                    "type": "object"
                  },
                  "corsRules": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "defaultRetention": {
                    "type": "object"
                  },
                  "defaultServerSideEncryption": {
                    "type": "object"
                  },
                  "fileLockEnabled": {
                    "type": "boolean"
                  },
                  "ifRevisionIs": {
                    "type": "integer"
                  },
                  "lifecycleRules": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LifecycleRule"
                    }
                  },
                  "replicationConfiguration": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a bucket"
      }
    },
    "/b2api/v4/b2_delete_bucket": {
      "post": {
        "operationId": "deleteBucket",
        "summary": "Delete a bucket",
        "tags": [
          "Buckets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "bucketId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "bucketId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a bucket"
      }
    },
    "/b2api/v4/b2_get_upload_url": {
      "post": {
        "operationId": "getUploadUrl",
        "summary": "Get upload URL",
        "description": "Get a URL and token for uploading files to a bucket",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bucketId": {
                      "type": "string"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "authorizationToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/b2api/v4/b2_list_file_names": {
      "post": {
        "operationId": "listFileNames",
        "summary": "List file names in a bucket",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  },
                  "startFileName": {
                    "type": "string"
                  },
                  "maxFileCount": {
                    "type": "integer",
                    "default": 100,
                    "maximum": 10000
                  },
                  "prefix": {
                    "type": "string"
                  },
                  "delimiter": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileInfo"
                      }
                    },
                    "nextFileName": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List file names in a bucket"
      }
    },
    "/b2api/v4/b2_list_file_versions": {
      "post": {
        "operationId": "listFileVersions",
        "summary": "List file versions",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  },
                  "startFileName": {
                    "type": "string"
                  },
                  "startFileId": {
                    "type": "string"
                  },
                  "maxFileCount": {
                    "type": "integer",
                    "default": 100,
                    "maximum": 10000
                  },
                  "prefix": {
                    "type": "string"
                  },
                  "delimiter": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileInfo"
                      }
                    },
                    "nextFileName": {
                      "type": "string",
                      "nullable": true
                    },
                    "nextFileId": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List file versions"
      }
    },
    "/b2api/v4/b2_get_file_info": {
      "post": {
        "operationId": "getFileInfo",
        "summary": "Get file info",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get file info"
      }
    },
    "/b2api/v4/b2_delete_file_version": {
      "post": {
        "operationId": "deleteFileVersion",
        "summary": "Delete a file version",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId",
                  "fileName"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a file version"
      }
    },
    "/b2api/v4/b2_hide_file": {
      "post": {
        "operationId": "hideFile",
        "summary": "Hide a file",
        "description": "Hide a file so it doesn't appear in b2_list_file_names",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId",
                  "fileName"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File hidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/b2api/v4/b2_copy_file": {
      "post": {
        "operationId": "copyFile",
        "summary": "Copy a file",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sourceFileId",
                  "fileName"
                ],
                "properties": {
                  "sourceFileId": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "destinationBucketId": {
                    "type": "string"
                  },
                  "range": {
                    "type": "string"
                  },
                  "metadataDirective": {
                    "type": "string",
                    "enum": [
                      "COPY",
                      "REPLACE"
                    ]
                  },
                  "contentType": {
                    "type": "string"
                  },
                  "fileInfo": {
                    "type": "object"
                  },
                  "fileRetention": {
                    "type": "object"
                  },
                  "legalHold": {
                    "type": "string"
                  },
                  "sourceServerSideEncryption": {
                    "type": "object"
                  },
                  "destinationServerSideEncryption": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File copied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Copy a file"
      }
    },
    "/b2api/v4/b2_create_key": {
      "post": {
        "operationId": "createKey",
        "summary": "Create an application key",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "capabilities",
                  "keyName"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "keyName": {
                    "type": "string"
                  },
                  "validDurationInSeconds": {
                    "type": "integer"
                  },
                  "bucketId": {
                    "type": "string"
                  },
                  "namePrefix": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an application key"
      }
    },
    "/b2api/v4/b2_list_keys": {
      "post": {
        "operationId": "listKeys",
        "summary": "List application keys",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "maxKeyCount": {
                    "type": "integer",
                    "default": 100
                  },
                  "startApplicationKeyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApplicationKey"
                      }
                    },
                    "nextApplicationKeyId": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List application keys"
      }
    },
    "/b2api/v4/b2_delete_key": {
      "post": {
        "operationId": "deleteKey",
        "summary": "Delete an application key",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "applicationKeyId"
                ],
                "properties": {
                  "applicationKeyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete an application key"
      }
    },
    "/b2api/v4/b2_start_large_file": {
      "post": {
        "operationId": "startLargeFile",
        "summary": "Start a large file upload",
        "tags": [
          "Large Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId",
                  "fileName",
                  "contentType"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "contentType": {
                    "type": "string"
                  },
                  "fileInfo": {
                    "type": "object"
                  },
                  "fileRetention": {
                    "type": "object"
                  },
                  "legalHold": {
                    "type": "string"
                  },
                  "serverSideEncryption": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Large file started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Start a large file upload"
      }
    },
    "/b2api/v4/b2_get_upload_part_url": {
      "post": {
        "operationId": "getUploadPartUrl",
        "summary": "Get URL for uploading parts",
        "tags": [
          "Large Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload part URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "authorizationToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get URL for uploading parts"
      }
    },
    "/b2api/v4/b2_finish_large_file": {
      "post": {
        "operationId": "finishLargeFile",
        "summary": "Finish a large file upload",
        "tags": [
          "Large Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId",
                  "partSha1Array"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  },
                  "partSha1Array": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File finished",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Finish a large file upload"
      }
    },
    "/b2api/v4/b2_cancel_large_file": {
      "post": {
        "operationId": "cancelLargeFile",
        "summary": "Cancel a large file upload",
        "tags": [
          "Large Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel a large file upload"
      }
    },
    "/b2api/v4/b2_list_parts": {
      "post": {
        "operationId": "listParts",
        "summary": "List parts of a large file",
        "tags": [
          "Large Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileId"
                ],
                "properties": {
                  "fileId": {
                    "type": "string"
                  },
                  "startPartNumber": {
                    "type": "integer"
                  },
                  "maxPartCount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parts list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileId": {
                            "type": "string"
                          },
                          "partNumber": {
                            "type": "integer"
                          },
                          "contentLength": {
                            "type": "integer"
                          },
                          "contentSha1": {
                            "type": "string"
                          },
                          "contentMd5": {
                            "type": "string"
                          },
                          "uploadTimestamp": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "nextPartNumber": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List parts of a large file"
      }
    },
    "/b2api/v4/b2_list_unfinished_large_files": {
      "post": {
        "operationId": "listUnfinishedLargeFiles",
        "summary": "List unfinished large files",
        "tags": [
          "Large Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bucketId"
                ],
                "properties": {
                  "bucketId": {
                    "type": "string"
                  },
                  "namePrefix": {
                    "type": "string"
                  },
                  "startFileId": {
                    "type": "string"
                  },
                  "maxFileCount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unfinished files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileInfo"
                      }
                    },
                    "nextFileId": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List unfinished large files"
      }
    },
    "/b2api/v4/b2_download_file_by_id": {
      "get": {
        "operationId": "downloadFileById",
        "summary": "Download a file by ID",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Byte range for partial download"
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Download a file by ID"
      }
    },
    "/file/{bucketName}/{fileName}": {
      "get": {
        "operationId": "downloadFileByName",
        "summary": "Download a file by name",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "Partial content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Download a file by name"
      }
    }
  },
  "components": {
    "schemas": {
      "AuthorizationResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "authorizationToken": {
            "type": "string"
          },
          "allowed": {
            "type": "object",
            "properties": {
              "capabilities": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "bucketId": {
                "type": "string",
                "nullable": true
              },
              "bucketName": {
                "type": "string",
                "nullable": true
              },
              "namePrefix": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "apiUrl": {
            "type": "string",
            "format": "uri"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri"
          },
          "recommendedPartSize": {
            "type": "integer"
          },
          "absoluteMinimumPartSize": {
            "type": "integer"
          },
          "s3ApiUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Bucket": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "bucketId": {
            "type": "string"
          },
          "bucketName": {
            "type": "string"
          },
          "bucketType": {
            "type": "string",
            "enum": [
              "allPublic",
              "allPrivate",
              "snapshot"
            ]
          },
          "bucketInfo": {
            "type": "object"
          },
          "corsRules": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "fileLockConfiguration": {
            "type": "object"
          },
          "defaultServerSideEncryption": {
            "type": "object"
          },
          "defaultRetention": {
            "type": "object"
          },
          "lifecycleRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifecycleRule"
            }
          },
          "revision": {
            "type": "integer"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "start",
              "upload",
              "hide",
              "folder"
            ]
          },
          "bucketId": {
            "type": "string"
          },
          "contentLength": {
            "type": "integer"
          },
          "contentSha1": {
            "type": "string"
          },
          "contentMd5": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "fileId": {
            "type": "string"
          },
          "fileInfo": {
            "type": "object"
          },
          "fileName": {
            "type": "string"
          },
          "fileRetention": {
            "type": "object"
          },
          "legalHold": {
            "type": "object"
          },
          "serverSideEncryption": {
            "type": "object"
          },
          "uploadTimestamp": {
            "type": "integer"
          }
        }
      },
      "ApplicationKey": {
        "type": "object",
        "properties": {
          "applicationKeyId": {
            "type": "string"
          },
          "keyName": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accountId": {
            "type": "string"
          },
          "expirationTimestamp": {
            "type": "integer",
            "nullable": true
          },
          "bucketId": {
            "type": "string",
            "nullable": true
          },
          "namePrefix": {
            "type": "string",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LifecycleRule": {
        "type": "object",
        "properties": {
          "daysFromHidingToDeleting": {
            "type": "integer",
            "nullable": true
          },
          "daysFromUploadingToHiding": {
            "type": "integer",
            "nullable": true
          },
          "fileNamePrefix": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Application Key ID as username, Application Key as password (for b2_authorize_account only)"
      },
      "authorizationToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Authorization token from b2_authorize_account"
      }
    }
  },
  "security": [
    {
      "authorizationToken": []
    }
  ],
  "tags": [
    {
      "name": "Authorization"
    },
    {
      "name": "Buckets"
    },
    {
      "name": "Files"
    },
    {
      "name": "Keys"
    },
    {
      "name": "Large Files"
    }
  ]
}
