{
  "openapi": "3.0.3",
  "info": {
    "title": "InventoryBase API",
    "version": "1.0.0",
    "description": "InventoryBase is a UK property inspection and inventory management platform. This API allows you to manage properties, inspections, reports, clients, staff, templates, and webhooks using OAuth 2.0 authentication.",
    "x-jentic-source-url": "https://developer.inventorybase.com/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.inventorybase.com",
      "description": "InventoryBase API"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "getOAuthToken",
        "summary": "Exchange authorization code or refresh token for access token",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Exchange authorization code or refresh token for access token"
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the authenticated user's profile",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "oauth2": [
              "profile.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get the authenticated user's profile"
      }
    },
    "/properties": {
      "get": {
        "operationId": "listProperties",
        "summary": "List all properties",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "oauth2": [
              "properties.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by client ID"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full address search"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all properties"
      },
      "post": {
        "operationId": "createProperty",
        "summary": "Create a property",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "oauth2": [
              "properties.write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a property"
      }
    },
    "/properties/{id}": {
      "get": {
        "operationId": "getProperty",
        "summary": "Get a single property",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "oauth2": [
              "properties.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single property"
      },
      "put": {
        "operationId": "updateProperty",
        "summary": "Update a property",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "oauth2": [
              "properties.write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a property"
      },
      "delete": {
        "operationId": "deleteProperty",
        "summary": "Delete a property",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "oauth2": [
              "properties.write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Property deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a property"
      }
    },
    "/inspections": {
      "get": {
        "operationId": "listInspections",
        "summary": "List all inspections",
        "tags": [
          "Inspections"
        ],
        "security": [
          {
            "oauth2": [
              "inspections.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "property_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "staff_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of inspections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all inspections"
      },
      "post": {
        "operationId": "createInspection",
        "summary": "Create an inspection",
        "tags": [
          "Inspections"
        ],
        "security": [
          {
            "oauth2": [
              "inspections.write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InspectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Inspection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an inspection"
      }
    },
    "/inspections/{id}": {
      "get": {
        "operationId": "getInspection",
        "summary": "Get an inspection",
        "tags": [
          "Inspections"
        ],
        "security": [
          {
            "oauth2": [
              "inspections.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inspection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get an inspection"
      }
    },
    "/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List all clients",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "oauth2": [
              "clients.read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all clients"
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create a client",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "oauth2": [
              "clients.write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a client"
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List registered webhooks",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "oauth2": [
              "webhooks.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List registered webhooks"
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Register a webhook",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "oauth2": [
              "webhooks.write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Register a webhook"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://my.inventorybase.com/oauth/authorize",
            "tokenUrl": "https://my.inventorybase.com/oauth/token",
            "scopes": {
              "profile.read": "Read basic profile details",
              "properties.read": "List properties",
              "properties.write": "Manage properties",
              "inspections.read": "List inspections",
              "inspections.write": "Manage inspections",
              "reports.read": "Read inspection reports",
              "reports.write": "Modify inspection reports",
              "clients.read": "List clients",
              "clients.write": "Manage clients",
              "staff.read": "List staff users",
              "staff.write": "Manage staff users",
              "templates.read": "List templates",
              "templates.write": "Manage templates",
              "webhooks.read": "List registered webhooks",
              "webhooks.write": "Manage webhooks",
              "file-share.read": "List file shares",
              "file-share.write": "Manage file shares",
              "configuration.read": "List configurations",
              "configuration.write": "Manage configurations"
            }
          }
        }
      }
    },
    "schemas": {
      "OAuthTokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "Required when grant_type=authorization_code"
          },
          "refresh_token": {
            "type": "string",
            "description": "Required when grant_type=refresh_token"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "description": "Space-separated list of scopes"
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 7200
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company": {
            "type": "string"
          },
          "role": {
            "type": "integer"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "GeoCoords": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "string",
            "nullable": true
          },
          "lng": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "ref": {
            "type": "string",
            "nullable": true
          },
          "parent_property_id": {
            "type": "integer",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "geocoords": {
            "$ref": "#/components/schemas/GeoCoords"
          },
          "furnished": {
            "type": "string",
            "enum": [
              "Unfurnished",
              "Part Furnished",
              "Fully Furnished"
            ]
          },
          "type": {
            "type": "string"
          },
          "detachment": {
            "type": "string",
            "nullable": true
          },
          "no_of_beds": {
            "type": "integer"
          },
          "no_of_baths": {
            "type": "integer"
          },
          "no_of_garages": {
            "type": "integer"
          },
          "parking": {
            "type": "boolean"
          },
          "garden": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "uprn": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client": {
            "$ref": "#/components/schemas/ClientRef"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PropertyRequest": {
        "type": "object",
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "ref": {
            "type": "string"
          },
          "furnished": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "no_of_beds": {
            "type": "integer"
          },
          "no_of_baths": {
            "type": "integer"
          },
          "no_of_garages": {
            "type": "integer"
          },
          "parking": {
            "type": "boolean"
          },
          "garden": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "uprn": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_id": {
            "type": "integer"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PropertyListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          }
        }
      },
      "Inspection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "property_id": {
            "type": "integer"
          },
          "staff_id": {
            "type": "integer",
            "nullable": true
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      },
      "InspectionRequest": {
        "type": "object",
        "required": [
          "property_id",
          "type"
        ],
        "properties": {
          "property_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "staff_id": {
            "type": "integer"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "template_id": {
            "type": "integer"
          }
        }
      },
      "InspectionListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Inspection"
            }
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "ClientRef": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ClientRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "ClientListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "WebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "perPage": {
            "type": "integer"
          },
          "currentPage": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "totalRecords": {
            "type": "integer"
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "prev": {
            "type": "string",
            "nullable": true
          },
          "self": {
            "type": "string"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "last": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Inspections"
    },
    {
      "name": "Profile"
    },
    {
      "name": "Properties"
    },
    {
      "name": "Webhooks"
    }
  ]
}
