{
  "openapi": "3.0.3",
  "info": {
    "title": "CCH SureTax API",
    "version": "1.0.0",
    "description": "CCH SureTax by Wolters Kluwer is a cloud-based tax calculation engine for communications, sales, and use taxes. The API handles real-time tax calculations, tax lookups, and returns compliance data for telecommunications and related industries.",
    "x-jentic-source-url": "https://developer.wolterskluwer.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.cchsuretax.com"
    }
  ],
  "paths": {
    "/tax/calculate": {
      "post": {
        "operationId": "calculateTax",
        "summary": "Calculate Tax",
        "description": "Performs a real-time tax calculation for one or more line items. Returns applicable taxes based on jurisdiction, product type, and transaction details.",
        "tags": [
          "Tax Calculation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxCalculationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCalculationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax/cancel": {
      "post": {
        "operationId": "cancelTax",
        "summary": "Cancel Tax Transaction",
        "description": "Cancels a previously submitted tax calculation transaction.",
        "tags": [
          "Tax Calculation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelTaxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax/adjust": {
      "post": {
        "operationId": "adjustTax",
        "summary": "Adjust Tax Transaction",
        "description": "Adjusts a previously calculated tax transaction (e.g. for credits or corrections).",
        "tags": [
          "Tax Calculation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustTaxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax/rates": {
      "post": {
        "operationId": "getTaxRates",
        "summary": "Get Tax Rates",
        "description": "Returns applicable tax rates for a given jurisdiction and product type.",
        "tags": [
          "Tax Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jurisdiction/lookup": {
      "post": {
        "operationId": "lookupJurisdiction",
        "summary": "Lookup Jurisdiction",
        "description": "Determines the taxing jurisdiction based on address or geocode information.",
        "tags": [
          "Jurisdiction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JurisdictionLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health Check",
        "description": "Returns the health status of the SureTax API.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TaxCalculationRequest": {
        "type": "object",
        "required": [
          "client_number",
          "business_unit",
          "items"
        ],
        "properties": {
          "client_number": {
            "type": "string"
          },
          "business_unit": {
            "type": "string"
          },
          "validation_key": {
            "type": "string"
          },
          "data_year": {
            "type": "string"
          },
          "data_month": {
            "type": "string"
          },
          "return_file_code": {
            "type": "string"
          },
          "total_revenue": {
            "type": "number"
          },
          "client_tracking": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxLineItem"
            }
          }
        }
      },
      "TaxLineItem": {
        "type": "object",
        "properties": {
          "line_number": {
            "type": "string"
          },
          "invoice_number": {
            "type": "string"
          },
          "customer_number": {
            "type": "string"
          },
          "orig_number": {
            "type": "string"
          },
          "term_number": {
            "type": "string"
          },
          "bill_to_number": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "plus4": {
            "type": "string"
          },
          "regulatory_code": {
            "type": "string"
          },
          "tax_situs_rule": {
            "type": "string"
          },
          "trans_type_code": {
            "type": "string"
          },
          "sales_type_code": {
            "type": "string"
          },
          "revenue": {
            "type": "number"
          },
          "units": {
            "type": "integer"
          },
          "unit_type": {
            "type": "string"
          },
          "tax_included_code": {
            "type": "string"
          },
          "tax_exemption_codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TaxCalculationResponse": {
        "type": "object",
        "properties": {
          "successful": {
            "type": "string"
          },
          "response_code": {
            "type": "string"
          },
          "header_message": {
            "type": "string"
          },
          "client_tracking": {
            "type": "string"
          },
          "total_tax": {
            "type": "string"
          },
          "trans_id": {
            "type": "integer"
          },
          "group_list": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "item_list": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CancelTaxRequest": {
        "type": "object",
        "properties": {
          "client_number": {
            "type": "string"
          },
          "validation_key": {
            "type": "string"
          },
          "trans_id": {
            "type": "integer"
          },
          "client_tracking": {
            "type": "string"
          }
        }
      },
      "AdjustTaxRequest": {
        "type": "object",
        "properties": {
          "client_number": {
            "type": "string"
          },
          "validation_key": {
            "type": "string"
          },
          "trans_id": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxLineItem"
            }
          }
        }
      },
      "TaxRateRequest": {
        "type": "object",
        "properties": {
          "client_number": {
            "type": "string"
          },
          "validation_key": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "plus4": {
            "type": "string"
          },
          "regulatory_code": {
            "type": "string"
          },
          "trans_type_code": {
            "type": "string"
          }
        }
      },
      "JurisdictionLookupRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "plus4": {
            "type": "string"
          },
          "geocode": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Jurisdiction"
    },
    {
      "name": "System"
    },
    {
      "name": "Tax Calculation"
    },
    {
      "name": "Tax Lookup"
    }
  ]
}
