{
  "openapi": "3.0.0",
  "info": {
    "title": "MealDeck API",
    "description": "Multi-kitchen food delivery platform API for managing businesses, kitchens, users, customers, menus, and orders",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/selfleaning-0f8/API_design/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mealdeck.com/v1",
      "description": "Sample API base URL"
    }
  ],
  "tags": [
    {
      "name": "Businesses",
      "description": "Business management operations"
    },
    {
      "name": "Kitchens",
      "description": "Kitchen management operations"
    },
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Kitchen Roles",
      "description": "User-kitchen role assignments"
    },
    {
      "name": "Customers",
      "description": "Customer management operations"
    },
    {
      "name": "Customer Addresses",
      "description": "Customer address management"
    },
    {
      "name": "Menus",
      "description": "Menu item management operations"
    },
    {
      "name": "Orders",
      "description": "Order management operations"
    },
    {
      "name": "Order Items",
      "description": "Order item management operations"
    }
  ],
  "paths": {
    "/businesses": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get all businesses",
        "description": "Retrieve a list of all businesses",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Business"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Create a new business",
        "description": "Register a new business",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Business created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/businesses/{business_id}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get business by ID",
        "description": "Retrieve a specific business by its ID",
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          },
          "404": {
            "description": "Business not found"
          }
        }
      },
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Update business",
        "description": "Update an existing business",
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Business updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Business not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Delete business",
        "description": "Soft delete a business",
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business deleted successfully"
          },
          "404": {
            "description": "Business not found"
          }
        }
      }
    },
    "/kitchens": {
      "get": {
        "tags": [
          "Kitchens"
        ],
        "summary": "Get all kitchens",
        "description": "Retrieve a list of all kitchens",
        "parameters": [
          {
            "name": "business_id",
            "in": "query",
            "description": "Filter kitchens by business ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter kitchens by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Kitchen"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Kitchens"
        ],
        "summary": "Create a new kitchen",
        "description": "Add a new kitchen under a business",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KitchenInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Kitchen created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kitchen"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/kitchens/{kitchen_id}": {
      "get": {
        "tags": [
          "Kitchens"
        ],
        "summary": "Get kitchen by ID",
        "description": "Retrieve a specific kitchen by its ID",
        "parameters": [
          {
            "name": "kitchen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kitchen"
                }
              }
            }
          },
          "404": {
            "description": "Kitchen not found"
          }
        }
      },
      "put": {
        "tags": [
          "Kitchens"
        ],
        "summary": "Update kitchen",
        "description": "Update an existing kitchen",
        "parameters": [
          {
            "name": "kitchen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KitchenInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Kitchen updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kitchen"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Kitchen not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Kitchens"
        ],
        "summary": "Delete kitchen",
        "description": "Soft delete a kitchen",
        "parameters": [
          {
            "name": "kitchen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kitchen deleted successfully"
          },
          "404": {
            "description": "Kitchen not found"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get all users",
        "description": "Retrieve a list of all users",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "description": "Filter users by role",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ADMIN",
                "OWNER",
                "STAFF"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user",
        "description": "Register a new user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user by ID",
        "description": "Retrieve a specific user by their ID",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "Update an existing user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Soft delete a user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/kitchen-roles": {
      "get": {
        "tags": [
          "Kitchen Roles"
        ],
        "summary": "Get all kitchen role assignments",
        "description": "Retrieve all user-kitchen role assignments",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kitchen_id",
            "in": "query",
            "description": "Filter by kitchen ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KitchenRole"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Kitchen Roles"
        ],
        "summary": "Assign user to kitchen",
        "description": "Create a new kitchen role assignment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KitchenRoleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Kitchen role assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KitchenRole"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/kitchen-roles/{user_id}/{kitchen_id}": {
      "get": {
        "tags": [
          "Kitchen Roles"
        ],
        "summary": "Get specific kitchen role",
        "description": "Retrieve a specific user-kitchen role assignment",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kitchen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KitchenRole"
                }
              }
            }
          },
          "404": {
            "description": "Kitchen role not found"
          }
        }
      },
      "put": {
        "tags": [
          "Kitchen Roles"
        ],
        "summary": "Update kitchen role",
        "description": "Update a user's role in a kitchen",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kitchen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KitchenRoleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Kitchen role updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KitchenRole"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Kitchen role not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Kitchen Roles"
        ],
        "summary": "Remove user from kitchen",
        "description": "Soft delete a kitchen role assignment",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kitchen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kitchen role deleted successfully"
          },
          "404": {
            "description": "Kitchen role not found"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get all customers",
        "description": "Retrieve a list of all customers",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a new customer",
        "description": "Register a new customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer by ID",
        "description": "Retrieve a specific customer by their ID",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer",
        "description": "Update an existing customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete customer",
        "description": "Soft delete a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted successfully"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/customer-addresses": {
      "get": {
        "tags": [
          "Customer Addresses"
        ],
        "summary": "Get all customer addresses",
        "description": "Retrieve all customer addresses",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "description": "Filter addresses by customer ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerAddress"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Customer Addresses"
        ],
        "summary": "Create a new customer address",
        "description": "Add a new address for a customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Address created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddress"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/customer-addresses/{address_id}": {
      "get": {
        "tags": [
          "Customer Addresses"
        ],
        "summary": "Get address by ID",
        "description": "Retrieve a specific customer address by its ID",
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddress"
                }
              }
            }
          },
          "404": {
            "description": "Address not found"
          }
        }
      },
      "put": {
        "tags": [
          "Customer Addresses"
        ],
        "summary": "Update customer address",
        "description": "Update an existing customer address",
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddress"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Address not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer Addresses"
        ],
        "summary": "Delete customer address",
        "description": "Soft delete a customer address",
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address deleted successfully"
          },
          "404": {
            "description": "Address not found"
          }
        }
      }
    },
    "/menus": {
      "get": {
        "tags": [
          "Menus"
        ],
        "summary": "Get all menu items",
        "description": "Retrieve all menu items",
        "parameters": [
          {
            "name": "kitchen_id",
            "in": "query",
            "description": "Filter menu items by kitchen ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "is_available",
            "in": "query",
            "description": "Filter menu items by availability",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Menu"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Menus"
        ],
        "summary": "Create a new menu item",
        "description": "Add a new menu item to a kitchen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Menu item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Menu"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/menus/{menu_id}": {
      "get": {
        "tags": [
          "Menus"
        ],
        "summary": "Get menu item by ID",
        "description": "Retrieve a specific menu item by its ID",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Menu"
                }
              }
            }
          },
          "404": {
            "description": "Menu item not found"
          }
        }
      },
      "put": {
        "tags": [
          "Menus"
        ],
        "summary": "Update menu item",
        "description": "Update an existing menu item",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Menu item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Menu"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Menu item not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Menus"
        ],
        "summary": "Delete menu item",
        "description": "Soft delete a menu item",
        "parameters": [
          {
            "name": "menu_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Menu item deleted successfully"
          },
          "404": {
            "description": "Menu item not found"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get all orders",
        "description": "Retrieve all orders",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "description": "Filter orders by customer ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kitchen_id",
            "in": "query",
            "description": "Filter orders by kitchen ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "order_status",
            "in": "query",
            "description": "Filter orders by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PLACED",
                "ACCEPTED",
                "REJECTED",
                "OUT_FOR_DELIVERY",
                "DELIVERED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order",
        "description": "Place a new order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order by ID",
        "description": "Retrieve a specific order by its ID",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update order",
        "description": "Update an existing order (mainly for status updates)",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order",
        "description": "Cancel an order (soft delete)",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/order-items": {
      "get": {
        "tags": [
          "Order Items"
        ],
        "summary": "Get all order items",
        "description": "Retrieve all order items",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "description": "Filter order items by order ID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Order Items"
        ],
        "summary": "Add item to order",
        "description": "Add a new item to an order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Order item added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/order-items/{order_item_id}": {
      "get": {
        "tags": [
          "Order Items"
        ],
        "summary": "Get order item by ID",
        "description": "Retrieve a specific order item by its ID",
        "parameters": [
          {
            "name": "order_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderItem"
                }
              }
            }
          },
          "404": {
            "description": "Order item not found"
          }
        }
      },
      "put": {
        "tags": [
          "Order Items"
        ],
        "summary": "Update order item",
        "description": "Update an existing order item",
        "parameters": [
          {
            "name": "order_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Order item not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Order Items"
        ],
        "summary": "Remove order item",
        "description": "Remove an item from an order",
        "parameters": [
          {
            "name": "order_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order item deleted successfully"
          },
          "404": {
            "description": "Order item not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Business": {
        "type": "object",
        "properties": {
          "business_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "registered_address": {
            "type": "string"
          },
          "gstin": {
            "type": "string",
            "description": "GST Identification Number"
          },
          "contact_number": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "BusinessInput": {
        "required": [
          "contact_number",
          "email",
          "gstin",
          "name",
          "registered_address"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "registered_address": {
            "type": "string"
          },
          "gstin": {
            "type": "string"
          },
          "contact_number": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "Kitchen": {
        "type": "object",
        "properties": {
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "business_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "pin_code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "KitchenInput": {
        "required": [
          "address",
          "business_id",
          "name",
          "pin_code",
          "status"
        ],
        "type": "object",
        "properties": {
          "business_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "pin_code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_no": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "OWNER",
              "STAFF"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "UserInput": {
        "required": [
          "email",
          "name",
          "password",
          "phone_no",
          "role"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_no": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "OWNER",
              "STAFF"
            ]
          }
        }
      },
      "KitchenRole": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "enum": [
              "Owner",
              "Staff"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "KitchenRoleInput": {
        "required": [
          "kitchen_id",
          "role",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "enum": [
              "Owner",
              "Staff"
            ]
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_no": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CustomerInput": {
        "required": [
          "email",
          "name",
          "phone_no"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_no": {
            "type": "string"
          }
        }
      },
      "CustomerAddress": {
        "type": "object",
        "properties": {
          "address_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "address_line": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CustomerAddressInput": {
        "required": [
          "address_line",
          "city",
          "customer_id",
          "pincode"
        ],
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "address_line": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          }
        }
      },
      "Menu": {
        "type": "object",
        "properties": {
          "menu_id": {
            "type": "string",
            "format": "uuid"
          },
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "item_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "is_available": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MenuInput": {
        "required": [
          "is_available",
          "item_name",
          "kitchen_id",
          "price"
        ],
        "type": "object",
        "properties": {
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "item_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "is_available": {
            "type": "boolean"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "order_status": {
            "type": "string",
            "enum": [
              "PLACED",
              "ACCEPTED",
              "REJECTED",
              "OUT_FOR_DELIVERY",
              "DELIVERED"
            ]
          },
          "total_price": {
            "type": "number",
            "format": "float"
          },
          "tax": {
            "type": "number",
            "format": "float"
          },
          "payment_mode": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "canceled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "OrderInput": {
        "required": [
          "customer_id",
          "kitchen_id",
          "order_status",
          "payment_mode",
          "tax",
          "total_price"
        ],
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "kitchen_id": {
            "type": "string",
            "format": "uuid"
          },
          "order_status": {
            "type": "string",
            "enum": [
              "PLACED",
              "ACCEPTED",
              "REJECTED",
              "OUT_FOR_DELIVERY",
              "DELIVERED"
            ]
          },
          "total_price": {
            "type": "number",
            "format": "float"
          },
          "tax": {
            "type": "number",
            "format": "float"
          },
          "payment_mode": {
            "type": "string"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "order_item_id": {
            "type": "string",
            "format": "uuid"
          },
          "order_id": {
            "type": "string",
            "format": "uuid"
          },
          "menu_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "OrderItemInput": {
        "required": [
          "menu_id",
          "order_id",
          "price",
          "quantity"
        ],
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "format": "uuid"
          },
          "menu_id": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number",
            "format": "float"
          }
        }
      }
    }
  }
}