{
  "openapi": "3.0.0",
  "info": {
    "title": "ClickMeeting API",
    "version": "v1",
    "description": "ClickMeeting RESTful API for managing conference rooms, sessions, registrations, recordings, and more.",
    "contact": {
      "url": "https://dev.clickmeeting.com"
    },
    "x-jentic-source-url": "https://dev.clickmeeting.com/api-doc/"
  },
  "servers": [
    {
      "url": "https://api.clickmeeting.com/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/conferences/{status}": {
      "get": {
        "operationId": "listConferences",
        "summary": "List conferences by status",
        "description": "Returns list of conferences filtered by status (active or inactive).",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "description": "Meeting status: active or inactive"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination (used with inactive status)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Conference"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences": {
      "post": {
        "operationId": "createConference",
        "summary": "Create new conference room",
        "description": "Adds new conference room of type meeting or webinar.",
        "tags": [
          "Conferences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conference created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room": {
                      "$ref": "#/components/schemas/Conference"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}": {
      "get": {
        "operationId": "getConference",
        "summary": "Get conference room data",
        "description": "Returns details of a particular room.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conference details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "conference": {
                        "$ref": "#/components/schemas/Conference"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "operationId": "updateConference",
        "summary": "Edit conference room",
        "description": "Allows editing of a particular room.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conference updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conference": {
                      "$ref": "#/components/schemas/Conference"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "operationId": "deleteConference",
        "summary": "Delete conference room",
        "description": "Deletes a particular room. Events on air cannot be deleted.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conference deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/conferences/{room_id}/tokens": {
      "get": {
        "operationId": "getAccessTokens",
        "summary": "Get generated access tokens",
        "description": "Downloads the list of generated tokens for the particular event room.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccessToken"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "generateAccessTokens",
        "summary": "Generate access tokens",
        "description": "Generates access tokens for meeting or webinar participants.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "how_many"
                ],
                "properties": {
                  "how_many": {
                    "type": "integer",
                    "description": "Number of tokens to generate. Up to 1000 per request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccessToken"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccessTokens",
        "summary": "Delete access tokens",
        "description": "Deletes (deactivates) access tokens for a specific conference room.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tokens deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions": {
      "get": {
        "operationId": "listConferenceSessions",
        "summary": "List room sessions",
        "description": "Returns list of all sessions of a particular room.",
        "tags": [
          "Room Sessions"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions/{session_id}": {
      "get": {
        "operationId": "getConferenceSession",
        "summary": "Get session data",
        "description": "Returns data of a particular room session, including breakout rooms.",
        "tags": [
          "Room Sessions"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/conferences/{room_id}/sessions/{session_id}/attendees": {
      "get": {
        "operationId": "getSessionAttendees",
        "summary": "Get session attendees",
        "description": "Returns data of all attendees in a particular room session.",
        "tags": [
          "Room Sessions"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attendee"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/registrations/{status}": {
      "get": {
        "operationId": "getRegistrations",
        "summary": "Get registered participants",
        "description": "Returns registered participants of a particular room by registration status.",
        "tags": [
          "Registrations"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of registrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Registration"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/conferences/{room_id}/recordings": {
      "get": {
        "operationId": "getRecordings",
        "summary": "Get recordings list",
        "description": "Returns list of recordings of a particular room.",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recording"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteAllRecordings",
        "summary": "Delete all recordings",
        "description": "Deletes all recordings of a particular room.",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recordings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "STATUS": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "operationId": "addContact",
        "summary": "Add new contact",
        "description": "Adds new contact into account. If an email address already exists, contact details are updated.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "API status ping",
        "description": "Sends PING request to verify API status.",
        "tags": [
          "Other"
        ],
        "responses": {
          "200": {
            "description": "Pong response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ping": {
                      "type": "string",
                      "example": "pong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {
      "Conference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "name_url": {
            "type": "string"
          },
          "room_type": {
            "type": "string",
            "enum": [
              "meeting",
              "webinar"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "access_type": {
            "type": "integer"
          },
          "permanent_room": {
            "type": "boolean"
          },
          "lobby_enabled": {
            "type": "string"
          },
          "lobby_description": {
            "type": "string"
          },
          "room_url": {
            "type": "string"
          },
          "embed_room_url": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "timezone_offset": {
            "type": "integer"
          },
          "starts_at": {
            "type": "string",
            "format": "date-time"
          },
          "ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "registration_enabled": {
            "type": "integer"
          },
          "room_pin": {
            "type": "integer"
          },
          "phone_presenter_pin": {
            "type": "integer"
          },
          "phone_listener_pin": {
            "type": "integer"
          },
          "widgets_hash": {
            "type": "string"
          },
          "recorder_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "access_role_hashes": {
            "$ref": "#/components/schemas/AccessRoleHashes"
          },
          "settings": {
            "$ref": "#/components/schemas/ConferenceSettings"
          }
        }
      },
      "AccessRoleHashes": {
        "type": "object",
        "properties": {
          "listener": {
            "type": "string"
          },
          "presenter": {
            "type": "string"
          },
          "host": {
            "type": "string"
          }
        }
      },
      "ConferenceSettings": {
        "type": "object",
        "properties": {
          "show_on_personal_page": {
            "type": "boolean"
          },
          "thank_you_emails_enabled": {
            "type": "boolean"
          },
          "connection_tester_enabled": {
            "type": "boolean"
          },
          "phonegateway_enabled": {
            "type": "boolean"
          },
          "recorder_autostart_enabled": {
            "type": "boolean"
          },
          "room_invite_button_enabled": {
            "type": "boolean"
          },
          "social_media_sharing_enabled": {
            "type": "boolean"
          },
          "connection_status_enabled": {
            "type": "boolean"
          },
          "thank_you_page_url": {
            "type": "string"
          }
        }
      },
      "CreateConferenceRequest": {
        "type": "object",
        "required": [
          "name",
          "room_type",
          "permanent_room",
          "access_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "room_type": {
            "type": "string",
            "enum": [
              "meeting",
              "webinar"
            ]
          },
          "permanent_room": {
            "type": "boolean"
          },
          "access_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "custom_room_url_name": {
            "type": "string"
          },
          "lobby_description": {
            "type": "string"
          },
          "lobby_enabled": {
            "type": "boolean"
          },
          "starts_at": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "skin_id": {
            "type": "integer"
          },
          "password": {
            "type": "string"
          },
          "registration": {
            "type": "object"
          },
          "settings": {
            "$ref": "#/components/schemas/ConferenceSettings"
          }
        }
      },
      "UpdateConferenceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "room_type": {
            "type": "string",
            "enum": [
              "meeting",
              "webinar"
            ]
          },
          "permanent_room": {
            "type": "boolean"
          },
          "access_type": {
            "type": "integer"
          },
          "lobby_description": {
            "type": "string"
          },
          "starts_at": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "registration": {
            "type": "object"
          },
          "settings": {
            "$ref": "#/components/schemas/ConferenceSettings"
          }
        }
      },
      "AccessToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "sent_to_email": {
            "type": "string",
            "nullable": true
          },
          "first_use_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "max_visitors": {
            "type": "integer"
          },
          "total_visitors": {
            "type": "integer"
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "max_visitors": {
            "type": "integer"
          },
          "total_visitors": {
            "type": "integer"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttendeeBasic"
            }
          }
        }
      },
      "AttendeeBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "email": {
            "type": "string"
          },
          "login": {
            "type": "string"
          }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "rating": {
            "type": "string"
          },
          "rating_comment": {
            "type": "string"
          },
          "device": {
            "type": "string"
          }
        }
      },
      "Registration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "visitor_nickname": {
            "type": "string"
          },
          "registration_date": {
            "type": "string",
            "format": "date-time"
          },
          "registration_confirmed": {
            "type": "string",
            "nullable": true
          },
          "session_id": {
            "type": "integer"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "recording_duration": {
            "type": "integer"
          },
          "recorder_started": {
            "type": "string"
          },
          "recording_file_size": {
            "type": "integer"
          },
          "recording_url": {
            "type": "string"
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 2 country code"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Conferences"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Other"
    },
    {
      "name": "Recordings"
    },
    {
      "name": "Registrations"
    },
    {
      "name": "Room Sessions"
    }
  ]
}
