{
  "openapi": "3.0.1",
  "info": {
    "title": "Version 2 of the GoFormz Rest API.",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jmcintire/API-v2/v2",
    "contact": {
      "name": "API Support"
    },
    "description": "Version 2 of the GoFormz Rest API. - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://api.goformz.com:443/"
    }
  ],
  "paths": {
    "/v2/datasources": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_Get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/datasources"
      },
      "post": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.NewDataSourceBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.NewDataSourceBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.NewDataSourceBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.NewDataSourceBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.NewDataSourceBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.NewDataSourceBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "dataSource",
        "description": "POST /v2/datasources"
      }
    },
    "/v2/datasources/{id}": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/datasources/{id}"
      },
      "delete": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "DELETE /v2/datasources/{id}"
      },
      "patch": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceUpdateBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceUpdateBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceUpdateBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceUpdateBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceUpdateBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceUpdateBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "dataSource",
        "description": "PATCH /v2/datasources/{id}"
      }
    },
    "/v2/datasources/{dataSourceId}/rows": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_GetRows",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowInfo"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowInfo"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/datasources/{dataSourceId}/rows"
      },
      "post": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_PostRow",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "dataSourceRow",
        "description": "POST /v2/datasources/{dataSourceId}/rows"
      }
    },
    "/v2/datasources/{dataSourceId}/rows/batch": {
      "post": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_PostRows",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "rows",
        "description": "POST /v2/datasources/{dataSourceId}/rows/batch"
      },
      "delete": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_DeleteRows",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "ids",
        "description": "DELETE /v2/datasources/{dataSourceId}/rows/batch"
      },
      "patch": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_PatchRows",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "rows",
        "description": "PATCH /v2/datasources/{dataSourceId}/rows/batch"
      }
    },
    "/v2/datasources/{dataSourceId}/rows/{rowId}": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_GetRow",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/datasources/{dataSourceId}/rows/{rowId}"
      },
      "delete": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_DeleteRow",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "DELETE /v2/datasources/{dataSourceId}/rows/{rowId}"
      },
      "patch": {
        "tags": [
          "DataSources"
        ],
        "operationId": "DataSources_PatchRow",
        "parameters": [
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "dataSourceRow",
        "description": "PATCH /v2/datasources/{dataSourceId}/rows/{rowId}"
      }
    },
    "/v2/formz/{formId}/exports": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_Post",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Exports.ExportSubmissionDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Exports.ExportSubmissionDto"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Exports.ExportSubmissionDto"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Exports.ExportSubmissionDto"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Exports.ExportSubmissionDto"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Exports.ExportSubmissionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "exportSubmission",
        "description": "POST /v2/formz/{formId}/exports"
      }
    },
    "/v2/formz/{formId}/exports/{exportId}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_Get",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/formz/{formId}/exports/{exportId}"
      }
    },
    "/v2/files/{id}": {
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "Files_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Files.FileResponseDataDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Files.FileResponseDataDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Files.FileResponseDataDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Files.FileResponseDataDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Files.FileResponseDataDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/files/{id}"
      }
    },
    "/v2/files": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "Files_Post",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "POST /v2/files"
      }
    },
    "/v2/formz": {
      "get": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_Get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/formz"
      },
      "post": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormCreateBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormCreateBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormCreateBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormCreateBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormCreateBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormCreateBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "form",
        "description": "POST /v2/formz"
      }
    },
    "/v2/formz/{id}": {
      "get": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/formz/{id}"
      },
      "delete": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "DELETE /v2/formz/{id}"
      },
      "patch": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormPatchBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormPatchBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormPatchBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormPatchBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormPatchBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormPatchBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "form",
        "description": "PATCH /v2/formz/{id}"
      }
    },
    "/v2/templates/{templateId}/formz": {
      "get": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_GetFormzByTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.V2.Formz.FormInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/templates/{templateId}/formz"
      }
    },
    "/v2/formz/{id}/status": {
      "post": {
        "tags": [
          "Formz"
        ],
        "operationId": "Formz_ChangeStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.ChangeStatusModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.ChangeStatusModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.ChangeStatusModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.ChangeStatusModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.ChangeStatusModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Formz.ChangeStatusModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "status",
        "description": "POST /v2/formz/{id}/status"
      }
    },
    "/v2/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_Get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupListItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupListItemDto"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupListItemDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupListItemDto"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupListItemDto"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/groups"
      }
    },
    "/v2/groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Groups.GroupDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/groups/{id}"
      }
    },
    "/v2/queue/{id}": {
      "get": {
        "tags": [
          "Queue"
        ],
        "operationId": "Queue_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Queue.QueueItemDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Queue.QueueItemDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Queue.QueueItemDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Queue.QueueItemDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Queue.QueueItemDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/queue/{id}"
      }
    },
    "/v2/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "Templates_Get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Templates.TemplateInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Templates.TemplateInfo"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Templates.TemplateInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Templates.TemplateInfo"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Templates.TemplateInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/templates"
      }
    },
    "/v2/templates/{id}": {
      "get": {
        "tags": [
          "Templates"
        ],
        "operationId": "Templates_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Templates.Template"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Templates.Template"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Templates.Template"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Templates.Template"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.V2.Templates.Template"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/templates/{id}"
      }
    },
    "/v2/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "Users_Get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Users.UserListItemDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Users.UserListItemDto"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Users.UserListItemDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Users.UserListItemDto"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Users.UserListItemDto"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/users"
      }
    },
    "/v2/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "Users_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Users.UserDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Users.UserDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Users.UserDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Users.UserDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Users.UserDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/users/{id}"
      }
    },
    "/v2/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_Get",
        "parameters": [
          {
            "name": "entityid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventtype",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                  }
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/webhooks"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookCreateBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookCreateBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookCreateBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookCreateBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookCreateBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookCreateBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "webhook",
        "description": "POST /v2/webhooks"
      }
    },
    "/v2/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookDto"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "GET /v2/webhooks/{id}"
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookUpdateBindingModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookUpdateBindingModel"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookUpdateBindingModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookUpdateBindingModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookUpdateBindingModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Contracts.Dtos.Webhooks.WebhookUpdateBindingModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "webhook",
        "description": "PUT /v2/webhooks/{id}"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "DELETE /v2/webhooks/{id}"
      }
    }
  },
  "components": {
    "schemas": {
      "Contracts.Dtos.DataSources.DataSourcePagingQueryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "copyLocal": {
            "type": "boolean"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "indexes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Contracts.Dtos.DataSources.NewDataSourceBindingModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "copyLocal": {
            "type": "boolean"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "indexes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "System.Object": {
        "type": "object"
      },
      "Contracts.Dtos.DataSources.DataSourceUpdateBindingModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "copyLocal": {
            "type": "boolean"
          },
          "indexes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowPagingQueryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "keyColumn": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowBindingModel": {
        "type": "object",
        "properties": {
          "keyColumn": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowsCreateBindingModel": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowBindingModel"
            }
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowsUpdateBindingModel": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contracts.Dtos.DataSources.DataSourceRowUpdateBindingModel"
            }
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowUpdateBindingModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "keyColumn": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowsDeleteBindingModel": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Contracts.Dtos.DataSources.DataSourceRowDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "keyColumn": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Exports.ExportSubmissionDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "pages": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Files.FileResponseDataDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "contentType": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "linkExpiration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contracts.Dtos.V2.Formz.FormPagingQueryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.V2.Formz.FormInfo": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormStatusDto"
          },
          "lastUpdateDate": {
            "type": "string"
          },
          "assignment": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.AssignmentDto"
          },
          "location": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.LocationDto"
          },
          "templateId": {
            "type": "string"
          },
          "templateUrl": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Formz.FormStatusDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "changeDate": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Formz.AssignmentDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Formz.LocationDto": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "accuracy": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Contracts.Dtos.Formz.FormCreateBindingModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "assignment": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.AssignmentDto"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/System.Object"
            }
          }
        }
      },
      "Contracts.Dtos.V2.Formz.FormDto": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.FormStatusDto"
          },
          "lastUpdateDate": {
            "type": "string"
          },
          "assignment": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.AssignmentDto"
          },
          "location": {
            "$ref": "#/components/schemas/Contracts.Dtos.Formz.LocationDto"
          },
          "templateId": {
            "type": "string"
          },
          "templateUrl": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Contracts.Dtos.Formz.FieldDto"
            }
          }
        }
      },
      "Contracts.Dtos.Formz.FieldDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Formz.FormPatchBindingModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/System.Object"
            }
          }
        }
      },
      "Contracts.Dtos.Formz.ChangeStatusModel": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Groups.GroupPagingQueryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sort": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Contracts.Dtos.Groups.GroupListItemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Groups.GroupDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Queue.QueueItemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "processedDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          },
          "progressIndicator": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Contracts.Dtos.Templates.TemplatePagingQuery": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sort": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Contracts.Dtos.Templates.TemplateInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.V2.Templates.Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "defaultFormName": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Contracts.Dtos.V2.Templates.Field"
            }
          }
        }
      },
      "Contracts.Dtos.V2.Templates.Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Users.UserPagingQueryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "sort": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Contracts.Dtos.Users.UserListItemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Users.UserDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Webhooks.WebhookPagingQueryDto": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "sort": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Contracts.Dtos.Webhooks.WebhookDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "targetUrl": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Webhooks.WebhookCreateBindingModel": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string"
          },
          "targetUrl": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        }
      },
      "Contracts.Dtos.Webhooks.WebhookUpdateBindingModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "targetUrl": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basic": {
        "type": "http",
        "description": "Basic HTTP Authentication",
        "scheme": "basic"
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "DataSources"
    },
    {
      "name": "Exports"
    },
    {
      "name": "Files"
    },
    {
      "name": "Formz"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Queue"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    }
  ]
}
