{
  "openapi": "3.0.3",
  "info": {
    "title": "Breeze PM API",
    "description": "Breeze is a project management tool. The API provides REST access to projects, cards (tasks), lists/stages, todos, time entries, workspaces, swimlanes, comments, and users.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.breeze.pm/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.breeze.pm"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Projects"
    },
    {
      "name": "Workspaces"
    },
    {
      "name": "Cards"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Time Entries"
    },
    {
      "name": "Swimlanes"
    },
    {
      "name": "Todos"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Users"
    }
  ],
  "paths": {
    "/projects.json": {
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects",
        "description": "Get all active projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create Project",
        "description": "Create a new project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created project"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{project_id}.json": {
      "get": {
        "operationId": "getProject",
        "summary": "Get Project",
        "description": "Get a specific project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Project"
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Project"
      }
    },
    "/projects/{project_id}/archive.json": {
      "get": {
        "operationId": "archiveProject",
        "summary": "Archive Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived"
          }
        },
        "description": "Archive Project"
      }
    },
    "/projects/{project_id}/reactivate.json": {
      "get": {
        "operationId": "reactivateProject",
        "summary": "Reactivate Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reactivated"
          }
        },
        "description": "Reactivate Project"
      }
    },
    "/projects/{project_id}/people.json": {
      "get": {
        "operationId": "listProjectPeople",
        "summary": "List Project People",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "description": "List Project People"
      },
      "post": {
        "operationId": "addProjectPeople",
        "summary": "Add People to Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invitees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          }
        },
        "description": "Add People to Project"
      }
    },
    "/projects/{project_id}/people/{user_id}.json": {
      "delete": {
        "operationId": "removeProjectPerson",
        "summary": "Remove Person from Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed"
          }
        },
        "description": "Remove Person from Project"
      }
    },
    "/workspaces.json": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List Workspaces",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "Workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          }
        },
        "description": "List Workspaces"
      },
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create Workspace",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create Workspace"
      }
    },
    "/workspaces/{workspace_id}.json": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Get Workspace",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          }
        },
        "description": "Get Workspace"
      },
      "put": {
        "operationId": "updateWorkspace",
        "summary": "Update Workspace",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Workspace"
      },
      "delete": {
        "operationId": "deleteWorkspace",
        "summary": "Delete Workspace",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Workspace"
      }
    },
    "/projects/{project_id}/cards.json": {
      "get": {
        "operationId": "listCards",
        "summary": "List Cards",
        "description": "Get all cards grouped by stages",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cards by stage"
          }
        }
      },
      "post": {
        "operationId": "createCard",
        "summary": "Create Card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        },
        "description": "Create Card"
      }
    },
    "/v2/projects/{project_id}/cards.json": {
      "get": {
        "operationId": "listCardsV2",
        "summary": "List Cards V2",
        "description": "Paginated flat list, 100/page. Supports creator_id, assigned_id, status, hidden, done filters.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assigned_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/cards.json": {
      "get": {
        "operationId": "listAllCardsV2",
        "summary": "List All Cards V2",
        "description": "All cards across projects",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "creator_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assigned_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/cards/{card_id}.json": {
      "get": {
        "operationId": "getCard",
        "summary": "Get Card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        },
        "description": "Get Card"
      },
      "put": {
        "operationId": "updateCard",
        "summary": "Update Card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Card"
      },
      "delete": {
        "operationId": "deleteCard",
        "summary": "Delete Card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Card"
      }
    },
    "/projects/{project_id}/cards/{card_id}/move.json": {
      "post": {
        "operationId": "moveCard",
        "summary": "Move Card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stage_id": {
                    "type": "integer"
                  },
                  "prev_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved"
          }
        },
        "description": "Move Card"
      }
    },
    "/projects/{project_id}/cards/{card_id}/people.json": {
      "post": {
        "operationId": "addCardPeople",
        "summary": "Add Card People",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invitees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          }
        },
        "description": "Add Card People"
      }
    },
    "/projects/{project_id}/cards/{card_id}/people/{user_id}.json": {
      "delete": {
        "operationId": "removeCardPerson",
        "summary": "Remove Card Person",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed"
          }
        },
        "description": "Remove Card Person"
      }
    },
    "/projects/{project_id}/stages/{stage_id}/cards.json": {
      "get": {
        "operationId": "listCardsInStage",
        "summary": "List Cards in Stage",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cards in stage"
          }
        },
        "description": "List Cards in Stage"
      }
    },
    "/projects/{project_id}/swimlanes/{swimlane_id}/cards.json": {
      "get": {
        "operationId": "listCardsInSwimlane",
        "summary": "List Cards in Swimlane",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "swimlane_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cards in swimlane"
          }
        },
        "description": "List Cards in Swimlane"
      }
    },
    "/projects/{project_id}/stages.json": {
      "get": {
        "operationId": "listStages",
        "summary": "List Stages",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stage"
                  }
                }
              }
            }
          }
        },
        "description": "List Stages"
      },
      "post": {
        "operationId": "createStage",
        "summary": "Create Stage",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create Stage"
      }
    },
    "/projects/{project_id}/stages/{stage_id}.json": {
      "put": {
        "operationId": "updateStage",
        "summary": "Update Stage",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Stage"
      },
      "delete": {
        "operationId": "deleteStage",
        "summary": "Delete Stage",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Stage"
      }
    },
    "/projects/{project_id}/stages/{stage_id}/move.json": {
      "put": {
        "operationId": "moveStage",
        "summary": "Move Stage",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prev_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved"
          }
        },
        "description": "Move Stage"
      }
    },
    "/projects/{project_id}/cards/{card_id}/time_entry.json": {
      "get": {
        "operationId": "listTimeEntries",
        "summary": "List Time Entries",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntry"
                  }
                }
              }
            }
          }
        },
        "description": "List Time Entries"
      },
      "post": {
        "operationId": "createTimeEntry",
        "summary": "Create Time Entry",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tracked"
                ],
                "properties": {
                  "tracked": {
                    "type": "integer"
                  },
                  "logged_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "desc": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create Time Entry"
      }
    },
    "/projects/{project_id}/cards/{card_id}/time_entry/{timeentry_id}.json": {
      "put": {
        "operationId": "updateTimeEntry",
        "summary": "Update Time Entry",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeentry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tracked": {
                    "type": "integer"
                  },
                  "logged_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "desc": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Time Entry"
      },
      "delete": {
        "operationId": "deleteTimeEntry",
        "summary": "Delete Time Entry",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeentry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Time Entry"
      }
    },
    "/running_timers.json": {
      "get": {
        "operationId": "listRunningTimers",
        "summary": "List Running Timers",
        "tags": [
          "Time Entries"
        ],
        "responses": {
          "200": {
            "description": "Running timers"
          }
        },
        "description": "List Running Timers"
      }
    },
    "/projects/{project_id}/swimlanes.json": {
      "get": {
        "operationId": "listSwimlanes",
        "summary": "List Swimlanes",
        "tags": [
          "Swimlanes"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Swimlanes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Swimlane"
                  }
                }
              }
            }
          }
        },
        "description": "List Swimlanes"
      },
      "post": {
        "operationId": "createSwimlane",
        "summary": "Create Swimlane",
        "tags": [
          "Swimlanes"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create Swimlane"
      }
    },
    "/projects/{project_id}/swimlanes/{swimlane_id}.json": {
      "put": {
        "operationId": "updateSwimlane",
        "summary": "Update Swimlane",
        "tags": [
          "Swimlanes"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "swimlane_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Swimlane"
      },
      "delete": {
        "operationId": "deleteSwimlane",
        "summary": "Delete Swimlane",
        "tags": [
          "Swimlanes"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "swimlane_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Swimlane"
      }
    },
    "/projects/{project_id}/cards/{card_id}/todos.json": {
      "get": {
        "operationId": "listTodos",
        "summary": "List Todos",
        "tags": [
          "Todos"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Todos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Todo"
                  }
                }
              }
            }
          }
        },
        "description": "List Todos"
      },
      "post": {
        "operationId": "createTodo",
        "summary": "Create Todo",
        "tags": [
          "Todos"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create Todo"
      }
    },
    "/projects/{project_id}/cards/{card_id}/todos/{todo_id}.json": {
      "put": {
        "operationId": "updateTodo",
        "summary": "Update Todo",
        "tags": [
          "Todos"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "done": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Todo"
      },
      "delete": {
        "operationId": "deleteTodo",
        "summary": "Delete Todo",
        "tags": [
          "Todos"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Todo"
      }
    },
    "/projects/{project_id}/cards/{card_id}/comments.json": {
      "get": {
        "operationId": "listComments",
        "summary": "List Comments",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments"
          }
        },
        "description": "List Comments"
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create Comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create Comment"
      }
    },
    "/projects/{project_id}/cards/{card_id}/comments/{comment_id}.json": {
      "put": {
        "operationId": "updateComment",
        "summary": "Update Comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update Comment"
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete Comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete Comment"
      }
    },
    "/users.json": {
      "get": {
        "operationId": "listUsers",
        "summary": "List Users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "description": "List Users"
      }
    },
    "/users/me.json": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get Current User"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token"
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "budget_amount": {
            "type": "string"
          },
          "budget_hours": {
            "type": "integer",
            "nullable": true
          },
          "hourly_rate": {
            "type": "number"
          },
          "currency_symbol": {
            "type": "string"
          },
          "total_planned": {
            "type": "integer"
          },
          "total_tracked": {
            "type": "integer"
          },
          "star": {
            "type": "boolean"
          },
          "workspace_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "ProjectCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "budget_amount": {
            "type": "string"
          },
          "budget_hours": {
            "type": "integer"
          },
          "hourly_rate": {
            "type": "number"
          },
          "currency_symbol": {
            "type": "string"
          },
          "workspace_id": {
            "type": "integer"
          },
          "invitees": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer"
          },
          "stage_id": {
            "type": "integer"
          },
          "swimlane_id": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "duedate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startdate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "planned_time": {
            "type": "integer"
          },
          "total_tracked": {
            "type": "integer"
          },
          "todos_count": {
            "type": "integer"
          },
          "done_todos": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "CardCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duedate": {
            "type": "string",
            "format": "date-time"
          },
          "startdate": {
            "type": "string",
            "format": "date-time"
          },
          "planned_time": {
            "type": "integer"
          },
          "stage_id": {
            "type": "integer"
          },
          "swimlane_id": {
            "type": "integer"
          },
          "invitees": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Todo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "done": {
            "type": "boolean"
          }
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "card_id": {
            "type": "integer"
          },
          "desc": {
            "type": "string",
            "nullable": true
          },
          "logged_date": {
            "type": "string",
            "format": "date"
          },
          "tracked": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Stage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Swimlane": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          },
          "position": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
