{
  "openapi": "3.0.1",
  "info": {
    "title": "eVATR API",
    "description": "Es gibt die M\u00f6glichkeit der einfachen und qualifizierten Best\u00e4tigungsabfrage.",
    "version": "1.2.3.14.813",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DNCDMITRYIKOSTETSKII/evatr-api/1.2.3.14.813"
  },
  "servers": [
    {
      "url": "https://api.evatr.vies.bzst.de/app",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Unterst\u00fctzende Operationen",
      "description": "Ressourcen der Unterst\u00fctzende Operationen"
    },
    {
      "name": "USt-IdNr. Bestaetigungsabfrage",
      "description": "Ressourcen der Bestaetigungsabfrage"
    }
  ],
  "paths": {
    "/v1/abfrage": {
      "post": {
        "tags": [
          "USt-IdNr. Bestaetigungsabfrage"
        ],
        "summary": "Abfrage der G\u00fcltigkeit einer USt-IdNr. aus einem Mitgliedstaat der EU. ",
        "description": "Es gibt die M\u00f6glichkeit der einfachen und qualifizierten Best\u00e4tigungsabfrage<br>\n<ul>\n    <li>Die <b>einfache Best\u00e4tigungsabfrage</b> gibt nur Gewissheit \u00fcber die G\u00fcltigkeit einer USt-IdNr. Sie wird ausgef\u00fchrt, wenn die Felder <i>anfragendeUstid</i> und <i>angefragteUstid</i> des Request Body besetzt, aber <i>firmenname</i> oder <i>ort</i> unbesetzt sind. In der Best\u00e4tigungsantwort wird der <i>anfrageZeitpunkt</i> und die G\u00fcltigkeitsinformation im <i>status</i> zur\u00fcckgeliefert. Im Fall von Ung\u00fcltigkeit werden Detailinformationen ggfs. auch \u00fcber die Felder <i>gueltigAb</i> und <i>gueltigBis</i> geliefert.<br>\n    </li>\n        <li> Die <b>qualifizierte Best\u00e4tigungsbfrage</b> verifiziert die Korrektheit der Firmendaten. Sie wird ausgef\u00fchrt, wenn zu den Feldern <i>anfragendeUstid</i> und <i>angefragteUstid</i> im Request Body auch mindestens <i>firmenname</i> und <i>ort</i> besetzt sind. Die zus\u00e4tzlichen Felder <i>strasse</i> und <i>plz</i> sind optional. In der Best\u00e4tigungsantwort werden die selben R\u00fcckgabewerte wie bei der einfachen Best\u00e4tigungsabfrage geliefert und im Fall der G\u00fcltigkeit zus\u00e4tzlich die Vergleichsergebnisse erg... zu den besetzten Feldern der Firmendaten aus dem Request Body. Die Vergleichsergebnisse werden durch Buchstaben wie folgt ausgedr\u00fcckt:\n        <ul>\n            <li>A = Die Angaben zu <i>angefragteUstid</i> stimmen mit den registrierten Daten \u00fcberein.</li>\n            <li>B = Die Angaben zu <i>angefragteUstid</i> stimmen mit den registrierten Daten nicht \u00fcberein.</li>\n            <li>C = Die Angaben zu <i>angefragteUstid</i> wurden nicht angefragt.</li>\n            <li>D = Die Angaben zu <i>angefragteUstid</i> wurden vom EU-Mitgliedsstaat nicht mitgeteilt.</li>\n        </ul>\n    </li>\n</ul>\n<ul>\n    <li>&#128161; Mit folgenden Werten k\u00f6nnen Testaufrufe mit Beispiel USt-IdNr erfolgen:\n        <ul>\n            <u>einfache Best\u00e4tigungsanfrage</u>:<br>{<br><strong>&nbsp;\"anfragendeUstid\":\"DE123456789\",<br>&nbsp;\"angefragteUstid\":\"ATU12345678\"</strong><br>}\n        </ul>\n        <ul>\n            <u>qualifizierte Best\u00e4tigungsanfrage</u>:<br>{<br><strong>&nbsp;\"anfragendeUstid\":\"DE123456789\",<br>&nbsp;\"angefragteUstid\":\"ATU12345678\",\"<br>&nbsp;\"firmenname\":\"Musterhaus GmbH &amp; Co KG\",<br>&nbsp;\"strasse\":\"Musterstrasse 22\",<br>&nbsp;\"plz\":\"12345\",<br>&nbsp;\"ort\":\"musterort\"</strong><br>}\n        </ul>\n    </li>\n</ul>",
        "operationId": "abfrageV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bestaetigungsabfrage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "status =\n<ul>\n    <li> <b>evatr-0000:</b> Die angefragte Ust-IdNr. ist zum Anfragezeitpunkt g\u00fcltig.</li>\n    <li> <b>evatr-2002:</b> Die angefragte USt-IdNr. ist zum Anfragezeitpunkt nicht g\u00fcltig. Sie ist erst g\u00fcltig ab dem Datum im Feld gueltigAb.</li>\n    <li> <b>evatr-2006:</b> Die angefragte Ust-IdNr. ist zum Anfragezeitpunkt nicht g\u00fcltig. Sie war g\u00fcltig im Zeitraum, der durch die Werte in den Feldern gueltigAb und gueltigBis beschrieben ist.</li>\n    <li> <b>evatr-2008:</b> Die angefragte Ust-IdNr. ist zum Anfragezeitpunkt g\u00fcltig. F\u00fcr die qualifizierte Best\u00e4tigungsanfrage liegt einer Besonderheit vor. F\u00fcr R\u00fcckfragen wenden Sie sich an das BZSt.</li>\n</ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bestaetigungsantwort"
                }
              }
            }
          },
          "400": {
            "description": "status =\n<ul>\n    <li> <b>evatr-0002:</b> Mindestens eins der Pflichtfelder ist nicht besetzt.</li>\n    <li> <b>evatr-0004:</b> Die anfragende DE Ust-IdNr. ist syntaktisch falsch. Sie passt nicht in das deutsche Erzeugungsschema.</li>\n    <li> <b>evatr-0005:</b> Die angegebene angefragte Ust-IdNr. ist syntaktisch falsch.</li>\n    <li> <b>evatr-0008:</b> Die maximale Anzahl von qualifizierten Best\u00e4tigungsabfragen f\u00fcr diese Session wurde erreicht. Bitte starten Sie erneut mit einer einfachen Best\u00e4tigungsabfrage.</li>\n    <li> <b>evatr-0012:</b> Die angefrage USt-IdNr. ist syntaktisch falsch. Sie passt nicht in das Erzeugungsschema.</li>\n    <li> <b>evatr-2003:</b> Das angegebene L\u00e4nderkennzeichen der angefragten USt-IdNr. ist nicht g\u00fcltig.</li>\n</ul>",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "status =\n<ul>\n    <li> <b>evatr-0006:</b> Die anfragende DE USt-IdNr. ist nicht berechtigt eine DE Ust-IdNr. anzufragen.</li>\n    <li> <b>evatr-0007:</b> Fehlerhafter Aufruf.</li>\n</ul>",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "status =\n<ul>\n    <li> <b>evatr-2001:</b> Die angefragte USt-IdNr. ist zum Anfragezeitpunkt nicht vergeben.</li>\n    <li> <b>evatr-2005:</b> Die angegebene eigene DE Ust-IdNr. ist zum Anfragezeitpunkt nicht g\u00fcltig.</li>\n</ul>",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "status =\n<ul>\n    <li> <b>evatr-2004</b> <br>\n        <b>evatr-2011</b> <br>\n        <b>evatr-3011:</b> Eine Bearbeitung Ihrer Anfrage ist zurzeit nicht m\u00f6glich. Bitte versuchen Sie es sp\u00e4ter noch einmal.\n    </li>\n</ul>",
            "content": {
              "application/json": {}
            }
          },
          "503": {
            "description": "status =\n<ul>\n    <li><b>evatr-0011</b><br>\n        <b>evatr-1001</b><br>\n        <b>evatr-1002</b><br>\n        <b>evatr-1003</b><br>\n        <b>evatr-1004:</b> Eine Bearbeitung Ihrer Anfrage ist zurzeit nicht m\u00f6glich. Bitte versuchen Sie es sp\u00e4ter noch einmal.\n    </li>\n</ul>",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/info/statusmeldungen": {
      "get": {
        "tags": [
          "Unterst\u00fctzende Operationen"
        ],
        "summary": "Abfrage der Meldungstexte zu den Status Codes (evatr-*) ",
        "description": "Zu jedem evatr-* Code aus dem Feld <i>status</i> wird ein Beschreibungstext in Meldung zur\u00fcckgeliefert, der vom Aufrufer z.B. in einer GUI angezeigt werden kann.",
        "operationId": "statusmeldungenV1",
        "responses": {
          "200": {
            "description": "Die Liste der Meldungstexte zu den Status Codes wird in der Response zur\u00fcck geliefert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statusmeldung"
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/eu_mitgliedstaaten": {
      "get": {
        "tags": [
          "Unterst\u00fctzende Operationen"
        ],
        "summary": "Abfrage einer Liste der EU Mitgliedstaaten und ihrer Verf\u00fcgbarkeit",
        "description": "Zu jedem Mitgliedstaat wird der Name, das L\u00e4nderkennzeichen und die aktuelle Verf\u00fcgbarkeit des VIES-Systems im Mitgliedstaat zur\u00fcckgeliefert.",
        "operationId": "euMitgliedstaatenStatusV1",
        "responses": {
          "200": {
            "description": "Die Liste alle Mitgliedstaaten mit Namen, L\u00e4nderkennzeichen und Verf\u00fcgbarkeit wird in der Response zur\u00fcck geliefert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EUMitgliedstaat"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Bestaetigungsabfrage": {
        "required": [
          "anfragendeUstid",
          "angefragteUstid"
        ],
        "type": "object",
        "properties": {
          "anfragendeUstid": {
            "type": "string"
          },
          "angefragteUstid": {
            "type": "string"
          },
          "firmenname": {
            "type": "string"
          },
          "strasse": {
            "type": "string"
          },
          "plz": {
            "type": "string"
          },
          "ort": {
            "type": "string"
          }
        }
      },
      "Bestaetigungsantwort": {
        "required": [
          "anfrageZeitpunkt",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Technische ID zur Bestaetigungsanfrage"
          },
          "anfrageZeitpunkt": {
            "type": "string"
          },
          "gueltigAb": {
            "type": "string"
          },
          "gueltigBis": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "ergFirmenname": {
            "type": "string"
          },
          "ergStrasse": {
            "type": "string"
          },
          "ergPlz": {
            "type": "string"
          },
          "ergOrt": {
            "type": "string"
          }
        }
      },
      "Statusmeldung": {
        "required": [
          "httpcode",
          "kategorie",
          "meldung",
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "kategorie": {
            "type": "string"
          },
          "httpcode": {
            "type": "integer",
            "format": "int32"
          },
          "feld": {
            "type": "string"
          },
          "meldung": {
            "type": "string"
          }
        }
      },
      "EUMitgliedstaat": {
        "required": [
          "alpha2",
          "name",
          "verfuegbar"
        ],
        "type": "object",
        "properties": {
          "alpha2": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "verfuegbar": {
            "type": "boolean"
          }
        }
      }
    }
  }
}