{
  "openapi": "3.0.3",
  "info": {
    "title": "Descope API",
    "description": "Descope API",
    "contact": {
      "name": "Descope",
      "url": "https://descope.com",
      "email": "support@descope.com"
    },
    "version": "0.0.1",
    "x-jentic-source-url": "https://docs.descope.com/"
  },
  "servers": [
    {
      "url": "https://api.descope.com",
      "description": "Descope server"
    }
  ],
  "paths": {
    "/oauth2/v1/apps/agentic/{project_id}/{mcp_server_id}/authorize": {
      "get": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization GET endpoint by MCP server ID",
        "operationId": "ThirdPartyApplicationAuthorizeGetByMcpServerID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mcp_server_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "PKCE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loginHint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prompt",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flow",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flow_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "description": "RFC 8707 - OAuth 2.0 Resource Indicators",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tenant",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application authorization GET endpoint by MCP server ID",
          "keywords": "api, third party apps"
        }
      },
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization POST endpoint by MCP server ID",
        "operationId": "ThirdPartyApplicationAuthorizePOSTByMcpServerID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mcp_server_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationAuthZEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application authorization POST endpoint by MCP server ID",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/agentic/{project_id}/{mcp_server_id}/token": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application token endpoint by MCP server ID",
        "operationId": "ThirdPartyApplicationTokenEndpointByMcpServerID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mcp_server_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationTokenEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OIDCTokenEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application token endpoint by MCP server ID",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/authorize": {
      "get": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization GET endpoint",
        "operationId": "ThirdPartyApplicationAuthorizeGet",
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "PKCE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loginHint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prompt",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flow",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flow_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "description": "RFC 8707 - OAuth 2.0 Resource Indicators",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mcp_server_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "Get Authorization",
        "summary": "Get Authorization Endpoint",
        "x-meta": {
          "title": "Get Authorization Endpoint | Third Party Apps",
          "description": "Third Party application authorization GET endpoint",
          "keywords": "api, third party apps"
        }
      },
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization POST endpoint",
        "operationId": "ThirdPartyApplicationAuthorize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationAuthZEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "Post Authorization",
        "summary": "Post Authorization Endpoint",
        "x-meta": {
          "title": "Post Authorization Endpoint | Third Party Apps",
          "description": "Third Party application authorization POST endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/bc-authorize": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application CIBA backchannel authentication endpoint",
        "operationId": "ThirdPartyApplicationCIBAEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.CIBAAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.CIBAAuthResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application CIBA backchannel authentication endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/device": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application device endpoint",
        "operationId": "ThirdPartyApplicationDeviceEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.OIDCDeviceEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OIDCDeviceEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application device endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/finish-authorize": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization finish endpoint",
        "operationId": "ThirdPartyApplicationFinish",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationFinishEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "Finish Authorization",
        "summary": "Finish Authorization Endpoint",
        "x-meta": {
          "title": "Finish Authorization Endpoint | Third Party Apps",
          "description": "Third Party application authorization finish endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/revoke": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "OIDC revoke endpoint",
        "operationId": "ThirdPartyApplicationRevocationEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationRevocationEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "OIDC revoke endpoint",
        "summary": "OIDC revoke endpoint",
        "x-meta": {
          "title": "OIDC revoke endpoint | Third Party Apps",
          "description": "OIDC revoke endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/token": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application token endpoint",
        "operationId": "ThirdPartyApplicationTokenEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationTokenEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OIDCTokenEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "Third Party application token endpoint",
        "summary": "Third Party application token endpoint",
        "x-meta": {
          "title": "Third Party application token endpoint | Third Party Apps",
          "description": "Third Party application token endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/userinfo": {
      "get": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application Get UserInfo endpoint",
        "operationId": "ThirdPartyApplicationUserInfoEndpointGet",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Can be empty as data arrived on the Authorization header token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationUserInfoEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "Get UserInfo",
        "summary": "Third Party application Get UserInfo endpoint",
        "x-meta": {
          "title": "Third Party application Get UserInfo endpoint | Third Party Apps",
          "description": "Third Party application Get UserInfo endpoint",
          "keywords": "api, third party apps"
        }
      },
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application Post UserInfo endpoint",
        "operationId": "ThirdPartyApplicationUserInfoEndpointPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationUserInfoEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationUserInfoEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "title": "Post UserInfo",
        "summary": "Third Party application Post UserInfo endpoint",
        "x-meta": {
          "title": "Third Party application Post UserInfo endpoint | Third Party Apps",
          "description": "Third Party application Post UserInfo endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/{project_id}/authorize": {
      "get": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization GET endpoint",
        "operationId": "ThirdPartyApplicationAuthorizeGetByProjectID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "PKCE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loginHint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prompt",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flow",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flow_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "description": "RFC 8707 - OAuth 2.0 Resource Indicators",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tenant",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mcp_server_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application authorization GET endpoint",
          "keywords": "api, third party apps"
        }
      },
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application authorization POST endpoint",
        "operationId": "ThirdPartyApplicationAuthorizePostByProjectID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationAuthZEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application authorization POST endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/{project_id}/bc-authorize": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application CIBA backchannel authentication endpoint",
        "operationId": "ThirdPartyApplicationCIBAEndpoint",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.CIBAAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.CIBAAuthResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application CIBA backchannel authentication endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/{project_id}/device": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application device endpoint",
        "operationId": "ThirdPartyApplicationDeviceEndpoint",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.OIDCDeviceEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OIDCDeviceEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application device endpoint",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/{project_id}/revoke": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application revoke endpoint by project ID",
        "operationId": "ThirdPartyApplicationRevocationEndpointByProjectID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationRevocationEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OperationResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application revoke endpoint by project ID",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/{project_id}/token": {
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application token endpoint by project ID",
        "operationId": "ThirdPartyApplicationTokenEndpointByProjectID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationTokenEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.OIDCTokenEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application token endpoint by project ID",
          "keywords": "api, third party apps"
        }
      }
    },
    "/oauth2/v1/apps/{project_id}/userinfo": {
      "get": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application Get UserInfo endpoint by project ID",
        "operationId": "ThirdPartyApplicationUserInfoEndpointGetByProjectID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Can be empty as data arrived on the Authorization header token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationUserInfoEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application Get UserInfo endpoint by project ID",
          "keywords": "api, third party apps"
        }
      },
      "post": {
        "tags": [
          "oauth2"
        ],
        "description": "Third Party application POST UserInfo endpoint by project ID",
        "operationId": "ThirdPartyApplicationUserInfoEndpointPostByProjectID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "Can be empty as data arrived on the Authorization header token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationUserInfoEndpointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.ThirdPartyApplicationUserInfoEndpointResponse"
                }
              }
            }
          }
        },
        "x-publishYaml": "thirdPartyApps",
        "security": [],
        "x-meta": {
          "title": "undefined | Third Party Apps",
          "description": "Third Party application POST UserInfo endpoint by project ID",
          "keywords": "api, third party apps"
        }
      }
    },
    "/v1/auth/accesskey/exchange": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Exchange Key",
        "description": "### Exchange API key for access token\n\nThis API Endpoint will take an API key for the project and provide an access token to be used for accessing the application.\nThe session token JWT token will be valid for the configured [Session Token Timeout](/project-settings#session-token-timeout), and its expiration time will be provided in the `expiration` field of the response object.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Access Key>`\n",
        "operationId": "ExchangeAccessKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ExchangeAccessKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.ExchangeAccessKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdAccessKey": []
          }
        ],
        "x-order": 3,
        "x-publishYaml": "AccessKeys",
        "x-meta": {
          "title": "Exchange Key | Access Keys",
          "description": "Exchange API key for access token",
          "keywords": "api, access keys"
        }
      }
    },
    "/v1/auth/enchantedlink/signup/email": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Sign-Up",
        "description": "### Sign-up new end user by sending an enchanted link via email\nInitiate a sign-up process by sending an enchanted link to a new end user.\nDescope will generate and deliver 3 clickable links to the email address specified,\neach is numbered with random 2 digit number. When you initiate the enchanted link, the `linkId` will be returned. This `linkId` needs to be displayed to the user to indicate which link for the user to click\nonce they receive the email. Only when the correct link is clicked will the user be successfully verified and logged in.\nEach clickable link is made up of two parts -\nthe URI you provide in the `URI` field and the enchanted link token generated by Descope.\nFor example, if `URI=https://app.mycompany.com/enchantedlink/verify`,\nthe clickable enchanted link will be `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`\nEnchanted links expire in the time frame configured in the\n[Descope console](https://app.descope.com/settings/authentication/enchantedlink),\nso sending multiple enchanted links (for example, when an end user tries to sign-up a second or third time)\ndoes not invalidate links that have already been sent.\n\nThe return body will include `linkId` and `pendigRef`.\nThe `linkId` (a 2 digit number) should be presented to the user,\nso they will know which link to click in the delivered email.\nThe endpoint will return a failure code if the email address is already registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\n1. Verify the enchanted link token using the [Verify Token](/api/enchanted-link/verify-token) endpoint.\n2. Poll for the successful completion of the token verification using the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing the `pendingRef` returned by the this endpoint.\n\n### See Also\n- See [Enchanted link Authentication](/api/enchantedlink/) for details about implementing enchanted links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- Use the [Sign-In](/api/enchanted-link/sign-in) endpoint to sign-in an existing end user.\n- Use the [Sign-In with Auto Sign-up](/api/enchanted-link/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpEnchantedLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.EnchantedLinkSignUpEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EnchantedLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "EnchantedLink",
        "x-order": 1,
        "x-meta": {
          "title": "Sign-Up | Enchanted Link",
          "description": "Sign-up new end user by sending an enchanted link via email",
          "keywords": "api, enchanted link"
        }
      }
    },
    "/v1/auth/enchantedlink/signin/email": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Sign-In",
        "description": "### Sign-in existing user by sending an enchanted link via email\nInitiate a sign-in process by sending an enchanted link to a new end user.\nDescope will generate and deliver 3 clickable links to the email address specified,\neach is numbered with random 2 digit number. When you initiate the enchanted link, the `linkId` will be returned. This `linkId` needs to be displayed to the user to indicate which link for the user to click\nonce they receive the email. Only when the correct link is clicked will the user be successfully verified and logged in.\nEach clickable link is made up of two parts -\nthe URI you provide in the `URI` field and the enchanted link token generated by Descope.\nFor example, if `URI=https://app.mycompany.com/enchantedlink/verify`,\nthe clickable enchanted link will be `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`\nEnchanted links expire in the time frame configured in the\n[Descope console](https://app.descope.com/settings/authentication/enchantedlink),\nso sending multiple enchanted links (for example, when an end user tries to sign-up a second or third time)\ndoes not invalidate links that have already been sent.\n\nThe return body will include `linkId` and `pendigRef`.\nThe `linkId` (a 2 digit number) should be presented to the user,\nso they will know which link to click in the delivered email.\nThe endpoint will return a failure code if the email address is already registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\n1. Verify the enchanted link token using the [Verify Token](/api/enchanted-link/verify-token) endpoint.\n2. Poll for the successful completion of the token verification using the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing the `pendingRef` returned by the this endpoint.\n\n### See Also\n- See [Enchanted link Authentication](/api/enchantedlink/) for details about implementing enchanted links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- See [User Login Options](/api/overview#user-login-options) for further details on loginOptions.\n- Use the [Sign-Up](/api/enchanted-link/sign-up) endpoint to sign-up a new end user.\n- Use the [Sign-In with Auto Sign-up](/api/enchanted-link/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignInEnchantedLinkEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.EnchantedLinkSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EnchantedLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "EnchantedLink",
        "x-order": 2,
        "x-meta": {
          "title": "Sign-In | Enchanted Link Email",
          "description": "Sign-in existing user by sending an enchanted link via email Email",
          "keywords": "api, enchanted link, email"
        }
      }
    },
    "/v1/auth/enchantedlink/signup-in/email": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Sign-In with Auto Sign-Up",
        "description": "### Sign-in end user (with automatic sign-up) by sending an enchanted link via email\nInitiate a process that implements both sign-in and sign-up using a single endpoint.\nIf the email address is already registered (the end user has already registered) the user will be signed in.\nIf the email address is not registered (the end user is not yet registered) the user will be signed up.\n\nDescope will generate and deliver 3 clickable links to the email address specified,\neach is numbered with random 2 digit number. When you initiate the enchanted link, the `linkId` will be returned. This `linkId` needs to be displayed to the user to indicate which link for the user to click\nonce they receive the email. Only when the correct link is clicked will the user be successfully verified and logged in.\nEach clickable link is made up of two parts -\nthe URI you provide in the `URI` field and the enchanted link token generated by Descope.\nFor example, if `URI=https://app.mycompany.com/enchantedlink/verify`,\nthe clickable enchanted link will be `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`\nEnchanted links expire in the time frame configured in the\n[Descope console](https://app.descope.com/settings/authentication/enchantedlink),\nso sending multiple enchanted links (for example, when an end user tries to sign-up a second or third time)\ndoes not invalidate links that have already been sent.\n\nThe return body will include `linkId` and `pendigRef`.\nThe `linkId` (a 2 digit number) should be presented to the user,\nso they will know which link to click in the delivered email.\nThe endpoint will return a failure code if the email address is already registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\n1. Verify the enchanted link token using the [Verify Token](/api/enchanted-link/verify-token) endpoint.\n2. Poll for the successful completion of the token verification using the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing the `pendingRef` returned by the this endpoint.\n\n### See Also\n- See [Enchanted link Authentication](/api/enchantedlink/) for details about implementing enchanted links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- See [User Login Options](/api/overview#user-login-options) for further details on loginOptions.\n- Use the [Sign-Up](/api/enchanted-link/sign-up) endpoint to sign-up a new end user.\n- Use the [Sign-In with Auto Sign-up](/api/enchanted-link/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpOrInEnchantedLinkEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.EnchantedLinkSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EnchantedLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "EnchantedLink",
        "x-order": 3,
        "x-meta": {
          "title": "Sign-In with Auto Sign-Up | Enchanted Link Email",
          "description": "Sign-in end user (with automatic sign-up) by sending an enchanted link via email Email",
          "keywords": "api, enchanted link, email"
        }
      }
    },
    "/v1/auth/enchantedlink/verify": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Verify Token",
        "description": "### Verify Enchanted Link token from user\n\nVerify that the enchanted link token in the URL clicked by the end user matches and has\nnot expired. This endpoint completes the enchanted link flow for:\n* sign up\n    * [Sign-Up via email](/api/enchanted-link/sign-up)\n* sign-in\n    * [Sign-In via email](/api/enchanted-link/sign-in)\n* sign-in with auto sign-up\n    * [Sign-In with Auto Sign-up via email](/api/enchanted-link/sign-in-auto-sign-up)\n* Update data\n    * [update email](/api/enchanted-link/update-email)\n\n### Next Steps\n\nPoll for the successful completion of the token verification using the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing the `pendingRef` returned by the this endpoint.\n\nThe response object will be empty when this endpoint completes successfully. The session information will be returned by the the [Poll Session](/api/enchanted-link/poll-session) endpoint.\n\n### See Also\n- See [Enchanted link Authentication](/api/enchantedlink/) for details about implementing enchanted links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "VerifyEnchantedLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.VerifyEnchantedLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.VerifyEnchantedLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "EnchantedLink",
        "x-order": 4,
        "x-meta": {
          "title": "Verify Token | Enchanted Link",
          "description": "Verify Enchanted Link token from user",
          "keywords": "api, enchanted link"
        }
      }
    },
    "/v1/auth/enchantedlink/pending-session": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Poll Session",
        "description": "### Poll user session for successful completion of token verification\nThis endpoint is used to wait for the enchanted link verification by the end user.\nUse this endpoint in a poling way, until it returns a successful JWT, or timeout error.\nThe response object includes the session JWT `sessionJwt` and refresh JWT `refreshJwt`\nwhen this endpoint completes successfully.\n\n### See Also\n- See [Enchanted link Authentication](/api/enchantedlink/) for details about implementing enchanted links.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "GetEnchantedLinkSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.GetEnchantedLinkSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.JWTResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "EnchantedLink",
        "x-order": 5,
        "x-meta": {
          "title": "Poll Session | Enchanted Link",
          "description": "Poll user session for successful completion of token verification",
          "keywords": "api, enchanted link"
        }
      }
    },
    "/v1/auth/enchantedlink/update/email": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Update Email",
        "description": "### Update email of end user by sending enchanted link via email\nUpdate the email address of an existing end user by sending an enchanted link to the new email address.\nDescope will generate and deliver 3 clickable links to the email address specified,\neach is numbered with random 2 digit number.\nOnly the right link (based on the number returned will be successfully verified when clicked)\n\nEach clickable link is made up of two parts -\nthe URI you provide in the `URI` field and the enchanted link token generated by Descope.\nFor example, if `URI=https://app.mycompany.com/enchantedlink/verify`,\nthe clickable enchanted link will be `https://app.mycompany.com/enchantedlink/verify?t=enchanted-link-token.`\nEnchanted links expire in the time frame configured in the\n[Descope console](https://app.descope.com/settings/authentication/enchantedlink),\nso sending multiple enchanted links (for example, when an end user tries to sign-up a second or third time)\ndoes not invalidate links that have already been sent.\n\nThe bearer token requires both the ProjectId and refresh JWT in the format `<Project ID>:<JWT>`, and can therefore only be run for end users who are currently signed-in.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\nOnce the token is successfully verified - the email address will be updated.\n\nDescope allows you to associating multiple login IDs for a user during API update calls. For details on how this feature works, please review the details [here](/manage/users#associating-multiple-login-ids-for-a-user).\n\n### Next Steps\n1. Verify the enchanted link token using the [Verify Token](/api/enchanted-link/verify-token) endpoint.\n2. Poll for the successful completion of the token verification using the [Poll Session](/api/enchanted-link/poll-session) endpoint, providing the `pendingRef` returned by the this endpoint.\n\n### See Also\n- See [Enchanted link Authentication](/api/enchantedlink/) for details about implementing enchanted links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "UpdateUserEmailEnchantedLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.UpdateUserEmailEnchantedLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EnchantedLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-publishYaml": "EnchantedLink",
        "x-order": 5,
        "x-meta": {
          "title": "Update Email | Enchanted Link Email",
          "description": "Update email of end user by sending enchanted link via email Email",
          "keywords": "api, enchanted link, email"
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Refresh Session",
        "description": "### Refresh the session token, using a valid fresh token\n\nThis API endpoint will provide a new valid session token for an existing signed-in user, by validating the provided refresh token.\nThe refresh token is provided as part of the HTTP Authorization Bearer.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "RefreshSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.RefreshSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.JWTResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-order": 2,
        "x-publishYaml": "session",
        "x-meta": {
          "title": "Refresh Session | Session",
          "description": "Refresh the session token, using a valid fresh token",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/me": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "My Details",
        "description": "### Get current signed-in user details\n\nThis API Endpoint will return the current user's details. This endpoint requires the user to be signed in and have a valid `refreshJwt`. The `refreshJwt` is then used as part of the Authorization Bearer to perform this task.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "Me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userv1.ResponseUser"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-order": 3,
        "x-publishYaml": "session",
        "x-meta": {
          "title": "My Details | Session",
          "description": "Get current signed-in user details",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/me/history": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Get Session History",
        "description": "### Get user's session history\n\nThis API Endpoint will return the current user's session history including geo-location and IP address. This endpoint requires the user to be signed in and have a valid `refreshJwt`. The `refreshJwt` is then used as part of the Authorization Bearer to perform this task.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "MeAuthHistory",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.MeAuthHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-order": 3,
        "x-publishYaml": "session",
        "x-meta": {
          "title": "Get Session History | Session",
          "description": "Get user's session history",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/tenant/select": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Select an active tenant",
        "description": "### Set the active tenant for the user's current session\n\nThis endpoint allows you to get a new session token and refresh token with the `dct` claim on the JWT which shows the active selected tenant for the user.\n\nSee [Tenant Selection Article](/knowledgebase/descopeflows/tenantselectcomponent/) for more details of the usage.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "SelectTenant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.SelectTenantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.JWTResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-order": 3,
        "x-publishYaml": "session",
        "x-meta": {
          "title": "Select an active tenant | Session",
          "description": "Set the active tenant for the user's current session",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Sign-Out",
        "description": "### Log the user out from the provided session\nThis API endpoint will sign the user out of the provided session using the `refreshToken`.\nSuccessfully executing this endpoint will invalidate the provided refresh tokens.\nResponse will also include all user tokens and fields empty, so the executing client will remove cookies as well.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "Logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.LogoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.JWTResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-order": 4,
        "x-publishYaml": "session",
        "x-meta": {
          "title": "Sign-Out | Session",
          "description": "Log the user out from the provided session",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/logoutall": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "Sign-Out All Active Sessions",
        "description": "### Log the user out from all signed-in sessions\n\nThis API endpoint will sign the user out of all the devices they are currently signed-in with.\nSuccessfully executing this endpoint will invalidate all user's refresh tokens. Response will include all user tokens and fields empty, so client will remove cookies as well.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "LogoutAllDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.LogoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.JWTResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-order": 4,
        "x-publishYaml": "session",
        "x-meta": {
          "title": "Sign-Out All Active Sessions | Session",
          "description": "Log the user out from all signed-in sessions",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/validate": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "ValidateSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.ValidateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.ValidateSessionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdSessionJwt": []
          }
        ],
        "summary": "Validate Session",
        "description": "### Validate and parse a user's session JWT.\n\nThis endpoint is used to validate a users session using the Project ID and the user's session JWT. Upon successful validate of the user, you will receive the parsed JWT.\n\nWhen posting to this endpoint from an application, you get the JWT from local or cookie storage, and prepend it with project ID and use that as the bearer.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Session JWT>`\n",
        "x-publishYaml": "session",
        "x-meta": {
          "title": "Validate Session | Session",
          "description": "Validate and parse a user's session JWT.",
          "keywords": "api, session"
        }
      }
    },
    "/v1/auth/magiclink/signup/email": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Sign-Up",
        "description": "### Sign-up new end user by sending a magic link via email\nInitiate a sign-up process by sending a magic link to a new end user. Descope will generate and deliver a clickable magic link to the email address specified. The clickable magic link is made up of two parts -  the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate magic links that have already been sent.\n\nThe endpoint will return a failure code if the email address is already registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link/with-sdks/client#introduction) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- Use the [Sign-In](/api/magic-link/email/sign-in) endpoint to sign-in an existing end user.\n- Use the [Sign-In with Auto Sign-up](/api/magic-link/email/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpMagicLinkEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.MagicLinkSignUpEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EmailMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 1,
        "x-meta": {
          "title": "Sign-Up | Magic Link Email",
          "description": "Sign-up new end user by sending a magic link via email Email",
          "keywords": "api, magic link, email"
        }
      }
    },
    "/v1/auth/magiclink/signup/sms": {
      "post": {
        "tags": [
          "Text Message (SMS)"
        ],
        "summary": "Sign-Up",
        "description": "### Sign-up new end user by sending a magic link via SMS\n\nInitiate a sign-up process by sending a magic link to a new end user. Descope will generate and deliver a clickable magic link to the phone number specified. The clickable magic link is made up of two parts -  the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate magic links that have already been sent.\n\nThe endpoint will return a failure code if the email address is already registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- Use the [Sign-In](/api/magic-link/sms/sign-up) endpoint to sign-in an existing end user.\n- Use the [Sign-In with Auto Sign-up](/api/magic-link/sms/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpMagicLinkSMS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.MagicLinkSignUpPhoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.PhoneMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 1,
        "x-meta": {
          "title": "Sign-Up | Magic Link SMS",
          "description": "Sign-up new end user by sending a magic link via SMS SMS",
          "keywords": "api, magic link, sms"
        }
      }
    },
    "/v1/auth/magiclink/verify": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Verify Token",
        "description": "### Verify the magic link token from the end user\n\nVerify that the magic link token in the URL clicked by the end user matches and has not expired. This endpoint completes the magic link flow for:\n* sign up\n    * [Sign-Up via email](/api/magic-link/email/sign-up)\n    * [Sign-Up via SMS](/api/magic-link/sms/sign-up)\n* sign-in\n    * [Sign-In via email](/api/magic-link/email/sign-in)\n    * [Sign-In via SMS](/api/magic-link/sms/sign-in)\n* sign-in with auto sign-up\n    * [Sign-In with Auto Sign-up via email](/api/magic-link/email/sign-in-auto-sign-up)\n    * [Sign-In with Auto Sign-up via SMS](/api/magic-link/sms/sign-in-auto-sign-up)\n* update data\n    * [update email](/api/magic-link/email/sign-up)\n    * [update phone number](/api/magic-link/email/sign-up)\n\n### Next Steps\n\nThe response object will contain the user's details including the session and refresh JWTs.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link/with-sdks/client#introduction) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "VerifyMagicLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.VerifyMagicLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.JWTResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 1,
        "x-meta": {
          "title": "Verify Token | Magic Link",
          "description": "Verify the magic link token from the end user",
          "keywords": "api, magic link"
        }
      }
    },
    "/v1/auth/magiclink/signin/email": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Sign-In",
        "description": "### Sign-in existing end user by sending a magic link via email\nInitiate a sign-in process by sending a magic link to an existing end user. Descope will generate and deliver a clickable magic link to the email address specified. The clickable magic link is made up of two parts - the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate prior magic links that have already been sent.\n\nThe endpoint will return a failure code if the email address is not registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link/with-sdks/client#introduction) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- See [User Login Options](/api/overview#user-login-options) for further details on loginOptions.\n- Use the [Sign-Up](/api/magic-link/email/sign-up) endpoint to sign-up a new end user.\n- Use the [Sign-In with Auto Sign-up](/api/magic-link/email/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignInMagicLinkEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.MagicLinkSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EmailMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 2,
        "x-meta": {
          "title": "Sign-In | Magic Link Email",
          "description": "Sign-in existing end user by sending a magic link via email Email",
          "keywords": "api, magic link, email"
        }
      }
    },
    "/v1/auth/magiclink/signin/sms": {
      "post": {
        "tags": [
          "Text Message (SMS)"
        ],
        "summary": "Sign-In",
        "description": "### Sign-in existing end user by sending a magic link via SMS\n\nInitiate a sign-in process by sending a magic link to an existing end user. Descope will generate and deliver a clickable magic link as an SMS to the phone number specified. The clickable magic link is made up of two parts - the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate prior magic links that have already been sent.\n\nThe endpoint will return a failure code if the email address is not registered.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- See [User Login Options](/api/overview#user-login-options) for further details on loginOptions.\n- Use the [Sign-Up](/api/magic-link/sms/sign-up) endpoint to sign-up a new end user.\n- Use the [Sign-In with Auto Sign-up](/api/magic-link/sms/sign-in-auto-sign-up) endpoint to create a single sign-up and sign-in flow, which will create a new end user if they are not already registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignInMagicLinkSMS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.MagicLinkSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.PhoneMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 2,
        "x-meta": {
          "title": "Sign-In | Magic Link SMS",
          "description": "Sign-in existing end user by sending a magic link via SMS SMS",
          "keywords": "api, magic link, sms"
        }
      }
    },
    "/v1/auth/magiclink/signup-in/email": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Sign-In with Auto Sign-up",
        "description": "### Sign-in end user (with automatic sign-up) by sending a magic link via email\n\nInitiate a process that implements both sign-in and sign-up using a single endpoint. Descope will generate and deliver a clickable magic link to the email address specified. If the email address is already registered (the end user has already registered) the user will be signed in. If the email address is not registered (the end user is not yet registered) the user will be signed up.\n\nThe clickable magic link is made up of two parts - the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate prior magic links that have already been sent.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link/with-sdks/client#introduction) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- See [User Login Options](/api/overview#user-login-options) for further details on loginOptions.\n- Use the [Sign-Up](/api/magic-link/email/sign-up) endpoint if you want a sign-up flow that will fail if the end user is already registered.\n- Use the [Sign-In](/api/magic-link/email/sign-in) endpoint if you want a sign-in flow that will fail if the end user isn't yet registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpOrInMagicLinkEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.MagicLinkSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EmailMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 3,
        "x-meta": {
          "title": "Sign-In with Auto Sign-up | Magic Link Email",
          "description": "Sign-in end user (with automatic sign-up) by sending a magic link via email Email",
          "keywords": "api, magic link, email"
        }
      }
    },
    "/v1/auth/magiclink/signup-in/sms": {
      "post": {
        "tags": [
          "Text Message (SMS)"
        ],
        "summary": "Sign-In with Auto Sign-up",
        "description": "### Sign-in end user (with automatic sign-up) by sending a magic link via SMS\n\nInitiate a process that implements both sign-in and sign-up using a single endpoint. Descope will generate and deliver a clickable magic link as an SMS to the phone number specified. If the phone number is already registered (the end user has already registered) the user will be signed in. If the email address is not registered (the end user is not yet registered) the user will be signed up.\n\nThe clickable magic link is made up of two parts - the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate prior magic links that have already been sent.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n- See [User Login Options](/api/overview#user-login-options) for further details on loginOptions.\n- Use the [Sign-Up](/api/magic-link/sms/sign-up) endpoint if you want a sign-up flow that will fail if the end user is already registered.\n- Use the [Sign-In](/api/magic-link/sms/sign-in) endpoint if you want a sign-in flow that will fail if the end user isn't yet registered.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpOrInMagicLinkSMS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.MagicLinkSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.PhoneMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 3,
        "x-meta": {
          "title": "Sign-In with Auto Sign-up | Magic Link SMS",
          "description": "Sign-in end user (with automatic sign-up) by sending a magic link via SMS SMS",
          "keywords": "api, magic link, sms"
        }
      }
    },
    "/v1/auth/magiclink/update/email": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Update Email",
        "description": "### Update email of end user by sending magic link via email\nUpdate the email address of an existing end user by sending a magic link to the new email address. Descope will generate and deliver a clickable magic link to the new email address specified. After successfully verifying the magic link token the new email address will be used to deliver new magic links via email.\n\nThe clickable magic link is made up of two parts - the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate prior magic links that have already been sent.\n\nThe bearer token requires both the ProjectId and refresh JWT in the format `<Project ID>:<JWT>`, and can therefore only be run for end users who are currently signed-in.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\nDescope allows you to associating multiple login IDs for a user during API update calls. For details on how this feature works, please review the details [here](/manage/users#associating-multiple-login-ids-for-a-user).\n\n### Next Steps\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "UpdateUserEmailMagicLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.UpdateUserEmailMagicLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.EmailMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 5,
        "x-meta": {
          "title": "Update Email | Magic Link Email",
          "description": "Update email of end user by sending magic link via email Email",
          "keywords": "api, magic link, email"
        }
      }
    },
    "/v1/auth/magiclink/update/phone/sms": {
      "post": {
        "tags": [
          "Text Message (SMS)"
        ],
        "summary": "Update Phone Number",
        "description": "### Update phone number of end user by sending magic link via SMS\n\nUpdate the phone number of an existing end user by sending a magic link to the new phone number. Descope will generate and deliver a clickable magic link as an SMS to the new phone number specified. After successfully verifying the magic link token the new phone number will be used to deliver new magic links via SMS.\n\nThe clickable magic link is made up of two parts - the URI you provide in the `URI` field and the magic link token generated by Descope. For example, if `URI=https://app.mycompany.com/magiclink/verify`, the clickable magic link will be `https://app.mycompany.com/magiclink/verify?t=magic-link-token.` Magic links expire in the time frame configured in the [Descope console](https://app.descope.com/settings/authentication/magiclink), so sending multiple magic links (for example, when an end user tries to sign-up a second or third time) does not invalidate prior magic links that have already been sent.\n\nThe bearer token requires both the ProjectId and refresh JWT in the format `<Project ID>:<JWT>`, and can therefore only be run for end users who are currently signed-in.\n\nNote that `URI` is an optional parameter. If omitted - the project setting will apply.\nIf provided - it should to be part of the allowed `Approved Domains` configured in the project settings.\n\nDescope allows you to associating multiple login IDs for a user during API update calls. For details on how this feature works, please review the details [here](/manage/users#associating-multiple-login-ids-for-a-user).\n\n### Next Step\nVerify the magic link token using the [Verify Token](/api/magic-link/verification/verify-token) endpoint.\n\n### See Also\n- See [Magic link Authentication](/auth-methods/magic-link) for details about implementing magic links.\n- See [The User Object](/api/overview#the-user-object) for further details on how to identify users and their contact information such as email addresses and phone number.\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID:Refresh JWT>`\n",
        "operationId": "UpdateUserPhoneMagicLinkSMS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.UpdateUserPhoneMagicLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.PhoneMagicLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectIdJwt": []
          }
        ],
        "x-publishYaml": "MagicLink",
        "x-order": 5,
        "x-meta": {
          "title": "Update Phone Number | Magic Link SMS",
          "description": "Update phone number of end user by sending magic link via SMS SMS",
          "keywords": "api, magic link, sms"
        }
      }
    },
    "/v1/auth/notp/{provider}/signup": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Sign-Up",
        "description": "Create a new user using NOTP\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpNOTP",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Whatsapp, IMessage, etc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.NOTPSignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.NOTPLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "NOTP",
        "x-order": 1,
        "x-meta": {
          "title": "Sign-Up | NOTP",
          "description": "Create a new user using NOTP",
          "keywords": "api, notp"
        }
      }
    },
    "/v1/auth/notp/{provider}/signin": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "Sign-In",
        "description": "Login a user using NOTP\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignInNOTP",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Whatsapp, IMessage, etc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.NOTPSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.NOTPLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "NOTP",
        "x-order": 2,
        "x-meta": {
          "title": "Sign-In | NOTP",
          "description": "Login a user using NOTP",
          "keywords": "api, notp"
        }
      }
    },
    "/v1/auth/notp/{provider}/signup-in": {
      "post": {
        "tags": [
          ""
        ],
        "description": "Login in using NTOP. If the user does not exist, a new user will be created with the given identifier\n\n### Endpoint Authentication\nUse authorization bearer header with the following format:\n\n`Authorization: Bearer <Project ID>`\n",
        "operationId": "SignUpOrInNOTP",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Whatsapp, IMessage, etc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/onetimev1.NOTPSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/onetimev1.NOTPLinkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthProjectId": []
          }
        ],
        "x-publishYaml": "NOTP",
        "x-order": 3,
        "summary": "Sign-In with Auto Sign-Up",
        "x-meta": {
          "title": "Sign-In with Auto Sign-Up | NOTP",
          "description": "Login in using NTOP. If the user does not exist, a new user will be created with the given identifier",
          "keywords": "api, notp"
        }
      }
    },
    "/v1/auth/notp/pending-session": {
      "post": {
        "tags": [
          ""
        ],
[...]
