{
  "openapi": "3.0.1",
  "info": {
    "title": "Erp.BO.LaborSvc",
    "description": "Labor Entry Business Object",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/reskom/erpbolaborsvc/v1"
  },
  "servers": [
    {
      "url": "https://se10test1.seyerind.com/kinetictest/api/v1/Erp.BO.LaborSvc"
    }
  ],
  "paths": {
    "/GetRows": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "GetRows",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRows_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetRows",
        "description": "Returns a dataset containing all rows that satisfy the where clauses.",
        "operationId": "Get_GetRows",
        "parameters": [
          {
            "name": "whereClauseLaborHed",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborDtl",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborDtlAttch",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborDtlAction",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborDtlComment",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborEquip",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborPart",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLbrScrapSerialNumbers",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseLaborDtlGroup",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseSelectedSerialNumbers",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseSNFormat",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseTimeWeeklyView",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whereClauseTimeWorkHours",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRows_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "GetByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetByID",
        "description": "Returns a DataSet given the primary key.",
        "operationId": "Get_GetByID",
        "parameters": [
          {
            "name": "laborHedSeq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "GetList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetList",
        "description": "Returns a list of rows that satisfy the where clause.",
        "operationId": "Get_GetList",
        "parameters": [
          {
            "name": "whereClause",
            "in": "query",
            "description": "An expression used to filter the rows. Can be left blank for all rows.",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows to return. Leave as zero for no maximum.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "absolutePage",
            "in": "query",
            "description": "Page of rows to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborDtl": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborDtl",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborDtl",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtl_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtl_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtl_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtl_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborDtlAttch": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborDtlAttch",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborDtlAttch",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlAttch_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlAttch_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlAttch_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlAttch_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborDtlAction": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborDtlAction",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborDtlAction",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlAction_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlAction_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlAction_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlAction_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborDtlComment": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborDtlComment",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborDtlComment",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlComment_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlComment_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlComment_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlComment_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborEquip": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborEquip",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborEquip",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborEquip_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborEquip_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborEquip_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborEquip_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborPart": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborPart",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborPart",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborPart_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborPart_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborPart_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborPart_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborDtlGroup": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborDtlGroup",
        "description": "Inserts a new row in the DataSet with defaults populated.",
        "operationId": "GetNewLaborDtlGroup",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlGroup_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlGroup_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlGroup_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlGroup_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteByID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteByID",
        "description": "Deletes a row given its ID.",
        "operationId": "DeleteByID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteByID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteByID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "GetBySysRowID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowID",
        "operationId": "Get_GetBySysRowID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetBySysRowIDs": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "GetBySysRowIDs",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBySysRowIDs_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetBySysRowIDs",
        "operationId": "Get_GetBySysRowIDs",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBySysRowIDs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/Update": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method Update",
        "description": "Commits the DataSet changes to the data store.",
        "operationId": "Update",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Update_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/UpdateExt": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method UpdateExt",
        "description": "Apply input data to service by calling GetByID/GetNew/Update methods.",
        "operationId": "UpdateExt",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExt_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateExt_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/BuildJobOperPrjRoleList": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method BuildJobOperPrjRoleList",
        "description": "This proc will return the whereclause for the role code combo\r\nCustomers",
        "operationId": "BuildJobOperPrjRoleList",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildJobOperPrjRoleList_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildJobOperPrjRoleList_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildJobOperPrjRoleList_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildJobOperPrjRoleList_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeEquipID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeEquipID",
        "description": "This method should call when EquipID is changed",
        "operationId": "ChangeEquipID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEquipID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeEquipID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeEquipID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeEquipID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeIndirectCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeIndirectCode",
        "description": "This method clears the JobNumber and Quantity fields when the LaborType changes to Indirect\r\nleaves the values as is if changed between Production and Setup",
        "operationId": "ChangeIndirectCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeIndirectCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeIndirectCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeIndirectCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeIndirectCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeLaborType": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeLaborType",
        "description": "This method clears the JobNumber and Quantity fields when the LaborType changes to Indirect\r\nleaves the values as is if changed between Production and Setup",
        "operationId": "ChangeLaborType",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLaborType_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLaborType_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeLaborType_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeLaborType_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckResourceId": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckResourceId",
        "description": "Main logic from ChangeResourceId to validate the resource id assigned to a Job.\r\nThis method does not depend on a tableset or LaborDtl record.",
        "operationId": "CheckResourceId",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckResourceId_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckResourceId_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResourceId_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResourceId_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/ChangeResourceId": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method ChangeResourceId",
        "description": "For use with MES (ShopFloor) only.\r\nThis method checks the Resource Group of the proposed Resource, and if it\r\nis different than the current Resource Group, provides a warning question\r\nsuitable for presenting to the user.\r\nThe UI code should place the user's answer to the question in the\r\nttLaborDtl.OkToChangeResourceGrpID.\r\nThis method should be called prior to calling the DefaultResourceID method.",
        "operationId": "ChangeResourceId",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeResourceId_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeResourceId_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResourceId_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResourceId_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckEmployeeActivity": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckEmployeeActivity",
        "description": "This method checks if the current employee is already working on a Job/Asm/Opr/Resource combination\r\nIf he/she is already working on it, the opMessage will be populated with an error message",
        "operationId": "CheckEmployeeActivity",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckEmployeeActivity_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckEmployeeActivity_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckEmployeeActivity_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckEmployeeActivity_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckNonConformance": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckNonConformance",
        "description": "Check if there are NonConformance records, if they exists it will ask the user for his approval to delete them",
        "operationId": "CheckNonConformance",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNonConformance_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNonConformance_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNonConformance_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNonConformance_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckFirstArticleWarning": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckFirstArticleWarning",
        "description": "Performs all First Article Validations",
        "operationId": "CheckFirstArticleWarning",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckFirstArticleWarning_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckFirstArticleWarning_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckFirstArticleWarning_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckFirstArticleWarning_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckInspResults": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckInspResults",
        "description": "This method validates if InspResults has been entered when the Inspection Data is allowed for the current OprSeq.",
        "operationId": "CheckInspResults",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckInspResults_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckInspResults_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckInspResults_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckInspResults_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckResourceGroup": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckResourceGroup",
        "description": "This method checks to see if the new resource is in the current resource group.\r\nThis needs to be run right before the DefaultResourceID.  If the user answers\r\nokay then the group will be changed in the DefaultResourceID method.",
        "operationId": "CheckResourceGroup",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckResourceGroup_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckResourceGroup_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResourceGroup_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResourceGroup_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CheckWarnings": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CheckWarnings",
        "description": "This method runs the labor warning routine and returns any warnings the user needs\r\nto be aware of.  This needs to be run right before the update method.  If the user answers\r\nokay to all of the questions, then the update method can be run.  Otherwise the labor record\r\nneeds to be corrected",
        "operationId": "CheckWarnings",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckWarnings_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckWarnings_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWarnings_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWarnings_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/chkReportQtyShopWarn": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method chkReportQtyShopWarn",
        "operationId": "chkReportQtyShopWarn",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/chkReportQtyShopWarn_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/chkReportQtyShopWarn_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chkReportQtyShopWarn_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/chkReportQtyShopWarn_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CopyLaborDetail": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CopyLaborDetail",
        "description": "Method to copy the vales from one Labor record to a new Labor record.",
        "operationId": "CopyLaborDetail",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyLaborDetail_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyLaborDetail_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyLaborDetail_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyLaborDetail_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/CopyTimeWeeklyView": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method CopyTimeWeeklyView",
        "description": "Method to copy the vales from one Weekly Time record to a new Weekly Time record.",
        "operationId": "CopyTimeWeeklyView",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyTimeWeeklyView_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyTimeWeeklyView_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyTimeWeeklyView_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyTimeWeeklyView_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultAssemblySeq": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultAssemblySeq",
        "description": "This method sets dataset fields when the AssemblySeq field changes",
        "operationId": "DefaultAssemblySeq",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultAssemblySeq_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultAssemblySeq_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultAssemblySeq_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultAssemblySeq_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultComplete": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultComplete",
        "description": "This method updates the dataset after complete flag is set",
        "operationId": "DefaultComplete",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultComplete_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultComplete_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultComplete_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultComplete_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultDate": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultDate",
        "description": "This method updates the clock in and clock out dates for the LaborHed and LaborDtl\r\ntables when the payroll date has changed.",
        "operationId": "DefaultDate",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultDate_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultDate_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultDate_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultDate_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultDiscrpRsnCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultDiscrpRsnCode",
        "description": "This method defaults fields when the discrepancy reason code field changes.\r\nAlso checks for any warnings the user needs to be aware of",
        "operationId": "DefaultDiscrpRsnCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultDiscrpRsnCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultDiscrpRsnCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultDiscrpRsnCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultDiscrpRsnCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultReworkReasonCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultReworkReasonCode",
        "description": "This method defaults fields when the discrepancy reason code field changes.\r\nAlso checks for any warnings the user needs to be aware of",
        "operationId": "DefaultReworkReasonCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultReworkReasonCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultReworkReasonCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultReworkReasonCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultReworkReasonCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultDtlTime": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultDtlTime",
        "description": "This method updates the hours when a time field changes",
        "operationId": "DefaultDtlTime",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultDtlTime_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultDtlTime_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultDtlTime_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultDtlTime_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultIndirect": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultIndirect",
        "description": "This method defaults the expense code when the indirect code has changed",
        "operationId": "DefaultIndirect",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultIndirect_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultIndirect_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultIndirect_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultIndirect_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/SelectAllForWork": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method SelectAllForWork",
        "description": "This method will take the selected rows from the work queue and process them in one server call.\r\nGetNewLaborDtlOnSelectForWork is called for each work queue row, after that SelectForWork will be called filling required information in all the added LaborDtl rows\r\nIf there is any warning that needs user input the method will finish before calling Update and the prompts will be shown to the user, after the UI will call Update to finish.",
        "operationId": "SelectAllForWork",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectAllForWork_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectAllForWork_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectAllForWork_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectAllForWork_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultJobNum": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultJobNum",
        "description": "This method defaults dataset fields when the JobNum field changes",
        "operationId": "DefaultJobNum",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultJobNum_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultJobNum_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultJobNum_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultJobNum_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultLaborHrs": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultLaborHrs",
        "description": "This method updates the tot hours display field when the labor hours clock in/out\r\ntime changes",
        "operationId": "DefaultLaborHrs",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLaborHrs_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLaborHrs_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLaborHrs_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLaborHrs_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultLaborQty": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultLaborQty",
        "description": "This method defaults fields when the labor qty fields changes.  Also checks\r\nfor any labor warnings the user needs to be aware of",
        "operationId": "DefaultLaborQty",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLaborQty_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLaborQty_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLaborQty_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLaborQty_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/VerifyScrapQty": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method VerifyScrapQty",
        "description": "This method defaults fields when the scrap qty field changes.  Also checks\r\nfor any labor warnings the user needs to be aware of",
        "operationId": "VerifyScrapQty",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyScrapQty_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyScrapQty_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyScrapQty_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyScrapQty_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/OnChangePartQty": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method OnChangePartQty",
        "description": "This method sets Complete checkbox when part qty field changes in End Activity.",
        "operationId": "OnChangePartQty",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnChangePartQty_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OnChangePartQty_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnChangePartQty_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnChangePartQty_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultLaborType": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultLaborType",
        "description": "This method defaults dataset fields when the LaborType field changes.",
        "operationId": "DefaultLaborType",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLaborType_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLaborType_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLaborType_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLaborType_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultLunchBreak": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultLunchBreak",
        "description": "This method defaults the Lunch Time fields when the Lunch Break field changes.",
        "operationId": "DefaultLunchBreak",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLunchBreak_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultLunchBreak_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLunchBreak_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultLunchBreak_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultNextOprSeq": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultNextOprSeq",
        "description": "This method updates the dataset after next operation seq is set",
        "operationId": "DefaultNextOprSeq",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultNextOprSeq_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultNextOprSeq_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultNextOprSeq_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultNextOprSeq_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultOpCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultOpCode",
        "description": "This method checks for any warnings user needs to know on change of OpCode",
        "operationId": "DefaultOpCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultOpCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultOpCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultOpCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultOpCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultOprSeq": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultOprSeq",
        "description": "This method defaults fields when Operation sequence changes.  Also returns any\r\nwarnings user needs to know.",
        "operationId": "DefaultOprSeq",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultOprSeq_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultOprSeq_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultOprSeq_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultOprSeq_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetNewLaborDtlOnSelectForWork": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetNewLaborDtlOnSelectForWork",
        "description": "Call GetNewLaborDtl base method then assign selected values and default values for MES/Work Queue/Select for Work.\r\nResourceID is defaulted the same way than for MES- Start Production Activity. ResourceID must be required only if Company Configuration MachinePrompt is true, otherwise is optional.",
        "operationId": "GetNewLaborDtlOnSelectForWork",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlOnSelectForWork_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNewLaborDtlOnSelectForWork_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlOnSelectForWork_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewLaborDtlOnSelectForWork_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultPhaseID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultPhaseID",
        "description": "This method defaults dataset fields when the PhaseID field changes.",
        "operationId": "DefaultPhaseID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultPhaseID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultPhaseID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultPhaseID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultPhaseID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultPhaseOprSeq": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultPhaseOprSeq",
        "description": "This method defaults dataset fields when the PhaseOprSeq field changes.",
        "operationId": "DefaultPhaseOprSeq",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultPhaseOprSeq_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultPhaseOprSeq_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultPhaseOprSeq_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultPhaseOprSeq_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultProjectID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultProjectID",
        "description": "This method defaults dataset fields when the ProjectID field changes.",
        "operationId": "DefaultProjectID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultProjectID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultProjectID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultProjectID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultProjectID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultResourceID": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultResourceID",
        "description": "This method updates dataset fields when the ResourceID field changes.",
        "operationId": "DefaultResourceID",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultResourceID_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultResourceID_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResourceID_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResourceID_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultRoleCd": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultRoleCd",
        "description": "This method defaults dataset fields when the RoleCd field changes.",
        "operationId": "DefaultRoleCd",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultRoleCd_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultRoleCd_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultRoleCd_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultRoleCd_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultScrapReasonCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultScrapReasonCode",
        "description": "This method defaults fields when the scrap reason code fields changes.  Also checks\r\nfor any labor warnings the user needs to be aware of",
        "operationId": "DefaultScrapReasonCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultScrapReasonCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultScrapReasonCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultScrapReasonCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultScrapReasonCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultSetupPctComplete": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultSetupPctComplete",
        "description": "This method validates and reassigns the setup percent complete field.",
        "operationId": "DefaultSetupPctComplete",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultSetupPctComplete_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultSetupPctComplete_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultSetupPctComplete_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultSetupPctComplete_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultShift": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultShift",
        "description": "This method updates clock in/out and lunch in/out fields after shift field changes",
        "operationId": "DefaultShift",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultShift_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultShift_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultShift_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultShift_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultTime": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultTime",
        "description": "This method updates time and pay hours when a time field changes",
        "operationId": "DefaultTime",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultTime_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultTime_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultTime_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultTime_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultTimeTypCd": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultTimeTypCd",
        "description": "This method defaults dataset fields when the TimeTypCd field changes.",
        "operationId": "DefaultTimeTypCd",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultTimeTypCd_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultTimeTypCd_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultTimeTypCd_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultTimeTypCd_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DefaultWCCode": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DefaultWCCode",
        "description": "This method updates dataset fields when the ResourceGroup field changes.  Also checks\r\nfor any warning the user needs to know",
        "operationId": "DefaultWCCode",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultWCCode_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultWCCode_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultWCCode_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultWCCode_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/DeleteLaborDtl": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method DeleteLaborDtl",
        "description": "This method delete records related to HCM PTO.",
        "operationId": "DeleteLaborDtl",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteLaborDtl_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteLaborDtl_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLaborDtl_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLaborDtl_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/EndActivity": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method EndActivity",
        "description": "Method to call to end an activity in Shop Floor.  This method will mark\r\nthe EndActivity flag in LaborDtl so when the Update method is run, special\r\nend activity processing can occur.  It will also default values in other\r\nfields that apply to the end activity.  Before this method is called, the\r\nLaborDtl.RowMod value needs to be set to 'U'.",
        "operationId": "EndActivity",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndActivity_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EndActivity_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndActivity_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndActivity_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/EndActivityComplete": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method EndActivityComplete",
        "description": "This method checks for any necessary labor warning when the complete flag is checked in MES End Activity",
        "operationId": "EndActivityComplete",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndActivityComplete_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EndActivityComplete_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndActivityComplete_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndActivityComplete_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/GetActiveLaborDtl": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method GetActiveLaborDtl",
        "description": "Method to retrieve the active Labor Details and header records by employee.",
        "operationId": "GetActiveLaborDtl",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveLaborDtl_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveLaborDtl_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActiveLaborDtl_output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActiveLaborDtl_output"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Server is unable to process the request."
          }
        }
      }
    },
    "/InitiateDowntime": {
      "post": {
        "tags": [
          "Custom methods"
        ],
        "summary": "Invoke method InitiateDowntime",
        "description": "Method to Begin Downtime for Kinetic MES",
        "operationId": "InitiateDowntime",
        "requestBody": {
          "description": "Input parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateDowntime_input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateDowntime_input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateDowntime_output"
                }
              },
              "text/json": {
                "schema": {
[...]
