{
  "openapi": "3.0.3",
  "info": {
    "title": "ImprovMX API",
    "description": "ImprovMX is a free email forwarding service. The API allows you to manage domains, aliases, forwarding rules, SMTP credentials, and view email logs.",
    "version": "3.0.0",
    "contact": {
      "name": "ImprovMX",
      "url": "https://improvmx.com"
    },
    "x-jentic-source-url": "https://improvmx.com/api"
  },
  "servers": [
    {
      "url": "https://api.improvmx.com/v3",
      "description": "ImprovMX API v3"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account management endpoints"
    },
    {
      "name": "Domains",
      "description": "Domain management endpoints"
    },
    {
      "name": "Aliases",
      "description": "Email alias management endpoints"
    },
    {
      "name": "Rules",
      "description": "Forwarding rules management endpoints"
    },
    {
      "name": "Logs",
      "description": "Email log endpoints"
    },
    {
      "name": "SMTP Credentials",
      "description": "SMTP credential management endpoints"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get account details",
        "description": "Retrieve account information including billing info, plan details, and resource limits.",
        "operationId": "getAccount",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/account/whitelabels": {
      "get": {
        "summary": "List whitelabel domains",
        "description": "Retrieve a list of whitelabel domains associated with the account.",
        "operationId": "listWhitelabels",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Whitelabel domains retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "whitelabels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WhitelabelDomain"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "summary": "List domains",
        "description": "Retrieve a paginated list of domains with optional filtering.",
        "operationId": "listDomains",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search domains by starting value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active/inactive status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (5-100)",
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domains retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Add domain",
        "description": "Add a new domain for email forwarding.",
        "operationId": "addDomain",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain name to add"
                  },
                  "notification_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address for notifications"
                  },
                  "whitelabel": {
                    "type": "string",
                    "description": "Parent whitelabel domain"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "domain": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}": {
      "get": {
        "summary": "Get domain",
        "description": "Retrieve details for a specific domain including aliases (limited to 200).",
        "operationId": "getDomain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "domain": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update domain",
        "description": "Update settings for a specific domain.",
        "operationId": "updateDomain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notification_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email for notifications"
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL for events"
                  },
                  "whitelabel": {
                    "type": "string",
                    "description": "Parent whitelabel domain"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "domain": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete domain",
        "description": "Remove a domain and all associated aliases.",
        "operationId": "deleteDomain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/check": {
      "get": {
        "summary": "Check domain DNS configuration",
        "description": "Validate MX, SPF, DKIM, and DMARC DNS records for the domain.",
        "operationId": "checkDomain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS check results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "records": {
                      "type": "object",
                      "properties": {
                        "mx": {
                          "$ref": "#/components/schemas/DnsCheck"
                        },
                        "spf": {
                          "$ref": "#/components/schemas/DnsCheck"
                        },
                        "dkim": {
                          "$ref": "#/components/schemas/DnsCheck"
                        },
                        "dmarc": {
                          "$ref": "#/components/schemas/DnsCheck"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/aliases": {
      "get": {
        "summary": "List aliases",
        "description": "Retrieve a paginated list of aliases for a domain.",
        "operationId": "listAliases",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search alias or destination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias",
            "in": "query",
            "description": "Filter by alias prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aliases retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "aliases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alias"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Add alias",
        "description": "Create a new email alias for a domain.",
        "operationId": "addAlias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "alias",
                  "forward"
                ],
                "properties": {
                  "alias": {
                    "type": "string",
                    "description": "Alias name (the part before @domain)"
                  },
                  "forward": {
                    "type": "string",
                    "description": "Destination email address(es) or webhook URL(s)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "alias": {
                      "$ref": "#/components/schemas/Alias"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/aliases/{alias}": {
      "get": {
        "summary": "Get alias",
        "description": "Retrieve details for a specific alias.",
        "operationId": "getAlias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/AliasPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "alias": {
                      "$ref": "#/components/schemas/Alias"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update alias",
        "description": "Update the forwarding destination for an alias.",
        "operationId": "updateAlias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/AliasPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "forward"
                ],
                "properties": {
                  "forward": {
                    "type": "string",
                    "description": "Updated destination email address(es)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "alias": {
                      "$ref": "#/components/schemas/Alias"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete alias",
        "description": "Remove a specific alias from a domain.",
        "operationId": "deleteAlias",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/AliasPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/aliases/aliases-all": {
      "delete": {
        "summary": "Delete all aliases",
        "description": "Remove all aliases from a domain.",
        "operationId": "deleteAllAliases",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All aliases deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/aliases/bulk": {
      "post": {
        "summary": "Bulk modify aliases",
        "description": "Add, update, or delete up to 500 aliases in a single request.",
        "operationId": "bulkModifyAliases",
        "tags": [
          "Aliases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "aliases"
                ],
                "properties": {
                  "aliases": {
                    "type": "array",
                    "maxItems": 500,
                    "items": {
                      "type": "object",
                      "properties": {
                        "alias": {
                          "type": "string"
                        },
                        "forward": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Array of alias objects to process"
                  },
                  "behavior": {
                    "type": "string",
                    "enum": [
                      "add",
                      "update",
                      "delete"
                    ],
                    "default": "add",
                    "description": "Operation to perform"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk operation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "added": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alias"
                      }
                    },
                    "updated": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alias"
                      }
                    },
                    "deleted": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alias"
                      }
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/rules": {
      "get": {
        "summary": "List rules",
        "description": "Retrieve a paginated list of forwarding rules for a domain.",
        "operationId": "listRules",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by rule match",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rules retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Rule"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Add rule",
        "description": "Create a new forwarding rule for a domain.",
        "operationId": "addRule",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "config"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "alias",
                      "regex",
                      "cel"
                    ],
                    "description": "Rule type"
                  },
                  "config": {
                    "type": "object",
                    "description": "Type-specific rule configuration"
                  },
                  "rank": {
                    "type": "number",
                    "format": "float",
                    "description": "Evaluation priority"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the rule is enabled"
                  },
                  "id": {
                    "type": "string",
                    "description": "Custom rule ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "rule": {
                      "$ref": "#/components/schemas/Rule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/rules/{rule}": {
      "get": {
        "summary": "Get rule",
        "description": "Retrieve details for a specific forwarding rule.",
        "operationId": "getRule",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/RulePath"
          },
          {
            "name": "rule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "rule": {
                      "$ref": "#/components/schemas/Rule"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update rule",
        "description": "Update the configuration of a forwarding rule.",
        "operationId": "updateRule",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/RulePath"
          },
          {
            "name": "rule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "config"
                ],
                "properties": {
                  "config": {
                    "type": "object",
                    "description": "Updated rule configuration"
                  },
                  "rank": {
                    "type": "number",
                    "format": "float",
                    "description": "Updated priority"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Enable or disable the rule"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "rule": {
                      "$ref": "#/components/schemas/Rule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete rule",
        "description": "Remove a forwarding rule.",
        "operationId": "deleteRule",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/RulePath"
          },
          {
            "name": "rule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/rules-all": {
      "delete": {
        "summary": "Delete all rules",
        "description": "Remove all forwarding rules from a domain.",
        "operationId": "deleteAllRules",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All rules deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/rules/bulk": {
      "post": {
        "summary": "Bulk modify rules",
        "description": "Add, update, or delete multiple forwarding rules in a single request.",
        "operationId": "bulkModifyRules",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rules"
                ],
                "properties": {
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "alias",
                            "regex",
                            "cel"
                          ]
                        },
                        "config": {
                          "type": "object"
                        },
                        "rank": {
                          "type": "number",
                          "format": "float"
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "behavior": {
                    "type": "string",
                    "enum": [
                      "add",
                      "update",
                      "delete"
                    ],
                    "default": "add"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk rule operation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/logs": {
      "get": {
        "summary": "List domain logs",
        "description": "Retrieve email event logs for a domain.",
        "operationId": "listDomainLogs",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "next_cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LogEntry"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/logs/{alias}": {
      "get": {
        "summary": "List alias logs",
        "description": "Retrieve email event logs filtered for a specific alias.",
        "operationId": "listAliasLogs",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "$ref": "#/components/parameters/AliasPath"
          },
          {
            "name": "next_cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alias logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LogEntry"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/logs/search": {
      "get": {
        "summary": "Search domain logs",
        "description": "Search email event logs with filters for a domain.",
        "operationId": "searchDomainLogs",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Log filter type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "failure"
              ]
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "Keyword search text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": true,
            "description": "Unix timestamp lower bound",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": true,
            "description": "Unix timestamp upper bound",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LogEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/credentials": {
      "get": {
        "summary": "List SMTP credentials",
        "description": "Retrieve SMTP credentials for a domain.",
        "operationId": "listCredentials",
        "tags": [
          "SMTP Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credentials retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "credentials": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SmtpCredential"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Add SMTP credential",
        "description": "Create a new SMTP credential for a domain.",
        "operationId": "addCredential",
        "tags": [
          "SMTP Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Mailbox prefix"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "credential": {
                      "$ref": "#/components/schemas/SmtpCredential"
                    },
                    "requires_new_mx_check": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains/{domain}/credentials/{username}": {
      "put": {
        "summary": "Update SMTP credential",
        "description": "Update the password for an SMTP credential.",
        "operationId": "updateCredential",
        "tags": [
          "SMTP Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "SMTP credential username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "New password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "credential": {
                      "$ref": "#/components/schemas/SmtpCredential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete SMTP credential",
        "description": "Remove an SMTP credential.",
        "operationId": "deleteCredential",
        "tags": [
          "SMTP Credentials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainPath"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "SMTP credential username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with username 'api' and your API key as the password."
      }
    },
    "parameters": {
      "DomainPath": {
        "name": "domain",
        "in": "path",
        "required": true,
        "description": "Domain name",
        "schema": {
          "type": "string"
        }
      },
      "AliasPath": {
        "name": "alias",
        "in": "path",
        "required": true,
        "description": "Alias name or numeric ID",
        "schema": {
          "type": "string"
        }
      },
      "RulePath": {
        "name": "rule",
        "in": "path",
        "required": true,
        "description": "Rule ID (UUID)",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "description": "Current plan name"
          },
          "billing_email": {
            "type": "string",
            "format": "email"
          },
          "limits": {
            "type": "object",
            "properties": {
              "domains": {
                "type": "integer"
              },
              "aliases": {
                "type": "integer"
              },
              "daily_sends": {
                "type": "integer"
              }
            }
          }
        }
      },
      "WhitelabelDomain": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "display": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "notification_email": {
            "type": "string",
            "nullable": true
          },
          "webhook": {
            "type": "string",
            "nullable": true
          },
          "whitelabel": {
            "type": "string",
            "nullable": true
          },
          "aliases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alias"
            }
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "alias": {
            "type": "string"
          },
          "forward": {
            "type": "string"
          }
        }
      },
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "alias",
              "regex",
              "cel"
            ]
          },
          "config": {
            "type": "object"
          },
          "rank": {
            "type": "number",
            "format": "float"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "LogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "subject": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transport": {
            "type": "string"
          }
        }
      },
      "SmtpCredential": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "sent": {
                "type": "integer"
              },
              "daily_limit": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DnsCheck": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "expected": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
