{
  "openapi": "3.0.3",
  "info": {
    "title": "Open Trivia Database API",
    "version": "1.0.0",
    "description": "The Open Trivia Database provides a free JSON API for use in programming projects. Retrieve trivia questions by category, difficulty, and type.",
    "x-jentic-source-url": "https://opentdb.com/api_config.php",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://opentdb.com"
    }
  ],
  "tags": [
    {
      "name": "Questions",
      "description": "Trivia questions"
    },
    {
      "name": "Categories",
      "description": "Question categories"
    },
    {
      "name": "Session Tokens",
      "description": "Session token management"
    },
    {
      "name": "Statistics",
      "description": "Category question counts"
    }
  ],
  "paths": {
    "/api.php": {
      "get": {
        "operationId": "getQuestions",
        "summary": "Get trivia questions",
        "description": "Retrieve random trivia questions. Use category, difficulty, and type parameters to filter.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Number of questions (1-50)"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Category ID from /api_category.php"
          },
          {
            "name": "difficulty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "easy",
                "medium",
                "hard"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "multiple",
                "boolean"
              ]
            },
            "description": "Question type (multiple choice or true/false)"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Session token to avoid repeat questions"
          },
          {
            "name": "encode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "urlLegacy",
                "url3986",
                "base64"
              ]
            },
            "description": "Encoding for special characters"
          }
        ],
        "responses": {
          "200": {
            "description": "Trivia questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_category.php": {
      "get": {
        "operationId": "getCategories",
        "summary": "List question categories",
        "description": "Returns all available trivia categories and their IDs.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Category list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_count.php": {
      "get": {
        "operationId": "getCategoryQuestionCount",
        "summary": "Get question count for category",
        "description": "Returns the number of questions in a specific category by difficulty.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Category ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Question counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_count_global.php": {
      "get": {
        "operationId": "getGlobalQuestionCount",
        "summary": "Get global question count",
        "description": "Returns the total number of questions in the database, broken down by category.",
        "tags": [
          "Statistics"
        ],
        "responses": {
          "200": {
            "description": "Global counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api_token.php": {
      "get": {
        "operationId": "manageSessionToken",
        "summary": "Request or reset a session token",
        "description": "Session tokens prevent the API from returning the same question twice. Use command=request to get a new token, command=reset to reset an existing one.",
        "tags": [
          "Session Tokens"
        ],
        "parameters": [
          {
            "name": "command",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "request",
                "reset"
              ]
            },
            "description": "Token action"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Existing token (required for reset)"
          }
        ],
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QuestionResponse": {
        "type": "object",
        "properties": {
          "response_code": {
            "type": "integer",
            "description": "0=Success, 1=No Results, 2=Invalid Parameter, 3=Token Not Found, 4=Token Empty, 5=Rate Limit"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "multiple",
              "boolean"
            ]
          },
          "difficulty": {
            "type": "string",
            "enum": [
              "easy",
              "medium",
              "hard"
            ]
          },
          "category": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "correct_answer": {
            "type": "string"
          },
          "incorrect_answers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "trivia_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CategoryCountResponse": {
        "type": "object",
        "properties": {
          "category_id": {
            "type": "integer"
          },
          "category_question_count": {
            "type": "object",
            "properties": {
              "total_question_count": {
                "type": "integer"
              },
              "total_easy_question_count": {
                "type": "integer"
              },
              "total_medium_question_count": {
                "type": "integer"
              },
              "total_hard_question_count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "GlobalCountResponse": {
        "type": "object",
        "properties": {
          "overall": {
            "type": "object",
            "properties": {
              "total_num_of_questions": {
                "type": "integer"
              },
              "total_num_of_pending_questions": {
                "type": "integer"
              },
              "total_num_of_verified_questions": {
                "type": "integer"
              },
              "total_num_of_rejected_questions": {
                "type": "integer"
              }
            }
          },
          "categories": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "total_num_of_questions": {
                  "type": "integer"
                },
                "total_num_of_pending_questions": {
                  "type": "integer"
                },
                "total_num_of_verified_questions": {
                  "type": "integer"
                },
                "total_num_of_rejected_questions": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "response_code": {
            "type": "integer"
          },
          "response_message": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "response_code": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}
