{
  "openapi": "3.0.3",
  "info": {
    "title": "API Public Odoo",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/digloma/api-public-odoo/1.0.0"
  },
  "servers": [
    {
      "url": "https://sarinahportal.co.id"
    }
  ],
  "paths": {
    "/api/public/product_by_barcode": {
      "post": {
        "summary": "get_data_promotion_by_product",
        "description": "get_data_promotion_by_product",
        "operationId": "getDataPromotionByProduct",
        "parameters": [
          {
            "name": "barcode",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1844400000005"
            },
            "description": "required"
          },
          {
            "name": "",
            "in": "header",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/public/member_loyalty": {
      "post": {
        "summary": "get_data_member",
        "description": "get_data_member",
        "operationId": "getDataMember",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "\ud835\ude78\ud835\ude96\ud835\ude8a\ud835\ude97 \ud835\ude81\ud835\ude92\ud835\udea2\ud835\ude8a\ud835\ude8d"
            },
            "description": "pilih per customer dari namanya"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "all"
            },
            "description": "kalau di pilih maka semua member ke get"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/public/pos_order_history": {
      "post": {
        "summary": "get_pos_order_history",
        "description": "get_pos_order_history",
        "operationId": "getPosOrderHistory",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-07-15"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-07-16"
            }
          },
          {
            "name": "customer",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Fajar Triperdana"
            }
          },
          {
            "name": "receipt_number",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Order 49416-001-0145"
            }
          },
          {
            "name": "order_ref",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "JKTTHM-DL401/25073246"
            }
          },
          {
            "name": "session",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "POS25071648859"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/public/pos_order_rating": {
      "post": {
        "summary": "get_pos_order_rating",
        "description": "get_pos_order_rating",
        "operationId": "getPosOrderRating",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-09-01"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-09-30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/public/journal_entries_coa_harmonisasi": {
      "post": {
        "summary": "get_journal_coa_harmonisasi",
        "description": "get_journal_coa_harmonisasi",
        "operationId": "getJournalCoaHarmonisasi",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2022-07-15"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2026-07-16"
            }
          },
          {
            "name": "partner",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "STJ/202501/45/5215"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "posted"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/public/product_inj": {
      "post": {
        "summary": "get_data_product_inj",
        "description": "get_data_product_inj",
        "operationId": "getDataProductInj",
        "parameters": [
          {
            "name": "",
            "in": "header",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}