{
  "openapi": "3.0.3",
  "info": {
    "title": "KeyNest API",
    "version": "1.0.0",
    "description": "KeyNest API provides secure key management for short-term rental hosts, estate agents, and property managers. Manage keys at 5,000+ KeyNest Point locations, create drop-off and collection codes, and check key statuses.",
    "x-jentic-source-url": "http://api.keynest.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.keynest.com/api/v2",
      "description": "KeyNest API"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/Key/KeyList": {
      "get": {
        "operationId": "listKeys",
        "summary": "List all keys for the authenticated user",
        "tags": [
          "Keys"
        ],
        "responses": {
          "200": {
            "description": "List of keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all keys for the authenticated user"
      }
    },
    "/Key/CreateKeyWithDropOffAndCollectionCode": {
      "post": {
        "operationId": "createKeyWithCollectionCode",
        "summary": "Create a new key with drop-off and collection code",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key created with codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new key with drop-off and collection code"
      }
    },
    "/Key/GetDropOffCode": {
      "post": {
        "operationId": "getDropOffCode",
        "summary": "Retrieve the drop-off code for a key",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Drop-off code details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DropOffCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve the drop-off code for a key"
      }
    },
    "/Key/DeleteKey": {
      "post": {
        "operationId": "cancelKeyDropOffCode",
        "summary": "Cancel a key drop-off code",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel a key drop-off code"
      }
    },
    "/Key/CreateKeyCollectionCode": {
      "post": {
        "operationId": "createCollectionCode",
        "summary": "Create a collection code for an existing key",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a collection code for an existing key"
      }
    },
    "/Key/GetKeyStatus": {
      "post": {
        "operationId": "getKeyStatus",
        "summary": "Get the current status of a key",
        "tags": [
          "Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key status details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get the current status of a key"
      }
    },
    "/Store/StoreList": {
      "get": {
        "operationId": "listStores",
        "summary": "List all KeyNest stores/points",
        "tags": [
          "Stores"
        ],
        "responses": {
          "200": {
            "description": "List of stores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all KeyNest stores/points"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "ApiKey",
        "description": "API token obtained from your profile at secure.keynest.com"
      }
    },
    "schemas": {
      "KeyListResponse": {
        "type": "object",
        "properties": {
          "KeyList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Key"
            }
          }
        }
      },
      "Key": {
        "type": "object",
        "properties": {
          "KeyId": {
            "type": "integer"
          },
          "Title": {
            "type": "string"
          },
          "CustomerId": {
            "type": "integer"
          },
          "CustomerName": {
            "type": "string"
          },
          "PropertyId": {
            "type": "string"
          },
          "PostCode": {
            "type": "string"
          },
          "IsGoUnlimited": {
            "type": "boolean"
          },
          "SubscriptionPlan": {
            "type": "string"
          },
          "AddedOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateKeyRequest": {
        "type": "object",
        "required": [
          "PropertyName",
          "PostCode",
          "CustomerName",
          "StoreId"
        ],
        "properties": {
          "PropertyName": {
            "type": "string"
          },
          "PostCode": {
            "type": "string"
          },
          "CustomerName": {
            "type": "string"
          },
          "Email": {
            "type": "string",
            "format": "email"
          },
          "StoreId": {
            "type": "integer"
          },
          "SubCustomer": {
            "type": "string"
          },
          "PropertyId": {
            "type": "string"
          },
          "ExpectedCollectionUserName": {
            "type": "string"
          },
          "ExpectedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExpectedTime": {
            "type": "string"
          },
          "IsPermanentCode": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "CreateKeyResponse": {
        "type": "object",
        "properties": {
          "PropertyName": {
            "type": "string"
          },
          "KeyId": {
            "type": "integer"
          },
          "DropOffCode": {
            "type": "string"
          },
          "CollectionCode": {
            "type": "string"
          },
          "PropertyId": {
            "type": "string"
          },
          "Store": {
            "$ref": "#/components/schemas/Store"
          }
        }
      },
      "PropertyIdRequest": {
        "type": "object",
        "required": [
          "PropertyId"
        ],
        "properties": {
          "PropertyId": {
            "type": "integer"
          }
        }
      },
      "DropOffCodeResponse": {
        "type": "object",
        "properties": {
          "PropertyName": {
            "type": "string"
          },
          "KeyId": {
            "type": "integer"
          },
          "DropOffCode": {
            "type": "string"
          },
          "Store": {
            "$ref": "#/components/schemas/Store"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "Status": {
            "type": "string"
          }
        }
      },
      "CreateCollectionCodeRequest": {
        "type": "object",
        "required": [
          "PropertyKeyId",
          "StoreId"
        ],
        "properties": {
          "PropertyKeyId": {
            "type": "integer"
          },
          "StoreId": {
            "type": "integer"
          },
          "ExpectedCollectionUserName": {
            "type": "string"
          },
          "ExpectedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExpectedTime": {
            "type": "string"
          },
          "IsPermanentCode": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "CollectionCodeResponse": {
        "type": "object",
        "properties": {
          "PropertyName": {
            "type": "string"
          },
          "KeyId": {
            "type": "integer"
          },
          "CollectionCode": {
            "type": "string"
          }
        }
      },
      "KeyStatusResponse": {
        "type": "object",
        "properties": {
          "PropertyName": {
            "type": "string"
          },
          "KeyId": {
            "type": "integer"
          },
          "Status": {
            "type": "string"
          },
          "StatusType": {
            "type": "string"
          },
          "FullStatus": {
            "type": "string"
          },
          "PropertyId": {
            "type": "string"
          },
          "Store": {
            "$ref": "#/components/schemas/Store"
          },
          "KeyUser": {
            "$ref": "#/components/schemas/KeyUser"
          }
        }
      },
      "Store": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "PostCode": {
            "type": "string"
          },
          "Storetime": {
            "type": "string"
          },
          "Latitude": {
            "type": "string"
          },
          "Longitude": {
            "type": "string"
          }
        }
      },
      "StoreListResponse": {
        "type": "object",
        "properties": {
          "StoreList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StoreDetail"
            }
          }
        }
      },
      "StoreDetail": {
        "type": "object",
        "properties": {
          "StoreId": {
            "type": "integer"
          },
          "StoreName": {
            "type": "string"
          },
          "StoreTime": {
            "type": "string"
          },
          "StoreDescription": {
            "type": "string"
          },
          "StoreStreetAddress": {
            "type": "string"
          },
          "StoreType": {
            "type": "string"
          },
          "PostCode": {
            "type": "string"
          },
          "Latitude": {
            "type": "string"
          },
          "Longitude": {
            "type": "string"
          }
        }
      },
      "KeyUser": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Company": {
            "type": "string"
          },
          "MobileNumber": {
            "type": "string"
          },
          "KeyCollectionDateTime": {
            "type": "string"
          },
          "ExpectedReturnDate": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Keys"
    },
    {
      "name": "Stores"
    }
  ]
}
