{
  "openapi": "3.0.1",
  "info": {
    "title": "VocaDbWeb",
    "version": "1.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/vocadb.net/main/1.0/openapi.json",
    "contact": {
      "name": "API Support"
    },
    "description": "VocaDbWeb - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://vocadb.net"
    }
  ],
  "paths": {
    "/api/activityEntries": {
      "get": {
        "tags": [
          "ActivityEntryApi"
        ],
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "editEvent",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryEditEvent"
            }
          },
          {
            "name": "entryType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ActivityEntryOptionalFields"
            }
          },
          {
            "name": "entryFields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          },
          {
            "name": "sortRule",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ActivityEntrySortRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityEntryForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityEntryForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityEntryForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/activityEntries",
        "operationId": "get_api_activityEntries"
      }
    },
    "/api/albums/{id}": {
      "delete": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/albums/{id}",
        "operationId": "delete_api_albums_id"
      },
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumOptionalFields"
            }
          },
          {
            "name": "songFields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SongOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumForApiContract"
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}",
        "operationId": "get_api_albums_id"
      }
    },
    "/api/albums/comments/{commentId}": {
      "delete": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/albums/comments/{commentId}",
        "operationId": "delete_api_albums_comments_commentId"
      },
      "post": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "POST /api/albums/comments/{commentId}",
        "operationId": "post_api_albums_comments_commentId"
      }
    },
    "/api/albums/{id}/comments": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}/comments",
        "operationId": "get_api_albums_id_comments"
      },
      "post": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              }
            }
          }
        },
        "description": "POST /api/albums/{id}/comments",
        "operationId": "post_api_albums_id_comments"
      }
    },
    "/api/albums": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "discTypes",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DiscType"
            }
          },
          {
            "name": "tagName[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tagId[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "childTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "artistId[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "artistParticipationStatus",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ArtistAlbumParticipationStatus"
            }
          },
          {
            "name": "childVoicebanks",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeMembers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "barcode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryStatus"
            }
          },
          {
            "name": "releaseDateAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "releaseDateBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "advancedFilters",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdvancedSearchFilterParams"
              }
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumSortRule"
            }
          },
          {
            "name": "preferAccurateMatches",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/albums",
        "operationId": "get_api_albums"
      }
    },
    "/api/albums/names": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/names",
        "operationId": "get_api_albums_names"
      }
    },
    "/api/albums/new": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "languagePreference",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/new",
        "operationId": "get_api_albums_new"
      }
    },
    "/api/albums/{id}/reviews": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "languageCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumReviewContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumReviewContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumReviewContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}/reviews",
        "operationId": "get_api_albums_id_reviews"
      },
      "post": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumReviewContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumReviewContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumReviewContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumReviewContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumReviewContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumReviewContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumReviewContract"
                }
              }
            }
          }
        },
        "description": "POST /api/albums/{id}/reviews",
        "operationId": "post_api_albums_id_reviews"
      }
    },
    "/api/albums/{id}/user-collections": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "languagePreference",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForUserForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForUserForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForUserForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}/user-collections",
        "operationId": "get_api_albums_id_user_collections"
      }
    },
    "/api/albums/{id}/reviews/{reviewId}": {
      "delete": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/albums/{id}/reviews/{reviewId}",
        "operationId": "delete_api_albums_id_reviews_reviewId"
      }
    },
    "/api/albums/top": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "ignoreIds[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "languagePreference",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/top",
        "operationId": "get_api_albums_top"
      }
    },
    "/api/albums/{id}/tracks": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SongOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SongInAlbumForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SongInAlbumForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SongInAlbumForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}/tracks",
        "operationId": "get_api_albums_id_tracks"
      }
    },
    "/api/albums/{id}/tracks/fields": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "field[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "discNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}/tracks/fields",
        "operationId": "get_api_albums_id_tracks_fields"
      }
    },
    "/api/albums/{id}/related": {
      "get": {
        "tags": [
          "AlbumApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedAlbumsContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedAlbumsContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedAlbumsContract"
                }
              }
            }
          }
        },
        "description": "GET /api/albums/{id}/related",
        "operationId": "get_api_albums_id_related"
      }
    },
    "/api/artists/{id}": {
      "delete": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/artists/{id}",
        "operationId": "delete_api_artists_id"
      },
      "get": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ArtistOptionalFields"
            }
          },
          {
            "name": "relations",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ArtistRelationsFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistForApiContract"
                }
              }
            }
          }
        },
        "description": "GET /api/artists/{id}",
        "operationId": "get_api_artists_id"
      }
    },
    "/api/artists/comments/{commentId}": {
      "delete": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/artists/comments/{commentId}",
        "operationId": "delete_api_artists_comments_commentId"
      },
      "post": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "POST /api/artists/comments/{commentId}",
        "operationId": "post_api_artists_comments_commentId"
      }
    },
    "/api/artists/{id}/comments": {
      "get": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/artists/{id}/comments",
        "operationId": "get_api_artists_id_comments"
      },
      "post": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              }
            }
          }
        },
        "description": "POST /api/artists/{id}/comments",
        "operationId": "post_api_artists_id_comments"
      }
    },
    "/api/artists": {
      "get": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "artistTypes",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowBaseVoicebanks",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "tagName[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tagId[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "childTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "followedByUserId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryStatus"
            }
          },
          {
            "name": "advancedFilters",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AdvancedSearchFilterParams"
              }
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ArtistSortRule"
            }
          },
          {
            "name": "preferAccurateMatches",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ArtistOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          },
          {
            "name": "languages[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/artists",
        "operationId": "get_api_artists"
      }
    },
    "/api/artists/names": {
      "get": {
        "tags": [
          "ArtistApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/artists/names",
        "operationId": "get_api_artists_names"
      }
    },
    "/api/comments/{entryType}-comments/{commentId}": {
      "delete": {
        "tags": [
          "CommentApi"
        ],
        "parameters": [
          {
            "name": "entryType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/comments/{entryType}-comments/{commentId}",
        "operationId": "delete_api_comments_entryType_comments_commentId"
      },
      "post": {
        "tags": [
          "CommentApi"
        ],
        "parameters": [
          {
            "name": "entryType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "POST /api/comments/{entryType}-comments/{commentId}",
        "operationId": "post_api_comments_entryType_comments_commentId"
      }
    },
    "/api/comments/{entryType}-comments": {
      "get": {
        "tags": [
          "CommentApi"
        ],
        "parameters": [
          {
            "name": "entryType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          },
          {
            "name": "entryId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/comments/{entryType}-comments",
        "operationId": "get_api_comments_entryType_comments"
      },
      "post": {
        "tags": [
          "CommentApi"
        ],
        "parameters": [
          {
            "name": "entryType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              }
            }
          }
        },
        "description": "POST /api/comments/{entryType}-comments",
        "operationId": "post_api_comments_entryType_comments"
      }
    },
    "/api/comments": {
      "get": {
        "tags": [
          "CommentApi"
        ],
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entryType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CommentOptionalFields"
            }
          },
          {
            "name": "entryFields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          },
          {
            "name": "sortRule",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CommentSortRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/comments",
        "operationId": "get_api_comments"
      }
    },
    "/api/discussions/comments/{commentId}": {
      "delete": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/discussions/comments/{commentId}",
        "operationId": "delete_api_discussions_comments_commentId"
      },
      "post": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "POST /api/discussions/comments/{commentId}",
        "operationId": "post_api_discussions_comments_commentId"
      }
    },
    "/api/discussions/topics/{topicId}": {
      "delete": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/discussions/topics/{topicId}",
        "operationId": "delete_api_discussions_topics_topicId"
      },
      "get": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DiscussionTopicOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContract"
                }
              }
            }
          }
        },
        "description": "GET /api/discussions/topics/{topicId}",
        "operationId": "get_api_discussions_topics_topicId"
      },
      "post": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "POST /api/discussions/topics/{topicId}",
        "operationId": "post_api_discussions_topics_topicId"
      }
    },
    "/api/discussions/folders": {
      "get": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DiscussionFolderOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscussionFolderContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscussionFolderContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscussionFolderContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/discussions/folders",
        "operationId": "get_api_discussions_folders"
      },
      "post": {
        "tags": [
          "DiscussionApi"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionFolderContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionFolderContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionFolderContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionFolderContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionFolderContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionFolderContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionFolderContract"
                }
              }
            }
          }
        },
        "description": "POST /api/discussions/folders",
        "operationId": "post_api_discussions_folders"
      }
    },
    "/api/discussions/topics": {
      "get": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DiscussionTopicSortRule"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DiscussionTopicOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/discussions/topics",
        "operationId": "get_api_discussions_topics"
      }
    },
    "/api/discussions/folders/{folderId}/topics": {
      "get": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DiscussionTopicOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscussionTopicContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscussionTopicContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscussionTopicContract"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "description": "GET /api/discussions/folders/{folderId}/topics",
        "operationId": "get_api_discussions_folders_folderId_topics"
      },
      "post": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionTopicContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionTopicContract"
                }
              }
            }
          }
        },
        "description": "POST /api/discussions/folders/{folderId}/topics",
        "operationId": "post_api_discussions_folders_folderId_topics"
      }
    },
    "/api/discussions/topics/{topicId}/comments": {
      "post": {
        "tags": [
          "DiscussionApi"
        ],
        "parameters": [
          {
            "name": "topicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentForApiContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentForApiContract"
                }
              }
            }
          }
        },
        "description": "POST /api/discussions/topics/{topicId}/comments",
        "operationId": "post_api_discussions_topics_topicId_comments"
      }
    },
    "/api/entries": {
      "get": {
        "tags": [
          "EntryApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "tagName[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tagId[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "childTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "entryTypes",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryTypes"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryStatus"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntrySortRule"
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntryForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntryForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/entries",
        "operationId": "get_api_entries"
      }
    },
    "/api/entries/names": {
      "get": {
        "tags": [
          "EntryApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/entries/names",
        "operationId": "get_api_entries_names"
      }
    },
    "/api/entry-types/{entryType}/{subType}/tag": {
      "get": {
        "tags": [
          "EntryTypesApi"
        ],
        "parameters": [
          {
            "name": "entryType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EntryType"
            }
          },
          {
            "name": "subType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TagOptionalFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TagForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagForApiContract"
                }
              }
            }
          }
        },
        "description": "GET /api/entry-types/{entryType}/{subType}/tag",
        "operationId": "get_api_entry_types_entryType_subType_tag"
      }
    },
    "/api/pvs/for-songs": {
      "get": {
        "tags": [
          "PVApi"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/PVService"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PVForSongContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PVForSongContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PVForSongContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/pvs/for-songs",
        "operationId": "get_api_pvs_for_songs"
      }
    },
    "/api/pvs/thumbnail": {
      "get": {
        "tags": [
          "PVApi"
        ],
        "parameters": [
          {
            "name": "pvUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "GET /api/pvs/thumbnail",
        "operationId": "get_api_pvs_thumbnail"
      }
    },
    "/api/releaseEvents/{id}": {
      "delete": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "hardDelete",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/releaseEvents/{id}",
        "operationId": "delete_api_releaseEvents_id"
      },
      "get": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReleaseEventOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventForApiContract"
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEvents/{id}",
        "operationId": "get_api_releaseEvents_id"
      }
    },
    "/api/releaseEvents/{eventId}/albums": {
      "get": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlbumOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlbumForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEvents/{eventId}/albums",
        "operationId": "get_api_releaseEvents_eventId_albums"
      }
    },
    "/api/releaseEvents/{eventId}/published-songs": {
      "get": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SongOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SongForApiContract"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SongForApiContract"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SongForApiContract"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEvents/{eventId}/published-songs",
        "operationId": "get_api_releaseEvents_eventId_published_songs"
      }
    },
    "/api/releaseEvents": {
      "get": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "seriesId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "afterDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "beforeDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EventCategory"
            }
          },
          {
            "name": "userCollectionId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagId[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "childTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "artistId[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "childVoicebanks",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeMembers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EntryStatus"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EventSortRule"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReleaseEventOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEvents",
        "operationId": "get_api_releaseEvents"
      }
    },
    "/api/releaseEvents/names": {
      "get": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEvents/names",
        "operationId": "get_api_releaseEvents_names"
      }
    },
    "/api/releaseEvents/{eventId}/reports": {
      "post": {
        "tags": [
          "ReleaseEventApi"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EventReportType"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "POST /api/releaseEvents/{eventId}/reports",
        "operationId": "post_api_releaseEvents_eventId_reports"
      }
    },
    "/api/releaseEventSeries/{id}": {
      "delete": {
        "tags": [
          "ReleaseEventSeriesApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "hardDelete",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "DELETE /api/releaseEventSeries/{id}",
        "operationId": "delete_api_releaseEventSeries_id"
      },
      "get": {
        "tags": [
          "ReleaseEventSeriesApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReleaseEventSeriesOptionalFields"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForApiContract"
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEventSeries/{id}",
        "operationId": "get_api_releaseEventSeries_id"
      }
    },
    "/api/releaseEventSeries": {
      "get": {
        "tags": [
          "ReleaseEventSeriesApi"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReleaseEventSeriesOptionalFields"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "getTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "nameMatchMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NameMatchMode"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContentLanguagePreference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForApiContractPartialFindResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForApiContractPartialFindResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForApiContractPartialFindResult"
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEventSeries",
        "operationId": "get_api_releaseEventSeries"
      }
    },
    "/api/releaseEventSeries/{id}/for-edit": {
      "get": {
        "tags": [
          "ReleaseEventSeriesApi"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForEditForApiContract"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForEditForApiContract"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseEventSeriesForEditForApiContract"
                }
              }
            }
          }
        },
        "description": "GET /api/releaseEventSeries/{id}/for-edit",
        "operationId": "get_api_releaseEventSeries_id_for_edit"
      }
    },
    "/api/resources/{cultureCode}": {
      "get": {
        "tags": [
          "ResourcesApi"
        ],
        "parameters": [
          {
            "name": "cultureCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setNames[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
[...]
