{
  "openapi": "3.0.3",
  "info": {
    "title": "Assembla API",
    "version": "1.0.0",
    "description": "Assembla is a project management and version control platform. The API provides access to spaces, tickets, milestones, merge requests, wiki pages, documents, users, and more.",
    "x-jentic-source-url": "https://api-docs.assembla.cc/content/api_reference.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.assembla.com",
      "description": "Assembla API Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User operations"
    },
    {
      "name": "Spaces",
      "description": "Space management"
    },
    {
      "name": "Tickets",
      "description": "Ticket management"
    },
    {
      "name": "Milestones",
      "description": "Milestone management"
    },
    {
      "name": "Merge Requests",
      "description": "Merge request operations"
    },
    {
      "name": "Wiki Pages",
      "description": "Wiki page operations"
    },
    {
      "name": "Documents",
      "description": "Document management"
    },
    {
      "name": "Lists & Tags",
      "description": "Tags and lists"
    }
  ],
  "paths": {
    "/v1/user": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get current user"
      }
    },
    "/v1/spaces": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "Get spaces",
        "operationId": "getSpaces",
        "description": "Get list of spaces the user participates in.",
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Space"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Spaces"
        ],
        "summary": "Create space",
        "operationId": "createSpace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          }
        },
        "description": "Create space"
      }
    },
    "/v1/spaces/{space_id}": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "Get space",
        "operationId": "getSpace",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          }
        },
        "description": "Get space"
      },
      "put": {
        "tags": [
          "Spaces"
        ],
        "summary": "Update space",
        "operationId": "updateSpace",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          }
        },
        "description": "Update space"
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "summary": "Delete space",
        "operationId": "deleteSpace",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Space deleted"
          }
        },
        "description": "Delete space"
      }
    },
    "/v1/spaces/{space_id}/tickets": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "List tickets",
        "operationId": "listTickets",
        "description": "Returns paginated tickets filtered by report. Default 10 per page.",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "report",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ticket"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create ticket",
        "operationId": "createTicket",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          }
        },
        "description": "Create ticket"
      }
    },
    "/v1/spaces/{space_id}/tickets/{number}": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Get ticket by number",
        "operationId": "getTicket",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          }
        },
        "description": "Get ticket by number"
      },
      "put": {
        "tags": [
          "Tickets"
        ],
        "summary": "Update ticket",
        "operationId": "updateTicket",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          }
        },
        "description": "Update ticket"
      },
      "delete": {
        "tags": [
          "Tickets"
        ],
        "summary": "Delete ticket",
        "operationId": "deleteTicket",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ticket deleted"
          }
        },
        "description": "Delete ticket"
      }
    },
    "/v1/spaces/{space_id}/milestones": {
      "get": {
        "tags": [
          "Milestones"
        ],
        "summary": "List milestones",
        "operationId": "listMilestones",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of milestones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Milestone"
                  }
                }
              }
            }
          }
        },
        "description": "List milestones"
      },
      "post": {
        "tags": [
          "Milestones"
        ],
        "summary": "Create milestone",
        "operationId": "createMilestone",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Milestone created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Milestone"
                }
              }
            }
          }
        },
        "description": "Create milestone"
      }
    },
    "/v1/spaces/{space_id}/milestones/{id}": {
      "get": {
        "tags": [
          "Milestones"
        ],
        "summary": "Get milestone",
        "operationId": "getMilestone",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Milestone details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Milestone"
                }
              }
            }
          }
        },
        "description": "Get milestone"
      },
      "put": {
        "tags": [
          "Milestones"
        ],
        "summary": "Update milestone",
        "operationId": "updateMilestone",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Milestone updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Milestone"
                }
              }
            }
          }
        },
        "description": "Update milestone"
      },
      "delete": {
        "tags": [
          "Milestones"
        ],
        "summary": "Delete milestone",
        "operationId": "deleteMilestone",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Milestone deleted"
          }
        },
        "description": "Delete milestone"
      }
    },
    "/v1/spaces/{space_id}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get space users",
        "operationId": "getSpaceUsers",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "description": "Get space users"
      }
    },
    "/v1/spaces/{space_id}/wiki_pages": {
      "get": {
        "tags": [
          "Wiki Pages"
        ],
        "summary": "List wiki pages",
        "operationId": "listWikiPages",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wiki pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WikiPage"
                  }
                }
              }
            }
          }
        },
        "description": "List wiki pages"
      },
      "post": {
        "tags": [
          "Wiki Pages"
        ],
        "summary": "Create wiki page",
        "operationId": "createWikiPage",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WikiPageInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wiki page created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiPage"
                }
              }
            }
          }
        },
        "description": "Create wiki page"
      }
    },
    "/v1/spaces/{space_id}/tags": {
      "get": {
        "tags": [
          "Lists & Tags"
        ],
        "summary": "List tags",
        "operationId": "listTags",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        },
        "description": "List tags"
      }
    },
    "/v1/spaces/{space_id}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "operationId": "listDocuments",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          }
        },
        "description": "List documents"
      }
    },
    "/v1/spaces/{space_id}/space_tools/{space_tool_id}/merge_requests": {
      "get": {
        "tags": [
          "Merge Requests"
        ],
        "summary": "List merge requests",
        "operationId": "listMergeRequests",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merge requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MergeRequest"
                  }
                }
              }
            }
          }
        },
        "description": "List merge requests"
      },
      "post": {
        "tags": [
          "Merge Requests"
        ],
        "summary": "Create merge request",
        "operationId": "createMergeRequest",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "space_tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeRequestInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Merge request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeRequest"
                }
              }
            }
          }
        },
        "description": "Create merge request"
      }
    },
    "/v1/spaces/{space_id}/webhooks": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "tags": [
          "Spaces"
        ],
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "description": "Create webhook"
      }
    },
    "/v1/activity": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get activity stream",
        "operationId": "getActivityStream",
        "responses": {
          "200": {
            "description": "Activity events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        },
        "description": "Get activity stream"
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List tasks",
        "operationId": "listTasks",
        "responses": {
          "200": {
            "description": "Tasks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        },
        "description": "List tasks"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token or API key"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "login": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "im": {
            "type": "string"
          },
          "im2": {
            "type": "string"
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "wiki_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_commercial": {
            "type": "boolean"
          },
          "is_manager": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SpaceInput": {
        "type": "object",
        "properties": {
          "space": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "wiki_name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "is_commercial": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "status_name": {
            "type": "string"
          },
          "assigned_to_id": {
            "type": "string"
          },
          "milestone_id": {
            "type": "string"
          },
          "component_id": {
            "type": "string"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TicketInput": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "priority": {
                "type": "integer"
              },
              "assigned_to_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "milestone_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Milestone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "is_completed": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MilestoneInput": {
        "type": "object",
        "properties": {
          "milestone": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "due_date": {
                "type": "string",
                "format": "date"
              }
            }
          }
        }
      },
      "MergeRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source_symbol": {
            "type": "string"
          },
          "target_symbol": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MergeRequestInput": {
        "type": "object",
        "properties": {
          "merge_request": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "source_symbol": {
                "type": "string"
              },
              "target_symbol": {
                "type": "string"
              }
            }
          }
        }
      },
      "WikiPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "page_name": {
            "type": "string"
          },
          "contents": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WikiPageInput": {
        "type": "object",
        "properties": {
          "wiki_page": {
            "type": "object",
            "properties": {
              "page_name": {
                "type": "string"
              },
              "contents": {
                "type": "string"
              }
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "filesize": {
            "type": "integer"
          },
          "content_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "integer"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "string"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "hours": {
            "type": "number"
          },
          "begin_at": {
            "type": "string",
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "properties": {
          "webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "enabled": {
                "type": "boolean"
              }
            }
          }
        }
      }
    }
  }
}
