{
  "openapi": "3.0.3",
  "info": {
    "title": "SuperTokens Core API",
    "version": "1.0.0",
    "description": "SuperTokens open-source authentication backend. Provides session management, email-password, passwordless, social login, multi-tenancy, and user management APIs.",
    "x-jentic-source-url": "https://supertokens.com/docs",
    "contact": {
      "name": "SuperTokens",
      "url": "https://supertokens.com"
    }
  },
  "servers": [
    {
      "url": "https://try.supertokens.com",
      "description": "SuperTokens Core (demo)"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Session",
      "description": "Session management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Recipes",
      "description": "Recipe-specific endpoints"
    },
    {
      "name": "Tenants",
      "description": "Multi-tenancy management"
    },
    {
      "name": "Roles",
      "description": "Role management"
    }
  ],
  "paths": {
    "/recipe/signin": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signIn",
        "summary": "Sign in with email/password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formFields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign in result"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Sign in with email/password"
      }
    },
    "/recipe/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signUp",
        "summary": "Sign up with email/password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formFields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign up result"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Sign up with email/password"
      }
    },
    "/recipe/signinup/code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "createPasswordlessCode",
        "summary": "Create passwordless code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code created"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create passwordless code"
      }
    },
    "/recipe/signinup/code/consume": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "consumePasswordlessCode",
        "summary": "Consume passwordless code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "preAuthSessionId": {
                    "type": "string"
                  },
                  "linkCode": {
                    "type": "string"
                  },
                  "userInputCode": {
                    "type": "string"
                  },
                  "deviceId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign in/up result"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Consume passwordless code"
      }
    },
    "/recipe/session": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "createSession",
        "summary": "Create a new session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "userDataInJWT": {
                    "type": "object"
                  },
                  "userDataInDatabase": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create a new session"
      }
    },
    "/recipe/session/verify": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "verifySession",
        "summary": "Verify a session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string"
                  },
                  "antiCsrfToken": {
                    "type": "string"
                  },
                  "doAntiCsrfCheck": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session verified"
          },
          "401": {
            "description": "Session expired"
          }
        },
        "description": "Verify a session"
      }
    },
    "/recipe/session/refresh": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "refreshSession",
        "summary": "Refresh a session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session refreshed"
          },
          "401": {
            "description": "Invalid refresh token"
          }
        },
        "description": "Refresh a session"
      }
    },
    "/recipe/session/remove": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "revokeSession",
        "summary": "Revoke sessions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionHandles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sessions revoked"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Revoke sessions"
      }
    },
    "/recipe/session/data": {
      "get": {
        "tags": [
          "Session"
        ],
        "operationId": "getSessionData",
        "summary": "Get session data",
        "parameters": [
          {
            "name": "sessionHandle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session data"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get session data"
      },
      "put": {
        "tags": [
          "Session"
        ],
        "operationId": "updateSessionData",
        "summary": "Update session data",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionHandle": {
                    "type": "string"
                  },
                  "userDataInDatabase": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Update session data"
      }
    },
    "/recipe/user": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "summary": "Get user by ID, email, or phone",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User data"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get user by ID, email, or phone"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Delete a user"
      }
    },
    "/recipe/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "listUsers",
        "summary": "List users with pagination",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeJoinedOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users list"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List users with pagination"
      }
    },
    "/recipe/user/metadata": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUserMetadata",
        "summary": "Get user metadata",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get user metadata"
      },
      "put": {
        "tags": [
          "Users"
        ],
        "operationId": "updateUserMetadata",
        "summary": "Update user metadata",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "metadataUpdate": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Update user metadata"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "deleteUserMetadata",
        "summary": "Delete user metadata",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete user metadata"
      }
    },
    "/recipe/user/email/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "verifyEmail",
        "summary": "Verify email with token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Verify email with token"
      }
    },
    "/recipe/user/email/verify/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "createEmailVerificationToken",
        "summary": "Create email verification token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create email verification token"
      }
    },
    "/recipe/user/password/reset/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "createPasswordResetToken",
        "summary": "Create password reset token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create password reset token"
      }
    },
    "/recipe/user/password/reset/token/consume": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "consumePasswordResetToken",
        "summary": "Consume password reset token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Consume password reset token"
      }
    },
    "/recipe/role": {
      "put": {
        "tags": [
          "Roles"
        ],
        "operationId": "createOrUpdateRole",
        "summary": "Create or update a role",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create or update a role"
      },
      "delete": {
        "tags": [
          "Roles"
        ],
        "operationId": "deleteRole",
        "summary": "Delete a role",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Delete a role"
      }
    },
    "/recipe/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "operationId": "listRoles",
        "summary": "List all roles",
        "responses": {
          "200": {
            "description": "Roles list"
          }
        },
        "description": "List all roles"
      }
    },
    "/recipe/user/roles": {
      "put": {
        "tags": [
          "Roles"
        ],
        "operationId": "addRoleToUser",
        "summary": "Add role to user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role added"
          }
        },
        "description": "Add role to user"
      },
      "get": {
        "tags": [
          "Roles"
        ],
        "operationId": "getUserRoles",
        "summary": "Get roles for user",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User roles"
          }
        },
        "description": "Get roles for user"
      }
    },
    "/recipe/multitenancy/tenant": {
      "put": {
        "tags": [
          "Tenants"
        ],
        "operationId": "createOrUpdateTenant",
        "summary": "Create or update tenant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenantId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant created/updated"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create or update tenant"
      },
      "delete": {
        "tags": [
          "Tenants"
        ],
        "operationId": "deleteTenant",
        "summary": "Delete a tenant",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete a tenant"
      }
    },
    "/recipe/multitenancy/tenant/list": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "operationId": "listTenants",
        "summary": "List all tenants",
        "responses": {
          "200": {
            "description": "Tenant list"
          }
        },
        "description": "List all tenants"
      }
    },
    "/apiversion": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "getApiVersion",
        "summary": "Get API version",
        "security": [],
        "responses": {
          "200": {
            "description": "API version"
          }
        },
        "description": "Get API version"
      }
    },
    "/hello": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "hello",
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy"
          }
        },
        "description": "Health check"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "SuperTokens Core API key"
      }
    },
    "schemas": {}
  }
}
