{
  "info": {
    "title": "aifinyo.de Api V3",
    "description": "aifinyo.de Api V3",
    "version": "1.08",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/WEBMASTER_2/aifinyode-api-v3/1.08"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "authorizationUrl": "my.aifinyo.de/api/oauth/authorize",
      "flow": "implicit",
      "scopes": {
        "public": "public",
        "invoice_gen": "only for invoice generator"
      }
    }
  },
  "security": [
    {
      "OAuth2": [
        "public",
        "invoice_gen"
      ]
    }
  ],
  "host": "my.aifinyo.de",
  "basePath": "/api",
  "tags": [
    {
      "name": "Account OPERATIONS",
      "description": "Operations about Account OPERATIONs"
    },
    {
      "name": "Account CRUD",
      "description": "Operations about Account CRUDs"
    },
    {
      "name": "Addresses CRUD",
      "description": "Operations about Addresses CRUDs"
    },
    {
      "name": "Authorizations CRUD",
      "description": "Operations about Authorizations CRUDs"
    },
    {
      "name": "BankAccounts CRUD",
      "description": "Operations about BankAccounts CRUDs"
    },
    {
      "name": "BankAccounts OPERATIONS",
      "description": "Operations about BankAccounts OPERATIONs"
    },
    {
      "name": "Bank Transfer OPERATIONS",
      "description": "Operations about Bank Transfer OPERATIONs"
    },
    {
      "name": "Contacts CRUD",
      "description": "Operations about Contacts CRUDs"
    },
    {
      "name": "Contacts OPERATIONS",
      "description": "Operations about Contacts OPERATIONs"
    },
    {
      "name": "Contracts OPERATIONS",
      "description": "Operations about Contracts OPERATIONs"
    },
    {
      "name": "Documents CRUD",
      "description": "Operations about Documents CRUDs"
    },
    {
      "name": "Documents OPERATIONS",
      "description": "Operations about Documents OPERATIONs"
    },
    {
      "name": "Dossiers CRUD",
      "description": "Operations about Dossiers CRUDs"
    },
    {
      "name": "Generator OPERATIONS",
      "description": "Operations about Generator OPERATIONs"
    },
    {
      "name": "Invoices OPERATIONS",
      "description": "Operations about Invoices OPERATIONs"
    },
    {
      "name": "Invoices CRUD",
      "description": "Operations about Invoices CRUDs"
    },
    {
      "name": "Positions CRUD",
      "description": "Operations about Positions CRUDs"
    },
    {
      "name": "CustomerNote CRUD",
      "description": "Operations about CustomerNote CRUDs"
    },
    {
      "name": "SupplierInvoice CRUD",
      "description": "Operations about SupplierInvoice CRUDs"
    },
    {
      "name": "CreditNote CRUD",
      "description": "Operations about CreditNote CRUDs"
    },
    {
      "name": "CreditNote OPERATIONS",
      "description": "Operations about CreditNote OPERATIONs"
    },
    {
      "name": "Feedback CRUD",
      "description": "Operations about Feedback CRUDs"
    },
    {
      "name": "Positions OPERATIONS",
      "description": "Operations about Positions OPERATIONs"
    },
    {
      "name": "Kpis OPERATIONS",
      "description": "Operations about Kpis OPERATIONs"
    },
    {
      "name": "Projects CRUD",
      "description": "Operations about Projects CRUDs"
    },
    {
      "name": "TimeSheets OPERATIONS",
      "description": "Operations about TimeSheets OPERATIONs"
    },
    {
      "name": "TimeSheets CRUD",
      "description": "Operations about TimeSheets CRUDs"
    },
    {
      "name": "TimeEntries OPERATIONS",
      "description": "Operations about TimeEntries OPERATIONs"
    },
    {
      "name": "TimeEntries CRUD",
      "description": "Operations about TimeEntries CRUDs"
    }
  ],
  "paths": {
    "/v3/account/password": {
      "put": {
        "description": "Change password",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "old_password",
            "description": "Old password",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "new_password",
            "description": "New password",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Change password"
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "putV3AccountPassword"
      }
    },
    "/v3/account": {
      "put": {
        "description": "Update a principal",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "agency_internal_user_id",
            "description": "number you can find principal with",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "validation",
            "description": "Update with validation",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[gender]",
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[first_name]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[last_name]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[email]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[line1]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[line2]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[zip]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[city]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[country]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[phone]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[vat_number]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[registry_number]",
            "description": "Handelsregisternummer <br> required for LegalEntity",
            "type": "string",
            "default": "HRB 1234",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[tax_number]",
            "description": "Will be validated (https://de.wikipedia.org/wiki/Steuernummer) <br> Test taxnumber: '143/1346/1395' <br> tax or vat number are required",
            "type": "string",
            "default": "143/1346/1395",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[legal_form]",
            "description": "Can only be changed up to the first submitted invoice",
            "type": "string",
            "enum": [
              "consumer",
              "freelancer",
              "individual",
              "partnership",
              "gmbh",
              "ug",
              "ag",
              "association",
              "public_law"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[company]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "contact[date_of_birth]",
            "description": "Format: YYYY-MM-DD",
            "type": "string",
            "default": "",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Update a principal",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Partner"
            }
          }
        },
        "tags": [
          "Account CRUD"
        ],
        "operationId": "putV3Account"
      },
      "get": {
        "description": "Get principal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: <br> editable",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get principal",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Partner"
            }
          }
        },
        "tags": [
          "Account CRUD"
        ],
        "operationId": "getV3Account"
      }
    },
    "/v3/account/onboarding_status": {
      "get": {
        "description": "Onboarding Status",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Onboarding Status"
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "getV3AccountOnboardingStatus"
      }
    },
    "/v3/account/identity_verification_code": {
      "get": {
        "description": "Get identity_verification_code\n                Cases:\n                  - ID-Now for own User -> no additional param needed\n                  - ID-Now for authorization people -> use authorization_id\n                  - ID-Now for agency principals -> use principal_id ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "authorization_id",
            "description": "Authorization Id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "contract_type",
            "description": "contract type",
            "type": "string",
            "default": "factoring",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get identity_verification_code\n                Cases:\n                  - ID-Now for own User -> no additional param needed\n                  - ID-Now for authorization people -> use authorization_id\n                  - ID-Now for agency principals -> use principal_id "
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "getV3AccountIdentityVerificationCode"
      }
    },
    "/v3/account/identity_verification_url": {
      "get": {
        "description": "Get identity_verification_url\n                Cases:\n                  - ID-Now for own User -> no additional param needed\n                  - ID-Now for authorization people -> use authorization_id\n                  - ID-Now for agency principals -> use principal_id ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "redirect_url",
            "description": "Redirect URL",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "authorization_id",
            "description": "Authorization Id",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "whitelabel_mode",
            "description": "only delivers the body",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "query",
            "name": "contract_type",
            "description": "contract type",
            "type": "string",
            "default": "factoring",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get identity_verification_url\n                Cases:\n                  - ID-Now for own User -> no additional param needed\n                  - ID-Now for authorization people -> use authorization_id\n                  - ID-Now for agency principals -> use principal_id "
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "getV3AccountIdentityVerificationUrl"
      }
    },
    "/v3/account/bankverification_url": {
      "get": {
        "description": "get a url to verify a bank account\n                 Cases:\n                  - Url for own User -> no additional param needed\n                  - Url for authorization people -> use authorization_id\n                  - Url for agency principals -> use principal_id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "redirect_url",
            "description": "Redirect URL",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "language",
            "description": "Language",
            "type": "string",
            "default": "de",
            "enum": [
              "en",
              "de"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "whitelabel_mode",
            "description": "only delivers the body",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "query",
            "name": "access",
            "type": "string",
            "default": "single",
            "enum": [
              "permanent",
              "single"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "lifetime",
            "description": "Lifetime of the link in seconds",
            "type": "integer",
            "format": "int32",
            "default": 18000,
            "minimum": 60,
            "maximum": 1209600,
            "required": false
          },
          {
            "in": "query",
            "name": "authorization_id",
            "description": "Authorization Id",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "get a url to verify a bank account\n                 Cases:\n                  - Url for own User -> no additional param needed\n                  - Url for authorization people -> use authorization_id\n                  - Url for agency principals -> use principal_id"
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "getV3AccountBankverificationUrl"
      }
    },
    "/v3/account/delegations": {
      "get": {
        "summary": "",
        "description": "get delegations from principal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Delegation"
              }
            }
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "getV3AccountDelegations"
      }
    },
    "/v3/account/delegations/{delegation_id}": {
      "delete": {
        "summary": "",
        "description": "solve an existing delegations from principal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "delegation_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "Account OPERATIONS"
        ],
        "operationId": "deleteV3AccountDelegationsDelegationId"
      }
    },
    "/v3/account/kpi": {
      "get": {
        "description": "Get Kpi of principal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get Kpi of principal",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_PartnerKpi"
            }
          }
        },
        "tags": [
          "Account CRUD"
        ],
        "operationId": "getV3AccountKpi"
      }
    },
    "/v3/address/search": {
      "post": {
        "description": "Address search",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "full_search",
            "description": "Search",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "search_for",
            "description": "Possible details: <br>debitor<br>creditor",
            "type": "string",
            "default": "creditor",
            "enum": [
              "debitor",
              "creditor"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "formData",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Address search",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_CompanyAddress"
              }
            }
          }
        },
        "tags": [
          "Addresses CRUD"
        ],
        "operationId": "postV3AddressSearch"
      }
    },
    "/v3/address/address_info": {
      "get": {
        "description": "Address info",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "unique_search_key",
            "description": "unique_search_key from Adress Search",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Address info",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_CompanyInfo"
              }
            }
          }
        },
        "tags": [
          "Addresses CRUD"
        ],
        "operationId": "getV3AddressAddressInfo"
      }
    },
    "/v3/authorizations": {
      "get": {
        "description": "Get Authorizations from Principal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get Authorizations from Principal",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Authorization"
              }
            }
          }
        },
        "tags": [
          "Authorizations CRUD"
        ],
        "operationId": "getV3Authorizations"
      },
      "post": {
        "description": "Post new Authorizations for Principal",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "role",
            "description": "possible types: <br>signatory<br>beneficial_owner",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "first_name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "last_name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "date_of_birth",
            "description": "Format: YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Post new Authorizations for Principal",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Authorization"
              }
            }
          }
        },
        "tags": [
          "Authorizations CRUD"
        ],
        "operationId": "postV3Authorizations"
      }
    },
    "/v3/authorizations/{authorization_id}": {
      "get": {
        "description": "Get Authorization by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "authorization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get Authorization by ID",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Authorization"
            }
          }
        },
        "tags": [
          "Authorizations CRUD"
        ],
        "operationId": "getV3AuthorizationsAuthorizationId"
      },
      "put": {
        "description": "Update Authorization by ID",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "authorization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "role",
            "description": "possible types: <br>signatory<br>beneficial_owner",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "first_name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "date_of_birth",
            "description": "Format: YYYY-MM-DD",
            "type": "string",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Update Authorization by ID",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Authorization"
            }
          }
        },
        "tags": [
          "Authorizations CRUD"
        ],
        "operationId": "putV3AuthorizationsAuthorizationId"
      }
    },
    "/v3/bank_accounts": {
      "get": {
        "description": "Get bank account information",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get bank account information",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_BankAccount"
              }
            }
          }
        },
        "tags": [
          "BankAccounts CRUD"
        ],
        "operationId": "getV3BankAccounts"
      },
      "post": {
        "description": "create a bank account",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "iban",
            "description": "IBAN",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bic",
            "description": "BIC",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "holder",
            "description": "Holder",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bank_name",
            "description": "bank name",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankAccount"
            }
          }
        },
        "tags": [
          "BankAccounts CRUD"
        ],
        "operationId": "postV3BankAccounts"
      }
    },
    "/v3/bank_accounts/{bank_account_id}": {
      "get": {
        "description": "Get a specific bank account",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bank_account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get a specific bank account",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankAccount"
            }
          }
        },
        "tags": [
          "BankAccounts CRUD"
        ],
        "operationId": "getV3BankAccountsBankAccountId"
      },
      "put": {
        "description": "Set bank account active",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bank_account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "active",
            "type": "boolean",
            "default": "true",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Set bank account active",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankAccount"
            }
          }
        },
        "tags": [
          "BankAccounts CRUD"
        ],
        "operationId": "putV3BankAccountsBankAccountId"
      }
    },
    "/v3/bank_accounts/verification/verification_methods": {
      "get": {
        "description": "get all verification methods and the allowing state",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "BankAccounts OPERATIONS"
        ],
        "operationId": "getV3BankAccountsVerificationVerificationMethods"
      }
    },
    "/v3/bank_accounts/verification/by_optional_file": {
      "post": {
        "description": "Post bank account information and optional File.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "iban",
            "description": "IBAN",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bic",
            "description": "BIC",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "holder",
            "description": "Holder",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bank_name",
            "description": "bank name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "file",
            "description": "pdf is expected",
            "type": "file",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankAccount"
            }
          }
        },
        "tags": [
          "BankAccounts OPERATIONS"
        ],
        "operationId": "postV3BankAccountsVerificationByOptionalFile"
      }
    },
    "/v3/bank_accounts/verification/by_required_file": {
      "post": {
        "description": "Post bank account information and required File.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "iban",
            "description": "IBAN",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bic",
            "description": "BIC",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "holder",
            "description": "Holder",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bank_name",
            "description": "bank name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "file",
            "description": "pdf is expected",
            "type": "file",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankAccount"
            }
          }
        },
        "tags": [
          "BankAccounts OPERATIONS"
        ],
        "operationId": "postV3BankAccountsVerificationByRequiredFile"
      }
    },
    "/v3/bank_accounts/verification/by_one_cent_transfer": {
      "post": {
        "description": "Post bank account information and verify by one cent verification.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "iban",
            "description": "IBAN",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bic",
            "description": "BIC",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "holder",
            "description": "Holder",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "bank_name",
            "description": "bank name",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankAccount"
            }
          }
        },
        "tags": [
          "BankAccounts OPERATIONS"
        ],
        "operationId": "postV3BankAccountsVerificationByOneCentTransfer"
      }
    },
    "/v3/bank_transfers/offer": {
      "get": {
        "summary": "not breaking change free",
        "description": "Bank Transfer Offer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "source_currency",
            "description": "currency used for conversion into payment currency",
            "type": "string",
            "enum": [
              "USD",
              "GBP",
              "JPY",
              "THB",
              "CNY",
              "CHF",
              "CAD",
              "CZK",
              "INR",
              "EUR"
            ],
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "description": "the amount of money, has to be positive",
            "type": "number",
            "format": "float",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Bank Transfer Offer",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_BankTransferOffer"
            }
          }
        },
        "tags": [
          "Bank Transfer OPERATIONS"
        ],
        "operationId": "getV3BankTransfersOffer"
      }
    },
    "/v3/contacts/{contact_id}": {
      "put": {
        "description": "Update contact",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "gender",
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "first_name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "email",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "line1",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "line2",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "zip",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "city",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "country",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "phone",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "vat_number",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "external_debitor_ref",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Update contact",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Contact"
            }
          }
        },
        "tags": [
          "Contacts CRUD"
        ],
        "operationId": "putV3ContactsContactId"
      },
      "delete": {
        "description": "Delete contact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Delete contact"
          }
        },
        "tags": [
          "Contacts CRUD"
        ],
        "operationId": "deleteV3ContactsContactId"
      },
      "get": {
        "description": "Get contact by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: <br> editable",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get contact by ID",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Contact"
            }
          }
        },
        "tags": [
          "Contacts CRUD"
        ],
        "operationId": "getV3ContactsContactId"
      }
    },
    "/v3/contacts": {
      "get": {
        "description": "Get contacts from Principal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: <br> editable",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get contacts from Principal",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Contact"
              }
            }
          }
        },
        "tags": [
          "Contacts CRUD"
        ],
        "operationId": "getV3Contacts"
      },
      "post": {
        "description": "Create contact",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "gender",
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "first_name",
            "description": "First name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "last_name",
            "description": "Last name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "email",
            "type": "string",
            "default": "em@ail.de",
            "required": false
          },
          {
            "in": "formData",
            "name": "line1",
            "type": "string",
            "default": "Sesamstrasse 8",
            "required": true
          },
          {
            "in": "formData",
            "name": "line2",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "zip",
            "type": "string",
            "default": "01097",
            "required": true
          },
          {
            "in": "formData",
            "name": "city",
            "type": "string",
            "default": "Dresden",
            "required": true
          },
          {
            "in": "formData",
            "name": "country",
            "type": "string",
            "default": "Deutschland",
            "required": true
          },
          {
            "in": "formData",
            "name": "phone",
            "type": "string",
            "default": "017712345678",
            "required": false
          },
          {
            "in": "formData",
            "name": "vat_number",
            "description": "UST-ID <br> Will be validated (https://en.wikipedia.org/wiki/VAT_identification_number) <br> tax or vat number are required",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "registry_number",
            "description": "Handelsregisternummer <br> required for LegalEntity",
            "type": "string",
            "default": "HRB 1234",
            "required": false
          },
          {
            "in": "formData",
            "name": "tax_number",
            "description": "Will be validated (https://de.wikipedia.org/wiki/Steuernummer) <br> Test taxnumber: '143/1346/1395' <br> tax or vat number are required",
            "type": "string",
            "default": "143/1346/1395",
            "required": false
          },
          {
            "in": "formData",
            "name": "legal_form",
            "description": "Can only be changed up to the first submitted invoice",
            "type": "string",
            "enum": [
              "consumer",
              "freelancer",
              "individual",
              "partnership",
              "gmbh",
              "ug",
              "ag",
              "association",
              "public_law"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "company",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "date_of_birth",
            "description": "Format: YYYY-MM-DD",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "external_debitor_ref",
            "description": "reference id for extern usage",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create contact",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Contact"
            }
          }
        },
        "tags": [
          "Contacts CRUD"
        ],
        "operationId": "postV3Contacts"
      }
    },
    "/v3/contacts/search": {
      "post": {
        "description": "Search through contacts from Principal",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "full_search",
            "description": "Search by many attributes",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_by_attribute",
            "description": "Search by many attributes",
            "type": "string",
            "default": {},
            "required": false
          },
          {
            "in": "formData",
            "name": "order_by_attribute",
            "description": "Json with includes order-direction.<br>null key is used as :asc<br>Possible Type are Json or stringify Json<br><br>example [{\"created_at\": \"desc\"},{ \"id\": null}]",
            "type": "string",
            "default": [],
            "required": false
          },
          {
            "in": "formData",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "formData",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Search through contacts from Principal",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Contact"
              }
            }
          }
        },
        "tags": [
          "Contacts CRUD"
        ],
        "operationId": "postV3ContactsSearch"
      }
    },
    "/v3/contacts/{contact_id}/check_products": {
      "get": {
        "summary": "not breaking change free",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contact_id",
            "description": "Contact ID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "description": "Amount of invoice document",
            "type": "number",
            "format": "float",
            "default": 6007,
            "required": false
          },
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: <br>  credit_rating_specification",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_ContactProductCheckResult"
            }
          }
        },
        "tags": [
          "Contacts OPERATIONS"
        ],
        "operationId": "getV3ContactsContactIdCheckProducts"
      }
    },
    "/v3/contracts/sign": {
      "post": {
        "description": "Sign contract",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "product",
            "description": "Product of the contract",
            "type": "string",
            "enum": [
              "inkasso"
            ],
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Sign contract"
          }
        },
        "tags": [
          "Contracts OPERATIONS"
        ],
        "operationId": "postV3ContractsSign"
      }
    },
    "/v3/documents/{document_id}": {
      "delete": {
        "summary": "not breaking change free",
        "description": "delete a document",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "document_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "delete a document"
          }
        },
        "tags": [
          "Documents CRUD"
        ],
        "operationId": "deleteV3DocumentsDocumentId"
      },
      "get": {
        "summary": "hidden on production",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "document_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Document"
            }
          }
        },
        "tags": [
          "Documents CRUD"
        ],
        "operationId": "getV3DocumentsDocumentId"
      }
    },
    "/v3/documents": {
      "get": {
        "summary": "not breaking change free",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Document"
              }
            }
          }
        },
        "tags": [
          "Documents CRUD"
        ],
        "operationId": "getV3Documents"
      }
    },
    "/v3/documents/search": {
      "post": {
        "summary": "not breaking change free",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "full_search",
            "description": "Search by many attributes",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_by_attribute",
            "description": "Search by many attributes",
            "type": "string",
            "default": {},
            "required": false
          },
          {
            "in": "formData",
            "name": "order_by_attribute",
            "description": "Json with includes order-direction.<br>null key is used as :asc<br>Possible Type are Json or stringify Json<br><br>example [{\"created_at\": \"desc\"},{ \"id\": null}]",
            "type": "string",
            "default": [],
            "required": false
          },
          {
            "in": "formData",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "formData",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Document"
              }
            }
          }
        },
        "tags": [
          "Documents CRUD"
        ],
        "operationId": "postV3DocumentsSearch"
      }
    },
    "/v3/documents/kinds/all": {
      "get": {
        "description": "Deliver all possible kinds of documents ",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Deliver all possible kinds of documents "
          }
        },
        "tags": [
          "Documents OPERATIONS"
        ],
        "operationId": "getV3DocumentsKindsAll"
      }
    },
    "/v3/dossiers": {
      "get": {
        "description": "return dossiers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: contact, invoices, document",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "user_role",
            "type": "string",
            "default": "creditor",
            "enum": [
              "creditor",
              "debitor"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "return dossiers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Dossier"
              }
            }
          }
        },
        "tags": [
          "Dossiers CRUD"
        ],
        "operationId": "getV3Dossiers"
      }
    },
    "/v3/dossiers/{dossier_id}": {
      "get": {
        "description": "return dossier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dossier_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "return dossier",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Dossier"
            }
          }
        },
        "tags": [
          "Dossiers CRUD"
        ],
        "operationId": "getV3DossiersDossierId"
      }
    },
    "/v3/dossiers/{dossier_id}/set_customer_infos_seen": {
      "put": {
        "description": "Set dossier related customer infos seen",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dossier_id",
            "description": "Dossier ID.",
            "type": "string",
            "default": "",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Set dossier related customer infos seen"
          }
        },
        "tags": [
          "Dossiers CRUD",
          "Generator OPERATIONS"
        ],
        "operationId": "putV3DossiersDossierIdSetCustomerInfosSeen"
      }
    },
    "/v3/dossiers/search": {
      "post": {
        "description": "Search all Dossier",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "full_search",
            "description": "Search by many attributes",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "search_by_attribute",
            "description": "Search by many attributes",
            "type": "string",
            "default": {},
            "required": false
          },
          {
            "in": "formData",
            "name": "order_by_attribute",
            "description": "Json with includes order-direction.<br>null key is used as :asc<br>Possible Type are Json or stringify Json<br><br>example [{\"created_at\": \"desc\"},{ \"id\": null}]",
            "type": "string",
            "default": [],
            "required": false
          },
          {
            "in": "formData",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "formData",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          },
          {
            "in": "formData",
            "name": "user_role",
            "description": "show all dossiers where current user is creditor or debitor",
            "type": "string",
            "default": "creditor",
            "enum": [
              "creditor",
              "debitor"
            ],
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Search all Dossier",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Dossier"
              }
            }
          }
        },
        "tags": [
          "Dossiers CRUD"
        ],
        "operationId": "postV3DossiersSearch"
      }
    },
    "/v3/invoices/complex": {
      "get": {
        "summary": "not breaking change free",
        "description": "return complex invoices with positions and debitor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter[product]",
            "description": "nach Produkt filtern",
            "type": "string",
            "enum": [
              "full_service",
              "inkasso",
              "reverse_service",
              "invoice_management",
              "setoff"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "filter[status]",
            "description": "nach Status filtern",
            "type": "string",
            "enum": [
              "pending_syntax",
              "pending_limits",
              "pending_partial_limits",
              "pending_feedback",
              "pending_onboarding",
              "pending_onboarding_collection",
              "pending_partial_feedback",
              "pending_payout",
              "pending_partial_payout",
              "partial_outstanding",
              "settled_partially",
              "settled_completely",
              "completed",
              "deficient",
              "declined",
              "written_off",
              "in_collection",
              "collected",
              "claimed_insurance",
              "on_hold",
              "outstanding_open",
              "outstanding_due",
              "outstanding_overdue",
              "valid_draft",
              "invalid_draft"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "filter[number]",
            "description": "nach Rechnungsnummer filtern",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[debitor_contact_id]",
            "description": "nach ID des Rechnungsempf\u00e4nger filtern",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[debitor_contact_name]",
            "description": "nach Name Rechnungsempf\u00e4nger filtern",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[date]",
            "description": "nach Rechnungsdatum filtern",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[generated]",
            "description": "nur Rechnungen die (nicht) vom Rechnungsgenerator erzeugt wurden zur\u00fcckgegeben",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "filter[amount]",
            "description": "Rechnungsbetrag",
            "type": "number",
            "format": "float",
            "required": false
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search by number, subject or amount or by ids (space separated)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "return complex invoices with positions and debitor",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Invoice"
              }
            }
          }
        },
        "tags": [
          "Invoices OPERATIONS",
          "Generator OPERATIONS"
        ],
        "operationId": "getV3InvoicesComplex",
        "deprecated": true
      }
    },
    "/v3/invoices/{invoice_id}/complex": {
      "get": {
        "summary": "not breaking change free",
        "description": "return complex invoice with positions and debitor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "description": "Invoice ID.",
            "type": "string",
            "default": "",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "return complex invoice with positions and debitor",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Invoice"
            }
          }
        },
        "tags": [
          "Invoices OPERATIONS",
          "Generator OPERATIONS"
        ],
        "operationId": "getV3InvoicesInvoiceIdComplex",
        "deprecated": true
      }
    },
    "/v3/invoices/with_contact": {
      "post": {
        "summary": "not breaking change free",
        "description": "Create invoice with contact and positions without invoice-document",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "number",
            "description": "Rechnungsnummer (must be uniq)",
            "type": "string",
            "default": 906781,
            "required": true
          },
          {
            "in": "formData",
            "name": "comment",
            "description": "comment for reviser of invoice",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "subject",
            "description": "z.B. Auftragsnummer",
            "type": "string",
            "default": "Toastbrot",
            "required": true
          },
          {
            "in": "formData",
            "name": "date",
            "description": "Rechnungsdatum (Today if null)",
            "type": "string",
            "format": "date",
            "default": "2026-02-06",
            "required": false
          },
          {
            "in": "formData",
            "name": "delivery_from",
            "description": "Leistungszeitraum von",
            "type": "string",
            "format": "date",
            "default": "2026-02-11",
            "required": true
          },
          {
            "in": "formData",
            "name": "delivery_to",
            "description": "Leistungszeitraum bis",
            "type": "string",
            "format": "date",
            "default": "2026-02-21",
            "required": true
          },
          {
            "in": "formData",
            "name": "delivery_date_type",
            "description": "Kind of delivery.<br>Possible Kind: date, date_range",
            "type": "string",
            "default": "date",
            "enum": [
              "date",
              "date_range"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "target_days",
            "description": "Zahlungsziel in Tagen",
            "type": "integer",
            "format": "int32",
            "default": 30,
            "minimum": 1,
            "maximum": 1000,
            "required": true
          },
          {
            "in": "formData",
            "name": "annotations",
            "description": "Reasons not to pay sales tax <br>\n              0: no Reason<br>\n              1: nach \u00a719 (Kleinunternehmerregelung)<br>\n              2: nach \u00a74 Nr.14 (Pflegeleistung)<br>\n              3: nach \u00a713b (Steuerschuldnerschaft des Leistungsempf\u00e4nger)<br>\n              4: nach \u00a74 21a, 21b UStG (Dozentenleistung)<br>\n              5: nach \u00a74 3a UStG (grenz\u00fcberschreitende Bef\u00f6rderung)",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "additional_fields",
            "description": "Save additional fields as JSON. example {\"order_number\":\"Auftrag: 1234\"} ",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "layout",
            "description": "Layout of invoice from invoice-generator",
            "type": "string",
            "default": "Standard",
            "enum": [
              "Standard",
              "Factoring"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "template_name",
            "description": "Can be used to set businessgroup possible values: \"Logistic\"",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "validation",
            "description": "Update with validation",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "formData",
            "name": "positions",
            "description": "Array of positions. For Example<br>[{\"description\": \"foo\",\"amount\": 3,\"unit\": \"Stunde\",\"price\": 29.99,\"tax_rate\": 0}]",
            "type": "string",
            "default": [],
            "required": false
          },
          {
            "in": "formData",
            "name": "correlation_id",
            "description": "Can be used to prevent double requests",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact_id",
            "description": "If 'debitor_contact_id' is set, 'debitor_contact' remain empty",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[gender]",
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[first_name]",
            "description": "First name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[last_name]",
            "description": "Last name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[contact]",
            "description": "contact person name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[email]",
            "type": "string",
            "default": "em@ail.de",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[line1]",
            "type": "string",
            "default": "Sesamstrasse 8",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[line2]",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[zip]",
            "type": "string",
            "default": "01097",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[city]",
            "type": "string",
            "default": "Dresden",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[country]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[phone]",
            "type": "string",
            "default": "017712345678",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[vat_number]",
            "description": "UST-ID <br> Will be validated (https://en.wikipedia.org/wiki/VAT_identification_number) <br> tax or vat number are required",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[registry_number]",
            "description": "Handelsregisternummer <br> required for LegalEntity",
            "type": "string",
            "default": "HRB 1234",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[tax_number]",
            "description": "Will be validated (https://de.wikipedia.org/wiki/Steuernummer) <br> Test taxnumber: '143/1346/1395' <br> tax or vat number are required",
            "type": "string",
            "default": "143/1346/1395",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[legal_form]",
            "description": "Can only be changed up to the first submitted invoice",
            "type": "string",
            "enum": [
              "consumer",
              "freelancer",
              "individual",
              "partnership",
              "gmbh",
              "ug",
              "ag",
              "association",
              "public_law"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[company]",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[date_of_birth]",
            "description": "Format: YYYY-MM-DD",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[external_debitor_ref]",
            "description": "reference id for extern uasge",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create invoice with contact and positions without invoice-document",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Invoice"
            }
          }
        },
        "tags": [
          "Invoices OPERATIONS",
          "Generator OPERATIONS"
        ],
        "operationId": "postV3InvoicesWithContact"
      }
    },
    "/v3/invoices/with_document": {
      "post": {
        "description": "Create invoice with invoice-document",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "invoice_document",
            "description": "pdf is expected",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "number",
            "description": "Rechnungsnummer (must be uniq)",
            "type": "string",
            "default": 133360,
            "required": true
          },
          {
            "in": "formData",
            "name": "comment",
            "description": "comment for reviser of invoice",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "subject",
            "description": "z.B. Auftragsnummer",
            "type": "string",
            "default": "Toastbrot",
            "required": true
          },
          {
            "in": "formData",
            "name": "date",
            "description": "Rechnungsdatum (Today if null)",
            "type": "string",
            "format": "date",
            "default": "2026-02-06",
            "required": false
          },
          {
            "in": "formData",
            "name": "delivery_from",
            "description": "Leistungszeitraum von",
            "type": "string",
            "format": "date",
            "default": "2026-02-11",
            "required": true
          },
          {
            "in": "formData",
            "name": "delivery_to",
            "description": "Leistungszeitraum bis",
            "type": "string",
            "format": "date",
            "default": "2026-02-21",
            "required": true
          },
          {
            "in": "formData",
            "name": "delivery_date_type",
            "description": "Kind of delivery.<br>Possible Kind: date, date_range",
            "type": "string",
            "default": "date",
            "enum": [
              "date",
              "date_range"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "target_days",
            "description": "Zahlungsziel in Tagen",
            "type": "integer",
            "format": "int32",
            "default": 30,
            "minimum": 1,
            "maximum": 1000,
            "required": true
          },
          {
            "in": "formData",
            "name": "annotations",
            "description": "Reasons not to pay sales tax <br>\n              0: no Reason<br>\n              1: nach \u00a719 (Kleinunternehmerregelung)<br>\n              2: nach \u00a74 Nr.14 (Pflegeleistung)<br>\n              3: nach \u00a713b (Steuerschuldnerschaft des Leistungsempf\u00e4nger)<br>\n              4: nach \u00a74 21a, 21b UStG (Dozentenleistung)<br>\n              5: nach \u00a74 3a UStG (grenz\u00fcberschreitende Bef\u00f6rderung)",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "additional_fields",
            "description": "Save additional fields as JSON. example {\"order_number\":\"Auftrag: 1234\"} ",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "layout",
            "description": "Layout of invoice from invoice-generator",
            "type": "string",
            "default": "Standard",
            "enum": [
              "Standard",
              "Factoring"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "template_name",
            "description": "Can be used to set businessgroup possible values: \"Logistic\"",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "validation",
            "description": "Update with validation",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "formData",
            "name": "positions",
            "description": "Array of positions. For Example<br>[{\"description\": \"foo\",\"amount\": 3,\"unit\": \"Stunde\",\"price\": 29.99,\"tax_rate\": 0}]",
            "type": "string",
            "default": [],
            "required": false
          },
          {
            "in": "formData",
            "name": "correlation_id",
            "description": "Can be used to prevent double requests",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "amount",
            "description": "Amount of invoice document",
            "type": "number",
            "format": "float",
            "default": 2549,
            "required": true
          },
          {
            "in": "formData",
            "name": "taxes",
            "description": "Tax of invoice document",
            "type": "number",
            "format": "float",
            "default": 12.28,
            "required": true
          },
          {
            "in": "formData",
            "name": "debitor_contact_id",
            "description": "If 'debitor_contact_id' is set, 'debitor_contact' remain empty",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[gender]",
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[first_name]",
            "description": "First name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[last_name]",
            "description": "Last name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[contact]",
            "description": "contact person name",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[email]",
            "type": "string",
            "default": "em@ail.de",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[line1]",
            "type": "string",
            "default": "Sesamstrasse 8",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[line2]",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[zip]",
            "type": "string",
            "default": "01097",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[city]",
            "type": "string",
            "default": "Dresden",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[country]",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[phone]",
            "type": "string",
            "default": "017712345678",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[vat_number]",
            "description": "UST-ID <br> Will be validated (https://en.wikipedia.org/wiki/VAT_identification_number) <br> tax or vat number are required",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[registry_number]",
            "description": "Handelsregisternummer <br> required for LegalEntity",
            "type": "string",
            "default": "HRB 1234",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[tax_number]",
            "description": "Will be validated (https://de.wikipedia.org/wiki/Steuernummer) <br> Test taxnumber: '143/1346/1395' <br> tax or vat number are required",
            "type": "string",
            "default": "143/1346/1395",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[legal_form]",
            "description": "Can only be changed up to the first submitted invoice",
            "type": "string",
            "enum": [
              "consumer",
              "freelancer",
              "individual",
              "partnership",
              "gmbh",
              "ug",
              "ag",
              "association",
              "public_law"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[company]",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[date_of_birth]",
            "description": "Format: YYYY-MM-DD",
            "type": "string",
            "default": "",
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact[external_debitor_ref]",
            "description": "reference id for extern uasge",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create invoice with invoice-document",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Invoice"
            }
          }
        },
        "tags": [
          "Invoices OPERATIONS"
        ],
        "operationId": "postV3InvoicesWithDocument"
      }
    },
    "/v3/invoices": {
      "post": {
        "description": "Create only an invoice without an invoice document",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "number",
            "description": "Rechnungsnummer (must be uniq)",
            "type": "string",
            "default": 841985,
            "required": true
          },
          {
            "in": "formData",
            "name": "comment",
            "description": "comment for reviser of invoice",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "subject",
            "description": "z.B. Auftragsnummer",
            "type": "string",
            "default": "Toastbrot",
            "required": true
          },
          {
            "in": "formData",
            "name": "date",
            "description": "Rechnungsdatum (Today if null)",
            "type": "string",
            "format": "date",
            "default": "2026-02-06",
            "required": false
          },
          {
            "in": "formData",
            "name": "delivery_from",
            "description": "Leistungszeitraum von",
            "type": "string",
            "format": "date",
            "default": "2026-02-11",
            "required": true
          },
          {
            "in": "formData",
            "name": "delivery_to",
            "description": "Leistungszeitraum bis",
            "type": "string",
            "format": "date",
            "default": "2026-02-21",
            "required": true
          },
          {
            "in": "formData",
            "name": "delivery_date_type",
            "description": "Kind of delivery.<br>Possible Kind: date, date_range",
            "type": "string",
            "default": "date",
            "enum": [
              "date",
              "date_range"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "target_days",
            "description": "Zahlungsziel in Tagen",
            "type": "integer",
            "format": "int32",
            "default": 30,
            "minimum": 1,
            "maximum": 1000,
            "required": true
          },
          {
            "in": "formData",
            "name": "annotations",
            "description": "Reasons not to pay sales tax <br>\n              0: no Reason<br>\n              1: nach \u00a719 (Kleinunternehmerregelung)<br>\n              2: nach \u00a74 Nr.14 (Pflegeleistung)<br>\n              3: nach \u00a713b (Steuerschuldnerschaft des Leistungsempf\u00e4nger)<br>\n              4: nach \u00a74 21a, 21b UStG (Dozentenleistung)<br>\n              5: nach \u00a74 3a UStG (grenz\u00fcberschreitende Bef\u00f6rderung)",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "additional_fields",
            "description": "Save additional fields as JSON. example {\"order_number\":\"Auftrag: 1234\"} ",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "layout",
            "description": "Layout of invoice from invoice-generator",
            "type": "string",
            "default": "Standard",
            "enum": [
              "Standard",
              "Factoring"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "template_name",
            "description": "Can be used to set businessgroup possible values: \"Logistic\"",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "validation",
            "description": "Update with validation",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "formData",
            "name": "debitor_contact_id",
            "description": "Contact_id of debitor",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "amount",
            "description": "Amount of invoice document",
            "type": "number",
            "format": "float",
            "default": 9223,
            "required": false
          },
          {
            "in": "formData",
            "name": "taxes",
            "description": "Tax of invoice document",
            "type": "number",
            "format": "float",
            "default": 19.55,
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create only an invoice without an invoice document",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Invoice"
            }
          }
        },
        "tags": [
          "Invoices CRUD"
        ],
        "operationId": "postV3Invoices"
      },
      "get": {
        "description": "return invoices",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: contact, positions, document, validation",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "minimum": 0,
            "maximum": 500,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "return invoices",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/API_V3_Entities_Invoice"
              }
            }
          }
        },
        "tags": [
          "Invoices CRUD"
        ],
        "operationId": "getV3Invoices"
      }
    },
    "/v3/invoices/{invoice_id}/position": {
      "post": {
        "description": "Create a position",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "description": "Invoice id ",
            "type": "string",
            "default": "",
            "required": true
          },
          {
            "in": "formData",
            "name": "description",
            "type": "string",
            "default": "description",
            "required": true
          },
          {
            "in": "formData",
            "name": "amount",
            "description": "Count of Units",
            "type": "number",
            "format": "float",
            "default": "1",
            "required": true
          },
          {
            "in": "formData",
            "name": "unit",
            "type": "string",
            "default": "Stunde",
            "enum": [
              "Tag",
              "Stunde",
              "Kilometer",
              "St\u00fcck",
              "Pauschale",
              "Anzahl"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "price",
            "description": "price of a single position",
            "type": "number",
            "format": "float",
            "default": "0.01",
            "required": true
          },
          {
            "in": "formData",
            "name": "tax_rate",
            "type": "integer",
            "format": "int32",
            "default": 19,
            "enum": [
              0,
              5,
              7,
              16,
              19
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "correlation_id",
            "description": "Can be used to prevent double requests",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create a position",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Position"
            }
          }
        },
        "tags": [
          "Invoices OPERATIONS",
          "Positions CRUD"
        ],
        "operationId": "postV3InvoicesInvoiceIdPosition"
      }
    },
    "/v3/invoices/{invoice_id}/customer_note": {
      "post": {
        "description": "Create a CustomerNote",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "description": "Invoice ID.",
            "type": "string",
            "default": "",
            "required": true
          },
          {
            "in": "formData",
            "name": "text",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Create a CustomerNote",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_CustomerNote"
            }
          }
        },
        "tags": [
          "Invoices OPERATIONS",
          "CustomerNote CRUD"
        ],
        "operationId": "postV3InvoicesInvoiceIdCustomerNote"
      }
    },
    "/v3/invoices/{invoice_id}": {
      "delete": {
        "description": "Delete invoice\n                  only if invoice not submitted",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "description": "Invoice ID.",
            "type": "string",
            "default": "",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Delete invoice\n                  only if invoice not submitted"
          }
        },
        "tags": [
          "Invoices CRUD"
        ],
        "operationId": "deleteV3InvoicesInvoiceId"
      },
      "get": {
        "description": "return invoice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "description": "Invoice ID.",
            "type": "string",
            "default": "",
            "required": true
          },
          {
            "in": "query",
            "name": "details",
            "description": "Possible details: contact, positions, document, validation",
            "type": "string",
            "default": [],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "return invoice",
            "schema": {
              "$ref": "#/definitions/API_V3_Entities_Invoice"
            }
          }
        },
        "tags": [
          "Invoices CRUD"
        ],
        "operationId": "getV3InvoicesInvoiceId"
      },
      "put": {
        "description": "Update generated invoice items with positions and debtorID\n\n                  Attention:\n                  given positions are deleted and replaced with positions from params. So to keep old positions, also send them in params.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoice_id",
            "description": "Invoice ID.",
            "type": "string",
            "default": "",
            "required": true
          },
          {
            "in": "formData",
            "name": "debitor_contact_id",
            "description": "id from debitor contact",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "invoice_document",
            "description": "pdf is expected",
            "type": "file",
            "required": false
          },
          {
            "in": "formData",
            "name": "amount",
            "description": "Amount of invoice document",
            "type": "number",
            "format": "float",
            "required": false
          },
          {
            "in": "formData",
            "name": "taxes",
            "description": "Tax of invoice document",
            "type": "number",
            "format": "float",
            "required": false
          },
          {
            "in": "formData",
            "name": "number",
            "description": "Rechnungsnummer (must be uniq)",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "comment",
            "description": "comment for reviser of invoice",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "subject",
            "description": "z.B. Auftragsnummer",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "date",
            "description": "Rechnungsdatum (Today if null)",
            "type": "string",
[...]
