{
  "openapi": "3.0.1",
  "info": {
    "title": "API \u043a\u0438\u043d\u043e\u0442\u0435\u0430\u0442\u0440\u0430 \u0418\u0441\u043a\u043e\u0440\u043a\u0430",
    "description": "__API \u043a\u0438\u043d\u043e\u0442\u0435\u0430\u0442\u0440\u0430__ \"_\u0418\u0441\u043a\u043e\u0440\u043a\u0430_\"\n\n\u0434\u043b\u044f \u043e\u043d\u043b\u0430\u0439\u043d \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f \u0431\u0438\u043b\u0435\u0442\u043e\u0432 \u0438 \u0443\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435\u043c\n\n## \u041f\u043e\u0434\u0434\u0435\u0440\u0436\u043a\u0430 \u0444\u043e\u0440\u043c\u0430\u0442\u043e\u0432\nAPI \u043f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442 \u0434\u0432\u0430 \u0444\u043e\u0440\u043c\u0430\u0442\u0430 \u043e\u0442\u0432\u0435\u0442\u043e\u0432:\n- JSON (\u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e)\n- XML (\u0434\u043e\u0431\u0430\u0432\u044c\u0442\u0435 \u0437\u0430\u0433\u043e\u043b\u043e\u0432\u043e\u043a `Accept: application/xml`)\n\n## \u041f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u044f\n\u0414\u043b\u044f \u044d\u043d\u0434\u043f\u043e\u0438\u043d\u0442\u043e\u0432, \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u044e\u0449\u0438\u0445 \u0441\u043f\u0438\u0441\u043a\u0438, \u0440\u0435\u0430\u043b\u0438\u0437\u043e\u0432\u0430\u043d\u0430 \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u044f \u0441 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u0438\u0435\u043c cursor-based \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u0438.\n\u0412 \u043e\u0442\u0432\u0435\u0442\u0435 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442\u0441\u044f \u0441\u043f\u0435\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0439 \u043e\u0431\u044a\u0435\u043a\u0442 pagination \u0441 \u0441\u0441\u044b\u043b\u043a\u0430\u043c\u0438 \u0434\u043b\u044f \u043d\u0430\u0432\u0438\u0433\u0430\u0446\u0438\u0438.\n",
    "version": "2.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/netology-c86/api/2.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.iskorka-cinema.ru/v2",
      "description": "\u041f\u0440\u043e\u0434\u0443\u043a\u0442\u0438\u0432\u043d\u044b\u0439 \u0441\u0435\u0440\u0432\u0435\u0440"
    },
    {
      "url": "http://127.0.0.1:8000",
      "description": "\u041b\u043e\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0441\u0435\u0440\u0432\u0435\u0440 \u0434\u043b\u044f \u0440\u0430\u0437\u0440\u0430\u0431\u043e\u0442\u043a\u0438"
    }
  ],
  "tags": [
    {
      "name": "\u0421\u0435\u0430\u043d\u0441\u044b",
      "description": "\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u0438 \u0441 \u0440\u0430\u0441\u043f\u0438\u0441\u0430\u043d\u0438\u0435\u043c \u0441\u0435\u0430\u043d\u0441\u043e\u0432"
    },
    {
      "name": "\u0411\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435",
      "description": "\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u0438 \u0441 \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435\u043c \u0431\u0438\u043b\u0435\u0442\u043e\u0432"
    },
    {
      "name": "\u0410\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435",
      "description": "\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u0438 \u0434\u043b\u044f \u0430\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u043e\u0432 \u043a\u0438\u043d\u043e\u0442\u0435\u0430\u0442\u0440\u0430"
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a \u0441\u0435\u0430\u043d\u0441\u043e\u0432",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u0441\u0435\u0445 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u0441\u0435\u0430\u043d\u0441\u043e\u0432 \u0441 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u044c\u044e \u0444\u0438\u043b\u044c\u0442\u0440\u0430\u0446\u0438\u0438 \u043f\u043e \u0434\u0430\u0442\u0435 \u0438 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u044e \u0444\u0438\u043b\u044c\u043c\u0430.\n\n**\u041f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442 \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u044e** - \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u044b \u0440\u0430\u0437\u0431\u0438\u0442\u044b \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u043f\u043e 20 \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u043e\u0432.\n\u0414\u043b\u044f \u043d\u0430\u0432\u0438\u0433\u0430\u0446\u0438\u0438 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b `cursor` \u0438 `limit`, \u043b\u0438\u0431\u043e \u0441\u0441\u044b\u043b\u043a\u0438 \u0432 \u043e\u0431\u044a\u0435\u043a\u0442\u0435 `pagination`.\n",
        "tags": [
          "\u0421\u0435\u0430\u043d\u0441\u044b"
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u0434\u0430\u0442\u0435 \u043d\u0430\u0447\u0430\u043b\u0430 \u0441\u0435\u0430\u043d\u0441\u0430 (\u0444\u043e\u0440\u043c\u0430\u0442 YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-05-20"
          },
          {
            "name": "movie_title",
            "in": "query",
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u044e \u0444\u0438\u043b\u044c\u043c\u0430 (\u0447\u0430\u0441\u0442\u0438\u0447\u043d\u043e\u0435 \u0441\u043e\u0432\u043f\u0430\u0434\u0435\u043d\u0438\u0435)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Terminators"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435 (\u043c\u0430\u043a\u0441\u0438\u043c\u0443\u043c 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "\u041a\u0443\u0440\u0441\u043e\u0440 \u0434\u043b\u044f \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u0438. \n\u0414\u043b\u044f \u043f\u0435\u0440\u0435\u0445\u043e\u0434\u0430 \u043a \u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 `next_cursor` \u0438\u0437 \u043e\u0442\u0432\u0435\u0442\u0430.\n\u0414\u043b\u044f \u043f\u0435\u0440\u0435\u0445\u043e\u0434\u0430 \u043a \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439\u0442\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 `prev_cursor` \u0438\u0437 \u043e\u0442\u0432\u0435\u0442\u0430.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "eyJpZCI6MTB9"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441 \u0441\u043f\u0438\u0441\u043a\u0430 \u0441\u0435\u0430\u043d\u0441\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SessionListItem"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SessionListItem"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c \u0441\u0435\u0430\u043d\u0441\u0435",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0434\u0435\u0442\u0430\u043b\u044c\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0441\u0435\u0430\u043d\u0441\u0435, \u0432\u043a\u043b\u044e\u0447\u0430\u044f \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e\u0441\u0442\u044c \u043c\u0435\u0441\u0442",
        "tags": [
          "\u0421\u0435\u0430\u043d\u0441\u044b"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0435\u0430\u043d\u0441\u0430",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u0441\u0435\u0430\u043d\u0441\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/sessions/{sessionId}/seats": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u043c\u0435\u0441\u0442\u0430\u0445 \u043d\u0430 \u0441\u0435\u0430\u043d\u0441",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u0441\u0435\u0445 \u043c\u0435\u0441\u0442 \u0441 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0435\u0439 \u043e\u0431 \u0438\u0445 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e\u0441\u0442\u0438.\n\n**\u041f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442 \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u044e** - \u0434\u043b\u044f \u0431\u043e\u043b\u044c\u0448\u0438\u0445 \u0437\u0430\u043b\u043e\u0432 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u044b \u0440\u0430\u0437\u0431\u0438\u0442\u044b \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b.\n",
        "tags": [
          "\u0421\u0435\u0430\u043d\u0441\u044b"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0435\u0430\u043d\u0441\u0430",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435 (\u043c\u0430\u043a\u0441\u0438\u043c\u0443\u043c 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 30
            },
            "example": 30
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "\u041a\u0443\u0440\u0441\u043e\u0440 \u0434\u043b\u044f \u043f\u0430\u0433\u0438\u043d\u0430\u0446\u0438\u0438",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e \u043c\u0435\u0441\u0442\u0430\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SeatAvailability"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SeatAvailability"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/bookings": {
      "post": {
        "summary": "\u0417\u0430\u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u0442\u044c \u043c\u0435\u0441\u0442\u043e",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0435\u0442 \u043d\u043e\u0432\u0443\u044e \u0431\u0440\u043e\u043d\u044c \u043d\u0430 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u0439 \u0441\u0435\u0430\u043d\u0441 \u0438 \u043c\u0435\u0441\u0442\u043e",
        "tags": [
          "\u0411\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BookingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "\u0411\u0440\u043e\u043d\u044c \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0441\u043e\u0437\u0434\u0430\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetail"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/bookings/{bookingId}": {
      "patch": {
        "summary": "\u041e\u0442\u043c\u0435\u043d\u0438\u0442\u044c \u0431\u0440\u043e\u043d\u044c",
        "description": "\u0418\u0437\u043c\u0435\u043d\u044f\u0435\u0442 \u0441\u0442\u0430\u0442\u0443\u0441 \u0431\u0440\u043e\u043d\u0438 \u043d\u0430 \"canceled\"",
        "tags": [
          "\u0411\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0431\u0440\u043e\u043d\u0438",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/BookingId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "canceled"
                    ],
                    "description": "\u041d\u043e\u0432\u044b\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 \u0431\u0440\u043e\u043d\u0438",
                    "example": "canceled"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "canceled"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0411\u0440\u043e\u043d\u044c \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0442\u043c\u0435\u043d\u0435\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetail"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/admin/sessions/{sessionId}": {
      "patch": {
        "summary": "\u0418\u0437\u043c\u0435\u043d\u0438\u0442\u044c \u0432\u0440\u0435\u043c\u044f \u0441\u0435\u0430\u043d\u0441\u0430 (\u0442\u043e\u043b\u044c\u043a\u043e \u0434\u043b\u044f \u0430\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u043e\u0432)",
        "description": "\u041e\u0431\u043d\u043e\u0432\u043b\u044f\u0435\u0442 \u0432\u0440\u0435\u043c\u044f \u043d\u0430\u0447\u0430\u043b\u0430 \u0438 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0441\u0435\u0430\u043d\u0441\u0430",
        "tags": [
          "\u0410\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0435\u0430\u043d\u0441\u0430",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_time": {
                    "$ref": "#/components/schemas/StartTime"
                  },
                  "end_time": {
                    "$ref": "#/components/schemas/EndTime"
                  }
                },
                "required": [
                  "start_time"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_time": {
                    "$ref": "#/components/schemas/StartTime"
                  },
                  "end_time": {
                    "$ref": "#/components/schemas/EndTime"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0412\u0440\u0435\u043c\u044f \u0441\u0435\u0430\u043d\u0441\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u043e",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SessionId": {
        "type": "integer",
        "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0435\u0430\u043d\u0441\u0430",
        "example": 1
      },
      "BookingId": {
        "type": "integer",
        "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0431\u0440\u043e\u043d\u0438",
        "example": 123
      },
      "StartTime": {
        "type": "string",
        "format": "date-time",
        "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u043d\u0430\u0447\u0430\u043b\u0430 \u0441\u0435\u0430\u043d\u0441\u0430",
        "example": "2024-05-20T15:00:00"
      },
      "EndTime": {
        "type": "string",
        "format": "date-time",
        "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0441\u0435\u0430\u043d\u0441\u0430",
        "example": "2024-05-20T17:30:00"
      },
      "BookingTime": {
        "type": "string",
        "format": "date-time",
        "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0431\u0440\u043e\u043d\u0438",
        "example": "2024-05-19T10:30:00Z"
      },
      "CustomerName": {
        "type": "string",
        "description": "\u0418\u043c\u044f \u043f\u043e\u043a\u0443\u043f\u0430\u0442\u0435\u043b\u044f",
        "example": "\u0418\u0432\u0430\u043d\u043e\u0432 \u0418\u0432\u0430\u043d"
      },
      "CustomerPhone": {
        "type": "string",
        "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d \u043f\u043e\u043a\u0443\u043f\u0430\u0442\u0435\u043b\u044f",
        "pattern": "^\\+7 \\(\\d{3}\\) \\d{3}-\\d{2}-\\d{2}$",
        "example": "+7 (999) 123-45-67"
      },
      "SeatNumber": {
        "type": "string",
        "description": "\u041d\u043e\u043c\u0435\u0440 \u0438\u043b\u0438 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043c\u0435\u0441\u0442\u0430",
        "example": "A7"
      },
      "BookingStatus": {
        "type": "string",
        "enum": [
          "active",
          "canceled"
        ],
        "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0431\u0440\u043e\u043d\u0438",
        "example": "active"
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u0442\u0435\u043a\u0443\u0449\u0443\u044e \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443",
            "example": "/sessions?limit=20&cursor=eyJpZCI6MTB9"
          },
          "next": {
            "type": "string",
            "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0443\u044e \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443 (null \u0435\u0441\u043b\u0438 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430 \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u044f\u044f)",
            "nullable": true,
            "example": "/sessions?limit=20&cursor=eyJpZCI6MzB9"
          },
          "prev": {
            "type": "string",
            "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0443\u044e \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0443 (null \u0435\u0441\u043b\u0438 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430 \u043f\u0435\u0440\u0432\u0430\u044f)",
            "nullable": true,
            "example": "/sessions?limit=20&cursor=eyJpZCI6MH0="
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u043e\u0432",
            "example": 156
          },
          "limit": {
            "type": "integer",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u044d\u043b\u0435\u043c\u0435\u043d\u0442\u043e\u0432 \u043d\u0430 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435",
            "example": 20
          },
          "next_cursor": {
            "type": "string",
            "description": "\u041a\u0443\u0440\u0441\u043e\u0440 \u0434\u043b\u044f \u0441\u043b\u0435\u0434\u0443\u044e\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b (null \u0435\u0441\u043b\u0438 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430 \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u044f\u044f)",
            "nullable": true,
            "example": "eyJpZCI6MzB9"
          },
          "prev_cursor": {
            "type": "string",
            "description": "\u041a\u0443\u0440\u0441\u043e\u0440 \u0434\u043b\u044f \u043f\u0440\u0435\u0434\u044b\u0434\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b (null \u0435\u0441\u043b\u0438 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430 \u043f\u0435\u0440\u0432\u0430\u044f)",
            "nullable": true,
            "example": "eyJpZCI6MH0="
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "\u041c\u0430\u0441\u0441\u0438\u0432 \u0434\u0430\u043d\u043d\u044b\u0445 \u043d\u0430 \u0442\u0435\u043a\u0443\u0449\u0435\u0439 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0435"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "links": {
                "$ref": "#/components/schemas/PaginationLinks"
              },
              "meta": {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            }
          }
        }
      },
      "SessionListItem": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "movie_title": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0438\u043b\u044c\u043c\u0430",
            "example": "Terminator"
          },
          "start_time": {
            "$ref": "#/components/schemas/StartTime"
          },
          "hall_name": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0438\u043b\u0438 \u043d\u043e\u043c\u0435\u0440 \u0437\u0430\u043b\u0430",
            "example": "\u0417\u0430\u043b 2"
          },
          "total_seats": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043c\u0435\u0441\u0442 \u0432 \u0437\u0430\u043b\u0435",
            "example": 50
          },
          "available_seats_count": {
            "type": "integer",
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u043c\u0435\u0441\u0442",
            "example": 45
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "movie_title": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0438\u043b\u044c\u043c\u0430",
            "example": "Terminator"
          },
          "start_time": {
            "$ref": "#/components/schemas/StartTime"
          },
          "end_time": {
            "$ref": "#/components/schemas/EndTime"
          },
          "hall_name": {
            "type": "string",
            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0438\u043b\u0438 \u043d\u043e\u043c\u0435\u0440 \u0437\u0430\u043b\u0430",
            "example": "\u0417\u0430\u043b 1"
          },
          "total_seats": {
            "type": "integer",
            "description": "\u041e\u0431\u0449\u0435\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043c\u0435\u0441\u0442 \u0432 \u0437\u0430\u043b\u0435",
            "example": 50
          },
          "seats": {
            "type": "array",
            "description": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u043e\u0441\u0442\u0438 \u043c\u0435\u0441\u0442",
            "items": {
              "$ref": "#/components/schemas/SeatAvailability"
            }
          }
        }
      },
      "SeatAvailability": {
        "type": "object",
        "properties": {
          "number": {
            "$ref": "#/components/schemas/SeatNumber"
          },
          "available": {
            "type": "boolean",
            "description": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u043e \u043b\u0438 \u043c\u0435\u0441\u0442\u043e \u0434\u043b\u044f \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f",
            "example": true
          }
        }
      },
      "BookingRequest": {
        "type": "object",
        "properties": {
          "session_id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "seat_number": {
            "$ref": "#/components/schemas/SeatNumber"
          },
          "customer_name": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "customer_phone": {
            "$ref": "#/components/schemas/CustomerPhone"
          }
        },
        "required": [
          "session_id",
          "seat_number",
          "customer_name",
          "customer_phone"
        ]
      },
      "BookingDetail": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/BookingId"
          },
          "session_id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "seat_number": {
            "$ref": "#/components/schemas/SeatNumber"
          },
          "customer_name": {
            "$ref": "#/components/schemas/CustomerName"
          },
          "status": {
            "$ref": "#/components/schemas/BookingStatus"
          },
          "booking_time": {
            "$ref": "#/components/schemas/BookingTime"
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "\u041f\u043e\u043b\u0435, \u0432 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u043f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430 \u043e\u0448\u0438\u0431\u043a\u0430 (\u0434\u043b\u044f \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0445 \u043e\u0448\u0438\u0431\u043e\u043a)",
            "example": "seat_number"
          },
          "issue": {
            "type": "string",
            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043f\u0440\u043e\u0431\u043b\u0435\u043c\u044b",
            "example": "\u041c\u0435\u0441\u0442\u043e \u0443\u0436\u0435 \u0437\u0430\u043d\u044f\u0442\u043e"
          }
        }
      },
      "ErrorMessage": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "\u041a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": "PlaceAlreadyBooked"
          },
          "message": {
            "type": "string",
            "description": "\u041a\u0440\u0430\u0442\u043a\u043e\u0435 \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": "\u041c\u0435\u0441\u0442\u043e A7 \u0443\u0436\u0435 \u0437\u0430\u043d\u044f\u0442\u043e."
          },
          "details": {
            "type": "array",
            "description": "\u0414\u0435\u0442\u0430\u043b\u044c\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435 (\u0434\u043b\u044f \u0441\u043e\u0441\u0442\u0430\u0432\u043d\u044b\u0445 \u043e\u0448\u0438\u0431\u043e\u043a)",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "\u0412\u0440\u0435\u043c\u044f \u0432\u043e\u0437\u043d\u0438\u043a\u043d\u043e\u0432\u0435\u043d\u0438\u044f \u043e\u0448\u0438\u0431\u043a\u0438",
            "example": "2024-05-19T10:30:00Z"
          },
          "path": {
            "type": "string",
            "description": "\u041f\u0443\u0442\u044c \u043a \u044d\u043d\u0434\u043f\u043e\u0438\u043d\u0442\u0443, \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u043e\u043c \u043f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430 \u043e\u0448\u0438\u0431\u043a\u0430",
            "example": "/api/v2/bookings"
          },
          "request_id": {
            "type": "string",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0437\u0430\u043f\u0440\u043e\u0441\u0430 \u0434\u043b\u044f \u043e\u0442\u0441\u043b\u0435\u0436\u0438\u0432\u0430\u043d\u0438\u044f",
            "example": "req_123456789"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "\u041d\u0435\u043a\u043e\u0440\u0440\u0435\u043a\u0442\u043d\u044b\u0439 \u0437\u0430\u043f\u0440\u043e\u0441.\n\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u043f\u0440\u0438\u0447\u0438\u043d\u044b:\n- \u041e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u044e\u0442 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u043f\u043e\u043b\u044f\n- \u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0444\u043e\u0440\u043c\u0430\u0442 \u0434\u0430\u043d\u043d\u044b\u0445\n- \u041c\u0435\u0441\u0442\u043e \u0443\u0436\u0435 \u0437\u0430\u043d\u044f\u0442\u043e\n- \u041d\u0435\u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u044e\u0449\u0435\u0435 \u043c\u0435\u0441\u0442\u043e\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "examples": {
              "validation_error": {
                "summary": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
                "value": {
                  "code": "ValidationError",
                  "message": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438 \u0434\u0430\u043d\u043d\u044b\u0445",
                  "details": [
                    {
                      "field": "seat_number",
                      "issue": "\u041f\u043e\u043b\u0435 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e \u0434\u043b\u044f \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f"
                    }
                  ],
                  "timestamp": "2024-05-19T10:30:00Z",
                  "path": "/api/v2/bookings",
                  "request_id": "req_123456789"
                }
              },
              "place_already_booked": {
                "summary": "\u041c\u0435\u0441\u0442\u043e \u0443\u0436\u0435 \u0437\u0430\u043d\u044f\u0442\u043e",
                "value": {
                  "code": "PlaceAlreadyBooked",
                  "message": "\u041c\u0435\u0441\u0442\u043e A7 \u0443\u0436\u0435 \u0437\u0430\u043d\u044f\u0442\u043e.",
                  "timestamp": "2024-05-19T10:30:00Z",
                  "path": "/api/v2/bookings",
                  "request_id": "req_123456789"
                }
              }
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "NotFound": {
        "description": "\u0420\u0435\u0441\u0443\u0440\u0441 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d.\n\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u043f\u0440\u0438\u0447\u0438\u043d\u044b:\n- \u0421\u0435\u0430\u043d\u0441 \u0441 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u043c ID \u043d\u0435 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u0435\u0442\n- \u0411\u0440\u043e\u043d\u044c \u0441 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u043c ID \u043d\u0435 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u0435\u0442\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "code": "NotFound",
              "message": "\u0421\u0435\u0430\u043d\u0441 \u0441 ID 999 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d.",
              "timestamp": "2024-05-19T10:30:00Z",
              "path": "/api/v2/sessions/999",
              "request_id": "req_987654321"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "Conflict": {
        "description": "\u041a\u043e\u043d\u0444\u043b\u0438\u043a\u0442 \u043f\u0440\u0438 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u0438 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438.\n\n\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u044b\u0435 \u043f\u0440\u0438\u0447\u0438\u043d\u044b:\n- \u041f\u043e\u043f\u044b\u0442\u043a\u0430 \u0438\u0437\u043c\u0435\u043d\u0438\u0442\u044c \u0432\u0440\u0435\u043c\u044f \u0441\u0435\u0430\u043d\u0441\u0430 \u0441 \u0430\u043a\u0442\u0438\u0432\u043d\u044b\u043c\u0438 \u0431\u0440\u043e\u043d\u044f\u043c\u0438\n- \u041f\u043e\u043f\u044b\u0442\u043a\u0430 \u043e\u0442\u043c\u0435\u043d\u0438\u0442\u044c \u0443\u0436\u0435 \u043e\u0442\u043c\u0435\u043d\u0435\u043d\u043d\u0443\u044e \u0431\u0440\u043e\u043d\u044c\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "code": "HasActiveBookings",
              "message": "\u041d\u0435\u043b\u044c\u0437\u044f \u0438\u0437\u043c\u0435\u043d\u0438\u0442\u044c \u0432\u0440\u0435\u043c\u044f \u0441\u0435\u0430\u043d\u0441\u0430 \u0441 \u0430\u043a\u0442\u0438\u0432\u043d\u044b\u043c\u0438 \u0431\u0440\u043e\u043d\u044f\u043c\u0438.",
              "timestamp": "2024-05-19T10:30:00Z",
              "path": "/api/v2/admin/sessions/1",
              "request_id": "req_456789123"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430.\n\n\u041f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430 \u043d\u0435\u043f\u0440\u0435\u0434\u0432\u0438\u0434\u0435\u043d\u043d\u0430\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u043f\u0440\u0438 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435 \u0437\u0430\u043f\u0440\u043e\u0441\u0430.\n\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u043f\u043e\u0432\u0442\u043e\u0440\u0438\u0442\u0435 \u043f\u043e\u043f\u044b\u0442\u043a\u0443 \u043f\u043e\u0437\u0436\u0435 \u0438\u043b\u0438 \u043e\u0431\u0440\u0430\u0442\u0438\u0442\u0435\u0441\u044c \u0432 \u0441\u043b\u0443\u0436\u0431\u0443 \u043f\u043e\u0434\u0434\u0435\u0440\u0436\u043a\u0438.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            },
            "example": {
              "code": "InternalServerError",
              "message": "\u041f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430 \u0432\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u044f\u044f \u043e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
              "timestamp": "2024-05-19T10:30:00Z",
              "path": "/api/v2/sessions",
              "request_id": "req_555555555"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        }
      }
    }
  }
}