{
  "openapi": "3.0.3",
  "info": {
    "title": "Plane API",
    "version": "1.0.0",
    "description": "Plane open-source project management API for workspaces, projects, issues, cycles, modules, states, and labels.",
    "x-jentic-source-url": "https://developers.plane.so/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.plane.so",
      "description": "Plane Cloud"
    },
    {
      "url": "http://localhost:8000",
      "description": "Self-hosted Plane"
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Issues",
      "description": "Issue management"
    },
    {
      "name": "States",
      "description": "Workflow states"
    },
    {
      "name": "Labels",
      "description": "Issue labels"
    },
    {
      "name": "Cycles",
      "description": "Sprint/cycle management"
    },
    {
      "name": "Modules",
      "description": "Module management"
    }
  ],
  "paths": {
    "/api/v1/workspaces/{workspace_slug}/projects/": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List projects"
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "identifier"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string",
                    "maxLength": 5
                  },
                  "description": {
                    "type": "string"
                  },
                  "network": {
                    "type": "integer",
                    "enum": [
                      0,
                      2
                    ],
                    "description": "0=Secret, 2=Public"
                  },
                  "emoji": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "description": "Create project"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "description": "Get project"
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update project"
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete project"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/issues/": {
      "get": {
        "operationId": "listIssues",
        "summary": "List issues",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issue"
                      }
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "prev_cursor": {
                      "type": "string"
                    },
                    "next_page_results": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List issues"
      },
      "post": {
        "operationId": "createIssue",
        "summary": "Create issue",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description_html": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "urgent",
                      "high",
                      "medium",
                      "low",
                      "none"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "assignees": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "target_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "estimate_point": {
                    "type": "integer"
                  },
                  "parent": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issue"
                }
              }
            }
          }
        },
        "description": "Create issue"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/issues/{issue_id}/": {
      "get": {
        "operationId": "getIssue",
        "summary": "Get issue",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Issue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issue"
                }
              }
            }
          }
        },
        "description": "Get issue"
      },
      "patch": {
        "operationId": "updateIssue",
        "summary": "Update issue",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update issue"
      },
      "delete": {
        "operationId": "deleteIssue",
        "summary": "Delete issue",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete issue"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/issues/{issue_id}/activities/": {
      "get": {
        "operationId": "listIssueActivities",
        "summary": "List issue activities",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List issue activities"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/issues/{issue_id}/comments/": {
      "get": {
        "operationId": "listIssueComments",
        "summary": "List issue comments",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List issue comments"
      },
      "post": {
        "operationId": "createIssueComment",
        "summary": "Create comment",
        "tags": [
          "Issues"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_html"
                ],
                "properties": {
                  "comment_html": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create comment"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/states/": {
      "get": {
        "operationId": "listStates",
        "summary": "List states",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "States",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/State"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List states"
      },
      "post": {
        "operationId": "createState",
        "summary": "Create state",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "group"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "group": {
                    "type": "string",
                    "enum": [
                      "backlog",
                      "unstarted",
                      "started",
                      "completed",
                      "cancelled"
                    ]
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create state"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/states/{state_id}/": {
      "get": {
        "operationId": "getState",
        "summary": "Get state",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/State"
                }
              }
            }
          }
        },
        "description": "Get state"
      },
      "patch": {
        "operationId": "updateState",
        "summary": "Update state",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update state"
      },
      "delete": {
        "operationId": "deleteState",
        "summary": "Delete state",
        "tags": [
          "States"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete state"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/labels/": {
      "get": {
        "operationId": "listLabels",
        "summary": "List labels",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List labels"
      },
      "post": {
        "operationId": "createLabel",
        "summary": "Create label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create label"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/labels/{label_id}/": {
      "get": {
        "operationId": "getLabel",
        "summary": "Get label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "label_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          }
        },
        "description": "Get label"
      },
      "patch": {
        "operationId": "updateLabel",
        "summary": "Update label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "label_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update label"
      },
      "delete": {
        "operationId": "deleteLabel",
        "summary": "Delete label",
        "tags": [
          "Labels"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "label_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete label"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/cycles/": {
      "get": {
        "operationId": "listCycles",
        "summary": "List cycles",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Cycles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cycle"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List cycles"
      },
      "post": {
        "operationId": "createCycle",
        "summary": "Create cycle",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create cycle"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/cycles/{cycle_id}/": {
      "get": {
        "operationId": "getCycle",
        "summary": "Get cycle",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cycle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cycle",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cycle"
                }
              }
            }
          }
        },
        "description": "Get cycle"
      },
      "patch": {
        "operationId": "updateCycle",
        "summary": "Update cycle",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cycle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update cycle"
      },
      "delete": {
        "operationId": "deleteCycle",
        "summary": "Delete cycle",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cycle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete cycle"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/cycles/{cycle_id}/cycle-issues/": {
      "get": {
        "operationId": "listCycleIssues",
        "summary": "List cycle issues",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cycle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List cycle issues"
      },
      "post": {
        "operationId": "addIssuesToCycle",
        "summary": "Add issues to cycle",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cycle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "issues"
                ],
                "properties": {
                  "issues": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          }
        },
        "description": "Add issues to cycle"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/cycles/{cycle_id}/cycle-issues/{issue_id}/": {
      "delete": {
        "operationId": "removeIssueFromCycle",
        "summary": "Remove issue from cycle",
        "tags": [
          "Cycles"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "cycle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Removed"
          }
        },
        "description": "Remove issue from cycle"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/modules/": {
      "get": {
        "operationId": "listModules",
        "summary": "List modules",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Modules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Module"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List modules"
      },
      "post": {
        "operationId": "createModule",
        "summary": "Create module",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "target_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create module"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/modules/{module_id}/": {
      "get": {
        "operationId": "getModule",
        "summary": "Get module",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Module",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            }
          }
        },
        "description": "Get module"
      },
      "patch": {
        "operationId": "updateModule",
        "summary": "Update module",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update module"
      },
      "delete": {
        "operationId": "deleteModule",
        "summary": "Delete module",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete module"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/modules/{module_id}/module-issues/": {
      "get": {
        "operationId": "listModuleIssues",
        "summary": "List module issues",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List module issues"
      },
      "post": {
        "operationId": "addIssuesToModule",
        "summary": "Add issues to module",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "issues"
                ],
                "properties": {
                  "issues": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          }
        },
        "description": "Add issues to module"
      }
    },
    "/api/v1/workspaces/{workspace_slug}/projects/{project_id}/modules/{module_id}/module-issues/{issue_id}/": {
      "delete": {
        "operationId": "removeIssueFromModule",
        "summary": "Remove issue from module",
        "tags": [
          "Modules"
        ],
        "parameters": [
          {
            "name": "workspace_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Project UUID"
          },
          {
            "name": "module_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "issue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Issue UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Removed"
          }
        },
        "description": "Remove issue from module"
      }
    }
  },
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "network": {
            "type": "integer"
          },
          "emoji": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Issue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description_html": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "format": "uuid"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "target_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "estimate_point": {
            "type": "integer",
            "nullable": true
          },
          "parent": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "sequence_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "State": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sequence": {
            "type": "number"
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Cycle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Module": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "target_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Plane API key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
