{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Lusio Analytics APIs",
    "description": "Documentation automatically generated by the <b>swagger-autogen</b> module.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/lusiorehab/lusio-analytics-apis/1.0.0"
  },
  "servers": [
    {
      "url": "https://us-central1-lusiodev.cloudfunctions.net/analytics"
    }
  ],
  "tags": [
    {
      "name": "Dashboard",
      "description": "Endpoints"
    },
    {
      "name": "Log",
      "description": "Endpoints"
    },
    {
      "name": "Survey",
      "description": "Endpoints"
    },
    {
      "name": "Session",
      "description": "Endpoints"
    },
    {
      "name": "User",
      "description": "Endpoints"
    }
  ],
  "paths": {
    "/sessions/game-feedback-report": {
      "get": {
        "tags": [
          "Session"
        ],
        "description": "Retrieves a report of game feedback submitted by players within a specified date range. The date range cannot exceed six months. This endpoint is restricted to Superadmins. <br/><br/><b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved game feedback report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameFeedbackReport"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GameFeedbackReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid date parameters, or date range exceeds six months."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Caller is not a Superadmin."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sessions/sensors/{sensorName}/admins/latest": {
      "get": {
        "tags": [
          "Session"
        ],
        "description": "Retrieves a usage history for a specific sensor, identifying the most recent admin to use it within a specified date range. It returns the latest admin, the timestamp of the last use, and a sorted list of all admins who used the sensor during that period. <br/><br/><b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "sensorName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The name or identifier of the sensor to report on."
          },
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sensor usage report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastAdminSensorReport"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LastAdminSensorReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid date parameters."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Caller is not a Superadmin."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sessions/reports/v3": {
      "get": {
        "tags": [
          "Session"
        ],
        "description": "(v4) Retrieves a detailed report of session data for players, with advanced, flexible filtering and improved performance. This endpoint can return a JSON response, generate graph data, and provide a URL to download the full report as a CSV file.\r   - **Filtering Priority:** The endpoint evaluates query parameters in the following order: \\`orgIDs\\`, then \\`adminIDs\\`, then \\`playerIDs\\`.\r   - **\"all\" Keyword:** For \\`playerIDs\\`, \\`adminIDs\\`, and \\`orgIDs\\`, you can use the keyword \"all\" to report on all entities accessible to the caller.\r   - **Default Behavior:** If no ID filters are provided, the report defaults to all players accessible by the caller based on their role.\r   <br/><b>Actors:</b><ul><li>Superadmin</li><li>Organisation</li><li>Admin</li></ul>",
        "parameters": [
          {
            "name": "playerIDs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adminIDs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIDs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "joint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movement",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeGraph",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the session report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerSessionReportV2"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerSessionReportV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters, such as an incorrect date format or invalid graph frequency."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - The caller is not authorized to access the requested data."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/organisation/list": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "description": "Retrieves a list of organisations with their basic details. If the caller is a Superadmin, it returns all organisations. If the caller is an Organisation, it returns only their own details. <br/><br/><b>Actors:</b><ul><li>Superadmin</li><li>Organisation</li></ul>",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "Successfully retrieved data"
                    },
                    "result": {
                      "$ref": "#/components/schemas/OrgListForDashboard"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/organisation/{orgID}/admins": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "description": "Retrieves a list of all active admins for a specific organisation. This endpoint only returns admins with a current, non-expired subscription. <br/><br/><b>Actors:</b><ul><li>Superadmin</li><li>Organisation</li></ul>",
        "parameters": [
          {
            "name": "orgID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the organisation to retrieve admins from."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "Successfully retrieved data"
                    },
                    "result": {
                      "$ref": "#/components/schemas/AdminListForDashboard"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/admins/active": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "description": "Retrieves a list of active admins with their basic details. If an `orgID` is provided, the list is filtered to include only admins from that organisation. This endpoint only returns admins with a current, non-expired subscription. <br/><br/><b>Actors:</b><ul><li>Superadmin</li><li>Organisation</li><li>Admin</li></ul>",
        "parameters": [
          {
            "name": "orgID",
            "in": "query",
            "description": "Optional ID of an organisation to filter the admin list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "Successfully retrieved data"
                    },
                    "result": {
                      "$ref": "#/components/schemas/AdminListForDashboard"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/admins/all": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "description": "Retrieves a list of all admins (both active and expired) with their basic details. If an `orgID` is provided, the list is filtered to include only admins from that organisation. <br/><br/><b>Actors:</b><ul><li>Superadmin</li><li>Organisation</li><li>Admin</li></ul>",
        "parameters": [
          {
            "name": "orgID",
            "in": "query",
            "description": "Optional ID of an organisation to filter the admin list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "Successfully retrieved data"
                    },
                    "result": {
                      "$ref": "#/components/schemas/AdminListForDashboard"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/admin/list": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "description": "Retrieves a list of all admins (both active and expired) with their basic details. If an `orgID` is provided, the list is filtered to include only admins from that organisation. <br/><br/><b>Actors:</b><ul><li>Superadmin</li><li>Organisation</li><li>Admin</li></ul>",
        "parameters": [
          {
            "name": "orgID",
            "in": "query",
            "description": "Optional ID of an organisation to filter the admin list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "Successfully retrieved data"
                    },
                    "result": {
                      "$ref": "#/components/schemas/AdminListForDashboard"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dashboard/players/all": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "description": "Retrieves a list of players with their basic details. The list can be filtered by a specific user (organisation or admin) by providing a `userID`. If no `userID` is provided, it returns players associated with the caller. The response includes details about the primary admin and any secondary admins linked to each player. <br/><br/>The `adminID` query parameter is supported for legacy purposes but `userID` should be used for new development; `userID` takes precedence. <br/><br/><b>Actors:</b><ul><li>Superadmin</li><li>Linked Org</li><li>Linked Admin</li></ul>",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "description": "Optional ID of an organisation or admin to filter the player list. If omitted, returns players for the caller.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adminID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "Successfully retrieved data"
                    },
                    "result": {
                      "$ref": "#/components/schemas/PlayerListForDashboard"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/report/players": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Generates a consolidated report of player session data, aggregated by a specified frequency. This endpoint can filter sessions by various criteria and returns a flattened JSON report along with a URL to download a full CSV version.\r    <br/><br/><b>Filtering:</b>\r    <ul>\r    <li>Use one of \\`playerIDs\\`, \\`adminIDs\\`, or \\`orgIDs\\` for filtering, but not more than one at a time.</li>\r    <li>If no ID-based filter is provided, the report includes all players accessible to the caller.</li>\r    </ul>\r    <b>Actors:</b><ul><li>Superadmin</li><li>Linked Organisation</li><li>Linked Admin</li></ul>",
        "parameters": [
          {
            "name": "playerIDs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adminIDs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIDs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "joint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movement",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playedTime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playedReps",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the consolidated session report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSessionsConsolidatedReportForPlayers"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserSessionsConsolidatedReportForPlayers"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided, such as using multiple ID filters."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - The caller is not authorized to access the requested data."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/report/admins": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Generates a consolidated report of admin session data, aggregated by a specified frequency. This endpoint can filter sessions by various criteria and returns a flattened JSON report along with a URL to download a full CSV version.\r   <br/><br/><b>Filtering:</b>\r   <ul>\r    <li>If \\`adminIDs\\` is provided, the report is generated for those specific admins.</li>\r    <li>If \\`orgIDs\\` is provided, the report includes all admins linked to those organisations.</li>\r    <li>If neither is provided, the report includes all admins accessible to the caller.</li>\r   </ul>\r   <b>Actors:</b><ul><li>Superadmin</li><li>Linked Organisation</li><li>Linked Admin</li></ul>",
        "parameters": [
          {
            "name": "adminIDs",
            "in": "query",
            "description": "A comma-separated list of admin IDs to include in the report.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgIDs",
            "in": "query",
            "description": "A comma-separated list of organisation IDs to include in the report.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "joint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movement",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playedTime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playedReps",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the consolidated session report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSessionsConsolidatedReportForAdmins"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserSessionsConsolidatedReportForAdmins"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - The caller is not authorized to access the requested data."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user/report/organisations": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Generates a consolidated report of organisation session data, aggregated by a specified frequency. This endpoint can filter sessions by various criteria and returns a flattened JSON report along with a URL to download a full CSV version.\r   <br/><br/><b>Filtering:</b>\r   <ul>\r    <li>If \\`orgIDs\\` is provided, the report is generated for those specific organisations.</li>\r    <li>If \\`orgIDs\\` is omitted, the report includes all organisations accessible to the caller (Superadmin only).</li>\r   </ul>\r   <b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "orgIDs",
            "in": "query",
            "description": "A comma-separated list of organisation IDs to include in the report.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "joint",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movement",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playedTime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playedReps",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the consolidated session report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSessionsConsolidatedReportForOrgs"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserSessionsConsolidatedReportForOrgs"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - The caller is not authorized to access the requested data."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notifications/items": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "description": "Retrieves a summary of notifications. By default, it returns only active notifications, but can include all (active and expired) by setting the `active` query parameter to `false`. This endpoint is restricted to Superadmins. <br/><br/><b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved notifications.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllNotificationsReport"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AllNotificationsReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Caller is not a Superadmin."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notifications/{id}": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "description": "Retrieves detailed information for a specific notification, including a list of users who have read it. This endpoint is restricted to Superadmins. <br/><br/><b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the notification."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved notification details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleNotificationReport"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SingleNotificationReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The notification with the specified ID does not exist."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Caller is not a Superadmin."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/survey/nps": {
      "get": {
        "tags": [
          "Survey"
        ],
        "description": "Retrieves a Net Promoter Score (NPS) report based on survey responses within a specified date range. The report can be filtered by `adminIDs` and/or `orgIDs`. It calculates the overall NPS, provides a detailed list of responses, and generates a downloadable Excel file of the report. <br/><br/><b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the NPS report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NpsReportResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NpsReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters, such as `adminIDs` or date range."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - The caller is not a Superadmin."
          },
          "404": {
            "description": "Not Found - No survey data found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/logs/": {
      "get": {
        "tags": [
          "Logs"
        ],
        "description": "Retrieves application logs within a specified date range. This endpoint is restricted to Superadmins and returns a list of log entries, including details about the caller and the log event itself. The `stackTrace` field is excluded from the response. <br/><br/><b>Actors:</b><ul><li>Superadmin</li></ul>",
        "parameters": [
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid date parameters."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Caller is not a Superadmin."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "OrgListForDashboard": {
        "type": "array",
        "items": {
          "xml": {
            "name": "orgdatafordashboard"
          },
          "$ref": "#/components/schemas/OrgDataForDashboard"
        },
        "xml": {
          "name": "OrgListForDashboard"
        }
      },
      "OrgDataForDashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "XYZ"
          },
          "orgType": {
            "type": "string",
            "example": "Big-Customer"
          },
          "title": {
            "type": "string",
            "example": "Test Org"
          },
          "email": {
            "type": "string",
            "example": "sample@test.com"
          },
          "subscriptionExpiration": {
            "type": "number",
            "example": 1800054000
          },
          "numAdmins": {
            "type": "number",
            "example": 10
          },
          "numPlayers": {
            "type": "number",
            "example": 24
          }
        },
        "xml": {
          "name": "OrgDataForDashboard"
        }
      },
      "AdminListForDashboard": {
        "type": "array",
        "items": {
          "xml": {
            "name": "admindatafordashboard"
          },
          "$ref": "#/components/schemas/AdminDataForDashboard"
        },
        "xml": {
          "name": "AdminListForDashboard"
        }
      },
      "AdminDataForDashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ABC"
          },
          "email": {
            "type": "string",
            "example": "janedoe@gmail.com"
          },
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "lastSignIn": {
            "type": "number",
            "example": 1626708466
          },
          "profilePhotoUrl": {
            "type": "string",
            "example": "https://firebasestorage.googleapis.com/v0/b/lusiophysio.appspot.com/o/images%2FIcon-user.png?alt=media&token=..."
          },
          "registeredBy": {
            "type": "string",
            "example": "XYZ"
          },
          "subscriptionExpiration": {
            "type": "number",
            "example": 1800054000
          },
          "userName": {
            "type": "string",
            "example": "JDoe"
          },
          "userType": {
            "type": "string",
            "example": "clinician"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "nickname": {
            "type": "string",
            "example": "JDoe"
          },
          "subscriptionType": {
            "type": "string",
            "example": "Enterprise-12"
          },
          "organisationId": {
            "type": "string",
            "example": "ABC"
          },
          "organisationName": {
            "type": "string",
            "example": "Example Org"
          },
          "organistaionType": {
            "type": "string",
            "example": "Reseller"
          },
          "playerNum": {
            "type": "number",
            "example": 7
          }
        },
        "xml": {
          "name": "AdminDataForDashboard"
        }
      },
      "PlayerListForDashboard": {
        "type": "array",
        "items": {
          "xml": {
            "name": "playerdatafordashboard"
          },
          "$ref": "#/components/schemas/PlayerDataForDashboard"
        },
        "xml": {
          "name": "PlayerListForDashboard"
        }
      },
      "PlayerDataForDashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "TsDmsaJSH"
          },
          "name": {
            "type": "string",
            "example": "TsDm TsDm"
          },
          "nickname": {},
          "adminID": {
            "type": "string",
            "example": "ABC"
          },
          "adminName": {
            "type": "string",
            "example": "Sample primary admin"
          },
          "secondaryAdmins": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adminID": {
                  "type": "string",
                  "example": "XYZ"
                },
                "adminName": {
                  "type": "string",
                  "example": "Sample secondary admin 2"
                }
              }
            }
          }
        },
        "xml": {
          "name": "PlayerDataForDashboard"
        }
      },
      "UserSessionsConsolidatedReportForPlayers": {
        "type": "object",
        "properties": {
          "playedTime": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adminName": {
                  "type": "string",
                  "example": "BNVu BNVu"
                },
                "playerName": {
                  "type": "string",
                  "example": "-N9j -N9j"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1_10_2022"
                      },
                      "timestamp": {
                        "type": "number",
                        "example": 1664582400
                      },
                      "value": {
                        "type": "number",
                        "example": 374
                      }
                    }
                  }
                }
              }
            }
          },
          "playedReps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adminName": {
                  "type": "string",
                  "example": "BNVu BNVu"
                },
                "playerName": {
                  "type": "string",
                  "example": "-N9j -N9j"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1_10_2022"
                      },
                      "timestamp": {
                        "type": "number",
                        "example": 1664582400
                      },
                      "value": {
                        "type": "number",
                        "example": 374
                      }
                    }
                  }
                }
              }
            }
          },
          "rom": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "adminName": {
                  "type": "string",
                  "example": "BNVu BNVu"
                },
                "playerName": {
                  "type": "string",
                  "example": "-N9j -N9j"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1_10_2022"
                      },
                      "timestamp": {
                        "type": "number",
                        "example": 1664582400
                      },
                      "value": {
                        "type": "number",
                        "example": 374
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "xml": {
          "name": "UserSessionsConsolidatedReportForPlayers"
        }
      },
      "UserSessionsConsolidatedReportForAdmins": {
        "type": "object",
        "properties": {
          "playedTime": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orgName": {
                  "type": "string",
                  "example": "aGV0"
                },
                "adminName": {
                  "type": "string",
                  "example": "F7I3 F7I3"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1_10_2022"
                      },
                      "timestamp": {
                        "type": "number",
                        "example": 1664582400
                      },
                      "value": {
                        "type": "number",
                        "example": 374
                      }
                    }
                  }
                }
              }
            }
          },
          "playedReps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orgName": {
                  "type": "string",
                  "example": "aGV0"
                },
                "adminName": {
                  "type": "string",
                  "example": "F7I3 F7I3"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1_10_2022"
                      },
                      "timestamp": {
                        "type": "number",
                        "example": 1664582400
                      },
                      "value": {
                        "type": "number",
                        "example": 374
                      }
                    }
                  }
                }
              }
            }
          },
          "rom": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "orgName": {
                  "type": "string",
                  "example": "aGV0"
                },
                "adminName": {
                  "type": "string",
                  "example": "F7I3 F7I3"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1_10_2022"
                      },
                      "timestamp": {
                        "type": "number",
                        "example": 1664582400
                      },
                      "value": {
                        "type": "number",
                        "example": 374
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "xml": {
          "name": "UserSessionsConsolidatedReportForAdmins"
        }
      },
      "npsData": {
        "type": "object",
        "properties": {
          "nps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "example": "17_7_2023"
                },
                "time": {
                  "type": "string",
                  "example": "06:38"
                },
                "name": {
                  "type": "string",
                  "example": "0679 0679"
                },
                "score": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "example": "4"
                    },
                    "text": {
                      "type": "string",
                      "example": "DETRACTORS"
                    }
                  }
                }
              }
            }
          }
        },
        "xml": {
          "name": "npsData"
        }
      },
      "AllNotificationsReport": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "notificationID": {
              "type": "string",
              "example": "tcs"
            },
            "created": {
              "type": "string",
              "example": "Sat Nov 25 2023"
            },
            "start": {},
            "end": {},
            "title": {
              "type": "string",
              "example": "Terms and Conditions"
            },
            "required": {
              "type": "boolean",
              "example": false
            },
            "message": {
              "type": "string",
              "example": "Change me"
            },
            "type": {
              "type": "string",
              "example": "system"
            },
            "userCount": {
              "type": "number",
              "example": 1
            }
          }
        },
        "xml": {
          "name": "AllNotificationsReport"
        }
      },
      "SingleNotificationReport": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "notificationID": {
              "type": "string",
              "example": "tcs"
            },
            "created": {
              "type": "string",
              "example": "Sat Nov 25 2023"
            },
            "start": {},
            "end": {},
            "title": {
              "type": "string",
              "example": "Terms and Conditions"
            },
            "required": {
              "type": "boolean",
              "example": false
            },
            "message": {
              "type": "string",
              "example": "Change me"
            },
            "type": {
              "type": "string",
              "example": "system"
            },
            "userCount": {
              "type": "number",
              "example": 1
            },
            "users": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "ABC"
                  },
                  "name": {
                    "type": "string",
                    "example": "Jane Doe"
                  },
                  "email": {
                    "type": "string",
                    "example": "janedoe@dev.com"
                  }
                }
              }
            }
          }
        },
        "xml": {
          "name": "SingleNotificationReport"
        }
      }
    }
  }
}
