{
  "openapi": "3.0.3",
  "info": {
    "title": "Songkick API",
    "description": "Songkick is a concert discovery platform. The Songkick API provides access to live music event data including event search, artist information, venue details, location search, artist calendar and gigography data.",
    "version": "3.0",
    "contact": {
      "name": "Songkick",
      "url": "https://www.songkick.com/developer/"
    },
    "x-jentic-source-url": "http://www.songkick.com/developer/"
  },
  "servers": [
    {
      "url": "https://api.songkick.com/api/3.0",
      "description": "Songkick API v3.0"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/events.json": {
      "get": {
        "summary": "Search upcoming events",
        "description": "Search for upcoming events by artist name, location, or date range.",
        "operationId": "searchEvents",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_name",
            "in": "query",
            "description": "Artist name to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location filter: sk:<id>, geo:<lat>,<lng>, ip:<ip>, or clientip.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD). Must be used with max_date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "description": "End date (YYYY-MM-DD). Must be used with min_date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Concert",
                "Festival"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResultsPage"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/search/artists.json": {
      "get": {
        "summary": "Search artists",
        "operationId": "searchArtists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Artist name to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of artists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistResultsPage"
                }
              }
            }
          }
        },
        "description": "Search artists"
      }
    },
    "/search/venues.json": {
      "get": {
        "summary": "Search venues",
        "operationId": "searchVenues",
        "tags": [
          "Venues"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Venue name to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of venues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VenueResultsPage"
                }
              }
            }
          }
        },
        "description": "Search venues"
      }
    },
    "/search/locations.json": {
      "get": {
        "summary": "Search locations",
        "operationId": "searchLocations",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Location name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "geo:<lat>,<lng>, ip:<ip>, or clientip.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResultsPage"
                }
              }
            }
          }
        },
        "description": "Search locations"
      }
    },
    "/artists/{artist_id}/calendar.json": {
      "get": {
        "summary": "Get artist upcoming events",
        "operationId": "getArtistCalendar",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist upcoming events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Artist not found"
          }
        },
        "description": "Get artist upcoming events"
      }
    },
    "/artists/{artist_id}/gigography.json": {
      "get": {
        "summary": "Get artist past events",
        "operationId": "getArtistGigography",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist past events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Artist not found"
          }
        },
        "description": "Get artist past events"
      }
    },
    "/artists/{artist_id}/similar_artists.json": {
      "get": {
        "summary": "Get similar artists",
        "operationId": "getSimilarArtists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Similar artists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Artist not found"
          }
        },
        "description": "Get similar artists"
      }
    },
    "/venues/{venue_id}/calendar.json": {
      "get": {
        "summary": "Get venue upcoming events",
        "operationId": "getVenueCalendar",
        "tags": [
          "Venues"
        ],
        "parameters": [
          {
            "name": "venue_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Venue upcoming events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Venue not found"
          }
        },
        "description": "Get venue upcoming events"
      }
    },
    "/metro_areas/{metro_area_id}/calendar.json": {
      "get": {
        "summary": "Get metro area upcoming events",
        "operationId": "getMetroAreaCalendar",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "metro_area_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metro area upcoming events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResultsPage"
                }
              }
            }
          },
          "404": {
            "description": "Metro area not found"
          }
        },
        "description": "Get metro area upcoming events"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key from the Songkick developer portal."
      }
    },
    "schemas": {
      "EventResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "results": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              },
              "totalEntries": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ArtistResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "results": {
                "type": "object",
                "properties": {
                  "artist": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Artist"
                    }
                  }
                }
              },
              "totalEntries": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "VenueResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "results": {
                "type": "object",
                "properties": {
                  "venue": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Venue"
                    }
                  }
                }
              },
              "totalEntries": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LocationResultsPage": {
        "type": "object",
        "properties": {
          "resultsPage": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "results": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Location"
                    }
                  }
                }
              },
              "totalEntries": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Concert",
              "Festival"
            ]
          },
          "uri": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string"
          },
          "popularity": {
            "type": "number"
          },
          "start": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "time": {
                "type": "string"
              },
              "datetime": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "performance": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "displayName": {
                  "type": "string"
                },
                "billing": {
                  "type": "string"
                },
                "billingIndex": {
                  "type": "integer"
                },
                "artist": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "lat": {
                "type": "number"
              },
              "lng": {
                "type": "number"
              }
            }
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          },
          "onTourUntil": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "identifier": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mbid": {
                  "type": "string"
                },
                "href": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "street": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "capacity": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "city": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "country": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "metroArea": {
            "$ref": "#/components/schemas/MetroArea"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "city": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "country": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  }
                }
              },
              "state": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  }
                }
              },
              "lat": {
                "type": "number"
              },
              "lng": {
                "type": "number"
              }
            }
          },
          "metroArea": {
            "$ref": "#/components/schemas/MetroArea"
          }
        }
      },
      "MetroArea": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "uri": {
            "type": "string",
            "format": "uri"
          },
          "country": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              }
            }
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Events",
      "description": "Search and discover live music events."
    },
    {
      "name": "Artists",
      "description": "Search artists, calendars, gigography, and similar artists."
    },
    {
      "name": "Venues",
      "description": "Search venues and venue event calendars."
    },
    {
      "name": "Locations",
      "description": "Search locations and metro area event calendars."
    }
  ]
}
