{
  "openapi": "3.0.0",
  "info": {
    "title": "Smarty US Street Address API",
    "version": "1.0.0",
    "description": "The US Street Address API provides address validation and standardization for United States addresses. It verifies addresses, standardizes formatting, appends missing information, and provides geocoding coordinates.",
    "contact": {
      "name": "Smarty Support",
      "url": "https://www.smarty.com"
    }
  },
  "servers": [
    {
      "url": "https://us-street.api.smarty.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "authId": [],
      "authToken": []
    }
  ],
  "paths": {
    "/street-address": {
      "get": {
        "summary": "Validate US Street Address",
        "description": "Validates and standardizes a US street address. Returns corrected and standardized address with additional metadata including ZIP+4, county, geocoding coordinates, and more.",
        "operationId": "validateAddress",
        "parameters": [
          {
            "name": "auth-id",
            "in": "query",
            "description": "Your authentication ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auth-token",
            "in": "query",
            "description": "Your authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "The street address line",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1 Santa Claus Ln"
            }
          },
          {
            "name": "street2",
            "in": "query",
            "description": "Secondary address information (apartment, suite, etc.)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "The city name",
            "required": false,
            "schema": {
              "type": "string",
              "example": "North Pole"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state name or abbreviation",
            "required": false,
            "schema": {
              "type": "string",
              "example": "AK"
            }
          },
          {
            "name": "zipcode",
            "in": "query",
            "description": "The ZIP code",
            "required": false,
            "schema": {
              "type": "string",
              "example": "99705"
            }
          },
          {
            "name": "addressee",
            "in": "query",
            "description": "The name of the recipient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "urbanization",
            "in": "query",
            "description": "Puerto Rico urbanization name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidates",
            "in": "query",
            "description": "Maximum number of address candidates to return (1-10)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Match strategy: strict, range, or invalid",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "strict",
                "range",
                "invalid"
              ],
              "default": "strict"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "input_id": {
                        "type": "string",
                        "description": "User-provided input ID for tracking"
                      },
                      "input_index": {
                        "type": "integer",
                        "description": "Index of the input address in batch requests"
                      },
                      "candidate_index": {
                        "type": "integer",
                        "description": "Index of the candidate match"
                      },
                      "addressee": {
                        "type": "string",
                        "description": "The recipient name"
                      },
                      "delivery_line_1": {
                        "type": "string",
                        "description": "Standardized delivery address line"
                      },
                      "delivery_line_2": {
                        "type": "string",
                        "description": "Secondary delivery line (if applicable)"
                      },
                      "last_line": {
                        "type": "string",
                        "description": "City, state, and ZIP code line"
                      },
                      "delivery_point_barcode": {
                        "type": "string",
                        "description": "USPS delivery point barcode"
                      },
                      "components": {
                        "type": "object",
                        "properties": {
                          "primary_number": {
                            "type": "string"
                          },
                          "street_name": {
                            "type": "string"
                          },
                          "street_suffix": {
                            "type": "string"
                          },
                          "city_name": {
                            "type": "string"
                          },
                          "state_abbreviation": {
                            "type": "string"
                          },
                          "zipcode": {
                            "type": "string"
                          },
                          "plus4_code": {
                            "type": "string"
                          },
                          "delivery_point": {
                            "type": "string"
                          },
                          "delivery_point_check_digit": {
                            "type": "string"
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "record_type": {
                            "type": "string"
                          },
                          "zip_type": {
                            "type": "string"
                          },
                          "county_fips": {
                            "type": "string"
                          },
                          "county_name": {
                            "type": "string"
                          },
                          "carrier_route": {
                            "type": "string"
                          },
                          "congressional_district": {
                            "type": "string"
                          },
                          "rdi": {
                            "type": "string",
                            "description": "Residential Delivery Indicator"
                          },
                          "elot_sequence": {
                            "type": "string"
                          },
                          "elot_sort": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float"
                          },
                          "precision": {
                            "type": "string"
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "utc_offset": {
                            "type": "number"
                          },
                          "dst": {
                            "type": "boolean"
                          }
                        }
                      },
                      "analysis": {
                        "type": "object",
                        "properties": {
                          "dpv_match_code": {
                            "type": "string"
                          },
                          "dpv_footnotes": {
                            "type": "string"
                          },
                          "dpv_cmra": {
                            "type": "string"
                          },
                          "dpv_vacant": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid authentication credentials"
          },
          "402": {
            "description": "Payment required - insufficient credits"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        },
        "tags": [
          "street-address"
        ]
      },
      "post": {
        "summary": "Batch Validate US Street Addresses",
        "description": "Validates multiple US street addresses in a single batch request. Maximum 100 addresses per batch.",
        "operationId": "batchValidateAddresses",
        "parameters": [
          {
            "name": "auth-id",
            "in": "query",
            "description": "Your authentication ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auth-token",
            "in": "query",
            "description": "Your authentication token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 100,
                "items": {
                  "type": "object",
                  "properties": {
                    "input_id": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "street2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zipcode": {
                      "type": "string"
                    },
                    "addressee": {
                      "type": "string"
                    },
                    "urbanization": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 10
                    },
                    "match": {
                      "type": "string",
                      "enum": [
                        "strict",
                        "range",
                        "invalid"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Same structure as single address validation response"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "tags": [
          "street-address"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "authId": {
        "type": "apiKey",
        "in": "query",
        "name": "auth-id",
        "description": "Authentication ID from Smarty account"
      },
      "authToken": {
        "type": "apiKey",
        "in": "query",
        "name": "auth-token",
        "description": "Authentication token from Smarty account"
      }
    }
  },
  "tags": [
    {
      "name": "street-address"
    }
  ]
}
