{
  "openapi": "3.0.3",
  "info": {
    "title": "Marvel Comics API",
    "version": "1.0.0",
    "description": "The Marvel Comics API allows developers everywhere to access information about Marvel's vast library of comics — from what's coming up, to 70 years of comic data. Provides access to characters, comics, creators, events, series, and stories.",
    "x-jentic-source-url": "https://developer.marvel.com/documentation/getting_started",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://gateway.marvel.com/v1/public"
    }
  ],
  "paths": {
    "/characters": {
      "get": {
        "operationId": "listCharacters",
        "summary": "List characters",
        "description": "Fetches lists of comic characters with optional filters.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Return only characters matching the specified full character name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameStartsWith",
            "in": "query",
            "description": "Return characters with names that begin with the specified string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "description": "Return only characters which have been modified since the specified date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "comics",
            "in": "query",
            "description": "Return only characters which appear in the specified comics (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "description": "Return only characters which appear in the specified series (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Return only characters which appear in the specified events (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stories",
            "in": "query",
            "description": "Return only characters which appear in the specified stories (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results by field",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "modified",
                "-name",
                "-modified"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the result set",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Skip the specified number of results",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Missing or invalid API key, hash, or timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{characterId}": {
      "get": {
        "operationId": "getCharacter",
        "summary": "Get a single character",
        "description": "Fetches a single character by ID.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "name": "characterId",
            "in": "path",
            "required": true,
            "description": "A single character ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comics": {
      "get": {
        "operationId": "listComics",
        "summary": "List comics",
        "description": "Fetches lists of comics with optional filters.",
        "tags": [
          "Comics"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Filter by format",
            "schema": {
              "type": "string",
              "enum": [
                "comic",
                "magazine",
                "trade paperback",
                "hardcover",
                "digest",
                "graphic novel",
                "digital comic",
                "infinite comic"
              ]
            }
          },
          {
            "name": "formatType",
            "in": "query",
            "description": "Filter by format type",
            "schema": {
              "type": "string",
              "enum": [
                "comic",
                "collection"
              ]
            }
          },
          {
            "name": "noVariants",
            "in": "query",
            "description": "Exclude variant comics",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dateDescriptor",
            "in": "query",
            "description": "Return comics within a predefined date range",
            "schema": {
              "type": "string",
              "enum": [
                "lastWeek",
                "thisWeek",
                "nextWeek",
                "thisMonth"
              ]
            }
          },
          {
            "name": "dateRange",
            "in": "query",
            "description": "Return comics within a specified date range (two dates separated by comma)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Return only issues in series whose title matches",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titleStartsWith",
            "in": "query",
            "description": "Return only issues in series whose title starts with",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueNumber",
            "in": "query",
            "description": "Return only issues with the given issue number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "characters",
            "in": "query",
            "description": "Return only comics which feature the specified characters (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creators",
            "in": "query",
            "description": "Return only comics which feature work by the specified creators (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "description": "Return only comics which are part of the specified series (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Return only comics which take place in the specified events (comma-separated list of IDs)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results",
            "schema": {
              "type": "string",
              "enum": [
                "focDate",
                "onsaleDate",
                "title",
                "issueNumber",
                "modified",
                "-focDate",
                "-onsaleDate",
                "-title",
                "-issueNumber",
                "-modified"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComicDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comics/{comicId}": {
      "get": {
        "operationId": "getComic",
        "summary": "Get a single comic",
        "tags": [
          "Comics"
        ],
        "parameters": [
          {
            "name": "comicId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComicDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Comic not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single comic"
      }
    },
    "/creators": {
      "get": {
        "operationId": "listCreators",
        "summary": "List creators",
        "tags": [
          "Creators"
        ],
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "middleName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameStartsWith",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comics",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "lastName",
                "firstName",
                "middleName",
                "suffix",
                "modified",
                "-lastName",
                "-firstName",
                "-middleName",
                "-suffix",
                "-modified"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List creators"
      }
    },
    "/creators/{creatorId}": {
      "get": {
        "operationId": "getCreator",
        "summary": "Get a single creator",
        "tags": [
          "Creators"
        ],
        "parameters": [
          {
            "name": "creatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Creator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single creator"
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameStartsWith",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "characters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comics",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "startDate",
                "modified",
                "-name",
                "-startDate",
                "-modified"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List events"
      }
    },
    "/events/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get a single event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single event"
      }
    },
    "/series": {
      "get": {
        "operationId": "listSeries",
        "summary": "List series",
        "tags": [
          "Series"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titleStartsWith",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "seriesType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "collection",
                "one shot",
                "limited",
                "ongoing"
              ]
            }
          },
          {
            "name": "characters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comics",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "modified",
                "startYear",
                "-title",
                "-modified",
                "-startYear"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List series"
      }
    },
    "/series/{seriesId}": {
      "get": {
        "operationId": "getSeries",
        "summary": "Get a single series",
        "tags": [
          "Series"
        ],
        "parameters": [
          {
            "name": "seriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Series not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single series"
      }
    },
    "/stories": {
      "get": {
        "operationId": "listStories",
        "summary": "List stories",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "characters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comics",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creators",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "modified",
                "-id",
                "-modified"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List stories"
      }
    },
    "/stories/{storyId}": {
      "get": {
        "operationId": "getStory",
        "summary": "Get a single story",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "storyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Story not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a single story"
      }
    }
  },
  "components": {
    "schemas": {
      "CharacterDataWrapper": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "copyright": {
            "type": "string"
          },
          "attributionText": {
            "type": "string"
          },
          "attributionHTML": {
            "type": "string"
          },
          "etag": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/Image"
          },
          "resourceURI": {
            "type": "string"
          },
          "comics": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "series": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "stories": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "events": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Url"
            }
          }
        }
      },
      "ComicDataWrapper": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Comic"
                }
              }
            }
          }
        }
      },
      "Comic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "digitalId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "issueNumber": {
            "type": "number"
          },
          "variantDescription": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "isbn": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "pageCount": {
            "type": "integer"
          },
          "resourceURI": {
            "type": "string"
          },
          "thumbnail": {
            "$ref": "#/components/schemas/Image"
          },
          "creators": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "characters": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "stories": {
            "$ref": "#/components/schemas/ResourceList"
          },
          "events": {
            "$ref": "#/components/schemas/ResourceList"
          }
        }
      },
      "CreatorDataWrapper": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "middleName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "suffix": {
                      "type": "string"
                    },
                    "fullName": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "thumbnail": {
                      "$ref": "#/components/schemas/Image"
                    },
                    "resourceURI": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EventDataWrapper": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "resourceURI": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "start": {
                      "type": "string",
                      "format": "date"
                    },
                    "end": {
                      "type": "string",
                      "format": "date"
                    },
                    "thumbnail": {
                      "$ref": "#/components/schemas/Image"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeriesDataWrapper": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "resourceURI": {
                      "type": "string"
                    },
                    "startYear": {
                      "type": "integer"
                    },
                    "endYear": {
                      "type": "integer"
                    },
                    "rating": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "thumbnail": {
                      "$ref": "#/components/schemas/Image"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "StoryDataWrapper": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "resourceURI": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "thumbnail": {
                      "$ref": "#/components/schemas/Image"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          },
          "extension": {
            "type": "string"
          }
        }
      },
      "ResourceList": {
        "type": "object",
        "properties": {
          "available": {
            "type": "integer"
          },
          "collectionURI": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resourceURI": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "returned": {
            "type": "integer"
          }
        }
      },
      "Url": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "Your Marvel API public key. Server-side apps also need ts and hash parameters (MD5 of ts+privateKey+publicKey)."
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Characters"
    },
    {
      "name": "Comics"
    },
    {
      "name": "Creators"
    },
    {
      "name": "Events"
    },
    {
      "name": "Series"
    },
    {
      "name": "Stories"
    }
  ]
}
