{
  "openapi": "3.0.1",
  "info": {
    "title": "PersonPolicyService",
    "description": "Person Policy Service",
    "contact": {
      "name": "EI Support Distribution Group",
      "email": "EI_Support_dg@vhi.ie"
    },
    "version": "1.2.16",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VHI/personpolicyservice/1.2.16"
  },
  "servers": [
    {
      "url": "https://api.pit.vhi.ie/api",
      "description": "PIT - Public Interface Testing"
    },
    {
      "url": "/PersonPolicyService",
      "description": "Local"
    }
  ],
  "security": [
    {
      "oauth2Password": [],
      "oauth2ClientCredentials": [],
      "oauth2Implicit": [],
      "oauth2AuthorizationCode": [],
      "bearerAuth": [],
      "apiKeyAuth": [],
      "basicAuth": []
    }
  ],
  "paths": {
    "/v1/customers/{customer_uuid}/spins": {
      "summary": "GET any special instructions for a customer based on a partner_uuid.",
      "description": "## Synopsis\r\nGets <b>SP</b>ecial <b>IN</b>tructions for the customer from GIOS.\r\n\r\nThis information is required in Salesforce but is not available in Member 360 so this information must be retrieved directly from GIOS via the EI person-policy-service.\r\n\r\n",
      "get": {
        "tags": [
          "spins"
        ],
        "operationId": "getCustomerSpins",
        "parameters": [
          {
            "name": "customer_uuid",
            "in": "path",
            "description": "a unique partner UUID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned SPIN for partner.",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Spin"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4xxResponse"
          },
          "5XX": {
            "$ref": "#/components/responses/5xxResponse"
          },
          "default": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/policies/{policy_uuid}/spins": {
      "summary": "GET any special instructions for a policy based on a policy_uuid.",
      "description": "## Synopsis\r\nGets <b>SP</b>ecial <b>IN</b>tructions for the policy from GIOS.\r\n\r\nThis information is required in Salesforce but is not available in Member 360 so this information must be retrieved directly from GIOS via the EI person-policy-service.\r\n\r\n",
      "get": {
        "tags": [
          "spins"
        ],
        "operationId": "getPoliciesSpins",
        "parameters": [
          {
            "name": "policy_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned SPIN for policy.",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Spin"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4xxResponse"
          },
          "5XX": {
            "$ref": "#/components/responses/5xxResponse"
          },
          "default": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/groupschemes/{groupscheme_uuid}/spins": {
      "summary": "GET any special instructions for a group based on a groupscheme_uuid.",
      "description": "## Synopsis\r\nGets <b>SP</b>ecial <b>IN</b>tructions for the group from GIOS.\r\n\r\nThis information is required in Salesforce but is not available in Member 360 so this information must be retrieved directly from GIOS via the EI person-policy-service.\r\n\r\n",
      "get": {
        "tags": [
          "spins"
        ],
        "operationId": "getGroupSchemeSpins",
        "parameters": [
          {
            "name": "groupscheme_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned SPIN for group scheme.",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Spin"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/4xxResponse"
          },
          "5XX": {
            "$ref": "#/components/responses/5xxResponse"
          },
          "default": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Spin": {
        "type": "object",
        "description": "Represents a spin entry",
        "properties": {
          "spinId": {
            "type": "integer",
            "description": "Unique ID of the spin"
          },
          "spinLevelDesc": {
            "type": "string",
            "description": "Spin type description"
          },
          "spinCategoryDesc": {
            "type": "string",
            "description": "Spin category description"
          },
          "spinLevelCode": {
            "type": "integer",
            "description": "Spin level code"
          },
          "spinLevelNumber": {
            "type": "string",
            "description": "Spin level number"
          },
          "spinCatCode": {
            "type": "integer",
            "description": "Spin category code"
          },
          "icbIndicator": {
            "type": "boolean",
            "description": "ICB indicator"
          },
          "inpatientIndicator": {
            "type": "boolean",
            "description": "Inpatient indicator"
          },
          "outpatientIndicator": {
            "type": "boolean",
            "description": "Outpatient indicator"
          },
          "primaryCareIndicator": {
            "type": "boolean",
            "description": "Primary Care indicator"
          },
          "instruction": {
            "type": "string",
            "description": "The Special Instructions"
          },
          "effectiveStartDate": {
            "type": "string",
            "description": "Effective Start Date"
          },
          "effectiveENDDate": {
            "type": "string",
            "description": "Effective End Date"
          },
          "createdBy": {
            "type": "string",
            "description": "Created By"
          },
          "createdDate": {
            "type": "string",
            "description": "Created Date"
          },
          "lastUpdatedBy": {
            "type": "string",
            "description": "Last Updated By"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "Last Updated Date"
          }
        },
        "example": {
          "spinCatCode": 20,
          "icbIndicator": false,
          "inpatientIndicator": true,
          "outpatientIndicator": true,
          "primarycareIndicator": false,
          "effectiveStartDate": "02-Nov-2004 00:00:00",
          "links": [],
          "createdBy": "Joe Bloggs",
          "spinLevelDesc": "Person || Policy || Group",
          "spinCategoryDesc": "a text description",
          "createdDate": "20-Oct-2008 08:20:40",
          "spinId": 344509,
          "spinLevelCode": 1,
          "spinLevelNumber": 10021,
          "instruction": "The special instructions belonging to the partner/policy/group"
        }
      }
    },
    "responses": {
      "SpinSuccess": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Spin"
            }
          }
        }
      },
      "4xxResponse": {
        "description": "Bad Request"
      },
      "5xxResponse": {
        "description": "Internal server error"
      },
      "DefaultResponse": {
        "description": "Success"
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/91dd274a-bb2a-4e3a-9a5f-09c4a2390aef/oauth2/v2.0/authorize",
            "scopes": {
              "openid": "openid"
            }
          }
        }
      }
    }
  }
}