{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Rock New Ventures",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/fiap-7d0/rock-new-ventures/1.0.0"
  },
  "host": "apis.fiap.com.br",
  "basePath": "/api-rock/v1",
  "tags": [
    {
      "name": "startup",
      "description": ""
    },
    {
      "name": "segmentos",
      "description": ""
    },
    {
      "name": "contato",
      "description": ""
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/startup": {
      "post": {
        "tags": [
          "startup"
        ],
        "summary": "Adiciona uma nova startup",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de startup",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Startup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/segmentos": {
      "get": {
        "tags": [
          "segmentos"
        ],
        "summary": "Segmentos de uma startup",
        "description": "Retorna os segmentos de uma startup que est\u00e3o ativos",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Segmentos"
              }
            }
          }
        }
      }
    },
    "/contato": {
      "post": {
        "tags": [
          "contato"
        ],
        "summary": "Cria uma solicita\u00e7\u00e3o de contato",
        "description": "Grava no banco a solicita\u00e7\u00e3o e envia para rocknewventures@fiap.com.br e para o solicitante um e-mail.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto de contato",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contato"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Startup": {
      "type": "object",
      "required": [
        "nome",
        "ano_formatura",
        "curso",
        "email",
        "telefone",
        "nome_startup",
        "segmento_id",
        "url_pitch",
        "descricao"
      ],
      "properties": {
        "nome": {
          "type": "string",
          "example": "Nome completo",
          "maximum": 250
        },
        "ano_formatura": {
          "type": "integer",
          "example": 2020
        },
        "curso": {
          "type": "string",
          "example": "Curso de forma\u00e7\u00e3o",
          "maximum": 250
        },
        "email": {
          "type": "string",
          "example": "email@fiap.com.br"
        },
        "telefone": {
          "type": "string",
          "example": "(00) 00000-0000",
          "maximum": 14
        },
        "nome_startup": {
          "type": "string",
          "example": "Nome da startup",
          "maximum": 250
        },
        "segmento_id": {
          "type": "integer"
        },
        "programa_aceleracao": {
          "type": "string",
          "example": "Nome do programa de acelera\u00e7\u00e3o",
          "maximum": 250
        },
        "cnpj": {
          "type": "string",
          "example": "00.000.000/0000-00",
          "maximum": 18
        },
        "site": {
          "type": "string",
          "example": "https://urlsite.com"
        },
        "url_pitch": {
          "type": "string",
          "example": "https://urlpitch.com"
        },
        "professor": {
          "type": "string",
          "example": "Nome do professor",
          "maximum": 250
        },
        "descricao": {
          "type": "string",
          "example": "Descri\u00e7\u00e3o do projeto",
          "maximum": 500
        }
      }
    },
    "Segmentos": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "nome": {
          "type": "string",
          "example": "Segmento"
        },
        "ativo": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "Contato": {
      "type": "object",
      "required": [
        "nome",
        "email",
        "assunto",
        "mensagem"
      ],
      "properties": {
        "nome": {
          "type": "string",
          "example": "Nome completo",
          "maximum": 250
        },
        "email": {
          "type": "string",
          "example": "email@fiap.com.br"
        },
        "assunto": {
          "type": "string",
          "example": "Assunto da mensagem",
          "enum": [
            "Per\u00edodo de inscri\u00e7\u00e3o FIAP Amplifier",
            "D\u00favidas",
            "Etapas do processo de sele\u00e7\u00e3o",
            "Resultado do processo seletivo"
          ]
        },
        "mensagem": {
          "type": "string",
          "example": "Mensagem",
          "maximum": 500
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ]
}