{
  "openapi": "3.0.0",
  "info": {
    "title": "RealtyMakers",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/demo-b3c/realtymakers/1.0.0"
  },
  "servers": [
    {
      "url": "https://backend.apmrealtymakers.com"
    }
  ],
  "paths": {
    "/api/users/login": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Login Api",
        "description": "### API Request Description\n\nThis endpoint allows users to log in by providing their email and password.\n\n#### Request Body\n\n- `email` (string) - The email of the user.\n    \n- `password` (string) - The password of the user.\n    \n\n#### Response\n\nThe response will be in JSON format with the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        },\n        \"user\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"id\": {\n                    \"type\": \"number\"\n                },\n                \"name\": {\n                    \"type\": \"string\"\n                },\n                \"email\": {\n                    \"type\": \"string\"\n                },\n                \"password\": {\n                    \"type\": \"string\"\n                },\n                \"mobile\": {\n                    \"type\": \"string\"\n                },\n                \"role\": {\n                    \"type\": \"string\"\n                },\n                \"otp\": {\n                    \"type\": \"number\"\n                },\n                \"expires_at\": {\n                    \"type\": [\"string\", \"null\"]\n                },\n                \"is_verified\": {\n                    \"type\": \"number\"\n                },\n                \"status\": {\n                    \"type\": \"string\"\n                },\n                \"city\": {\n                    \"type\": \"string\"\n                },\n                \"state\": {\n                    \"type\": \"string\"\n                },\n                \"address\": {\n                    \"type\": \"string\"\n                },\n                \"aadhar_number\": {\n                    \"type\": \"string\"\n                },\n                \"aadhar_file\": {\n                    \"type\": [\"string\", \"null\"]\n                }\n            }\n        }\n    }\n}\n\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "rohit2@gmail.com",
                  "password": "Hello@123"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/signup": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Signup",
        "description": "### POST /api/users/signup\n\nThis endpoint is used to sign up a new user.\n\n#### Request Body\n\n- `name` (text): The name of the user.\n    \n- `email` (text): The email address of the user.\n    \n- `mobile_number` (text): The mobile number of the user.\n    \n- `role` (text): The role of the user.\n    \n- `city` (text): The city of the user.\n    \n- `state` (text): The state of the user.\n    \n- `address` (text): The address of the user.\n    \n- `password` (text): The password for the user account.\n    \n- `aadhar_number` (text): The Aadhar number of the user.\n    \n- `otp` (text): The one-time password for verification.\n    \n- `aadhar_file` (file): A file containing the user's Aadhar card.\n    \n\n#### Response (201 - application/json)\n\n``` json\n{\n    \"message\": \"\",\n    \"status\": true\n}\n\n ```\n\nThe response schema:\n\n- `message` (string): A message from the server.\n    \n- `status` (boolean): The status of the request.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/logout": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Logout",
        "description": "### Logout User\n\nThis endpoint is used to log out a user.\n\n**Request Body**\n\n- No request body is required for this endpoint.\n    \n\n**Response**\n\n- Status: 200\n    \n- Content-Type: application/json\n    \n- { \"message\": \"\", \"status\": true, \"user\": {}}\n    \n\nUpon successful logout, the response will contain a status message along with the user status.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/sendotp": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Sendotp",
        "description": "This API endpoint is used to send an OTP to a user's mobile number.\n\n### Request Body\n\n- mobile_number (string, required): The mobile number to which the OTP will be sent.\n    \n\n### Response\n\nThe response will be in JSON format with the following properties:\n\n- message (string): A message related to the OTP sending process.\n    \n- status (boolean): Indicates the status of the OTP sending process.\n    \n- otp (string): The OTP sent to the user's mobile number.\n    \n\n### JSON Schema\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        },\n        \"otp\": {\n            \"type\": \"string\"\n        }\n    }\n}\n\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "mobile_number": "9660965675"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/verifyotp": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "VerifyOtp",
        "description": "### Verify OTP for User\n\nThis API endpoint is used to verify the OTP (One-Time Password) for a user.\n\n#### Request Body\n\n- `mobile_number` (text): The mobile number for which the OTP is being verified.\n    \n- `otp` (text): The One-Time Password to be verified.\n    \n\n#### Response\n\nThe response is in JSON format with the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        }\n    }\n}\n\n ```\n\n- `message` (string): A message indicating the result of the OTP verification process.\n    \n- `status` (boolean): Indicates the status of the OTP verification. `true` for successful verification, `false` for unsuccessful verification.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/forgotpassword": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Forgotpassword",
        "description": "The `POST /api/users/forgotpassword` endpoint is used to initiate the process of resetting a user's password by sending a one-time password (OTP) to the user's email.\n\n### Request Body\n\n- `email` (text): The email address of the user for whom the password reset process is initiated.\n    \n\n### Response\n\nThe response is in JSON format and has the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        },\n        \"otp\": {\n            \"type\": \"string\"\n        }\n    }\n}\n\n ```\n\n- `message` (string): A message indicating the result of the password reset initiation process.\n    \n- `status` (boolean): Indicates the status of the password reset initiation process.\n    \n- `otp` (string): The one-time password (OTP) sent to the user's email for the password reset process.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/verifyforgotpasswordotp": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Verifyforgotpasswordotp",
        "description": "### Verify Forgot Password OTP\n\nThis endpoint is used to verify the OTP (One Time Password) for the forgot password process.\n\n#### Request Body Parameters\n\n- `email` (text): The email address of the user requesting the OTP verification.\n    \n- `otp` (text): The OTP received by the user for verification.\n    \n\n#### Response\n\nUpon successful verification, the API returns a JSON object with the following fields:\n\n- `message`: A message indicating the result of the OTP verification.\n    \n- `status`: A boolean value indicating the status of the OTP verification process.\n    \n\nExample:\n\n``` json\n{\n    \"message\": \"\",\n    \"status\": true\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/changepassword": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Changepassword",
        "description": "### Change User Password\n\nThis endpoint allows users to change their password.\n\n#### Request Body\n\n- email (text): The email of the user.\n    \n- password (text): The new password for the user.\n    \n\n#### Response\n\nThe response is in JSON format and has the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        }\n    }\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/create": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "submitlisting Step 1",
        "description": "### Create New Listing\n\nThis endpoint allows the client to submit a new listing.\n\n#### Request Body Parameters\n\n- `project_type` (text) - The type of the project.\n    \n- `sale_type` (text) - The type of sale.\n    \n- `project_title` (text) - The title of the project.\n    \n- `phone` (text) - The phone number associated with the listing.\n    \n- `user_id` (text) - The ID of the user submitting the listing.\n    \n\n#### Response\n\nThe response is in JSON format and has the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        },\n        \"listing_id\": {\n            \"type\": \"integer\"\n        }\n    }\n}\n\n ```\n\n- `message` (string) - A message related to the submission.\n    \n- `status` (boolean) - The status of the submission.\n    \n- `listing_id` (integer) - The ID of the newly created listing.\n    \n\nThis endpoint allows the client to submit a new listing.\n\n#### Request Body\n\n- `project_type` (text) - The type of the project.\n    \n- `sale_type` (text) - The type of sale.\n    \n- `project_title` (text) - The title of the project.\n    \n- `phone` (text) - The contact phone number.\n    \n- `user_id` (text) - The ID of the user submitting the listing.\n    \n\n#### Response\n\nThe response is in JSON format with the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        },\n        \"listing_id\": {\n            \"type\": \"integer\"\n        }\n    }\n}\n\n ```\n\n- `message` (string) - A message related to the submission.\n    \n- `status` (boolean) - The status of the submission.\n    \n- `listing_id` (integer) - The ID of the newly created listing.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/updatestep2/2": {
      "patch": {
        "tags": [
          "General"
        ],
        "summary": "Submitlisting Step 2",
        "description": "  \n  \nThis HTTP PATCH request is used to update the step 2 of a listing submission. The request should be made to [http://localhost:3001/api/submitlisting/updatestep2/2](http://localhost:3001/api/submitlisting/updatestep2/2).\n\n### Request Body\n\nThe request body should be of type x-www-form-urlencoded and include the following parameters:\n\n- property_title (text)\n    \n- locality (text)\n    \n- area (text)\n    \n- landmarks (text)\n    \n- address (text)\n    \n- country (text)\n    \n- state (text)\n    \n- city (text)\n    \n- pincode (text)\n    \n- description (text)\n    \n- locality_type (text)\n    \n- bedrooms (text)\n    \n- bathrooms (text)\n    \n- balconies (text)\n    \n- furnishing (text)\n    \n- car_parking (text)\n    \n- bike_parking (text)\n    \n- power_backup (text)\n    \n- floor_no (text)\n    \n- total_floors (text)\n    \n- ownership_type (text)\n    \n- carpet_area (text)\n    \n- build_area (text)\n    \n- facing (text)\n    \n- age_of_property (text)\n    \n- gated_community (text)\n    \n- road_width (text)\n    \n- specific_commercial_type (text)\n    \n- amenities (text)\n    \n- status (text)\n    \n- available_from (text)\n    \n- price_type (text)\n    \n- price (text)\n    \n- deposit_type (text)\n    \n- deposit_price (text)\n    \n- price_tax_type (text)\n    \n- maintenance_fee (text)\n    \n- property_available_from (text)\n    \n- preferred (text)\n    \n- site_available (text)\n    \n- show_property (text)\n    \n\n### Response\n\nThe response will have a status code of 200 and a JSON content with the following structure:\n\n``` json\n{\n    \"message\": \"\",\n    \"status\": true\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/sendotpforlogin": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "sendotpforlogin",
        "description": "This API endpoint is a POST request used to send an OTP for user login via mobile number. The request should include a JSON payload with the user's mobile number and role.\n\n### Request Body\n\n- `mobile_number` (string) - The mobile number of the user.\n    \n- `role` (string) - The role of the user.\n    \n\n### Response\n\nUpon successful execution, the API returns a JSON response with the following fields:\n\n- `message` (string) - A message related to the response.\n    \n- `status` (boolean) - Indicates the status of the operation.\n    \n- `otp` (string) - The One-Time Password (OTP) sent to the user for login.\n    \n\nThe response status code is 200, and the content type is `application/json`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "mobile_number": "8005508189",
                  "role": "agent"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/loginwithotp": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "loginwithotp",
        "description": "### Login with OTP\n\nThis endpoint allows users to log in using a one-time password (OTP).\n\n#### Request Body\n\n- `mobile_number` (text): The mobile number of the user.\n    \n- `otp` (text): The one-time password received by the user.\n    \n\n#### Response\n\n- `message` (string): A message related to the login status.\n    \n- `status` (boolean): Indicates the status of the login attempt.\n    \n- `user` (object): Contains user information including ID, name, email, mobile, role, OTP, expiration time, verification status, city, state, address, Aadhar number, and Aadhar file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "mobile_number": "8005508189",
                  "otp": "3346"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/updatestep3/1": {
      "patch": {
        "tags": [
          "General"
        ],
        "summary": "Submitlisting Step 3",
        "description": "### Update Step 3 of Listing\n\nThis endpoint is used to update the step 3 details of a listing.\n\n#### Request Body\n\n- upload_photo_caption\\[\\] (text): Caption for uploaded photos\n    \n- upload_photo_0\\[\\] (file): First photo to be uploaded\n    \n- upload_photo_1\\[\\] (file): Second photo to be uploaded\n    \n- cover_image (file): Cover image for the listing\n    \n- upload_video_caption\\[\\] (text): Caption for uploaded videos\n    \n- upload_video_0\\[\\] (file): Video file to be uploaded\n    \n- video_link (text): Link to a video\n    \n- upload_document_caption\\[\\] (text): Caption for uploaded documents\n    \n- upload_document_0\\[\\] (file): Document file to be uploaded\n    \n\n#### Response\n\nThe response of this request is represented as a JSON schema.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/getlisting/": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Submit Listing",
        "description": "This endpoint retrieves a specific listing with the ID 2.\n\nThe response returned is a JSON object with a \"listing\" key, containing an array of listing objects. Each listing object includes various properties such as id, property_title, property_type, sale_type, address, bedrooms, bathrooms, and more. Additionally, there is a \"documents\" array within each listing object, containing objects with properties like id, caption, file_name, video_link, and document_type.\n\nHere is the JSON schema for the response:\n\n``` json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"listing\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"integer\" },\n          \"property_title\": { \"type\": \"string\" },\n          \"project_title\": { \"type\": [\"string\", \"null\"] },\n          \"project_type\": { \"type\": [\"string\", \"null\"] },\n          \"description\": { \"type\": [\"string\", \"null\"] },\n          \"property_type\": { \"type\": \"string\" },\n          \"sale_type\": { \"type\": \"string\" },\n          \"address\": { \"type\": [\"string\", \"null\"] },\n          \"locality\": { \"type\": [\"string\", \"null\"] },\n          \"state\": { \"type\": [\"string\", \"null\"] },\n          \"city\": { \"type\": [\"string\", \"null\"] },\n          \"pincode\": { \"type\": [\"string\", \"null\"] },\n          \"country\": { \"type\": [\"string\", \"null\"] },\n          \"landmarks\": { \"type\": [\"string\", \"null\"] },\n          \"car_parking\": { \"type\": [\"string\", \"null\"] },\n          \"area\": { \"type\": [\"string\", \"null\"] },\n          \"carpet_area\": { \"type\": [\"string\", \"null\"] },\n          \"build_area\": { \"type\": [\"string\", \"null\"] },\n          \"balconies\": { \"type\": [\"string\", \"null\"] },\n          \"bike_parking\": { \"type\": [\"string\", \"null\"] },\n          \"power_backup\": { \"type\": [\"string\", \"null\"] },\n          \"bedrooms\": { \"type\": [\"string\", \"null\"] },\n          \"bathrooms\": { \"type\": [\"string\", \"null\"] },\n          \"floor_no\": { \"type\": [\"string\", \"null\"] },\n          \"total_floors\": { \"type\": [\"string\", \"null\"] },\n          \"furnishing\": { \"type\": [\"string\", \"null\"] },\n          \"age_of_property\": { \"type\": [\"string\", \"null\"] },\n          \"facing\": { \"type\": [\"string\", \"null\"] },\n          \"road_width\": { \"type\": [\"string\", \"null\"] },\n          \"gated_community\": { \"type\": [\"string\", \"null\"] },\n          \"locality_type\": { \"type\": [\"string\", \"null\"] },\n          \"specific_commercial_type\": { \"type\": [\"string\", \"null\"] },\n          \"status\": { \"type\": [\"string\", \"null\"] },\n          \"price\": { \"type\": [\"string\", \"null\"] },\n          \"price_type\": { \"type\": [\"string\", \"null\"] },\n          \"deposit_type\": { \"type\": [\"string\", \"null\"] },\n          \"deposit_price\": { \"type\": [\"string\", \"null\"] },\n          \"price_tax_type\": { \"type\": [\"string\", \"null\"] },\n          \"maintenance_fee\": { \"type\": [\"string\", \"null\"] },\n          \"ownership_type\": { \"type\": [\"string\", \"null\"] },\n          \"property_available_from\": { \"type\": [\"string\", \"null\"] },\n          \"preferred\": { \"type\": [\"string\", \"null\"] },\n          \"site_available\": { \"type\": [\"string\", \"null\"] },\n          \"show_property\": { \"type\": [\"string\", \"null\"] },\n          \"amenities\": { \"type\": [\"string\", \"null\"] },\n          \"upload_photo\": { \"type\": [\"string\", \"null\"] },\n          \"upload_type\": { \"type\": [\"string\", \"null\"] },\n          \"upload_video\": { \"type\": [\"string\", \"null\"] },\n          \"upload_document\": { \"type\": [\"string\", \"null\"] },\n          \"user_id\": { \"type\": \"integer\" },\n          \"property_status\": { \"type\": [\"string\", \"null\"] },\n          \"created_on\": { \"type\": \"string\" },\n          \"updated_on\": { \"type\": [\"string\", \"null\"] },\n          \"available_from\": { \"type\": [\"string\", \"null\"] },\n          \"phone\": { \"type\": [\"string\", \"null\"] },\n          \"cover_image\": { \"type\": [\"string\", \"null\"] },\n          \"documents\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"id\": { \"type\": [\"integer\", \"null\"] },\n                \"caption\": { \"type\": [\"string\", \"null\"] },\n                \"file_name\": { \"type\": [\"string\", \"null\"] },\n                \"video_link\": { \"type\": [\"string\", \"null\"] },\n                \"document_type\": { \"type\": [\"string\", \"null\"] }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/deletelisting/1": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Submit Listing Delete",
        "description": "### Delete Listing\n\nThis endpoint is used to delete a listing with the specified ID.\n\n#### Request Body\n\nThis request does not require a request body.\n\n#### Response\n\n- Status: 200\n    \n- Content-Type: application/json\n    \n\nExample Response Body:\n\n``` json\n{\n    \"message\": \"\",\n    \"status\": true\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/userdetails/1": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Profile Details",
        "description": "### GET /api/users/userdetails/{userId}\n\nThis endpoint retrieves the details of a specific user.\n\n#### Request\n\nNo request body is required for this endpoint.\n\n- Path Parameters\n    \n    - `userId` (number) - The unique identifier of the user.\n        \n\n#### Response\n\nThe response will be a JSON object with the following properties:\n\n- `message` (string) - A message related to the response.\n    \n- `status` (boolean) - The status of the response.\n    \n- `user` (object) - An object containing the details of the user.\n    \n    - `id` (number) - The unique identifier of the user.\n        \n    - `name` (string) - The name of the user.\n        \n    - `email` (string) - The email address of the user.\n        \n    - `password` (string) - The password of the user.\n        \n    - `mobile` (string) - The mobile number of the user.\n        \n    - `role` (string) - The role of the user.\n        \n    - `otp` (number) - The one-time password of the user.\n        \n    - `expires_at` (string) - The expiration date of the OTP.\n        \n    - `is_verified` (number) - The verification status of the user.\n        \n    - `status` (string) - The status of the user.\n        \n    - `city` (string) - The city of the user.\n        \n    - `state` (string) - The state of the user.\n        \n    - `address` (string) - The address of the user.\n        \n    - `aadhar_number` (string) - The Aadhar number of the user.\n        \n    - `aadhar_file` (string) - The file path of the Aadhar card.\n        \n\n#### JSON Schema\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": { \"type\": \"string\" },\n        \"status\": { \"type\": \"boolean\" },\n        \"user\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"id\": { \"type\": \"number\" },\n                \"name\": { \"type\": \"string\" },\n                \"email\": { \"type\": \"string\" },\n                \"password\": { \"type\": \"string\" },\n                \"mobile\": { \"type\": \"string\" },\n                \"role\": { \"type\": \"string\" },\n                \"otp\": { \"type\": \"number\" },\n                \"expires_at\": { \"type\": \"string\" },\n                \"is_verified\": { \"type\": \"number\" },\n                \"status\": { \"type\": \"string\" },\n                \"city\": { \"type\": \"string\" },\n                \"state\": { \"type\": \"string\" },\n                \"address\": { \"type\": \"string\" },\n                \"aadhar_number\": { \"type\": \"string\" },\n                \"aadhar_file\": { \"type\": \"string\" }\n            }\n        }\n    }\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/updateuserdetails/7": {
      "patch": {
        "tags": [
          "General"
        ],
        "summary": "Profile Update",
        "description": "### Update User Details\n\nThis endpoint is used to update the details of a specific user.\n\n#### Request Body Parameters\n\n- `name` (text): The name of the user.\n    \n- `email` (text): The email address of the user.\n    \n- `role` (text): The role of the user.\n    \n- `password` (text): The password of the user.\n    \n- `city` (text): The city where the user is located.\n    \n- `mobile_number` (text): The mobile number of the user.\n    \n- `whatsapp_number` (text): The WhatsApp number of the user.\n    \n- `alternate_email` (text): An alternate email address for the user.\n    \n- `company_name` (text): The name of the company the user is associated with.\n    \n- `about` (text): A brief description about the user.\n    \n- `experience` (text): The experience of the user.\n    \n- `total_project` (text): The total number of projects completed by the user.\n    \n- `on_going_project` (text): The number of ongoing projects for the user.\n    \n- `operating_in` (text): The area where the user is operating.\n    \n- `profile_photo` (file): The profile photo of the user.\n    \n- `upload_brochure` (file): A brochure uploaded by the user.\n    \n\n#### Response\n\nThe response will be in JSON format with the following fields:\n\n- `message`: A message indicating the status of the update operation.\n    \n- `status`: A boolean value indicating the success status of the update operation.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/create": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Project Create",
        "description": "### Create Project\n\nThis API endpoint is used to create a new project.\n\n#### Request Body Parameters\n\n- `project_title` (text)\n    \n- `locality` (text)\n    \n- `area` (text)\n    \n- `landmark` (text)\n    \n- `address` (text)\n    \n- `city` (text)\n    \n- `state` (text)\n    \n- `pincode` (text)\n    \n- `country` (text)\n    \n- `description` (text)\n    \n- `project_name` (text)\n    \n- `project_type` (text)\n    \n- `project_description` (text)\n    \n- `rera_number` (text)\n    \n- `no_of_apartment` (text)\n    \n- `furnishing_status` (text)\n    \n- `car_parking` (text)\n    \n- `bike_parking` (text)\n    \n- `power_backup` (text)\n    \n- `total_block` (text)\n    \n- `total_floor` (text)\n    \n- `status` (text)\n    \n- `launch_date` (text)\n    \n- `project_aminities` (text)\n    \n- `user_id` (text)\n    \n- `upload_photo_caption[]` (text)\n    \n- `upload_video_caption[]` (text)\n    \n- `video_link[]` (text)\n    \n- `upload_document_caption[]` (text)\n    \n- `cover_image` (file)\n    \n- `upload_photo_0[]` (file)\n    \n- `upload_photo_1[]` (file)\n    \n- `upload_video_0[]` (file)\n    \n- `upload_document_0[]` (file)\n    \n- `possesion_date` (text)\n    \n\n#### Response\n\nThe response will be in JSON format with the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        }\n    }\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Project List",
        "description": "### Get Project List\n\nThis endpoint makes an HTTP GET request to retrieve a list of projects.\n\n#### Request\n\n- Method: GET\n    \n- URL: `https://rm-be.perimattic.dev/api/project/list`\n    \n\n#### Response\n\n- Status: 200\n    \n- Content-Type: application/json\n    \n\n##### Body\n\n``` json\n{\n    \"projects\": [\n        {\n            \"id\": 0,\n            \"project_title\": \"\",\n            \"locality\": \"\",\n            \"area\": \"\",\n            \"landmark\": \"\",\n            \"address\": \"\",\n            \"city\": \"\",\n            \"state\": \"\",\n            \"pincode\": \"\",\n            \"country\": \"\",\n            \"description\": \"\",\n            \"project_name\": \"\",\n            \"project_type\": \"\",\n            \"project_description\": \"\",\n            \"rera_number\": \"\",\n            \"no_of_apartment\": \"\",\n            \"furnishing_status\": \"\",\n            \"car_parking\": \"\",\n            \"bike_parking\": \"\",\n            \"power_backup\": \"\",\n            \"total_block\": \"\",\n            \"total_floor\": \"\",\n            \"status\": \"\",\n            \"launch_date\": \"\",\n            \"possesion_date\": \"\",\n            \"project_aminities\": \"\",\n            \"cover_image\": \"\",\n            \"created_on\": \"\",\n            \"updated_on\": null,\n            \"user_id\": 0,\n            \"documents\": [\n                {\n                    \"id\": 0,\n                    \"caption\": \"\",\n                    \"file_name\": [\"\"],\n                    \"video_link\": null,\n                    \"document_type\": \"\"\n                }\n            ]\n        }\n    ],\n    \"status\": true\n}\n\n ```",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "furnishing_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price_range",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/detail/1": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Project Details",
        "description": "### Get Project Detail\n\nThis endpoint retrieves the details of a specific project.\n\n**Request:**\n\n- Method: GET\n    \n- URL: `https://rm-be.perimattic.dev/api/project/detail/1`\n    \n\n**Response:**  \nThe response will be in JSON format and will include the following fields:\n\n- `project`: An array containing details of the project including `id`, `project_title`, `locality`, `area`, `landmark`, `address`, `city`, `state`, `pincode`, `country`, `description`, `project_name`, `project_type`, `project_description`, `rera_number`, `no_of_apartment`, `furnishing_status`, `car_parking`, `bike_parking`, `power_backup`, `total_block`, `total_floor`, `status`, `launch_date`, `possesion_date`, `project_aminities`, `cover_image`, `created_on`, `updated_on`, and `user_id`.\n    \n- `documents`: An array containing details of project documents including `id`, `caption`, `file_name`, `video_link`, and `document_type`.\n    \n- `status`: A boolean value indicating the status of the request.\n    \n\nExample Response:\n\n``` json\n{\n    \"project\": [\n        {\n            \"id\": 0,\n            \"project_title\": \"\",\n            \"locality\": \"\",\n            ...\n        }\n    ],\n    \"status\": true\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/listingdetail/16": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Listing Details",
        "description": "### GET /submitlisting/listingdetail/2\n\nThis endpoint retrieves the details of a specific listing with the ID 2.\n\n#### Request\n\nThere are no request parameters for this endpoint.\n\n#### Response\n\nThe response will be in the JSON format and will contain an array of \"listing\" objects. Each \"listing\" object includes the following properties:\n\n- `id` (number)\n    \n- `property_title` (string)\n    \n- `project_title` (string)\n    \n- `project_type` (string)\n    \n- `description` (string)\n    \n- `property_type` (null or string)\n    \n- `sale_type` (string)\n    \n- `address` (string)\n    \n- `locality` (string)\n    \n- `state` (string)\n    \n- `city` (string)\n    \n- `pincode` (string)\n    \n- `country` (string)\n    \n- `landmarks` (string)\n    \n- `car_parking` (string)\n    \n- `area` (string)\n    \n- `carpet_area` (string)\n    \n- `build_area` (string)\n    \n- `balconies` (string)\n    \n- `bike_parking` (string)\n    \n- `power_backup` (string)\n    \n- `bedrooms` (string)\n    \n- `bathrooms` (string)\n    \n- `floor_no` (string)\n    \n- `total_floors` (string)\n    \n- `furnishing` (string)\n    \n- `age_of_property` (string)\n    \n- `facing` (string)\n    \n- `road_width` (string)\n    \n- `gated_community` (string)\n    \n- `locality_type` (string)\n    \n- `specific_commercial_type` (string)\n    \n- `status` (string)\n    \n- `price` (string)\n    \n- `price_type` (string)\n    \n- `deposit_type` (string)\n    \n- `deposit_price` (string)\n    \n- `price_tax_type` (string)\n    \n- `maintenance_fee` (string)\n    \n- `ownership_type` (string)\n    \n- `property_available_from` (string)\n    \n- `preferred` (string)\n    \n- `site_available` (string)\n    \n- `show_property` (string)\n    \n- `amenities` (string)\n    \n- `upload_photo` (null or string)\n    \n- `upload_type` (null or string)\n    \n- `upload_video` (null or string)\n    \n- `upload_document` (null or string)\n    \n- `user_id` (number)\n    \n- `property_status` (null or string)\n    \n- `created_on` (string)\n    \n- `updated_on` (string)\n    \n- `available_from` (string)\n    \n- `phone` (null or string)\n    \n- `cover_image` (string)\n    \n- `documents` (array) - Each document object includes the following properties:\n    \n    - `id` (null or number)\n        \n    - `caption` (null or string)\n        \n    - `file_name` (null or string)\n        \n    - `video_link` (null or string)\n        \n    - `document_type` (null or string)\n        \n\nThe response will have a status code of 200 on success.\n\n``` json\n{\n  \"listing\": [\n    {\n      \"id\": 0,\n      \"property_title\": \"\",\n      \"project_title\": \"\",\n      \"project_type\": \"\",\n      \"description\": \"\",\n      \"property_type\": null,\n      \"sale_type\": \"\",\n      \"address\": \"\",\n      \"locality\": \"\",\n      \"state\": \"\",\n      \"city\": \"\",\n      \"pincode\": \"\",\n      \"country\": \"\",\n      \"landmarks\": \"\",\n      \"car_parking\": \"\",\n      \"area\": \"\",\n      \"carpet_area\": \"\",\n      \"build_area\": \"\",\n      \"balconies\": \"\",\n      \"bike_parking\": \"\",\n      \"power_backup\": \"\",\n      \"bedrooms\": \"\",\n      \"bathrooms\": \"\",\n      \"floor_no\": \"\",\n      \"total_floors\": \"\",\n      \"furnishing\": \"\",\n      \"age_of_property\": \"\",\n      \"facing\": \"\",\n      \"road_width\": \"\",\n      \"gated_community\": \"\",\n      \"locality_type\": \"\",\n      \"specific_commercial_type\": \"\",\n      \"status\": \"\",\n      \"price\": \"\",\n      \"price_type\": \"\",\n      \"deposit_type\": \"\",\n      \"deposit_price\": \"\",\n      \"price_tax_type\": \"\",\n      \"maintenance_fee\": \"\",\n      \"ownership_type\": \"\",\n      \"property_available_from\": \"\",\n      \"preferred\": \"\",\n      \"site_available\": \"\",\n      \"show_property\": \"\",\n      \"amenities\": \"\",\n      \"upload_photo\": null,\n      \"upload_type\": null,\n      \"upload_video\": null,\n      \"upload_document\": null,\n      \"user_id\": 0,\n      \"property_status\": null,\n      \"created_on\": \"\",\n      \"updated_on\": \"\",\n      \"available_from\": \"\",\n      \"phone\": null,\n      \"cover_image\": \"\",\n      \"documents\": [\n        {\n          \"id\": null,\n          \"caption\": null,\n          \"file_name\": null,\n          \"video_link\": null,\n          \"document_type\": null\n        }\n      ]\n    }\n  ]\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/recentlysearchcreate": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Recently Search Create",
        "description": "### Create Recent User Search\n\nThis endpoint allows the client to create a recent user search.\n\n#### Request Body Parameters\n\n- `search` (text): The type of search performed.\n    \n- `user_id` (text): The ID of the user performing the search.\n    \n\n#### Response\n\nThe response is in JSON format and includes the following fields:\n\n- `message` (string): A message related to the request.\n    \n- `status` (boolean): Indicates the status of the request execution.\n    \n\n#### JSON Schema for Response\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        }\n    }\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/recentlysearchlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Recently Search List",
        "description": "This endpoint makes an HTTP GET request to retrieve the recently searched list for a specific user. The request includes the user_id as a query parameter.\n\n### Request\n\n- Method: GET\n    \n- Endpoint: `https://rm-be.perimattic.dev/api/users/recentlysearchlist`\n    \n- Query Parameters:\n    \n    - user_id (number): The ID of the user for whom the recently searched list is being retrieved.\n        \n\n### Response\n\nUpon a successful execution, the endpoint returns a status code of 200 and a JSON response with the following structure:\n\n``` json\n{\n    \"searches\": [\n        {\n            \"id\": 0,\n            \"title\": \"\",\n            \"user_id\": 0,\n            \"created_on\": \"\"\n        }\n    ],\n    \"status\": true\n}\n\n ```\n\n- `searches` (array): An array of recently searched items, where each item contains an ID, title, user ID, and creation timestamp.\n    \n- `status` (boolean): Indicates the status of the response, where `true` signifies a successful retrieval.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/shortlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Shortlist",
        "description": "The endpoint [https://rm-be.perimattic.dev/api/users/shortlist?user_id=2](https://rm-be.perimattic.dev/api/users/shortlist?user_id=2) retrieves a list of shortlisted properties for the user with the specified user_id.\n\nThe response of the request is a JSON object with the following schema:\n\n``` json\n{\n  \"shortlisted\": [\n    {\n      \"id\": \"number\",\n      \"property_title\": \"string\",\n      \"project_title\": \"string\",\n      \"project_type\": \"string\",\n      \"description\": \"string\",\n      \"property_type\": \"string\",\n      \"sale_type\": \"string\",\n      \"address\": \"string\",\n      \"locality\": \"string\",\n      \"state\": \"string\",\n      \"city\": \"string\",\n      \"pincode\": \"string\",\n      \"country\": \"string\",\n      \"landmarks\": \"string\",\n      \"car_parking\": \"string\",\n      \"area\": \"string\",\n      \"carpet_area\": \"string\",\n      \"build_area\": \"string\",\n      \"balconies\": \"string\",\n      \"bike_parking\": \"string\",\n      \"power_backup\": \"string\",\n      \"bedrooms\": \"string\",\n      \"bathrooms\": \"string\",\n      \"floor_no\": \"string\",\n      \"total_floors\": \"string\",\n      \"furnishing\": \"string\",\n      \"age_of_property\": \"string\",\n      \"facing\": \"string\",\n      \"road_width\": \"string\",\n      \"gated_community\": \"string\",\n      \"locality_type\": \"string\",\n      \"specific_commercial_type\": \"string\",\n      \"status\": \"string\",\n      \"price\": \"string\",\n      \"price_type\": \"string\",\n      \"deposit_type\": \"string\",\n      \"deposit_price\": \"string\",\n      \"price_tax_type\": \"string\",\n      \"maintenance_fee\": \"string\",\n      \"ownership_type\": \"string\",\n      \"property_available_from\": \"string\",\n      \"preferred\": \"string\",\n      \"site_available\": \"string\",\n      \"show_property\": \"string\",\n      \"amenities\": \"string\",\n      \"upload_photo\": \"string\",\n      \"upload_type\": \"string\",\n      \"upload_video\": \"string\",\n      \"upload_document\": \"string\",\n      \"user_id\": \"number\",\n      \"property_status\": \"string\",\n      \"created_on\": \"string\",\n      \"updated_on\": \"string\",\n      \"available_from\": \"string\",\n      \"phone\": \"string\",\n      \"cover_image\": \"string\",\n      \"shortlist_id\": \"number\"\n    }\n  ],\n  \"status\": \"boolean\"\n}\n\n ```",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "41"
          },
          {
            "name": "shortlist_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "project"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/shortlistcreate": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Shortlist Create",
        "description": "The POST request is used to create a shortlist for a user on the platform. The request should be made to [https://rm-be.perimattic.dev/api/users/shortlistcreate](https://rm-be.perimattic.dev/api/users/shortlistcreate).\n\n### Request Body\n\nThe request body should be of type x-www-form-urlencoded and include the following parameters:\n\n- `user_id` (text) - The ID of the user for whom the shortlist is being created.\n    \n- `submit_listing_id` (text) - The ID of the listing being added to the shortlist.\n    \n\n### Response\n\nUpon successful execution, the API returns a status code of 200 and a JSON response with the following structure:\n\n``` json\n{\n    \"message\": \"\",\n    \"status\": true\n}\n\n ```\n\nThe `message` field may contain additional information, and the `status` field indicates the success of the operation.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/delete/3": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Project Delete",
        "description": "### Delete Project\n\nThis endpoint is used to delete a specific project.\n\n#### Request\n\n- Method: DELETE\n    \n- URL: `https://rm-be.perimattic.dev/api/project/delete/3`\n    \n\n#### Response\n\nThe response is a JSON object with the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        }\n    }\n}\n\n ```\n\nThe response contains a `message` field of type string, and a `status` field of type boolean.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/contactcreate": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Contact Create",
        "description": "### Contact Create\n\nThis endpoint allows users to create a new contact.\n\n#### Request\n\n- Method: POST\n    \n- URL: `https://rm-be.perimattic.dev/api/users/contactcreate`\n    \n- Body (x-www-form-urlencoded):\n    \n    - `name` (text): The name of the contact.\n        \n    - `email` (text): The email of the contact.\n        \n    - `phone` (text): The phone number of the contact.\n        \n    - `submit_listing_id` (text): The ID of the submitted listing.\n        \n    - `user_id` (text): The ID of the user.\n        \n\n#### Response\n\nThe response is in JSON format and has the following schema:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"message\": {\n            \"type\": \"string\"\n        },\n        \"status\": {\n            \"type\": \"boolean\"\n        }\n    }\n}\n\n ```\n\n- `message` (string): A message related to the status of the request.\n    \n- `status` (boolean): Indicates the status of the request, where `true` means the request was successful.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/contactlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Contact List",
        "description": "The API returns a JSON response with a list of contacts for the specified user. Each contact object includes various properties such as id, property details, address, amenities, and contact information. The \"status\" field indicates the success of the request.\n\nHere is a JSON schema representing the response:\n\n``` json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"contacts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"integer\" },\n          \"property_title\": { \"type\": \"string\" },\n          \"project_title\": { \"type\": \"string\" },\n          \"project_type\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"property_type\": { \"type\": [\"string\", \"null\"] },\n          \"sale_type\": { \"type\": \"string\" },\n          \"address\": { \"type\": \"string\" },\n          \"locality\": { \"type\": \"string\" },\n          \"state\": { \"type\": \"string\" },\n          \"city\": { \"type\": \"string\" },\n          \"pincode\": { \"type\": \"string\" },\n          \"country\": { \"type\": \"string\" },\n          \"landmarks\": { \"type\": \"string\" },\n          \"car_parking\": { \"type\": \"string\" },\n          \"area\": { \"type\": \"string\" },\n          \"carpet_area\": { \"type\": \"string\" },\n          \"build_area\": { \"type\": \"string\" },\n          \"balconies\": { \"type\": \"string\" },\n          \"bike_parking\": { \"type\": \"string\" },\n          \"power_backup\": { \"type\": \"string\" },\n          \"bedrooms\": { \"type\": \"string\" },\n          \"bathrooms\": { \"type\": \"string\" },\n          \"floor_no\": { \"type\": \"string\" },\n          \"total_floors\": { \"type\": \"string\" },\n          \"furnishing\": { \"type\": \"string\" },\n          \"age_of_property\": { \"type\": \"string\" },\n          \"facing\": { \"type\": \"string\" },\n          \"road_width\": { \"type\": \"string\" },\n          \"gated_community\": { \"type\": \"string\" },\n          \"locality_type\": { \"type\": \"string\" },\n          \"specific_commercial_type\": { \"type\": \"string\" },\n          \"status\": { \"type\": \"string\" },\n          \"price\": { \"type\": \"string\" },\n          \"price_type\": { \"type\": \"string\" },\n          \"deposit_type\": { \"type\": \"string\" },\n          \"deposit_price\": { \"type\": \"string\" },\n          \"price_tax_type\": { \"type\": \"string\" },\n          \"maintenance_fee\": { \"type\": \"string\" },\n          \"ownership_type\": { \"type\": \"string\" },\n          \"property_available_from\": { \"type\": \"string\" },\n          \"preferred\": { \"type\": \"string\" },\n          \"site_available\": { \"type\": \"string\" },\n          \"show_property\": { \"type\": \"string\" },\n          \"amenities\": { \"type\": \"string\" },\n          \"upload_photo\": { \"type\": [\"string\", \"null\"] },\n          \"upload_type\": { \"type\": [\"string\", \"null\"] },\n          \"upload_video\": { \"type\": [\"string\", \"null\"] },\n          \"upload_document\": { \"type\": [\"string\", \"null\"] },\n          \"user_id\": { \"type\": \"integer\" },\n          \"property_status\": { \"type\": [\"string\", \"null\"] },\n          \"created_on\": { \"type\": \"string\" },\n          \"updated_on\": { \"type\": \"string\" },\n          \"available_from\": { \"type\": \"string\" },\n          \"phone\": { \"type\": [\"string\", \"null\"] },\n          \"cover_image\": { \"type\": \"string\" },\n          \"contact_id\": { \"type\": \"integer\" }\n        },\n        \"required\": [\"id\", \"property_title\", \"address\", \"user_id\", \"contact_id\"]\n      }\n    },\n    \"status\": { \"type\": \"boolean\" }\n  },\n  \"required\": [\"contacts\", \"status\"]\n}\n\n ```",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "User List",
        "description": "### Get Users List\n\nThis endpoint retrieves a list of users.\n\n#### Request Body\n\nThis is a GET request and does not require a request body.\n\n#### Response\n\n- Status: 200\n    \n- Content-Type: application/json\n    \n\n``` json\n{\n    \"users\": [\n        {\n            \"id\": 0,\n            \"name\": \"\",\n            \"email\": \"\",\n            \"password\": \"\",\n            \"mobile\": \"\",\n            \"role\": \"\",\n            \"otp\": 0,\n            \"expires_at\": null,\n            \"is_verified\": 0,\n            \"status\": \"\",\n            \"city\": \"\",\n            \"state\": \"\",\n            \"address\": \"\",\n            \"aadhar_number\": \"\",\n            \"aadhar_file\": \"\",\n            \"profile_photo\": null,\n            \"whatsapp_number\": null,\n            \"alternate_email\": null,\n            \"company_name\": null,\n            \"about\": \"\",\n            \"experience\": null,\n            \"total_project\": null,\n            \"on_going_project\": null,\n            \"operating_in\": null,\n            \"upload_brochure\": null,\n            \"property_count\": 0\n        }\n    ],\n    \"status\": true\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/recentlyviewcreate": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Recently View Create",
        "description": "### Create Recently Viewed User\n\nThis endpoint allows the creation of a record for a recently viewed listing by a user.\n\n#### Request Body\n\n- `user_id` (text): The ID of the user who viewed the listing.\n    \n- `submit_listing_id` (text): The ID of the listing that was viewed.\n    \n\n#### Response\n\nThe response for this request follows the JSON schema below:\n\n``` json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  }\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/recentlyviewlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Recently View List",
        "description": "### Get Recently Viewed List\n\nThis endpoint retrieves the recently viewed list for a specific user.\n\n#### Request Parameters\n\n- `user_id` (integer) - The unique identifier of the user for whom the recently viewed list is to be retrieved.\n    \n\n#### Response\n\nThe response will include the recently viewed list for the specified user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/agentdetails/32": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Agent Details",
        "description": "### Get Agent Details\n\nThis endpoint makes an HTTP GET request to retrieve the details of a specific agent by their ID.\n\n#### Request\n\n- Method: GET\n    \n- URL: `https://rm-be.perimattic.dev/api/users/agentdetails/2`\n    \n\nThis request does not require a request body.\n\n#### Response\n\n- Status: 200\n    \n- Content-Type: application/json\n    \n\n##### Response Body\n\nThe response body contains the following key-value pairs:\n\n- `agent`: An object containing the details of the agent, including their ID, name, email, mobile number, role, and other information. Some fields may be null or empty based on the availability of information.\n    \n- `status`: A boolean indicating the success status of the request.\n    \n- `total_properties`: The total number of properties associated with the agent.\n    \n- `total_residential`: The total number of residential properties associated with the agent.\n    \n- `total_commercial`: The total number of commercial properties associated with the agent.\n    \n- `residential`: An array containing details of residential properties associated with the agent, including property title, project title, description, address, and other property-specific information.\n    \n- `commercial`: An array containing details of commercial properties associated with the agent, including property title, project title, description, address, and other property-specific information.\n    \n\n#### Headers\n\nNo specific headers are mentioned for this request.\n\nThis endpoint retrieves the details of a specific agent by their ID.\n\n#### Request Body\n\nThis is a GET request and does not require a request body.\n\n#### Response Body\n\n- `agent`: An object containing the details of the agent, including their ID, name, email, mobile number, role, and other information.\n    \n- `status`: A boolean indicating the success status of the request.\n    \n- `total_properties`: The total number of properties associated with the agent.\n    \n- `total_residential`: The total number of residential properties associated with the agent.\n    \n- `total_commercial`: The total number of commercial properties associated with the agent.\n    \n- `residential`: An array containing details of residential properties associated with the agent, including property title, project title, description, address, and other property-specific information.\n    \n- `commercial`: An array containing details of commercial properties associated with the agent, including property title, project title, description, address, and other property-specific information.\n    \n\nPlease note that some fields may be null or empty based on the availability of information.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/dashboard": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Dashboard",
        "description": "The endpoint retrieves the dashboard data for users. The response is in JSON format and includes various counts related to properties, users, agents, builders, buyers, sellers, and projects. Below is the JSON schema for the response:\n\n``` json\n{\n    \"type\": \"object\",\n    \"properties\": {\n        \"totalPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalUsersCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalAgentsCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuildersCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuyersCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalSellersCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalProjectsCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalUnapprovedPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalAgentPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalAgentUnapprovedPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuilderPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuilderUnapprovedPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalSellerPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalSellerUnapprovedPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuyerPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuyerUnapprovedPropertiesCount\": {\n            \"type\": \"integer\"\n        },\n        \"totalBuilderProjectsCount\": {\n            \"type\": \"integer\"\n        }\n    }\n}\n\n ```\n\nThis endpoint retrieves the dashboard data for the users.\n\n**Request Body**  \nThis is a GET request and does not require a request body.\n\n**Response**\n\n- Status: 200 OK\n    \n- Content-Type: application/json\n    \n\n``` json\n{\n    \"totalPropertiesCount\": 0,\n    \"totalUsersCount\": 0,\n    \"totalAgentsCount\": 0,\n    \"totalBuildersCount\": 0,\n    \"totalBuyersCount\": 0,\n    \"totalSellersCount\": 0,\n    \"totalProjectsCount\": 0,\n    \"totalUnapprovedPropertiesCount\": 0,\n    \"totalAgentPropertiesCount\": 0,\n    \"totalAgentUnapprovedPropertiesCount\": 0,\n    \"totalBuilderPropertiesCount\": 0,\n    \"totalBuilderUnapprovedPropertiesCount\": 0,\n    \"totalSellerPropertiesCount\": 0,\n    \"totalSellerUnapprovedPropertiesCount\": 0,\n    \"totalBuyerPropertiesCount\": 0,\n    \"totalBuyerUnapprovedPropertiesCount\": 0,\n    \"totalBuilderProjectsCount\": 0\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/delete/8": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "User Delete",
        "description": "### Delete User\n\nThis endpoint is used to delete a specific user from the system.\n\n#### Request Body\n\nThis request does not require a request body.\n\n#### Response\n\nThe response will not contain a body, but will return a status code to indicate the success or failure of the deletion operation.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/updatepropertystatus/2": {
      "patch": {
        "tags": [
          "General"
        ],
        "summary": "Update Property Status",
        "description": "# Update Property Status\n\nThis endpoint is used to update the status of a property listing.\n\n## Request\n\nThe request should be sent as an HTTP PATCH to the following URL:\n\n```\nhttps://rm-be.perimattic.dev/api/submitlisting/updatepropertystatus/2\n\n ```\n\n### Request Body\n\nThe request body should be of type x-www-form-urlencoded and include the following parameter:\n\n- `status` (text): The new status to be assigned to the property.\n    \n\n## Response\n\nThe response will include the updated status of the property listing.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/getalldocument/2": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": " Get All Document",
        "description": "### Submitlisting Getalldocument\n\nThis API endpoint makes an HTTP GET request to retrieve all documents for a specific listing.\n\n#### Request\n\nThe request does not require a request body. It includes the following parameters:\n\n- **Path Parameters**\n    \n    - `2` (number) - The ID of the listing for which the documents are being retrieved.\n        \n\n#### Response\n\nThe response will be in JSON format and will include a schema for the response body.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/deletesingledocument/5": {
      "put": {
        "tags": [
          "General"
        ],
        "summary": "Delete single document listing",
        "description": "This endpoint allows the user to make an HTTP PUT request to delete a single document from a listing. The request should include the ID of the document to be deleted in the URL. The request body should be of type x-www-form-urlencoded and include a parameter \"file_name\" of type text, which specifies the name of the file to be deleted.\n\nUpon a successful request, the response will include the status of the operation and any relevant message or data.",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/deletesectiondocument/10": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Delete Section Document Listing",
        "description": "### Delete Section Document\n\nThis endpoint is used to delete a specific document from a section.\n\n#### Request Body\n\nThis endpoint does not require a request body.\n\n#### Response\n\nUpon a successful deletion, the response will not contain any content. If the deletion fails, an appropriate error message will be returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/home": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Home",
        "description": "### Retrieve User Home Data\n\nThis endpoint makes an HTTP GET request to retrieve the home data for the user.\n\n#### Request\n\nThe request does not require any specific parameters.\n\n#### Response\n\nThe response will be in JSON format and will include the following properties:\n\n- `property1`: (data type) Description of property1.\n    \n- `property2`: (data type) Description of property2.\n    \n- ...\n    \n- `propertyN`: (data type) Description of propertyN.\n    \n\nThe JSON schema for the response will be provided.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/deletesingleDocument/11": {
      "put": {
        "tags": [
          "General"
        ],
        "summary": "Delete Single Document Project",
        "description": "### Update Single Document\n\nThis endpoint is used to delete a single document for a specific project.\n\n#### Request\n\n- Method: PUT\n    \n- URL: `https://rm-be.perimattic.dev/api/project/deletesingleDocument/11`\n    \n- Body:\n    \n    - `file_name` (text): The name of the file to be deleted.\n        \n\n#### Response\n\nThe response for this request follows the JSON schema below:\n\n``` json\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\"\n    },\n    \"message\": {\n      \"type\": \"string\"\n    }\n  }\n}\n\n ```",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/deletesectiondocument/11": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Delete Section Document Project",
        "description": "### Delete Section Document\n\nThis endpoint is used to delete a specific document from a project section.\n\n#### Request Body\n\nThis request does not require a request body.\n\n#### Response\n\n- `success`: A boolean indicating if the deletion was successful.\n    \n- `message`: A message confirming the result of the deletion operation.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/createinterest": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Create Interest",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/interestlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Interest List",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/editstep1listing/2": {
      "put": {
        "tags": [
          "General"
        ],
        "summary": "Edit step1 Listing",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/editstep3listing/2": {
      "put": {
        "tags": [
          "General"
        ],
        "summary": "Edit step3 listing",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/notificationcreate": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Notification Create",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/notificationlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Notification List",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "3"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/notificationread": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Notification Read",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/deletealldocument/2": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Delete All Document",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/edit/9": {
      "put": {
        "tags": [
          "General"
        ],
        "summary": "Project Edit",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/getuserlistexport": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "User List Export",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/submitlisting/getlistingexport": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Listing Export",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "41"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/getcontactlistexport": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Contact List Export",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/getinterestlistexport": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Interest List Export",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/scrape/": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "web Scraping",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Hyderabad"
          },
          {
            "name": "site_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Magicbricks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/webscraping1": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "webscraping1",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/scrapead": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "scraped Add site and class elemrnt",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/scrape/list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Scrape List",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/checkemailverify": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Check email Verified",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "rohit5@gmail.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/sendemailforverify": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Sendemailforverify",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "rohit5@gmail.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/verifyemail": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "verifyemail",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImhlbWFudGt1bWFyam9zaGk5NEBnbWFpbC5jb20iLCJpYXQiOjE3NDc3MzEzMDEsImV4cCI6MTc0NzczNDkwMX0.Ka2aXRA0k9W2xvapQsHKAqiDhbOuyJi0Cz1eZnjX_zU"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/loginwithgoogle": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "loginwithgoogle",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/promotecreate": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Promote Create",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/promotelist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Promote List",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/promotedelete/5": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "Promote Delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/updateprojectstatus/2": {
      "put": {
        "tags": [
          "General"
        ],
        "summary": "Project status Update",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/getadminlist": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "getadminlist",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/message/send": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Send Message",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/message/getlist/property/16/12/1": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Message List ",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/message/read": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Message Read",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/message/unread/12": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Unread Message count",
        "parameters": [
          {
            "name": "item_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "property"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/message/threads/12": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Message Threads",
        "parameters": [
          {
            "name": "item_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "property"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/web-scraping-list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "webweb-scrapting-list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "10"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Hyderabad"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Ready to Move"
          },
          {
            "name": "furnishing",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Unfurnished"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "3 bhk"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/web-scrapting-edit/30": {
      "patch": {
        "tags": [
          "General"
        ],
        "summary": "web-scrapting-edit",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/web-scraping-approve/30": {
      "patch": {
        "tags": [
          "General"
        ],
        "summary": "web-scraping-approve",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/web-scraping-delete/1": {
      "delete": {
        "tags": [
          "General"
        ],
        "summary": "web-scraping-delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/project/list-export": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Project list export",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "41"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/subscribe": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "subscribe",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/session-start": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "session-start chat",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/sendotpchat": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "sendotpchat",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/verifyotpchat": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "verifyotpchat",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/chatsave": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "chatsave",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/create-lead": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "create-lead",
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/lead-list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Lead List",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/lead-list-export": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Lead List Export",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/lead-details/1": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Lead Details",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/conversational-log-list": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "conversational-log-list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/conversational-log-export": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "conversational-log-export",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/users/conversational-log-details/8b28d71f35fa2f66d0e4647fa53359fe": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "conversational-log-details",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}