{
  "openapi": "3.0.3",
  "info": {
    "title": "mParticle Events API",
    "version": "2.0.0",
    "description": "mParticle Events API for ingesting customer data events. Send custom events, screen views, commerce events, user identity changes, and more. Also includes the Platform API for managing inputs, outputs, and configuration.",
    "x-jentic-source-url": "https://docs.mparticle.com/developers/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://s2s.mparticle.com/v2",
      "description": "Events API"
    },
    {
      "url": "https://api.mparticle.com/v1",
      "description": "Platform API"
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Event ingestion endpoints"
    },
    {
      "name": "Bulk",
      "description": "Bulk event processing"
    },
    {
      "name": "Data Planning",
      "description": "Data plan management"
    },
    {
      "name": "Platform",
      "description": "Platform configuration API"
    },
    {
      "name": "Audiences",
      "description": "Audience management"
    },
    {
      "name": "Profile",
      "description": "User profile access"
    }
  ],
  "paths": {
    "/events": {
      "post": {
        "operationId": "sendEvents",
        "summary": "Send events",
        "description": "Send a batch of events to mParticle. Supports custom events, screen views, commerce events, and more.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventBatch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Events accepted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulkevents": {
      "post": {
        "operationId": "sendBulkEvents",
        "summary": "Send bulk events",
        "description": "Send multiple event batches in a single request for high-throughput ingestion.",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EventBatch"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk events accepted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulkevents/historical": {
      "post": {
        "operationId": "sendHistoricalEvents",
        "summary": "Send historical events",
        "description": "Import historical event data with original timestamps.",
        "tags": [
          "Bulk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EventBatch"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Historical events accepted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/useridentity/identify": {
      "post": {
        "operationId": "identifyUser",
        "summary": "Identify a user",
        "description": "Create or update user identity information.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/useridentity/login": {
      "post": {
        "operationId": "loginUser",
        "summary": "Login identity request",
        "description": "Send a login identity request to merge anonymous and known user profiles.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/useridentity/logout": {
      "post": {
        "operationId": "logoutUser",
        "summary": "Logout identity request",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Logout identity request"
      }
    },
    "/useridentity/modify": {
      "post": {
        "operationId": "modifyIdentity",
        "summary": "Modify user identity",
        "description": "Add, remove, or change user identities.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityModifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity modified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platforms/data-plans": {
      "get": {
        "operationId": "listDataPlans",
        "summary": "List data plans",
        "tags": [
          "Data Planning"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data plan list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataPlan"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List data plans"
      },
      "post": {
        "operationId": "createDataPlan",
        "summary": "Create a data plan",
        "tags": [
          "Data Planning"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPlanCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a data plan"
      }
    },
    "/platforms/data-plans/{planId}": {
      "get": {
        "operationId": "getDataPlan",
        "summary": "Get a data plan",
        "tags": [
          "Data Planning"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a data plan"
      },
      "patch": {
        "operationId": "updateDataPlan",
        "summary": "Update a data plan",
        "tags": [
          "Data Planning"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPlanCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a data plan"
      },
      "delete": {
        "operationId": "deleteDataPlan",
        "summary": "Delete a data plan",
        "tags": [
          "Data Planning"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a data plan"
      }
    },
    "/platforms/data-plans/{planId}/versions": {
      "get": {
        "operationId": "listDataPlanVersions",
        "summary": "List data plan versions",
        "tags": [
          "Data Planning"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataPlanVersion"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List data plan versions"
      },
      "post": {
        "operationId": "createDataPlanVersion",
        "summary": "Create a data plan version",
        "tags": [
          "Data Planning"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPlanVersion"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPlanVersion"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a data plan version"
      }
    },
    "/audiences": {
      "get": {
        "operationId": "listAudiences",
        "summary": "List audiences",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audience"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List audiences"
      }
    },
    "/audiences/{audienceId}": {
      "get": {
        "operationId": "getAudience",
        "summary": "Get an audience",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "audienceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get an audience"
      }
    },
    "/{workspaceId}/profile/{mpId}": {
      "get": {
        "operationId": "getUserProfile",
        "summary": "Get user profile",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mpId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "mParticle ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get user profile"
      }
    }
  },
  "components": {
    "schemas": {
      "EventBatch": {
        "type": "object",
        "required": [
          "events",
          "environment"
        ],
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "source_request_id": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "enum": [
              "development",
              "production"
            ]
          },
          "user_identities": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "other": {
                "type": "string"
              }
            }
          },
          "user_attributes": {
            "type": "object"
          },
          "device_info": {
            "type": "object",
            "properties": {
              "brand": {
                "type": "string"
              },
              "product": {
                "type": "string"
              },
              "device": {
                "type": "string"
              },
              "os_version": {
                "type": "string"
              },
              "platform": {
                "type": "string"
              }
            }
          },
          "application_info": {
            "type": "object",
            "properties": {
              "application_name": {
                "type": "string"
              },
              "application_version": {
                "type": "string"
              },
              "package": {
                "type": "string"
              }
            }
          },
          "ip": {
            "type": "string"
          },
          "schema_version": {
            "type": "integer",
            "default": 2
          },
          "mpid": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "required": [
          "data",
          "event_type"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "event_name": {
                "type": "string"
              },
              "custom_event_type": {
                "type": "string",
                "enum": [
                  "navigation",
                  "location",
                  "search",
                  "transaction",
                  "user_content",
                  "user_preference",
                  "social",
                  "other"
                ]
              },
              "custom_attributes": {
                "type": "object"
              },
              "timestamp_unixtime_ms": {
                "type": "integer"
              }
            }
          },
          "event_type": {
            "type": "string",
            "enum": [
              "custom_event",
              "screen_view",
              "commerce_event",
              "session_start",
              "session_end",
              "crash_report",
              "opt_out",
              "first_run",
              "application_state_transition",
              "push_registration",
              "push_message",
              "user_attribute_change",
              "user_identity_change",
              "breadcrumb"
            ]
          }
        }
      },
      "IdentityRequest": {
        "type": "object",
        "properties": {
          "client_sdk": {
            "type": "object"
          },
          "known_identities": {
            "type": "object",
            "properties": {
              "customer_id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "device_application_stamp": {
                "type": "string"
              }
            }
          },
          "environment": {
            "type": "string",
            "enum": [
              "development",
              "production"
            ]
          },
          "previous_mpid": {
            "type": "string"
          }
        }
      },
      "IdentityModifyRequest": {
        "type": "object",
        "properties": {
          "identity_changes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "old_value": {
                  "type": "string"
                },
                "new_value": {
                  "type": "string"
                },
                "identity_type": {
                  "type": "string"
                }
              }
            }
          },
          "environment": {
            "type": "string",
            "enum": [
              "development",
              "production"
            ]
          }
        }
      },
      "IdentityResponse": {
        "type": "object",
        "properties": {
          "mpid": {
            "type": "string"
          },
          "is_logged_in": {
            "type": "boolean"
          },
          "matched_identities": {
            "type": "object"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "DataPlan": {
        "type": "object",
        "properties": {
          "data_plan_id": {
            "type": "string"
          },
          "data_plan_name": {
            "type": "string"
          },
          "data_plan_description": {
            "type": "string"
          },
          "data_plan_versions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "last_modified_on": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified_by": {
            "type": "string"
          }
        }
      },
      "DataPlanCreate": {
        "type": "object",
        "required": [
          "data_plan_name"
        ],
        "properties": {
          "data_plan_name": {
            "type": "string"
          },
          "data_plan_description": {
            "type": "string"
          }
        }
      },
      "DataPlanVersion": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer"
          },
          "data_plan_id": {
            "type": "string"
          },
          "version_document": {
            "type": "object"
          },
          "activated_environment": {
            "type": "string"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Audience": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified_on": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "mpid": {
            "type": "string"
          },
          "user_identities": {
            "type": "object"
          },
          "user_attributes": {
            "type": "object"
          },
          "audience_memberships": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key and secret for server-to-server auth"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 bearer token for Platform API"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ]
}
