{
  "openapi": "3.0.3",
  "info": {
    "title": "ChannelAdvisor (Rithum) API",
    "version": "1.0.0",
    "description": "ChannelAdvisor (now Rithum) provides e-commerce channel management. The REST API allows managing products, orders, fulfillments, and inventory across multiple marketplaces and sales channels.",
    "x-jentic-source-url": "https://developer.channeladvisor.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.channeladvisor.com/v1",
      "description": "ChannelAdvisor REST API v1"
    }
  ],
  "security": [
    {
      "oauth2": [
        "orders",
        "products",
        "fulfillments"
      ]
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Product management"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Fulfillments",
      "description": "Fulfillment and shipping"
    },
    {
      "name": "Inventory",
      "description": "Inventory management"
    }
  ],
  "paths": {
    "/Products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a paginated list of products across your ChannelAdvisor account.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields to return"
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records to skip"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order"
          },
          {
            "name": "profileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Seller profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Products({ProductID})": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get product by ID",
        "description": "Returns a specific product by its ID.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "ProductID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Updates product attributes.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "ProductID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Product updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns a paginated list of orders.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fields"
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records to skip"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records"
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order"
          },
          {
            "name": "$expand",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Related entities to expand (e.g., Items, Fulfillments)"
          },
          {
            "name": "profileid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Seller profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Orders({OrderID})": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order by ID",
        "description": "Returns a specific order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "OrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          },
          {
            "name": "$expand",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Related entities to expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateOrder",
        "summary": "Update an order",
        "description": "Updates order fields.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "OrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Order updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Orders({OrderID})/Fulfill": {
      "post": {
        "operationId": "fulfillOrder",
        "summary": "Create fulfillment for order",
        "description": "Creates a fulfillment record for a specific order with shipping details.",
        "tags": [
          "Fulfillments"
        ],
        "parameters": [
          {
            "name": "OrderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Order ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfillmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fulfillment created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Products({ProductID})/UpdateQuantity": {
      "post": {
        "operationId": "updateProductQuantity",
        "summary": "Update product quantity",
        "description": "Updates the quantity/inventory level for a product.",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "ProductID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Value": {
                    "type": "object",
                    "properties": {
                      "UpdateType": {
                        "type": "string",
                        "enum": [
                          "Absolute",
                          "Relative",
                          "Available",
                          "InStock",
                          "UnShipped"
                        ]
                      },
                      "Updates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "DistributionCenterID": {
                              "type": "integer"
                            },
                            "Quantity": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Quantity updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.channeladvisor.com/oauth2/authorize",
            "tokenUrl": "https://api.channeladvisor.com/oauth2/token",
            "scopes": {
              "orders": "Access to orders",
              "products": "Access to products",
              "fulfillments": "Access to fulfillments"
            }
          }
        }
      }
    },
    "schemas": {
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "ProfileID": {
            "type": "integer"
          },
          "Sku": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "Brand": {
            "type": "string"
          },
          "Condition": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "BuyItNowPrice": {
            "type": "number"
          },
          "RetailPrice": {
            "type": "number"
          },
          "Quantity": {
            "type": "integer"
          },
          "UPC": {
            "type": "string"
          },
          "MPN": {
            "type": "string"
          },
          "ASIN": {
            "type": "string"
          },
          "IsParent": {
            "type": "boolean"
          },
          "IsInRelationship": {
            "type": "boolean"
          },
          "TotalAvailableQuantity": {
            "type": "integer"
          },
          "CreateDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "UpdateDateUtc": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductUpdate": {
        "type": "object",
        "properties": {
          "Title": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "BuyItNowPrice": {
            "type": "number"
          },
          "RetailPrice": {
            "type": "number"
          },
          "Brand": {
            "type": "string"
          },
          "Condition": {
            "type": "string"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer"
          },
          "ProfileID": {
            "type": "integer"
          },
          "SiteOrderID": {
            "type": "string"
          },
          "SiteName": {
            "type": "string"
          },
          "OrderStatus": {
            "type": "string"
          },
          "PaymentStatus": {
            "type": "string"
          },
          "CheckoutStatus": {
            "type": "string"
          },
          "ShippingStatus": {
            "type": "string"
          },
          "TotalPrice": {
            "type": "number"
          },
          "BuyerEmailAddress": {
            "type": "string"
          },
          "CreatedDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "PayDateUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ShippingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "OrderUpdate": {
        "type": "object",
        "properties": {
          "CheckoutStatus": {
            "type": "string"
          },
          "PaymentStatus": {
            "type": "string"
          },
          "ShippingStatus": {
            "type": "string"
          }
        }
      },
      "FulfillmentRequest": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "OrderItemID": {
                  "type": "integer"
                },
                "Quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "TrackingNumber": {
            "type": "string"
          },
          "ShippingCarrier": {
            "type": "string"
          },
          "ShippingClass": {
            "type": "string"
          },
          "DeliveryStatus": {
            "type": "string"
          },
          "ShipDateUtc": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          },
          "AddressLine1": {
            "type": "string"
          },
          "AddressLine2": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "StateOrProvince": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "PhoneNumber": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
