{
  "openapi": "3.0.3",
  "info": {
    "title": "USGS Earthquake Hazards Program - Event Web Service",
    "description": "FDSN Event Web Service providing access to earthquake catalog data from the USGS. Supports querying earthquake events by time, location, magnitude, and other parameters.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://earthquake.usgs.gov/fdsnws/event/1/",
    "x-jentic-provenance": "jentic-generated"
  },
  "servers": [
    {
      "url": "https://earthquake.usgs.gov/fdsnws/event/1",
      "description": "USGS Earthquake Event API"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "operationId": "queryEarthquakes",
        "summary": "Query earthquake events with various filters",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["csv", "geojson", "kml", "quakeml", "xml", "text"], "default": "quakeml" },
            "description": "Output format"
          },
          {
            "name": "starttime",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Start time in ISO 8601 format"
          },
          {
            "name": "endtime",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "End time in ISO 8601 format"
          },
          {
            "name": "updatedafter",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "Only events updated after this time"
          },
          {
            "name": "minlatitude",
            "in": "query",
            "schema": { "type": "number", "minimum": -90, "maximum": 90 },
            "description": "Minimum latitude (rectangle search)"
          },
          {
            "name": "maxlatitude",
            "in": "query",
            "schema": { "type": "number", "minimum": -90, "maximum": 90 },
            "description": "Maximum latitude (rectangle search)"
          },
          {
            "name": "minlongitude",
            "in": "query",
            "schema": { "type": "number", "minimum": -360, "maximum": 360 },
            "description": "Minimum longitude (rectangle search)"
          },
          {
            "name": "maxlongitude",
            "in": "query",
            "schema": { "type": "number", "minimum": -360, "maximum": 360 },
            "description": "Maximum longitude (rectangle search)"
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": { "type": "number", "minimum": -90, "maximum": 90 },
            "description": "Center latitude (circle search)"
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": { "type": "number", "minimum": -180, "maximum": 180 },
            "description": "Center longitude (circle search)"
          },
          {
            "name": "maxradius",
            "in": "query",
            "schema": { "type": "number", "minimum": 0, "maximum": 180 },
            "description": "Maximum radius in degrees (circle search)"
          },
          {
            "name": "maxradiuskm",
            "in": "query",
            "schema": { "type": "number", "minimum": 0, "maximum": 20001.6 },
            "description": "Maximum radius in kilometers (circle search)"
          },
          {
            "name": "minmagnitude",
            "in": "query",
            "schema": { "type": "number" },
            "description": "Minimum magnitude"
          },
          {
            "name": "maxmagnitude",
            "in": "query",
            "schema": { "type": "number" },
            "description": "Maximum magnitude"
          },
          {
            "name": "mindepth",
            "in": "query",
            "schema": { "type": "number" },
            "description": "Minimum depth in km"
          },
          {
            "name": "maxdepth",
            "in": "query",
            "schema": { "type": "number" },
            "description": "Maximum depth in km"
          },
          {
            "name": "catalog",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Catalog to search"
          },
          {
            "name": "contributor",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Contributor"
          },
          {
            "name": "eventid",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Specific event ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 20000, "default": 20000 },
            "description": "Maximum number of events (max 20000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 },
            "description": "Starting event offset"
          },
          {
            "name": "orderby",
            "in": "query",
            "schema": { "type": "string", "enum": ["time", "time-asc", "magnitude", "magnitude-asc"] },
            "description": "Sort order"
          },
          {
            "name": "alertlevel",
            "in": "query",
            "schema": { "type": "string", "enum": ["green", "yellow", "orange", "red"] },
            "description": "PAGER alert level"
          },
          {
            "name": "eventtype",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Event type (e.g., earthquake, quarry)"
          },
          {
            "name": "maxcdi",
            "in": "query",
            "schema": { "type": "number" },
            "description": "Maximum community determined intensity"
          },
          {
            "name": "mincdi",
            "in": "query",
            "schema": { "type": "number" },
            "description": "Minimum community determined intensity"
          },
          {
            "name": "minfelt",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Minimum number of felt reports"
          },
          {
            "name": "producttype",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Product type filter"
          },
          {
            "name": "reviewstatus",
            "in": "query",
            "schema": { "type": "string", "enum": ["automatic", "reviewed"] },
            "description": "Review status"
          },
          {
            "name": "callback",
            "in": "query",
            "schema": { "type": "string" },
            "description": "JSONP callback (geojson format only)"
          },
          {
            "name": "jsonerror",
            "in": "query",
            "schema": { "type": "boolean", "default": false },
            "description": "Return errors as JSON when format is geojson"
          },
          {
            "name": "kmlanimated",
            "in": "query",
            "schema": { "type": "boolean" },
            "description": "Animate KML output"
          },
          {
            "name": "kmlcolorby",
            "in": "query",
            "schema": { "type": "string", "enum": ["age", "depth"] },
            "description": "Color KML output by age or depth"
          }
        ],
        "responses": {
          "200": {
            "description": "Earthquake events",
            "content": {
              "application/geo+json": {
                "schema": { "$ref": "#/components/schemas/GeoJSONResponse" }
              },
              "text/csv": {
                "schema": { "type": "string" }
              },
              "application/xml": {
                "schema": { "type": "string" }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/count": {
      "get": {
        "operationId": "countEarthquakes",
        "summary": "Count earthquake events matching filters",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["geojson", "xml", "text"], "default": "text" },
            "description": "Output format"
          },
          {
            "name": "starttime",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endtime",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "minmagnitude",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "maxmagnitude",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "minlatitude",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "maxlatitude",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "minlongitude",
            "in": "query",
            "schema": { "type": "number" }
          },
          {
            "name": "maxlongitude",
            "in": "query",
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Event count",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "maxAllowed": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/catalogs": {
      "get": {
        "operationId": "getCatalogs",
        "summary": "List available earthquake catalogs",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of catalogs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      }
    },
    "/contributors": {
      "get": {
        "operationId": "getContributors",
        "summary": "List available data contributors",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of contributors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get API version information",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "Version string",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/application.json": {
      "get": {
        "operationId": "getApplicationInfo",
        "summary": "Get service metadata in JSON format",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "Service metadata",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeoJSONResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["FeatureCollection"]
          },
          "metadata": {
            "type": "object",
            "properties": {
              "generated": { "type": "integer", "format": "int64", "description": "Timestamp in milliseconds" },
              "url": { "type": "string" },
              "title": { "type": "string" },
              "status": { "type": "integer" },
              "api": { "type": "string" },
              "count": { "type": "integer" }
            }
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "string", "enum": ["Feature"] },
                "properties": {
                  "type": "object",
                  "properties": {
                    "mag": { "type": "number", "description": "Magnitude" },
                    "place": { "type": "string", "description": "Location description" },
                    "time": { "type": "integer", "format": "int64", "description": "Event time in milliseconds" },
                    "updated": { "type": "integer", "format": "int64" },
                    "tz": { "type": "integer", "nullable": true },
                    "url": { "type": "string" },
                    "detail": { "type": "string" },
                    "felt": { "type": "integer", "nullable": true },
                    "cdi": { "type": "number", "nullable": true },
                    "mmi": { "type": "number", "nullable": true },
                    "alert": { "type": "string", "nullable": true },
                    "status": { "type": "string" },
                    "tsunami": { "type": "integer" },
                    "sig": { "type": "integer" },
                    "net": { "type": "string" },
                    "code": { "type": "string" },
                    "ids": { "type": "string" },
                    "sources": { "type": "string" },
                    "types": { "type": "string" },
                    "nst": { "type": "integer", "nullable": true },
                    "dmin": { "type": "number", "nullable": true },
                    "rms": { "type": "number" },
                    "gap": { "type": "number", "nullable": true },
                    "magType": { "type": "string" },
                    "type": { "type": "string" },
                    "title": { "type": "string" }
                  }
                },
                "geometry": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "enum": ["Point"] },
                    "coordinates": {
                      "type": "array",
                      "items": { "type": "number" },
                      "minItems": 3,
                      "maxItems": 3,
                      "description": "[longitude, latitude, depth]"
                    }
                  }
                },
                "id": { "type": "string" }
              }
            }
          },
          "bbox": {
            "type": "array",
            "items": { "type": "number" },
            "description": "Bounding box [minLon, minLat, minDepth, maxLon, maxLat, maxDepth]"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}