{
  "openapi": "3.0.3",
  "info": {
    "title": "Lumina Player & Auth API",
    "version": "1.0.0",
    "description": "Player-facing APIs for registration, authentication, profile, wallet, game history and overview (v1).\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/other-52f/lumina-pam/1.0.0"
  },
  "servers": [
    {
      "url": "https://be.play-studios.ai",
      "description": "OVHServer"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Registration, login and identity"
    },
    {
      "name": "Player",
      "description": "Player profile, overview, limits, KYC"
    },
    {
      "name": "Wallet",
      "description": "Player wallet and transactions"
    },
    {
      "name": "History",
      "description": "Player game sessions and rounds"
    }
  ],
  "paths": {
    "/api/auth/v1/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new player",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Player registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v1/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login and obtain access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthLoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v1/refreshToken": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthLoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v1/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify player email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthVerifyEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified"
          },
          "400": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v1/verify-phone": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify player phone number",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthVerifyPhoneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone verified"
          },
          "400": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v1/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Start password reset flow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset instructions sent (email/SMS)"
          },
          "404": {
            "description": "Player not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v1/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change player password (requires current password)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthChangePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthChangePasswordSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (old password incorrect, passwords match, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/overview": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get full player overview (profile + wallet + short history + limits)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Player overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerOverviewResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/profile": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get player profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Player profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Player"
        ],
        "summary": "Update player profile / preferences",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerProfile"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/profile/kyc/status": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get KYC status for current player",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "KYC status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KycStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/profile/kyc/documents": {
      "post": {
        "tags": [
          "Player"
        ],
        "summary": "Submit or update KYC documents (metadata or presigned uploads)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KycDocumentsSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "KYC documents accepted for review"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/limits": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get responsible gaming limits",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerLimits"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Player"
        ],
        "summary": "Update responsible gaming limits",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerLimitsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Limits updated (may be applied with delay/cooldown)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerLimits"
                }
              }
            }
          },
          "400": {
            "description": "Invalid limits or regulatory violation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/wallet/balances": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get wallet balances for current player",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalancesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/wallet/transactions": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get wallet transactions for current player",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of transaction types (BET,WIN,DEPOSIT,WITHDRAWAL,...)"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletTransactionsPage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/history/sessions": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get game sessions for current player",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "gameType",
            "schema": {
              "type": "string",
              "description": "Comma-separated game types (CRASH,SLOT,...)"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSessionsPage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/history/sessions/{sessionId}": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get summary of a specific session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSessionDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/history/sessions/{sessionId}/rounds": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get rounds for a specific session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rounds page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameRoundsPage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/history/games/{gameCode}": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get sessions for current player filtered by game code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "gameCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game sessions page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameSessionsPage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/v1/history/recent": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get recent sessions for current player",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameSessionSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AuthRegisterRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "country",
          "currency",
          "language"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "example": "IN"
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "referralCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AuthRegisterResponse": {
        "type": "object",
        "properties": {
          "playerId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "requiresVerification": {
            "type": "boolean"
          }
        }
      },
      "AuthLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthLoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_expires_in": {
            "type": "integer",
            "description": "Access token lifetime in seconds"
          }
        }
      },
      "AuthRefreshRequest": {
        "type": "object",
        "required": [
          "refreshToken"
        ],
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AuthVerifyEmailRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "AuthVerifyPhoneRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "AuthForgotPasswordRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "AuthChangePasswordRequest": {
        "type": "object",
        "required": [
          "oldPassword",
          "newPassword",
          "confirmPassword"
        ],
        "properties": {
          "oldPassword": {
            "type": "string",
            "description": "Current password"
          },
          "newPassword": {
            "type": "string",
            "description": "New password"
          },
          "confirmPassword": {
            "type": "string",
            "description": "Repeat new password"
          }
        }
      },
      "AuthChangePasswordSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Password changed successfully"
          }
        }
      },
      "PlayerProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "emailMasked": {
            "type": "string",
            "example": "s***@gmail.com"
          },
          "phoneMasked": {
            "type": "string",
            "example": 1234
          },
          "country": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "kycStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "VERIFIED",
              "REJECTED"
            ]
          },
          "vipTier": {
            "type": "string",
            "example": "GOLD"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlayerProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "marketingOptIn": {
            "type": "boolean"
          }
        }
      },
      "KycStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "VERIFIED",
              "REJECTED"
            ]
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "KycDocumentsSubmitRequest": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "example": "PAN"
          },
          "documentNumber": {
            "type": "string"
          },
          "frontImageUrl": {
            "type": "string"
          },
          "backImageUrl": {
            "type": "string"
          },
          "selfieImageUrl": {
            "type": "string"
          }
        }
      },
      "PlayerLimits": {
        "type": "object",
        "properties": {
          "dailyDepositLimit": {
            "type": "number"
          },
          "dailyLossLimit": {
            "type": "number"
          },
          "sessionTimeoutMinutes": {
            "type": "integer"
          },
          "cooloffUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PlayerLimitsUpdateRequest": {
        "type": "object",
        "properties": {
          "dailyDepositLimit": {
            "type": "number"
          },
          "dailyLossLimit": {
            "type": "number"
          },
          "sessionTimeoutMinutes": {
            "type": "integer"
          },
          "cooloffUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "LoyaltyInfo": {
        "type": "object",
        "properties": {
          "points": {
            "type": "integer"
          },
          "tier": {
            "type": "string"
          },
          "nextTier": {
            "type": "string"
          },
          "pointsToNextTier": {
            "type": "integer"
          }
        }
      },
      "PlayerOverviewResponse": {
        "type": "object",
        "properties": {
          "player": {
            "$ref": "#/components/schemas/PlayerProfile"
          },
          "wallet": {
            "$ref": "#/components/schemas/WalletBalances"
          },
          "recentGameHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameSessionSummary"
            }
          },
          "recentTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletTransaction"
            }
          },
          "limits": {
            "$ref": "#/components/schemas/PlayerLimits"
          },
          "loyalty": {
            "$ref": "#/components/schemas/LoyaltyInfo"
          }
        }
      },
      "WalletBalances": {
        "type": "object",
        "properties": {
          "playerId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "balances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletBalanceItem"
            }
          }
        }
      },
      "WalletBalanceItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "CASH"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "WalletBalancesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WalletBalances"
          }
        ]
      },
      "WalletTransaction": {
        "type": "object",
        "properties": {
          "txId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "BET"
          },
          "gameCode": {
            "type": "string",
            "nullable": true
          },
          "paymentMethod": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "number"
          },
          "balanceAfter": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WalletTransactionsPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletTransaction"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "GameSessionSummary": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "gameCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "gameType": {
            "type": "string",
            "example": "string"
          },
          "roundsPlayed": {
            "type": "integer"
          },
          "betTotal": {
            "type": "number"
          },
          "winTotal": {
            "type": "number"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GameSessionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GameSessionSummary"
          },
          {
            "type": "object",
            "properties": {
              "rtp": {
                "type": "number"
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        ]
      },
      "GameSessionsPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameSessionSummary"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "GameRound": {
        "type": "object",
        "properties": {
          "roundId": {
            "type": "string"
          },
          "roundNo": {
            "type": "integer"
          },
          "gameCode": {
            "type": "string"
          },
          "betAmount": {
            "type": "number"
          },
          "winAmount": {
            "type": "number"
          },
          "bonusWinAmount": {
            "type": "number"
          },
          "playedAt": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "tableNo": {
            "type": "integer",
            "format": "date-time"
          },
          "bustX": {
            "type": "number",
            "nullable": true
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "GameRoundsPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameRound"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  }
}