{
  "openapi": "3.0.1",
  "info": {
    "title": "Public Holidays API",
    "version": "1.0.0",
    "description": "\nThis service is degned to retrieve public holidays for a specific country. \n`The API supports following functionalities:`\n\n * Get a list of public holidays for a year.\n * Determine if a specific day is a public holiday or not.\n\n\n### Response and Error Codes\nThe API uses common HTTP status codes in the response header to indicate success or failure. Specific error code and description will be returned in the custom error schema.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SANDILESIBISI/public-holidays-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://internal.i.fnb.co.za/banking/internal/api",
      "description": "integration"
    },
    {
      "url": "https://internal.p.fnb.co.za/banking/internal/api",
      "description": "preprod"
    },
    {
      "url": "https://fnb.co.za/banking/api",
      "description": "production"
    }
  ],
  "paths": {
    "/public-holidays/retrieve/v1/{companyID}/{year}": {
      "get": {
        "tags": [
          "Retrieve Public Holidays"
        ],
        "summary": "Get a List of Public Holidays",
        "description": "Retrieve a list of public holidays for a specific country",
        "operationId": "retrieveHolidays",
        "parameters": [
          {
            "$ref": "#/components/parameters/CountryCodePathParameter"
          },
          {
            "$ref": "#/components/parameters/HolidayYearPathParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PublicHolidayList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/public-holidays/check/v1": {
      "post": {
        "tags": [
          "Determine Public Holiday"
        ],
        "summary": "Check Public Holiday Date",
        "description": "Returns a boolean value confirming the public holiday date.",
        "operationId": "checkPublicHoliday",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicHolidayDateCheck"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PublicHolidayResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicHoliday": {
        "type": "object",
        "properties": {
          "day": {
            "type": "number",
            "format": "integer",
            "example": 1
          },
          "month": {
            "type": "string",
            "example": "January"
          },
          "description": {
            "type": "string",
            "example": "New Year's Day"
          }
        }
      },
      "PublicHolidayList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicHoliday"
            }
          }
        }
      },
      "PublicHolidayDateCheck": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/ISODate"
          },
          "companyID": {
            "description": "Number that is used to derive a country code.",
            "type": "string"
          }
        }
      },
      "ISODate": {
        "pattern": "/^\\d{4}(-\\d\\d(-\\d\\d(T\\d\\d:\\d\\d(:\\d\\d)?(\\.\\d+)?(([+-]\\d\\d:\\d\\d)|Z)?)?)?)?$/i",
        "type": "string",
        "description": "ISO 8601 Date spec (YYYY-MM-DD)",
        "example": "2023-10-30"
      },
      "PublicHolidayCheckResponse": {
        "type": "object",
        "properties": {
          "isPublicHoliday": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILED"
            ]
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "PublicHolidayList": {
        "description": "Public Holiday details",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PublicHolidayList"
            }
          }
        }
      },
      "PublicHolidayResponse": {
        "description": "Public Holiday Check response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PublicHolidayCheckResponse"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Bad Request Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "parameters": {
      "CountryCodePathParameter": {
        "name": "companyID",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "required": true
      },
      "HolidayYearPathParameter": {
        "name": "year",
        "in": "path",
        "schema": {
          "type": "number"
        },
        "required": true
      }
    }
  }
}