{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAI Sora Video API",
    "version": "1.0.0",
    "description": "OpenAI Sora video generation API. Generate, extend, remix, and manage AI-generated videos using models like sora-2 and sora-2-pro.",
    "x-jentic-source-url": "https://platform.openai.com/docs/guides/video",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.openai.com/v1"
    }
  ],
  "paths": {
    "/videos": {
      "post": {
        "tags": [
          "Videos"
        ],
        "summary": "Create a new video generation job from a prompt and optional reference assets.",
        "operationId": "createVideo",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoMultipartBody"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoJsonBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Create video",
          "group": "videos",
          "path": "create",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/videos \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F \"model=sora-2\" \\\n  -F \"prompt=A calico cat playing a piano on stage\"\n",
              "javascript": "import OpenAI from 'openai';\n\nconst openai = new OpenAI();\n\nconst video = await openai.videos.create({ prompt: 'A calico cat playing a piano on stage' });\n\nconsole.log(video.id);\n",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nvideo = client.videos.create(\n    prompt=\"x\",\n)\nprint(video.id)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tvideo, err := client.Videos.New(context.TODO(), openai.VideoNewParams{\n\t\tPrompt: \"x\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", video.ID)\n}\n",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nvideo = openai.videos.create(prompt: \"x\")\n\nputs(video)",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoCreateParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoCreateParams params = VideoCreateParams.builder()\n            .prompt(\"x\")\n            .build();\n        Video video = client.videos().create(params);\n    }\n}",
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst video = await client.videos.create({ prompt: 'x' });\n\nconsole.log(video.id);"
            },
            "response": "{\n  \"id\": \"video_123\",\n  \"object\": \"video\",\n  \"model\": \"sora-2\",\n  \"status\": \"queued\",\n  \"progress\": 0,\n  \"created_at\": 1712697600,\n  \"size\": \"1024x1792\",\n  \"seconds\": \"8\",\n  \"quality\": \"standard\"\n}\n"
          }
        },
        "description": "Create a new video generation job from a prompt and optional reference assets."
      },
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "List recently generated videos for the current project.",
        "operationId": "ListVideos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order of results by timestamp. Use `asc` for ascending order or `desc` for descending order.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderEnum"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Identifier for the last item from the previous pagination request",
            "required": false,
            "schema": {
              "description": "Identifier for the last item from the previous pagination request",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "List videos",
          "group": "videos",
          "path": "list for the organization.",
          "examples": {
            "request": {
              "curl": "curl https://api.openai.com/v1/videos \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
              "javascript": "import OpenAI from 'openai';\n\nconst openai = new OpenAI();\n\n// Automatically fetches more pages as needed.\nfor await (const video of openai.videos.list()) {\n  console.log(video.id);\n}\n",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.videos.list()\npage = page.data[0]\nprint(page.id)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tpage, err := client.Videos.List(context.TODO(), openai.VideoListParams{})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", page)\n}\n",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\npage = openai.videos.list\n\nputs(page)",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.VideoListPage;\nimport com.openai.models.videos.VideoListParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoListPage page = client.videos().list();\n    }\n}",
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\n// Automatically fetches more pages as needed.\nfor await (const video of client.videos.list()) {\n  console.log(video.id);\n}"
            },
            "response": "{\n  \"data\": [\n    {\n      \"id\": \"video_123\",\n      \"object\": \"video\",\n      \"model\": \"sora-2\",\n      \"status\": \"completed\"\n    }\n  ],\n  \"object\": \"list\"\n}\n"
          }
        },
        "description": "List recently generated videos for the current project."
      }
    },
    "/videos/characters": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Create a character from an uploaded video.",
        "operationId": "CreateVideoCharacter",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoCharacterBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCharacterResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "examples": {
            "response": "",
            "request": {
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.videos.createCharacter({\n  name: 'x',\n  video: fs.createReadStream('path/to/file'),\n});\n\nconsole.log(response.id);",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.videos.create_character(\n    name=\"x\",\n    video=b\"Example data\",\n)\nprint(response.id)",
              "go": "package main\n\nimport (\n\t\"bytes\"\n\t\"context\"\n\t\"fmt\"\n\t\"io\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Videos.NewCharacter(context.TODO(), openai.VideoNewCharacterParams{\n\t\tName:  \"x\",\n\t\tVideo: io.Reader(bytes.NewBuffer([]byte(\"Example data\"))),\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.ID)\n}\n",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.VideoCreateCharacterParams;\nimport com.openai.models.videos.VideoCreateCharacterResponse;\nimport java.io.ByteArrayInputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoCreateCharacterParams params = VideoCreateCharacterParams.builder()\n            .name(\"x\")\n            .video(ByteArrayInputStream(\"Example data\".getBytes()))\n            .build();\n        VideoCreateCharacterResponse response = client.videos().createCharacter(params);\n    }\n}",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nresponse = openai.videos.create_character(name: \"x\", video: StringIO.new(\"Example data\"))\n\nputs(response)"
            }
          }
        },
        "description": "Create a character from an uploaded video."
      }
    },
    "/videos/characters/{character_id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Fetch a character.",
        "operationId": "GetVideoCharacter",
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "description": "The identifier of the character to retrieve.",
            "required": true,
            "schema": {
              "example": "char_123",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoCharacterResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "examples": {
            "response": "",
            "request": {
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.videos.getCharacter('char_123');\n\nconsole.log(response.id);",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.videos.get_character(\n    \"char_123\",\n)\nprint(response.id)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Videos.GetCharacter(context.TODO(), \"char_123\")\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.ID)\n}\n",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.VideoGetCharacterParams;\nimport com.openai.models.videos.VideoGetCharacterResponse;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoGetCharacterResponse response = client.videos().getCharacter(\"char_123\");\n    }\n}",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nresponse = openai.videos.get_character(\"char_123\")\n\nputs(response)"
            }
          }
        },
        "description": "Fetch a character."
      }
    },
    "/videos/edits": {
      "post": {
        "tags": [
          "Edits"
        ],
        "summary": "Create a new video generation job by editing a source video or existing generated video.",
        "operationId": "CreateVideoEdit",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoEditMultipartBody"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoEditJsonBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "examples": {
            "response": "",
            "request": {
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst video = await client.videos.edit({ prompt: 'x', video: fs.createReadStream('path/to/file') });\n\nconsole.log(video.id);",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nvideo = client.videos.edit(\n    prompt=\"x\",\n    video=b\"Example data\",\n)\nprint(video.id)",
              "go": "package main\n\nimport (\n\t\"bytes\"\n\t\"context\"\n\t\"fmt\"\n\t\"io\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tvideo, err := client.Videos.Edit(context.TODO(), openai.VideoEditParams{\n\t\tPrompt: \"x\",\n\t\tVideo: openai.VideoEditParamsVideoUnion{\n\t\t\tOfFile: io.Reader(bytes.NewBuffer([]byte(\"Example data\"))),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", video.ID)\n}\n",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoEditParams;\nimport java.io.ByteArrayInputStream;\nimport java.io.InputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoEditParams params = VideoEditParams.builder()\n            .prompt(\"x\")\n            .video(ByteArrayInputStream(\"Example data\".getBytes()))\n            .build();\n        Video video = client.videos().edit(params);\n    }\n}",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nvideo = openai.videos.edit(prompt: \"x\", video: StringIO.new(\"Example data\"))\n\nputs(video)"
            }
          }
        },
        "description": "Create a new video generation job by editing a source video or existing generated video."
      }
    },
    "/videos/extensions": {
      "post": {
        "tags": [
          "Extensions"
        ],
        "summary": "Create an extension of a completed video.",
        "operationId": "CreateVideoExtend",
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoExtendMultipartBody"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoExtendJsonBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "examples": {
            "response": "",
            "request": {
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst video = await client.videos.extend({\n  prompt: 'x',\n  seconds: '4',\n  video: fs.createReadStream('path/to/file'),\n});\n\nconsole.log(video.id);",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nvideo = client.videos.extend(\n    prompt=\"x\",\n    seconds=\"4\",\n    video=b\"Example data\",\n)\nprint(video.id)",
              "go": "package main\n\nimport (\n\t\"bytes\"\n\t\"context\"\n\t\"fmt\"\n\t\"io\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tvideo, err := client.Videos.Extend(context.TODO(), openai.VideoExtendParams{\n\t\tPrompt:  \"x\",\n\t\tSeconds: openai.VideoSeconds4,\n\t\tVideo: openai.VideoExtendParamsVideoUnion{\n\t\t\tOfFile: io.Reader(bytes.NewBuffer([]byte(\"Example data\"))),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", video.ID)\n}\n",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoExtendParams;\nimport com.openai.models.videos.VideoSeconds;\nimport java.io.ByteArrayInputStream;\nimport java.io.InputStream;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoExtendParams params = VideoExtendParams.builder()\n            .prompt(\"x\")\n            .seconds(VideoSeconds._4)\n            .video(ByteArrayInputStream(\"Example data\".getBytes()))\n            .build();\n        Video video = client.videos().extend(params);\n    }\n}",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nvideo = openai.videos.extend_(prompt: \"x\", seconds: :\"4\", video: StringIO.new(\"Example data\"))\n\nputs(video)"
            }
          }
        },
        "description": "Create an extension of a completed video."
      }
    },
    "/videos/{video_id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Fetch the latest metadata for a generated video.",
        "operationId": "GetVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "description": "The identifier of the video to retrieve.",
            "required": true,
            "schema": {
              "example": "video_123",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve video",
          "group": "videos",
          "path": "retrieve matching the provided identifier.",
          "examples": {
            "response": "",
            "request": {
              "javascript": "import OpenAI from 'openai';\n\nconst client = new OpenAI();\n\nconst video = await client.videos.retrieve('video_123');\n\nconsole.log(video.id);\n",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nvideo = client.videos.retrieve(\n    \"video_123\",\n)\nprint(video.id)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tvideo, err := client.Videos.Get(context.TODO(), \"video_123\")\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", video.ID)\n}\n",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nvideo = openai.videos.retrieve(\"video_123\")\n\nputs(video)",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoRetrieveParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        Video video = client.videos().retrieve(\"video_123\");\n    }\n}",
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst video = await client.videos.retrieve('video_123');\n\nconsole.log(video.id);"
            }
          }
        },
        "description": "Fetch the latest metadata for a generated video."
      },
      "delete": {
        "tags": [
          "Videos"
        ],
        "summary": "Permanently delete a completed or failed video and its stored assets.",
        "operationId": "DeleteVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "description": "The identifier of the video to delete.",
            "required": true,
            "schema": {
              "example": "video_123",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedVideoResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Delete video",
          "group": "videos",
          "path": "delete",
          "examples": {
            "response": "",
            "request": {
              "javascript": "import OpenAI from 'openai';\n\nconst client = new OpenAI();\n\nconst video = await client.videos.delete('video_123');\n\nconsole.log(video.id);\n",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nvideo = client.videos.delete(\n    \"video_123\",\n)\nprint(video.id)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tvideo, err := client.Videos.Delete(context.TODO(), \"video_123\")\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", video.ID)\n}\n",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nvideo = openai.videos.delete(\"video_123\")\n\nputs(video)",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.VideoDeleteParams;\nimport com.openai.models.videos.VideoDeleteResponse;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoDeleteResponse video = client.videos().delete(\"video_123\");\n    }\n}",
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst video = await client.videos.delete('video_123');\n\nconsole.log(video.id);"
            }
          }
        },
        "description": "Permanently delete a completed or failed video and its stored assets."
      }
    },
    "/videos/{video_id}/content": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Download the generated video bytes or a derived preview asset.\n\nStreams the rendered video content for the specified video job.",
        "operationId": "RetrieveVideoContent",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "description": "The identifier of the video whose media to download.",
            "required": true,
            "schema": {
              "example": "video_123",
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "description": "Which downloadable asset to return. Defaults to the MP4 video.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VideoContentVariant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The video bytes or preview asset that matches the requested variant.",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Retrieve video content",
          "group": "videos",
          "path": "content",
          "examples": {
            "response": "",
            "request": {
              "javascript": "import OpenAI from 'openai';\n\nconst client = new OpenAI();\n\nconst response = await client.videos.downloadContent('video_123');\n\nconsole.log(response);\n\nconst content = await response.blob();\nconsole.log(content);\n",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.videos.download_content(\n    video_id=\"video_123\",\n)\nprint(response)\ncontent = response.read()\nprint(content)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Videos.DownloadContent(\n\t\tcontext.TODO(),\n\t\t\"video_123\",\n\t\topenai.VideoDownloadContentParams{},\n\t)\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response)\n}\n",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nresponse = openai.videos.download_content(\"video_123\")\n\nputs(response)",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.core.http.HttpResponse;\nimport com.openai.models.videos.VideoDownloadContentParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        HttpResponse response = client.videos().downloadContent(\"video_123\");\n    }\n}",
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.videos.downloadContent('video_123');\n\nconsole.log(response);\n\nconst content = await response.blob();\nconsole.log(content);"
            }
          }
        },
        "description": "Download the generated video bytes or a derived preview asset.\n\nStreams the rendered video content for the specified video job."
      }
    },
    "/videos/{video_id}/remix": {
      "post": {
        "tags": [
          "Remix"
        ],
        "summary": "Create a remix of a completed video using a refreshed prompt.",
        "operationId": "CreateVideoRemix",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "description": "The identifier of the completed video to remix.",
            "required": true,
            "schema": {
              "example": "video_123",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoRemixBody"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoRemixBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-oaiMeta": {
          "name": "Remix video",
          "group": "videos",
          "path": "remix using the provided prompt.",
          "examples": {
            "request": {
              "curl": "curl -X POST https://api.openai.com/v1/videos/video_123/remix \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Extend the scene with the cat taking a bow to the cheering audience\"\n  }'\n",
              "javascript": "import OpenAI from 'openai';\n\nconst client = new OpenAI();\n\nconst video = await client.videos.remix('video_123', { prompt: 'Extend the scene with the cat taking a bow to the cheering audience' });\n\nconsole.log(video.id);\n",
              "python": "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n    api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default and can be omitted\n)\nvideo = client.videos.remix(\n    video_id=\"video_123\",\n    prompt=\"x\",\n)\nprint(video.id)",
              "go": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tvideo, err := client.Videos.Remix(\n\t\tcontext.TODO(),\n\t\t\"video_123\",\n\t\topenai.VideoRemixParams{\n\t\t\tPrompt: \"x\",\n\t\t},\n\t)\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", video.ID)\n}\n",
              "ruby": "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My API Key\")\n\nvideo = openai.videos.remix(\"video_123\", prompt: \"x\")\n\nputs(video)",
              "java": "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\nimport com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.videos.Video;\nimport com.openai.models.videos.VideoRemixParams;\n\npublic final class Main {\n    private Main() {}\n\n    public static void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\n        VideoRemixParams params = VideoRemixParams.builder()\n            .videoId(\"video_123\")\n            .prompt(\"x\")\n            .build();\n        Video video = client.videos().remix(params);\n    }\n}",
              "node.js": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted\n});\n\nconst video = await client.videos.remix('video_123', { prompt: 'x' });\n\nconsole.log(video.id);"
            },
            "response": "{\n  \"id\": \"video_456\",\n  \"object\": \"video\",\n  \"model\": \"sora-2\",\n  \"status\": \"queued\",\n  \"progress\": 0,\n  \"created_at\": 1712698600,\n  \"size\": \"720x1280\",\n  \"seconds\": \"8\",\n  \"remixed_from_video_id\": \"video_123\"\n}\n"
          }
        },
        "description": "Create a remix of a completed video using a refreshed prompt."
      }
    }
  },
  "components": {
    "schemas": {
      "CreateVideoExtendJsonBody": {
        "properties": {
          "video": {
            "$ref": "#/components/schemas/VideoReferenceInputParam",
            "description": "Reference to the completed video to extend."
          },
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Updated text prompt that directs the extension generation."
          },
          "seconds": {
            "$ref": "#/components/schemas/VideoSeconds",
            "description": "Length of the newly generated extension segment in seconds (allowed values: 4, 8, 12, 16, 20)."
          }
        },
        "type": "object",
        "required": [
          "video",
          "prompt",
          "seconds"
        ],
        "title": "Create video extension JSON request",
        "description": "JSON parameters for extending an existing generated video."
      },
      "CreateVideoEditMultipartBody": {
        "properties": {
          "video": {
            "oneOf": [
              {
                "type": "string",
                "format": "binary",
                "description": "Reference to the completed video to edit."
              },
              {
                "$ref": "#/components/schemas/VideoReferenceInputParam"
              }
            ]
          },
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Text prompt that describes how to edit the source video."
          }
        },
        "type": "object",
        "required": [
          "video",
          "prompt"
        ],
        "title": "Create video edit multipart request",
        "description": "Parameters for editing an existing generated video."
      },
      "VideoContentVariant": {
        "type": "string",
        "enum": [
          "video",
          "thumbnail",
          "spritesheet"
        ]
      },
      "CreateVideoJsonBody": {
        "properties": {
          "model": {
            "$ref": "#/components/schemas/VideoModel",
            "description": "The video generation model to use (allowed values: sora-2, sora-2-pro). Defaults to `sora-2`."
          },
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Text prompt that describes the video to generate."
          },
          "input_reference": {
            "$ref": "#/components/schemas/ImageRefParam-2",
            "description": "Optional reference object that guides generation. Provide exactly one of `image_url` or `file_id`."
          },
          "seconds": {
            "$ref": "#/components/schemas/VideoSeconds",
            "description": "Clip duration in seconds (allowed values: 4, 8, 12). Defaults to 4 seconds."
          },
          "size": {
            "$ref": "#/components/schemas/VideoSize",
            "description": "Output resolution formatted as width x height (allowed values: 720x1280, 1280x720, 1024x1792, 1792x1024). Defaults to 720x1280."
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "Create video JSON request",
        "description": "JSON parameters for creating a new video generation job."
      },
      "CreateVideoExtendMultipartBody": {
        "properties": {
          "video": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/VideoReferenceInputParam"
              },
              {
                "type": "string",
                "format": "binary",
                "description": "Reference to the completed video to extend."
              }
            ]
          },
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Updated text prompt that directs the extension generation."
          },
          "seconds": {
            "$ref": "#/components/schemas/VideoSeconds",
            "description": "Length of the newly generated extension segment in seconds (allowed values: 4, 8, 12, 16, 20)."
          }
        },
        "type": "object",
        "required": [
          "video",
          "prompt",
          "seconds"
        ],
        "title": "Create video extension multipart request",
        "description": "Multipart parameters for extending an existing generated video."
      },
      "CreateVideoRemixBody": {
        "properties": {
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Updated text prompt that directs the remix generation."
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "Create video remix request",
        "description": "Parameters for remixing an existing generated video."
      },
      "VideoListResource": {
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The type of object returned, must be `list`.",
            "default": "list"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/VideoResource"
            },
            "type": "array",
            "description": "A list of items"
          },
          "first_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the first item in the list."
              },
              {
                "type": "null"
              }
            ]
          },
          "last_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the last item in the list."
              },
              {
                "type": "null"
              }
            ]
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether there are more items available."
          }
        },
        "type": "object",
        "required": [
          "object",
          "data",
          "first_id",
          "last_id",
          "has_more"
        ]
      },
      "OrderEnum": {
        "type": "string",
        "enum": [
          "asc",
          "desc"
        ]
      },
      "Error-2": {
        "properties": {
          "code": {
            "type": "string",
            "description": "A machine-readable error code that was returned."
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error that was returned."
          }
        },
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "Error",
        "description": "An error that occurred while generating the response."
      },
      "VideoModel": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "string",
            "enum": [
              "sora-2",
              "sora-2-pro",
              "sora-2-2025-10-06",
              "sora-2-pro-2025-10-06",
              "sora-2-2025-12-08"
            ]
          }
        ]
      },
      "VideoSeconds": {
        "type": "string",
        "enum": [
          "4",
          "8",
          "12"
        ]
      },
      "VideoCharacterResource": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "Identifier for the character creation cameo."
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "anyOf": [
              {
                "type": "string",
                "description": "Display name for the character."
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp (in seconds) when the character was created."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at"
        ]
      },
      "VideoSize": {
        "type": "string",
        "enum": [
          "720x1280",
          "1280x720",
          "1024x1792",
          "1792x1024"
        ]
      },
      "VideoResource": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the video job."
          },
          "object": {
            "type": "string",
            "enum": [
              "video"
            ],
            "description": "The object type, which is always `video`.",
            "default": "video"
          },
          "model": {
            "$ref": "#/components/schemas/VideoModel",
            "description": "The video generation model that produced the job."
          },
          "status": {
            "$ref": "#/components/schemas/VideoStatus",
            "description": "Current lifecycle status of the video job."
          },
          "progress": {
            "type": "integer",
            "description": "Approximate completion percentage for the generation task."
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp (seconds) for when the job was created."
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Unix timestamp (seconds) for when the job completed, if finished."
              },
              {
                "type": "null"
              }
            ]
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Unix timestamp (seconds) for when the downloadable assets expire, if set."
              },
              {
                "type": "null"
              }
            ]
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string",
                "description": "The prompt that was used to generate the video."
              },
              {
                "type": "null"
              }
            ]
          },
          "size": {
            "$ref": "#/components/schemas/VideoSize",
            "description": "The resolution of the generated video."
          },
          "seconds": {
            "type": "string",
            "description": "Duration of the generated clip in seconds. For extensions, this is the stitched total duration."
          },
          "remixed_from_video_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "Identifier of the source video if this video is a remix."
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Error-2",
                "description": "Error payload that explains why generation failed, if applicable."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "object",
          "model",
          "status",
          "progress",
          "created_at",
          "completed_at",
          "expires_at",
          "prompt",
          "size",
          "seconds",
          "remixed_from_video_id",
          "error"
        ],
        "title": "Video job",
        "description": "Structured information describing a generated video job."
      },
      "VideoReferenceInputParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The identifier of the completed video.",
            "example": "video_123"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "description": "Reference to the completed video."
      },
      "CreateVideoEditJsonBody": {
        "properties": {
          "video": {
            "$ref": "#/components/schemas/VideoReferenceInputParam",
            "description": "Reference to the completed video to edit."
          },
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Text prompt that describes how to edit the source video."
          }
        },
        "type": "object",
        "required": [
          "video",
          "prompt"
        ],
        "title": "Create video edit JSON request",
        "description": "JSON parameters for editing an existing generated video."
      },
      "VideoStatus": {
        "type": "string",
        "enum": [
          "queued",
          "in_progress",
          "completed",
          "failed"
        ]
      },
      "CreateVideoCharacterBody": {
        "properties": {
          "video": {
            "type": "string",
            "format": "binary",
            "description": "Video file used to create a character."
          },
          "name": {
            "type": "string",
            "maxLength": 80,
            "minLength": 1,
            "description": "Display name for this API character."
          }
        },
        "type": "object",
        "required": [
          "video",
          "name"
        ],
        "title": "Create character request",
        "description": "Parameters for creating a character from an uploaded video."
      },
      "ImageRefParam-2": {
        "properties": {
          "image_url": {
            "type": "string",
            "maxLength": 20971520,
            "description": "A fully qualified URL or base64-encoded data URL."
          },
          "file_id": {
            "type": "string",
            "example": "file-123"
          }
        },
        "type": "object",
        "required": []
      },
      "DeletedVideoResource": {
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "video.deleted"
            ],
            "description": "The object type that signals the deletion response.",
            "default": "video.deleted"
          },
          "deleted": {
            "type": "boolean",
            "description": "Indicates that the video resource was deleted."
          },
          "id": {
            "type": "string",
            "description": "Identifier of the deleted video."
          }
        },
        "type": "object",
        "required": [
          "object",
          "deleted",
          "id"
        ],
        "title": "Deleted video response",
        "description": "Confirmation payload returned after deleting a video."
      },
      "CreateVideoMultipartBody": {
        "properties": {
          "model": {
            "$ref": "#/components/schemas/VideoModel",
            "description": "The video generation model to use (allowed values: sora-2, sora-2-pro). Defaults to `sora-2`."
          },
          "prompt": {
            "type": "string",
            "maxLength": 32000,
            "minLength": 1,
            "description": "Text prompt that describes the video to generate."
          },
          "input_reference": {
            "oneOf": [
              {
                "type": "string",
                "format": "binary",
                "description": "Optional reference asset upload or reference object that guides generation."
              },
              {
                "$ref": "#/components/schemas/ImageRefParam-2"
              }
            ]
          },
          "seconds": {
            "$ref": "#/components/schemas/VideoSeconds",
            "description": "Clip duration in seconds (allowed values: 4, 8, 12). Defaults to 4 seconds."
          },
          "size": {
            "$ref": "#/components/schemas/VideoSize",
            "description": "Output resolution formatted as width x height (allowed values: 720x1280, 1280x720, 1024x1792, 1792x1024). Defaults to 720x1280."
          }
        },
        "type": "object",
        "required": [
          "prompt"
        ],
        "title": "Create video multipart request",
        "description": "Multipart parameters for creating a new video generation job."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "param": {
                "type": "string",
                "nullable": true
              },
              "code": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Characters"
    },
    {
      "name": "Edits"
    },
    {
      "name": "Extensions"
    },
    {
      "name": "Remix"
    },
    {
      "name": "Videos"
    }
  ]
}
