{
  "openapi": "3.0.3",
  "info": {
    "title": "UAX Wallet API",
    "description": "Official API documentation for UAX Wallet administrative endpoints.  \nThese APIs allow authenticated users to manage announcements, version histories, and user agreements.  \n\n**Note:**  \nReplace all `your_key` values with your actual credentials when making requests.\n",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/uax/uax-wallet-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://token.uaxwallet.com/api",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Announcements",
      "description": "Manage system announcements"
    },
    {
      "name": "Version History",
      "description": "Manage version release logs"
    },
    {
      "name": "User Agreement",
      "description": "Manage and update the user terms & privacy policy"
    }
  ],
  "paths": {
    "/announcements/create": {
      "post": {
        "tags": [
          "Announcements"
        ],
        "summary": "Create Announcement",
        "description": "Creates a new announcement for users.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "privatekey",
                  "pass",
                  "title",
                  "summary",
                  "content",
                  "author"
                ],
                "properties": {
                  "privatekey": {
                    "type": "string",
                    "description": "Your API private key (replace with your_key)"
                  },
                  "pass": {
                    "type": "string",
                    "description": "Your API pass token (replace with your_key)"
                  },
                  "title": {
                    "type": "string",
                    "description": "Announcement title"
                  },
                  "summary": {
                    "type": "string",
                    "description": "Short summary of the announcement"
                  },
                  "content": {
                    "type": "string",
                    "description": "Full announcement content"
                  },
                  "author": {
                    "type": "string",
                    "description": "Author or team name"
                  }
                },
                "example": {
                  "privatekey": "your_key",
                  "pass": "your_key",
                  "title": "System Update 2025",
                  "summary": "Maintenance scheduled on Nov 7th",
                  "content": "The USDT-i wallet will undergo maintenance on Nov 7th, 2025 between 1 AM and 3 AM UTC.",
                  "author": "Admin Team"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Announcement created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "author": {
                          "type": "string"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "published_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "__v": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Announcement created successfully",
                  "data": {
                    "title": "System Minor Update 2025",
                    "summary": "Maintenance scheduled on Nov 7th",
                    "content": "The USDT-i wallet will undergo maintenance on Nov 7th, 2025 between 3 AM and 4 AM UTC.",
                    "author": "Admin Team",
                    "avatar_url": "https://cdn-icons-png.flaticon.com/512/149/149071.png",
                    "_id": "690db9a1587ca996ca0691d9",
                    "published_at": "2025-11-07T09:19:29.368Z",
                    "updated_at": "2025-11-07T09:19:29.368Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/versionhistory/create": {
      "post": {
        "tags": [
          "Version History"
        ],
        "summary": "Create or Add Version History",
        "description": "Adds a new version entry to the system\u2019s version history.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "privatekey",
                  "pass",
                  "version",
                  "date",
                  "changes"
                ],
                "properties": {
                  "privatekey": {
                    "type": "string",
                    "description": "Your API private key (replace with your_key)"
                  },
                  "pass": {
                    "type": "string",
                    "description": "Your API pass token (replace with your_key)"
                  },
                  "version": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "description": "Version release date (format YYYY.MM.DD)"
                  },
                  "changes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of version changes"
                  }
                },
                "example": {
                  "privatekey": "your_key",
                  "pass": "your_key",
                  "version": "4.18.1",
                  "date": "2025.10.24",
                  "changes": [
                    "Added security patch",
                    "Improved performance",
                    "Fixed known bugs"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string"
                        },
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "__v": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Version added successfully",
                  "data": {
                    "version": "4.18.1",
                    "date": "2025.10.24",
                    "changes": [
                      "Added security patch",
                      "Improved performance",
                      "Fixed known bugs"
                    ],
                    "_id": "690da6d289556ca29ba15535",
                    "createdAt": "2025-11-07T07:59:14.712Z",
                    "updatedAt": "2025-11-07T07:59:14.712Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/useragreement/update": {
      "post": {
        "tags": [
          "User Agreement"
        ],
        "summary": "Create or Update User Agreement",
        "description": "Creates or updates the User Terms and Privacy Policy for the platform.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "privatekey",
                  "pass",
                  "title",
                  "updatedOn",
                  "content"
                ],
                "properties": {
                  "privatekey": {
                    "type": "string",
                    "description": "Your API private key (replace with your_key)"
                  },
                  "pass": {
                    "type": "string",
                    "description": "Your API pass token (replace with your_key)"
                  },
                  "title": {
                    "type": "string"
                  },
                  "updatedOn": {
                    "type": "string",
                    "description": "Date of last update"
                  },
                  "content": {
                    "type": "string",
                    "description": "Full user agreement text"
                  }
                },
                "example": {
                  "privatekey": "your_key",
                  "pass": "your_key",
                  "title": "USDT-i User Terms and Privacy Policy",
                  "updatedOn": "October 15, 2025",
                  "content": "Dear users: Thank you for choosing USDT-i..."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User agreement created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "agreement": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "updatedOn": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "__v": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "User Agreement created",
                  "agreement": {
                    "title": "USDT-i User Terms and Privacy Policy",
                    "updatedOn": "October 15, 2025",
                    "content": "Dear users: Thank you for choosing USDT-i...",
                    "_id": "690dae15bc83db704ffe5c5b",
                    "createdAt": "2025-11-07T08:30:13.960Z",
                    "updatedAt": "2025-11-07T08:30:13.960Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed due to invalid credentials"
      },
      "ServerError": {
        "description": "Internal server error"
      }
    }
  }
}