{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Agendamentos",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/simers/api-de-agendamentos/1.0.0"
  },
  "servers": [
    {
      "url": "https://agendair.simers.org.br/api"
    }
  ],
  "paths": {
    "/appointments": {
      "get": {
        "tags": [
          "Agendamentos"
        ],
        "summary": "Listar agendamentos",
        "description": "Retorna agendamentos confirmados dentro do per\u00edodo, com filtros opcionais.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data inicial (YYYY-MM-DD)"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data final (YYYY-MM-DD)"
          },
          {
            "name": "client",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filtra pelo ID do cliente"
          },
          {
            "name": "professional",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filtra pelo ID do profissional"
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filtra pelo ID do servi\u00e7o"
          },
          {
            "name": "appointment_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filtra pelo ID do agendamento"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chave de API para autentica\u00e7\u00e3o"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de agendamentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": 789
                      },
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "hour": {
                        "type": "string",
                        "example": "10:00"
                      },
                      "state": {
                        "type": "string",
                        "example": "CONFIRMED"
                      },
                      "client": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": 123
                          },
                          "name": {
                            "type": "string",
                            "example": "Pedro"
                          },
                          "phone": {
                            "type": "string",
                            "example": 5551999999999
                          }
                        }
                      },
                      "professional": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": 321
                          },
                          "name": {
                            "type": "string",
                            "example": "Maria"
                          }
                        }
                      },
                      "service": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": 456
                          },
                          "name": {
                            "type": "string",
                            "example": "Declara\u00e7\u00e3o IR"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Par\u00e2metros start ou end ausentes"
          },
          "401": {
            "description": "Chave de API inv\u00e1lida"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    }
  }
}