{
  "openapi": "3.0.3",
  "info": {
    "title": "Blocknative Gas Platform API",
    "version": "1.0.0",
    "description": "Blocknative Gas Platform API provides real-time gas price predictions for Ethereum and other EVM-compatible networks. Includes gas price estimation, base fee and blob fee predictions, and gas price distribution data.",
    "x-jentic-source-url": "https://docs.blocknative.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.blocknative.com",
      "description": "Blocknative API Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Gas Prediction",
      "description": "Gas price estimation and prediction endpoints"
    }
  ],
  "paths": {
    "/gasprices/blockprices": {
      "get": {
        "operationId": "getBlockPrices",
        "summary": "Get Gas Price Predictions",
        "description": "Returns gas price predictions including estimated prices for different confidence levels and pending block information.",
        "tags": [
          "Gas Prediction"
        ],
        "parameters": [
          {
            "name": "chainid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Chain ID for the target network (e.g., 1 for Ethereum mainnet, 137 for Polygon)."
          },
          {
            "name": "withBaseFees",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include base fee predictions in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "Gas price predictions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gasprices/basefees": {
      "get": {
        "operationId": "getBaseFees",
        "summary": "Get Base Fee Predictions",
        "description": "Returns base fee predictions for upcoming blocks on EIP-1559 compatible networks.",
        "tags": [
          "Gas Prediction"
        ],
        "parameters": [
          {
            "name": "chainid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Chain ID for the target network."
          }
        ],
        "responses": {
          "200": {
            "description": "Base fee predictions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseFeesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gasprices/blobbasefees": {
      "get": {
        "operationId": "getBlobBaseFees",
        "summary": "Get Blob Base Fee Predictions",
        "description": "Returns blob base fee predictions for EIP-4844 compatible networks.",
        "tags": [
          "Gas Prediction"
        ],
        "parameters": [
          {
            "name": "chainid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Chain ID for the target network."
          }
        ],
        "responses": {
          "200": {
            "description": "Blob base fee predictions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobBaseFeesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gasprices/distribution": {
      "get": {
        "operationId": "getGasDistribution",
        "summary": "Get Gas Price Distribution",
        "description": "Returns the distribution of gas prices in the current mempool, useful for understanding gas market dynamics.",
        "tags": [
          "Gas Prediction"
        ],
        "parameters": [
          {
            "name": "chainid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Chain ID for the target network."
          }
        ],
        "responses": {
          "200": {
            "description": "Gas price distribution data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GasDistributionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Blocknative API key for authentication."
      }
    },
    "schemas": {
      "BlockPricesResponse": {
        "type": "object",
        "properties": {
          "system": {
            "type": "string",
            "description": "System identifier."
          },
          "network": {
            "type": "string",
            "description": "Network name."
          },
          "unit": {
            "type": "string",
            "description": "Gas price unit (e.g., gwei)."
          },
          "maxPrice": {
            "type": "number",
            "description": "Maximum gas price in the pending block."
          },
          "currentBlockNumber": {
            "type": "integer",
            "description": "Current block number."
          },
          "msSinceLastBlock": {
            "type": "integer",
            "description": "Milliseconds since the last block."
          },
          "blockPrices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlockPrice"
            }
          }
        }
      },
      "BlockPrice": {
        "type": "object",
        "properties": {
          "blockNumber": {
            "type": "integer"
          },
          "estimatedTransactionCount": {
            "type": "integer"
          },
          "baseFeePerGas": {
            "type": "number",
            "description": "Base fee for the block in gwei."
          },
          "blobBaseFeePerGas": {
            "type": "number",
            "description": "Blob base fee if applicable."
          },
          "estimatedPrices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimatedPrice"
            }
          }
        }
      },
      "EstimatedPrice": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "integer",
            "description": "Confidence level (e.g., 99, 95, 90, 80, 70)."
          },
          "price": {
            "type": "number",
            "description": "Estimated gas price in gwei."
          },
          "maxPriorityFeePerGas": {
            "type": "number",
            "description": "Recommended max priority fee per gas in gwei."
          },
          "maxFeePerGas": {
            "type": "number",
            "description": "Recommended max fee per gas in gwei."
          }
        }
      },
      "BaseFeesResponse": {
        "type": "object",
        "properties": {
          "baseFees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blockNumber": {
                  "type": "integer"
                },
                "baseFeePerGas": {
                  "type": "number"
                },
                "confidence": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "BlobBaseFeesResponse": {
        "type": "object",
        "properties": {
          "blobBaseFees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "blockNumber": {
                  "type": "integer"
                },
                "blobBaseFeePerGas": {
                  "type": "number"
                },
                "confidence": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "GasDistributionResponse": {
        "type": "object",
        "properties": {
          "distribution": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number",
                  "description": "Gas price in gwei."
                },
                "count": {
                  "type": "integer",
                  "description": "Number of transactions at this price."
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
