{
  "openapi": "3.0.3",
  "info": {
    "title": "Bandwidth Messaging and Voice API",
    "description": "Bandwidth is a communications platform-as-a-service (CPaaS) provider offering messaging (SMS/MMS), voice calling, and phone number management APIs. This spec covers the core Messaging V2 API for sending and managing SMS/MMS messages, and the Voice API for managing calls and media.",
    "version": "2.0",
    "contact": {
      "name": "Bandwidth Developer Support",
      "url": "https://dev.bandwidth.com"
    },
    "x-categories": [
      "Communications",
      "SMS",
      "Voice"
    ],
    "x-logo": {
      "url": "https://www.bandwidth.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://messaging.bandwidth.com/api/v2",
      "description": "Bandwidth Messaging API"
    },
    {
      "url": "https://voice.bandwidth.com/api/v2",
      "description": "Bandwidth Voice API"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/users/{accountId}/messages": {
      "post": {
        "operationId": "createMessage",
        "summary": "Send a message",
        "description": "Sends an SMS or MMS message. Supports individual and group messages. MMS messages can include media attachments. Returns a 202 Accepted response with the message details.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              },
              "example": {
                "applicationId": "93de2206-9669-4e07-948d-329f4b722ee2",
                "to": [
                  "+19195551234"
                ],
                "from": "+19195554321",
                "text": "Hello from Bandwidth!"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message accepted for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagingError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "tags": [
          "Messaging"
        ]
      },
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Returns a list of messages for the account. Supports filtering by various criteria including source/destination numbers and date range.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Filter by message ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceTn",
            "in": "query",
            "description": "Filter by source telephone number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationTn",
            "in": "query",
            "description": "Filter by destination telephone number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageStatus",
            "in": "query",
            "description": "Filter by message status",
            "schema": {
              "type": "string",
              "enum": [
                "RECEIVED",
                "QUEUED",
                "SENDING",
                "SENT",
                "FAILED",
                "DELIVERED",
                "ACCEPTED",
                "UNDELIVERED"
              ]
            }
          },
          {
            "name": "messageDirection",
            "in": "query",
            "description": "Filter by message direction",
            "schema": {
              "type": "string",
              "enum": [
                "INBOUND",
                "OUTBOUND"
              ]
            }
          },
          {
            "name": "errorCode",
            "in": "query",
            "description": "Filter by error code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date/time filter (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "End date/time filter (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of messages to return",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer"
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "prevPage": {
                          "type": "string"
                        },
                        "nextPage": {
                          "type": "string"
                        },
                        "prevPageToken": {
                          "type": "string"
                        },
                        "nextPageToken": {
                          "type": "string"
                        }
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Messaging"
        ]
      }
    },
    "/users/{accountId}/media": {
      "get": {
        "operationId": "listMedia",
        "summary": "List media",
        "description": "Returns a list of media files stored in the account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Pagination token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of media files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MediaItem"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Media"
        ]
      }
    },
    "/users/{accountId}/media/{mediaId}": {
      "get": {
        "operationId": "getMedia",
        "summary": "Download media",
        "description": "Downloads a media file.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "description": "Media file identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media file content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Media not found"
          }
        },
        "tags": [
          "Media"
        ]
      },
      "put": {
        "operationId": "uploadMedia",
        "summary": "Upload media",
        "description": "Uploads a media file for use in MMS messages.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "description": "Desired media identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "MIME type of the media",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Media uploaded successfully"
          }
        },
        "tags": [
          "Media"
        ]
      },
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete media",
        "description": "Deletes a media file.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Media deleted"
          }
        },
        "tags": [
          "Media"
        ]
      }
    },
    "/users/{accountId}/calls": {
      "post": {
        "operationId": "createCall",
        "summary": "Create a call",
        "description": "Initiates an outbound phone call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/users/{accountId}/calls/{callId}": {
      "get": {
        "operationId": "getCall",
        "summary": "Get call information",
        "description": "Returns information about a specific call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "404": {
            "description": "Call not found"
          }
        },
        "tags": [
          "Voice"
        ]
      },
      "post": {
        "operationId": "updateCall",
        "summary": "Update a call",
        "description": "Modifies an active call. Can redirect to a new BXML URL, transfer, or hang up the call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "enum": [
                      "active",
                      "completed"
                    ],
                    "description": "Set to 'completed' to hang up"
                  },
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "New BXML URL for the call"
                  },
                  "redirectMethod": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST"
                    ]
                  },
                  "redirectFallbackUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "redirectFallbackMethod": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST"
                    ]
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call updated"
          },
          "404": {
            "description": "Call not found"
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/users/{accountId}/calls/{callId}/recordings": {
      "get": {
        "operationId": "listCallRecordings",
        "summary": "List call recordings",
        "description": "Returns recordings for a specific call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recording"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Voice"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic auth using your Bandwidth API credentials (username and password from the dashboard)."
      }
    },
    "parameters": {
      "AccountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "description": "Your Bandwidth account ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "MessageRequest": {
        "type": "object",
        "required": [
          "applicationId",
          "to",
          "from"
        ],
        "properties": {
          "applicationId": {
            "type": "string",
            "description": "The application ID for message callbacks"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Destination phone numbers (E.164 format)",
            "minItems": 1,
            "maxItems": 50
          },
          "from": {
            "type": "string",
            "description": "Source phone number (E.164 format)"
          },
          "text": {
            "type": "string",
            "description": "Message text (max 2048 characters)",
            "maxLength": 2048
          },
          "media": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Media URLs for MMS messages"
          },
          "tag": {
            "type": "string",
            "description": "Custom tag for the message"
          },
          "priority": {
            "type": "string",
            "enum": [
              "default",
              "high"
            ],
            "description": "Message priority"
          },
          "expiration": {
            "type": "string",
            "format": "date-time",
            "description": "Message expiration time"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique message ID"
          },
          "owner": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "segmentCount": {
            "type": "integer"
          },
          "direction": {
            "type": "string",
            "enum": [
              "in",
              "out"
            ]
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "from": {
            "type": "string"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "text": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          }
        }
      },
      "MediaItem": {
        "type": "object",
        "properties": {
          "mediaName": {
            "type": "string"
          },
          "contentLength": {
            "type": "integer",
            "format": "int64"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "CreateCallRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "applicationId",
          "answerUrl"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Source phone number (E.164 format)"
          },
          "to": {
            "type": "string",
            "description": "Destination phone number (E.164 format)"
          },
          "applicationId": {
            "type": "string",
            "description": "Application ID for call events"
          },
          "answerUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL for BXML to execute when call is answered"
          },
          "answerMethod": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "default": "POST"
          },
          "answerFallbackUrl": {
            "type": "string",
            "format": "uri"
          },
          "disconnectUrl": {
            "type": "string",
            "format": "uri"
          },
          "disconnectMethod": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "default": "POST"
          },
          "callTimeout": {
            "type": "number",
            "description": "Timeout in seconds before call is canceled",
            "default": 30
          },
          "callbackTimeout": {
            "type": "number",
            "description": "Timeout in seconds for callback requests",
            "default": 15
          },
          "machineDetection": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "sync",
                  "async"
                ]
              },
              "detectionTimeout": {
                "type": "number"
              },
              "silenceTimeout": {
                "type": "number"
              },
              "speechThreshold": {
                "type": "number"
              },
              "speechEndThreshold": {
                "type": "number"
              },
              "callbackUrl": {
                "type": "string",
                "format": "uri"
              },
              "callbackMethod": {
                "type": "string",
                "enum": [
                  "GET",
                  "POST"
                ]
              }
            }
          },
          "tag": {
            "type": "string",
            "description": "Custom metadata"
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "state": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "answerTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "disconnectCause": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "enqueuedTime": {
            "type": "string",
            "format": "date-time"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "callId": {
            "type": "string"
          },
          "recordingId": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "channels": {
            "type": "integer"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "fileFormat": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "mediaUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "MessagingError": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fieldErrors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fieldName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Messaging",
      "description": "SMS and MMS messaging operations"
    },
    {
      "name": "Media",
      "description": "Media file management for MMS"
    },
    {
      "name": "Voice",
      "description": "Voice calling operations"
    }
  ]
}
