{
  "swagger": "2.0",
  "info": {
    "description": "Klingo API Integra\u00e7\u00e3o PACS",
    "version": "1.0.0",
    "title": "Klingo API Integra\u00e7\u00e3o PACS",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "suporte@klingo.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/klingo/klingo-api-pacs/1.0.0"
  },
  "host": "api-externa.klingo.app",
  "basePath": "/api/pacs",
  "tags": [
    {
      "name": "worklist",
      "description": "Worklist"
    },
    {
      "name": "historico",
      "description": "Hist\u00f3rico"
    },
    {
      "name": "webhooks",
      "description": "Webhooks"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/worklist_criada/{domain}/{token}": {
      "post": {
        "tags": [
          "worklist"
        ],
        "summary": "Worklist Criada.",
        "description": "Aviso de Worklist criada. Alguns PACS precisam realizar essa notifica\u00e7\u00e3o a posteriori para poder receber anexos.",
        "operationId": "worklist_criada",
        "parameters": [
          {
            "in": "path",
            "name": "domain",
            "description": "Dom\u00ednio.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "token",
            "description": "Token de Acesso.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Par\u00e2metros do Relat\u00f3rio.",
            "required": true,
            "schema": {
              "properties": {
                "accessionNumber": {
                  "type": "string",
                  "description": "Accession Number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "lista": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/worklistitem"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/historico/{domain}/{token}": {
      "post": {
        "tags": [
          "historico"
        ],
        "summary": "Hist\u00f3rico.",
        "description": "Hist\u00f3rico de Resultados Anteriores.",
        "operationId": "historico",
        "parameters": [
          {
            "in": "path",
            "name": "domain",
            "description": "Dom\u00ednio.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "token",
            "description": "Token de Acesso.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Par\u00e2metros do Relat\u00f3rio.",
            "required": true,
            "schema": {
              "properties": {
                "accessionNumber": {
                  "type": "string",
                  "description": "Accession Number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/histitem"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/hook-imagens-disponiveis/{domain}/{token}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Aviso de Imagens Dispon\u00edveis.",
        "description": "Aviso de Imagens Dispon\u00edveis.",
        "operationId": "imagens",
        "parameters": [
          {
            "in": "path",
            "name": "domain",
            "description": "Dom\u00ednio.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "token",
            "description": "Token de Acesso.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Par\u00e2metros do Relat\u00f3rio.",
            "required": true,
            "schema": {
              "properties": {
                "accessionNumber": {
                  "type": "string",
                  "description": "Accession Number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/hook-laudo-emitido/{domain}/{token}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Envio de Laudo.",
        "description": "Envio de Laudo.",
        "operationId": "laudo",
        "parameters": [
          {
            "in": "path",
            "name": "domain",
            "description": "Dom\u00ednio.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "token",
            "description": "Token de Acesso.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Par\u00e2metros do Relat\u00f3rio.",
            "required": true,
            "schema": {
              "properties": {
                "accessionNumber": {
                  "type": "string",
                  "description": "Accession Number",
                  "example": "1234"
                },
                "tipoArquivo": {
                  "type": "string",
                  "description": "Deve ser enviada a op\u00e7\u00e3o html ou pdf.",
                  "example": "pdf"
                },
                "conteudo": {
                  "type": "string",
                  "description": "Conte\u00fado do arquivo base64."
                },
                "conselho": {
                  "type": "string",
                  "description": "Conselho (Ex: CRM, CREFITO, etc).",
                  "example": "CRM"
                },
                "numeroConselho": {
                  "type": "string",
                  "description": "N\u00famero do Conselho.",
                  "example": "1234"
                },
                "estadoConselho": {
                  "type": "string",
                  "description": "UF do Conselho.",
                  "example": "BA"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "definitions": {
    "worklistitem": {
      "type": "object",
      "properties": {
        "idAtendimento": {
          "type": "string",
          "description": "Id do Atendimento",
          "example": "1"
        },
        "idAtendimentoProcedimento": {
          "type": "string",
          "description": "Id do Atendimento Procedimento",
          "example": "1"
        },
        "accessionNumber": {
          "type": "string",
          "description": "Accession Number",
          "example": "1234"
        },
        "status": {
          "type": "string",
          "description": "Status",
          "example": "recebido"
        }
      }
    },
    "histitem": {
      "type": "object",
      "properties": {
        "patientID": {
          "type": "string",
          "description": "patient ID",
          "example": "1"
        },
        "accessionNumber": {
          "type": "string",
          "description": "Accession Number",
          "example": "1234"
        },
        "date": {
          "type": "string",
          "description": "Data do Atendimento",
          "example": "2000-01-01T10:00:00"
        },
        "referringPhysicianCouncil": {
          "type": "string",
          "description": "CRM do Solicitante",
          "example": "CRMXX1234"
        },
        "referringPhysicianName": {
          "type": "string",
          "description": "Nome do Solicitante",
          "example": "JOAO DA SILVA"
        },
        "modality": {
          "type": "string",
          "description": "Modalidade",
          "example": "CT"
        },
        "procedureID": {
          "type": "string",
          "description": "ID do Procedimento",
          "example": "123"
        },
        "procedureDescription": {
          "type": "string",
          "description": "Nome do Procedimento",
          "example": "TC CRANIO"
        },
        "report_url": {
          "type": "string",
          "description": "URL do PDF do Laudo",
          "example": "https://..."
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}