{
  "openapi": "3.0.1",
  "info": {
    "title": "Lenovo Inbound API",
    "version": "1.0.0",
    "description": "This OpenAPI specification includes sample requests and responses for each API endpoint.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/lenovo-a08/lenovo-inbound-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lenovo.com"
    }
  ],
  "paths": {
    "/create-order": {
      "post": {
        "summary": "Create Order",
        "description": "Creates an order in Lenovo ServiceNow. Returns the request number and requested items.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_request",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_create_order",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                    "request_number": "REQ0014698",
                    "account_id": "1216786037",
                    "request_sys_id": "681be9dfdb2261101e9f543ed396196a",
                    "req_items": [
                      {
                        "request_item_id": "0d1be9dfdb2261101e9f543ed39619bd",
                        "request_item_number": "RITM0014898",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990"
                      },
                      {
                        "request_item_id": "241be9dfdb2261101e9f543ed396196b",
                        "request_item_number": "RITM0014897",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990"
                      }
                    ],
                    "external_request_number": "REQ01",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "1c729d77dbb9a9101e9f543ed396196d",
                    "quantity": "2",
                    "variables": {
                      "requestor_email_var": "lenovo.customer.user2@sample.com",
                      "group_tag": "Group_tag_001",
                      "order_type": "New user",
                      "first_name": "Lenovo Customer",
                      "last_name": "User2",
                      "phone_number": "1111111",
                      "email_address": "lenovo.customer.user2@sample.com",
                      "address1": "Lxx 57, 156 Collins St",
                      "address2": "Collins",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "po_number": "ES00105496",
                      "bill_to_account": "1216975678",
                      "special_instructions": "These are special instructions1",
                      "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990",
                      "external_ticket_number": "RITM001",
                      "remote_flag": "Yes",
                      "cost_center": "CC02390",
                      "vas_offering": "White Glove,Expedited Shipping"
                    }
                  },
                  {
                    "catitem": "1c729d77dbb9a9101e9f543ed396196d",
                    "quantity": "1",
                    "variables": {
                      "requestor_email_var": "lenovo.customer.user2@sample.com",
                      "order_type": "New user",
                      "first_name": "Lenovo Customer",
                      "last_name": "User2",
                      "phone_number": "1111111",
                      "email_address": "lenovo.customer.user2@sample.com",
                      "address1": "Lxx 75, 10 Collins",
                      "address2": "Collins",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "po_number": "ES00105496",
                      "bill_to_account": "1216975678",
                      "special_instructions": "These are special instructions2",
                      "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990",
                      "external_ticket_number": "RITM001",
                      "remote_flag": "Yes",
                      "cost_center": "CC02390",
                      "vas_offering": "White Glove,Peripheral Bundle"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                "external_request_number": "REQ01",
                "requestor_email": "lenovo.customer.user2@sample.com",
                "account_id": "12167746037"
              }
            }
          }
        }
      }
    },
    "/create-order-persona": {
      "post": {
        "summary": "Create Order by Persona",
        "description": "Creates an order based on persona selections. Returns the request number and items.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_request",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_order_by_persona",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "data": {
                      "external_request_id": "04da40851b3c4e94e04a639ead4bcbdf",
                      "request_number": "REQ0012495",
                      "account_id": "1213784987",
                      "request_sys_id": "029aeeed1bb08a10506aa8e82d4bcb80",
                      "req_items": [
                        {
                          "request_item_id": "1e9aeeed1bb08a10506aa8e82d4bcba2",
                          "request_item_number": "RITM0012677",
                          "external_ticket_number": "TASK0329564",
                          "external_ticket_id": "22da8c851b3c4e94e04a639ead4bcb68"
                        },
                        {
                          "request_item_id": "869aeeed1bb08a10506aa8e82d4bcb80",
                          "request_item_number": "RITM0012676",
                          "external_ticket_number": "TASK0329564",
                          "external_ticket_id": "22da8c851b3c4e94e04a639ead4bcb68"
                        }
                      ],
                      "external_request_number": "REQ0433028"
                    },
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "59d338911b4406d05ea497d58d4bcbc0",
                    "quantity": "1",
                    "variables": {
                      "order_type": "New user",
                      "persona": "Standard Laptop (Recommended)",
                      "type_of_model": "Standard",
                      "first_name": "Lenovo Customer",
                      "last_name": "User2",
                      "phone_number": "001789000",
                      "requestor_email_var": "lenovo.customer.user2@sample.com",
                      "email_address": "lenovo.customer.user2@sample.com",
                      "address1": "3574 SamplE Road",
                      "address2": "",
                      "city": "Camp Hill",
                      "state": "Pennsylvania",
                      "country_code": "US",
                      "postal_code": "17011",
                      "remote_flag": "Yes",
                      "cost_center": "CC02390",
                      "external_ticket_id": "22da8c851b3c4e94e04a639ead4bcb68",
                      "external_ticket_number": "TASK0329564"
                    }
                  },
                  {
                    "catitem": "59d338911b4406d05ea497d58d4bcbc0",
                    "quantity": "1",
                    "variables": {
                      "order_type": "New user",
                      "persona": "Standard Accessory Bundle",
                      "type_of_model": "Standard",
                      "first_name": "Lenovo Customer",
                      "last_name": "User2",
                      "phone_number": "001789000",
                      "requestor_email_var": "lenovo.customer.user2@sample.com",
                      "email_address": "lenovo.customer.user2@sample.com",
                      "address1": "3585 Sample Road",
                      "address2": "",
                      "city": "Camp Hill",
                      "state": "Pennsylvania",
                      "country_code": "US",
                      "postal_code": "17011",
                      "remote_flag": "Yes",
                      "cost_center": "CC02390",
                      "external_ticket_id": "22da8c851b3c4e94e04a639ead4bcb68",
                      "external_ticket_number": "TASK0329564"
                    }
                  }
                ],
                "external_request_id": "04da40851b3c4e94e04a639ead4bcbdf",
                "external_request_number": "REQ0433028",
                "requestor_email": "lenovo.customer.user2@sample.com",
                "account_id": "1213974987"
              }
            }
          }
        }
      }
    },
    "/update-request-comments": {
      "put": {
        "summary": "Update Request Comments",
        "description": "Updates the comments on an existing request in Lenovo ServiceNow.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_request",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_update_request",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "request_number": "REQ0014518",
                    "request_sys_id": "ff787a47db92e1501e9f543ed396196f",
                    "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                    "external_request_number": "REQ01",
                    "account_id": "1216976037",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "sys_id": "1c729d77dbb9a9101e9f543ed396196d",
                "comments": "testing Comments"
              }
            }
          }
        }
      }
    },
    "/device-acceptance": {
      "put": {
        "summary": "Device Acceptance/Rejection",
        "description": "Updates assets with acceptance or rejection decisions, creating follow-up tasks as needed.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "alm_hardware",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_device_acceptance",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "serial_number": "78678678980",
                    "table": "alm_hardware",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "serial_number": "78678678980",
                "acceptance_status": "Rejected",
                "rejection_reason": "DOA",
                "GTIattachmentName": "test.txt",
                "GTIattachmentMime": "text/plain",
                "GTIattachmentPayload": "TGV0J3Mgc3RhcnQgYnkgbGlua2luZyB5b3VyIFNlcnZpY2VOb3cgYWNjb3VudC4gSW4gY2FzZSB5b3UgZG9uJ3Qgd2FudCB0byBjb25uZWN0IHlvdXIgYWNjb3VudCwgcGxlYXNlIGVudGVyIHlvdXIgcmVxdWVzdC4K"
              }
            }
          }
        }
      }
    },
    "/create-case": {
      "post": {
        "summary": "Create Case",
        "description": "Creates a new warranty case in Lenovo ServiceNow.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sn_customerservice_case",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_create_case",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "transactionIndicator": "SYSTEM_INTEGRATOR",
                    "number": "CS0001088",
                    "sys_id": "fc379d6ddbccca101e9f543ed3961932",
                    "external_ticket_number": "bnhnxx123",
                    "endClient": "Legal Entity name for End Customer",
                    "endClientId": "PG000000770623445",
                    "external_ticket_id": "abc1xx23",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "serial_number": "SCTASK0015498",
                "customer_first": "Yayaxxxx",
                "customer_last": "Kahaxxxx",
                "customer_phone": "9999999",
                "customer_email": "ahxxxxx@lenovo.com",
                "address": "27856, Chalxxxx Road",
                "country": "US",
                "loc_state": "NY",
                "city": "New York",
                "postal_code": "1234",
                "short_description": "Short Description1",
                "description": "Description1",
                "troubleshooting_steps": "troubleshooting steps Description1",
                "system_bios_version_csm": "system_bios_version_csm",
                "external_ticket_id": "2d005f84dba2e5501e9f543ed39619ad",
                "external_ticket_number": "bnhn123",
                "GTIattachmentName": "test3.txt",
                "GTIattachmentMime": "text/plain",
                "GTIattachmentPayload": "TGV0J3Mgc3RhcnQgYnkgbGlua2luZyB5b3VyIFNlcnZpY2VOb3cgYWNjb3VudC4gSW4gY2FzZSB5b3UgZG9uJ3Qgd2FudCB0byBjb25uZWN0IHlvdXIgYWNjb3VudCwgcGxlYXNlIGVudGVyIHlvdXIgcmVxdWVzdC4K"
              }
            }
          }
        }
      }
    },
    "/update-case": {
      "put": {
        "summary": "Update Case Comments/Attachments",
        "description": "Updates a warranty case with comments or attachments.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "Content-Type is set in  http header"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "To be set in HTTP Header. Corresponds to request  table of ServiceNow."
            },
            "example": "sn_customerservice_case",
            "description": "sn_customerservice_case",
            "required": true
          },
          {
            "name": "GTItype",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 40,
              "example": "To be set in HTTP Header. Corresponds to type of  API request."
            },
            "example": "std_update_case",
            "description": "std_update_case",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "number": "CS0001709",
                    "sys_id": "eb431bb71be2e1106bae20a9bd4bcbd9",
                    "external_ticket_number": "bnhn123",
                    "external_ticket_id": "2d005f84dba2e5501e9f543ed39619ad",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "Mandatory element <<Element Name>> was not found in the request",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN005": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Record not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "sys_id": "3f316e5b1b2661106bae20a9bd4bcba4",
                "comments": "adding more commenmts",
                "GTIattachmentName": "test3.txt",
                "GTIattachmentMime": "text/plain",
                "GTIattachmentPayload": "TGV0J3Mgc3RhcnQgYnkgbGlua2luZyB5b3VyIFNlcnZpY2VOb3cgYWNjb3VudC4gSW4gY2FzZSB5b3UgZG9uJ3Qgd2FudCB0byBjb25uZWN0IHlvdXIgYWNjb3VudCwgcGxlYXNlIGVudGVyIHlvdXIgcmVxdWVzdC4K"
              }
            }
          }
        }
      }
    },
    "/reopen-case": {
      "put": {
        "summary": "Reopen Case",
        "description": "Reopens an existing warranty case in Lenovo ServiceNow.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in http  header ",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header.  Corresponds to request  table of ServiceNow.",
              "maxLength": 100
            },
            "example": "sn_customerservice_case",
            "description": "sn_customerservice_case"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "To be set in HTTP Header.  Corresponds to type of API  request.",
              "maxLength": 40
            },
            "example": "std_reopen_case",
            "description": "std_reopen_case"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "number": "CS0001709",
                    "sys_id": "eb431bb71be2e1106bae20a9bd4bcbd9",
                    "external_ticket_number": "bnhn123",
                    "external_ticket_id": "2d005f84dba2e5501e9f543ed39619ad",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "Mandatory element <<Element Name>> was not found in the request",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN005": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Record not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "sys_id": "3f316e5b1b2661106bae20a9bd4bcba4",
                "comments": "Reopening as price is incorrect"
              }
            }
          }
        }
      }
    },
    "/customer-asset-update": {
      "put": {
        "summary": "Customer Additional Asset Update",
        "description": "Updates additional asset information in Lenovo ServiceNow.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in http  header",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header.  Corresponds to request table  of ServiceNow. ",
              "maxLength": 100
            },
            "example": "alm_hardware",
            "description": "alm_hardware"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header.  Corresponds to type of API  request.",
              "maxLength": 40
            },
            "example": "std_customer_asset_update",
            "description": "std_additional_asset_update"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "message": "Asset updated successfully",
                    "serialNumber": "SCTASK00217502",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "Mandatory element <<Element Name>> was not found in the request",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN005": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Record not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "assignedTo": "abc.test@user.com",
                "managedBy": "abc.test@user.com",
                "ownedBy": "abc.test@user.com",
                "accountString": "124156789",
                "cost_center": "CC02395",
                "serialNumber": "SN123456789",
                "state": "In Transit",
                "substate": "Pending donation",
                "location": "1213622450"
              }
            }
          }
        }
      }
    },
    "/create-return-order": {
      "post": {
        "summary": "Create Return Order",
        "description": "Creates a return order in Lenovo ServiceNow and returns request details.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in  http header ",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP  Header. Corresponds  to request table of  ServiceNow. ",
              "maxLength": 100
            },
            "example": "sc_request",
            "description": "sc_request"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP  Header. Corresponds  to type of API request. ",
              "maxLength": 40
            },
            "example": "std_create_order_return_order",
            "description": "std_create_order_return_order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "account_id": "1216975459",
                    "req_items": [
                      {
                        "request_item_id": "502b9e1ddb1721101e9f543ed3961953",
                        "request_item_number": "RITM0015690",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "RITM8789789"
                      },
                      {
                        "request_item_id": "b71b9e1ddb1721101e9f543ed396193a",
                        "request_item_number": "RITM0015689",
                        "external_ticket_number": "RITM002",
                        "external_ticket_id": "2d005f84dba2e5501e9f543ed39619ad"
                      }
                    ],
                    "request_sys_id": "ff1b9e1ddb1721101e9f543ed3961939",
                    "request_number": "REQ0015353",
                    "external_request_number": "REQ01",
                    "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1.Mandatory element <<Element Name>> was not found in the request OR 2. Please provide a valid order_type OR 3. There is no valid PO available for this item\\''s contract  OR 4. Invalid catitem value, please pass a valid catalog item id OR 5. The Serial Number already has an open Return Request REQXXXXXXX",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Requestor Email (requestor_email) must be an existing user ",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Requestor Email (requestor_email) must be an existing user"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "1355359e1b029d106bae20a9bd4bcb83",
                    "variables": {
                      "requestor_email_var": "primary.acc.xxxxxx@lenovo.com",
                      "return_type": "Storage",
                      "delivery_pickup": "false",
                      "first_name": "User2",
                      "last_name": "User2",
                      "delivery_phone": "1111111",
                      "delivery_email": "primary.acc.xxxxxx@lenovo.com",
                      "address1": "Lvxxx 5, 12 Colxxxx St",
                      "address2": "collins st",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "requested_pick_up_date": "2023-05-27",
                      "request_packaging_material": "true",
                      "package_quantity": "1",
                      "box_size": "Medium Box",
                      "serial_number": "SCTASK0016755",
                      "refresh_order_number": "REQ0039851",
                      "special_instructions": "Test request by XX",
                      "external_ticket_id": "2d005f84dba2e5501e9f543ed39619ad",
                      "external_ticket_number": "RITM001",
                      "device_exchange_request": "REQ0012552"
                    }
                  },
                  {
                    "catitem": "1355359e1b029d106bae20a9bd4bcb83",
                    "variables": {
                      "requestor_email_var": "primary.acc.xxxxxx@lenovo.com",
                      "return_type": "Disposal",
                      "delivery_pickup": "true",
                      "first_name": "User2",
                      "last_name": "User2",
                      "delivery_phone": "1111111",
                      "delivery_email": "primary.acc.xxxxxx@lenovo.com",
                      "address1": "Lvxxx 5, 12 Colxxxx St",
                      "address2": "collins st",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "requested_pick_up_date": "2023-05-27",
                      "request_packaging_material": "true",
                      "package_quantity": "1",
                      "box_size": "Slim Box",
                      "serial_number": "SCTASK0016723",
                      "special_instructions": "Test request by XX",
                      "external_ticket_id": "2d005f84dba2e5501e9f543ed39619ad",
                      "external_ticket_number": "RITM002",
                      "device_exchange_request": "REQ0012552"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                "external_request_number": "REQ01",
                "requestor_email": "primary.acc.xxxxxx@lenovo.com",
                "account_id": "1216745459"
              }
            }
          }
        }
      }
    },
    "/catalog-approval": {
      "put": {
        "summary": "Catalog Approval",
        "description": "Approves a catalog item from the customer side.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in  http header",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP  Header. Corresponds to  request table of  ServiceNow. ",
              "maxLength": 100
            },
            "example": "sc_cat_item",
            "description": "sc_cat_item"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP  Header. Corresponds to  request table of  ServiceNow. ",
              "maxLength": 40
            },
            "example": "std_catalog_publish_approve",
            "description": "std_catalog_publish_approve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "catalog_item_id": "1e6b9ea1dbd361101e9f543ed3961958",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "Mandatory element <<Element Name>> was not found in the request",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN005": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Record not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "catalog_item_id": "1e6b9ea1dbd361101e9f543ed3961958",
                "comments": "approving"
              }
            }
          }
        }
      }
    },
    "/catalog-reject": {
      "put": {
        "summary": "Catalog Reject",
        "description": "Rejects a catalog item from the customer side.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in http header",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow.",
              "maxLength": 100
            },
            "example": "sc_cat_item",
            "description": "sc_cat_item"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 40,
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow."
            },
            "example": "std_catalog_publish_reject",
            "description": "std_catalog_publish_reject"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "catalog_item_id": "1e6b9ea1dbd361101e9f543ed3961958",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request."
                  }
                }
              }
            }
          },
          "SN005": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Record not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "catalog_item_id": "1e6b9ea1dbd361101e9f543ed3961958",
                "comments": "rejecting"
              }
            }
          }
        }
      }
    },
    "/create-early-termination": {
      "post": {
        "summary": "Create Early Termination",
        "description": "Creates an early termination request for an asset.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in http header",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow.",
              "maxLength": 100
            },
            "example": "sc_request",
            "description": "sc_request"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to type of API request. ",
              "maxLength": 40
            },
            "example": "std_create_order_early_termination",
            "description": "std_create_order_early_termination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "req_items": [
                      {
                        "request_item_id": "29a362d5db5721101e9f543ed396195b",
                        "request_item_number": "RITM0015692",
                        "external_ticket_number": "RITM002",
                        "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990"
                      },
                      {
                        "request_item_id": "d5a362d5db5721101e9f543ed3961931",
                        "request_item_number": "RITM0015691",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "1c729d77dbb9a9101e9f543ed39dfdf34"
                      }
                    ],
                    "request_sys_id": "51a362d5db5721101e9f543ed3961931",
                    "request_number": "REQ0015354",
                    "account_id": "1216975459",
                    "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                    "external_request_number": "REQ01",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request. OR 2. Please provide a valid order_type OR 3. There is no valid PO available for this item''s contract OR 4.Invalid catitem value, please pass a valid catalog item id OR 5. Transaction PO Number Length cannot be greater than 35 characters OR 6. The Serial Number already has an open Return Request REQXXXXXXX",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "1. Mandatory element <<Element Name>> was not found in the request."
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Requestor Email (requestor_email) must be an existing user",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN020",
                    "GTIerror_message": "Requestor Email (requestor_email) must be an existing user."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "95efc7a91b5f5910298399f2b24bcbac",
                    "quantity": "1",
                    "variables": {
                      "requestor_email_var": "primary.acc.xxxxx@lenovo.com",
                      "serial_number": "SCTASK0016723",
                      "po_number": "ES00000251",
                      "reason_for_termination": "Damaged Beyond Repair",
                      "device_status": "Without Device Return",
                      "police_report": "Not reported yet",
                      "justification_comments": "damaged beyond repair",
                      "external_ticket_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                      "external_ticket_number": "RITM001",
                      "special_instructions": "test"
                    }
                  },
                  {
                    "catitem": "95efc7a91b5f5910298399f2b24bcbac",
                    "quantity": "1",
                    "variables": {
                      "requestor_email_var": "primary.acc.xxxxx@lenovo.com",
                      "serial_number": "SCTASK0016755",
                      "po_number": "ES00000251",
                      "reason_for_termination": "Damaged Beyond Repair",
                      "device_status": "Without Device Return",
                      "police_report": "Not reported yet",
                      "justification_comments": "damaged beyond repair",
                      "external_ticket_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                      "external_ticket_number": "RITM002",
                      "special_instructions": "test"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                "external_request_number": "REQ01",
                "requestor_email": "primary.acc.xxxxxx@lenovo.com",
                "account_id": "1216975459"
              }
            }
          }
        }
      }
    },
    "/acknowledge-charge": {
      "put": {
        "summary": "Acknowledge Charge",
        "description": "Acknowledges or rescinds the early termination charge.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in http header",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow.",
              "maxLength": 100
            },
            "example": "sc_task",
            "description": "sc_task"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 40,
              "example": "To be set in HTTP Header. Corresponds to request table of  ServiceNow."
            },
            "example": "std_et_charge_ack",
            "description": "std_et_charge_ack"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "sys_id": "d2a3a2d5db5721101e9f543ed3961921",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "Mandatory element <<Element Name>> was not found in the request",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request."
                  }
                }
              }
            }
          },
          "SN005": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN005",
                    "GTIerror_message": "Record not found"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "charge_decision": "Rejected",
                "charge_task_id": "d2a3a2d5db5721101e9f543ed3961921",
                "comments": "this is the customers decision"
              }
            }
          }
        }
      }
    },
    "/create-flex-pause-remote": {
      "post": {
        "summary": "Create Flex Pause Remote Request",
        "description": "Creates a flex pause remote request and returns the details.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "Content-Type is set in http header"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow",
              "maxLength": 100
            },
            "example": "sc_request",
            "description": "sc_request"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to type of API request. ",
              "maxLength": 40
            },
            "example": "std_create_order_flex_pause_remote",
            "description": "std_create_order_flex_pause_remote"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                    "invalid_serial_numbers": "SCTASK0016647,wrong1",
                    "account_id": "1216778037",
                    "external_request_number": "REQ01",
                    "req_items": [
                      {
                        "request_item_id": "a218e44adb3f21901e9f543ed3961948",
                        "request_item_number": "RITM0017185",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "7647d2fb1bc375106bae20a9bd4bcba3"
                      }
                    ],
                    "request_sys_id": "2e18e44adb3f21901e9f543ed3961947",
                    "request_number": "REQ0016635",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request. OR 2. Please provide a valid order_type OR 3. There is no valid PO available for this item''s contract OR 4.Invalid catitem value, please pass a valid catalog item id",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "1. Mandatory element <<Element Name>> was not found in the request."
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Requestor Email (requestor_email) must be an existing user",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN020",
                    "GTIerror_message": "Requestor Email (requestor_email) must be an existing user."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "9e8c6084dbaba9101e9f543ed39619e1",
                    "variables": {
                      "requestor_email_var": "lenovo.customer.user1@sample.com",
                      "serial_number": "SCTASK0019477-1,SCTASK0016647,xxxxx",
                      "asset_manager": "COT",
                      "external_ticket_id": "7647d2fb1bc375106bae20a9bd4bcba3",
                      "external_ticket_number": "RITM001"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                "external_request_number": "REQ01",
                "requestor_email": "lenovo.customer.user1@sample.com",
                "account_id": "1216974037"
              }
            }
          }
        }
      }
    },
    "/create-flex-pause-return": {
      "post": {
        "summary": "Create Flex Pause Return Request",
        "description": "Creates a flex pause return request and returns the details.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Content-Type is set in http header",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to request table of  ServiceNow",
              "maxLength": 100
            },
            "example": "sc_request",
            "description": "sc_request"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to type of API request. ",
              "maxLength": 40
            },
            "example": "std_create_order_flex_pause_return",
            "description": "std_create_order_flex_pause_return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "account_id": "121746037",
                    "req_items": [
                      {
                        "request_item_id": "f029604edb3f21901e9f543ed396195e",
                        "request_item_number": "RITM0017186",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990"
                      }
                    ],
                    "request_number": "REQ0016636",
                    "invalid_serial_numbers": "SCTASK0016647,wrong1",
                    "external_request_number": "REQ01",
                    "request_sys_id": "bc29604edb3f21901e9f543ed396195",
                    "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request. OR 2. Please provide a valid order_type OR 3. There is no valid PO available for this item''s contract OR 4.Invalid catitem value, please pass a valid catalog item id OR 5.The Serial Number already has an open Return Request REQXXXXXXX",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "1. Mandatory element <<Element Name>> was not found in the request."
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Requestor Email (requestor_email) must be an existing user",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN020",
                    "GTIerror_message": "Requestor Email (requestor_email) must be an existing user."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "29e2e458dbe7e9101e9f543ed3961995",
                    "variables": {
                      "requestor_email_var": "lenovo.customer.user1@sample.com",
                      "serial_number": "SCTASK0019477-1,SCTASK0016647,wrong1",
                      "asset_manager": "Customer Asset Manager",
                      "delivery_pickup": "false",
                      "first_name": "User2",
                      "last_name": "User2",
                      "delivery_phone": "1111111",
                      "delivery_email": "primary.acc.xxxxxx@lenovo.com",
                      "address1": "Lxxx 5xx, 1 Collxxx St",
                      "address2": "collins st",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "requested_pick_up_date": "2023-05-27",
                      "request_packaging_material": "true",
                      "package_quantity": "1",
                      "box_size": "Medium Box",
                      "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990",
                      "external_ticket_number": "RITM001",
                      "special_instructions": "Test instructions"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                "external_request_number": "REQ01",
                "requestor_email": "lenovo.customer.user1@sample.com",
                "account_id": "121747037"
              }
            }
          }
        }
      }
    },
    "/create-flex-unpause": {
      "post": {
        "summary": "Create Flex Un-Pause Request",
        "description": "Creates a flex un-pause request and returns the details.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "Content-Type is set in http header"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow."
            },
            "example": "sc_request",
            "description": "sc_request",
            "required": true
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 40,
              "example": "To be set in HTTP Header. Corresponds to type of API request."
            },
            "example": "std_create_order_flex_unpause",
            "description": "std_create_order_flex_ unpause"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "request_number": "REQ0016637",
                    "request_sys_id": "bd1ae402db7f21901e9f543ed396192e",
                    "account_id": "1216976037",
                    "invalid_serial_numbers": "SCTASK0015381,SCTASK0015490-001,wrongsn1",
                    "external_request_number": "REQ01",
                    "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                    "req_items": [
                      {
                        "request_item_id": "f11ae402db7f21901e9f543ed396192f",
                        "request_item_number": "RITM0017187",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990"
                      }
                    ],
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request. OR 2. Please provide a valid order_type OR 3. There is no valid PO available for this item\\''s contract OR 4.Invalid catitem value, please pass a valid catalog item id",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "1. Mandatory element <<Element Name>> was not found in the request."
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Requestor Email (requestor_email) must be an existing user",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN020",
                    "GTIerror_message": "Requestor Email (requestor_email) must be an existing user."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "c2e324d8dbe7e9101e9f543ed396199f",
                    "variables": {
                      "requestor_email_var": "lenovo.customer.user1@sample.com",
                      "serial_number": "SCTASK0015381,SCTASK0018573_01,SCTASK0015490-001,wrongsn1",
                      "asset_manager": "Customer Asset Manager",
                      "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990",
                      "external_ticket_number": "RITM001"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed39dfdf34",
                "external_request_number": "REQ01",
                "requestor_email": "lenovo.customer.user1@sample.com",
                "account_id": "1216976037"
              }
            }
          }
        }
      }
    },
    "/create-flex-down": {
      "post": {
        "summary": "Create Flex Down Request",
        "description": "Creates a flex down request and returns the details.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "Content-Type is set in http header"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header.  Corresponds to request table of  ServiceNow",
              "maxLength": 100
            },
            "example": "sc_request",
            "description": "sc_request",
            "required": true
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header.  Corresponds to type of API request.",
              "maxLength": 40
            },
            "example": "std_create_order_flex_down",
            "description": "std_create_order_flex_down"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "external_request_number": "REQ01",
                    "request_sys_id": "c16db082dbff21901e9f543ed39619b6",
                    "invalid_serial_numbers": "SCTASK0016647,wrong1",
                    "external_request_id": "6d4443b3db7e75101e9f543ed3961990",
                    "req_items": [
                      {
                        "request_item_id": "096db082dbff21901e9f543ed39619b6",
                        "request_item_number": "RITM0017194",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990"
                      }
                    ],
                    "request_number": "REQ0016643",
                    "account_id": "1216976037",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1.Mandatory element <<Element Name>> was not found in the request OR 2. Please provide a valid order_type OR 3. There is no valid PO available for this item\\''s contract  OR 4. Invalid catitem value, please pass a valid catalog item id OR 5. The Serial Number already has an open Return Request REQXXXXXXX",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Requestor Email (requestor_email) must be an existing user",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN020",
                    "GTIerror_message": "Requestor Email (requestor_email) must be an existing user"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "e9146c98dbe7e9101e9f543ed396196c",
                    "variables": {
                      "requestor_email_var": "lenovo.customer.user1@sample.com",
                      "serial_number": "SCTASK0019477-1,SCTASK0016647,wrong1",
                      "asset_manager": "Customer Asset Manager",
                      "delivery_pickup": "false",
                      "first_name": "User2",
                      "last_name": "User2",
                      "delivery_phone": "1111111",
                      "delivery_email": "primary.acc.xxxxxx@lenovo.com",
                      "address1": "xxxxxxxxxxxxxxxxxxxx",
                      "address2": "collins st",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "requested_pick_up_date": "2023-05-27",
                      "request_packaging_material": "true",
                      "package_quantity": "1",
                      "box_size": "Medium Box",
                      "external_ticket_id": "6d4443b3db7e75101e9f543ed3961990",
                      "special_instructions": "xxxxxxxxxxxx",
                      "external_ticket_number": "RITM001"
                    }
                  }
                ],
                "external_request_id": "6d4443b3db7e75101e9f543ed3961990",
                "external_request_number": "REQ01",
                "requestor_email": "lenovo.customer.user1@sample.com",
                "account_id": "1216976037"
              }
            }
          }
        }
      }
    },
    "/create-recurring-managed-service": {
      "post": {
        "summary": "Create Recurring Managed Service",
        "description": "Creates a recurring managed service request.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow."
            },
            "example": "sc_request",
            "description": "sc_request"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to type of API request.",
              "maxLength": 40
            },
            "example": "std_create_order_recurring_service",
            "description": "std_create_order_recurring_service"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "request_sys_id": "5888e2f31b7c8a106bae20a9bd4bcbc2",
                    "request_number": "REQ0012363",
                    "req_items": "[{\"request_item_id\":\"9c88e2f31b7c8a106bae20a9bd4bcbc2\",\"request_item_number\":\"RITM0012472\",\"external_ticket_number\":\"RITM001\",\"external_ticket_id\":\"RITM8789789\"}]",
                    "external_request_number": "REQ01",
                    "account_id": "1216288884",
                    "external_request_id": "REQ9898",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request OR 2. Either service type is Incorrect or Inactive or Non- Recurring or no service found for given account OR 3. Atleast one of the serial numbers sent is Incorrect or Requested Service has Not been actived for the Asset yet. Please contact EAAS administrator for more Information. OR 4.Invalid catitem value, please pass a valid catalog item id",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          },
          "SN020": {
            "description": "Please send valid Requester Email (requestor_email_var) or set Default API User or Primary Contact on Account.",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN020",
                    "GTIerror_message": "Please send valid Requester Email (requestor_email_var) or set Default API User or Primary Contact on Account."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "c3f241521bc61d10298399f2b24bcb3e",
                    "variables": {
                      "requestor_email_var": "soxxxxxx@dexxxxx.com",
                      "email_address": "daaxxxxxxxxxxxxxx@outxxxx.com",
                      "serial_number": "PC2H3QCR,PF3ZGBBW",
                      "service_description": "test service",
                      "first_name": "test",
                      "last_name": "cca",
                      "address": "xxxxxxxxxxxxxxxxxx",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "phone_number": "78742485421",
                      "external_ticket_id": "RITM8789789",
                      "external_ticket_number": "RITM001",
                      "service_type": "SUB1L18197"
                    }
                  }
                ],
                "external_request_id": "REQ9898",
                "external_request_number": "REQ01",
                "account_id": "1216281884"
              }
            }
          }
        }
      }
    },
    "/read-asset-data": {
      "get": {
        "summary": "Read Asset Data",
        "description": "Retrieves asset information for a given account.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "Content-Type is set in http header"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow.",
              "maxLength": 100
            },
            "example": "alm_hardware",
            "description": "alm_hardware"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "To be set in HTTP Header. Corresponds to type of API request.",
              "maxLength": 40
            },
            "example": "get_asset_details_for_account",
            "description": "API request type"
          },
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of account numbers to search for."
          },
          {
            "name": "billing_status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Billing status (Active or Inactive)."
          },
          {
            "name": "GTIpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "success",
                    "GTIResultsFound": "30",
                    "GTIResults": [
                      {
                        "subscription_start_date": "",
                        "subscription_end_date": "",
                        "model": "MacBook Pro 16\" (M1 Pro)",
                        "serial_number": "SCTASK00119821",
                        "state": "In stock",
                        "assigned_to": "Kxxxxxxx End User",
                        "account": "{\"account_name\":\"TXX YUOXXXX PXX LTD--sit\",\"account_id\":\"1216977418\"}",
                        "substate": "Retired - Replaced Faulty",
                        "billing_status": "Inactive"
                      },
                      {
                        "subscription_start_date": "2024-03-01",
                        "subscription_end_date": "2027-02-28",
                        "model": "MacBook Pro 16\" (M1 Pro)",
                        "serial_number": "SCTASK00122931",
                        "state": "In stock",
                        "assigned_to": "XXX XXXXXXX Contact",
                        "account": "{\"account_name\":\"XXXXXXXXXXX XXX LTD--sit\",\"account_id\":\"1216975678\"}",
                        "substate": "Available",
                        "billing_status": "Inactive"
                      }
                    ]
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Please enter the account number in the query parameter. It is a mandatory attribute. OR 2.Account 1217462390 number does not exist in Lenovo. OR 3.Account ID(account_id) is not in hierarchy for 1213128674",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Please enter the account number in the query parameter. It is a mandatory attribute."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/create-refresh-order": {
      "post": {
        "summary": "Create Refresh Order",
        "description": "Creates a refresh order in Lenovo ServiceNow for approved catalog items.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "Content-Type is set in http header"
            },
            "example": "application/json",
            "description": "application/json"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "example": "To be set in HTTP Header. Corresponds to request table of ServiceNow."
            },
            "example": "sc_request",
            "description": "sc_request"
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 40,
              "example": "To be set in HTTP Header. Corresponds to type of API request."
            },
            "example": "std_refresh_order",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "account_id": "1216975678",
                    "req_items": [
                      {
                        "request_item_id": "22b825be1b1942d06bae20a9bd4bcb6c",
                        "request_item_number": "RITM0013247",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "YYYYY"
                      }
                    ],
                    "request_number": "REQ0013093",
                    "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                    "request_sys_id": "eab825be1b1942d06bae20a9bd4bcb6b",
                    "external_request_number": "REQ01",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          },
          "SN030": {
            "description": "1. Mandatory element <<Element Name>> was not found in the request OR 2.Requestor Email (requestor_email) must be an existing user OR 3.There is no valid configuration for the given Persona, Type of Model, and Model Number! OR 4.There is no valid Asset Eligible for Refresh for this Serial Number! OR 5.There is no valid Model available for this Model/Product Number! OR 6.Refresh is not enabled for this Account number! OR 7.There is no valid PO available for this item\\''s contract OR 8.Invalid catitem value, please pass a valid catalog item id OR 9.Transaction PO Number Length cannot be greater than 35 characters",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "GTIstatus": "error",
                    "GTIerror_code": "SN030",
                    "GTIerror_message": "Mandatory element <<Element Name>> was not found in the request"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "6d018cc21b65a9106bae20a9bd4bcb94",
                    "variables": {
                      "requestor_email_var": "xxx.primary@lenovo.com",
                      "first_name": "LenovoCustomer",
                      "last_name": "User2",
                      "phone_number": "1111111",
                      "email_address": "xxs.primary@example.com",
                      "address1": "Lvl50,120CollinsSt",
                      "address2": "",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "remote_flag": "Yes",
                      "type_of_model": "Non-Standard",
                      "persona": "6",
                      "model_number": "20U90028US",
                      "serial_number": "SCTASK001153021",
                      "catalog_item_sysid": "b68348b21b1e12100aebfe261a4bcbf",
                      "special_instructions": "Thesearespecialinstructions1",
                      "external_ticket_id": "YYYYY",
                      "external_ticket_number": "RITM001"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                "external_request_number": "REQ01",
                "requestor_email": "xccc@sample.com",
                "account_id": "1216975678"
              }
            }
          }
        }
      }
    },
    "/activate-recurring-managed-service": {
      "post": {
        "summary": "Activate Recurring Managed Service",
        "description": "Activates a recurring managed service for specified assets.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_request",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_managed_service_activation",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "req_items": "[{\"request_item_id\":\"477dba681bc682106bae20a9bd4bcb22\",\"request_item_number\":\"RITM0013867\",\"external_ticket_number\":\"RITM001\",\"external_ticket_id\":\"RITM8789789\"}]",
                    "external_request_id": "REQ9898",
                    "account_id": "1217512355",
                    "request_number": "REQ0013645",
                    "external_request_number": "REQ01",
                    "request_sys_id": "037dba681bc682106bae20a9bd4bcb22",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "32eab3e71b7e7550455d2f81b24bcb14",
                    "variables": {
                      "requestor_email_var": "soxxxxxxx@dexxxxx.com",
                      "serial_number": "PC2H3QCR",
                      "external_ticket_id": "RITM8789789",
                      "external_ticket_number": "RITM001",
                      "bill_to_account": "1216975678"
                    }
                  }
                ],
                "external_request_id": "REQ9898",
                "external_request_number": "REQ01",
                "account_id": "1217512355"
              }
            }
          }
        }
      }
    },
    "/order-one-time-charge-service": {
      "post": {
        "summary": "Order One-Time Charge Service",
        "description": "Orders a one-time charge service for certain assets.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_request",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_order_one_time_charge_service",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "request_sys_id": "827a31b01b0ac2106bae20a9bd4bcbaf",
                    "external_request_id": "REQ9898",
                    "account_id": "1216965678",
                    "external_request_number": "REQ01",
                    "req_items": [
                      {
                        "request_item_id": "c67a31b01b0ac2106bae20a9bd4bcbaf",
                        "request_item_number": "RITM0013875",
                        "external_ticket_number": "RITM001",
                        "external_ticket_id": "RITM8789789"
                      }
                    ],
                    "request_number": "REQ0013653",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "catitem": "1d522f4a1bde1950298399f2b24bcbdc",
                    "variables": {
                      "requestor_email_var": "phxxxxxxx1@example",
                      "email_address": "daaxxxxxxxxxxxxxxx@ouxxxx.com",
                      "service_type": "5MS1C86906",
                      "serial_number": "SRTEST02",
                      "service_description": "test service",
                      "first_name": "test",
                      "last_name": "cca",
                      "quantity": "1",
                      "address": "xxxxxxxxxxxxxxxxxx",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "3000",
                      "phone_number": "78742485421",
                      "external_ticket_id": "RITM8789789",
                      "external_ticket_number": "RITM001",
                      "bill_to_account": "1274416911"
                    }
                  }
                ],
                "external_request_id": "REQ9898",
                "external_request_number": "REQ01",
                "account_id": "1216425678"
              }
            }
          }
        }
      }
    },
    "/service-acceptance": {
      "put": {
        "summary": "Service Acceptance",
        "description": "Accepts a service task once it has been fulfilled.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "sc_task",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_service_acceptance",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "service_task_number": "SCTASK0013476",
                    "table": "alm_hardware",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "acceptance_status": "Accept",
                "service_task_number": "SCTASK0013476"
              }
            }
          }
        }
      }
    },
    "/create-advance-exchange": {
      "post": {
        "summary": "Create Advance Exchange Request",
        "description": "Creates an advance exchange request for specified assets.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "application/json",
            "description": "MIME type of the body of the request"
          },
          {
            "name": "GTItable",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "u_model_price_update",
            "description": "Name of the ServiceNow table to be used for the request."
          },
          {
            "name": "GTItype",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "std_advance_exchange_request",
            "description": "Type of the API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "result": {
                    "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                    "external_request_number": "REQ01",
                    "request_number": "REQ0063069",
                    "account_id": "1213622450",
                    "req_items": [
                      {
                        "return_request_item_id": "82f306fb3b03ee54a55f538e53e45ab5",
                        "return_request_item_number": "RITM0065441",
                        "request_item_id": "c2f306fb3b03ee54a55f538e53e45a7a",
                        "request_item_number": "RITM0065440",
                        "external_ticket_id": "TEST123456",
                        "external_ticket_number": "RITM001"
                      }
                    ],
                    "request_sys_id": "4ef306fb3b03ee54a55f538e53e45a79",
                    "GTIstatus": "success"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "items": [
                  {
                    "variables": {
                      "requestor_email_var": "test@example.com",
                      "serial_number": "PXXXLW8",
                      "bill_to_account": "123456",
                      "po_number": "BXY_ManagedSXC_XN",
                      "first_name": "Axxx",
                      "last_name": "Bxxx",
                      "phone_number": "1111111",
                      "email_address": "test@example.com",
                      "address1": "Lvl 5X, 1X1 Collins",
                      "address2": "AXXX BXXXX CXXX",
                      "country_code": "AU",
                      "state": "VIC",
                      "city": "Melbourne",
                      "postal_code": "300085",
                      "requested_delivery_date": "2025-07-03",
                      "return_requested_pickup_date": "2025-07-03",
                      "return_first_name": "Axxx",
                      "return_last_name": "Bxxx",
                      "return_phone_number": "1344123",
                      "return_email_address": "test@example.com",
                      "return_address1": "Lvl 5X, 1X1 Collins",
                      "return_address2": "AXXX BXXXX CXXX",
                      "return_country_code": "AU",
                      "return_state": "VIC",
                      "return_city": "Melbourne",
                      "return_postal_code": "300085",
                      "special_instructions": "xxxxxxxxxxxx",
                      "return_special_instructions": "xxxxxxxxxxxx",
                      "return_request_packaging_material": true,
                      "return_package_quantity": "1",
                      "return_box_size": "Slim box",
                      "external_ticket_id": "TEST123456",
                      "external_ticket_number": "RITM001"
                    }
                  }
                ],
                "external_request_id": "1c729d77dbb9a9101e9f543ed396196d",
                "external_request_number": "REQ01",
                "account_id": "1213622450"
              }
            }
          }
        }
      }
    },
    "/create-damage-claim": {
      "post": {
        "summary": "Create Damage Fund Claim Request",
        "description": "Creates a damage fund claim request for customers with damage fund coverage.",
        "parameters": [
          {
[...]
