{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0",
    "title": "My API version 1",
    "description": "Specification for some random stuff",
    "contact": {
      "name": "Michal",
      "email": "michalkolasinski86@gmail.com",
      "url": "https://github.com/CoyoteTechWriter"
    },
    "license": {
      "name": "Licencja",
      "url": "license.com"
    },
    "termsOfService": "http://example.com/terms/",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/none-2ef-05d/MyAPI/1.0"
  },
  "components": {
    "parameters": {
      "playerStatusQ": {
        "name": "playerStatusQ",
        "in": "query",
        "description": "whether a player is retired or not",
        "schema": {
          "type": "string",
          "enum": [
            "active not retired",
            "retired"
          ],
          "default": "retired"
        }
      },
      "playerHealthStatusQ": {
        "name": "playerHealthStatus",
        "in": "query",
        "description": "injury and status of the injury",
        "schema": {
          "type": "string",
          "default": "leg injury",
          "maxLength": 40,
          "minLength": 8
        }
      },
      "nhlPlayerID": {
        "name": "playerID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^\\d\\d\\d\\d\\d$",
          "description": "five digits and digits only",
          "example": "12345"
        }
      }
    },
    "schemas": {
      "teamNames": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "example": "GKS Katowice"
          },
          "Active/Inactive": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "playerData": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "example": [
              "Patryk"
            ]
          },
          "lastName": {
            "type": "string",
            "example": [
              "Wronka"
            ]
          },
          "jerseyNumber": {
            "type": "integer",
            "example": [
              7
            ]
          },
          "teamZipCode": {
            "type": "string",
            "pattern": "^\\d\\d-\\d\\d\\d$",
            "example": [
              "42-589"
            ],
            "description": "The pattern is 2 digits followed by a hyphen and 3 other digits"
          },
          "teamShortCut": {
            "type": "string",
            "maxLength": 3,
            "minLength": 3,
            "description": "A short for a team",
            "enum": [
              "JKH",
              "KAT",
              "TYC",
              "TOR",
              "ZAG"
            ],
            "example": [
              "JKH"
            ]
          },
          "teamName": {
            "$ref": "#/components/schemas/teamNames"
          }
        }
      },
      "nhlPlayers": {
        "type": "object",
        "properties": {
          "playerName": {
            "type": "string",
            "example": [
              "Keith Tkachuk"
            ]
          },
          "playerNumber": {
            "type": "integer",
            "pattern": "^\\d\\d$",
            "description": "maximum of two digits"
          }
        }
      }
    }
  },
  "paths": {
    "/v1 THL Players": {
      "get": {
        "summary": "THL players",
        "description": "a search engine endpoint for Tauron Hokej Liga players",
        "tags": [
          "Tauron Hokej Liga"
        ],
        "operationId": "thlPlayersV1",
        "responses": {
          "200": {
            "description": "A list of THL Players",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/playerData"
                }
              }
            }
          }
        }
      }
    },
    "/v1 NHL Players": {
      "get": {
        "summary": "Players status and injury reports",
        "description": "More **advanced and structured** OA for NHL player search endpoint to see which are retired and/or injured",
        "tags": [
          "National Hockey League",
          "Player/team status"
        ],
        "operationId": "nhlPlayersV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/playerStatusQ"
          },
          {
            "$ref": "#/components/parameters/playerHealthStatusQ"
          }
        ]
      }
    },
    "/v1 NHL Players/{playerID}": {
      "get": {
        "summary": "NHL teams and players",
        "description": "An endpoinnt for NHL teams and players",
        "tags": [
          "National Hockey League"
        ],
        "operationId": "nhlPlayersIDV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/nhlPlayerID"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of NHL Players",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nhlPlayers"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://development.gigantic-server.com/v1",
      "description": "Just some server I guess"
    },
    {
      "url": "https://qa.example.com/",
      "description": "Quality Assurance"
    },
    {
      "url": "https://prod.example.com/",
      "description": "A producation server"
    }
  ]
}