{
  "openapi": "3.0.3",
  "info": {
    "title": "Bridge API",
    "description": "APIs to move into, out of, and between any form of a dollar",
    "version": "1",
    "x-jentic-source-url": "https://apidocs.bridge.xyz/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bridge.xyz/v0",
      "description": "The base path for all resources"
    }
  ],
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Fiat Payout Configuration"
    },
    {
      "name": "External Accounts"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Prefunded Accounts"
    },
    {
      "name": "Balances"
    },
    {
      "name": "Liquidation Addresses"
    },
    {
      "name": "Developers"
    },
    {
      "name": "Plaid"
    },
    {
      "name": "Virtual Accounts"
    },
    {
      "name": "Static Memos"
    },
    {
      "name": "Cards"
    },
    {
      "name": "Funds Requests"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Crypto Return Policies"
    },
    {
      "name": "Rewards"
    },
    {
      "name": "Associated Persons"
    },
    {
      "name": "Batch Settlements"
    },
    {
      "name": "Bridge Wallets"
    },
    {
      "name": "Exchange Rates"
    },
    {
      "name": "KYC Links"
    }
  ],
  "paths": {
    "/wallets": {
      "get": {
        "summary": "Get all Bridge Wallets",
        "description": "List of Bridge Wallets",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletEndingBeforeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Bridge Wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletsList"
                },
                "examples": {
                  "SuccessfulBridgeWalletListResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_wallets"
      }
    },
    "/wallets/total_balances": {
      "get": {
        "summary": "Get total balances of all Bridge Wallets",
        "tags": [
          "Bridge Wallets"
        ],
        "description": "Get the total balances of all Bridge Wallets",
        "responses": {
          "200": {
            "description": "Total balances of all Bridge Wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BridgeWalletTotalBalance"
                  }
                },
                "examples": {
                  "TotalBalancesFound": {
                    "$ref": "#/components/examples/SuccessfulTotalBalancesResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_wallets_total_balances"
      }
    },
    "/wallets/{bridgeWalletID}": {
      "get": {
        "summary": "Get a Bridge Wallet",
        "description": "Retrieve a Bridge Wallet by its ID",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BridgeWalletIDParameter"
          },
          {
            "name": "bridgeWalletID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Bridge Wallet object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletWithBalances"
                },
                "examples": {
                  "SuccessfulBridgeWalletGetResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletGetResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_wallets_bridgeWalletID"
      }
    },
    "/wallets/{bridgeWalletID}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/BridgeWalletIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/UpdatedAfterMsParameter"
        },
        {
          "$ref": "#/components/parameters/UpdatedBeforeMsParameter"
        }
      ],
      "get": {
        "summary": "Get transaction history for a Bridge Wallet",
        "tags": [
          "Bridge Wallets"
        ],
        "description": "Get the list of transactions involving this Bridge Wallet",
        "responses": {
          "200": {
            "description": "List of transactions for this Bridge Wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletHistory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_wallets_bridgeWalletID_history",
        "parameters": [
          {
            "name": "bridgeWalletID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers": {
      "get": {
        "summary": "Get all customers",
        "description": "Get the full list of all customers created on Bridge",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerEndingBeforeParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerEmailParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Customers",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "description": "total number of items in data",
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  }
                },
                "examples": {
                  "CustomersFound": {
                    "summary": "A non-empty list of customers",
                    "value": {
                      "data": [
                        {
                          "$ref": "#/components/examples/SuccessfulCustomerResponse/value"
                        },
                        {
                          "$ref": "#/components/examples/SuccessfulCustomerResponse2/value"
                        }
                      ]
                    }
                  },
                  "NoCustomersFound": {
                    "summary": "An empty list of customers",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers"
      },
      "post": {
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "requestBody": {
          "description": "Customer object to be created.\n\nNo fields are strictly required by the API. For example, it is valid to create a customer without a first name, last name, or residential address, but this customer will not be granted endorsements required to transact on Bridge until the necessary information is provided, possibly via a PUT request.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateIndividualCustomerPayload"
                  },
                  {
                    "$ref": "#/components/schemas/CreateBusinessCustomerPayload"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "individual": "#/components/schemas/CreateIndividualCustomerPayload",
                    "business": "#/components/schemas/CreateBusinessCustomerPayload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "IndividualCustomerCreated": {
                    "summary": "Customer successfully created",
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  },
                  "BusinessCustomerCreated": {
                    "summary": "Customer successfully created",
                    "$ref": "#/components/examples/SuccessfulCustomerResponse2"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Create a customer",
        "operationId": "post_customers"
      }
    },
    "/customers/{customerID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get a single customer object",
        "tags": [
          "Customers"
        ],
        "description": "Retrieve a customer object from the passed in customer ID",
        "responses": {
          "200": {
            "description": "Successful customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "SuccessfulCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  },
                  "RejectedCustomerResponse": {
                    "$ref": "#/components/examples/RejectedCustomerResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a single customer object",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "Customer object to update with",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateIndividualCustomerPayload"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateBusinessCustomerPayload"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "individual": "#/components/schemas/UpdateIndividualCustomerPayload",
                    "business": "#/components/schemas/UpdateBusinessCustomerPayload"
                  }
                }
              }
            }
          }
        },
        "description": "Updates to be made to the specified customer.\n\nNo fields are strictly required by the API. It is generally valid to provide any subset of data in a PUT request. For business customers, associated persons cannot be updated via PUT, and should instead be managed using v0/associated_persons.\n",
        "responses": {
          "200": {
            "description": "Successful customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "SuccessfulCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  },
                  "RejectedCustomerResponse": {
                    "$ref": "#/components/examples/RejectedCustomerResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "put_customers_customerID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete a single customer object",
        "tags": [
          "Customers"
        ],
        "description": "Delete a customer object from the passed in customer ID",
        "responses": {
          "200": {
            "description": "Successfully deleted customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "DeletedCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulCustomerResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "delete_customers_customerID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerID}/external_accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get all External Accounts",
        "tags": [
          "External Accounts"
        ],
        "description": "Get all External Accounts for a passed in customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountEndingBeforeParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of External Accounts (the returned list is empty if no External Accounts exist)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ExternalAccount",
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/ExternalAccountResponse"
                      }
                    },
                    "count": {
                      "description": "total number of items in data",
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "ExternalAccountsFound": {
                    "summary": "A non-empty list of External Accounts",
                    "value": {
                      "data": [
                        {
                          "$ref": "#/components/examples/SuccessfulExternalAccountResponse/value"
                        }
                      ]
                    }
                  },
                  "NoExternalAccountsFound": {
                    "summary": "An empty list of External Accounts",
                    "value": {
                      "data": [],
                      "count": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_external_accounts"
      },
      "post": {
        "summary": "Create a new External Account",
        "tags": [
          "External Accounts"
        ],
        "description": "_Note_: If adding US external accounts, we recommend reading through the US Beneficiary Address Validation doc ([link](https://apidocs.bridge.xyz/docs/us-beneficiary-address-validation)) to avoid issues related to incorrect addresses.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New External Account object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAccountInput"
              },
              "examples": {
                "ACH": {
                  "$ref": "#/components/examples/CreateAchExternalAccountRequest"
                },
                "IBAN": {
                  "$ref": "#/components/examples/CreateIbanExternalAccountRequest"
                },
                "SWIFT": {
                  "$ref": "#/components/examples/CreateSwiftExternalAccountRequest"
                },
                "CLABE": {
                  "$ref": "#/components/examples/CreateClabeExternalAccountRequest"
                },
                "Pix_Key": {
                  "$ref": "#/components/examples/CreatePixExternalAccountRequest"
                },
                "Pix_BrCode": {
                  "$ref": "#/components/examples/CreateBrCodeExternalAccountRequest"
                },
                "BreB": {
                  "$ref": "#/components/examples/CreateBreBExternalAccountRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "External Account object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "ACH": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  },
                  "IBAN": {
                    "$ref": "#/components/examples/SuccessfulIbanExternalAccountResponse"
                  },
                  "SWIFT": {
                    "$ref": "#/components/examples/SuccessfulSwiftExternalAccountResponse"
                  },
                  "CLABE": {
                    "$ref": "#/components/examples/SuccessfulClabeExternalAccountResponse"
                  },
                  "Pix_Key": {
                    "$ref": "#/components/examples/SuccessfulPixKeyExternalAccountResponse"
                  },
                  "Pix_BrCode": {
                    "$ref": "#/components/examples/SuccessfulBrCodeExternalAccountResponse"
                  },
                  "BreB": {
                    "$ref": "#/components/examples/SuccessfulBreBExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "post_customers_customerID_external_accounts"
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/ExternalAccountIDParameter"
        }
      ],
      "get": {
        "summary": "Retrieve an External Account object",
        "description": "Retrieve an External Account object (banks, debit cards etc) from the passed in customer ID and External Account ID",
        "tags": [
          "External Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful External Account object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "SuccessfulExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  },
                  "SuccessfulIbanExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulIbanExternalAccountResponse"
                  },
                  "SuccessfulPixKeyExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulPixKeyExternalAccountResponse"
                  },
                  "SuccessfulBrCodeExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulBrCodeExternalAccountResponse"
                  },
                  "SuccessfulBreBExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulBreBExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_external_accounts_externalAccountID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalAccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update an External Account",
        "tags": [
          "External Accounts"
        ],
        "requestBody": {
          "description": "External Account details to be updated",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalAccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External Account object updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadExternalAccountUpdateError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Update an External Account",
        "operationId": "put_customers_customerID_external_accounts_externalAccountID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalAccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Deactivate a single External Account object",
        "tags": [
          "External Accounts"
        ],
        "description": "Deactivate an External Account object from the passed in External Account ID",
        "responses": {
          "200": {
            "description": "Successfully deleted External Account object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                },
                "examples": {
                  "DeletedExternalAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulExternalAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "delete_customers_customerID_external_accounts_externalAccountID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalAccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerID}/associated_persons": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get associated persons for a business customer",
        "tags": [
          "Customers"
        ],
        "description": "Get all associated persons for a business customer.",
        "responses": {
          "200": {
            "description": "List of associated persons (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AssociatedPersonsList",
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/AssociatedPersonResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "AssociatedPersonsFound": {
                    "summary": "A non-empty list of associated persons",
                    "value": {
                      "data": [
                        {
                          "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse/value"
                        }
                      ]
                    }
                  },
                  "NoAssociatedPersonsFound": {
                    "summary": "An empty list of associated persons",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_associated_persons",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "Create a new associated person for a business customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New associated person to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociatedPerson"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Associated person created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Create a new associated person for a business customer",
        "operationId": "post_customers_customerID_associated_persons"
      }
    },
    "/customers/{customerID}/associated_persons/{associatedPersonID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/AssociatedPersonIDParameter"
        }
      ],
      "get": {
        "summary": "Get a single associated person",
        "tags": [
          "Customers"
        ],
        "description": "Retrieve an associated person by ID",
        "responses": {
          "200": {
            "description": "Successful associated person response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_associated_persons_associatedPersonID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associatedPersonID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a single associated person",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "Associated person data to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociatedPerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated associated person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Update a single associated person",
        "operationId": "put_customers_customerID_associated_persons_associatedPersonID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associatedPersonID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete a single associated person",
        "tags": [
          "Customers"
        ],
        "description": "Delete an associated person by ID",
        "responses": {
          "200": {
            "description": "Successfully deleted associated person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedPersonResponse"
                },
                "examples": {
                  "SuccessfulAssociatedPersonResponse": {
                    "$ref": "#/components/examples/SuccessfulAssociatedPersonResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "delete_customers_customerID_associated_persons_associatedPersonID",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associatedPersonID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerID}/fiat_payout_configuration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        }
      ],
      "get": {
        "summary": "Get the fiat payout configuration for a customer",
        "tags": [
          "Fiat Payout Configuration"
        ],
        "description": "Retrieve the fiat payout configuration for the given customer ID. This configuration determines which payout method (bridge, developer, payment_provider, or customer) is used for each currency and payment rail combination.\n\nThe configuration is a nested hash structure where:\n- Top-level keys are currency codes (e.g., \"usd\", \"eur\", \"brl\", \"mxn\")\n- Second-level keys are payment rail codes (e.g., \"wire\", \"ach\", \"sepa\", \"pix\", \"spei\")\n- Values are payout names: `bridge`, `developer`, `payment_provider`, or `customer`\n\nCurrently, only the following values are supported for the payout method:\n- usd.wire: `developer`, `customer`\n- usd.ach: `bridge`\n- eur.sepa: `bridge`\n- brl.pix: `payment_provider`\n- mxn.spei: `payment_provider`\n",
        "responses": {
          "200": {
            "description": "Successful fiat payout configuration response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatPayoutConfigurationResponse"
                },
                "examples": {
                  "SuccessfulFiatPayoutConfigurationResponse": {
                    "$ref": "#/components/examples/SuccessfulFiatPayoutConfigurationResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_fiat_payout_configuration",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "summary": "Update the fiat payout configuration for a customer",
        "tags": [
          "Fiat Payout Configuration"
        ],
        "description": "Update the fiat payout configuration for the given customer ID. This configuration determines which payout method (bridge, developer, payment_provider, or customer) is used for each currency and payment rail combination.\n\nThe configuration is a nested hash structure where:\n- Top-level keys are currency codes (e.g., \"usd\", \"eur\", \"brl\", \"mxn\")\n- Second-level keys are payment rail codes (e.g., \"wire\", \"ach\", \"sepa\", \"pix\", \"spei\")\n- Values are payout names: `bridge`, `developer`, `payment_provider`, or `customer`\n\nCurrently, only the following values are supported for the payout method:\n- usd.wire: `developer`, `customer`\n- usd.ach: `bridge`\n- eur.sepa: `bridge`\n- brl.pix: `payment_provider`\n- mxn.spei: `payment_provider`\n\nOnly the currency/payment rail combinations provided will be updated. Other existing configurations will remain unchanged.\n",
        "requestBody": {
          "description": "Fiat payout configuration to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchFiatPayoutConfigurationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful fiat payout configuration update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatPayoutConfigurationResponse"
                },
                "examples": {
                  "SuccessfulPatchFiatPayoutConfigurationResponse": {
                    "$ref": "#/components/examples/SuccessfulPatchFiatPayoutConfigurationResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "description": "Request not allowed. Contact your account manager to be enabled for this feature. Additional fees apply.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "patch_customers_customerID_fiat_payout_configuration",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}/reactivate": {
      "post": {
        "summary": "Reactivate an External Account",
        "description": "Reactivate a previously deactivated External Account",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/ExternalAccountIDParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalAccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reactivated External Account object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadExternalAccountReactivateError"
          }
        },
        "operationId": "post_customers_customerID_external_accounts_externalAccountID_reactivate"
      }
    },
    "/customers/{customerID}/tos_acceptance_link": {
      "get": {
        "summary": "Retrieve a hosted URL for ToS acceptance for an existing customer",
        "tags": [
          "Customers"
        ],
        "description": "The page at the returned URL will guide the user through the Bridge Terms of Service (ToS) acceptance flow. This can be used by existing customers to accept a new version of the ToS.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Hosted URL for ToS acceptance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "A hosted URL for ToS acceptance"
                    }
                  }
                },
                "examples": {
                  "TosAcceptanceLink": {
                    "summary": "A sample ToS acceptance link",
                    "value": {
                      "url": "https://compliance.bridge.xyz/accept-terms-of-service?email=sage%40blick-mayer.example&t=74ea7c13-2b52-5073-bd12-6879f92b88dd"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_tos_acceptance_link"
      }
    },
    "/customers/{customerID}/kyc_link": {
      "get": {
        "summary": "Retrieve a hosted KYC Link for an existing customer",
        "tags": [
          "Customers"
        ],
        "description": "The page at the returned URL will guide the user through a Bridge KYC flow. This can be used by existing customers to provide additional KYC information required for certain features or services that Bridge offers.\n\nFor example, to enable an existing customer to use the `SEPA`/`Euro` services, they are required to provide `proof of address`. An additional parameter, `endorsement=sepa`, can be included to request a KYC link specifically for this purpose",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/EndorsementParameter"
          },
          {
            "$ref": "#/components/parameters/RedirectUriParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Hosted URL for KYC",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "A hosted KYC link"
                    }
                  }
                },
                "examples": {
                  "KycLink": {
                    "summary": "A sample KYC link",
                    "value": {
                      "url": "https://bridge.withpersona.com/verify?inquiry-template-id=itmpl_NtIXpb9AbEYCPxGo5iRbc9d2&reference-id=75d2f259-6810-4cde-a9b9-83eca42b0ebf"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_kyc_link"
      }
    },
    "/customers/{customerID}/transfers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/TransferStartingAfterParameter"
        },
        {
          "$ref": "#/components/parameters/TransferEndingBeforeParameter"
        },
        {
          "$ref": "#/components/parameters/TxHashParameter"
        },
        {
          "$ref": "#/components/parameters/UpdatedAfterMsParameter"
        },
        {
          "$ref": "#/components/parameters/UpdatedBeforeMsParameter"
        },
        {
          "$ref": "#/components/parameters/TransferStateParameter"
        }
      ],
      "get": {
        "summary": "Get all transfers",
        "tags": [
          "Customers"
        ],
        "description": "Get all active and completed transfers for a customer.",
        "responses": {
          "200": {
            "description": "List of transfers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Transfers",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of transfers returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "TransfersFound": {
                    "summary": "A non-empty list of transfers",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "$ref": "#/components/examples/AchOnrampFundsReceivedTransferResponse/value"
                        },
                        {
                          "$ref": "#/components/examples/AchOfframpTransferResponse/value"
                        }
                      ]
                    }
                  },
                  "NoTransfersFound": {
                    "summary": "An empty list of transfers",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_transfers",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerID}/static_templates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CustomerIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/TransferStartingAfterParameter"
        },
        {
          "$ref": "#/components/parameters/TransferEndingBeforeParameter"
        }
      ],
      "get": {
        "summary": "Get all static templates for a customer",
        "tags": [
          "Customers"
        ],
        "description": "Get all static templates for a customer. Static templates are transfers that are used as templates for other transfers and can be created using the static_templates feature flag.",
        "responses": {
          "200": {
            "description": "List of static templates (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Static Templates",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of static templates returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "StaticTemplatesFound": {
                    "summary": "A non-empty list of static templates",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "$ref": "#/components/examples/AchOnrampFundsReceivedTransferResponse/value"
                        },
                        {
                          "$ref": "#/components/examples/AchOfframpTransferResponse/value"
                        }
                      ]
                    }
                  },
                  "NoStaticTemplatesFound": {
                    "summary": "An empty list of static templates",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_static_templates",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/tos_links": {
      "post": {
        "summary": "Request a hosted URL for ToS acceptance for new customer creation",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "description": "The URL endpoint returned will guide the user through a Bridge TOS flow. Signing this acceptance flow is a requirement for creating customers.",
        "responses": {
          "201": {
            "description": "A Bridge hosted URL for users to complete terms of service signing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "A Bridge hosted URL for users to complete terms of service signing."
                    }
                  }
                },
                "examples": {
                  "TosUrl": {
                    "summary": "A sample Bridge hosted URL",
                    "value": {
                      "data": {
                        "url": "https://compliance.bridge.xyz/accept-terms-of-service?session_token=4d5d8c45-9feb-422a-bb5e-0fd32e3b3c53&redirect_uri=https%3A%2F%2Fgoogle.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "post_customers_tos_links"
      }
    },
    "/customers/{customerID}/plaid_link_requests": {
      "post": {
        "summary": "Generate a Plaid Link token for a customer",
        "tags": [
          "Plaid"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Plaid Link token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaidLinkRequest"
                },
                "examples": {
                  "PlaidLinkRequestSuccessResponse": {
                    "$ref": "#/components/examples/PlaidLinkRequestSuccessResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Generate a Plaid Link token for a customer",
        "operationId": "post_customers_customerID_plaid_link_requests"
      }
    },
    "/plaid_exchange_public_token/{link_token}": {
      "post": {
        "summary": "Exchange Plaid public token for an access token",
        "tags": [
          "Plaid"
        ],
        "parameters": [
          {
            "name": "link_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Plaid Link token"
          }
        ],
        "requestBody": {
          "description": "Plaid public token to be exchanged",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "type"
                ],
                "$ref": "#/components/schemas/PlaidExchangePublicToken"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plaid public token exchanged",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Plaid public token exchanged",
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message indicating the status of the request"
                    }
                  }
                },
                "examples": {
                  "PlaidExchangePublicTokenSuccessResponse": {
                    "$ref": "#/components/examples/PlaidExchangePublicTokenSuccessResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Exchange Plaid public token for an access token",
        "operationId": "post_plaid_exchange_public_token_link_token"
      }
    },
    "/transfers": {
      "get": {
        "summary": "Get all transfers",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/TransferStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/TransferEndingBeforeParameter"
          },
          {
            "$ref": "#/components/parameters/TxHashParameter"
          },
          {
            "$ref": "#/components/parameters/UpdatedAfterMsParameter"
          },
          {
            "$ref": "#/components/parameters/UpdatedBeforeMsParameter"
          },
          {
            "$ref": "#/components/parameters/TemplateIDParameter"
          },
          {
            "$ref": "#/components/parameters/TransferStateParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transfers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Transfers",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of transfers returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "TransfersFound": {
                    "summary": "A non-empty list of transfers",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "$ref": "#/components/examples/AchOnrampFundsReceivedTransferResponse"
                        },
                        {
                          "$ref": "#/components/examples/AchOfframpTransferResponse"
                        }
                      ]
                    }
                  },
                  "NoTransfersFound": {
                    "summary": "An empty list of transfers",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Get all transfers",
        "operationId": "get_transfers"
      },
      "post": {
        "summary": "Create a transfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          }
        ],
        "requestBody": {
          "description": "Transfer object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer object created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransferResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TransferRouteResponse"
                    }
                  ]
                },
                "examples": {
                  "AchOnrampTransferResponse": {
                    "$ref": "#/components/examples/AchOnrampTransferResponse"
                  },
                  "AchOfframpTransferResponse": {
                    "$ref": "#/components/examples/AchOfframpTransferResponse"
                  },
                  "AchOfframpWithMemoTransferResponse": {
                    "$ref": "#/components/examples/AchOfframpWithMemoTransferResponse"
                  },
                  "WireOnrampTransferResponse": {
                    "$ref": "#/components/examples/WireOnrampTransferResponse"
                  },
                  "WireOfframpTransferResponse": {
                    "$ref": "#/components/examples/WireOfframpTransferResponse"
                  },
                  "SepaOnrampTransferResponse": {
                    "$ref": "#/components/examples/SepaOnrampTransferResponse"
                  },
                  "SepaOfframpTransferResponse": {
                    "$ref": "#/components/examples/SepaOfframpTransferResponse"
                  },
                  "PixOnrampTransferResponse": {
                    "$ref": "#/components/examples/PixOnrampTransferResponse"
                  },
                  "PixOfframpTransferResponse": {
                    "$ref": "#/components/examples/PixOfframpTransferResponse"
                  },
                  "SpeiOnrampTransferResponse": {
                    "$ref": "#/components/examples/SpeiOnrampTransferResponse"
                  },
                  "SpeiOfframpTransferResponse": {
                    "$ref": "#/components/examples/SpeiOfframpTransferResponse"
                  },
                  "BreBOnrampTransferResponse": {
                    "$ref": "#/components/examples/BreBOnrampTransferResponse"
                  },
                  "BreBOfframpTransferResponse": {
                    "$ref": "#/components/examples/BreBOfframpTransferResponse"
                  },
                  "ValidTransferRouteResponse": {
                    "$ref": "#/components/examples/ValidTransferRouteResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/TransferAmlError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Create a transfer",
        "operationId": "post_transfers"
      }
    },
    "/transfers/{transferID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TransferIDParameter"
        }
      ],
      "get": {
        "summary": "Get a transfer",
        "description": "Retrieve a transfer object from the passed in transfer ID",
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "Successful transfer object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                },
                "examples": {
                  "AchOnrampTransferResponse": {
                    "$ref": "#/components/examples/AchOnrampTransferResponse"
                  },
                  "AchOfframpTransferResponse": {
                    "$ref": "#/components/examples/AchOfframpTransferResponse"
                  },
                  "AchOfframpWithMemoTransferResponse": {
                    "$ref": "#/components/examples/AchOfframpWithMemoTransferResponse"
                  },
                  "WireOnrampTransferResponse": {
                    "$ref": "#/components/examples/WireOnrampTransferResponse"
                  },
                  "WireOfframpTransferResponse": {
                    "$ref": "#/components/examples/WireOfframpTransferResponse"
                  },
                  "SepaOnrampTransferResponse": {
                    "$ref": "#/components/examples/SepaOnrampTransferResponse"
                  },
                  "SepaOfframpTransferResponse": {
                    "$ref": "#/components/examples/SepaOfframpTransferResponse"
                  },
                  "PixOnrampTransferResponse": {
                    "$ref": "#/components/examples/PixOnrampTransferResponse"
                  },
                  "PixOfframpTransferResponse": {
                    "$ref": "#/components/examples/PixOfframpTransferResponse"
                  },
                  "SpeiOnrampTransferResponse": {
                    "$ref": "#/components/examples/SpeiOnrampTransferResponse"
                  },
                  "SpeiOfframpTransferResponse": {
                    "$ref": "#/components/examples/SpeiOfframpTransferResponse"
                  },
                  "BreBOnrampTransferResponse": {
                    "$ref": "#/components/examples/BreBOnrampTransferResponse"
                  },
                  "BreBOfframpTransferResponse": {
                    "$ref": "#/components/examples/BreBOfframpTransferResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_transfers_transferID",
        "parameters": [
          {
            "name": "transferID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "Update a transfer",
        "description": "Update a transfer that was previously created. Must be in the awaiting_funds state.",
        "tags": [
          "Transfers"
        ],
        "requestBody": {
          "description": "Transfer object to be updated",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                },
                "examples": {
                  "AchOnrampTransferResponse": {
                    "$ref": "#/components/examples/AchOnrampTransferResponse"
                  },
                  "AchOfframpTransferResponse": {
                    "$ref": "#/components/examples/AchOfframpTransferResponse"
                  },
                  "AchOfframpWithMemoTransferResponse": {
                    "$ref": "#/components/examples/AchOfframpWithMemoTransferResponse"
                  },
                  "WireOnrampTransferResponse": {
                    "$ref": "#/components/examples/WireOnrampTransferResponse"
                  },
                  "WireOfframpTransferResponse": {
                    "$ref": "#/components/examples/WireOfframpTransferResponse"
                  },
                  "SepaOnrampTransferResponse": {
                    "$ref": "#/components/examples/SepaOnrampTransferResponse"
                  },
                  "SepaOfframpTransferResponse": {
                    "$ref": "#/components/examples/SepaOfframpTransferResponse"
                  },
                  "PixOnrampTransferResponse": {
                    "$ref": "#/components/examples/PixOnrampTransferResponse"
                  },
                  "PixOfframpTransferResponse": {
                    "$ref": "#/components/examples/PixOfframpTransferResponse"
                  },
                  "SpeiOnrampTransferResponse": {
                    "$ref": "#/components/examples/SpeiOnrampTransferResponse"
                  },
                  "SpeiOfframpTransferResponse": {
                    "$ref": "#/components/examples/SpeiOfframpTransferResponse"
                  },
                  "BreBOnrampTransferResponse": {
                    "$ref": "#/components/examples/BreBOnrampTransferResponse"
                  },
                  "BreBOfframpTransferResponse": {
                    "$ref": "#/components/examples/BreBOfframpTransferResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/TransferAmlError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "put_transfers_transferID",
        "parameters": [
          {
            "name": "transferID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete a transfer",
        "description": "Delete a transfer that was previously created. Must be in the awaiting_funds state.",
        "tags": [
          "Transfers"
        ],
        "responses": {
          "200": {
            "description": "Successful deletion of transfer"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "delete_transfers_transferID",
        "parameters": [
          {
            "name": "transferID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/transfers/static_templates": {
      "get": {
        "summary": "Get all static templates",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/TransferStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/TransferEndingBeforeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of static templates (the returned list is empty if none found). Static templates are transfers that are used as templates for other transfers and can be created using the static_templates feature flag.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Static Templates",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "The number of static templates returned"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/TransferResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "TransfersFound": {
                    "summary": "A non-empty list of static templates",
                    "value": {
                      "count": 2,
                      "data": [
                        {
                          "$ref": "#/components/examples/AchOnrampFundsReceivedTransferResponse"
                        },
                        {
                          "$ref": "#/components/examples/AchOfframpTransferResponse"
                        }
                      ]
                    }
                  },
                  "NoTransfersFound": {
                    "summary": "An empty list of static templates",
                    "value": {
                      "count": 0,
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Get all static templates",
        "operationId": "get_transfers_static_templates"
      }
    },
    "/prefunded_accounts": {
      "get": {
        "summary": "Get a list of all Prefunded Account",
        "tags": [
          "Prefunded Accounts"
        ],
        "description": "Retrieve a all Prefunded Accounts",
        "responses": {
          "200": {
            "description": "List of prefunded accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Prefunded Accounts",
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/PrefundedAccount"
                      }
                    }
                  }
                },
                "examples": {
                  "PrefundedAccountsFound": {
                    "summary": "A non-empty list of prefunded accounts",
                    "value": {
                      "data": [
                        {
                          "$ref": "#/components/examples/SuccessfulPrefundedAccountResponse/value"
                        }
                      ]
                    }
                  },
                  "NoPrefundedAccountsFound": {
                    "summary": "An empty list of prefunded accounts",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_prefunded_accounts"
      }
    },
    "/prefunded_accounts/{prefundedAccountID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PrefundedAccountIDParameter"
        }
      ],
      "get": {
        "summary": "Get details for a specific Prefunded Account",
        "tags": [
          "Prefunded Accounts"
        ],
        "description": "Retrieve a Prefunded Account",
        "responses": {
          "200": {
            "description": "Successful Prefunded Account object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrefundedAccount"
                },
                "examples": {
                  "SuccessfulPrefundedAccountResponse": {
                    "$ref": "#/components/examples/SuccessfulPrefundedAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_prefunded_accounts_prefundedAccountID",
        "parameters": [
          {
            "name": "prefundedAccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/prefunded_accounts/{prefundedAccountID}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PrefundedAccountIDParameter"
        },
        {
          "$ref": "#/components/parameters/LimitParameter"
        },
        {
          "$ref": "#/components/parameters/PrefundedAccountHistoryStartingAfterParameter"
        },
        {
          "$ref": "#/components/parameters/PrefundedAccountHistoryEndingBeforeParameter"
        }
      ],
      "get": {
        "summary": "Get funding history of a Prefunded Account",
        "tags": [
          "Prefunded Accounts"
        ],
        "description": "Retrieve the funding events and returns for a Prefunded Account",
        "responses": {
          "200": {
            "description": "Successful Prefunded Account object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrefundedAccountHistory"
                },
                "examples": {
                  "SuccessfulCustomerResponse": {
                    "$ref": "#/components/examples/SuccessfulPrefundedAccountHistoryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_prefunded_accounts_prefundedAccountID_history",
        "parameters": [
          {
            "name": "prefundedAccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customers/{customerID}/wallets": {
      "get": {
        "summary": "Get all Bridge Wallets for a customer",
        "description": "List of Bridge Wallets for the specified Customer ID",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletEndingBeforeParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Bridge Wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletsList"
                },
                "examples": {
                  "SuccessfulBridgeWalletListResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_wallets"
      },
      "post": {
        "summary": "Create a Bridge Wallet",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Bridge Wallet to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBridgeWallet"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bridge Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBridgeWalletResponse"
                },
                "examples": {
                  "SuccessfulLiquidationAddressCreateResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletCreateResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Create a Bridge Wallet",
        "operationId": "post_customers_customerID_wallets"
      }
    },
    "/customers/{customerID}/wallets/{bridgeWalletID}": {
      "get": {
        "summary": "Get a Bridge Wallet",
        "description": "Retrieve a Bridge Wallet for the specified Bridge Wallet ID",
        "tags": [
          "Bridge Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/BridgeWalletIDParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bridgeWalletID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Bridge Wallet object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeWalletWithBalances"
                },
                "examples": {
                  "SuccessfulLiquidationAddressGetResponse": {
                    "$ref": "#/components/examples/SuccessfulBridgeWalletGetResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_wallets_bridgeWalletID"
      }
    },
    "/customers/{customerID}/liquidation_addresses": {
      "post": {
        "summary": "Create a Liquidation Address",
        "tags": [
          "Liquidation Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKeyParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Liquidation Address object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLiquidationAddress"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Liquidation Address object created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLiquidationAddressResponse"
                },
                "examples": {
                  "SuccessfulLiquidationAddressCreateResponse": {
                    "$ref": "#/components/examples/SuccessfulLiquidationAddressCreateResponse"
                  },
                  "SuccessfulSepaLiquidationAddressCreateResponse": {
                    "$ref": "#/components/examples/SuccessfulSepaLiquidationAddressCreateResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "description": "Create a Liquidation Address",
        "operationId": "post_customers_customerID_liquidation_addresses"
      },
      "get": {
        "summary": "Get all Liquidation Addresses for a customer",
        "description": "Get Liquidation Addresses",
        "tags": [
          "Liquidation Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/LiquidationScheduleStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/LiquidationScheduleEndingBeforeParameter"
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Liquidation Addresses (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Liquidation Addresses",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "description": "total number of items in data",
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/LiquidationAddress"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_liquidation_addresses"
      }
    },
    "/liquidation_addresses": {
      "get": {
        "summary": "Get all Liquidation Addresses",
        "description": "Get Liquidation Addresses",
        "tags": [
          "Liquidation Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/LiquidationScheduleStartingAfterParameter"
          },
          {
            "$ref": "#/components/parameters/LiquidationScheduleEndingBeforeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Liquidation Addresses (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Liquidation Addresses",
                  "type": "object",
                  "required": [
                    "count",
                    "data"
                  ],
                  "properties": {
                    "count": {
                      "description": "total number of items in data",
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "$ref": "#/components/schemas/LiquidationAddress"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_liquidation_addresses"
      }
    },
    "/customers/{customerID}/liquidation_addresses/{liquidationAddressID}": {
      "get": {
        "summary": "Get a Liquidation Address",
        "description": "Retrieve a Liquidation Address for the specified Liquidation Address ID",
        "tags": [
          "Liquidation Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
            "$ref": "#/components/parameters/LiquidationAddressIDParameter"
          },
          {
            "name": "liquidationAddressID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Liquidation Address object response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiquidationAddress"
                },
                "examples": {
                  "SuccessfulLiquidationAddressGetResponse": {
                    "$ref": "#/components/examples/SuccessfulLiquidationAddressGetResponse"
                  },
                  "SuccessfulSepaLiquidationAddressGetResponse": {
                    "$ref": "#/components/examples/SuccessfulSepaLiquidationAddressGetResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "operationId": "get_customers_customerID_liquidation_addresses_liquidationAddressID"
      },
      "put": {
        "summary": "Update a Liquidation Address",
        "description": "Update a Liquidation Address for the specified liquidation address ID. Note that `external_account_id` and `custom_developer_fee_percent` can be updated independently and are not both required.",
        "tags": [
          "Liquidation Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerIDParameter"
          },
          {
[...]
