{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@billbee.io",
      "name": "Billbee GmbH",
      "url": "https://www.billbee.io"
    },
    "description": "Documentation of the Billbee REST API to connect a Billbee account to external aplications.\n\n## Endpoint\n\nThe Billbee API endpoint base url is https://api.billbee.io/api/v1 \n\n## Activation\n\nYou have to enable the API in the settings of your Billbee account. In addition you need a Billbee API Key identifying the application you develop. To get an API key, send a mail to support@billbee.io and send us a short note about what you are building.\n\n## Authorization & security\n\nBecause you can access private data with the Billbee API, every request has to be sent over https and must\n\n* Contain a valid API Key identifying the application/developer. It has to be sent as the HTTP header X-Billbee-Api-Key\n* Contain a valid user login with billbee username and api password in form of a basic auth HTTP header\n\n## Throttling\n\n50 calls per second for each API Key.\n\n10 calls per second for each API Key in combination with Billbee user.\n\nBesides that each endpoint has a throttle of max 2 requests per second per combination of API Key and Billbee user.\n\nWhen you exceed the throttle threshold, the API will return a HTTP 429 status code and a Retry-After-Header indicating how many seconds you will have to wait before you can call the API again.\n\n",
    "title": "Billbee API",
    "version": "V1",
    "x-swagger-net-version": "8.5.12.001",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/billbee.io/main/V1/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.billbee.io/"
    }
  ],
  "paths": {
    "/api/v1/automaticprovision/createaccount": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Provisioning"
        ],
        "operationId": "AutomaticProvisioning_CreateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer"
              }
            }
          },
          "required": true
        },
        "summary": "Creates a new Billbee user account with the data passed",
        "description": "Creates a new Billbee user account with the data passed"
      }
    },
    "/api/v1/automaticprovision/termsinfo": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Provisioning"
        ],
        "operationId": "AutomaticProvisioning_TermsInfo",
        "summary": "Returns infos about Billbee terms and conditions",
        "description": "Returns infos about Billbee terms and conditions"
      }
    },
    "/api/v1/cloudstorages": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "CloudStorage"
        ],
        "operationId": "CloudStorageApi_GetList",
        "summary": "Gets a list of all connected cloud storage devices",
        "description": "Gets a list of all connected cloud storage devices"
      }
    },
    "/api/v1/customer-addresses": {
      "get": {
        "parameters": [
          {
            "description": "The current page to request starting with 1 (default is 1)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The page size for the result list. Values between 1 and 250 are allowed. (default is 50)",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "CustomerAddresses"
        ],
        "operationId": "CustomerAddresses_GetAll",
        "summary": "Get a list of all customer addresses",
        "description": "Get a list of all customer addresses"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "CustomerAddresses"
        ],
        "operationId": "CustomerAddresses_Create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
        },
        "summary": "Creates a new customer address",
        "description": "Creates a new customer address"
      }
    },
    "/api/v1/customer-addresses/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the address to query",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "CustomerAddresses"
        ],
        "operationId": "CustomerAddresses_GetOne",
        "summary": "Queries a single customer address by id",
        "description": "Queries a single customer address by id"
      },
      "put": {
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "CustomerAddresses"
        ],
        "operationId": "CustomerAddresses_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            }
          },
          "required": true
        },
        "summary": "Updates a customer address by id",
        "description": "Updates a customer address by id"
      }
    },
    "/api/v1/customers": {
      "get": {
        "parameters": [
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_GetAll",
        "summary": "Get a list of all customers",
        "description": "Get a list of all customers"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
              }
            }
          },
          "required": true
        },
        "summary": "Creates a new customer",
        "description": "Creates a new customer"
      }
    },
    "/api/v1/customers/addresses/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_GetCustomerAddress",
        "summary": "Queries a single address from a customer",
        "description": "Queries a single address from a customer"
      },
      "patch": {
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "description": "Id and CustomerId cannot be changed",
        "operationId": "Customer_PatchAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "The address fields to be changed. Please query an address via (todo) to see all fields. Note that Id and CustomerId cannot be changed.",
          "required": true
        },
        "summary": "Updates one or more fields of an address"
      },
      "put": {
        "parameters": [
          {
            "description": "The id of the address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "description": "Id and CustomerId cannot be changed. Fields you do not send will become empty.",
        "operationId": "Customer_UpdateAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            }
          },
          "description": "The updated address. Please query an address via (todo) to see all fields. Note that Id and CustomerId cannot be changed.",
          "required": true
        },
        "summary": "Updates all fields of an address"
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the customer to query",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_GetOne",
        "summary": "Queries a single customer by id",
        "description": "Queries a single customer by id"
      },
      "put": {
        "parameters": [
          {
            "description": "The id of the customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
              }
            }
          },
          "required": true
        },
        "summary": "Updates a customer by id",
        "description": "Updates a customer by id"
      }
    },
    "/api/v1/customers/{id}/addresses": {
      "get": {
        "parameters": [
          {
            "description": "The id of the customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_GetCustomerAddresses",
        "summary": "Queries a list of addresses from a customer",
        "description": "Queries a list of addresses from a customer"
      },
      "post": {
        "parameters": [
          {
            "description": "CustomerId to attach the new address to.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "description": "Id and  CustomerId will be ignored in model. If Id is set, the addition will be stopped.",
        "operationId": "Customer_AddCustomerAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel"
              }
            }
          },
          "description": "Model containing the address, that should be attached.",
          "required": true
        },
        "summary": "Adds a new address to a customer"
      }
    },
    "/api/v1/customers/{id}/orders": {
      "get": {
        "parameters": [
          {
            "description": "The id of the customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfRechnungsdruck.WebApp.Controllers.Api.Order"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfRechnungsdruck.WebApp.Controllers.Api.Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfRechnungsdruck.WebApp.Controllers.Api.Order"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfRechnungsdruck.WebApp.Controllers.Api.Order"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "operationId": "Customer_GetCustomerOrders",
        "summary": "Queries a list of orders from a customer",
        "description": "Queries a list of orders from a customer"
      }
    },
    "/api/v1/enums/accountsyncstate": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "EnumApi"
        ],
        "operationId": "EnumApi_GetAccountSyncState",
        "summary": "Returns a list with all defined account sync states",
        "description": "Returns a list with all defined account sync states"
      }
    },
    "/api/v1/enums/orderstates": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "EnumApi"
        ],
        "operationId": "EnumApi_GetOrderStates",
        "summary": "Returns a list with all defined orderstates",
        "description": "Returns a list with all defined orderstates"
      }
    },
    "/api/v1/enums/paymenttypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "EnumApi"
        ],
        "operationId": "EnumApi_GetPaymentTypes",
        "summary": "Returns a list with all defined paymenttypes",
        "description": "Returns a list with all defined paymenttypes"
      }
    },
    "/api/v1/enums/shipmenttypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "EnumApi"
        ],
        "operationId": "EnumApi_GetShipmentTypes",
        "summary": "Returns a list with all defined shipmenttypes",
        "description": "Returns a list with all defined shipmenttypes"
      }
    },
    "/api/v1/enums/shippingcarriers": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "EnumApi"
        ],
        "operationId": "EnumApi_GetShippingCarriers",
        "summary": "Returns a list with all defined shippingcarriers",
        "description": "Returns a list with all defined shippingcarriers"
      }
    },
    "/api/v1/enums/shopaccounttype": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "EnumApi"
        ],
        "operationId": "EnumApi_GetShopAccountType",
        "summary": "Returns a list with all defined account types",
        "description": "Returns a list with all defined account types"
      }
    },
    "/api/v1/events": {
      "get": {
        "parameters": [
          {
            "description": "Specifies the oldest date to include in the response",
            "in": "query",
            "name": "minDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the newest date to include in the response",
            "in": "query",
            "name": "maxDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the page to request",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagesize. Defaults to 50, max value is 250",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filter for specific event types",
            "explode": true,
            "in": "query",
            "name": "typeId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Filter for specific order id",
            "in": "query",
            "name": "orderId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Events"
        ],
        "operationId": "EventApi_GetList",
        "summary": "Get a list of all events optionally filtered by date. This request is extra throttled to 2 calls per page per hour.",
        "description": "Get a list of all events optionally filtered by date. This request is extra throttled to 2 calls per page per hour."
      }
    },
    "/api/v1/layouts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Models.LayoutTemplate"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Models.LayoutTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Models.LayoutTemplate"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Models.LayoutTemplate"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "LayoutApi_GetList",
        "description": "GET /api/v1/layouts"
      }
    },
    "/api/v1/orders": {
      "get": {
        "parameters": [
          {
            "description": "Specifies the oldest order date to include in the response",
            "in": "query",
            "name": "minOrderDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the newest order date to include in the response",
            "in": "query",
            "name": "maxOrderDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the page to request",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagesize. Defaults to 50, max value is 250",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies a list of shop ids for which invoices should be included",
            "explode": true,
            "in": "query",
            "name": "shopId",
            "required": false,
            "schema": {
              "items": {
                "format": "int64",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specifies a list of state ids to include in the response",
            "explode": true,
            "in": "query",
            "name": "orderStateId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specifies a list of tags the order must have attached to be included in the response",
            "explode": true,
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "If given, all delivered orders have an Id greater than or equal to the given minimumOrderId",
            "in": "query",
            "name": "minimumBillBeeOrderId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If given, the last modification has to be newer than the given date",
            "in": "query",
            "name": "modifiedAtMin",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "If given, the last modification has to be older or equal than the given date.",
            "in": "query",
            "name": "modifiedAtMax",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text",
            "in": "query",
            "name": "articleTitleSource",
            "required": false,
            "schema": {
              "default": 0,
              "enum": [
                0,
                1,
                2,
                3
              ],
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "If true the list of tags passed to the call are used to filter orders to not include these tags",
            "in": "query",
            "name": "excludeTags",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_GetList",
        "summary": "Get a list of all orders optionally filtered by date",
        "description": "Get a list of all orders optionally filtered by date"
      },
      "post": {
        "parameters": [
          {
            "description": "Deprecated, if orderData.ApiAccountId is set, it will be used instead of 'shopId'",
            "in": "query",
            "name": "shopId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              }
            },
            "description": "The order was created successfully"
          },
          "400": {
            "description": "Invalid data was received in the request"
          },
          "500": {
            "description": "An internal exception occured. Order was not created"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "description": "To create an order POST an JSON object to the orders endpoint with the shown properties.\r\nNot all properties are required.",
        "operationId": "OrderApi_PostNewOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.Order"
              }
            }
          },
          "required": true
        },
        "summary": "Creates a new order in the Billbee account"
      }
    },
    "/api/v1/orders/CreateDeliveryNote/{id}": {
      "post": {
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If true, the PDF is included in the response as base64 encoded string",
            "in": "query",
            "name": "includePdf",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Optionally specify the id of a billbee connected cloud device to send the pdf to",
            "in": "query",
            "name": "sendToCloudId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders",
          "DeliveryNote"
        ],
        "operationId": "OrderApi_CreateDeliveryNote",
        "summary": "Create an delivery note for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes.",
        "description": "Create an delivery note for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes."
      }
    },
    "/api/v1/orders/CreateInvoice/{id}": {
      "post": {
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If true, the PDF is included in the response as base64 encoded string",
            "in": "query",
            "name": "includeInvoicePdf",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "You can pass the id of an invoice template to overwrite the assigned template for invoice creation",
            "in": "query",
            "name": "templateId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "You can pass the id of a connected cloud printer/storage to send the invoice to it",
            "in": "query",
            "name": "sendToCloudId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfRechnungsdruck.WebApp.Controllers.Api.Invoice"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfRechnungsdruck.WebApp.Controllers.Api.Invoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfRechnungsdruck.WebApp.Controllers.Api.Invoice"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfRechnungsdruck.WebApp.Controllers.Api.Invoice"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders",
          "Invoice"
        ],
        "operationId": "OrderApi_CreateInvoice",
        "summary": "Create an invoice for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes.",
        "description": "Create an invoice for an existing order. This request is extra throttled by order and api key to a maximum of 1 per 5 minutes."
      }
    },
    "/api/v1/orders/PatchableFields": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_GetPatchableFields",
        "summary": "Returns a list of fields which can be updated with the orders/{id} patch call",
        "description": "Returns a list of fields which can be updated with the orders/{id} patch call"
      }
    },
    "/api/v1/orders/find/{id}/{partner}": {
      "get": {
        "parameters": [
          {
            "description": "The order id from the external system",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional the name of the shop/marketplace the order was imported from",
            "in": "path",
            "name": "partner",
            "required": true,
            "schema": {
              "default": "manual",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "deprecated": true,
        "operationId": "OrderApi_Find",
        "summary": "Find a single order by its external id (order number)",
        "description": "Find a single order by its external id (order number)"
      }
    },
    "/api/v1/orders/findbyextref/{extRef}": {
      "get": {
        "parameters": [
          {
            "description": "The extern order number of the order",
            "in": "path",
            "name": "extRef",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_GetByExtRef",
        "summary": "Get a single order by its external order number",
        "description": "Get a single order by its external order number"
      }
    },
    "/api/v1/orders/invoices": {
      "get": {
        "parameters": [
          {
            "description": "Specifies the oldest invoice date to include",
            "in": "query",
            "name": "minInvoiceDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the newest invoice date to include",
            "in": "query",
            "name": "maxInvoiceDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Specifies the page to request",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagesize. Defaults to 50, max value is 250",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Specifies a list of shop ids for which invoices should be included",
            "explode": true,
            "in": "query",
            "name": "shopId",
            "required": false,
            "schema": {
              "items": {
                "format": "int64",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Specifies a list of state ids to include in the response",
            "explode": true,
            "in": "query",
            "name": "orderStateId",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "minPayDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "maxPayDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includePositions",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "If true the list of tags passed to the call are used to filter orders to not include these tags",
            "in": "query",
            "name": "excludeTags",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.InvoiceApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders",
          "Invoice"
        ],
        "operationId": "OrderApi_GetInvoiceList",
        "summary": "Get a list of all invoices optionally filtered by date. This request ist throttled to 1 per 1 minute for same page and minInvoiceDate",
        "description": "Get a list of all invoices optionally filtered by date. This request ist throttled to 1 per 1 minute for same page and minInvoiceDate"
      }
    },
    "/api/v1/orders/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text",
            "in": "query",
            "name": "articleTitleSource",
            "required": false,
            "schema": {
              "default": 0,
              "enum": [
                0,
                1,
                2,
                3
              ],
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_Get",
        "summary": "Get a single order by its internal billbee id. This request is throttled to 6 calls per order in one minute",
        "description": "Get a single order by its internal billbee id. This request is throttled to 6 calls per order in one minute"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiResultOfBillbee.Interfaces.BillbeeAPI.Model.Order"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_PatchOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Updates one or more fields of an order",
        "description": "Updates one or more fields of an order"
      }
    },
    "/api/v1/orders/{id}/message": {
      "post": {
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_Message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Model.Api.OrderMessageModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Model.Api.OrderMessageModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Model.Api.OrderMessageModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Model.Api.OrderMessageModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Model.Api.OrderMessageModel"
              }
            }
          },
          "required": true
        },
        "summary": "Adds a message to the order",
        "description": "Adds a message to the order"
      }
    },
    "/api/v1/orders/{id}/orderstate": {
      "put": {
        "parameters": [
          {
            "description": "The internal id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "description": "### REMARKS ###\r\nUse this call to change the state of an order to i.e. paid or sent.\r\n\r\nThe state is transfered to the external shop/marketplace if configured.\r\nThis is the list of known states:\r\n- 1: ordered\r\n- 2: confirmed\r\n- 3: paid\r\n- 4: shipped\r\n- 5: reclamation\r\n- 6: deleted\r\n- 7: closed\r\n- 8: canceled\r\n- 9: archived\r\n- 10: not used\r\n- 11: demand note 1\r\n- 12: demand note 2\r\n- 13: packed\r\n- 14: offered\r\n- 15: payment reminder\r\n- 16: fulfilling",
        "operationId": "OrderApi_UpdateState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
              }
            }
          },
          "description": "The data used to change the state",
          "required": true
        },
        "summary": "Changes the main state of a single order"
      }
    },
    "/api/v1/orders/{id}/parse-placeholders": {
      "post": {
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_ParsePlaceholders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.ParseTextContainer"
              }
            }
          },
          "required": true
        },
        "summary": "Parses a text and replaces all placeholders",
        "description": "Parses a text and replaces all placeholders"
      }
    },
    "/api/v1/orders/{id}/send-message": {
      "post": {
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_SendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.SendMessageModel"
              }
            }
          },
          "description": "The message model",
          "required": true
        },
        "summary": "Sends a message to the buyer",
        "description": "Sends a message to the buyer"
      }
    },
    "/api/v1/orders/{id}/shipment": {
      "post": {
        "parameters": [
          {
            "description": "The internal billbee id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_AddShipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel"
              }
            }
          },
          "description": "The shipment data to create the shipment",
          "required": true
        },
        "summary": "Add a shipment to a given order",
        "description": "Add a shipment to a given order"
      }
    },
    "/api/v1/orders/{id}/tags": {
      "post": {
        "parameters": [
          {
            "description": "The internal id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "description": "When a tag is already attached, it is ignored. Tags are not case sensitive. All given tags are added to the existing tags.",
        "operationId": "OrderApi_TagsCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            }
          },
          "description": "Tags to attach",
          "required": true
        },
        "summary": "Attach one or more tags to an order"
      },
      "put": {
        "parameters": [
          {
            "description": "The internal id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "description": "All existing tags will be replaced by the given list of new tags. To just add tags, use POST method.",
        "operationId": "OrderApi_TagsUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
              }
            }
          },
          "description": "Tags to attach",
          "required": true
        },
        "summary": "Sets the tags attached to an order"
      }
    },
    "/api/v1/orders/{id}/trigger-event": {
      "post": {
        "parameters": [
          {
            "description": "The id of the order",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "operationId": "OrderApi_TriggerEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.TriggerEventContainer"
              }
            }
          },
          "required": true
        },
        "summary": "Triggers a rule event",
        "description": "Triggers a rule event"
      }
    },
    "/api/v1/products": {
      "get": {
        "parameters": [
          {
            "description": "The current page to request starting with 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The pagesize for the result list. Values between 1 and 250 are allowed",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 50,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Optional the oldest create date of the articles to be returned",
            "in": "query",
            "name": "minCreatedAt",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minimumBillBeeArticleId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "maximumBillBeeArticleId",
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResultOfSystem.Collections.Generic.ListOfBillbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Products"
        ],
        "operationId": "Article_GetList",
        "summary": "Get a list of all products",
        "description": "Get a list of all products"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Products"
        ],
        "operationId": "Article_CreateArticle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
              }
            }
          },
          "required": true
        },
        "summary": "Creates a new product",
        "description": "Creates a new product"
      }
    },
    "/api/v1/products/PatchableFields": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Billbee-Api-Key": []
          }
        ],
        "tags": [
          "Products"
        ],
        "operationId": "Article_GetPatchableFields",
        "summary": "Returns a list of fields which can be updated with the patch call",
[...]
