{
  "openapi": "3.0.3",
  "info": {
    "title": "Mindee OCR API",
    "description": "Mindee document parsing and OCR API for invoices, receipts, passports, and other documents. Provides pre-trained models and custom document parsing capabilities.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.mindee.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.mindee.net/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/products/mindee/invoices/v4/predict": {
      "post": {
        "summary": "Parse Invoice",
        "description": "Extract data from invoice documents",
        "operationId": "parseInvoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "document"
                ],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary",
                    "description": "Invoice document (PDF, JPG, PNG)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed invoice data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/products/mindee/receipts/v5/predict": {
      "post": {
        "summary": "Parse Receipt",
        "description": "Extract data from receipt documents",
        "operationId": "parseReceipt",
        "tags": [
          "Receipts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "document"
                ],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed receipt data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/mindee/passport/v1/predict": {
      "post": {
        "summary": "Parse Passport",
        "description": "Extract data from passport documents",
        "operationId": "parsePassport",
        "tags": [
          "Passports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "document"
                ],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed passport data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/mindee/financial_document/v1/predict": {
      "post": {
        "summary": "Parse Financial Document",
        "description": "Extract data from financial documents",
        "operationId": "parseFinancialDocument",
        "tags": [
          "Financial Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "document"
                ],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed financial document"
          }
        }
      }
    },
    "/products/{account_name}/{document_type}/v1/predict": {
      "post": {
        "summary": "Parse Custom Document",
        "description": "Parse documents using custom trained models",
        "operationId": "parseCustomDocument",
        "tags": [
          "Custom"
        ],
        "parameters": [
          {
            "name": "account_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Mindee account name"
          },
          {
            "name": "document_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Custom document type identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "document"
                ],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsed custom document"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key with format: Token <your_api_key>"
      }
    },
    "schemas": {
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "api_request": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "status_code": {
                "type": "integer"
              }
            }
          },
          "document": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "inference": {
                "type": "object",
                "properties": {
                  "prediction": {
                    "type": "object",
                    "properties": {
                      "invoice_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "confidence": {
                            "type": "number"
                          }
                        }
                      },
                      "invoice_date": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      },
                      "total_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          }
                        }
                      },
                      "supplier_name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ReceiptResponse": {
        "type": "object",
        "properties": {
          "api_request": {
            "type": "object"
          },
          "document": {
            "type": "object",
            "properties": {
              "inference": {
                "type": "object",
                "properties": {
                  "prediction": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "object"
                      },
                      "total_amount": {
                        "type": "object"
                      },
                      "merchant_name": {
                        "type": "object"
                      },
                      "line_items": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PassportResponse": {
        "type": "object",
        "properties": {
          "api_request": {
            "type": "object"
          },
          "document": {
            "type": "object",
            "properties": {
              "inference": {
                "type": "object",
                "properties": {
                  "prediction": {
                    "type": "object",
                    "properties": {
                      "id_number": {
                        "type": "object"
                      },
                      "given_names": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "surname": {
                        "type": "object"
                      },
                      "birth_date": {
                        "type": "object"
                      },
                      "expiry_date": {
                        "type": "object"
                      },
                      "country": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "api_request": {
            "type": "object",
            "properties": {
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "details": {
                    "type": "string"
                  }
                }
              },
              "status": {
                "type": "string"
              },
              "status_code": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Custom"
    },
    {
      "name": "Financial Documents"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Passports"
    },
    {
      "name": "Receipts"
    }
  ]
}
