{
  "openapi": "3.0.3",
  "info": {
    "title": "Persona API",
    "version": "2023-01-05",
    "description": "Persona identity verification API for inquiries, verifications, reports, accounts, cases, lists, and webhooks.",
    "x-jentic-source-url": "https://docs.withpersona.com/",
    "contact": {
      "name": "Persona",
      "url": "https://withpersona.com"
    }
  },
  "servers": [
    {
      "url": "https://withpersona.com/api/v1",
      "description": "Persona API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Inquiries",
      "description": "Identity verification inquiries"
    },
    {
      "name": "Accounts",
      "description": "User accounts"
    },
    {
      "name": "Verifications",
      "description": "Identity verifications"
    },
    {
      "name": "Reports",
      "description": "Identity reports"
    },
    {
      "name": "Cases",
      "description": "Review cases"
    },
    {
      "name": "Lists",
      "description": "Watchlists and denylists"
    },
    {
      "name": "Documents",
      "description": "Document management"
    },
    {
      "name": "Events",
      "description": "Audit events"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    },
    {
      "name": "Transactions",
      "description": "Verification transactions"
    }
  ],
  "paths": {
    "/inquiries": {
      "get": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "list-inquiries",
        "summary": "List all inquiries",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all inquiries"
      },
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "create-inquiry",
        "summary": "Create a inquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a inquiry"
      }
    },
    "/inquiries/{inquiry-id}": {
      "get": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "get-inquiry",
        "summary": "Retrieve a inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a inquiry"
      },
      "patch": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "update-inquiry",
        "summary": "Update a inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a inquiry"
      }
    },
    "/inquiries/{inquiry-id}/redact": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "redact-inquiry",
        "summary": "Redact a inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Redact a inquiry"
      }
    },
    "/inquiries/{inquiry-id}/resume": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "resume-inquiry",
        "summary": "Resume a inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Resume a inquiry"
      }
    },
    "/inquiries/{inquiry-id}/add-tag": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "add-tag-inquiry",
        "summary": "Add Tag on inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Tag on inquiry"
      }
    },
    "/inquiries/{inquiry-id}/remove-tag": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "remove-tag-inquiry",
        "summary": "Remove Tag on inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove Tag on inquiry"
      }
    },
    "/inquiries/{inquiry-id}/set-all-tags": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "set-all-tags-inquiry",
        "summary": "Set All Tags on inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Set All Tags on inquiry"
      }
    },
    "/inquiries/{inquiry-id}/generate-one-time-link": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "operationId": "generate-one-time-link-inquiry",
        "summary": "Generate one-time link for inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Generate one-time link for inquiry"
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "list-accounts",
        "summary": "List all accounts",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all accounts"
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "create-account",
        "summary": "Create a account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a account"
      }
    },
    "/accounts/{account-id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "get-account",
        "summary": "Retrieve a account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a account"
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "update-account",
        "summary": "Update a account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a account"
      }
    },
    "/accounts/{account-id}/redact": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "redact-account",
        "summary": "Redact a account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Redact a account"
      }
    },
    "/accounts/{account-id}/consolidate": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "consolidate-account",
        "summary": "Consolidate a account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Consolidate a account"
      }
    },
    "/accounts/{account-id}/add-tag": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "add-tag-account",
        "summary": "Add Tag on account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Tag on account"
      }
    },
    "/accounts/{account-id}/remove-tag": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "remove-tag-account",
        "summary": "Remove Tag on account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove Tag on account"
      }
    },
    "/accounts/{account-id}/set-all-tags": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "set-all-tags-account",
        "summary": "Set All Tags on account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Set All Tags on account"
      }
    },
    "/verifications/government-ids": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "list-verifications-government-ids",
        "summary": "List all government-ids",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all government-ids"
      }
    },
    "/verifications/government-ids/{government-id-verification-id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "get-government-id-verification",
        "summary": "Retrieve a government-id-verification",
        "parameters": [
          {
            "name": "government-id-verification-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a government-id-verification"
      }
    },
    "/verifications/selfies": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "list-verifications-selfies",
        "summary": "List all selfies",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all selfies"
      }
    },
    "/verifications/selfies/{selfie-verification-id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "get-selfie-verification",
        "summary": "Retrieve a selfie-verification",
        "parameters": [
          {
            "name": "selfie-verification-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a selfie-verification"
      }
    },
    "/verifications/database": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "list-verifications-database",
        "summary": "List all database",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all database"
      }
    },
    "/verifications/database/{database-verification-id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "get-database-verification",
        "summary": "Retrieve a database-verification",
        "parameters": [
          {
            "name": "database-verification-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a database-verification"
      }
    },
    "/verifications/document": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "list-verifications-document",
        "summary": "List all document",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all document"
      }
    },
    "/verifications/document/{document-verification-id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "operationId": "get-document-verification",
        "summary": "Retrieve a document-verification",
        "parameters": [
          {
            "name": "document-verification-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a document-verification"
      }
    },
    "/reports/watchlist": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "list-reports-watchlist",
        "summary": "List all watchlist",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all watchlist"
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "operationId": "create-watchlist-report",
        "summary": "Create a watchlist-report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a watchlist-report"
      }
    },
    "/reports/watchlist/{watchlist-report-id}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "get-watchlist-report",
        "summary": "Retrieve a watchlist-report",
        "parameters": [
          {
            "name": "watchlist-report-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a watchlist-report"
      }
    },
    "/reports/adverse-media": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "list-reports-adverse-media",
        "summary": "List all adverse-media",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all adverse-media"
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "operationId": "create-adverse-media-report",
        "summary": "Create a adverse-media-report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a adverse-media-report"
      }
    },
    "/reports/adverse-media/{adverse-media-report-id}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "get-adverse-media-report",
        "summary": "Retrieve a adverse-media-report",
        "parameters": [
          {
            "name": "adverse-media-report-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a adverse-media-report"
      }
    },
    "/cases": {
      "get": {
        "tags": [
          "Cases"
        ],
        "operationId": "list-cases",
        "summary": "List all cases",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all cases"
      },
      "post": {
        "tags": [
          "Cases"
        ],
        "operationId": "create-case",
        "summary": "Create a case",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a case"
      }
    },
    "/cases/{case-id}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "operationId": "get-case",
        "summary": "Retrieve a case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a case"
      },
      "patch": {
        "tags": [
          "Cases"
        ],
        "operationId": "update-case",
        "summary": "Update a case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a case"
      }
    },
    "/cases/{case-id}/assign": {
      "post": {
        "tags": [
          "Cases"
        ],
        "operationId": "assign-case",
        "summary": "Assign a case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Assign a case"
      }
    },
    "/cases/{case-id}/add-tag": {
      "post": {
        "tags": [
          "Cases"
        ],
        "operationId": "add-tag-case",
        "summary": "Add Tag on case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Tag on case"
      }
    },
    "/cases/{case-id}/remove-tag": {
      "post": {
        "tags": [
          "Cases"
        ],
        "operationId": "remove-tag-case",
        "summary": "Remove Tag on case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove Tag on case"
      }
    },
    "/cases/{case-id}/set-status": {
      "post": {
        "tags": [
          "Cases"
        ],
        "operationId": "set-status-case",
        "summary": "Set status on case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Set status on case"
      }
    },
    "/lists": {
      "get": {
        "tags": [
          "Lists"
        ],
        "operationId": "list-lists",
        "summary": "List all lists",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all lists"
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "operationId": "create-list",
        "summary": "Create a list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a list"
      }
    },
    "/lists/{list-id}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "operationId": "get-list",
        "summary": "Retrieve a list",
        "parameters": [
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a list"
      },
      "patch": {
        "tags": [
          "Lists"
        ],
        "operationId": "update-list",
        "summary": "Update a list",
        "parameters": [
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a list"
      }
    },
    "/lists/{list-id}/archive": {
      "post": {
        "tags": [
          "Lists"
        ],
        "operationId": "archive-list",
        "summary": "Archive a list",
        "parameters": [
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Archive a list"
      }
    },
    "/list-items": {
      "get": {
        "tags": [
          "Lists"
        ],
        "operationId": "list-list-items",
        "summary": "List all list-items",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all list-items"
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "operationId": "create-list-item",
        "summary": "Create a list-item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a list-item"
      }
    },
    "/list-items/{list-item-id}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "operationId": "get-list-item",
        "summary": "Retrieve a list-item",
        "parameters": [
          {
            "name": "list-item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a list-item"
      },
      "patch": {
        "tags": [
          "Lists"
        ],
        "operationId": "update-list-item",
        "summary": "Update a list-item",
        "parameters": [
          {
            "name": "list-item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a list-item"
      }
    },
    "/list-items/{list-item-id}/archive": {
      "post": {
        "tags": [
          "Lists"
        ],
        "operationId": "archive-list-item",
        "summary": "Archive a list-item",
        "parameters": [
          {
            "name": "list-item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Archive a list-item"
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "list-documents",
        "summary": "List all documents",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all documents"
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "create-document",
        "summary": "Create a document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a document"
      }
    },
    "/documents/{document-id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "get-document",
        "summary": "Retrieve a document",
        "parameters": [
          {
            "name": "document-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a document"
      },
      "patch": {
        "tags": [
          "Documents"
        ],
        "operationId": "update-document",
        "summary": "Update a document",
        "parameters": [
          {
            "name": "document-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a document"
      }
    },
    "/documents/{document-id}/submit": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "submit-document",
        "summary": "Submit a document",
        "parameters": [
          {
            "name": "document-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Submit a document"
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "list-events",
        "summary": "List all events",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all events"
      }
    },
    "/events/{event-id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "get-event",
        "summary": "Retrieve a event",
        "parameters": [
          {
            "name": "event-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a event"
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "list-webhooks",
        "summary": "List all webhooks",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all webhooks"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "create-webhook",
        "summary": "Create a webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a webhook"
      }
    },
    "/webhooks/{webhook-id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "get-webhook",
        "summary": "Retrieve a webhook",
        "parameters": [
          {
            "name": "webhook-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a webhook"
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "update-webhook",
        "summary": "Update a webhook",
        "parameters": [
          {
            "name": "webhook-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Update a webhook"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "delete-webhook",
        "summary": "Delete a webhook",
        "parameters": [
          {
            "name": "webhook-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a webhook"
      }
    },
    "/webhooks/{webhook-id}/enable": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "enable-webhook",
        "summary": "Enable a webhook",
        "parameters": [
          {
            "name": "webhook-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Enable a webhook"
      }
    },
    "/webhooks/{webhook-id}/disable": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "disable-webhook",
        "summary": "Disable a webhook",
        "parameters": [
          {
            "name": "webhook-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Disable a webhook"
      }
    },
    "/webhooks/{webhook-id}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "rotate-secret-webhook",
        "summary": "Rotate Secret a webhook",
        "parameters": [
          {
            "name": "webhook-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Rotate Secret a webhook"
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "list-transactions",
        "summary": "List all transactions",
        "parameters": [
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all transactions"
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "create-transaction",
        "summary": "Create a transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create a transaction"
      }
    },
    "/transactions/{transaction-id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "get-transaction",
        "summary": "Retrieve a transaction",
        "parameters": [
          {
            "name": "transaction-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a transaction"
      }
    },
    "/transactions/{transaction-id}/add-tag": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "add-tag-transaction",
        "summary": "Add Tag on transaction",
        "parameters": [
          {
            "name": "transaction-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add Tag on transaction"
      }
    },
    "/transactions/{transaction-id}/remove-tag": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "remove-tag-transaction",
        "summary": "Remove Tag on transaction",
        "parameters": [
          {
            "name": "transaction-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove Tag on transaction"
      }
    },
    "/transactions/{transaction-id}/set-all-tags": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "set-all-tags-transaction",
        "summary": "Set All Tags on transaction",
        "parameters": [
          {
            "name": "transaction-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "tag-name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Set All Tags on transaction"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Persona API key"
      }
    },
    "schemas": {}
  }
}
