{
  "swagger": "2.0",
  "info": {
    "version": "2025-10-29.clover",
    "title": "Tax Codes",
    "description": "<a href=\"https://docs.stripe.com/tax/tax-codes\">Tax codes</a> classify goods and services for tax purposes.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/techwritingportfolio-d6c/Stripe-API-V1/2025-10-29.clover"
  },
  "host": "api.stripe.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/tax_codes/{tax_code_id}": {
      "get": {
        "description": "Retrieves the details of an existing tax code. Supply the unique tax code ID and Stripe will return the corresponding tax code information.",
        "parameters": [
          {
            "name": "tax_code_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the tax code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/taxCode"
            }
          }
        }
      }
    },
    "/tax_codes": {
      "get": {
        "description": "A list of <a href=\"https://docs.stripe.com/tax/tax-codes#all-tax-codes\">all tax codes</a> available to add to Products in order to allow specific tax calculations.",
        "parameters": [
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list."
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a data property that contains an array of up to limit tax codes, starting after tax code starting_after. Each entry in the array is a separate tax code object. If no more tax codes are available, the resulting array will be empty. This request should never return an error.",
            "schema": {
              "$ref": "#/definitions/taxCodeList"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "taxCode": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the object."
        },
        "object": {
          "type": "string",
          "description": "String representing the objectâ€™s type. Objects of the same type share the same value.",
          "enum": [
            "tax_code"
          ]
        },
        "description": {
          "type": "string",
          "description": "A detailed description of which types of products the tax code represents."
        },
        "name": {
          "type": "string",
          "description": "A short name for the tax code."
        }
      }
    },
    "taxCodeList": {
      "description": "A dictionary with a data property that contains an array of up to limit tax codes, starting after tax code starting_after. Each entry in the array is a separate tax code object. If no more tax codes are available, the resulting array will be empty.",
      "properties": {
        "object": {
          "type": "string",
          "description": "String representing the objectâ€™s type. Objects of the same type share the same value.",
          "enum": [
            "list"
          ]
        },
        "url": {
          "type": "string",
          "description": "URL of the tax codes."
        },
        "has_more": {
          "type": "boolean",
          "description": "Whether or not there are more elements available after this set. If `false`, this set comprises the end of the list."
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/taxCode"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  }
}
