{
  "openapi": "3.0.3",
  "info": {
    "title": "Idaho 511 Traffic Information API",
    "description": "Provides real-time Idaho traffic information including road conditions, cameras, weather stations, message signs, mountain passes, traffic events, alerts, weigh stations, truck ramps, rest areas, and truck restrictions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://511.idaho.gov/developers/doc"
  },
  "servers": [
    {
      "url": "https://511.idaho.gov/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/winterroads": {
      "get": {
        "operationId": "getWinterRoadConditions",
        "summary": "Get current road conditions",
        "description": "Returns current winter road conditions across Idaho highways.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with road condition data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadCondition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 calls per 60 seconds)"
          }
        }
      }
    },
    "/truckrestrictions": {
      "get": {
        "operationId": "getTruckRestrictions",
        "summary": "Get truck weight restrictions",
        "description": "Returns all current weight restriction events for trucks on Idaho highways.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with truck restriction data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TruckRestriction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cameras": {
      "get": {
        "operationId": "getTrafficCameras",
        "summary": "Get all traffic cameras",
        "description": "Returns all traffic camera locations and current image data across Idaho.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with camera data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Camera"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/weatherstations": {
      "get": {
        "operationId": "getWeatherStations",
        "summary": "Get all weather stations",
        "description": "Returns all roadside weather station locations and current readings.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with weather station data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherStation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messagesigns": {
      "get": {
        "operationId": "getMessageSigns",
        "summary": "Get all variable message signs",
        "description": "Returns all variable message signs (VMS) and their current displayed messages.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with message sign data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageSign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mountainpasses": {
      "get": {
        "operationId": "getMountainPasses",
        "summary": "Get all mountain passes",
        "description": "Returns current conditions for all monitored mountain passes in Idaho.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with mountain pass data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MountainPass"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event": {
      "get": {
        "operationId": "getTrafficEvents",
        "summary": "Get all traffic events",
        "description": "Returns all current traffic events including incidents, construction, and closures.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with traffic event data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrafficEvent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "operationId": "getAlerts",
        "summary": "Get all advisories",
        "description": "Returns all current travel advisories and alerts for Idaho roadways.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alert data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/weighstations": {
      "get": {
        "operationId": "getWeighStations",
        "summary": "Get all weigh stations",
        "description": "Returns all weigh station locations and current status information.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with weigh station data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeighStation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/truckramps": {
      "get": {
        "operationId": "getTruckRamps",
        "summary": "Get all runaway truck ramps",
        "description": "Returns all runaway truck ramp locations across Idaho highways.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with truck ramp data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TruckRamp"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/restareas": {
      "get": {
        "operationId": "getRestAreas",
        "summary": "Get all rest areas",
        "description": "Returns all rest area locations and facility information along Idaho highways.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with rest area data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestArea"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wzdx": {
      "get": {
        "operationId": "getWorkZoneData",
        "summary": "Get work zone activity data",
        "description": "Returns work zone data in the Work Zone Data Exchange (WZDx) specification format.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with WZDx feed data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WZDxFeed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Developer API key obtained from the Idaho 511 developer portal"
      }
    },
    "schemas": {
      "RoadCondition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the road segment"
          },
          "roadName": {
            "type": "string",
            "description": "Name of the road or highway"
          },
          "condition": {
            "type": "string",
            "description": "Current road condition description"
          },
          "startLocation": {
            "type": "string",
            "description": "Start point of the road segment"
          },
          "endLocation": {
            "type": "string",
            "description": "End point of the road segment"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update"
          }
        }
      },
      "TruckRestriction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "roadName": {
            "type": "string",
            "description": "Road or highway name"
          },
          "restrictionType": {
            "type": "string",
            "description": "Type of weight restriction"
          },
          "description": {
            "type": "string",
            "description": "Detailed restriction description"
          },
          "startLocation": {
            "type": "string"
          },
          "endLocation": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Camera": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique camera identifier"
          },
          "name": {
            "type": "string",
            "description": "Camera name or location label"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the current camera image"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "direction": {
            "type": "string",
            "description": "Direction the camera faces"
          },
          "roadName": {
            "type": "string"
          }
        }
      },
      "WeatherStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Station name"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "temperature": {
            "type": "number",
            "format": "double",
            "description": "Current temperature reading"
          },
          "humidity": {
            "type": "number",
            "format": "double",
            "description": "Current humidity percentage"
          },
          "windSpeed": {
            "type": "number",
            "format": "double",
            "description": "Current wind speed"
          },
          "visibility": {
            "type": "string",
            "description": "Visibility conditions"
          }
        }
      },
      "MessageSign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Sign location name"
          },
          "message": {
            "type": "string",
            "description": "Currently displayed message"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "roadName": {
            "type": "string"
          }
        }
      },
      "MountainPass": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Mountain pass name"
          },
          "elevation": {
            "type": "number",
            "format": "double",
            "description": "Pass elevation in feet"
          },
          "condition": {
            "type": "string",
            "description": "Current pass condition"
          },
          "roadName": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TrafficEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Event type (incident, construction, closure, etc.)"
          },
          "description": {
            "type": "string",
            "description": "Event description"
          },
          "roadName": {
            "type": "string"
          },
          "startLocation": {
            "type": "string"
          },
          "endLocation": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "severity": {
            "type": "string",
            "description": "Event severity level"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "description": "Alert title"
          },
          "description": {
            "type": "string",
            "description": "Alert description"
          },
          "severity": {
            "type": "string",
            "description": "Alert severity"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "area": {
            "type": "string",
            "description": "Affected area"
          }
        }
      },
      "WeighStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Station operational status (open/closed)"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "roadName": {
            "type": "string"
          }
        }
      },
      "TruckRamp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "roadName": {
            "type": "string"
          },
          "milepost": {
            "type": "number",
            "format": "double",
            "description": "Milepost location"
          }
        }
      },
      "RestArea": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "roadName": {
            "type": "string"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available facilities and amenities"
          }
        }
      },
      "WZDxFeed": {
        "type": "object",
        "properties": {
          "feed_info": {
            "type": "object",
            "properties": {
              "publisher": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "update_date": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "core_details": {
                      "type": "object",
                      "properties": {
                        "event_type": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "geometry": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}