{
  "openapi": "3.0.3",
  "info": {
    "title": "Wolfram Alpha API",
    "version": "2.0",
    "description": "Wolfram Alpha computational intelligence API. Provides multiple API tiers for different use cases: Full Results (structured pods), Short Answers, Spoken Results, Simple (image), and LLM API for AI integration.",
    "x-jentic-source-url": "https://products.wolframalpha.com/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.wolframalpha.com"
    }
  ],
  "paths": {
    "/v2/query": {
      "get": {
        "operationId": "fullResultsQuery",
        "summary": "Full Results API query",
        "description": "Submit a query and get full structured results with multiple pods containing different types of information (text, images, tables, etc.).",
        "tags": [
          "Full Results"
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The query input string"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API app ID"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "plaintext",
                "minput",
                "moutput",
                "cell",
                "mathml",
                "imagemap",
                "sound",
                "wav"
              ]
            },
            "description": "Output format"
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "includepodid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include only specific pod IDs"
          },
          {
            "name": "excludepodid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exclude specific pod IDs"
          },
          {
            "name": "podtitle",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include only pods with matching title"
          },
          {
            "name": "podindex",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include only pods at these indices"
          },
          {
            "name": "scanner",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Include only results from specific scanners"
          },
          {
            "name": "ip",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "IP for location-based queries"
          },
          {
            "name": "latlong",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Latitude,longitude for location context"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Location string"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            },
            "description": "Unit system"
          },
          {
            "name": "assumption",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Assumption overrides"
          },
          {
            "name": "reinterpret",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Reinterpret if no results"
          },
          {
            "name": "translation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Translate input"
          },
          {
            "name": "ignorecase",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Ignore case"
          },
          {
            "name": "sig",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Signature for premium API"
          }
        ],
        "responses": {
          "200": {
            "description": "Full results response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid AppID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/result": {
      "get": {
        "operationId": "shortAnswer",
        "summary": "Short Answers API",
        "description": "Get a single line text answer to a query. Ideal for simple factual questions.",
        "tags": [
          "Short Answers"
        ],
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The query input"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Timeout in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Plain text answer",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "501": {
            "description": "No short answer available",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/spoken": {
      "get": {
        "operationId": "spokenAnswer",
        "summary": "Spoken Results API",
        "description": "Get a spoken-word version of the answer, suitable for voice assistants and TTS.",
        "tags": [
          "Spoken Results"
        ],
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spoken text answer",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simple": {
      "get": {
        "operationId": "simpleImage",
        "summary": "Simple API (image response)",
        "description": "Get the result as a single image. Returns a visual representation of the full Wolfram Alpha result page.",
        "tags": [
          "Simple"
        ],
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Image width in pixels"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "fontsize",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Font size"
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Background color hex"
          },
          {
            "name": "foreground",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Foreground color hex"
          },
          {
            "name": "layout",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "divider",
                "labelbar"
              ]
            },
            "description": "Layout style"
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Timeout in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Result image",
            "content": {
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/llm-api": {
      "get": {
        "operationId": "llmApi",
        "summary": "LLM API",
        "description": "Get results optimized for consumption by Large Language Models. Returns structured text that LLMs can easily parse and use.",
        "tags": [
          "LLM"
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The query input"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxchars",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum characters in response"
          }
        ],
        "responses": {
          "200": {
            "description": "LLM-formatted result",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversation.jsp": {
      "get": {
        "operationId": "conversationStart",
        "summary": "Start a conversation",
        "description": "Start a conversational session with Wolfram Alpha. Returns an answer and a conversation ID for follow-up.",
        "tags": [
          "Conversational"
        ],
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The initial query"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geolocation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "lat,lon for location context"
          },
          {
            "name": "ip",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "IP for location context"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversation.jsp/{conversationID}": {
      "get": {
        "operationId": "conversationContinue",
        "summary": "Continue a conversation",
        "description": "Continue an existing conversation with a follow-up query.",
        "tags": [
          "Conversational"
        ],
        "parameters": [
          {
            "name": "conversationID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID from previous response"
          },
          {
            "name": "i",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Follow-up query"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Host from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FullResultsResponse": {
        "type": "object",
        "properties": {
          "queryresult": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean"
              },
              "error": {
                "type": "boolean"
              },
              "numpods": {
                "type": "integer"
              },
              "datatypes": {
                "type": "string"
              },
              "timedout": {
                "type": "string"
              },
              "timedoutpods": {
                "type": "string"
              },
              "timing": {
                "type": "number"
              },
              "parsetiming": {
                "type": "number"
              },
              "parsetimedout": {
                "type": "boolean"
              },
              "recalculate": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "host": {
                "type": "string"
              },
              "server": {
                "type": "string"
              },
              "related": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "inputstring": {
                "type": "string"
              },
              "pods": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Pod"
                }
              },
              "assumptions": {
                "type": "object"
              }
            }
          }
        }
      },
      "Pod": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "scanner": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "error": {
            "type": "boolean"
          },
          "numsubpods": {
            "type": "integer"
          },
          "primary": {
            "type": "boolean"
          },
          "subpods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subpod"
            }
          }
        }
      },
      "Subpod": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "plaintext": {
            "type": "string"
          },
          "img": {
            "type": "object",
            "properties": {
              "src": {
                "type": "string"
              },
              "alt": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ConversationResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "conversationID": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "s": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "msg": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "appId": {
        "type": "apiKey",
        "in": "query",
        "name": "appid",
        "description": "Wolfram Alpha App ID"
      }
    }
  },
  "security": [
    {
      "appId": []
    }
  ],
  "tags": [
    {
      "name": "Conversational"
    },
    {
      "name": "Full Results"
    },
    {
      "name": "LLM"
    },
    {
      "name": "Short Answers"
    },
    {
      "name": "Simple"
    },
    {
      "name": "Spoken Results"
    }
  ]
}
