{
  "openapi": "3.0.1",
  "info": {
    "title": "dms data service",
    "version": "1.0.0",
    "description": "All API requests must be made over HTTPS. Calls made over plain HTTP will be redirected to HTTPS. Max request size of 6MB.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/YVISHWAKARMA/dms-data-service/1.0.0"
  },
  "servers": [
    {
      "url": "https://dms-service.testenv.impel.io",
      "description": "Impel test environment endpoint."
    },
    {
      "url": "https://dms-service.impel.io",
      "description": "Impel prod environment endpoint."
    }
  ],
  "paths": {
    "/create-dealer/v1": {
      "post": {
        "summary": "Create a dealer.",
        "operationId": "create-dealer",
        "description": "This API creates a dealer.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dms_id": {
                    "type": "string",
                    "description": "The DMS ID assigned to the dealer.",
                    "example": "string",
                    "minimum": 1
                  },
                  "impel_dealer_id": {
                    "type": "string",
                    "description": "The unique id of the dealer assigned by Impel."
                  },
                  "location_name": {
                    "type": "string",
                    "description": "The name of dealer's location.",
                    "example": "3371 Fort Meade Rd"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state where the dealer is located.",
                    "example": "Maryland"
                  },
                  "city": {
                    "type": "string",
                    "description": "The city where the dealer is located.",
                    "example": "Laurel"
                  },
                  "zip_code": {
                    "type": "integer",
                    "description": "The zipcode where the dealer being created is located.",
                    "example": 20724
                  },
                  "impel_integration_partner_id": {
                    "type": "string",
                    "description": "The integration partner ID.",
                    "example": "reyrey"
                  },
                  "full_name": {
                    "type": "string",
                    "description": "The full name of the dealer.",
                    "example": "Ourisman Honda VW of Laurel"
                  },
                  "client_key": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Client key from IDP (e.g., C00xxxxx)",
                    "example": "C0022839"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Dealer created successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          },
          "409": {
            "description": "Dealer with the provided impel_dealer_id already exists."
          }
        }
      }
    },
    "/repair-order/v1": {
      "get": {
        "summary": "Get DMS repair order data.",
        "operationId": "get-repair-order",
        "description": "This API endpoint enables the retrieval of DMS repair order data.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "page",
            "required": false,
            "description": "The results page to retrieve, starts at 1."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "in": "query",
            "name": "result_count",
            "required": false,
            "description": "The number of results per page to return."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_dealer_id",
            "required": false,
            "description": "The unique id of the dealer assigned by impel of the repair order to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dms_id",
            "required": false,
            "description": "The id of the dealer assigned by the dms of the repair order to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_integration_partner_id",
            "required": false,
            "description": "The id of the DMS assigned by Impel of the repair order to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_creation_date_start",
            "required": false,
            "description": "The earliest db_creation_date of the repair order to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_creation_date_end",
            "required": false,
            "description": "The latest db_creation_date of the repair order to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "ro_open_date_start",
            "required": false,
            "description": "The earliest ro_open_date of the repair order to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "ro_open_date_end",
            "required": false,
            "description": "The latest ro_open_date of the repair order to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "ro_close_date_start",
            "required": false,
            "description": "The earliest ro_close_date of the repair order to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "ro_close_date_end",
            "required": false,
            "description": "The latest ro_close_date of the repair order to query for in YYYY-MM-DD format."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "repair_order_no",
            "required": false,
            "description": "The repair order number to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "vin",
            "description": "The Vehicle Identification Number of the repair order to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dealer_customer_no",
            "description": "The dealer's identifier for the customer of the repair order to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "stock_num",
            "description": "The Stock Number of the repair order to query for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepairOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/vehicle-sale/v1": {
      "get": {
        "summary": "Get DMS vehicle sale data.",
        "operationId": "get-vehicle-sale",
        "description": "This API endpoint enables the retrieval of DMS vehicle sale data.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "page",
            "required": false,
            "description": "The results page to retrieve, starts at 1."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "in": "query",
            "name": "result_count",
            "required": false,
            "description": "The number of results per page to return."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_dealer_id",
            "required": false,
            "description": "The unique id of the dealer assigned by impel of the repair order to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dms_id",
            "required": false,
            "description": "The id of the dealer assigned by the dms of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_integration_partner_id",
            "required": false,
            "description": "The id of the DMS assigned by Impel of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_creation_date_start",
            "required": false,
            "description": "The earliest db_creation_date of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_creation_date_end",
            "required": false,
            "description": "The latest db_creation_date of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "sale_date_start",
            "required": false,
            "description": "The earliest sale_date of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "sale_date_end",
            "required": false,
            "description": "The latest sale_date of the vehicle sale to query for in YYYY-MM-DD format."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "vin",
            "description": "The Vehicle Identification Number of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dealer_customer_no",
            "description": "The dealer's identifier for the customer of the vehicle sale to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "stock_num",
            "description": "The Stock Number of the vehicle sale to query for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSaleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/dealers/v1": {
      "get": {
        "summary": "Retrieve all active dealers.",
        "operationId": "get-dealers",
        "description": "This API retrieves all dealers where the is_active flag is true. Supports pagination.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel."
          },
          {
            "name": "integration_partner_name",
            "in": "query",
            "description": "The name(s) of the integration partner(s) assigned by Impel, separated by '|' for multiple.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "TESTPARTNER|ANOTHER"
            }
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": false,
            "description": "The results page to retrieve, starts at 1."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            },
            "in": "query",
            "name": "result_count",
            "required": false,
            "description": "Maximum number of results per page (max 1000)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Missing or invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "404": {
            "description": "Not Found. No active dealers found for the given partner(s)."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/dealer/v1": {
      "get": {
        "summary": "Get DMS dealer data.",
        "operationId": "get-dealer",
        "description": "This API endpoint enables the retrieval of DMS dealer data.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "page",
            "required": false,
            "description": "The results page to retrieve, starts at 1."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "in": "query",
            "name": "result_count",
            "required": false,
            "description": "The number of results per page to return."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_dealer_id",
            "required": false,
            "description": "The unique id of the dealer assigned by impel of the repair order to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dms_id",
            "required": false,
            "description": "The id of the dealer assigned by the dms to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_integration_partner_id",
            "required": false,
            "description": "The id of the DMS assigned by Impel to query for."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "ENABLED",
                "IN_PROGRESS",
                "FINISHED",
                "DISABLED"
              ]
            },
            "in": "query",
            "name": "historical_pull_status",
            "required": false,
            "description": "Filter dealers by the status of their historical pull configuration."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "is_unified",
            "required": false,
            "description": "Filter dealers by whether they utilize the unified DMS pipeline."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "is_active",
            "required": false,
            "description": "Filter dealers by their active status."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/update-dealer/v1": {
      "put": {
        "operationId": "update-dealer",
        "summary": "This endpoint partially updates dealer config in shared layer.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "impel_dealer_id",
                  "impel_integration_partner_id",
                  "is_active"
                ],
                "properties": {
                  "impel_dealer_id": {
                    "description": "The ID of the dealer in shared layer.",
                    "type": "string",
                    "example": "tekion-test-dealer"
                  },
                  "impel_integration_partner_id": {
                    "description": "The ID of the integration partner assigned by Impel.",
                    "type": "string",
                    "example": "test-dms"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Indicates whether the dealer is active. Set to `true` to activate the dealer, or `false` to deactivate.",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information updated."
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "404": {
            "description": "Not Found. Request values didn't match any existing records on Impel."
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/appointment/v1": {
      "get": {
        "summary": "Get DMS appointment data.",
        "operationId": "get-appointment",
        "description": "This API endpoint enables the retrieval of DMS repair order data.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "page",
            "required": false,
            "description": "The results page to retrieve, starts at 1."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "in": "query",
            "name": "result_count",
            "required": false,
            "description": "The number of results per page to return."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_dealer_id",
            "required": false,
            "description": "The unique id of the dealer assigned by impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dms_id",
            "required": false,
            "description": "The id of the dealer assigned by the dms of the vehicle to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "impel_integration_partner_id",
            "required": false,
            "description": "The id of the DMS assigned by Impel."
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-05-25"
            },
            "in": "query",
            "name": "appointment_date_start",
            "required": false,
            "description": "The earliest appointment_date of the appointment to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-05-25"
            },
            "in": "query",
            "name": "appointment_date_end",
            "required": false,
            "description": "The latest appointment_date of the appointment to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_creation_date_start",
            "required": false,
            "description": "The earliest db_creation_date of the appointment to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_creation_date_end",
            "required": false,
            "description": "The latest db_creation_date of the appointment to query for."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_update_date_start",
            "required": false,
            "description": "The earliest db_update_date of the appointment to query for. On first insertion this is the same as db_creation_date."
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-25T06:35:34"
            },
            "in": "query",
            "name": "db_update_date_end",
            "required": false,
            "description": "The latest db_update_date of the appointment to query for. On first insertion this is the same as db_creation_date."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "appointment_no",
            "description": "The dealer's appointment number of the vehicle to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "stock_num",
            "description": "The Stock Number of the vehicle to query for."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "vin",
            "description": "The Vehicle Identification Number of the vehicle to query for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/customer/v1": {
      "get": {
        "summary": "Get DMS customer data.",
        "operationId": "get-customer",
        "description": "This API endpoint enables the retrieval of DMS customer data.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "consumer_id",
            "required": true,
            "description": "The dealer's ID assigned to the customer."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "email",
            "required": false,
            "description": "The email associated to the customer."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "phone",
            "required": false,
            "description": "The phone number associated to the customer."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/payment/v1": {
      "post": {
        "summary": "Create a payment record.",
        "operationId": "create-payment",
        "description": "This API creates a new payment record associated with a repair order.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dealer_integration_partner_id",
                  "ro_number"
                ],
                "properties": {
                  "dealer_integration_partner_id": {
                    "type": "integer",
                    "description": "The ID of the dealer integration partner relationship.",
                    "example": 123
                  },
                  "dms_customer_id": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The customer ID in the DMS system.",
                    "example": "CUST-872391"
                  },
                  "first_name": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Customer's first name.",
                    "example": "Alex"
                  },
                  "last_name": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Customer's last name.",
                    "example": "Johnson"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 200,
                    "description": "Customer's email address.",
                    "example": "alex.johnson@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Customer's phone number.",
                    "example": "+1-212-555-0199"
                  },
                  "ro_number": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The repair order number.",
                    "example": "RO-118234"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Payment amount.",
                    "example": 742.55
                  },
                  "payment_link_url": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "URL for the payment link.",
                    "example": "https://mypmauto.com/pay/RO-118234"
                  },
                  "pm_transaction_id": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Payment processor transaction ID.",
                    "example": "PAY-789"
                  },
                  "status": {
                    "type": "string",
                    "maxLength": 20,
                    "enum": [
                      "approved",
                      "declined",
                      "pending"
                    ],
                    "description": "Payment transaction status.",
                    "example": "pending"
                  },
                  "processor_message": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Message from the payment processor.",
                    "example": "Payment initiated"
                  },
                  "last4": {
                    "type": "string",
                    "pattern": "^\\d{4}$",
                    "description": "Last 4 digits of the payment card.",
                    "example": "4242"
                  },
                  "brand": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Card brand or payment method.",
                    "example": "visa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Payment record created successfully."
                    },
                    "payment_id": {
                      "type": "integer",
                      "description": "The ID of the newly created payment record.",
                      "example": 456
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "404": {
            "description": "Not Found. The dealer_integration_partner_id does not exist."
          },
          "409": {
            "description": "Conflict. Payment record with the provided ro_number and dealer_integration_partner_id already exists."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    },
    "/payment/v1/{payment_id}": {
      "put": {
        "summary": "Update a payment record.",
        "operationId": "update-payment",
        "description": "This API updates an existing payment record. Performs a partial update with the provided fields.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client_id",
            "required": true,
            "description": "Client ID provided by Impel."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x_api_key",
            "required": true,
            "description": "API Key provided by Impel"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "name": "payment_id",
            "required": true,
            "description": "The unique identifier of the payment record to update.",
            "example": 456
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dealer_integration_partner_id": {
                    "type": "integer",
                    "description": "The ID of the dealer integration partner relationship.",
                    "example": 123
                  },
                  "dms_customer_id": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The customer ID in the DMS system.",
                    "example": "CUST-872391"
                  },
                  "first_name": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Customer's first name.",
                    "example": "Alex"
                  },
                  "last_name": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Customer's last name.",
                    "example": "Johnson"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 200,
                    "description": "Customer's email address.",
                    "example": "alex.johnson@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Customer's phone number.",
                    "example": "+1-212-555-0199"
                  },
                  "ro_number": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The repair order number.",
                    "example": "RO-118234"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Payment amount.",
                    "example": 742.55
                  },
                  "payment_link_url": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "URL for the payment link.",
                    "example": "https://mypmauto.com/pay/RO-118234"
                  },
                  "pm_transaction_id": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Payment processor transaction ID.",
                    "example": "PAY-789"
                  },
                  "status": {
                    "type": "string",
                    "maxLength": 20,
                    "enum": [
                      "approved",
                      "declined"
                    ],
                    "description": "Payment transaction status.",
                    "example": "approved"
                  },
                  "processor_message": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Message from the payment processor.",
                    "example": "Approved"
                  },
                  "last4": {
                    "type": "string",
                    "pattern": "^\\d{4}$",
                    "description": "Last 4 digits of the payment card.",
                    "example": "4242"
                  },
                  "brand": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Card brand or payment method.",
                    "example": "visa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Payment record updated successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "This request is unauthorized."
          },
          "404": {
            "description": "Not Found. The payment_id of the request didn't match any existing records on Impel."
          },
          "500": {
            "description": "Internal Server Error. Please contact Impel support."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AppointmentResponse": {
        "type": "object",
        "properties": {
          "received_date_utc": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Appointment"
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer": {
                      "$ref": "#/components/schemas/Dealer"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "integration_partner": {
                      "$ref": "#/components/schemas/IntegrationPartner"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer_integration_partner": {
                      "$ref": "#/components/schemas/DealerIntegrationPartner"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "consumer": {
                      "$ref": "#/components/schemas/Consumer"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "vehicle": {
                      "$ref": "#/components/schemas/Vehicle"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "service_contracts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceContracts"
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "op_codes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OpCode"
                      }
                    }
                  }
                }
              ]
            }
          },
          "has_next_page": {
            "type": "boolean"
          }
        }
      },
      "RepairOrderResponse": {
        "type": "object",
        "properties": {
          "received_date_utc": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RepairOrder"
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer": {
                      "$ref": "#/components/schemas/Dealer"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "integration_partner": {
                      "$ref": "#/components/schemas/IntegrationPartner"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer_integration_partner": {
                      "$ref": "#/components/schemas/DealerIntegrationPartner"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "vehicle": {
                      "$ref": "#/components/schemas/Vehicle"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "consumer": {
                      "$ref": "#/components/schemas/Consumer"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "op_codes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OpCode"
                      }
                    }
                  }
                }
              ]
            }
          },
          "has_next_page": {
            "type": "boolean"
          }
        }
      },
      "VehicleSaleResponse": {
        "type": "object",
        "properties": {
          "received_date_utc": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VehicleSale"
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer": {
                      "$ref": "#/components/schemas/Dealer"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "integration_partner": {
                      "$ref": "#/components/schemas/IntegrationPartner"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer_integration_partner": {
                      "$ref": "#/components/schemas/DealerIntegrationPartner"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "vehicle": {
                      "$ref": "#/components/schemas/Vehicle"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "consumer": {
                      "$ref": "#/components/schemas/Consumer"
                    }
                  }
                }
              ]
            }
          },
          "has_next_page": {
            "type": "boolean"
          }
        }
      },
      "DealerResponse": {
        "type": "object",
        "properties": {
          "received_date_utc": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DealerIntegrationPartner"
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer": {
                      "$ref": "#/components/schemas/Dealer"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "integration_partner": {
                      "$ref": "#/components/schemas/IntegrationPartner"
                    }
                  }
                }
              ]
            }
          },
          "has_next_page": {
            "type": "boolean"
          }
        }
      },
      "DealersResponse": {
        "type": "object",
        "properties": {
          "received_date_utc": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the response was generated"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DealerIntegrationPartner"
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer": {
                      "$ref": "#/components/schemas/Dealer"
                    }
                  }
                }
              ]
            }
          },
          "has_next_page": {
            "type": "boolean",
            "description": "True when another page of results exists after this one."
          }
        }
      },
      "DealerHistoricalProgressUpdateRequest": {
        "type": "object",
        "properties": {
          "dms_ids": {
            "type": "array",
            "description": "A list of DMS IDs to update historical progress for.",
            "items": {
              "type": "string"
            }
          },
          "historical_progress": {
            "type": "object",
            "description": "Metadata object to be written under 'historical_pull'.",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the historical pull progress (e.g., \"IN_PROGRESS\", \"FINISHED\")."
              }
            }
          }
        }
      },
      "DealerHistoricalProgressUpdateResponse": {
        "type": "object",
        "properties": {
          "updated": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dms_id": {
                  "type": "string"
                },
                "historical_progress": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "received_date_utc": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Consumer"
                },
                {
                  "type": "object",
                  "properties": {
                    "dealer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "impel_dealer_id": {
                          "type": "string"
                        }
                      }
                    },
                    "integration_partner": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "impel_integration_partner_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "IntegrationPartner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "impel_integration_partner_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Dealer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sfdc_account_id": {
            "type": "integer"
          },
          "dealer_group_id": {
            "type": "integer"
          },
          "impel_dealer_id": {
            "type": "string"
          },
          "location_name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DealerIntegrationPartner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "integration_partner_id": {
            "type": "integer"
          },
          "dealer_id": {
            "type": "integer"
          },
          "dms_id": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "string"
          }
        }
      },
      "OpCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "op_code": {
            "type": "string"
          },
          "op_code_desc": {
            "type": "string"
          },
          "dealer_integration_partner_id": {
            "type": "string"
          }
        }
      },
      "Consumer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dealer_integration_partner_id": {
            "type": "string"
          },
          "dealer_customer_no": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "cell_phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "metro": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "home_phone": {
            "type": "string"
          },
          "email_optin_flag": {
            "type": "boolean"
          },
          "phone_optin_flag": {
            "type": "boolean"
          },
          "postal_mail_optin_flag": {
            "type": "boolean"
          },
          "sms_optin_flag": {
            "type": "boolean"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "string"
          },
          "master_consumer_id": {
            "type": "string"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "vin": {
            "type": "string"
          },
          "oem_name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "vehicle_class": {
            "type": "string"
          },
          "mileage": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "dealer_integration_partner_id": {
            "type": "integer"
          },
          "new_or_used": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          }
        }
      },
      "VehicleSale": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dealer_integration_partner_id": {
            "type": "integer"
          },
          "vehicle_id": {
            "type": "integer"
          },
          "consumer_id": {
            "type": "integer"
          },
          "sale_date": {
            "type": "string",
            "format": "date",
            "example": "2021-11-19"
          },
          "listed_price": {
            "type": "number",
            "format": "float"
          },
          "sales_tax": {
            "type": "number",
            "format": "float"
          },
          "mileage_on_vehicle": {
            "type": "integer"
          },
          "deal_type": {
            "type": "string"
          },
          "cost_of_vehicle": {
            "type": "number",
            "format": "float"
          },
          "oem_msrp": {
            "type": "number",
            "format": "float"
          },
          "adjustment_on_price": {
            "type": "number",
            "format": "float"
          },
          "days_in_stock": {
            "type": "integer"
          },
          "date_of_state_inspection": {
            "type": "string",
            "format": "date",
            "example": "2021-11-19"
          },
          "trade_in_value": {
            "type": "number",
            "format": "float"
          },
          "payoff_on_trade": {
            "type": "number",
            "format": "float"
          },
          "value_at_end_of_lease": {
            "type": "number",
            "format": "float"
          },
          "miles_per_year": {
            "type": "integer"
          },
          "profit_on_sale": {
            "type": "number",
            "format": "float"
          },
          "has_service_contract": {
            "type": "boolean"
          },
          "vehicle_gross": {
            "type": "number",
            "format": "float"
          },
          "delivery_date": {
            "type": "string",
            "format": "date",
            "example": "2021-11-19"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date",
            "example": "2021-11-19"
          },
          "vin": {
            "type": "string",
            "example": "1G1FX6S05P4158304"
          }
        }
      },
      "RepairOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dealer_integration_partner_id": {
            "type": "integer"
          },
          "consumer_id": {
            "type": "integer"
          },
          "vehicle_id": {
            "type": "integer"
          },
          "ro_open_date": {
            "type": "string",
            "format": "date-time",
            "example": "2021-11-19T16:57:31+0000"
          },
          "ro_close_date": {
            "type": "string",
            "format": "date-time",
            "example": "2021-11-19T16:57:31+0000"
          },
          "txn_pay_type": {
            "type": "integer"
          },
          "repair_order_no": {
            "type": "string"
          },
          "advisor_name": {
            "type": "string"
          },
          "total_amount": {
            "type": "number",
            "format": "float"
          },
          "consumer_total_amount": {
            "type": "number",
            "format": "float"
          },
          "warranty_total_amount": {
            "type": "number",
            "format": "float"
          },
          "internal_total_amount": {
            "type": "number",
            "format": "float"
          },
          "comment": {
            "type": "string"
          },
          "recommendation": {
            "type": "string"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "string"
          }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dealer_integration_partner_id": {
            "type": "integer"
          },
          "vehicle_id": {
            "type": "integer"
          },
          "consumer_id": {
            "type": "integer"
          },
          "appointment_time": {
            "type": "string"
          },
          "appointment_date": {
            "type": "string",
            "format": "date"
          },
          "appointment_source": {
            "type": "string"
          },
          "reason_code": {
            "type": "string"
          },
          "appointment_create_ts": {
            "type": "string",
            "format": "date-time"
          },
          "appointment_update_ts": {
            "type": "string",
            "format": "date-time"
          },
          "rescheduled_flag": {
            "type": "boolean"
          },
          "appointment_no": {
            "type": "string"
          },
          "last_ro_date": {
            "type": "string",
            "format": "date-time"
          },
          "last_ro_num": {
            "type": "string"
          },
          "converted_ro_num": {
            "type": "string"
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServiceContracts": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "dealer_integration_partner_id": {
            "type": "integer"
          },
          "contract_id": {
            "type": "string"
          },
          "contract_name": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "datetime"
          },
          "amount": {
            "type": "string"
          },
          "cost": {
            "type": "string"
          },
          "deductible": {
            "type": "string"
          },
          "expiration_months": {
            "type": "string"
          },
          "expiration_miles": {
            "type": "string"
          },
          "db_creation_date": {
            "type": "string",
            "format": "datetime"
          },
          "warranty_expiration_date": {
            "type": "string",
            "format": "datetime"
          },
          "extended_warranty": {
            "type": "object"
          },
          "service_package_flag": {
            "type": "boolean"
          },
          "vehicle_sale_id": {
            "type": "integer"
          },
          "appointment_id": {
            "type": "integer"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the payment record."
          },
          "dealer_integration_partner_id": {
            "type": "integer",
            "description": "The ID of the dealer integration partner relationship."
          },
          "dms_customer_id": {
            "type": "string",
            "maxLength": 100,
            "description": "The customer ID in the DMS system."
          },
          "first_name": {
            "type": "string",
            "maxLength": 200,
            "description": "Customer's first name."
          },
          "last_name": {
            "type": "string",
            "maxLength": 200,
            "description": "Customer's last name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 200,
            "description": "Customer's email address."
          },
          "phone": {
            "type": "string",
            "maxLength": 30,
            "description": "Customer's phone number."
          },
          "ro_number": {
            "type": "string",
            "maxLength": 100,
            "description": "The repair order number."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Payment amount."
          },
          "payment_link_url": {
            "type": "string",
            "maxLength": 2000,
            "description": "URL for the payment link."
          },
          "pm_transaction_id": {
            "type": "string",
            "maxLength": 100,
            "description": "Payment processor transaction ID."
          },
          "status": {
            "type": "string",
            "maxLength": 20,
            "enum": [
              "approved",
              "declined",
              "pending"
            ],
            "description": "Payment transaction status."
          },
          "processor_message": {
            "type": "string",
            "maxLength": 500,
            "description": "Message from the payment processor."
          },
          "last4": {
            "type": "string",
            "pattern": "^\\d{4}$",
            "description": "Last 4 digits of the payment card."
          },
          "brand": {
            "type": "string",
            "maxLength": 50,
            "description": "Card brand or payment method."
          },
          "db_creation_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the record was created."
          },
          "db_update_date": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the record was last updated."
          }
        }
      }
    }
  }
}