{
  "openapi": "3.0.3",
  "info": {
    "title": "Copper CRM API",
    "version": "1.0",
    "description": "The Copper Developer API provides a RESTful interface with JSON-formatted responses to access CRM resources including leads, people, companies, opportunities, projects, tasks, and activities. All requests require HTTPS with TLS 1.2+. Rate limited to 180 requests per minute.",
    "x-jentic-source-url": "https://developer.copper.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.copper.com/developer_api/v1"
    }
  ],
  "security": [
    {
      "copperAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "copperAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PW-AccessToken",
        "description": "API Key. Also requires X-PW-Application: developer_api and X-PW-UserEmail headers."
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "Website": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "Social": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "custom_field_definition_id": {
            "type": "integer"
          },
          "value": {}
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "middle_name": {
            "type": "string"
          },
          "suffix": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "assignee_id": {
            "type": "integer"
          },
          "company_name": {
            "type": "string"
          },
          "customer_source_id": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "interaction_count": {
            "type": "integer"
          },
          "monetary_unit": {
            "type": "string"
          },
          "monetary_value": {
            "type": "number"
          },
          "socials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Social"
            }
          },
          "status": {
            "type": "string"
          },
          "status_id": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "string"
          },
          "websites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "date_created": {
            "type": "integer"
          },
          "date_modified": {
            "type": "integer"
          },
          "date_last_contacted": {
            "type": "integer"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "middle_name": {
            "type": "string"
          },
          "suffix": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "assignee_id": {
            "type": "integer"
          },
          "company_id": {
            "type": "integer"
          },
          "company_name": {
            "type": "string"
          },
          "contact_type_id": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "interaction_count": {
            "type": "integer"
          },
          "socials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Social"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "string"
          },
          "websites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "date_created": {
            "type": "integer"
          },
          "date_modified": {
            "type": "integer"
          },
          "date_last_contacted": {
            "type": "integer"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "assignee_id": {
            "type": "integer"
          },
          "contact_type_id": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "email_domain": {
            "type": "string"
          },
          "interaction_count": {
            "type": "integer"
          },
          "socials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Social"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "websites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "date_created": {
            "type": "integer"
          },
          "date_modified": {
            "type": "integer"
          },
          "date_last_contacted": {
            "type": "integer"
          }
        }
      },
      "Opportunity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "assignee_id": {
            "type": "integer"
          },
          "close_date": {
            "type": "string"
          },
          "company_id": {
            "type": "integer"
          },
          "company_name": {
            "type": "string"
          },
          "customer_source_id": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "loss_reason_id": {
            "type": "integer"
          },
          "monetary_unit": {
            "type": "string"
          },
          "monetary_value": {
            "type": "number"
          },
          "pipeline_id": {
            "type": "integer"
          },
          "pipeline_stage_id": {
            "type": "integer"
          },
          "primary_contact_id": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "interaction_count": {
            "type": "integer"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "date_created": {
            "type": "integer"
          },
          "date_modified": {
            "type": "integer"
          },
          "date_last_contacted": {
            "type": "integer"
          },
          "win_probability": {
            "type": "integer"
          },
          "date_stage_changed": {
            "type": "integer"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "assignee_id": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "date_created": {
            "type": "integer"
          },
          "date_modified": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "assignee_id": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "due_date": {
            "type": "integer"
          },
          "reminder_date": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "custom_activity_type_id": {
            "type": "integer"
          },
          "date_created": {
            "type": "integer"
          },
          "date_modified": {
            "type": "integer"
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "category": {
                "type": "string"
              }
            }
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "details": {
            "type": "string"
          },
          "activity_date": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          }
        }
      },
      "CustomFieldDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "data_type": {
            "type": "string"
          },
          "available_on": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "target": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "secret": {
            "type": "object"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "page_number": {
            "type": "integer",
            "default": 1
          },
          "page_size": {
            "type": "integer",
            "default": 20
          },
          "sort_by": {
            "type": "string"
          },
          "sort_direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Account and user management"
    },
    {
      "name": "Leads",
      "description": "Lead management"
    },
    {
      "name": "People",
      "description": "Contact/person management"
    },
    {
      "name": "Companies",
      "description": "Company management"
    },
    {
      "name": "Opportunities",
      "description": "Sales opportunity management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    },
    {
      "name": "Activities",
      "description": "Activity tracking"
    },
    {
      "name": "Custom Fields",
      "description": "Custom field definitions and custom activity types"
    },
    {
      "name": "Related Records",
      "description": "Entity relationships and connections"
    },
    {
      "name": "Files",
      "description": "File attachments"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscriptions"
    },
    {
      "name": "Lookups",
      "description": "Lookup data (statuses, sources, pipelines, etc.)"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getAccount",
        "summary": "Fetch account details",
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          }
        },
        "description": "Fetch account details"
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getUserById",
        "summary": "Fetch user by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          }
        },
        "description": "Fetch user by ID"
      }
    },
    "/users/search": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "searchUsers",
        "summary": "List users",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User list"
          }
        },
        "description": "List users"
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "operationId": "getLead",
        "summary": "Fetch a Lead by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Fetch a Lead by ID"
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "operationId": "updateLead",
        "summary": "Update a Lead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Lead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          }
        },
        "description": "Update a Lead"
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "operationId": "deleteLead",
        "summary": "Delete a Lead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted"
          }
        },
        "description": "Delete a Lead"
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "operationId": "createLead",
        "summary": "Create a new Lead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Lead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          }
        },
        "description": "Create a new Lead"
      }
    },
    "/leads/search": {
      "post": {
        "tags": [
          "Leads"
        ],
        "operationId": "searchLeads",
        "summary": "List Leads (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of Leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        },
        "description": "List Leads (Search)"
      }
    },
    "/leads/upsert": {
      "put": {
        "tags": [
          "Leads"
        ],
        "operationId": "upsertLead",
        "summary": "Upsert a lead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Lead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          }
        },
        "description": "Upsert a lead"
      }
    },
    "/leads/{id}/convert": {
      "post": {
        "tags": [
          "Leads"
        ],
        "operationId": "convertLead",
        "summary": "Convert a lead to opportunity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "details": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead converted"
          }
        },
        "description": "Convert a lead to opportunity"
      }
    },
    "/leads/{id}/activities": {
      "post": {
        "tags": [
          "Leads"
        ],
        "operationId": "getLeadActivities",
        "summary": "See a lead's activities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity list"
          }
        },
        "description": "See a lead's activities"
      }
    },
    "/people/{id}": {
      "get": {
        "tags": [
          "People"
        ],
        "operationId": "getPerson",
        "summary": "Fetch a Person by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Fetch a Person by ID"
      },
      "put": {
        "tags": [
          "People"
        ],
        "operationId": "updatePerson",
        "summary": "Update a Person",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "description": "Update a Person"
      },
      "delete": {
        "tags": [
          "People"
        ],
        "operationId": "deletePerson",
        "summary": "Delete a Person",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person deleted"
          }
        },
        "description": "Delete a Person"
      }
    },
    "/people": {
      "post": {
        "tags": [
          "People"
        ],
        "operationId": "createPerson",
        "summary": "Create a new Person",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "description": "Create a new Person"
      }
    },
    "/people/search": {
      "post": {
        "tags": [
          "People"
        ],
        "operationId": "searchPersons",
        "summary": "List Persons (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of Persons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        },
        "description": "List Persons (Search)"
      }
    },
    "/people/fetch_by_email": {
      "post": {
        "tags": [
          "People"
        ],
        "operationId": "fetchPersonByEmail",
        "summary": "Fetch a person by email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        },
        "description": "Fetch a person by email"
      }
    },
    "/people/{id}/activities": {
      "post": {
        "tags": [
          "People"
        ],
        "operationId": "getPersonActivities",
        "summary": "See a person's activities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity list"
          }
        },
        "description": "See a person's activities"
      }
    },
    "/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "getCompany",
        "summary": "Fetch a Company by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Fetch a Company by ID"
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "operationId": "updateCompany",
        "summary": "Update a Company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        },
        "description": "Update a Company"
      },
      "delete": {
        "tags": [
          "Companies"
        ],
        "operationId": "deleteCompany",
        "summary": "Delete a Company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted"
          }
        },
        "description": "Delete a Company"
      }
    },
    "/companies": {
      "post": {
        "tags": [
          "Companies"
        ],
        "operationId": "createCompany",
        "summary": "Create a new Company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        },
        "description": "Create a new Company"
      }
    },
    "/companies/search": {
      "post": {
        "tags": [
          "Companies"
        ],
        "operationId": "searchCompanys",
        "summary": "List Companys (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of Companys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          }
        },
        "description": "List Companys (Search)"
      }
    },
    "/companies/{id}/activities": {
      "post": {
        "tags": [
          "Companies"
        ],
        "operationId": "getCompanyActivities",
        "summary": "See a company's activities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity list"
          }
        },
        "description": "See a company's activities"
      }
    },
    "/opportunities/{id}": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "operationId": "getOpportunity",
        "summary": "Fetch a Opportunity by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Fetch a Opportunity by ID"
      },
      "put": {
        "tags": [
          "Opportunities"
        ],
        "operationId": "updateOpportunity",
        "summary": "Update a Opportunity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Opportunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opportunity updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          }
        },
        "description": "Update a Opportunity"
      },
      "delete": {
        "tags": [
          "Opportunities"
        ],
        "operationId": "deleteOpportunity",
        "summary": "Delete a Opportunity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity deleted"
          }
        },
        "description": "Delete a Opportunity"
      }
    },
    "/opportunities": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "operationId": "createOpportunity",
        "summary": "Create a new Opportunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Opportunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opportunity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          }
        },
        "description": "Create a new Opportunity"
      }
    },
    "/opportunities/search": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "operationId": "searchOpportunitys",
        "summary": "List Opportunitys (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of Opportunitys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Opportunity"
                  }
                }
              }
            }
          }
        },
        "description": "List Opportunitys (Search)"
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "summary": "Fetch a Project by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Fetch a Project by ID"
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "updateProject",
        "summary": "Update a Project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "description": "Update a Project"
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProject",
        "summary": "Delete a Project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted"
          }
        },
        "description": "Delete a Project"
      }
    },
    "/projects": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "createProject",
        "summary": "Create a new Project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "description": "Create a new Project"
      }
    },
    "/projects/search": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "searchProjects",
        "summary": "List Projects (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of Projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "description": "List Projects (Search)"
      }
    },
    "/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "getTask",
        "summary": "Fetch a Task by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Fetch a Task by ID"
      },
      "put": {
        "tags": [
          "Tasks"
        ],
        "operationId": "updateTask",
        "summary": "Update a Task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "description": "Update a Task"
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "deleteTask",
        "summary": "Delete a Task",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted"
          }
        },
        "description": "Delete a Task"
      }
    },
    "/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "createTask",
        "summary": "Create a new Task",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "description": "Create a new Task"
      }
    },
    "/tasks/search": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "searchTasks",
        "summary": "List Tasks (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SearchRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of Tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        },
        "description": "List Tasks (Search)"
      }
    },
    "/activities/{id}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "operationId": "getActivity",
        "summary": "Fetch an activity by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          }
        },
        "description": "Fetch an activity by ID"
      },
      "delete": {
        "tags": [
          "Activities"
        ],
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity deleted"
          }
        },
        "description": "Delete an activity"
      }
    },
    "/activities": {
      "post": {
        "tags": [
          "Activities"
        ],
        "operationId": "createActivity",
        "summary": "Create a new activity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Activity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity created"
          }
        },
        "description": "Create a new activity"
      }
    },
    "/activities/search": {
      "post": {
        "tags": [
          "Activities"
        ],
        "operationId": "searchActivities",
        "summary": "List activities (Search)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity list"
          }
        },
        "description": "List activities (Search)"
      }
    },
    "/activity_types": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listActivityTypes",
        "summary": "List activity types",
        "responses": {
          "200": {
            "description": "List activity types"
          }
        },
        "description": "List activity types"
      }
    },
    "/customer_sources": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listCustomerSources",
        "summary": "List customer sources",
        "responses": {
          "200": {
            "description": "List customer sources"
          }
        },
        "description": "List customer sources"
      }
    },
    "/lead_statuses": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listLeadStatuses",
        "summary": "List lead statuses",
        "responses": {
          "200": {
            "description": "List lead statuses"
          }
        },
        "description": "List lead statuses"
      }
    },
    "/contact_types": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listContactTypes",
        "summary": "List contact types",
        "responses": {
          "200": {
            "description": "List contact types"
          }
        },
        "description": "List contact types"
      }
    },
    "/loss_reasons": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listLossReasons",
        "summary": "List loss reasons",
        "responses": {
          "200": {
            "description": "List loss reasons"
          }
        },
        "description": "List loss reasons"
      }
    },
    "/pipelines": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listPipelines",
        "summary": "List pipelines",
        "responses": {
          "200": {
            "description": "List pipelines"
          }
        },
        "description": "List pipelines"
      }
    },
    "/pipeline_stages": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listPipelineStages",
        "summary": "List pipeline stages",
        "responses": {
          "200": {
            "description": "List pipeline stages"
          }
        },
        "description": "List pipeline stages"
      }
    },
    "/pipeline_stages/pipeline/{pipeline_id}": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "listStagesInPipeline",
        "summary": "List stages in a pipeline",
        "parameters": [
          {
            "name": "pipeline_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stage list"
          }
        },
        "description": "List stages in a pipeline"
      }
    },
    "/custom_field_definitions": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "listCustomFieldDefinitions",
        "summary": "List custom field definitions",
        "responses": {
          "200": {
            "description": "Custom field definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDefinition"
                  }
                }
              }
            }
          }
        },
        "description": "List custom field definitions"
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "createCustomFieldDefinition",
        "summary": "Create a custom field definition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create a custom field definition"
      }
    },
    "/custom_field_definitions/{id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "getCustomFieldDefinition",
        "summary": "Fetch a custom field definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field definition"
          }
        },
        "description": "Fetch a custom field definition"
      },
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "updateCustomFieldDefinition",
        "summary": "Update a custom field definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update a custom field definition"
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "deleteCustomFieldDefinition",
        "summary": "Delete a custom field definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete a custom field definition"
      }
    },
    "/custom_activity_types": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "listCustomActivityTypes",
        "summary": "List custom activity types",
        "responses": {
          "200": {
            "description": "Custom activity type list"
          }
        },
        "description": "List custom activity types"
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "createCustomActivityType",
        "summary": "Create a custom activity type",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          }
        },
        "description": "Create a custom activity type"
      }
    },
    "/custom_activity_types/{id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "getCustomActivityType",
        "summary": "Get a custom activity type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom activity type"
          }
        },
        "description": "Get a custom activity type"
      },
      "put": {
        "tags": [
          "Custom Fields"
        ],
        "operationId": "updateCustomActivityType",
        "summary": "Update a custom activity type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update a custom activity type"
      }
    },
    "/related_links": {
      "get": {
        "tags": [
          "Related Records"
        ],
        "operationId": "listRelatedLinks",
        "summary": "List connections on specified entity",
        "parameters": [
          {
            "name": "source_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection list"
          }
        },
        "description": "List connections on specified entity"
      },
      "post": {
        "tags": [
          "Related Records"
        ],
        "operationId": "createRelatedLink",
        "summary": "Create a connection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection created"
          }
        },
        "description": "Create a connection"
      }
    },
    "/related_links/{id}": {
      "delete": {
        "tags": [
          "Related Records"
        ],
        "operationId": "deleteRelatedLink",
        "summary": "Delete a connection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection deleted"
          }
        },
        "description": "Delete a connection"
      }
    },
    "/{entity}/{entity_id}/related": {
      "get": {
        "tags": [
          "Related Records"
        ],
        "operationId": "listRelatedRecords",
        "summary": "View all records related to an entity",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related records"
          }
        },
        "description": "View all records related to an entity"
      },
      "post": {
        "tags": [
          "Related Records"
        ],
        "operationId": "relateRecord",
        "summary": "Relate an existing record to an entity",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record related"
          }
        },
        "description": "Relate an existing record to an entity"
      },
      "delete": {
        "tags": [
          "Related Records"
        ],
        "operationId": "removeRelation",
        "summary": "Remove relationship between record and entity",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relationship removed"
          }
        },
        "description": "Remove relationship between record and entity"
      }
    },
    "/{entity}/{entity_id}/related/{related_entity_name}": {
      "get": {
        "tags": [
          "Related Records"
        ],
        "operationId": "listRelatedRecordsByType",
        "summary": "View related records of a given entity type",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "related_entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related records"
          }
        },
        "description": "View related records of a given entity type"
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhooks",
        "summary": "List all webhook subscriptions",
        "responses": {
          "200": {
            "description": "Webhook list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        },
        "description": "List all webhook subscriptions"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Create a new webhook subscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  },
                  "secret": {
                    "type": "object"
                  }
                },
                "required": [
                  "target",
                  "type",
                  "event"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "description": "Create a new webhook subscription"
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "summary": "View webhook subscription by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          }
        },
        "description": "View webhook subscription by ID"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "summary": "Delete webhook subscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        },
        "description": "Delete webhook subscription"
      }
    }
  }
}
