{
  "openapi": "3.0.3",
  "info": {
    "title": "Open Exchange Rates API",
    "version": "1.0.0",
    "description": "Open Exchange Rates provides a simple, accurate and transparent exchange rate API. Supports latest, historical, time series, OHLC rates, currency conversion, and currency listings.",
    "x-jentic-source-url": "https://docs.openexchangerates.org/reference/api-introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://openexchangerates.org/api"
    }
  ],
  "paths": {
    "/latest.json": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Get the latest exchange rates available from the Open Exchange Rates API.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your App ID"
          },
          {
            "name": "base",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Base currency (3-letter code). Changing base is available on paid plans."
          },
          {
            "name": "symbols",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of currency codes to limit results"
          },
          {
            "name": "prettyprint",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Pretty-print the JSON response"
          },
          {
            "name": "show_alternative",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include alternative/digital/crypto currencies"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - feature not available on your plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical/{date}.json": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Get historical exchange rates for any date available from the API, back to 1999.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date in YYYY-MM-DD format"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_alternative",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies.json": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "Get list of all available currencies",
        "description": "Get a JSON list of all currency symbols available from the API, along with their full names.",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "prettyprint",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "show_alternative",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "show_inactive",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include historical/inactive currencies"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Map of currency code to currency name"
                }
              }
            }
          }
        }
      }
    },
    "/convert/{value}/{from}/{to}": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert between currencies",
        "description": "Convert any money value from one currency to another at the latest API rates. Available on Unlimited plan.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Amount to convert"
          },
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source currency (3-letter code)"
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target currency (3-letter code)"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Feature not available on your plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/time-series.json": {
      "get": {
        "operationId": "getTimeSeries",
        "summary": "Get historical rates for a date range",
        "description": "Get historical exchange rates for a given time period. Available on Enterprise and Unlimited plans.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (YYYY-MM-DD)"
          },
          {
            "name": "base",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_alternative",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Feature not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ohlc.json": {
      "get": {
        "operationId": "getOHLC",
        "summary": "Get OHLC (Open/High/Low/Close) rates",
        "description": "Get OHLC and average exchange rates for a given time period. Available on VIP Platinum tier.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start time (ISO 8601)"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "12h",
                "1d",
                "1w",
                "1mo"
              ]
            },
            "description": "Time period"
          },
          {
            "name": "base",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_alternative",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLCResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Feature not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usage.json": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get API usage statistics",
        "description": "Get basic plan information and usage statistics for your App ID.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExchangeRatesResponse": {
        "type": "object",
        "properties": {
          "disclaimer": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Map of currency code to exchange rate"
          }
        }
      },
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "disclaimer": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "request": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "rate": {
                "type": "number"
              }
            }
          },
          "response": {
            "type": "number",
            "description": "Converted amount"
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "disclaimer": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Map of date to rates"
          }
        }
      },
      "OHLCResponse": {
        "type": "object",
        "properties": {
          "disclaimer": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "base": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "open": {
                  "type": "number"
                },
                "high": {
                  "type": "number"
                },
                "low": {
                  "type": "number"
                },
                "close": {
                  "type": "number"
                },
                "average": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "object",
            "properties": {
              "app_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "plan": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "quota": {
                    "type": "string"
                  },
                  "update_frequency": {
                    "type": "string"
                  },
                  "features": {
                    "type": "object"
                  }
                }
              },
              "usage": {
                "type": "object",
                "properties": {
                  "requests": {
                    "type": "integer"
                  },
                  "requests_quota": {
                    "type": "integer"
                  },
                  "requests_remaining": {
                    "type": "integer"
                  },
                  "days_elapsed": {
                    "type": "integer"
                  },
                  "days_remaining": {
                    "type": "integer"
                  },
                  "daily_average": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "appId": {
        "type": "apiKey",
        "in": "query",
        "name": "app_id",
        "description": "Open Exchange Rates App ID"
      }
    }
  },
  "security": [
    {
      "appId": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Conversion"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Exchange Rates"
    }
  ]
}
