{
  "openapi": "3.0.3",
  "info": {
    "title": "AstroQuizzer",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/astroquizzer/astroquizzer/1.0.0"
  },
  "servers": [
    {
      "url": "https://astroquizzer.xyz"
    }
  ],
  "paths": {
    "/api/register": {
      "post": {
        "summary": "Register",
        "description": "Register",
        "operationId": "register",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "username of account"
          },
          {
            "name": "password",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "password of account"
          },
          {
            "name": "firstName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "first name of user"
          },
          {
            "name": "lastName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "last name of user"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            },
            "description": "email of user"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "alice@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Alice"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Example"
                  },
                  "password": {
                    "type": "string",
                    "example": "Secret123!"
                  },
                  "username": {
                    "type": "string",
                    "example": "alice"
                  }
                }
              },
              "examples": {
                "Register": {
                  "value": {
                    "email": "alice@example.com",
                    "firstName": "Alice",
                    "lastName": "Example",
                    "password": "Secret123!",
                    "username": "alice"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "summary": "Login",
        "description": "Login",
        "operationId": "login",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "string"
            },
            "description": "email of account"
          },
          {
            "name": "password",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "string"
            },
            "description": "password of account"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "alice@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Secret123!"
                  }
                }
              },
              "examples": {
                "Login": {
                  "value": {
                    "email": "alice@example.com",
                    "password": "Secret123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/forgot-password": {
      "post": {
        "summary": "Forgot Password",
        "description": "Forgot Password",
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "alice@example.com"
                  }
                }
              },
              "examples": {
                "Forgot Password": {
                  "value": {
                    "email": "alice@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/reset-password": {
      "post": {
        "summary": "Reset Password",
        "description": "Reset Password",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newPassword": {
                    "type": "string",
                    "example": "NewSecret123!"
                  },
                  "token": {
                    "type": "string",
                    "example": "<reset_token>"
                  }
                }
              },
              "examples": {
                "Leaderboard": {
                  "value": {
                    "_id": "<UserId>",
                    "jwtToken": "<_jwt_token>"
                  }
                },
                "Reset Password": {
                  "value": {
                    "newPassword": "NewSecret123!",
                    "token": "<reset_token>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/questions/today": {
      "get": {
        "summary": "Get Today's Quiz Questions",
        "description": "Get Today's Quiz Questions",
        "operationId": "getTodaySQuizQuestions",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Get Today's Quiz Questions": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "summary": "Submit Quiz Answers",
        "description": "Submit Quiz Answers",
        "operationId": "submitQuizAnswers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "A"
                    },
                    "example": [
                      "A",
                      "C",
                      "B",
                      "D",
                      "A"
                    ]
                  },
                  "jwtToken": {
                    "type": "string",
                    "example": "<jwt>"
                  },
                  "userId": {
                    "type": "string",
                    "example": "<userId>"
                  }
                }
              },
              "examples": {
                "Submit Quiz Answers": {
                  "value": {
                    "answers": [
                      "A",
                      "C",
                      "B",
                      "D",
                      "A"
                    ],
                    "jwtToken": "<jwt>",
                    "userId": "<userId>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/verify-email": {
      "get": {
        "summary": "Verify Email",
        "description": "Verify Email",
        "operationId": "verifyEmail",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/user/{id}": {
      "get": {
        "summary": "Get User Profile",
        "description": "Get User Profile",
        "operationId": "getUserProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Get User Profile": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": ""
          }
        }
      ]
    },
    "/api/apod/today": {
      "get": {
        "summary": "Get Today's Astronomy Picture",
        "description": "Get Today's Astronomy Picture",
        "operationId": "getTodaySAstronomyPicture",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Get Today's Astronomy Picture": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/user/{id}/username": {
      "put": {
        "summary": "Update Username",
        "description": "Update Username",
        "operationId": "updateUsername",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "newUsername"
                  }
                }
              },
              "examples": {
                "Update Username": {
                  "value": {
                    "username": "newUsername"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": ""
          }
        }
      ]
    },
    "/api/deleteUser": {
      "delete": {
        "summary": "Delete Password",
        "description": "Delete Password",
        "operationId": "deletePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "<userId>"
                  },
                  "jwtToken": {
                    "type": "string",
                    "example": "<jwtToken>"
                  }
                }
              },
              "examples": {
                "Delete Password": {
                  "value": {
                    "id": "<userId>",
                    "jwtToken": "<jwtToken>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}