{
  "openapi": "3.0.3",
  "info": {
    "title": "LMS Student API - Final Complete v2.0",
    "description": "Complete Student API with separate endpoints for all dashboard components and dynamic timeline-based progress tracking",
    "version": "1.0.0",
    "contact": {
      "email": "api-support@lms-platform.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/enfin-9f0/lms-student-api-final-complete-v20/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lms-platform.com/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Student Dashboard",
      "description": "Dashboard components - each component has its own API"
    },
    {
      "name": "Student Courses",
      "description": "Course enrollment and access"
    },
    {
      "name": "Student Progress",
      "description": "Progress tracking with dynamic timeline based on actual course duration"
    },
    {
      "name": "Student Assessments",
      "description": "Assessment management"
    },
    {
      "name": "Student Performance",
      "description": "Dynamic performance tracking by course type and course"
    },
    {
      "name": "Student Certificates",
      "description": "Certificate management"
    }
  ],
  "paths": {
    "/students/{studentId}/dashboard/continue-learning": {
      "get": {
        "tags": [
          "Student Dashboard"
        ],
        "summary": "Get continue learning section",
        "description": "Returns the current course/module to continue learning",
        "operationId": "getContinueLearning",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinueLearning"
                },
                "example": {
                  "courseId": "course_67890",
                  "courseTitle": "Advanced Data Structures",
                  "courseProgress": 65,
                  "currentModule": {
                    "moduleId": "module_003",
                    "title": "Module 3: Stacks and Queues",
                    "completedResources": 8,
                    "totalResources": 12
                  },
                  "nextTopic": "Queue Operations",
                  "lastAccessedAt": "2025-11-17T14:30:00Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/dashboard/upcoming-assessments": {
      "get": {
        "tags": [
          "Student Dashboard"
        ],
        "summary": "Get upcoming assessments for dashboard",
        "description": "Returns list of upcoming assessments to display on dashboard",
        "operationId": "getDashboardUpcomingAssessments",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of assessments to return",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assessments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpcomingAssessment"
                      }
                    }
                  }
                },
                "example": {
                  "assessments": [
                    {
                      "assessmentId": "assess_001",
                      "title": "Web Development Quiz",
                      "courseTitle": "Web Development Fundamentals",
                      "dueDate": "2025-10-15T00:00:00Z",
                      "totalMarks": 100
                    },
                    {
                      "assessmentId": "assess_002",
                      "title": "Data Structures Final Exam",
                      "courseTitle": "Advanced Data Structures",
                      "dueDate": "2025-10-14T00:00:00Z",
                      "totalMarks": 100
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/dashboard/performance-highlights": {
      "get": {
        "tags": [
          "Student Dashboard"
        ],
        "summary": "Get performance highlights for dashboard",
        "description": "Returns top 3-5 performance metrics to display on dashboard",
        "operationId": "getPerformanceHighlights",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of metrics to return",
            "schema": {
              "type": "integer",
              "default": 3,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "highlights": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerformanceMetric"
                      }
                    }
                  }
                },
                "example": {
                  "highlights": [
                    {
                      "metricId": "metric_001",
                      "metricName": "Critical Thinking",
                      "percentage": 85,
                      "color": "#FF8C42",
                      "trend": "up"
                    },
                    {
                      "metricId": "metric_002",
                      "metricName": "Problem Solving",
                      "percentage": 72,
                      "color": "#FF8C42",
                      "trend": "stable"
                    },
                    {
                      "metricId": "metric_003",
                      "metricName": "Attention to Detail",
                      "percentage": 90,
                      "color": "#FF8C42",
                      "trend": "up"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/progress-tracking/courses": {
      "get": {
        "tags": [
          "Student Progress"
        ],
        "summary": "Get courses for progress tracking dropdown",
        "description": "Returns list of courses for the dropdown in Progress Tracking section",
        "operationId": "getProgressTrackingCourses",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "all"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "courseId": {
                            "type": "string"
                          },
                          "courseTitle": {
                            "type": "string"
                          },
                          "currentProgress": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "enrolledDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "completedDate": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "courses": [
                    {
                      "courseId": "course_67890",
                      "courseTitle": "Advanced Data Structures",
                      "currentProgress": 65,
                      "status": "active",
                      "enrolledDate": "2025-09-01"
                    },
                    {
                      "courseId": "course_11111",
                      "courseTitle": "Web Development Fundamentals",
                      "currentProgress": 100,
                      "status": "completed",
                      "enrolledDate": "2025-08-01",
                      "completedDate": "2025-10-15"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/courses/{courseId}/progress-tracking": {
      "get": {
        "tags": [
          "Student Progress"
        ],
        "summary": "Get progress tracking chart data with summary",
        "description": "Returns week-wise progress data for the chart AND current progress summary. This single API provides everything needed for the Progress Tracking section.",
        "operationId": "getCourseProgressTracking",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for grouping progress data points",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "bi-weekly",
                "monthly"
              ],
              "default": "bi-weekly"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Everything needed for Progress Tracking UI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgressTrackingChart"
                },
                "examples": {
                  "example1": {
                    "summary": "Complete Progress Tracking data",
                    "value": {
                      "courseId": "course_67890",
                      "courseTitle": "Advanced Data Structures",
                      "currentProgress": 65,
                      "modulesCompleted": 8,
                      "chartData": {
                        "interval": "bi-weekly",
                        "dataPoints": [
                          {
                            "x": "Week 2",
                            "y": 25,
                            "weekNumber": 2,
                            "date": "2025-09-15"
                          },
                          {
                            "x": "Week 2",
                            "y": 33,
                            "weekNumber": 2,
                            "date": "2025-09-18"
                          },
                          {
                            "x": "Week 4",
                            "y": 45,
                            "weekNumber": 4,
                            "date": "2025-10-01"
                          },
                          {
                            "x": "Week 6",
                            "y": 55,
                            "weekNumber": 6,
                            "date": "2025-10-15"
                          },
                          {
                            "x": "Week 6",
                            "y": 65,
                            "weekNumber": 6,
                            "date": "2025-11-17"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/performance-tracking/course-types": {
      "get": {
        "tags": [
          "Student Performance"
        ],
        "summary": "Get course types for performance tracking dropdown",
        "description": "Returns available course types (SPLR, Live Course, etc.) for the first dropdown in Performance Tracking section",
        "operationId": "getPerformanceCourseTypes",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courseTypes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "typeId": {
                            "type": "string"
                          },
                          "typeName": {
                            "type": "string"
                          },
                          "courseCount": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "courseTypes": [
                    {
                      "typeId": "splr",
                      "typeName": "SPLR",
                      "courseCount": 3
                    },
                    {
                      "typeId": "live_course",
                      "typeName": "Live Course",
                      "courseCount": 2
                    },
                    {
                      "typeId": "self_paced",
                      "typeName": "Self-Paced",
                      "courseCount": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/performance-tracking/courses": {
      "get": {
        "tags": [
          "Student Performance"
        ],
        "summary": "Get courses by type for performance tracking",
        "description": "Returns courses filtered by type for the second dropdown in Performance Tracking section",
        "operationId": "getPerformanceTrackingCourses",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseType",
            "in": "query",
            "required": true,
            "description": "Filter by course type",
            "schema": {
              "type": "string"
            },
            "example": "splr"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "courseId": {
                            "type": "string"
                          },
                          "courseTitle": {
                            "type": "string"
                          },
                          "overallPerformance": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "courses": [
                    {
                      "courseId": "course_67890",
                      "courseTitle": "Advanced Data Structures",
                      "overallPerformance": 82
                    },
                    {
                      "courseId": "course_11111",
                      "courseTitle": "Web Development Fundamentals",
                      "overallPerformance": 88
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/performance": {
      "get": {
        "tags": [
          "Student Performance"
        ],
        "summary": "Get performance metrics",
        "description": "Get dynamic performance metrics filtered by course type and specific course. Used after selecting from both dropdowns.",
        "operationId": "getStudentPerformance",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseType",
            "in": "query",
            "description": "Filter by course type (from first dropdown)",
            "schema": {
              "type": "string"
            },
            "example": "splr"
          },
          {
            "name": "courseId",
            "in": "query",
            "description": "Filter by specific course (from second dropdown)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentPerformance"
                },
                "examples": {
                  "splrPerformance": {
                    "summary": "SPLR performance metrics",
                    "value": {
                      "studentId": "student_12345",
                      "courseType": "SPLR",
                      "courseId": "course_67890",
                      "courseTitle": "Advanced Data Structures",
                      "overallPerformance": 82,
                      "metrics": [
                        {
                          "metricId": "metric_001",
                          "metricName": "Critical Thinking",
                          "percentage": 85,
                          "description": "Ability to analyze and evaluate information",
                          "color": "#FF8C42",
                          "order": 1
                        },
                        {
                          "metricId": "metric_002",
                          "metricName": "Problem Solving",
                          "percentage": 72,
                          "description": "Ability to solve complex problems",
                          "color": "#FF8C42",
                          "order": 2
                        },
                        {
                          "metricId": "metric_003",
                          "metricName": "Attention to Detail",
                          "percentage": 90,
                          "description": "Thoroughness and accuracy",
                          "color": "#FF8C42",
                          "order": 3
                        },
                        {
                          "metricId": "metric_004",
                          "metricName": "Consistency",
                          "percentage": 65,
                          "description": "Regularity in performance",
                          "color": "#FF8C42",
                          "order": 4
                        }
                      ]
                    }
                  },
                  "liveCoursePerformance": {
                    "summary": "Live Course performance metrics (different metrics)",
                    "value": {
                      "studentId": "student_12345",
                      "courseType": "Live Course",
                      "courseId": "course_99999",
                      "courseTitle": "Advanced JavaScript",
                      "overallPerformance": 88,
                      "metrics": [
                        {
                          "metricId": "metric_101",
                          "metricName": "Participation",
                          "percentage": 92,
                          "color": "#4CAF50",
                          "order": 1
                        },
                        {
                          "metricId": "metric_102",
                          "metricName": "Assignment Quality",
                          "percentage": 85,
                          "color": "#4CAF50",
                          "order": 2
                        },
                        {
                          "metricId": "metric_103",
                          "metricName": "Engagement",
                          "percentage": 90,
                          "color": "#4CAF50",
                          "order": 3
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/courses": {
      "get": {
        "tags": [
          "Student Courses"
        ],
        "summary": "Get enrolled courses",
        "operationId": "getStudentCourses",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "all"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentCourseListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/assessments": {
      "get": {
        "tags": [
          "Student Assessments"
        ],
        "summary": "Get assessments",
        "operationId": "getStudentAssessments",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "completed",
                "all"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentAssessmentListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/students/{studentId}/certificates": {
      "get": {
        "tags": [
          "Student Certificates"
        ],
        "summary": "Get certificates",
        "operationId": "getStudentCertificates",
        "parameters": [
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudentCertificateListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ContinueLearning": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "string"
          },
          "courseTitle": {
            "type": "string"
          },
          "courseProgress": {
            "type": "number"
          },
          "currentModule": {
            "type": "object",
            "properties": {
              "moduleId": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "completedResources": {
                "type": "integer"
              },
              "totalResources": {
                "type": "integer"
              }
            }
          },
          "nextTopic": {
            "type": "string"
          },
          "lastAccessedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpcomingAssessment": {
        "type": "object",
        "properties": {
          "assessmentId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "courseTitle": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "totalMarks": {
            "type": "number"
          }
        }
      },
      "PerformanceMetric": {
        "type": "object",
        "properties": {
          "metricId": {
            "type": "string"
          },
          "metricName": {
            "type": "string"
          },
          "percentage": {
            "type": "number"
          },
          "color": {
            "type": "string"
          },
          "trend": {
            "type": "string",
            "enum": [
              "up",
              "down",
              "stable"
            ],
            "description": "Performance trend"
          }
        }
      },
      "ProgressTrackingChart": {
        "type": "object",
        "description": "Simple progress tracking data for chart visualization",
        "properties": {
          "courseId": {
            "type": "string"
          },
          "courseTitle": {
            "type": "string"
          },
          "currentProgress": {
            "type": "number",
            "description": "Current progress percentage (shown above chart)"
          },
          "modulesCompleted": {
            "type": "integer",
            "description": "Number of modules completed (shown above chart)"
          },
          "chartData": {
            "type": "object",
            "description": "Week-wise progress data for the chart",
            "properties": {
              "interval": {
                "type": "string",
                "description": "Time interval used"
              },
              "dataPoints": {
                "type": "array",
                "description": "Progress at different weeks",
                "items": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "string",
                      "description": "Week label for X-axis (e.g., 'Week 2', 'Week 4', 'Week 6')"
                    },
                    "y": {
                      "type": "number",
                      "description": "Progress percentage for Y-axis (0-100)"
                    },
                    "weekNumber": {
                      "type": "integer",
                      "description": "Numeric week number"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": "Actual date of this progress point"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "StudentPerformance": {
        "type": "object",
        "properties": {
          "studentId": {
            "type": "string"
          },
          "courseType": {
            "type": "string"
          },
          "courseId": {
            "type": "string"
          },
          "courseTitle": {
            "type": "string"
          },
          "overallPerformance": {
            "type": "number"
          },
          "metrics": {
            "type": "array",
            "description": "Dynamic performance metrics - vary by course type",
            "items": {
              "type": "object",
              "properties": {
                "metricId": {
                  "type": "string"
                },
                "metricName": {
                  "type": "string"
                },
                "percentage": {
                  "type": "number"
                },
                "description": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "order": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "StudentCourse": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "progress": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "StudentCourseListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StudentCourse"
            }
          }
        }
      },
      "StudentAssessment": {
        "type": "object",
        "properties": {
          "assessmentId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StudentAssessmentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StudentAssessment"
            }
          }
        }
      },
      "StudentCertificate": {
        "type": "object",
        "properties": {
          "certificateId": {
            "type": "string"
          },
          "courseTitle": {
            "type": "string"
          }
        }
      },
      "StudentCertificateListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StudentCertificate"
            }
          }
        }
      }
    }
  }
}