{
  "openapi": "3.0.3",
  "info": {
    "title": "CEX.IO API",
    "version": "1.0.0",
    "description": "CEX.IO cryptocurrency exchange REST API for market data, trading, and account management.",
    "x-jentic-source-url": "https://cex.io/rest-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cex.io/api"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public market data endpoints"
    },
    {
      "name": "Private",
      "description": "Authenticated account and trading endpoints"
    }
  ],
  "paths": {
    "/currency_limits": {
      "get": {
        "operationId": "getCurrencyLimits",
        "summary": "Get currency limits",
        "description": "Returns data on limits for all trading pairs.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyLimitsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ticker/{symbol1}/{symbol2}": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get ticker",
        "description": "Returns the ticker for a given trading pair with bid, ask, last price, volume.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticker"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{marketSymbol1}/{marketSymbol2}": {
      "get": {
        "operationId": "getTickersByMarket",
        "summary": "Get tickers for all pairs by markets",
        "description": "Returns tickers for all pairs filtered by market symbols.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "marketSymbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First currency code (mandatory)"
          },
          {
            "name": "marketSymbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Second currency code (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/last_price/{symbol1}/{symbol2}": {
      "get": {
        "operationId": "getLastPrice",
        "summary": "Get last price",
        "description": "Returns the last traded price for a given pair.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PairPrice"
                }
              }
            }
          }
        }
      }
    },
    "/last_prices/{marketSymbol1}/{marketSymbol2}": {
      "get": {
        "operationId": "getLastPricesByMarket",
        "summary": "Get last prices for given markets",
        "description": "Returns last prices for all pairs in given market symbols.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "marketSymbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First currency code (mandatory)"
          },
          {
            "name": "marketSymbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Second currency code (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastPricesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "convert",
        "summary": "Convert currency",
        "description": "Converts an amount from one currency to another.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amnt": {
                      "type": "string",
                      "description": "Converted amount"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/price_stats/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "getPriceStats",
        "summary": "Get price chart data",
        "description": "Returns price statistics/chart data for a pair over a time period.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PricePoint"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ohlcv/hd/{date}/{symbol1}/{symbol2}": {
      "get": {
        "operationId": "getOHLCV",
        "summary": "Get historical 1m OHLCV chart",
        "description": "Returns historical OHLCV candle data for a given date and pair.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Date in YYYYMMDD format"
          },
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLCVResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order_book/{symbol1}/{symbol2}/": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Get order book",
        "description": "Returns the order book for a trading pair.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of bid/ask records returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                }
              }
            }
          }
        }
      }
    },
    "/trade_history/{symbol1}/{symbol2}/": {
      "get": {
        "operationId": "getTradeHistory",
        "summary": "Get trade history",
        "description": "Returns recent trades for a trading pair.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Return trades with tid >= since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/balance/": {
      "post": {
        "operationId": "getBalance",
        "summary": "Get account balance",
        "description": "Returns the account balance for all currencies.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open_orders/": {
      "post": {
        "operationId": "getOpenOrders",
        "summary": "Get all open orders",
        "description": "Returns all open orders across all pairs.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShortOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/open_orders/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "getOpenOrdersByPair",
        "summary": "Get open orders by pair",
        "description": "Returns open orders for a specific trading pair.",
        "tags": [
          "Private"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShortOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/active_orders_status": {
      "post": {
        "operationId": "getActiveOrderStatus",
        "summary": "Get active order status",
        "description": "Returns the status of specified active orders.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveOrdersStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/archived_orders/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "getArchivedOrders",
        "summary": "Get archived orders",
        "description": "Returns archived (completed/cancelled) orders for a pair.",
        "tags": [
          "Private"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchivedOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FullOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cancel_order/": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel order",
        "description": "Cancels an order by ID.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns true on success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/cancel_orders/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "cancelAllOrdersByPair",
        "summary": "Cancel all orders for pair",
        "description": "Cancels all open orders for a given trading pair.",
        "tags": [
          "Private"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrdersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/place_order/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "placeOrder",
        "summary": "Place order",
        "description": "Places a new buy or sell order for a trading pair.",
        "tags": [
          "Private"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortOrder"
                }
              }
            }
          }
        }
      }
    },
    "/get_order/": {
      "post": {
        "operationId": "getOrderDetails",
        "summary": "Get order details",
        "description": "Returns full details of an order by ID.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullOrder"
                }
              }
            }
          }
        }
      }
    },
    "/get_order_tx/": {
      "post": {
        "operationId": "getOrderTransactions",
        "summary": "Get order transactions",
        "description": "Returns transactions associated with an order.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderTransactionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_address/": {
      "post": {
        "operationId": "getCryptoAddress",
        "summary": "Get crypto address",
        "description": "Returns a deposit address for the specified currency.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "string"
                    },
                    "e": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string",
                      "description": "Crypto address"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get_crypto_address": {
      "post": {
        "operationId": "getAllCryptoAddresses",
        "summary": "Get all crypto addresses",
        "description": "Returns all deposit addresses for a currency.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoAddressesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_myfee/": {
      "post": {
        "operationId": "getMyFee",
        "summary": "Get my fee",
        "description": "Returns the current trading fees for the account.",
        "tags": [
          "Private"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cancel_replace_order/{symbol1}/{symbol2}": {
      "post": {
        "operationId": "cancelReplaceOrder",
        "summary": "Cancel and replace order",
        "description": "Cancels an existing order and places a new one atomically.",
        "tags": [
          "Private"
        ],
        "parameters": [
          {
            "name": "symbol1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The first currency code (e.g. BTC)"
          },
          {
            "name": "symbol2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The second currency code (e.g. USD)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelReplaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortOrder"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "hmacAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "HMAC-SHA256 signature authentication. Each private request must include key, signature, and nonce in the request body."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          }
        }
      },
      "Ticker": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string"
          },
          "low": {
            "type": "string"
          },
          "high": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "volume30d": {
            "type": "string"
          },
          "bid": {
            "type": "number"
          },
          "ask": {
            "type": "number"
          },
          "pair": {
            "type": "string"
          }
        }
      },
      "PairPrice": {
        "type": "object",
        "properties": {
          "lprice": {
            "type": "string"
          },
          "curr1": {
            "type": "string"
          },
          "curr2": {
            "type": "string"
          }
        }
      },
      "CurrencyLimit": {
        "type": "object",
        "properties": {
          "symbol1": {
            "type": "string"
          },
          "symbol2": {
            "type": "string"
          },
          "pricePrecision": {
            "type": "number"
          },
          "minLotSize": {
            "type": "number"
          },
          "minLotSizeS2": {
            "type": "number"
          },
          "maxLotSize": {
            "type": "number"
          },
          "minPrice": {
            "type": "string"
          },
          "maxPrice": {
            "type": "string"
          }
        }
      },
      "CurrencyLimitsResponse": {
        "type": "object",
        "properties": {
          "e": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "pairs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyLimit"
                }
              }
            }
          }
        }
      },
      "TickersResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "string"
          },
          "e": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ticker"
            }
          }
        }
      },
      "LastPricesResponse": {
        "type": "object",
        "properties": {
          "e": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PairPrice"
            }
          }
        }
      },
      "ConvertRequest": {
        "type": "object",
        "required": [
          "amnt"
        ],
        "properties": {
          "amnt": {
            "type": "string",
            "description": "Amount to convert"
          }
        }
      },
      "PriceStatsRequest": {
        "type": "object",
        "properties": {
          "lastHours": {
            "type": "integer",
            "description": "Past period in hours"
          },
          "maxRespArrSize": {
            "type": "number",
            "description": "Max number of price values to return"
          }
        }
      },
      "PricePoint": {
        "type": "object",
        "properties": {
          "tmsp": {
            "type": "number",
            "description": "UNIX timestamp"
          },
          "price": {
            "type": "string",
            "description": "Price value"
          }
        }
      },
      "OHLCVResponse": {
        "type": "object",
        "properties": {
          "time": {
            "type": "number",
            "description": "Date in YYYYMMDD format"
          },
          "data1m": {
            "type": "string",
            "description": "Stringified array of 1-minute candle data"
          },
          "data1h": {
            "type": "string",
            "description": "Stringified array of 1-hour candle data"
          },
          "data1d": {
            "type": "string",
            "description": "Stringified array of 1-day candle data"
          }
        }
      },
      "OrderBook": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "number"
          },
          "bids": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "asks": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "pair": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "sell_total": {
            "type": "string"
          },
          "buy_total": {
            "type": "string"
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "tid": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "date": {
            "type": "string"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "available": {
            "type": "string"
          },
          "orders": {
            "type": "string"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "BTC": {
            "$ref": "#/components/schemas/Balance"
          },
          "ETH": {
            "$ref": "#/components/schemas/Balance"
          },
          "USD": {
            "$ref": "#/components/schemas/Balance"
          },
          "EUR": {
            "$ref": "#/components/schemas/Balance"
          }
        }
      },
      "ShortOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "pending": {
            "type": "string"
          },
          "symbol1": {
            "type": "string"
          },
          "symbol2": {
            "type": "string"
          }
        }
      },
      "FullOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "lastTxTime": {
            "type": "string"
          },
          "lastTx": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "d=done, c=canceled, cd=cancel-done, a=active"
          },
          "symbol1": {
            "type": "string"
          },
          "symbol2": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "remains": {
            "type": "string"
          },
          "tradingFeeMaker": {
            "type": "string"
          },
          "tradingFeeTaker": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          }
        }
      },
      "PrivateRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "API key"
          },
          "signature": {
            "type": "string",
            "description": "HMAC-SHA256 signature"
          },
          "nonce": {
            "type": "string",
            "description": "Unique incrementing nonce"
          }
        }
      },
      "ActiveOrdersRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce",
          "orders_list"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "orders_list": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of order IDs to check"
          }
        }
      },
      "ActiveOrdersStatusResponse": {
        "type": "object",
        "properties": {
          "e": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "ArchivedOrdersRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "dateTo": {
            "type": "integer"
          },
          "dateFrom": {
            "type": "integer"
          },
          "lastTxDateTo": {
            "type": "integer"
          },
          "lastTxDateFrom": {
            "type": "integer"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce",
          "id"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "description": "Order ID"
          }
        }
      },
      "PlaceOrderRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce",
          "type",
          "amount"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "amount": {
            "type": "number"
          },
          "price": {
            "type": "number",
            "description": "Price (omit for market order)"
          }
        }
      },
      "CancelReplaceOrderRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce",
          "type",
          "order_id"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "order_id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "AddressRequest": {
        "type": "object",
        "required": [
          "key",
          "signature",
          "nonce",
          "currency"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. BTC)"
          }
        }
      },
      "CryptoAddressesResponse": {
        "type": "object",
        "properties": {
          "e": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "addresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "blockchain": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CancelOrdersResponse": {
        "type": "object",
        "properties": {
          "e": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of cancelled orders"
          }
        }
      },
      "Fee": {
        "type": "object",
        "properties": {
          "buy": {
            "type": "string"
          },
          "buyMaker": {
            "type": "string"
          },
          "sell": {
            "type": "string"
          },
          "sellMaker": {
            "type": "string"
          }
        }
      },
      "FeeResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "string"
          },
          "e": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Fee"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "order": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "OrderTransactionsResponse": {
        "type": "object",
        "properties": {
          "e": {
            "type": "string"
          },
          "ok": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "time": {
                "type": "number"
              },
              "status": {
                "type": "string"
              },
              "symbol1": {
                "type": "string"
              },
              "symbol2": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              },
              "price": {
                "type": "string"
              },
              "remains": {
                "type": "string"
              },
              "orderId": {
                "type": "string"
              },
              "vtx": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              },
              "next": {
                "type": "boolean"
              },
              "prev": {
                "type": "boolean"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "hmacAuth": []
    }
  ]
}
