{
  "openapi": "3.0.1",
  "info": {
    "title": "AppVeyor REST API",
    "description": "AppVeyor is a hosted continuous integration service which runs on Microsoft\nWindows.  The AppVeyor REST API provides a RESTful way to interact with the\nAppVeyor service.  This includes managing projects, builds, deployments,\nand the teams that build them.\n\nAdditional help and discussion of the AppVeyor REST API is available at\nhttp://help.appveyor.com/discussions\n\nThis Swagger definition is an **unofficial** description of the AppVeyor\nREST API maintained at https://github.com/kevinoid/appveyor-swagger\nPlease report any issues or suggestions for this Swagger definition at\nhttps://github.com/kevinoid/appveyor-swagger/issues/new\n\n#### API Conventions\n\nFields which are missing from update operations (`PUT` requests) are\ntypically reset to their default values.  So although most fields are not\ntechnically required, they should usually be specified in practice.\n",
    "termsOfService": "https://www.appveyor.com/terms-of-service/",
    "contact": {
      "name": "AppVeyor Team",
      "url": "https://www.appveyor.com/about/",
      "email": "team@appveyor.com"
    },
    "license": {
      "name": "AppVeyor End User License Agreement (EULA)",
      "url": "https://www.appveyor.com/eula/"
    },
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.appveyor.com_assets_img_appveyor-logo-256.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/kevinoid/appveyor-swagger/master/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "appveyor.com",
    "x-unofficialSpec": true,
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/appveyor.com/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "AppVeyor REST API Documentation",
    "url": "https://www.appveyor.com/docs/api/"
  },
  "servers": [
    {
      "url": "https://ci.appveyor.com/api"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Collaborator",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/team/"
      }
    },
    {
      "name": "Role",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/team/"
      }
    },
    {
      "name": "User",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/team/"
      }
    },
    {
      "name": "Build",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/projects-builds/"
      }
    },
    {
      "name": "Project",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/projects-builds/"
      }
    },
    {
      "name": "Deployment",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/environments-deployments/"
      }
    },
    {
      "name": "Environment",
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/environments-deployments/"
      }
    }
  ],
  "paths": {
    "/account/encrypt": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Encrypt a value for use in StoredValue.",
        "operationId": "encryptValue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "wsnoY4v1v1Uofj0xf8E6FA=="
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Encrypt a value for use in StoredValue."
      }
    },
    "/buildjobs/{jobId}/artifacts": {
      "get": {
        "tags": [
          "Build"
        ],
        "summary": "Get build artifacts",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/"
        },
        "operationId": "getBuildArtifacts",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Build ID (`jobId` property of `BuildJob`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArtifactModel"
                  }
                },
                "example": [
                  {
                    "fileName": "README.md",
                    "name": "README.md",
                    "size": 3600,
                    "type": "File"
                  },
                  {
                    "fileName": "out/example.Release.x64.zip",
                    "name": "out\\example.zip",
                    "size": 15600,
                    "type": "Zip"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArtifactModel"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get build artifacts"
      }
    },
    "/buildjobs/{jobId}/artifacts/{artifactFileName}": {
      "get": {
        "tags": [
          "Build"
        ],
        "summary": "Download build artifact",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/"
        },
        "operationId": "getBuildArtifact",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Build ID (`jobId` property of `BuildJob`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifactFileName",
            "in": "path",
            "description": "File name (or path) of a build artifact file.\nCorresponds to the `fileName` property of `ArtifactModel`.\nURL-encoding of slashes in parameter values is optional.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Download build artifact"
      }
    },
    "/buildjobs/{jobId}/log": {
      "get": {
        "tags": [
          "Build"
        ],
        "summary": "Download build log",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#download-build-log"
        },
        "operationId": "getBuildLog",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Build ID (`jobId` property of `BuildJob`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.\nNote:  Response content is plain text sent with Content-Type\napplication/octet-stream.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Download build log"
      }
    },
    "/builds": {
      "put": {
        "tags": [
          "Build"
        ],
        "summary": "Re-run build",
        "description": "If `reRunIncomplete` is `true` and all jobs in the referenced build completed successfully, a 500 Internal Server Error is returned with the message \"No failed or cancelled jobs in build with ID {buildId}\".",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#re-run-build"
        },
        "operationId": "reRunBuild",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReRunBuildRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                },
                "example": {
                  "authorName": "Feodor Fitsner",
                  "authorUsername": "FeodorFitsner",
                  "branch": "master",
                  "buildId": 136709,
                  "buildNumber": 7,
                  "commitId": "c2892a70d60c96c1b65a7c665ab806b7731fea8a",
                  "committed": "2014-08-15T22:05:54+00:00",
                  "committerName": "Feodor Fitsner",
                  "committerUsername": "FeodorFitsner",
                  "created": "2014-08-16T00:40:38.1703914+00:00",
                  "jobs": [],
                  "message": "replaced with command [skip ci]",
                  "messages": [],
                  "status": "queued",
                  "version": "1.0.7"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "Build"
        ],
        "summary": "Start build of branch most recent commit",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#start-build-of-branch-most-recent-commit"
        },
        "operationId": "startBuild",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                },
                "example": {
                  "authorName": "Feodor Fitsner",
                  "authorUsername": "FeodorFitsner",
                  "branch": "master",
                  "buildId": 136709,
                  "buildNumber": 7,
                  "commitId": "c2892a70d60c96c1b65a7c665ab806b7731fea8a",
                  "committed": "2014-08-15T22:05:54+00:00",
                  "committerName": "Feodor Fitsner",
                  "committerUsername": "FeodorFitsner",
                  "created": "2014-08-16T00:40:38.1703914+00:00",
                  "jobs": [],
                  "message": "replaced with command [skip ci]",
                  "messages": [],
                  "status": "queued",
                  "version": "1.0.7"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Start build of branch most recent commit"
      }
    },
    "/builds/{accountName}/{projectSlug}/{buildVersion}": {
      "delete": {
        "tags": [
          "Build"
        ],
        "summary": "Cancel build",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#cancel-build"
        },
        "operationId": "cancelBuild",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildVersion",
            "in": "path",
            "description": "Build Version (`version` property of `Build`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Cancel build"
      }
    },
    "/collaborators": {
      "get": {
        "tags": [
          "Collaborator"
        ],
        "summary": "Get collaborators",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#get-collaborators"
        },
        "operationId": "getCollaborators",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAccount"
                  }
                },
                "example": [
                  {
                    "accountId": 2,
                    "accountName": "FeodorFitsner",
                    "created": "2014-02-03T20:29:26.6807307+00:00",
                    "email": "john@smith.com",
                    "failedBuildNotification": "all",
                    "fullName": "John Smith",
                    "isCollaborator": true,
                    "isOwner": false,
                    "notifyWhenBuildStatusChangedOnly": true,
                    "roleId": 3040,
                    "roleName": "My Role",
                    "successfulBuildNotification": "all",
                    "updated": "2014-03-07T04:26:09.1051534+00:00",
                    "userId": 2018
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get collaborators"
      },
      "put": {
        "tags": [
          "Collaborator"
        ],
        "summary": "Update collaborator",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#update-collaborator"
        },
        "operationId": "updateCollaborator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollaboratorUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Update collaborator"
      }
    },
    "/collaborators/{userId}": {
      "get": {
        "tags": [
          "Collaborator"
        ],
        "summary": "Get collaborator",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#get-collaborator"
        },
        "operationId": "getCollaborator",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccountRolesResults"
                },
                "example": {
                  "roles": [
                    {
                      "created": "2013-09-26T19:23:39.3615105+00:00",
                      "isSystem": true,
                      "name": "Administrator",
                      "roleId": 4
                    },
                    {
                      "created": "2013-09-26T19:23:39.3645117+00:00",
                      "isSystem": true,
                      "name": "User",
                      "roleId": 5
                    },
                    {
                      "created": "2014-03-18T20:12:08.4749886+00:00",
                      "isSystem": false,
                      "name": "My Role",
                      "roleId": 3040,
                      "updated": "2014-03-18T20:16:06.8803375+00:00"
                    }
                  ],
                  "user": {
                    "accountId": 2,
                    "accountName": "FeodorFitsner",
                    "created": "2014-02-03T20:29:26.6807307+00:00",
                    "email": "john@smith.com",
                    "failedBuildNotification": "all",
                    "fullName": "John Smith",
                    "isCollaborator": true,
                    "isOwner": false,
                    "notifyWhenBuildStatusChangedOnly": true,
                    "roleId": 3040,
                    "roleName": "My Role",
                    "successfulBuildNotification": "all",
                    "updated": "2014-03-07T04:26:09.1051534+00:00",
                    "userId": 2018
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccountRolesResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get collaborator"
      },
      "delete": {
        "tags": [
          "Collaborator"
        ],
        "summary": "Delete collaborator",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#delete-collaborator"
        },
        "operationId": "deleteCollaborator",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete collaborator"
      }
    },
    "/deployments": {
      "post": {
        "tags": [
          "Deployment"
        ],
        "summary": "Start deployment",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#start-deployment"
        },
        "operationId": "startDeployment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                },
                "example": {
                  "build": {
                    "authorName": "Feodor Fitsner",
                    "authorUsername": "FeodorFitsner",
                    "branch": "master",
                    "buildId": 132746,
                    "buildNumber": 38,
                    "commitId": "c397ba5d17dd17b994375405f560e4922207da1e",
                    "committed": "2014-08-12T22:56:00+00:00",
                    "committerName": "Feodor Fitsner",
                    "committerUsername": "FeodorFitsner",
                    "created": "2014-08-12T22:56:09.9208493+00:00",
                    "finished": "2014-08-12T22:58:05.7595508+00:00",
                    "jobs": [],
                    "message": "Removed Start-Website",
                    "messages": [],
                    "started": "2014-08-12T22:56:25.8575967+00:00",
                    "status": "success",
                    "updated": "2014-08-12T22:58:05.7595508+00:00",
                    "version": "1.0.38"
                  },
                  "created": "2014-08-12T23:06:07.9009315+00:00",
                  "deploymentId": 19475,
                  "environment": {
                    "created": "2014-04-01T17:56:41.30982+00:00",
                    "deploymentEnvironmentId": 27,
                    "name": "agent test",
                    "provider": "Agent",
                    "updated": "2014-08-12T22:35:51.9723883+00:00"
                  },
                  "finished": "2014-08-12T23:06:25.0502019+00:00",
                  "jobs": [
                    {
                      "created": "2014-08-12T23:06:07.9009315+00:00",
                      "finished": "2014-08-12T23:06:24.3361102+00:00",
                      "jobId": "jnpbcc77s4w278e4",
                      "messagesCount": 0,
                      "name": "Deployment",
                      "started": "2014-08-12T23:06:10.8776088+00:00",
                      "status": "success",
                      "updated": "2014-08-12T23:06:24.9390847+00:00"
                    }
                  ],
                  "started": "2014-08-12T23:06:10.8776088+00:00",
                  "status": "success",
                  "updated": "2014-08-12T23:06:25.0502019+00:00"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Start deployment"
      }
    },
    "/deployments/stop": {
      "put": {
        "tags": [
          "Deployment"
        ],
        "summary": "Cancel deployment",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#cancel-deployment"
        },
        "operationId": "cancelDeployment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentCancellation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Cancel deployment"
      }
    },
    "/deployments/{deploymentId}": {
      "get": {
        "tags": [
          "Deployment"
        ],
        "summary": "Get deployment",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#get-deployment"
        },
        "operationId": "getDeployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "Deployment ID (`deploymentId` property of `Deployment`)",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeployment"
                },
                "example": {
                  "deployment": {
                    "build": {
                      "authorName": "Feodor Fitsner",
                      "authorUsername": "FeodorFitsner",
                      "branch": "master",
                      "buildId": 132746,
                      "buildNumber": 38,
                      "commitId": "c397ba5d17dd17b994375405f560e4922207da1e",
                      "committed": "2014-08-12T22:56:00+00:00",
                      "committerName": "Feodor Fitsner",
                      "committerUsername": "FeodorFitsner",
                      "created": "2014-08-12T22:56:09.9208493+00:00",
                      "finished": "2014-08-12T22:58:05.7595508+00:00",
                      "jobs": [],
                      "message": "Removed Start-Website",
                      "messages": [],
                      "started": "2014-08-12T22:56:25.8575967+00:00",
                      "status": "success",
                      "updated": "2014-08-12T22:58:05.7595508+00:00",
                      "version": "1.0.38"
                    },
                    "created": "2014-08-12T23:06:07.9009315+00:00",
                    "deploymentId": 19475,
                    "environment": {
                      "created": "2014-04-01T17:56:41.30982+00:00",
                      "deploymentEnvironmentId": 27,
                      "name": "agent test",
                      "provider": "Agent",
                      "updated": "2014-08-12T22:35:51.9723883+00:00"
                    },
                    "finished": "2014-08-12T23:06:25.0502019+00:00",
                    "jobs": [
                      {
                        "created": "2014-08-12T23:06:07.9009315+00:00",
                        "finished": "2014-08-12T23:06:24.3361102+00:00",
                        "jobId": "jnpbcc77s4w278e4",
                        "messagesCount": 0,
                        "name": "Deployment",
                        "started": "2014-08-12T23:06:10.8776088+00:00",
                        "status": "success",
                        "updated": "2014-08-12T23:06:24.9390847+00:00"
                      }
                    ],
                    "started": "2014-08-12T23:06:10.8776088+00:00",
                    "status": "success",
                    "updated": "2014-08-12T23:06:25.0502019+00:00"
                  },
                  "project": {
                    "accountId": 2,
                    "accountName": "appvyr",
                    "builds": [],
                    "created": "2014-05-08T18:38:57.9163293+00:00",
                    "isPrivate": false,
                    "name": "simple-web",
                    "projectId": 22321,
                    "repositoryName": "AppVeyor/simple-web",
                    "repositoryScm": "git",
                    "repositoryType": "gitHub",
                    "securityDescriptor": {},
                    "skipBranchesWithoutAppveyorYml": false,
                    "slug": "simple-web",
                    "updated": "2014-07-14T10:16:26.9351867+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeployment"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get deployment"
      }
    },
    "/environments": {
      "get": {
        "tags": [
          "Environment"
        ],
        "summary": "Get environments",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#get-environments"
        },
        "operationId": "getEnvironments",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeploymentEnvironmentLookupModel"
                  }
                },
                "example": [
                  {
                    "deploymentEnvironmentId": 14,
                    "name": "azure-blob-1",
                    "provider": "AzureBlob"
                  },
                  {
                    "deploymentEnvironmentId": 12,
                    "name": "azure-deploy-test",
                    "provider": "AzureCS"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeploymentEnvironmentLookupModel"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get environments"
      },
      "put": {
        "tags": [
          "Environment"
        ],
        "summary": "Update environment",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#update-environment"
        },
        "operationId": "updateEnvironment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentEnvironmentWithSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentWithSettings"
                },
                "example": {
                  "created": "2014-08-15T23:57:16.1585268+00:00",
                  "deploymentEnvironmentId": 3018,
                  "environmentAccessKey": "gi3ttevuk7123",
                  "name": "production",
                  "provider": "FTP",
                  "settings": {
                    "environmentVariables": [
                      {
                        "name": "my-var",
                        "value": {
                          "isEncrypted": false,
                          "value": "123"
                        }
                      }
                    ],
                    "providerSettings": [
                      {
                        "name": "server",
                        "value": {
                          "isEncrypted": false,
                          "value": "ftp.myserver.com"
                        }
                      },
                      {
                        "name": "username",
                        "value": {
                          "isEncrypted": false,
                          "value": "ftp-user"
                        }
                      },
                      {
                        "name": "password",
                        "value": {
                          "isEncrypted": true,
                          "value": "password"
                        }
                      }
                    ]
                  },
                  "updated": "2014-08-16T00:00:37.6079863+00:00"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentWithSettings"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Update environment"
      },
      "post": {
        "tags": [
          "Environment"
        ],
        "summary": "Add environment",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#add-environment"
        },
        "operationId": "addEnvironment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentEnvironmentAddition"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentWithSettings"
                },
                "example": {
                  "created": "2014-08-15T23:57:16.1585268+00:00",
                  "deploymentEnvironmentId": 3018,
                  "environmentAccessKey": "gi3ttevuk7a123",
                  "name": "production",
                  "provider": "FTP",
                  "settings": {
                    "environmentVariables": [
                      {
                        "name": "my-var",
                        "value": {
                          "isEncrypted": false,
                          "value": "123"
                        }
                      }
                    ],
                    "providerSettings": [
                      {
                        "name": "server",
                        "value": {
                          "isEncrypted": false,
                          "value": "ftp.myserver.com"
                        }
                      },
                      {
                        "name": "username",
                        "value": {
                          "isEncrypted": false,
                          "value": "ftp-user"
                        }
                      },
                      {
                        "name": "password",
                        "value": {
                          "isEncrypted": true,
                          "value": "password"
                        }
                      }
                    ]
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentWithSettings"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Add environment"
      }
    },
    "/environments/{deploymentEnvironmentId}": {
      "delete": {
        "tags": [
          "Environment"
        ],
        "summary": "Delete environment",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#delete-environment"
        },
        "operationId": "deleteEnvironment",
        "parameters": [
          {
            "name": "deploymentEnvironmentId",
            "in": "path",
            "description": "Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)\n",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete environment"
      }
    },
    "/environments/{deploymentEnvironmentId}/deployments": {
      "get": {
        "tags": [
          "Environment"
        ],
        "summary": "Get environment deployments",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#get-environment-deployments"
        },
        "operationId": "getEnvironmentDeployments",
        "parameters": [
          {
            "name": "deploymentEnvironmentId",
            "in": "path",
            "description": "Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)\n",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentDeploymentsResults"
                },
                "example": {
                  "deployments": [
                    {
                      "deployment": {
                        "build": {
                          "authorName": "Feodor Fitsner",
                          "authorUsername": "FeodorFitsner",
                          "branch": "master",
                          "buildId": 18665,
                          "buildNumber": 25,
                          "commitId": "ed40bd27f732d162b2185d75921b1cd57191f83b",
                          "committed": "2014-05-08T19:11:38+00:00",
                          "committerName": "Feodor Fitsner",
                          "committerUsername": "FeodorFitsner",
                          "created": "2014-05-22T20:09:53.759355+00:00",
                          "finished": "2014-05-22T20:12:33.7806881+00:00",
                          "jobs": [],
                          "message": "Merge pull request #3 from FeodorFitsner/master",
                          "messageExtended": "Changes to AccountController",
                          "messages": [],
                          "started": "2014-05-22T20:12:11.4475134+00:00",
                          "status": "success",
                          "updated": "2014-05-22T20:12:33.7806881+00:00",
                          "version": "1.0.25"
                        },
                        "created": "2014-06-02T18:20:07.2833871+00:00",
                        "deploymentId": 4120,
                        "environment": {
                          "created": "2014-01-23T18:13:52.2268502+00:00",
                          "deploymentEnvironmentId": 14,
                          "name": "azure-blob-1",
                          "provider": "AzureBlob",
                          "updated": "2014-06-02T18:13:32.5106126+00:00"
                        },
                        "finished": "2014-06-02T18:20:25.11916+00:00",
                        "jobs": [
                          {
                            "created": "2014-07-27T09:59:57.0171035+00:00",
                            "finished": "2014-07-27T10:00:11.5995296+00:00",
                            "jobId": "1696fh3a2w5ng99y",
                            "messagesCount": 0,
                            "name": "Deployment",
                            "started": "2014-07-27T09:59:58.3955159+00:00",
                            "status": "success",
                            "updated": "2014-07-27T10:00:16.163082+00:00"
                          }
                        ],
                        "started": "2014-06-02T18:20:07.9871288+00:00",
                        "status": "success",
                        "updated": "2014-06-02T18:20:25.11916+00:00"
                      },
                      "project": {
                        "accountId": 2,
                        "accountName": "FeodorFitsner",
                        "builds": [],
                        "created": "2014-05-06T16:38:14.7788393+00:00",
                        "isPrivate": false,
                        "name": "simple-web",
                        "projectId": 15072,
                        "repositoryName": "AppVeyor/simple-web",
                        "repositoryScm": "git",
                        "repositoryType": "gitHub",
                        "securityDescriptor": {},
                        "skipBranchesWithoutAppveyorYml": false,
                        "slug": "simple-web",
                        "updated": "2014-06-02T21:37:30.9378043+00:00"
                      }
                    }
                  ],
                  "environment": {
                    "created": "2014-01-23T18:13:52.2268502+00:00",
                    "deploymentEnvironmentId": 14,
                    "name": "azure-blob-1",
                    "provider": "AzureBlob",
                    "updated": "2014-06-02T18:13:32.5106126+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentDeploymentsResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get environment deployments"
      }
    },
    "/environments/{deploymentEnvironmentId}/settings": {
      "get": {
        "tags": [
          "Environment"
        ],
        "summary": "Get environment settings",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#get-environment-settings"
        },
        "operationId": "getEnvironmentSettings",
        "parameters": [
          {
            "name": "deploymentEnvironmentId",
            "in": "path",
            "description": "Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)\n",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentSettingsResults"
                },
                "example": {
                  "environment": {
                    "created": "2014-01-23T18:13:52.2268502+00:00",
                    "deploymentEnvironmentId": 14,
                    "environmentAccessKey": "aaabbb12345",
                    "name": "azure-blob-1",
                    "provider": "AzureBlob",
                    "settings": {
                      "environmentVariables": [],
                      "providerSettings": [
                        {
                          "name": "storage_account_name",
                          "value": {
                            "isEncrypted": false,
                            "value": "myaccount"
                          }
                        },
                        {
                          "name": "storage_access_key",
                          "value": {
                            "isEncrypted": true,
                            "value": "4sc1c7/Qp5buQcZ8N486Ks46mLFbXJVqcJjyv98w=="
                          }
                        },
                        {
                          "name": "container",
                          "value": {
                            "isEncrypted": false,
                            "value": "test"
                          }
                        },
                        {
                          "name": "folder",
                          "value": {
                            "isEncrypted": false,
                            "value": "$(appveyor_build_version)"
                          }
                        },
                        {
                          "name": "artifact",
                          "value": {
                            "isEncrypted": false
                          }
                        }
                      ]
                    },
                    "updated": "2014-06-02T18:13:32.5106126+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentEnvironmentSettingsResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get environment settings"
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get projects",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#get-projects"
        },
        "operationId": "getProjects",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                },
                "example": [
                  {
                    "accountId": 2,
                    "accountName": "FeodorFitsner",
                    "builds": [
                      {
                        "authorName": "Feodor Fitsner",
                        "authorUsername": "FeodorFitsner",
                        "branch": "master",
                        "buildId": 23864,
                        "buildNumber": 3,
                        "commitId": "c2892a70d60c96c1b65a7c665ab806b7731fea8a",
                        "committed": "2014-08-15T22:05:54+00:00",
                        "committerName": "Feodor Fitsner",
                        "committerUsername": "FeodorFitsner",
                        "created": "2014-08-15T22:33:15.9833328+00:00",
                        "finished": "2014-08-15T22:37:00.6171479+00:00",
                        "jobs": [],
                        "message": "replaced with command [skip ci]",
                        "messages": [],
                        "started": "2014-08-15T22:36:38.1757886+00:00",
                        "status": "success",
                        "updated": "2014-08-15T22:37:00.6171479+00:00",
                        "version": "1.0.3"
                      }
                    ],
                    "created": "2014-08-15T22:04:19.2868375+00:00",
                    "isPrivate": false,
                    "name": "appveyor-artifact-test",
                    "nuGetFeed": {
                      "created": "2014-08-15T22:04:21.3111546+00:00",
                      "id": "appveyor-artifact-test-j8kk0o",
                      "name": "Project appveyor-artifact-test",
                      "publishingEnabled": false
                    },
                    "projectId": 19096,
                    "repositoryBranch": "master",
                    "repositoryName": "FeodorFitsner/appveyor-artifact-test",
                    "repositoryScm": "git",
                    "repositoryType": "gitHub",
                    "skipBranchesWithoutAppveyorYml": false,
                    "slug": "appveyor-artifact-test"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get projects"
      },
      "put": {
        "tags": [
          "Project"
        ],
        "summary": "Update project",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#update-project"
        },
        "operationId": "updateProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectWithConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Update project"
      },
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Add project",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#add-project"
        },
        "operationId": "addProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectAddition"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                },
                "example": {
                  "accountId": 2,
                  "accountName": "appvyr",
                  "builds": [],
                  "created": "2014-08-16T00:52:15.6604826+00:00",
                  "isPrivate": false,
                  "name": "demo-app",
                  "projectId": 43682,
                  "repositoryName": "FeodorFitsner/demo-app",
                  "repositoryScm": "git",
                  "repositoryType": "gitHub",
                  "skipBranchesWithoutAppveyorYml": false,
                  "slug": "demo-app-335"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "description": "Add project"
      }
    },
    "/projects/status/{badgeRepoProvider}/{repoAccountName}/{repoSlug}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get status badge image for a project with a public repository",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/status-badges/"
        },
        "operationId": "getPublicProjectStatusBadge",
        "parameters": [
          {
            "name": "badgeRepoProvider",
            "in": "path",
            "description": "Repository provider supported for badges",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "bitBucket",
                "gitHub"
              ]
            }
          },
          {
            "name": "repoAccountName",
            "in": "path",
            "description": "Account name with repository provider",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "repoSlug",
            "in": "path",
            "description": "Slug (URL component) of repository.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Repository Branch",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "svg",
            "in": "query",
            "description": "Return an SVG image instead of PNG?  Exclusive with `retina`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "retina",
            "in": "query",
            "description": "Return a larger image suitable for retina displays?  Exclusive with `svg`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "passingText",
            "in": "query",
            "description": "Text to show in badge when build is passing.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "failingText",
            "in": "query",
            "description": "Text to show in badge when build is failing.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "pendingText",
            "in": "query",
            "description": "Text to show in badge when build is pending.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get status badge image for a project with a public repository"
      }
    },
    "/projects/status/{statusBadgeId}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project status badge image",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/status-badges/"
        },
        "operationId": "getProjectStatusBadge",
        "parameters": [
          {
            "name": "statusBadgeId",
            "in": "path",
            "description": "ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "svg",
            "in": "query",
            "description": "Return an SVG image instead of PNG?  Exclusive with `retina`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "retina",
            "in": "query",
            "description": "Return a larger image suitable for retina displays?  Exclusive with `svg`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "passingText",
            "in": "query",
            "description": "Text to show in badge when build is passing.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "failingText",
            "in": "query",
            "description": "Text to show in badge when build is failing.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "pendingText",
            "in": "query",
            "description": "Text to show in badge when build is pending.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get project status badge image"
      }
    },
    "/projects/status/{statusBadgeId}/branch/{buildBranch}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project branch status badge image",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/status-badges/"
        },
        "operationId": "getProjectBranchStatusBadge",
        "parameters": [
          {
            "name": "statusBadgeId",
            "in": "path",
            "description": "ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "buildBranch",
            "in": "path",
            "description": "Build Branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svg",
            "in": "query",
            "description": "Return an SVG image instead of PNG?  Exclusive with `retina`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "retina",
            "in": "query",
            "description": "Return a larger image suitable for retina displays?  Exclusive with `svg`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "passingText",
            "in": "query",
            "description": "Text to show in badge when build is passing.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "failingText",
            "in": "query",
            "description": "Text to show in badge when build is failing.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "pendingText",
            "in": "query",
            "description": "Text to show in badge when build is pending.",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get project branch status badge image"
      }
    },
    "/projects/{accountName}/{projectSlug}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project last build",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#get-project-last-build"
        },
        "operationId": "getProjectLastBuild",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBuildResults"
                },
                "example": {
                  "build": {
                    "authorName": "Feodor Fitsner",
                    "authorUsername": "FeodorFitsner",
                    "branch": "master",
                    "buildId": 134173,
                    "buildNumber": 45,
                    "commitId": "85da1fb810ae89744abad83e75c13483dd740258",
                    "committed": "2014-07-03T07:56:15+00:00",
                    "committerName": "Feodor Fitsner",
                    "committerUsername": "FeodorFitsner",
                    "created": "2014-08-14T05:39:26.2946368+00:00",
                    "finished": "2014-08-14T05:42:45.5709599+00:00",
                    "jobs": [
                      {
                        "allowFailure": false,
                        "artifactsCount": 0,
                        "compilationErrorsCount": 0,
                        "compilationMessagesCount": 0,
                        "compilationWarningsCount": 0,
                        "created": "2014-08-14T05:39:27.3902557+00:00",
                        "failedTestsCount": 0,
                        "finished": "2014-08-14T05:42:45.1102797+00:00",
                        "jobId": "9r2qufuu8",
                        "messagesCount": 0,
                        "name": "",
                        "passedTestsCount": 0,
                        "started": "2014-08-14T05:41:49.1061831+00:00",
                        "status": "success",
                        "testsCount": 0,
                        "updated": "2014-08-14T05:42:45.477213+00:00"
                      }
                    ],
                    "message": "AssemblyInfo patching",
                    "messages": [],
                    "started": "2014-08-14T05:41:49.1686804+00:00",
                    "status": "success",
                    "updated": "2014-08-14T05:42:45.5709599+00:00",
                    "version": "1.0.45"
                  },
                  "project": {
                    "accountId": 2,
                    "accountName": "appvyr",
                    "builds": [],
                    "created": "2014-07-19T10:23:03.8005134+00:00",
                    "isPrivate": false,
                    "name": "nuget-test",
                    "nuGetFeed": {
                      "created": "2014-07-19T10:23:05.5160273+00:00",
                      "id": "nuget-test-23spw2w",
                      "name": "Project nuget-test",
                      "publishingEnabled": false
                    },
                    "projectId": 38907,
                    "repositoryBranch": "master",
                    "repositoryName": "FeodorFitsner/nuget-test",
                    "repositoryScm": "git",
                    "repositoryType": "gitHub",
                    "securityDescriptor": {},
                    "skipBranchesWithoutAppveyorYml": false,
                    "slug": "nuget-test",
                    "updated": "2014-08-01T05:25:15.4119745+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBuildResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get project last build"
      },
      "delete": {
        "tags": [
          "Project"
        ],
        "summary": "Delete project",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#delete-project"
        },
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete project"
      }
    },
    "/projects/{accountName}/{projectSlug}/artifacts/{artifactFileName}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get last successful build artifact",
        "description": "The `job` parameter is mandatory if the build contains multiple jobs.",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/packaging-artifacts/#permalink-to-the-last-successful-build-artifact"
        },
        "operationId": "getProjectArtifact",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifactFileName",
            "in": "path",
            "description": "File name (or path) of a build artifact file.\nCorresponds to the `fileName` property of `ArtifactModel`.\nURL-encoding of slashes in parameter values is optional.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Repository Branch",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "A git (or other VCS) tag",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "query",
            "description": "Name of the build job.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Include not only `successful`, but also jobs with `failed`, and\n`cancelled` status.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pr",
            "in": "query",
            "description": "Include PR builds in the search results?\n`true` - take artifact from PR builds only;\n`false` - do not look for artifact in PR builds;\ndefault/unspecified - look for artifact in both PR an non-PR builds.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/projects/{accountName}/{projectSlug}/branch/{buildBranch}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project last branch build",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#get-project-last-branch-build"
        },
        "operationId": "getProjectLastBuildBranch",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildBranch",
            "in": "path",
            "description": "Build Branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBuildResults"
                },
                "example": {
                  "build": {
                    "authorName": "Feodor Fitsner",
                    "authorUsername": "FeodorFitsner",
                    "branch": "master",
                    "buildId": 134173,
                    "buildNumber": 45,
                    "commitId": "85da1fb810ae89744abad83e75c13483dd740258",
                    "committed": "2014-07-03T07:56:15+00:00",
                    "committerName": "Feodor Fitsner",
                    "committerUsername": "FeodorFitsner",
                    "created": "2014-08-14T05:39:26.2946368+00:00",
                    "finished": "2014-08-14T05:42:45.5709599+00:00",
                    "jobs": [
                      {
                        "allowFailure": false,
                        "artifactsCount": 0,
                        "compilationErrorsCount": 0,
                        "compilationMessagesCount": 0,
                        "compilationWarningsCount": 0,
                        "created": "2014-08-14T05:39:27.3902557+00:00",
                        "failedTestsCount": 0,
                        "finished": "2014-08-14T05:42:45.1102797+00:00",
                        "jobId": "9r2qufuu8",
                        "messagesCount": 0,
                        "name": "",
                        "passedTestsCount": 0,
                        "started": "2014-08-14T05:41:49.1061831+00:00",
                        "status": "success",
                        "testsCount": 0,
                        "updated": "2014-08-14T05:42:45.477213+00:00"
                      }
                    ],
                    "message": "AssemblyInfo patching",
                    "messages": [],
                    "started": "2014-08-14T05:41:49.1686804+00:00",
                    "status": "success",
                    "updated": "2014-08-14T05:42:45.5709599+00:00",
                    "version": "1.0.45"
                  },
                  "project": {
                    "accountId": 2,
                    "accountName": "appvyr",
                    "builds": [],
                    "created": "2014-07-19T10:23:03.8005134+00:00",
                    "isPrivate": false,
                    "name": "nuget-test",
                    "nuGetFeed": {
                      "created": "2014-07-19T10:23:05.5160273+00:00",
                      "id": "nuget-test-23spw2w",
                      "name": "Project nuget-test",
                      "publishingEnabled": false
                    },
                    "projectId": 38907,
                    "repositoryBranch": "master",
                    "repositoryName": "FeodorFitsner/nuget-test",
                    "repositoryScm": "git",
                    "repositoryType": "gitHub",
                    "securityDescriptor": {},
                    "skipBranchesWithoutAppveyorYml": false,
                    "slug": "nuget-test",
                    "updated": "2014-08-01T05:25:15.4119745+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBuildResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get project last branch build"
      }
    },
    "/projects/{accountName}/{projectSlug}/build/{buildVersion}": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project build by version",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#get-project-build-by-version"
        },
        "operationId": "getProjectBuildByVersion",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildVersion",
            "in": "path",
            "description": "Build Version (`version` property of `Build`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBuildResults"
                },
                "example": {
                  "build": {
                    "authorName": "Feodor Fitsner",
                    "authorUsername": "FeodorFitsner",
                    "branch": "master",
                    "buildId": 134173,
                    "buildNumber": 45,
                    "commitId": "85da1fb810ae89744abad83e75c13483dd740258",
                    "committed": "2014-07-03T07:56:15+00:00",
                    "committerName": "Feodor Fitsner",
                    "committerUsername": "FeodorFitsner",
                    "created": "2014-08-14T05:39:26.2946368+00:00",
                    "finished": "2014-08-14T05:42:45.5709599+00:00",
                    "jobs": [
                      {
                        "allowFailure": false,
                        "artifactsCount": 0,
                        "compilationErrorsCount": 0,
                        "compilationMessagesCount": 0,
                        "compilationWarningsCount": 0,
                        "created": "2014-08-14T05:39:27.3902557+00:00",
                        "failedTestsCount": 0,
                        "finished": "2014-08-14T05:42:45.1102797+00:00",
                        "jobId": "9r2qufuu8",
                        "messagesCount": 0,
                        "name": "",
                        "passedTestsCount": 0,
                        "started": "2014-08-14T05:41:49.1061831+00:00",
                        "status": "success",
                        "testsCount": 0,
                        "updated": "2014-08-14T05:42:45.477213+00:00"
                      }
                    ],
                    "message": "AssemblyInfo patching",
                    "messages": [],
                    "started": "2014-08-14T05:41:49.1686804+00:00",
                    "status": "success",
                    "updated": "2014-08-14T05:42:45.5709599+00:00",
                    "version": "1.0.45"
                  },
                  "project": {
                    "accountId": 2,
                    "accountName": "appvyr",
                    "builds": [],
                    "created": "2014-07-19T10:23:03.8005134+00:00",
                    "isPrivate": false,
                    "name": "nuget-test",
                    "nuGetFeed": {
                      "created": "2014-07-19T10:23:05.5160273+00:00",
                      "id": "nuget-test-23spw2w",
                      "name": "Project nuget-test",
                      "publishingEnabled": false
                    },
                    "projectId": 38907,
                    "repositoryBranch": "master",
                    "repositoryName": "FeodorFitsner/nuget-test",
                    "repositoryScm": "git",
                    "repositoryType": "gitHub",
                    "securityDescriptor": {},
                    "skipBranchesWithoutAppveyorYml": false,
                    "slug": "nuget-test",
                    "updated": "2014-08-01T05:25:15.4119745+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBuildResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Get project build by version"
      }
    },
    "/projects/{accountName}/{projectSlug}/buildcache": {
      "delete": {
        "tags": [
          "Project"
        ],
        "summary": "Delete project build cache",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#delete-project-build-cache"
        },
        "operationId": "deleteProjectBuildCache",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete project build cache"
      }
    },
    "/projects/{accountName}/{projectSlug}/deployments": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project deployments",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#get-project-deployments"
        },
        "operationId": "getProjectDeployments",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "projectSlug",
            "in": "path",
            "description": "Project Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordsNumber",
            "in": "query",
            "description": "Number of results to include in the response. getProjectDeployments is documented to have a maximum of 20. It currently returns 500 Internal Server Error for recordsNumber <= 5. In the past it has returned 500 Internal Server Error for many different values which did not match the value used by the ci.appveyor.com web interface at the time.  As of 2018-09-08, the value used by the web interface is 10.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeploymentsResults"
                },
                "example": {
                  "deployments": [
                    {
                      "deployment": {
                        "build": {
                          "authorName": "Feodor Fitsner",
                          "authorUsername": "FeodorFitsner",
                          "branch": "master",
                          "buildId": 132746,
                          "buildNumber": 38,
                          "commitId": "c397ba5d17dd17b994375405f560e4922207da1e",
                          "committed": "2014-08-12T22:56:00+00:00",
                          "committerName": "Feodor Fitsner",
                          "committerUsername": "FeodorFitsner",
                          "created": "2014-08-12T22:56:09.9208493+00:00",
                          "finished": "2014-08-12T22:58:05.7595508+00:00",
                          "jobs": [],
                          "message": "Removed Start-Website",
                          "messages": [],
                          "started": "2014-08-12T22:56:25.8575967+00:00",
                          "status": "success",
                          "updated": "2014-08-12T22:58:05.7595508+00:00",
                          "version": "1.0.38"
                        },
                        "created": "2014-08-12T23:06:07.9009315+00:00",
                        "deploymentId": 19475,
                        "environment": {
                          "created": "2014-04-01T17:56:41.30982+00:00",
                          "deploymentEnvironmentId": 27,
                          "name": "agent test",
                          "provider": "Agent",
                          "updated": "2014-08-12T22:35:51.9723883+00:00"
                        },
                        "finished": "2014-08-12T23:06:25.0502019+00:00",
                        "jobs": [
                          {
                            "created": "2014-08-12T23:06:07.9009315+00:00",
                            "finished": "2014-08-12T23:06:24.3361102+00:00",
                            "jobId": "jnpbcc77s4w278e4",
                            "messagesCount": 0,
                            "name": "Deployment",
                            "started": "2014-08-12T23:06:10.8776088+00:00",
                            "status": "success",
                            "updated": "2014-08-12T23:06:24.9390847+00:00"
                          },
                          {
                            "created": "2014-08-12T23:06:14.8148958+00:00",
                            "finished": "2014-08-12T23:06:21.9647266+00:00",
                            "jobId": "nbgyf7pn65d4agyr",
                            "messagesCount": 0,
                            "name": "TEST-AGENT-DEPL",
                            "started": "2014-08-12T23:06:14.8148958+00:00",
                            "status": "success",
                            "updated": "2014-08-12T23:06:22.3768791+00:00"
                          }
                        ],
                        "started": "2014-08-12T23:06:10.8776088+00:00",
                        "status": "success",
                        "updated": "2014-08-12T23:06:25.0502019+00:00"
                      },
                      "environment": {
                        "created": "2014-04-01T17:56:41.30982+00:00",
                        "deploymentEnvironmentId": 27,
                        "name": "agent test",
                        "provider": "Agent",
                        "updated": "2014-08-12T22:35:51.9723883+00:00"
                      }
                    }
                  ],
                  "project": {
                    "accountId": 2,
                    "accountName": "appvyr",
                    "builds": [],
                    "created": "2014-05-08T18:38:57.9163293+00:00",
                    "isPrivate": false,
                    "name": "simple-web",
                    "projectId": 22321,
                    "repositoryName": "AppVeyor/simple-web",
                    "repositoryScm": "git",
                    "repositoryType": "gitHub",
                    "securityDescriptor": {},
                    "skipBranchesWithoutAppveyorYml": false,
                    "slug": "simple-web",
                    "updated": "2014-07-14T10:16:26.9351867+00:00"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeploymentsResults"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Get project deployments"
      }
    },
    "/projects/{accountName}/{projectSlug}/history": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Get project history",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#get-project-history"
        },
        "operationId": "getProjectHistory",
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
[...]
