{
  "openapi": "3.0.3",
  "info": {
    "title": "BambooHR API",
    "description": "BambooHR is a cloud-based HR software solution. The BambooHR API provides access to employee data, time off management, applicant tracking, reports, company files, goals, training, webhooks, and more. Uses HTTP Basic authentication with an API key as username and 'x' as password.",
    "version": "1.0",
    "contact": {
      "name": "BambooHR API Support",
      "url": "https://documentation.bamboohr.com/docs"
    },
    "x-categories": [
      "Human Resources"
    ],
    "x-logo": {
      "url": "https://www.bamboohr.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.bamboohr.com/api/gateway.php/{companyDomain}/v1",
      "description": "BambooHR API endpoint",
      "variables": {
        "companyDomain": {
          "default": "mycompany",
          "description": "Your BambooHR company subdomain"
        }
      }
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/employees/{id}": {
      "get": {
        "operationId": "getEmployee",
        "summary": "Get employee",
        "description": "Returns employee data for the specified employee ID. Specify which fields to return using the fields query parameter. Max 400 fields per request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of field names to return",
            "schema": {
              "type": "string"
            },
            "example": "firstName,lastName,department,jobTitle"
          },
          {
            "name": "onlyCurrent",
            "in": "query",
            "description": "Set to false to include future-dated values",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "404": {
            "description": "Employee not found"
          }
        },
        "tags": [
          "Employees"
        ]
      },
      "post": {
        "operationId": "updateEmployee",
        "summary": "Update employee",
        "description": "Updates employee data for the specified ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Key-value pairs of field names and new values"
              },
              "example": {
                "firstName": "John",
                "lastName": "Doe",
                "department": "Engineering"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee updated"
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "Employees"
        ]
      }
    },
    "/employees": {
      "post": {
        "operationId": "createEmployee",
        "summary": "Create employee",
        "description": "Creates a new employee. firstName and lastName are required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee created",
            "headers": {
              "Location": {
                "description": "URL of the new employee resource",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "Employees"
        ]
      },
      "get": {
        "operationId": "listEmployees",
        "summary": "List employees",
        "description": "Returns a list of employees.",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of field names to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "employees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Employees"
        ]
      }
    },
    "/employees/directory": {
      "get": {
        "operationId": "getEmployeeDirectory",
        "summary": "Get employee directory",
        "description": "Returns the company employee directory.",
        "responses": {
          "200": {
            "description": "Employee directory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "employees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Employees"
        ]
      }
    },
    "/company/information": {
      "get": {
        "operationId": "getCompanyInformation",
        "summary": "Get company information",
        "description": "Returns basic company information.",
        "responses": {
          "200": {
            "description": "Company information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Employees"
        ]
      }
    },
    "/meta/fields": {
      "get": {
        "operationId": "listFields",
        "summary": "List fields",
        "description": "Returns a list of all available employee fields.",
        "responses": {
          "200": {
            "description": "List of field definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldDefinition"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Account Information"
        ]
      }
    },
    "/meta/lists": {
      "get": {
        "operationId": "listListFields",
        "summary": "List list fields",
        "description": "Returns all list field options.",
        "responses": {
          "200": {
            "description": "List field options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldId": {
                        "type": "integer"
                      },
                      "alias": {
                        "type": "string"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "archived": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Account Information"
        ]
      }
    },
    "/meta/tables": {
      "get": {
        "operationId": "listTabularFields",
        "summary": "List tabular fields",
        "description": "Returns all available tabular data fields.",
        "responses": {
          "200": {
            "description": "List of tabular fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "alias": {
                        "type": "string"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Account Information"
        ]
      }
    },
    "/meta/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Returns list of BambooHR user accounts.",
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "employeeId": {
                        "type": "integer"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "status": {
                        "type": "string"
                      },
                      "lastLogin": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Account Information"
        ]
      }
    },
    "/employees/{id}/tables/{table}": {
      "get": {
        "operationId": "getEmployeeTableData",
        "summary": "Get employee table data",
        "description": "Returns tabular data for the employee (e.g., jobInfo, compensation).",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "description": "Table alias (e.g., jobInfo, compensation, emergencyContacts)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Tabular Data"
        ]
      },
      "post": {
        "operationId": "createTableRow",
        "summary": "Create table row",
        "description": "Adds a new row to the employee's tabular data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row created"
          }
        },
        "tags": [
          "Tabular Data"
        ]
      }
    },
    "/employees/{id}/tables/{table}/{rowId}": {
      "post": {
        "operationId": "updateTableRow",
        "summary": "Update table row",
        "description": "Updates an existing row in employee tabular data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row updated"
          }
        },
        "tags": [
          "Tabular Data"
        ]
      },
      "delete": {
        "operationId": "deleteTableRow",
        "summary": "Delete table row",
        "description": "Deletes a row from employee tabular data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row deleted"
          }
        },
        "tags": [
          "Tabular Data"
        ]
      }
    },
    "/employees/{id}/time_off/request": {
      "put": {
        "operationId": "createTimeOffRequest",
        "summary": "Create time off request",
        "description": "Creates a time off request for the employee.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status",
                  "start",
                  "end",
                  "timeOffTypeId"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "requested",
                      "approved",
                      "denied",
                      "canceled"
                    ]
                  },
                  "start": {
                    "type": "string",
                    "format": "date"
                  },
                  "end": {
                    "type": "string",
                    "format": "date"
                  },
                  "timeOffTypeId": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "dates": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "number"
                    }
                  },
                  "previousRequest": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time off request created"
          }
        },
        "tags": [
          "Time Off"
        ]
      }
    },
    "/time_off/requests": {
      "get": {
        "operationId": "listTimeOffRequests",
        "summary": "List time off requests",
        "description": "Returns time off requests within a date range.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Time off type filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Filter by employee ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Filter by action type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of time off requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeOffRequest"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Time Off"
        ]
      }
    },
    "/time_off/policies": {
      "get": {
        "operationId": "listTimeOffPolicies",
        "summary": "List time off policies",
        "description": "Returns all time off policies.",
        "responses": {
          "200": {
            "description": "List of policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "timeOffTypeId": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "effectiveDate": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Time Off"
        ]
      }
    },
    "/time_off/types": {
      "get": {
        "operationId": "listTimeOffTypes",
        "summary": "List time off types",
        "description": "Returns all available time off types.",
        "responses": {
          "200": {
            "description": "List of time off types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "units": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Time Off"
        ]
      }
    },
    "/time_off/whos_out": {
      "get": {
        "operationId": "listWhosOut",
        "summary": "List who's out",
        "description": "Returns who is out of the office.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of employees who are out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "string"
                      },
                      "employeeId": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start": {
                        "type": "string",
                        "format": "date"
                      },
                      "end": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Time Off"
        ]
      }
    },
    "/employees/{id}/photo/{size}": {
      "get": {
        "operationId": "getEmployeePhoto",
        "summary": "Get employee photo",
        "description": "Returns the employee photo.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmployeeId"
          },
          {
            "name": "size",
            "in": "path",
            "required": true,
            "description": "Photo size: small, medium, large, original",
            "schema": {
              "type": "string",
              "enum": [
                "small",
                "medium",
                "large",
                "original"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee photo",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "No photo available"
          }
        },
        "tags": [
          "Photos"
        ]
      }
    },
    "/reports/{reportId}": {
      "get": {
        "operationId": "getCompanyReport",
        "summary": "Get company report",
        "description": "Returns a company report by ID.",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "CSV",
                "XML",
                "PDF"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "fd",
            "in": "query",
            "description": "Set to yes to use field display names as keys",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "employees": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/custom": {
      "post": {
        "operationId": "requestCustomReport",
        "summary": "Request custom report",
        "description": "Generates a custom report with specified fields and filters.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "CSV",
                "XML",
                "PDF"
              ],
              "default": "JSON"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fields"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of field IDs or aliases"
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "lastChanged": {
                        "type": "object",
                        "properties": {
                          "includeNull": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Returns all registered webhooks.",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Webhooks"
        ]
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Creates a new webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Get webhook"
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Update webhook"
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        },
        "tags": [
          "Webhooks"
        ],
        "description": "Delete webhook"
      }
    },
    "/employees/changed": {
      "get": {
        "operationId": "getChangedEmployeeIds",
        "summary": "Get updated employee IDs",
        "description": "Returns IDs of employees who have changed since a given date.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "description": "ISO 8601 datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of change (inserted, updated, deleted)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Changed employee IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "employees": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string"
                          },
                          "lastChanged": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Employees"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your BambooHR API key as the username and 'x' as the password."
      }
    },
    "parameters": {
      "EmployeeId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Employee ID (use 0 for the current user)",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "division": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "workEmail": {
            "type": "string",
            "format": "email"
          },
          "workPhone": {
            "type": "string"
          },
          "mobilePhone": {
            "type": "string"
          },
          "hireDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "supervisorId": {
            "type": "integer"
          },
          "supervisorEId": {
            "type": "integer"
          },
          "photoUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "FieldDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "deprecated": {
            "type": "boolean"
          }
        }
      },
      "TimeOffRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "employeeId": {
            "type": "integer"
          },
          "status": {
            "type": "object",
            "properties": {
              "lastChanged": {
                "type": "string",
                "format": "date-time"
              },
              "lastChangedByUserId": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "start": {
            "type": "string",
            "format": "date"
          },
          "end": {
            "type": "string",
            "format": "date"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "amount": {
            "type": "object",
            "properties": {
              "unit": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              }
            }
          },
          "notes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "dates": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "format": {
            "type": "string"
          },
          "monitorFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "postFields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "lastSent": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "integer"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": [
          "name",
          "url",
          "monitorFields",
          "postFields"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Webhook name"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to send webhook payloads to"
          },
          "format": {
            "type": "string",
            "description": "Payload format (json)",
            "default": "json"
          },
          "monitorFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Fields to monitor for changes"
          },
          "postFields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Fields to include in the webhook payload"
          },
          "includeCompanyDomain": {
            "type": "boolean"
          },
          "frequency": {
            "type": "object",
            "properties": {
              "hour": {
                "type": "integer"
              },
              "minute": {
                "type": "integer"
              },
              "day": {
                "type": "integer"
              },
              "month": {
                "type": "integer"
              }
            }
          },
          "limit": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Employees",
      "description": "Employee data management"
    },
    {
      "name": "Account Information",
      "description": "Fields, users, and metadata"
    },
    {
      "name": "Tabular Data",
      "description": "Employee table data (job info, compensation, etc.)"
    },
    {
      "name": "Time Off",
      "description": "Time off requests, policies, and types"
    },
    {
      "name": "Photos",
      "description": "Employee photos"
    },
    {
      "name": "Reports",
      "description": "Company and custom reports"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    }
  ]
}
