{
  "openapi": "3.0.0",
  "info": {
    "title": "Peska Merchant API - Check Pay-out Record",
    "version": "1.0.0",
    "description": "API for checking whether the Transfer(P2P) pay-out process is complete.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/api-354/peska-merchant-api-check-pay-out-record/1.0.0"
  },
  "servers": [
    {
      "url": "https://transfer.peska.co",
      "description": "Production"
    },
    {
      "url": "https://demo-transfer.peska.co",
      "description": "Demo"
    }
  ],
  "paths": {
    "/api/v1/merchant/payout_query": {
      "post": {
        "summary": "Check Pay-out Record",
        "description": "Check the status of the Transfer (P2P) pay-out process using order number, merchant email, and pay-out currency.\n",
        "tags": [
          "Payout"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "AX-AUTHORIZE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "AX-SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "AX-TIMESTAMP",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Referer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "order_no",
                  "merchant_email",
                  "payout_currency"
                ],
                "properties": {
                  "order_no": {
                    "type": "string"
                  },
                  "merchant_email": {
                    "type": "string"
                  },
                  "payout_currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          },
          "422": {
            "description": "Validation Errors"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}