{
  "openapi": "3.0.3",
  "info": {
    "title": "Clustdoc Onboarding API",
    "version": "1.0.0",
    "description": "Clustdoc API for digital onboarding workflows, document collection, eSignatures, and automations. Supports sandbox at https://sandbox.clustdoc.com/api and production at https://app.clustdoc.com/api.",
    "x-jentic-source-url": "https://clustdoc.com/api-docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.clustdoc.com/api",
      "description": "Production"
    },
    {
      "url": "https://sandbox.clustdoc.com/api",
      "description": "Sandbox/Testing"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/dossiers": {
      "get": {
        "operationId": "listDossiers",
        "tags": [
          "Dossiers"
        ],
        "summary": "Get a list of Dossiers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sorting_field",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorting_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "api_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dossiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DossierList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a list of Dossiers"
      },
      "post": {
        "operationId": "createDossier",
        "tags": [
          "Dossiers"
        ],
        "summary": "Create a Dossier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDossierRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dossier created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossier"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a Dossier"
      }
    },
    "/dossiers/search/{query}": {
      "get": {
        "operationId": "searchDossiers",
        "tags": [
          "Dossiers"
        ],
        "summary": "Search Dossiers",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DossierList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search Dossiers"
      }
    },
    "/dossier/{id}": {
      "get": {
        "operationId": "getDossier",
        "tags": [
          "Dossiers"
        ],
        "summary": "Get a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossier"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get a Dossier"
      },
      "put": {
        "operationId": "updateDossier",
        "tags": [
          "Dossiers"
        ],
        "summary": "Update a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDossierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dossier updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossier"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Update a Dossier"
      },
      "delete": {
        "operationId": "deleteDossier",
        "tags": [
          "Dossiers"
        ],
        "summary": "Delete a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dossier deleted"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Delete a Dossier"
      }
    },
    "/dossier/{id}/save-forms-fields": {
      "post": {
        "operationId": "updateDossierFormFields",
        "tags": [
          "Dossiers"
        ],
        "summary": "Update form fields of a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form fields updated"
          }
        },
        "description": "Update form fields of a Dossier"
      }
    },
    "/dossier/{id}/notify": {
      "post": {
        "operationId": "notifyDossierRecipient",
        "tags": [
          "Dossiers"
        ],
        "summary": "Notify a recipient of a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification sent"
          }
        },
        "description": "Notify a recipient of a Dossier"
      }
    },
    "/dossier/{id}/close": {
      "post": {
        "operationId": "closeDossier",
        "tags": [
          "Dossiers"
        ],
        "summary": "Close a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier closed"
          }
        },
        "description": "Close a Dossier"
      }
    },
    "/dossier/{id}/reopen": {
      "post": {
        "operationId": "reopenDossier",
        "tags": [
          "Dossiers"
        ],
        "summary": "Reopen a closed Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier reopened"
          }
        },
        "description": "Reopen a closed Dossier"
      }
    },
    "/dossier/{id}/trigger-custom-button": {
      "post": {
        "operationId": "triggerCustomButton",
        "tags": [
          "Dossiers"
        ],
        "summary": "Trigger custom button automation on a Dossier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation triggered"
          }
        },
        "description": "Trigger custom button automation on a Dossier"
      }
    },
    "/dossier-items/{dossier_id}": {
      "post": {
        "operationId": "createDossierItem",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Create a Dossier Item",
        "parameters": [
          {
            "name": "dossier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDossierItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dossier item created"
          }
        },
        "description": "Create a Dossier Item"
      },
      "get": {
        "operationId": "listDossierItems",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Get a list of Dossier Items",
        "parameters": [
          {
            "name": "dossier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ranks",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_item_ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dossier items"
          }
        },
        "description": "Get a list of Dossier Items"
      }
    },
    "/dossier-item/{id}": {
      "get": {
        "operationId": "getDossierItem",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Get a Dossier Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dossier item details"
          }
        },
        "description": "Get a Dossier Item"
      },
      "put": {
        "operationId": "updateDossierItem",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Update a Dossier Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dossier item updated"
          }
        },
        "description": "Update a Dossier Item"
      },
      "delete": {
        "operationId": "deleteDossierItem",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Delete a Dossier Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dossier item deleted"
          }
        },
        "description": "Delete a Dossier Item"
      }
    },
    "/dossier-item/{id}/approve": {
      "post": {
        "operationId": "approveDossierItem",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Approve a Dossier Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item approved"
          }
        },
        "description": "Approve a Dossier Item"
      }
    },
    "/dossier-item/{id}/cancel-approval": {
      "post": {
        "operationId": "cancelDossierItemApproval",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Cancel a Dossier Item approval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval cancelled"
          }
        },
        "description": "Cancel a Dossier Item approval"
      }
    },
    "/dossier-item/{id}/force-visibility/{visibility}": {
      "post": {
        "operationId": "forceDossierItemVisibility",
        "tags": [
          "Dossier Items"
        ],
        "summary": "Force item visibility",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibility",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "visible",
                "hidden"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visibility updated"
          }
        },
        "description": "Force item visibility"
      }
    },
    "/uploads": {
      "post": {
        "operationId": "createUpload",
        "tags": [
          "Uploads"
        ],
        "summary": "Create an Upload",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload created"
          }
        },
        "description": "Create an Upload"
      }
    },
    "/upload/{id}": {
      "delete": {
        "operationId": "deleteUpload",
        "tags": [
          "Uploads"
        ],
        "summary": "Delete an Upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Upload deleted"
          }
        },
        "description": "Delete an Upload"
      }
    },
    "/templates": {
      "post": {
        "operationId": "createTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Create a Template",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created"
          }
        },
        "description": "Create a Template"
      },
      "get": {
        "operationId": "listTemplates",
        "tags": [
          "Templates"
        ],
        "summary": "Get a list of Templates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates"
          }
        },
        "description": "Get a list of Templates"
      }
    },
    "/templates/search/{query}": {
      "get": {
        "operationId": "searchTemplates",
        "tags": [
          "Templates"
        ],
        "summary": "Search Templates",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        },
        "description": "Search Templates"
      }
    },
    "/template/{id}": {
      "get": {
        "operationId": "getTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Get a Template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details"
          }
        },
        "description": "Get a Template"
      },
      "put": {
        "operationId": "updateTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Update a Template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated"
          }
        },
        "description": "Update a Template"
      },
      "delete": {
        "operationId": "deleteTemplate",
        "tags": [
          "Templates"
        ],
        "summary": "Delete a Template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted"
          }
        },
        "description": "Delete a Template"
      }
    },
    "/template-items/{template_id}": {
      "post": {
        "operationId": "createTemplateItem",
        "tags": [
          "Template Items"
        ],
        "summary": "Create a Template Item",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template item created"
          }
        },
        "description": "Create a Template Item"
      },
      "get": {
        "operationId": "listTemplateItems",
        "tags": [
          "Template Items"
        ],
        "summary": "Get a list of Template Items",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of template items"
          }
        },
        "description": "Get a list of Template Items"
      }
    },
    "/template-item/{id}": {
      "get": {
        "operationId": "getTemplateItem",
        "tags": [
          "Template Items"
        ],
        "summary": "Get a Template Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template item details"
          }
        },
        "description": "Get a Template Item"
      },
      "put": {
        "operationId": "updateTemplateItem",
        "tags": [
          "Template Items"
        ],
        "summary": "Update a Template Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template item updated"
          }
        },
        "description": "Update a Template Item"
      },
      "delete": {
        "operationId": "deleteTemplateItem",
        "tags": [
          "Template Items"
        ],
        "summary": "Delete a Template Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template item deleted"
          }
        },
        "description": "Delete a Template Item"
      }
    },
    "/messages": {
      "get": {
        "operationId": "listMessages",
        "tags": [
          "Messages"
        ],
        "summary": "Get a list of messages",
        "responses": {
          "200": {
            "description": "List of messages"
          }
        },
        "description": "Get a list of messages"
      },
      "post": {
        "operationId": "createMessage",
        "tags": [
          "Messages"
        ],
        "summary": "Create a Message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageNew"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created"
          }
        },
        "description": "Create a Message"
      }
    },
    "/message/{id}": {
      "get": {
        "operationId": "getMessage",
        "tags": [
          "Messages"
        ],
        "summary": "Get a Message",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details"
          }
        },
        "description": "Get a Message"
      },
      "put": {
        "operationId": "updateMessage",
        "tags": [
          "Messages"
        ],
        "summary": "Update a Message",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message updated"
          }
        },
        "description": "Update a Message"
      },
      "delete": {
        "operationId": "deleteMessage",
        "tags": [
          "Messages"
        ],
        "summary": "Delete a Message",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Message deleted"
          }
        },
        "description": "Delete a Message"
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "tags": [
          "Tags"
        ],
        "summary": "Get a list of Tags",
        "responses": {
          "200": {
            "description": "List of tags"
          }
        },
        "description": "Get a list of Tags"
      },
      "post": {
        "operationId": "createTag",
        "tags": [
          "Tags"
        ],
        "summary": "Create a Tag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created"
          }
        },
        "description": "Create a Tag"
      }
    },
    "/tag/{id}": {
      "get": {
        "operationId": "getTag",
        "tags": [
          "Tags"
        ],
        "summary": "Get a Tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details"
          }
        },
        "description": "Get a Tag"
      },
      "put": {
        "operationId": "updateTag",
        "tags": [
          "Tags"
        ],
        "summary": "Update a Tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated"
          }
        },
        "description": "Update a Tag"
      },
      "delete": {
        "operationId": "deleteTag",
        "tags": [
          "Tags"
        ],
        "summary": "Delete a Tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted"
          }
        },
        "description": "Delete a Tag"
      }
    },
    "/stakeholders/{parent_type}/{parent_id}": {
      "get": {
        "operationId": "listStakeholders",
        "tags": [
          "Stakeholders"
        ],
        "summary": "Get a list of Stakeholders",
        "parameters": [
          {
            "name": "parent_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of stakeholders"
          }
        },
        "description": "Get a list of Stakeholders"
      },
      "post": {
        "operationId": "createStakeholder",
        "tags": [
          "Stakeholders"
        ],
        "summary": "Create a Stakeholder",
        "parameters": [
          {
            "name": "parent_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stakeholder created"
          }
        },
        "description": "Create a Stakeholder"
      }
    },
    "/stakeholder/{id}": {
      "get": {
        "operationId": "getStakeholder",
        "tags": [
          "Stakeholders"
        ],
        "summary": "Get a Stakeholder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stakeholder details"
          }
        },
        "description": "Get a Stakeholder"
      },
      "put": {
        "operationId": "updateStakeholder",
        "tags": [
          "Stakeholders"
        ],
        "summary": "Update a Stakeholder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stakeholder updated"
          }
        },
        "description": "Update a Stakeholder"
      },
      "delete": {
        "operationId": "deleteStakeholder",
        "tags": [
          "Stakeholders"
        ],
        "summary": "Delete a Stakeholder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Stakeholder deleted"
          }
        },
        "description": "Delete a Stakeholder"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token from your Clustdoc settings page. Alternatively pass as api_token query parameter."
      }
    },
    "schemas": {
      "Dossier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          },
          "contact": {
            "type": "object"
          },
          "public_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DossierList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dossier"
            }
          },
          "current_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "CreateDossierRequest": {
        "type": "object",
        "required": [
          "template_id"
        ],
        "properties": {
          "template_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "pt",
              "nl",
              "it"
            ]
          },
          "contact": {
            "type": "object"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateDossierRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "contact": {
            "type": "object"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateDossierItemRequest": {
        "type": "object",
        "properties": {
          "template_item_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "fr",
              "pt",
              "nl",
              "it"
            ]
          }
        }
      },
      "MessageNew": {
        "type": "object",
        "properties": {
          "dossier_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Dossier Items"
    },
    {
      "name": "Dossiers"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Stakeholders"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Template Items"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Uploads"
    }
  ]
}
