{
  "swagger": "2.0",
  "info": {
    "description": "Interfaz para Servicios La Caja - V2",
    "version": "v2",
    "title": "Telematica V2",
    "termsOfService": "Terms of Service",
    "license": {
      "name": "Apache License Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TTT-Autoconectado/telematica-v2/v2"
  },
  "host": "beta.caja.com:9002",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Swagger Resource",
      "description": "Main V2 Controller"
    },
    {
      "name": "Status de la API"
    }
  ],
  "paths": {
    "/cliente": {
      "post": {
        "tags": [
          "Swagger Resource"
        ],
        "summary": "Buscar informaci\u00f3n del cliente Caja",
        "operationId": "buscarClienteV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "documento",
            "description": "Tipo y n\u00famero de documento del cliente",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentoRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cliente"
            }
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/cliente/polizas": {
      "post": {
        "tags": [
          "Swagger Resource"
        ],
        "summary": "Listado de p\u00f3lizas del cliente Caja",
        "operationId": "buscarPolizasV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "documento",
            "description": "Tipo y n\u00famero de documento del cliente",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentoRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Poliza"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/cliente/descuento": {
      "post": {
        "tags": [
          "Swagger Resource"
        ],
        "summary": "Obtener informaci\u00f3n de descuento sobre la p\u00f3liza asociada a un veh\u00edculo del cliente",
        "operationId": "informarDescuentoV2UsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "descuento",
            "description": "Tipo y n\u00famero de documento del cliente, y n\u00famero de p\u00f3liza",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescuentoRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Descuento"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "DocumentoRequestDTO": {
      "type": "object",
      "required": [
        "tipo",
        "nroDocumento"
      ],
      "properties": {
        "tipo": {
          "type": "string",
          "description": "Tipo de documento del cliente"
        },
        "nroDocumento": {
          "type": "string",
          "description": "N\u00famero de documento del cliente"
        }
      },
      "title": "DocumentoRequestDTO",
      "description": "DTO para identificaci\u00f3n por tipo y n\u00famero de documento"
    },
    "DescuentoRequestDTO": {
      "type": "object",
      "required": [
        "tipo",
        "nroDocumento",
        "numeroPoliza"
      ],
      "properties": {
        "tipo": {
          "type": "string",
          "description": "Tipo de documento del cliente"
        },
        "nroDocumento": {
          "type": "string",
          "description": "N\u00famero de documento del cliente"
        },
        "numeroPoliza": {
          "type": "string",
          "description": "N\u00famero de p\u00f3liza del veh\u00edculo del cliente"
        }
      },
      "title": "DescuentoRequestDTO",
      "description": "DTO para consulta de descuento por documento y p\u00f3liza"
    },
    "Cliente": {
      "type": "object",
      "properties": {
        "nombre": {
          "type": "string",
          "description": "Nombre"
        },
        "apellido": {
          "type": "string",
          "description": "Apellido"
        },
        "sexo": {
          "type": "string",
          "description": "Sexo"
        },
        "fechanacimiento": {
          "type": "string",
          "description": "Fecha de Nacimiento"
        },
        "nacionalidad": {
          "type": "string",
          "description": "Nacionalidad"
        },
        "profesion": {
          "type": "string",
          "description": "Profesi\u00f3n"
        },
        "mail": {
          "type": "string",
          "description": "Mail"
        },
        "telefono": {
          "type": "string",
          "description": "Telefono"
        },
        "codigoPostal": {
          "type": "string",
          "description": "C\u00f3digo Postal"
        },
        "localidad": {
          "type": "string",
          "description": "Localidad"
        },
        "provincia": {
          "type": "string",
          "description": "Provincia"
        },
        "codRetorno": {
          "type": "string",
          "description": "Codigo de Retorno: (VIGENTE, VENCIDA)"
        }
      },
      "title": "Cliente",
      "description": "Clase que representa un Cliente"
    },
    "Descuento": {
      "type": "object",
      "properties": {
        "categoriaBeneficio": {
          "type": "string",
          "description": "Categor\u00eda de Beneficios"
        },
        "numeroPoliza": {
          "type": "string",
          "description": "Numero de P\u00f3liza"
        },
        "porcentajeActual": {
          "type": "string",
          "description": "Porcentaje Actual de Descuento"
        },
        "porcentajeEstadisticoAFuturo": {
          "type": "string",
          "description": "Porcentaje estad\u00edstico de futuros descuentos"
        }
      },
      "title": "Descuento",
      "description": "Clase que representa un Descuento en la poliza"
    },
    "Poliza": {
      "type": "object",
      "properties": {
        "numero": {
          "type": "string",
          "description": "Numero de P\u00f3liza"
        },
        "marca": {
          "type": "string",
          "description": "Marca del Veh\u00edculo"
        },
        "modelo": {
          "type": "string",
          "description": "Modelo del Veh\u00edculo"
        },
        "version": {
          "type": "string",
          "description": "Versi\u00f3n"
        },
        "anio": {
          "type": "string",
          "description": "A\u00f1o"
        },
        "numeroPatente": {
          "type": "string",
          "description": "Numero de Patente"
        },
        "motor": {
          "type": "string",
          "description": "Motor"
        },
        "chasis": {
          "type": "string",
          "description": "Chasis"
        },
        "uso": {
          "type": "string",
          "description": "Uso"
        },
        "identificadorMyDrive": {
          "type": "string",
          "description": "Identificador de MyDrive asociado"
        },
        "estado": {
          "type": "string",
          "description": "Estado"
        }
      },
      "title": "Poliza",
      "description": "Clase que representa la P\u00f3liza de un Vehiculo"
    }
  },
  "x-wso2-auth-header": "Authorization",
  "x-wso2-cors": {
    "corsConfigurationEnabled": false,
    "accessControlAllowOrigins": [
      "*"
    ],
    "accessControlAllowCredentials": false,
    "accessControlAllowHeaders": [
      "authorization",
      "Access-Control-Allow-Origin",
      "Content-Type",
      "SOAPAction",
      "apikey",
      "Internal-Key"
    ],
    "accessControlAllowMethods": [
      "GET",
      "PUT",
      "POST",
      "DELETE",
      "PATCH",
      "OPTIONS"
    ]
  },
  "x-wso2-production-endpoints": {
    "urls": [
      "http://beta.caja.com:9002"
    ],
    "type": "http"
  },
  "x-wso2-sandbox-endpoints": {
    "urls": [
      "http://beta.caja.com:9002"
    ],
    "type": "http"
  },
  "x-wso2-basePath": "/telematica/v2",
  "x-wso2-transports": [
    "http",
    "https"
  ],
  "x-wso2-response-cache": {
    "enabled": false,
    "cacheTimeoutInSeconds": 300
  }
}