{
  "openapi": "3.0.1",
  "info": {
    "title": "Chubb Personal Lines Referrals API",
    "description": "RESTful API service providing referrals operations for Chubb Personal Lines products",
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PRAVINGANGATIRKAR/chubb-personal-lines-referrals-api/3.0.0"
  },
  "servers": [
    {
      "url": "https://sit.studiogateway.chubb.com/{basePath}",
      "description": "Development API server"
    },
    {
      "url": "https://uat.studiogateway.chubb.com/{basePath}",
      "description": "User Acceptance API server"
    },
    {
      "url": "https://pprd.studiogateway.chubb.com/{basePath}",
      "description": "Pre-Production or Staging API server"
    },
    {
      "url": "https://studiogateway.chubb.com/{basePath}",
      "description": "Production API server",
      "variables": {
        "basePath": {
          "default": "personal-insurance.referral.prsrerferrals"
        }
      }
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Chubb Personal Lines Referrals",
      "description": "Chubb Personal Lines Referrals API"
    }
  ],
  "paths": {
    "/referrals": {
      "post": {
        "summary": "Request Referrals",
        "description": "Posts a request for insurance referrals and returns a response with identified referrals",
        "operationId": "postPRSReferrals",
        "parameters": [
          {
            "name": "apiVersion",
            "in": "header",
            "description": "API Version (eg 1, 2)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Referrals Request Payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralsRq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralsRs"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          }
        }
      }
    },
    "/producers": {
      "post": {
        "summary": "Request Producers",
        "description": "Posts a request to query for insurance producers and returns a response with identified producers and their producer type",
        "operationId": "postPRSProducers",
        "parameters": [
          {
            "name": "apiVersion",
            "in": "header",
            "description": "API Version (eg 1, 2)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Producers Request Payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProducersRq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProducersRs"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RequestHeader": {
        "type": "object",
        "description": "Object defining attributes of an insurance service request header",
        "required": [
          "rqUID",
          "correlationId"
        ],
        "properties": {
          "rqUID": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for client request. UUID format. Used for tracking unique client requests to API. Client app sends identifier which will be echoed back to client in response. If not provided, identifier will be generated for client request. Max 36 characters.",
            "example": "f12aa5b2-4cca-43fc-b7f4-641a84c6ac85"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating transactions. Recommended in UUID format but not required. Used for tracking transactions across multiple systems. Client app sends identifier which will be echoed back to client in response. Max 36 characters.\nNote. This is considered a non-standard attribute available for legacy system usage."
          },
          "transactionRequestTs": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of request transaction. ISO 8601 date format, YYYY-MM-DDThh:mm:ss[.mmm]TZD. Client app sends transaction timestamp which will be echoed back to client in response. If not provided, timestamp will be generated for client request.",
            "example": "2021-03-08T18:58:34.456-05:00"
          },
          "clientAppName": {
            "type": "string",
            "description": "Chubb assigned requesting client app name. If not provided, API will assign it."
          },
          "clientAppId": {
            "type": "string",
            "description": "Chubb assigned requesting client app ID. If not provided, API will assign it."
          },
          "enableIntegrationTesting": {
            "type": "boolean",
            "description": "A value indicating if integration testing is enabled by consumers. Only functional for non-production environments.",
            "default": false
          }
        }
      },
      "ResponseHeader": {
        "type": "object",
        "description": "Object defining attributes of an insurance service response header",
        "required": [
          "rqUID",
          "transactionRequestTs",
          "responseTs"
        ],
        "properties": {
          "rqUID": {
            "type": "string",
            "format": "uuid",
            "description": "Unique request identifier sent in client request to API. UUID format. Echoed back to client in response. Max 36 characters.",
            "example": "f12aa5b2-4cca-43fc-b7f4-641a84c6ac85"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique correlation identifier sent in client request to API. Recommended in UUID format but not required. Max 36 characters.\nNote. This is considered a non-standard attribute available for legacy system usage."
          },
          "transactionRequestTs": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of request transaction sent in client request to API. ISO 8601 date format, YYYY-MM-DDThh:mm:ss[.mmm]TZD. Echoed back to client in response.",
            "example": "2021-03-08T18:58:34.456-05:00"
          },
          "responseTs": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of response transaction. ISO 8601 date format, YYYY-MM-DDThh:mm:ss[.mmm]TZD. API generates timestamp for client response and sends it back to client in response.",
            "example": "2021-03-08T18:58:34.456-05:00"
          },
          "enableIntegrationTesting": {
            "type": "boolean",
            "description": "A value indicating if integration testing is enabled by consumers. Only functional for non-production environments.",
            "default": false
          }
        }
      },
      "ReferralsRq": {
        "type": "object",
        "description": "Object defining attributes of an insurance referral request",
        "required": [
          "requestHeader",
          "policies"
        ],
        "properties": {
          "requestHeader": {
            "$ref": "#/components/schemas/RequestHeader"
          },
          "policies": {
            "type": "array",
            "description": "One or more insurance policies in which to request referral",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Policy"
            }
          }
        }
      },
      "ReferralsRs": {
        "type": "object",
        "description": "Object defining attributes of an insurance referral response",
        "required": [
          "responseHeader",
          "policies"
        ],
        "properties": {
          "responseHeader": {
            "$ref": "#/components/schemas/ResponseHeader"
          },
          "policies": {
            "type": "array",
            "description": "One or more policies containing referral rule result and process objects containing information about identified referral rules and results from a request",
            "items": {
              "$ref": "#/components/schemas/ReferralProcessedPolicy"
            }
          },
          "errorMessages": {
            "type": "array",
            "description": "One or more error messages generated by the API. Used by client app for diagnostic and troubleshooting purposes.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "infoMessages": {
            "type": "array",
            "description": "One or more informational messages generated by the API. Used by client app to inform end users of actions that require their input.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "ProducersRq": {
        "type": "object",
        "description": "Object defining attributes of an insurance producers request",
        "required": [
          "requestHeader",
          "producer"
        ],
        "properties": {
          "requestHeader": {
            "$ref": "#/components/schemas/RequestHeader"
          },
          "producer": {
            "$ref": "#/components/schemas/Producer"
          }
        }
      },
      "ProducersRs": {
        "type": "object",
        "description": "Object defining attributes of an insurance producers response",
        "required": [
          "responseHeader",
          "producers"
        ],
        "properties": {
          "responseHeader": {
            "$ref": "#/components/schemas/ResponseHeader"
          },
          "producers": {
            "type": "array",
            "description": "One or more insurance producer objects containing information about identified producers from a request",
            "items": {
              "$ref": "#/components/schemas/Producer"
            }
          },
          "errorMessages": {
            "type": "array",
            "description": "One or more error messages generated by the API. Used by client app for diagnostic and troubleshooting purposes.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "infoMessages": {
            "type": "array",
            "description": "One or more informational messages generated by the API. Used by client app to inform end users of actions that require their input.",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "AdditionsAndAlterationsCoverageBase": {
        "type": "object",
        "description": "Object defining base attributes for additions and alterations coverage for a structure at a residence location. Applicable to country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CoverageBase"
          }
        ]
      },
      "AdditionsAndAlterationsCoverage_TX": {
        "type": "object",
        "description": "Object defining attributes for additions and alterations coverage for a structure at a residence location. Applicable to state of Texas in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/AdditionsAndAlterationsCoverageBase"
          }
        ],
        "properties": {
          "extendedReplacementCost": {
            "type": "number",
            "format": "double",
            "description": "The extended replacement cost for additions and alterations at a residence location. Applicable if the following eligibility rules have been met\n- Physical condition of the condominium or cooperative building of the unit will be evaluated\n- Will agree with the condominium or cooperative association that extended replacement cost coverage is complimentary to clients commercial insurance for the building\n- Condominium or cooperative association will cooperate in the inspection and underwriting process"
          },
          "replacementCostContents": {
            "type": "number",
            "format": "double",
            "description": "An insurance coverage option that provides reimbursement for the cost of replacing personal property or contents of a home with new items of similar kind and quality, without deducting for depreciation"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Object defining attributes for an address of an insurance object\n- For policy billing address, represents the address for billing policy premium\n- For policy mailing address, represents the address for mailing policy related documents. Policy Billing Address is used if mailing address is left blank.",
        "required": [
          "line1",
          "city",
          "stateOrProvinceCode",
          "postalCode",
          "countryCode"
        ],
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of street for address",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of street for address"
          },
          "city": {
            "type": "string",
            "description": "City for address",
            "example": "Jersey City"
          },
          "county": {
            "type": "string",
            "description": "County for address",
            "example": "Belmont"
          },
          "stateOrProvinceName": {
            "type": "string",
            "description": "State or province name for address. This represents the full name, not abbreviation or code.",
            "example": "New Jersey"
          },
          "stateOrProvinceCode": {
            "type": "string",
            "description": "State or province code for address. This represents the code, not full name.",
            "example": "NJ"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for address",
            "example": 8889
          },
          "regionName": {
            "type": "string",
            "description": "Region name for address. This represents the full name, not abbreviation or code.",
            "example": "Northeast"
          },
          "countryName": {
            "type": "string",
            "description": "Country name for address. This represents the full name, not abbreviation or code.",
            "example": "United States"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code for address. This represents the code, not full name.",
            "example": "US"
          }
        }
      },
      "AutoLob": {
        "type": "object",
        "description": "Object defining attributes for the auto line of business at the policy level and one or more homes on a vehicles",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          },
          "cancelBackdatedCode": {
            "type": "string",
            "description": "Cancel backdated code. Indicates reason for backdated cancellation."
          },
          "priorPolicyModCode": {
            "type": "string",
            "description": "Prior policy modification code"
          },
          "drivers": {
            "type": "array",
            "description": "One or more objects containing details for household members that may be drivers in a request for referrals",
            "items": {
              "$ref": "#/components/schemas/Driver"
            }
          },
          "vehicles": {
            "type": "array",
            "description": "One or more objects containing details for a vehicle in a request for referrals",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          }
        }
      },
      "Carrier": {
        "type": "object",
        "description": "Object defining attributes for an insured policyholder's insurance carrier",
        "properties": {
          "linesOfBusiness": {
            "type": "array",
            "description": "One or more lines of business for a policy",
            "items": {
              "$ref": "#/components/schemas/LineOfBusiness"
            }
          },
          "carrierName": {
            "type": "string",
            "description": "Insured policyholder's insurance carrier name"
          },
          "isPrimary": {
            "type": "boolean",
            "description": "A value indicating if the insurance carrier is an insured  policyholder's primary carrier"
          },
          "otherCarrierInformation": {
            "type": "string",
            "description": "Additional information for an insured policyholder's insurance carrier"
          },
          "priorCarrierName": {
            "type": "string",
            "description": "Insured policyholder's previous insurance carrier name"
          },
          "priorPolicyNumber": {
            "$ref": "#/components/schemas/PriorPolicyNumber"
          }
        }
      },
      "CauseOfLoss": {
        "type": "object",
        "description": "Object defining attributes for cause of loss",
        "properties": {
          "causeOfLossCode": {
            "type": "string",
            "description": "The cause of loss. Indicates how a loss occurred for a insurance claim."
          },
          "causeOfLossDescription": {
            "type": "string",
            "description": "The description of cause of loss."
          },
          "causeOfLossStatus": {
            "type": "string",
            "description": "The status of cause of loss."
          }
        }
      },
      "Communication": {
        "type": "object",
        "description": "Object defining attributes for collecting various methods of communication for policyholders",
        "properties": {
          "emails": {
            "type": "array",
            "description": "One or more email communication objects. Max is 3.",
            "maxItems": 3,
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "phones": {
            "type": "array",
            "description": "One or more phone number communication objects. Max is 3.",
            "maxItems": 3,
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "socialMediaAccounts": {
            "type": "array",
            "description": "One or more social media communication objects. Max is 3.",
            "maxItems": 3,
            "items": {
              "$ref": "#/components/schemas/SocialMedia"
            }
          }
        }
      },
      "ComprehensiveAndCollisionVehicleCoverage": {
        "type": "object",
        "description": "Object defining attributes for comprehensive and collision vehicle coverage",
        "allOf": [
          {
            "$ref": "#/components/schemas/CoverageBase"
          }
        ],
        "properties": {
          "agreedValue": {
            "type": "number",
            "format": "double",
            "description": "The value of a vehicle as agreed upon by an insured policyholder"
          },
          "marketValue": {
            "type": "boolean",
            "description": "A value indicating whether to show the value of a vehicle is based on market value"
          },
          "vehicleComprehensiveDeductible": {
            "type": "number",
            "format": "double",
            "description": "Comprehensive vehicle coverage deductible amount. Numeric format.",
            "example": 500.0
          },
          "vehicleCollisionDeductible": {
            "type": "number",
            "format": "double",
            "description": "Vehicle collision deductible amount. Numeric format.",
            "example": 500.0
          }
        }
      },
      "ComprehensiveOnlyVehicleCoverage": {
        "type": "object",
        "description": "Object defining attributes for comprehensive only vehicle coverage",
        "allOf": [
          {
            "$ref": "#/components/schemas/CoverageBase"
          }
        ],
        "properties": {
          "agreedValue": {
            "type": "number",
            "format": "double",
            "description": "The value of a vehicle as agreed upon by an insured policyholder"
          },
          "marketValue": {
            "type": "boolean",
            "description": "A value indicating whether to show the value of a vehicle is based on market value"
          },
          "vehicleComprehensiveDeductible": {
            "type": "number",
            "format": "double",
            "description": "Comprehensive vehicle coverage deductible amount. Numeric format.",
            "example": 500.0
          }
        }
      },
      "ConstructionBase": {
        "type": "object",
        "description": "Object defining base attributes about the construction of a structure at a residence location. Applicable to country of United States.",
        "required": [
          "yearBuilt",
          "constructionType",
          "renovationType"
        ],
        "properties": {
          "yearBuilt": {
            "type": "integer",
            "description": "The year when a structure was built. Numeric format, YYYY.",
            "example": 1990
          },
          "constructionType": {
            "type": "string",
            "description": "The type of construction for a structure",
            "enum": [
              "",
              "ASB/Stucco",
              "Brick",
              "Brick Veneer",
              "EIFS/Frame",
              "EIFS/Masonry",
              "FR/WR",
              "Frame",
              "Frame/Siding",
              "Modular",
              "SFR/WR",
              "Concrete",
              "Log",
              "Masonry",
              "Steel",
              "Other"
            ]
          },
          "foundationType": {
            "type": "string",
            "description": "The type of foundation for a structure",
            "enum": [
              "",
              "Basement",
              "Post and Pier",
              "Raised Foundation",
              "Slab",
              "Stilt",
              "Basement/Crawlspace",
              "Piers/Pilings",
              "Unknown",
              "Not Applicable"
            ]
          },
          "yearRenovated": {
            "type": "string",
            "description": "The year a structure was renovated. Format numeric, YYYY."
          },
          "renovationScope": {
            "type": "string",
            "description": "The scope of renovations for a structure",
            "enum": [
              "",
              "Major",
              "Minor"
            ]
          },
          "renovationType": {
            "type": "string",
            "description": "Type of renovations made to a structure at a residence location. If new construction of a residence or other permanent structures or additions, alterations or renovations to the existing residence or other permanent structures occurs, the company must be notified.",
            "enum": [
              "",
              "Construction",
              "Renovation",
              "Not Applicable"
            ]
          },
          "sidingType": {
            "type": "string",
            "description": "Type of siding on a structure",
            "enum": [
              "",
              "Adobe",
              "Aluminum/Steel",
              "Brick/Masonry/Stone",
              "Cement Fiber",
              "Exterior Insulation Finishing System (EIFS)",
              "Log",
              "Stucco",
              "Vinyl",
              "Clapboard",
              "Wood",
              "Other"
            ]
          },
          "buildingReplacementCost": {
            "type": "number",
            "format": "double",
            "description": "The cost, based on the payment basis, of replacing a building or structure at a residence location. Numeric format.",
            "example": 250000.0
          },
          "masonry": {
            "type": "boolean",
            "description": "A value indicating if a residence location building is primarily constructed using materials such as brick, stone, or concrete blocks."
          }
        }
      },
      "Construction_FL": {
        "type": "object",
        "description": "Object defining attributes about the construction of a structure at a residence location. Applicable to state of Florida in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ConstructionBase"
          }
        ],
        "properties": {
          "bcegsCode": {
            "type": "string",
            "description": "Building code effectiveness grading (BCEGS) code for a structure at a residence location",
            "enum": [
              "",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "Non-Participatory",
              "Not-Applicable"
            ]
          },
          "constructionCode": {
            "type": "string",
            "description": "Construction code for a structure at a residence location",
            "enum": [
              "",
              "FBC",
              "NATL",
              "OTHER",
              "S.FLA",
              "S.STD"
            ]
          }
        }
      },
      "ContentsCoverage": {
        "type": "object",
        "description": "Object defining attributes for contents coverage at a residence location",
        "allOf": [
          {
            "$ref": "#/components/schemas/CoverageBase"
          }
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of contents",
            "enum": [
              "",
              "City Home",
              "Deluxe",
              "Fire",
              "Preference",
              "Standard",
              "None"
            ]
          },
          "actualCashValue": {
            "type": "boolean",
            "description": "Actual Cash Value (ACV) in insurance is the fair market value of an item or property at the time of a loss,  calculated as the replacement cost minus depreciation (age, wear, and tear). It determines the payout amount for claims, generally resulting in lower payments than replacement cost coverage."
          },
          "lossAssessmentLimit": {
            "type": "number",
            "format": "double",
            "description": "The limit of coverage for loss assessments levied by a condominium association. Applies to condominiums only."
          }
        }
      },
      "CoverageBase": {
        "type": "object",
        "description": "Object defining base attributes for insurance coverage on a structure at a residence location, vehicle, or items for VAC class(es). Applicable to country of United States.",
        "properties": {
          "coverageType": {
            "$ref": "#/components/schemas/CoverageType"
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "The currency amount for a coverage. Numeric format.",
            "example": 100000.0
          },
          "priorAmount": {
            "type": "number",
            "format": "double",
            "description": "The prior amount for a coverage. Numeric format.",
            "example": 100000.0
          },
          "baseDeductible": {
            "type": "number",
            "format": "double",
            "description": "The base deductible amount for a coverage. Numeric format.",
            "example": 500.0
          },
          "category": {
            "type": "string",
            "description": "The name of the coverage category for a coverage"
          },
          "deductible": {
            "type": "number",
            "format": "double",
            "description": "Deductible amount for a coverage. Numeric format.",
            "example": 500.0
          },
          "deductibleCapAmount": {
            "type": "number",
            "format": "double",
            "description": "Deductible cap amount. Capped options are available by amount of coverage for a structure at a residence location or by the combined amount of coverage for contents and additions and alterations for a condominium or cooperative unit, vehicle, or items for VAC class(es).",
            "example": 1000.0
          },
          "deductiblePercentage": {
            "type": "number",
            "format": "double",
            "description": "Deductible percentage for a coverage. Numeric format, 0.1 is 10% and 0.25 is 25%.",
            "example": 0.25
          },
          "hasCoverage": {
            "type": "boolean",
            "description": "A value indicating if a coverage is added or already on an insurance policy"
          },
          "hasRiskEvaluationLevel": {
            "type": "boolean",
            "description": "A value indicating if a coverage has a risk evaluation level"
          },
          "limit": {
            "type": "number",
            "format": "double",
            "description": "The limit for a coverage. These vary by state. Numeric format.",
            "example": 200000.0
          },
          "option": {
            "type": "string",
            "description": "The name of the coverage option for a coverage"
          },
          "perils": {
            "type": "array",
            "description": "One or more perils for a coverage",
            "items": {
              "$ref": "#/components/schemas/CoveragePeril"
            }
          },
          "priorLossCount": {
            "type": "integer",
            "description": "The number of claims or losses an insured policyholder has experienced in the past for a coverage."
          },
          "termPremium": {
            "type": "number",
            "format": "double",
            "description": "Term premium amount for a coverage. Numeric format.",
            "example": 1500.0
          }
        }
      },
      "CoveragePeril": {
        "type": "object",
        "description": "Object defining attributes for a peril of a coverage",
        "properties": {
          "defensibleSpaceSurcharge": {
            "type": "number",
            "format": "double",
            "description": "An additional charge applied to an insurance policy premium when a residence location lacks adequate defensible space, particularly in areas prone to wildfires"
          },
          "termPremium": {
            "type": "number",
            "format": "double",
            "description": "Policy term premium amount for a peril of a coverage. Numeric format.",
            "example": 1500.0
          }
        }
      },
      "CoveragePerilType": {
        "type": "string",
        "description": "Type of insurance coverage associated to a peril item",
        "enum": [
          "",
          "Fire",
          "Hurricane",
          "Lightning",
          "Non-Weather Water",
          "Other",
          "Sinkhole and Mine Subsidence",
          "Theft",
          "Water Backup",
          "Weather Water",
          "Wildfire",
          "Wind"
        ]
      },
      "CoverageType": {
        "type": "string",
        "description": "Type of insurance coverage associated to a risk item",
        "enum": [
          "",
          "Additions and Alterations",
          "Contents",
          "Cyber",
          "Earthquake",
          "Equipment Breakdown",
          "Liability",
          "Mold",
          "Optional Coverage",
          "Structure",
          "Wind Hail"
        ]
      },
      "CyberCoverage": {
        "type": "object",
        "description": "Object defining attributes for cyber coverage",
        "allOf": [
          {
            "$ref": "#/components/schemas/CoverageBase"
          }
        ],
        "properties": {
          "extortionLimit": {
            "type": "number",
            "format": "double",
            "description": "The maximum limit amount an insurance policy will pay out in the event of a claim related to cyber extortion"
          },
          "financialLossLimit": {
            "type": "number",
            "format": "double",
            "description": "The maximum limit amount an insurance policy will pay out for financial losses resulting from a cyber incident"
          },
          "maximumAggregateLimit": {
            "type": "number",
            "format": "double",
            "description": "The total limit amount an insurer will pay for all claims over a specified policy period, typically one year, for cyber coverage"
          },
          "personalProtectionLimit": {
            "type": "number",
            "format": "double",
            "description": "The maximum limit amount of cyber coverage provided under an insurance policy for certain types of claims or losses"
          }
        }
      },
      "CreditsBase": {
        "type": "object",
        "description": "Object defining base attributes for credits for an insurance policy on a structure at a residence location. Applicable to country of United States.",
        "properties": {
          "buildingCodeCompliance": {
            "type": "boolean",
            "description": "A discount or credit applied if a residence location is in compliance with local building codes. Structures that have been renovated or retrofitted to comply with all of the construction standards set by a state. Documentation may be required."
          },
          "condoPreference": {
            "type": "number",
            "format": "double",
            "description": "A credit or discount offered by insurance companies to insured policyholders who own and live in a condominium"
          },
          "coopPreference": {
            "type": "number",
            "format": "double",
            "description": "A credit or discount as an incentive offered by insurance companies to insured policyholders who are members of a cooperative (coop) organization or who live in a cooperative housing arrangement"
          },
          "fireProtection": {
            "type": "boolean",
            "description": "A value indicating if a credit or reduction in the premium that an insurance company offers based on the level of fire protection is available to the insured policyholder."
          },
          "homeVehicle": {
            "type": "boolean",
            "description": "A value indicating whether a prospective insurance policyholder requesting a quote has an existing automotive policy"
          },
          "lossFree": {
            "type": "number",
            "format": "double",
            "description": "A credit or discount offered by insurance companies to insured policyholders who have not filed any claims during a specified period"
          },
          "loyalCustomer": {
            "type": "boolean",
            "description": "A value indicating if a discount or incentive was offered by insurance companies to reward insured policyholders who have maintained their insurance coverage with the same company for an extended period"
          },
          "preferredCustomer": {
            "type": "boolean",
            "description": "A value indicating if a discount or incentive was offered by insurance companies to insured policyholders who meet certain criteria that classify them as preferred customers"
          },
          "suburbanRating": {
            "type": "boolean",
            "description": "A suburban rating credit available for a residence location"
          },
          "unprotected": {
            "type": "boolean",
            "description": "A discount or credit applied if a residence location is located over 1000 feet from a fire hydrant and without a central station or direct reporting fire alarm, but within three road miles of the first responding fire department."
          },
          "waterBackupExclusion": {
            "type": "boolean",
            "description": "A value indicating if water backup coverage may be excluded for a structure at a residence location"
          },
          "windMitigation": {
            "type": "boolean",
            "description": "A value indicating if a residence location has a discount or reduction in insurance premiums offered to homeowners who have implemented certain features or improvements to their property that reduce the risk of wind damage"
          }
        }
      },
      "Credits_FL": {
        "type": "object",
        "description": "Object defining attributes for credits for an insurance policy on a structure at a residence location. Applicable to state of Florida in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CreditsBase"
          }
        ],
        "properties": {
          "buildingCodeCompliance": {
            "type": "boolean",
            "description": "A value indicating if a structure at a residence location has a discount or reduction in insurance premiums offered to policyholders whose properties meet or exceed certain building code standards"
          },
          "roofCoveringClass": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied if a structure at a residence location has a higher type and quality of the roofing material used"
          },
          "roofCovering": {
            "type": "boolean",
            "description": "A value indicating if a structure at a residence location has a a discount or credit applied to a homeowner's insurance premium based if new roof covering(s) meeting U.L. Standard 2218 or is new residential construction which includes the installation of a roof covering meeting U.L. Standard 2218."
          },
          "roofToWallConnection": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied if a structure at a residence location has enhanced connections between the roof and the walls"
          },
          "roofWallConnectionWindReduction": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied if a structure at a residence location has enhanced connections between the roof and the walls, specifically designed to reduce the risk of wind damage"
          }
        }
      },
      "DiscountsBase": {
        "type": "object",
        "description": "Object defining base attributes for discounts for an insurance policy on a structure at a residence location. Applicable to country of United States.",
        "properties": {
          "lienFree": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied if a residence location has insured policyholders who own their property outright, without any liens or loans against it"
          },
          "portfolioHomeWithAuto": {
            "type": "number",
            "format": "double",
            "description": "A discount offered to an insured policyholder's insurance policy with auto and home coverage"
          },
          "portfolioHomeWithVac": {
            "type": "number",
            "format": "double",
            "description": "A discount offered to an insured policyholder's insurance policy with home and VAC coverage"
          },
          "portfolioMultipleHomes": {
            "type": "number",
            "format": "double",
            "description": "A discount offered to an insured policyholder's insurance policy with multiple home coverage"
          },
          "premierClient": {
            "type": "number",
            "format": "double",
            "description": "A type of discount offered by insurance companies to insured policyholders who are considered high-value or preferred customers"
          },
          "roofCoveringClass": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied if a structure at a residence location has a higher type and quality of the roofing material used"
          },
          "shelterInPlaceCommunity": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied if a residence location has residents of communities that have established effective shelter-in-place strategies for dealing with emergencies, such as wildfires"
          }
        }
      },
      "Discounts_TX": {
        "type": "object",
        "description": "Object defining attributes for discounts for an insurance policy on a structure at a residence location. Applicable to state of Texas in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CreditsBase"
          }
        ],
        "properties": {
          "portfolioHomeWithPaf": {
            "type": "number",
            "format": "double",
            "description": "A discount offered to an insured policyholder's insurance policy with home and personal articles floater (PAF) coverage. PAF is older VAC products."
          }
        }
      },
      "Driver": {
        "type": "object",
        "description": "Object defining attributes for a driver of a vehicle",
        "properties": {
          "referenceId": {
            "type": "string",
            "description": "Unique identifier that relates this object defined under a policy object. Numeric format, (eg 1, 2). This correlates to policy objects to determine referral rules."
          },
          "namePrefix": {
            "type": "string",
            "description": "Name prefix of driver"
          },
          "firstName": {
            "type": "string",
            "description": "First name of driver"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of driver"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of driver"
          },
          "nameSuffix": {
            "type": "string",
            "description": "Name suffix of driver"
          },
          "birthDt": {
            "type": "string",
            "format": "date",
            "description": "Date of birth of driver. ISO date format, YYYY-MM-DD.",
            "example": "1972-03-21"
          },
          "driverLicenseNumber": {
            "type": "string",
            "description": "Driver or permit license number of driver"
          },
          "driverState": {
            "type": "string",
            "description": "State or province code for driver. This represents the code, not full name."
          },
          "licensedSinceDt": {
            "type": "string",
            "description": "Date when driver became licensed. ISO date format, YYYY-MM-DD.",
            "example": "1972-03-21"
          }
        }
      },
      "Dwell": {
        "type": "object",
        "description": "Object defining attributes for a dwelling",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          },
          {
            "$ref": "#/components/schemas/Dwell_AK"
          },
          {
            "$ref": "#/components/schemas/Dwell_AL"
          },
          {
            "$ref": "#/components/schemas/Dwell_AR"
          },
          {
            "$ref": "#/components/schemas/Dwell_AZ"
          },
          {
            "$ref": "#/components/schemas/Dwell_CA"
          },
          {
            "$ref": "#/components/schemas/Dwell_CO"
          },
          {
            "$ref": "#/components/schemas/Dwell_CT"
          },
          {
            "$ref": "#/components/schemas/Dwell_DC"
          },
          {
            "$ref": "#/components/schemas/Dwell_DE"
          },
          {
            "$ref": "#/components/schemas/Dwell_FL"
          },
          {
            "$ref": "#/components/schemas/Dwell_GA"
          },
          {
            "$ref": "#/components/schemas/Dwell_HI"
          },
          {
            "$ref": "#/components/schemas/Dwell_IA"
          },
          {
            "$ref": "#/components/schemas/Dwell_ID"
          },
          {
            "$ref": "#/components/schemas/Dwell_IL"
          },
          {
            "$ref": "#/components/schemas/Dwell_IN"
          },
          {
            "$ref": "#/components/schemas/Dwell_KS"
          },
          {
            "$ref": "#/components/schemas/Dwell_KY"
          },
          {
            "$ref": "#/components/schemas/Dwell_LA"
          },
          {
            "$ref": "#/components/schemas/Dwell_MA"
          },
          {
            "$ref": "#/components/schemas/Dwell_MD"
          },
          {
            "$ref": "#/components/schemas/Dwell_ME"
          },
          {
            "$ref": "#/components/schemas/Dwell_MI"
          },
          {
            "$ref": "#/components/schemas/Dwell_MN"
          },
          {
            "$ref": "#/components/schemas/Dwell_MO"
          },
          {
            "$ref": "#/components/schemas/Dwell_MS"
          },
          {
            "$ref": "#/components/schemas/Dwell_MT"
          },
          {
            "$ref": "#/components/schemas/Dwell_NC"
          },
          {
            "$ref": "#/components/schemas/Dwell_ND"
          },
          {
            "$ref": "#/components/schemas/Dwell_NE"
          },
          {
            "$ref": "#/components/schemas/Dwell_NH"
          },
          {
            "$ref": "#/components/schemas/Dwell_NJ"
          },
          {
            "$ref": "#/components/schemas/Dwell_NM"
          },
          {
            "$ref": "#/components/schemas/Dwell_NV"
          },
          {
            "$ref": "#/components/schemas/Dwell_NY"
          },
          {
            "$ref": "#/components/schemas/Dwell_OH"
          },
          {
            "$ref": "#/components/schemas/Dwell_OK"
          },
          {
            "$ref": "#/components/schemas/Dwell_OR"
          },
          {
            "$ref": "#/components/schemas/Dwell_PA"
          },
          {
            "$ref": "#/components/schemas/Dwell_RI"
          },
          {
            "$ref": "#/components/schemas/Dwell_SC"
          },
          {
            "$ref": "#/components/schemas/Dwell_SD"
          },
          {
            "$ref": "#/components/schemas/Dwell_TN"
          },
          {
            "$ref": "#/components/schemas/Dwell_TX"
          },
          {
            "$ref": "#/components/schemas/Dwell_UT"
          },
          {
            "$ref": "#/components/schemas/Dwell_VA"
          },
          {
            "$ref": "#/components/schemas/Dwell_VT"
          },
          {
            "$ref": "#/components/schemas/Dwell_WA"
          },
          {
            "$ref": "#/components/schemas/Dwell_WI"
          },
          {
            "$ref": "#/components/schemas/Dwell_WV"
          },
          {
            "$ref": "#/components/schemas/Dwell_WY"
          }
        ],
        "discriminator": {
          "propertyName": "stateOrProvinceCode",
          "mapping": {
            "AK": "#/components/schemas/Dwell_AK",
            "AL": "#/components/schemas/Dwell_AL",
            "AR": "#/components/schemas/Dwell_AR",
            "AZ": "#/components/schemas/Dwell_AZ",
            "CA": "#/components/schemas/Dwell_CA",
            "CO": "#/components/schemas/Dwell_CO",
            "CT": "#/components/schemas/Dwell_CT",
            "DC": "#/components/schemas/Dwell_DC",
            "DE": "#/components/schemas/Dwell_DE",
            "FL": "#/components/schemas/Dwell_FL",
            "GA": "#/components/schemas/Dwell_GA",
            "HI": "#/components/schemas/Dwell_HI",
            "IA": "#/components/schemas/Dwell_IA",
            "ID": "#/components/schemas/Dwell_ID",
            "IL": "#/components/schemas/Dwell_IL",
            "IN": "#/components/schemas/Dwell_IN",
            "KS": "#/components/schemas/Dwell_KS",
            "KY": "#/components/schemas/Dwell_KY",
            "LA": "#/components/schemas/Dwell_LA",
            "MA": "#/components/schemas/Dwell_MA",
            "MD": "#/components/schemas/Dwell_MD",
            "ME": "#/components/schemas/Dwell_ME",
            "MI": "#/components/schemas/Dwell_MI",
            "MN": "#/components/schemas/Dwell_MN",
            "MO": "#/components/schemas/Dwell_MO",
            "MS": "#/components/schemas/Dwell_MS",
            "MT": "#/components/schemas/Dwell_MT",
            "NC": "#/components/schemas/Dwell_NC",
            "ND": "#/components/schemas/Dwell_ND",
            "NE": "#/components/schemas/Dwell_NE",
            "NH": "#/components/schemas/Dwell_NH",
            "NJ": "#/components/schemas/Dwell_NJ",
            "NM": "#/components/schemas/Dwell_NM",
            "NV": "#/components/schemas/Dwell_NV",
            "NY": "#/components/schemas/Dwell_NY",
            "OH": "#/components/schemas/Dwell_OH",
            "OK": "#/components/schemas/Dwell_OK",
            "OR": "#/components/schemas/Dwell_OR",
            "PA": "#/components/schemas/Dwell_PA",
            "RI": "#/components/schemas/Dwell_RI",
            "SC": "#/components/schemas/Dwell_SC",
            "SD": "#/components/schemas/Dwell_SD",
            "TN": "#/components/schemas/Dwell_TN",
            "TX": "#/components/schemas/Dwell_TX",
            "UT": "#/components/schemas/Dwell_UT",
            "VA": "#/components/schemas/Dwell_VA",
            "VT": "#/components/schemas/Dwell_VT",
            "WA": "#/components/schemas/Dwell_WA",
            "WI": "#/components/schemas/Dwell_WI",
            "WV": "#/components/schemas/Dwell_WV",
            "WY": "#/components/schemas/Dwell_WY"
          }
        }
      },
      "DwellBase": {
        "type": "object",
        "description": "Object defining base attributes for a dwelling at a residence location. Applicable to country of United States.",
        "required": [
          "stateOrProvinceCode",
          "status",
          "riskLocationId",
          "residenceType"
        ],
        "properties": {
          "alternateTerritoryInd": {
            "type": "boolean",
            "description": "This indicator replaces sideOfIntraCoastalWaterway, beachTerritoryInsideCityLimits indicators This along with state will determine if sideOfIntraCoastalWaterway or beachTerritoryInsideCityLimits."
          },
          "stateOrProvinceCode": {
            "type": "string",
            "description": "State or province code for dwelling at a residence location. This represents the code, not full name."
          },
          "status": {
            "$ref": "#/components/schemas/TransactionStatus"
          },
          "riskLocationId": {
            "$ref": "#/components/schemas/RiskLocationId"
          },
          "referenceId": {
            "type": "string",
            "description": "Unique identifier that relates this object defined under a policy object. This correlates to policy objects to determine referral rules."
          },
          "sequenceNumber": {
            "type": "integer",
            "description": "Unique identifier that represents the physical index number of a dwelling at a residence location. Numeric format, (eg 1, 2)."
          },
          "residenceType": {
            "$ref": "#/components/schemas/ResidenceType"
          },
          "residenceTerritory": {
            "type": "string",
            "description": "Territory where a residence is located"
          },
          "primaryResidence": {
            "type": "boolean",
            "description": "A value indicating if a dwelling at a residence location is a policyholder's primary residence"
          },
          "occupancy": {
            "$ref": "#/components/schemas/Occupancy"
          },
          "byPerilContractType": {
            "type": "string",
            "description": "A policy structure where coverage is specifically defined for different types of perils or risks",
            "enum": [
              ""
            ]
          },
          "byPerilRating": {
            "type": "boolean",
            "description": "A value indicating if a residence location will rate via By-Peril",
            "default": false
          },
          "nonByPerilContractType": {
            "type": "string",
            "description": "A policy structure where coverage is provided on a more general basis, without specifically itemizing each peril or risk that is covered",
            "enum": [
              ""
            ]
          },
          "newBusinessEligible": {
            "type": "boolean",
            "description": "A value indicating if the criteria or conditions that a prospective homeowner must meet to qualify for a new insurance policy with an insurer are met",
            "default": false
          },
          "taxApplies": {
            "type": "boolean",
            "description": "A value indicating if applicability of taxes or fees to an insurance  coverage for a residence location are added to the cost of an insurance premium for a policy",
            "default": false
          },
          "writingCompanyLabel": {
            "type": "string",
            "enum": [
              "Most Preferred",
              "Preferred",
              "Standard"
            ],
            "description": "The insurance writing company label that wrote a policy for an insured policyholder. This is derived at each home level."
          },
          "carriers": {
            "type": "array",
            "description": "One or more insurance carriers for an insured policyholder",
            "items": {
              "$ref": "#/components/schemas/Carrier"
            }
          },
          "construction": {
            "$ref": "#/components/schemas/ConstructionBase"
          },
          "coverages": {
            "$ref": "#/components/schemas/DwellCoveragesBase"
          },
          "credits": {
            "$ref": "#/components/schemas/CreditsBase"
          },
          "discounts": {
            "$ref": "#/components/schemas/DiscountsBase"
          },
          "earthquake": {
            "$ref": "#/components/schemas/Earthquake"
          },
          "fire": {
            "$ref": "#/components/schemas/Fire"
          },
          "flood": {
            "$ref": "#/components/schemas/Flood"
          },
          "locationCheck": {
            "$ref": "#/components/schemas/LocationCheck"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "premiums": {
            "$ref": "#/components/schemas/DwellPremium"
          },
          "requirements": {
            "$ref": "#/components/schemas/Requirements"
          },
          "residence": {
            "$ref": "#/components/schemas/ResidenceBase"
          },
          "reinsurance": {
            "$ref": "#/components/schemas/Reinsurance"
          },
          "restoration": {
            "$ref": "#/components/schemas/Restoration"
          },
          "riskAssessment": {
            "$ref": "#/components/schemas/RiskAssessment"
          },
          "roof": {
            "$ref": "#/components/schemas/RoofBase"
          },
          "security": {
            "$ref": "#/components/schemas/Security"
          },
          "surcharges": {
            "$ref": "#/components/schemas/Surcharges"
          },
          "water": {
            "$ref": "#/components/schemas/WaterBase"
          },
          "wildfire": {
            "$ref": "#/components/schemas/Wildfire"
          },
          "windHail": {
            "$ref": "#/components/schemas/WindHailBase"
          }
        }
      },
      "Dwell_AK": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Alaska in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_AL": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Alabama in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_AR": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Arkansas in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_AZ": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Arizona in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_CA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of California in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "residence": {
            "$ref": "#/components/schemas/Residence_CA"
          }
        }
      },
      "Dwell_CO": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Colorado in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_CT": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Connecticut in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_DC": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of District of Columbia in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_DE": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Delaware in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_FL": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Florida in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "construction": {
            "$ref": "#/components/schemas/Construction_FL"
          },
          "coverages": {
            "$ref": "#/components/schemas/DwellCoverages_FL"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits_FL"
          },
          "premiums": {
            "$ref": "#/components/schemas/DwellPremium_FL"
          },
          "residence": {
            "$ref": "#/components/schemas/Residence_FL"
          },
          "roof": {
            "$ref": "#/components/schemas/Roof_FL"
          },
          "windHail": {
            "$ref": "#/components/schemas/WindHail_FL"
          }
        }
      },
      "Dwell_GA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Georgia in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_HI": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Hawaii in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_IA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Iowa in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_ID": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Idaho in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_IL": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Illinois in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_IN": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Indiana in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_KS": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Kansas in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_KY": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Kentucky in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_LA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Louisiana in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Massachusetts in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MD": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Maryland in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_ME": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Maine in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MI": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Michigan in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MN": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Minnesota in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MO": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Missouri in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MS": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Mississippi in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_MT": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Montana in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_NC": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of North Carolina in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_ND": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of North Dakota in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_NE": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Nebraska in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_NH": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of New Hampshire in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_NJ": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of New Jersey in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "coverages": {
            "$ref": "#/components/schemas/DwellCoverages_NJ"
          }
        }
      },
      "Dwell_NM": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of New Mexico in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_NV": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Nevada in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_NY": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of New York in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "water": {
            "$ref": "#/components/schemas/Water_NY"
          }
        }
      },
      "Dwell_OH": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Ohio in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "coverages": {
            "$ref": "#/components/schemas/DwellCoverages_OH"
          }
        }
      },
      "Dwell_OK": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Oklahoma in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_OR": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Oregon in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_PA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Pennsylvania in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_RI": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Rhode Island in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_SC": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of South Carolina in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_SD": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of South Dakota in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_TN": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Tennessee in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_TX": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Texas in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "coverages": {
            "$ref": "#/components/schemas/DwellCoverages_TX"
          },
          "discounts": {
            "$ref": "#/components/schemas/Discounts_TX"
          },
          "residence": {
            "$ref": "#/components/schemas/Residence_TX"
          }
        }
      },
      "Dwell_UT": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Utah in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_VA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Virginia in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ],
        "properties": {
          "coverages": {
            "$ref": "#/components/schemas/DwellCoverages_VA"
          },
          "residence": {
            "$ref": "#/components/schemas/Residence_VA"
          }
        }
      },
      "Dwell_VT": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Vermont in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_WA": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Washington in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_WI": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Wisconsin in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_WV": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of West Virginia in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "Dwell_WY": {
        "type": "object",
        "description": "Object defining attributes for a dwelling at a residence location. Applicable to state of Wyoming in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellBase"
          }
        ]
      },
      "DwellCoveragesBase": {
        "type": "object",
        "description": "Object defining base attributes for insurance coverages of a structure at a residence location. Applicable to country of United States.",
        "required": [
          "structure",
          "contents"
        ],
        "properties": {
          "additionsAndAlterations": {
            "$ref": "#/components/schemas/AdditionsAndAlterationsCoverageBase"
          },
          "contents": {
            "$ref": "#/components/schemas/ContentsCoverage"
          },
          "cyber": {
            "$ref": "#/components/schemas/CyberCoverage"
          },
          "earthquake": {
            "$ref": "#/components/schemas/EarthquakeCoverage"
          },
          "equipmentBreakdown": {
            "$ref": "#/components/schemas/EquipmentBreakdownCoverage"
          },
          "liability": {
            "type": "array",
            "description": "Array of liability coverages for a dwelling",
            "items": {
              "$ref": "#/components/schemas/LiabilityCoverageBase"
            }
          },
          "mold": {
            "$ref": "#/components/schemas/MoldCoverage"
          },
          "optionalCoverage": {
            "$ref": "#/components/schemas/OptionalCoverageBase"
          },
          "structure": {
            "$ref": "#/components/schemas/StructureCoverage"
          },
          "wildfire": {
            "$ref": "#/components/schemas/WildfireCoverage"
          },
          "windHail": {
            "$ref": "#/components/schemas/WindHailCoverageBase"
          }
        }
      },
      "DwellCoverages_FL": {
        "type": "object",
        "description": "Object defining attributes for insurance coverages of a structure at a residence location. Applicable to state of Florida in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellCoveragesBase"
          }
        ],
        "properties": {
          "windHail": {
            "$ref": "#/components/schemas/WindHailCoverage_FL"
          }
        }
      },
      "DwellCoverages_OH": {
        "type": "object",
        "description": "Object defining attributes for insurance coverages of a structure at a residence location. Applicable to state of Ohio in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellCoveragesBase"
          }
        ],
        "properties": {
          "optionalCoverage": {
            "$ref": "#/components/schemas/OptionalCoverage_OH"
          }
        }
      },
      "DwellCoverages_NJ": {
        "type": "object",
        "description": "Object defining attributes for insurance coverages of a structure at a residence location. Applicable to state of New Jersey in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellCoveragesBase"
          }
        ],
        "properties": {
          "windHail": {
            "$ref": "#/components/schemas/WindHailCoverage_NJ"
          }
        }
      },
      "DwellCoverages_TX": {
        "type": "object",
        "description": "Object defining attributes for insurance coverages of a structure at a residence location. Applicable to state of Texas in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellCoveragesBase"
          }
        ],
        "properties": {
          "additionsAndAlterations": {
            "$ref": "#/components/schemas/AdditionsAndAlterationsCoverage_TX"
          },
          "liability": {
            "type": "array",
            "description": "Array of liability coverages for a dwelling",
            "items": {
              "$ref": "#/components/schemas/LiabilityCoverage_TX"
            }
          },
          "optionalCoverage": {
            "$ref": "#/components/schemas/OptionalCoverage_TX"
          },
          "windHail": {
            "$ref": "#/components/schemas/WindHailCoverage_TX"
          }
        }
      },
      "DwellCoverages_VA": {
        "type": "object",
        "description": "Object defining attributes for insurance coverages of a structure at a residence location. Applicable to state of Virgina in country of United States.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DwellCoveragesBase"
          }
        ],
        "properties": {
          "liability": {
            "type": "array",
            "description": "Array of liability coverages for a dwelling",
            "items": {
              "$ref": "#/components/schemas/LiabilityCoverage_VA"
            }
          }
        }
      },
      "DwellCoverageThreshold": {
        "type": "object",
        "description": "Object defining attributes for a dwelling coverage threshold",
        "properties": {
          "coverageTypes": {
            "type": "array",
            "description": "Array of coverage types for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/CoverageType"
            }
          },
          "coverageStatuses": {
            "type": "array",
            "description": "Array of coverage transaction statuses for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/TransactionStatus"
            }
          },
          "transactionTypes": {
            "type": "array",
            "description": "Array of transaction types for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/TransactionType"
            }
          },
          "stateOrProvinceCodes": {
            "type": "array",
            "description": "Array of state or province codes for a dwelling coverage threshold. This represents the code, not full name.",
            "items": {
              "type": "string"
            },
            "example": [
              "NJ",
              "NY"
            ]
          },
          "producerTypes": {
            "type": "array",
            "description": "Array of producer types for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/ProducerType"
            }
          },
          "residenceTypes": {
            "type": "array",
            "description": "Array of residence types for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/ResidenceType"
            }
          },
          "cityHomeIndicator": {
            "type": "boolean",
            "description": "A value indicating if the residence type is a home in the city for a dwelling coverage threshold"
          },
          "residenceTerritories": {
            "type": "array",
            "description": "Array of residence territories for a dwelling coverage threshold",
            "items": {
              "type": "string"
            }
          },
          "primaryResidence": {
            "type": "boolean",
            "description": "A value indicating if a dwelling is a policyholder's primary residence for a dwelling coverage threshold"
          },
          "occupancies": {
            "type": "array",
            "description": "Array of occupancies for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/Occupancy"
            }
          },
          "centralStationFireAlarm": {
            "type": "boolean",
            "description": "A value indicating if a residence location has a central station fire alarm for a dwelling coverage threshold"
          },
          "fireProtectionCredit": {
            "type": "boolean",
            "description": "A value indicating if a residence location has a fire protection credit for a dwelling coverage threshold"
          },
          "centralStationBurglarAlarm": {
            "type": "boolean",
            "description": "A value indicating if a residence location has a central station, direct  reporting theft, or burglar alarm. Discount is not applicable to a structure without or with fire contents."
          },
          "buildingProtection": {
            "type": "boolean",
            "description": "A value indicating if a residence location has build security protection.  Applicable to a condominium, cooperative, or rental unit meeting all of the  following criteria   - Building entrances are at all times       - Manned or   - Locked and secured by a central station or direct reporting burglar alarm    - Visitors are announced and   - Elevators are either manned or key controlled  or must be accessed through a locked door"
          },
          "constructionYearsBuilt": {
            "type": "array",
            "description": "Array of construction years built for a dwelling coverage threshold",
            "items": {
              "type": "string"
            }
          },
          "waterLeakDetectionSystems": {
            "type": "array",
            "description": "Array of water leak detection systems for a dwelling coverage threshold",
            "items": {
              "$ref": "#/components/schemas/WaterLeakDetectionSystem"
            }
          },
          "ruleCodes": {
            "type": "array",
            "description": "An array of unique codes for referral rules for a dwelling coverage threshold. Alphanumeric format.",
            "items": {
              "type": "string"
            }
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Threshold total amount for a dwelling coverage threshold"
          },
          "effectiveTs": {
            "type": "string",
            "format": "date-time",
            "description": "The effective timestamp of a dwelling coverage threshold"
          }
        }
      },
      "DwellPremium": {
        "type": "object",
        "description": "Object defining attributes for dwelling premium information",
        "oneOf": [
          {
            "$ref": "#/components/schemas/DwellPremiumBase"
          },
          {
            "$ref": "#/components/schemas/DwellPremium_FL"
          }
        ]
      },
      "DwellPremiumBase": {
        "type": "object",
        "description": "Object defining base attributes for dwelling premium information. Applicable to country of United States.",
        "properties": {
          "highLevel": {
            "type": "number",
            "format": "double",
            "description": "The high-level, overall premium amount for a dwelling"
          },
          "adjustments": {
            "$ref": "#/components/schemas/DwellPremiumAdjustments"
          },
          "components": {
            "$ref": "#/components/schemas/DwellPremiumComponentsBase"
          },
          "paymentBreakdown": {
            "$ref": "#/components/schemas/DwellPremiumPaymentBreakdown"
          },
          "subTotal": {
            "type": "number",
            "format": "double",
            "description": "The amount as a subtotal of all premiums an insured policyholder pays to an insurance company for coverages for a residence location"
          }
        }
      },
      "DwellPremium_FL": {
        "type": "object",
        "description": "Object defining attributes for dwelling premium information. Applicable to state of Florida in country of United States.",
        "allOf": [
          {
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/DwellPremiumBase"
          }
        ],
        "properties": {
          "components": {
            "$ref": "#/components/schemas/DwellPremiumComponents_FL"
          }
        }
      },
      "DwellPremiumAdjustments": {
        "type": "object",
        "description": "Object defining attributes for a dwelling premium adjustments",
        "properties": {
          "adjustToAnnual": {
            "type": "number",
            "format": "double",
            "description": "The process of converting a payment or cost that is calculated on a different time basis (such as monthly or quarterly) into an annual figure"
          },
          "autoWildfireSuppressionSystemSupplementalProtectionCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who have installed manual wildfire suppression systems as an additional protective measure for their residence location"
          },
          "cityHomeCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit offered by insurance companies to insured policyholders who own homes located within city limits"
          },
          "dollar": {
            "type": "number",
            "format": "double",
            "description": "The amount an insured policyholder pays to an insurance company for specific changes or modifications made to the premium amount, expressed in dollar terms"
          },
          "dwellingComponentsDiscount": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who have certain features or components in their home that reduce the risk of damage or loss"
          },
          "fireResistiveCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders whose residence locations are constructed with fire-resistant materials or have features that reduce the risk of fire damage"
          },
          "manualWildfireSuppressionSystemSupplementalProtectionCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who have installed manual wildfire suppression systems as an additional protective measure for their residence location"
          },
          "masonryConstructionCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders whose properties are constructed using masonry materials, such as brick, stone, or concrete"
          },
          "netPercentage": {
            "type": "number",
            "format": "double",
            "description": "The overall percentage change applied to an insurance policy premium after considering all applicable factors, such as discounts, surcharges, and other adjustments"
          },
          "newHomeCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who own newly constructed homes"
          },
          "newHouseCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who own newly constructed homes"
          },
          "offPremiseTheftExclusion": {
            "type": "number",
            "format": "double",
            "description": "A modification in an insurance policy premium or coverage terms related to the exclusion of theft coverage for items stolen away from an insured's residence location"
          },
          "proRataFactor": {
            "type": "number",
            "format": "double",
            "description": "The calculation factory of the premium or refund amount based on the proportion of a policy term that has elapsed or remains. Numeric format, 0.1 is 10% and 0.25 is 25%."
          },
          "roofCoveringCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders whose residence location structures have roofs made from materials that are considered more durable or resistant to damage"
          },
          "windMitigationCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who have implemented specific features or improvements to their residence locations that reduce the risk of wind damage, particularly from hurricanes or strong storms"
          }
        }
      },
      "DwellPremiumComponentsBase": {
        "type": "object",
        "description": "Object defining base attributes for dwelling premium components. Applicable to country of United States.",
        "properties": {
          "adjusted": {
            "type": "number",
            "format": "double",
            "description": "The amount of premium that has been modified from its original calculation to account for various factors"
          },
          "annual": {
            "type": "number",
            "format": "double",
            "description": "The total amount an insured policyholder pays for an insurance policy over the course of one year"
          },
          "basic": {
            "type": "number",
            "format": "double",
            "description": "The initial amount charged by an insurance company for providing coverage under a policy, before any adjustments such as discounts, surcharges, or additional coverages are applied"
          },
          "contentsAdjustment": {
            "type": "number",
            "format": "double",
            "description": "A modification in the coverage or premium related to the personal property or contents within a home"
          },
          "earthquakeSurcharge": {
            "type": "number",
            "format": "double",
            "description": "An additional charge added to an insurance policy premium to account for the increased risk of earthquake damage"
          },
          "employmentPracticesLiability": {
            "type": "number",
            "format": "double",
            "description": "The amount an employer pays for Employment Practices Liability Insurance (EPLI)"
          },
          "familyProtection": {
            "type": "number",
            "format": "double",
            "description": "The cost associated with an insurance policy that provides coverage designed to protect a family against various risks"
          },
          "liability": {
            "type": "number",
            "format": "double",
            "description": "The amount an insured policyholder pays to an insurance company for liability coverage for a residence location"
          },
          "location": {
            "type": "number",
            "format": "double",
            "description": "The portion of an insurance premium that is influenced by the geographic location of the insured's residence location"
          },
          "minimum": {
            "type": "number",
            "format": "double",
            "description": "The lowest amount an insurer will charge for providing coverage under a specific insurance policy, regardless of the calculated premium based on risk factors"
          },
          "moldTerm": {
            "type": "number",
            "format": "double",
            "description": "The portion of an insurance premium that is specifically allocated to cover risks associated with mold damage"
          },
          "netDollarAdjustment": {
            "type": "number",
            "format": "double",
            "description": "The total dollar amount by which an insurance policy premium is adjusted after accounting for all applicable factors, such as discounts, surcharges, and other modifications"
          },
          "noLiabilityCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount offered by insurance companies to insured policyholders who do not require liability coverage as part of their insurance policy"
          },
          "noPrimaryLiabilityCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied to an insurance policy when the insured policyholder does not have primary liability coverage through the insurer"
          },
          "otherStructuresSurcharge": {
            "type": "number",
            "format": "double",
            "description": "An additional charge applied to a homeowners insurance policy to cover structures at a residence location that are not attached to the main dwelling"
          },
          "replacementCredit": {
            "type": "number",
            "format": "double",
            "description": "A discount or credit applied to a policy when a policyholder replaces an older item with a new one, particularly if the new item has features that reduce risk"
          },
          "surcharge": {
            "type": "number",
            "format": "double",
            "description": "An additional charge added to the base premium of an insurance policy"
          },
          "taxes": {
            "type": "number",
            "format": "double",
            "description": "The portion of the insurance premium that includes taxes or fees imposed by government entities"
          },
          "waived": {
            "type": "number",
            "format": "double",
            "description": "A provision in some insurance policies that allows the insured policyholder to stop paying premiums under certain conditions, while still maintaining coverage"
          },
          "workersComp": {
            "type": "number",
            "format": "double",
            "description": "The amount an employer pays for workers compensation insurance coverage"
          }
        }
      },
      "DwellPremiumComponents_FL": {
        "type": "object",
        "description": "Object defining attributes for dwelling premium components. Applicable to state of Florida in country of United States.",
        "allOf": [
          {
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/DwellPremiumComponentsBase"
          }
        ],
        "properties": {
          "fhcfSurcharge": {
            "type": "number",
            "format": "double",
            "description": "An additional charge applied to insurance policies in Florida to fund the Florida Hurricane Catastrophe Fund (FHCF)"
          }
        }
      },
      "DwellPremiumPaymentBreakdown": {
        "type": "object",
        "description": "Object defining attributes for dwelling premium payment breakdown line items. This breaks down the high-level premium amount into specific premium, surcharge, tax, fee, etc. amounts required for a dwelling premium payment.",
        "properties": {
          "premium": {
            "type": "number",
            "format": "double",
            "description": "The actual premium amount for a dwelling. Numeric format.",
            "example": 10000.0
          },
          "surcharges": {
            "$ref": "#/components/schemas/DwellPremiumPaymentSurcharges"
          }
        }
      },
      "DwellPremiumPaymentSurcharges": {
        "type": "object",
        "description": "Object defining attributes for dwelling premium payment surcharges",
        "properties": {
          "adminAndAcquisition": {
            "type": "number",
            "format": "double",
            "description": "An additional charge or fee applied to an insurance policy, often related to administrative and acquisition costs"
          },
          "adminAndAcquisitionExtendedReplacementCost": {
            "type": "number",
            "format": "double",
            "description": "An additional charge applied to an insurance policy that includes extended replacement cost coverage"
          },
          "distanceFromWater": {
            "type": "number",
            "format": "double",
            "description": "An additional charge applied to an insurance policy premium based on a residence location property's proximity to a body of water"
          },
          "liability": {
            "type": "number",
            "format": "double",
            "description": "An additional charge added to an insurance policy premium due to increased liability risk associated with the insured policyholder"
          },
          "majorRenovation": {
            "type": "number",
            "format": "double",
            "description": "An additional charge applied to an insurance policy when a residence location is undergoing major renovations"
          },
          "minorRenovation": {
            "type": "number",
            "format": "double",
[...]
