{
  "openapi": "3.0.3",
  "info": {
    "title": "Tabsera Academy API",
    "version": "1.0.0",
    "description": "REST API for Tabsera Academy \u2014 an e-learning platform with courses, tutoring sessions, AI tutors, payments (WaafiPay), and certificates. Production base URL: https://academy.tabsera.com (all endpoints prefixed with /api)\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/cynithia/tabsera-academy-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://academy.tabsera.com",
      "description": "Production (Caddy reverse proxy, all API paths prefixed with /api)"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "UserBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": [
              "student",
              "tutor",
              "center_admin",
              "tabsera_admin"
            ]
          },
          "centerId": {
            "type": "string",
            "nullable": true
          },
          "emailVerified": {
            "type": "boolean"
          },
          "edxUsername": {
            "type": "string",
            "nullable": true
          },
          "edxPassword": {
            "type": "string",
            "nullable": true
          },
          "edxRegistered": {
            "type": "boolean",
            "nullable": true
          },
          "adminPermissions": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          }
        }
      },
      "AuthUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UserBase"
          },
          {
            "type": "object",
            "properties": {
              "center": {
                "$ref": "#/components/schemas/CenterSummary"
              },
              "parent": {
                "$ref": "#/components/schemas/UserSummary"
              }
            }
          }
        ]
      },
      "UserSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/UserBase"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "CenterSummary": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SubjectSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CourseSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "level": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "isActive": {
            "type": "boolean"
          },
          "subject": {
            "$ref": "#/components/schemas/SubjectSummary"
          }
        }
      },
      "LessonComponent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "HTML",
              "VIDEO",
              "QUIZ",
              "WORKSHEET",
              "SPEAKING"
            ]
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "orderIndex": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "quiz": {
            "$ref": "#/components/schemas/QuizSummary"
          }
        }
      },
      "QuizSummary": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "passingScore": {
            "type": "number",
            "format": "float"
          },
          "maxAttempts": {
            "type": "integer",
            "format": "int32"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuizQuestion"
            }
          }
        }
      },
      "QuizQuestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "MULTIPLE_CHOICE",
              "MULTI_SELECT",
              "TEXT_INPUT",
              "SHORT_ANSWER",
              "NUMERIC_INPUT",
              "DRAG_DROP",
              "LISTENING_MULTI_CHOICE",
              "LISTENING_SHORT_ANSWER",
              "IMAGE_IDENTIFICATION",
              "AUDIO_SPELLING",
              "SPEAKING"
            ]
          },
          "question": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "points": {
            "type": "integer",
            "format": "int32"
          },
          "media": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "orderIndex": {
            "type": "integer",
            "format": "int32"
          },
          "prompt": {
            "type": "string",
            "nullable": true
          },
          "rubric": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "followUpQuestions": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "targetVocabulary": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "expectedDuration": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "LessonSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "orderIndex": {
            "type": "integer",
            "format": "int32"
          },
          "isGraded": {
            "type": "boolean"
          },
          "gradeWeight": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "isTeacherResource": {
            "type": "boolean"
          },
          "componentCount": {
            "type": "integer",
            "format": "int32"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LessonComponent"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "IN_PROGRESS",
              "COMPLETED"
            ]
          },
          "isUnlocked": {
            "type": "boolean"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ChapterSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "orderIndex": {
            "type": "integer",
            "format": "int32"
          },
          "lessons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LessonSummary"
            }
          },
          "lessonCount": {
            "type": "integer",
            "format": "int32"
          },
          "completedCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ProgressSummary": {
        "type": "object",
        "properties": {
          "totalLessons": {
            "type": "integer",
            "format": "int32"
          },
          "completedLessons": {
            "type": "integer",
            "format": "int32"
          },
          "percentComplete": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Enrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "courseId": {
            "type": "string",
            "nullable": true
          },
          "learningPackId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "expired",
              "cancelled"
            ]
          },
          "progress": {
            "type": "number",
            "format": "float"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "course": {
            "$ref": "#/components/schemas/CourseSummary"
          },
          "learningPack": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "image": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "enum": [
              "course",
              "track",
              "tuition_pack",
              "ai_credit_pack"
            ]
          },
          "courseId": {
            "type": "string",
            "nullable": true
          },
          "learningPackId": {
            "type": "string",
            "nullable": true
          },
          "tuitionPackId": {
            "type": "string",
            "nullable": true
          },
          "aiCreditPackId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PENDING_PAYMENT",
              "PENDING_CENTER_PAYMENT",
              "COMPLETED",
              "FAILED",
              "CANCELLED",
              "REFUNDED"
            ]
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "DECLINED",
              "CANCELLED",
              "EXPIRED",
              "FAILED",
              "TIMEOUT"
            ]
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "MOBILE_MONEY",
              "CARD",
              "BANK_TRANSFER",
              "PAY_AT_CENTER"
            ]
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "format": "float"
          },
          "total": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "promoCode": {
            "type": "string",
            "nullable": true
          },
          "mobileProvider": {
            "type": "string",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "DECLINED",
              "CANCELLED",
              "EXPIRED",
              "FAILED"
            ]
          },
          "paymentMethod": {
            "type": "string"
          },
          "transactionId": {
            "type": "string",
            "nullable": true
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Certificate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "certificateId": {
            "type": "string"
          },
          "certificateNumber": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "courseId": {
            "type": "string",
            "nullable": true
          },
          "learningPackId": {
            "type": "string",
            "nullable": true
          },
          "issueDate": {
            "type": "string",
            "format": "date-time"
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time"
          },
          "course": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string",
                "nullable": true
              },
              "subject": {
                "$ref": "#/components/schemas/SubjectSummary"
              }
            }
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "senderId": {
            "type": "string"
          },
          "senderName": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "isRead": {
            "type": "boolean"
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "direct",
              "session",
              "ai-session"
            ]
          },
          "otherUser": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "lastMessage": {
            "type": "object",
            "nullable": true,
            "properties": {
              "content": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "isOwn": {
                "type": "boolean"
              }
            }
          },
          "unreadCount": {
            "type": "integer",
            "format": "int32"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TuitionPack": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "creditsIncluded": {
            "type": "integer",
            "format": "int32"
          },
          "validityDays": {
            "type": "integer",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "AICreditPack": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "creditsIncluded": {
            "type": "integer",
            "format": "int32"
          },
          "validityDays": {
            "type": "integer",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "UploadResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "originalName": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  },
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "server": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server unhealthy (DB unreachable)"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new user",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "STUDENT",
                      "TUTOR"
                    ]
                  },
                  "centerId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful; verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requiresVerification": {
                      "type": "boolean"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or email already registered"
          }
        }
      }
    },
    "/api/auth/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify email with token (from link click)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified; returns auth token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/api/auth/verify-email/{token}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify email via GET link (redirects to frontend)",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to frontend with success or error"
          }
        }
      }
    },
    "/api/auth/resend-verification": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Resend verification email",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email resent (or silently ignored if not found)"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login with email and password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or deactivated account"
          }
        }
      }
    },
    "/api/auth/google": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in / register with Google OAuth",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "credential"
                ],
                "properties": {
                  "credential": {
                    "type": "string",
                    "description": "Google ID token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google auth successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "401": {
            "description": "Google token invalid or email not verified"
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request password reset email",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent (always returns success to prevent enumeration)"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset password with token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully"
          },
          "400": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current authenticated user",
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "user": {
                      "$ref": "#/components/schemas/AuthUser"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh JWT token",
        "responses": {
          "200": {
            "description": "New token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/profile": {
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "Update authenticated user profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "avatar": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          }
        }
      }
    },
    "/api/courses": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "List active courses",
        "security": [],
        "parameters": [
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subjectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated course list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "courses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CourseSummary"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{id}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get course by ID or slug",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Course ID or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Course details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "course": {
                      "$ref": "#/components/schemas/CourseSummary"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found"
          }
        }
      }
    },
    "/api/courses/{id}/content": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get full course structure with student progress (requires enrollment)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course chapters, lessons, and progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "course": {
                      "$ref": "#/components/schemas/CourseSummary"
                    },
                    "chapters": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChapterSummary"
                      }
                    },
                    "progress": {
                      "$ref": "#/components/schemas/ProgressSummary"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not enrolled"
          },
          "404": {
            "description": "Course not found"
          }
        }
      }
    },
    "/api/courses/{id}/lessons/{lessonId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get lesson content with components (requires enrollment)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lessonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lesson with components and navigation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "lesson": {
                      "$ref": "#/components/schemas/LessonSummary"
                    },
                    "navigation": {
                      "type": "object",
                      "properties": {
                        "prev": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not enrolled or previous lesson not completed"
          },
          "404": {
            "description": "Lesson not found"
          }
        }
      }
    },
    "/api/courses/{id}/progress": {
      "post": {
        "tags": [
          "Courses"
        ],
        "summary": "Update lesson/component progress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "lessonId"
                ],
                "properties": {
                  "lessonId": {
                    "type": "string"
                  },
                  "componentId": {
                    "type": "string"
                  },
                  "completed": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progress updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "IN_PROGRESS",
                            "COMPLETED"
                          ]
                        },
                        "componentsCompleted": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "completedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{id}/quiz/{quizId}/submit": {
      "post": {
        "tags": [
          "Courses"
        ],
        "summary": "Submit quiz answers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quizId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "answers"
                ],
                "properties": {
                  "answers": {
                    "type": "object",
                    "description": "Map of questionId to answer value",
                    "additionalProperties": true
                  },
                  "speakingResults": {
                    "type": "object",
                    "description": "Map of questionId to speaking session result",
                    "nullable": true,
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quiz graded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "score": {
                      "type": "number",
                      "format": "float"
                    },
                    "passed": {
                      "type": "boolean"
                    },
                    "earnedPoints": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPoints": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Maximum attempts reached"
          }
        }
      }
    },
    "/api/courses/{courseId}/certificate": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Get certificate for a specific course (if exists)",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate or eligibility status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "certificate": {
                      "$ref": "#/components/schemas/Certificate"
                    },
                    "eligible": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/courses/{courseId}/certificate/generate": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Generate certificate for a completed course",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "certificate": {
                      "$ref": "#/components/schemas/Certificate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Course not yet completed"
          }
        }
      }
    },
    "/api/enrollments": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Get current user's enrollments",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "enrollments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Enrollment"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/enrollments/check/{courseId}": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Check if current user is enrolled in a course",
        "security": [],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrolled": {
                      "type": "boolean"
                    },
                    "enrollmentId": {
                      "type": "string",
                      "nullable": true
                    },
                    "enrolledViaTrack": {
                      "type": "boolean",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/enrollments/my-learning": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Get comprehensive learning dashboard data with progress",
        "responses": {
          "200": {
            "description": "Tracks, individual courses, and stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "courses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "totalPacks": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "totalCourses": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "completedCourses": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "inProgressCourses": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "totalLessons": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "completedLessons": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "overallProgress": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/enrollments/free": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Enroll in a free course without payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "courseId"
                ],
                "properties": {
                  "courseId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment created or already enrolled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "enrollment": {
                      "$ref": "#/components/schemas/Enrollment"
                    },
                    "alreadyEnrolled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Course is not free or unavailable"
          }
        }
      }
    },
    "/api/enrollments/{id}": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Get a specific enrollment by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "enrollment": {
                      "$ref": "#/components/schemas/Enrollment"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Enrollment not found"
          }
        }
      }
    },
    "/api/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items",
                  "paymentMethod",
                  "total"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number",
                          "format": "float"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "track",
                            "pack",
                            "course",
                            "tuition_pack",
                            "ai_credit_pack"
                          ]
                        }
                      }
                    }
                  },
                  "billingInfo": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  },
                  "paymentMethod": {
                    "type": "string",
                    "enum": [
                      "mobile_money",
                      "card",
                      "bank_transfer",
                      "pay_at_center"
                    ]
                  },
                  "mobileProvider": {
                    "type": "string",
                    "nullable": true
                  },
                  "subtotal": {
                    "type": "number",
                    "format": "float"
                  },
                  "discount": {
                    "type": "number",
                    "format": "float",
                    "default": 0
                  },
                  "promoCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "total": {
                    "type": "number",
                    "format": "float"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get current user's orders",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/{referenceId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order by reference ID",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/api/orders/{referenceId}/payment": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Update order payment status",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "pending",
                      "declined",
                      "failed",
                      "cancelled",
                      "expired",
                      "timeout"
                    ]
                  },
                  "transactionId": {
                    "type": "string"
                  },
                  "issuerTransactionId": {
                    "type": "string"
                  },
                  "waafipayOrderId": {
                    "type": "string"
                  },
                  "payerId": {
                    "type": "string"
                  },
                  "errorCode": {
                    "type": "string"
                  },
                  "errorMessage": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status updated"
          }
        }
      }
    },
    "/api/orders/{referenceId}/cancel": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled"
          },
          "404": {
            "description": "Order not found or not cancellable"
          }
        }
      }
    },
    "/api/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get current user's payment history",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "payments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Test WaafiPay connection",
        "responses": {
          "200": {
            "description": "Connection status"
          }
        }
      }
    },
    "/api/payments/initiate": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a WaafiPay payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderReferenceId"
                ],
                "properties": {
                  "orderReferenceId": {
                    "type": "string"
                  },
                  "payerPhone": {
                    "type": "string"
                  },
                  "paymentMethod": {
                    "type": "string",
                    "default": "MWALLET_ACCOUNT"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated; hppUrl returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "hppUrl": {
                      "type": "string",
                      "description": "Hosted Payment Page URL to redirect user to"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "transactionId": {
                      "type": "string"
                    },
                    "referenceId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Payment initiation failed"
          }
        }
      }
    },
    "/api/payments/hpp": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate HPP (Hosted Payment Page) payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderReferenceId"
                ],
                "properties": {
                  "orderReferenceId": {
                    "type": "string"
                  },
                  "payerPhone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HPP URL returned"
          },
          "400": {
            "description": "Failed to initiate"
          }
        }
      }
    },
    "/api/payments/callback": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "WaafiPay server-to-server callback (not called by client)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Callback processed"
          }
        }
      }
    },
    "/api/payments/verify/{referenceId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Verify payment status by order reference",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callbackStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failure"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/refund/{paymentId}": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Process a payment refund",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed"
          },
          "400": {
            "description": "Refund failed"
          }
        }
      }
    },
    "/api/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "payment": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment not found"
          }
        }
      }
    },
    "/api/users/profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user profile (including edX credentials)",
        "responses": {
          "200": {
            "description": "User profile"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update current user profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          }
        }
      }
    },
    "/api/users/enrollments": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user's enrollments",
        "responses": {
          "200": {
            "description": "Enrollment list with course/track details"
          }
        }
      }
    },
    "/api/users/certificates": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user's certificates",
        "responses": {
          "200": {
            "description": "Certificate list"
          }
        }
      }
    },
    "/api/users/enrollments/{id}/progress": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update enrollment progress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "progress": {
                    "type": "number",
                    "format": "float"
                  },
                  "completedLessons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progress updated"
          }
        }
      }
    },
    "/api/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get user notifications (supports polling)",
        "parameters": [
          {
            "name": "unread",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO timestamp for polling \u2014 only return notifications after this time"
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications and unread count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "notifications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notification"
                      }
                    },
                    "unreadCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/count": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get unread notification count (lightweight for polling)",
        "responses": {
          "200": {
            "description": "Unread count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "unreadCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications/{id}/read": {
      "patch": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark a notification as read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marked as read"
          }
        }
      }
    },
    "/api/notifications/read-all": {
      "patch": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark all notifications as read",
        "responses": {
          "200": {
            "description": "All marked as read"
          }
        }
      }
    },
    "/api/notifications/{id}": {
      "delete": {
        "tags": [
          "Notifications"
        ],
        "summary": "Delete a notification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification deleted"
          }
        }
      }
    },
    "/api/chats": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "Get all conversations (direct, session, AI-session) for current user",
        "responses": {
          "200": {
            "description": "All conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "conversations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/start": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Start a new direct conversation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation started or existing returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "conversationId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/unread-count": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "Get total unread message count",
        "responses": {
          "200": {
            "description": "Unread count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "unreadCount": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/{id}": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "Get messages for a conversation (direct, session, or ai-session)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID | \"session-{id}\" | \"ai-session-{id}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation and messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "conversation": {
                      "$ref": "#/components/schemas/Conversation"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatMessage"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chats/{id}/messages": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Send a message in a direct conversation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ChatMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Get all certificates for current user",
        "responses": {
          "200": {
            "description": "Certificate list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "certificates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Certificate"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/certificates/{number}": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Publicly verify a certificate by number",
        "security": [],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "certificate": {
                      "type": "object",
                      "properties": {
                        "certificateNumber": {
                          "type": "string"
                        },
                        "studentName": {
                          "type": "string"
                        },
                        "courseName": {
                          "type": "string"
                        },
                        "issuedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "verified": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Certificate not found"
          }
        }
      }
    },
    "/api/upload/image": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload image to Cloudflare R2 (admin/center_admin only)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (max 5MB)"
                  },
                  "folder": {
                    "type": "string",
                    "default": "general"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Upload"
        ],
        "summary": "Delete an uploaded image from R2 (admin only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File deleted"
          }
        }
      }
    },
    "/api/upload/document": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload document (PDF/DOCX) to R2 (max 200MB)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF or DOCX file (max 200MB)"
                  },
                  "folder": {
                    "type": "string",
                    "default": "documents"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/logo": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload logo image (tutors, center_admin, tabsera_admin)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (max 5MB)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload/audio": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload audio file for exam listening questions (max 50MB)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file (max 50MB)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/tuition-packs": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "List active tuition packs",
        "security": [],
        "responses": {
          "200": {
            "description": "Tuition pack list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "packs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TuitionPack"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ai-credit-packs": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "List active AI credit packs",
        "security": [],
        "responses": {
          "200": {
            "description": "AI credit pack list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "packs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AICreditPack"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/partner-applications": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Submit a partner center application",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "centerName",
                  "contactName",
                  "email",
                  "phone",
                  "city",
                  "country"
                ],
                "properties": {
                  "centerName": {
                    "type": "string"
                  },
                  "contactName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "applicationId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing fields or duplicate pending application"
          }
        }
      }
    },
    "/payment/callback": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "WaafiPay HPP redirect callback \u2014 redirects browser to frontend",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "302": {
            "description": "Redirect to frontend payment callback page"
          }
        }
      }
    }
  }
}