{
  "openapi": "3.0.3",
  "info": {
    "title": "Mixcloud API",
    "version": "1.0.0",
    "description": "The Mixcloud API provides read access to DJ mixes, podcasts, user profiles, and playlists on the Mixcloud platform. The REST API supports browsing users, cloudcasts (uploads), tags, and categories. Write operations (uploading, favoriting, following) require OAuth2 authentication.",
    "x-jentic-source-url": "https://www.mixcloud.com/developers/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.mixcloud.com"
    }
  ],
  "paths": {
    "/{username}/": {
      "get": {
        "operationId": "getUser",
        "summary": "Get User Profile",
        "description": "Returns profile information for a Mixcloud user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "description": "Mixcloud username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/cloudcasts/": {
      "get": {
        "operationId": "getUserCloudcasts",
        "summary": "Get User's Cloudcasts",
        "description": "Returns a paginated list of uploads (cloudcasts) by the specified user.",
        "tags": [
          "Cloudcasts"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cloudcast list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudcastListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/{cloudcast_slug}/": {
      "get": {
        "operationId": "getCloudcast",
        "summary": "Get Cloudcast Details",
        "description": "Returns details for a specific cloudcast (mix/podcast episode).",
        "tags": [
          "Cloudcasts"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcast_slug",
            "in": "path",
            "required": true,
            "description": "Cloudcast URL slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cloudcast details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cloudcast"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/followers/": {
      "get": {
        "operationId": "getUserFollowers",
        "summary": "Get User Followers",
        "description": "Returns a paginated list of users following the specified user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Followers list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/following/": {
      "get": {
        "operationId": "getUserFollowing",
        "summary": "Get Users Being Followed",
        "description": "Returns a paginated list of users that the specified user is following.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Following list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/favorites/": {
      "get": {
        "operationId": "getUserFavorites",
        "summary": "Get User's Favorites",
        "description": "Returns cloudcasts that the user has favorited.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Favorites list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudcastListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/listens/": {
      "get": {
        "operationId": "getUserListenHistory",
        "summary": "Get User's Listen History",
        "description": "Returns cloudcasts the user has recently listened to.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listen history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudcastListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/playlists/": {
      "get": {
        "operationId": "getUserPlaylists",
        "summary": "Get User's Playlists",
        "description": "Returns playlists created by the user.",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/": {
      "get": {
        "operationId": "search",
        "summary": "Search Mixcloud",
        "description": "Search for cloudcasts, users, or tags on Mixcloud.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of content to search",
            "schema": {
              "type": "string",
              "enum": [
                "cloudcast",
                "user",
                "tag"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/": {
      "get": {
        "operationId": "listCategories",
        "summary": "List Categories",
        "description": "Returns a list of all Mixcloud music/content categories.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Categories list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/discover/{tag}/": {
      "get": {
        "operationId": "discoverByTag",
        "summary": "Discover by Tag",
        "description": "Discover popular and trending cloudcasts for a specific tag/genre.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Tag or genre slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discovered cloudcasts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudcastListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/{cloudcast_slug}/favorite/": {
      "post": {
        "operationId": "favoriteCloudcast",
        "summary": "Favorite a Cloudcast",
        "description": "Add a cloudcast to the authenticated user's favorites. Requires OAuth2.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcast_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully favorited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - OAuth2 required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unfavoriteCloudcast",
        "summary": "Unfavorite a Cloudcast",
        "description": "Remove a cloudcast from the authenticated user's favorites. Requires OAuth2.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloudcast_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unfavorited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{username}/follow/": {
      "post": {
        "operationId": "followUser",
        "summary": "Follow a User",
        "description": "Follow a Mixcloud user. Requires OAuth2.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully followed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unfollowUser",
        "summary": "Unfollow a User",
        "description": "Unfollow a Mixcloud user. Requires OAuth2.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unfollowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "biog": {
            "type": "string",
            "description": "User biography"
          },
          "pictures": {
            "$ref": "#/components/schemas/Pictures"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "is_pro": {
            "type": "boolean"
          },
          "is_premium": {
            "type": "boolean"
          },
          "follower_count": {
            "type": "integer"
          },
          "following_count": {
            "type": "integer"
          },
          "cloudcast_count": {
            "type": "integer"
          },
          "favorite_count": {
            "type": "integer"
          },
          "listen_count": {
            "type": "integer"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          },
          "cover_pictures": {
            "type": "object"
          },
          "picture_primary_color": {
            "type": "string"
          }
        }
      },
      "Cloudcast": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "pictures": {
            "$ref": "#/components/schemas/Pictures"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "audio_length": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "play_count": {
            "type": "integer"
          },
          "favorite_count": {
            "type": "integer"
          },
          "listener_count": {
            "type": "integer"
          },
          "repost_count": {
            "type": "integer"
          },
          "comment_count": {
            "type": "integer"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Pictures": {
        "type": "object",
        "properties": {
          "small": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string"
          },
          "medium_mobile": {
            "type": "string"
          },
          "medium": {
            "type": "string"
          },
          "large": {
            "type": "string"
          },
          "320wx320h": {
            "type": "string"
          },
          "extra_large": {
            "type": "string"
          },
          "640wx640h": {
            "type": "string"
          }
        }
      },
      "CloudcastListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cloudcast"
            }
          },
          "paging": {
            "type": "object",
            "properties": {
              "next": {
                "type": "string"
              },
              "previous": {
                "type": "string"
              }
            }
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "paging": {
            "type": "object",
            "properties": {
              "next": {
                "type": "string"
              },
              "previous": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "Mixcloud OAuth2 for write operations",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.mixcloud.com/oauth/authorize",
            "tokenUrl": "https://www.mixcloud.com/oauth/access_token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Actions"
    },
    {
      "name": "Cloudcasts"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Playlists"
    },
    {
      "name": "Search"
    },
    {
      "name": "Users"
    }
  ]
}
