{
  "openapi": "3.0.3",
  "info": {
    "title": "Radar API",
    "version": "v1",
    "description": "Radar location infrastructure API for tracking, geocoding, search, routing, geofencing, and fraud detection. Use as building blocks for location-based products.",
    "x-jentic-source-url": "https://radar.com/documentation/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.radar.io/v1"
    }
  ],
  "paths": {
    "/track": {
      "post": {
        "operationId": "trackLocation",
        "summary": "Track a location update",
        "description": "Tracks a user location update. Returns the user and events generated based on project settings.",
        "tags": [
          "Track"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "deviceId",
                  "latitude",
                  "longitude",
                  "accuracy"
                ],
                "properties": {
                  "deviceId": {
                    "type": "string",
                    "description": "Device ID for the user"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Stable unique user ID"
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "accuracy": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Location accuracy in meters"
                  },
                  "foreground": {
                    "type": "boolean"
                  },
                  "stopped": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "deviceType": {
                    "type": "string",
                    "enum": [
                      "iOS",
                      "Android",
                      "Web"
                    ]
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracking response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/forward": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward geocode",
        "description": "Converts an address to coordinates.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address to geocode"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated layer filters (place, address, postalCode, locality, county, state, country, coarse, fine)"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated country codes filter"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ar",
                "de",
                "en",
                "es",
                "fr",
                "ja",
                "ko",
                "pt",
                "ru",
                "zh"
              ],
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode",
        "description": "Converts coordinates to an address.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "coordinates",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coordinates in format latitude,longitude"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/ip": {
      "get": {
        "operationId": "ipGeocode",
        "summary": "IP geocode",
        "description": "Converts an IP address to a location.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "IP address (defaults to requester's IP)"
          }
        ],
        "responses": {
          "200": {
            "description": "IP geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/autocomplete": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete search",
        "description": "Provides address and place autocomplete suggestions.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Bias results near coordinates (lat,lng)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/places": {
      "get": {
        "operationId": "searchPlaces",
        "summary": "Search places",
        "description": "Searches for nearby places and points of interest.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "near",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coordinates (lat,lng)"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Search radius in meters"
          },
          {
            "name": "chains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated chain slugs"
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated category slugs"
          },
          {
            "name": "groups",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route/distance": {
      "get": {
        "operationId": "getRouteDistance",
        "summary": "Get route distance and duration",
        "description": "Calculates distance and estimated travel time between an origin and destination.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Origin coordinates (lat,lng)"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination coordinates (lat,lng)"
          },
          {
            "name": "modes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "foot",
                "bike",
                "car",
                "truck",
                "transit"
              ]
            },
            "description": "Travel mode"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "imperial",
                "metric"
              ],
              "default": "imperial"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route distance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route/matrix": {
      "get": {
        "operationId": "getRouteMatrix",
        "summary": "Get route matrix",
        "description": "Calculates distances and travel times between multiple origins and destinations.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "origins",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipe-separated origin coordinates"
          },
          {
            "name": "destinations",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipe-separated destination coordinates"
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "foot",
                "bike",
                "car",
                "truck",
                "transit"
              ]
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "imperial",
                "metric"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route matrix",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteMatrixResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List users"
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RadarUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a user"
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a user"
      }
    },
    "/geofences": {
      "get": {
        "operationId": "listGeofences",
        "summary": "List geofences",
        "tags": [
          "Geofences"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeofenceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List geofences"
      },
      "post": {
        "operationId": "upsertGeofence",
        "summary": "Upsert a geofence",
        "tags": [
          "Geofences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geofence upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Geofence"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upsert a geofence"
      }
    },
    "/geofences/{tag}/{externalId}": {
      "get": {
        "operationId": "getGeofence",
        "summary": "Get a geofence",
        "tags": [
          "Geofences"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Geofence"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a geofence"
      },
      "delete": {
        "operationId": "deleteGeofence",
        "summary": "Delete a geofence",
        "tags": [
          "Geofences"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a geofence"
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List events"
      }
    },
    "/context": {
      "get": {
        "operationId": "getContext",
        "summary": "Get context for a location",
        "description": "Returns context for a location including geofences, places, and region info without generating events.",
        "tags": [
          "Context"
        ],
        "parameters": [
          {
            "name": "coordinates",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coordinates (lat,lng)"
          }
        ],
        "responses": {
          "200": {
            "description": "Location context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object"
                    },
                    "context": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrackResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "user": {
            "$ref": "#/components/schemas/RadarUser"
          }
        }
      },
      "RadarUser": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "live": {
            "type": "boolean"
          },
          "userId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "$ref": "#/components/schemas/GeoPoint"
          },
          "locationAccuracy": {
            "type": "number"
          },
          "stopped": {
            "type": "boolean"
          },
          "foreground": {
            "type": "boolean"
          },
          "deviceType": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "state": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "postalCode": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              }
            }
          },
          "geofences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Geofence"
            }
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "fraud": {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean"
              },
              "passed": {
                "type": "boolean"
              },
              "mocked": {
                "type": "boolean"
              },
              "jumped": {
                "type": "boolean"
              },
              "compromised": {
                "type": "boolean"
              },
              "proxy": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RadarUser"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "live": {
            "type": "boolean"
          },
          "user": {
            "type": "object"
          },
          "geofence": {
            "$ref": "#/components/schemas/Geofence"
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "location": {
            "$ref": "#/components/schemas/GeoPoint"
          },
          "locationAccuracy": {
            "type": "number"
          },
          "confidence": {
            "type": "integer"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "geometry": {
            "$ref": "#/components/schemas/GeoPoint"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "stateCode": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "borough": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "formattedAddress": {
            "type": "string"
          },
          "addressLabel": {
            "type": "string"
          },
          "layer": {
            "type": "string"
          },
          "confidence": {
            "type": "string",
            "enum": [
              "exact",
              "interpolated",
              "fallback"
            ]
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "chain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              }
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "location": {
            "$ref": "#/components/schemas/GeoPoint"
          }
        }
      },
      "PlaceSearchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Place"
            }
          }
        }
      },
      "Geofence": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "circle",
              "polygon",
              "isochrone"
            ]
          },
          "geometryCenter": {
            "$ref": "#/components/schemas/GeoPoint"
          },
          "geometryRadius": {
            "type": "number"
          },
          "metadata": {
            "type": "object"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "GeofenceRequest": {
        "type": "object",
        "required": [
          "tag",
          "externalId",
          "type"
        ],
        "properties": {
          "tag": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "circle",
              "polygon",
              "isochrone"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "radius": {
            "type": "number"
          },
          "metadata": {
            "type": "object"
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "GeofenceListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "geofences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Geofence"
            }
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "routes": {
            "type": "object",
            "properties": {
              "geodesic": {
                "type": "object",
                "properties": {
                  "distance": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "foot": {
                "type": "object"
              },
              "bike": {
                "type": "object"
              },
              "car": {
                "type": "object"
              },
              "truck": {
                "type": "object"
              },
              "transit": {
                "type": "object"
              }
            }
          }
        }
      },
      "RouteMatrixResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "matrix": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "distance": {
                    "type": "object"
                  },
                  "duration": {
                    "type": "object"
                  },
                  "originIndex": {
                    "type": "integer"
                  },
                  "destinationIndex": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "GeoPoint": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "[longitude, latitude]"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "PublishableKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Publishable API key for client-side requests"
      },
      "SecretKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret API key for server-side requests"
      }
    }
  },
  "security": [
    {
      "SecretKey": []
    }
  ],
  "tags": [
    {
      "name": "Context"
    },
    {
      "name": "Events"
    },
    {
      "name": "Geocoding"
    },
    {
      "name": "Geofences"
    },
    {
      "name": "Routing"
    },
    {
      "name": "Search"
    },
    {
      "name": "Track"
    },
    {
      "name": "Users"
    }
  ]
}
