{
  "openapi": "3.0.1",
  "info": {
    "title": "SI Auto",
    "description": "API for shipping instruction automation",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/KONGUUU_1/testtt/1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.one-line.com"
    },
    {
      "url": "https://apis-dev.one-line.com"
    }
  ],
  "paths": {
    "/v1/oauth/accesstoken": {
      "post": {
        "tags": [
          "oAuth"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "Publish access token for OAuth authentication.",
        "parameters": [
          {
            "name": "grant_type",
            "description": "client_credentials",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "client_credentials"
          },
          {
            "name": "apikey",
            "description": "client key gotten by registering App",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refresh_token_expires_in": {
                      "type": "string"
                    },
                    "api_product_list": {
                      "type": "string"
                    },
                    "api_product_list_json": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "organization_name": {
                      "type": "string"
                    },
                    "developer.email": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "issued_at": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "application_name": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "string"
                    },
                    "refresh_count": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "0": {
                    "value": {
                      "refresh_token_expires_in": "0",
                      "api_product_list": "[ProxyName_STAGE]",
                      "api_product_list_json": [
                        "ProxyName_STAGE"
                      ],
                      "organization_name": "one",
                      "developer.email": "mymail@one-line.com",
                      "token_type": "BearerToken",
                      "issued_at": "1620264198102",
                      "client_id": "WVsGPAN9IFseFVtQfFy16KGqSclgk3JW",
                      "access_token": "rKzGY4LKCziElrD9F9kRxc74V9BT",
                      "application_name": "6e689875-672e-41bf-8d1b-9273571fc8e8",
                      "scope": "",
                      "expires_in": "3599",
                      "refresh_count": "0",
                      "status": "approved"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ErrorCode": {
                      "type": "string",
                      "example": "invalid_request"
                    },
                    "Error": {
                      "type": "string",
                      "example": "API Key is Invalid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bkg/ebooking/bookings": {
      "post": {
        "tags": [
          "apis"
        ],
        "description": "This API is for Ebooking data inserted",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "gciUIQActrGonB3VEirVTGHe7qhY12rk"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "placeOfReceipt": {
                    "type": "string"
                  },
                  "senderId": {
                    "type": "string",
                    "requestNumber": {
                      "type": "string"
                    },
                    "requestSequence": {
                      "type": "string"
                    },
                    "bookingRequestStatusCode": {
                      "type": "string"
                    },
                    "bookingNumber": {
                      "type": "string"
                    },
                    "contactEmail": {
                      "type": "string"
                    },
                    "contactPhoneNumber": {
                      "type": "string"
                    },
                    "contactFaxNumber": {
                      "type": "string"
                    },
                    "customerId": {
                      "type": "string"
                    },
                    "requestViaCode": {
                      "type": "string"
                    },
                    "bookingOfficeCode": {
                      "type": "string"
                    },
                    "contractNumber": {
                      "type": "string"
                    },
                    "actualCustomerCountryCode": {
                      "type": "string"
                    },
                    "actualCustomerSequence": {
                      "type": "string"
                    },
                    "receiveTermCode": {
                      "type": "string"
                    },
                    "porCode": {
                      "type": "string"
                    },
                    "polCode": {
                      "type": "string"
                    },
                    "deliveryTermCode": {
                      "type": "string"
                    },
                    "podCode": {
                      "type": "string"
                    },
                    "delCode": {
                      "type": "string"
                    },
                    "bkgXterRqstMstAdd": {
                      "type": "object",
                      "properties": {
                        "senderId": {
                          "type": "string"
                        },
                        "requestNumber": {
                          "type": "string"
                        },
                        "requestSequence": {
                          "type": "string"
                        },
                        "requestPersonTypeCode": {
                          "type": "string"
                        }
                      }
                    },
                    "bkgXterRqstMisc": {
                      "type": "object",
                      "properties": {
                        "senderId": {
                          "type": "string"
                        },
                        "requestNumber": {
                          "type": "string"
                        },
                        "requestSequence": {
                          "type": "string"
                        },
                        "packageQuantity": {
                          "type": "string"
                        }
                      }
                    },
                    "vesselCode": {
                      "type": "string"
                    },
                    "scheduleVoyageNumber": {
                      "type": "string"
                    },
                    "scheduleDirectionCode": {
                      "type": "string"
                    },
                    "requestDepartureDate": {
                      "type": "string"
                    },
                    "route": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "vesselPrePostCode": {
                            "type": "string"
                          },
                          "serviceLaneCode": {
                            "type": "string"
                          },
                          "vesselSequence": {
                            "type": "string"
                          },
                          "vesselCode": {
                            "type": "string"
                          },
                          "scheduleVoyageNumber": {
                            "type": "string"
                          },
                          "scheduleDirectionCode": {
                            "type": "string"
                          },
                          "polCallPortSequence": {
                            "type": "string"
                          },
                          "polYardCode": {
                            "type": "string"
                          },
                          "polCode": {
                            "type": "string"
                          },
                          "podCallPortSequence": {
                            "type": "string"
                          },
                          "podYardCode": {
                            "type": "string"
                          },
                          "podCode": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "customer": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "customerTypeCode": {
                            "type": "string"
                          },
                          "customerCountryCode": {
                            "type": "string"
                          },
                          "customerSequence": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerAddress": {
                            "type": "string"
                          },
                          "mexicoTaxId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "commodityCode": {
                      "type": "string"
                    },
                    "estimateWeight": {
                      "type": "string"
                    },
                    "estimateWeightUnitCode": {
                      "type": "string"
                    },
                    "packageQuantity": {
                      "type": "string"
                    },
                    "packageTypeCode": {
                      "type": "string"
                    },
                    "measureQuantity": {
                      "type": "string"
                    },
                    "measureUnitCode": {
                      "type": "string"
                    },
                    "containerQuantity": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "containerTypeSizeCode": {
                            "type": "string"
                          },
                          "containerQuantity": {
                            "type": "string"
                          },
                          "eqSubstContainerTypeSizeCode": {
                            "type": "string"
                          },
                          "eqSubstCargoQuantity": {
                            "type": "string"
                          },
                          "socQuantity": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "dangerCargo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "dangerCargoSeqence": {
                            "type": "string"
                          },
                          "containerTypeSizeCode": {
                            "type": "string"
                          },
                          "imdgUnNumber": {
                            "type": "string"
                          },
                          "imdgClassId": {
                            "type": "string"
                          },
                          "flashPointContent": {
                            "type": "string"
                          },
                          "packageGroupCode1": {
                            "type": "string"
                          },
                          "dangerFile": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "senderId": {
                                  "type": "string"
                                },
                                "requestNumber": {
                                  "type": "string"
                                },
                                "requestSequence": {
                                  "type": "string"
                                },
                                "sequence": {
                                  "type": "string"
                                },
                                "riderTypeCode": {
                                  "type": "string"
                                },
                                "dangerCargoSeqence": {
                                  "type": "string"
                                },
                                "dangerFileAttachTypeCode": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "filePathRemark": {
                                  "type": "string"
                                },
                                "fileSaveId": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "reeferCargo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "reeferCargoSequence": {
                            "type": "string"
                          },
                          "containerTypeSizeCode": {
                            "type": "string"
                          },
                          "minimumTemperatureUnitCode": {
                            "type": "string"
                          },
                          "minimumTemperature": {
                            "type": "string"
                          },
                          "ventilationRatio": {
                            "type": "string"
                          },
                          "containerVentilationCode": {
                            "type": "string"
                          },
                          "natureTypeCode": {
                            "type": "string"
                          },
                          "humidityRatio": {
                            "type": "string"
                          },
                          "genset": {
                            "type": "string"
                          },
                          "sensitiveCargoType": {
                            "type": "string"
                          },
                          "sensitiveCargoGrossWeightValue": {
                            "type": "string"
                          },
                          "sensitiveCargoGrossWeightType": {
                            "type": "string"
                          },
                          "specialAtmosphere": {
                            "type": "string"
                          },
                          "o2Percent": {
                            "type": "string"
                          },
                          "co2Percent": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "awkwardCargo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "awkwardCargoSequence": {
                            "type": "string"
                          },
                          "containerTypeSize": {
                            "type": "string"
                          },
                          "packageQty": {
                            "type": "string"
                          },
                          "packageTypeCode": {
                            "type": "string"
                          },
                          "grossWeight": {
                            "type": "string"
                          },
                          "grossUnit": {
                            "type": "string"
                          },
                          "netWeight": {
                            "type": "string"
                          },
                          "netUnit": {
                            "type": "string"
                          },
                          "commodity": {
                            "type": "string"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "length": {
                            "type": "string"
                          },
                          "width": {
                            "type": "string"
                          },
                          "height": {
                            "type": "string"
                          },
                          "remark": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "splitAcceptFlag": {
                      "type": "string"
                    },
                    "flexHeightFlag": {
                      "type": "string"
                    },
                    "socFlag": {
                      "type": "string"
                    },
                    "dangerFlag": {
                      "type": "string"
                    },
                    "awkCargoFlag": {
                      "type": "string"
                    },
                    "reeferCargoFlag": {
                      "type": "string"
                    },
                    "pickUp": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "pickupSequence": {
                            "type": "string"
                          },
                          "containerTypeSize": {
                            "type": "string"
                          },
                          "supplierName": {
                            "type": "string"
                          },
                          "contactPerson": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "postalZip": {
                            "type": "string"
                          },
                          "phoneNo": {
                            "type": "string"
                          },
                          "faxNo": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "senderId": {
                                  "type": "string"
                                },
                                "requestNumber": {
                                  "type": "string"
                                },
                                "requestSequence": {
                                  "type": "string"
                                },
                                "pickupSequence": {
                                  "type": "string"
                                },
                                "pickupDetailSequence": {
                                  "type": "string"
                                },
                                "containerTypeSize": {
                                  "type": "string"
                                },
                                "containerQty": {
                                  "type": "string"
                                },
                                "address": {
                                  "type": "string"
                                },
                                "contactPerson": {
                                  "type": "string"
                                },
                                "postalZipCode": {
                                  "type": "string"
                                },
                                "phoneNo": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "loadingReference": {
                                  "type": "string"
                                },
                                "dropOffTime": {
                                  "type": "string"
                                },
                                "pickupTime": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "remarks": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pickupYardCode": {
                      "type": "string"
                    },
                    "returnDate": {
                      "type": "string"
                    },
                    "pickupDate": {
                      "type": "string"
                    },
                    "invoiceRefNo": {
                      "type": "string"
                    },
                    "bkgShRefNo": {
                      "type": "string"
                    },
                    "bkgFfRefNo": {
                      "type": "string"
                    },
                    "siShRefNo": {
                      "type": "string"
                    },
                    "siFfRefNo": {
                      "type": "string"
                    },
                    "specialInstruction": {
                      "type": "string"
                    },
                    "motNo": {
                      "type": "string"
                    },
                    "exportMrnNo": {
                      "type": "string"
                    },
                    "importLicenseInfo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "egyptAcidNo": {
                            "type": "string"
                          },
                          "egyptImporterId": {
                            "type": "string"
                          },
                          "egyptExporterId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "uaeCustomInfo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "senderId": {
                            "type": "string"
                          },
                          "requestNumber": {
                            "type": "string"
                          },
                          "requestSequence": {
                            "type": "string"
                          },
                          "haulierCode": {
                            "type": "string"
                          },
                          "dubaiCustomsShipperCode": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "bkgXterAutoUpld": {
                      "type": "object",
                      "properties": {
                        "bookingNo": {
                          "type": "string"
                        },
                        "autoUploadResultFlag": {
                          "type": "string"
                        }
                      }
                    },
                    "bkgXterAutoUpldDtl": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoUploadDetailSeq": {
                            "type": "string"
                          },
                          "autoUploadExceptType": {
                            "type": "string"
                          },
                          "autoUploadExceptDesc": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "comUpldFile": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileSaveId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "fileSizeCapacity": {
                            "type": "string"
                          },
                          "filePathUrl": {
                            "type": "string"
                          },
                          "programSubSystemCode": {
                            "type": "string"
                          },
                          "deleteFlag": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "0": {
                  "value": {
                    "senderId": "WEB",
                    "requestNumber": "DPSD00002600",
                    "requestSequence": "1",
                    "bookingRequestStatusCode": "C",
                    "bookingNumber": "DPSD00002600",
                    "contactEmail": "eleonora.wojtala@pl.rhenus.com",
                    "contactPhoneNumber": "82-2-1234543",
                    "contactFaxNumber": "82--",
                    "customerId": "ECOMADM",
                    "requestViaCode": "WEB",
                    "bookingOfficeCode": "DPSBB",
                    "contractNumber": "SGNN00272A",
                    "actualCustomerCountryCode": "50",
                    "actualCustomerSequence": "0420",
                    "receiveTermCode": "D",
                    "porCode": "DECGN",
                    "polCode": "DEBRV",
                    "deliveryTermCode": "Y",
                    "podCode": "ZAZBA",
                    "delCode": "ZAZBA",
                    "bkgXterRqstMstAdd": {
                      "senderId": "WEB",
                      "requestNumber": "DPSD00002600",
                      "requestSequence": "1",
                      "requestPersonTypeCode": "F"
                    },
                    "bkgXterRqstMisc": {
                      "senderId": "WEB",
                      "requestNumber": "DPSD00002600",
                      "requestSequence": "1",
                      "packageQuantity": "100"
                    },
                    "vesselCode": "QMLV",
                    "scheduleVoyageNumber": "0027",
                    "scheduleDirectionCode": "E",
                    "requestDepartureDate": "2020-01-16",
                    "route": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "vesselPrePostCode": "S",
                        "serviceLaneCode": "MD1",
                        "vesselSequence": "0",
                        "vesselCode": "ABCD",
                        "scheduleVoyageNumber": "0034",
                        "scheduleDirectionCode": "W",
                        "polCallPortSequence": "1",
                        "polYardCode": "SGSIN04",
                        "polCode": "SGSIN",
                        "podCallPortSequence": "1",
                        "podYardCode": "ESBCN01",
                        "podCode": "ESBCN"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "vesselPrePostCode": "S",
                        "serviceLaneCode": "MD1",
                        "vesselSequence": "1",
                        "vesselCode": "EFGH",
                        "scheduleVoyageNumber": "0027",
                        "scheduleDirectionCode": "E",
                        "polCallPortSequence": "1",
                        "polYardCode": "BRRIG01",
                        "polCode": "BRRIG",
                        "podCallPortSequence": "1",
                        "podYardCode": "ZAZBA01",
                        "podCode": "ZAZBA"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "vesselPrePostCode": "T",
                        "serviceLaneCode": "ARS",
                        "vesselSequence": "0",
                        "vesselCode": "QMLV",
                        "scheduleVoyageNumber": "0027",
                        "scheduleDirectionCode": "E",
                        "polCallPortSequence": "1",
                        "polYardCode": "CIABJ01",
                        "polCode": "CIABJ",
                        "podCallPortSequence": "1",
                        "podYardCode": "MATNG02",
                        "podCode": "MATNG"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "vesselPrePostCode": "U",
                        "serviceLaneCode": "MD1",
                        "vesselSequence": "0",
                        "vesselCode": "LNBT",
                        "scheduleVoyageNumber": "0014",
                        "scheduleDirectionCode": "E",
                        "polCallPortSequence": "1",
                        "polYardCode": "MATNG02",
                        "polCode": "MATNG",
                        "podCallPortSequence": "1",
                        "podYardCode": "SGSIN04",
                        "podCode": "SGSIN"
                      }
                    ],
                    "customer": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "customerTypeCode": "S",
                        "customerCountryCode": "US",
                        "customerSequence": "104169",
                        "customerName": "INTERNATIONAL PAPER",
                        "customerAddress": "POPLAR AVE MEMPHIS TN",
                        "mexicoTaxId": "TME970213946"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "customerTypeCode": "C",
                        "customerCountryCode": "PE",
                        "customerSequence": "100821",
                        "customerName": "MOLITALIA S.A.",
                        "customerAddress": "AV VENEZUELA 2850 LIMA PERU   LIMA",
                        "mexicoTaxId": "BE0401574852"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "customerTypeCode": "F",
                        "customerCountryCode": "KR",
                        "customerSequence": "105389",
                        "customerName": "FORMOSA TRANSPORTATION CO LTD",
                        "customerAddress": "KAOHSIUNG OFFICE 20F-2, NO.29, HAI PIEN ROAD, KAOHSIUNG CITY 802 TAIWAN  802 KAOHSIUNG CITY"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "customerTypeCode": "N",
                        "mexicoTaxId": "J0310000001812"
                      }
                    ],
                    "commodityCode": "640110",
                    "estimateWeight": "700",
                    "estimateWeightUnitCode": "KGS",
                    "packageQuantity": "100",
                    "packageTypeCode": "PK",
                    "measureQuantity": "136.22",
                    "measureUnitCode": "CBM",
                    "containerQuantity": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "containerTypeSizeCode": "D5",
                        "containerQuantity": "1",
                        "eqSubstContainerTypeSizeCode": "",
                        "eqSubstCargoQuantity": "0",
                        "socQuantity": "0"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "containerTypeSizeCode": "D4",
                        "containerQuantity": "1",
                        "eqSubstContainerTypeSizeCode": "",
                        "eqSubstCargoQuantity": "0",
                        "socQuantity": "0"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "containerTypeSizeCode": "R5",
                        "containerQuantity": "4",
                        "eqSubstContainerTypeSizeCode": "D5",
                        "eqSubstCargoQuantity": "4",
                        "socQuantity": "0"
                      }
                    ],
                    "dangerCargo": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "dangerCargoSeqence": "1",
                        "containerTypeSizeCode": "D2",
                        "imdgUnNumber": "2286",
                        "imdgClassId": "3",
                        "flashPointContent": "45.0",
                        "packageGroupCode1": "3",
                        "dangerFile": [
                          {
                            "senderId": "WEB",
                            "requestNumber": "DPSD00002600",
                            "requestSequence": "1",
                            "sequence": "1",
                            "riderTypeCode": "D",
                            "dangerCargoSeqence": "1",
                            "dangerFileAttachTypeCode": "MSDSS",
                            "fileName": "MSDSFLEXCOTE1152.doc",
                            "filePathRemark": "/fileupload/esvc/HOM",
                            "fileSaveId": "atzuwh_20230615220636781.doc"
                          },
                          {
                            "senderId": "WEB",
                            "requestNumber": "DPSD00002600",
                            "requestSequence": "1",
                            "sequence": "2",
                            "riderTypeCode": "D",
                            "dangerCargoSeqence": "1",
                            "dangerFileAttachTypeCode": "MSDSS",
                            "fileName": "42292; OCEAN; LAEM CHABANG (CR39 HIADC LV PUR).doc",
                            "filePathRemark": "/fileupload/esvc/HOM",
                            "fileSaveId": "xtkmho_20230615031851931.doc"
                          }
                        ]
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "dangerCargoSeqence": "2",
                        "containerTypeSizeCode": "D4",
                        "imdgUnNumber": "2286",
                        "imdgClassId": "3",
                        "flashPointContent": "45.0",
                        "packageGroupCode1": "3"
                      }
                    ],
                    "reeferCargo": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "reeferCargoSequence": "1",
                        "containerTypeSizeCode": "R5",
                        "minimumTemperatureUnitCode": "F",
                        "minimumTemperature": "-20",
                        "ventilationRatio": "23.5",
                        "containerVentilationCode": "C",
                        "natureTypeCode": "F",
                        "humidityRatio": "0",
                        "genset": "Y",
                        "sensitiveCargoType": "I",
                        "sensitiveCargoGrossWeightValue": "10000",
                        "sensitiveCargoGrossWeightType": "KGS",
                        "specialAtmosphere": "Y",
                        "o2Percent": "25",
                        "co2Percent": "30"
                      }
                    ],
                    "awkwardCargo": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "awkwardCargoSequence": "1",
                        "containerTypeSize": "O2",
                        "packageQty": "60",
                        "packageTypeCode": "LG",
                        "grossWeight": "28000",
                        "grossUnit": "KGS",
                        "netWeight": "32000",
                        "netUnit": "KGS",
                        "commodity": "EQUIPMENT",
                        "unit": "C",
                        "length": "10000",
                        "width": "330",
                        "height": "200",
                        "remark": "overwidth one side only"
                      },
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "awkwardCargoSequence": "2",
                        "containerTypeSize": "F4",
                        "packageQty": "3",
                        "packageTypeCode": "CS",
                        "grossWeight": "8550",
                        "grossUnit": "KGS",
                        "netWeight": "4500",
                        "netUnit": "KGS",
                        "commodity": "EQUIPMENT",
                        "unit": "C",
                        "length": "1090",
                        "width": "250",
                        "height": "348",
                        "remark": "Machinery"
                      }
                    ],
                    "splitAcceptFlag": "N",
                    "flexHeightFlag": "Y",
                    "socFlag": "N",
                    "dangerFlag": "Y",
                    "awkCargoFlag": "Y",
                    "reeferCargoFlag": "Y",
                    "pickUp": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "pickupSequence": "1",
                        "containerTypeSize": "D2",
                        "supplierName": "AFSI EUROPE S.R.O.",
                        "contactPerson": "IVETA LUBEROVA",
                        "address": "PRUMYSLOVA ZONA JOSEPH HAVRAN 139 43401 CZ",
                        "postalZip": "52748",
                        "phoneNo": "(563) 285-7846",
                        "faxNo": "614-448-9243",
                        "sequence": [
                          {
                            "senderId": "WEB",
                            "requestNumber": "DPSD00002600",
                            "requestSequence": "1",
                            "pickupSequence": "1",
                            "pickupDetailSequence": "1",
                            "containerTypeSize": "R5",
                            "containerQty": "1",
                            "address": "Baxter Warehouse - Mt. Home                       1900 Highway 201N                                                                                   ",
                            "contactPerson": "V\u00e9ronique FOUREL",
                            "postalZipCode": "SS15 6RZ",
                            "phoneNo": "+33474979529",
                            "email": "ocean.mil8@atlanticif.com",
                            "loadingReference": "SCC1",
                            "dropOffTime": "2022-03-30",
                            "pickupTime": "2018-02-09"
                          },
                          {
                            "senderId": "WEB",
                            "requestNumber": "DPSD00002600",
                            "requestSequence": "1",
                            "pickupSequence": "1",
                            "pickupDetailSequence": "2",
                            "containerTypeSize": "D5",
                            "containerQty": "1",
                            "address": "Baxter Warehouse - Mt. Home                       1900 Highway 201N                                                                                   ",
                            "contactPerson": "V\u00e9ronique FOUREL",
                            "postalZipCode": "SS15 6RZ",
                            "phoneNo": "+33474979529",
                            "email": "ocean.mil8@atlanticif.com",
                            "loadingReference": "SCC1",
                            "dropOffTime": "2022-03-30",
                            "pickupTime": "2018-02-09"
                          },
                          {
                            "senderId": "WEB",
                            "requestNumber": "DPSD00002600",
                            "requestSequence": "1",
                            "pickupSequence": "1",
                            "pickupDetailSequence": "3",
                            "containerTypeSize": "D2",
                            "containerQty": "1",
                            "address": "Baxter Warehouse - Mt. Home                       1900 Highway 201N                                                                                   NEW YORK",
                            "contactPerson": "V\u00e9ronique FOUREL",
                            "postalZipCode": "SS15 6RZ",
                            "phoneNo": "+33474979529",
                            "email": "ocean.mil8@atlanticif.com",
                            "loadingReference": "SCC1",
                            "dropOffTime": "2022-03-30",
                            "pickupTime": "2018-02-09"
                          }
                        ],
                        "remarks": "PLEASE CALL FOR APPOINTMENT BKG Ref. NO:93926142 BKG SH Ref. NO:4543705"
                      }
                    ],
                    "pickupYardCode": "MATNG02",
                    "returnDate": "2018-02-23",
                    "pickupDate": "2018-02-07",
                    "invoiceRefNo": "0083312728",
                    "bkgShRefNo": "TAOS27506949",
                    "bkgFfRefNo": "11051227560",
                    "siShRefNo": "SI/ECO-20-0200/001",
                    "siFfRefNo": "DMNB00012A",
                    "specialInstruction": "INTTRA Booking Office Location: ROTTERDAM Latest Deilivery date/time: 20180301 Earliest Departure date/time: 20180210 Contract Number : NAFE10626 CHARGE PAYMENT INSTRUCTIONS: Basic Freight FREIGHT PRE-PAID",
                    "motNo": "MOC-NV04043",
                    "exportMrnNo": "EXPEDITORS",
                    "importLicenseInfo": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "egyptAcidNo": "1002704682021102337",
                        "egyptImporterId": "200201336",
                        "egyptExporterId": "FR-02-10344307384"
                      }
                    ],
                    "uaeCustomInfo": [
                      {
                        "senderId": "WEB",
                        "requestNumber": "DPSD00002600",
                        "requestSequence": "1",
                        "haulierCode": "234567",
                        "dubaiCustomsShipperCode": "23456"
                      }
                    ],
                    "bkgXterAutoUpld": {
                      "bookingNo": "DPSD00002600",
                      "autoUploadResultFlag": "N"
                    },
                    "bkgXterAutoUpldDtl": [
                      {
                        "autoUploadDetailSeq": "1",
                        "autoUploadExceptType": "DOCTPCD",
                        "autoUploadExceptDesc": "This is not the first booking request."
                      },
                      {
                        "autoUploadDetailSeq": "2",
                        "autoUploadExceptType": "SPECIAL_CGO",
                        "autoUploadExceptDesc": "Reefer Cargo"
                      }
                    ],
                    "comUpldFile": [
                      {
                        "fileSaveId": "atzuwh_20230615220636781.doc",
                        "fileName": "MSDSFLEXCOTE1152.doc",
                        "fileSizeCapacity": "0",
                        "filePathUrl": "/fileupload/esvc/HOM",
                        "programSubSystemCode": "HOM",
                        "deleteFlag": "N"
                      },
                      {
                        "fileSaveId": "xtkmho_20230615031851931.doc",
                        "fileName": "42292; OCEAN; LAEM CHABANG (CR39 HIADC LV PUR).doc",
                        "fileSizeCapacity": "0",
                        "filePathUrl": "/fileupload/esvc/HOM",
                        "programSubSystemCode": "HOM",
                        "deleteFlag": "N"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data is transmitted successfully",
            "content": {
              "application/json": {
                "examples": {
                  "0": {
                    "value": {
                      "bookingRequestNo": "1111",
                      "bookingRequestSequenceNo": "1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "bkg/ebooking/autoUpload": {
      "post": {
        "tags": [
          "apis"
        ],
        "description": "This API is for Ebooking data AutoUpload",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "gciUIQActrGonB3VEirVTGHe7qhY12rk"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "senderId": {
                    "type": "string"
                  },
                  "requestNumber": {
                    "type": "string"
                  },
                  "requestSequence": {
                    "type": "string"
                  },
                  "bookingOfficeCode": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "0": {
                  "value": {
                    "senderId": "WEB",
                    "requestNumber": "DPSD00002600",
                    "requestSequence": "1",
                    "bookingOfficeCode": "DPSBB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data is transmitted successfully",
            "content": {
              "application/json": {
                "examples": {
                  "0": {
                    "value": {
                      "ifMsg": "",
                      "ifStsCd": "F"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "bkg/ebooking/autoCancel": {
    "post": {
      "security": [
        {
          "bearerAuth": []
        }
      ],
      "summary": "Auto Cancel Booking API",
      "description": "Receive auto cancellation request from ECOM via Apigee.",
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "bookingNo": {
                  "type": "string"
                },
                "requestNo": {
                  "type": "string"
                },
                "requestSeq": {
                  "type": "integer"
                },
                "cancelReason": {
                  "type": "string"
                },
                "cancelReasonCode": {
                  "type": "string"
                },
                "cancelRemark": {
                  "type": "string"
                }
              },
              "required": [
                "bookingNo",
                "requestNo",
                "requestSeq",
                "cancelReason",
                "cancelReasonCode"
              ]
            },
            "examples": {
              "autoCancelRequest": {
                "value": {
                  "bookingNo": "BKG123456",
                  "requestNo": "REQ987654",
                  "requestSeq": 3,
                  "cancelReason": "Cargo Not Ready",
                  "cancelReasonCode": "C1",
                  "cancelRemark": "Customer requested cancellation due to cargo delay"
                }
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Auto cancel request processed successfully",
          "content": {
            "application/json": {
              "examples": {
                "success": {
                  "value": {
                    "code": 200,
                    "status": "S",
                    "msg": "Auto cancel processed successfully",
                    "timestamp": "2025-11-20 10:15:30",
                    "data": {
                      "bookingNo": "BKG123456",
                      "requestNo": "REQ987654",
                      "requestSeq": 3,
                      "cancelReason": "Cargo Not Ready",
                      "cancelReasonCode": "C1",
                      "cancelRemark": "Customer requested cancellation due to cargo delay"
                    }
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Invalid input parameter",
          "content": {
            "application/json": {
              "examples": {
                "invalidParameter": {
                  "value": {
                    "code": 400,
                    "status": "F",
                    "msg": "Invalid parameters for auto cancel",
                    "timestamp": "2025-11-20 10:10:30",
                    "data": {}
                  }
                }
              }
            }
          }
        },
        "401": {
          "description": "Unauthorized request",
          "content": {
            "application/json": {
              "examples": {
                "unauthorized": {
                  "value": {
                    "resultMsg": "User is unauthorized"
                  }
                }
              }
            }
          }
        },
        "500": {
          "description": "Server processing error",
          "content": {
            "application/json": {
              "examples": {
                "serverError": {
                  "value": {
                    "resultMsg": "java.lang.NullPointerException"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "https",
        "scheme": "bearer"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Access token is missing or invalid"
      }
    }
  }
}