{
  "openapi": "3.1.0",
  "info": {
    "title": "Single Pane of Glass (SPOG) - Hotel Ops Integration (HINT) Reservation Details API",
    "description": "SPOG Hotel Operations Integration Reservation Details API is used for connecting Property Management System services with SPOG UI/UXL.\n\n<a href='https://marriottcloud.atlassian.net/wiki/x/KAAaHg'>Change Log</a>\n",
    "version": "1.0.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/marriott-api/hotelops-spog-hint-res-details-api/1.0.4"
  },
  "servers": [
    {
      "url": "https://gatewaydsapdev1.marriott.com/hotelops",
      "description": "DevEnvironment"
    },
    {
      "url": "https://gatewaydsaptst1.marriott.com/hotelops",
      "description": "TestEnvironment"
    },
    {
      "url": "http://localhost:8080",
      "description": "LocalEnvironment"
    }
  ],
  "paths": {
    "/spog/v1/reservations/{reservationId}": {
      "get": {
        "tags": [
          "Reservation Details"
        ],
        "summary": "Get Reservation Details",
        "description": "API to get Reservation details\n- MMF Used: (hotel-ops-spog)\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: In-Progress (CR Pending)\n- Source requirements:\n    - Core Reservation Details:\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-401'>SPOG-401</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-533'>SPOG-533</a>\n    - Assigned Room Status:\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-31'>SPOG-31</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-583'>SPOG-583</a>\n    - Deposit Policy Requirements:\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-106'>SPOG-106</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-559'>SPOG-559</a>\n    - Room Upgrade Details:\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-30'>SPOG-30</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-584'>SPOG-584</a>\n    - Rate Qualification Facts:\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-25'>SPOG-25</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-588'>SPOG-588</a>\n    - Reservation Indicators:\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-62'>SPOG-62</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-99'>SPOG-99</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-109'>SPOG-109</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-24'>SPOG-24</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-412'>SPOG-412</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-1508'>SPOG-1508</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-532'>SPOG-532</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-558'>SPOG-558</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-561'>SPOG-561</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-567'>SPOG-567</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-589'>SPOG-589</a>\n              <a href='https://marriottcloud.atlassian.net/browse/SPOG-1511'>SPOG-1511</a>\n    - Digital Check-In/Check-Out and Pre-Registration Status\n        - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-401'>SPOG-28</a>\n        - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-533'>SPOG-585</a>\n",
        "operationId": "getResDetails",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "description": "Client Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "description": "Correlation Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelReservation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/spog/v1/reservations/{reservationId}/arv-dep-info": {
      "get": {
        "tags": [
          "Reservation Arrival/Departure Information"
        ],
        "summary": "Get Reservation Arrival Departure Information",
        "description": "API to get Arrival and Departure information of a reservation.\n- MMF Used: (hotel-ops-spog)\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: Completed\n- Source requirements:\n    - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-463'>SPOG-463</a>\n    - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-521'>SPOG-521</a>\n",
        "operationId": "getResArvDepInfo",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "description": "Client Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "description": "Correlation Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArvDepInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/spog/v1/reservations/{reservationId}/alerts": {
      "get": {
        "tags": [
          "Reservation Alerts"
        ],
        "summary": "Get Reservation Alerts",
        "description": "API to Get check-in, check-out alerts for a reservation.\n- MMF Used: (hotel-ops-spog)\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: Completed\n- Source requirements:\n    - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-389'>SPOG-389</a>\n        <a href='https://marriottcloud.atlassian.net/browse/SPOG-390'>SPOG-390</a>\n    - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-536'>SPOG-536</a>\n        <a href='https://marriottcloud.atlassian.net/browse/SPOG-535'>SPOG-535</a>\n",
        "operationId": "getResAlerts",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "description": "Client Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "description": "Correlation Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResAlertsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/spog/v1/reservations/{reservationId}/group-contracts": {
      "get": {
        "tags": [
          "Reservation Group Contracts"
        ],
        "summary": "Get Reservation Group Contracts",
        "description": "API to get Group Contracts linked to a Reservation\n- MMF Used: (hotel-ops-spog)\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: Completed\n- Source requirements: \n  - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-359'>SPOG-359</a>\n  - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-540'>SPOG-540</a>\n",
        "operationId": "getResGroupContracts",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "description": "Client Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "description": "Correlation Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResGroupContractsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/spog/v1/reservations/{reservationId}/agency-information": {
      "get": {
        "tags": [
          "Reservation Travel Agent"
        ],
        "summary": "Get Reservation Travel Agent Information",
        "description": "API to get Travel Agent information on a reservation.\n- MMF Used: AgencyInformation (commerce-reservation)\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: Completed\n- Source requirements:\n    - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-361'>SPOG-361</a>\n    - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-538'>SPOG-538</a>\n",
        "operationId": "getResTravelAgency",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "description": "Client Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "description": "Correlation Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAgenciesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/spog/v1/reservations/{reservationId}/benefits": {
      "get": {
        "tags": [
          "Reservation Loyalty Member Benefits"
        ],
        "summary": "Get Reservation Loyalty Member Benefits",
        "description": "API to get loyalty benefits attached for a reservation\n- MMF Used: LoyaltyBenefit (loyalty)\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: Completed\n- Source requirements:\n    - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-619'>SPOG-619</a>,\n    - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-620'>SPOG-620</a>\n          <a href='https://marriottcloud.atlassian.net/browse/SPOG-697'>SPOG-697</a>\n",
        "operationId": "getResBenefits",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResBenefitsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/spog/v1/reservations/{reservationId}/guest-messages": {
      "get": {
        "tags": [
          "Reservation Guest Messages"
        ],
        "summary": "Get Reservation Guest Messages",
        "description": "API to get guest messages attached to a reservation\n- MMF Used: N/A\n- Field Mapping Status:\n  - Stay PMS: Completed\n  - OPERA Cloud: Not Started\n- Source requirements:\n    - AG: <a href='https://marriottcloud.atlassian.net/browse/SPOG-3401'>SPOG-3401</a>,\n    - OC: <a href='https://marriottcloud.atlassian.net/browse/SPOG-3401'>SPOG-3401</a>",
        "operationId": "getResGuestMessages",
        "parameters": [
          {
            "name": "client-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SPOG-UI"
          },
          {
            "name": "correlation-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1b0c07dd-26ab-43d8-b17b-bc774c61a2d8"
          },
          {
            "name": "property-code",
            "in": "header",
            "description": "Marriott property code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "NYCMQ"
          },
          {
            "name": "pms-type-code",
            "in": "header",
            "description": "Marriott PMS type code",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Stay PMS",
                "OPERA Cloud"
              ]
            },
            "example": "Stay PMS"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJSUzUxMiIsImtpZCI6Im"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Reservation id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RES00001"
          },
          {
            "name": "pmsReservationId",
            "in": "query",
            "description": "xPMS unique reservation identifier.\nSPOG clients should pass the xPMS reservation ID (aka Confirmation ID) when available.\n",
            "schema": {
              "type": "string"
            },
            "example": "9Y8VC88CY"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResGuestMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "description": "Traveler's address information",
        "properties": {
          "addressLines": {
            "type": "array",
            "description": "Address lines",
            "items": {
              "type": "string"
            }
          },
          "city": {
            "type": "string",
            "description": "City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address).",
            "example": "New York City",
            "maxLength": 30,
            "minLength": 1
          },
          "county": {
            "type": "string",
            "description": "County Name",
            "example": "SomeCounty",
            "maxLength": 32,
            "minLength": 1
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "stateProv": {
            "$ref": "#/components/schemas/StateProv"
          },
          "postalCode": {
            "type": "string",
            "description": "Post Office Code number",
            "example": 20814,
            "maxLength": 16,
            "minLength": 1
          },
          "typeEnum": {
            "type": "string",
            "description": "Address type, PMS supported values.",
            "example": "HOME"
          },
          "locale": {
            "$ref": "#/components/schemas/Locale"
          },
          "companyName": {
            "type": "string",
            "description": "Company Name",
            "example": "ABCD Corp",
            "maxLength": 100,
            "minLength": 1
          },
          "unstructuredAddress": {
            "type": "array",
            "description": "List of unstructured address lines",
            "items": {
              "type": "string"
            }
          },
          "primaryInd": {
            "type": "boolean",
            "description": "Is this primary Address of Traveler",
            "example": true
          },
          "index": {
            "type": "string",
            "description": "Address index. Will identify the address inside the reservation all along the reservation life",
            "example": 1
          },
          "formattedInd": {
            "type": "boolean",
            "description": "Future use",
            "example": true
          }
        }
      },
      "AlertText": {
        "type": "object",
        "properties": {
          "text": {
            "type": "array",
            "description": "Actual text of alert texts",
            "items": {
              "type": "string"
            }
          },
          "locale": {
            "$ref": "#/components/schemas/Locale"
          }
        },
        "required": [
          "text"
        ]
      },
      "AllocatedRoom": {
        "type": "object",
        "properties": {
          "roomId": {
            "type": "string",
            "description": "Room id allocated to guests",
            "example": "A-123"
          },
          "roomNumber": {
            "type": "string",
            "description": "Room number allocated to guests. This value should be displayed to the user to show the room number. (Note: Not a Hotel Reservation MMF Field)",
            "example": "A123"
          },
          "timespan": {
            "$ref": "#/components/schemas/TimeSpan",
            "description": "Start & end date"
          },
          "roomStatus": {
            "type": "string",
            "description": "Housekeeping Status of the allocated room (Note: Not a Hotel Reservation MMF Field)",
            "example": "Vacant Clean"
          },
          "roomInvStatus": {
            "type": "string",
            "description": "Inventory Status of the allocated room (Note: Not a Hotel Reservation MMF Field)",
            "example": "Vacant"
          },
          "attributes": {
            "type": "array",
            "description": "Attribute details of the allocated room (Note: Not a Hotel Reservation MMF Field)",
            "items": {
              "$ref": "#/components/schemas/Attribute"
            }
          }
        }
      },
      "ArvDepInfo": {
        "type": "object",
        "properties": {
          "typeEnum": {
            "type": "string",
            "description": "Mentions the type of request (Arrival/Departure)",
            "enum": [
              "ARRIVAL",
              "DEPARTURE"
            ]
          },
          "earlyArrivalInd": {
            "type": "boolean",
            "description": "Early arrival indicator",
            "example": false
          },
          "lateArrivalInd": {
            "type": "boolean",
            "description": "Late arrival indicator",
            "example": false
          },
          "earlyDepartureInd": {
            "type": "boolean",
            "description": "Early departure indicator",
            "example": false
          },
          "lateDepartureInd": {
            "type": "boolean",
            "description": "Late departure indicator",
            "example": false
          },
          "id": {
            "type": "string",
            "description": "Provides the details based on id received from various entities",
            "example": "ADI001"
          },
          "time": {
            "type": "string",
            "description": "It mentions Arrival/Departure time, 24 Hours - HH:MM format",
            "example": "13:00"
          },
          "text": {
            "type": "string",
            "description": "Comments/info related to Arrival/departure",
            "example": "Shuttle to airport"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of Arrival/Departure to/from hotel"
          }
        },
        "required": [
          "id",
          "typeEnum"
        ]
      },
      "Attribute": {
        "type": "object",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/AttributeDetails"
          },
          "description": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "AttributeDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Attribute unique id",
            "example": "ATR001"
          },
          "code": {
            "type": "string",
            "description": "Attribute code",
            "example": "KNG"
          },
          "sourceEnum": {
            "type": "string",
            "description": "Attribute source",
            "enum": [
              "ACRS",
              "PMS"
            ]
          },
          "name": {
            "$ref": "#/components/schemas/Description",
            "description": "Multi-line description text for Attribute Name"
          }
        }
      },
      "CardNumberRef": {
        "type": "object",
        "properties": {
          "cardNumber": {
            "type": "string",
            "description": "Card number",
            "example": 9123456789011119,
            "maxLength": 50,
            "minLength": 1
          },
          "cardNumberTypeEnum": {
            "type": "string",
            "description": "Type of this card number",
            "enum": [
              "FREEDOM_PAY",
              "MASKED_CARD_NUMBER",
              "CARD_NUMBER",
              "CARD_PROXY"
            ]
          },
          "tokenType": {
            "type": "string",
            "description": "It is a value provided by the tokenizer to identify the type of tokenization",
            "example": 9123456789011119,
            "maxLength": 100,
            "minLength": 1
          }
        },
        "required": [
          "cardNumber"
        ]
      },
      "CashPayment": {
        "type": "object",
        "properties": {
          "formOfPaymentId": {
            "type": "string",
            "description": "ID for this document",
            "example": "FOP001"
          },
          "segmentIdRef": {
            "type": "string",
            "description": "ID of the segment the form of payment belongs to",
            "example": "SGT001"
          },
          "paymentTypeCodeInfo": {
            "$ref": "#/components/schemas/PaymentTypeCodeRef",
            "description": "Contains payment type code & sub type code",
            "example": {
              "paymentTypeEnum": "CASH"
            }
          },
          "description": {
            "$ref": "#/components/schemas/Description",
            "description": "Generic remarks about this payment type"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInformation",
            "description": "Describe the payer of this payment object"
          },
          "amount": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Currency code & amount details"
          },
          "defaultInd": {
            "type": "boolean",
            "description": "Default payment indicator",
            "example": false
          },
          "thirdPartyInd": {
            "type": "boolean",
            "description": "Third party payment indicator",
            "example": false
          },
          "linkedFolios": {
            "type": "array",
            "description": "Folios linked to the payment method",
            "items": {
              "$ref": "#/components/schemas/LinkedFolio"
            }
          }
        },
        "required": [
          "paymentTypeCodeInfo"
        ]
      },
      "Comment": {
        "type": "object",
        "description": "Comments/Notes information",
        "properties": {
          "text": {
            "type": "array",
            "description": "Actual text of comment texts",
            "items": {
              "type": "string"
            }
          },
          "locale": {
            "$ref": "#/components/schemas/Locale"
          },
          "commentType": {
            "type": "string",
            "description": "Comment type. PMS comment type values are passed through this field",
            "example": "SUPPLEMENTARY_INFO"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "string",
            "description": "Any company ID",
            "example": "C293838"
          },
          "companyName": {
            "type": "string",
            "description": "Full name of company",
            "example": "ABC company Ltd"
          },
          "addresses": {
            "type": "array",
            "description": "Address of this company",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "telephones": {
            "type": "array",
            "description": "List of company telephones",
            "items": {
              "$ref": "#/components/schemas/Telephone"
            }
          },
          "emails": {
            "type": "array",
            "description": "List of company emails",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "urls": {
            "type": "array",
            "description": "List of company urls",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "companyName"
        ]
      },
      "Country": {
        "type": "object",
        "description": "Country information",
        "properties": {
          "name": {
            "type": "string",
            "description": "Country name",
            "example": "US",
            "maxLength": 2,
            "minLength": 2
          },
          "value": {
            "type": "string",
            "description": "Country code",
            "example": "USA",
            "maxLength": 64,
            "minLength": 1
          }
        }
      },
      "CurrencyAmount": {
        "type": "object",
        "description": "Currency amount",
        "properties": {
          "currencyCode": {
            "type": "string",
            "description": "Currency code",
            "example": "USD"
          },
          "value": {
            "type": "integer",
            "format": "int64",
            "description": "Amount value",
            "example": 10000
          },
          "guestViewableInd": {
            "type": "boolean",
            "description": "Guest Viewable",
            "example": true
          },
          "numberOfDecimals": {
            "type": "integer",
            "format": "int32",
            "description": "Number of decimals for the currency",
            "example": 2
          }
        },
        "required": [
          "currencyCode",
          "numberOfDecimals",
          "value"
        ]
      },
      "DailyRate": {
        "type": "object",
        "properties": {
          "rateTimeUnit": {
            "type": "string",
            "description": "Default - Day (Daily Rate)",
            "example": "Day"
          },
          "amount": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "This is the Rate Amount, based on the number of guests in the reservation"
          },
          "chargeFrequencyEnum": {
            "type": "string",
            "description": "Charge frequency type OTA Codes",
            "enum": [
              "DAILY",
              "HOURLY",
              "HALF_DAY",
              "ADDITIONS_PER_STAY",
              "PER_OCCURRENCE",
              "PER_EVENT",
              "PER_PERSON",
              "FIRST_USE",
              "ONE_TIME_USE",
              "PER_MINUTE",
              "PER_FUNCTION",
              "PER_STAY",
              "COMPLIMENTARY",
              "OTHER",
              "MAXIMUM_CHARGE",
              "OVER_MINUTE_CHARGE",
              "WEEKLY",
              "PER_ROOM_PER_STAY",
              "PER_ROOM_PER_NIGHT",
              "PER_PERSON_PER_STAY",
              "PER_PERSON_PER_NIGHT",
              "MINIMUM_CHARGE",
              "PER_RENTAL",
              "PER_ITEM",
              "PER_ROOM",
              "PER_RESERVATION_BOOKING",
              "PER_GALLON",
              "PER_DOZEN",
              "PER_TRAY",
              "PER_ORDER",
              "PER_UNIT",
              "ONE_WAY",
              "ROUND_TRIP"
            ]
          },
          "rateOverrideInd": {
            "type": "boolean",
            "description": "Rate Override Indicator",
            "example": false
          },
          "rateOverrideReason": {
            "type": "string",
            "description": "Rate Override Reason",
            "example": "Discount"
          }
        }
      },
      "DailyTypeAmount": {
        "type": "object",
        "properties": {
          "amtTypeEnum": {
            "type": "string",
            "description": "Defines if amounts are average, checkin or highest rate",
            "enum": [
              "AVERAGE",
              "CHECKIN",
              "HIGHEST"
            ]
          },
          "rateAmount": {
            "$ref": "#/components/schemas/RateAmount",
            "description": "Amounts like base, after tax, before tax etc"
          }
        }
      },
      "DateTimeStamp": {
        "type": "object",
        "properties": {
          "create": {
            "type": "string",
            "format": "date-time",
            "description": "Creation Time stamp (UTC)",
            "example": "2023-01-19T16:07:37Z"
          },
          "createDateTimeHotelLocalTime": {
            "type": "string",
            "description": "Creation Time stamp expressed in hotel local time",
            "example": "2023-01-19T16:07:37"
          },
          "lastModify": {
            "type": "string",
            "format": "date-time",
            "description": "Last modified Time stamp (UTC)",
            "example": "2023-01-19T16:07:37Z"
          },
          "lastUpdateDateTimeHotelLocalTime": {
            "type": "string",
            "description": "Date and time of the last modification expressed in hotel local time",
            "example": "2023-01-19T16:07:37"
          },
          "purge": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the confirmation number has to be released (UTC)",
            "example": "2023-01-19T16:07:37Z"
          },
          "cancel": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time of cancellation (UTC)",
            "example": "2023-01-19T16:07:37Z"
          },
          "cancellationDateTimeHotelLocalTime": {
            "type": "string",
            "description": "Date and time of cancellation, expressed in hotel local time",
            "example": "2023-01-19T16:07:37"
          }
        }
      },
      "Description": {
        "type": "object",
        "description": "Description",
        "properties": {
          "locale": {
            "$ref": "#/components/schemas/Locale",
            "description": "Locale information\n"
          },
          "text": {
            "type": "array",
            "description": "Multi-line description text\n",
            "example": [
              "line 1"
            ],
            "items": {
              "type": "string"
            },
            "maxLength": 2000,
            "minLength": 1
          },
          "descriptionTypeEnum": {
            "type": "string",
            "description": "Description type\n",
            "enum": [
              "OVERVIEW",
              "ADDITIONAL_DETAILS",
              "TERMS_AND_CONDITIONS"
            ]
          }
        }
      },
      "Details": {
        "type": "object",
        "properties": {
          "names": {
            "type": "array",
            "description": "Rate Plan Names",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          },
          "rateAmountDisplayedInd": {
            "type": "boolean",
            "description": "Indicates whether or not the rate amounts must be displayed to the customer or not."
          },
          "loyaltyNumberRequiredInd": {
            "type": "boolean",
            "description": "Indicates whether a customer needs to provide a loyalty number in order to see availability and book this rate plan."
          },
          "freeNightInd": {
            "type": "boolean",
            "description": "Indicates whether a rate plan is part of a free night promotion."
          },
          "loyaltyPointsApplyInd": {
            "type": "boolean",
            "description": "Indicates if a customer can earn loyalty points by booking this rate"
          },
          "loyaltyAwardsInd": {
            "type": "boolean",
            "description": "Indicates if a customer can pay part or the entire stay with loyalty points."
          },
          "packageInd": {
            "type": "boolean",
            "description": "If set to 'Yes', then the rate plan is a package. Else it is not."
          },
          "idRequiredAtCheckInInd": {
            "type": "boolean",
            "description": "Indicates if a customer needs to present a valid ID at check-in in order to access this rate plan."
          },
          "idCheckInstructionText": {
            "type": "string",
            "description": "Instruction to hotel associate for ID Validation, Stay PMS field length is 600 characters"
          },
          "propertyMarketSegmentation": {
            "type": "string",
            "description": "Indicates the market segmentation for the rate plan. Its relevant only for the property-level rate plan."
          },
          "complimentaryInd": {
            "type": "boolean",
            "description": "Indicates whether the rate plan is to be used for Complimentary stays"
          },
          "groupRatePlanInd": {
            "type": "boolean",
            "description": "Indicates if the rate plan requested is a group rate plan or not"
          }
        }
      },
      "DirectBill": {
        "type": "object",
        "properties": {
          "formOfPaymentId": {
            "type": "string",
            "description": "ID for this document",
            "example": "FOP001"
          },
          "segmentIdRef": {
            "type": "string",
            "description": "ID of the segment the form of payment belongs to",
            "example": "SGT001"
          },
          "paymentTypeCodeInfo": {
            "$ref": "#/components/schemas/PaymentTypeCodeRef",
            "description": "Contains payment type code & sub type code",
            "example": {
              "paymentTypeEnum": "DIRECT_BILL"
            }
          },
          "description": {
            "$ref": "#/components/schemas/Description",
            "description": "Generic remarks about this payment type"
          },
          "privacy": {
            "$ref": "#/components/schemas/Privacy",
            "description": "Traveler's consent to share details"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInformation",
            "description": "Describe the payer of this payment object"
          },
          "directBillId": {
            "type": "string",
            "description": "Identifier for the organization to be billed directly for travel services",
            "example": "DBI0099"
          },
          "billingAccount": {
            "type": "string",
            "description": "The account assigned by the subscriber for billing reconciliation of a corporate",
            "example": "ACC5678"
          },
          "company": {
            "$ref": "#/components/schemas/Company",
            "description": "Company details"
          },
          "defaultInd": {
            "type": "boolean",
            "description": "Default payment indicator",
            "example": false
          },
          "thirdPartyInd": {
            "type": "boolean",
            "description": "Third party payment indicator",
            "example": false
          },
          "linkedFolios": {
            "type": "array",
            "description": "Folios linked to the payment method",
            "items": {
              "$ref": "#/components/schemas/LinkedFolio"
            }
          }
        },
        "required": [
          "directBillId",
          "formOfPaymentId",
          "paymentTypeCodeInfo"
        ]
      },
      "Email": {
        "type": "object",
        "description": "Email information",
        "properties": {
          "id": {
            "type": "string",
            "description": "Email Id, will identify the email inside the reservation all along the reservation life",
            "example": 1
          },
          "typeEnum": {
            "type": "string",
            "description": "Email type, PMS supported values.",
            "example": "PERSONAL"
          },
          "locale": {
            "$ref": "#/components/schemas/Locale"
          },
          "address": {
            "type": "string",
            "description": "The email address",
            "example": "john.doe@xyz.com",
            "maxLength": 254,
            "minLength": 1
          },
          "privacy": {
            "$ref": "#/components/schemas/Privacy"
          },
          "defaultInd": {
            "type": "boolean",
            "description": "If true, this identifies this is the default email address",
            "example": true
          }
        },
        "required": [
          "address"
        ]
      },
      "EstimatedCharges": {
        "type": "object",
        "properties": {
          "estimatedDueAtCheckOutAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Estimated total amount due at check-out, sum of postedChargesAndTaxes, futureChargesAndEstimatedTaxes and paymentsCollected"
          },
          "estimatedTotalAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Estimated total amount, sum of postedChargesAndTaxes and futureChargesAndEstimatedTaxes"
          },
          "paymentsCollectedAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total payments posted on the folios"
          },
          "postedChargesAndTaxesAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total charges and taxes posted on the folios"
          },
          "futureChargesAndEstimatedTaxesAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total charges and taxes expected to be posted on the folios "
          },
          "totalFoliosBalanceAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total balance amount on the folios"
          }
        }
      },
      "FormOfPayment": {
        "type": "object",
        "properties": {
          "cash": {
            "type": "array",
            "description": "Cash payments",
            "items": {
              "$ref": "#/components/schemas/CashPayment"
            }
          },
          "paymentCards": {
            "type": "array",
            "description": "Credit Cards",
            "items": {
              "$ref": "#/components/schemas/PaymentCard"
            }
          },
          "directBill": {
            "type": "array",
            "description": "Direct Bills",
            "items": {
              "$ref": "#/components/schemas/DirectBill"
            }
          },
          "voucher": {
            "type": "array",
            "description": "Vouchers",
            "items": {
              "$ref": "#/components/schemas/Voucher"
            }
          },
          "otherPaymentForms": {
            "type": "array",
            "description": "Anything other than above payment types",
            "items": {
              "$ref": "#/components/schemas/OtherPaymentForm"
            }
          }
        }
      },
      "GrossAmount": {
        "type": "object",
        "properties": {
          "rateAmount": {
            "$ref": "#/components/schemas/RateAmount",
            "description": "Total room charges amount after & before tax"
          },
          "totalTaxes": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total amount of all applicable taxes and fees on room charges"
          },
          "rateAmountsByMode": {
            "type": "array",
            "description": "Daily average, highest or check-in room rate for the stay",
            "items": {
              "$ref": "#/components/schemas/DailyTypeAmount"
            }
          },
          "additionalChargeAmt": {
            "$ref": "#/components/schemas/RateAmount",
            "description": "Total additional Charges, amount after & before tax"
          },
          "totalAdditionalChargeTaxes": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total amount of all applicable taxes and fees on Additional Charges"
          }
        }
      },
      "GuestCount": {
        "type": "object",
        "description": "Guest count information",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of guests",
            "example": 1,
            "maxLength": 3,
            "minLength": 1
          },
          "ageQualifyingCodeEnum": {
            "type": "string",
            "description": "Age qualifying code [To be deprecated, replaced with ageQualifyingCode]",
            "enum": [
              "OVER21",
              "OVER65",
              "UNDER2",
              "UNDER12",
              "UNDER17",
              "UNDER21",
              "INFANT",
              "CHILD",
              "TEENAGER",
              "ADULT",
              "SENIOR",
              "ADDITIONAL_OCCUPANT_WITH_ADULT",
              "ADDITIONAL_OCCUPANT_WITHOUT_ADULT",
              "FREE_CHILD",
              "FREE_ADULT",
              "YOUNG_DRIVER",
              "YOUNGER_DRIVER",
              "UNDER10",
              "JUNIOR"
            ]
          },
          "ageQualifyingCode": {
            "type": "string",
            "description": "Age qualifying code"
          }
        }
      },
      "HotelReservation": {
        "type": "object",
        "properties": {
          "confirmationNumber": {
            "$ref": "#/components/schemas/ProviderStateId",
            "description": "Primary reservation confirmation number"
          },
          "cancellationNumber": {
            "$ref": "#/components/schemas/ProviderStateId",
            "description": "Primary reservation cancellation number"
          },
          "confirmationIds": {
            "type": "array",
            "description": "Confirmation IDs from various systems",
            "items": {
              "$ref": "#/components/schemas/ProviderStateId"
            }
          },
          "cancellationIds": {
            "type": "array",
            "description": "Cancellation IDs from various systems",
            "items": {
              "$ref": "#/components/schemas/ProviderStateId"
            }
          },
          "links": {
            "type": "array",
            "description": "ACRS Link IDs for the Reservation",
            "items": {
              "$ref": "#/components/schemas/ProviderStateId"
            }
          },
          "groupContracts": {
            "type": "array",
            "description": "List of groupContracts linked to the reservation (Group Code and Name, currently in Scope",
            "items": {
              "$ref": "#/components/schemas/ResGroupContract"
            }
          },
          "installments": {
            "type": "array",
            "description": "Required deposit amount details",
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "timeSpan": {
            "$ref": "#/components/schemas/TimeSpan",
            "description": "Start and end dates of this reservation"
          },
          "alerts": {
            "type": "array",
            "description": "Alerts are PMS functionality which can be pre-configured.\nThey include screen and printer notification.\ne.g. VIP guest (Note: Not a Hotel Reservation MMF Field)\n",
            "items": {
              "$ref": "#/components/schemas/SpogAlert"
            }
          },
          "segments": {
            "type": "array",
            "description": "List of stay segments",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          },
          "products": {
            "type": "array",
            "description": "Product details. SPOG Reservation Detail Scope: inventoryTypeCode, inventoryTypeName, inventoryTypeDescriptions, attributes.",
            "items": {
              "$ref": "#/components/schemas/InventoryTypeDetails"
            }
          },
          "travelers": {
            "type": "array",
            "description": "Reservation guests",
            "items": {
              "$ref": "#/components/schemas/Traveler"
            }
          },
          "formOfPayment": {
            "$ref": "#/components/schemas/FormOfPayment",
            "description": "Information concerning form of payment"
          },
          "comments": {
            "type": "array",
            "description": "Reservation comments",
            "items": {
              "$ref": "#/components/schemas/ResComment"
            }
          },
          "dateTimeStamp": {
            "$ref": "#/components/schemas/DateTimeStamp",
            "description": "Contains date and time related information for all activities"
          },
          "ratePlans": {
            "type": "array",
            "description": "List of rate plans used in the reservation",
            "items": {
              "$ref": "#/components/schemas/ResRatePlanDetails"
            }
          },
          "totalReservation": {
            "type": "array",
            "description": "List of totals for the reservation per currency",
            "items": {
              "$ref": "#/components/schemas/GrossAmount"
            }
          },
          "reqIncidentalAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total required incidental amount required at check-in"
          },
          "totalEstimatedAuthAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Total estimated authorization amount required for the reservation"
          },
          "guestEstimatedCharges": {
            "$ref": "#/components/schemas/EstimatedCharges",
            "description": "Summary of guest estimated charges on the reservation"
          },
          "thirdPartyEstimatedCharges": {
            "$ref": "#/components/schemas/EstimatedCharges",
            "description": "Summary of third party estimated charges on the reservation"
          },
          "reservationStatusEnum": {
            "type": "string",
            "description": "PMS Reservation status.\n - STAY-PMS Details on Reservation Status:\n    - Reserved : Future Reservations (RES),\n    - Arriving : Future Reservation who checks in today (RES),\n    - Cancelled : Cancel Reservations (CXL),\n    - Departed : Checked out Reservations (DPT),\n    - Departing : Reservations checking out today (INH),\n    - NoShow : No show Reservations (NOS),\n    - InHouse : InHouse Reservations (INH),\n    - Moved : Moved to another property with in the tenant (CXL),\n    - Queue : Queued Reservations where Guest has completed pre-checkin but the room is not ready (RES),\n    - NoShowGuaranteed: No show Guaranteed Reservations (NOSG).\n\n- OC-PMS Reservation Status can be:\n    - Reserved\n    - InHouse\n    - CheckedOut\n    - NoShow\n    - Cancelled\n    - Waitlisted\n",
            "enum": [
              "Reserved",
              "Arriving",
              "Future",
              "Cancelled",
              "Departed",
              "Departing",
              "NoShow",
              "InHouse",
              "Moved",
              "Queue",
              "CheckedOut",
              "Waitlisted",
              "NoShowGuaranteed"
            ]
          },
          "typeEnum": {
            "type": "string",
            "description": "Type of the reservation, to identify if the reservation is a Group Master reservation or a individual reservation. An individual reservation can be a picked up reservation or a transient one",
            "enum": [
              "INDIVIDUAL",
              "GROUPMASTER"
            ]
          },
          "printRateInd": {
            "type": "boolean",
            "description": "Indicates whether rates are not confidential and can be printed",
            "example": true
          },
          "languagePreference": {
            "$ref": "#/components/schemas/Locale",
            "description": "Indicates the guest\u2019s preferred language in which to receive emails regarding the reservation"
          },
          "locale": {
            "$ref": "#/components/schemas/Locale",
            "description": "Language identification"
          },
          "loyaltyRedeemTransId": {
            "type": "string",
            "description": "Loyalty redemption transaction identifier.\nPMS will receive this information from ACRS for redemption stays\n",
            "example": 999999999
          },
          "preRegisteredInd": {
            "type": "boolean",
            "description": "Pre-registered indicator.\n",
            "example": false
          },
          "fraudCheckStatus": {
            "type": "string",
            "description": "Pre Arrival credit card Fraud Check Status.\n",
            "enum": [
              "NONE",
              "HIGH_RISK"
            ],
            "example": false
          },
          "memberAccount": {
            "$ref": "#/components/schemas/MemberAccount"
          },
          "booker": {
            "$ref": "#/components/schemas/Traveler",
            "description": "Reservation booker profile"
          },
          "linkedReservations": {
            "type": "array",
            "description": "Linked reservations.\n",
            "items": {
              "$ref": "#/components/schemas/LinkedReservation"
            }
          },
          "your24RequestStatus": {
            "type": "string",
            "description": "Reservation Your24 Request Status"
          },
          "nightlyUpgradeAwardRequestStatus": {
            "type": "string",
            "description": "Reservation Nightly Upgrade Award Request Status"
          },
          "housekeepingPattern": {
            "$ref": "#/components/schemas/HousekeepingPattern",
            "description": "Housekeeping Pattern Details"
          },
          "requestedAttributes": {
            "type": "array",
            "description": "Requested Room Attributes",
            "items": {
              "$ref": "#/components/schemas/Attribute"
            }
          },
          "queueInformation": {
            "$ref": "#/components/schemas/QueueInformation",
            "description": "Queue information\n"
          },
          "currentSegmentId": {
            "type": "string",
            "description": "Segment id of the current assigned room. Future reservations should return the first segment and checked-out reservations should return the last segment.\n",
            "example": "SGT001"
          },
          "currentAssignedRoomId": {
            "type": "string",
            "description": "When a room is assigned to the reservation, return Room Id of the current assigned room under the current segment.\n",
            "example": "A123"
          },
          "taxExemptInfo": {
            "$ref": "#/components/schemas/TaxExemptInfo",
            "description": "Tax exempt information for the reservation"
          }
        },
        "required": [
          "confirmationNumber",
          "dateTimeStamp",
          "formOfPayment",
          "products",
          "ratePlans",
          "reservationStatusEnum",
          "segments",
          "timeSpan",
          "totalReservation",
          "travelers",
          "typeEnum"
        ]
      },
      "HousekeepingPattern": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Housekeeping Pattern Id\n",
            "example": "6821b96a63a95c54897b2bb2"
          },
          "name": {
            "type": "string",
            "description": "Housekeeping Pattern Name\n",
            "example": "Custom Pattern - 54897b2bb2"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Indicators": {
        "type": "object",
        "properties": {
          "paidByPointsInd": {
            "type": "boolean",
            "description": "Indicates that the segment is paid by point",
            "example": false
          },
          "rateOverrideInd": {
            "type": "boolean",
            "description": "Flag to indicate the rate was overridden",
            "example": false
          }
        }
      },
      "Installment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the installment",
            "example": 1234567
          },
          "deadline": {
            "type": "integer",
            "format": "int32",
            "description": "Number of days prior to arrival for which the installment is due",
            "example": 45
          },
          "amount": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Due amount"
          }
        }
      },
      "InventoryTypeDescription": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "InventoryTypeDetails": {
        "type": "object",
        "description": "Product Details",
        "properties": {
          "inventoryTypeCode": {
            "type": "string",
            "description": "Unique identifier of the inventory type in the property",
            "example": "STDKG"
          },
          "inventoryTypeName": {
            "type": "array",
            "description": "Name of the inventoryType",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          },
          "inventoryTypeDescriptions": {
            "type": "array",
            "description": "Description for the Inventory Type",
            "items": {
              "$ref": "#/components/schemas/InventoryTypeDescription"
            }
          },
          "attributes": {
            "type": "array",
            "description": "Inventory type attribute details",
            "items": {
              "$ref": "#/components/schemas/Attribute"
            }
          }
        },
        "required": [
          "inventoryTypeCode",
          "inventoryTypeName"
        ]
      },
      "LinkedFolio": {
        "type": "object",
        "properties": {
          "folioId": {
            "type": "string",
            "description": "Unique identifier of the folio",
            "example": "6asdasd-basdh125"
          },
          "folioNumber": {
            "type": "string",
            "description": "PMS generated unique identifier of the folio",
            "example": "folio1"
          },
          "folioWindowId": {
            "type": "string",
            "description": "PMS generated unique identifier of the folio window",
            "example": "folioWindow1"
          }
        },
        "required": [
          "folioId",
          "folioNumber"
        ]
      },
      "LinkedReservation": {
        "type": "object",
        "description": "Linked reservations",
        "properties": {
          "confirmationNumber": {
            "$ref": "#/components/schemas/ProviderStateId",
            "description": "Primary CRS reservation confirmation number"
          },
          "confirmationIds": {
            "type": "array",
            "description": "Reservation Confirmation IDs from various systems",
            "items": {
              "$ref": "#/components/schemas/ProviderStateId"
            }
          },
          "timeSpan": {
            "$ref": "#/components/schemas/TimeSpan",
            "description": "Arrival and Departure dates of this reservation"
          },
          "roomNumber": {
            "type": "string",
            "description": "Room number allocated to guests.\nThis value should be displayed to the user to show the room number.\n",
            "example": "A123"
          },
          "reservationStatusEnum": {
            "type": "string",
            "description": "PMS Reservation status.\n - STAY-PMS Details on Reservation Status:\n    - Reserved : Future Reservations (RES),\n    - Arriving : Future Reservation who checks in today (RES),\n    - Cancelled : Cancel Reservations (CXL),\n    - Departed : Checked out Reservations (DPT),\n    - Departing : Reservations checking out today (INH),\n    - NoShow : No show Reservations (NOS),\n    - InHouse : InHouse Reservations (INH),\n    - Moved : Moved to another property with in the tenant (CXL),\n    - Queue : Queued Reservations where Guest has completed pre-checkin but the room is not ready (RES),\n    - NoShowGuaranteed: No show Guaranteed Reservations (NOSG).\n\n- OC-PMS Reservation Status can be:\n    - Reserved\n    - InHouse\n    - CheckedOut\n    - NoShow\n    - Cancelled\n    - Waitlisted\n",
            "enum": [
              "Reserved",
              "Arriving",
              "Future",
              "Cancelled",
              "Departed",
              "Departing",
              "NoShow",
              "InHouse",
              "Moved",
              "Queue",
              "CheckedOut",
              "Waitlisted",
              "NoShowGuaranteed"
            ]
          },
          "reservationLinkType": {
            "type": "string",
            "description": "Type of Reservation Links\n- ShareWith : Reservation linked due to Share.\n- TravelWith : Reservation linked for guests traveling together with more than one reservation.\n- ContinuousStay : Reservation linked for back to back stays.\n- Linked : Other type of reservation link, linking reason can be provided in reservationLinkReason.\n",
            "enum": [
              "ShareWith",
              "TravelWith",
              "ContinuousStay",
              "Linked"
            ],
            "example": "ShareWith"
          },
          "reservationLinkReason": {
            "type": "string",
            "description": "Reason for linking the reservations",
            "example": "Copied Reservation"
          },
          "primaryInd": {
            "type": "boolean",
            "description": "Primary reservation indicator, if supported by PMS.",
            "example": false
          }
        },
        "required": [
          "confirmationNumber",
          "reservationLinkType",
          "reservationStatusEnum"
        ]
      },
      "Locale": {
        "type": "object",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "Language code (ISO 639-1 Language Code)",
            "example": "en",
            "maxLength": 2,
            "minLength": 2
          },
          "countryCode": {
            "type": "string",
            "description": "Country code",
            "example": "US",
            "maxLength": 2,
            "minLength": 2
          }
        }
      },
      "LoyaltyProgram": {
        "type": "object",
        "description": "Loyalty program information",
        "properties": {
          "programCode": {
            "$ref": "#/components/schemas/ProgramCode",
            "description": " Loyalty membership program code"
          },
          "travelSectorEnum": {
            "type": "string",
            "description": "Loyalty program travel sector",
            "example": "Hotel"
          },
          "id": {
            "type": "string",
            "description": "Loyalty program number",
            "example": 123456789,
            "maxLength": 30,
            "minLength": 1
          },
          "loyaltyLevel": {
            "type": "string",
            "description": "Loyalty level of guest",
            "example": "Platinum",
            "maxLength": 20,
            "minLength": 1
          },
          "primaryInd": {
            "type": "boolean",
            "description": "When true, indicates this is the primary loyalty program and when absent or false, indicates this is not the primary loyalty program",
            "example": true
          },
          "enrollmentCode": {
            "type": "string",
            "description": "Loyalty membership enrollment code.\n- OCPMS: Required field for OCPMS while updating Loyalty membership details to a reservation.\n",
            "example": true
          }
        }
      },
      "MemberAccount": {
        "type": "object",
        "description": "Member Account information",
        "properties": {
          "altCustId": {
            "type": "string",
            "description": "Alternate Customer ID (ACID) assigned to the Member Account"
          },
          "memberId": {
            "type": "string",
            "description": "Member Account Id"
          },
          "memberTierDescription": {
            "type": "string",
            "description": "Member Account Tier Description"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "description": "Unique ID within in this Reservation for this Offer",
            "example": "OFR001"
          },
          "productUses": {
            "type": "array",
            "description": "List of products (w/o attributes) with associated dates that are part of the offer",
            "items": {
              "$ref": "#/components/schemas/ProductUse"
            }
          },
          "totalRate": {
            "$ref": "#/components/schemas/RateDetails",
            "description": "All details on a given total rate"
          },
          "totalAdditionalCharge": {
            "$ref": "#/components/schemas/RateDetails",
            "description": "All details on a given total additional charges"
          },
          "groupId": {
            "type": "string",
            "description": "Internal identifier of the Group Contract",
            "example": "GRP1"
          },
          "propertyMarketSegment": {
            "type": "string",
            "description": "Property market segment applicable for the reservation, e.g. wedding, sport group, company annual party etc",
            "example": "Wedding"
          }
        }
      },
      "OtherPaymentForm": {
        "type": "object",
        "properties": {
          "formOfPaymentId": {
            "type": "string",
            "description": "ID for this document",
            "example": "FOP001"
          },
          "segmentIdRef": {
            "type": "string",
            "description": "ID of the segment the form of payment belongs to",
            "example": "SGT001"
          },
          "paymentTypeCodeInfo": {
            "$ref": "#/components/schemas/PaymentTypeCodeRef",
            "description": "Contains payment type code & sub type code"
          },
          "description": {
            "$ref": "#/components/schemas/Description",
            "description": "Generic remarks about this payment type"
          },
          "privacy": {
            "$ref": "#/components/schemas/Privacy",
            "description": "Traveler's consent to share details"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInformation",
            "description": "Describe the payer of this payment object"
          },
          "guaranteeId": {
            "type": "string",
            "description": "Guarantee type code",
            "example": "GD1"
          },
          "comments": {
            "type": "array",
            "description": "Comments or Information regarding AliPay, ApplePay etc",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "defaultInd": {
            "type": "boolean",
            "description": "Default payment indicator",
            "example": false
          },
          "linkedFolios": {
            "type": "array",
            "description": "Folios linked to the payment method",
            "items": {
              "$ref": "#/components/schemas/LinkedFolio"
            }
          }
        },
        "required": [
          "formOfPaymentId",
          "paymentTypeCodeInfo"
        ]
      },
      "PayerInformation": {
        "type": "object",
        "properties": {
          "payerId": {
            "type": "string",
            "description": "Identifies a guest within the reservation which will be the payer of this payment object. This id cross reference a Traveler. It is only set when payerType is set to Guest",
            "example": "TVL001"
          },
          "payerTypeEnum": {
            "type": "string",
            "description": "Payer type"
          }
        }
      },
      "PaymentCard": {
        "type": "object",
        "properties": {
          "formOfPaymentId": {
            "type": "string",
            "description": "ID for this document",
            "example": "FOP001"
          },
          "segmentIdRef": {
            "type": "string",
            "description": "ID of the segment the form of payment belongs to",
            "example": "SGT001"
          },
          "paymentTypeCodeInfo": {
            "$ref": "#/components/schemas/PaymentTypeCodeRef",
            "description": "Contains payment type code & sub type code",
            "example": {
              "paymentTypeEnum": "CREDIT_CARD"
            }
          },
          "description": {
            "$ref": "#/components/schemas/Description",
            "description": "Generic remarks about this payment type"
          },
          "privacy": {
            "$ref": "#/components/schemas/Privacy",
            "description": "Traveler's consent to share details"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInformation",
            "description": "Describe the payer of this payment object"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Effective date of card",
            "example": 1126,
            "maxLength": 4,
            "minLength": 4
          },
          "expireDate": {
            "type": "string",
            "description": "Expiry date of card",
            "example": 1127,
            "maxLength": 4,
            "minLength": 4
          },
          "cardCode": {
            "type": "string",
            "description": "Card code association such as VI for Visa, MC for Mastercard or AX for American Express, etc.",
            "example": "MC"
          },
          "cardHolderName": {
            "type": "string",
            "description": "Card holder name",
            "example": "John Doe"
          },
          "cardNumberRef": {
            "type": "array",
            "description": "Generic type which can contain any type of card number (token, masked etc)",
            "items": {
              "$ref": "#/components/schemas/CardNumberRef"
            }
          },
          "cvv": {
            "type": "integer",
            "format": "int32",
            "description": "Card verification value. 3 or 4 digit number",
            "example": 123,
            "maxLength": 4,
            "minLength": 3
          },
          "creditCardCompany": {
            "type": "string",
            "description": "Company used in the 3DSecure process",
            "example": "abcd"
          },
          "issuanceCountry": {
            "type": "string",
            "description": "Issuance country of the card using the ISO 3166-1 standard code for countries, territories or areas",
            "example": "BR"
          },
          "cnpInd": {
            "type": "boolean",
            "description": "Card not present indicator. If it is set to true the card can not be present at check-in time. If it is set to false the card needs to be physically present at check-in time",
            "example": true
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "Billing Address of this card"
          },
          "cardAuthDetails": {
            "type": "array",
            "description": "Card authorizations linked to the payment card",
            "items": {
              "$ref": "#/components/schemas/PaymentCardAuthDetail"
            }
          },
          "defaultInd": {
            "type": "boolean",
            "description": "Default payment indicator",
            "example": false
          },
          "thirdPartyInd": {
            "type": "boolean",
            "description": "Third party payment indicator",
            "example": false
          },
          "linkedFolios": {
            "type": "array",
            "description": "Folios linked to the payment method",
            "items": {
              "$ref": "#/components/schemas/LinkedFolio"
            }
          },
          "cardTotalAuthAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Card Total Auth amount for the payment card"
          },
          "cardLastAuthTs": {
            "type": "string",
            "format": "date-time",
            "description": "Card last authorization time-stamp (UTC)"
          }
        },
        "required": [
          "cardCode"
        ]
      },
      "PaymentCardAuthDetail": {
        "type": "object",
        "properties": {
          "authTs": {
            "type": "string",
            "format": "date-time",
            "description": "Card authorization time-stamp (UTC)",
            "example": "2024-01-19T16:07:37Z"
          },
          "authAmt": {
            "$ref": "#/components/schemas/CurrencyAmount",
            "description": "Authorized amount for the payment card"
          },
          "authCode": {
            "type": "string",
            "description": "Card authorization code",
            "example": "091311"
          },
          "authType": {
            "type": "string",
            "description": "Card authorization type (Initial or Incremental)",
            "example": "Incremental"
          },
          "authStatus": {
            "type": "string",
            "description": "Card authorization status",
            "example": "Success"
          }
        }
      },
      "PaymentTypeCodeRef": {
        "type": "object",
        "properties": {
          "paymentTypeEnum": {
            "type": "string",
            "description": "Payment type code",
            "enum": [
              "CASH",
              "DIRECT_BILL",
              "VOUCHER",
              "PRE_PAY",
              "CREDIT_CARD",
              "DEBIT_CARD",
              "CHECK",
              "DEPOSIT",
              "BUSINESS_ACCOUNT",
              "CENTRAL_BILL",
              "COUPON",
              "BUSINESS_CHECK",
              "PERSONAL_CHECK",
              "MONEY_ORDER",
              "REDEMPTION",
              "BARTER",
              "MISCELLANEOUS_CHARGE_ORDER",
              "TRAVEL_AGENCY_NAME_ADDRESS",
              "TRAVEL_AGENCY_IATA_NUMBER",
              "CERTIFIED_CHECK",
              "CLUB_MEMBERSHIP_ID",
              "FREQUENT_GUEST_NUMBER",
              "FREQUENT_TRAVELER_NUMBER",
              "GUEST_NAME_ADDRESS",
              "SPECIAL_INDUSTRY_PROGRAM",
              "TOUR_ORDER",
              "TRAVELERS_CHECK",
              "WIRE_PAYMENT",
              "COMPANY_NAME_ADDRESS",
              "CORPORATE_ID_CD_NUMBER",
              "GUARANTEE",
              "OTHER_INFORMATION",
              "OVERRIDE_GUARANTEE_INFORMATION",
              "CORPORATE",
              "AIRLINE_PAYMENT_CARD",
              "AIR_TRAVEL_CARD",
              "MISCELLANEOUS",
              "NONE",
              "TICKET",
              "PAYMENT_MANAGER",
              "PAYMENT_SERVICE",
              "MOBILE_PAYMENT",
              "VIRTUAL_CARD",
              "GUARANTEE_TO_PROPERTY",
              "FLIGHT_NUMBER",
              "ONLINE_PAYMENT",
              "PAY_BY_POINTS",
              "PAY_BY_EFT",
              "PAYMENT_REFERENCE",
              "BANK_TRANSFER_GUARANTEE"
            ]
          },
          "paymentSubTypeCodeEnum": {
            "type": "string",
            "description": "Payment sub type code"
          }
        },
        "required": [
          "paymentTypeEnum"
        ]
      },
      "PersonName": {
        "type": "object",
        "properties": {
          "surname": {
            "type": "string",
            "description": "Family name, last name",
            "example": "Doe",
            "maxLength": 64,
            "minLength": 1
          },
          "given": {
            "type": "string",
            "description": "Given name, first name",
            "example": "John",
            "maxLength": 64,
            "minLength": 1
          },
          "middle": {
            "type": "string",
            "description": "Middle name",
            "example": "K",
            "maxLength": 56,
            "minLength": 1
          },
          "middleInitial": {
            "type": "string",
            "description": "Only for Middle Initial",
            "example": "K",
            "maxLength": 1,
            "minLength": 1
          },
          "incognitoInd": {
            "type": "boolean",
            "description": "This is used to mask VVIP guest names.\nIndicator saying that this guest has an incognito name\n",
            "example": false
          },
          "incognitoName": {
            "type": "string",
            "description": "Enables a guest to create a 'fictitious' name to use while in a property\n",
            "example": "Superman",
            "maxLength": 64,
            "minLength": 1
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Mr",
            "maxLength": 20,
            "minLength": 1
          },
          "prefix": {
            "type": "string",
            "description": "Name prefix",
            "example": "Sr",
            "maxLength": 20,
            "minLength": 1
          },
          "suffix": {
            "type": "string",
            "description": "Name suffix",
            "example": "Jr",
            "maxLength": 20,
            "minLength": 1
          },
          "locale": {
            "$ref": "#/components/schemas/Locale"
          }
        },
        "required": [
          "surname"
        ]
      },
      "Privacy": {
        "type": "object",
        "description": "Privacy information",
        "properties": {
          "optInStatusInd": {
            "type": "boolean",
            "description": "True - Guest has given consent False - Guest didn't give consent",
            "example": true
          },
          "optInDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date & Time of OptIn",
            "example": "2018-05-26T22:00:00"
          },
          "optOutDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date & Time of OptOut",
            "example": "2018-05-26T22:00:00"
          }
        },
        "required": [
          "optInStatusInd"
        ]
      },
      "ProductRate": {
        "type": "object",
        "properties": {
          "dailyRates": {
            "type": "array",
            "description": "Daily rates",
            "items": {
              "$ref": "#/components/schemas/RateChange"
            }
          },
          "totalRate": {
            "$ref": "#/components/schemas/RateDetails",
            "description": "All details on a given total rate"
          },
          "rateChangeInd": {
            "type": "boolean",
            "description": "Indicates that the base amount of the offer is changing over the stay",
            "example": true
          }
        }
      },
      "ProductUse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID, generated by the CRS, identifying a product use. Included services are also assigned IDs. This ID is required when modifying an existing requested product use and should not specified at creation time",
            "example": "PRU001"
          },
          "timespan": {
            "$ref": "#/components/schemas/TimeSpan",
            "description": "Time period"
          },
          "specialRequestIds": {
[...]
