{
  "openapi": "3.0.0",
  "info": {
    "title": "Brawl Stars API",
    "version": "1.0.0",
    "description": "Official Brawl Stars API for accessing game data including players, clubs, rankings, and brawler information.",
    "contact": {
      "url": "https://developer.brawlstars.com"
    },
    "termsOfService": "https://supercell.com/en/fan-content-policy/"
  },
  "servers": [
    {
      "url": "https://api.brawlstars.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/players/{playerTag}": {
      "get": {
        "summary": "Get player information",
        "description": "Get information about a single player by player tag",
        "operationId": "getPlayer",
        "parameters": [
          {
            "name": "playerTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the player (URL encode the # character)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "trophies": {
                      "type": "integer"
                    },
                    "highestTrophies": {
                      "type": "integer"
                    },
                    "expLevel": {
                      "type": "integer"
                    },
                    "expPoints": {
                      "type": "integer"
                    },
                    "club": {
                      "type": "object"
                    },
                    "brawlers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied - invalid API key"
          },
          "404": {
            "description": "Player not found"
          }
        },
        "tags": [
          "players"
        ]
      }
    },
    "/players/{playerTag}/battlelog": {
      "get": {
        "summary": "Get player battle log",
        "description": "Get list of recent battles for a player",
        "operationId": "getPlayerBattlelog",
        "parameters": [
          {
            "name": "playerTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the player"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "players"
        ]
      }
    },
    "/clubs/{clubTag}": {
      "get": {
        "summary": "Get club information",
        "description": "Get information about a single club by club tag",
        "operationId": "getClub",
        "parameters": [
          {
            "name": "clubTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the club"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "trophies": {
                      "type": "integer"
                    },
                    "requiredTrophies": {
                      "type": "integer"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "clubs"
        ]
      }
    },
    "/clubs/{clubTag}/members": {
      "get": {
        "summary": "Get club members",
        "description": "List club members",
        "operationId": "getClubMembers",
        "parameters": [
          {
            "name": "clubTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the club"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "clubs"
        ]
      }
    },
    "/rankings/{countryCode}/players": {
      "get": {
        "summary": "Get player rankings",
        "description": "Get player rankings for a specific location",
        "operationId": "getPlayerRankings",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Two letter country code, or 'global' for global rankings"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "rankings"
        ]
      }
    },
    "/rankings/{countryCode}/clubs": {
      "get": {
        "summary": "Get club rankings",
        "description": "Get club rankings for a specific location",
        "operationId": "getClubRankings",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Two letter country code, or 'global' for global rankings"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "rankings"
        ]
      }
    },
    "/rankings/{countryCode}/brawlers/{brawlerId}": {
      "get": {
        "summary": "Get brawler rankings",
        "description": "Get brawler rankings for a specific location and brawler",
        "operationId": "getBrawlerRankings",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Two letter country code, or 'global' for global rankings"
          },
          {
            "name": "brawlerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the brawler"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "rankings"
        ]
      }
    },
    "/brawlers": {
      "get": {
        "summary": "Get brawlers list",
        "description": "Get list of available brawlers",
        "operationId": "getBrawlers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "brawlers"
        ]
      }
    },
    "/brawlers/{brawlerId}": {
      "get": {
        "summary": "Get brawler information",
        "description": "Get information about a specific brawler",
        "operationId": "getBrawler",
        "parameters": [
          {
            "name": "brawlerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the brawler"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "brawlers"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from https://developer.brawlstars.com"
      }
    }
  },
  "tags": [
    {
      "name": "brawlers"
    },
    {
      "name": "clubs"
    },
    {
      "name": "players"
    },
    {
      "name": "rankings"
    }
  ]
}
