{
  "openapi": "3.0.3",
  "info": {
    "title": "WithPet Integrated API",
    "version": "1.0.0",
    "description": "\ud83d\udc3e **WithPet \uc11c\ube44\uc2a4 \ud1b5\ud569 API**\n\n\ucee4\ubba4\ub2c8\ud2f0, \uc778\uc99d, \uc9c0\uc5ed/\ub9e4\uc7a5 \uac80\uc0c9 \uae30\ub2a5\uc744 \ud1b5\ud569\ud55c \uba85\uc138\uc785\ub2c8\ub2e4.\n\ubaa8\ub4e0 \uc18d\uc131\uba85\uc740 **snake_case**\ub85c \ud1b5\uc77c\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pet_api/pet_API_final/1.0.0"
  },
  "servers": [
    {
      "description": "SwaggerHub API Auto Mocking",
      "url": "https://oz-withpet.kro.kr/"
    },
    {
      "url": "https://virtserver.swaggerhub.com/pet_api/pet_API/1.0.0"
    }
  ],
  "tags": [
    {
      "name": "Posts"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Likes"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Auth",
      "description": "\ud68c\uc6d0\uac00\uc785 \ubc0f \ub85c\uadf8\uc778 \uad00\ub828 API"
    },
    {
      "name": "Mypage",
      "description": "\ub9c8\uc774\ud398\uc774\uc9c0 API"
    },
    {
      "name": "Locations",
      "description": "\uc9c0\uc5ed \uc815\ubcf4 \uc870\ud68c"
    },
    {
      "name": "Categories",
      "description": "\uc11c\ube44\uc2a4 \uce74\ud14c\uace0\ub9ac \uc870\ud68c"
    },
    {
      "name": "Stores",
      "description": "\ub9e4\uc7a5 \uac80\uc0c9"
    },
    {
      "name": "Store Likes",
      "description": "\ub9e4\uc7a5 \uad00\uc2ec\uc7a5\uc18c \uad00\ub9ac"
    }
  ],
  "paths": {
    "/withpet/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Posts list (main or community)",
        "description": "- **view=main**: \uba54\uc778(\ubb34\ud55c\uc2a4\ud06c\ub864). `after` \ucee4\uc11c \uae30\ubc18, `limit` \uc0ac\uc6a9.\n- **view=community**: \ucee4\ubba4\ub2c8\ud2f0(\ud398\uc774\uc9c0\ub124\uc774\uc158). `page`/`page_size`, `category`, `sort`, `q`, `search_in` \uc0ac\uc6a9.\n- **\uc720\ud6a8\ud55c \uc870\ud569\ub9cc \ud5c8\uc6a9**\ud569\ub2c8\ub2e4. \uc608) `view=main`\uc5d0\uc11c `page`/`page_size`/`category`/`sort`/`q`/`search_in`\uc744 \ubcf4\ub0b4\uac70\ub098,\n  `view=community`\uc5d0\uc11c `after`/`limit`\uc744 \ubcf4\ub0b4\uba74 **400 Bad Request**\ub85c \uc751\ub2f5\ud569\ub2c8\ub2e4.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/View"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "$ref": "#/components/parameters/SearchIn"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "\ub9ac\uc18c\uc2a4 \ubc84\uc804 \ud0dc\uadf8(\uc635\uc158). If-None-Match\ub85c \uc870\uac74\ubd80 \uc694\uccad \uac00\ub2a5.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "\uce90\uc2f1 \uc9c0\uc2dc\uc790(\uc608: public, max-age=30)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PostsListMainResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PostsListCommunityResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create post (auth)",
        "description": "\ub2e8\uc77c \uc774\ubbf8\uc9c0(\uc120\ud0dd) \ucca8\ubd80 \uac00\ub2a5. JSON \ub610\ub294 multipart/form-data \ubaa8\ub450 \uc9c0\uc6d0.\n\uc751\ub2f5\uc5d0 \uc131\uacf5 \uc5ec\ubd80 \ubd88\ub9b0\uc744 \ud3ec\ud568\ud558\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostCreate"
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "\uc0c8 \uac8c\uc2dc\uae00\uc758 \uace0\uc815 URL",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post_id": {
                      "$ref": "#/components/schemas/Id64"
                    }
                  },
                  "required": [
                    "post_id"
                  ]
                },
                "example": {
                  "post_id": "MTAx"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/withpet/posts/{post_id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get single post (optional comment preview)",
        "description": "`include=comments`\ub85c \ub313\uae00 \ud504\ub9ac\ubdf0\ub97c \ud3ec\ud568\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4(\ucee4\uc11c \uae30\ubc18 `comments_after`, \uc81c\ud55c `comments_limit`).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/CommentsLimit"
          },
          {
            "$ref": "#/components/parameters/CommentsAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "\ub9ac\uc18c\uc2a4 \ubc84\uc804 \ud0dc\uadf8(\uc635\uc158). If-None-Match\ub85c \uc870\uac74\ubd80 \uc694\uccad \uac00\ub2a5.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "\uce90\uc2f1 \uc9c0\uc2dc\uc790(\uc608: public, max-age=60)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDetailResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "patch": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post (author only, partial)",
        "description": "\uc804\ub2ec\ub41c \ud544\ub4dc\ub9cc \uc218\uc815\ub429\ub2c8\ub2e4. **\ubaa8\ub4e0 \ud544\ub4dc nullable \ud5c8\uc6a9**(\ud0a4 \uc790\uccb4\ub3c4 \uc120\ud0dd).\n\uc751\ub2f5\uc5d0 \uc131\uacf5 \uc5ec\ubd80 \ubd88\ub9b0\uc744 \ud3ec\ud568\ud558\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostUpdate"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post_id": {
                      "$ref": "#/components/schemas/Id64"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "post_id",
                    "updated_at"
                  ]
                },
                "example": {
                  "post_id": "MTAx",
                  "updated_at": "2025-10-21T12:34:56Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "415": {
            "$ref": "#/components/responses/Error415"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete post (author only)",
        "description": "\uc18c\ud504\ud2b8 \uc0ad\uc81c\uc77c \uc218\ub3c4 \uc788\uc73c\uba70, \uc11c\ubc84 \uc815\ucc45\uc5d0 \ub530\ub985\ub2c8\ub2e4.\n\uc131\uacf5 \uc2dc \ubcf8\ubb38 \uc5c6\ub294 **204 No Content**\ub97c \ubc18\ud658\ud569\ub2c8\ub2e4.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/withpet/posts/{post_id}/comments": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create comment (auth)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000
                  }
                },
                "required": [
                  "content"
                ]
              },
              "example": {
                "content": "\uc88b\uc740 \uc815\ubcf4 \uac10\uc0ac\ud569\ub2c8\ub2e4! \uc8fc\ucc28\ub294 \uc5b4\ub514\uc5d0 \ud558\uba74 \uc88b\uc744\uae4c\uc694?"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment_id": {
                      "$ref": "#/components/schemas/Id64"
                    }
                  },
                  "required": [
                    "comment_id"
                  ]
                },
                "example": {
                  "comment_id": "NTUwMQ=="
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/withpet/comments/{comment_id}": {
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Update comment (author only)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentId64"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000
                  }
                },
                "required": [
                  "content"
                ]
              },
              "example": {
                "content": "\ubb38\uc7a5\uc744 \uc870\uae08 \ub2e4\ub4ec\uc5c8\uc2b5\ub2c8\ub2e4!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment_id": {
                      "$ref": "#/components/schemas/Id64"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "comment_id",
                    "updated_at"
                  ]
                },
                "example": {
                  "comment_id": "NTUwMQ==",
                  "updated_at": "2025-10-21T12:40:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete comment (author only)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentId64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/withpet/posts/{post_id}/like": {
      "get": {
        "tags": [
          "Likes"
        ],
        "summary": "Get like status",
        "description": "\ube44\ub85c\uadf8\uc778 \uc0ac\uc6a9\uc790\ub294 `is_liked: false`\ub85c \ubc18\ud658\ub429\ub2c8\ub2e4(\uc88b\uc544\uc694 \uc5ec\ubd80 \ud310\ub2e8 \ubd88\uac00 \uc2dc \uae30\ubcf8\uac12).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeStatus"
                },
                "example": {
                  "is_liked": false,
                  "like_count": 12
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "put": {
        "tags": [
          "Likes"
        ],
        "summary": "Like ON (idempotent)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeStatus"
                },
                "example": {
                  "is_liked": true,
                  "like_count": 13
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Likes"
        ],
        "summary": "Like OFF (idempotent)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeStatus"
                },
                "example": {
                  "is_liked": false,
                  "like_count": 12
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/withpet/posts/{post_id}/report": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Create report (auth)",
        "description": "\uc0ac\uc720\uac00 **'\uae30\ud0c0'**\uc778 \uacbd\uc6b0 `detail`\uc740 \ucd5c\uc18c 5\uc790 \uc774\uc0c1\uc774\uc5b4\uc57c \ud569\ub2c8\ub2e4.\n\ub3d9\uc77c \uc0ac\uc6a9\uc790\uc758 \uc911\ubcf5 \uc2e0\uace0\ub294 `409 Conflict`\uac00 \ubc1c\uc0dd\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostId64"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              },
              "examples": {
                "standard": {
                  "summary": "\uc0ac\uc720 \uc120\ud0dd(\uae30\ud0c0 \uc81c\uc678)",
                  "value": {
                    "reason": "\ubd88\ubc95 \uc815\ubcf4",
                    "detail": "\ud5c8\uc704 \ud310\ub9e4 \uae00 \uc2e0\uace0"
                  }
                },
                "other": {
                  "summary": "\uae30\ud0c0 \uc120\ud0dd(5\uc790 \uc774\uc0c1 \ud544\uc218)",
                  "value": {
                    "reason": "\uae30\ud0c0",
                    "detail": "\uc0ac\uc720 \uc124\uba85\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report_id": {
                      "$ref": "#/components/schemas/Id64"
                    }
                  },
                  "required": [
                    "report_id"
                  ]
                },
                "example": {
                  "report_id": "OTAwMQ=="
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "\ud68c\uc6d0\uac00\uc785",
        "description": "\uc774\uba54\uc77c\uacfc \ube44\ubc00\ubc88\ud638\ub85c \uc2e0\uaddc \uacc4\uc815\uc744 \uc0dd\uc131\ud569\ub2c8\ub2e4.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "\uc0ac\uc6a9\uc790 \uc774\uba54\uc77c"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "description": "\ube44\ubc00\ubc88\ud638 (\ucd5c\uc18c 8\uc790)"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 20,
                    "description": "\uc0ac\uc6a9\uc790 \uc774\ub984"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "\ud68c\uc6d0\uac00\uc785 \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "user_id": {
                      "type": "string",
                      "description": "\uc0dd\uc131\ub41c \uc0ac\uc6a9\uc790 ID"
                    },
                    "message": {
                      "type": "string",
                      "example": "\ud68c\uc6d0\uac00\uc785\uc774 \uc644\ub8cc\ub418\uc5c8\uc2b5\ub2c8\ub2e4."
                    }
                  },
                  "required": [
                    "success",
                    "user_id"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "409": {
            "description": "\uc774\uba54\uc77c \uc911\ubcf5",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_error_wrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "\ub85c\uadf8\uc778",
        "description": "\uc774\uba54\uc77c\uacfc \ube44\ubc00\ubc88\ud638\ub85c \ub85c\uadf8\uc778\ud558\uc5ec JWT \ud1a0\ud070\uc744 \ubc1c\uae09\ubc1b\uc2b5\ub2c8\ub2e4.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "\uc0ac\uc6a9\uc790 \uc774\uba54\uc77c"
                  },
                  "password": {
                    "type": "string",
                    "description": "\ube44\ubc00\ubc88\ud638"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\ub85c\uadf8\uc778 \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "access_token": {
                      "type": "string",
                      "description": "JWT \uc561\uc138\uc2a4 \ud1a0\ud070"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "JWT \ub9ac\ud504\ub808\uc2dc \ud1a0\ud070 (\uc120\ud0dd \uc0ac\ud56d)"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "\ud1a0\ud070 \ub9cc\ub8cc \uc2dc\uac04(\ucd08)",
                      "example": 3600
                    }
                  },
                  "required": [
                    "success",
                    "access_token",
                    "token_type"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "\ub85c\uadf8\uc778 \uc2e4\ud328",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_error_wrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "\ud1a0\ud070 \uac31\uc2e0",
        "description": "\ub9ac\ud504\ub808\uc2dc \ud1a0\ud070\uc73c\ub85c \uc0c8\ub85c\uc6b4 \uc561\uc138\uc2a4 \ud1a0\ud070\uc744 \ubc1c\uae09\ubc1b\uc2b5\ub2c8\ub2e4.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "\ub9ac\ud504\ub808\uc2dc \ud1a0\ud070"
                  }
                },
                "required": [
                  "refresh_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\ud1a0\ud070 \uac31\uc2e0 \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "access_token": {
                      "type": "string",
                      "description": "\uc0c8\ub85c\uc6b4 JWT \uc561\uc138\uc2a4 \ud1a0\ud070"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "\ud1a0\ud070 \ub9cc\ub8cc \uc2dc\uac04(\ucd08)"
                    }
                  },
                  "required": [
                    "success",
                    "access_token",
                    "token_type"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "\uc720\ud6a8\ud558\uc9c0 \uc54a\uc740 \ub9ac\ud504\ub808\uc2dc \ud1a0\ud070",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_error_wrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/profile": {
      "get": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ub0b4 \ud504\ub85c\ud544 \uc870\ud68c",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uc758 \ud504\ub85c\ud544 \uc815\ubcf4\ub97c \uac00\uc838\uc635\ub2c8\ub2e4.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\ud504\ub85c\ud544 \uc870\ud68c \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyProfileResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "email": "test@test.com",
                    "nickname": "nickname",
                    "username": "real_name",
                    "gender": "male",
                    "has_pet": false,
                    "created_at": "2025-11-06T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "patch": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ub0b4 \ud504\ub85c\ud544 \uc218\uc815",
        "description": "\ub2c9\ub124\uc784 \ubcc0\uacbd, \uc131\ubcc4, \ubc18\ub824\ub3d9\ubb3c \uc720\ubb34 \ub4f1\uc744 \uc120\ud0dd \uc218\uc815\ud569\ub2c8\ub2e4. \ub2c9\ub124\uc784 \ubcc0\uacbd \uc2dc \uc11c\ubc84\ub294 \uc911\ubcf5 \uccb4\ud06c\ub97c \ud655\uc778\ud569\ub2c8\ub2e4. (\ubd80\ubd84 \uc218\uc815 \ud5c8\uc6a9)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MyProfileUpdateRequest"
              },
              "example": {
                "nickname": "NewNickName",
                "gender": "female",
                "has_pet": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\ud504\ub85c\ud544 \uc218\uc815 \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_success_wrapper"
                },
                "example": {
                  "success": true,
                  "message": "\ud504\ub85c\ud544\uc774 \uc218\uc815\ub418\uc5c8\uc2b5\ub2c8\ub2e4."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "409": {
            "description": "\ub2c9\ub124\uc784 \uc911\ubcf5 or \uae30\uc874 \ub2c9\ub124\uc784\uacfc \uac19\uc74c \ub4f1 \ucda9\ub3cc",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_error_wrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/profile/check-nickname": {
      "get": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ub2c9\ub124\uc784 \uc911\ubcf5 \uac80\uc0ac",
        "description": "\ucffc\ub9ac\ub85c \uc804\ub2ec\ub41c \ub2c9\ub124\uc784\uc774 \uc0ac\uc6a9 \uac00\ub2a5\ud55c\uc9c0 \ud655\uc778\ud569\ub2c8\ub2e4.",
        "parameters": [
          {
            "name": "nickname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\uac80\uc0ac \uacb0\uacfc \ubc18\ud658",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "is_available": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "is_available"
                  ]
                },
                "example": {
                  "success": true,
                  "is_available": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/password": {
      "post": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ube44\ubc00\ubc88\ud638 \ubcc0\uacbd",
        "description": "\ud604\uc7ac \uc778\uc99d\ub41c \uc0ac\uc6a9\uc790\uc758 \ube44\ubc00\ubc88\ud638\ub97c \ubcc0\uacbd\ud569\ub2c8\ub2e4. (\ud074\ub77c\uc774\uc5b8\ud2b8\uc5d0\uc11c \uc0c8 \ube44\ubc00\ubc88\ud638\uc640 \uc7ac\uc785\ub825 \ud655\uc778)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeRequest"
              },
              "example": {
                "new_password": "newpassword",
                "new_password_confirm": "newpassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\ube44\ubc00\ubc88\ud638 \ubcc0\uacbd \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_success_wrapper"
                },
                "example": {
                  "success": true,
                  "message": "\ube44\ubc00\ubc88\ud638\uac00 \ubcc0\uacbd\ub418\uc5c8\uc2b5\ub2c8\ub2e4."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "\ube44\ubc00\ubc88\ud638 \ud655\uc778 \ubd88\uc77c\uce58",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Api_error_wrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/withdraw": {
      "post": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ud68c\uc6d0 \ud0c8\ud1f4",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uc758 \uacc4\uc815\uc744 \uc0ad\uc81c(\ub610\ub294 \ube44\ud65c\uc131\ud654)\ud569\ub2c8\ub2e4.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "\ud0c8\ud1f4 \uc694\uccad \uc2dc \ube44\ubc00\ubc88\ud638 \ud655\uc778\uc6a9(\uc120\ud0dd)"
                  }
                }
              },
              "example": {
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "\ud68c\uc6d0 \ud0c8\ud1f4 \uc131\uacf5"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/posts": {
      "get": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ub0b4\uac00 \uc791\uc131\ud55c \uac8c\uc2dc\uae00 \ubaa9\ub85d \uc870\ud68c",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uac00 \uc791\uc131\ud55c \uac8c\uc2dc\uae00 \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "\uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsListCommunityResponse"
                },
                "example": {
                  "posts": [
                    {
                      "id": "MTAx",
                      "title": "\ub0b4\uac00 \uc4f4 \uae00 \uc608\uc2dc",
                      "content_snippet": "\uac04\ub2e8\ud55c \uc694\uc57d(200\uc790)",
                      "category": "\uc790\uc720\uac8c\uc2dc\ud310",
                      "image_url": null,
                      "author": {
                        "user_id": "MTE=",
                        "nickname": "nickname"
                      },
                      "created_at": "2025-10-20T10:20:30Z",
                      "updated_at": "2025-10-20T12:00:00Z",
                      "view_count": 12,
                      "like_count": 3,
                      "comment_count": 0,
                      "is_liked_by_me": true
                    }
                  ],
                  "page": 1,
                  "page_size": 20,
                  "total": 4
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/likes/posts": {
      "get": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ub0b4\uac00 \uc88b\uc544\uc694\ud55c \uac8c\uc2dc\uae00 \ubaa9\ub85d \uc870\ud68c",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uac00 \uc88b\uc544\uc694\ud55c \uac8c\uc2dc\uae00\ub4e4\uc758 \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "\uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PostListItemCommunity"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "posts",
                    "page",
                    "page_size"
                  ]
                },
                "example": {
                  "posts": [
                    {
                      "id": "MTAx",
                      "title": "\uc88b\uc544\uc694\ud55c \uae00 \uc608\uc2dc",
                      "content_snippet": "\uc694\uc57d...",
                      "category": "\uc815\ubcf4\uacf5\uc720",
                      "image_url": null,
                      "author": {
                        "user_id": "MTE=",
                        "nickname": "\ucf54\ucf54\ub9d8"
                      },
                      "created_at": "2025-10-20T10:20:30Z",
                      "updated_at": "2025-10-20T12:00:00Z",
                      "view_count": 345,
                      "like_count": 12,
                      "comment_count": 5,
                      "is_liked_by_me": true
                    }
                  ],
                  "page": 1,
                  "page_size": 20,
                  "total": 15
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/mypage/reports": {
      "get": {
        "tags": [
          "Mypage"
        ],
        "summary": "\ub0b4\uac00 \uc2e0\uace0\ud55c \uac8c\uc2dc\uae00 \ubaa9\ub85d \uc870\ud68c",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uac00 \uc2e0\uace0\ud55c \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4. \uc2e0\uace0\ud55c \ub300\uc0c1 \uac8c\uc2dc\uae00 \uc815\ubcf4\uc640 \uc2e0\uace0 \uc0c1\ud0dc(\ucc98\ub9ac\uc911/\uc644\ub8cc \ub4f1)\ub97c \ud3ec\ud568\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "\uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reports": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MyReportPost"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "reports",
                    "page",
                    "page_size"
                  ]
                },
                "example": {
                  "reports": [
                    {
                      "report_id": "MTE=",
                      "post": {
                        "id": "MTE=",
                        "title": "\uc2e0\uace0\ub41c \uac8c\uc2dc\uae00 \uc81c\ubaa9",
                        "author": {
                          "user_id": "MTk=",
                          "nickname": "\uc2dc\uace0\ub41c \uac8c\uc2dc\uae00 \uc791\uc131\uc790"
                        }
                      },
                      "reason": "\uc2a4\ud338 \ubc0f \ud64d\ubcf4\uc131 \uac8c\uc2dc\ubb3c",
                      "detail": "\ub3d9\uc77c \ub9c1\ud06c \ubc18\ubcf5 \uc5c5\ub85c\ub4dc",
                      "status": "processing",
                      "created_at": "2025-11-01T10:00:00Z"
                    }
                  ],
                  "page": 1,
                  "page_size": 20,
                  "total": 2
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/map/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "\uc9c0\uc5ed \uc815\ubcf4 \uc870\ud68c",
        "description": "\uacc4\uce35\uc801 \uc9c0\uc5ed \uc815\ubcf4\ub97c \uc870\ud68c\ud569\ub2c8\ub2e4. (\ub3c4/\uc2dc/\uad6c/\ub3d9)",
        "parameters": [
          {
            "name": "province",
            "in": "query",
            "description": "\ub3c4/\uad11\uc5ed\uc2dc (\ubbf8\uc9c0\uc815 \uc2dc \uc804\uccb4 \uc870\ud68c)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "district",
            "in": "query",
            "description": "\uc2dc/\uad6c/\uad70 (province \ud544\uc218)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\uc9c0\uc5ed \uc815\ubcf4 \uc870\ud68c \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/map/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "\uc11c\ube44\uc2a4 \uce74\ud14c\uace0\ub9ac \uc870\ud68c",
        "description": "\ub9e4\uc7a5 \uac80\uc0c9\uc5d0 \uc0ac\uc6a9 \uac00\ub2a5\ud55c \uce74\ud14c\uace0\ub9ac \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
        "responses": {
          "200": {
            "description": "\uce74\ud14c\uace0\ub9ac \uc870\ud68c \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "1",
                      "name": "\ub3d9\ubb3c\ubcd1\uc6d0",
                      "code": "hospital",
                      "icon": "\ud83c\udfe5"
                    },
                    {
                      "id": "2",
                      "name": "\uc560\uacac\uce74\ud398",
                      "code": "cafe",
                      "icon": "\u2615"
                    },
                    {
                      "id": "3",
                      "name": "\uc560\uacac\ubbf8\uc6a9",
                      "code": "grooming",
                      "icon": "\u2702\ufe0f"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/map/stores": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "\ub9e4\uc7a5 \uac80\uc0c9 (\ubb34\ud55c \uc2a4\ud06c\ub864)",
        "description": "\uc9c0\uc5ed, \uce74\ud14c\uace0\ub9ac, \ud0a4\uc6cc\ub4dc\ub85c \ub9e4\uc7a5\uc744 \uac80\uc0c9\ud569\ub2c8\ub2e4.\n**\ubb34\ud55c \uc2a4\ud06c\ub864 \ubc29\uc2dd**\uc73c\ub85c \ub370\uc774\ud130\ub97c \ubc18\ud658\ud558\uba70, `cursor` \ud30c\ub77c\ubbf8\ud130\ub85c \ud398\uc774\uc9c0\ub124\uc774\uc158\ud569\ub2c8\ub2e4.",
        "parameters": [
          {
            "name": "province",
            "in": "query",
            "description": "\ub3c4/\uad11\uc5ed\uc2dc",
            "required": false,
            "schema": {
              "type": "string",
              "example": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc"
            }
          },
          {
            "name": "district",
            "in": "query",
            "description": "\uc2dc/\uad6c/\uad70",
            "required": false,
            "schema": {
              "type": "string",
              "example": "\uac15\ub0a8\uad6c"
            }
          },
          {
            "name": "neighborhood",
            "in": "query",
            "description": "\uc74d/\uba74/\ub3d9",
            "required": false,
            "schema": {
              "type": "string",
              "example": "\uc5ed\uc0bc\ub3d9"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "\uce74\ud14c\uace0\ub9ac \ucf54\ub4dc (\ucf64\ub9c8\ub85c \uad6c\ubd84, \uc608 hospital,cafe)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "hospital,cafe"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "\uac80\uc0c9 \ud0a4\uc6cc\ub4dc (\ub9e4\uc7a5\uba85, \ud0dc\uadf8 \ub4f1)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "24\uc2dc\uac04"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "\uc0ac\uc6a9\uc790 \uc704\ub3c4 (\uac70\ub9ac \uacc4\uc0b0\uc6a9)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float",
              "example": 37.5665
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "\uc0ac\uc6a9\uc790 \uacbd\ub3c4 (\uac70\ub9ac \uacc4\uc0b0\uc6a9)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float",
              "example": 126.978
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "\ud398\uc774\uc9c0\ub124\uc774\uc158 \ucee4\uc11c (\ub2e4\uc74c \ud398\uc774\uc9c0 \uc694\uccad \uc2dc \uc774\uc804 \uc751\ub2f5\uc758 next_cursor \uc0ac\uc6a9)",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "\ud55c \ubc88\uc5d0 \uac00\uc838\uc62c \ud56d\ubaa9 \uc218 (\uae30\ubcf8 20, \ucd5c\ub300 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\ub9e4\uc7a5 \uac80\uc0c9 \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Store"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Infinite_scroll_metadata"
                    },
                    "applied_filters": {
                      "$ref": "#/components/schemas/Applied_filters"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "metadata"
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1001,
                      "name": "\ud589\ubcf5\ub3d9\ubb3c\ubcd1\uc6d0",
                      "category": {
                        "id": "1",
                        "name": "\ub3d9\ubb3c\ubcd1\uc6d0"
                      },
                      "address": {
                        "province": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc",
                        "district": "\uac15\ub0a8\uad6c",
                        "neighborhood": "\uc5ed\uc0bc\ub3d9",
                        "detail": "123-45",
                        "full_address": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc \uac15\ub0a8\uad6c \uc5ed\uc0bc\ub3d9 123-45",
                        "postal_code": "06234"
                      },
                      "phone": "02-1234-5678",
                      "rating": 4.5,
                      "review_count": 128,
                      "tags": [
                        "24\uc2dc\uac04",
                        "\uc8fc\ucc28\uac00\ub2a5",
                        "\uc608\uc57d\ud544\uc218"
                      ],
                      "distance": 0.8,
                      "thumbnail_url": "https://cdn.withpet.com/stores/1001/thumb.jpg"
                    },
                    {
                      "id": 1002,
                      "name": "\ud3ab\ucf00\uc5b4 \ub3d9\ubb3c\uc758\ub8cc\uc13c\ud130",
                      "category": {
                        "id": "1",
                        "name": "\ub3d9\ubb3c\ubcd1\uc6d0"
                      },
                      "address": {
                        "province": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc",
                        "district": "\uac15\ub0a8\uad6c",
                        "neighborhood": "\uc0bc\uc131\ub3d9",
                        "detail": "567-89",
                        "full_address": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc \uac15\ub0a8\uad6c \uc0bc\uc131\ub3d9 567-89",
                        "postal_code": "06123"
                      },
                      "phone": "02-9876-5432",
                      "rating": 4.8,
                      "review_count": 256,
                      "tags": [
                        "\uc804\ubb38\uc758",
                        "\uc751\uae09\uc2e4"
                      ],
                      "distance": 1.2,
                      "thumbnail_url": "https://cdn.withpet.com/stores/1002/thumb.jpg"
                    }
                  ],
                  "metadata": {
                    "next_cursor": 20,
                    "has_more": true,
                    "total_count": 45
                  },
                  "applied_filters": {
                    "province": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc",
                    "district": "\uac15\ub0a8\uad6c",
                    "neighborhood": null,
                    "categories": [
                      "hospital"
                    ],
                    "keyword": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/map/stores/{store_id}/like": {
      "get": {
        "tags": [
          "Store Likes"
        ],
        "summary": "\ub9e4\uc7a5 \uad00\uc2ec \uc0c1\ud0dc \uc870\ud68c",
        "description": "\ud2b9\uc815 \ub9e4\uc7a5\uc758 \uad00\uc2ec\uc7a5\uc18c \uc0c1\ud0dc\ub97c \uc870\ud68c\ud569\ub2c8\ub2e4.\n\ube44\ub85c\uadf8\uc778 \uc0ac\uc6a9\uc790\ub294 `is_liked: false`\ub85c \ubc18\ud658\ub429\ub2c8\ub2e4.\n",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "\ub9e4\uc7a5 \uace0\uc720 ID",
            "schema": {
              "type": "integer"
            },
            "example": 1001
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Store_like_status"
                },
                "example": {
                  "is_liked": false,
                  "like_count": 342
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "put": {
        "tags": [
          "Store Likes"
        ],
        "summary": "\uad00\uc2ec\uc7a5\uc18c \ucd94\uac00 (idempotent)",
        "description": "\ud2b9\uc815 \ub9e4\uc7a5\uc744 \ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uc758 \uad00\uc2ec\uc7a5\uc18c\ub85c \ucd94\uac00\ud569\ub2c8\ub2e4.\n\uc774\ubbf8 \ucd94\uac00\ub41c \ub9e4\uc7a5\uc744 \ub2e4\uc2dc \ucd94\uac00\ud574\ub3c4 \uc624\ub958\uac00 \ubc1c\uc0dd\ud558\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4(\uba71\ub4f1\uc131).\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "\ub9e4\uc7a5 \uace0\uc720 ID",
            "schema": {
              "type": "integer"
            },
            "example": 1001
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Store_like_status"
                },
                "example": {
                  "is_liked": true,
                  "like_count": 343
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "Store Likes"
        ],
        "summary": "\uad00\uc2ec\uc7a5\uc18c \uc0ad\uc81c (idempotent)",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uc758 \uad00\uc2ec\uc7a5\uc18c \ubaa9\ub85d\uc5d0\uc11c \ud2b9\uc815 \ub9e4\uc7a5\uc744 \uc81c\uac70\ud569\ub2c8\ub2e4.\n\uc774\ubbf8 \uc81c\uac70\ub41c \ub9e4\uc7a5\uc744 \ub2e4\uc2dc \uc0ad\uc81c\ud574\ub3c4 \uc624\ub958\uac00 \ubc1c\uc0dd\ud558\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4(\uba71\ub4f1\uc131).\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "\ub9e4\uc7a5 \uace0\uc720 ID",
            "schema": {
              "type": "integer"
            },
            "example": 1001
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Store_like_status"
                },
                "example": {
                  "is_liked": false,
                  "like_count": 342
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/map/stores/liked": {
      "get": {
        "tags": [
          "Store Likes"
        ],
        "summary": "\ub0b4 \uad00\uc2ec\uc7a5\uc18c \ubaa9\ub85d \uc870\ud68c (\ubb34\ud55c \uc2a4\ud06c\ub864)",
        "description": "\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790\uac00 \uc800\uc7a5\ud55c \uad00\uc2ec\uc7a5\uc18c \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.\n`is_liked` \ud544\ud130\ub97c \ud1b5\ud574 \uad00\uc2ec\uc7a5\uc18c(1) \ub610\ub294 \uc77c\ubc18 \ub9e4\uc7a5(0)\uc744 \uc120\ud0dd\uc801\uc73c\ub85c \uc870\ud68c\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "is_liked",
            "in": "query",
            "description": "\uad00\uc2ec\uc7a5\uc18c \ud544\ud130\n- 0: \uad00\uc2ec\uc7a5\uc18c\uac00 \uc544\ub2cc \ub9e4\uc7a5\ub9cc\n- 1: \uad00\uc2ec\uc7a5\uc18c\ub85c \uc800\uc7a5\ub41c \ub9e4\uc7a5\ub9cc\n- \ubbf8\uc9c0\uc815: \uc804\uccb4 \ub9e4\uc7a5\n",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "example": 1
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "\ud398\uc774\uc9c0\ub124\uc774\uc158 \ucee4\uc11c (\ub2e4\uc74c \ud398\uc774\uc9c0 \uc694\uccad \uc2dc \uc774\uc804 \uc751\ub2f5\uc758 next_cursor \uc0ac\uc6a9)",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 20
          },
          {
            "name": "limit",
            "in": "query",
            "description": "\ud55c \ubc88\uc5d0 \uac00\uc838\uc62c \ud56d\ubaa9 \uc218 (\uae30\ubcf8 20, \ucd5c\ub300 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\uad00\uc2ec\uc7a5\uc18c \ubaa9\ub85d \uc870\ud68c \uc131\uacf5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Liked_store"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Infinite_scroll_metadata"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "metadata"
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "like_place_id": "MTIzNDU=",
                      "store": {
                        "id": 1001,
                        "name": "\ud589\ubcf5\ub3d9\ubb3c\ubcd1\uc6d0",
                        "category": {
                          "id": "1",
                          "name": "\ub3d9\ubb3c\ubcd1\uc6d0"
                        },
                        "address": {
                          "province": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc",
                          "district": "\uac15\ub0a8\uad6c",
                          "neighborhood": "\uc5ed\uc0bc\ub3d9",
                          "detail": "123-45",
                          "full_address": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc \uac15\ub0a8\uad6c \uc5ed\uc0bc\ub3d9 123-45",
                          "postal_code": "06234"
                        },
                        "phone": "02-1234-5678",
                        "rating": 4.5,
                        "review_count": 128,
                        "tags": [
                          "24\uc2dc\uac04",
                          "\uc8fc\ucc28\uac00\ub2a5"
                        ],
                        "distance": null,
                        "thumbnail_url": "https://cdn.withpet.com/stores/1001/thumb.jpg",
                        "like_count": 342
                      },
                      "created_at": "2025-11-05T10:30:00Z"
                    },
                    {
                      "like_place_id": "MTIzNDY=",
                      "store": {
                        "id": 1002,
                        "name": "\ud3ab\ucf00\uc5b4 \ub3d9\ubb3c\uc758\ub8cc\uc13c\ud130",
                        "category": {
                          "id": "1",
                          "name": "\ub3d9\ubb3c\ubcd1\uc6d0"
                        },
                        "address": {
                          "province": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc",
                          "district": "\uac15\ub0a8\uad6c",
                          "neighborhood": "\uc0bc\uc131\ub3d9",
                          "detail": "567-89",
                          "full_address": "\uc11c\uc6b8\ud2b9\ubcc4\uc2dc \uac15\ub0a8\uad6c \uc0bc\uc131\ub3d9 567-89",
                          "postal_code": "06123"
                        },
                        "phone": "02-9876-5432",
                        "rating": 4.8,
                        "review_count": 256,
                        "tags": [
                          "\uc804\ubb38\uc758",
                          "\uc751\uae09\uc2e4"
                        ],
                        "distance": null,
                        "thumbnail_url": "https://cdn.withpet.com/stores/1002/thumb.jpg",
                        "like_count": 521
                      },
                      "created_at": "2025-11-04T15:20:00Z"
                    }
                  ],
                  "metadata": {
                    "next_cursor": 20,
                    "has_more": true,
                    "total_count": 45
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT \ud1a0\ud070\uc744 \uc0ac\uc6a9\ud55c \uc778\uc99d."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "View": {
        "name": "view",
        "in": "query",
        "description": "\ubaa9\ub85d \ubdf0 \uc885\ub958 \uc120\ud0dd:\n- main: \uba54\uc778(\ubb34\ud55c\uc2a4\ud06c\ub864, after/limit)\n- community: \ucee4\ubba4\ub2c8\ud2f0(\ud398\uc774\uc9c0\ub124\uc774\uc158, page/page_size)\n",
        "schema": {
          "type": "string",
          "enum": [
            "main",
            "community"
          ],
          "default": "community"
        }
      },
      "After": {
        "name": "after",
        "in": "query",
        "description": "\ucee4\uc11c \uae30\ubc18 \ubb34\ud55c\uc2a4\ud06c\ub864 \ud1a0\ud070(\uba54\uc778 \uc804\uc6a9).\n\uc774\uc804 \uc751\ub2f5\uc758 next_after \uac12\uc744 \uadf8\ub300\ub85c \uc804\ub2ec\ud558\uc138\uc694. \uccab \ud398\uc774\uc9c0\ub294 \uc0dd\ub7b5.\n",
        "schema": {
          "type": "string",
          "example": "post_cursor_20251020T120000_101"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "\uba54\uc778(\ubb34\ud55c\uc2a4\ud06c\ub864)\uc5d0\uc11c \ud55c \ubc88\uc5d0 \uac00\uc838\uc62c \uac8c\uc2dc\uae00 \uc218.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 12
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "\ucee4\ubba4\ub2c8\ud2f0(\ud398\uc774\uc9c0\ub124\uc774\uc158)\uc5d0\uc11c\uc758 \ud398\uc774\uc9c0 \ubc88\ud638(1\ubd80\ud130 \uc2dc\uc791).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "description": "\ucee4\ubba4\ub2c8\ud2f0\uc5d0\uc11c \ud398\uc774\uc9c0 \ub2f9 \ud56d\ubaa9 \uc218.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "Category": {
        "name": "category",
        "in": "query",
        "description": "\ucee4\ubba4\ub2c8\ud2f0 \ubaa9\ub85d\uc5d0\uc11c \uce74\ud14c\uace0\ub9ac \ud544\ud130.",
        "schema": {
          "type": "string",
          "enum": [
            "\uc804\uccb4",
            "\uc790\uc720\uac8c\uc2dc\ud310",
            "\uc815\ubcf4\uacf5\uc720",
            "\uc9c8\ubb38\uac8c\uc2dc\ud310"
          ]
        }
      },
      "Sort": {
        "name": "sort",
        "in": "query",
        "description": "\uc815\ub82c \uae30\uc900 (latest=\ucd5c\uc2e0\uc21c, views=\uc870\ud68c\uc21c, likes=\ucd94\ucc9c\uc21c)",
        "schema": {
          "type": "string",
          "enum": [
            "latest",
            "views",
            "likes"
          ],
          "default": "latest",
          "x-enumNames": [
            "\ucd5c\uc2e0\uc21c",
            "\uc870\ud68c\uc21c",
            "\ucd94\ucc9c\uc21c"
          ],
          "x-enumDescriptions": [
            "\ucd5c\uc2e0 \uac8c\uc2dc\ubb3c\uc774 \uba3c\uc800 \ubcf4\uc774\ub3c4\ub85d \uc815\ub82c",
            "\uc870\ud68c\uc218\uac00 \ub192\uc740 \uc21c\uc11c\ub85c \uc815\ub82c",
            "\ucd94\ucc9c(\uc88b\uc544\uc694) \uc218\uac00 \ub9ce\uc740 \uc21c\uc11c\ub85c \uc815\ub82c"
          ]
        }
      },
      "Q": {
        "name": "q",
        "in": "query",
        "description": "\uac80\uc0c9\uc5b4. `search_in`\uc5d0 \ub530\ub77c \uc81c\ubaa9, \ub0b4\uc6a9 \ub610\ub294 \ub458 \ub2e4\uc5d0\uc11c \ubd80\ubd84 \uc77c\uce58\ub85c \uac80\uc0c9.\n",
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "SearchIn": {
        "name": "search_in",
        "in": "query",
        "description": "\uac80\uc0c9 \ub300\uc0c1 \ud544\ub4dc \uc120\ud0dd.",
        "schema": {
          "type": "string",
          "enum": [
            "title",
            "content",
            "title_content"
          ],
          "default": "title_content"
        }
      },
      "Include": {
        "name": "include",
        "in": "query",
        "description": "\uc0c1\uc138 \uc870\ud68c \uc2dc \ub313\uae00 \ud504\ub9ac\ubdf0 \ud3ec\ud568 \uc635\uc158.",
        "schema": {
          "type": "string",
          "enum": [
            "comments"
          ]
        }
      },
      "CommentsLimit": {
        "name": "comments_limit",
        "in": "query",
        "description": "\ub313\uae00 \ud504\ub9ac\ubdf0 \uac1c\uc218 \uc81c\ud55c.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "CommentsAfter": {
        "name": "comments_after",
        "in": "query",
        "description": "\ub313\uae00 \ud504\ub9ac\ubdf0 \ucee4\uc11c(\ub354\ubcf4\uae30\uc6a9).",
        "schema": {
          "type": "string",
          "example": "cmt_cursor_20251021_030600"
        }
      },
      "PostId64": {
        "name": "post_id",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Id64"
        },
        "description": "\uac8c\uc2dc\uae00 ID (base64 \uc778\ucf54\ub529\ub41c \ubb38\uc790\uc5f4)"
      },
      "CommentId64": {
        "name": "comment_id",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Id64"
        },
        "description": "\ub313\uae00 ID (base64 \uc778\ucf54\ub529\ub41c \ubb38\uc790\uc5f4)"
      }
    },
    "schemas": {
      "Id64": {
        "type": "string",
        "description": "base64\ub85c \uc778\ucf54\ub529\ub41c \uace0\uc720 ID",
        "pattern": "^[A-Za-z0-9+/=]+$",
        "example": "MTIzNDU2Nzg5MDEyMw=="
      },
      "Author": {
        "type": "object",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/Id64"
          },
          "nickname": {
            "type": "string"
          }
        },
        "required": [
          "user_id",
          "nickname"
        ],
        "example": {
          "user_id": "MTIzNDU2Nzg5MDEyMw==",
          "nickname": "\ub530\ub73b\ud55c \uc5f0\uadfc"
        }
      },
      "MyProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "user_id": {
                "$ref": "#/components/schemas/Id64"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "nickname": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "gender": {
                "type": "string",
                "description": "male / female",
                "nullable": true
              },
              "has_pet": {
                "type": "boolean"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "user_id",
              "email",
              "nickname"
            ]
          }
        },
        "example": {
          "success": true,
          "data": {
            "user_id": "MTIzNDU2",
            "email": "test@test.com",
            "nickname": "\ub2c9\ub124\uc784",
            "username": "\uc774\ub984",
            "gender": "male",
            "has_pet": false,
            "created_at": "2025-01-01T12:00:00Z"
          }
        }
      },
      "MyProfileUpdateRequest": {
        "type": "object",
        "description": "\ud504\ub85c\ud544 \uc218\uc815 \uc694\uccad (\ubc18\ub824\ub3d9\ubb3c \uc720\ubb34 nullable, \uc804\ub2ec\ub41c \uac12\ub9cc \uc218\uc815)",
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 2,
            "maxLength": 30,
            "nullable": false
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "nullable": false
          },
          "has_pet": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PasswordChangeRequest": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "minLength": 8
          },
          "new_password_confirm": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "new_password",
          "new_password_confirm"
        ]
      },
      "MyReportPost": {
        "type": "object",
        "properties": {
          "report_id": {
            "$ref": "#/components/schemas/Id64"
          },
          "post": {
            "$ref": "#/components/schemas/PostListItemCommunity"
          },
          "reason": {
            "type": "string"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "pending/processing/resolved/rejected \ub4f1"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "report_id",
          "post",
          "reason",
          "status",
          "created_at"
        ]
      },
      "PostListItemMain": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id64"
          },
          "title": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          }
        },
        "required": [
          "id",
          "title",
          "author"
        ],
        "example": {
          "id": "MTAx",
          "title": "\uc624\ub298 \uc0b0\ucc45\ud558\uae30 \uc88b\uc740 \ucf54\uc2a4",
          "image_url": "https://cdn.withpet.com/posts/p101.jpg",
          "author": {
            "user_id": "Nw==",
            "nickname": "\ucf54\ucf54\ub9d8"
          }
        }
      },
      "PostListItemCommunity": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id64"
          },
          "title": {
            "type": "string"
          },
          "content_snippet": {
            "type": "string",
            "maxLength": 200,
            "description": "\uac8c\uc2dc\uae00 \ub0b4\uc6a9\uc758 \uc694\uc57d(\ucc98\uc74c N\uc790, \uc608: 180~200\uc790). \uc11c\ubc84\uc5d0\uc11c \uae38\uc774 \uc81c\ud55c\uc5d0 \ub9de\ucdb0 \uc798\ub77c \ubc18\ud658."
          },
          "category": {
            "type": "string",
            "enum": [
              "\uc804\uccb4",
              "\uc790\uc720\uac8c\uc2dc\ud310",
              "\uc815\ubcf4\uacf5\uc720",
              "\uc9c8\ubb38\uac8c\uc2dc\ud310"
            ]
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "comment_count": {
            "type": "integer"
          },
          "is_liked_by_me": {
            "type": "boolean",
            "description": "\ud604\uc7ac \uc0ac\uc6a9\uc790 \uc2dc\uc810\uc758 \uc88b\uc544\uc694 \uc5ec\ubd80(\ube44\ub85c\uadf8\uc778 \ub610\ub294 \ubbf8\uc88b\uc544\uc694: false)"
          }
        },
        "required": [
          "id",
          "title",
          "category",
          "author",
          "created_at",
          "updated_at",
          "view_count",
          "like_count",
          "comment_count"
        ],
        "example": {
          "id": "MTAx",
          "title": "\ubc18\ub824\uacac\uacfc \ud568\uaed8\ud558\ub294 \uac00\uc744 \uc0b0\ucc45 \ucf54\uc2a4 \ucd94\ucc9c",
          "content_snippet": "\ub3c4\uc2ec\uc5d0\uc11c\ub3c4 \uac15\uc544\uc9c0\uc640 \ud568\uaed8 \uac77\uae30 \uc88b\uc740 \ucf54\uc2a4\ub97c \uc815\ub9ac\ud588\uc5b4\uc694\u2026",
          "category": "\uc815\ubcf4\uacf5\uc720",
          "image_url": "https://cdn.withpet.com/posts/p101.jpg",
          "author": {
            "user_id": "Nw==",
            "nickname": "\ucf54\ucf54\ub9d8"
          },
          "created_at": "2025-10-20T10:20:30Z",
          "updated_at": "2025-10-20T12:00:00Z",
          "view_count": 345,
          "like_count": 12,
          "comment_count": 5,
          "is_liked_by_me": false
        }
      },
      "PostDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PostListItemCommunity"
          },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "string",
                "description": "\uac8c\uc2dc\uae00 \uc804\uccb4 \ubcf8\ubb38"
              }
            }
          }
        ],
        "example": {
          "id": "MTAx",
          "title": "\ubc18\ub824\uacac\uacfc \ud568\uaed8\ud558\ub294 \uac00\uc744 \uc0b0\ucc45 \ucf54\uc2a4 \ucd94\ucc9c",
          "content": "\ub3c4\uc2ec \uc18d \uacf5\uc6d0\ubd80\ud130 \ud55c\uac15 \ubcc0\uae4c\uc9c0, \ubc18\ub824\uacac\uacfc \ud568\uaed8 \uac77\uae30 \uc88b\uc740 \ucf54\uc2a4\ub97c \uc0c1\uc138\ud788 \uc815\ub9ac\ud588\uc2b5\ub2c8\ub2e4. \uc900\ube44\ubb3c, \uc8fc\uc758\uc0ac\ud56d, \uadfc\ucc98 \uc560\uacac\uce74\ud398 \uc815\ubcf4\ub3c4 \ud3ec\ud568\ud588\uc5b4\uc694.",
          "category": "\uc815\ubcf4\uacf5\uc720",
          "image_url": "https://cdn.withpet.com/posts/p101.jpg",
          "author": {
            "user_id": "Nw==",
            "nickname": "\ucf54\ucf54\ub9d8"
          },
          "created_at": "2025-10-20T10:20:30Z",
          "updated_at": "2025-10-20T12:00:00Z",
          "view_count": 345,
          "like_count": 12,
          "comment_count": 5,
          "is_liked_by_me": true
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id64"
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "content": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "author",
          "content",
          "created_at",
          "updated_at",
          "is_deleted"
        ],
        "example": {
          "id": "NTUwMQ==",
          "author": {
            "user_id": "MTk=",
            "nickname": "\ub530\ub73b\ud55c \uc5f0\uadfc"
          },
          "content": "\uc88b\uc740 \uc815\ubcf4 \uac10\uc0ac\ud569\ub2c8\ub2e4! \uc8fc\ucc28\ub294 \uc5b4\ub514\uc5d0 \ud558\uba74 \uc88b\uc744\uae4c\uc694?",
          "created_at": "2025-10-21T02:00:00Z",
          "updated_at": "2025-10-21T02:10:00Z",
          "is_deleted": false
        }
      },
      "CommentsBlock": {
        "type": "object",
        "description": "\ub313\uae00 \ubaa9\ub85d(\ud504\ub9ac\ubdf0/\ud398\uc774\uc9c0\ub124\uc774\uc158) \ucee8\ud14c\uc774\ub108\uc785\ub2c8\ub2e4.\n\uc0ac\uc6a9\ucc98:\n- `GET /withpet/posts/{post_id}`\uc5d0\uc11c `include=comments`\uc77c \ub54c \ub313\uae00 \ud504\ub9ac\ubdf0\ub85c \ud3ec\ud568\ub429\ub2c8\ub2e4.\n- \uc774\ud6c4 \"\ub354\ubcf4\uae30\" UX\uc5d0\uc11c\ub294 \uc751\ub2f5\uc758 `next_after` \uac12\uc744 \uadf8\ub300\ub85c `comments_after`\ub85c \uc804\ub2ec\ud574 \ub2e4\uc74c \ubc30\uce58\ub97c \uc694\uccad\ud569\ub2c8\ub2e4.\n\n\ud544\ub4dc \uc758\ubbf8:\n- `items`: \uc774\ubc88 \ud638\ucd9c\ub85c \uc218\uc2e0\ud55c \ub313\uae00 \ubc30\uc5f4\uc785\ub2c8\ub2e4.\n- `total_count`: \ud574\ub2f9 \uac8c\uc2dc\uae00\uc758 \uc804\uccb4 \ub313\uae00 \uc218(\uc11c\ubc84 \uc815\ucc45\uc5d0 \ub530\ub77c \uc9c0\uc5f0 \ubc18\uc601\ub420 \uc218 \uc788\uc74c)\uc785\ub2c8\ub2e4.\n- `has_next`: \ub4a4\uc5d0 \ub354 \ubd88\ub7ec\uc62c \ub313\uae00\uc774 \uc788\uc73c\uba74 `true`\uc785\ub2c8\ub2e4.\n- `next_after`: \ub2e4\uc74c \ud638\ucd9c\uc744 \uc704\ud55c \ucee4\uc11c\uc785\ub2c8\ub2e4. \ub9c8\uc9c0\ub9c9 \ud398\uc774\uc9c0\uba74 `null`\uc785\ub2c8\ub2e4.",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 0,
            "description": "\uc774\ubc88 \ubc30\uce58\uc758 \ub313\uae00 \ubaa9\ub85d.",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "total_count": {
            "type": "integer",
            "minimum": 0,
            "description": "\uc774 \uac8c\uc2dc\uae00\uc758 \uc804\uccb4 \ub313\uae00 \uc218(\uc9c0\uc5f0 \ubc18\uc601 \uac00\ub2a5)."
          },
          "has_next": {
            "type": "boolean",
            "description": "\ub2e4\uc74c \ubc30\uce58\uac00 \uc788\uc73c\uba74 true."
          },
          "next_after": {
            "type": "string",
            "nullable": true,
            "description": "\ub2e4\uc74c \ud638\ucd9c\uc744 \uc704\ud55c \ucee4\uc11c. \ub2e4\uc74c \uc694\uccad\uc758 `comments_after`\ub85c \uadf8\ub300\ub85c \uc804\ub2ec."
          }
        },
        "example": {
          "items": [
            {
              "id": "NTUwMQ==",
              "author": {
                "user_id": "MTk=",
                "nickname": "\ub530\ub73b\ud55c \uc5f0\uadfc"
              },
              "content": "\uc88b\uc740 \uc815\ubcf4 \uac10\uc0ac\ud569\ub2c8\ub2e4! \uc8fc\ucc28\ub294 \uc5b4\ub514\uc5d0 \ud558\uba74 \uc88b\uc744\uae4c\uc694?",
              "created_at": "2025-10-21T02:00:00Z",
              "updated_at": "2025-10-21T02:10:00Z",
              "is_deleted": false
            },
            {
              "id": "NTUwMg==",
              "author": {
                "user_id": "MjM=",
                "nickname": "\ubaa8\ubaa8\uc544\ube60"
              },
              "content": "\ud55c\uac15 \uacf5\uc6d0 \ucabd \uacf5\uc601\uc8fc\ucc28\uc7a5 \ucd94\ucc9c\ub4dc\ub824\uc694.",
              "created_at": "2025-10-21T03:05:00Z",
              "updated_at": "2025-10-21T03:05:00Z",
              "is_deleted": false
            }
          ],
          "total_count": 42,
          "has_next": true,
          "next_after": "cmt_cursor_20251021_030600"
        }
      },
      "LikeStatus": {
        "type": "object",
        "properties": {
          "is_liked": {
            "type": "boolean",
            "description": "\ud604\uc7ac \uc0ac\uc6a9\uc790 \uc2dc\uc810\uc758 \uc88b\uc544\uc694 \uc5ec\ubd80(\ube44\ub85c\uadf8\uc778 \ub610\ub294 \ubbf8\uc88b\uc544\uc694: false)"
          },
          "like_count": {
            "type": "integer",
            "description": "\uac8c\uc2dc\uae00\uc758 \ucd1d \uc88b\uc544\uc694 \uc218"
          }
        },
        "required": [
          "is_liked",
          "like_count"
        ],
        "example": {
          "is_liked": true,
          "like_count": 13
        }
      },
      "ReportRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "reason": {
                "type": "string",
                "enum": [
                  "\ud610\uc624 \ubc0f \ucc28\ubcc4",
                  "\uc695\uc124 \ubc0f \ube44\ubc29",
                  "\ubd88\ubc95 \uc815\ubcf4",
                  "\uc2a4\ud338 \ubc0f \ud64d\ubcf4\uc131 \uac8c\uc2dc\ubb3c",
                  "\uac1c\uc778\uc815\ubcf4 \uce68\ud574",
                  "\uc800\uc791\uad8c/\uc9c0\uc801\uc7ac\uc0b0\uad8c \uce68\ud574",
                  "\uccad\uc18c\ub144 \uc720\ud574 \uc815\ubcf4"
                ]
              },
              "detail": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "reason"
            ]
          },
          {
            "type": "object",
            "properties": {
              "reason": {
                "type": "string",
                "enum": [
                  "\uae30\ud0c0"
                ]
              },
              "detail": {
                "type": "string",
                "minLength": 5
              }
            },
            "required": [
              "reason",
              "detail"
            ]
          }
        ],
        "example": {
          "reason": "\uc2a4\ud338 \ubc0f \ud64d\ubcf4\uc131 \uac8c\uc2dc\ubb3c",
          "detail": "\ub3d9\uc77c \ub9c1\ud06c \ubc18\ubcf5 \uc5c5\ub85c\ub4dc"
        }
      },
      "PostCreateJson": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000
          },
          "category": {
            "type": "string",
            "enum": [
              "\uc804\uccb4",
              "\uc790\uc720\uac8c\uc2dc\ud310",
              "\uc815\ubcf4\uacf5\uc720",
              "\uc9c8\ubb38\uac8c\uc2dc\ud310"
            ]
          }
        },
        "required": [
          "title",
          "content",
          "category"
        ],
        "example": {
          "title": "\ubc18\ub824\uacac \uc0b0\ucc45 \uba54\uc774\ud2b8 \uad6c\ud574\uc694",
          "content": "\uc8fc\ub9d0 \uc624\uc804\uc5d0 \ud568\uaed8 \uc0b0\ucc45\ud558\uc2e4 \ubd84 \uad6c\ud569\ub2c8\ub2e4. \ub9dd\uc6d0\ud55c\uac15\uacf5\uc6d0 \uadfc\ucc98\uc608\uc694.",
          "category": "\uc790\uc720\uac8c\uc2dc\ud310"
        }
      },
      "PostUpdateJson": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "nullable": true
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "nullable": true
          },
          "category": {
            "type": "string",
            "enum": [
              "\uc804\uccb4",
              "\uc790\uc720\uac8c\uc2dc\ud310",
              "\uc815\ubcf4\uacf5\uc720",
              "\uc9c8\ubb38\uac8c\uc2dc\ud310"
            ],
            "nullable": true
          },
          "image_delete": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "example": {
          "title": "\ubc18\ub824\uacac \uc0b0\ucc45 \uba54\uc774\ud2b8 \uad6c\ud574\uc694(\uc2dc\uac04 \ubcc0\uacbd)",
          "content": "\uc8fc\ub9d0 \uc624\ud6c4\ub85c \ubcc0\uacbd\ud569\ub2c8\ub2e4. \uc7a5\uc18c\ub294 \ub3d9\uc77c\ud574\uc694!",
          "category": "\uc790\uc720\uac8c\uc2dc\ud310",
          "image_delete": false
        }
      },
      "Post_update_json": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PostUpdateJson"
          }
        ]
      },
      "PostsListMainResponse": {
        "type": "object",
        "properties": {
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostListItemMain"
            }
          },
          "has_next": {
            "type": "boolean"
          },
          "next_after": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "posts",
          "has_next"
        ],
        "example": {
          "posts": [
            {
              "id": "MTAx",
              "title": "\uc624\ub298 \uc0b0\ucc45\ud558\uae30 \uc88b\uc740 \ucf54\uc2a4",
              "image_url": "https://cdn.withpet.com/posts/p101.jpg",
              "author": {
                "user_id": "Nw==",
                "nickname": "\ucf54\ucf54\ub9d8"
              }
            },
            {
              "id": "MTAy",
              "title": "\uaca8\uc6b8 \ub300\ube44 \uac15\uc544\uc9c0 \ud328\ub529 \ud6c4\uae30",
              "image_url": null,
              "author": {
                "user_id": "MTE=",
                "nickname": "\uce04\ub985\uc9d1\uc0ac"
              }
            }
          ],
          "has_next": true,
          "next_after": "post_cursor_20251020_120000"
        }
      },
      "PostsListCommunityResponse": {
        "type": "object",
        "properties": {
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostListItemCommunity"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "posts",
          "page",
          "page_size"
        ],
        "example": {
          "posts": [
            {
              "id": "MTAx",
              "title": "\ubc18\ub824\uacac\uacfc \ud568\uaed8\ud558\ub294 \uac00\uc744 \uc0b0\ucc45 \ucf54\uc2a4 \ucd94\ucc9c",
              "content_snippet": "\ub3c4\uc2ec\uc5d0\uc11c\ub3c4 \uac15\uc544\uc9c0\uc640 \ud568\uaed8 \uac77\uae30 \uc88b\uc740 \ucf54\uc2a4\ub97c \uc815\ub9ac\ud588\uc5b4\uc694\u2026",
              "category": "\uc815\ubcf4\uacf5\uc720",
              "image_url": "https://cdn.withpet.com/posts/p101.jpg",
              "author": {
                "user_id": "Nw==",
                "nickname": "\ucf54\ucf54\ub9d8"
              },
              "created_at": "2025-10-20T10:20:30Z",
              "updated_at": "2025-10-20T12:00:00Z",
              "view_count": 345,
              "like_count": 12,
              "comment_count": 5,
              "is_liked_by_me": false
            },
            {
              "id": "OTk=",
              "title": "\uac15\uc544\uc9c0 \ucd08\ubcf4 \uc785\uc591\uc790\ub97c \uc704\ud55c \uccb4\ud06c\ub9ac\uc2a4\ud2b8",
              "content_snippet": "\uc0ac\ub8cc/\ubc30\ubcc0/\uc0b0\ucc45 \uc900\ube44\ubb3c\ubd80\ud130 \uc608\ubc29\uc811\uc885\uae4c\uc9c0\u2026",
              "category": "\uc815\ubcf4\uacf5\uc720",
              "image_url": null,
              "author": {
                "user_id": "MTk=",
                "nickname": "\ub530\ub73b\ud55c \uc5f0\uadfc"
              },
              "created_at": "2025-10-18T09:00:00Z",
              "updated_at": "2025-10-18T09:00:00Z",
              "view_count": 712,
              "like_count": 40,
              "comment_count": 22,
              "is_liked_by_me": false
            }
          ],
          "page": 1,
          "page_size": 20,
          "total": 153
        }
      },
      "PostDetailResponse": {
        "type": "object",
        "properties": {
          "post": {
            "$ref": "#/components/schemas/PostDetail"
          },
          "comments": {
            "$ref": "#/components/schemas/CommentsBlock"
          }
        },
        "required": [
          "post"
        ],
        "example": {
          "post": {
            "id": "MTAx",
            "title": "\ubc18\ub824\uacac\uacfc \ud568\uaed8\ud558\ub294 \uac00\uc744 \uc0b0\ucc45 \ucf54\uc2a4 \ucd94\ucc9c",
            "content": "\ub3c4\uc2ec \uc18d \uacf5\uc6d0\ubd80\ud130 \ud55c\uac15 \ubcc0\uae4c\uc9c0, \ubc18\ub824\uacac\uacfc \ud568\uaed8 \uac77\uae30 \uc88b\uc740 \ucf54\uc2a4\ub97c \uc0c1\uc138\ud788 \uc815\ub9ac\ud588\uc2b5\ub2c8\ub2e4...",
            "category": "\uc815\ubcf4\uacf5\uc720",
            "image_url": "https://cdn.withpet.com/posts/p101.jpg",
            "author": {
              "user_id": "Nw==",
              "nickname": "\ucf54\ucf54\ub9d8"
            },
            "created_at": "2025-10-20T10:20:30Z",
            "updated_at": "2025-10-20T12:00:00Z",
            "view_count": 345,
            "like_count": 12,
            "comment_count": 5,
            "is_liked_by_me": true
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "\uc9c0\uc5ed ID"
          },
          "name": {
            "type": "string",
            "description": "\uc9c0\uc5ed\uba85"
          },
          "type": {
            "type": "string",
            "enum": [
              "province",
              "district",
              "neighborhood"
            ],
            "description": "\uc9c0\uc5ed \ud0c0\uc785"
          },
          "parent_id": {
            "type": "string",
            "nullable": true,
[...]
