{
  "openapi": "3.0.3",
  "info": {
    "title": "Bad Library API",
    "version": "1.0.0",
    "description": "\ud83d\udea8 **WARNING: This is an intentionally *badly designed* REST API for educational purposes.**\n\nStudents should:\n- Identify poor REST design patterns\n- Explain why each one violates best practices\n- Redesign it following REST conventions\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/elonuniversity/cs3123-bad-book-api/1.0.0"
  },
  "servers": [
    {
      "url": "http://libraryapi.com"
    }
  ],
  "paths": {
    "/apiHandler": {
      "put": {
        "summary": "Fetch all books (should NOT be PUT)",
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fetchBooks"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always 200 OK, even if failed",
            "content": {
              "application/json": {
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "bookid": "B001",
                      "booktitle": "Moby Dick"
                    },
                    {
                      "bookid": "B002",
                      "booktitle": "Dune"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Add a new book (should NOT be GET)",
        "parameters": [
          {
            "name": "addbook",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "yes"
            }
          },
          {
            "name": "booktitle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Foundation"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Isaac Asimov"
            }
          },
          {
            "name": "task",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "borrow"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Jane"
            }
          },
          {
            "name": "book",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "B001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "message": "Book successfully added!"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Delete or update or return a book (overloaded POST)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task": {
                    "type": "string",
                    "example": "deleteBook"
                  },
                  "operation": {
                    "type": "string",
                    "example": "returnBook"
                  },
                  "id": {
                    "type": "string",
                    "example": "B002"
                  },
                  "book": {
                    "type": "string",
                    "example": "B001"
                  },
                  "who": {
                    "type": "string",
                    "example": "Jane"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Everything is fine, trust us",
            "content": {
              "application/json": {
                "example": {
                  "deleted": "true"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Get books by author (should NOT be DELETE)",
        "parameters": [
          {
            "name": "findAuthor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Isaac Asimov"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns XML instead of JSON",
            "content": {
              "application/xml": {
                "example": "<books>\n  <book>\n    <id>B003</id>\n    <title>Foundation</title>\n  </book>\n</books>\n"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Something broke"
          }
        }
      }
    }
  }
}