{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenRouteService API",
    "version": "2.0.0",
    "description": "Open source routing, geocoding, isochrones, and matrix calculation API powered by OpenStreetMap data. Provides directions, travel time matrices, geocoding, and reachability analysis.",
    "x-jentic-source-url": "https://openrouteservice.org/dev/#/api-docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.openrouteservice.org"
    }
  ],
  "paths": {
    "/v2/directions/{profile}": {
      "get": {
        "operationId": "getDirections",
        "summary": "Get directions between points",
        "tags": [
          "Directions"
        ],
        "parameters": [
          {
            "name": "profile",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "driving-car",
                "driving-hgv",
                "cycling-regular",
                "cycling-road",
                "cycling-mountain",
                "cycling-electric",
                "foot-walking",
                "foot-hiking",
                "wheelchair"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start coordinate (lon,lat)"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End coordinate (lon,lat)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get directions between points"
      },
      "post": {
        "operationId": "getDirectionsPost",
        "summary": "Get directions (advanced)",
        "tags": [
          "Directions"
        ],
        "parameters": [
          {
            "name": "profile",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "driving-car",
                "driving-hgv",
                "cycling-regular",
                "cycling-road",
                "cycling-mountain",
                "cycling-electric",
                "foot-walking",
                "foot-hiking",
                "wheelchair"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get directions (advanced)"
      }
    },
    "/v2/isochrones/{profile}": {
      "post": {
        "operationId": "getIsochrones",
        "summary": "Calculate isochrones",
        "description": "Calculate areas reachable within given time/distance limits.",
        "tags": [
          "Isochrones"
        ],
        "parameters": [
          {
            "name": "profile",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "driving-car",
                "driving-hgv",
                "cycling-regular",
                "cycling-road",
                "cycling-mountain",
                "cycling-electric",
                "foot-walking",
                "foot-hiking",
                "wheelchair"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IsochronesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsochronesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/matrix/{profile}": {
      "post": {
        "operationId": "getMatrix",
        "summary": "Calculate time/distance matrix",
        "description": "Calculate travel time and distance between multiple locations.",
        "tags": [
          "Matrix"
        ],
        "parameters": [
          {
            "name": "profile",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "driving-car",
                "driving-hgv",
                "cycling-regular",
                "cycling-road",
                "cycling-mountain",
                "cycling-electric",
                "foot-walking",
                "foot-hiking",
                "wheelchair"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatrixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/search": {
      "get": {
        "operationId": "geocodeSearch",
        "summary": "Forward geocoding",
        "tags": [
          "Geocode"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address or place name"
          },
          {
            "name": "focus.point.lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "focus.point.lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.rect.min_lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.rect.min_lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.rect.max_lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.rect.max_lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "osm",
                "oa",
                "wof",
                "gn"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Forward geocoding"
      }
    },
    "/geocode/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding",
        "tags": [
          "Geocode"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "point.lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "point.lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Reverse geocoding"
      }
    },
    "/geocode/autocomplete": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Address autocomplete",
        "tags": [
          "Geocode"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "focus.point.lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "focus.point.lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "boundary.country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Address autocomplete"
      }
    },
    "/pois": {
      "post": {
        "operationId": "searchPois",
        "summary": "Search for points of interest",
        "tags": [
          "POIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search for points of interest"
      }
    },
    "/v2/elevation/line": {
      "post": {
        "operationId": "getElevationLine",
        "summary": "Get elevation for a line geometry",
        "tags": [
          "Elevation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ElevationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElevationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get elevation for a line geometry"
      }
    },
    "/v2/elevation/point": {
      "get": {
        "operationId": "getElevationPoint",
        "summary": "Get elevation for a point",
        "tags": [
          "Elevation"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Point coordinates (lon,lat)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElevationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get elevation for a point"
      }
    }
  },
  "components": {
    "schemas": {
      "DirectionsRequest": {
        "type": "object",
        "required": [
          "coordinates"
        ],
        "properties": {
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "minItems": 2,
              "maxItems": 2
            }
          },
          "preference": {
            "type": "string",
            "enum": [
              "fastest",
              "shortest",
              "recommended"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "m",
              "km",
              "mi"
            ]
          },
          "language": {
            "type": "string"
          },
          "geometry": {
            "type": "boolean",
            "default": true
          },
          "instructions": {
            "type": "boolean",
            "default": true
          },
          "elevation": {
            "type": "boolean",
            "default": false
          },
          "alternatives": {
            "type": "integer",
            "default": 0
          },
          "roundabout_exits": {
            "type": "boolean",
            "default": false
          },
          "attributes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "radiuses": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "bearings": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "DirectionsResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "bbox": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "distance": {
                          "type": "number"
                        },
                        "duration": {
                          "type": "number"
                        }
                      }
                    },
                    "segments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "way_points": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "geometry": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "bbox": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "IsochronesRequest": {
        "type": "object",
        "required": [
          "locations",
          "range"
        ],
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "range": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "range_type": {
            "type": "string",
            "enum": [
              "time",
              "distance"
            ]
          },
          "interval": {
            "type": "number"
          },
          "units": {
            "type": "string",
            "enum": [
              "m",
              "km",
              "mi"
            ]
          },
          "location_type": {
            "type": "string",
            "enum": [
              "start",
              "destination"
            ]
          },
          "attributes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IsochronesResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "bbox": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "MatrixRequest": {
        "type": "object",
        "required": [
          "locations"
        ],
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "distance",
                "duration"
              ]
            }
          },
          "units": {
            "type": "string",
            "enum": [
              "m",
              "km",
              "mi"
            ]
          },
          "resolve_locations": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "MatrixResponse": {
        "type": "object",
        "properties": {
          "durations": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number",
                "nullable": true
              }
            }
          },
          "distances": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number",
                "nullable": true
              }
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "geocoding": {
            "type": "object"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "geometry": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  }
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number"
                    },
                    "label": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "localadmin": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "neighbourhood": {
                      "type": "string"
                    },
                    "street": {
                      "type": "string"
                    },
                    "housenumber": {
                      "type": "string"
                    },
                    "postalcode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PoisRequest": {
        "type": "object",
        "required": [
          "request",
          "geometry"
        ],
        "properties": {
          "request": {
            "type": "string",
            "enum": [
              "pois",
              "stats"
            ]
          },
          "geometry": {
            "type": "object",
            "properties": {
              "bbox": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              },
              "geojson": {
                "type": "object"
              },
              "buffer": {
                "type": "number"
              }
            }
          },
          "filters": {
            "type": "object",
            "properties": {
              "category_group_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "category_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          },
          "limit": {
            "type": "integer",
            "default": 2000
          },
          "sortby": {
            "type": "string",
            "enum": [
              "distance",
              "category"
            ]
          }
        }
      },
      "PoisResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ElevationRequest": {
        "type": "object",
        "required": [
          "geometry"
        ],
        "properties": {
          "format_in": {
            "type": "string",
            "enum": [
              "geojson",
              "polyline",
              "encodedpolyline"
            ]
          },
          "format_out": {
            "type": "string",
            "enum": [
              "geojson",
              "polyline",
              "encodedpolyline"
            ]
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "ElevationResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Directions"
    },
    {
      "name": "Elevation"
    },
    {
      "name": "Geocode"
    },
    {
      "name": "Isochrones"
    },
    {
      "name": "Matrix"
    },
    {
      "name": "POIs"
    }
  ]
}
