{
  "openapi": "3.0.3",
  "info": {
    "title": "Ghost Inspector API",
    "version": "1.0.0",
    "description": "Ghost Inspector is an automated browser testing service. This API allows you to manage tests, suites, folders, organizations, and their results programmatically.",
    "x-jentic-source-url": "https://ghostinspector.com/docs/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ghostinspector.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Tests",
      "description": "Manage tests"
    },
    {
      "name": "Suites",
      "description": "Manage test suites"
    },
    {
      "name": "Suite Results",
      "description": "Suite execution results"
    },
    {
      "name": "Test Results",
      "description": "Test execution results"
    },
    {
      "name": "Folders",
      "description": "Organize suites into folders"
    },
    {
      "name": "Organizations",
      "description": "Organization and data source management"
    }
  ],
  "paths": {
    "/tests/": {
      "get": {
        "operationId": "listTests",
        "summary": "List all tests",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Test"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all tests"
      }
    },
    "/tests/{testId}/": {
      "get": {
        "operationId": "getTest",
        "summary": "Get a test",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Test"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a test"
      },
      "post": {
        "operationId": "updateTest",
        "summary": "Update a test",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Test"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a test"
      },
      "delete": {
        "operationId": "deleteTest",
        "summary": "Delete a test",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Test deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a test"
      }
    },
    "/tests/{testId}/duplicate/": {
      "post": {
        "operationId": "duplicateTest",
        "summary": "Duplicate a test",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Test"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Duplicate a test"
      }
    },
    "/tests/{testId}/execute/": {
      "get": {
        "operationId": "executeTest",
        "summary": "Execute a test",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          },
          {
            "name": "startUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Alternate start URL"
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Browser to use (chrome, firefox)"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Geo-location for execution"
          },
          {
            "name": "immediate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Return immediately without results"
          },
          {
            "name": "disableNotifications",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Disable notifications"
          },
          {
            "name": "disableVisuals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Disable screenshots and videos"
          },
          {
            "name": "screenshotCompareEnabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Enable screenshot comparison"
          },
          {
            "name": "viewport",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Screen size as WIDTHxHEIGHT"
          },
          {
            "name": "userAgent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Custom user agent"
          },
          {
            "name": "webhook",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Webhook URL for results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TestResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execute a test"
      }
    },
    "/tests/{testId}/execute-on-demand/": {
      "post": {
        "operationId": "executeOnDemandTest",
        "summary": "Execute an on-demand test",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnDemandTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TestResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execute an on-demand test"
      }
    },
    "/tests/{testId}/running/": {
      "get": {
        "operationId": "getTestRunning",
        "summary": "Get running test executions",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get running test executions"
      }
    },
    "/tests/{testId}/accept-screenshot/": {
      "post": {
        "operationId": "acceptTestScreenshot",
        "summary": "Accept current screenshot as baseline",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Test"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Accept current screenshot as baseline"
      }
    },
    "/tests/{testId}/results/": {
      "get": {
        "operationId": "listTestResults",
        "summary": "List test results",
        "tags": [
          "Test Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List test results"
      }
    },
    "/tests/{testId}/results/csv/": {
      "get": {
        "operationId": "listTestResultsCsv",
        "summary": "List test results in CSV format",
        "tags": [
          "Test Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List test results in CSV format"
      }
    },
    "/tests/{testId}/export/json/": {
      "get": {
        "operationId": "exportTestJson",
        "summary": "Download test in Ghost Inspector JSON format",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Test export JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Download test in Ghost Inspector JSON format"
      }
    },
    "/tests/{testId}/export/side/": {
      "get": {
        "operationId": "exportTestSide",
        "summary": "Download test in Selenium IDE .side format",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Selenium IDE file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Download test in Selenium IDE .side format"
      }
    },
    "/tests/{testId}/export/html/": {
      "get": {
        "operationId": "exportTestHtml",
        "summary": "Download test in Selenium IDE HTML format",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Test ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Selenium IDE HTML",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Download test in Selenium IDE HTML format"
      }
    },
    "/suites/": {
      "get": {
        "operationId": "listSuites",
        "summary": "List all suites",
        "tags": [
          "Suites"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Suite"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all suites"
      }
    },
    "/suites/{suiteId}/": {
      "get": {
        "operationId": "getSuite",
        "summary": "Get a suite",
        "tags": [
          "Suites"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Suite"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a suite"
      },
      "post": {
        "operationId": "updateSuite",
        "summary": "Update a suite",
        "tags": [
          "Suites"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuiteUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Suite"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a suite"
      }
    },
    "/suites/{suiteId}/tests/": {
      "get": {
        "operationId": "listSuiteTests",
        "summary": "List tests in a suite",
        "tags": [
          "Suites"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Test"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List tests in a suite"
      }
    },
    "/suites/{suiteId}/execute/": {
      "get": {
        "operationId": "executeSuite",
        "summary": "Execute all tests in a suite",
        "tags": [
          "Suites"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite ID"
          },
          {
            "name": "startUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Alternate start URL"
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Browser to use"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Geo-location"
          },
          {
            "name": "immediate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Return immediately"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Execute all tests in a suite"
      }
    },
    "/suites/{suiteId}/results/": {
      "get": {
        "operationId": "listSuiteResults",
        "summary": "List suite results",
        "tags": [
          "Suite Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite ID"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SuiteResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List suite results"
      }
    },
    "/suite-results/{suiteResultId}/": {
      "get": {
        "operationId": "getSuiteResult",
        "summary": "Get a suite result",
        "tags": [
          "Suite Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite result ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SuiteResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a suite result"
      }
    },
    "/suite-results/{suiteResultId}/cancel/": {
      "post": {
        "operationId": "cancelSuiteRun",
        "summary": "Cancel an active suite run",
        "tags": [
          "Suite Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite result ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SuiteResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel an active suite run"
      }
    },
    "/suite-results/{suiteResultId}/results/": {
      "get": {
        "operationId": "listSuiteResultTestResults",
        "summary": "List test results in suite result",
        "tags": [
          "Suite Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite result ID"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            },
            "description": "Number of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List test results in suite result"
      }
    },
    "/suite-results/{suiteResultId}/comment/": {
      "post": {
        "operationId": "addSuiteResultComment",
        "summary": "Add comment to suite result",
        "tags": [
          "Suite Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite result ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Comment message"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SuiteResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add comment to suite result"
      }
    },
    "/suite-results/{suiteResultId}/xunit/": {
      "get": {
        "operationId": "getSuiteResultXunit",
        "summary": "Get XUnit XML report for suite result",
        "tags": [
          "Suite Results"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suiteResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Suite result ID"
          }
        ],
        "responses": {
          "200": {
            "description": "XUnit XML report",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get XUnit XML report for suite result"
      }
    },
    "/folders/": {
      "get": {
        "operationId": "listFolders",
        "summary": "List all folders",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all folders"
      },
      "post": {
        "operationId": "createFolder",
        "summary": "Create a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "organization"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Folder"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a folder"
      }
    },
    "/folders/{folderId}/": {
      "get": {
        "operationId": "getFolder",
        "summary": "Get a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Folder"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a folder"
      },
      "post": {
        "operationId": "updateFolder",
        "summary": "Update a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Folder ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Folder"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a folder"
      }
    },
    "/folders/{folderId}/suites/": {
      "get": {
        "operationId": "listFolderSuites",
        "summary": "List suites in a folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Suite"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List suites in a folder"
      }
    },
    "/organizations/": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List organizations"
      }
    },
    "/organizations/{organizationId}/": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get an organization"
      }
    },
    "/organizations/{organizationId}/running/": {
      "get": {
        "operationId": "getOrganizationRunning",
        "summary": "Get running executions for organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get running executions for organization"
      }
    },
    "/organizations/{organizationId}/data-sources": {
      "get": {
        "operationId": "listDataSources",
        "summary": "List data sources for organization",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataSource"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List data sources for organization"
      },
      "post": {
        "operationId": "createDataSource",
        "summary": "Create a data source",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataSource"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a data source"
      }
    },
    "/organizations/{organizationId}/data-sources/{dataSourceId}": {
      "get": {
        "operationId": "getDataSource",
        "summary": "Get a data source",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data source ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataSource"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a data source"
      },
      "post": {
        "operationId": "updateDataSource",
        "summary": "Update a data source",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data source ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataSource"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a data source"
      },
      "delete": {
        "operationId": "deleteDataSource",
        "summary": "Delete a data source",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "name": "dataSourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data source ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a data source"
      }
    }
  },
  "components": {
    "schemas": {
      "Test": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "autoRetry": {
            "type": "boolean",
            "nullable": true
          },
          "browser": {
            "type": "string",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateExecutionFinished": {
            "type": "string",
            "format": "date-time"
          },
          "dateExecutionStarted": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "details": {
            "type": "string"
          },
          "disableVisuals": {
            "type": "boolean",
            "nullable": true
          },
          "failOnJavaScriptError": {
            "type": "boolean",
            "nullable": true
          },
          "maxWaitDelay": {
            "type": "integer",
            "nullable": true
          },
          "passing": {
            "type": "boolean",
            "nullable": true
          },
          "publicStatusEnabled": {
            "type": "boolean"
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "screenshotCompareEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "screenshotComparePassing": {
            "type": "boolean",
            "nullable": true
          },
          "screenshotCompareThreshold": {
            "type": "number"
          },
          "startUrl": {
            "type": "string"
          },
          "suite": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "organization": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "testFrequency": {
            "type": "integer"
          },
          "viewportSize": {
            "type": "object",
            "nullable": true,
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TestUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "startUrl": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "disableVisuals": {
            "type": "boolean"
          },
          "screenshotCompareEnabled": {
            "type": "boolean"
          }
        }
      },
      "OnDemandTestRequest": {
        "type": "object",
        "properties": {
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "startUrl": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "optional": {
            "type": "boolean"
          },
          "sequence": {
            "type": "integer"
          }
        }
      },
      "TestResult": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "autoRetry": {
            "type": "boolean"
          },
          "browser": {
            "type": "string"
          },
          "commentCount": {
            "type": "integer"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateExecutionFinished": {
            "type": "string",
            "format": "date-time"
          },
          "dateExecutionStarted": {
            "type": "string",
            "format": "date-time"
          },
          "executionTime": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "passing": {
            "type": "boolean",
            "nullable": true
          },
          "region": {
            "type": "string"
          },
          "startUrl": {
            "type": "string"
          },
          "endUrl": {
            "type": "string"
          },
          "screenshotComparePassing": {
            "type": "boolean",
            "nullable": true
          },
          "screenshotCompareDifference": {
            "type": "number",
            "nullable": true
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "test": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewportSize": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Suite": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "abortOnTestFailure": {
            "type": "boolean"
          },
          "autoRetry": {
            "type": "boolean"
          },
          "browser": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "disableVisuals": {
            "type": "boolean"
          },
          "folder": {
            "type": "string"
          },
          "maxConcurrentTests": {
            "type": "integer"
          },
          "organization": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "startUrl": {
            "type": "string"
          },
          "testCount": {
            "type": "integer"
          },
          "testFrequency": {
            "type": "integer"
          },
          "viewportSize": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SuiteUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "startUrl": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          }
        }
      },
      "SuiteResult": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "countFailing": {
            "type": "integer"
          },
          "countPassing": {
            "type": "integer"
          },
          "countScreenshotCompareFailing": {
            "type": "integer"
          },
          "countScreenshotComparePassing": {
            "type": "integer"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateExecutionFinished": {
            "type": "string",
            "format": "date-time"
          },
          "dateExecutionStarted": {
            "type": "string",
            "format": "date-time"
          },
          "executionTime": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "passing": {
            "type": "boolean",
            "nullable": true
          },
          "screenshotComparePassing": {
            "type": "boolean",
            "nullable": true
          },
          "suite": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "plan": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "testRuns": {
                "type": "integer"
              }
            }
          },
          "suiteCount": {
            "type": "integer"
          },
          "testCount": {
            "type": "integer"
          }
        }
      },
      "DataSource": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DataSourceCreate": {
        "type": "object",
        "required": [
          "name",
          "data"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "query",
        "description": "API key from your Ghost Inspector account"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
