{
  "openapi": "3.0.3",
  "info": {
    "title": "Jungle Scout API",
    "version": "1.0.0",
    "description": "Jungle Scout provides Amazon product research, keyword research, and sales analytics. The API follows JSON:API 1.0 format and provides access to Product Database, Keywords, Share of Voice, Sales Estimates, Product Tracker, Niche Scout, and more.",
    "x-jentic-source-url": "https://developer.junglescout.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://developer.junglescout.com/api"
    }
  ],
  "paths": {
    "/product_database_query": {
      "post": {
        "operationId": "queryProductDatabase",
        "summary": "Query the Product Database",
        "description": "Search Amazon products with various filters like categories, keywords, price range, sales, reviews, etc.",
        "tags": [
          "Product Database"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "product_database_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "product_database_result"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/keywords/keywords_by_keyword_query": {
      "post": {
        "operationId": "keywordsByKeyword",
        "summary": "Get keywords by keyword search",
        "description": "Find Amazon keywords based on seed keywords. Returns search volume, trend, PPC costs, and more.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "keywords_by_keyword_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "keyword"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/keywords/keywords_by_asin_query": {
      "post": {
        "operationId": "keywordsByAsin",
        "summary": "Get keywords by ASIN",
        "description": "Find keywords associated with one or more ASINs. Returns organic rank, search volume, and more.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "keywords_by_asin_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "keyword"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/share_of_voice": {
      "post": {
        "operationId": "getShareOfVoice",
        "summary": "Get Share of Voice for a keyword",
        "description": "Analyze which brands and products have the most visibility for a specific keyword on Amazon.",
        "tags": [
          "Share of Voice"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "share_of_voice_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "share_of_voice"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sales_estimates_query": {
      "post": {
        "operationId": "getSalesEstimates",
        "summary": "Get sales estimates",
        "description": "Get estimated monthly sales for one or more ASINs.",
        "tags": [
          "Sales Estimates"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "sales_estimates_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "sales_estimate"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical_search_volume": {
      "post": {
        "operationId": "getHistoricalSearchVolume",
        "summary": "Get historical search volume",
        "description": "Get historical search volume data for a set of keywords over time.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "historical_search_volume_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "historical_search_volume"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product_tracker_query": {
      "post": {
        "operationId": "queryProductTracker",
        "summary": "Query Product Tracker",
        "description": "Get tracked product data for ASINs that you are monitoring.",
        "tags": [
          "Product Tracker"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "product_tracker_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "product_tracker_result"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segments/{segment_id}/product_tracker_query": {
      "get": {
        "operationId": "getSegmentProducts",
        "summary": "Get products in a tracker segment",
        "description": "Get tracked products within a specific segment.",
        "tags": [
          "Product Tracker"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Segment ID"
          },
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "product_tracker_result"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segments": {
      "get": {
        "operationId": "listSegments",
        "summary": "List tracker segments",
        "description": "Get all product tracker segments.",
        "tags": [
          "Product Tracker"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "segment"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/niche_scout_query": {
      "post": {
        "operationId": "queryNicheScout",
        "summary": "Query Niche Scout",
        "description": "Discover Amazon niches with opportunity scores based on demand, competition, and listing quality.",
        "tags": [
          "Niche Scout"
        ],
        "parameters": [
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "niche_scout_query"
                        ]
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "niche_scout_result"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product_review_query/{asin}": {
      "get": {
        "operationId": "getProductReviews",
        "summary": "Get product reviews",
        "description": "Get reviews for a specific ASIN.",
        "tags": [
          "Product Reviews"
        ],
        "parameters": [
          {
            "name": "asin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amazon ASIN"
          },
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field. Prefix with - for descending"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "filter[rating]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by star rating"
          },
          {
            "name": "filter[is_vine]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter Vine reviews"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "product_review"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product_listing_query/{asin}": {
      "get": {
        "operationId": "getProductListing",
        "summary": "Get product listing details",
        "description": "Get detailed listing information for a specific ASIN including title, bullets, description, images.",
        "tags": [
          "Product Listing"
        ],
        "parameters": [
          {
            "name": "asin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amazon ASIN"
          },
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "product_listing"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rank_history_query/{asin}": {
      "get": {
        "operationId": "getRankHistory",
        "summary": "Get BSR rank history",
        "description": "Get historical Best Sellers Rank data for a specific ASIN.",
        "tags": [
          "Rank History"
        ],
        "parameters": [
          {
            "name": "asin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amazon ASIN"
          },
          {
            "name": "marketplace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "uk",
                "de",
                "in",
                "ca",
                "fr",
                "it",
                "es",
                "mx",
                "jp"
              ]
            },
            "description": "Amazon marketplace country code"
          },
          {
            "name": "filter[start_date]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date (YYYY-MM-DD)"
          },
          {
            "name": "filter[end_date]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "rank_history"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key in format KEY_NAME:API_KEY"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Keywords"
    },
    {
      "name": "Niche Scout"
    },
    {
      "name": "Product Database"
    },
    {
      "name": "Product Listing"
    },
    {
      "name": "Product Reviews"
    },
    {
      "name": "Product Tracker"
    },
    {
      "name": "Rank History"
    },
    {
      "name": "Sales Estimates"
    },
    {
      "name": "Share of Voice"
    }
  ]
}
