{
  "openapi": "3.0.3",
  "info": {
    "title": "Pollinations API",
    "version": "0.3.0",
    "description": "Pollinations.ai API gateway for AI image generation, text generation, and audio generation. Provides OpenAI-compatible chat completions, image generation, model discovery, and account management.",
    "x-jentic-source-url": "https://pollinations.ai/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://gen.pollinations.ai"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create chat completion",
        "description": "Generate text using OpenAI-compatible chat completions API. Supports streaming, vision (image input), and multiple models.",
        "tags": [
          "Text Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/text/{prompt}": {
      "get": {
        "operationId": "generateTextSimple",
        "summary": "Simple text generation",
        "description": "Generate text from a simple prompt string via GET request.",
        "tags": [
          "Text Generation"
        ],
        "parameters": [
          {
            "name": "prompt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The text prompt"
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Model to use"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/image/{prompt}": {
      "get": {
        "operationId": "generateImage",
        "summary": "Generate an image",
        "description": "Generate an image from a text prompt. Returns the generated image directly.",
        "tags": [
          "Image Generation"
        ],
        "parameters": [
          {
            "name": "prompt",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Text description of the image to generate"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "flux"
            },
            "description": "Image generation model"
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1024
            },
            "description": "Image width"
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1024
            },
            "description": "Image height"
          },
          {
            "name": "seed",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Random seed for reproducibility"
          },
          {
            "name": "nologo",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Remove watermark"
          },
          {
            "name": "enhance",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enhance prompt with AI"
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listTextModels",
        "summary": "List text models (OpenAI-compatible)",
        "description": "Get available text models. If an API key with model restrictions is provided, only allowed models are returned.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/image/models": {
      "get": {
        "operationId": "listImageModels",
        "summary": "List image generation models",
        "description": "Get available image generation models with pricing, capabilities, and metadata.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Image model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelInfo"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/text/models": {
      "get": {
        "operationId": "listTextModelsFull",
        "summary": "List text models with full metadata",
        "description": "Get text generation models with pricing, capabilities, and metadata.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Text model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelInfo"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/audio/models": {
      "get": {
        "operationId": "listAudioModels",
        "summary": "List audio models",
        "description": "Get available audio models with pricing, capabilities, and metadata.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Audio model list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelInfo"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get user profile",
        "description": "Get user profile info including name, email, GitHub username, tier, and timestamps. Requires account:profile permission.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get pollen balance",
        "description": "Get remaining pollen balance. Returns the key's budget if set, otherwise the user's total balance. Requires account:balance permission.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Get usage history",
        "description": "Get request history and spending data. Supports JSON and CSV formats. Requires account:usage permission.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Usage records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/usage/daily": {
      "get": {
        "operationId": "getDailyUsage",
        "summary": "Get daily aggregated usage",
        "description": "Get daily aggregated usage data for the last 90 days. Results are cached for 1 hour. Requires account:usage permission.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Daily usage records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyUsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permission denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/key": {
      "get": {
        "operationId": "getKeyInfo",
        "summary": "Get API key status",
        "description": "Get API key validity, type, expiry, permissions, and remaining budget. Validates keys without making expensive generation requests.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "API key info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID (e.g., openai, gemini, claude)"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "temperature": {
            "type": "number"
          },
          "max_tokens": {
            "type": "integer"
          },
          "top_p": {
            "type": "number"
          },
          "frequency_penalty": {
            "type": "number"
          },
          "presence_penalty": {
            "type": "number"
          },
          "seed": {
            "type": "integer"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "description": "Message content - string or array of content parts for vision",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ]
          }
        }
      },
      "ContentPart": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/Message"
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string"
                },
                "created": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ModelInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pricing": {
            "type": "object"
          },
          "capabilities": {
            "type": "object"
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "githubUsername": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "tier": {
            "type": "string",
            "enum": [
              "anonymous",
              "microbe",
              "spore",
              "seed",
              "flower",
              "nectar",
              "router"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "nextResetAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          }
        }
      },
      "UsageRecord": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "api_key": {
            "type": "string"
          },
          "api_key_type": {
            "type": "string"
          },
          "meter_source": {
            "type": "string"
          },
          "input_text_tokens": {
            "type": "number"
          },
          "input_cached_tokens": {
            "type": "number"
          },
          "input_audio_tokens": {
            "type": "number"
          },
          "input_image_tokens": {
            "type": "number"
          },
          "output_text_tokens": {
            "type": "number"
          },
          "output_reasoning_tokens": {
            "type": "number"
          },
          "output_audio_tokens": {
            "type": "number"
          },
          "output_image_tokens": {
            "type": "number"
          },
          "cost_usd": {
            "type": "number"
          },
          "response_time_ms": {
            "type": "number"
          }
        }
      },
      "DailyUsageResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "usage": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "model": {
                  "type": "string"
                },
                "meter_source": {
                  "type": "string"
                },
                "requests": {
                  "type": "number"
                },
                "cost_usd": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "KeyInfoResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": [
              "publishable",
              "secret"
            ]
          },
          "name": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "expiresIn": {
            "type": "number"
          },
          "permissions": {
            "type": "object",
            "properties": {
              "models": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "account": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "pollenBudget": {
            "type": "number"
          },
          "rateLimitEnabled": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ServerErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "timestamp": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "cause": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (sk_ or pk_) as Bearer token"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key as query parameter"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Image Generation"
    },
    {
      "name": "Models"
    },
    {
      "name": "Text Generation"
    }
  ]
}
